Repository godotengine/godot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/debugger, @godotengine/gdextension, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/usability, @godotengine/gui-nodes, @godotengine/2d-editor, @godotengine/3d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/dotnet, @godotengine/gdscript, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/2d-nodes, @godotengine/animation, @godotengine/tests

[Web] Fix serve.py utility on Windows
  platform/web/serve.py
Owners: @godotengine/web

Fix leakage of JNI object references
  modules/openxr/extensions/platform/openxr_android_extension.cpp
  modules/openxr/extensions/platform/openxr_android_extension.h
  platform/android/api/java_class_wrapper.h
  platform/android/api/jni_singleton.h
  platform/android/dir_access_jandroid.cpp
  platform/android/dir_access_jandroid.h
  platform/android/file_access_android.cpp
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
  platform/android/java_class_wrapper.cpp
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_wrapper.cpp
  platform/android/net_socket_android.cpp
  platform/android/net_socket_android.h
  platform/android/os_android.cpp
  platform/android/tts_android.cpp
  platform/android/tts_android.h
Owners: @godotengine/android

Add an editor setting to import resources while unfocused
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
Owners: @godotengine/documentation

Remove conditions in abstract_polygon_2d_editor
  editor/plugins/abstract_polygon_2d_editor.cpp
Owners: @godotengine/2d-editor

Add tooltip plugin for AudioStream
  editor/filesystem_dock.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/editor_resource_tooltip_plugins.cpp
  editor/plugins/editor_resource_tooltip_plugins.h
Owners: @godotengine/docks

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/debugger/                     @godotengine/debugger
/core/extension/                    @godotengine/gdextension
/core/input/                        @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/d3d12/                     @godotengine/rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/spirv-reflect/             @godotengine/rendering
/drivers/vulkan/                    @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/gui/                        @godotengine/usability @godotengine/gui-nodes
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/*3d_*.*             @godotengine/3d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/themes/                     @godotengine/usability @godotengine/gui-nodes
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks
/editor/*shader*.*                  @godotengine/shaders

# Main

/main/                              @godotengine/core

# Misc

/misc/                              @godotengine/buildsystem
/misc/extension_api_validation/     @godotengine/gdextension @godotengine/dotnet

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_rd/            @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/dotnet

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdextension/xr/            @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gdnavigation/              @godotengine/navigation
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/ios/                      @godotengine/ios
/platform/linuxbsd/                 @godotengine/linux-bsd
/platform/macos/                    @godotengine/macos
/platform/web/                      @godotengine/web
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/text_line.*        @godotengine/gui-nodes
/scene/resources/text_paragraph.*   @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders
/scene/theme/                       @godotengine/gui-nodes

# Servers

/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/display_server.*           @godotengine/_platforms
/servers/navigation_server*.*       @godotengine/navigation
/servers/physics*                   @godotengine/physics
/servers/rendering*                 @godotengine/rendering
/servers/text_server.*              @godotengine/gui-nodes
/servers/xr*                        @godotengine/xr

# Tests

/tests/                             @godotengine/tests

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
