Repository godotengine/godot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/debugger, @godotengine/gdextension, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/usability, @godotengine/gui-nodes, @godotengine/2d-editor, @godotengine/3d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/dotnet, @godotengine/gdscript, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/2d-nodes, @godotengine/animation, @godotengine/tests

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/debugger/                     @godotengine/debugger
/core/extension/                    @godotengine/gdextension
/core/input/                        @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/d3d12/                     @godotengine/rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/spirv-reflect/             @godotengine/rendering
/drivers/vulkan/                    @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/gui/                        @godotengine/usability @godotengine/gui-nodes
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/*3d_*.*             @godotengine/3d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/themes/                     @godotengine/usability @godotengine/gui-nodes
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks
/editor/*shader*.*                  @godotengine/shaders

# Main

/main/                              @godotengine/core

# Misc

/misc/                              @godotengine/buildsystem
/misc/extension_api_validation/     @godotengine/gdextension @godotengine/dotnet

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_rd/            @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/dotnet

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdextension/xr/            @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gdnavigation/              @godotengine/navigation
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/ios/                      @godotengine/ios
/platform/linuxbsd/                 @godotengine/linux-bsd
/platform/macos/                    @godotengine/macos
/platform/web/                      @godotengine/web
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/text_line.*        @godotengine/gui-nodes
/scene/resources/text_paragraph.*   @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders
/scene/theme/                       @godotengine/gui-nodes

# Servers

/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/display_server.*           @godotengine/_platforms
/servers/navigation_server*.*       @godotengine/navigation
/servers/physics*                   @godotengine/physics
/servers/rendering*                 @godotengine/rendering
/servers/text_server.*              @godotengine/gui-nodes
/servers/xr*                        @godotengine/xr

# Tests

/tests/                             @godotengine/tests

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Changed pre-commit entry exe from python3 to python.
  .pre-commit-config.yaml
Owners: @godotengine/buildsystem

234
  modules/game_help/logic/body_animator.h
  modules/game_help/logic/data_table_manager.cpp
  modules/game_help/register_types.cpp
  modules/game_help/unity/unity_link_server.cpp
  modules/game_help/unity/unity_link_server.h
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
Owners: @godotengine/animation

Fix FBX texture path resolving
  modules/fbx/fbx_document.cpp
Owners: @godotengine/import

Fix Window.hide() crash when force_native changed
  scene/main/window.cpp
Owners: @godotengine/core

Fix submenus erroneously closing on some occasions
  scene/gui/popup_menu.cpp
Owners: @godotengine/gui-nodes

Remove `Popup`'s unused "panel" style
  doc/classes/Popup.xml
  doc/classes/PopupMenu.xml
  doc/classes/PopupPanel.xml
  scene/gui/popup.cpp
  scene/gui/popup.h
Owners: @godotengine/documentation, @godotengine/gui-nodes

Fix documentation quote typo.
  doc/classes/LogManager.xml
Owners: @godotengine/documentation

Use `EditorExportPlugin::add_message` in C# export plugin
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
Owners: @godotengine/dotnet

Expose `EditorExportPlatform::add_message` in `ExportPlugin`
  doc/classes/EditorExportPlatform.xml
  doc/classes/EditorExportPlugin.xml
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
Owners: @godotengine/documentation

Pre-commit: Specify default python version, rely on shebang
  .pre-commit-config.yaml
  misc/scripts/dotnet_format.py
Owners: @godotengine/buildsystem

Prevent crash when dropping Resource that can't load
  editor/plugins/script_text_editor.cpp
Owners: @godotengine/script-editor

Added get_date_dict_from_date_string to Time
  core/os/time.cpp
Owners: @godotengine/core

Added method binding
  core/os/time.cpp
Owners: @godotengine/core

Fix going forward backward in editor selection history.
  editor/editor_node.cpp
  editor/multi_node_edit.cpp
  editor/multi_node_edit.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Owners: @godotengine/docks

Improve UX when saving newer files on disk
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
Owners: @godotengine/script-editor

Clear RIDs of weight buffers when freeing to avoid double free
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.cpp
Owners: @godotengine/rendering

Remove mod where possible
  core/math/geometry_2d.h
  core/math/geometry_3d.cpp
  core/math/quick_hull.cpp
  core/object/worker_thread_pool.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/gizmos/collision_polygon_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/light_3d_gizmo_plugin.cpp
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  modules/csg/csg_shape.cpp
  modules/navigation/nav_map.cpp
  scene/2d/line_builder.cpp
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/polygon_2d.cpp
  scene/resources/2d/convex_polygon_shape_2d.cpp
  scene/resources/navigation_polygon.cpp
  scene/resources/style_box_flat.cpp
  servers/audio/effects/audio_effect_hard_limiter.cpp
  servers/audio/effects/audio_effect_spectrum_analyzer.cpp
  servers/physics_2d/godot_shape_2d.cpp
  servers/physics_3d/godot_collision_solver_3d_sat.cpp
  servers/physics_3d/godot_shape_3d.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_graph.cpp
Owners: @godotengine/core, @godotengine/rendering, @godotengine/2d-editor, @godotengine/3d-editor, @godotengine/3d-nodes, @godotengine/2d-nodes, @godotengine/audio, @godotengine/physics

Rename Q&A to Forum in the Help top bar
  editor/editor_node.cpp
  editor/editor_node.h
Owners: none

C#: Fix ExprMatch for case sensitive matching
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Owners: @godotengine/dotnet

Fix editor's file explorer will show directories that should be skipped
  editor/gui/editor_file_dialog.cpp
Owners: @godotengine/usability, @godotengine/gui-nodes

Store ObjectID instead of pointer for KinematicCollision owner
  scene/2d/physics/character_body_2d.cpp
  scene/2d/physics/character_body_2d.h
  scene/2d/physics/kinematic_collision_2d.cpp
  scene/2d/physics/kinematic_collision_2d.h
  scene/2d/physics/physics_body_2d.cpp
  scene/2d/physics/physics_body_2d.h
  scene/3d/physics/character_body_3d.cpp
  scene/3d/physics/character_body_3d.h
  scene/3d/physics/kinematic_collision_3d.cpp
  scene/3d/physics/kinematic_collision_3d.h
  scene/3d/physics/physics_body_3d.cpp
  scene/3d/physics/physics_body_3d.h
Owners: @godotengine/2d-nodes, @godotengine/3d-nodes

Store ObjectID instead of pointer for KinematicCollision owner
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Owners: @godotengine/2d-nodes, @godotengine/3d-nodes

Don't store deprecated auto-translate property
  doc/classes/Control.xml
  scene/gui/control.cpp
Owners: @godotengine/documentation, @godotengine/gui-nodes

Add ScriptMethodExcludeAttribute;An attribute that excluding method generation from source generators.
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotClasses.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ScriptMethodExcludeAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
Owners: @godotengine/dotnet

[macOS] Add option to include `Applications` symlink to exported DMG.
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/macos/export/export_plugin.cpp
Owners: @godotengine/macos

[RTL] Add support for character code bb tag.
  scene/gui/rich_text_label.cpp
Owners: @godotengine/gui-nodes

Improve error when scene/resource is saved with newer format
  editor/editor_node.cpp
  scene/resources/resource_format_text.cpp
Owners: none

SCons: Make new debug_paths_relative option opt-in
  SConstruct
Owners: @godotengine/buildsystem

Core: Fix `RefCounted` handling in `marshalls.cpp`
  core/io/marshalls.cpp
Owners: @godotengine/core

Make "Pick Color"'s result less precise, keep only 3 decimals
  editor/plugins/script_text_editor.cpp
Owners: @godotengine/script-editor

Moved to separate functions, remove conditions in geometry_3d
  core/math/geometry_3d.cpp
Owners: @godotengine/core

Add automatic checking for engine updates
  SConstruct
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/engine_update_label.cpp
  editor/engine_update_label.h
  editor/gui/editor_bottom_panel.cpp
  editor/project_manager.cpp
Owners: @godotengine/buildsystem, @godotengine/documentation, @godotengine/usability, @godotengine/gui-nodes

mbedTLS: Fix build without the module on MinGW
  thirdparty/mbedtls/include/godot_core_mbedtls_config.h
Owners: @godotengine/buildsystem

Use uint32_t in quick_hull
  core/math/quick_hull.cpp
Owners: @godotengine/core

Delaunay3D: Improve triangulation
  core/math/delaunay_3d.h
Owners: @godotengine/core

Better conditions in quick_hull
  core/math/quick_hull.cpp
Owners: @godotengine/core

Fixes godotengine/godot-proposals#8850: Synchronously notify the scene tree of changes
  doc/classes/SceneTree.xml
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Owners: @godotengine/documentation, @godotengine/core

345
  modules/game_help/commom/common.h
  modules/game_help/csv/CSV_EditorImportPlugin.h
  modules/game_help/logic/animation_help.h
  modules/game_help/logic/body_animator.cpp
  modules/game_help/logic/body_animator.h
  modules/game_help/register_types.cpp
  modules/game_help/unity/unity_link_server.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
Owners: @godotengine/animation

LightmapGI: Reduce warnings and increase probe accuracy
  scene/3d/lightmap_gi.cpp
Owners: @godotengine/3d-nodes

Fix TileSet editor create/remove tiles selection rect drawing
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
Owners: none
