Repository godotengine/godot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/debugger, @godotengine/gdextension, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/usability, @godotengine/gui-nodes, @godotengine/2d-editor, @godotengine/3d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/dotnet, @godotengine/gdscript, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/2d-nodes, @godotengine/animation, @godotengine/tests

SCons: Add GCC/Clang option to make debug file paths relative
  SConstruct
Owners: @godotengine/buildsystem

doc: Clarify where `printraw()` output can be seen in the OS terminal
  doc/classes/@GlobalScope.xml
Owners: @godotengine/documentation

Fix multiline array/dictionary match statements
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/features/match_array.gd
  modules/gdscript/tests/scripts/parser/features/match_array.out
  modules/gdscript/tests/scripts/parser/features/match_dictionary.gd
  modules/gdscript/tests/scripts/parser/features/match_dictionary.out
Owners: @godotengine/gdscript

Fix error when loading SVG imported as Image
  modules/svg/image_loader_svg.cpp
Owners: @godotengine/import

Fix folder colors not saving after project.godot is modifed externally
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Owners: @godotengine/docks

Visual Studio: Fix indentation in sln file, VS is VERY PICKY
  methods.py
Owners: @godotengine/buildsystem

GDScript: Allow casting enum to int
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/features/cast_enum_to_int.gd
  modules/gdscript/tests/scripts/analyzer/features/cast_enum_to_int.out
Owners: @godotengine/gdscript

Fix heap-use-after-free error in TileMapLayerEditor
  editor/plugins/tiles/tile_map_layer_editor.cpp
Owners: none

[FileAccess] Implement `resize` method.
  core/io/file_access.cpp
  core/io/file_access.h
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.h
  core/io/file_access_memory.h
  core/io/file_access_pack.h
  core/io/file_access_zip.h
  doc/classes/FileAccess.xml
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  drivers/windows/file_access_windows_pipe.h
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
  platform/android/java/lib/src/org/godotengine/godot/io/file/DataAccess.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/FileAccessHandler.kt
Owners: @godotengine/core, @godotengine/documentation, @godotengine/_platforms, @godotengine/windows, @godotengine/android

Warn users when assigning VERTEX directly to POSITION due to compatibility breakage from reverse z changes
  doc/classes/ProjectSettings.xml
  servers/rendering/shader_language.cpp
  servers/rendering/shader_warnings.cpp
  servers/rendering/shader_warnings.h
Owners: @godotengine/documentation, @godotengine/rendering

Fix infinite while loop on empty added file.
  misc/scripts/copyright_headers.py
Owners: @godotengine/buildsystem

Add Particles Turbulence Nodes and Posterize ColorFunc
  doc/classes/VisualShaderNodeColorFunc.xml
  doc/classes/VisualShaderNodeParticleTurbulence.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
  scene/resources/visual_shader_particle_nodes.cpp
  scene/resources/visual_shader_particle_nodes.h
Owners: @godotengine/documentation, @godotengine/shaders

WIP 1
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_editor.h
Owners: none

修改網絡
  core/io/stream_peer.cpp
  core/io/stream_peer.h
  modules/game_help/logic/body_animator.cpp
  modules/game_help/logic/body_animator.h
  modules/game_help/register_types.cpp
  modules/game_help/unity/unity_link_server.cpp
  modules/game_help/unity/unity_link_server.h
Owners: @godotengine/core

修改小錯誤
  modules/godot_luaAPI/doc_classes/LuaAPI.xml
  modules/godot_luaAPI/doc_classes/LuaObjectMetatable.xml
Owners: none

刪除一些無用日志
  modules/godot_luaAPI/doc_classes/LuaAPI.xml
  modules/godot_luaAPI/doc_classes/LuaCallableExtra.xml
  modules/godot_luaAPI/doc_classes/LuaCoroutine.xml
  modules/godot_luaAPI/doc_classes/LuaDefaultObjectMetatable.xml
  modules/godot_luaAPI/doc_classes/LuaError.xml
  modules/godot_luaAPI/doc_classes/LuaFunctionRef.xml
  modules/godot_luaAPI/doc_classes/LuaObjectMetatable.xml
  modules/godot_luaAPI/doc_classes/LuaTuple.xml
Owners: none

replace bone_pose_updated to skeleton_updated signal
  doc/classes/BoneAttachment3D.xml
  doc/classes/Skeleton3D.xml
  misc/extension_api_validation/4.2-stable.expected
  scene/3d/bone_attachment_3d.compat.inc
  scene/3d/bone_attachment_3d.cpp
  scene/3d/skeleton_3d.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Owners: @godotengine/documentation, @godotengine/gdextension, @godotengine/dotnet, @godotengine/3d-nodes

WIP 2
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
Owners: none

fix animation error player error focus
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Owners: none

Core: Replace `_NO_DISCARD_` macro with attribute
  core/math/aabb.h
  core/math/basis.h
  core/math/color.h
  core/math/face3.h
  core/math/plane.h
  core/math/projection.h
  core/math/quaternion.h
  core/math/rect2.h
  core/math/rect2i.h
  core/math/transform_2d.h
  core/math/transform_3d.h
  core/math/vector2.h
  core/math/vector2i.h
  core/math/vector3.h
  core/math/vector3i.h
  core/math/vector4.h
  core/math/vector4i.h
  core/typedefs.h
Owners: @godotengine/core

Remove some unused SceneTree properties
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Owners: @godotengine/core

Fix load subtask not being registered leading to false progress values.
  core/io/resource_loader.cpp
Owners: @godotengine/core

Fix issue with resolving the path for the Android keystore file
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
Owners: @godotengine/android

Enable FBX albedo factor when textures are bound
  modules/fbx/fbx_document.cpp
Owners: @godotengine/import

Use fmod for navigation mesh border size warning
  modules/navigation/3d/nav_mesh_generator_3d.cpp
Owners: none

Fix the logic to load export preset's options overrides
  editor/export/editor_export.cpp
Owners: none

Rearrange Open In menu items of FileSystem dock
  editor/filesystem_dock.cpp
Owners: @godotengine/docks

Godot compiles and Patterns GUI appears
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_editor.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Owners: @godotengine/2d-nodes

Enable `EditorPlugin` added by modules and GDExtensions
  editor/editor_node.cpp
Owners: none

Automatically generate the Android debug keystore
  editor/editor_paths.cpp
  editor/editor_paths.h
  editor/export/editor_export.cpp
  platform/android/export/export.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
Owners: @godotengine/android

Tests: Remove NavigationRegion3D race condition that fails on CI
  tests/scene/test_navigation_region_3d.h
Owners: @godotengine/tests

Update undo redo allowed after switching scene tab
  editor/editor_node.cpp
Owners: none

Fix the initialization order for the iOS driver
  platform/ios/os_ios.mm
Owners: @godotengine/ios

Reorganize some code to have 2D things grouped together
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/sprite_frames_editor_plugin.cpp
  main/main.cpp
  main/performance.cpp
  scene/register_scene_types.cpp
  scene/resources/world_2d.cpp
Owners: @godotengine/core

Fix incorrect bounds check in rendering device push constant
  servers/rendering/rendering_device.cpp
Owners: @godotengine/rendering

Removed unnecessary check for ERR_INDEXs in error_macros
  core/error/error_macros.h
Owners: @godotengine/core

[Doc] Fix incorrect reference to `input_pickable`
  doc/classes/PhysicsServer2DExtension.xml
Owners: @godotengine/documentation

SCons: Fix `silence_msvc` regression
  platform/windows/detect.py
Owners: @godotengine/windows

[Core] Fix incorrect comparison for `Array` const iterator
  core/variant/array.h
  tests/core/variant/test_array.h
Owners: @godotengine/core, @godotengine/tests

Don't print warning messages for DisplayServer functions in headless mode
  servers/display_server_headless.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/debugger/                     @godotengine/debugger
/core/extension/                    @godotengine/gdextension
/core/input/                        @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/d3d12/                     @godotengine/rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/spirv-reflect/             @godotengine/rendering
/drivers/vulkan/                    @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/gui/                        @godotengine/usability @godotengine/gui-nodes
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/*3d_*.*             @godotengine/3d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/themes/                     @godotengine/usability @godotengine/gui-nodes
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks
/editor/*shader*.*                  @godotengine/shaders

# Main

/main/                              @godotengine/core

# Misc

/misc/                              @godotengine/buildsystem
/misc/extension_api_validation/     @godotengine/gdextension @godotengine/dotnet

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_rd/            @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/dotnet

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdextension/xr/            @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gdnavigation/              @godotengine/navigation
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/ios/                      @godotengine/ios
/platform/linuxbsd/                 @godotengine/linux-bsd
/platform/macos/                    @godotengine/macos
/platform/web/                      @godotengine/web
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/text_line.*        @godotengine/gui-nodes
/scene/resources/text_paragraph.*   @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders
/scene/theme/                       @godotengine/gui-nodes

# Servers

/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/display_server.*           @godotengine/_platforms
/servers/navigation_server*.*       @godotengine/navigation
/servers/physics*                   @godotengine/physics
/servers/rendering*                 @godotengine/rendering
/servers/text_server.*              @godotengine/gui-nodes
/servers/xr*                        @godotengine/xr

# Tests

/tests/                             @godotengine/tests

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
