Repository godotengine/godot, pull requests merged in 2018-04, with the labels that each got.

#17844 Fix UWP build after #17194
  platform/uwp/detect.py
Labels: bug, platform:uwp, topic:buildsystem

#17836 Detect and configure JavaScript build per Emscripten configuration file
  platform/javascript/detect.py
Labels: enhancement, platform:html5, topic:buildsystem

#17857 WASAPI driver will now resample when the device rate != audio/mix_rate
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, platform:windows, topic:audio

#17867 Implement missing navigation polygon debugging in tilemap
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#17876 Added missing end points for brief descriptions in the docs
  doc/classes/ARVRAnchor.xml
  doc/classes/AudioStreamPlayer3D.xml
  doc/classes/CheckBox.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/ConeTwistJoint.xml
  doc/classes/GridContainer.xml
  doc/classes/InterpolatedCamera.xml
  doc/classes/LinkButton.xml
  doc/classes/Position3D.xml
Labels: documentation, enhancement

#17880 Fix UpdatePowerInfo method implementation in PowerIphone class
  platform/iphone/power_iphone.cpp
Labels: bug, platform:ios, topic:core

#17879 Cherry pick/queue delete
  scene/main/node.cpp
Labels: enhancement, topic:core

#17902 Mesh: fix crash when creating mesh outline from QuadMesh
  editor/plugins/mesh_instance_editor_plugin.cpp
  scene/resources/mesh.cpp
Labels: bug, cherrypick, topic:editor

#17918 Fix of a possible memory leak in ConcavePolygonShapeBullet::setup
  modules/bullet/shape_bullet.cpp
Labels: bug, topic:core, topic:physics

#17933 Comment out some debugging messages when playing Theora files
  modules/theora/video_stream_theora.cpp
Labels: enhancement, topic:core

#17935 Removed unneeded sort from SpriteFramesEditor plugin
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: enhancement, topic:editor

#17940 [mono] Fixes #17936 as GodotSharp (Core\Basic.cs) requires C#7 now
  modules/mono/glue/cs_files/Basis.cs
Labels: bug, topic:mono

#17869 Trigger rename_error's close_fail_notify only after exhausting attempts on Windows
  drivers/windows/file_access_windows.cpp
Labels: bug, cherrypick, platform:windows, topic:core

#17834 Move GodotSharp and MonoBuildTab member variables to initializer list
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/editor/mono_bottom_panel.cpp
Labels: enhancement, topic:editor, topic:mono

#17947 fix bone scale/rotation in AnimationPlayers
  scene/animation/animation_player.cpp
  scene/animation/animation_tree_player.cpp
Labels: bug, topic:core

#17914 Added signal to VideoPlayer to notify when the video finished playing
  scene/gui/video_player.cpp
Labels: enhancement, topic:core

#17900 physics area added monitorable check
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#17865 Ctrl+Clicking a enum now scrolls down to it in the docs.
  core/class_db.cpp
  core/class_db.h
  core/script_language.h
  editor/editor_help.cpp
  editor/editor_help.h
  editor/plugins/script_text_editor.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:editor

#17854 Improve side impulse calculation
  scene/3d/vehicle_body.cpp
  scene/3d/vehicle_body.h
Labels: bug, topic:physics

#17832 Fixed some popups not shrinking their size back when losing items
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#17923 Abstracted the syntax highlighter from text edit.
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdscript/gdscript_highlighter.cpp
  modules/gdscript/gdscript_highlighter.h
  modules/gdscript/register_types.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#17863 Add functionality to move selected tiles in tile map editor
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: enhancement, topic:editor, usability

#17884 Corrected physics query max result checking
  modules/bullet/godot_result_callbacks.cpp
Labels: bug, cherrypick, topic:physics

#17816 FIX: FILE_SHOW_IN_EXPLORER now correctly shows the file's directory
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#17950 Add clipboard operation for android OS
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java_glue.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:porting

#17945 [DOCS] Tweaks and fixes for (Interpolated)Camera
  doc/classes/Camera.xml
  doc/classes/InterpolatedCamera.xml
Labels: cherrypick, documentation

#17969 Update transform buttons in tile editor while using T, A, S shortcuts
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, topic:editor, usability

#17965 [GDNative] some GDNativeLibrary improvements
  modules/gdnative/gdnative.cpp
  modules/gdnative/gdnative.h
Labels: cherrypick, enhancement, topic:gdnative

#17978 Renamed GDSyntaxHighlighter to GDScriptSyntaxHighlighter
  modules/gdscript/gdscript_highlighter.cpp
  modules/gdscript/gdscript_highlighter.h
  modules/gdscript/register_types.cpp
Labels: enhancement, topic:gdscript

#17819 Remove redundant unsigned abs shader builtin
  servers/visual/shader_language.cpp
Labels: enhancement, topic:core, topic:rendering

#17801 Add safety checks when handling Android input
  platform/android/java_glue.cpp
Labels: bug, topic:core

#17792 Handle directories in engine.js preloadFile()
  platform/javascript/detect.py
  platform/javascript/engine.js
  platform/javascript/pre.js
Labels: bug, cherrypick, platform:html5, topic:porting

#17784 Added shortcut to rename files
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor

#17775 multiply blend mode fix for spatial materials
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering

#17974 Bugfix/improve opensl stability onandroid samsung
  platform/android/audio_driver_opensl.cpp
Labels: bug, platform:android, topic:audio

#17806 Make heightmap shape usable in PhysicsServer
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
Labels: bug, topic:core

#17984 Fix segfault on x11
  main/SCsub
Labels: bug, platform:linuxbsd, topic:buildsystem

#17980 [NativeScript] added global type tag system
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdnative/nativescript/godot_nativescript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
Labels: enhancement, topic:gdnative

#17998 Initialize sensors to default values for Android platform
  platform/android/java/src/org/godotengine/godot/Godot.java
Labels: bug, platform:android, topic:porting

#17954 Prevent NullPointerException when data is null during a Payment
  platform/android/java/src/org/godotengine/godot/payments/HandlePurchaseTask.java
Labels: bug, platform:android, topic:porting

#17999 Prevent a device to be added/deleted more than once on Android
  platform/android/java/src/org/godotengine/godot/GodotView.java
Labels: bug, platform:android, topic:porting

#18002 Remove size restriction for mouse cursor
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: cherrypick, enhancement, platform:linuxbsd, platform:osx, platform:windows, topic:porting

#18006 [2.1 port] Remove size restriction for mouse cursor
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, platform:osx, platform:windows, topic:porting

#18011 [NativeScript] replace error macros by simple returns
  modules/gdnative/nativescript/godot_nativescript.cpp
Labels: enhancement, topic:gdnative

#17899 Fixed physics server area cleaning
  modules/bullet/area_bullet.cpp
  modules/bullet/area_bullet.h
  modules/bullet/collision_object_bullet.cpp
Labels: bug, cherrypick, topic:physics

#17970 Explicitly print an error when --export fails.
  editor/editor_node.cpp
Labels: enhancement, topic:editor, usability

#18032 Fix skeleton import from glTF
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, cherrypick, topic:import

#18015 Fixed signal input variable name
  core/os/input.cpp
Labels: enhancement, topic:input

#17754 Resloves Replace all doesnt replace all
  editor/code_editor.cpp
Labels: bug, topic:editor, usability

#17752 Add tint property to TextureProgress
  scene/gui/texture_progress.cpp
  scene/gui/texture_progress.h
Labels: enhancement, topic:core

#17744 Fix `RichTextLabel` column size growing beyond its calculated `max_width`
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#17742 Added new audio device functions to set/get the audio device
  drivers/alsa/audio_driver_alsa.cpp
  drivers/alsa/audio_driver_alsa.h
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/coreaudio/audio_driver_coreaudio.h
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.h
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.h
  platform/x11/detect.py
  servers/audio_server.cpp
  servers/audio_server.h
Labels: feature proposal, topic:audio

#17730 Radio buttons in menus
  doc/classes/PopupMenu.xml
  editor/editor_themes.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/item_list_editor_plugin.cpp
  editor/plugins/item_list_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  main/tests/test_gui.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/resources/default_theme/default_theme.cpp
Labels: cherrypick, enhancement, needs testing, topic:editor, usability

#17717 Extended node rename function to also support renaming node path script instance property
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor

#17642 Particles 2D and 3D - fix hue variation not working
  scene/3d/particles.cpp
Labels: bug, topic:rendering

#17636 Fixes moving files causes scene corruption
  core/io/resource_format_binary.cpp
Labels: bug, topic:core

#17602 Removed unnecessary newlines from tscn
  scene/resources/scene_format_text.cpp
Labels: enhancement, topic:core

#17583 Enhance uri utils
  core/io/http_client.cpp
  core/ustring.cpp
  core/ustring.h
  doc/classes/HTTPClient.xml
  editor/plugins/asset_library_editor_plugin.cpp
  modules/gdnative/gdnative/string.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/string.h
Labels: bug, enhancement, topic:network

#17741 Fix all categories unfold when one key binding is changed
  editor/settings_config_dialog.cpp
Labels: bug, topic:editor, usability

#17967 Allows to map an action to all devices.
  core/input_map.cpp
  core/input_map.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Labels: enhancement, topic:core

#17594 Changed debug max distance to avoid overflow
  servers/physics/collision_object_sw.h
Labels: bug, topic:core

#17443 Fix converting to tileset crashes Godot if existing file is not tileset
  doc/classes/ItemList.xml
  editor/editor_node.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  scene/gui/item_list.cpp
  scene/gui/item_list.h
  scene/resources/tile_set.cpp
Labels: bug, topic:editor

#17421 Fix few bugs in shader definitions
  drivers/gles2/shader_compiler_gles2.cpp
  servers/visual/shader_types.cpp
Labels: bug, topic:core, topic:rendering

#17382 Duplicate Arrays and Dictionaries when instancing scene in editor
  core/array.cpp
  core/array.h
  core/dictionary.cpp
  core/dictionary.h
  core/resource.cpp
  core/variant.h
  core/variant_call.cpp
  core/variant_op.cpp
  editor/property_editor.cpp
  scene/main/node.cpp
  scene/resources/packed_scene.cpp
Labels: bug, topic:core, topic:editor

#17232 enhance mipmaps, non power of 2 textures
  core/image.cpp
Labels: bug, topic:rendering

#17227 [RFC] MultiplayerAPI refactor
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  core/register_core_types.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, feature proposal, topic:network

#17151 Remove disabled shapes from physics 2D calculations
  servers/physics_2d/collision_object_2d_sw.cpp
  servers/physics_2d/collision_object_2d_sw.h
Labels: bug, cherrypick, enhancement, topic:physics

#17150 Added `get_playing_speed` method to AnimationPlayer, returning the actual playing speed of the animation being played
  doc/classes/AnimationPlayer.xml
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Labels: bug, topic:core

#17123 Editor: update favortite_dirs after move or rename a file in filesytem_dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#16995 The inspector will show the custom resources added via plugin
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/property_editor.cpp
Labels: enhancement, topic:editor

#16898 add Image::bumpmap_to_normalmap conversion function
  core/image.cpp
  core/image.h
Labels: enhancement, topic:core

#16574 Added GROW_DIRECTION_BOTH for controls
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:core

#16707 Fix Sprite3D's incorrect behavior when using AtlasTextures.
  scene/3d/sprite_3d.cpp
Labels: bug, topic:core

#16571 Added find & replace in files
  editor/find_in_files.cpp
  editor/find_in_files.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: enhancement, topic:editor

#16556 For-in loop variable added to autocompletion
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:editor, usability

#16503 Fix invalid particle movement when time_scale is zero
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#16297 Fixed wave file importer's broken resampling.
  editor/import/resource_importer_wav.cpp
Labels: bug, topic:audio, topic:editor

#18072 expose Tileset TileMode to GDScript
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: cherrypick, enhancement, topic:gdscript

#17864 Fixed mono bottom panel to select the correct file when messages are filtered
  modules/mono/editor/mono_bottom_panel.cpp
Labels: bug, topic:editor, topic:mono

#18040 Fixed colour regions and added local colour region cache
  modules/gdscript/gdscript_highlighter.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:editor

#18054 Fixed bug #17929. Inconsistent sort in file manager.
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#18069 [DOCS] SceneTree
  doc/classes/SceneTree.xml
Labels: cherrypick, documentation

#16473 Drag to Rearrange Editor Docks
  editor/editor_node.cpp
  editor/editor_node.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
  scene/gui/tabs.cpp
  scene/gui/tabs.h
Labels: enhancement, topic:editor, usability

#18075 Fix custom cursor when it's hidden
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: bug, topic:core

#18079 Resolves Incorrect Quaternion Conversion
  core/math/quat.cpp
Labels: bug, topic:core

#18080 Fix of RigidBody's configuration warning for Z axis
  scene/3d/physics_body.cpp
Labels: bug, cherrypick, topic:core

#18081 Corrected area overlap cleaning
  modules/bullet/area_bullet.cpp
  modules/bullet/area_bullet.h
  modules/bullet/collision_object_bullet.cpp
Labels: bug, topic:physics

#18083 Add new transform tutorial to the appropriate classes
  doc/classes/Basis.xml
  doc/classes/Quat.xml
  doc/classes/Transform.xml
Labels: cherrypick, documentation, enhancement

#17080 Made Node.print_tree() print prettily
  doc/classes/Node.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: cherrypick, enhancement, topic:core

#17081 Make Button not emit press when container is scrolled
  scene/gui/base_button.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: cherrypick, enhancement, topic:core

#18047 WASAPI audio driver compile fix on mingw
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, platform:windows, topic:buildsystem

#18089 Allow set_custom_mouse_cursor to use same cursor(image) with different shapes
  main/input_default.cpp
  main/input_default.h
Labels: enhancement, topic:core

#18091 Add support for radio-looking items with icon
  doc/classes/PopupMenu.xml
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, cherrypick, topic:core

#18071 [DOCS] Navigation & Navigation2D
  doc/classes/Navigation.xml
  doc/classes/Navigation2D.xml
Labels: documentation, enhancement

#18105 CoreAudio: Fix iphone build after audio device refactor (#17742)
  drivers/coreaudio/audio_driver_coreaudio.h
Labels: bug, platform:ios, topic:audio, topic:buildsystem

#18093 Implement Input.set_default_cursor_shape to change the default shape
  core/os/input.cpp
  core/os/input.h
  main/input_default.cpp
  main/input_default.h
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#18111 [DOCS] OS
  doc/classes/OS.xml
Labels: cherrypick, documentation, enhancement

#18070 NetworkedMultiplayerEnet: Add disconnecting/kicking peers
  modules/enet/networked_multiplayer_enet.cpp
  modules/enet/networked_multiplayer_enet.h
Labels: enhancement, topic:network

#18116 Fixed colour region calculation for the first line, issue 18104
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#17724 Update classref and docs, fix missing parameters' name
  core/bind/core_bind.cpp
  doc/classes/ARVRServer.xml
  doc/classes/Camera.xml
  doc/classes/EditorPlugin.xml
  doc/classes/ItemList.xml
  doc/classes/OS.xml
  doc/classes/OptionButton.xml
  doc/classes/PopupMenu.xml
  doc/classes/Vector2.xml
  scene/gui/item_list.cpp
  servers/arvr_server.cpp
Labels: documentation, enhancement

#18108 Travis: Use XCode 9.3 / macOS 10.13 for osx/iphone builds
  .travis.yml
Labels: enhancement, platform:ios, platform:osx, topic:buildsystem

#18106 iPhone X support and iOS-related fixes
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/Default-568h@2x.png
  misc/dist/ios_xcode/godot_ios/Default-667h@2x.png
  misc/dist/ios_xcode/godot_ios/Default-Landscape-1366h@2x.png
  misc/dist/ios_xcode/godot_ios/Default-Landscape-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Default-Landscape@2x.png
  misc/dist/ios_xcode/godot_ios/Default-Portrait-1366h@2x.png
  misc/dist/ios_xcode/godot_ios/Default-Portrait-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Default-Portrait@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Contents.json
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-480h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-568h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-667h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait@2x.png
  platform/iphone/app_delegate.mm
  platform/iphone/export/export.cpp
  platform/iphone/gl_view.h
  platform/iphone/gl_view.mm
  platform/iphone/os_iphone.cpp
  platform/iphone/os_iphone.h
Labels: bug, enhancement, platform:ios, topic:porting

#18138 Rigidbody wake up when hitten by a kinematic body
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#18123 Fix error detecting for PulseAudio pa_stream_new call
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: enhancement, topic:audio

#18118 Use internal physics processing for Nodes' internal logic
  scene/2d/ray_cast_2d.cpp
  scene/3d/ray_cast.cpp
  scene/animation/animation_player.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_container.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
Labels: enhancement, topic:core

#18140 Fixed wrong function call
  modules/bullet/space_bullet.cpp
Labels: bug, cherrypick, topic:physics

#18145 Implement get_peer_[address|port] in ENet/WSServer
  modules/enet/networked_multiplayer_enet.cpp
  modules/enet/networked_multiplayer_enet.h
  modules/websocket/emws_peer.cpp
  modules/websocket/emws_server.cpp
  modules/websocket/emws_server.h
  modules/websocket/lws_peer.cpp
  modules/websocket/lws_server.cpp
  modules/websocket/lws_server.h
  modules/websocket/websocket_peer.cpp
  modules/websocket/websocket_server.cpp
  modules/websocket/websocket_server.h
Labels: enhancement, topic:network

#18124 Fix PulseAudio driver for audio devices that report unknown number of channels
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, topic:audio

#18149 Fix PulseAudio problems with 8 channels devices
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.h
Labels: bug, platform:linuxbsd, topic:audio

#18154 Add DNS resolution in NetworkedMultiplayerEnet::create_client()
  modules/enet/networked_multiplayer_enet.cpp
  modules/enet/networked_multiplayer_enet.h
Labels: enhancement, topic:network

#18170 Small performance fix to wrapf
  core/math/math_funcs.h
Labels: enhancement, topic:core

#18211 Minor fixes for the AnimationPlayer doc.
  doc/classes/AnimationPlayer.xml
Labels: bug, documentation

#18196 ItemList selection: Check against item count
  scene/gui/item_list.cpp
Labels: bug, topic:core

#18215 Fixed high cpu usage with PulseAudio
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, topic:audio

#18224 Fix Android input source checks
  platform/android/java/src/org/godotengine/godot/GodotView.java
Labels: bug, cherrypick, platform:android, topic:input

#18240 Bugfix/mutex error android
  platform/android/audio_driver_opensl.cpp
Labels: bug, platform:android, topic:audio

#18053 #18051: Clean up and reformat C# source files
  modules/mono/glue/cs_files/AABB.cs
  modules/mono/glue/cs_files/Basis.cs
  modules/mono/glue/cs_files/Color.cs
  modules/mono/glue/cs_files/DebuggingUtils.cs
  modules/mono/glue/cs_files/GD.cs
  modules/mono/glue/cs_files/GodotMethodAttribute.cs
  modules/mono/glue/cs_files/GodotSynchronizationContext.cs
  modules/mono/glue/cs_files/GodotTaskScheduler.cs
  modules/mono/glue/cs_files/IAwaiter.cs
  modules/mono/glue/cs_files/MarshalUtils.cs
  modules/mono/glue/cs_files/Mathf.cs
  modules/mono/glue/cs_files/Plane.cs
  modules/mono/glue/cs_files/Quat.cs
  modules/mono/glue/cs_files/Rect2.cs
  modules/mono/glue/cs_files/SignalAttribute.cs
  modules/mono/glue/cs_files/SignalAwaiter.cs
  modules/mono/glue/cs_files/StringExtensions.cs
  modules/mono/glue/cs_files/Transform.cs
  modules/mono/glue/cs_files/Transform2D.cs
  modules/mono/glue/cs_files/Vector2.cs
  modules/mono/glue/cs_files/Vector3.cs
Labels: enhancement, topic:mono

#18142 Removed useless check
  modules/bullet/godot_result_callbacks.cpp
Labels: bug, topic:physics

#18247 Ability to change path color with self modulate
  scene/2d/path_2d.cpp
Labels: enhancement, topic:editor

#18230 Fix index out of size error on Image
  scene/2d/sprite.cpp
Labels: bug, cherrypick, topic:editor

#18227 Fix crash resulting from bad month check in core_bind.cpp
  core/bind/core_bind.cpp
Labels: bug, cherrypick, topic:core

#17391 Fixes canvas light shaders.
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  servers/visual/shader_types.cpp
Labels: bug, topic:rendering

#18204 Avoid converting Quat to Euler angles when not necessary.
  core/math/matrix3.cpp
  core/math/matrix3.h
  core/math/transform.cpp
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/space_bullet.cpp
  scene/3d/spatial.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_tree_player.cpp
Labels: bug, enhancement, topic:core

#18161 Add popup_closed signal for ColorPickerButton
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, topic:editor

#18270 Fix case mismatch check on Windows
  drivers/windows/file_access_windows.cpp
Labels: bug, platform:windows, topic:core

#18172 Prevent visibility notification from being called twice in object creation
  scene/2d/canvas_item.cpp
Labels: bug, topic:core

#18261 Set default file name for exported projects
  editor/project_export.cpp
Labels: enhancement, topic:editor, usability

#18289 Fixed context menu TTR bugs
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, cherrypick, topic:core

#18281 Fix some Coverity warnings in String API
  core/string_db.cpp
  core/string_db.h
  core/ustring.cpp
Labels: enhancement, topic:core

#18285 Enable DynamicFont oversampling by default
  main/main.cpp
Labels: enhancement, topic:rendering

#18280 Fixes left/up axis not mappable as actions
  core/os/input_event.cpp
  editor/project_settings_editor.cpp
Labels: bug, topic:core

#18119 Fix NativeScript property list order
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, topic:gdnative

#18316 [DOCS] add HTTPRequest.request return values
  doc/classes/HTTPRequest.xml
  drivers/unix/ip_unix.cpp
Labels: cherrypick, documentation, enhancement

#18343 [DOCS] Popup.popup_exclusive description
  doc/classes/Popup.xml
Labels: cherrypick, documentation, enhancement

#18336 Fixes a typo in the VisualServer.canvas_item_add_set_transform docs.
  doc/classes/VisualServer.xml
Labels: bug, cherrypick, documentation

#18176 Add string trim_prefix, trim_suffix, lstrip and rstrip methods
  core/ustring.cpp
  core/ustring.h
  core/variant_call.cpp
  doc/classes/String.xml
Labels: feature proposal, topic:core

#16507 Change ".." punctuation for "..." in editor strings
  core/bind/core_bind.cpp
  drivers/rtaudio/audio_driver_rtaudio.cpp
  drivers/unix/file_access_unix.cpp
  drivers/windows/file_access_windows.cpp
  editor/connections_dialog.cpp
  editor/editor_audio_buses.cpp
  editor/editor_data.cpp
  editor/editor_file_dialog.cpp
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/export_template_manager.cpp
  editor/filesystem_dock.cpp
  editor/import/editor_import_collada.cpp
  editor/import/resource_importer_scene.cpp
  editor/import_dock.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/mesh_instance_editor_plugin.cpp
  editor/plugins/particles_2d_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_graph_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/project_export.cpp
  editor/project_settings_editor.cpp
  editor/property_editor.cpp
  editor/scene_tree_dock.cpp
  editor/settings_config_dialog.cpp
  editor/translations/editor.pot
  main/main.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/visual_script/visual_script_expression.cpp
  platform/android/export/export.cpp
  scene/gui/text_edit.cpp
  servers/visual/shader_language.cpp
Labels: enhancement, topic:editor

#18391 Fix Node2D::global_position to have Vector2 type
  scene/2d/node_2d.cpp
Labels: bug, topic:core

#18385 Fix AnimationPlayer edited scene bug
  editor/animation_editor.cpp
Labels: bug, topic:editor

#18427 Add option to link mono statically on Windows
  modules/mono/config.py
Labels: enhancement, platform:windows, topic:buildsystem, topic:mono

#18415 Fixed (minor) typo in CapsuleShape2D doc page
  doc/classes/CapsuleShape2D.xml
Labels: cherrypick, documentation, topic:core

#18458 Numerous changes to the Animation Editor
  editor/animation_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor

#18464 Fix stylebox crash
  scene/resources/style_box.cpp
Labels: bug, topic:core

#18466 Fix use64 used without being initialized
  editor/editor_export.cpp
  editor/editor_export.h
Labels: bug, topic:editor

#18494 Mono: BindingsGenerator enum fixes
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
Labels: bug, topic:mono

#18455 Make 'Export PCK/ZIP' work well with EditorExportPlugin
  editor/editor_export.cpp
  editor/editor_export.h
  editor/editor_node.cpp
  editor/project_export.cpp
  editor/project_export.h
  platform/android/export/export.cpp
Labels: cherrypick, enhancement, topic:editor

#18511 [DOCS] Clarify look_at and looking_at
  doc/classes/Spatial.xml
  doc/classes/Transform.xml
Labels: cherrypick, documentation, enhancement

#18522 Fix msbuild with a msvc 'tools only' install
  modules/mono/mono_reg_utils.py
Labels: bug, cherrypick, topic:buildsystem

#18284 Fix .pck exporting via PCKPacker
  core/io/pck_packer.cpp
Labels: bug, cherrypick, topic:core

#18523 Fix lto builds on clang compilers
  modules/gdnative/SCsub
Labels: bug, cherrypick, topic:buildsystem
