Repository godotengine/godot, pull requests merged in 2018-10, with the labels that each got.

#22572 Fix unnecessary parentheses warnings with GCC 8 [-Wparentheses]
  core/object.h
Labels: enhancement, topic:core

#22579 Minor nit-picky tweaks in spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor

#22567 Add a subtle background and border to unselected tabs in the editor
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#22582 SCons: Remove avoidable defines from main env's CPPPATH
  SConstruct
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
  drivers/png/SCsub
  drivers/register_driver_types.cpp
  editor/SCsub
  modules/freetype/SCsub
  modules/svg/SCsub
  platform/haiku/detect.py
  platform/haiku/platform_config.h
  platform/osx/platform_config.h
  platform/windows/platform_config.h
  platform/x11/detect.py
  platform/x11/platform_config.h
Labels: enhancement, topic:buildsystem

#22597 Fix build for Javascript platform
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: bug, platform:html5, topic:buildsystem

#22584 Fixed name of deleted node not dissapearing from inspector dock.
  editor/inspector_dock.cpp
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#22576 Fixed inspector not going back to single-node when deselecting an item.
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#22590 Add support for '.[0-9]' numbers in Expression
  core/math/expression.cpp
Labels: enhancement, topic:core

#22593 Fix various warnings raised by Clang 7
  core/io/file_access_network.h
  core/io/file_access_zip.h
  core/io/resource_format_binary.h
  core/message_queue.h
  core/object.h
  core/variant.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  editor/editor_export.h
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/settings_config_dialog.cpp
  main/tests/test_gui.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/space_bullet.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  platform/x11/os_x11.h
  scene/resources/mesh.cpp
  scene/resources/world.h
  scene/resources/world_2d.cpp
  scene/resources/world_2d.h
  servers/audio/reverb_sw.cpp
  servers/audio/reverb_sw.h
  servers/physics/body_pair_sw.h
  servers/visual/visual_server_raster.h
Labels: bug, enhancement, topic:core, topic:editor

#22595 [docs] Add Input buttons and axes missing descriptions
  doc/classes/Input.xml
Labels: documentation, enhancement

#22603 Fix compiler warnings in HTML5 platform
  platform/javascript/http_client_javascript.cpp
  platform/javascript/javascript_eval.cpp
  platform/javascript/os_javascript.cpp
Labels: cherrypick, enhancement, platform:html5, topic:buildsystem

#22601 [DOCS] Update VisibilityEnabler* and TileSet doc
  doc/classes/TileSet.xml
  doc/classes/VisibilityEnabler.xml
  doc/classes/VisibilityEnabler2D.xml
Labels: documentation, enhancement

#22602 Changed the comment where reduz yells at the X11 API to a less explicitive one
  platform/x11/os_x11.cpp
Labels: enhancement, topic:core

#22364 Make Rect2 EditorProperty obey the horizontal setting
  editor/editor_node.cpp
  editor/editor_properties.cpp
Labels: enhancement, topic:editor, usability

#22355 [Docs] Remove double-spaces from descriptions, plus a couple other tiny fixes
  doc/classes/@GDScript.xml
  doc/classes/ARVRController.xml
  doc/classes/Array.xml
  doc/classes/Color.xml
  doc/classes/Control.xml
  doc/classes/Curve2D.xml
  doc/classes/Curve3D.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/ItemList.xml
  doc/classes/LargeTexture.xml
  doc/classes/PackedScene.xml
  doc/classes/PoolByteArray.xml
  doc/classes/RID.xml
  doc/classes/RayCast2D.xml
  doc/classes/RigidBody.xml
  doc/classes/ScrollContainer.xml
  doc/classes/TileMap.xml
  doc/classes/Tree.xml
  doc/classes/Tween.xml
  doc/classes/Vector2.xml
Labels: documentation, enhancement

#22354 Fix icon issue for the resource list popup #22320.
  editor/editor_node.cpp
Labels: bug, topic:editor

#22297 Fixed method not found error when connecting with signal that fires in editor
  core/object.cpp
Labels: bug, topic:editor

#22223 Fix put_var encoding some 32bits ints as 64bits.
  core/io/marshalls.cpp
Labels: bug, topic:network

#22220 Fix find-in-files and go-to-line dialog (partially)
  editor/code_editor.cpp
  editor/find_in_files.cpp
  editor/find_in_files.h
Labels: bug, topic:editor, usability

#22062 Discard button pressing flags on disable
  scene/gui/base_button.cpp
Labels: bug, topic:core

#22009 Added warning when disabling editable_instance
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor

#22466 Sync controller mappings DB with SDL2 community repo
  main/gamecontrollerdb.txt
  main/gamecontrollerdb_204.txt
  main/gamecontrollerdb_205.txt
  main/godotcontrollerdb.txt
Labels: enhancement, needs testing, topic:input, topic:thirdparty

#21395 Expose the align property of the SpinBox's LineEdit control
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: enhancement, topic:core

#22617 Fix script path for warnings
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#22613 Project manager: remove projects with delete key
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#22612 Improve doc of ProjectSettings
  doc/classes/ProjectSettings.xml
Labels: cherrypick, documentation, enhancement

#22531 Made Debugger's Video Memory tab show correct resource paths.
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: bug, cherrypick, topic:core

#22618 Fix warnings on virtual methods [-Woverloaded-virtual] [-Wdelete-non-…
  core/engine.h
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_node.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/quick_open.cpp
  editor/quick_open.h
  main/tests/test_io.cpp
  platform/haiku/context_gl_haiku.h
  platform/uwp/gl_context_egl.h
  platform/windows/context_gl_win.h
  platform/x11/context_gl_x11.h
  scene/2d/visibility_notifier_2d.h
  scene/3d/physics_body.h
  scene/3d/visibility_notifier.h
  servers/audio/effects/audio_effect_record.cpp
  servers/audio/effects/audio_effect_record.h
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_viewport.h
Labels: bug, enhancement, topic:core

#22574 Moving lens distortion shader into drivers and adding GLES2 support
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_gles2.h
  drivers/gles2/shaders/SCsub
  drivers/gles2/shaders/lens_distorted.glsl
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/shaders/SCsub
  drivers/gles3/shaders/lens_distorted.glsl
  modules/mobile_vr/SCsub
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/mobile_vr/mobile_vr_interface.h
  modules/mobile_vr/shaders/SCsub
  servers/visual/rasterizer.h
Labels: enhancement, needs testing, topic:arvr, topic:rendering

#22562 Uses skip_vertex_transform in GLES2 canvas shader
  drivers/gles2/shaders/canvas.glsl
Labels: bug, topic:rendering

#22483 Restore the Fresnel term in the BRDF.
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
Labels: enhancement, topic:rendering

#21436 tonemapping fixes
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/tonemap.glsl
  scene/resources/environment.cpp
  servers/visual_server.cpp
  servers/visual_server.h
Labels: bug, enhancement, topic:rendering

#22329 Made children of Containers not selectable.
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor

#22628 Disable GLES2 debugging on iOS, fixes build
  drivers/gles2/rasterizer_gles2.cpp
Labels: bug, platform:ios, topic:porting

#22626 Travis: Update Android NDK to r18
  misc/travis/android-tools-linux.sh
Labels: cherrypick, enhancement, platform:android, topic:buildsystem

#22621 Avoid the window size to go below 0
  main/main.cpp
Labels: bug, topic:editor, usability

#22636 Bring accidentally commented out lines.
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#22627 GLES2: Implement pixel snap 2D option
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shaders/canvas.glsl
Labels: enhancement, topic:rendering

#22638 Add critical info to TreeItem.set_custom_draw documentation
  doc/classes/TreeItem.xml
Labels: cherrypick, documentation, enhancement

#22646 Add extra newline after enum members and constants, to ensure they'll…
  doc/tools/makerst.py
Labels: bug, documentation

#22647 Add note in ParallaxLayer doc about ignoring position/scale changes after entering the scene
  doc/classes/ParallaxLayer.xml
Labels: cherrypick, documentation, enhancement

#22645 PluginConfigDialog: pass subfolder name instead of plugin name on creation
  editor/plugin_config_dialog.cpp
Labels: bug, topic:editor

#22651 [DOCS] Classref updates: Color, RigidBody*
  doc/classes/Color.xml
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
Labels: documentation, enhancement

#22653 Fix GCC compiler warning in mono module
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/mono_bottom_panel.cpp
  modules/mono/utils/mono_reg_utils.cpp
  modules/mono/utils/thread_local.h
Labels: enhancement, topic:mono

#22657 Remove "Doc Path" setting
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#22666 Remove redundant size property from NoiseTexture
  modules/opensimplex/config.py
  modules/opensimplex/doc_classes/NoiseTexture.xml
  modules/opensimplex/noise_texture.cpp
  modules/opensimplex/noise_texture.h
Labels: enhancement, topic:core

#22598 Fixed animation editor not moving to next frame of sprites when editing.
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#22668 Add a shortcut to the documentation in the scene tree RMB menu
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor

#22672 Fix various warnings reported by CI in #22620
  core/io/marshalls.cpp
  core/ustring.cpp
  drivers/gles3/rasterizer_gles3.cpp
  main/main.cpp
  modules/csg/csg_gizmos.cpp
  modules/gdnative/include/gdnative/gdnative.h
Labels: enhancement, topic:core, topic:gdnative

#22676 Fix warnings in Android platform
  doc/classes/OS.xml
  drivers/unix/dir_access_unix.cpp
  modules/mobile_vr/mobile_vr_interface.cpp
  platform/android/SCsub
  platform/android/audio_driver_opensl.cpp
  platform/android/audio_driver_opensl.h
  platform/android/java_glue.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: bug, enhancement, platform:android, topic:porting

#22675 Fixed error when duplicating node with signal from editor.
  scene/main/node.cpp
Labels: bug, topic:editor

#22683 Fixed DDS loader width/height attribs, fixes #22530
  modules/dds/texture_loader_dds.cpp
Labels: bug, topic:core

#22674 Document find_node()'s owner argument behaviour
  doc/classes/Node.xml
Labels: documentation, enhancement, topic:core

#22671 ItemList signals additional documentation
  doc/classes/ItemList.xml
Labels: documentation, enhancement, topic:core

#22681 Fix warnings on release builds and some MSVC warnings
  SConstruct
  core/class_db.cpp
  core/image.cpp
  core/io/compression.cpp
  core/io/file_access_pack.cpp
  core/math/bsp_tree.cpp
  drivers/png/image_loader_png.cpp
  editor/doc/doc_dump.cpp
  editor/editor_themes.cpp
  modules/bmp/image_loader_bmp.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_parser.cpp
  scene/gui/graph_edit.cpp
  scene/main/node.cpp
  scene/resources/material.h
Labels: bug, enhancement, topic:core

#22643 Fix oversampling of DynamicFont fallback fonts
  scene/resources/dynamic_font.cpp
Labels: bug, topic:core

#22659 Add example to Animation doc
  doc/classes/Animation.xml
Labels: cherrypick, documentation, enhancement

#22694 Fixing create spatial root button
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#22708 Fix warnings about non-static data member initializers in nativescript
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
Labels: enhancement, topic:gdnative

#22710 Fix some OSX and iOS Clang warnings
  core/os/memory.cpp
  drivers/gles2/rasterizer_gles2.cpp
  drivers/unix/thread_posix.cpp
  modules/gdnative/nativescript/nativescript.h
  platform/iphone/gl_view.mm
  platform/osx/os_osx.mm
Labels: bug, enhancement, platform:ios, platform:osx, topic:core

#22620 SCons: Set default warnings level to all (-Wall or /W3)
  SConstruct
  methods.py
Labels: enhancement, topic:buildsystem

#22713 Fix GCC 8 warnings about potentially unitialized variables
  core/image.cpp
  core/os/memory.cpp
  editor/audio_stream_preview.cpp
  editor/editor_themes.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  main/tests/test_oa_hash_map.cpp
  modules/csg/csg.cpp
  modules/csg/csg_shape.cpp
  scene/2d/tile_map.cpp
  scene/3d/voxel_light_baker.cpp
  scene/animation/animation_blend_space_2d.cpp
Labels: enhancement, topic:core

#22715 Fixes tilemap editor offset tile selection
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: bug, topic:editor

#22726 Fix CoreMidi warnings
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/coremidi/core_midi.cpp
Labels: enhancement, platform:osx, topic:input

#22732 Deselect recents when selecting favorites and vice versa in Create Node window.
  editor/create_dialog.cpp
Labels: enhancement, topic:editor

#22737 Added a check in sort_custom that test whether the given method exists.
  core/array.cpp
Labels: enhancement, topic:core

#22623 22586: Dragging file icon on to another file causes "Error Moving" in FileSystem dock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#22743 [Docs] Add doc for Input::get_action_strength
  doc/classes/Input.xml
Labels: documentation, enhancement

#22764 Fix build error for windows mono export templates
  modules/mono/mono_gd/gd_mono.h
Labels: bug, platform:windows, topic:mono

#22768 Added noise texture icon, fixes #22704
  editor/icons/icon_noise_texture.svg
Labels: enhancement, topic:editor

#22769 Fix C# API assembly build errors in generics
  modules/mono/glue/Managed/Files/Extensions/NodeExtensions.cs
  modules/mono/glue/Managed/Files/Extensions/ResourceLoaderExtensions.cs
  modules/mono/glue/Managed/Files/GD.cs
Labels: bug, topic:mono

#22772 Don't delete FileAccess when it is null
  core/io/image_loader.cpp
  modules/theora/video_stream_theora.cpp
  modules/webm/video_stream_webm.cpp
Labels: bug, topic:import

#22753 Fix to ColorPicker behaviour when entering html. Fixing Issue #22714
  scene/gui/color_picker.cpp
Labels: bug, topic:core

#22750 Improve ResourcePreloader editor plugin
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.h
Labels: bug, enhancement, topic:editor, usability

#22773 [Docs] Fix some broken links
  doc/classes/ArrayMesh.xml
  doc/classes/AudioEffectBandLimitFilter.xml
  doc/classes/AudioEffectBandPassFilter.xml
  doc/classes/AudioEffectHighPassFilter.xml
  doc/classes/AudioEffectLowPassFilter.xml
  doc/classes/AudioEffectNotchFilter.xml
  doc/classes/CollisionShape.xml
  doc/classes/CollisionShape2D.xml
  doc/classes/Control.xml
  doc/classes/KinematicBody.xml
  doc/classes/Node.xml
  doc/classes/PackedScene.xml
  doc/classes/Tree.xml
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
Labels: bug, documentation

#22774 Fix to scrolling, rounding error on max_v_scroll
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#22783 Fix warnings in HTML5 build outside platform files
  core/math/math_funcs.h
  drivers/unix/net_socket_posix.cpp
Labels: cherrypick, enhancement, platform:html5, topic:buildsystem

#22742 Fix TextEdit margin start spacing with two scrollbars
  scene/gui/text_edit.cpp
Labels: bug, needs testing, topic:editor, usability

#22796 Reverts warning fix on release builds that caused segfault in release build
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:gdscript

#22799 Fix compiler warnings in GDScript module
  modules/gdscript/gdscript_function.cpp
Labels: enhancement, topic:gdscript

#22804 Readd mipmaps 'bug' in Image::expand_x2_hq2x, fixing it caused a regression
  core/image.cpp
Labels: bug, topic:core

#22782 Fix GLES2 uniform precision
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:porting, topic:rendering

#22810 Make the 3D viewport menu button easier to read
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, cherrypick, topic:editor, usability

#22786 Fixed int interpolation issue, closes #22763
  core/variant_op.cpp
Labels: enhancement, topic:core

#22752 Remove redundant "== true" and "== false" code
  core/bind/core_bind.cpp
  core/dictionary.cpp
  core/dictionary.h
  core/dvector.h
  core/io/multiplayer_api.cpp
  core/math/matrix3.cpp
  core/math/quat.cpp
  core/math/quat.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.h
  core/variant.cpp
  core/variant_op.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  editor/editor_file_dialog.cpp
  editor/editor_node.cpp
  editor/editor_profiler.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/project_export.cpp
  modules/csg/csg.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/csharp_script.cpp
  modules/mono/editor/mono_bottom_panel.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_nodes.cpp
  modules/visual_script/visual_script_property_selector.cpp
  platform/android/godot_android.cpp
  platform/android/java_glue.cpp
  platform/haiku/haiku_direct_window.cpp
  platform/server/os_server.cpp
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
  scene/gui/base_button.cpp
  scene/gui/control.cpp
  servers/physics/joints/generic_6dof_joint_sw.cpp
  servers/physics/joints/generic_6dof_joint_sw.h
  servers/physics_2d/body_pair_2d_sw.cpp
  servers/physics_2d/step_2d_sw.cpp
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
Labels: enhancement, topic:core

#22759 Some physics fixes for 3.1
  modules/bullet/area_bullet.cpp
  modules/bullet/area_bullet.h
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/collision_object_bullet.h
  modules/bullet/godot_motion_state.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_owner_bullet.h
  modules/bullet/soft_body_bullet.cpp
  modules/bullet/soft_body_bullet.h
  modules/bullet/space_bullet.cpp
  scene/resources/shape.cpp
Labels: bug, topic:physics

#22770 Fix inspector color when theme changed
  editor/editor_inspector.cpp
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Labels: bug, topic:editor, usability

#22722 Fix more "may be used initialized" warnings from GCC 7
  core/cowdata.h
  core/image.cpp
  core/math/face3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/shader_gles3.h
  editor/plugins/script_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/spatial_editor_gizmos.cpp
  scene/3d/voxel_light_baker.cpp
  scene/gui/gradient_edit.cpp
  scene/gui/texture_progress.cpp
  servers/physics/shape_sw.cpp
Labels: enhancement, topic:core

#22712 Fixes AnimatedSprite2D animation_finished signal triggering too early
  scene/2d/animated_sprite.cpp
  scene/2d/animated_sprite.h
Labels: bug, topic:core

#22705 Cleaned up/Fixed some bugs in the remote inspector code.
  core/script_debugger_remote.cpp
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#22700 Increase spacing slightly between ItemList and PopupMenu items
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#22698 Fix Find in Files font size on hiDPI displays
  editor/find_in_files.cpp
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#22678 Add Behaviour of SceneTree pausing to the doc
  doc/classes/SceneTree.xml
Labels: documentation, enhancement, topic:core

#22771 Fix inspector preview
  editor/editor_properties.cpp
  editor/editor_properties.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: bug, topic:editor

#22830 Fix crash in Tree when moving using Joypad
  scene/gui/tree.cpp
Labels: bug, topic:input

#22831 Fixes #22828 - res://user had incorrect substr value
  core/ustring.cpp
Labels: bug, cherrypick, topic:core

#22827 Optimize interpolation algorithms
  core/variant_op.cpp
Labels: enhancement, topic:core

#22808 Add ONE constants to Vector2 and Vector3
  core/variant_call.cpp
  doc/classes/BaseButton.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RichTextLabel.xml
  doc/classes/ScriptCreateDialog.xml
  doc/classes/SpinBox.xml
  doc/classes/StreamPeerSSL.xml
  doc/classes/TreeItem.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  doc/classes/VisualServer.xml
  modules/mono/doc_classes/GodotSharp.xml
  modules/opensimplex/doc_classes/NoiseTexture.xml
Labels: enhancement, topic:core, topic:gdscript

#22841 Fix multi-statement macro call not being covered.
  modules/bullet/bullet_utilities.h
  modules/bullet/collision_object_bullet.cpp
Labels: bug, topic:physics

#22865 Check if directory exists before trying to delete it
  modules/mono/editor/GodotSharpTools/Editor/GodotSharpExport.cs
Labels: bug, topic:editor, topic:mono

#22872 [DOC] Update and expand SurfaceTool doc
  doc/classes/SurfaceTool.xml
Labels: documentation, enhancement

#22871 Add missing BIND_ENUM for SPEAKER_SURROUND_31
  servers/audio_server.cpp
Labels: enhancement, topic:audio

#22866 Improve the editor's Find in Files function
  editor/find_in_files.cpp
Labels: enhancement, topic:editor, usability

#22931 Fixes resources name not showing in the inspector
  editor/editor_properties.cpp
Labels: bug, topic:editor

#22800 Added the ability to write to gl_FragDepth.
  drivers/gles3/shader_compiler_gles3.cpp
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#22844 Fix spam when dragging in the editor
  scene/gui/control.cpp
Labels: bug, topic:core

#22915 Fix for Visual Shader Editor #22906: Cannot change color on Color Con…
  editor/editor_properties.cpp
Labels: bug, topic:visualscript

#22929 Fix bug and add testcase for OAHashMap losing keys
  core/oa_hash_map.h
  main/tests/test_oa_hash_map.cpp
Labels: bug, topic:core

#22939 TileSetEditor: Don't crash when adding invalid files
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#22975 Fixed a typo, sahpe to shape.
  doc/classes/TileSet.xml
Labels: documentation, enhancement

#23001 Add useful links for contributors to CONTRIBUTING and README docs.
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement

#22978 [Docs] Fixed 'get_button_count's link and a typo related to 'button'.
  doc/classes/TreeItem.xml
  scene/gui/tree.cpp
Labels: documentation, enhancement

#22986 Doc LineEdit MenuRedo and clear_button_enabled
  doc/classes/LineEdit.xml
Labels: documentation, enhancement

#22942 Filled missing Doc for String and FileDialog
  doc/classes/FileDialog.xml
  doc/classes/String.xml
Labels: documentation, enhancement

#23029 Doc Tabs
  doc/classes/Tabs.xml
Labels: documentation, enhancement

#22944 Fixed the problem with vector3 constructor
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
Labels: bug, topic:visualscript

#22970 Fixed issues with audio input on some Macs
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/coreaudio/audio_driver_coreaudio.h
Labels: bug, platform:osx, topic:audio

#22548 Visualscript search fixes
  core/ustring.cpp
  main/tests/test_string.cpp
  modules/visual_script/visual_script_nodes.cpp
  modules/visual_script/visual_script_property_selector.cpp
Labels: enhancement, topic:core, topic:editor, topic:visualscript

#22980 Removed duplication of include(s)
  drivers/gles2/rasterizer_storage_gles2.h
  servers/physics/collision_solver_sw.cpp
Labels: enhancement, topic:core

#23018 GDScriptTokenizer: Fix token_names order
  modules/gdscript/gdscript_tokenizer.cpp
Labels: bug, topic:gdscript

#23033 Backport of Android buildsystem improvements for 3.0
  platform/android/SCsub
  platform/android/build.gradle.template
  platform/android/detect.py
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
Labels: bug, platform:android, topic:buildsystem

#23016 Fixed visibility toggle with node selection
  editor/scene_tree_editor.cpp
Labels: bug, topic:editor

#23009 Doc Tabcontainer rearrange tabs
  doc/classes/TabContainer.xml
Labels: documentation, enhancement

#22922 Fixes Area and Area2D audio bus override
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:audio

#22894 A colon ending a comment line no longer indents the next line
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#22885 Hide numeric value for constants in EditorPropertyEnum
  editor/editor_properties.cpp
  editor/property_editor.cpp
Labels: enhancement, topic:editor, usability

#22738 Improve toggle comment function in script editor
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor, usability

#23065 Switch unoptimized handlers from spatial editor viewport to optimized ones
  editor/icons/icon_GUI_viewport_hdiagsplitter.svg
  editor/icons/icon_GUI_viewport_vdiagsplitter.svg
  editor/icons/icon_GUI_viewport_vhsplitter.svg
Labels: enhancement, topic:editor

#23056 Remove unnecessary "rings" variable from "draw_rings()" in StyleBox
  scene/resources/style_box.cpp
Labels: enhancement, topic:core

#23074 Add tooltip to skeleton menu button.
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#23037 Hide header and footer in AssetLib when not necessary
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, usability

#23097 C#: Optimize struct marshalling
  modules/mono/SCsub
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_header.h
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/mono/utils/macros.h
Labels: enhancement, topic:mono

#23000 Update autoload references when moving files.
  editor/editor_autoload_settings.cpp
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor, usability

#23119 Fix prefix erasing for the generated C# enum constants
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
Labels: bug, topic:mono

#23116 Bind missing subresource flag in ResourceSaver
  core/bind/core_bind.cpp
  core/bind/core_bind.h
Labels: bug, topic:core

#23120 fix class reference markup for KinematicBody2D
  doc/classes/KinematicBody2D.xml
Labels: documentation, enhancement

#23122 Enhanced error message on folder creation with invalid chars on Windows
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor, usability

#23112 Fixes viewport scrollbars not updating with plugins
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  editor/plugins/light_occluder_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, topic:editor

#23035 Show an alert when a project is not found in release mode
  main/main.cpp
Labels: enhancement, topic:core

#23138 Repaired mistyped of 'just_disconnected'.
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:core

#23142 Add icon_script_extend & update the icon @runtime
  editor/icons/icon_script_extend.svg
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#23160 Make folders clicked in the filesystem dock open the selected folder
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#23025 Add comments to javascript wrapper parts.
  platform/javascript/engine.js
  platform/javascript/pre.js
Labels: documentation, enhancement, platform:html5

#22972 Make "Perspective" button look like a actual clickable button
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#23196 Scene tabs closing and thumbnail errors, issue 22890
  editor/editor_node.cpp
  scene/gui/tabs.cpp
  scene/gui/tabs.h
Labels: bug, topic:core, topic:editor

#23206 [DOCS] StreamPeerTCP
  doc/classes/StreamPeerTCP.xml
Labels: documentation, enhancement

#23204 Removed undeclared and unused variable, which caused a compile error
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, platform:osx, topic:mono

#23223 Fixes crash when loading *.escn resources with gdnative #20141
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, topic:gdnative

#23224 Fix 'Align selection with view' in orthogonal mode
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#23238 Fix gles3 shader to actually multiply specular light by rev_amount for fog calculations.
  drivers/gles3/shaders/scene.glsl
Labels: bug, cherrypick, topic:rendering
