Repository godotengine/godot, pull requests merged in 2018-06, with the labels that each got.

#19299 Fix return type of isnan and isinf in the shader language
  servers/visual/shader_language.cpp
Labels: bug, topic:core, topic:rendering

#19280 Add cli paramerter --check-only for script parsing
  main/main.cpp
Labels: enhancement, topic:core

#19250 Minor changes to the Scene and Canvas editors' tooltips
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor

#19310 Fix Mono static linking on Mingw
  modules/mono/config.py
Labels: bug, platform:windows, topic:buildsystem, topic:mono

#19332 Add option to disable automatic multiplayer poll in SceneTree
  doc/classes/MultiplayerAPI.xml
  doc/classes/SceneTree.xml
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:network

#19371 Fix Rect2 properties typo
  editor/editor_properties.cpp
Labels: bug, topic:editor

#18792 Fixes ObjectDB leak printout with mono.
  modules/mono/csharp_script.cpp
Labels: bug, cherrypick, topic:mono

#19377 Revert "Prevent visibility notification from being called twice in object creation"
  scene/2d/canvas_item.cpp
Labels: bug, cherrypick, topic:core

#19378 Set SO_BROADCAST socket option for UDP sockets.
  drivers/unix/socket_helpers.h
Labels: bug, discussion, topic:network

#19384 [Inspector] Fix search field losing focus when typing
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#19396 allow undefined GODOT_DEBUG_MSBUILD environment variable
  modules/mono/editor/GodotSharpTools/Build/BuildSystem.cs
Labels: bug, cherrypick, topic:mono

#18780 Add UPnP support (port forwarding, querying external IP)
  SConstruct
  modules/upnp/SCsub
  modules/upnp/config.py
  modules/upnp/doc_classes/UPNP.xml
  modules/upnp/doc_classes/UPNPDevice.xml
  modules/upnp/register_types.cpp
  modules/upnp/register_types.h
  modules/upnp/upnp.cpp
  modules/upnp/upnp.h
  modules/upnp/upnpdevice.cpp
  modules/upnp/upnpdevice.h
  thirdparty/README.md
  thirdparty/miniupnpc/LICENSE
  thirdparty/miniupnpc/codelength.h
  thirdparty/miniupnpc/connecthostport.c
  thirdparty/miniupnpc/connecthostport.h
  thirdparty/miniupnpc/igd_desc_parse.c
  thirdparty/miniupnpc/igd_desc_parse.h
  thirdparty/miniupnpc/listdevices.c
  thirdparty/miniupnpc/minisoap.c
  thirdparty/miniupnpc/minisoap.h
  thirdparty/miniupnpc/minissdpc.c
  thirdparty/miniupnpc/minissdpc.h
  thirdparty/miniupnpc/miniupnpc.c
  thirdparty/miniupnpc/miniupnpc.def
  thirdparty/miniupnpc/miniupnpc.h
  thirdparty/miniupnpc/miniupnpc/miniupnpc.h
  thirdparty/miniupnpc/miniupnpc/miniwget.h
  thirdparty/miniupnpc/miniupnpc/upnpcommands.h
  thirdparty/miniupnpc/miniupnpc_declspec.h
  thirdparty/miniupnpc/miniupnpc_socketdef.h
  thirdparty/miniupnpc/miniupnpcmodule.c
  thirdparty/miniupnpc/miniupnpcstrings.h
  thirdparty/miniupnpc/miniupnpctypes.h
  thirdparty/miniupnpc/miniwget.c
  thirdparty/miniupnpc/miniwget.h
  thirdparty/miniupnpc/miniwget_private.h
  thirdparty/miniupnpc/minixml.c
  thirdparty/miniupnpc/minixml.h
  thirdparty/miniupnpc/minixmlvalid.c
  thirdparty/miniupnpc/portlistingparse.c
  thirdparty/miniupnpc/portlistingparse.h
  thirdparty/miniupnpc/receivedata.c
  thirdparty/miniupnpc/receivedata.h
  thirdparty/miniupnpc/upnpc.c
  thirdparty/miniupnpc/upnpcommands.c
  thirdparty/miniupnpc/upnpcommands.h
  thirdparty/miniupnpc/upnpdev.c
  thirdparty/miniupnpc/upnpdev.h
  thirdparty/miniupnpc/upnperrors.c
  thirdparty/miniupnpc/upnperrors.h
  thirdparty/miniupnpc/upnpreplyparse.c
  thirdparty/miniupnpc/upnpreplyparse.h
Labels: feature proposal, topic:network

#19399 Fix theme not updating with changes
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#19373 exposed lineedit
  scene/gui/file_dialog.cpp
Labels: enhancement, topic:core

#19410 Adding is_stopped method to Tween
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: enhancement, topic:core

#19437 Make same child index as edited scene when using live edit
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor

#19407 Added functions to get trimesh info
  core/math/triangle_mesh.cpp
  core/math/triangle_mesh.h
Labels: enhancement, topic:core

#19314 Added autotile override
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  scene/2d/tile_map.cpp
Labels: enhancement, topic:editor

#19340 Added some documentation to particles
  doc/classes/Particles.xml
Labels: cherrypick, documentation

#19334 Fixes popup_centered_* methods, dialogs with wrong sizes and visual script editor
  editor/editor_about.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  scene/gui/control.cpp
  scene/gui/popup.cpp
Labels: bug, topic:core

#19443 Detect channel count and mix rate in HTML5 audio driver
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/audio_driver_javascript.h
Labels: cherrypick, enhancement, platform:html5, topic:audio

#19343 Fix bugs related to bad handling of rotated/translated shapes in tilemap
  editor/plugins/tile_set_editor_plugin.cpp
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#19452 Fix translate messages for new AnimationPlayer
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor

#19462 Fix drag and drop autoload
  editor/editor_autoload_settings.cpp
Labels: bug, topic:editor

#18298 TextEdit scaled selection
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#19459 Updated Ranges for Primitive Mesh Properties
  scene/resources/primitive_meshes.cpp
Labels: enhancement, topic:editor, usability

#19461 Correct test list returned by test_get_names
  main/tests/test_main.cpp
Labels: documentation, enhancement, topic:core

#19489 Fix CSG issues when reparenting shape nodes.
  modules/csg/csg_shape.cpp
Labels: bug, topic:editor

#19492 updated some ParticleMaterial properties
  scene/3d/particles.cpp
Labels: enhancement, topic:editor, usability

#19494 Updated Viewport docs
  doc/classes/Viewport.xml
Labels: cherrypick, documentation, enhancement

#19524 Inner classes' functions now appear in the editor's functions panel
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:editor, usability

#19515 Fixed regression making the logger not respect the max files limit
  core/io/logger.cpp
Labels: bug, cherrypick, topic:core

#19528 Fix TabContainer not showing tabs on left when resizing.
  scene/gui/tab_container.cpp
Labels: bug, topic:core

#19516 Fixes a crash on draw_hover
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: bug, topic:editor

#19514 Added Solarized Dark and Light themes
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/settings_config_dialog.cpp
Labels: enhancement, topic:editor

#19505 Improvement for stereo render, reuse culling and lighting for both eyes
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
Labels: enhancement, topic:arvr

#19503 Fix shortcuts using KEY_MASK_CTRL instead of KEY_MASK_CMD
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/plugins/script_text_editor.cpp
Labels: bug, cherrypick, platform:osx, topic:editor, usability

#19539 A typo in ShaderCompilerGLES2 constructor code '==' used instead of '='
  drivers/gles2/shader_compiler_gles2.cpp
Labels: bug, topic:rendering

#19487 Improve 3D selection
  core/math/aabb.h
  core/math/triangle_mesh.cpp
  core/math/triangle_mesh.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/primitive_meshes.cpp
Labels: bug, enhancement, topic:editor, usability

#19541 Make LineEdit IME position hook ignore placeholder text
  scene/gui/line_edit.cpp
Labels: enhancement, topic:core

#19488 Text editor colour refactor
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/editor_themes.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: enhancement, topic:editor

#19545 Fix invalid DEFVAL in SpatialEditorGizmo::add_unscaled_billboard
  doc/classes/EditorSpatialGizmo.xml
  doc/classes/SpriteBase3D.xml
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor

#19556 2to3 exporter: Improved BaseButton and Focus Mode conversion
  editor/editor_export_godot3.cpp
  editor/editor_export_godot3.h
Labels: enhancement, topic:buildsystem

#19557 2to3 exporter: Fixes to InputEvent conversion and reduce log spam
  editor/editor_export_godot3.cpp
  scene/resources/scene_format_text.cpp
Labels: enhancement, topic:editor

#19575 Added some details in skeleton docs.
  doc/classes/Skeleton.xml
Labels: documentation, enhancement

#19574 Tweak adaptative guideline and completion_background color
  editor/editor_themes.cpp
Labels: cherrypick, enhancement, topic:editor, usability

#19544 Import morph target names from glTF
  editor/import/editor_scene_importer_gltf.cpp
Labels: cherrypick, enhancement, topic:import

#19553 Small improvement to solarized theme
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#19547 Travis: Add Mono build on X11/GCC with tools
  .travis.yml
Labels: cherrypick, enhancement, topic:buildsystem, topic:mono

#19568 Fix path typo for editor def capitalize_properties
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/inspector_dock.cpp
Labels: bug, topic:editor

#19583 Fix Vector2 doc of floor, add ceil doc
  doc/classes/Vector2.xml
Labels: bug, cherrypick, documentation

#19587 Removed unused AudioServer::update function
  main/main.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: enhancement, topic:audio

#19585 [Pluginscript] Fix not working exports in editor
  modules/gdnative/pluginscript/pluginscript_script.cpp
Labels: bug, cherrypick, topic:gdnative

#19595 Fix property hint for ReflectionProbe extents
  scene/3d/reflection_probe.cpp
Labels: bug, cherrypick, topic:editor

#19620 [DOCS] InputEventMouseButton: Factor
  doc/classes/InputEventMouseButton.xml
Labels: cherrypick, documentation, enhancement

#19621 [DOCS] TreeItem: Small fix for remove_child()
  doc/classes/TreeItem.xml
Labels: cherrypick, documentation, enhancement

#19615 Add a little to ViewportTexture docs
  doc/classes/ViewportTexture.xml
Labels: cherrypick, documentation, enhancement

#19589 The build-solutions flag now forces editor mode.
  main/main.cpp
Labels: enhancement, topic:mono

#19573 [AnimationPlayer] Fix preview for both AnimatedSprite (2D and 3D)
  editor/animation_track_editor_plugins.cpp
Labels: bug, topic:editor, usability

#19626 Add longer description to ViewportTexture doc
  doc/classes/ViewportTexture.xml
Labels: cherrypick, documentation, enhancement

#19612 Expose OS.get_ticks_usec()
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#19631 Prevent animation player crash
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#19632 Fix order to register autoloads in-editor
  editor/editor_autoload_settings.cpp
Labels: bug, topic:editor, topic:gdscript

#19591 Android platform dependent entry points for GDNative
  modules/gdnative/SCsub
  modules/gdnative/android/android_gdn.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/android/godot_android.h
Labels: feature proposal, platform:android, topic:gdnative

#19654 Invalid color picker values fixed
  core/color.cpp
Labels: bug, cherrypick, topic:core

#19663 Add missing NULL checks for add_child_below_node
  scene/main/node.cpp
Labels: bug, cherrypick, topic:core

#19662 Fix profiler not updating on realtime
  editor/editor_profiler.cpp
Labels: bug, cherrypick, topic:editor

#19690 fix default glTF metallic & roughness factor values
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, cherrypick, topic:import

#19695 Add NoCache wrapper to Command (master)
  SConstruct
  core/SCsub
  editor/SCsub
  main/SCsub
  methods.py
  modules/gdnative/SCsub
Labels: cherrypick, enhancement, topic:buildsystem

#19697 Add NoCache wrapper to Command (2.1)
  SConstruct
  core/SCsub
  editor/SCsub
  methods.py
Labels: enhancement, topic:buildsystem

#19016 Mono: Module build improvements
  modules/mono/SCsub
  modules/mono/config.py
Labels: bug, enhancement, topic:buildsystem, topic:mono

#19745 ARVR - Fight off some error spam in the editor
  scene/3d/arvr_nodes.cpp
Labels: enhancement, topic:arvr

#19730 Fix typo in y shift
  servers/visual/visual_server_scene.cpp
Labels: bug, topic:arvr, topic:rendering

#19193 Fixed Basis -> Quat conversions, added a few safety checks.
  core/math/matrix3.cpp
  core/math/matrix3.h
  core/math/quat.cpp
  core/math/quat.h
  core/math/transform.cpp
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, topic:core

#19718 bugfix: correct #ifdef for TOUCH_ENABLED and OPENGL_ENABLED
  platform/x11/os_x11.cpp
Labels: bug, topic:input

#19698 Move Theme options to submenu
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor

#19728 Changed themes presets to String format
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/settings_config_dialog.cpp
Labels: enhancement, topic:editor

#19744 Add a Clear button to the profiler
  editor/editor_profiler.cpp
  editor/editor_profiler.h
Labels: enhancement, topic:editor, usability

#19720 add BlendSpace1D animation node
  editor/editor_node.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_1d_editor.h
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.h
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_1d.h
  scene/animation/animation_blend_space_2d.cpp
  scene/animation/animation_blend_space_2d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:core, topic:editor

#19774 ensure BlendSpace1D syncs animations
  scene/animation/animation_blend_space_1d.cpp
Labels: bug, topic:core

#19766 Implement OpenGL ES rasterizer selection logic for Android.
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java_glue.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: bug, platform:android, topic:porting, topic:rendering

#19767 Fix vsync initialization
  main/main.cpp
Labels: bug, cherrypick, topic:core

#19776 Optimize _recreate_quadrants
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: enhancement, topic:core

#19164 Improve TileMap undo operations, second try
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: enhancement, topic:editor

#19794 Document Vector2.round() and Vector3.round()
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
Labels: documentation, enhancement

#19810 Explicitly disable WebAssembly in HTML5 builds
  platform/javascript/detect.py
Labels: bug, platform:html5, topic:buildsystem

#19827 Fix fragment size bug in WebSocket (lws)
  modules/websocket/lws_helper.h
Labels: bug, topic:network

#19836 Revert "Fix saving unmodified scenes and resources"
  editor/editor_node.cpp
Labels: bug, cherrypick, topic:editor

#19757 Network bindings for GDNative
  modules/gdnative/SCsub
  modules/gdnative/config.py
  modules/gdnative/include/net/godot_net.h
  modules/gdnative/net/SCsub
  modules/gdnative/net/multiplayer_peer_gdnative.cpp
  modules/gdnative/net/multiplayer_peer_gdnative.h
  modules/gdnative/net/packet_peer_gdnative.cpp
  modules/gdnative/net/packet_peer_gdnative.h
  modules/gdnative/net/register_types.cpp
  modules/gdnative/net/register_types.h
  modules/gdnative/net/stream_peer_gdnative.cpp
  modules/gdnative/net/stream_peer_gdnative.h
  modules/gdnative/register_types.cpp
Labels: enhancement, topic:gdnative, topic:network

#19678 Remove audio latency print
  servers/audio_server.cpp
Labels: enhancement, topic:core

#19768 mono: convert unicode mono root path to ascii string
  modules/mono/mono_reg_utils.py
Labels: bug, topic:buildsystem, topic:mono
