Repository godotengine/godot, pull requests merged in 2018-08, with the labels that each got.

#20693 Fixed SoftBody pinned point offset calculation
  modules/bullet/soft_body_bullet.cpp
  scene/3d/soft_body.cpp
  scene/3d/soft_body.h
Labels: bug, topic:physics

#18699 Inverse kinematic
  editor/editor_node.cpp
  editor/plugins/skeleton_ik_editor_plugin.cpp
  editor/plugins/skeleton_ik_editor_plugin.h
  scene/3d/physics_body.h
  scene/3d/skeleton.cpp
  scene/3d/skeleton.h
  scene/animation/skeleton_ik.cpp
  scene/animation/skeleton_ik.h
  scene/main/node.cpp
  scene/main/node.h
  scene/register_scene_types.cpp
Labels: feature proposal, topic:physics

#20715 Fixed typo in SkeletonIK
  scene/animation/skeleton_ik.cpp
Labels: bug, topic:physics

#20697 Improve TileMap.get_used_cells docs.
  doc/classes/TileMap.xml
Labels: cherrypick, documentation, topic:core

#20645 Added and modified AudioStream descriptions
  doc/classes/AudioStream.xml
  doc/classes/AudioStreamPlayer.xml
Labels: cherrypick, documentation, topic:audio

#20573 Fix nested Vectors
  core/cowdata.h
  core/vector.h
Labels: bug, topic:core

#20597 add 3D textures
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shader_compiler_gles3.h
  scene/register_scene_types.cpp
  scene/resources/sky_box.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  servers/register_server_types.cpp
  servers/server_wrap_mt_common.h
  servers/visual/rasterizer.h
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: feature proposal, topic:rendering

#20779 [DOCS] SceneTree stretching constants
  doc/classes/SceneTree.xml
Labels: documentation, enhancement

#20636 Fix #20564 HDR import fail
  core/os/file_access.cpp
Labels: bug, topic:core

#20381 Improved Physics material
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/space_bullet.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
  scene/resources/physics_material.cpp
  scene/resources/physics_material.h
  servers/physics/body_pair_sw.cpp
  servers/physics/body_sw.cpp
  servers/physics/body_sw.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/body_pair_2d_sw.cpp
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
  servers/physics_2d/physics_2d_server_wrap_mt.h
  servers/physics_2d_server.h
  servers/physics_server.h
Labels: bug, topic:physics

#20786 Changes the default skybox to avoid the blue shade
  scene/resources/sky_box.cpp
Labels: enhancement, topic:editor, topic:rendering

#20787 Tweak the default SpatialMaterial properties
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
  scene/resources/material.cpp
Labels: enhancement, topic:editor, topic:rendering

#20737 Use a standard "OK" text for confirmation buttons in error dialogs
  editor/editor_about.cpp
  editor/editor_node.cpp
  editor/inspector_dock.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#20727 fixed godotphysics sat dispatch table
  servers/physics/collision_solver_sat.cpp
Labels: bug, topic:physics

#20681 Keeping track of discard
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
Labels: bug, topic:rendering

#20808 Fix a typo in a TTR() call
  editor/editor_node.cpp
Labels: bug, topic:editor

#20805 unhacking some GLES2 code
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/shader_gles2.cpp
  drivers/gles2/shader_gles2.h
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#20585 New TileSet Editor
  editor/icons/icon_add_atlas_tile.svg
  editor/icons/icon_add_autotile.svg
  editor/icons/icon_add_single_tile.svg
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: enhancement, topic:core, topic:editor, usability

#20842 Fix clang compile error
  core/math/expression.cpp
Labels: bug, platform:osx, topic:buildsystem

#15536 Fix SortArray crashing with bad comparison functions
  core/array.cpp
  core/sort.h
Labels: bug, topic:core

#14704 Allow some non-integer built-in constants in gdscript
  core/variant.h
  core/variant_call.cpp
  doc/classes/Color.xml
  editor/doc/doc_data.cpp
  editor/editor_help.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/visual_script/visual_script_nodes.cpp
Labels: feature proposal, topic:gdscript

#18914 added get_creation_time function for gdscript
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/io/file_access_buffered_fa.h
  core/io/file_access_compressed.cpp
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/io/file_access_memory.h
  core/io/file_access_network.cpp
  core/io/file_access_network.h
  core/io/file_access_pack.h
  core/io/file_access_zip.h
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  core/os/file_access.cpp
  core/os/file_access.h
  drivers/unix/dir_access_unix.cpp
  drivers/unix/dir_access_unix.h
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  modules/mono/mono_gd/gd_mono_assembly.h
  platform/android/file_access_android.h
Labels: enhancement, topic:core

#20861 Improve BitMap: expose methods + prevent stack overflow
  scene/resources/bit_mask.cpp
  scene/resources/bit_mask.h
Labels: enhancement, topic:core

#20753 Fix WebSocket crash due to non PDO init after CowData PR
  modules/websocket/lws_client.cpp
  modules/websocket/lws_peer.cpp
  modules/websocket/lws_peer.h
  modules/websocket/lws_server.cpp
Labels: bug, topic:network

#20940 Fix ResourceLoader::exists() false negative and readd deprecated has()
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/io/resource_loader.cpp
Labels: bug, topic:core

#20554 Small doc formating changes and Linux cursor theme note
  doc/classes/@GDScript.xml
  doc/classes/Animation.xml
  doc/classes/Array.xml
  doc/classes/Control.xml
  doc/classes/ItemList.xml
  doc/classes/Node.xml
  doc/classes/String.xml
Labels: documentation, enhancement

#20587 Fixes bugs on the 2D editor scrollable area
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, topic:editor

#20581 Do not use deprecated stuff that only glibc now implements
  thirdparty/thekla_atlas/nvmath/nvmath.h
Labels: enhancement, topic:thirdparty

#20680 Make the default text editor caret blink speed faster
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#20731 Fix wrong context menu when right-clicking script/doc files
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, usability

#20933 Fix compile error with PulseAudio driver and clang
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, topic:buildsystem

#20970 Remove usage console spam
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#20971 Fix for resource save dialog call
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#20974 [gles2] added ImmediateGeometry rendering
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
Labels: enhancement, topic:rendering

#20936 MinGW compile fix
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, cherrypick, platform:windows, topic:buildsystem

#20963 Remove cached .tpz archive after templates download and install
  editor/export_template_manager.cpp
  editor/export_template_manager.h
Labels: enhancement, topic:editor

#20956 Update help doc when changing font size
  editor/editor_help.cpp
Labels: bug, topic:editor

#20953 Don't try to update the visual shader graph if it doesn't exist yet
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#20918 [DOCS] get_indexed, tween
  doc/classes/Object.xml
  doc/classes/Tween.xml
Labels: documentation, enhancement

#20913 Rebase patches for fixing haiku build.
  modules/websocket/SCsub
  platform/haiku/audio_driver_media_kit.cpp
  platform/haiku/audio_driver_media_kit.h
  platform/haiku/detect.py
  platform/haiku/haiku_application.h
  platform/haiku/haiku_direct_window.cpp
  platform/haiku/haiku_direct_window.h
  platform/haiku/haiku_gl_view.h
  platform/haiku/os_haiku.cpp
  platform/haiku/os_haiku.h
  platform/haiku/platform_config.h
  platform/haiku/power_haiku.cpp
  platform/haiku/power_haiku.h
  thirdparty/glad/glad.c
  thirdparty/libwebsockets/lws_config.h
  thirdparty/libwebsockets/lws_config_private.h
  thirdparty/thekla_atlas/nvcore/nvcore.h
  thirdparty/thekla_atlas/poshlib/posh.h
Labels: bug, topic:porting

#20706 Add missing GetPtr() for Dictionary<> and Array<>
  modules/mono/glue/cs_files/Array.cs
  modules/mono/glue/cs_files/Dictionary.cs
Labels: bug, topic:mono

#20932 [Doc] Removed reference to texscreen in BackBufferCopy docs
  doc/classes/BackBufferCopy.xml
Labels: bug, documentation

#20947 Expose PhysicalBone::get_bone_id() to c#/gdscript
  scene/3d/physics_body.cpp
Labels: enhancement, topic:physics

#20976 Add warning color to output log
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  editor/editor_themes.cpp
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor, usability

#20981 Case-aware autocomplete: prefer same case candidates
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, usability

#20982 Emit pressed events after processing items
  scene/gui/popup_menu.cpp
Labels: bug, cherrypick, topic:core

#20986 Add Dummy AudioDriver into the AudioDriverManager list
  servers/audio_server.cpp
Labels: enhancement, topic:audio

#20860 Fix border artifacts at the edge of deep parallax.
  scene/resources/material.cpp
Labels: bug, topic:rendering

#20826 fix #20390: handle time before year 1970
  core/bind/core_bind.cpp
  core/bind/core_bind.h
Labels: bug, topic:core

#20747 Do not call _update_actions when only changing deadzone
  editor/project_settings_editor.cpp
Labels: bug, topic:editor

#20773 [DOCS] complete Tree drag and drop related methods
  doc/classes/Tree.xml
Labels: cherrypick, documentation, enhancement

#20915 Show in File Manager Clarification
  editor/editor_file_dialog.cpp
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor

#21002 Reduce verbosity for unsupported GLES2 bg modes
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: enhancement, topic:rendering

#20999 Always show "Open in File Manager"
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#20993 Fix impossibility of removing folder which contains non-latin symbols
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting

#20992 Fix int(String) != int(int) conversion
  core/variant.cpp
  core/variant_call.cpp
Labels: bug, topic:core

#20876 Reset caret blink when Ctrl+moving the cursor
  scene/gui/text_edit.cpp
Labels: bug, cherrypick, topic:core, topic:editor, usability

#20848 Improve the 3D manipulator gizmo
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor

#20844 interpolation was not removed because of id mismatch
  scene/animation/tween.cpp
Labels: bug, topic:core

#20835 Tweak some editor button texts
  editor/plugins/spatial_editor_plugin.cpp
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#20772 Fix out of buffer read when copying from a non-null-terminated string
  core/ustring.cpp
  core/ustring.h
Labels: bug, cherrypick, topic:core

#20760 Improve the asset library download UX
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, topic:editor

#20744 Initialize default lock rotation in constructor
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#20665 Add method to manually advance AnimationTree and manual process mode.
  doc/classes/AnimationPlayer.xml
  doc/classes/AnimationTree.xml
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
Labels: feature proposal, topic:core

#20621 Adjust bottom panel's minimal height for the expand icon
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#20484 Add toggle for favorites in create_root_dialog
  editor/create_dialog.cpp
  editor/create_dialog.h
  editor/editor_file_system.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor, usability

#20443 Added String.format "no index" support
  core/ustring.cpp
Labels: enhancement, topic:core

#20400 Fixed a number of issues related to the Dictionary export property for the editor
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor

#20890 mono: add IsInstanceValid(), move WeakRef()
  modules/mono/glue/cs_files/GD.cs
  modules/mono/glue/cs_files/ObjectExtensions.cs
  modules/mono/glue/cs_files/VERSION.txt
Labels: enhancement, topic:mono

#20856 Add some curly braces to make dictionary printing less ambiguous
  core/variant.cpp
Labels: enhancement, topic:core

#20583 Fix case where exported properties value is lost
  core/object.cpp
  core/script_language.cpp
  core/script_language.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, topic:editor

#20997 Add a way to disable the split view in the FileSystem dock
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, usability

#20906 Fix ReferenceRect border
  doc/classes/ReferenceRect.xml
  scene/gui/reference_rect.cpp
  scene/gui/reference_rect.h
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:core

#18096 [Core] Split up math_2d.h
  core/image.h
  core/math/camera_matrix.h
  core/math/delaunay.h
  core/math/geometry.h
  core/math/math_2d.h
  core/math/math_defs.h
  core/math/math_funcs.h
  core/math/rect2.cpp
  core/math/rect2.h
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/triangulate.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/method_ptrcall.h
  core/os/input_event.h
  core/typedefs.h
  core/variant.h
  drivers/convex_decomp/b2d_decompose.h
  modules/csg/csg.h
  modules/gdnative/gdnative/pool_arrays.cpp
  modules/gdnative/gdnative/rect2.cpp
  modules/gdnative/gdnative/transform2d.cpp
  modules/gdnative/gdnative/vector2.cpp
  platform/uwp/os_uwp.h
  scene/2d/line_builder.h
  scene/gui/control.h
  scene/main/viewport.h
  scene/resources/texture.h
  servers/physics_2d/broad_phase_2d_sw.h
  servers/visual_server.h
  thirdparty/b2d_convexdecomp/b2Glue.h
  thirdparty/misc/triangulator.h
Labels: enhancement, topic:core

#21008 Fixes initialization of action list
  core/project_settings.cpp
Labels: bug, topic:core

#20945 Dictionary: remove erase_checked(key), make erase(key) return bool
  core/dictionary.cpp
  core/dictionary.h
  core/variant_call.cpp
  modules/mono/glue/collections_glue.cpp
Labels: enhancement, topic:core

#20873 Allow middle-click to close scripts
  editor/plugins/script_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#21010 Changes to the TileSet and TextureRegion editors
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
Labels: enhancement, topic:editor, usability

#20941 Fix handling of normals that approach 1
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
Labels: bug, topic:rendering

#21007 Disable camera interpolation when switching scene tabs
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#21040 Fix not to show configuration warning on every node has script
  scene/main/node.cpp
Labels: bug, topic:editor

#20560 Add custom icons to script classes.
  core/script_language.h
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/property_editor.cpp
  editor/scene_tree_dock.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: feature proposal, topic:editor, topic:gdscript, usability

#21021 Fixed error spam in create node dialog with custom types.
  editor/create_dialog.cpp
Labels: bug, topic:editor

#21053 Doc: Clarify usage of dialog_hide_on_ok and caveat for FileDialog
  doc/classes/AcceptDialog.xml
Labels: documentation, enhancement, topic:core

#21044 Fix error spam from loading script class icons
  editor/create_dialog.cpp
  modules/gdscript/gdscript.cpp
Labels: bug, topic:editor

#21045 [gles2] fix black bar artifacts
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#21022 Ability to create TextFiles.
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor

#21023 Fix re-opening of TextFiles when its already being edited.
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#21063 Fix debugger icon for warnings
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
Labels: enhancement, topic:editor, usability

#21062 PopupMenu item_pressed is sent before checking hide flags.
  scene/gui/popup_menu.cpp
Labels: bug, topic:core

#21069 Delay initializing lens distortion shader so GLES2 doesn't crash
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/mobile_vr/mobile_vr_interface.h
Labels: bug, topic:arvr

#20804 add `project` method to Vector2/3
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.h
  core/variant_call.cpp
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  servers/physics_2d/joints_2d_sw.cpp
Labels: feature proposal, topic:core

#21081 Fix crash assigning script to a Resource
  editor/editor_properties.cpp
Labels: bug, cherrypick, topic:editor

#21067 Particles2D: set emitting if not set before generating Visibility Rect
  editor/plugins/particles_2d_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
Labels: enhancement, topic:editor

#21046 Fixed custom nodes not working with favorites and recently used
  editor/create_dialog.cpp
Labels: bug, topic:editor

#21047 Tween: Always remove the desired InterpolateData when finished
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: bug, topic:core

#20561 Add NativeScript support for script classes via exported script properties.
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
Labels: feature proposal, topic:gdnative

#21090 Delay emitting pressed signals in PopupMenu
  scene/gui/popup_menu.cpp
Labels: bug, cherrypick, topic:editor

#21089 Replace XRaiseWindow with a _NET_ACTIVE_WINDOW ClientRequest
  platform/x11/os_x11.cpp
Labels: bug, cherrypick, platform:linuxbsd, topic:editor

#21091 Call minimum_size_changed() in PopupMenu::remove_item()
  scene/gui/popup_menu.cpp
Labels: bug, cherrypick, topic:core

#21099 Fix error icon color for light themes
  editor/editor_themes.cpp
Labels: bug, topic:editor, usability

#21108 Export dialog: Fix error color and link alignment
  editor/project_export.cpp
Labels: bug, cherrypick, topic:editor, usability

#21116 Mono: Improve C# core files (glue/cs_files) buildsystem
  modules/mono/SCsub
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/glue/cs_files/VERSION.txt
Labels: enhancement, topic:buildsystem, topic:mono, usability

#21117 Bind ItemList's item_custom_fg_color methods
  doc/classes/ItemList.xml
  scene/gui/item_list.cpp
Labels: cherrypick, enhancement, topic:core

#21115 Fixed typo in detect.py
  platform/android/detect.py
Labels: enhancement, platform:android, topic:buildsystem

#21130 [DOCS] Updates to assorted class descriptions.
  doc/classes/ColorPicker.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/ColorRect.xml
  doc/classes/Control.xml
Labels: cherrypick, documentation, enhancement

#21085 Change PhysicsMaterial extension to phymat
  scene/resources/physics_material.h
Labels: enhancement, topic:physics

#20965 Batch GLES2 draw calls
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles2/shader_gles2.cpp
  drivers/gles2/shader_gles2.h
  drivers/gles2/shaders/canvas.glsl
Labels: enhancement, topic:rendering

#21159 Fixed text entry is going in reverse
  editor/editor_properties.cpp
Labels: bug, topic:editor

#21161 Fix args count mismatch in property_changed signal
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: bug, topic:editor, usability

#21132 Fix errors during removing files or folders and fix for latin symbols
  platform/windows/os_windows.cpp
Labels: bug, cherrypick, platform:windows, topic:core

#21155 Fixes colorpicker popup immeditately closing when interacting with co…
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: bug, topic:editor, usability

#21179 Support debug_symbols in VS optimized builds
  platform/windows/detect.py
Labels: enhancement, platform:windows, topic:buildsystem

#21176 [DOCS] Many class ref updates
  doc/classes/BakedLightmap.xml
  doc/classes/DirectionalLight.xml
  doc/classes/InputEventKey.xml
  doc/classes/InputMap.xml
  doc/classes/KinematicBody2D.xml
  doc/classes/Light.xml
  doc/classes/OmniLight.xml
  doc/classes/ProgressBar.xml
  doc/classes/Range.xml
  doc/classes/TileSet.xml
  doc/classes/Viewport.xml
Labels: cherrypick, documentation, enhancement

#20893 Add option to convert from height map to depth map
  editor/import/resource_importer_texture.cpp
Labels: enhancement, topic:rendering

#21129 Fix the 3D grid flickering when the origin is enabled
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: bug, topic:editor

#21182 Highlight multiline strings as strings instead of comments
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:editor, usability

#21183 Allow matrixes in varyings
  servers/visual/shader_language.cpp
Labels: bug, topic:core, topic:rendering

#21197 Bullet ray picking should ignore objects with input_ray_pickable=false
  modules/bullet/godot_result_callbacks.cpp
Labels: bug, topic:physics

#21166 Find in Files improvements
  editor/find_in_files.cpp
  editor/find_in_files.h
Labels: enhancement, topic:editor, usability

#21192 Fix crash when setting Material's next pass to itself
  scene/resources/material.cpp
Labels: bug, topic:core, topic:rendering

#21195 changed search help selection color
  editor/editor_help.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor, usability

#21208 Prevent "cannot use a string pattern on a bytes-like object"
  modules/mono/config.py
Labels: bug, topic:buildsystem, topic:mono

#21211 Added FRAGCOORD to spatial light shader
  servers/visual/shader_types.cpp
Labels: bug, topic:core, topic:rendering

#21216 Port ImportDock and ProjectExport to new property editor (2nd try)
  editor/import_dock.cpp
  editor/import_dock.h
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor

#21224 Remove a stray semicolon
  editor/editor_plugin_settings.h
Labels: bug, topic:editor

#21148 Add PROPERTY_HINT_PLACEHOLDER_TEXT for String properties
  core/global_constants.cpp
  core/object.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  modules/gdnative/include/nativescript/godot_nativescript.h
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
  platform/windows/export/export.cpp
Labels: enhancement, topic:editor, usability

#21239 Fix occasional crash when downloading assets from the Asset Library
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, topic:assetlib

#21234 [EditorInspector] Fix ImportDock and ProjectExport capitalize
  editor/editor_inspector.cpp
Labels: bug, enhancement, topic:editor

#21233 fix Android/HTML5 custom templates option does not work
  platform/android/export/export.cpp
  platform/javascript/export/export.cpp
Labels: enhancement, platform:android, platform:html5, topic:editor

#21228 Fix arg name in docs, some copy-paste errors
  core/input_map.cpp
  editor/spatial_editor_gizmos.cpp
  scene/2d/skeleton_2d.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/resources/mesh.cpp
  scene/resources/texture.cpp
  servers/audio_server.cpp
  servers/visual_server.cpp
Labels: bug, cherrypick, topic:core

#21220 Fix crash while importing corrupt wav
  editor/import/resource_importer_wav.cpp
  servers/audio/effects/audio_effect_record.cpp
Labels: bug, topic:audio, topic:import

#21241 Reset reason text when no longer connected
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor

#20922 HTML5: use console.warn instead of Module.printErr
  platform/javascript/http_request.js
  platform/javascript/javascript_eval.cpp
  platform/javascript/os_javascript.cpp
Labels: enhancement, platform:html5, topic:porting

#21260 CI: Disable debug_release on Travis/AppVeyor
  .appveyor.yml
  .travis.yml
  platform/windows/detect.py
Labels: cherrypick, enhancement, topic:buildsystem

#21248 Remove circle/diamond String constants
  core/variant_call.cpp
Labels: enhancement, topic:gdscript

#20101 Expose bullet shape margin to UI.
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
  scene/resources/shape.cpp
  scene/resources/shape.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics_server.h
Labels: enhancement, topic:physics

#21266 Added area / body collision exception in raycast
  core/class_db.h
  modules/bullet/godot_result_callbacks.cpp
  modules/bullet/godot_result_callbacks.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
  scene/3d/ray_cast.cpp
  scene/3d/ray_cast.h
  servers/physics/space_sw.cpp
  servers/physics/space_sw.h
  servers/physics_server.cpp
  servers/physics_server.h
Labels: enhancement, topic:physics

#21267 Deprecate incorrect Color::gray()
  core/color.cpp
  core/image.cpp
  modules/mono/glue/cs_files/Color.cs
  scene/2d/collision_shape_2d.cpp
Labels: enhancement, topic:core

#21263 Fix grab/select of gradient edit
  scene/gui/gradient_edit.cpp
Labels: bug, topic:editor

#21253 Rename Plane constants, add to Mono
  core/variant_call.cpp
  modules/mono/glue/cs_files/Plane.cs
Labels: enhancement, topic:core, topic:mono

#21250 == and != operators for Ref<T> / T*
  core/reference.h
  scene/resources/material.cpp
Labels: enhancement, topic:core

#21245 Take CanvasLayer transform into account for 2D physics
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
  scene/2d/collision_object_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/main/canvas_layer.cpp
  scene/main/canvas_layer.h
Labels: bug, topic:physics

#21236 Try closing gracefully before terminating process
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  editor/editor_run.cpp
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, topic:porting

#21252 Disable scripting and physics early in EditorNode
  editor/editor_node.cpp
Labels: bug, topic:editor

#18502 assembly_load_hook fallback for registering GDMonoAssemblies.
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_assembly.h
Labels: bug, topic:mono

#21275 Mono: Fix weird crash when loading corlib
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_assembly.h
Labels: bug, topic:mono

#21274 Fix MeshLibrary editor
  editor/editor_node.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.h
Labels: bug, topic:editor

#21256 BPTC support
  COPYRIGHT.txt
  core/color.cpp
  core/color.h
  core/image.cpp
  core/image.h
  core/io/resource_import.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  editor/editor_export.cpp
  editor/editor_export.h
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
  editor/project_settings_editor.cpp
  modules/cvtt/SCsub
  modules/cvtt/config.py
  modules/cvtt/image_compress_cvtt.cpp
  modules/cvtt/image_compress_cvtt.h
  modules/cvtt/register_types.cpp
  modules/cvtt/register_types.h
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
  servers/visual_server.cpp
  thirdparty/README.md
  thirdparty/cvtt/ConvectionKernels.cpp
  thirdparty/cvtt/ConvectionKernels.h
  thirdparty/cvtt/ConvectionKernels_BC7_SingleColor.h
  thirdparty/cvtt/LICENSE.txt
Labels: feature proposal, topic:core, topic:rendering

#21281 Fix Squish SSE misconfiguration
  modules/squish/image_compress_squish.cpp
  thirdparty/squish/config.h
Labels: bug, topic:buildsystem
