Repository godotengine/godot, pull requests merged in 2018-02, with the labels that each got.

#16514 add NativeScript extension 1
  modules/gdnative/SCsub
  modules/gdnative/doc_classes/NativeScript.xml
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdnative/nativescript/godot_nativescript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/nativescript/register_types.cpp
Labels: cherrypick, enhancement, topic:gdnative

#16539 Fix GDNATIVE_API_INIT() warning about sign mismatch
  modules/gdnative/SCsub
Labels: enhancement, topic:gdnative

#16558 gdnative_api.json: Change argument name to r_dest
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/variant.h
Labels: topic:gdnative

#16328 Fix UX with project settings search functionality
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Labels: cherrypick, enhancement, topic:editor, usability

#15499 Changes for the "Recent Scripts" menu
  editor/editor_settings.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor, usability

#15525 Small changes to the "Recent Scenes" menu
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#16306 [DOCS] parse_json: Objects do not keep key order
  doc/classes/@GDScript.xml
  doc/classes/JSON.xml
  doc/classes/JSONParseResult.xml
Labels: cherrypick, documentation, enhancement

#16332 Capitalized "View" menu options
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: cherrypick, enhancement, topic:editor

#16321 Fix gizmo solid box mesh being added twice
  editor/spatial_editor_gizmos.cpp
Labels: bug, cherrypick, topic:editor

#16373 Disable scene tree shortcuts when in a text field
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick, topic:editor, usability

#16374 Drop path text at mouse pos
  editor/plugins/script_text_editor.cpp
Labels: cherrypick, enhancement, topic:editor, usability

#16401 Fixed wrong example in JSONParseResult
  doc/classes/JSONParseResult.xml
Labels: cherrypick, documentation, enhancement

#16402 Draw the Camera gizmo more accurately
  editor/spatial_editor_gizmos.cpp
Labels: bug, cherrypick, topic:editor

#16410 Fix timeline track name overlapping keyframe area
  editor/animation_editor.cpp
Labels: bug, cherrypick, topic:editor

#16424 Added physics API in order to enable/disable collisions between rigidbody attached to a joint with bullet physics bullet
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/constraint_bullet.cpp
  modules/bullet/constraint_bullet.h
  scene/2d/joints_2d.cpp
  scene/3d/physics_joint.cpp
  servers/physics/constraint_sw.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics_2d/constraint_2d_sw.h
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
  servers/physics_2d/physics_2d_server_wrap_mt.h
  servers/physics_2d_server.h
  servers/physics_server.h
Labels: bug, cherrypick, topic:physics

#16432 SpinBoxes calculate correctly their width before first redraw.
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: bug, cherrypick, topic:core

#16433 Remove debugging prints related to the asset library
  editor/plugins/asset_library_editor_plugin.cpp
  modules/openssl/stream_peer_openssl.cpp
Labels: cherrypick, enhancement, topic:editor

#16463 3DEditor: fix selecting node in viewport not update inspector
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#16474 Fix compilation errors with FreeBSD and libwebsocket
  thirdparty/lws/lws_config_private.h
Labels: bug, platform:linuxbsd, topic:buildsystem

#16551 Add and use mono build variables with cloned environment.
  modules/mono/SCsub
Labels: bug, topic:mono

#16518 Fixed members overview not scrolling to correct line
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, usability

#16422 Fixed #15082: line edit emits two "text_changed" signals when pasting while text is selected
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: bug, cherrypick, topic:core

#16669 Fix broken APK expansion due to missed option renames
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java_glue.cpp
Labels: bug, cherrypick, platform:android, topic:porting

#16667 Add a function to remove controls from containers
  doc/classes/EditorPlugin.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: cherrypick, enhancement, topic:editor, topic:plugin

#16648 Added OS::center_window to center the window precisely on desktop platforms
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: enhancement, topic:core

#13930 Added OS::center_window to center the window precisely on desktop platforms
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: enhancement, topic:porting

#16654 Add Xbox One Elite and Xbox 360 Afterglow pads (Linux)
  main/input_default.cpp
Labels: cherrypick, enhancement, topic:core

#16659 Expose priority and order for custom import plugins
  doc/classes/EditorImportPlugin.xml
  editor/import/editor_import_plugin.cpp
  editor/import/editor_import_plugin.h
Labels: enhancement, topic:editor, topic:plugin

#16385 fix buffer write performance
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
Labels: cherrypick, enhancement, topic:core

#16407 Always detect and use hiDPI in the project manager if needed
  main/main.cpp
Labels: bug, cherrypick, topic:editor

#16647 AndroidModule GodotPaymentsV3 - emit signal when connected (2.1)
  platform/android/java/src/org/godotengine/godot/GodotPaymentV3.java
  platform/android/java/src/org/godotengine/godot/payments/PaymentsManager.java
Labels: bug, enhancement, platform:android, topic:plugin

#16547 Fixes gravity calculation for kinematic bodies in Bullet
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, topic:physics

#16681 Added return true o collide when no rusult is NULL
  modules/bullet/space_bullet.cpp
Labels: bug, cherrypick, topic:physics

#16677 Added "allow_reselect" property to ItemList and enabled it for the method/help lists
  doc/classes/ItemList.xml
  editor/plugins/script_editor_plugin.cpp
  scene/gui/item_list.cpp
  scene/gui/item_list.h
Labels: enhancement, topic:core

#16666 Use generic joystick define (Linux platforms) (2.1)
  main/input_default.cpp
Labels: enhancement, platform:linuxbsd, topic:core

#16408 Remove a few debugging prints
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/arvr_server.cpp
Labels: enhancement, topic:editor

#14804 Fixed android arm64v8
  modules/webm/libvpx/SCsub
  platform/android/detect.py
  thirdparty/libvpx/vpx_config.h
Labels: bug, platform:android, topic:buildsystem

#16690 Fixed small typos in the SConstruct file
  SConstruct
Labels: enhancement, topic:buildsystem

#16671 fix buffer write performance on Windows and Unix
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
Labels: bug, topic:core

#16663 Fix #16543 (Add ability to copy errors from debugger)
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
Labels: cherrypick, enhancement, topic:editor, usability

#16331 Fixed Mono builds on macOS (pkgconfig detection of mono)
  modules/mono/config.py
Labels: bug, platform:osx, topic:buildsystem, topic:mono

#16288 Make parent folder selectable
  editor/filesystem_dock.cpp
Labels: bug, cherrypick, topic:editor, usability

#16269 Bugfix: Add "undo" mechanism to the "Clear" action
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#16176 Show default values in docs for GDScript built-in functions
  editor/doc/doc_data.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_functions.cpp
Labels: cherrypick, documentation, enhancement, topic:gdscript

#16169 Change function signature from float to double to match type get_doub…
  core/io/stream_peer.cpp
  core/io/stream_peer.h
Labels: bug, topic:core

#15903 Fixes GridContainer and SplitContainer wrong layouting
  scene/gui/grid_container.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Labels: bug, cherrypick, topic:core

#15892 Added all missing VisualServer bindings
  core/class_db.cpp
  core/class_db.h
  core/make_binders.py
  servers/visual_server.cpp
  servers/visual_server.h
Labels: enhancement, topic:core

#15875 Improved WASAPI driver so that it always uses the default audio device
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: cherrypick, enhancement, platform:windows, topic:audio

#15874 Improved WASAPI driver so that it always uses the default audio device
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: enhancement, topic:audio

#15864 Implement more methods for OS on Desktop platforms
  doc/classes/OS.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/detect.py
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: cherrypick, enhancement, topic:porting

#15862 Make KEY_ESCAPE close all output/debugger docks on bottom
  editor/editor_node.cpp
Labels: enhancement, topic:editor, usability

#12709 Parallax Fixes for dealing with Camera Scale
  scene/2d/camera_2d.cpp
  scene/2d/parallax_background.cpp
  scene/2d/parallax_background.h
  scene/2d/parallax_layer.cpp
  scene/2d/parallax_layer.h
Labels: enhancement, topic:core

#15855 The TextureButton's bitmask takes into account the stretch mode selected
  scene/gui/texture_button.cpp
  scene/gui/texture_button.h
Labels: cherrypick, enhancement, topic:core

#15799 Expose 'lightmap_unwrap' method to the scripting engine.
  scene/resources/mesh.cpp
Labels: cherrypick, enhancement, topic:core

#15741 Fix bug when launching a game with no main scene
  main/main.cpp
Labels: bug, cherrypick, topic:core

#15713 Display path to preloaded res + button to open it
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.h
Labels: enhancement, topic:editor

#15711 Fixes wrong vertical font layout in RichTextLabel
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, cherrypick, topic:core

#15710 Fixed sky reflection rendering when transparent BG
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering

#15618 TextEdit folding over unindented comments
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#15592 set a better initial size to TextEdit nodes
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:editor, usability

#15582 Some small fixes for the "Attach Script" dialog
  editor/script_create_dialog.cpp
Labels: bug, topic:editor

#15574 Change 'Build Project' button style in Mono panel
  modules/mono/editor/mono_bottom_panel.cpp
Labels: enhancement, topic:editor, usability

#15570 Fix crash on save-branch-as-scene (2.1)
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#15565 Add new window setting: always-on-top (2.1)
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  main/main.cpp
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: feature proposal, platform:linuxbsd, platform:osx, platform:windows, topic:porting

#15564 Add new window setting: always on top
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  main/main.cpp
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: feature proposal, platform:linuxbsd, platform:osx, platform:windows, topic:porting

#15544 Fixed "Attach Script" dialog's file dialog labeling
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: enhancement, topic:editor, usability

#15505 Re-enabled type icons
  editor/property_editor.cpp
Labels: bug, enhancement, topic:editor

#15492 Select root node if search_box is empty in create_dialog
  editor/create_dialog.cpp
Labels: enhancement, topic:editor, usability

#15399 Load needed editor translation only on demand
  editor/editor_settings.cpp
  editor/editor_settings.h
Labels: enhancement, topic:editor

#15523 Change primitive meshes acccuracy value
  scene/resources/primitive_meshes.cpp
Labels: enhancement, topic:editor, usability

#15379 Filesystem and Visual Script Members delete key fix
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: enhancement, topic:editor

#15260 Add open feature to editor autoload settings
  editor/editor_autoload_settings.cpp
  editor/editor_autoload_settings.h
Labels: enhancement, topic:editor, usability

#15193 Rounded previews (and nicer script previews)
  editor/plugins/editor_preview_plugins.cpp
Labels: enhancement, topic:editor

#15261 Add open feature to editor autoload settings For 2.1
  editor/editor_autoload_settings.cpp
  editor/editor_autoload_settings.h
Labels: enhancement, topic:editor, usability

#16711 Clear function made godot crashing because line_number is below 0 (2.1.5-beta)
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#16698 Godot 2 to 3 exporter changes file extensions.
  editor/editor_export_godot3.cpp
Labels: enhancement, topic:editor

#16693 Fix for a possible compile error under OS X
  drivers/coreaudio/audio_driver_coreaudio.cpp
  editor/editor_help.cpp
  editor/editor_help.h
Labels: bug, topic:editor

#16726 Fixed members overview Index p_index out of size (2.1), issue 12189
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#16728 Documentation tool does not add escapes to code and codeblocks unnecessarily
  doc/tools/makerst.py
Labels: bug, documentation

#16742 fix crash autotile edit mode
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#16748 Fix script previews
  editor/plugins/editor_preview_plugins.cpp
Labels: bug, topic:editor

#16653 Worked with Faless(Fabio Alessandrelli) to update server platform.
  SConstruct
  drivers/SCsub
  drivers/dummy/SCsub
  drivers/dummy/audio_driver_dummy.h
  drivers/dummy/rasterizer_dummy.h
  platform/server/SCsub
  platform/server/detect.py
  platform/server/os_server.cpp
  platform/server/os_server.h
Labels: enhancement, topic:network

#16754 X11: Link libgcc statically with use_static_cpp option
  platform/x11/detect.py
Labels: bug, cherrypick, platform:linuxbsd, topic:buildsystem

#16762 Improve/fix fullscreen on X11 (2.1)
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#16767 Direct to InputEventJoypadButton for using buttons
  doc/classes/InputEventJoypadMotion.xml
Labels: bug, documentation

#16753 Update CA certificates to latest Mozilla bundle
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Labels: cherrypick, enhancement, topic:network

#16759 Enforce insert_final_newline in the editorconfig.
  .editorconfig
Labels: enhancement

#16702 Add locale renames for Hebrew and Indonesian on Windows
  core/translation.cpp
Labels: cherrypick, enhancement, platform:windows, topic:core

#16776 Clean up some bad words from code comments
  core/io/file_access_network.cpp
  core/io/resource_format_binary.cpp
  drivers/unix/os_unix.cpp
  editor/animation_editor.cpp
  editor/editor_resource_preview.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  scene/2d/line_builder.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
  scene/gui/tree.cpp
  scene/main/node.h
  servers/audio/audio_filter_sw.cpp
  servers/physics/shape_sw.cpp
  servers/physics_2d/shape_2d_sw.cpp
Labels: enhancement, topic:core

#16724 Bugfix: Godot engine crashes due to _clear function
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#16781 HTML5 HTTPClient fixes
  platform/javascript/http_client.h.inc
  platform/javascript/http_client_javascript.cpp
Labels: bug, cherrypick, platform:html5, topic:network

#16780 Mono: Fix build status icons
  modules/mono/editor/mono_bottom_panel.cpp
Labels: cherrypick, enhancement, topic:editor, topic:mono, usability

#16758 Ignore tools CLI flags in non-tools-builds.
  main/main.cpp
Labels: bug, topic:core

#16770 C# Signal attribute
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/cs_files/SignalAttribute.cs
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_class.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_method.h
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
Labels: enhancement, topic:mono

#16774 Fix #16773 (Rename "Install" to "Download" in AssetLib)
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, usability

#16795 Fix for Parallax Mirroring regression introduced by pull request #12709
  scene/2d/parallax_layer.cpp
Labels: bug, topic:core

#15235 Enhanced Toggle Visibility button in scene tree editor
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability

#15239 Enhanced Toggle Visibility button in Scene tree editor
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability

#16548 Fix wrong signal emission (2.1)
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#16785 Remove some debugging prints on Android
  platform/android/audio_driver_jandroid.cpp
  platform/android/audio_driver_opensl.cpp
  platform/android/dir_access_jandroid.cpp
  platform/android/file_access_jandroid.cpp
  platform/android/godot_android.cpp
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java_class_wrapper.cpp
  platform/android/java_glue.cpp
Labels: enhancement, platform:android, topic:porting

#16792 fixed md script
  doc/tools/makemd.py
Labels: documentation, enhancement

#16747 Give C# NodePath a ToString().
  modules/mono/editor/bindings_generator.cpp
Labels: cherrypick, enhancement, topic:mono

#16746 Makes NodePath and RID follow PascalCase in C#.
  modules/mono/editor/bindings_generator.cpp
Labels: cherrypick, enhancement, topic:mono

#16749 Makes project manager never initialize mono debug.
  main/main.cpp
  main/main.h
  modules/mono/mono_gd/gd_mono.cpp
Labels: cherrypick, enhancement, topic:mono

#16326 [Mono] Basis values now marshalled in the correct order.
  modules/mono/glue/cs_files/Basis.cs
  modules/mono/mono_gd/gd_mono_marshal.h
Labels: bug, cherrypick, topic:mono

#16810 Force controls to save rect_clip_content
  scene/gui/control.cpp
Labels: bug, topic:core

#16755 Gridmap editor now lists plane instead of floor when not horizontal
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: enhancement, topic:editor

#16816 OSX: Remove support for 32-bit and fat binaries
  platform/osx/crash_handler_osx.mm
  platform/osx/detect.py
  platform/osx/export/export.cpp
Labels: cherrypick, enhancement, platform:osx, topic:buildsystem

#16819 Prevent loading project-specific config in Project Manager
  main/main.cpp
Labels: bug, topic:core

#16822 Fix timer second not zero padded when < 10
  scene/3d/baked_lightmap.cpp
Labels: enhancement, topic:editor

#16825 Improve error reporting of ProjectSettings::setup()
  core/project_settings.cpp
  core/project_settings.h
  editor/project_manager.cpp
Labels: bug, enhancement, topic:core

#16794 Adds some missing shader built-in functions
  servers/visual/shader_language.cpp
Labels: enhancement, topic:core

#16752 Delete all selected lines using the "delete line" shortcut in script editor
  editor/plugins/script_text_editor.cpp
Labels: bug, topic:editor, usability

#16566 2D Editor GUI input rework
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  scene/2d/animated_sprite.cpp
  scene/2d/animated_sprite.h
  scene/2d/canvas_item.h
  scene/2d/light_2d.cpp
  scene/2d/light_2d.h
  scene/2d/node_2d.cpp
  scene/2d/polygon_2d.cpp
  scene/2d/polygon_2d.h
  scene/2d/sprite.cpp
  scene/2d/sprite.h
  scene/gui/base_button.cpp
  scene/gui/control.cpp
Labels: bug, enhancement, topic:editor

#16738 Made modifications to the RigidBody(2D) descriptions
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
Labels: documentation, enhancement

#16697 Add Option to disable sort in script list
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, topic:editor

#16675 [X11] Improving error detection in move_to_trash
  drivers/unix/dir_access_unix.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:core

#16583 Add import option "scale_mesh" to obj file importer
  editor/import/resource_importer_obj.cpp
Labels: cherrypick, enhancement, topic:editor

#16491 Make status bar label fonts updateable
  editor/code_editor.cpp
  editor/code_editor.h
Labels: enhancement, topic:editor

#16430 Download export templates to a file (instead of memory) using separate thread
  editor/export_template_manager.cpp
Labels: cherrypick, enhancement, topic:editor

#16241 Added zoom label to code editor
  editor/code_editor.cpp
  editor/code_editor.h
Labels: enhancement, topic:editor

#16173 Add argument count check for some GDScript functions
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#16060 Exposed apply_torque_impulse to gdscript
  doc/classes/RigidBody.xml
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Labels: enhancement, topic:physics

#15933 fix spurious error messages during autocomplete and validate
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick, topic:gdscript

#15852 Add Color.from_hsv()
  core/color.cpp
  core/color.h
  core/variant_call.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:core

#15780 Support colored font
  modules/freetype/SCsub
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: enhancement, topic:core

#15563 Add shuffle() method to Array
  core/array.cpp
  core/array.h
  core/variant_call.cpp
  doc/classes/Array.xml
Labels: feature proposal, topic:core

#15306 Boost drawing speed of ItemLists with many items
  scene/gui/item_list.cpp
Labels: enhancement, topic:core

#14433 Makes 3D editor grid color update without restart.
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#16709 Enable EditorPlugin to add/remove autoloads
  editor/editor_autoload_settings.cpp
  editor/editor_autoload_settings.h
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/project_settings_editor.h
Labels: enhancement, topic:plugin

#16652 Fix quotation in string
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#16530 Improved ray shape (2D and 3D) by addiing the possibility to act as r…
  modules/bullet/btRayShape.cpp
  modules/bullet/btRayShape.h
  modules/bullet/godot_ray_world_algorithm.cpp
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
  scene/resources/ray_shape.cpp
  scene/resources/ray_shape.h
  scene/resources/segment_shape_2d.cpp
  scene/resources/segment_shape_2d.h
  servers/physics/collision_solver_sw.cpp
  servers/physics/shape_sw.cpp
  servers/physics/shape_sw.h
  servers/physics_2d/collision_solver_2d_sw.cpp
  servers/physics_2d/shape_2d_sw.cpp
  servers/physics_2d/shape_2d_sw.h
Labels: enhancement, topic:physics

#16098 Added --quit and --build-solutions cmd line options to make CI pipelines possible
  editor/editor_node.cpp
  editor/editor_node.h
  main/main.cpp
Labels: cherrypick, enhancement, topic:editor

#16843 Made the Debugger's Stack Frames items reselectable
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor

#16845 [Mono] Fixed "expression did not evaluate to a constant" compiler error for Windows.
  modules/mono/mono_gd/gd_mono_method.cpp
Labels: bug, topic:mono

#16455 Keep to show current script when closing all docs
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Labels: bug, cherrypick, topic:editor, usability

#16834 Fix a rendering bug with screen_texture
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, cherrypick, topic:rendering

#16718 Add refraction possibility when triplanar uv mode enabled
  scene/resources/material.cpp
Labels: bug, topic:core, topic:rendering

#16467 using TIME in light shader enables uses_fragment_time
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shader_compiler_gles3.h
Labels: bug, cherrypick, topic:rendering

#15985 Handle single-argument constructors in uniform default values
  servers/visual/shader_language.cpp
Labels: bug, cherrypick, topic:core, topic:rendering

#16856 Draw relationship line on scene tree dock if option is on
  editor/scene_tree_editor.cpp
Labels: bug, cherrypick, topic:editor, usability

#16757 Improved kinematic body, Now can move rigid body
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/godot_result_callbacks.cpp
  modules/bullet/godot_result_callbacks.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics/space_sw.cpp
  servers/physics/space_sw.h
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
  servers/physics_2d/physics_2d_server_wrap_mt.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_2d/space_2d_sw.h
  servers/physics_2d_server.cpp
  servers/physics_2d_server.h
  servers/physics_server.h
Labels: bug, topic:physics

#16861 Clarified what the Tree's signals "item_activated" and "item_double_clicked" do
  doc/classes/Tree.xml
Labels: cherrypick, documentation, enhancement

#16874 Mention about BaseButton.toggle_mode in ButtonGroup description
  doc/classes/ButtonGroup.xml
Labels: cherrypick, documentation, enhancement

#16876 Added forgotten infinite_inertia to bindings
  scene/2d/physics_body_2d.cpp
Labels: bug, topic:physics

#16869 Fixed Remote Tree not drawing relationship lines unless the setting is changed
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor, usability

#16805 Fix Automatic switch to viewport when playing a scene
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, usability

#16878 Godot now allows built-in irrespective of the filepath.
  editor/script_create_dialog.cpp
Labels: bug, cherrypick, topic:editor

#16772 Tileset Editor Improvement
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: enhancement, topic:editor, usability

#16865 Fix mbedTLS and websocket module for UWP
  modules/websocket/SCsub
  platform/uwp/detect.py
  platform/windows/detect.py
  thirdparty/mbedtls/library/entropy_poll.c
  thirdparty/mbedtls/library/net_sockets.c
  thirdparty/mbedtls/library/x509_crt.c
Labels: bug, platform:uwp, topic:buildsystem, topic:thirdparty
