Repository godotengine/godot, pull requests merged in 2018-07, with the labels that each got.

#19886 Fixes #19845 no 3d Compilation issue
  scene/3d/skeleton.cpp
  scene/3d/skeleton.h
Labels: bug, topic:buildsystem

#19851 Corrected art depo link in editor icons readme.
  editor/icons/README.md
Labels: documentation, enhancement

#19871 Fix performance for godot's interface
  scene/gui/control.cpp
  scene/gui/item_list.cpp
Labels: bug, topic:core

#19875 Fix underline_meta not working in RichTextLabel
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#19905 Removed two skeleton parameter from compilation width no 3d
  scene/3d/skeleton.h
Labels: bug, topic:buildsystem

#19921 Document return value of yield() with signals
  doc/classes/@GDScript.xml
Labels: cherrypick, documentation, enhancement

#19819 Change the neighbours vector to a set in AStar
  core/math/a_star.cpp
  core/math/a_star.h
Labels: bug, topic:core

#19843 Fix the DynamicFont hinting setting being ineffective
  scene/resources/dynamic_font.cpp
Labels: bug, topic:core

#19639 Re-scan only when actually moving file
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor, usability

#19802 Fixed project settings overrides not using custom feature tags.
  core/project_settings.cpp
Labels: bug, topic:core

#19708 Fix touch issues on Windows
  platform/windows/os_windows.cpp
Labels: bug, cherrypick, platform:windows, topic:input

#19635 Add proper type information to array property
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#19634 Remove shortcut conflict
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:input, usability

#19565 Re-enable scrolling via selecting code beyond edges in text_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#19682 Prevent redraws when an inactive Particles2D node is present
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, cherrypick, topic:rendering

#18305 Move the deadzone to a column in the input project settings
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Labels: enhancement, topic:editor

#19398 Remove default non-zero left margin
  scene/resources/default_theme/default_theme.cpp
Labels: breaks compat, bug, topic:core

#19251 Small changes to the comments in the script templates
  editor/plugins/script_editor_plugin.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/mono/csharp_script.cpp
Labels: enhancement, topic:gdscript, topic:mono

#19246 Hinge Joint Inspector - Change range for motor target velocity and params bias values
  scene/3d/physics_joint.cpp
Labels: enhancement, topic:editor, topic:physics

#19244 Increases settings apply speed and added deferred color setting to ColorPicker
  doc/classes/ColorPicker.xml
  editor/project_settings_editor.cpp
  editor/property_editor.cpp
  editor/settings_config_dialog.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, topic:editor, usability

#19205 Pause AudioStreamPlayer when SceneTree pauses
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/audio/audio_player.cpp
  scene/audio/audio_player.h
Labels: enhancement, topic:audio

#19192 Add a message when there is nothing to Undo or Redo
  core/undo_redo.cpp
  core/undo_redo.h
  editor/editor_node.cpp
  editor/editor_node.h
Labels: feature proposal, topic:core, topic:editor

#19934 Change required gles version to 2 for android
  platform/android/AndroidManifest.xml.template
Labels: enhancement, platform:android, topic:porting

#19156 Fix unable to remove split on Polygon 2D editor after restarting editor
  editor/plugins/polygon_2d_editor_plugin.cpp
Labels: bug, topic:editor

#19166 Changed "Syntax Menu" into radio Menu
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: enhancement, topic:editor

#18976 Add new get_stack function to get GDScript stack trace as array
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
Labels: feature proposal, topic:gdscript

#18634 Fixes the bad calculation of margin & anchors when child of Node2D
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/2d/animated_sprite.cpp
  scene/2d/animated_sprite.h
  scene/2d/back_buffer_copy.cpp
  scene/2d/back_buffer_copy.h
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
  scene/2d/light_2d.cpp
  scene/2d/light_2d.h
  scene/2d/screen_button.cpp
  scene/2d/screen_button.h
  scene/2d/sprite.cpp
  scene/2d/sprite.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/gui/control.cpp
  scene/gui/control.h
Labels: breaks compat, bug, topic:core

#17438 get_word_at_pos considers simple and double quotes
  scene/gui/text_edit.cpp
Labels: enhancement, topic:core

#17582 Tile randomizer for tilemap editor.
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: enhancement, topic:editor

#16944 Added 'fill selection' command to grid map editor
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: enhancement, topic:editor

#16265 Fix error when downloading export templates
  editor/export_template_manager.cpp
  editor/export_template_manager.h
Labels: cherrypick, enhancement, topic:editor, usability

#19920 Makes the group dialog resizable
  editor/groups_editor.cpp
Labels: enhancement, topic:editor, usability

#19919 Add a new notification to detect crashes on native scripts
  core/os/main_loop.cpp
  core/os/main_loop.h
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  platform/osx/crash_handler_osx.mm
  platform/windows/crash_handler_win.cpp
  platform/x11/crash_handler_x11.cpp
  scene/main/scene_tree.cpp
Labels: enhancement, topic:core, topic:gdnative, usability

#19881 Fix error msg when selecting popupmenu if there is no animation selected
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor

#19873 Show current scene file in FileSystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, usability

#19853 Fix duplicate method on instanced node generates duplicated children.
  scene/main/node.cpp
Labels: bug, topic:core

#19828 Fix memory leak in GDScript during infinnity loops with yields
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Labels: bug, cherrypick, topic:core

#19799 Fix possible NullPointerException crash on cancel payment
  platform/android/java/src/org/godotengine/godot/payments/HandlePurchaseTask.java
Labels: bug, cherrypick, platform:android, topic:porting

#19816 Survive editor crash if a plugin scene's root is null.
  editor/editor_plugin.cpp
Labels: bug, topic:editor

#19938 [Regression] Fixed editor bad responsibility after #19244
  editor/project_settings_editor.cpp
  editor/settings_config_dialog.cpp
Labels: bug, topic:editor

#19940 changes to default C# script template
  modules/mono/csharp_script.cpp
Labels: bug, topic:editor, topic:mono

#19937 Fix loading and exporting of Theora and WebM video streams
  modules/theora/doc_classes/ResourceImporterTheora.xml
  modules/theora/register_types.cpp
  modules/theora/resource_importer_theora.cpp
  modules/theora/resource_importer_theora.h
  modules/theora/video_stream_theora.cpp
  modules/theora/video_stream_theora.h
  modules/webm/doc_classes/ResourceImporterWebm.xml
  modules/webm/register_types.cpp
  modules/webm/resource_importer_webm.cpp
  modules/webm/resource_importer_webm.h
  modules/webm/video_stream_webm.cpp
  modules/webm/video_stream_webm.h
Labels: bug, cherrypick, topic:import

#19882 Hide play position in animation editor if no animation node is selected
  editor/animation_track_editor.cpp
Labels: enhancement, topic:editor

#19824 Fix selection in 3D orthogonal view
  editor/plugins/spatial_editor_plugin.cpp
  editor/spatial_editor_gizmos.cpp
Labels: enhancement, topic:editor, usability

#19786 Add render mode to ensure correct normals when using non-uniform scaling
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  scene/resources/material.cpp
  scene/resources/material.h
  servers/visual/shader_types.cpp
Labels: bug, topic:rendering

#19782 Fix control pixel snap rounding using floor() instead of round()
  scene/gui/control.cpp
Labels: bug, topic:core

#19807 Fix rotation of 2D lights
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#19941 Fix animation key icon not show on inspector
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, topic:editor, usability

#19965 Mono: Fix build script not decoding process utf-8 output
  modules/mono/config.py
Labels: bug, cherrypick, topic:buildsystem, topic:mono

#19872 Mono: Fixes annotated signal loading in exported binaries
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, topic:mono

#19849 Expose ScriptCreateDialog to EditorPlugin
  doc/classes/EditorPlugin.xml
  doc/classes/ScriptCreateDialog.xml
  editor/create_dialog.cpp
  editor/create_dialog.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/icons/icon_script_create_dialog.svg
  editor/scene_tree_dock.h
  editor/script_create_dialog.cpp
Labels: documentation, enhancement, topic:editor

#19947 Fix CORS problems due to added headers on JS target
  core/io/http_client.cpp
  scene/main/http_request.cpp
Labels: bug, topic:network

#19944 asset_dir method in Android modules' gradle config
  SConstruct
  methods.py
  platform/android/SCsub
Labels: cherrypick, enhancement, platform:android, topic:buildsystem

#19960 Fixes control nodes size not updated when outside the tree
  scene/gui/control.cpp
Labels: bug, topic:core

#19973 Fix regression of 2D light height
  drivers/gles3/shaders/canvas.glsl
Labels: bug, cherrypick, topic:rendering

#18966 Add new debug print method that shows line number where the print came from
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
Labels: feature proposal, topic:gdscript

#19015 fixed scrolling in new ispector when using trackpad pan gesture
  scene/main/viewport.cpp
Labels: bug, topic:editor, topic:input

#19245 Fix overwrite of file/folder of same name without warning
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor, usability

#19279 [Core] [Math] Fix fposmod() function
  core/math/math_funcs.h
Labels: bug, topic:core

#19183 Update resource file project settings after renaming/moving the files
  core/project_settings.cpp
  core/project_settings.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#19090 Prop editor input improvements
  editor/editor_spin_slider.cpp
  editor/editor_spin_slider.h
Labels: enhancement, topic:editor, usability

#19231 [Mono] Rename Fposmod to PosMod, fix output
  modules/mono/glue/cs_files/Mathf.cs
  modules/mono/glue/cs_files/VERSION.txt
Labels: enhancement, topic:mono

#18028 Fix #18026. Expose TextEdit::set_draw_breakpoint_gutter.
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#19187 Editor autocomplete won't insert unnecessary quotes
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, usability

#19351 Fixes to the new inspector
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  scene/gui/control.cpp
Labels: bug, topic:editor

#19735 Fixed text drawing too high in TextEdit, issue 15688
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: breaks compat, enhancement, topic:core

#19637 Fix onready vars / vars accessing class members if _ready / _init not present
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, cherrypick, topic:gdscript

#19646 Fix can't set AudioStreamPlayer stream to null
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_player.cpp
Labels: bug, topic:audio

#19713 Fix crash when assigning a node on editing animation key
  editor/animation_track_editor.cpp
  editor/editor_properties.cpp
Labels: bug, topic:editor

#19980 Move light 2D rotation to vertex shader
  drivers/gles3/shaders/canvas.glsl
Labels: enhancement, topic:rendering

#20041 Write new permissions to the AndroidManifest.xml
  platform/android/AndroidManifest.xml.template
  platform/android/export/export.cpp
Labels: bug, cherrypick, platform:android

#20032 MultiplayerAPI::send_bytes transfer mode support.
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
Labels: enhancement, topic:network, usability

#20010 [DOCS] mention load in texture class
  doc/classes/Texture.xml
Labels: cherrypick, documentation, enhancement

#20079 Fix dummy renderer for CPU particles
  drivers/dummy/rasterizer_dummy.h
Labels: bug, topic:rendering

#20076 Added path for Mono installed through Homebrew
  modules/mono/SCsub
  modules/mono/editor/godotsharp_builds.cpp
Labels: enhancement, platform:osx, topic:mono

#20052 Improved stream paused fade code
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/audio/audio_player.cpp
  scene/audio/audio_player.h
Labels: enhancement, topic:audio

#20014 Added scrollable property for sliders
  doc/classes/Slider.xml
  scene/gui/slider.cpp
  scene/gui/slider.h
Labels: enhancement, topic:core, usability

#20046 Fix bits_per_pixel validation in BMP and TGA loader modules.
  modules/bmp/image_loader_bmp.cpp
  modules/tga/image_loader_tga.cpp
Labels: bug, topic:core

#19930 Fallback to default font if main/code font path doesn't exist
  editor/editor_fonts.cpp
Labels: bug, cherrypick, topic:editor

#20082 Write new permissions to the AndroidManifest.xml (2.1 version)
  platform/android/AndroidManifest.xml.template
  platform/android/export/export.cpp
Labels: bug, platform:android

#20084 Fix visual script editor interface
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:visualscript

#20083 fix ColorPickerButton.get_popup()
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: bug, topic:core

#20028 Refactor HTML5 platform OS implementation
  platform/javascript/dom_keys.inc
  platform/javascript/javascript_main.cpp
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: cherrypick, enhancement, platform:html5, topic:porting

#20092 fix wrong loop condition in MultiMesh allocation
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#20093 Fix possible bug with AudioStreamPlayer2D audio position
  scene/2d/audio_stream_player_2d.cpp
Labels: bug, topic:audio

#19707 fix clipping with v_flip fixes: #18600
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering

#19540 Cylinder resource and collision shape (bullet only)
  doc/classes/CylinderShape.xml
  doc/classes/PhysicsServer.xml
  editor/icons/icon_cylinder_shape.svg
  editor/spatial_editor_gizmos.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
  scene/register_scene_types.cpp
  scene/resources/cylinder_shape.cpp
  scene/resources/cylinder_shape.h
  servers/physics/physics_server_sw.cpp
  servers/physics_server.cpp
  servers/physics_server.h
Labels: feature proposal, topic:physics

#19091 [InspectorDock] Change label offset
  editor/editor_spin_slider.cpp
Labels: enhancement, topic:editor

#20096 Fix missing whitepoint for ACES tonemapping
  drivers/gles3/shaders/tonemap.glsl
Labels: bug, topic:rendering

#20118 UWP: Add support for GLES2 driver
  platform/uwp/app.cpp
  platform/uwp/gl_context_egl.cpp
  platform/uwp/gl_context_egl.h
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
Labels: enhancement, platform:uwp, topic:porting, topic:rendering

#20169 Visual shaders - make "Add node" menu showed by right click
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: topic:editor, usability

#20147 fix for moving file using filesystem dock context menu.
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#20195 Non-blocking SSL handshake
  core/io/http_client.cpp
  core/io/http_client.h
  core/io/stream_peer_ssl.cpp
  core/io/stream_peer_ssl.h
  modules/mbedtls/stream_peer_mbed_tls.cpp
  modules/mbedtls/stream_peer_mbed_tls.h
Labels: enhancement, topic:network

#20192 Fix keep screen on property path for Android/iOS/UWP
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/iphone/app_delegate.mm
  platform/uwp/os_uwp.cpp
Labels: bug, cherrypick, platform:android, platform:ios, topic:porting

#20191 Line2D texture stretch mode
  doc/classes/Line2D.xml
  scene/2d/line_2d.cpp
  scene/2d/line_2d.h
  scene/2d/line_builder.cpp
Labels: bug, enhancement, topic:core

#20150 fix scrollbar icons with atlas texture.
  scene/gui/scroll_bar.cpp
Labels: bug, cherrypick, topic:rendering

#20182 Make BaseButton not emit press when container is scrolled [2.1]
  scene/gui/base_button.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: enhancement, topic:core

#18039 Added support for exclude folders from export [2.1]
  editor/editor_import_export.cpp
  editor/editor_import_export.h
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor

#20176 Several name fixes for visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core

#20158 Fixed shader parsing error log
  servers/visual/shader_language.cpp
Labels: bug, topic:core

#20215 Added Performance.AUDIO_OUTPUT_LATENCY
  main/performance.cpp
  main/performance.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: enhancement, topic:audio

#20146 fix issue with bezier tracks using incorrect duration for interpolating values
  scene/resources/animation.cpp
Labels: bug, topic:core

#20132 fixed branch on uninit and data race in editor android device polling
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:editor

#20131 fixed connection dialog's creation of script functions.
  editor/connections_dialog.cpp
Labels: bug, topic:editor

#19044 Added support of Python 3 in make_header.py
  scene/resources/default_theme/make_header.py
Labels: bug, topic:buildsystem

#20217 Inspector: Add bit/value info to layer tooltip
  editor/editor_properties.cpp
Labels: enhancement, topic:editor, usability

#18717 Fix all Input Map actions expand when an event is modified
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor, usability

#18535 Added curve in/out (tangent) handle mirroring
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
  editor/plugins/path_editor_plugin.cpp
  editor/plugins/path_editor_plugin.h
Labels: enhancement, topic:editor, usability

#19764 Fix #19507 Not emitted particles affects performance
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: bug, topic:rendering

#19689 Add Audio Server profiling time to the profiler
  drivers/alsa/audio_driver_alsa.cpp
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.h
  main/main.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: enhancement, topic:audio, topic:editor, usability

#20220 Fix preview texture size on Inspector
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: enhancement, topic:editor, usability

#20186 A fix for the export templates installation error...
  editor/export_template_manager.cpp
Labels: bug, topic:editor

#20228 Fix Label autowrap clips text
  scene/gui/label.cpp
Labels: bug, topic:rendering

#20227 Fix copying ttf, otf by DND to editor
  editor/editor_node.cpp
Labels: bug, cherrypick, topic:editor, usability

#20231 reworked ustring.rsplit to fix behaviour.
  core/ustring.cpp
Labels: bug, topic:core

#20232 Fix some missing BIND_ENUM_CONSTANT for visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:core

#20185 Add audio preview to Inspector dock
  editor/editor_node.cpp
  editor/plugins/audio_stream_editor_plugin.cpp
  editor/plugins/audio_stream_editor_plugin.h
Labels: enhancement, topic:editor, usability

#20140 Add disable ambient light flag to shaders and materials
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  scene/resources/material.cpp
  scene/resources/material.h
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#20239 Fix crash when deallocating named colors map
  core/color.cpp
  core/color.h
  core/register_core_types.cpp
Labels: bug, topic:core

#20240 Fixed OS.has_feature not using custom feature tags.
  core/os/os.cpp
  core/project_settings.cpp
  core/project_settings.h
Labels: bug, topic:core

#20241 Export filters: Relax match to allow paths without leading res://
  editor/editor_export.cpp
Labels: cherrypick, enhancement, topic:editor, usability

#20242 Export: Properly reload preset when opening dialog
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export_template_manager.cpp
  editor/project_export.cpp
  scene/gui/item_list.cpp
Labels: bug, cherrypick, enhancement, topic:editor, usability

#19931 Added path_local, path_continuous_u and path_joined properties to CSGPolygon
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGPolygon.xml
Labels: enhancement, topic:core

#20243 fix nameclash with MSVC
  core/typedefs.h
Labels: bug, platform:windows, topic:core

#20253 Make C# bindings generator ignore disabled classes
  modules/mono/editor/bindings_generator.cpp
Labels: cherrypick, enhancement, topic:mono

#20259 Print an error when calling an invalid method on an Animation
  scene/animation/animation_player.cpp
Labels: enhancement, topic:editor, usability

#20265 Added some documentation for the CSG nodes
  modules/csg/doc_classes/CSGBox.xml
  modules/csg/doc_classes/CSGCombiner.xml
  modules/csg/doc_classes/CSGCylinder.xml
  modules/csg/doc_classes/CSGMesh.xml
  modules/csg/doc_classes/CSGPolygon.xml
  modules/csg/doc_classes/CSGPrimitive.xml
  modules/csg/doc_classes/CSGShape.xml
  modules/csg/doc_classes/CSGSphere.xml
  modules/csg/doc_classes/CSGTorus.xml
Labels: enhancement, topic:core

#20117 Fix -new inspector- Inconsistencies with exported enums - Fixes remai…
  editor/editor_properties.cpp
Labels: bug, topic:editor

#20295 Fix unwanted restarting
  core/os/os.cpp
Labels: bug, topic:core

#20257 Fix bug with Basis.Transposed()
  modules/mono/glue/cs_files/Basis.cs
Labels: bug, topic:mono

#20299 Adds C# rule to .editorconfig.
  .editorconfig
Labels: enhancement

#20157 Add webp buffer loader for Image
  core/image.cpp
  core/image.h
  doc/classes/Image.xml
  modules/jpg/image_loader_jpegd.cpp
  modules/webp/image_loader_webp.cpp
Labels: enhancement, topic:core

#20311 Make Update Spinner popup use radio items
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#19264 Typed GDScript
  core/script_language.h
  editor/connections_dialog.cpp
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/script_text_editor.cpp
  main/tests/test_gdscript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/editor/gdscript_highlighter.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
  modules/mono/csharp_script.h
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: feature proposal, topic:gdscript

#20229 [Mono] Update about/warning text
  modules/mono/editor/godotsharp_editor.cpp
Labels: enhancement, topic:editor, topic:mono

#20337 [Mono] Improvements to GD.cs: PascalCasing and real_t
  modules/mono/glue/cs_files/GD.cs
  modules/mono/glue/cs_files/VERSION.txt
Labels: enhancement, topic:mono

#20348 Shader lang: Properly assign INSTANCE_ID to gl_InstanceID
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
Labels: bug, cherrypick, topic:rendering

#20351 Initialize texture shrink to false by default
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#20352 Fix TileMap::set_cell performance regression
  doc/classes/TileMap.xml
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, topic:core

#20353 Remove redundant uniform set call
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: enhancement, topic:rendering

#20339 SCons: Prevent using disable_3d or disable_advanced_gui with tools=yes
  SConstruct
Labels: bug, topic:buildsystem

#20136 Fix -inspector- remote debug view not changing to current scene a…
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#20358 Mono: Default to not shipping C# scripts content
  modules/mono/csharp_script.cpp
Labels: cherrypick, enhancement, topic:editor, topic:mono

#20374 Fix disappearing lines in visual script editor
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#19888 Implemented proceses priority
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:core

#12403 Physics material
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/space_bullet.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
  scene/3d/vehicle_body.cpp
  scene/register_scene_types.cpp
  scene/resources/physics_material.cpp
  scene/resources/physics_material.h
  servers/physics/body_pair_sw.cpp
  servers/physics/body_sw.cpp
  servers/physics/body_sw.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/body_pair_2d_sw.cpp
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
  servers/physics_2d/physics_2d_server_wrap_mt.h
  servers/physics_2d_server.h
  servers/physics_server.h
Labels: feature proposal, topic:physics

#20342 Fix upper/lower case convertion for characters > 0x80
  core/ustring.cpp
Labels: bug, cherrypick, topic:core

#20379 correctly close handle in alsa audio driver.
  drivers/alsa/audio_driver_alsa.cpp
  drivers/alsa/audio_driver_alsa.h
Labels: bug, topic:audio

#12678 Soft body
  core/vector.h
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  editor/icons/icon_soft_body.svg
  editor/plugins/spatial_editor_plugin.h
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/register_types.cpp
  modules/bullet/soft_body_bullet.cpp
  modules/bullet/soft_body_bullet.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
  scene/3d/collision_object.h
  scene/3d/collision_shape.h
  scene/3d/mesh_instance.cpp
  scene/3d/mesh_instance.h
  scene/3d/physics_body.cpp
  scene/3d/soft_body.cpp
  scene/3d/soft_body.h
  scene/register_scene_types.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/surface_tool.cpp
  servers/physics/physics_server_sw.h
  servers/physics_server.h
  servers/visual/rasterizer.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: feature proposal, topic:physics

#19313 Image trilinear scaling + Optimization
  core/image.cpp
  core/image.h
  doc/classes/Image.xml
Labels: cherrypick, enhancement, topic:core
