Repository godotengine/godot, pull requests merged in 2018-12, with the labels that each got.

#24098 Fix crash due to ~CSharpInstance() being called on freed instance
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/base_object_glue.cpp
Labels: bug, topic:mono

#24057 TextEdit: added redo option to the context menu
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#24079 Fix ItemList editor not hiding on node removal
  editor/plugins/item_list_editor_plugin.cpp
Labels: enhancement, topic:editor

#24104 Fix crash when multiple mouse buttons is pressed.
  scene/main/viewport.cpp
Labels: bug, topic:core

#24082 Change custom permissions in Android export to an array
  platform/android/export/export.cpp
Labels: breaks compat, enhancement, topic:editor

#24007 Fix "scale" property collision in CPUParticles
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
Labels: bug, topic:core

#24085 Fix key icon overlapping revert icon
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#24089 Fixed gles2 camera_matrix bug
  drivers/gles2/shader_compiler_gles2.cpp
Labels: bug, topic:rendering

#24105 Remove obsolete ANDROID_NATIVE_ACTIVITY
  platform/android/SCsub
  platform/android/android_native_app_glue.c
  platform/android/android_native_app_glue.h
  platform/android/audio_driver_jandroid.cpp
  platform/android/audio_driver_jandroid.h
  platform/android/dir_access_android.cpp
  platform/android/dir_access_android.h
  platform/android/dir_access_jandroid.cpp
  platform/android/dir_access_jandroid.h
  platform/android/file_access_jandroid.cpp
  platform/android/file_access_jandroid.h
  platform/android/godot_android.cpp
  platform/android/java_glue.cpp
  platform/android/java_glue.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, needs testing, platform:android, topic:buildsystem

#24106 Fixes collapsed SplitContainers
  scene/gui/split_container.cpp
Labels: bug, topic:core

#24117 Fix text files constantly asking for reload as no last modified time
  core/io/resource_loader.h
  core/io/resource_saver.h
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:core, topic:editor

#24126 remove_unused_get_frustum
  scene/3d/listener.h
Labels: enhancement, topic:core

#24112 RichTextLabel: update the cache when the scroll hide.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#24078 Fix wrong size and position when windows is minimized on Windows
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: bug, platform:windows, topic:porting

#24062 Use filename instead of the class name for drag & drop Mesh Instance.
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor

#24051 Fixes typo in source string sent to translation.
  scene/3d/cpu_particles.cpp
Labels: bug, topic:core

#23989 Fix macOS icon export (add 1024px PNG icon and 32px/16px RLE icons).
  platform/osx/export/export.cpp
Labels: bug, platform:osx, topic:editor, topic:porting

#23991 Generate the tangents without de-indexing and re-indexing the vertices.
  editor/import/editor_import_collada.cpp
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
Labels: bug, topic:import

#24143 const char* operator on CharString now const.
  core/ustring.h
Labels: enhancement, topic:core

#24140 Fix csgshape collider without object id
  modules/csg/csg_shape.cpp
Labels: bug, topic:physics

#24129 Arrays now parse the hint_string in the new inspector.
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: bug, topic:editor

#24155 SCons: Properly set bits variable as string for MSVC detection
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem

#24164 Fix error when adding children to YSort
  servers/visual/visual_server_canvas.cpp
Labels: bug, topic:core

#24151 Fix iOS safe area insets to use pixels and not points
  platform/iphone/gl_view.mm
Labels: bug, platform:ios, topic:porting

#24169 Fixed CanvasItem.draw_multimesh() binding
  doc/classes/CanvasItem.xml
  scene/2d/canvas_item.cpp
Labels: bug, topic:core

#24166 Add checking required field for exporting iOS
  platform/iphone/export/export.cpp
Labels: bug, platform:ios, topic:editor

#24160 Add tooltips to GraphEdit node
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/gui/graph_edit.cpp
Labels: enhancement, topic:core

#24165 Make LightOccluder2D Editor use the AbstractPolygon Editor instead of its own
  editor/plugins/light_occluder_2d_editor_plugin.cpp
  editor/plugins/light_occluder_2d_editor_plugin.h
Labels: enhancement, topic:editor

#24159 Move "Dialog Bounds" from the Editor Settings to project's metadata
  editor/create_dialog.cpp
  editor/editor_help_search.cpp
  editor/project_export.cpp
  editor/project_settings_editor.cpp
  editor/settings_config_dialog.cpp
Labels: enhancement, topic:editor

#24178 Documented set_point_cloud() for ConvexPolygonShape2D
  doc/classes/ConvexPolygonShape2D.xml
Labels: documentation, enhancement

#24189 Fixes editor crashing when editing autotiles
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#24148 #24131: fix for PathFollow offset slider overlapping with the inspector
  scene/2d/path_2d.cpp
  scene/3d/path.cpp
Labels: bug, topic:editor

#24090 Fix blitting from negative position
  core/image.cpp
Labels: bug, cherrypick, topic:core

#23982 Fixed project name line edit focus lost when open project-create dialog.
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#23935 Add sorting to the project manager
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor

#24141 [macOS] File icons: add separate icons for gdscript, resource, scene and projects.
  misc/dist/document_icon.svg
  misc/dist/document_icons/gdscript.svg
  misc/dist/document_icons/gdscript_extra_small.svg
  misc/dist/document_icons/gdscript_small.svg
  misc/dist/document_icons/project.svg
  misc/dist/document_icons/project_extra_small.svg
  misc/dist/document_icons/project_small.svg
  misc/dist/document_icons/resource.svg
  misc/dist/document_icons/resource_extra_small.svg
  misc/dist/document_icons/resource_small.svg
  misc/dist/document_icons/scene.svg
  misc/dist/document_icons/scene_extra_small.svg
  misc/dist/document_icons/scene_small.svg
  misc/dist/osx_tools.app/Contents/Info.plist
  misc/dist/osx_tools.app/Contents/Resources/Document.icns
  misc/dist/osx_tools.app/Contents/Resources/GDScript.icns
  misc/dist/osx_tools.app/Contents/Resources/Project.icns
  misc/dist/osx_tools.app/Contents/Resources/Resource.icns
  misc/dist/osx_tools.app/Contents/Resources/Scene.icns
Labels: enhancement, platform:osx, topic:editor

#23673 Export Path now has a folder icon to select the path
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor

#23608 Improve dragging behavior of editor_spin_slider
  editor/editor_spin_slider.cpp
  editor/editor_spin_slider.h
Labels: bug, topic:editor, usability

#24194 Make thumbnail cache less tasking on the message queue
  core/message_queue.cpp
  editor/editor_file_dialog.cpp
  editor/editor_resource_preview.cpp
Labels: bug, topic:editor

#24197 Update NavPoly in the editor canvas when the resource is changed via the Inspector
  scene/2d/navigation_polygon.cpp
Labels: bug, topic:editor

#22323 Editor: Skip loading main scene if restore_scenes_on_load is used
  editor/editor_node.cpp
  editor/editor_node.h
  main/main.cpp
Labels: enhancement, topic:editor

#23327 Added "shader" filter to "Find in Files"
  editor/find_in_files.cpp
  editor/find_in_files.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: enhancement, topic:editor

#22934 GDscript function str2var now returns null on invalid input
  modules/gdscript/gdscript_functions.cpp
Labels: enhancement, topic:gdscript

#23693 EditorExportPlugin now calls _export_end() when export ends if scripted
  editor/editor_export.cpp
  editor/editor_export.h
Labels: enhancement, topic:editor

#24216 Fix custom features missing when _export_begin is called
  editor/editor_export.cpp
Labels: enhancement, topic:editor

#19914 Add Z-Index for Autotile
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: feature proposal, topic:core

#22733 [x11] Use "application/config/name" for WM_CLASS
  core/os/os.h
  main/main.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#22680 ColorPicker: extend access to presets from gds
  doc/classes/ColorPicker.xml
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, topic:core

#22630 22478: Can't duplicate folder with another folder inside
  core/os/dir_access.cpp
Labels: bug, topic:editor

#22535 Fixed editor inspector ranges capping values at 65535.
  editor/editor_properties.cpp
Labels: bug, topic:editor

#22437 Added warning when trying to load resource of wrong type in editor.
  editor/editor_properties.cpp
Labels: enhancement, topic:editor, usability

#22431 Fixed pivot tool not setting position of Controls correctly
  scene/gui/control.cpp
Labels: bug, topic:core

#23438 Implement CSharpScript::get_script_method_list and related functionality.
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_class.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_method.h
Labels: bug, enhancement, topic:mono

#24219 Fix AutoTile z-index not persisting correctly
  scene/resources/tile_set.cpp
Labels: bug, topic:core

#24223 Fix type-compatibilty check in GDScript
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#24231 Minor changes to the File menu in the Script Editor
  editor/plugins/script_editor_plugin.cpp
Labels: enhancement, topic:editor

#24246 Cleanup some unused controls in the editor's top bar
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#24236 Fix duplicating visual shader nodes
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#24221 Warn about AnimationTreePlayer's deprecation
  scene/animation/animation_tree_player.cpp
  scene/animation/animation_tree_player.h
Labels: enhancement, topic:core

#20745 Allow to create a heightmap collision shape from an image
  modules/bullet/shape_bullet.cpp
Labels: enhancement, topic:physics

#20725 Use more subtle indentation guides in the script editor
  editor/code_editor.cpp
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor

#20609 Make opening menus with the same parent on mouse focus explicit
  doc/classes/MenuButton.xml
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/gui/menu_button.cpp
  scene/gui/menu_button.h
  scene/main/viewport.cpp
Labels: bug, enhancement, topic:core

#24256 Properly reselect duplicated visual shader nodes
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:visualscript

#24270 Fix "blocked > 0" error when selecting an item in the Search Help dialog
  editor/editor_help_search.cpp
Labels: bug, topic:editor

#24278 Fix "index -1 out of range" error spam. Fixes #24277
  editor/plugins/script_text_editor.cpp
Labels: bug, topic:editor

#24266 Fixes docs displaying error if xml has parentheses after brackets
  doc/tools/makerst.py
Labels: bug, documentation, topic:buildsystem

#24224 Reverse bitangent on everythings
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  scene/3d/sprite_3d.cpp
  scene/resources/material.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/surface_tool.cpp
Labels: bug, discussion, topic:rendering

#23126 UV for ninepatch now maps to the proper ninepatch mapped UV.
  drivers/gles3/shader_compiler_gles3.cpp
Labels: enhancement, topic:core, topic:rendering

#22461 Hide shading options in SpatialMaterial when 'FLAG_UNSHADED' is set.
  scene/resources/material.cpp
Labels: enhancement, topic:editor, usability

#23923 Changes IME to make it possible to use it from gdscript/gdnative
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/main_loop.cpp
  core/os/main_loop.h
  core/os/os.h
  doc/classes/MainLoop.xml
  doc/classes/OS.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/scene_tree.cpp
Labels: enhancement, topic:input

#23887 Moved dirty material lists from static to lifetime controlled by main.
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
Labels: enhancement, topic:core

#21471 Fixed issue #11893 (SpinBox capturing mouse)
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: bug, topic:core

#23361 Add backward looping support to AudioStreamSample (wav files)
  doc/classes/AudioStreamSample.xml
  editor/import/resource_importer_wav.cpp
  scene/resources/audio_stream_sample.cpp
  scene/resources/audio_stream_sample.h
Labels: enhancement, topic:audio, topic:import

#23932 GLES2 implemented VIEWPORT_SIZE builtin for spatial shader
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#23483 Make VIEW vector available in fragment shader
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#24298 Change incorrect "lightNing" to "lighTING" in WorldEnvironment.xml
  doc/classes/WorldEnvironment.xml
Labels: documentation, enhancement

#23469 Added CAMERA_MATRIX to fragment shader
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#24214 Fix EditorAudioBuses not updating when changing to a device with different channels
  doc/classes/AudioServer.xml
  editor/editor_audio_buses.cpp
  editor/editor_audio_buses.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, topic:audio, topic:editor

#24267 Remove "panel" theme property from ButtonGroup
  doc/classes/ButtonGroup.xml
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:core

#24135 Added ranged integer generation function to RNG class
  core/math/random_number_generator.cpp
  core/math/random_number_generator.h
  doc/classes/RandomNumberGenerator.xml
Labels: enhancement, topic:core

#24203 Fix ExportDialog layout out of boundary when select a template.
  editor/project_export.cpp
Labels: bug, topic:editor

#24109 Fixed Path2D Plugin Editor so segments can be split.
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/collision_polygon_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
Labels: bug, topic:editor

#22739 Added warning when setting autoplay of AnimationPlayer that's inside the tree.
  scene/animation/animation_player.cpp
Labels: enhancement, topic:core, usability

#24218 Disabled CollisionShape2D is not processed now
  servers/physics/body_sw.cpp
  servers/physics/collision_object_sw.h
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/collision_object_2d_sw.h
Labels: bug, topic:physics

#24310 ColorPicker fixes
  scene/gui/color_picker.cpp
Labels: bug, topic:core

#24285 Support GLES2 for iOS
  platform/iphone/gl_view.mm
  platform/iphone/os_iphone.cpp
Labels: enhancement, platform:ios, topic:porting

#24312 fixed uv missing in vertex shader of canvas.
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#22910 Fix AudioEffectRecord not working without thread support
  servers/audio/effects/audio_effect_record.cpp
  servers/audio/effects/audio_effect_record.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, topic:audio

#24327 Revert "Use more subtle indentation guides in the script editor"
  editor/code_editor.cpp
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, enhancement, topic:editor

#22870 Fix richtextlabel meta links shouldn't open when swiping to scroll
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:core, topic:input

#24330 Re-add missing save resource button in the inspector
  editor/inspector_dock.cpp
Labels: enhancement, topic:editor, usability

#24331 #23231: make resource changes in a nested inspector undoable
  editor/editor_properties.cpp
Labels: bug, topic:editor, usability

#24333 Change EditorLineEditFileChooser to use the "Folder" icon
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
Labels: enhancement, topic:editor, usability

#24324 Request mic access only when is needed
  doc/classes/ProjectSettings.xml
  drivers/coreaudio/audio_driver_coreaudio.cpp
  servers/audio/audio_stream.cpp
  servers/audio_server.cpp
Labels: bug, platform:ios, platform:osx, topic:porting

#23799 Add application/config/project_settings_override option to override project settings
  core/project_settings.cpp
  core/project_settings.h
  doc/classes/ProjectSettings.xml
Labels: enhancement, topic:core

#24341 Expose ButtonGroup's "get_buttons()" to GDScript
  doc/classes/ButtonGroup.xml
  scene/gui/base_button.cpp
  scene/gui/base_button.h
Labels: enhancement, topic:core

#24161 Fix properties update in remote transform
  scene/3d/remote_transform.cpp
Labels: bug, needs testing, topic:core

#24046 Fixed using move_and_slide with stop_on_slope stopping too early
  scene/2d/physics_body_2d.cpp
Labels: bug, topic:physics

#22729 Fix tree item editable cell not updating when windows is resized
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, topic:editor

#21653 fix 2d stop_on_slope (issue #21595)
  scene/2d/physics_body_2d.cpp
Labels: bug, topic:physics

#21856 Fix undo redo not showing errors
  core/undo_redo.cpp
Labels: bug, topic:editor

#23464 Ability to pick child nodes of scenes instances marked with "Editable…
  editor/scene_tree_editor.cpp
Labels: bug, enhancement, topic:editor, usability

#24357 Don't allocate in Vector's ctor
  core/vector.h
Labels: enhancement, topic:core

#20081 Fixes is_pressed when holding double click.
  main/input_default.cpp
Labels: breaks compat, bug, cherrypick, needs testing, topic:input

#23651 Prevent FileDialog from stealing focus when setting current file in editor
  scene/gui/file_dialog.cpp
Labels: bug, topic:editor

#20063 Unified button mask behavior across platforms
  platform/javascript/os_javascript.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: breaks compat, bug, needs testing, platform:html5, platform:linuxbsd, platform:osx, platform:windows, topic:input

#20385 Added double clicking to all buttons on Linux and Javascript
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: feature proposal, needs testing, platform:html5, platform:linuxbsd, topic:input

#22973 Add support for collision layers and masks in CSG shapes
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGShape.xml
Labels: enhancement, topic:core, topic:physics

#24308 #24303: remember sorting order in the project manager
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor, usability

#24376 Tweak editor status colors (success, warning, error)
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#24382 Fix highp issue in lens shader on gles2
  drivers/gles2/shaders/lens_distorted.glsl
Labels: bug, needs testing, topic:arvr, topic:rendering

#24397 Create built-in script properly
  editor/script_create_dialog.cpp
Labels: bug, topic:editor, usability

#24385 Reduce String CoW
  core/compressed_translation.cpp
  core/ustring.cpp
  core/ustring.h
  modules/gdnative/gdnative/string.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/string.h
  modules/mono/mono_gd/gd_mono_marshal.cpp
  platform/iphone/gl_view.mm
Labels: breaks compat, cherrypick, enhancement, topic:core

#24405 Fix "undo" of the state machine losing node's position
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, topic:editor

#24366 Adding option to re-orient our sky
  doc/classes/Environment.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/shaders/copy.glsl
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/copy.glsl
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: feature proposal, topic:rendering

#22697 Change global timestamp behavior earlier
  editor/editor_node.cpp
Labels: bug, topic:editor

#24388 Removed error message arriving whenever csv file changed
  core/os/file_access.cpp
Labels: bug, topic:core

#24410 Fix titles in graph editors being invisible when headers are enabled
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, usability

#24411 Fix sub-transitions not using end_node correctly
  scene/animation/animation_node_state_machine.cpp
Labels: bug, topic:core

#24422 Add z-index to ATLAS_TILE
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
Labels: enhancement, topic:editor

#24430 Don't accidentally convert string content to char
  scene/gui/label.cpp
Labels: bug

#24431 Change *_slot to *_port on get_connection_list
  doc/classes/GraphEdit.xml
Labels: documentation, enhancement

#24428 Label: Fix kerning when using Uppercase mode
  scene/gui/label.cpp
Labels: bug, cherrypick, topic:core

#24436 Make the AnimationTree editor's path section more obvious
  editor/plugins/animation_tree_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#24427 Fix bread crumb of AnimationTree
  editor/plugins/animation_tree_editor_plugin.cpp
Labels: enhancement, topic:editor

#24432 General fixes for the AnimationTree editor
  doc/classes/GraphNode.xml
  editor/filesystem_dock.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/scene_tree_editor.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:editor

#24408 Clarify what popup_centered actually does
  doc/classes/Popup.xml
Labels: documentation, enhancement

#24447 Fix Word wrap cache desync causing crash
  scene/gui/text_edit.cpp
Labels: bug, topic:core, topic:editor

#24450 Disable gzip and lzw support for freetype
  thirdparty/freetype/include/freetype/config/ftoption.h
Labels: bug, cherrypick, platform:ios, topic:buildsystem, topic:thirdparty

#24454 Small fixes for the AnimationTree editor
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
Labels: enhancement, topic:editor

#24451 Change color of AnimationPlayer curve to "highlight"
  editor/animation_bezier_editor.cpp
Labels: enhancement, topic:editor

#24457 Fix colored font rendered in wrong size
  scene/resources/dynamic_font.cpp
Labels: bug, topic:core

#24462 Fix copy/paste for TileMap
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: bug, topic:editor

#24439 fix near infinite loop when no previous mouse position
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:core

#24481 Add option to add debug keystore in Android export
  platform/android/export/export.cpp
Labels: enhancement, platform:android, topic:editor

#24495 Fix GLES2 Spotlight shadow problem
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#24485 Added OS.get_system_time_msecs()
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/OS.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: feature proposal, topic:core

#24500 Core: Drop unused global_defaults logic
  SConstruct
  core/SCsub
  core/project_settings.h
  main/main.cpp
  platform/android/globals/global_defaults.cpp
  platform/android/globals/global_defaults.h
  platform/iphone/globals/global_defaults.cpp
  platform/iphone/globals/global_defaults.h
Labels: enhancement, platform:android, platform:ios, topic:buildsystem

#24499 Android: Better identify thirdparty C/C++ code
  COPYRIGHT.txt
  drivers/unix/ip_unix.cpp
  modules/webm/libvpx/SCsub
  platform/android/SCsub
  platform/android/ifaddrs_android.cpp
  thirdparty/README.md
  thirdparty/libvpx/third_party/android/cpu-features.c
  thirdparty/libvpx/third_party/android/cpu-features.h
  thirdparty/misc/ifaddrs-android.cc
  thirdparty/misc/ifaddrs-android.h
Labels: enhancement, platform:android, topic:thirdparty

#24503 certs: Sync with latest ca-certificates-2018.2.26-2.fc29
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Labels: enhancement, topic:thirdparty

#24502 Fix TextureLayered::create not retaining format
  scene/resources/texture.cpp
Labels: bug, topic:core

#24508 Fixes for TileSetEditor and TileMapEditor
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  scene/2d/tile_map.cpp
Labels: bug, topic:editor

#24509 Add bind for TileMap::get_cell_autotile_coord
  scene/2d/tile_map.cpp
Labels: enhancement, topic:core

#24513 Fix small drawing error in TileSet editor
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:rendering

#24516 Fix possible error in "disable_advanced_gui" flag's description
  SConstruct
Labels: enhancement, topic:buildsystem

#24519 Change LinkLabel back to Label in error status bar
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: enhancement, topic:editor, usability

#24527 ProjectManager: Warn when projects have different config_version
  core/project_settings.cpp
  core/project_settings.h
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor, usability

#22775 [Mono] Color - add ColorN() and named color properties
  modules/mono/glue/Managed/Files/Color.cs
  modules/mono/glue/Managed/Files/Colors.cs
Labels: enhancement, topic:mono

#24529 GLES2: Define 'lowp' for OpenGL 2.1
  drivers/gles2/shaders/canvas.glsl
  drivers/gles2/shaders/canvas_shadow.glsl
  drivers/gles2/shaders/copy.glsl
  drivers/gles2/shaders/cube_to_dp.glsl
  drivers/gles2/shaders/cubemap_filter.glsl
  drivers/gles2/shaders/lens_distorted.glsl
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#24553 Fix caret size with font smaller than row height
  scene/gui/text_edit.cpp
Labels: enhancement, topic:core, usability
