Repository godotengine/godot, pull requests merged in 2018-11, with the labels that each got.

#23403 ignore __pycache__ directory
  .gitignore
Labels: enhancement, topic:buildsystem

#23401 Fix crash adding point to a Curve2D from the editor
  scene/2d/path_2d.cpp
Labels: bug, topic:core

#23430 Fixed crash on delete physical bone
  scene/3d/physics_body.cpp
Labels: bug, topic:physics

#23380 Hide "Attach Script" if node has one
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor

#23320 Add android export error on invalid package name
  platform/android/export/export.cpp
Labels: enhancement, topic:editor, usability

#23195 support New TileSet Editor zooming use CTRL/CMD + MouseWheel
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
Labels: enhancement, topic:editor

#22977 Made 'draw relationship lines' (at Editor Settings) enabled by default.
  editor/editor_settings.cpp
Labels: discussion, topic:editor, usability

#22963 Doc RichTextLabel push strikethrough and align
  doc/classes/RichTextLabel.xml
Labels: documentation, enhancement

#22938 Opens the SpriteFrames editor when editing an AnimatedSprite
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: enhancement, topic:editor

#23294 Add method get_collision_exceptions to PhysicsBody2D
  doc/classes/PhysicsBody.xml
  doc/classes/PhysicsBody2D.xml
  doc/classes/SoftBody.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
  scene/3d/soft_body.cpp
  scene/3d/soft_body.h
Labels: enhancement, topic:physics

#22925 Removed redundant error from MeshDataTool
  scene/resources/mesh_data_tool.cpp
Labels: enhancement, topic:core

#22933 Fixed non-monitorable areas triggering overlap (reopened)
  servers/physics_2d/area_pair_2d_sw.cpp
Labels: bug, topic:physics

#23434 Fix initialization of visual server in all platforms
  platform/android/os_android.cpp
  platform/haiku/os_haiku.cpp
  platform/iphone/os_iphone.cpp
  platform/osx/os_osx.mm
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: bug, cherrypick, topic:porting, topic:rendering

#23159 Fix: String::format Variant to String conversion
  core/ustring.cpp
Labels: bug, topic:core

#23125 Implement rasterizer texture_get_data on OpenGL ES
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, needs testing, platform:android, platform:ios, topic:rendering

#23169 Moved dynamic font list from static to lifetime controlled by main.
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: bug, topic:core

#23313 Handling NodePaths in in-place Editor for Resources
  editor/editor_properties.cpp
Labels: bug, topic:editor

#23346 Error running Expression.execute after parse error
  core/math/expression.cpp
Labels: bug, topic:core

#23411 Fix canvas stacking not deterministic on same layer
  doc/classes/VisualServer.xml
  scene/main/canvas_layer.cpp
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_viewport.cpp
  servers/visual/visual_server_viewport.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: breaks compat, bug, topic:rendering

#22311 Fix blend tree editor updating invalid blend tree node graph
  editor/plugins/animation_blend_tree_editor_plugin.cpp
Labels: bug, topic:editor

#21962 Fix MenuButton hover switching not happening with submenus open
  scene/gui/popup_menu.cpp
  scene/main/viewport.cpp
Labels: bug, topic:core

#23311 Small capitalization fixes across the editor
  editor/editor_file_dialog.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/filesystem_dock.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/project_manager.cpp
  editor/property_editor.cpp
Labels: enhancement, topic:editor

#22817 Made AnimationPlayer track groups update after changing path
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#23436 fixed PrismMesh size property
  .gitignore
  scene/resources/primitive_meshes.cpp
Labels: bug, topic:editor

#23431 Fix keycode problem on OSX
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:input

#23443 Improve/fix resource broken dependencies management
  editor/dependency_editor.cpp
  editor/dependency_editor.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, enhancement, topic:editor

#23404 Add new "push_*()" functions to GDScript
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
  modules/mono/glue/Managed/Files/GD.cs
  modules/mono/glue/gd_glue.cpp
Labels: enhancement, topic:gdscript

#23389 Export for OS X on OS X now lets you select .dmg or .zip
  editor/editor_export.cpp
  editor/editor_export.h
  editor/project_export.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
Labels: enhancement, topic:porting

#21897 Display camera coordinates in the 3D viewport's information pane
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#23450 Remove unused "dtoll" methods
  core/math/math_funcs.h
Labels: enhancement, topic:core

#22625 Cleanup the editor history from remote nodes after the scene stopped.
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#23061 Remove the thumnail-only view from the filesystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, usability

#23457 Fix possible crash with VideoPlayer _mix_audio function
  scene/gui/video_player.cpp
Labels: bug, cherrypick, topic:audio

#22178 Allow plugin scene change signal to report null for empty scenes.
  doc/classes/EditorPlugin.xml
  editor/editor_plugin.cpp
Labels: breaks compat, enhancement, topic:editor, topic:plugin

#23477 Fix UWP build.
  modules/freetype/SCsub
  platform/uwp/os_uwp.cpp
Labels: bug, platform:uwp, topic:buildsystem

#23478 Update libwebsocket to 3.0.1
  thirdparty/README.md
  thirdparty/libwebsockets/core/context.c
  thirdparty/libwebsockets/core/libwebsockets.c
  thirdparty/libwebsockets/core/output.c
  thirdparty/libwebsockets/core/private.h
  thirdparty/libwebsockets/libwebsockets.h
  thirdparty/libwebsockets/misc/lejp.c
  thirdparty/libwebsockets/plat/lws-plat-unix.c
  thirdparty/libwebsockets/plat/lws-plat-win.c
  thirdparty/libwebsockets/roles/h1/ops-h1.c
  thirdparty/libwebsockets/roles/http/client/client-handshake.c
  thirdparty/libwebsockets/roles/http/client/client.c
  thirdparty/libwebsockets/roles/http/header.c
  thirdparty/libwebsockets/roles/http/private.h
  thirdparty/libwebsockets/roles/http/server/lejp-conf.c
  thirdparty/libwebsockets/roles/http/server/parsers.c
  thirdparty/libwebsockets/roles/http/server/server.c
  thirdparty/libwebsockets/roles/ws/client-parser-ws.c
  thirdparty/libwebsockets/roles/ws/ops-ws.c
  thirdparty/libwebsockets/tls/mbedtls/mbedtls-server.c
  thirdparty/libwebsockets/tls/mbedtls/ssl.c
  thirdparty/libwebsockets/tls/mbedtls/wrapper/include/internal/ssl_types.h
  thirdparty/libwebsockets/uwp_fixes.diff
  thirdparty/libwebsockets/win32helpers/getopt.c
  thirdparty/libwebsockets/win32helpers/getopt_long.c
  thirdparty/libwebsockets/win32helpers/gettimeofday.c
Labels: bug, topic:network, topic:thirdparty

#23479 Hide some RMB options in the filesystem dock when files are searched
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#23481 Fixes CollisionShape extends not updating when draggind handles
  editor/plugins/collision_shape_2d_editor_plugin.cpp
Labels: bug, topic:editor, usability

#22622 Remove animation loop from ParticlesMaterial + improvements to CPUParticles2D
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles3/shaders/canvas.glsl
  editor/plugins/particles_2d_editor_plugin.cpp
  editor/plugins/particles_2d_editor_plugin.h
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/particles_2d.cpp
  scene/2d/particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
  servers/visual/rasterizer.h
  servers/visual/shader_types.cpp
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_canvas.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: bug, enhancement, topic:core, topic:rendering

#23422 Docs: Expression class docs
  doc/classes/Expression.xml
Labels: documentation, enhancement

#23502 Simplified boolean logic in GLES2/3 rasterizers
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: enhancement, topic:rendering

#23508 Fix clone line undo history and extra new line, issue 21811
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/text_editor.cpp
Labels: bug, topic:editor

#23519 Removed unnecessary assignments
  editor/editor_inspector.cpp
  modules/gdscript/gdscript_parser.cpp
  scene/2d/line_builder.cpp
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_node_state_machine.cpp
Labels: enhancement, topic:core

#23461 Properly export the various 'use dGPU' symbols when building with MingW
  platform/windows/os_windows.cpp
Labels: bug, cherrypick, platform:windows

#23518 Fix error with a specific dock layout
  editor/editor_help.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/property_selector.cpp
  editor/quick_open.cpp
Labels: bug, topic:editor

#23522 General fixup of the "Find in Files" dialog
  editor/find_in_files.cpp
Labels: enhancement, topic:editor, usability

#23524 Fix false error when exporting c# enum
  modules/mono/mono_gd/gd_mono_field.cpp
Labels: bug, topic:mono

#23538 Fixes uniform scaling weird behavior
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#23550 Add PROPERTY_USAGE_SCRIPT_VARIABLE flag for export(Enum) properties
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:gdscript

#23535 Fix empty script interface crash on tscn load. #23495
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:visualscript

#23561 Fixes uniform scaling issues (for real this time)
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability

#23543 Preset saved export path is now shown on the Export window
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor, usability

#23557 Fix angular velocity property range in editor for ParticlesMaterial
  scene/resources/particles_material.cpp
Labels: enhancement, topic:editor, usability

#23537 Fix creating a visual script virtual function after minimizing crashes #23536 and misc vs warning
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
  scene/gui/tree.cpp
Labels: bug, topic:visualscript

#23526 (#23480) Fixed problem with wrong directory path
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, usability

#23451 TileMap: Fix floor precision in world_to_map on tile borders
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#21386 Fix picking in CanvasLayer
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
  scene/2d/collision_object_2d.cpp
  scene/main/canvas_layer.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/physics_2d/collision_object_2d_sw.cpp
  servers/physics_2d/collision_object_2d_sw.h
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
  servers/physics_2d/physics_2d_server_wrap_mt.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_2d/space_2d_sw.h
  servers/physics_2d_server.cpp
  servers/physics_2d_server.h
Labels: bug, enhancement, topic:physics

#23583 Improve the C# API projects generation
  modules/mono/csharp_script.cpp
  modules/mono/editor/GodotSharpTools/Project/ProjectGenerator.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/editor/csharp_project.cpp
  modules/mono/editor/dotnet_solution.cpp
  modules/mono/editor/dotnet_solution.h
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/editor/godotsharp_builds.h
  modules/mono/editor/godotsharp_editor.cpp
  modules/mono/godotsharp_defs.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/utils/path_utils.cpp
Labels: enhancement, topic:mono

#23472 Lower minimum margin for collision shapes
  scene/resources/shape.cpp
Labels: enhancement, topic:physics

#23576 Fixes icons in itemlist not working
  editor/plugins/tile_map_editor_plugin.cpp
  scene/gui/item_list.cpp
Labels: bug, topic:editor

#23463 Set DRI_PRIME=1 by default on X11 if not already set
  platform/x11/os_x11.cpp
Labels: cherrypick, enhancement, platform:linuxbsd, topic:porting

#23595 Fix assertion fail when loading assembly on project export
  modules/mono/config.py
  modules/mono/editor/godotsharp_export.cpp
Labels: bug, topic:editor, topic:mono

#23505 Add option for automatic project updating.
  modules/mono/editor/csharp_project.cpp
Labels: enhancement, topic:mono

#23600 Made AnimationPlayer timeline only advance when keyframing frame variables
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, topic:editor, usability

#23611 Fix formatting -0.0 by %+f displays +-0.0
  core/ustring.cpp
Labels: bug, topic:core

#23059 Allow the Container children selection but don't allow them to move
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/stKueiAV
Labels: bug, enhancement, topic:editor

#23614 AnimationPlayer, snap absolute position instead of motion.
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, usability

#23578 fix tile set editor crash when drawing polygon shapes
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#23542 Fix binaries incorrectly detected as shared libraries on some linux distros
  platform/x11/detect.py
Labels: discussion, enhancement, platform:linuxbsd, topic:buildsystem

#23476 Add an Export All button to the Export dialog
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor

#23639 Fix GDScript placeholder fallback
  core/script_language.cpp
  modules/gdscript/gdscript.cpp
Labels: bug, topic:editor, topic:gdscript

#23621 Allow to specify a custom strength when calling Input.action_press(),…
  core/os/input.cpp
  core/os/input.h
  doc/classes/Input.xml
  main/input_default.cpp
  main/input_default.h
Labels: enhancement, topic:core

#23635 Fix angular velocity property range in editor for CPUParticles and CPUParticles2D
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
Labels: enhancement, topic:editor

#23618 [macOS] Fix blank splash screen
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:rendering

#23633 doc: Sync classref with current source
  doc/classes/@GDScript.xml
  doc/classes/@GlobalScope.xml
  doc/classes/AnimationNodeAnimation.xml
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/CanvasItemMaterial.xml
  doc/classes/EditorInspector.xml
  doc/classes/ItemList.xml
  doc/classes/Particles2D.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/Physics2DDirectSpaceState.xml
  doc/classes/Physics2DServer.xml
  doc/classes/SpatialMaterial.xml
  doc/classes/VisualServer.xml
Labels: documentation, enhancement

#23638 Fixed error spam when deleting cell in tileset
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, topic:editor

#23597 Fix deploy with network filesystem
  editor/fileserver/editor_file_server.cpp
  main/main.cpp
Labels: bug, topic:editor

#23622 Fix mouse mode restoration on Windows
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: bug, platform:windows, topic:input

#23624 [macOS] Fix file associations
  misc/dist/document_icon.svg
  misc/dist/osx_tools.app/Contents/Info.plist
  misc/dist/osx_tools.app/Contents/Resources/Document.icns
Labels: enhancement, platform:osx, topic:porting

#23490 Fix access to freed mem in WS client after #23241
  modules/websocket/lws_client.cpp
Labels: bug, topic:network

#23648 Make enum values not be script constants if enum is named
  modules/gdscript/gdscript_parser.cpp
Labels: breaks compat, enhancement, topic:gdscript

#23649 Fix scene dock not showing custom icons
  editor/editor_node.cpp
Labels: bug, topic:editor

#23654 Remove unused variable in ScriptEditorDebugger
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#23655 Fixed various uninitialised member variables in editor plugins.
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/skeleton_editor_plugin.cpp
  scene/gui/popup_menu.cpp
Labels: bug, topic:editor

#23653 Fix AudioStreamPlayback::stop not being called on AudioStreamPlayer::stop
  scene/audio/audio_player.cpp
Labels: bug, topic:audio

#23669 Fix compile recent compile issues with gcc 5.5
  platform/x11/detect.py
Labels: bug, topic:buildsystem

#23670 Use `ResourceLoader::exists` to check for default audio bus layout
  servers/audio_server.cpp
Labels: bug, topic:audio

#23671 Fix missing bind for _export_path_changed
  editor/project_export.cpp
Labels: bug, topic:editor

#23090 Consistency in KinematicBody
  doc/classes/KinematicBody.xml
  doc/classes/KinematicBody2D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Labels: enhancement, topic:physics, usability

#23407 Y-Sort children together in nested YSorts
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_canvas.h
Labels: enhancement, topic:core

#23254 Cleaning up some uninitialised variables in GLES2 stuff.
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_gles3.cpp
  servers/visual_server.cpp
Labels: bug, topic:rendering

#17530 Make it possible to call move_and_slide from _process, even if it is not recommended
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
Labels: enhancement, topic:physics

#22314 Random number generator(remake)
  core/math/math_funcs.cpp
  core/math/math_funcs.h
  core/math/random_number_generator.cpp
  core/math/random_number_generator.h
  core/math/random_pcg.cpp
  core/math/random_pcg.h
  core/register_core_types.cpp
  doc/classes/RandomNumberGenerator.xml
Labels: feature proposal, topic:core

#23683 ParticlesMaterial: Simplify PARAM_SCALE texture validation
  scene/resources/particles_material.cpp
Labels: cherrypick, enhancement, topic:core

#23704 Fix gcc version check when running scons in python 3.
  platform/x11/detect.py
Labels: bug, platform:linuxbsd, topic:buildsystem

#23702 Make 2D particles work OOTB (again)
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  scene/2d/canvas_item.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/3d/particles.cpp
Labels: bug, topic:core, topic:rendering

#23564 Notify node's moved children after sibling removed
  scene/main/node.cpp
Labels: bug, topic:core

#23724 Fix return value of get_total_character_count
  doc/classes/Label.xml
  scene/gui/label.cpp
Labels: bug, topic:core

#23726 Assign pointer null in RegEx::clear to avoid double free on destruction.
  modules/regex/regex.cpp
Labels: bug, topic:core

#23716 Fix Particles2D animation regression from #23702
  scene/2d/canvas_item.cpp
Labels: bug, topic:core, topic:rendering

#23735 Use VScrollBar when calculating horiz. offset in ScrollContainer
  scene/gui/scroll_container.cpp
Labels: bug, topic:core

#23734 Fix CanvasLayer trying to re-stack while out of tree
  scene/main/canvas_layer.cpp
Labels: bug, topic:core

#23727 [2.1] Fixed built templates for android
  platform/android/detect.py
Labels: bug, platform:android, topic:buildsystem

#23745 Fix some undefined behaviour in Bullet module.
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, topic:physics

#23668 Exposing more of bullets 6DOF spring constraints
  modules/bullet/generic_6dof_joint_bullet.cpp
  scene/3d/physics_joint.cpp
  scene/3d/physics_joint.h
  servers/physics/joints/generic_6dof_joint_sw.cpp
  servers/physics_server.h
Labels: enhancement, topic:physics

#23767 Fix AudioStreamPlayer2D/3D::is_playing right after a play()
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:audio

#23748 Fixes drag and drog of image files on scaled nodes
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: bug, topic:editor, usability

#23777 Fixed the default value and documentation for Input.action_press() from commit 8c45282
  core/os/input.cpp
  doc/classes/Input.xml
Labels: bug, documentation, topic:input

#23771 Always initialize VariantCall return_type.
  core/variant_call.cpp
Labels: bug, topic:core, topic:gdnative, topic:gdscript

#23787 Fix distorted sound with PulseAudio and uneven channels
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, topic:audio

#23742 Use hint_color when getting shader default params
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, topic:core, topic:rendering

#23798 Properly accept wildcard when binding IPv4 socket.
  core/io/ip_address.cpp
  drivers/unix/net_socket_posix.cpp
Labels: bug, topic:network

#23819 Add more places to hide guides if relationship lines are enabled
  editor/create_dialog.cpp
  editor/editor_help.cpp
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor, usability

#23770 SCons: Corrects $LIBSUFFIXES environment variable for Windows
  SConstruct
Labels: enhancement, platform:windows, topic:buildsystem

#23823 Tweak the Hue Variation property hint to allow finer adjustments
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/resources/particles_material.cpp
Labels: enhancement, topic:editor

#20627 #20488 core dictionary get key
  core/dictionary.cpp
  core/dictionary.h
  core/variant_call.cpp
  doc/classes/Dictionary.xml
Labels: enhancement, topic:core

#23833 C#: Fix Basis(Vec3,Vec3,Vec3) constructor
  modules/mono/glue/Managed/Files/Basis.cs
Labels: bug, topic:mono

#23835 Removed duplicate property bind in Generic6DOFJoint.
  scene/3d/physics_joint.cpp
Labels: bug, topic:physics

#23834 Fill info for translation related docs
  doc/classes/PHashTranslation.xml
  doc/classes/Translation.xml
  doc/classes/TranslationServer.xml
Labels: documentation, enhancement

#23815 Fix X11 running a project with fullscreen setting on and resizable off with multiple screens
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#23812 Add argument to UndoRedo's "clear_history()" to not increase the version
  core/undo_redo.cpp
  core/undo_redo.h
  doc/classes/UndoRedo.xml
  editor/editor_node.cpp
Labels: bug, topic:editor

#23813 Change default gizmo visibility and icons
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor

#23824 Adding UVs on end caps for CSGPolygon
  modules/csg/csg_shape.cpp
Labels: bug, topic:core

#23822 [macOS] Change runtime OS version checks to allow build with MacOS 10.9 SDK
  platform/osx/os_osx.mm
Labels: enhancement, platform:osx, topic:buildsystem

#21339 Fix regular macOS build by passing -isysroot to compiler so correct system headers are found
  methods.py
  platform/iphone/detect.py
  platform/osx/detect.py
Labels: bug, platform:osx, topic:buildsystem

#23760 Fixing tangent and binormal logic
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
  modules/csg/csg_shape.cpp
  scene/3d/sprite_3d.cpp
  scene/resources/material.cpp
  scene/resources/primitive_meshes.cpp
Labels: bug, needs testing, topic:rendering

#23802 Add Save option to resource property menu
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: enhancement, topic:editor, usability

#23728 Keep the SplitContainer offset value when it is shrinked
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Labels: bug, topic:core

#23124 Use NetSocket directly for ENet.
  thirdparty/enet/godot.cpp
Labels: enhancement, topic:network

#23645 Add a property to control DynamicFont anti-aliasing
  doc/classes/DynamicFontData.xml
  editor/editor_fonts.cpp
  editor/editor_settings.cpp
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: enhancement, topic:core

#23851 Support for java.lang.Long values in Android GodotLib.calldeferred calls
  platform/android/java_glue.cpp
Labels: bug, platform:android, topic:porting

#23862 C#: Replace calls to old of old Basis(Vec3,Vec3,Vec3) constructor
  modules/mono/glue/Managed/Files/Basis.cs
  modules/mono/glue/Managed/Files/Transform.cs
  modules/mono/glue/Managed/Files/Vector3.cs
Labels: bug, topic:mono

#22983 Better error message for malformed plugins
  editor/editor_node.cpp
Labels: enhancement, topic:plugin

#23878 Fix YSort crash when removing a child
  servers/visual/visual_server_canvas.cpp
Labels: bug, topic:rendering

#23880 add undeclared params of VisualScriptEditor::_selected_method
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: bug, topic:editor, topic:visualscript

#23859 Node: make _generate_serial_child_name manipulate numbers as String
  scene/main/node.cpp
Labels: bug, topic:editor

#23890 Make SVG scale more accurate
  editor/import/resource_importer_texture.cpp
Labels: enhancement, topic:editor, usability

#23897 Improved algorithm that check collision
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#23901 FileAccess::store_csv_line() don't added unnecessary double quotes.
  core/os/file_access.cpp
Labels: bug, topic:core

#23856 Fix 6DOF Physical Bone joint
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Labels: enhancement, topic:physics

#23875 Allows user to click on error line in status bar to jump into error.
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#23731 BaseButton: make input related information in the tooltip optional
  doc/classes/BaseButton.xml
  scene/gui/base_button.cpp
  scene/gui/base_button.h
Labels: bug, topic:core

#23680 Unified Class and Reference Search 2: Resurrection
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  scene/gui/tree.cpp
Labels: documentation, enhancement, topic:editor, usability

#22953 Fixed parents export vars not appearing in inspector if parent is class_name.
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#23907 General fixes for the new unified help search
  doc/classes/Tree.xml
  editor/editor_help_search.cpp
Labels: bug, documentation, topic:editor

#23885 Avoids error messages when importing zero scale transforms in the COLLADA importer
  editor/import/editor_import_collada.cpp
Labels: bug, topic:import

#23914 Make the buttons in the unified help dialog not steal focus
  editor/editor_help_search.cpp
  editor/editor_help_search.h
Labels: enhancement, topic:editor

#23740 Prevent unused_argument warning when passing arg to parent constructor
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#23930 AnimatedSprite: Fixed signal animation_finished
  scene/2d/animated_sprite.cpp
Labels: bug, topic:core

#23936 Remove GLAPIENTRY defines from rasterizer, now included in glad.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
Labels: bug, topic:rendering
