Repository godotengine/godot, pull requests merged in 2019-05, with the labels that each got.

#28544 Fix missing argument for vsnprintf_s
  modules/mono/utils/string_utils.cpp
Labels: bug, topic:mono

#28554 Fix regression on 'PopupMenu's minimal size
  scene/gui/popup_menu.cpp
Labels: enhancement, topic:core

#21425 Make "decimal" functions more consistent
  core/math/expression.cpp
  core/math/expression.h
  doc/classes/@GDScript.xml
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
  modules/mono/glue/Managed/Files/Mathf.cs
  modules/mono/glue/Managed/Files/MathfEx.cs
Labels: enhancement, topic:core

#27676 Small fixes to static analyzer bugs
  core/list.h
  core/math/rect2.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/x11/crash_handler_x11.cpp
  platform/x11/os_x11.cpp
  platform/x11/power_x11.cpp
  scene/resources/animation.h
Labels: bug, topic:core

#28455 Handle spaces correctly for base / parent scripts in the "New Script" dialog
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: bug, topic:editor

#28493 Make Command + Left go to first non-whitespace character
  scene/gui/text_edit.cpp
Labels: enhancement, platform:osx, topic:editor

#28557 Fixed game crash, regression of #26977
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#25453 Add option to keep button pressed when moving cursor outside while pressing
  doc/classes/BaseButton.xml
  scene/gui/base_button.cpp
  scene/gui/base_button.h
Labels: enhancement, topic:core

#25350 Fix "Auto Brace Complete" inserting extra quotation character sometimes in a string.
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#25406 GridMap editor fixes and improvements
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: bug, enhancement, topic:editor, usability

#28559 Support Mac OS default move cursor hotkeys
  scene/gui/text_edit.cpp
Labels: enhancement, platform:osx, topic:core

#28567 Fix Remove Missing Projects on Windows
  editor/project_manager.cpp
Labels: bug, platform:windows, topic:editor

#28563 Fix pvrtc encoder
  modules/pvr/texture_loader_pvr.cpp
Labels: bug, cherrypick:3.1, topic:import

#28571 Added missed inputs for other modes in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor, usability

#28542 Small documentation improvements
  doc/classes/Camera.xml
  doc/classes/Path2D.xml
  doc/classes/Vector2.xml
Labels: cherrypick:3.0, cherrypick:3.1, documentation, enhancement

#28588 Add a property hint for DynamicFont size
  scene/resources/dynamic_font.cpp
Labels: bug, topic:core

#28576 Freetype clone env for no-SMID single file
  modules/freetype/SCsub
Labels: bug, cherrypick:3.1, platform:html5, topic:buildsystem, topic:thirdparty

#28598 Fix input entries when switching to new visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#28599 Locales: Add some missing locale names
  core/translation.cpp
Labels: cherrypick:3.1, enhancement, topic:core

#28447 Change order of Visual Script Search and Misc VS UX
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
  modules/visual_script/visual_script_property_selector.cpp
Labels: enhancement, topic:editor, topic:visualscript, usability

#28611 Fix regression in 'PopupMenu' when icons have different values for width and height
  scene/gui/popup_menu.cpp
Labels: bug, topic:core

#28609 Fix slight issues with autocompletion and member lists in GDScript
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, cherrypick:3.1, topic:gdscript

#28613 Fix script dialog asking for a correct inheritance when not needed
  editor/script_create_dialog.cpp
Labels: bug, topic:editor

#27415 KinematicBody performance and quality improvements
  modules/bullet/btRayShape.cpp
  modules/bullet/btRayShape.h
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/godot_ray_world_algorithm.cpp
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
  servers/physics/space_sw.cpp
Labels: enhancement, topic:physics

#28608 Document CollisionObject2D pickable requires collision_layer
  doc/classes/CollisionObject2D.xml
Labels: documentation, enhancement

#28635 Fix build visual_shader_editor_plugin
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:buildsystem

#28636 Remove unused panelf and panelnc styles
  doc/classes/Panel.xml
  scene/resources/default_theme/default_theme.cpp
Labels: documentation, enhancement, junior job

#28620 Fix Mac OS move cursor behaviour
  scene/gui/text_edit.cpp
Labels: enhancement, platform:osx, topic:core

#28641 Fixed incorrect collapsing visual shader tree
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#28640 Fix navmesh not finding optimal paths
  scene/3d/navigation.cpp
Labels: bug, topic:core

#27594 Fix duplicated conditions.
  SConstruct
  drivers/unix/net_socket_posix.cpp
  modules/mono/utils/string_utils.cpp
Labels: bug, topic:core, topic:import

#28548 Add "disabled" icon for 'CheckButton'
  editor/editor_themes.cpp
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
  scene/gui/check_button.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/theme_data.h
  scene/resources/default_theme/toggle_off_disabled.png
  scene/resources/default_theme/toggle_on_disabled.png
Labels: enhancement, topic:core, topic:editor

#28603 Fix typed arrays and dictionaries getting their values shared
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.1, topic:gdscript

#28656 Make 'TabContainer' update when icon/title is changed
  scene/gui/tab_container.cpp
Labels: bug, cherrypick:3.1, topic:core

#28629 Make "Find in Files" always available in the script editor
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor, usability

#28681 Document dictionary erase return value
  doc/classes/Dictionary.xml
Labels: cherrypick:3.0, cherrypick:3.1, documentation, enhancement

#28643 Update of RigidBody2D class description
  doc/classes/RigidBody2D.xml
Labels: cherrypick:3.0, cherrypick:3.1, documentation, enhancement

#28657 Fixes VideostreamGDNative crash on audio_channel=0.
  modules/gdnative/videodecoder/video_stream_gdnative.cpp
Labels: bug, topic:gdnative

#28684 Fix ParallaxBackground breaking when moving it out the scene tree
  scene/2d/parallax_layer.cpp
Labels: bug, topic:core

#28330 Added set_as_bulk_array, fixed transform2D saving and documentation
  doc/classes/MultiMesh.xml
  scene/resources/multimesh.cpp
  scene/resources/multimesh.h
Labels: enhancement, topic:rendering

#28679 Support Mac OS default delete char hotkeys
  scene/gui/text_edit.cpp
Labels: enhancement, platform:osx, topic:input

#28696 fix CollisonShape changing shape cause crash when not in a tree
  scene/3d/collision_shape.cpp
Labels: bug, cherrypick:3.1, topic:core

#28709 Fix 'TabContainer' not updating its tab titles when locale is changed
  scene/gui/tab_container.cpp
  scene/gui/tabs.cpp
Labels: bug, cherrypick:3.1, topic:core

#28715 Make editor close empty scene when creating an inherited one
  editor/editor_node.h
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#28525 Added an is_valid function to FuncRef
  core/func_ref.cpp
  core/func_ref.h
Labels: enhancement, topic:core

#28365 Modify ResourceImporterScene to split animations with blendshapes.
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:import

#28516 Renames captions of Scalar/VectorInterp in Visual Shaders
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:editor

#28453 Partially implement enet_socket_set_option
  thirdparty/enet/godot.cpp
Labels: enhancement, topic:network, topic:thirdparty

#28765 Docs: Add tutorials for KinematicBody2D
  doc/classes/KinematicBody2D.xml
Labels: cherrypick:3.1, documentation, enhancement

#28773 Avoid _can_call_mode resetting error message in MultiplayerAPI
  core/io/multiplayer_api.cpp
Labels: enhancement, topic:network

#28784 X11: Check if "_NET_FRAME_EXTENTS" atom is supported.
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#28800 Fixes to ClippedCamera
  scene/3d/camera.cpp
Labels: bug, cherrypick:3.1, topic:core

#28806 Allow or_greater for most properties of NavMesh
  scene/3d/navigation_mesh.cpp
Labels: enhancement, topic:core

#28782 Add RegEx substitution testcase and fix relevant docs
  main/tests/test_string.cpp
  modules/regex/doc_classes/RegEx.xml
Labels: bug, documentation, topic:core

#28770 Fix scroll back top
  editor/filesystem_dock.cpp
  scene/gui/item_list.cpp
Labels: bug, topic:core, topic:editor

#28742 [EditorSpatialGizmo] Fix error in intersect_ray
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor

#28807 Open selected folder when pressing the "Open" option in the menu
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#28783 Better handle some self-RSET/RPC in MultiplayerAPI
  core/io/multiplayer_api.cpp
Labels: enhancement, topic:network

#28832 [Old PR was messed up] Document reproducability of Array.shuffle()
  doc/classes/Array.xml
Labels: documentation, enhancement

#28729 Apply sprite frames editor FPS value correctly upon _animation_select
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor

#28831 AnimatedSprite: Add from spritesheets now work as expected. Fix #28030
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor

#28326 Center shape according to logic Bullet applies
  doc/classes/HeightMapShape.xml
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/collision_object_bullet.h
  scene/3d/collision_shape.cpp
  scene/resources/height_map_shape.cpp
Labels: enhancement, topic:physics

#28839 Fix GDNative library resource loading.
  modules/gdnative/gdnative.cpp
  modules/gdnative/gdnative.h
Labels: bug, topic:editor, topic:gdnative

#28809 Fix orientation of generated navmeshes
  modules/recast/navigation_mesh_generator.cpp
Labels: bug, topic:core

#28780 Fix AudioEffectRecord messing up the effect stack by not writing to dst_frames
  servers/audio/effects/audio_effect_record.cpp
Labels: bug, cherrypick:3.1, topic:audio

#28750 Make possible to create inherited scenes via the RMB menu in the FileSystem dock
  editor/editor_node.cpp
  editor/editor_node.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor

#28761 Fix texture resource reload bug
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  scene/resources/texture.cpp
Labels: bug, cherrypick:3.1, topic:core, topic:rendering

#28723 Fix SHADOWS_DISABLED flag in GLES2
  drivers/gles2/shaders/scene.glsl
Labels: bug, cherrypick:3.1, topic:rendering

#28518 Added MSAA to GLES2 backend
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  platform/android/detect.py
  thirdparty/glad/glad.c
  thirdparty/glad/glad/glad.h
Labels: cherrypick:3.1, enhancement, needs testing, topic:rendering

#27798 Fixes bug when setting projection matrix in shader GLES2
  drivers/gles2/shaders/scene.glsl
  servers/visual/shader_types.cpp
Labels: bug, cherrypick:3.1, topic:rendering

#27898 Added radiance when using clear color
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
Labels: breaks compat, bug, needs testing, topic:rendering

#28875 Improve the CanvasItem documentation
  doc/classes/CanvasItem.xml
Labels: documentation, enhancement

#27569 Exclude link-local IPv4s from editor host list.
  editor/editor_settings.cpp
Labels: enhancement, topic:editor, topic:network

#28153 Make Xcode recursive search frameworks in project dir
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
Labels: cherrypick:3.1, enhancement, platform:osx

#28583 Fix First Ctrl+R and Ctrl+F not showing long name variables correctly
  scene/gui/line_edit.cpp
Labels: bug, topic:editor

#28891 Fix lighting bug introduced in clear color changes
  drivers/gles3/shaders/scene.glsl
Labels: bug, regression, topic:rendering

#28873 Properly update script button when undoing a script addition
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#28902 Fix NaN with get_action_strength
  core/os/input_event.cpp
Labels: bug, cherrypick:3.1, topic:input

#28919 Fix OS_Javascript execute method
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: platform:html5, topic:core

#28924 Fix indexing failure in unregister_binding_functions.
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, cherrypick:3.1, topic:gdnative

#28917 Update GDNativeLibrarySingletonEditor.
  modules/gdnative/gdnative_library_singleton_editor.cpp
  modules/gdnative/gdnative_library_singleton_editor.h
  modules/gdnative/register_types.cpp
Labels: bug, enhancement, topic:editor, topic:gdnative

#28928 Revert "Revert "Implemented terrain raycast acceleration""
  modules/bullet/shape_bullet.cpp
  thirdparty/bullet/BulletCollision/CollisionDispatch/btCollisionWorld.cpp
  thirdparty/bullet/BulletCollision/CollisionShapes/btHeightfieldTerrainShape.cpp
  thirdparty/bullet/BulletCollision/CollisionShapes/btHeightfieldTerrainShape.h
Labels: enhancement, topic:physics, topic:thirdparty

#28931 Add support for [url=] tag to makerst.py
  doc/tools/makerst.py
Labels: cherrypick:3.1, documentation, enhancement

#28913 Fix leftover connection to the "Open" signal in FileSystemDock
  editor/editor_node.cpp
  scene/gui/line_edit.cpp
Labels: bug, topic:editor

#28595 Improved CCD calculation algorithm
  modules/bullet/rigid_body_bullet.cpp
Labels: cherrypick:3.1, enhancement, topic:physics

#27097 Adjusts the default color for search border
  editor/editor_settings.cpp
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#28587 Implement Lanczos image filter
  core/image.cpp
  core/image.h
  core/math/math_funcs.h
  doc/classes/Image.xml
  editor/editor_node.cpp
Labels: enhancement, topic:core

#28945 Fix text_edit drawing incorrect chars when syntax highlighting enabled
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.1, topic:core

#28944 Fix Object::get_indexed for simple properties.
  core/object.cpp
Labels: bug, cherrypick:3.1, topic:core

#28950 Add "String Formatting" tutorial link to the 'String' doc
  doc/classes/String.xml
Labels: documentation, enhancement

#28874 Make "Onion Skinning" toggle its own button
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: enhancement, topic:editor, usability

#28905 Now able to "Copy Node Path" from the Remote tab. Fixes #28585.
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
Labels: enhancement, topic:editor, usability

#28954 Allow using user provided `.icns` files for exported app icons.
  platform/osx/export/export.cpp
Labels: cherrypick:3.0, cherrypick:3.1, enhancement, platform:osx, topic:editor

#28959 Add description for EditorPlugin.update_overlays
  doc/classes/EditorPlugin.xml
Labels: documentation, topic:editor

#28962 Removed an unused and leaked CheckButton instance in theme editor plugin
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#28920 Directories can now be dragged into the script editor
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#28366 Add feature to show spaces in code editor
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/icons/icon_GUI_space.svg
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/space.png
  scene/resources/default_theme/theme_data.h
Labels: enhancement, topic:editor, usability

#28983 Fix "Open Project Data Folder" in the editor
  editor/editor_node.cpp
Labels: bug, topic:editor

#28970 Fix saving scenes when multi-closing scene tabs
  editor/editor_node.cpp
Labels: bug, topic:editor

#28974 C#: Marshalling support for IEnumerable<> and IDictionary<,>
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/Managed/Files/MarshalUtils.cs
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_field.h
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_method.h
  modules/mono/mono_gd/gd_mono_property.h
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/mono_gd/i_mono_class_member.h
Labels: enhancement, topic:mono

#24483 Allow project export to be canceled
  editor/editor_export.cpp
  editor/project_export.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
Labels: feature proposal, topic:editor, usability

#28925 Improve the performance of AStar
  core/math/a_star.cpp
  core/math/a_star.h
Labels: enhancement, topic:core

#28996 Added Fresnel and OneMinus to visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering

#28997 Fix typos with codespell
  SConstruct
  core/error_macros.h
  core/io/http_client.cpp
  core/io/zip_io.h
  core/math/geometry.h
  core/undo_redo.cpp
  core/undo_redo.h
  doc/classes/AnimationNode.xml
  doc/classes/AnimationNodeStateMachine.xml
  doc/classes/EditorInspectorPlugin.xml
  doc/classes/PrismMesh.xml
  doc/classes/UndoRedo.xml
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
  editor/animation_track_editor.cpp
  editor/doc/doc_dump.cpp
  editor/editor_audio_buses.cpp
  editor/editor_file_system.cpp
  editor/editor_properties_array_dict.cpp
  editor/export_template_manager.cpp
  editor/filesystem_dock.cpp
  editor/import/resource_importer_texture.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  editor/scene_tree_editor.cpp
  editor/translations/editor.pot
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/bullet/space_bullet.cpp
  modules/csg/csg.cpp
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
  modules/enet/networked_multiplayer_enet.cpp
  modules/gdnative/gdnative.cpp
  modules/gdnative/pluginscript/pluginscript_instance.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/glue/Managed/Files/DynamicObject.cs
  platform/android/java/AndroidManifest.xml
  platform/android/java_godot_lib_jni.h
  platform/windows/os_windows.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/tile_map.cpp
  scene/3d/skeleton.cpp
  scene/animation/animation_player.cpp
  scene/animation/skeleton_ik.cpp
  scene/animation/skeleton_ik.h
  scene/gui/container.cpp
  scene/gui/text_edit.cpp
  scene/resources/surface_tool.cpp
  servers/audio/effects/audio_effect_spectrum_analyzer.cpp
  servers/physics_2d/space_2d_sw.cpp
  servers/visual/shader_language.cpp
Labels: cherrypick:3.1, enhancement, topic:core

#28972 minor change in scriptEdtiorPlugin ref #28943
  editor/plugins/script_editor_plugin.cpp
Labels: enhancement, topic:editor

#28965 Resolve: #24682 CSGPolygon - weird end cap
  modules/csg/csg_shape.cpp
Labels: bug, cherrypick:3.1, topic:core

#28975 NULL global_tag for non exposed classes
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, cherrypick:3.1, topic:gdnative

#29027 Travis: Update clang-format to version 8.0
  .travis.yml
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  editor/editor_folding.cpp
  misc/travis/clang-format.sh
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
  scene/resources/bit_map.cpp
  scene/resources/bit_map.h
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
Labels: enhancement, topic:buildsystem

#29024 doc: Document default value for PhysicsBody collision layers
  doc/classes/PhysicsBody.xml
  doc/classes/PhysicsBody2D.xml
Labels: documentation, enhancement

#27559 Improve the anchors and margin workflow
  editor/editor_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:core, topic:editor

#29016 Scale environment light properly in GLES3
  drivers/gles3/shaders/scene.glsl
Labels: bug, topic:rendering

#28792 Tweak the default low-processor usage mode to be 144 Hz-friendly
  main/main.cpp
Labels: enhancement, for pr meeting, topic:core

#29015 Fix upper/lowercase in some UI strings
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor

#28985 Clarify auto_advance.
  doc/classes/AnimationNodeStateMachineTransition.xml
Labels: documentation, enhancement

#29029 Allow empty replacement texts in the Find in Files replace dialog
  editor/find_in_files.cpp
Labels: bug, topic:editor

#29036 Fix history state setup in VisualScript
  modules/visual_script/visual_script_editor.cpp
Labels: bug, cherrypick:3.1, topic:editor, topic:visualscript

#26809 Allow to undo TextEdit.set_text
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  scene/gui/text_edit.cpp
Labels: enhancement, topic:core

#27886 Allow overriding how scripted objects are converted to strings
  core/core_string_names.cpp
  core/core_string_names.h
  core/object.cpp
  core/object.h
  core/script_language.cpp
  core/script_language.h
  core/variant.cpp
  doc/classes/Object.xml
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
Labels: feature proposal, topic:core

#28218 Add bookmarks for easier code navigation
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: feature proposal, topic:editor

#28952 Update Control margins when size is overridden by change to minsize
  scene/gui/control.cpp
Labels: bug, topic:editor

#29046 PageDown key selects last one when left items count is short
  scene/gui/tree.cpp
Labels: enhancement, topic:core

#29011 Initialize padding on PoolByteArray serialization
  core/io/marshalls.cpp
Labels: bug, cherrypick:3.1, topic:core

#29050 removed a redundant null check in assimp editor
  modules/assimp/editor_scene_importer_assimp.cpp
Labels: enhancement, topic:editor

#29062 Fix Theme Editor Preview
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#29041 add const to methods that return literals
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/editor/gdscript_highlighter.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/haiku/os_haiku.cpp
  platform/haiku/os_haiku.h
  platform/iphone/os_iphone.cpp
  platform/iphone/os_iphone.h
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/server/os_server.cpp
  platform/server/os_server.h
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#29040 Clear overrides on passing null
  scene/gui/control.cpp
Labels: bug, topic:core

#28838 Expression node for visual shaders
  editor/editor_fonts.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: feature proposal, topic:core, topic:rendering, usability

#29032 SCons: Keep exceptions and rtti on Android, iOS and HTML5 tools build
  platform/android/detect.py
  platform/iphone/detect.py
  platform/javascript/detect.py
Labels: enhancement, topic:buildsystem

#29018 [StateMachine] Fix error message for travel method
  scene/animation/animation_node_state_machine.cpp
Labels: bug, cherrypick:3.1, topic:core

#29073 Fix few bugs in expression node
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: bug, topic:editor

#29052 Replace call to 'mono_runtime_object_init' with manual ctor invoking
  modules/mono/glue/collections_glue.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
Labels: bug, topic:mono

#29076 Fix expression node parsing when input_port + \0 is occured
  scene/resources/visual_shader.cpp
Labels: bug, topic:editor

#29079 Fix C# build error in MarshalUtils debug code
  modules/mono/glue/Managed/Files/Extensions/NodeExtensions.cs
  modules/mono/glue/Managed/Files/MarshalUtils.cs
  modules/mono/glue/Managed/IgnoredFiles/Node.cs
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
Labels: bug, topic:mono

#29095 Makes the expression node to apply only when the focus leaves out
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, usability

#29074 Fix bottom panel visibility behaviour in the theme editor
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#29098 Update gitattributes to enforce LF, fix UTF-8 misencoding of thirdparty files
  .gitattributes
  thirdparty/assimp/code/res/resource.h
  thirdparty/misc/clipper.cpp
  thirdparty/xatlas/xatlas.cpp
Labels: enhancement, topic:thirdparty

#29085 Add undo/redo to Node2D bone creation
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#29087 Initialize readonly/editable in LineEdit and TextEdit controls
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#29096 [GDNative] fix godot_variant_evaluate function
  modules/gdnative/gdnative/variant.cpp
Labels: bug, cherrypick:3.1, topic:gdnative

#29022 Add some extra functions to EditorResourcePreviewGenerator
  doc/classes/EditorResourcePreviewGenerator.xml
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/editor_preview_plugins.h
Labels: enhancement, topic:editor

#29003 Build Clipper with `tools=no` and patch it to auto-disable exceptions
  core/SCsub
  editor/SCsub
  thirdparty/README.md
  thirdparty/misc/clipper-exceptions.patch
  thirdparty/misc/clipper.cpp
Labels: enhancement, topic:buildsystem, topic:thirdparty

#28847 Fix 'TextEdit's line wrapping being highlighted incorrectly
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#29109 Fix onion skinning
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/2d/skeleton_2d.h
  scene/animation/animation_player.cpp
Labels: bug, cherrypick:3.1, topic:editor

#28987 Expose 2D polygon boolean operations in Geometry singleton
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/math/geometry.cpp
  core/math/geometry.h
  doc/classes/Geometry.xml
Labels: enhancement, topic:core

#29031 Implement shadow to opacity
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  scene/resources/material.cpp
  scene/resources/material.h
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#28738 Added native binding for dictionary duplication
  modules/gdnative/gdnative/dictionary.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/dictionary.h
Labels: enhancement, topic:gdnative

#29123 Fixed uninitialised variable in x11 null cursor creation
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#29124 Fixed naming issue when duplicating an export
  editor/project_export.cpp
Labels: enhancement, topic:editor

#29125 fix un-scaling in Spatial::look_at_from_position
  scene/3d/spatial.cpp
Labels: bug, topic:core

#29134 Check project settings live before lookup in crash handler
  platform/osx/crash_handler_osx.mm
  platform/windows/crash_handler_windows.cpp
  platform/x11/crash_handler_x11.cpp
Labels: bug, topic:core
