Repository godotengine/godot, pull requests merged in 2019-06, with the labels that each got.

#28695 FIX Script editor doesn´t send unsaved script #28693
  editor/plugins/script_editor_plugin.cpp
Labels: bug, for pr meeting, topic:editor

#24708 Add sub-resource name when available to script editor
  editor/plugins/script_editor_plugin.cpp
Labels: cherrypick:3.1, enhancement, for pr meeting, topic:editor, usability

#24560 Add EDITMODE_PRIORITY for ATLAS_TILE
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: enhancement, for pr meeting, topic:core

#29360 Improve the curve editor rendering
  editor/plugins/curve_editor_plugin.cpp
Labels: enhancement, topic:editor

#29298 Partial Javascript clipboard support
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: bug, discussion, platform:html5, topic:core, topic:input, topic:porting

#28841 Improvements to incremental search
  doc/classes/PopupMenu.xml
  scene/gui/item_list.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, feature proposal, for pr meeting, topic:core

#27789 Added move_toward functions for float, Vector2 and Vector3
  core/math/expression.cpp
  core/math/expression.h
  core/math/math_funcs.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/variant_call.cpp
  doc/classes/@GDScript.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  modules/gdnative/gdnative/vector2.cpp
  modules/gdnative/gdnative/vector3.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/vector2.h
  modules/gdnative/include/gdnative/vector3.h
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
  modules/mono/glue/Managed/Files/Mathf.cs
  modules/mono/glue/Managed/Files/Vector2.cs
  modules/mono/glue/Managed/Files/Vector3.cs
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
Labels: enhancement, for pr meeting, topic:core

#29372 doc: Make all tutorial links track "latest" in master branch
  doc/classes/Resource.xml
  doc/classes/String.xml
  doc/classes/Theme.xml
  doc/classes/Translation.xml
  doc/classes/TranslationServer.xml
Labels: documentation, enhancement

#24943 Mute errors on surface->index_array_len == 0 in the GLES3 renderer
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#28390 Allow to change Position2D gizmo size
  doc/classes/Position2D.xml
  scene/2d/position_2d.cpp
  scene/2d/position_2d.h
Labels: discussion, enhancement, for pr meeting, topic:editor

#29375 Display longer Git hashes in engine version dialogs
  editor/editor_about.cpp
  editor/project_manager.cpp
  main/main.cpp
Labels: enhancement, topic:core, topic:editor

#29397 Fix GDSCript inner classes be freed after compile
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, regression, topic:gdscript

#29383 Add configurable strength value to InputEventAction
  core/input_map.cpp
  core/os/input_event.cpp
  core/os/input_event.h
  doc/classes/InputEventAction.xml
Labels: enhancement, topic:input

#29378 Fixed get_item_at_position being weird
  scene/gui/item_list.cpp
Labels: bug, topic:core

#29421 Remove MeshLibrary from disable_3d=true builds
  scene/register_scene_types.cpp
Labels: bug, topic:buildsystem, topic:core

#29424 Add HeightMapShape mesh in CollisionShape gizmo
  editor/spatial_editor_gizmos.cpp
  scene/resources/height_map_shape.cpp
Labels: bug, cherrypick:3.1, topic:editor, topic:physics

#29405 Travis CI: Build Linux export template with `disable_3d=yes`
  .travis.yml
Labels: enhancement, topic:buildsystem

#29422 Bind missing FLAG_DISABLE_Z enum value in ParticlesMaterial
  doc/classes/ParticlesMaterial.xml
  scene/resources/particles_material.cpp
Labels: bug, cherrypick:3.1, topic:core

#29426 Improve the documentation of the Object class
  doc/classes/Object.xml
Labels: documentation, enhancement

#29428 doc: Fix DocData.merge_from copying old setters and getters
  doc/classes/AudioEffectReverb.xml
  doc/classes/Control.xml
  doc/classes/Environment.xml
  doc/classes/Polygon2D.xml
  doc/classes/TextEdit.xml
  editor/doc/doc_data.cpp
Labels: bug, documentation

#29417 Better visual shader icon
  editor/icons/icon_visual_shader.svg
Labels: enhancement, topic:editor

#29414 Properly add "texture_changed" signal to MeshInstance2D
  scene/2d/mesh_instance_2d.cpp
Labels: bug, topic:core

#29412 Fix pausing in audio player editor acting the same as stopping
  editor/plugins/audio_stream_editor_plugin.cpp
Labels: bug, topic:editor

#25522 MeshLibrary export improvements
  doc/classes/ArrayMesh.xml
  doc/classes/Mesh.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/plugins/mesh_library_editor_plugin.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
Labels: enhancement, topic:core, topic:editor

#28099 Fix code completion not working with class_name
  core/script_language.h
  editor/plugins/script_text_editor.cpp
  modules/gdnative/include/pluginscript/godot_pluginscript.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/csharp_script.h
Labels: bug, topic:editor

#29432 Escape node names when saving to .tscn
  scene/resources/resource_format_text.cpp
Labels: bug, cherrypick:3.1, topic:core

#29359 Android build and export for the mono module
  modules/mono/build_scripts/godotsharptools_build.py
  modules/mono/build_scripts/mono_configure.py
  modules/mono/build_scripts/patches/fix-mono-android-pthread_mutexattr_setprotocol.diff
  modules/mono/build_scripts/patches/fix-mono-android-tkill.diff
  modules/mono/csharp_script.h
  modules/mono/editor/GodotSharpTools/Editor/GodotSharpExport.cs
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/glue/base_object_glue.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_assembly.h
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_property.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/signal_awaiter_utils.cpp
Labels: enhancement, platform:android, topic:mono

#29433 Properly catch certain errors in Dictionary and Array declarations
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#29431 Fix errors when attempting to set UNIX permissions when unavailable
  core/io/file_access_encrypted.cpp
  core/io/file_access_network.cpp
  drivers/windows/file_access_windows.cpp
Labels: bug, platform:windows, topic:core

#26848 Support UTF-8 in TextEdit and LineEdit navigation
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.1, topic:core

#29451 Fix crash when searching Tree with no selection
  scene/gui/tree.cpp
Labels: bug, topic:core

#29454 Add description for Particles.capture_aabb and fix typo
  doc/classes/Particles.xml
Labels: cherrypick:3.1, documentation, enhancement

#29461 Fix error spam when typing in the TileMap editor's search box while having no results
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#29427 Improve @GDScript.assert documentation
  doc/classes/@GDScript.xml
Labels: cherrypick:3.1, documentation, enhancement

#29448 Improve the performance monitor display
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor

#29449 Remove unnecessary assignment
  core/list.h
Labels: enhancement, topic:core

#29460 Fix TileMap editor not correctly copying atlas tiles
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#29452 Remember selected subtile when updating the TileMap editor
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#29464 [macOS] Fixes unicode input with IME input mode inactive.
  doc/classes/InputEventKey.xml
  doc/classes/OS.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
Labels: bug, documentation, platform:osx, topic:input

#29459 Fix moving and renaming files
  editor/editor_data.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, cherrypick:3.1, topic:core

#29473 Mono: Fix SCons options added to the wrong environment
  modules/mono/SCsub
  modules/mono/build_scripts/mono_configure.py
  modules/mono/config.py
Labels: bug, topic:buildsystem, topic:mono

#29469 Fix GraphNode not adding separation after the first node
  scene/gui/graph_node.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:core

#29411 Added MultiMeshInstance2D node for using MultiMesh in 2D
  doc/classes/MultiMeshInstance2D.xml
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shaders/canvas.glsl
  editor/icons/icon_multi_mesh_instance_2d.svg
  scene/2d/multimesh_instance_2d.cpp
  scene/2d/multimesh_instance_2d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:core, topic:rendering

#29557 Fix 2D Line crash
  scene/2d/line_2d.cpp
Labels: bug, topic:core

#29606 Remove obsolete mono patch for pthread_mutexattr_setprotocol
  modules/mono/build_scripts/patches/fix-mono-android-pthread_mutexattr_setprotocol.diff
Labels: topic:mono

#29629 Fix crash when selecting favorate directory on EditorFileDialog
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
Labels: bug, crash, topic:editor

#29527 Add tooltip for the dependencies buttons in the orphan explorer dialog
  editor/dependency_editor.cpp
Labels: enhancement, topic:editor

#29651 Fix crash when frames are empty
  scene/2d/animated_sprite.cpp
Labels: bug, topic:core

#29497 Fix memory leak after closing files
  editor/plugins/asset_library_editor_plugin.cpp
  platform/uwp/export/export.cpp
Labels: cherrypick:3.1, enhancement, topic:core

#29546 Fix random ssl crash
  core/io/http_client.cpp
Labels: bug, cherrypick:3.1, topic:network

#29667 Corrected spelling error
  doc/classes/Navigation.xml
Labels: documentation, enhancement

#29669 makerst: Fix format of [url] links in reST
  doc/classes/ProjectSettings.xml
  doc/tools/makerst.py
Labels: cherrypick:3.1, documentation, enhancement

#29671 Fix borderless state restoration after exiting fullscreen.
  platform/x11/os_x11.cpp
Labels: bug, cherrypick:3.1, platform:linuxbsd, topic:porting

#29496 Use def ANDROID_ENABLED so android features are not included in web builds
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, platform:android, platform:html5, topic:buildsystem

#29498 Fix third and fourth level (AltGr / ⌥ modifier) keys input in LineEdit.
  scene/gui/line_edit.cpp
Labels: bug, platform:osx, topic:input

#29508 Use uppercase for all hexadecimal constants in the editor help
  editor/editor_help.cpp
Labels: cherrypick:3.1, enhancement, topic:editor

#29515 Add a margin to "checkable" property checkboxes in the editor inspector
  editor/editor_inspector.cpp
Labels: enhancement, topic:editor

#29519 Make tilemap texture origin point top-left.
  editor/plugins/tile_map_editor_plugin.cpp
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#29550 [2.1] Backporting HiDPI support on Windows.. yes this is all it took (cherry-pick)
  platform/windows/os_windows.cpp
Labels: bug, topic:rendering

#29558 Reversed operator in SortLifetime fixing #29440
  scene/2d/cpu_particles_2d.h
Labels: bug, cherrypick:3.1, topic:core

#29467 replaced "divisor" with "delimiter" for methods split,rsplit and split_floats.
  core/variant_call.cpp
  doc/classes/String.xml
Labels: documentation, enhancement

#29418 Updated Bullet version to the actual bullet master commit
  modules/bullet/SCsub
  platform/server/detect.py
  platform/x11/detect.py
  thirdparty/README.md
  thirdparty/bullet/Bullet3Common/b3Quaternion.h
  thirdparty/bullet/Bullet3Common/b3Vector3.h
  thirdparty/bullet/BulletCollision/BroadphaseCollision/btDbvt.cpp
  thirdparty/bullet/BulletCollision/BroadphaseCollision/btSimpleBroadphase.cpp
  thirdparty/bullet/BulletCollision/CollisionDispatch/btCollisionObject.cpp
  thirdparty/bullet/BulletCollision/CollisionDispatch/btCollisionObject.h
  thirdparty/bullet/BulletCollision/CollisionDispatch/btCollisionWorld.cpp
  thirdparty/bullet/BulletCollision/CollisionShapes/btConvexPolyhedron.cpp
  thirdparty/bullet/BulletCollision/CollisionShapes/btHeightfieldTerrainShape.cpp
  thirdparty/bullet/BulletCollision/CollisionShapes/btHeightfieldTerrainShape.h
  thirdparty/bullet/BulletCollision/Gimpact/btGImpactBvhStructs.h
  thirdparty/bullet/BulletCollision/Gimpact/btGImpactCollisionAlgorithm.cpp
  thirdparty/bullet/BulletCollision/Gimpact/btGImpactShape.h
  thirdparty/bullet/BulletCollision/Gimpact/gim_box_set.h
  thirdparty/bullet/BulletCollision/Gimpact/gim_pair.h
  thirdparty/bullet/BulletCollision/NarrowPhaseCollision/btConvexCast.h
  thirdparty/bullet/BulletCollision/NarrowPhaseCollision/btGjkPairDetector.cpp
  thirdparty/bullet/BulletCollision/NarrowPhaseCollision/btRaycastCallback.h
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btBatchedConstraints.cpp
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btConeTwistConstraint.cpp
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btConstraintSolver.h
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btContactSolverInfo.h
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btGeneric6DofSpring2Constraint.cpp
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btGeneric6DofSpring2Constraint.h
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btSequentialImpulseConstraintSolver.cpp
  thirdparty/bullet/BulletDynamics/ConstraintSolver/btSequentialImpulseConstraintSolver.h
  thirdparty/bullet/BulletDynamics/Dynamics/btSimulationIslandManagerMt.cpp
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBody.cpp
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBody.h
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyConstraintSolver.cpp
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyConstraintSolver.h
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyDynamicsWorld.cpp
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyDynamicsWorld.h
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyLinkCollider.h
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyMLCPConstraintSolver.cpp
  thirdparty/bullet/BulletDynamics/Featherstone/btMultiBodyMLCPConstraintSolver.h
  thirdparty/bullet/BulletDynamics/MLCPSolvers/btLemkeSolver.h
  thirdparty/bullet/BulletInverseDynamics/MultiBodyTree.cpp
  thirdparty/bullet/BulletInverseDynamics/details/MultiBodyTreeImpl.cpp
  thirdparty/bullet/BulletSoftBody/btSoftBody.cpp
  thirdparty/bullet/LinearMath/TaskScheduler/btThreadSupportPosix.cpp
  thirdparty/bullet/LinearMath/btAlignedObjectArray.h
  thirdparty/bullet/LinearMath/btMatrixX.h
  thirdparty/bullet/LinearMath/btScalar.h
  thirdparty/bullet/LinearMath/btVector3.h
  thirdparty/bullet/btBulletCollisionAll.cpp
  thirdparty/bullet/btBulletDynamicsAll.cpp
  thirdparty/bullet/btLinearMathAll.cpp
Labels: enhancement, topic:physics, topic:thirdparty

#29526 Improve conections dialog
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability

#29539 Fix crash with get_keywords_color
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.1, topic:editor

#29262 Automatically add new line to scripts
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: enhancement, topic:editor

#29578 Added export hint to 2D and 3D physics and render layers.
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:editor, topic:gdscript

#29565 Make docs search hide nodes disabled by the editor feature profile
  editor/editor_help_search.cpp
  editor/editor_help_search.h
Labels: enhancement, topic:editor

#29543 Fix ARVRAnchor and ARVRController error spam
  scene/3d/arvr_nodes.cpp
Labels: bug, cherrypick:3.1, topic:arvr

#29573 Fix RichLabelText::_process_line crash
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#29678 Fix error macro calls not ending with semicolon
  core/color.cpp
  core/io/xml_parser.cpp
  core/project_settings.cpp
  core/sort_array.h
  core/vector.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  editor/collada/collada.cpp
  editor/editor_export.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/filesystem_dock.cpp
  editor/import/resource_importer_wav.cpp
  editor/inspector_dock.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  main/main.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/cone_twist_joint_bullet.cpp
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/bullet/hinge_joint_bullet.cpp
  modules/bullet/pin_joint_bullet.cpp
  modules/csg/csg.cpp
  modules/enet/networked_multiplayer_enet.cpp
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gridmap/grid_map.cpp
  modules/opus/audio_stream_opus.cpp
  modules/tinyexr/image_loader_tinyexr.cpp
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/iphone/icloud.mm
  platform/javascript/os_javascript.cpp
  scene/2d/animated_sprite.cpp
  scene/2d/line_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree_player.cpp
  scene/gui/text_edit.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/resources/animation.cpp
  scene/resources/packed_scene.cpp
  scene/resources/texture.cpp
  scene/resources/visual_shader.cpp
  servers/physics_2d/joints_2d_sw.cpp
Labels: enhancement, topic:core

#29680 Add missing license headers
  drivers/gles2/shader_gles2.h
  editor/editor_atlas_packer.cpp
  editor/editor_atlas_packer.h
  editor/editor_feature_profile.cpp
  editor/editor_feature_profile.h
  editor/import/resource_importer_texture_atlas.cpp
  editor/import/resource_importer_texture_atlas.h
  misc/scripts/fix_headers.py
  servers/audio/effects/audio_effect_spectrum_analyzer.cpp
  servers/audio/effects/audio_effect_spectrum_analyzer.h
  servers/audio/effects/audio_stream_generator.cpp
  servers/audio/effects/audio_stream_generator.h
Labels: enhancement, topic:core

#29699 Add spacing between the icon and details in the assetlib list
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, topic:editor

#29659 Fix connection info still appearing on scripts if the node source is deleted
  editor/plugins/script_text_editor.cpp
Labels: bug, topic:editor

#29685 CPUParticles: Fix inconsistent tangential acceleration
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
Labels: bug, topic:core

#29696 CPUParticles: Do randomness ratio computations in phase instead of time
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
Labels: bug, topic:core

#29306 Small fixes to unrechable code, possibly overflows, using NULL pointers
  core/hash_map.h
  core/io/config_file.cpp
  core/project_settings.cpp
  core/ustring.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  editor/audio_stream_preview.cpp
  editor/code_editor.cpp
  editor/editor_node.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/scene_tree_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/recast/navigation_mesh_editor_plugin.cpp
  modules/webm/video_stream_webm.cpp
  platform/x11/joypad_linux.cpp
  scene/2d/camera_2d.cpp
  scene/animation/animation_blend_tree.cpp
  scene/gui/tree.cpp
Labels: bug, enhancement, topic:core

#29465 Removes redundant "splash" setting, improves per pixel transparency documentation.
  core/os/os.h
  doc/classes/OS.xml
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: documentation, enhancement, topic:core

#29474 Fix subtile picking in TileMap editor
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, topic:editor

#29481 Fixes hotkeys on "Dvorak - QWERTY ⌘" keyboard layout.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:input

#29517 Allow to change 2D pan hotkey
  editor/editor_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor

#29589 Add in missing 'FLAG_DRAW_NEXT_FRAME_IF_VISIBLE' to Flag enun
  scene/3d/visual_instance.h
Labels: bug, topic:core

#29710 Remove some references to unimplemented features in the assetlib
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: enhancement, topic:assetlib, topic:editor

#29703 Check base scripts for signal receiving methods before warning about them missing
  editor/plugins/script_text_editor.cpp
Labels: bug, topic:editor

#29695 Fix script create dialog
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: bug, topic:editor

#29679 Remove "Editor" from Windows PE file description
  platform/windows/godot_res.rc
Labels: enhancement, platform:windows, topic:buildsystem

#29664 Always pass script path to external editor
  editor/plugins/script_editor_plugin.cpp
Labels: cherrypick:3.1, enhancement, topic:editor, usability

#29648 Fix Tree button tooltips
  scene/gui/tree.cpp
Labels: bug, topic:core

#29646 'get_skidinfo()' misleading description
  doc/classes/VehicleWheel.xml
Labels: documentation, enhancement

#29595 Enhancements for the audio bus editor
  editor/animation_track_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_audio_buses.h
Labels: bug, enhancement, topic:editor

#29599 Display a "loading" placeholder while icons are loading in the assetlib
  editor/icons/icon_project_icon_loading.svg
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, topic:editor

#29601 Treat hiding_enabled as bool throughout
  doc/classes/TextEdit.xml
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:core

#29316 Added constant support to shaders
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: feature proposal, for pr meeting, topic:core, topic:rendering

#29583 Fix Vector3 slerp method by normalizing cross product
  core/math/vector3.h
Labels: bug, for pr meeting, topic:core

#28735 Fixes to the DDS loader
  modules/dds/texture_loader_dds.cpp
Labels: bug, for pr meeting, topic:import

#29615 Fix display of large sizes in the editor monitors
  core/ustring.cpp
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#27193 Improved uniformity of RandomPCG::randf.
  core/math/random_pcg.cpp
  core/math/random_pcg.h
Labels: enhancement, for pr meeting, topic:core

#29605 Adding details about `Image.lock()` function
  doc/classes/Image.xml
Labels: documentation, enhancement

#29616 Make humanized size rounding clearer by padding decimals with zeroes
  core/ustring.cpp
Labels: bug, topic:editor

#29624 [3.1] [Mono] Change Atan2 arguments to (y, x)
  modules/mono/glue/Managed/Files/Mathf.cs
Labels: enhancement, topic:mono

#22863 Reload text shaders when externally edited, issue 19852
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: enhancement, topic:editor, usability

#29716 Fix error spam in create dialog when searching for nodes with some disabled
  editor/create_dialog.cpp
Labels: bug, topic:editor

#29717 BaseButton: Make shortcuts call virtual methods
  scene/gui/base_button.cpp
Labels: bug, needs testing, topic:core

#29658 Filled out docs for various mesh types
  doc/classes/ArrayMesh.xml
  doc/classes/MeshInstance.xml
  doc/classes/MeshInstance2D.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/QuadMesh.xml
  doc/classes/TriangleMesh.xml
Labels: documentation, enhancement

#29592 Fixing returned alpha component for inverted method
  doc/classes/Color.xml
Labels: bug, documentation

#29645 Allow reselecting items in the "Favorites" and "Recent" lists in the create dialog
  editor/create_dialog.cpp
Labels: enhancement, topic:editor

#29702 Validate parameters of randi_range()
  core/math/random_number_generator.h
Labels: bug, topic:core

#29708 Added script name tooltip for Open Script Icon
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor

#29728 [2.1] If WASAPI driver not initialized, fail the init
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: enhancement, platform:windows, topic:audio

#29711 Added hint for windows export options
  platform/windows/export/export.cpp
Labels: enhancement, topic:porting

#29731 Cleanup some unecessary editor/ includes in scene/
  scene/2d/camera_2d.cpp
  scene/gui/control.cpp
  scene/gui/gradient_edit.cpp
  scene/gui/gradient_edit.h
  scene/gui/tree.cpp
Labels: enhancement, topic:core

#29628 Fix write outside array in mesh_add_surface
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#29635 Apply a better fix for the EditorFileDialog crash on favorite
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
Labels: bug, topic:editor

#29636 Dim the project manager window while it's quitting
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor

#29638 Add button for toggling hidden files in EditorFileDialog
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
Labels: enhancement, topic:editor

#29644 Make possible to reselect an item in the "Recent" list in the EditorFileDialog
  editor/editor_file_dialog.cpp
Labels: enhancement, topic:editor

#29737 Minor cleanup in connections dialog file
  editor/connections_dialog.cpp
  editor/connections_dialog.h
Labels: enhancement, topic:editor

#29129 Created a fallback from the "Save Theme" button to "Save Theme As" when a default theme is in use.
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, topic:editor

#29683 Implement missing orbit velocity for CPUParticles and CPUParticles2D
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
Labels: bug, enhancement, topic:core

#29754 Added constants for the main buttons and axis used in VR
  core/global_constants.cpp
  core/os/input_event.h
  doc/classes/@GlobalScope.xml
Labels: enhancement, topic:arvr, topic:input

#29749 Take CSG into account for nav-mesh generation
  modules/csg/csg_shape.h
  modules/recast/navigation_mesh_generator.cpp
Labels: bug, topic:core

#29488 Fix the performance of remove_point of AStar
  core/math/a_star.cpp
  core/math/a_star.h
Labels: enhancement, topic:core

#29735 Limit Physics Process FPS above 0
  core/engine.cpp
  main/main.cpp
Labels: bug, topic:core

#29757 Check for inherited methods before attempting to create one when connecting a signal
  editor/connections_dialog.cpp
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#29779 Fix help source font setting and related cleanup
  editor/editor_fonts.cpp
  editor/editor_settings.cpp
Labels: bug, enhancement, topic:editor

#29712 Add documentation for Bone2D
  doc/classes/Bone2D.xml
Labels: documentation, enhancement

#29621 Implementing 0-duration tweens
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: feature proposal, topic:core

#29514 Improvements to OS.has_feature() docs
  doc/classes/OS.xml
Labels: documentation, enhancement

#29782 Expose ClippedCamera clip_offset
  scene/3d/camera.cpp
  scene/3d/camera.h
Labels: enhancement, topic:core

#29768 [DOCS] Update CPUParticles[2D] classref
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/Particles.xml
  doc/classes/Particles2D.xml
  doc/classes/ParticlesMaterial.xml
Labels: documentation, enhancement

#29647 Add toggle for hidden file visibility in FileDialog
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/icon_visibility.png
  scene/resources/default_theme/theme_data.h
Labels: enhancement, topic:core

#29787 Fix TextEdit cursor.column having a negative value
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.1, crash, topic:core

#29783 Fix HTML5 build failed due to undefined symbol
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, platform:html5, topic:rendering

#29788 Improve the default project naming in the Project Manager
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#29795 Minor enhancements to the dependency editor
  editor/dependency_editor.cpp
  editor/dependency_editor.h
Labels: enhancement, topic:editor

#29793 Fix ENet incorrectly binding to wildcard.
  modules/enet/networked_multiplayer_enet.cpp
Labels: bug, cherrypick:3.0, cherrypick:3.1, topic:network

#29785 Fix RichTextLabel alignment tags not working properly
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#29802 glTF: Fix import of animations with INTERPOLATION_LINEAR
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, cherrypick:3.1, topic:import

#29808 Mono: Fix -Wduplicated-branches warning
  modules/mono/editor/bindings_generator.cpp
Labels: enhancement, topic:mono

#29803 SCons: Enable -Werror and -Wextra in 'dev' build option
  SConstruct
Labels: enhancement, topic:buildsystem

#29797 Fix compilation warnings in JS and Windows builds
  drivers/unix/net_socket_posix.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/windows/file_access_windows.cpp
  modules/webrtc/webrtc_data_channel_js.cpp
  platform/javascript/audio_driver_javascript.cpp
  platform/windows/joypad_windows.cpp
  platform/windows/os_windows.cpp
  platform/windows/power_windows.cpp
  platform/windows/windows_terminal_logger.cpp
  scene/2d/position_2d.cpp
  scene/2d/position_2d.h
Labels: bug, enhancement, platform:html5, platform:windows, topic:buildsystem, topic:core

#29811 Add support for bold fonts in the editor help
  editor/editor_fonts.cpp
  editor/editor_help.cpp
Labels: enhancement, topic:editor

#29786 Fix pointer position in hidpi-corrected resolutions on web
  misc/dist/html/full-size.html
  platform/javascript/os_javascript.cpp
Labels: bug, cherrypick:3.1, platform:html5, topic:porting

#29643 Add documentation for AnimationNode* resources
  doc/classes/AnimationNode.xml
  doc/classes/AnimationNodeAdd2.xml
  doc/classes/AnimationNodeAdd3.xml
  doc/classes/AnimationNodeAnimation.xml
  doc/classes/AnimationNodeBlend2.xml
  doc/classes/AnimationNodeBlend3.xml
  doc/classes/AnimationNodeBlendSpace1D.xml
  doc/classes/AnimationNodeBlendSpace2D.xml
Labels: documentation, enhancement

#29764 Add an option to disable boot splash filtering
  doc/classes/VisualServer.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_gles2.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  main/main.cpp
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.cpp
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: enhancement, topic:core

#29700 Fix CPU particles bug with local_coords and transform
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
Labels: bug, topic:core, topic:rendering

#29830 Remove useless cast from c-string to String
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#29831 Fix Range's "changed" signal emitting with a value even if binded to emit none
  scene/gui/range.cpp
Labels: bug, topic:core

#29835 Tweak some editor property hints to be more flexible and consistent
  scene/2d/light_2d.cpp
  scene/3d/baked_lightmap.cpp
  scene/3d/gi_probe.cpp
  scene/3d/light.cpp
  scene/resources/material.cpp
Labels: enhancement, topic:editor

#29838 Fix selection undo... for real
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#29781 Allow setting websocket buffers sizes internally.
  modules/websocket/doc_classes/WebSocketMultiplayerPeer.xml
  modules/websocket/emws_client.cpp
  modules/websocket/emws_client.h
  modules/websocket/emws_server.cpp
  modules/websocket/emws_server.h
  modules/websocket/lws_client.cpp
  modules/websocket/lws_client.h
  modules/websocket/lws_server.cpp
  modules/websocket/lws_server.h
  modules/websocket/websocket_client.h
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.h
  modules/websocket/websocket_server.h
Labels: discussion, enhancement, topic:network
