Repository godotengine/godot, pull requests merged in 2019-01, with the labels that each got.

#24687 fix draw_rect rotation
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#24686 Fix incorrect grid snapping in TileSet editor with separation
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#24700 Disable support for VIA Padlock
  thirdparty/mbedtls/include/mbedtls/config.h
Labels: bug, topic:buildsystem

#24703 AppVeyor: Force installing SCons 3.0.1
  .appveyor.yml
Labels: bug, topic:buildsystem

#24712 Improved script attachment/removal buttons behavior a bit
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#24691 Fix line 2D intersection behavior
  scene/2d/line_builder.cpp
Labels: bug, topic:rendering

#24715 Fix negative size rectangle drawing in GLES2
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:editor

#24730 escaped '&' in macos osx_tools.app Info.plist
  misc/dist/osx_tools.app/Contents/Info.plist
Labels: bug, platform:osx, topic:core

#24722 Make GraphEdit lines smoother and scale their width on hiDPI displays
  scene/gui/graph_edit.cpp
Labels: enhancement, topic:editor

#24736 Add thumbnails to LargeTexture
  editor/plugins/editor_preview_plugins.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: enhancement, topic:editor, usability

#24040 Implements OS_JavaScript::set_custom_mouse_cursor
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: enhancement, platform:html5, topic:porting

#24746 Allow offset and unit_offset to be set higher than one loop
  scene/2d/path_2d.cpp
  scene/3d/path.cpp
Labels: bug, topic:core

#24747 Docs: Fix "equal to" and code markup in float.xml
  doc/classes/float.xml
Labels: documentation, enhancement

#24748 Don't apply target_fps in editor
  main/main.cpp
Labels: bug, topic:core

#24688 Add code-oss, vscode-oss, and visual-studio-code-oss to vscode path
  modules/mono/editor/godotsharp_editor.cpp
Labels: enhancement, topic:editor

#24683 Fixed autocompletion menu vertical position
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#24477 Don't enable DRI_PRIME if nouveau is loaded
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#24754 Update zstd to 1.3.8
  .editorconfig
  core/SCsub
  core/io/compression.cpp
  thirdparty/README.md
  thirdparty/zstd/1314.diff
  thirdparty/zstd/common/bitstream.h
  thirdparty/zstd/common/compiler.h
  thirdparty/zstd/common/cpu.h
  thirdparty/zstd/common/debug.c
  thirdparty/zstd/common/debug.h
  thirdparty/zstd/common/entropy_common.c
  thirdparty/zstd/common/error_private.c
  thirdparty/zstd/common/fse.h
  thirdparty/zstd/common/fse_decompress.c
  thirdparty/zstd/common/huf.h
  thirdparty/zstd/common/mem.h
  thirdparty/zstd/common/pool.c
  thirdparty/zstd/common/pool.h
  thirdparty/zstd/common/xxhash.c
  thirdparty/zstd/common/zstd_common.c
  thirdparty/zstd/common/zstd_errors.h
  thirdparty/zstd/common/zstd_internal.h
  thirdparty/zstd/compress/fse_compress.c
  thirdparty/zstd/compress/hist.c
  thirdparty/zstd/compress/hist.h
  thirdparty/zstd/compress/huf_compress.c
  thirdparty/zstd/compress/zstd_compress.c
  thirdparty/zstd/compress/zstd_compress_internal.h
  thirdparty/zstd/compress/zstd_double_fast.c
  thirdparty/zstd/compress/zstd_double_fast.h
  thirdparty/zstd/compress/zstd_fast.c
  thirdparty/zstd/compress/zstd_fast.h
  thirdparty/zstd/compress/zstd_lazy.c
  thirdparty/zstd/compress/zstd_lazy.h
  thirdparty/zstd/compress/zstd_ldm.c
  thirdparty/zstd/compress/zstd_ldm.h
  thirdparty/zstd/compress/zstd_opt.c
  thirdparty/zstd/compress/zstd_opt.h
  thirdparty/zstd/compress/zstdmt_compress.c
  thirdparty/zstd/compress/zstdmt_compress.h
  thirdparty/zstd/decompress/huf_decompress.c
  thirdparty/zstd/decompress/zstd_ddict.c
  thirdparty/zstd/decompress/zstd_ddict.h
  thirdparty/zstd/decompress/zstd_decompress.c
  thirdparty/zstd/decompress/zstd_decompress_block.c
  thirdparty/zstd/decompress/zstd_decompress_block.h
  thirdparty/zstd/decompress/zstd_decompress_internal.h
  thirdparty/zstd/zstd.h
Labels: bug, cherrypick, enhancement, topic:thirdparty

#24738 Check if p_child is not null in Container.fit_child_rect()
  scene/gui/container.cpp
Labels: bug, topic:core

#24732 Optimizations for trivial types
  core/cowdata.h
  core/os/memory.h
Labels: cherrypick, enhancement, topic:core

#24647 Fix for blend shape incorrectly scaling skinned gltf mesh
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, topic:core, topic:rendering

#24575 Fixed CurveTexture with GLES3 on Android
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
Labels: bug, platform:android, topic:rendering

#24539 Override GL_position
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#24504 Fix #24470 Atlas Texture with margin setting cause error in editor.
  scene/resources/texture.cpp
Labels: bug, topic:core

#24568 Fix wrong default target for sampler2DArray
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
Labels: bug, topic:rendering

#24585 Fix crash when checking empty string for valid hex number
  core/ustring.cpp
Labels: bug, topic:core

#24582 Bring back script encryption in export preset
  editor/editor_export.cpp
  editor/editor_export.h
  editor/project_export.cpp
  editor/project_export.h
  modules/gdscript/register_types.cpp
Labels: enhancement, topic:editor, topic:gdscript

#24592 Make possible to use ETC texture format with GLES3 on Android
  platform/android/export/export.cpp
Labels: enhancement, platform:android, topic:rendering

#24689 Fix viewport not updating with make_current() for Camera2D
  scene/2d/camera_2d.cpp
Labels: bug, topic:core

#24741 Fix segfault when trying to autocomplete in inner classes
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:editor, topic:gdscript

#24767 Revert "Fix blend tree generating wrong node names"
  editor/plugins/animation_blend_tree_editor_plugin.cpp
Labels: bug, topic:editor

#21708 String[size()] should return a default constructed CharType
  core/ustring.cpp
  core/ustring.h
  main/tests/test_string.cpp
Labels: bug, cherrypick, topic:core

#24791 Change blend equations for GLES2 canvasitems
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#24797 Fix code completion on nodes in current scene
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:editor, topic:gdscript

#24801 Fix jumping when scrolling down fast with smooth scroll enabled
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#24608 Improve documentation of Control.
  doc/classes/Control.xml
Labels: documentation, enhancement

#24777 Fix font kerning
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: bug, topic:rendering

#24804 Add missing documentation for @GDScript
  doc/classes/@GDScript.xml
Labels: documentation, enhancement

#24806 Add process_mode property to Camera2D
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Labels: enhancement, topic:core

#24640 makerst.py refactor.
  doc/tools/makerst.py
Labels: documentation, enhancement, topic:buildsystem

#24807 Fix state machine scroll
  editor/plugins/animation_state_machine_editor.cpp
Labels: enhancement, topic:editor

#24814 Move scrolls in the StateMachine editor inside the panel
  editor/plugins/animation_state_machine_editor.cpp
Labels: enhancement, topic:editor

#24824 Use 'release_debug' for mono export templates
  modules/mono/editor/godotsharp_export.cpp
Labels: bug, topic:mono

#24823 Repair String lstrip and rstrip.
  core/cowdata.h
  core/ustring.cpp
  core/ustring.h
  core/vector.h
  main/tests/test_string.cpp
Labels: bug, topic:core

#24301 PulseAudio driver will now change the device if the default system device changes
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: enhancement, platform:linuxbsd, topic:audio

#24830 Use 'release_debug' for mono export templates
  modules/mono/editor/GodotSharpTools/Editor/GodotSharpExport.cs
  modules/mono/editor/godotsharp_export.cpp
Labels: bug, topic:mono

#24828 RandomPCG randf/randd functions typos fix
  core/math/random_pcg.h
Labels: bug, topic:core

#24831 Make tooltips display for nested resources
  editor/editor_properties.cpp
Labels: bug, topic:editor, usability

#24855 Don't use -ffast-math or other unsafe math optimizations
  modules/etc/SCsub
  platform/android/detect.py
  platform/haiku/detect.py
  platform/iphone/detect.py
  platform/osx/detect.py
  platform/server/detect.py
  platform/x11/detect.py
Labels: bug, cherrypick, topic:buildsystem

#24842 Fix strip out spaces while generating serial number for node name
  scene/main/node.cpp
Labels: bug, topic:core

#24851 Update IME text only for focused input controls.
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:input

#24857 Fix "Whole Words" and "Match Cases" checkbox behavior in "Find in Files"
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#24858 AnimationNodeTransition name begins from 0
  scene/animation/animation_blend_tree.cpp
Labels: enhancement, topic:core

#24863 Travis: Use pip to install SCons on OSX
  .travis.yml
  misc/travis/scons-local-osx.sh
Labels: cherrypick, enhancement, topic:buildsystem

#24826 Fix a nested ysort invalid memory read again
  servers/visual/visual_server_canvas.cpp
Labels: bug, topic:core

#20552 Added interface for GDNative Videodecoder.
  modules/gdnative/SCsub
  modules/gdnative/gdnative_api.json
  modules/gdnative/gdnative_builders.py
  modules/gdnative/include/videodecoder/godot_videodecoder.h
  modules/gdnative/register_types.cpp
  modules/gdnative/videodecoder/SCsub
  modules/gdnative/videodecoder/register_types.cpp
  modules/gdnative/videodecoder/register_types.h
  modules/gdnative/videodecoder/video_stream_gdnative.cpp
  modules/gdnative/videodecoder/video_stream_gdnative.h
Labels: feature proposal, topic:gdnative

#24865 [Regression] Hides error_label of state machine on the first time.
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, topic:editor

#24871 Fixes 2D bones selection
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#24884 Fix broken encrypted scripts during export
  modules/gdscript/register_types.cpp
Labels: bug, topic:editor

#24877 Fix properties being lost when reloading placeholder GDScript instance
  core/script_language.cpp
  core/script_language.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, enhancement, topic:core, topic:gdscript

#24899 Fix UndoRedo operations for the new features in the Polygon2D UV Editor
  editor/plugins/polygon_2d_editor_plugin.cpp
Labels: bug, enhancement, topic:editor

#24903 Docs: fix arg name of toggled signal in BaseButton
  doc/classes/BaseButton.xml
Labels: documentation, enhancement

#24904 Fix error explanation in core_bind Thread::_start_func
  core/bind/core_bind.cpp
Labels: enhancement, topic:core

#24912 [macOS] Fix missing mouse move event speed.
  platform/osx/os_osx.mm
Labels: bug, cherrypick, platform:osx, topic:input

#24913 Make export valid when setting custom packages for iOS
  platform/iphone/export/export.cpp
Labels: bug, enhancement, topic:editor

#24914 Use HSplit to resize presets and options panel on Export window
  editor/project_export.cpp
Labels: enhancement, topic:editor, usability

#24921 Fixed infinite loop at end of video.
  modules/gdnative/videodecoder/video_stream_gdnative.cpp
Labels: bug, topic:gdnative

#24918 GLES2: Clarify why we exclude debug code on iOS
  drivers/gles2/rasterizer_gles2.cpp
Labels: enhancement, topic:core

#24897 fixed invalid implementation of Plane::intersects_segment and Plane::intersects_ray
  core/math/plane.cpp
Labels: bug, topic:core

#24939 Fixed null editor icon crash
  editor/editor_path.cpp
Labels: bug, topic:editor

#24981 Add EditorPropertyRID as read-only label showing RID
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor

#24987 GLES2: Make Nvidia flicker workaround opt-in
  core/project_settings.cpp
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  main/main.cpp
Labels: bug, topic:rendering

#25000 Fixed typo in StreamTexture::is_pixel_opaque
  scene/resources/texture.cpp
Labels: bug, topic:editor

#24909 Disallow changing array element types, when using hint (inspector fix)
  editor/editor_properties_array_dict.cpp
Labels: enhancement, topic:editor, usability

#25010 Fix MultiplayerAPI initialization, clear, set_network_peer.
  core/io/multiplayer_api.cpp
Labels: bug, high priority, topic:network

#25022 Fix order of a nullptr test in canvas item editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#25014 Fix some GDScript issues
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#25032 Fix some errors found by static analysis
  main/tests/test_math.cpp
  modules/csg/csg_shape.cpp
  scene/animation/animation_blend_space_1d.cpp
Labels: bug, topic:core, topic:editor

#25035 SCons: Drop unused MPC_FIXED_POINT define
  platform/android/detect.py
  platform/iphone/detect.py
Labels: cherrypick, enhancement, topic:buildsystem

#25001 Fixes export PackedScene "reset to default" throwing errors
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#25037 Android: Enable arm64-v8a export by default
  platform/android/export/export.cpp
Labels: cherrypick, enhancement, platform:android, topic:editor

#25038 fixed AudioStreamPlayer3D::_get_attenuation_db epsilon value
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:core

#25069 A bit more of GDScript fixes
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#25076 Fixes crash in the Filesystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#25075 Fix enum scope
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#25078 C#: Fix crash due to missing gchandle ref null check
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#25080 C# Bindings Generator: Fix vararg methods with custom return type
  modules/mono/editor/bindings_generator.cpp
Labels: bug, topic:mono

#25086 [Docs] Fixed a typing glitch in ARVRServer.xml
  doc/classes/ARVRServer.xml
Labels: documentation, enhancement

#25070 Fix shader compile error line numbers starting at 0
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
Labels: bug, topic:rendering

#25093 GDScript: Fix return value of "lerp" builtin
  doc/classes/@GDScript.xml
  doc/classes/Shape2D.xml
  modules/gdscript/gdscript_functions.cpp
Labels: bug, topic:gdscript

#25101 Work around a GCC optimizer bug at -O3
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, cherrypick

#21701 Fix multiselect change property
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: archived, bug, topic:editor

#25111 Editor source status font size, fixes #25039
  editor/editor_fonts.cpp
Labels: bug, topic:editor, usability

#25110 Displays the pivot all the time and rotate the icon
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#25114 Fix a rounding error in ColorPicker
  scene/gui/color_picker.cpp
Labels: bug, topic:core

#25059 doc: Add missing descriptions to Particles2D
  doc/classes/Particles2D.xml
Labels: documentation, enhancement

#25149 Fix HTML5 gamepad sampling
  platform/javascript/os_javascript.cpp
Labels: bug, cherrypick, platform:html5, topic:input, topic:porting

#25135 Fixed a typo in 'uwp_device_capabilites'
  platform/uwp/export/export.cpp
Labels: enhancement, platform:uwp, topic:editor

#25136 Docs: Fix TileMap::world_to_map description
  doc/classes/TileMap.xml
Labels: documentation, enhancement

#25177 Workaround for bug with Mono's MSBuild and BaseIntermediateOutputPath
  modules/mono/editor/GodotSharpTools/Build/BuildSystem.cs
  modules/mono/editor/GodotSharpTools/Project/ProjectGenerator.cs
  modules/mono/editor/csharp_project.cpp
Labels: bug, topic:mono

#25182 Travis: Fix accepting Android SDK licenses
  misc/travis/android-tools-linux.sh
Labels: bug, platform:android, topic:buildsystem

#25180 Fixed area overlaps if not move
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#25175 Make "Export with Debug" more visible in the Export dialog
  editor/project_export.cpp
  editor/project_export.h
Labels: enhancement, topic:editor, usability

#25168 Deal with Google's HTML5 autoplay policy
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/audio_driver_javascript.h
  platform/javascript/os_javascript.cpp
Labels: bug, cherrypick, platform:html5, topic:audio, topic:porting

#25188 Sync controller mappings DB with SDL2 community repo
  main/gamecontrollerdb.txt
Labels: enhancement, topic:input

#25117 Replace CreateThread with QueueUserWorkItem
  drivers/windows/thread_windows.cpp
Labels: bug, platform:windows, topic:core

#25115 Fix #19633 by proper store to &ubo_data.shadow_matrix[1234].
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
Labels: bug, cherrypick, topic:rendering

#25064 ItemList: ignore `ui_select` action if Select Mode is not "Multi"
  scene/gui/item_list.cpp
Labels: bug, topic:core

#25163 Disable autowrap for export dialog errors
  editor/project_export.cpp
Labels: bug, topic:editor

#25192 ExportDialog: Make error messages translatable
  editor/editor_export.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
Labels: enhancement, topic:editor

#25196 webgl1 in firefox doesn't like backslashes in #define directive
  drivers/gles2/shaders/canvas.glsl
Labels: bug, platform:html5, topic:rendering

#25200 Mono: Add assembly reloading to running games
  modules/mono/csharp_script.cpp
  modules/mono/editor/mono_bottom_panel.cpp
  modules/mono/mono_gd/gd_mono.cpp
Labels: enhancement, topic:mono

#25208 Properly initialize angular_velocity in cpuparticles2d
  scene/2d/cpu_particles_2d.cpp
Labels: bug, topic:core, topic:rendering

#25195 Make the Texture Region Editor able to edit regions of Sprite3Ds
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
Labels: bug, topic:editor

#25207 Fix bug with CpuParticles2D AlignY
  scene/2d/cpu_particles_2d.cpp
Labels: bug, topic:rendering

#25215 Fix going to script line on VisualScript errors
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, topic:visualscript

#25178 Rename sanitizer option names.
  platform/x11/detect.py
Labels: enhancement, topic:buildsystem

#25222 WebGL1 some changes
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/shaders/cubemap_filter.glsl
Labels: bug, platform:html5, topic:rendering

#25223 base64.h: Fix return type mismatch
  thirdparty/misc/base64.h
Labels: bug, topic:thirdparty

#25235 Mono: Fix hot reload build errors and cleanup
  modules/mono/SCsub
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/utils/osx_utils.h
Labels: bug, topic:mono

#25233 Fixed possible crash in pck_packer.cpp due to wrong memory freeing.
  core/io/pck_packer.cpp
Labels: bug, topic:core

#25238 Set WINVER and _WIN32_WINNT values in VS project
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem

#25242 Fix errors on iOS
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, cherrypick, platform:ios, topic:rendering

#25241 Fix GDI objects leak when setting custom cursor
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting

#25255 Expose InputEventMIDI to scripts
  core/register_core_types.cpp
Labels: enhancement, topic:input

#25258 Fix warning when setting out of range outline_size
  scene/resources/dynamic_font.cpp
Labels: enhancement, topic:editor

#25260 PluginConfigDialog: Add partial support for more script language
  editor/plugin_config_dialog.cpp
Labels: enhancement, topic:editor

#25259 Fix ALT+F4 being ignored with MOUSE_MODE_CAPTURED on Windows
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:core

#25270 Fixing textures not triggering _change_notify
  scene/resources/texture.cpp
Labels: bug, topic:editor

#25274 Some GDScript fixes
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#25282 Fix PhysicsBody ignoring deprecated set_friction/bounce with default value
  scene/3d/physics_body.cpp
Labels: bug, topic:physics

#25283 ProgressBar: Set default step to 0.01
  scene/gui/progress_bar.cpp
Labels: bug, topic:core

#25257 implemented texture_get_data() for TextureLayered
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/shaders/copy.glsl
Labels: bug, topic:rendering

#25294 Fixes Node2D selection not adapting to editor zoom level
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#25298 Updates containers minimum size when some constants are modified
  scene/gui/box_container.cpp
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
  scene/gui/margin_container.cpp
  scene/gui/split_container.cpp
  scene/gui/tab_container.cpp
Labels: bug, topic:core

#25302 Allow requesting full screen during start-up in HTML5 platform
  platform/javascript/os_javascript.cpp
Labels: bug, cherrypick, platform:html5, topic:porting

#25308 Added copy_theme and fixed bugs in copy theme introduced by #2e0a94e
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: bug, topic:core

#25306 Fixed function names of built-in scripts not showing up in debugger
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor, usability

#25319 Fix GLES3 error 502 on iOS
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, platform:osx, topic:rendering

#25322 Revert "Fix GLES3 error 502 on iOS"
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, platform:ios, topic:rendering

#25237 Add renderer selection to New Project dialog
  editor/project_manager.cpp
Labels: documentation, enhancement, topic:editor, topic:rendering, usability

#25335 Changed ImageTexture image cache type to the correct one, fixes #24971
  scene/resources/texture.h
Labels: bug, topic:core

#24923 Adds color to the audio buses buttons
  editor/editor_audio_buses.cpp
Labels: enhancement, topic:audio, topic:editor, usability

#25300 Improve custom thread numbering for POSIX
  drivers/unix/thread_posix.cpp
  platform/android/thread_jandroid.cpp
Labels: enhancement, platform:android, platform:ios, platform:linuxbsd, platform:osx, topic:core

#25354 Profiler list functions from max to less expensive
  editor/editor_profiler.cpp
Labels: enhancement, topic:editor, usability

#25356 Fix S3TC texture loading for WebGL
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, platform:html5, topic:rendering

#25340 Workaround GCC 6 & 7 ICE on armv7hl
  modules/gdnative/gdnative/variant.cpp
Labels: bug, platform:linuxbsd, topic:buildsystem, topic:gdnative

#25381 Disables the Layout menu when a Control node is child of a container
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, documentation, topic:editor, usability

#25383 Fix EditorInspector property_changed argument mismatch
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, topic:editor

#25382 Change the frame number before triggering the animation_finished signal
  scene/2d/animated_sprite.cpp
Labels: bug, topic:core
