Repository godotengine/godot, pull requests merged in 2019-09, with the labels that each got.

#31839 Call some CanvasItem property setters only if needed
  scene/2d/canvas_item.cpp
Labels: bug, topic:rendering

#31853 Fix visual shader expression parsing
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#31858 Revert "Add __atomic_* operators support for atomic operations"
  core/safe_refcount.h
Labels: bug, platform:android, topic:core

#31848 Fix resizer icon visiblity on light theme in GraphNode
  doc/classes/GraphNode.xml
  editor/editor_themes.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/gui/graph_node.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:editor

#31850 Script callback for enabling/disabling EditorPlugin
  editor/editor_plugin.cpp
Labels: bug, topic:plugin

#31833 Improve AudioStreamSample and AudioStreamGenerator documentation
  doc/classes/AudioStreamGenerator.xml
  doc/classes/AudioStreamGeneratorPlayback.xml
  doc/classes/AudioStreamSample.xml
Labels: documentation, enhancement

#31835 Increase the minimum width of the editor sectioned inspector
  editor/editor_sectioned_inspector.cpp
Labels: enhancement, topic:editor

#31667 Add 'is_point_in_circle()' to Geometry class, and general file cleanup
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/math/geometry.cpp
  core/math/geometry.h
  doc/classes/Geometry.xml
Labels: enhancement, topic:core

#31761 Add transform methods for PoolVector*Array
  core/math/transform.h
  core/math/transform_2d.h
  core/variant_call.cpp
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
Labels: enhancement, topic:core

#31857 Fix semicolon parsing in visual shader expression
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#31862 Added link to tutorial for VisualShaderNodeCustom
  doc/classes/VisualShaderNodeCustom.xml
Labels: documentation, enhancement

#31656 Rename and relocate Draw Minimap editor property
  editor/code_editor.cpp
  editor/editor_settings.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#31832 Provide error messages when PNG save fails
  drivers/png/resource_saver_png.cpp
Labels: enhancement, topic:core

#31865 Remove redundant transform method in Geometry singleton
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/math/geometry.h
  doc/classes/Geometry.xml
Labels: enhancement, topic:core

#31587 FBX Importer
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/assimp/editor_scene_importer_assimp.h
  modules/assimp/import_state.h
  modules/assimp/import_utils.h
  thirdparty/assimp/assimp/config.h
  thirdparty/assimp/code/Common/BaseImporter.cpp
  thirdparty/assimp/code/FBX/FBXConverter.cpp
  thirdparty/assimp/code/FBX/FBXConverter.h
  thirdparty/assimp/code/FBX/FBXDocument.cpp
  thirdparty/assimp/code/FBX/FBXExporter.cpp
  thirdparty/assimp/code/FBX/FBXImporter.cpp
  thirdparty/assimp/code/FBX/FBXMeshGeometry.cpp
  thirdparty/assimp/code/PostProcessing/CalcTangentsProcess.cpp
  thirdparty/assimp/code/PostProcessing/ScaleProcess.cpp
  thirdparty/assimp/code/PostProcessing/ScaleProcess.h
  thirdparty/assimp/contrib/utf8cpp/doc/ReleaseNotes
  thirdparty/assimp/contrib/utf8cpp/doc/utf8cpp.html
  thirdparty/assimp/include/assimp/.editorconfig
  thirdparty/assimp/include/assimp/BaseImporter.h
  thirdparty/assimp/include/assimp/config.h.in
  thirdparty/assimp/include/assimp/irrXMLWrapper.h
  thirdparty/assimp/include/assimp/scene.h
Labels: feature proposal, needs testing, topic:import

#31867 Ignore size of hidden scrollbars in ScrollContainer
  scene/gui/scroll_container.cpp
Labels: bug, topic:core

#31884 Fix multiline texts not updating its contents correctly in the inspector
  scene/gui/text_edit.cpp
Labels: bug, topic:core, topic:editor

#31875 Make JSONRPC constants uppercase for consistency with other classes
  modules/jsonrpc/jsonrpc.cpp
  modules/jsonrpc/jsonrpc.h
Labels: enhancement, topic:core

#31829 Add 2D ruler tool
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: feature proposal, topic:editor

#31878 Initialize TileMap Custom Transform
  scene/2d/tile_map.cpp
Labels: enhancement, topic:core, usability

#21443 Add ord() function to return Unicode code point of a string of length one
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
Labels: feature proposal, topic:gdscript

#24925 Added autoloads as a potential type.
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:gdscript

#31901 gdscript: Fix build after #24925
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#31892 Fix editor infinite loop in search_prev issue #31328
  editor/code_editor.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#31571 Don't clamp color to [0, 1] in Linear tonemapping
  doc/classes/Environment.xml
  drivers/gles3/shaders/tonemap.glsl
Labels: enhancement, topic:rendering

#31843 Solves ctrl+click on functions by ignoring the cursor
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#31902 Add icon for the ruler tool
  editor/icons/icon_ruler.svg
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#31893 Re-allow indexing on objects and other non-builtin types
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#26812 Add autocomplete support for change_scene()
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:editor, topic:gdscript

#31906 Refresh the asset library only once on startup
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: enhancement, topic:assetlib, topic:editor

#31889 Implement snapping in the Gradient editor
  scene/gui/gradient_edit.cpp
Labels: enhancement, topic:editor, usability

#31890 Implement snapping in the Curve editor
  editor/plugins/curve_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#31898 Implement precise snapping in the animation editor
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31913 Improve the animation autokey editor icon
  editor/icons/icon_auto_key.svg
Labels: enhancement, topic:editor

#31871 Check for exact equality before approximate equality
  core/math/math_funcs.h
  modules/mono/glue/Managed/Files/Mathf.cs
  modules/mono/glue/Managed/Files/MathfEx.cs
Labels: bug, topic:core

#31880 Fixed UI navigation using joy axis inputs
  scene/main/viewport.cpp
Labels: bug, topic:core, topic:input

#31915 Don't transform global position of mouse input
  core/os/input_event.cpp
Labels: bug, topic:core, topic:input

#31847 Expose current path function to EditorPlugin
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: bug, topic:plugin

#31795 Animation Bezier Editor: Extended zoom in and zoom out limits and fixed guide lines to accomodate sub unit steps and steps other than powers of 5
  editor/animation_bezier_editor.cpp
Labels: enhancement, topic:editor

#31756 a faster function to transform aabb
  core/math/transform.h
Labels: enhancement, topic:core

#31916 Animation Bezier Editor - fixed vertical zoom around mouse
  editor/animation_bezier_editor.cpp
Labels: bug, topic:editor

#31782 Persist ColorPicker color mode
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/plugins/script_text_editor.cpp
  editor/property_editor.cpp
  scene/gui/color_picker.cpp
Labels: enhancement, topic:editor

#31507 Add feature to Button to make its icon expand/shrink with the button's size
  doc/classes/Button.xml
  scene/gui/button.cpp
  scene/gui/button.h
  scene/gui/texture_button.cpp
Labels: feature proposal, topic:core

#31476 Prevent move_and_slide() to generate an error.
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Labels: bug, topic:physics

#31389 Add an `editor_description` property to Node for documentation purposes
  doc/classes/GraphNode.xml
  editor/scene_tree_editor.cpp
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, for pr meeting, topic:editor, usability

#31346 Add scrollwheel input to spin slider
  editor/editor_spin_slider.cpp
  editor/editor_spin_slider.h
Labels: feature proposal, topic:editor

#31295 Fix get_meta error and visual bug when editing scene with keyboard
  scene/gui/tree.cpp
Labels: bug, topic:core

#30864 HTML5 default loader: small bugfix
  misc/dist/html/full-size.html
Labels: bug, platform:html5, topic:porting

#31021 Expose Script reflection methods to scripting API.
  core/script_language.cpp
  core/script_language.h
Labels: enhancement, topic:core

#28122 When triggering completion show all the properties added with _get_property_list()
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:editor, topic:gdscript, usability

#31844 Timer and Tween check if they are in SceneTree when starting
  scene/animation/tween.cpp
  scene/gui/control.cpp
  scene/main/timer.cpp
Labels: enhancement, topic:core

#31931 Assimp map mode is not initialized before use.
  modules/assimp/import_state.h
Labels: bug, topic:import

#31461 VCS integration for Godot Editor
  doc/classes/EditorVCSInterface.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_vcs_interface.cpp
  editor/editor_vcs_interface.h
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.h
Labels: feature proposal, topic:editor

#31942 Improve the node deletion confirmation message
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#31908 Implemented `ord` function in VisualScript
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
Labels: enhancement, topic:visualscript

#31619 Improve sorting options in the asset library
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: enhancement, topic:editor, usability

#30982 Adds skip-breakpoints feature
  core/script_debugger_local.cpp
  core/script_debugger_local.h
  core/script_debugger_remote.cpp
  core/script_debugger_remote.h
  core/script_language.h
  editor/editor_node.cpp
  editor/editor_run.cpp
  editor/editor_run.h
  editor/icons/icon_debug_skip_breakpoints_off.svg
  editor/icons/icon_debug_skip_breakpoints_on.svg
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
  main/main.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/mono/csharp_script.cpp
  modules/visual_script/visual_script.cpp
Labels: feature proposal, topic:editor, topic:gdscript

#31618 Fix the edges of the mesh vertex
  scene/resources/mesh_data_tool.cpp
Labels: bug, topic:core

#31947 Fixes Inspector Showing Unselected Info
  editor/inspector_dock.cpp
Labels: bug, topic:editor

#31956 Add copyright headers to VCS integration
  editor/editor_vcs_interface.cpp
  editor/editor_vcs_interface.h
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.h
Labels: enhancement, topic:core

#31955 TextEdit & LineEdit caret blink timers run only when focused
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#23658 RichTextLabel - New Real Time Text Effects and Custom BBCode Extensions
  scene/gui/rich_text_effect.cpp
  scene/gui/rich_text_effect.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/register_scene_types.cpp
Labels: feature proposal, for pr meeting, topic:core

#31957 Fixed order of parameters when updating resource cache file
  editor/editor_resource_preview.cpp
Labels: bug, topic:editor

#31927 Add CSV import without translation.
  editor/editor_node.cpp
  editor/import/resource_importer_csv.cpp
  editor/import/resource_importer_csv.h
Labels: enhancement, topic:import, usability

#31958 Fix parsing array indexing symbol in visual shader expression
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#31960 Added missing OUTPUT_IS_SRGB and FRONT_FACING inputs to visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:core, topic:rendering

#31926 Some improvements for Switch node in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering, usability

#31967 Load scene if needed when editing recent built-in script
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, topic:gdscript

#31983 Fix formatting error for bool in resulted code of visual shader
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#31984 Removed useless code from Switch in visual shader
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:core

#31979 CharFXTransform Type Hint Error
  scene/gui/rich_text_effect.cpp
  scene/register_scene_types.cpp
Labels: bug, topic:core

#31870 Add network profiler
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  core/script_debugger_remote.cpp
  core/script_debugger_remote.h
  core/script_language.h
  editor/editor_network_profiler.cpp
  editor/editor_network_profiler.h
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
  scene/main/scene_tree.cpp
Labels: enhancement, topic:network

#31989 Revert "Fix Clearing Inspector for Remote Node"
  editor/editor_path.cpp
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor

#32023 Fix missing method for internal_MonoWindowsInstallRoot
  modules/mono/editor/editor_internal_calls.cpp
Labels: bug, platform:windows, topic:editor, topic:mono

#32022 Mono: Fix PCK assembly paths when exporting from Windows
  modules/mono/editor/GodotTools/GodotTools/GodotSharpExport.cs
Labels: bug, platform:windows, topic:editor, topic:mono

#31993 Improve the `String::humanize_size()` method
  core/ustring.cpp
  editor/editor_network_profiler.cpp
  editor/editor_network_profiler.h
Labels: enhancement, topic:editor

#32045 Mono: Fix unable to create log file due to str_format bug
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/mono/utils/string_utils.cpp
Labels: bug, topic:mono

#32161 [Mono] Corrected rectangle intersection
  modules/mono/glue/Managed/Files/Rect2.cs
Labels: bug, topic:mono

#30925 Implement shader array support for varyings
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: enhancement, topic:rendering

#32176 Fix HTML5 export after #30864
  misc/dist/html/full-size.html
Labels: bug, platform:html5, regression

#32096 Fix RichTextLabel Sanitization Runtime Error
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#32191 Some formatting fixes in visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.cpp
Labels: enhancement, topic:core

#31997 Fixed blend shapes disappearing in FBX Importer
  modules/assimp/editor_scene_importer_assimp.cpp
Labels: bug, topic:import

#32019 FBX Importer - Maya material PBR path is read properly now
  modules/assimp/editor_scene_importer_assimp.cpp
  thirdparty/assimp/code/FBX/FBXConverter.cpp
  thirdparty/assimp/code/FBX/FBXConverter.h
  thirdparty/assimp/code/FBX/FBXImporter.cpp
  thirdparty/assimp/include/assimp/material.h
Labels: bug, topic:import

#31142 GDScript: add an optional message parameter to assert()
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: enhancement, topic:gdscript

#31188 Add Ability to Enable/Disable Shortcuts and Selection for LineEdit/TextEdit
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#31202 Create shadow_vec for altering shadow computation
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#31904 Computes UV coordinates of the canvas_item vertices of StyleBoxFlat
  scene/resources/style_box.cpp
Labels: bug, topic:core, topic:rendering

#31934 Produce an error when a class has the same name as a Singleton
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#31961 Add informational messages to various editors
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/import_dock.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: enhancement, topic:editor

#31985 Fixed resource loading when editing built-in script from resource
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#32004 Fix gles3 shader uniform vec3 error
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:core, topic:rendering

#32100 Fix const deceleration for inherited scripts above immediate parent
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#32151 Mention more caveats for custom mouse cursors in the documentation
  doc/classes/Input.xml
Labels: documentation, enhancement

#32153 Improve the `Image.get_pixel()` and `Image.get_pixelv()` documentation
  doc/classes/Image.xml
Labels: documentation, enhancement

#32174 Display the current zoom percentage in the 2D editor
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31921 Fix uninitialized arrays and dictionaries retaining value
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, cherrypick:3.1, topic:gdscript

#31964 Fixed switching back to AnimationPlayerEditor with empty animation list
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, topic:editor

#32207 Improve folding appearance in the editor inspector
  editor/editor_inspector.cpp
  editor/editor_themes.cpp
  editor/icons/icon_arrow_up.svg
Labels: enhancement, topic:editor

#32220 Load overrides if getting style from current class
  scene/gui/control.cpp
Labels: bug, topic:core

#32150 Fix misc. source comment typos
  doc/classes/AnimationNode.xml
  doc/classes/Camera2D.xml
  doc/classes/Control.xml
  doc/classes/EditorVCSInterface.xml
  doc/classes/Image.xml
  doc/classes/Input.xml
  doc/classes/PopupMenu.xml
  doc/classes/ProjectSettings.xml
  editor/collada/collada.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/csg/csg.cpp
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/windows/camera_win.cpp
  scene/2d/line_builder.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body.cpp
  scene/animation/tween.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  servers/visual/visual_server_viewport.cpp
Labels: documentation, enhancement, topic:core

#32173 Improve the 3D light gizmos
  editor/spatial_editor_gizmos.cpp
Labels: enhancement, topic:editor

#32209 Fix incorrect typing when creating methods via the connection dialog
  editor/connections_dialog.cpp
Labels: bug, topic:editor

#32197 Fix editor dimming being disabled when a dialog is closed even when others are open
  scene/gui/dialogs.cpp
Labels: bug, topic:editor

#32190 Fix autocompletion undo
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#32180 Fix region editor for NinePatchRect
  doc/classes/NinePatchRect.xml
  editor/plugins/texture_region_editor_plugin.cpp
Labels: bug, topic:editor

#32127 Remove outdated information from skeleton class reference
  doc/classes/Skeleton.xml
Labels: documentation, enhancement

#32129 Fix errors in the animation editor when removing tracks via undo/redo
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: bug, topic:editor

#32134 Add correct class selection in Select VCS menu
  editor/plugins/version_control_editor_plugin.cpp
Labels: bug, topic:editor

#32143 Fix some errors while reparenting nodes in the Scene dock
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#32146 Fix keying integer and float values from inspector not being able to use bezier curves
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#32123 Fix int overflow in EditorResourcePreview::_preview_ready
  editor/editor_resource_preview.cpp
Labels: bug, topic:editor

#32223 C#: Make sure cs_glue_version is present when building export templates
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, topic:mono

#32101 Fix ambiguous method description regarding `body_test_motion` in 2D
  doc/classes/Physics2DServer.xml
Labels: documentation, enhancement

#32102 Document AnimationPlayer's 'get_queue()' and 'caches_cleared'
  doc/classes/AnimationPlayer.xml
Labels: documentation, enhancement

#32116 Mention constructor arguments in duplicate() doc
  doc/classes/Node.xml
Labels: documentation, enhancement

#32118 Mention that look_at() expects global coordinates
  doc/classes/Node2D.xml
Labels: documentation, enhancement

#32120 Mention that AnimatedTexture doesn't support atlases
  doc/classes/AnimatedTexture.xml
  doc/classes/AtlasTexture.xml
Labels: documentation, enhancement

#32095 Properly remove GridMap node from editor on undo
  modules/gridmap/grid_map_editor_plugin.cpp
Labels: bug, topic:editor

#32137 Display an error message if no version control systems are available
  editor/plugins/version_control_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#32210 Distinguish editor-originating messages in the editor log
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  editor/script_editor_debugger.cpp
  editor/settings_config_dialog.cpp
  modules/gdscript/language_server/gdscript_language_server.cpp
  platform/android/export/export.cpp
Labels: enhancement, topic:editor

#32206 Remove an unused icon and constant in Tree
  doc/classes/Tree.xml
  editor/editor_themes.cpp
  editor/icons/icon_GUI_tree_option.svg
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:core

#32112 Add an "hover" style to items in the project manager
  editor/editor_themes.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#32094 Improve the node deletion confirmation message
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#32079 Fix right click crash in Locales Filter
  editor/project_settings_editor.cpp
Labels: bug, crash, topic:editor

#32087 [X11] set PID as window attribute
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#32064 Notify for app pause and resume events on Android
  core/os/main_loop.h
  doc/classes/MainLoop.xml
  doc/classes/Node.xml
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/GodotRenderer.java
  platform/android/java/lib/src/org/godotengine/godot/GodotView.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
Labels: enhancement, platform:android, topic:porting

#32252 Fix GLES2 skinning where VERTEX_TEXTURE not supported
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
Labels: bug, crash, topic:rendering

#32259 fix gles2 broken panorama sky on oculus quest
  drivers/gles2/shaders/copy.glsl
Labels: bug, topic:rendering

#32235 Improve the network profiler UI
  editor/editor_network_profiler.cpp
  editor/icons/icon_arrow_down.svg
  editor/icons/icon_arrow_up.svg
Labels: bug, enhancement, topic:editor, topic:network

#32247 Perform reparent if position changes
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#32248 Fix Android Launcher Activity
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:porting

#29895 Support menu key in TextEdit and LineEdit controls
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:core

#30852 Tool Mode for Visualscript
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: feature proposal, topic:visualscript

#31061 Input actions can be reordered by drag and drop.
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Labels: enhancement, topic:editor

#32049 Fix Remote Tree Navigate to Inspected
  editor/script_editor_debugger.cpp
Labels: bug, regression, topic:editor

#32007 SpriteFramesEditor improvements around deleting animations
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor

#32000 Add ability to reorder animation frames via drag and drop
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: enhancement, topic:editor

#32003 Fixes OptionButton Not Updating Current Selection
  scene/gui/option_button.cpp
Labels: bug, topic:core

#32010 Animation Bezier Editor : fix double inserts on undo
  editor/animation_bezier_editor.cpp
Labels: bug, topic:editor

#32011 Make editor inspector easing lines use the accent color when dragged
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: enhancement, topic:editor

#32020 Display audio buses' current volume in a tooltip when hovering slider
  editor/editor_audio_buses.cpp
  editor/icons/icon_bus_vu_db.svg
Labels: enhancement, topic:editor, usability

#32027 Preserve group order in scene files
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#32032 Implemented get_path() & get_path_absolute() for FileAccessEncrypted
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
Labels: enhancement, topic:core

#32035 Add some missing icons
  editor/icons/icon_camera_texture.svg
  editor/icons/icon_clipped_camera.svg
  editor/icons/icon_height_map_shape.svg
  editor/icons/icon_interpolated_camera.svg
  editor/icons/icon_mesh_texture.svg
  editor/icons/icon_rich_text_effect.svg
  editor/icons/icon_skeleton_i_k.svg
  editor/icons/icon_spring_arm.svg
  editor/icons/icon_style_box_line.svg
Labels: enhancement, topic:editor

#32040 Find the previous match in the editor help when pressing Shift + Enter
  editor/editor_help.cpp
Labels: enhancement, topic:editor, usability

#32043 Adds fuzzy search for help search dialog
  editor/editor_help_search.cpp
Labels: enhancement, topic:editor, usability

#32036 Improve the SoftBody node editor icon
  editor/icons/icon_soft_body.svg
Labels: enhancement, topic:editor

#32048 Expose LineEdit's 'right_icon' and fix icon size
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: bug, enhancement, topic:core

#32055 Changed some code found by Clang Tidy and Coverity
  core/crypto/hashing_context.cpp
  core/io/file_access_zip.cpp
  core/math/geometry.cpp
  core/ustring.cpp
  core/variant_parser.cpp
  drivers/alsa/audio_driver_alsa.cpp
  editor/editor_audio_buses.cpp
  editor/editor_vcs_interface.cpp
  editor/import/resource_importer_scene.cpp
  editor/plugins/sprite_editor_plugin.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/bmp/image_loader_bmp.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
  platform/x11/os_x11.cpp
  scene/2d/canvas_item.cpp
  scene/2d/navigation_polygon.cpp
  scene/gui/rich_text_label.h
  servers/camera_server.h
Labels: enhancement, topic:core
