Repository godotengine/godot, pull requests merged in 2019-02, with the labels that each got.

#25540 Fix gizmo errors on "Align with view"
  editor/plugins/spatial_editor_plugin.cpp
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor

#25547 When an animationplayer sets a property on itself recreate the caches
  scene/animation/animation_player.cpp
Labels: bug, topic:core

#25478 Mono: Fix MonoPosixHelper not being found
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/editor/godotsharp_builds.h
  modules/mono/editor/godotsharp_editor.cpp
  modules/mono/editor/mono_bottom_panel.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/mono_gd/gd_mono_class_member.h
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_field.h
  modules/mono/mono_gd/gd_mono_header.h
  modules/mono/mono_gd/gd_mono_internals.cpp
  modules/mono/mono_gd/gd_mono_internals.h
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_method.h
  modules/mono/mono_gd/gd_mono_property.cpp
  modules/mono/mono_gd/gd_mono_property.h
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/utils/macros.h
  modules/mono/utils/osx_utils.cpp
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: bug, topic:mono

#25576 Mono: Fix default debugger agent argument never being used
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, topic:mono

#25574 Mono: Lifetime fixes for CSharpInstance and instance binding data
  core/object.cpp
  core/object.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/base_object_glue.cpp
  modules/mono/mono_gc_handle.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: bug, topic:mono

#25593 Fix OS_Unix::set_environment
  drivers/unix/os_unix.cpp
Labels: bug, topic:core, topic:mono

#25636 Mono: Workaround to fix 'flushing' errors when building at editor startup
  modules/mono/editor/godotsharp_editor.cpp
Labels: bug, topic:editor, topic:mono

#25618 Add frame support for Sprite3D with region enabled
  scene/3d/sprite_3d.cpp
Labels: bug, topic:core

#25606 Fixed selection being activated when using scroll lines.
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#25659 Fix particles animation on GLES2
  scene/2d/canvas_item.cpp
Labels: bug, topic:rendering

#25467 Add check in folding to see if the nodepath exists to avoid message spam and expose get_node_or_null
  editor/editor_folding.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
Labels: bug, enhancement, topic:editor

#25521 [macOS] Fix rendering on retina displays with HiDPI support disabled.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:porting

#25509 Fix crashes when calling update_bitmask_area
  scene/resources/tile_set.cpp
Labels: bug, topic:core

#25518 Fix wrong error messages for invalid arguments when calling functions through call
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:gdscript

#25506 [DOCS] Update PhysicsDirectSpaceState.cast_motion
  doc/classes/PhysicsDirectSpaceState.xml
Labels: documentation, enhancement

#25515 Moved script editor search bar to the bottom
  editor/code_editor.cpp
  editor/editor_help.cpp
Labels: enhancement, topic:editor, usability

#25524 Fix a font oversampling warning being printed when it shouldn't
  scene/main/scene_tree.cpp
Labels: bug, topic:rendering

#25517 Explain how to use Expression inputs
  doc/classes/Expression.xml
Labels: documentation, enhancement, topic:core

#25500 Disable BT_DEBUG, works around #25476 and #25431
  modules/bullet/SCsub
Labels: bug, topic:physics

#25546 Fixed uninitialized pointer access due to THEME_CHANGED notification
  editor/editor_log.cpp
Labels: bug, topic:editor

#25549 Don't modify font which could potentially not be the editor one yet
  editor/editor_log.cpp
Labels: bug, topic:core

#25562 Fix prompt for empty project files when loaded
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#25551 Fix local_delta when resetting CPUParticles
  scene/2d/cpu_particles_2d.cpp
Labels: bug, topic:core, topic:rendering

#25570 Use relative path property hint for windows export icon
  platform/windows/export/export.cpp
Labels: enhancement, topic:editor, usability

#25552 Displays errors and warnings in a better way in the script editor
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: bug, topic:editor, usability

#25706 Image: Fix decompressing ETC2
  core/image.cpp
Labels: bug, cherrypick, topic:core

#25701 Fix undo for Particles 3D gizmo
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor

#25692 Small changes to the SpriteFrames editor
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor

#25627 Change hint_color to hint_albedo for sampler2ds
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:rendering

#25716 Mono: Create player script metadata when building manually
  modules/mono/editor/GodotSharpTools/GodotSharpTools.csproj
  modules/mono/editor/mono_bottom_panel.cpp
Labels: enhancement, topic:editor, topic:mono, usability

#25671 Include PhysicsMaterial when 3D is disabled
  scene/register_scene_types.cpp
Labels: bug, topic:core

#25650 Fix script class icons looking for paths at runtime
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#25685 Improve the ResourcePreloader documentation
  doc/classes/ResourcePreloader.xml
Labels: documentation, enhancement

#25614 Fix generating GDNative API struct for 1.1
  modules/gdnative/gdnative_builders.py
Labels: bug, topic:core

#25653 Hide new sky properties if we don't have sky as a background
  scene/resources/environment.cpp
Labels: bug, topic:editor

#25710 Add a setting hint for the Output panel font size
  editor/editor_settings.cpp
Labels: bug, topic:editor

#25709 Get Git commit hash when Godot is a submodule
  methods.py
Labels: cherrypick, enhancement, topic:buildsystem

#25712 Root node of a scene is now selected when the scene is opened.
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#25736 Fix latest regression error in SpriteFramesEditor
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor

#25739 Fix rescan files and folders after deleting them
  editor/dependency_editor.cpp
Labels: bug, topic:editor

#25728 [DOC] Filled in MultiMesh doc
  doc/classes/MultiMesh.xml
Labels: documentation, enhancement

#25746 Warn when using GPU particles with GLES2
  core/os/os.h
  scene/2d/particles_2d.cpp
  scene/3d/particles.cpp
Labels: enhancement, topic:editor, topic:rendering

#25727 [Core] Rename Matrix3 file to Basis
  core/math/basis.cpp
  core/math/basis.h
  core/math/quat.cpp
  core/math/transform.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/variant.h
  main/tests/test_math.cpp
  modules/bullet/bullet_types_converter.h
  modules/gdnative/gdnative/basis.cpp
  servers/physics/body_sw.cpp
Labels: enhancement, topic:core

#25465 Update the changelog with new features added in 3.1
  CHANGELOG.md
Labels: enhancement

#25412 [DOCS] rephrased impulse
  doc/classes/PhysicsDirectBodyState.xml
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
Labels: documentation, enhancement

#25762 Be explicit about usage of GDScript tests
  main/tests/test_gdscript.cpp
  main/tests/test_image.cpp
  main/tests/test_image.h
  main/tests/test_main.cpp
  misc/dist/linux/godot.6
Labels: enhancement, topic:core

#25763 SCons: Make MD5-timestamp decider and implicit_cache debug-only
  SConstruct
Labels: cherrypick, enhancement, topic:buildsystem

#25764 SCons: Fix import clash between Godot and system modules
  SConstruct
Labels: bug, topic:buildsystem

#25774 Fix check to determine if [[noreturn]] attribute is usable
  modules/mono/utils/macros.h
Labels: bug, topic:mono

#25773 Do not initialize Mono if 'res://.mono/' and mscorlib are missing
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, topic:mono

#25770 General cleanup of script and doc search bars
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_help.cpp
  editor/editor_help.h
  scene/gui/color_picker.cpp
Labels: enhancement, topic:editor

#25428 [DOCS] Added warnings about Dictionary element erasure while iterating over it
  doc/classes/Dictionary.xml
Labels: documentation, enhancement

#25790 Cleanup editor's top bar of old nodes
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#25803 Windows: Default to system MSBuild and add VSCode hint path
  modules/mono/editor/GodotSharpTools/Build/BuildSystem.cs
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/editor/godotsharp_editor.cpp
Labels: enhancement, topic:editor, topic:mono

#25724 [Mono] Fix Transform2D origin
  modules/mono/glue/Managed/Files/Transform2D.cs
Labels: enhancement, topic:mono

#25813 Use "origin" instead of "o" in Transform2D.Rotation
  modules/mono/glue/Managed/Files/Transform2D.cs
Labels: bug, topic:mono

#25134 Check for null pointer in RasterizerSceneGLES2::render_shadow
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering

#25783 Fix CSGShape not updating on changing visibility
  modules/csg/csg_shape.cpp
Labels: bug, topic:core

#25779 Make LIGHT_VEC affect 2D shadows again
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#25778 Add disabled tab style
  editor/editor_themes.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/tab_disabled.png
  scene/resources/default_theme/theme_data.h
Labels: bug, topic:editor

#25754 Fix canvas particle material for old GLSL versions
  scene/2d/canvas_item.cpp
  scene/resources/material.cpp
Labels: bug, topic:rendering

#25682 Fix canvas light shaders on GLES2
  drivers/gles2/shaders/canvas.glsl
Labels: bug, topic:rendering

#25623 [GLES2] Initialize color buffer to white in gles2 multimesh
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering

#25725 Added ability to set_instance_transform_2d in multimesh
  scene/resources/multimesh.cpp
  scene/resources/multimesh.h
Labels: bug, topic:core

#25557 Allow usage of depth texture when contact shadows are disabled
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
Labels: bug, topic:rendering

#25550 Fixed Null appearing inside export variables with type hints and no default value
  modules/gdscript/gdscript_parser.cpp
Labels: breaks compat, bug, topic:editor, topic:gdscript

#25481 Fix many asan and ubsan reported issues
  core/pair.h
  core/variant.cpp
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  main/tests/test_shader_lang.cpp
  modules/bullet/collision_object_bullet.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  platform/x11/os_x11.cpp
  scene/animation/animation_player.h
  scene/animation/animation_tree_player.h
  scene/resources/environment.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, topic:core, topic:editor

#25819 Minor cleanup in the Project Manager
  editor/editor_node.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#25602 Fix 3D Listener nodes not being used
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:audio

#25496 Fix look_at with non uniform scaling
  scene/2d/node_2d.cpp
Labels: bug, topic:core

#25721 Use script instance binding for objects constructed from C#
  core/object.cpp
  core/object.h
  core/script_language.cpp
  core/script_language.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono_internals.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: bug, enhancement, topic:mono

#25823 PluginConfigDialog: Slight usability changes
  editor/plugin_config_dialog.cpp
Labels: enhancement, topic:editor, usability

#25827 EditorAudioBuses: Fix wrong tooltip for "Add Bus"
  editor/editor_audio_buses.cpp
Labels: enhancement, topic:editor

#25828 Fixes issue where ZIndex of converted CPUParticles2D is reset to zero
  editor/plugins/particles_2d_editor_plugin.cpp
Labels: bug, topic:core

#25830 Fix state machine priority for auto advance
  scene/animation/animation_node_state_machine.cpp
Labels: bug, topic:core

#25831 [Core] [Mono] Transform2D rotation and scale fixes
  core/math/basis.cpp
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  modules/mono/glue/Managed/Files/Transform2D.cs
Labels: breaks compat, bug, enhancement, topic:core, topic:mono

#25814 Hide the warning panel when no warnings presents.
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: enhancement, topic:editor, usability

#25842 Fix get_time_zone_info returning inverted bias on Windows/UWP
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
Labels: bug, topic:core, topic:porting

#25858 Fix button alignment of Package Installer on OSX
  scene/gui/popup.cpp
Labels: bug, needs testing, platform:osx, topic:core

#25422 Fix docs about item_selected and item_focused . Fixes #25273
  doc/classes/OptionButton.xml
  scene/gui/option_button.cpp
  scene/gui/option_button.h
Labels: bug, topic:core

#25776 Fixes some AnimationPlayer bugs
  doc/classes/AnimationPlayer.xml
  scene/animation/animation_player.cpp
Labels: bug, topic:core

#25866 Fix exported property values being lost if base GDScript fails to parse
  modules/gdscript/gdscript.cpp
Labels: bug, topic:editor, topic:gdscript

#25717 Fixed undefined behavior when loading dynamic font settings
  scene/resources/dynamic_font.h
Labels: bug, topic:core

#25878 Don't crash if there's no application name
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#25879 Detect when primusrun/optirun is in use
  platform/x11/os_x11.cpp
Labels: bug, cherrypick, platform:linuxbsd

#25886 Fix AnimationPlayer bug where it wouldn't reset its position when finished
  scene/animation/animation_player.cpp
Labels: bug, topic:core

#25841 Fix MenuButton item label disappearing when setting shortcut.
  scene/gui/popup_menu.cpp
Labels: bug, topic:core

#25894 Fix possible crash with an invalid last_mouse_focus pointer
  scene/main/viewport.cpp
Labels: bug, topic:core

#25901 Revert "Fix MenuButton item label disappearing when setting shortcut."
  scene/gui/popup_menu.cpp
Labels: bug, topic:core

#25917 Mono: Get rid of irrelevant error and fix export template build errors
  modules/mono/godotsharp_dirs.cpp
  modules/mono/godotsharp_dirs.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/utils/mono_reg_utils.cpp
Labels: bug, platform:windows, topic:mono

#25888 Fix 2 more UBSAN issues (#25217).
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/resources/mesh.cpp
Labels: bug, topic:core

#25927 Fix alignment and locking issues with CommandQueueMT
  core/command_queue_mt.cpp
  core/command_queue_mt.h
Labels: bug, cherrypick, topic:core

#25924 Make Button shortcuts triggerable by gamepads
  core/os/input_event.cpp
  core/os/input_event.h
Labels: bug, topic:core, topic:input

#25932 Fix big text window in TextEdit
  editor/editor_properties.cpp
Labels: bug, topic:editor

#25910 Increased contrast of solarized dark theme
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#25851 New export options in iOS
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:porting

#25715 Add a maximum recusion depth to _guess_expression_type
  modules/gdscript/gdscript_editor.cpp
Labels: bug, cherrypick, topic:editor

#25940 Expose OS::get_current_video_driver to scripting languages
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  doc/classes/Animation.xml
  doc/classes/MultiMesh.xml
  doc/classes/OS.xml
  doc/classes/OptionButton.xml
  doc/classes/TabContainer.xml
  doc/classes/Tabs.xml
Labels: enhancement, topic:core

#25944 Fix keep-alive without header in HTTP client
  core/io/http_client.cpp
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, topic:network

#24574 Made clone (CTRL+B) in code editor clone only the selection.
  editor/code_editor.cpp
Labels: enhancement, topic:editor, usability

#25931 Fix copy text when TextEdit is readonly
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#25943 Better and non-buggy Polygon2D editing disabling
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/abstract_polygon_2d_editor.h
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.h
Labels: bug, topic:editor

#25952 Fix typo for randd and randf
  core/math/math_funcs.h
  doc/classes/@GDScript.xml
Labels: bug, topic:core

#25953 Fixed TextureProgress in Radial Mode when using center offset
  scene/gui/texture_progress.cpp
Labels: bug, topic:core, topic:rendering

#25913 Fix icon color for gizmos menu when theme changed
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: bug, topic:editor

#25958 Fix Polygon2D Editor interacting with its buttons too soon
  editor/plugins/abstract_polygon_2d_editor.cpp
Labels: bug, topic:editor

#25954 Fix Android jarsigner error duplicate file
  editor/editor_export.cpp
Labels: bug, platform:android, topic:editor

#25680 Fix random generation, to not always retrieve 0 after seed()
  core/math/random_pcg.h
Labels: bug, topic:core

#25972 Small improvements to the Resource doc
  doc/classes/Resource.xml
Labels: documentation, enhancement

#25974 Fix AudioStreams::stop possibly causing a small noise
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
Labels: bug, topic:audio

#25990 Fix description size in "New Node" dialog
  editor/editor_help.cpp
  editor/editor_help.h
Labels: bug, topic:editor

#25962 Auto-cleanup missing addons
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#26011 Added support to scale areas, fixes #23448
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#26005 Added shadow_color property to gles2
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#26007 Make direct casting among Error and godot_error enums (#23015).
  modules/gdnative/pluginscript/pluginscript_language.cpp
Labels: bug, topic:gdnative

#25971 Add hex-encoded version number to Engine singleton for easy comparisons
  core/engine.cpp
  core/version.h
  doc/classes/Engine.xml
Labels: cherrypick, enhancement, topic:core

#26014 Fixed area collision report with concave
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#26023 C#: fix Quat.Equals.
  modules/mono/glue/Managed/Files/Quat.cs
Labels: bug, topic:mono

#26025 Allowing setting particles lifetime greater than 600
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/3d/particles.cpp
Labels: enhancement, topic:editor

#26027 Fix warnings seen with warnings=all and recent GCC 8.2.
  core/object.cpp
  main/main.cpp
  modules/websocket/lws_peer.cpp
Labels: bug, topic:buildsystem, topic:core

#26038 C#: Add random functions to GD class
  modules/mono/glue/Managed/Files/GD.cs
  modules/mono/glue/gd_glue.cpp
  modules/mono/glue/gd_glue.h
Labels: enhancement, topic:mono

#26039 C#: Throw ObjectDisposedException from disposed wrapper classes
  modules/mono/glue/Managed/Files/Array.cs
  modules/mono/glue/Managed/Files/Dictionary.cs
  modules/mono/glue/Managed/Files/NodePath.cs
  modules/mono/glue/Managed/Files/Object.base.cs
  modules/mono/glue/Managed/Files/RID.cs
Labels: enhancement, topic:mono

#26033 Fix project opening while filter is applied.
  editor/project_manager.cpp
  editor/project_manager.h
Labels: bug, topic:editor, usability

#26030 Add gcc-8 to Travis.
  .travis.yml
Labels: enhancement, topic:buildsystem

#26052 Fix compiling with use_mingw flag on Windows
  platform/uwp/detect.py
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem

#25788 Fix RayShape collision when used with a KinematicBody (Bullet Physics)
  modules/bullet/btRayShape.cpp
  modules/bullet/godot_ray_world_algorithm.cpp
  modules/bullet/godot_result_callbacks.cpp
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
Labels: bug, topic:physics

#25890 Fix Godot.Reference marshalling from MonoObject* to Variant
  modules/mono/mono_gd/gd_mono_marshal.cpp
Labels: bug, topic:mono

#26058 Travis: Use Ubuntu 16.04, use GCC 8 for Linux/GCC builds
  .travis.yml
Labels: enhancement, topic:buildsystem

#26065 C#: Make GD.Range return IEnumerable instead of array
  modules/mono/glue/Managed/Files/GD.cs
  modules/mono/glue/Managed/Files/NodePath.cs
  modules/mono/glue/Managed/Files/RID.cs
  modules/mono/glue/Managed/Files/Transform2D.cs
Labels: enhancement, topic:mono

#26071 C#: Add 'Singleton' property to singleton wrapper class
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_class.h
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: enhancement, topic:mono

#26077 HTTPClient fixes for EOF read, chunked transfer encoding
  core/io/http_client.cpp
  core/io/http_client.h
Labels: bug, topic:network

#26043 Add some documentation for methods that return Copy-on-Write arrays.
  doc/classes/CollisionPolygon.xml
  doc/classes/CollisionPolygon2D.xml
  doc/classes/OccluderPolygon2D.xml
  doc/classes/Polygon2D.xml
Labels: documentation, enhancement

#26080 Fix error when deleting default environment
  editor/dependency_editor.cpp
Labels: bug, topic:editor

#26073 Allow moving LineEdit visible window left by more than one symbol.
  scene/gui/line_edit.cpp
Labels: bug, topic:core

#26084 Add tooltip for in-editor FPS display in 3D viewport
  doc/classes/Control.xml
  doc/classes/Label.xml
  editor/plugins/spatial_editor_plugin.cpp
Labels: documentation, enhancement, topic:editor

#26085 Added a create rectangle button to the tileset editor.
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
Labels: enhancement, topic:editor, usability

#26069 Align the Variant data member
  core/variant.h
Labels: enhancement, topic:core

#25983 Fix update of canvas AABB with update_when_visible
  servers/visual/rasterizer.h
Labels: bug, topic:rendering

#26049 Truncate first segment in TextureProgress 9slices
  scene/gui/texture_progress.cpp
Labels: bug, topic:core

#26048 GDScript: Remove unused `switch`, `case` and `do` CF keywords
  main/tests/test_gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
Labels: enhancement, topic:gdscript

#26086 Drop RtAudio driver on Windows
  CODEOWNERS
  COPYRIGHT.txt
  drivers/SCsub
  drivers/rtaudio/SCsub
  drivers/rtaudio/audio_driver_rtaudio.cpp
  drivers/rtaudio/audio_driver_rtaudio.h
  platform/server/os_server.h
  platform/windows/crash_handler_windows.cpp
  platform/windows/detect.py
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  thirdparty/README.md
  thirdparty/rtaudio/RtAudio.cpp
  thirdparty/rtaudio/RtAudio.h
Labels: enhancement, platform:windows, topic:audio, topic:thirdparty

#25663 Improve documentation for StyleBox.
  doc/classes/StyleBox.xml
  doc/classes/StyleBoxTexture.xml
Labels: documentation, enhancement

#26088 Fix navigation editor color materials not having unique names
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor

#26087 ProjectSettings: fix category for per pixel transparency settings
  doc/classes/ProjectSettings.xml
  main/main.cpp
Labels: enhancement, topic:core

#26089 Fix word wrap cutoff and tab wrapping issue
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#26092 Add small spacing between top bars in main editor and project manager
  editor/editor_node.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#26061 Fix res:// error when dragging file from outside of editor
  editor/editor_node.cpp
Labels: bug, topic:editor

#26090 Fix RayShape collision jitter when used with a RigidBody
  modules/bullet/godot_ray_world_algorithm.cpp
Labels: bug, topic:physics

#26095 Fix wrong bounds check in String::right
  core/ustring.cpp
Labels: bug, topic:core

#26096 Add check to validate client IDs in ENet.
  modules/enet/networked_multiplayer_enet.cpp
Labels: bug, topic:network
