Repository godotengine/godot, pull requests merged in 2019-03, with the labels that each got.

#26407 Implement Audio Input support on Android
  platform/android/audio_driver_opensl.cpp
  platform/android/audio_driver_opensl.h
Labels: bug, platform:android, topic:audio

#26431 Updates error label font in script's status bar
  editor/code_editor.cpp
Labels: bug, topic:editor

#26430 Added DIFFUSE and SPECULAR as inputs to visual shader light function
  scene/resources/visual_shader.cpp
Labels: bug, topic:editor, topic:rendering

#26419 Fixed Errors Tab Indexing Bug in the Debugger
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
Labels: bug, topic:editor

#26442 Fixed wrong method binding in control
  scene/gui/control.cpp
Labels: bug, topic:core

#26140 Use correct meta item in rich text.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:core

#26449 Fix possible crash when AudioDriver::capture_start fails
  servers/audio/audio_stream.cpp
Labels: bug, topic:audio

#26441 Engine does not crash anymore if a non root node in escn is missing a parent.
  scene/resources/packed_scene.cpp
Labels: bug, topic:core, topic:import

#26353 Android: Fixed a possible crash in keyboard hide method.
  platform/android/java/src/org/godotengine/godot/GodotIO.java
Labels: bug, platform:android, topic:porting

#26451 Fix misleading modified status of scenes
  editor/editor_node.cpp
Labels: bug, topic:editor

#26455 Scale quickhull tolerance with mesh size
  core/math/quick_hull.cpp
  core/math/quick_hull.h
Labels: bug, topic:editor

#26473 SCons: Move platform-specific Opus config to its module
  modules/opus/SCsub
  platform/android/detect.py
  platform/iphone/detect.py
  platform/javascript/detect.py
Labels: enhancement, topic:buildsystem

#26474 SCons: Reduce spam from x11:can_build
  platform/x11/detect.py
Labels: enhancement, platform:linuxbsd, topic:buildsystem

#26482 Fix preview in file dialog
  editor/editor_file_dialog.cpp
Labels: bug, topic:editor, usability

#26502 mentioned possible use of property:component syntax
  doc/classes/Tween.xml
Labels: documentation, enhancement

#26505 Fix possible crash on AudioDriver::input_buffer_write
  servers/audio/audio_stream.cpp
  servers/audio_server.cpp
Labels: bug, platform:android, topic:audio

#26385 TileSetEditor: Improvements and fixes
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
Labels: bug, topic:editor

#25934 Added PoolIntArray, PoolRealArray and PoolColorArray interpolate
  core/variant_op.cpp
Labels: bug, enhancement, topic:core

#26514 Hide hdr and shadow_contact in gles2
  scene/3d/light.cpp
  scene/3d/light.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:editor, usability

#26446 Importer for scenes only overrides the base Node if differently specified by the user
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:import

#26523 Improve VRAM texture compression checks for mobile/web
  editor/editor_export.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
Labels: bug, enhancement, platform:html5, topic:editor

#26521 Fix GDScript checking for assigning to a constant only in release
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#26528 Allow parameters passed to GDScript functions to be nulled
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:gdscript

#26496 Fix grid view button icon not showing on filesystem dock.
  editor/editor_node.cpp
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#26547 Add a parse mode for GDScript which doesn't load dependencies
  core/os/file_access.cpp
  core/os/file_access.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: enhancement, topic:gdscript

#26511 Add warning to GIProbe when using GLES2
  scene/3d/gi_probe.cpp
  scene/3d/gi_probe.h
Labels: enhancement, topic:editor, usability

#26563 A couple of GDScript fixes
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#26562 Forbid implicit type conversion in GDScript
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#26541 Added bump_strength to NoiseTexture
  modules/opensimplex/noise_texture.cpp
  modules/opensimplex/noise_texture.h
Labels: bug, topic:rendering

#26573 Revert "Forbid implicit type conversion in GDScript"
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#26580 Silences annoying "iCCP: known incorrect sRGB profile" spam in the editor
  drivers/png/image_loader_png.cpp
Labels: enhancement, topic:editor

#26574 Update libpng (1.6.35 --> 1.6.36)
  drivers/png/SCsub
  thirdparty/libpng/LICENSE
  thirdparty/libpng/arm/arm_init.c
  thirdparty/libpng/arm/filter_neon.S
  thirdparty/libpng/arm/filter_neon_intrinsics.c
  thirdparty/libpng/arm/palette_neon_intrinsics.c
  thirdparty/libpng/png.c
  thirdparty/libpng/png.h
  thirdparty/libpng/pngconf.h
  thirdparty/libpng/pngdebug.h
  thirdparty/libpng/pngerror.c
  thirdparty/libpng/pngget.c
  thirdparty/libpng/pnginfo.h
  thirdparty/libpng/pnglibconf.h
  thirdparty/libpng/pngmem.c
  thirdparty/libpng/pngpread.c
  thirdparty/libpng/pngpriv.h
  thirdparty/libpng/pngread.c
  thirdparty/libpng/pngrio.c
  thirdparty/libpng/pngrtran.c
  thirdparty/libpng/pngrutil.c
  thirdparty/libpng/pngset.c
  thirdparty/libpng/pngstruct.h
  thirdparty/libpng/pngtrans.c
  thirdparty/libpng/pngwio.c
  thirdparty/libpng/pngwrite.c
  thirdparty/libpng/pngwtran.c
  thirdparty/libpng/pngwutil.c
Labels: cherrypick, enhancement, topic:thirdparty

#26576 glad: Sync with upstream 0.1.29
  thirdparty/README.md
  thirdparty/glad/glad.c
  thirdparty/glad/glad/glad.h
Labels: cherrypick, enhancement, topic:thirdparty

#26577 libwebp: Sync with upstream 1.0.2
  modules/webp/SCsub
  thirdparty/README.md
  thirdparty/libwebp/AUTHORS
  thirdparty/libwebp/src/dec/vp8i_dec.h
  thirdparty/libwebp/src/demux/demux.c
  thirdparty/libwebp/src/dsp/cost.c
  thirdparty/libwebp/src/dsp/cost_neon.c
  thirdparty/libwebp/src/dsp/quant.h
  thirdparty/libwebp/src/enc/histogram_enc.c
  thirdparty/libwebp/src/enc/predictor_enc.c
  thirdparty/libwebp/src/enc/quant_enc.c
  thirdparty/libwebp/src/enc/vp8i_enc.h
  thirdparty/libwebp/src/enc/vp8l_enc.c
  thirdparty/libwebp/src/mux/muxi.h
  thirdparty/libwebp/src/utils/bit_writer_utils.c
  thirdparty/libwebp/src/utils/utils.h
  thirdparty/libwebp/src/webp/decode.h
Labels: cherrypick, enhancement, topic:thirdparty

#26513 Add mono log profiler support
  modules/mono/mono_gd/gd_mono.cpp
Labels: enhancement, topic:mono

#26581 Add UndoRedo for Generate Visibility Rect (Particles2D)
  editor/plugins/particles_2d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#26532 Fixed TextureArray and Texture3D issues
  drivers/gles3/rasterizer_storage_gles3.cpp
  servers/register_server_types.cpp
Labels: bug, topic:rendering

#26583 stb: Update to upstream stb_truetype 1.21 and stb_vorbis 1.15
  thirdparty/README.md
  thirdparty/misc/stb_truetype.h
  thirdparty/misc/stb_vorbis.c
Labels: cherrypick, enhancement, topic:thirdparty

#26584 nanosvg: Sync with upstream c1f6e20
  thirdparty/README.md
  thirdparty/nanosvg/nanosvg.h
  thirdparty/nanosvg/nanosvgrast.h
Labels: cherrypick, enhancement, topic:thirdparty

#26585 pcre2: Sync with upstream 10.32
  thirdparty/README.md
  thirdparty/pcre2/LICENCE
  thirdparty/pcre2/src/config.h
  thirdparty/pcre2/src/pcre2.h
  thirdparty/pcre2/src/pcre2_auto_possess.c
  thirdparty/pcre2/src/pcre2_chartables.c
  thirdparty/pcre2/src/pcre2_compile.c
  thirdparty/pcre2/src/pcre2_convert.c
  thirdparty/pcre2/src/pcre2_dfa_match.c
  thirdparty/pcre2/src/pcre2_error.c
  thirdparty/pcre2/src/pcre2_extuni.c
  thirdparty/pcre2/src/pcre2_find_bracket.c
  thirdparty/pcre2/src/pcre2_internal.h
  thirdparty/pcre2/src/pcre2_intmodedep.h
  thirdparty/pcre2/src/pcre2_jit_compile.c
  thirdparty/pcre2/src/pcre2_maketables.c
  thirdparty/pcre2/src/pcre2_match.c
  thirdparty/pcre2/src/pcre2_pattern_info.c
  thirdparty/pcre2/src/pcre2_serialize.c
  thirdparty/pcre2/src/pcre2_string_utils.c
  thirdparty/pcre2/src/pcre2_study.c
  thirdparty/pcre2/src/pcre2_substitute.c
  thirdparty/pcre2/src/pcre2_tables.c
  thirdparty/pcre2/src/pcre2_ucd.c
  thirdparty/pcre2/src/pcre2_ucp.h
  thirdparty/pcre2/src/sljit/sljitConfigInternal.h
  thirdparty/pcre2/src/sljit/sljitExecAllocator.c
  thirdparty/pcre2/src/sljit/sljitLir.c
  thirdparty/pcre2/src/sljit/sljitLir.h
  thirdparty/pcre2/src/sljit/sljitNativeARM_64.c
  thirdparty/pcre2/src/sljit/sljitNativeARM_T2_32.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_32.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_64.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_common.c
  thirdparty/pcre2/src/sljit/sljitNativeX86_32.c
  thirdparty/pcre2/src/sljit/sljitNativeX86_64.c
  thirdparty/pcre2/src/sljit/sljitNativeX86_common.c
Labels: cherrypick, enhancement, topic:thirdparty

#26586 tinyexr: Sync with upstream 65f9859
  thirdparty/README.md
  thirdparty/tinyexr/tinyexr.h
Labels: cherrypick, enhancement, topic:thirdparty

#26567 Fixed pixel snap precision artifact
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#26590 Fix editor crash when converting sprite to 2D mesh
  editor/plugins/sprite_editor_plugin.cpp
Labels: bug, topic:editor

#26591 Mono: Add option to print MSBuild output and improve out of sync error
  modules/mono/editor/GodotSharpTools/Build/BuildSystem.cs
  modules/mono/editor/godotsharp_builds.cpp
  modules/mono/mono_gd/gd_mono.cpp
Labels: enhancement, topic:editor, topic:mono, usability

#26604 Fix default values not being read correctly in VisualScript
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
Labels: bug, topic:visualscript

#26592 Changed default noisetexture strength
  modules/opensimplex/noise_texture.cpp
Labels: enhancement, topic:core

#26608 Calculate inputs count from arg types instead of names
  modules/visual_script/visual_script_func_nodes.cpp
Labels: bug, topic:visualscript

#26607 Unescape translations in CSV importer
  editor/import/resource_importer_csv_translation.cpp
Labels: bug, topic:core

#26587 Add UndoRedo for Generate Visibility AABB (Particles)
  editor/plugins/particles_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#26612 Fix creating editor data, config and cache paths
  editor/editor_settings.cpp
Labels: bug, cherrypick, topic:editor

#26599 TileSetEditor: Expose to the user OneWayCollision+Margin properties.
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#26614 TileSet/TileMap: Decompose solid non-convex polygons into convexes.
  core/math/geometry.cpp
  core/math/geometry.h
  scene/2d/collision_polygon_2d.cpp
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: bug, topic:core

#26619 Remove microphone from export options and distribution plist
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/export/export.cpp
Labels: bug, platform:ios, topic:porting

#26630 Ensure to disable freelook when leaving spatial editor
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#26629 Print errors comming from callv
  core/object.cpp
Labels: bug, topic:core

#26631 Fix general issues with filesystem-related UI components in the editor
  editor/editor_file_dialog.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  scene/gui/file_dialog.cpp
Labels: bug, enhancement, topic:editor

#26622 Fixed Tileset preview stretching textures
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#26636 Remove "TODO" instances in the docs
  doc/classes/Font.xml
  doc/classes/KinematicBody.xml
  doc/classes/KinematicBody2D.xml
  doc/classes/SpotLight.xml
Labels: documentation, enhancement

#26638 Pause AudioStreamPlayer on SceneTree pause
  scene/audio/audio_stream_player.cpp
Labels: bug, topic:audio

#26639 Disable coord navigation buttons in TileSet editor when no texture is selected
  editor/plugins/tile_set_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#26643 Fix attaching script after removing one
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#26654 makerst: make vararg methods look the same as in editor help
  doc/tools/makerst.py
Labels: documentation, enhancement

#26655 AssetLib: convert video thumbnails to RGBA8
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, topic:assetlib, topic:editor

#26626 Fixing misleading error message when trying to export
  editor/editor_export.cpp
  editor/project_export.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
Labels: bug, topic:editor

#26642 Check cursor line and column
  scene/gui/text_edit.cpp
Labels: bug, topic:core, topic:editor

#26657 Fix #25641 by not shifting a negative value.
  servers/visual/visual_server_viewport.h
Labels: bug, topic:core

#26661 Mono: Fix array field being assigned MonoArray** instead of MonoArray*
  modules/mono/mono_gd/gd_mono_field.cpp
Labels: bug, topic:mono

#26660 Fix #25639 by not shifting a negative value.
  servers/audio_server.cpp
Labels: bug, topic:audio

#26664 Replace usage of __bswap_16 with BSWAP16 (#25714).
  platform/x11/joypad_linux.cpp
Labels: bug, platform:linuxbsd, topic:porting

#26666 Update the server platform's `detect.py` to match x11's
  platform/server/detect.py
Labels: enhancement, platform:linuxbsd, platform:osx, topic:buildsystem

#26633 Disable driver fallback to GLES2 by default
  doc/classes/ProjectSettings.xml
  editor/editor_export.cpp
  main/main.cpp
  platform/android/export/export.cpp
  platform/android/os_android.cpp
  platform/iphone/export/export.cpp
  platform/iphone/os_iphone.cpp
  platform/javascript/os_javascript.cpp
  platform/osx/os_osx.mm
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: documentation, enhancement, topic:editor, topic:rendering

#26668 Use GCC builtins for bswap as compiler can then emit these via insn
  core/typedefs.h
Labels: cherrypick, enhancement, topic:core

#26673 Fix inspector plugin
  editor/editor_inspector.cpp
Labels: bug, topic:editor, topic:plugin

#22716 Make theme changing no longer requires restart to be fully applied
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#26707 Fix macOS accumulated mouse scroll events.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:input

#26712 Mono: Make 'Build' button generate solution if it doesn't exist
  modules/mono/editor/godotsharp_editor.cpp
  modules/mono/editor/godotsharp_editor.h
Labels: enhancement, topic:editor, topic:mono, usability

#26669 Improve/fix picking
  main/input_default.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:input, topic:porting

#26665 Fix enums coming from other classes without preload
  core/script_language.cpp
  core/script_language.h
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#26713 Print MSBuild command if also printing output
  modules/mono/editor/GodotSharpTools/Build/BuildSystem.cs
Labels: enhancement, topic:editor, topic:mono, usability

#26716 Cleanup relationship line coding after 5f079e2
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  editor/editor_settings.cpp
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor

#26722 TileSetEditor: Don't draw invalid occlusion shapes. Fixes #24238
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#26729 [macOS] Fixes NumPad keys detection, adds some missing key mappings.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:input

#26737 Fixed get_seed() not returning the correct seed.
  core/math/random_pcg.cpp
  core/math/random_pcg.h
Labels: bug, topic:core

#26696 OS X: update mouse position on mouse down
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:input

#21534 Precise size calculation of ScrollContainer
  scene/gui/scroll_container.cpp
Labels: bug, topic:core

#26758 Fix error when dragging empty script list in Script Editor
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#26755 Update exported variables for Mono tool scripts
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#26765 Mono: Fix crash when re-using script binding after domain reloading
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, topic:mono

#26761 Fix division by zero at wrap functions in mono
  modules/mono/glue/Managed/Files/Mathf.cs
  modules/mono/glue/Managed/Files/MathfEx.cs
Labels: bug, topic:mono

#26770 Mono: Partially implement some Godot debug api functions
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: enhancement, topic:editor, topic:mono

#26762 Fixes bad gizmo alignment for textures with odd size
  scene/2d/animated_sprite.cpp
  scene/2d/sprite.cpp
Labels: bug, topic:editor

#26773 Mono: Fix crash with exported field of custom Reference derived type
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#26745 Define android/modules globally so it appears in Project Settings
  core/project_settings.cpp
  doc/classes/ProjectSettings.xml
  platform/android/java_glue.cpp
Labels: enhancement, platform:android, topic:editor

#26776 Fix CSharpInstance::set not working with base classes
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#26746 Add a custom TraceListener on Startup for Mono
  modules/mono/glue/Managed/Files/DebuggingUtils.cs
  modules/mono/glue/Managed/Files/GodotTraceListener.cs
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
Labels: enhancement, topic:mono

#26767 Fix error when trying to enter to folder/node directly via address bar
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#26781 Fix "Favorite" button not being toggled when navigating to a faved folder manually
  editor/editor_file_dialog.cpp
Labels: bug, topic:editor

#26791 Fix typo in GDScript narrowing conversion warning message
  modules/gdscript/gdscript.cpp
Labels: enhancement, topic:editor, topic:gdscript

#26756 Request Android record permission when needed
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  platform/android/audio_driver_opensl.cpp
  platform/android/audio_driver_opensl.h
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java/src/org/godotengine/godot/GodotLib.java
  platform/android/java_glue.cpp
  platform/android/java_glue.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: bug, platform:android, topic:porting

#26738 Fixed MeshInstance2d copying Line2d's default color
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering

#26807 Set editor hint early for Project Manager and Editor
  main/main.cpp
Labels: bug, topic:editor

#26818 Allow class_name scripts to have nested inheritance
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  core/script_language.cpp
  core/script_language.h
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, topic:gdscript

#26784 Prevent invisible/inactive cpupparticles2d to redraw
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
Labels: bug, topic:core

#26842 [GDNative] fix crash at shutdown when using singleton libraries and NativeScript
  modules/gdnative/gdnative.cpp
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, topic:gdnative

#26853 Fixes UI navigation with joysticks
  scene/main/viewport.cpp
Labels: bug, topic:input

#26851 Fix fake null-motion mouse event flood
  core/os/input_event.cpp
  core/os/input_event.h
  main/input_default.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:physics

#26845 GLES2 reallocate texture when transparent is set
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#26687 Removed the resource preview thread from the server build
  editor/editor_resource_preview.cpp
Labels: bug, platform:linuxbsd, topic:editor

#26856 Mono: Fix assemblies path String incorrectly constructed from utf8
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#26859 Fix resetting of CPUParticles (2D and 3D)
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
Labels: bug, topic:core

#26867 Fix cursor going to start while editing GraphNode's title
  scene/gui/graph_node.cpp
Labels: bug, topic:editor, usability

#26874 Mono: Some assembly referencing changes and cleanup
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_assembly.h
Labels: bug, topic:mono

#26911 Fixes segfault on opening incompatible files in GDNative videodecoder.
  modules/gdnative/videodecoder/video_stream_gdnative.cpp
Labels: bug, topic:gdnative

#26901 Prevents a Null Reference in deleting Animations.
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#26898 Increase size of radiance map in gles2
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#26921 HTML5: Fix ETC export for GLES2 fallback on mobile
  platform/javascript/export/export.cpp
Labels: enhancement, platform:html5, topic:editor, topic:rendering

#26928 GLES2: Ensure extension checks for texture2DLod
  drivers/gles2/shaders/canvas.glsl
  drivers/gles2/shaders/cubemap_filter.glsl
  drivers/gles2/shaders/scene.glsl
  drivers/gles2/shaders/stdlib.glsl
Labels: bug, topic:rendering

#26932 GLES2: Fix regression on texture2DLod extension checks
  drivers/gles2/shaders/canvas.glsl
  drivers/gles2/shaders/scene.glsl
  drivers/gles2/shaders/stdlib.glsl
Labels: bug, topic:rendering

#26936 GLES2: Revert wrong extension checks from #26928 and #26932
  drivers/gles2/shaders/canvas.glsl
  drivers/gles2/shaders/cubemap_filter.glsl
  drivers/gles2/shaders/scene.glsl
  drivers/gles2/shaders/stdlib.glsl
Labels: bug, topic:rendering

#26941 Add priority to gizmos and fix small issues
  editor/plugins/path_editor_plugin.cpp
  editor/plugins/path_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
  modules/csg/csg_gizmos.cpp
  modules/csg/csg_gizmos.h
Labels: enhancement, topic:editor, topic:plugin

#26957 Fixed & improved Visual Studio custom debugger visualization
  platform/windows/godot.natvis
Labels: enhancement, platform:windows, topic:buildsystem

#26943 GLES2: Convert unsupported float texture types to 8-bit types
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#26962 fix for access after free in OS_X11::set_context.
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:core

#26969 AudioStreamSample: Don't crash when writing to file fails
  doc/classes/AudioStreamSample.xml
  scene/resources/audio_stream_sample.cpp
  scene/resources/audio_stream_sample.h
Labels: bug, topic:audio

#26974 Update changelog with recent additions
  CHANGELOG.md
Labels: documentation, enhancement

#27014 C#: Update exports only in the editor
  modules/mono/csharp_script.cpp
Labels: bug, cherrypick:3.1, topic:mono

#27000 [DOC] Linked various tutorials in the classref
  doc/classes/Light2D.xml
  doc/classes/LightOccluder2D.xml
  doc/classes/MeshInstance2D.xml
  doc/classes/MultiMesh.xml
  doc/classes/MultiMeshInstance.xml
  doc/classes/Particles.xml
  doc/classes/ShaderMaterial.xml
  doc/classes/Skeleton2D.xml
Labels: cherrypick:3.1, documentation, enhancement

#26945 Be more tolerant about under-defined spatial viewport state
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#26484 Make the Tooltip Position Offset Configurable
  doc/classes/ProjectSettings.xml
  main/main.cpp
  scene/main/viewport.cpp
Labels: cherrypick:3.1, enhancement, topic:core

#27056 Ignore default ccls cache folder and compile commands json file
  .gitignore
Labels: enhancement, topic:buildsystem

#27055 Fix duplicated newlines in GDScript bytecode
  main/tests/test_gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.1, topic:gdscript

#27071 Resolve GLES 2 crash on older iOS devices
  platform/iphone/app_delegate.mm
  platform/iphone/gl_view.mm
Labels: bug, cherrypick:3.1, platform:ios, topic:rendering

#27031 [DOCS] minor classref updates
  doc/classes/AnimatedTexture.xml
  doc/classes/Dictionary.xml
  doc/classes/KinematicBody2D.xml
  doc/classes/RayCast.xml
  doc/classes/Rect2.xml
Labels: cherrypick:3.1, documentation, enhancement

#27038 Fix bone aabb calculation, which caused a skeletal mesh culling issue
  servers/visual_server.cpp
Labels: bug, topic:rendering

#27109 [DOCS] Add tutorial link to Particles2D
  doc/classes/Particles2D.xml
Labels: documentation, enhancement

#27126 Make bottom panel only try to hide editors when they're visible
  editor/editor_node.cpp
Labels: bug, topic:editor

#27115 Fix toggling snap mode while transforming the Spatial object
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#27123 Fix renaming actions in the Project settings
  editor/project_settings_editor.cpp
Labels: bug, cherrypick:3.1, topic:editor

#26935 Show in tabs custom class icons
  editor/editor_node.cpp
Labels: enhancement, topic:editor, usability

#26919 Implement source lookup for class_name defined classes
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor, usability

#26788 RichTextLabel: Adding the ability to change the default cursor
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#26706 Fix clearing scripts while multiple nodes are selected
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#26459 Remove extraneous line breaks from text resources
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#26308 Consider StaticBody and NavMesh position when converting to a MeshLibrary
  editor/plugins/mesh_library_editor_plugin.cpp
  modules/gridmap/grid_map.cpp
  scene/resources/mesh_library.cpp
  scene/resources/mesh_library.h
Labels: enhancement, junior job, topic:physics, usability

#26309 Add search box and size slider to GridMap (similar to TileMap's)
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: enhancement, topic:editor, usability

#25782 Feature/fix toggle comment indent
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#25495 Fix parameterised macros in core. Addresses #25488
  core/io/logger.cpp
  core/math/geometry.cpp
  core/typedefs.h
Labels: enhancement, topic:core

#27130 Fix misplaced hint for interface/theme/accent_color
  editor/editor_settings.cpp
Labels: bug, cherrypick:3.1, topic:editor, usability

#27145 Remove unused 'fav_rm' ToolButton in EditorFileDialog
  editor/editor_file_dialog.h
Labels: enhancement, topic:editor

#27180 Fix script editor attempting to set current line to -1 on script open
  editor/plugins/script_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor
