Repository godotengine/godot, pull requests merged in 2019-10, with the labels that each got.

#30919 Fix GPU particle transform delay when created on SceneTree timer timeout
  scene/main/scene_tree.cpp
Labels: bug, cherrypick:3.1, topic:core

#32442 Drag&drop textures from filesystem to visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31845 Implement DOF blur, Glow, and BCS in GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles2/shaders/SCsub
  drivers/gles2/shaders/canvas_shadow.glsl
  drivers/gles2/shaders/cube_to_dp.glsl
  drivers/gles2/shaders/effect_blur.glsl
  drivers/gles2/shaders/lens_distorted.glsl
  drivers/gles2/shaders/tonemap.glsl
  scene/resources/environment.cpp
Labels: enhancement, needs testing, topic:rendering

#32450 Altered rotation_degrees range
  scene/2d/node_2d.cpp
  scene/2d/polygon_2d.cpp
  scene/gui/control.cpp
Labels: enhancement, topic:editor, usability

#32364 TextureProgress: nine_patch_stretch property -> enable stretching for radial fills.
  doc/classes/TextureProgress.xml
  scene/gui/texture_progress.cpp
Labels: enhancement, topic:core

#32172 Allow weakref(null) in gdscript
  modules/gdscript/gdscript_functions.cpp
Labels: enhancement, topic:gdscript

#32463 Fix casting to uint64_t when returning unix system time
  drivers/unix/os_unix.cpp
Labels: bug, cherrypick:3.0, cherrypick:3.1, platform:html5, topic:porting

#32460 Update doc for SurfaceTool.commit() flags
  doc/classes/SurfaceTool.xml
Labels: documentation, enhancement

#32461 Added sampler port type for visual shaders
  doc/classes/VisualShaderNode.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:editor, topic:rendering

#32467 Fix GridContainer children visibility check for min size evaluation
  scene/gui/grid_container.cpp
Labels: bug, topic:core

#32468 Fix text search bar not correctly switching from replacing to just searching
  editor/code_editor.cpp
Labels: bug, topic:editor

#32471 Updated defaults and documentation for GLES2 glow
  doc/classes/Environment.xml
  drivers/gles2/rasterizer_scene_gles2.h
  scene/resources/environment.cpp
Labels: documentation, enhancement, topic:rendering

#32448 Fix for running the export templates with newer emscripten versions.
  misc/dist/html/fixed-size.html
  misc/dist/html/full-size.html
  platform/javascript/engine.js
Labels: bug, platform:html5, topic:porting

#32459 Fixes CPUParticles2D not making use of AtlasTextures
  scene/2d/cpu_particles_2d.cpp
Labels: bug, topic:core

#32482 Revert "Fixes CPUParticles2D not making use of AtlasTextures"
  scene/2d/cpu_particles_2d.cpp
Labels: bug, topic:core

#32481 Tweak the default function definition color when using a dark theme
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: enhancement, topic:editor

#32489 Update ScriptEditor and ShaderEditor Tooltip
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
Labels: bug, topic:editor

#32483 Remove obsolete `sort_demos.sh` script
  misc/scripts/sort-demos.sh
Labels: enhancement, topic:core

#32485 Add missing semicolons to `BIND_ENUM_CONSTANT` macro uses
  modules/jsonrpc/jsonrpc.cpp
  scene/3d/camera.cpp
  scene/animation/animation_blend_tree.cpp
Labels: enhancement, topic:core

#32473 Automatically seek timeline in selected animation
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: bug, topic:editor

#32494 Fix global code in visual shaders if two or more custom nodes are used
  scene/resources/visual_shader.cpp
Labels: bug, topic:plugin, topic:rendering

#32484 Removed unnecessary shader error log messages
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  editor/plugins/shader_editor_plugin.cpp
  servers/visual/shader_language.cpp
Labels: enhancement, for pr meeting, topic:editor, usability

#32492 IP: Fix build error on UWP
  drivers/unix/ip_unix.cpp
Labels: bug, platform:uwp, topic:buildsystem, topic:porting

#32497 Added link to tutorial for Thread class
  doc/classes/Mutex.xml
  doc/classes/Semaphore.xml
  doc/classes/Thread.xml
Labels: documentation, enhancement

#32498 Revert "Fix plugin script classes defined even if inactive."
  editor/editor_file_system.cpp
Labels: bug, topic:plugin

#32503 Drag&drop custom nodes from filesystem to visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, topic:rendering

#32505 Fix reflection probe crash in GLES2 with post-processing
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, crash, topic:rendering

#32504 Fix crash in #32473. (Automatically seek timeline in selected animation)
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, regression, topic:editor

#32510 Remove glViewport call as it wasnt needed and caused crash GLES2
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#32508 Remove unused stb_truetype-based DynamicFont implementation
  COPYRIGHT.txt
  scene/register_scene_types.cpp
  scene/resources/dynamic_font_stb.cpp
  scene/resources/dynamic_font_stb.h
  thirdparty/README.md
  thirdparty/misc/stb_truetype.h
Labels: enhancement, topic:core

#32491 Inspector: select self object after selecting a stack frame
  editor/script_editor_debugger.cpp
Labels: enhancement, topic:editor, usability

#32490 Handle scrolling correctly in Tree controls inside ScrollContainers
  scene/gui/tree.cpp
Labels: enhancement, topic:core

#32403 Print errors when tab indent found in [codeblock]
  doc/classes/HTTPClient.xml
  doc/classes/SceneTree.xml
  doc/tools/makerst.py
  modules/gdscript/doc_classes/@GDScript.xml
Labels: documentation, enhancement, topic:buildsystem

#32499 macOS export/code signing improvements.
  platform/osx/export/export.cpp
Labels: enhancement, platform:osx, topic:porting

#32515 Android: Fix manifest to match Godot export code
  platform/android/export/export.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: bug, platform:android, topic:porting

#32514 Android one-click deploy: Don't clear by default
  platform/android/export/export.cpp
Labels: cherrypick:3.1, enhancement, platform:android, topic:editor, topic:porting, usability

#32518 Properly revert cursor when using set_custom_mouse_cursor with null
  platform/javascript/os_javascript.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: bug, topic:core

#32517 GDScript LSP server improvement
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/lsp.hpp
Labels: enhancement, topic:editor, topic:gdscript

#32512 Makes Texture and TextureUniform in visual shaders to use UV by default
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering, usability

#32519 Mono: Fix detection of MsBuild from Visual Studio
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
Labels: bug, topic:editor, topic:mono

#32525 Fix small memory leak in PackedSourcePCK::try_open_pack
  core/io/file_access_pack.cpp
Labels: bug, topic:core

#32524 Don't add to StringBuilder empty String
  core/string_builder.cpp
Labels: bug, topic:core

#32530 Fix potential crash in AnimationPlayer
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, topic:editor

#32532 Improve Project Settings window size docs
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#32541 Fix VisualShaderInput (if compiled with MinGW)
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, usability

#32540 Fixes scene instances not displaying bounds when selected
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#32543 Fix VisualShaderInput (if compiled with MinGW) (correct, tested version)
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor, usability

#32528 Fixed warnings text using custom font and color setting.
  editor/editor_fonts.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#22834 Add call_recursive method to TreeItem
  doc/classes/TreeItem.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:core

#32546 Bind the `String::humanize_size` method
  core/ustring.cpp
  core/ustring.h
  core/variant_call.cpp
  doc/classes/String.xml
Labels: enhancement, topic:core

#32548 doc: Add note about sending strings without size in StreamPeer
  doc/classes/StreamPeer.xml
Labels: documentation, enhancement

#32552 Remove redundant condition in `String::_humanize_digits()`
  core/ustring.cpp
Labels: enhancement, topic:core

#32549 Make possible to use just one "size/test_*" value in the settings
  main/main.cpp
Labels: enhancement, topic:core

#32550 Fix calculate_spatial_bounds for selection display
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: bug, topic:editor

#32560 [Vulkan] Fix Vector3 ambiguities and out of bounds init.
  core/math/vector3.cpp
  editor/import/editor_scene_importer_gltf.cpp
  main/tests/test_math.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  servers/visual/rasterizer_rd/rasterizer_canvas_rd.cpp
Labels: bug, topic:core

#32544 Improvements for gdscript-lsp server
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/lsp.hpp
Labels: enhancement, topic:editor, topic:gdscript

#32563 Fix crash in TileMap::fix_invalid_tiles
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#32555 Fix silly mistake in ProjectSettings docs
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#32565 Fixed some typos in iteration error messages
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:gdscript

#32566 Document the ability to include/exclude non-resource export folders
  editor/project_export.cpp
Labels: enhancement, topic:editor

#32590 Fix few redefinition name errors for variable/param/function in shaders
  servers/visual/shader_language.cpp
Labels: bug, regression, topic:rendering

#32592 Prevent shader crash if function call been used for constant initialization
  servers/visual/shader_language.cpp
Labels: bug, topic:rendering

#32598 Prevents shader crash if name of variable overrides function name
  servers/visual/shader_language.cpp
Labels: bug, topic:rendering

#32586 Set tooltip to an empty string after removing texture/material
  editor/editor_properties.cpp
Labels: bug, topic:editor

#32580 Document GDNativeLibrary
  modules/gdnative/doc_classes/GDNativeLibrary.xml
Labels: cherrypick:3.1, documentation, enhancement, topic:gdnative

#32569 Fix crash in Control functions
  scene/gui/control.cpp
  scene/gui/file_dialog.cpp
  scene/gui/item_list.cpp
  scene/gui/rich_text_label.cpp
Labels: bug, crash, topic:core

#32599 [DOC] Document ClippedCamera properties/methods.
  doc/classes/ClippedCamera.xml
Labels: documentation, enhancement

#32602 [DOC] Add missing physics_material_override descriptions
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
  doc/classes/StaticBody.xml
  doc/classes/StaticBody2D.xml
Labels: documentation, enhancement

#32603 Fix current issues with post-processing
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#32605 Added missing bind_method to TreeItem::get_custom_color().
  doc/classes/TreeItem.xml
  scene/gui/tree.cpp
Labels: enhancement, topic:core

#32589 Add angle to ruler tool
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#32608 [DOC] Fill in various missing method/member descriptions.
  doc/classes/Camera2D.xml
  doc/classes/CameraFeed.xml
  doc/classes/ColorPicker.xml
  doc/classes/Input.xml
  doc/classes/VideoPlayer.xml
Labels: documentation, enhancement

#32594 Focus the search box when pressing Ctrl+F in Project/Editor Settings
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  editor/settings_config_dialog.cpp
Labels: enhancement, topic:editor, usability

#32567 Increase the size of the About dialog
  editor/editor_about.cpp
Labels: enhancement, topic:editor

#32523 Applied the same kind of ordering to methods description
  editor/editor_help.cpp
Labels: bug, documentation, topic:editor

#32351 Update TextureRect when its Texture is modified directly
  scene/2d/sprite.cpp
  scene/2d/sprite.h
  scene/gui/texture_rect.cpp
  scene/gui/texture_rect.h
  scene/resources/texture.cpp
Labels: bug, for pr meeting, topic:core

#32613 Add canvas background mode to GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering

#32626 Fixed drawing the caret at eol when at eol is not visible
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#32623 Remove circular dependency between Vector3 and Basis.
  core/math/basis.h
  core/math/vector3.cpp
  core/math/vector3.h
Labels: enhancement, topic:core

#32607 Document the GDNative singleton method prefix being changeable
  modules/gdnative/doc_classes/GDNativeLibrary.xml
  modules/gdnative/gdnative.cpp
  modules/gdnative/register_types.cpp
Labels: documentation, enhancement, topic:gdnative

#32606 Fixes Default Angular Damp in Project Settings Disallows Fractional Input #32294
  scene/resources/world.cpp
  scene/resources/world_2d.cpp
Labels: bug, topic:editor, topic:physics

#32454 Optional Unix Socket disable for devices that do not support it
  drivers/unix/net_socket_posix.cpp
Labels: discussion, enhancement, topic:buildsystem, topic:porting

#32632 Increase grid size limit
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#32616 Disable socket descriptor sharing with subprocs.
  drivers/unix/net_socket_posix.cpp
  drivers/unix/net_socket_posix.h
Labels: bug, topic:network, topic:porting

#21621 Adds Pen support for Android
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: feature proposal, platform:android, topic:input, usability

#32638 PopupMenu: Fix inconsistency setting text/xl_text in add_* methods
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, cherrypick:3.1, enhancement, topic:core

#32640 Remove circular include between core/typedefs.h and core/error_macros.h
  core/cowdata.h
  core/list.h
  core/map.h
  core/math/math_funcs.cpp
  core/os/memory.h
  core/self_list.h
  core/sort_array.h
  core/typedefs.h
Labels: enhancement, topic:core

#32426 Option to erase a section key in ConfigFile
  core/io/config_file.cpp
  core/io/config_file.h
Labels: enhancement, topic:core

#32624 Allow all Variant types to be added as project settings
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor

#32618 Sprite to polygon conversion improvements
  editor/plugins/sprite_editor_plugin.cpp
  editor/plugins/sprite_editor_plugin.h
  scene/resources/bit_map.cpp
  scene/resources/bit_map.h
Labels: bug, topic:core, topic:editor

#32571 Correctly flip texture src region
  scene/gui/item_list.cpp
  servers/visual/visual_server_canvas.cpp
Labels: bug, topic:editor

#32556 Code signing support for Windows exports
  editor/editor_export.cpp
  editor/editor_export.h
  platform/osx/export/export.cpp
  platform/windows/export/export.cpp
Labels: enhancement, platform:osx, platform:windows, topic:porting

#32478 Make Rect2.encloses return true on same size
  core/math/rect2.h
Labels: enhancement, for pr meeting, topic:core

#32559 Make tooltips have the same scale as their Controls
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#32444 Project Manager: Update template dialog position after window resize
  editor/project_manager.cpp
Labels: bug, topic:editor

#32411 Fix GridContainer's children overflowing it when not all slots of a row are occupied
  scene/gui/grid_container.cpp
Labels: bug, topic:core

#32646 Fixed AttributeError bug on doc_status.py
  doc/tools/doc_status.py
Labels: bug, documentation

#32647 Improve the OS `get_screen_*` methods' documentation
  doc/classes/OS.xml
Labels: documentation, enhancement

#32649 Fix crash in TileMap::update_cell_bitmask
  scene/2d/tile_map.cpp
Labels: bug, topic:core

#32652 Fixed invalid autocompletion pasting of shader param name
  servers/visual/shader_language.cpp
Labels: bug, topic:editor

#32663 Remove Show Ruler shortcut (fixes #32639)
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#32667 LSP: Fix signature of void returned functions in native methods
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, topic:editor, topic:gdscript

#32170 GLES2 & GLES3 Fixes ninepatch margins for high resolution textures.
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#32671 lsp: Send godot class tree to clients
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/lsp.hpp
Labels: enhancement, topic:editor, topic:gdscript

#32672 Fixes deselection not working when merging scene
  editor/editor_sub_scene.cpp
Labels: bug, topic:editor

#32662 Add documentation for ReflectionProbe
  doc/classes/ReflectionProbe.xml
Labels: documentation, enhancement

#32684 Fix crash when passing invalid key to Crypto.
  modules/mbedtls/crypto_mbedtls.cpp
Labels: bug, crash, topic:core

#32673 Make VisualScript check inheritance for port info
  modules/visual_script/visual_script_func_nodes.cpp
Labels: bug, topic:visualscript

#32697 Remove editor dependency
  SConstruct
  editor/import/resource_importer_obj.h
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
  editor/plugins/text_editor.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/visual_script/visual_script_property_selector.cpp
  modules/visual_script/visual_script_property_selector.h
  platform/javascript/export/export.cpp
  scene/gui/color_picker.cpp
Labels: enhancement, topic:buildsystem, topic:editor

#32674 Makes cubemaps to be works in visual shaders
  doc/classes/VisualShaderNodeCubeMapUniform.xml
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, enhancement, topic:core, topic:rendering

#32705 Validate array indexes in StyleBox
  scene/resources/style_box.cpp
Labels: bug, topic:core

#32707 Uses LoD even if UV slot is not used in visual shader textures
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:core, topic:rendering

#32708 Prevents folding of member tree on drag&drop in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#32714 Decrease polling frequency to 20 Hz in the GDScript language server
  modules/gdscript/language_server/gdscript_language_server.cpp
Labels: enhancement, topic:editor

#32728 Fixed ScriptEditor autosave timer causing errors on start
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, topic:editor

#32729 Remove redundant `camelcase_to_underscore()` call in EditorInspector
  editor/editor_inspector.cpp
Labels: enhancement, topic:editor

#32732 C#: Fix detection of outdated release Godot API assemblies
  modules/mono/editor/GodotTools/GodotTools/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/Internal.cs
  modules/mono/editor/csharp_project.cpp
  modules/mono/editor/editor_internal_calls.cpp
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/editor/godotsharp_export.h
  modules/mono/godotsharp_dirs.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: bug, topic:mono

#32737 Remove unused editor/OutputStrings
  editor/output_strings.cpp
  editor/output_strings.h
Labels: enhancement, topic:editor

#32696 Added documentation for Skeleton2D
  doc/classes/Skeleton2D.xml
Labels: documentation, enhancement

#32717 Fix decompress PoolByteArray crash
  core/variant_call.cpp
Labels: bug, crash, topic:core

#32628 Fixed inserting text at caret not updating scrollbar size
  scene/gui/text_edit.cpp
Labels: bug, topic:core

#32683 WebSocket improvements, SSL server, custom headers.
  modules/websocket/doc_classes/WebSocketClient.xml
  modules/websocket/doc_classes/WebSocketServer.xml
  modules/websocket/emws_client.cpp
  modules/websocket/emws_client.h
  modules/websocket/websocket_client.cpp
  modules/websocket/websocket_client.h
  modules/websocket/websocket_server.cpp
  modules/websocket/websocket_server.h
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_client.h
  modules/websocket/wsl_peer.cpp
  modules/websocket/wsl_peer.h
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
Labels: enhancement, regression, topic:network

#32721 Move grid snapping to an independent button
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, usability

#32740 Android: Work around crash in _fix_manifest
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:editor

#32741 Don't use to_utf8() and to_ascii() on empty String
  core/variant_call.cpp
Labels: enhancement, topic:core

#32742 Added sampler port to CubeMap, fixed parsing in expresssions
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, enhancement, topic:shaders

#32731 Fixes concaveshape not selecting in viewport
  editor/spatial_editor_gizmos.cpp
  scene/resources/box_shape.cpp
  scene/resources/box_shape.h
  scene/resources/capsule_shape.cpp
  scene/resources/capsule_shape.h
  scene/resources/concave_polygon_shape.cpp
  scene/resources/concave_polygon_shape.h
  scene/resources/convex_polygon_shape.cpp
  scene/resources/convex_polygon_shape.h
  scene/resources/cylinder_shape.cpp
  scene/resources/cylinder_shape.h
  scene/resources/height_map_shape.cpp
  scene/resources/height_map_shape.h
  scene/resources/plane_shape.cpp
  scene/resources/plane_shape.h
  scene/resources/ray_shape.cpp
  scene/resources/ray_shape.h
  scene/resources/shape.cpp
  scene/resources/shape.h
  scene/resources/sphere_shape.cpp
  scene/resources/sphere_shape.h
Labels: bug, topic:editor

#32591 fix #32588 out of range crash in language server
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#32744 Don't use in some functions empty PoolByteArrays
  core/variant_call.cpp
Labels: enhancement, topic:core

#32752 Cleanup fix for the meta-data parsing crashing bug.
  platform/android/export/export.cpp
Labels: bug, crash, platform:android, topic:core

#32758 Fix X11 modifier keys.
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:input

#32760 Fix to make sure the capture buffers are deallocated at shutdown.
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, topic:audio

#32763 Only render depth with alpha prepass on prepass
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
Labels: bug, topic:rendering

#32767 Fix mismatch between RigidBody2D and Body2DSW can_sleep defaults.
  servers/physics/body_sw.cpp
  servers/physics_2d/body_2d_sw.cpp
Labels: bug, topic:physics

#32641 Fixed RigidBody stuttering when changing collision layer/mask
  modules/bullet/collision_object_bullet.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/space_bullet.cpp
Labels: enhancement

#32773 Fix the dependency error dialog being too small on hiDPI displays
  editor/dependency_editor.cpp
Labels: bug, topic:editor, usability

#32784 C#: Fix regression from #32732 caused a crash on domain reload
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, crash, topic:mono

#32788 Optimize images losslessly using `oxipng -o6 --strip all --zopfli`
  main/splash.png
  main/splash_editor.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-480h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-568h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-667h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait@2x.png
  platform/android/java/lib/res/drawable-hdpi/notify_panel_notification_icon_bg.png
  platform/android/java/lib/res/drawable-mdpi/notify_panel_notification_icon_bg.png
  platform/android/java/lib/res/drawable-xxhdpi/notify_panel_notification_icon_bg.png
  platform/android/logo.png
  platform/javascript/logo.png
  platform/osx/logo.png
  scene/resources/default_theme/button_hover.png
  scene/resources/default_theme/button_normal.png
  scene/resources/default_theme/color_picker_hue.png
  scene/resources/default_theme/error_icon.png
  scene/resources/default_theme/graph_node_selected.png
  scene/resources/default_theme/graph_port.png
  scene/resources/default_theme/icon_visibility.png
  scene/resources/default_theme/option_button_normal.png
  scene/resources/default_theme/scroll_grabber_hl.png
  scene/resources/default_theme/space.png
  scene/resources/default_theme/tab_container_bg.png
  scene/resources/default_theme/tab_current.png
  scene/resources/default_theme/tab_disabled.png
  scene/resources/default_theme/theme_data.h
Labels: enhancement, topic:core, topic:editor

#32789 Increased step precision
  editor/editor_properties.cpp
Labels: bug, topic:editor, topic:visualscript

#32791 Fixes Sprite's frame_coords
  scene/2d/sprite.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:core

#32799 Properly free sky and lightmap caches in multithreaded server
  servers/visual/visual_server_wrap_mt.cpp
Labels: bug, topic:rendering

#32809 Fix non-HiDPI mode on HiDPI displays on macOS Catalina.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:porting, topic:rendering

#32818 [Vulkan, macOS] Improve HiDPI handling, fix incorrect window viewport clipping.
  drivers/vulkan/rendering_device_vulkan.cpp
  platform/osx/os_osx.mm
Labels: bug, enhancement, platform:osx, topic:porting, topic:rendering

#32821 [Vulkan, macOS] Fix RID leaks and crashes on exit.
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:porting

#32822 Fix color of FileDialog icons
  scene/gui/file_dialog.cpp
Labels: bug, topic:editor

#32819 Call activate function when setting RigidBodyBullet activation state.
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, cherrypick:3.1, topic:physics

#32820 Small fixes to redundand code, copy paste bugs
  core/compressed_translation.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/project_settings_editor.cpp
  main/main.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/language_server/lsp.hpp
  modules/visual_script/visual_script_editor.h
  modules/visual_script/visual_script_property_selector.h
  scene/3d/sprite_3d.cpp
  scene/gui/text_edit.cpp
  scene/main/scene_tree.cpp
  scene/resources/bit_map.cpp
Labels: enhancement, topic:core

#32830 Remove redundant compiler directives
  modules/visual_script/visual_script_editor.cpp
Labels: enhancement, topic:visualscript

#32862 Don't allow to export pck without preset
  editor/project_export.cpp
Labels: bug, topic:editor

#30622 PackedScene resources are freed before they are saved
  core/resource.cpp
  core/resource.h
Labels: bug, cherrypick:3.1, topic:core
