Repository godotengine/godot, pull requests merged in 2019-08, with the labels that each got.

#30992 Tweak Area and PhysicsBody damping setting hints for consistency
  scene/2d/area_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/area.cpp
  scene/3d/physics_body.cpp
Labels: enhancement, topic:editor

#30993 Expose several GLES3 built-ins to GLES2
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/scene.glsl
  drivers/gles2/shaders/stdlib.glsl
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:rendering

#31004 Don't add unsaved scene to previous scenes list when closing a tab
  editor/editor_node.cpp
Labels: bug, topic:editor

#31007 Add descriptive tooltips in VS editor
  modules/visual_script/visual_script_editor.cpp
Labels: enhancement, topic:editor, topic:visualscript

#31009 Fix outerProduct function in visual shaders
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:core, topic:rendering

#31010 Some visual fixes for Expression node in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#30905 Toggle CPUParticles2D visibility when redrawing
  scene/2d/cpu_particles_2d.cpp
Labels: bug, cherrypick:3.1, enhancement, topic:core

#31001 Add Reopen Closed Script option in Script Editor
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31015 Improve the gizmo axis colors and increase the manipulator opacity
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31018 Fix error when building assimp on older Mac OS X version
  thirdparty/assimp/include/assimp/scene.h
Labels: bug, topic:buildsystem, topic:thirdparty

#31032 Select found text in Script Editor
  editor/code_editor.cpp
Labels: enhancement, topic:editor, usability

#31033 Added link to docs for shader editor
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: enhancement, topic:editor

#31022 Mention 32-bit integer limit in the PoolIntArray documentation
  doc/classes/PoolIntArray.xml
  doc/classes/Vector2.xml
Labels: cherrypick:3.1, documentation, enhancement

#31058 Return back spacer for non-expression nodes in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#31062 Fix GLES2 "black" rendering
  drivers/gles2/shaders/stdlib.glsl
Labels: bug, regression, topic:rendering

#31068 C#: Fix Color.ToHtml()
  modules/mono/glue/Managed/Files/Color.cs
Labels: bug, cherrypick:3.1, topic:mono

#31028 Same method when redrawing as when theme changed
  scene/gui/rich_text_label.cpp
Labels: bug, topic:core

#31041 Mark class_name line as safe in editor
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#31048 Fix 3D manipulator the gizmo growing too large on small viewports
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#31053 Some minor Vector2i usage cleanup
  drivers/gles2/rasterizer_canvas_gles2.h
  editor/plugins/tile_set_editor_plugin.cpp
Labels: enhancement, topic:core

#31063 Fix row-column-swap in TileMap palette
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, topic:editor, usability

#31075 Accept also right-click event in LineEdit
  scene/gui/line_edit.cpp
Labels: bug, topic:core

#31085 Fix Redundant Navigation Polygons
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#31091 Optimize Wrap functions
  core/math/math_funcs.h
  modules/mono/glue/Managed/Files/Mathf.cs
Labels: enhancement, topic:core, topic:mono

#31100 VulkanLoader: Make Windows includes lowercase for MinGW
  thirdparty/vulkan/loader/loader.c
  thirdparty/vulkan/loader/vk_loader_platform.h
Labels: bug, platform:windows, topic:buildsystem

#31102 SCons: Streamline Vulkan buildsystem + fixups
  SConstruct
  drivers/SCsub
  drivers/vulkan/SCsub
  drivers/vulkan_loader/SCsub
  platform/osx/detect.py
  platform/windows/detect.py
  platform/x11/detect.py
  thirdparty/README.md
  thirdparty/vulkan/LICENSE.txt
  thirdparty/vulkan/loader/asm_offset.c
  thirdparty/vulkan/loader/cJSON.c
  thirdparty/vulkan/loader/cJSON.h
  thirdparty/vulkan/loader/debug_utils.c
  thirdparty/vulkan/loader/debug_utils.h
  thirdparty/vulkan/loader/dev_ext_trampoline.c
  thirdparty/vulkan/loader/dirent_on_windows.c
  thirdparty/vulkan/loader/dirent_on_windows.h
  thirdparty/vulkan/loader/extension_manual.c
  thirdparty/vulkan/loader/extension_manual.h
  thirdparty/vulkan/loader/gpa_helper.h
  thirdparty/vulkan/loader/loader.c
  thirdparty/vulkan/loader/loader.h
  thirdparty/vulkan/loader/murmurhash.c
  thirdparty/vulkan/loader/murmurhash.h
  thirdparty/vulkan/loader/phys_dev_ext.c
  thirdparty/vulkan/loader/trampoline.c
  thirdparty/vulkan/loader/unknown_ext_chain.c
  thirdparty/vulkan/loader/unknown_ext_chain_gas.asm
  thirdparty/vulkan/loader/unknown_ext_chain_masm.asm
  thirdparty/vulkan/loader/vk_loader_layer.h
  thirdparty/vulkan/loader/vk_loader_platform.h
  thirdparty/vulkan/loader/wsi.c
  thirdparty/vulkan/loader/wsi.h
  thirdparty/vulkan/registry/cgenerator.py
  thirdparty/vulkan/registry/common_codegen.py
  thirdparty/vulkan/registry/conventions.py
  thirdparty/vulkan/registry/dispatch_table_helper_generator.py
  thirdparty/vulkan/registry/generate_headers.sh
  thirdparty/vulkan/registry/generator.py
  thirdparty/vulkan/registry/genvk.py
  thirdparty/vulkan/registry/helper_file_generator.py
  thirdparty/vulkan/registry/known_good.json
  thirdparty/vulkan/registry/loader_extension_generator.py
  thirdparty/vulkan/registry/loader_genvk.py
  thirdparty/vulkan/registry/reg.py
  thirdparty/vulkan/registry/update_deps.py
  thirdparty/vulkan/registry/validusage.json
  thirdparty/vulkan/registry/vk.xml
  thirdparty/vulkan/registry/vkconventions.py
Labels: enhancement, needs testing, topic:buildsystem, topic:thirdparty

#31108 Fix opening of sub-resource properties in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:core, topic:editor

#31105 RID_Alloc: Fix locking in getornull and free early returns
  core/rid_owner.h
Labels: bug, topic:core

#31081 Make keyframes easier to select in the animation editor
  editor/icons/icon_key_animation.svg
  editor/icons/icon_key_audio.svg
  editor/icons/icon_key_bezier.svg
  editor/icons/icon_key_call.svg
  editor/icons/icon_key_selected.svg
  editor/icons/icon_key_value.svg
  editor/icons/icon_key_xform.svg
Labels: enhancement, topic:editor, usability

#31078 Update WindowDialog title when translation changes
  scene/gui/dialogs.cpp
Labels: bug, cherrypick:3.1, topic:core

#30987 Implement negative for OmniLights and SpotLights in GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
Labels: bug, cherrypick:3.1, topic:rendering

#31114 Remove Editor dependency from SceneTree
  editor/editor_node.cpp
  scene/main/scene_tree.cpp
Labels: enhancement, topic:core

#31116 Add Shortcut Settings for Quitting Editor
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#31125 Improve snapping in the animation editor
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31129 Fixed EOF flag not resetting on seek back in compressed file
  core/io/file_access_compressed.cpp
Labels: bug, topic:core

#31107 Fix wrong mouse wheel position for MOUSE_MODE_CAPTURED on Windows
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:input, topic:porting

#30998 Cap the number of warnings/errors per second rather than per frame
  core/script_debugger_remote.cpp
  core/script_debugger_remote.h
  doc/classes/ProjectSettings.xml
  main/main.cpp
Labels: enhancement, needs testing, topic:editor, topic:gdscript

#31136 Tweak range steps in the animation editor
  editor/animation_track_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor

#31121 Let EditorPlugins set editor/distraction-free mode
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: enhancement, topic:plugin

#31057 Some improvements to Mix visual shader function
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering

#31161 Default theme: make toggle_off_disabled.png the same dimension as other CheckButton images
  scene/resources/default_theme/theme_data.h
  scene/resources/default_theme/toggle_off_disabled.png
  scene/resources/default_theme/toggle_on_disabled.png
Labels: bug, topic:core

#30804 Fixed crash when making subresource unique in inspector dock
  editor/editor_node.cpp
Labels: bug, crash, topic:editor

#31173 Fix Find in Files Not Working Properly
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: bug, enhancement, topic:editor

#31176 Allow comma prefix in visual shader's expression parser
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#31175 Fixed KinematicCollision.get_local_shape()
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
Labels: bug, topic:physics

#27046 Tweaks related to Camera2D drag margins
  doc/classes/Camera2D.xml
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Labels: breaks compat, bug, enhancement, for pr meeting, topic:core

#31163 Fixed AnimationTreeStateMachine transition priority
  scene/animation/animation_node_state_machine.cpp
Labels: bug, topic:core

#31174 Added Thread Sanitizer
  platform/server/detect.py
  platform/x11/detect.py
Labels: feature proposal, platform:linuxbsd, topic:buildsystem

#30468 Exposes capture methods to AudioServer + documentation
  doc/classes/AudioServer.xml
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  platform/android/audio_driver_opensl.cpp
  servers/audio/audio_stream.cpp
  servers/audio/audio_stream.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: enhancement, topic:audio

#31127 Implemented check_vadjust in CheckBox & CheckButton. It was exposed to the editor, but not used.
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  scene/gui/check_box.cpp
  scene/gui/check_button.cpp
Labels: bug, topic:core

#31077 Change some code proposed by Coverity and Cppcheck
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  core/pool_allocator.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  editor/collada/collada.cpp
  editor/editor_inspector.cpp
  editor/editor_plugin.cpp
  editor/editor_settings.cpp
  editor/plugin_config_dialog.cpp
  modules/mono/csharp_script.cpp
  modules/visual_script/visual_script_property_selector.cpp
  scene/2d/sprite.h
  scene/3d/sprite_3d.h
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_2d.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/node.cpp
  scene/resources/dynamic_font.cpp
  scene/resources/font.cpp
  scene/resources/theme.h
  servers/physics/space_sw.cpp
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/space_2d_sw.cpp
  servers/visual/visual_server_viewport.cpp
Labels: bug, topic:core

#31050 Fix Wrong Shape Offsets in Tileset
  scene/resources/tile_set.cpp
Labels: bug, cherrypick:3.1, topic:core

#31099 Implemented local shader constants
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: enhancement, for pr meeting, topic:rendering

#31122 Unnecessary reassignments
  scene/main/node.cpp
Labels: enhancement, topic:core

#31119 Complete the Control class documentation
  doc/classes/Control.xml
Labels: documentation, enhancement

#31191 [Mono] Make all structs seralizable
  modules/mono/glue/Managed/Files/AABB.cs
  modules/mono/glue/Managed/Files/Basis.cs
  modules/mono/glue/Managed/Files/Color.cs
  modules/mono/glue/Managed/Files/Plane.cs
  modules/mono/glue/Managed/Files/Quat.cs
  modules/mono/glue/Managed/Files/Rect2.cs
  modules/mono/glue/Managed/Files/Transform.cs
  modules/mono/glue/Managed/Files/Transform2D.cs
  modules/mono/glue/Managed/Files/Vector2.cs
  modules/mono/glue/Managed/Files/Vector3.cs
Labels: cherrypick:3.1, enhancement, topic:mono

#30902 Oculus requires apps with line when head tracking
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:arvr

#31189 Fix error when going to a text file by clicking in a result from "Find in files"
  editor/find_in_files.cpp
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#31198 Translation: Fix logic bug finding match for regional locales
  core/translation.cpp
Labels: bug, cherrypick:3.1, topic:core

#31196 Handle all download errors in the asset library
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, topic:assetlib

#31194 Fix corrupted TileMap saves due to missing/wrong format
  scene/2d/tile_map.cpp
Labels: bug, cherrypick:3.1, topic:core

#31182 Improve error message in Node::remove_child()
  scene/main/node.cpp
Labels: enhancement, topic:core

#31195 Add FuncRef.call_funcv
  core/func_ref.cpp
  core/func_ref.h
  doc/classes/FuncRef.xml
  doc/classes/Object.xml
Labels: discussion, enhancement, topic:core

#31178 Allow copy/paste nodes between vertex/fragment/light modes in vshaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor

#31185 Improve error message in Node::get_path()
  scene/main/node.cpp
Labels: enhancement, topic:core

#30934 Hopefully fix the random crashes with threads
  core/object.h
Labels: bug, cherrypick:3.1, needs testing, topic:core

#31087 Improve light theme colors in the editor for better readability
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#30893 Implement error macros that come with an error message, replacing ERR_EXPLAIN.
  core/error_macros.h
Labels: enhancement, topic:core

#30714 Invert and adjust the default fog height values
  doc/classes/Environment.xml
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles3/rasterizer_scene_gles3.h
  scene/resources/environment.cpp
Labels: breaks compat, enhancement, topic:rendering

#31214 Fix incorrect search member in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#31212 Update icons in script editor when theme changes
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#31042 Fixes color picker in code editor - it now only changes one color
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: bug, topic:editor

#31215 Add Tree iteration instructions thorugh TreeItem
  doc/classes/Tree.xml
Labels: documentation, enhancement

#31193 Add particles icon to CPUParticles
  editor/icons/icon_gizmo_c_p_u_particles.svg
  editor/plugins/spatial_editor_plugin.cpp
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
Labels: bug, cherrypick:3.1, topic:editor, usability

#31220 Move "Go to Function/Line" to "Go To" menu
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: enhancement, topic:editor

#31222 Minor cosmetic changes in some editor plugins
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/quick_open.cpp
Labels: enhancement, topic:editor

#31223 Button object used after pressed is called
  editor/editor_properties_array_dict.cpp
Labels: bug, crash, topic:core

#31225 Show matches found when searching the docs
  editor/editor_help.cpp
  editor/editor_help.h
Labels: enhancement, topic:editor

#31230 Fix Exponential Range Graphical Error
  scene/gui/range.cpp
Labels: bug, topic:core

#31226 Expression before 'is' may be null
  modules/gdscript/gdscript_parser.cpp
Labels: bug, crash, topic:gdscript

#31227 Replace 'ERR_EXPLAIN' with 'ERR_FAIL_*_MSG' in "platform", "modules/gdnative", "modules/gdscript" directories.
  modules/gdnative/arvr/arvr_interface_gdnative.cpp
  modules/gdnative/gdnative.cpp
  modules/gdnative/nativescript/godot_nativescript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  platform/android/audio_driver_opensl.cpp
  platform/android/export/export.cpp
  platform/android/java_godot_lib_jni.cpp
  platform/android/os_android.cpp
  platform/iphone/export/export.cpp
  platform/iphone/os_iphone.cpp
  platform/javascript/http_client_javascript.cpp
  platform/javascript/os_javascript.cpp
  platform/osx/os_osx.mm
  platform/uwp/export/export.cpp
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  platform/x11/export/export.cpp
Labels: enhancement, topic:core

#31221 Replace 'ERR_EXPLAIN' with 'ERR_FAIL_*_MSG' in 'modules/mono'
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/editor/csharp_project.cpp
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/editor/script_class_parser.cpp
  modules/mono/glue/gd_glue.cpp
  modules/mono/godotsharp_defs.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_internals.cpp
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/signal_awaiter_utils.cpp
  modules/mono/utils/string_utils.cpp
Labels: enhancement, topic:core

#31234 Fix usage of old ERR_FAIL macro when new variant intended.
  platform/windows/os_windows.cpp
Labels: bug, topic:core

#31213 Replace ERR_EXPLAIN in scene/* code
  scene/2d/animated_sprite.cpp
  scene/2d/area_2d.cpp
  scene/2d/canvas_item.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/area.cpp
  scene/3d/arvr_nodes.cpp
  scene/3d/camera.cpp
  scene/3d/physics_body.cpp
  scene/3d/soft_body.cpp
  scene/3d/spatial.cpp
  scene/animation/animation_cache.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_tree_player.cpp
  scene/animation/tween.cpp
  scene/gui/control.cpp
  scene/gui/graph_node.cpp
  scene/gui/line_edit.cpp
  scene/gui/popup_menu.cpp
  scene/gui/tree.cpp
  scene/main/http_request.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/main/timer.cpp
  scene/main/viewport.cpp
  scene/resources/curve.cpp
  scene/resources/dynamic_font.cpp
  scene/resources/font.cpp
  scene/resources/material.cpp
  scene/resources/mesh.cpp
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/text_file.cpp
  scene/resources/texture.cpp
  scene/resources/tile_set.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:core

#31216 Replace 'ERR_EXPLAIN' with 'ERR_FAIL_*_MSG' in "main" and "servers" directories
  main/main.cpp
  main/tests/test_gdscript.cpp
  main/tests/test_math.cpp
  servers/audio/voice_rb_sw.h
  servers/physics/collision_object_sw.h
  servers/physics/physics_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/visual/visual_server_canvas.cpp
  servers/visual_server.cpp
Labels: enhancement, topic:core

#31237 Improve node Change Type option
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#31253 Fix audio capture naming in web export
  platform/javascript/audio_driver_javascript.cpp
Labels: bug, platform:html5, topic:porting

#31255 Adds support for undo/redo for in-editor color picker
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#31259 Check for unsigned_short support for gles2 depth buffer allocation
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, cherrypick:3.1, platform:osx, topic:rendering

#31258 Show that identifier found in function names
  servers/visual/shader_language.cpp
Labels: bug, cherrypick:3.1, topic:rendering

#31269 Remove old doc comments in image_loader header
  core/io/image_loader.h
Labels: enhancement, topic:core

#31271 Fix GLES2 canvas shader uniform error
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#31274 Updated doc for PROPERTY_HINT_RANGE (or_greater/or_lesser)
  doc/classes/@GlobalScope.xml
Labels: cherrypick:3.1, documentation, enhancement

#31277 Work around Editor hangs and makes Xorg take up 100% cpu [fvwm]
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#31270 Fixed vertex color initialization with default value in GLES3
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, cherrypick:3.1, topic:rendering

#31310 Fix recording bus regression.
  servers/audio/effects/audio_effect_record.cpp
Labels: bug, topic:audio

#31247 Minor fixups to the theme editor
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#31251 Move "Go to Line..." from "Edit" to "Go To" in text editor
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: enhancement, topic:editor

#31290 Fixed link errors when building in debug with RegEx module disabled
  SConstruct
  main/tests/test_string.cpp
Labels: bug, topic:buildsystem

#31286 Replace 'ERR_EXPLAIN' with 'ERR_FAIL_*_MSG' in rest of 'modules/'
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/bmp/image_loader_bmp.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/cone_twist_joint_bullet.cpp
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/bullet/hinge_joint_bullet.cpp
  modules/bullet/pin_joint_bullet.cpp
  modules/bullet/shape_bullet.cpp
  modules/bullet/space_bullet.cpp
  modules/dds/texture_loader_dds.cpp
  modules/enet/networked_multiplayer_enet.cpp
  modules/etc/texture_loader_pkm.cpp
  modules/gridmap/grid_map.cpp
  modules/hdr/image_loader_hdr.cpp
  modules/opus/audio_stream_opus.cpp
  modules/pvr/texture_loader_pvr.cpp
  modules/squish/image_compress_squish.cpp
  modules/svg/image_loader_svg.cpp
  modules/visual_script/visual_script.cpp
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  modules/webm/video_stream_webm.cpp
  modules/webp/image_loader_webp.cpp
  modules/webrtc/webrtc_data_channel_js.cpp
  modules/webrtc/webrtc_multiplayer.cpp
  modules/webrtc/webrtc_peer_connection_gdnative.cpp
  modules/websocket/emws_peer.cpp
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_server.cpp
Labels: enhancement, topic:core

#31179 Add Evaluate Selection option to Script Editor
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: feature proposal, topic:editor, usability

#31314 Fix self reference issue in core structures for GDNative plugins
  modules/gdnative/gdnative_builders.py
Labels: bug, cherrypick:3.1, topic:gdnative

#31315 Fix crash on right click in "Find in Files" panel
  editor/find_in_files.cpp
Labels: bug, topic:editor

#31228 Add Basis constants and format Transform constants
  core/math/transform.cpp
  core/math/transform.h
  core/variant_call.cpp
  modules/mono/glue/Managed/Files/Basis.cs
Labels: enhancement, topic:core, topic:mono

#31235 Export: Remove temp files from cache after export
  core/os/dir_access.h
  editor/editor_export.cpp
  editor/export_template_manager.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/pvrtc_compress.cpp
  modules/gdscript/register_types.cpp
  platform/android/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/uwp/export/export.cpp
Labels: bug, topic:editor

#31319 Display language icons in script create dialog
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: enhancement, topic:editor

#31322 Make git no longer ignore solution files inside the mono module
  modules/mono/.gitignore
Labels: cherrypick:3.1, enhancement, topic:mono

#31327 Add C# language editor icon
  modules/mono/icons/icon_c_#.svg
Labels: enhancement, topic:editor, topic:mono

#31254 Add "Find in Files..." to the text editor
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: enhancement, topic:editor

#31292 Fixes issue with debug inspecing of nodes that are not in the scene tree
  core/script_debugger_remote.cpp
Labels: bug, topic:editor

#31317 Fix Right-Click Menu Deselecting Edits Content
  editor/editor_spin_slider.cpp
  scene/gui/spin_box.cpp
Labels: bug, topic:core, topic:editor

#31330 HTML5: this.rtenv.callMain is not a function when using latest-upstream backend
  platform/javascript/detect.py
Labels: bug, platform:html5, topic:porting

#31334 Improve documentation of EditorPlugin.add_tool_submenu_item method
  doc/classes/EditorPlugin.xml
Labels: cherrypick:3.1, documentation, enhancement

#31335 Fix GridMap list text not expanding when palette is resized
  modules/gridmap/grid_map_editor_plugin.cpp
Labels: bug, cherrypick:3.1, topic:editor

#31336 Always use lists for `LIBS` in SCons
  modules/mono/build_scripts/mono_configure.py
  platform/SCsub
Labels: bug, topic:buildsystem

#31345 Force user to initialize local shader constants
  servers/visual/shader_language.cpp
Labels: bug, topic:core, topic:rendering

#31326 Only display download buttons in the template manager when available
  editor/export_template_manager.cpp
Labels: bug, topic:editor, usability

#31239 Make the script search have a proper matches counter
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_help.cpp
Labels: bug, enhancement, topic:editor

#31338 Reorganize various menus for consistency and conciseness
  editor/editor_node.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/spatial_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, usability

#31349 Implemented do/while loops for shaders
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  servers/visual/shader_language.cpp
Labels: enhancement, topic:rendering

#31354 Remove unused self list include from A*
  core/math/a_star.h
Labels: enhancement, topic:core

#31355 Fixed freeze on search previous
  editor/code_editor.cpp
Labels: bug, topic:editor

#31357 Regression fixup to the theme editor
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: bug, topic:editor

#31368 Exposed set_as_minsize to gdscript
  doc/classes/Popup.xml
  scene/gui/popup.cpp
Labels: documentation, enhancement

#31362 Use Lanczos filtering for variable-sized images such as project icons
  editor/plugins/asset_library_editor_plugin.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#31347 C#: Add Ide Connection library and server for the editor
  editor/editor_node.cpp
  editor/editor_node.h
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/ConsoleLogger.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeBase.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeClient.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnection.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnectionClient.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnectionServer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeMetadata.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotTools.IdeConnection.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/ILogger.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/Message.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/MessageComposer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/MessageParser.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools.sln
  modules/mono/editor/GodotTools/GodotTools/BottomPanel.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
  modules/mono/editor/GodotTools/GodotTools/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/BuildTab.cs
  modules/mono/editor/GodotTools/GodotTools/CsProjOperations.cs
  modules/mono/editor/GodotTools/GodotTools/ExternalEditorId.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpExport.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeServer.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MonoDevelop/EditorId.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MonoDevelop/Instance.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/Internal.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/CollectionExtensions.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/NotifyAwaiter.cs
  modules/mono/editor/editor_internal_calls.cpp
  modules/mono/glue/Managed/Files/Dispatcher.cs
  modules/mono/glue/Managed/Files/GodotSynchronizationContext.cs
  modules/mono/glue/Managed/Files/GodotTaskScheduler.cs
  modules/mono/glue/Managed/Managed.csproj
  modules/mono/glue/gd_glue.cpp
  modules/mono/glue/gd_glue.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
Labels: enhancement, topic:editor, topic:mono

#31329 Tweak the behavior of search/replace bar
  editor/code_editor.cpp
  editor/code_editor.h
Labels: enhancement, topic:editor, usability

#31267 Fix Offset with OptionButton Popup
  scene/gui/popup.cpp
Labels: bug, topic:core

#31373 Fix Project Manager not remembering sorting option
  editor/project_manager.cpp
Labels: bug, topic:editor

#31360 Fixed error in ParallaxLayer when set_mirroring is called before entering the tree
  scene/2d/parallax_layer.cpp
Labels: bug, cherrypick:3.1, topic:core

#31263 Plugin support for visual shaders
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeCustom.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  modules/visual_script/visual_script_nodes.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: feature proposal, topic:editor, topic:plugin

#31379 Fix matches result in the code search not appearing when the quantity is 0
  editor/code_editor.cpp
Labels: bug, topic:editor

#31375 Add an "Auto" editor font hinting setting to match OS font rendering
  editor/editor_fonts.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#31376 Documentation note that Node::add_child() fails if child already has a parent
  doc/classes/Node.xml
Labels: documentation, enhancement

#31321 Add __atomic_* operators support for atomic operations
  core/safe_refcount.h
Labels: enhancement, topic:core

#31385 Fix image offset when upscaling with Lanczos
  core/image.cpp
Labels: bug, topic:core

#31381 Fixes ProjectManager Buttons Not Updating
  editor/project_manager.cpp
Labels: bug, topic:editor

#31387 Automatically select the first image of the assets page
  editor/plugins/asset_library_editor_plugin.cpp
Labels: enhancement, topic:assetlib, usability

#31391 Improve error reporting in the Particles emission point creation dialog
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.h
Labels: enhancement, topic:editor, usability

#31392 Fix autocompletion widget having its text leak outside
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#31309 DOF can effect transparent objects now,
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, cherrypick:3.1, topic:rendering

#31367 Add Min/Max Window Size Setting
  main/main.cpp
Labels: enhancement, topic:core

#31396 Set the low processor mode sleep editor settings to require a restart
  editor/editor_settings.cpp
Labels: bug, topic:editor

#31398 Allow to create scene from FileSystem dock
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, enhancement, topic:editor

#31399 Add an outline to box selection rectangles for better visibility
  editor/animation_track_editor.cpp
  editor/editor_themes.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  scene/gui/graph_edit.cpp
Labels: enhancement, topic:editor

#31422 Adds Attaching Script via Script Editor
  editor/scene_tree_editor.cpp
Labels: feature proposal, topic:editor

#31424 Improve timeline drawing in the animation editor
  editor/animation_track_editor.cpp
  editor/icons/icon_timeline_indicator.svg
Labels: enhancement, topic:editor, usability

#31431 Replace last occurrences of 'ERR_EXPLAIN' with 'ERR_FAIL_*_MSG'
  core/io/file_access_buffered_fa.h
  drivers/windows/file_access_windows.cpp
  drivers/xaudio2/audio_driver_xaudio2.cpp
  editor/import/editor_import_collada.cpp
  modules/etc/texture_loader_pkm.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/hdr/image_loader_hdr.cpp
  modules/webp/image_loader_webp.cpp
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_server.cpp
  modules/xatlas_unwrap/register_types.cpp
  scene/resources/dynamic_font.cpp
Labels: enhancement, topic:core

#31435 Revert "Add Min/Max Window Size Setting"
  main/main.cpp
Labels: bug, crash, topic:core

#31401 Allow plugins to not have an init script
  editor/editor_node.cpp
Labels: discussion, enhancement, topic:plugin
