Repository godotengine/godot, pull requests merged in 2019-07, with the labels that each got.

#30213 Draw the script editor's line length guideline below characters
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#30161 Add a configuration warning when using Ignore mouse filter with tooltip
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:editor

#30202 doc: Complete GlobalScope documentation
  doc/classes/@GlobalScope.xml
Labels: documentation, enhancement

#30146 Auto-change file extension in EditorFileDialog when filter changes
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, topic:editor, usability

#28701 Export paths are now saved as relative paths
  editor/editor_properties.cpp
  editor/project_export.cpp
Labels: enhancement, topic:editor

#28565 Added a Width Curve to Line2D + UVs fix
  doc/classes/Line2D.xml
  scene/2d/line_2d.cpp
  scene/2d/line_2d.h
  scene/2d/line_builder.cpp
  scene/2d/line_builder.h
Labels: feature proposal, topic:core

#28572 Add godot version in backtrace message
  main/main.cpp
Labels: enhancement, topic:core

#30218 Fix HTTPRequest status checks.
  scene/main/http_request.cpp
  scene/main/http_request.h
Labels: bug, crash, topic:core, topic:network

#30072 Better pre-selection of search result node in "Create New Node" dialog.
  editor/create_dialog.cpp
  editor/create_dialog.h
Labels: bug, discussion, topic:editor

#30089 Headless CI/CD crash fixes
  editor/editor_resource_preview.cpp
Labels: bug, topic:editor

#29815 Replace ` + "/" + ` with `String::file_add()`
  core/os/dir_access.cpp
  drivers/unix/dir_access_unix.cpp
  editor/collada/collada.cpp
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/filesystem_dock.cpp
  editor/groups_editor.cpp
  editor/plugins/script_text_editor.cpp
  main/main.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/android/export/export.cpp
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, topic:core

#30219 Tweak gamepad button names to be consistent with the documentation
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor

#30220 Fix Nintendo buttons in the @GlobalScope documentation
  doc/classes/@GlobalScope.xml
Labels: bug, documentation

#29572 Fix TextEdit Select crash
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#29482 Fix Emscripten root directory detection when building for HTML5
  platform/javascript/detect.py
Labels: bug, platform:html5, topic:buildsystem

#29413 Add 'global_rate_scale' to the AudioServer
  doc/classes/AudioServer.xml
  servers/audio/audio_stream.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: cherrypick:3.1, enhancement, topic:audio, topic:core

#30221 Revert "Add godot version in backtrace message"
  main/main.cpp
Labels: enhancement, topic:core

#30126 Remove unnecessary code and add some error explanations
  core/array.cpp
  core/bind/core_bind.cpp
  core/class_db.cpp
  core/color.cpp
  core/command_queue_mt.h
  core/engine.cpp
  core/hash_map.h
  core/image.cpp
  core/io/file_access_buffered.cpp
  core/io/file_access_buffered_fa.h
  core/io/http_client.cpp
  core/io/json.cpp
  core/io/pck_packer.cpp
  core/io/resource_importer.cpp
  core/io/resource_loader.cpp
  core/math/bsp_tree.cpp
  core/math/camera_matrix.cpp
  core/math/math_funcs.cpp
  core/math/random_number_generator.h
  core/object.cpp
  core/os/dir_access.cpp
  core/os/memory.h
  core/project_settings.cpp
  core/ustring.cpp
  core/variant.cpp
  core/variant_op.cpp
  core/variant_parser.cpp
  drivers/unix/net_socket_posix.cpp
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor_plugins.cpp
  editor/create_dialog.cpp
  editor/editor_plugin.cpp
  editor/groups_editor.cpp
  editor/plugins/collision_shape_2d_editor_plugin.h
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/project_settings_editor.cpp
  editor/scene_tree_dock.cpp
  editor/spatial_editor_gizmos.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/mono/csharp_script.cpp
  scene/2d/navigation_2d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/3d/navigation.cpp
  scene/gui/option_button.cpp
Labels: enhancement, topic:core

#29980 Fix some editor crashes
  core/image.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  modules/bullet/rigid_body_bullet.cpp
  modules/gdscript/gdscript_function.cpp
  scene/2d/canvas_item.cpp
  scene/3d/spatial.cpp
  scene/3d/visual_instance.cpp
  scene/main/node.cpp
  scene/main/viewport.cpp
  scene/resources/texture.cpp
  servers/audio/effects/audio_effect_record.cpp
Labels: bug, topic:core

#29909 Scale vertex lit lights by environment scale
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#29333 fixed an issue with double clicking available node in VisualScriptEditor
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:visualscript

#29071 Improve bookmarks
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: enhancement, topic:editor, usability

#28884 Keep GDScript functions in stack while yielding
  editor/script_editor_debugger.cpp
  modules/gdscript/gdscript_function.cpp
Labels: cherrypick:3.0, cherrypick:3.1, enhancement, topic:gdscript

#29951 add 2d physic optimization similar to 3d physics
  servers/physics/collision_object_sw.cpp
  servers/physics/collision_object_sw.h
  servers/physics_2d/collision_object_2d_sw.cpp
  servers/physics_2d/collision_object_2d_sw.h
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_2d/physics_2d_server_sw.h
Labels: enhancement, topic:physics

#30196 SceneTreeDock will now only attach scripts to the selected node if the ScriptCreateDialog was opened from the SceneTreeDock
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/script_create_dialog.cpp
Labels: bug, topic:editor

#29656 Add buttons to remove keys\items from dictionaries\arrays.
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: enhancement, for pr meeting, topic:editor

#19936 Expand/collapse nodes recursively in scene tree dock
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor, usability

#29824 Add XR mode selection to the Android export process.
  platform/android/export/export.cpp
  platform/android/java/AndroidManifest.xml
  platform/android/java/src/org/godotengine/godot/Godot.java
  platform/android/java/src/org/godotengine/godot/GodotView.java
  platform/android/java/src/org/godotengine/godot/xr/XRMode.java
  platform/android/java/src/org/godotengine/godot/xr/regular/RegularConfigChooser.java
  platform/android/java/src/org/godotengine/godot/xr/regular/RegularContextFactory.java
  platform/android/java/src/org/godotengine/godot/xr/regular/RegularFallbackConfigChooser.java
Labels: enhancement, platform:android, topic:arvr, topic:porting

#30223 Remove thread to prevent memory leak
  core/bind/core_bind.cpp
Labels: bug, topic:core

#27510 Add editor screenshot on control - f12.
  core/os/os.cpp
  core/os/os.h
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, for pr meeting, topic:editor

#26613 Add a Direction property to ParticlesMaterial
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
Labels: enhancement, topic:core, topic:rendering

#30249 Fix few GCC9 warnings:
  editor/editor_audio_buses.h
  modules/dds/texture_loader_dds.cpp
  thirdparty/assimp/include/assimp/types.h
Labels: enhancement, topic:core

#30250 Use GCC 9 in travis.
  .travis.yml
Labels: enhancement, topic:buildsystem

#30228 Add "Go To" menu to the script editor and move the bookmark and breakpoint menus there
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
Labels: enhancement, topic:editor

#30254 Fix various memory leaks and errors
  drivers/gles3/rasterizer_scene_gles3.cpp
  modules/gdnative/gdnative.cpp
  modules/gdnative/gdnative.h
  platform/x11/context_gl_x11.cpp
  scene/2d/particles_2d.cpp
  scene/3d/gi_probe.cpp
  scene/3d/particles.cpp
  scene/3d/soft_body.cpp
  scene/animation/skeleton_ik.cpp
  scene/main/scene_tree.cpp
  servers/visual/visual_server_raster.cpp
Labels: bug, topic:core

#30252 Fix editor crash when StreamPeerSSL is unavilable.
  core/io/stream_peer_ssl.cpp
  editor/editor_node.cpp
Labels: bug, crash, topic:editor

#30231 Tilemap fix displaced textures and shapes and added center texture and compatibility mode
  doc/classes/TileMap.xml
  editor/plugins/tile_map_editor_plugin.cpp
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, enhancement, topic:core

#30253 ConnectionsDock: Add tooltip with signal description
  editor/connections_dialog.cpp
  editor/connections_dialog.h
Labels: enhancement, topic:editor, usability

#30257 AppVeyor: Skip saving cache on non-master branches
  .appveyor.yml
Labels: cherrypick:3.0, cherrypick:3.1, enhancement, topic:buildsystem

#30258 Make the AndroidManifest meta-data name attribute settable.
  platform/android/export/export.cpp
  platform/android/java/AndroidManifest.xml
Labels: enhancement, platform:android, topic:editor

#30264 Implement snapping in the CSG gizmos and 3D polygon editor
  editor/plugins/collision_polygon_editor_plugin.cpp
  modules/csg/csg_gizmos.cpp
Labels: enhancement, topic:editor, usability

#29988 Added a fallback size to the lightmap baker in case mesh lightmap hint sizes are 0,0
  scene/3d/baked_lightmap.cpp
  scene/3d/baked_lightmap.h
  scene/3d/voxel_light_baker.cpp
  scene/3d/voxel_light_baker.h
Labels: feature proposal, topic:rendering

#30277 SCons: Use CPPDEFINES instead of CPPFLAGS for pre-processor defines
  core/SCsub
  core/math/SCsub
  drivers/gl_context/SCsub
  drivers/png/SCsub
  drivers/xaudio2/SCsub
  methods.py
  modules/SCsub
  modules/assimp/SCsub
  modules/bullet/SCsub
  modules/enet/SCsub
  modules/freetype/SCsub
  modules/gdnative/nativescript/SCsub
  modules/mono/build_scripts/mono_configure.py
  modules/opus/SCsub
  modules/regex/SCsub
  modules/svg/SCsub
  modules/theora/SCsub
  modules/upnp/SCsub
  modules/vhacd/SCsub
  modules/webm/libvpx/SCsub
  modules/websocket/SCsub
  platform/android/SCsub
  platform/android/detect.py
  platform/haiku/detect.py
  platform/iphone/detect.py
  platform/osx/detect.py
  platform/server/detect.py
  platform/uwp/detect.py
  platform/windows/detect.py
  platform/x11/detect.py
Labels: cherrypick:3.1, enhancement, topic:buildsystem

#30287 Fix parsing of arguments in constant expressions
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, cherrypick:3.1, topic:gdscript

#30289 Fix inheriting from class_name messing up constants
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#30290 Fix crash with TileSet(again)
  scene/resources/tile_set.cpp
Labels: bug, crash, topic:core

#30292 Mono: Android build and shared libraries fixes
  modules/mono/build_scripts/make_android_mono_config.py
  modules/mono/build_scripts/make_cs_compressed_header.py
  modules/mono/build_scripts/mono_configure.py
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/godotsharp_editor.cpp
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/godotsharp_dirs.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/utils/android_utils.cpp
  modules/mono/utils/android_utils.h
Labels: bug, platform:android, topic:mono

#30293 Mono: Fix Array IndexOutOfRangeException not being thrown
  modules/mono/glue/collections_glue.cpp
Labels: bug, topic:mono

#30294 Make easier to select keys that are at position 0 in AnimationPlayer editor
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#30283 Implement snapping for most 3D gizmos
  editor/plugins/path_editor_plugin.cpp
  editor/spatial_editor_gizmos.cpp
Labels: enhancement, topic:editor, usability

#30306 [3.0] Multiplayer API now respects allow_object_decoding
  doc/classes/PacketPeer.xml
  scene/main/scene_tree.cpp
Labels: bug, topic:network

#29626 More information for code completion options
  core/script_language.h
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, for pr meeting, topic:editor, topic:gdscript

#30300 Remove unused icons in the default theme
  scene/resources/default_theme/background.png
  scene/resources/default_theme/base_green.png
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/dosfont.png
  scene/resources/default_theme/frame_focus.png
  scene/resources/default_theme/full_panel_bg.png
  scene/resources/default_theme/icon_play.png
  scene/resources/default_theme/icon_stop.png
  scene/resources/default_theme/line_edit_focus.png
  scene/resources/default_theme/logo.png
  scene/resources/default_theme/option_button_focus.png
  scene/resources/default_theme/popup_checked.png
  scene/resources/default_theme/popup_hover.png
  scene/resources/default_theme/popup_unchecked.png
  scene/resources/default_theme/reference_border.png
  scene/resources/default_theme/scroll_button_down.png
  scene/resources/default_theme/scroll_button_down_hl.png
  scene/resources/default_theme/scroll_button_up.png
  scene/resources/default_theme/scroll_button_up_hl.png
  scene/resources/default_theme/theme_data.h
  scene/resources/default_theme/tool_button_pressed.png
  scene/resources/default_theme/tree_bg_focus.png
  scene/resources/default_theme/tree_cursor.png
  scene/resources/default_theme/tree_cursor_unfocus.png
Labels: enhancement, topic:core

#30232 Explicitly set a channel map when initialising the Pulseaudio stream.
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, platform:linuxbsd, topic:audio

#30312 FileSystem dock: Improve duplicate check for directory paths
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor

#30049 Call out scaling in Spatial.translate docstring
  doc/classes/Spatial.xml
Labels: documentation, enhancement

#30331 Prevent GLES2 bool uniforms from having a precision type set.
  drivers/gles2/shader_compiler_gles2.cpp
Labels: bug, platform:android, topic:rendering

#29744 Show icons for code completion options
  core/script_language.h
  editor/code_editor.cpp
  editor/code_editor.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor

#30332 Document constants in Transform/Transform2D
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
Labels: documentation, enhancement

#30296 Expose ResourceImporter to the scripting API
  core/register_core_types.cpp
Labels: bug, topic:editor

#26674 Hide command prompt launched by OS.execute
  platform/windows/os_windows.cpp
Labels: enhancement, for pr meeting, platform:windows, topic:porting

#30318 Ensure that nested YSort preserves intermediate modulate values
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_canvas.h
Labels: bug, topic:rendering

#30319 Use CheckBoxes in the editor instead of CheckButtons when applicable
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/rename_dialog.cpp
  editor/rename_dialog.h
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: enhancement, topic:editor, usability

#30325 SceneTreeDock will reset the ScriptCreateDialog's inheritance base type whenever it opens the dialog
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#30326 Got replace-all working without breaking search
  editor/code_editor.cpp
Labels: bug, topic:editor

#30327 Dim the editor window while it's quitting
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#30316 Reparent selection without flattening
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor

#30321 Smarter node placement after duplicating
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor

#24086 Enhance game export
  core/io/file_access_pack.cpp
  core/project_settings.cpp
  editor/editor_export.cpp
  editor/editor_export.h
  modules/gdnative/register_types.cpp
  platform/windows/export/export.cpp
  platform/windows/godot_windows.cpp
  platform/x11/detect.py
  platform/x11/export/export.cpp
  platform/x11/pck_embed.ld
Labels: enhancement, for pr meeting, platform:linuxbsd, platform:windows, topic:gdnative, topic:porting

#30334 Improve the CSG shape gizmo drawing
  modules/csg/csg_gizmos.cpp
  modules/csg/csg_shape.cpp
Labels: enhancement, topic:editor, usability

#30336 Add editor menu to open the project data "user://" location.
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#30338 Revert "Add editor menu to open the project data "user://" location."
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#30369 Fix code completion for shader editor
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, topic:editor

#30370 Fix light area position in the selected completion
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#30206 Added release function to PoolVector::Access.
  core/bind/core_bind.cpp
  core/image.cpp
  core/io/marshalls.cpp
  core/io/resource_format_binary.cpp
  core/io/stream_peer.cpp
  core/math/triangle_mesh.cpp
  core/pool_vector.h
  core/variant.cpp
  core/variant_call.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  editor/editor_profiler.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  modules/csg/csg_shape.cpp
  modules/cvtt/image_compress_cvtt.cpp
  modules/dds/texture_loader_dds.cpp
  modules/etc/texture_loader_pkm.cpp
  modules/jpg/image_loader_jpegd.cpp
  modules/pvr/texture_loader_pvr.cpp
  modules/squish/image_compress_squish.cpp
  modules/stb_vorbis/audio_stream_ogg_vorbis.cpp
  modules/svg/image_loader_svg.cpp
  modules/tga/image_loader_tga.cpp
  modules/tinyexr/image_loader_tinyexr.cpp
  modules/webp/image_loader_webp.cpp
  platform/android/java_godot_lib_jni.cpp
  scene/2d/collision_polygon_2d.cpp
  scene/2d/tile_map.cpp
  scene/3d/soft_body.cpp
  scene/3d/sprite_3d.cpp
  scene/resources/animation.cpp
  scene/resources/dynamic_font_stb.cpp
  scene/resources/mesh.cpp
  scene/resources/surface_tool.cpp
  servers/physics/shape_sw.cpp
  servers/physics_2d/shape_2d_sw.cpp
  servers/visual/visual_server_scene.cpp
Labels: enhancement, topic:core

#30337 Added DEPTH_TEXTURE to visual shaders
  doc/classes/VisualShaderNodeTexture.xml
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:editor, topic:rendering

#30352 Fix parsing of enums allowing for juxtaposed identifiers
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#30367 Add Weblate badge to README.md
  README.md
Labels: enhancement

#30379 Fix editor remaining dimmed after certain actions
  editor/editor_node.cpp
  scene/gui/popup.cpp
Labels: bug, topic:editor

#30378 Sort selected nodes in scene tree before duplication
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#30371 Give up finding item if started at beginning
  scene/gui/item_list.cpp
Labels: bug, topic:editor

#30363 Make 'size_override_stretch' a property in 'Viewport'
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#30382 Some small optimizations in core/math/geometry.h.
  core/math/geometry.h
Labels: enhancement, topic:core

#30388 DOC: Fix spelling
  modules/csg/doc_classes/CSGShape.xml
Labels: documentation, enhancement

#30357 Particles / CPUParticles: Return uniform density spheres.
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/resources/particles_material.cpp
Labels: enhancement, topic:core

#30406 Removed a pair of empty braces - A Typo fix
  scene/resources/resource_format_text.cpp
Labels: enhancement, topic:core

#30414 Provide documentation for String http_escape() and http_unescape() methods
  doc/classes/String.xml
Labels: documentation, enhancement

#30412 Improve hex_to_int documentation
  doc/classes/EditorSettings.xml
  doc/classes/String.xml
  doc/classes/Viewport.xml
Labels: documentation, enhancement

#30413 Hide "Max Rate Hz" if "Max Rate" is unchecked when importing WAV sample
  editor/import/resource_importer_wav.cpp
Labels: enhancement, topic:editor, usability

#30407 Fixes minor issues found by static analyzer
  .gitignore
  core/ustring.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/unix/os_unix.cpp
  editor/create_dialog.cpp
  editor/editor_help_search.cpp
  editor/plugins/spatial_editor_plugin.cpp
  main/input_default.cpp
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/bullet/rigid_body_bullet.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/mono/utils/string_utils.cpp
  modules/opus/audio_stream_opus.cpp
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_func_nodes.cpp
  modules/visual_script/visual_script_yield_nodes.cpp
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.h
  platform/android/file_access_jandroid.cpp
  platform/x11/godot_x11.cpp
  scene/3d/baked_lightmap.h
  scene/3d/particles.cpp
  scene/gui/line_edit.cpp
  scene/resources/animation.cpp
  servers/arvr_server.cpp
Labels: enhancement, topic:core

#30419 (Re-)Implement subprotocols in websocket server.
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
Labels: bug, regression, topic:network

#30373 Improve localization
  editor/dependency_editor.cpp
Labels: enhancement, topic:editor

#30374 iOS Microphone and Camera privileges improvements
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/camera_ios.mm
  platform/iphone/export/export.cpp
Labels: bug, platform:ios, topic:plugin

#30380 Clarify better what Node.raise does
  doc/classes/Node.xml
Labels: documentation, enhancement

#30392 Removed a redundant check in PoolVector
  core/pool_vector.h
Labels: enhancement, topic:core

#30408 TreeItem: Added a setter for the disabled-property of buttons
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:core

#30425 Fix some issues with TileMap's and other nodes' boundaries
  scene/2d/path_2d.cpp
  scene/2d/polygon_2d.cpp
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, enhancement, topic:core, topic:editor

#30422 Add TCP connect timeout.
  core/io/stream_peer_tcp.cpp
  core/io/stream_peer_tcp.h
  core/register_core_types.cpp
Labels: enhancement, topic:core, topic:network

#30384 Added filter to SceneTreeDialog
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability

#30361 Camera2D's offset now ignores the limit property
  scene/2d/camera_2d.cpp
Labels: bug, topic:core

#29613 Make `--doctool` create directories if they don't exist
  main/main.cpp
Labels: enhancement, topic:core

#30428 Misc Mono Fixes
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/GodotTools/GodotTools/CSharpProject.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/glue/base_object_glue.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/utils/path_utils.cpp
  modules/mono/utils/path_utils.h
Labels: bug, topic:mono

#30432 Add NULL-terminator the string passed to strtol.
  core/ustring.cpp
Labels: bug, cherrypick:3.0, cherrypick:3.1, topic:core

#30433 SCons: Fix MBEDTLS_CONFIG_FILE string escape
  core/math/SCsub
Labels: bug, topic:buildsystem

#30434 Fix WebSocketClient consuming data during hanshake
  modules/websocket/wsl_client.cpp
Labels: bug, regression, topic:network

#30435 Display a count of matches when searching in the code editor
  editor/code_editor.cpp
  editor/code_editor.h
Labels: enhancement, topic:editor, usability

#30404 Add a configuration warning when using ultrawide SpotLight with shadows
  scene/3d/light.cpp
  scene/3d/light.h
Labels: enhancement, topic:editor

#30438 Use base `Color()` constructors instead of `Color::html()`
  editor/editor_audio_buses.cpp
  editor/editor_help.cpp
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  main/main_builders.py
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:core

#30443 Improve the node configuration warning display
  scene/2d/animated_sprite.cpp
  scene/2d/collision_object_2d.cpp
  scene/2d/light_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/skeleton_2d.cpp
  scene/2d/tile_map.cpp
  scene/2d/visibility_notifier_2d.cpp
  scene/3d/arvr_nodes.cpp
  scene/3d/collision_object.cpp
  scene/3d/collision_shape.cpp
  scene/3d/path.cpp
  scene/3d/physics_body.cpp
  scene/3d/remote_transform.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/world_environment.cpp
  scene/animation/animation_tree.cpp
  scene/gui/container.cpp
  scene/gui/control.cpp
  scene/gui/popup.cpp
  scene/gui/range.cpp
  scene/gui/scroll_container.cpp
Labels: enhancement, topic:editor

#30125 DocData: Re-expose parametric setters and getters
  doc/classes/AnimationNodeTransition.xml
  doc/classes/AudioEffectChorus.xml
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/Camera2D.xml
  doc/classes/ConeTwistJoint.xml
  doc/classes/Control.xml
  doc/classes/DynamicFont.xml
  doc/classes/Environment.xml
  doc/classes/Generic6DOFJoint.xml
  doc/classes/GeometryInstance.xml
  doc/classes/HingeJoint.xml
  doc/classes/KinematicBody.xml
  doc/classes/Light.xml
  doc/classes/NinePatchRect.xml
  doc/classes/Particles.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/PinJoint.xml
  doc/classes/RigidBody.xml
  doc/classes/SliderJoint.xml
  doc/classes/SpatialMaterial.xml
  doc/classes/SpriteBase3D.xml
  doc/classes/StreamTexture.xml
  doc/classes/StyleBox.xml
  doc/classes/StyleBoxFlat.xml
  doc/classes/StyleBoxTexture.xml
  doc/classes/TextureProgress.xml
  doc/classes/Viewport.xml
  doc/classes/VisibilityEnabler.xml
  doc/classes/VisibilityEnabler2D.xml
  editor/doc/doc_data.cpp
Labels: documentation, enhancement, topic:editor

#28190 fix improper uncommenting behavior in TextEditor
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:editor

#30449 Clarify what %APPDATA% expands to in Windows
  doc/classes/OS.xml
Labels: documentation, enhancement

#30450 Fix issues where translations doesn't work because of white space in %s
  editor/translations/ar.po
  editor/translations/bn.po
  editor/translations/ca.po
  editor/translations/hi.po
  editor/translations/id.po
  editor/translations/pt_BR.po
  editor/translations/ru.po
  editor/translations/te.po
  editor/translations/tr.po
  editor/translations/zh_CN.po
  editor/translations/zh_TW.po
Labels: enhancement, topic:editor

#30315 HTTPRequest add timeout
  scene/main/http_request.cpp
  scene/main/http_request.h
Labels: enhancement, topic:network

#30457 Fix "not" shader function return type
  servers/visual/shader_language.cpp
Labels: bug, topic:rendering

#30467 Better detect Emscripten toolchain.
  platform/javascript/detect.py
Labels: bug, platform:html5, topic:buildsystem

#30469 Add a way to copy the text of warnings shown in the editor
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#30463 Fix export templates ignoring assemblies in 'res://.mono/assemblies'
  modules/mono/build_scripts/solution_builder.py
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#30461 Add `width` and `antialiased` parameters to CanvasItem `draw_rect()`
  doc/classes/CanvasItem.xml
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  scene/2d/canvas_item.cpp
  scene/2d/canvas_item.h
Labels: enhancement, topic:core

#30304 Exposed update_cache() of RemoteTransform and RemoteTransform2D
  doc/classes/RemoteTransform.xml
  doc/classes/RemoteTransform2D.xml
  scene/2d/remote_transform_2d.cpp
  scene/2d/remote_transform_2d.h
  scene/3d/remote_transform.cpp
  scene/3d/remote_transform.h
Labels: enhancement, topic:core

#30188 Method Binding Free Function Support
  core/SCsub
  core/make_binders.py
Labels: discussion, enhancement, topic:core

#30484 Mono: Add missing GodotTools.sln
  modules/mono/editor/GodotTools/GodotTools.sln
Labels: bug, topic:mono

#30483 Fix incorrect X position of line length guideline
  scene/gui/text_edit.cpp
Labels: bug, topic:core, topic:editor

#30465 Fix cursor blinking in integrated GPUs
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: bug, topic:input, topic:rendering

#30462 Fix issue with displaying empty tooltip hint
  scene/main/viewport.cpp
Labels: bug, topic:core

#30485 SCons no longer passes FrameworkPathOverride to MSBuild
  modules/mono/build_scripts/solution_builder.py
Labels: enhancement, topic:mono

#30451 Fix DynamicFont outline does not draw using draw_char
  scene/2d/canvas_item.cpp
Labels: bug, topic:core

#30487 Fix get_data layer argument when texture is TEXTURE_TYPE_2D_ARRAY
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#30488 Allow class names with dots in create script popup
  editor/script_create_dialog.cpp
Labels: enhancement, topic:editor

#30489 Mono: Fix null exception in GenerateGameProject
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/editor/GodotTools/GodotTools/CSharpProject.cs
Labels: bug, topic:editor, topic:mono

#30455 Pass by reference to const
  core/class_db.cpp
  core/class_db.h
  core/math/basis.cpp
  core/math/basis.h
  core/project_settings.cpp
  core/project_settings.h
  drivers/unix/net_socket_posix.cpp
  drivers/unix/net_socket_posix.h
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
  editor/editor_run.cpp
  editor/editor_run.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.h
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/editor_preview_plugins.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/resources/animation.cpp
  scene/resources/animation.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  servers/arvr/arvr_positional_tracker.cpp
  servers/arvr/arvr_positional_tracker.h
  servers/arvr_server.cpp
  servers/arvr_server.h
Labels: enhancement, topic:core

#30486 Fix IndexOutOfBounds in FindMsBuildToolsPathOnWindows
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
Labels: bug, topic:editor, topic:mono

#30501 Mono: Fix null dereference in EditorExportPlatformAndroid
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: bug, topic:editor, topic:mono

#30502 Mono: Fix Api HintPath and update old game projects
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/mono/editor/GodotTools/GodotTools/CSharpProject.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: bug, enhancement, topic:editor, topic:mono

#30347 Set a default value for project name when installing a project.
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#30504 doc: Mention `Input.MOUSE_MODE_CAPTURED` is raw on Windows and Linux
  doc/classes/Input.xml
Labels: documentation, enhancement

#30512 glad: Sync with upstream 0.1.31
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/glad/KHR/khrplatform.h
  thirdparty/glad/glad.c
  thirdparty/glad/glad/glad.h
Labels: cherrypick:3.1, enhancement, topic:thirdparty

#30513 stb_vorbis: Update to upstream version 1.16
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/misc/stb_vorbis.c
Labels: cherrypick:3.1, enhancement, topic:thirdparty

#30514 pcre2: Update to upstream version 10.33
  COPYRIGHT.txt
  modules/regex/SCsub
  thirdparty/README.md
  thirdparty/pcre2/AUTHORS
  thirdparty/pcre2/LICENCE
  thirdparty/pcre2/src/config.h
  thirdparty/pcre2/src/pcre2.h
  thirdparty/pcre2/src/pcre2_auto_possess.c
  thirdparty/pcre2/src/pcre2_chartables.c
  thirdparty/pcre2/src/pcre2_compile.c
  thirdparty/pcre2/src/pcre2_context.c
  thirdparty/pcre2/src/pcre2_convert.c
  thirdparty/pcre2/src/pcre2_dfa_match.c
  thirdparty/pcre2/src/pcre2_error.c
  thirdparty/pcre2/src/pcre2_extuni.c
  thirdparty/pcre2/src/pcre2_internal.h
  thirdparty/pcre2/src/pcre2_intmodedep.h
  thirdparty/pcre2/src/pcre2_jit_compile.c
  thirdparty/pcre2/src/pcre2_jit_match.c
  thirdparty/pcre2/src/pcre2_maketables.c
  thirdparty/pcre2/src/pcre2_match.c
  thirdparty/pcre2/src/pcre2_match_data.c
  thirdparty/pcre2/src/pcre2_script_run.c
  thirdparty/pcre2/src/pcre2_study.c
  thirdparty/pcre2/src/pcre2_substitute.c
  thirdparty/pcre2/src/pcre2_tables.c
  thirdparty/pcre2/src/pcre2_ucd.c
  thirdparty/pcre2/src/pcre2_ucp.h
  thirdparty/pcre2/src/pcre2_xclass.c
  thirdparty/pcre2/src/sljit/sljitConfigInternal.h
  thirdparty/pcre2/src/sljit/sljitExecAllocator.c
  thirdparty/pcre2/src/sljit/sljitLir.c
  thirdparty/pcre2/src/sljit/sljitNativeARM_64.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_32.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_64.c
  thirdparty/pcre2/src/sljit/sljitNativeMIPS_common.c
  thirdparty/pcre2/src/sljit/sljitNativePPC_common.c
Labels: cherrypick:3.1, enhancement, topic:thirdparty

#30515 tinyexr: Sync with upstream a685e33
  COPYRIGHT.txt
  thirdparty/tinyexr/tinyexr.h
Labels: cherrypick:3.1, enhancement, topic:thirdparty

#30522 Removed invalid mix shader overloads
  servers/visual/shader_language.cpp
Labels: bug, topic:rendering

#30525 Some small fixes to warnings in python scripts
  editor/editor_builders.py
  modules/mono/build_scripts/mono_reg_utils.py
Labels: enhancement, topic:buildsystem

#30498 Fix inability to insert keys via Insert Key context menu
  scene/main/node.cpp
Labels: bug, regression, topic:core

#30521 Improve line drawing in the 2D editor
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
Labels: enhancement, topic:editor

#30129 Update xatlas to latest upstream commit (b7d7bb9).
  modules/xatlas_unwrap/register_types.cpp
  thirdparty/README.md
  thirdparty/xatlas/xatlas.cpp
  thirdparty/xatlas/xatlas.h
Labels: enhancement, topic:thirdparty

#30527 Fix AnimationTree editor messing up parameters when nested
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
Labels: bug, topic:editor

#30528 Make the default return value on crash explicitly a bool
  servers/visual/shader_language.cpp
Labels: enhancement, topic:core

#30517 Fix multiple popup freezing
  scene/main/viewport.cpp
Labels: bug, topic:editor

#30341 when doing Vector3 slerp it is not necessary to have it normalized.
  core/math/vector3.h
Labels: enhancement, topic:core

#30466 Added "Is" and "Compare" functions to visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: feature proposal, topic:core, topic:rendering
