Repository godotengine/godot, pull requests merged in 2020-12, with the labels that each got.

#44001 Fixed crash in visual shader on changing input when preview is visible
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, crash, topic:editor

#44012 Fix incorrect `Curve3D.interpolate_baked()` description
  doc/classes/Curve3D.xml
Labels: bug, cherrypick:3.2, documentation

#44009 Fix few bugs in visual shader expressions
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: bug, topic:core

#44023 Update xatlas to upstream 5571fc7, fixes #44017
  modules/xatlas_unwrap/register_types.cpp
  thirdparty/README.md
  thirdparty/xatlas/xatlas.cpp
  thirdparty/xatlas/xatlas.h
Labels: bug, cherrypick:3.2, topic:import, topic:thirdparty

#44035 Fix .pck lookup for extensionless binary in macOS resources.
  core/config/project_settings.cpp
Labels: bug, cherrypick:3.2, platform:macos, topic:porting

#44036 Fixed some errors when changing port name in visual shader expressions
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:core

#39743 Limit the editor zoom and freelook speed based on camera settings
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, enhancement, topic:editor, usability

#41773 GDScript default argument override bug fix
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript

#41095 GDScript(2.0) Documentation generation system
  core/doc_data.cpp
  core/doc_data.h
  core/object/script_language.h
  editor/connections_dialog.cpp
  editor/doc_tools.cpp
  editor/doc_tools.h
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_inspector.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/property_selector.cpp
  main/main.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/pluginscript/pluginscript_script.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/lsp.hpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/visual_script/visual_script.h
  modules/visual_script/visual_script_property_selector.cpp
Labels: documentation, enhancement, topic:editor, topic:gdscript

#44038 X11: Include limits.h for LONG_MAX
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:buildsystem

#44039 Cherry-picks for the 3.2 branch (future 3.2.4) - 11th batch
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  core/io/packet_peer_udp.cpp
  core/project_settings.cpp
  doc/classes/Curve3D.xml
  doc/classes/Input.xml
  doc/classes/MultiplayerAPI.xml
  doc/classes/ProjectSettings.xml
  drivers/alsa/audio_driver_alsa.cpp
  editor/connections_dialog.cpp
  editor/plugins/spatial_editor_plugin.cpp
  main/main.cpp
  modules/xatlas_unwrap/register_types.cpp
  platform/x11/os_x11.cpp
  scene/resources/resource_format_text.cpp
  thirdparty/README.md
  thirdparty/xatlas/xatlas.cpp
  thirdparty/xatlas/xatlas.h
Labels: bug, documentation, enhancement, topic:core, topic:editor

#44025 Refactored Mesh internals and formats.
  core/io/resource_importer.h
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/editor_file_system.cpp
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/resource_importer_obj.cpp
  editor/import/resource_importer_obj.h
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/arkit/arkit_interface.mm
  modules/assimp/editor_scene_importer_assimp.cpp
  scene/3d/soft_body_3d.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/primitive_meshes.cpp
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/canvas.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/shader_types.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#44044 xatlas should be using the options configured here
  modules/xatlas_unwrap/register_types.cpp
Labels: bug, cherrypick:3.2, topic:thirdparty

#44051 Added F2 shortcuts for renaming files & folders.
  editor/filesystem_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#44059 Made keyboard shortcuts for FileSystemDock visible in popup
  editor/filesystem_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#44060 OSX: Remove tmp .app folder instead of moving to trash
  platform/osx/export/export.cpp
Labels: bug, cherrypick:3.2, platform:macos, topic:editor

#44064 Mono: Fix Android build after #36311
  modules/mono/build_scripts/make_android_mono_config.py
Labels: bug, platform:android, topic:buildsystem, topic:mono

#43999 Update page value properly of ScrollContainer
  scene/gui/scroll_container.cpp
Labels: bug, cherrypick:3.2, topic:gui, topic:input

#44061 Ignore hint entries in game controller mapping
  core/input/input.cpp
Labels: bug, topic:input

#44062 [3.2] Ignore hint entries in game controller mapping
  main/input_default.cpp
Labels: bug, topic:input

#43660 InputEvent as_text now returns readable string. Added to_string for debug strings
  core/input/input_event.cpp
  core/input/input_event.h
  editor/input_map_editor.cpp
  editor/input_map_editor.h
Labels: enhancement, topic:input

#43801 Fix ccd enabled by default on Bullet bodies
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, topic:physics

#43896 Put misc. 3D tool visible instances on their own layer
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  modules/gridmap/grid_map_editor_plugin.cpp
Labels: bug, topic:editor

#43897 Put misc. 3D tool visible instances on their own layer (3.2)
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  modules/gridmap/grid_map_editor_plugin.cpp
Labels: bug, topic:editor

#43959 Several edits to the GDScript docs
  doc/classes/int.xml
  modules/gdscript/doc_classes/@GDScript.xml
Labels: documentation, enhancement

#44011 Fix subtracting colors and quats
  core/variant/variant_op.cpp
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:core

#42313 Fixed tile_set_editor_plugin.cpp selection issue where it wouldn't cycle through all subtiles of an autotile.
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor

#44069 Relicense Godot logo from CC-BY-3.0 to CC-BY-4.0
  COPYRIGHT.txt
  LOGO_LICENSE.md
Labels: cherrypick:3.0, cherrypick:3.1, cherrypick:3.2, enhancement

#44067 fix android wrong multi-touch pointerid
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Labels: bug, platform:android, topic:input

#43907 fix android wrong multi-touch pointerid
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Labels: bug, platform:android, topic:input

#43328 Add bracket or space to some keyword completions
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:editor, topic:gdscript

#44018 Add 'use_static_cpp' option for MinGW builds
  platform/windows/detect.py
Labels: cherrypick:3.2, enhancement, platform:windows, topic:buildsystem

#44074 Reorganize rendering server.
  core/templates/pass_func.h
  main/main.cpp
  platform/iphone/display_server_iphone.mm
  platform/linuxbsd/display_server_x11.cpp
  platform/server/os_server.cpp
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  servers/display_server.h
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rendering_server_canvas.cpp
  servers/rendering/rendering_server_default.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_globals.cpp
  servers/rendering/rendering_server_globals.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_scene_raster.cpp
  servers/rendering/rendering_server_scene_raster.h
  servers/rendering/rendering_server_viewport.cpp
Labels: enhancement, topic:core, topic:rendering

#44079 Updated open-simplex to have const functions wherever possible
  modules/opensimplex/open_simplex_noise.cpp
  modules/opensimplex/open_simplex_noise.h
  thirdparty/README.md
  thirdparty/misc/open-simplex-noise.c
  thirdparty/misc/open-simplex-noise.h
Labels: cherrypick:3.2, enhancement, topic:core, topic:thirdparty

#44082 Added driving joystick type to windows joystick handling
  platform/windows/joypad_windows.cpp
Labels: bug, cherrypick:3.2, platform:windows, topic:input

#44084 Rename TYPE_REAL to TYPE_FLOAT
  core/core_constants.cpp
  doc/classes/@GlobalScope.xml
  modules/gdnative/include/gdnative/variant.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:core

#44087 OSX: Fix tmp .app folder name after #44060
  platform/osx/export/export.cpp
Labels: bug, platform:macos, regression, topic:editor

#44095 CI: Shrink Windows cache to 3GB, we run out of disk space
  .github/workflows/windows_builds.yml
Labels: enhancement, platform:windows, topic:buildsystem

#44080 doc: Sync classref with current source
  doc/classes/ArrayMesh.xml
  doc/classes/Color.xml
  doc/classes/LightOccluder2D.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/Mesh.xml
  doc/classes/MeshDataTool.xml
  doc/classes/PhysicalBone3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Quat.xml
  doc/classes/RenderingServer.xml
  doc/classes/RichTextLabel.xml
  doc/classes/SurfaceTool.xml
  doc/classes/TextServer.xml
  doc/classes/VehicleBody3D.xml
  doc/classes/Viewport.xml
  modules/opensimplex/doc_classes/OpenSimplexNoise.xml
  scene/gui/control.cpp
  scene/resources/mesh.cpp
  servers/rendering_server.cpp
Labels: documentation, enhancement

#44114 Frees CanvasShaderSDF reference (prevents warning at startup)
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
Labels: bug, topic:core

#36382 Unhide hidden members by renaming them and rebind Mesh enums
  doc/classes/ArrayMesh.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/CPUParticles3D.xml
  doc/classes/LightOccluder2D.xml
  doc/classes/Mesh.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/PathFollow2D.xml
  doc/classes/RDTextureFormat.xml
  doc/classes/RDUniform.xml
  doc/classes/RenderingServer.xml
  doc/classes/XRPositionalTracker.xml
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/node_3d_editor_gizmos.cpp
  editor/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/csg/csg_gizmos.cpp
  modules/csg/csg_gizmos.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/gpu_particles_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/3d/xr_nodes.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/light_cluster_builder.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_forward.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_binds.h
  servers/xr/xr_positional_tracker.cpp
  servers/xr/xr_positional_tracker.h
  servers/xr_server.cpp
Labels: breaks compat, discussion, enhancement, topic:codestyle

#44107 C#: Fix very slow build log update in the editor
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
Labels: bug, topic:editor, topic:mono

#44108 Fix unhandled exception re-thrown in the editor
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: bug, topic:mono

#44109 C#: Fix multiple awaits to same signal result in connect error
  modules/mono/signal_awaiter_utils.cpp
Labels: bug, topic:mono

#44091 Rename CubeMesh to BoxMesh
  doc/classes/BoxMesh.xml
  doc/classes/MeshDataTool.xml
  doc/classes/PrimitiveMesh.xml
  editor/code_editor.cpp
  editor/icons/BoxMesh.svg
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/material_editor_plugin.h
  modules/gdnavigation/navigation_mesh_generator.cpp
  scene/register_scene_types.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
Labels: breaks compat, enhancement, topic:core

#44116 Add missing 'bake_finished' signal
  scene/3d/navigation_region_3d.cpp
Labels: bug, topic:navigation

#44122 Change minimum snap step of Tile Set to 1
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor

#44132 Remove connect *_compat methods
  core/object/object.cpp
  core/object/object.h
  editor/animation_bezier_editor.cpp
  editor/editor_plugin_settings.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  editor/project_export.cpp
  editor/scene_tree_dock.cpp
  modules/visual_script/visual_script.cpp
  scene/3d/skeleton_3d.cpp
  scene/animation/animation_node_state_machine.cpp
Labels: enhancement, topic:core

#44129 Tweak BaseMaterial3D heightmap property hints
  scene/resources/material.cpp
Labels: enhancement, topic:editor, topic:rendering

#44130 Tweak SpatialMaterial height property hints (3.2)
  scene/resources/material.cpp
Labels: enhancement, topic:editor, topic:rendering

#44106 Don't box params on Native->C# calls with Variant params
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_class.h
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_method.h
  modules/mono/mono_gd/gd_mono_property.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/signal_awaiter_utils.cpp
Labels: enhancement, topic:mono

#44153 Fix dummy rasterizer so that javascript can build again
  drivers/dummy/rasterizer_dummy.h
Labels: bug, platform:html5, topic:rendering

#44117 Load dynamic fonts to memory on all platforms, to avoid locked files.
  modules/text_server_adv/dynamic_font_adv.cpp
  modules/text_server_adv/dynamic_font_adv.h
  modules/text_server_fb/dynamic_font_fb.cpp
  modules/text_server_fb/dynamic_font_fb.h
Labels: enhancement, topic:gui

#44160 [3.2] Load dynamic fonts to memory on all platforms, to avoid locked files.
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: enhancement, topic:gui

#43981 [Complex Text Layouts] Adds missing Font::SPACING_* to the controls, align glyphs to pixel grid.
  modules/text_server_adv/bitmap_font_adv.cpp
  modules/text_server_adv/bitmap_font_adv.h
  modules/text_server_adv/script_iterator.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  scene/resources/font.cpp
  scene/resources/text_line.cpp
  scene/resources/text_line.h
  scene/resources/text_paragraph.cpp
  scene/resources/text_paragraph.h
  servers/text_server.cpp
Labels: bug, regression, topic:editor, topic:gui

#44093 Fix base script not initialized properly in some cases
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#44041 Use GLES2 by default in the project manager
  editor/project_manager.cpp
  main/main.cpp
Labels: discussion, enhancement, topic:editor

#43007 Add MP3 import and playback support
  modules/minimp3/SCsub
  modules/minimp3/audio_stream_mp3.cpp
  modules/minimp3/audio_stream_mp3.h
  modules/minimp3/config.py
  modules/minimp3/doc_classes/AudioStreamMP3.xml
  modules/minimp3/register_types.cpp
  modules/minimp3/register_types.h
  modules/minimp3/resource_importer_mp3.cpp
  modules/minimp3/resource_importer_mp3.h
  thirdparty/minimp3/LICENSE
  thirdparty/minimp3/minimp3.h
  thirdparty/minimp3/minimp3_ex.h
Labels: feature proposal, topic:audio, topic:import

#44162 Improve some argument names for core types
  core/math/basis.cpp
  core/math/basis.h
  core/math/color.h
  core/math/quat.cpp
  core/math/quat.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/variant/variant_call.cpp
  doc/classes/Basis.xml
  doc/classes/Color.xml
  doc/classes/Quat.xml
  doc/classes/Transform2D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quat.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Labels: bug, documentation, enhancement, topic:core

#44168 [3.2] Add MP3 import and playback support (Backport)
  modules/minimp3/SCsub
  modules/minimp3/audio_stream_mp3.cpp
  modules/minimp3/audio_stream_mp3.h
  modules/minimp3/config.py
  modules/minimp3/doc_classes/AudioStreamMP3.xml
  modules/minimp3/register_types.cpp
  modules/minimp3/register_types.h
  modules/minimp3/resource_importer_mp3.cpp
  modules/minimp3/resource_importer_mp3.h
  thirdparty/minimp3/LICENSE
  thirdparty/minimp3/minimp3.h
  thirdparty/minimp3/minimp3_ex.h
Labels: feature proposal, topic:audio, topic:import

#44021 Fix implementation of move_to_trash() on Linux
  platform/linuxbsd/os_linuxbsd.cpp
Labels: bug, platform:linuxbsd, topic:porting

#44175 Add support for low-end 3D rendering.
  servers/rendering/renderer_rd/renderer_scene_render_forward.cpp
  servers/rendering/renderer_rd/renderer_scene_render_forward.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/shaders/SCsub
  servers/rendering/renderer_rd/shaders/scene_forward.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_inc.glsl
  servers/rendering/renderer_scene_render.h
  servers/rendering_server.cpp
Labels: feature proposal, topic:rendering

#44166 Remove ChainTip copy constructor
  scene/3d/skeleton_ik_3d.h
Labels: enhancement, topic:codestyle, topic:physics

#44167 [3.2] Remove ChainTip copy constructor
  scene/animation/skeleton_ik.h
Labels: enhancement, topic:codestyle, topic:physics

#44164 Fix inconsistent Joint3DSW copy constructor and assignment declarations
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.h
Labels: enhancement, topic:codestyle, topic:physics

#44165 [3.2] Fix inconsistent Joint3DSW copy constructor and assignment declarations
  servers/physics/joints/generic_6dof_joint_sw.h
Labels: enhancement, topic:codestyle, topic:physics

#44148 Tweak log file names for consistency between Mono and non-Mono logs
  core/io/logger.cpp
  modules/mono/mono_gd/gd_mono_log.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#44136 Mono: Add mono_bcl SCons option for a custom BCL location
  modules/mono/build_scripts/mono_configure.py
  modules/mono/config.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem, topic:mono

#44135 Godot.NET.Sdk/3.2.4 - Fix targeting .NETFramework with .NET 5
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/GodotTools.ProjectEditor.csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
Labels: bug, topic:mono

#44184 Rename XRController signal button_release to button_released
  doc/classes/XRController3D.xml
  scene/3d/xr_nodes.cpp
Labels: breaks compat, enhancement, topic:codestyle, topic:xr

#44188 Rename Tabs close and hover signals to tab_closed and tab_hovered
  doc/classes/Tabs.xml
  scene/gui/tabs.cpp
Labels: breaks compat, enhancement, topic:codestyle, topic:gui

#44177 Allow PluginScript to customize language's can_inherit_from_file attribute
  modules/gdnative/include/pluginscript/godot_pluginscript.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
Labels: enhancement, topic:gdnative, topic:plugin

#44189 Rename CanvasItem's hide signal to hidden
  doc/classes/CanvasItem.xml
  scene/main/canvas_item.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: breaks compat, enhancement, topic:codestyle, topic:core

#44176 Add PluginScript support for global class naming/icon path
  modules/gdnative/include/pluginscript/godot_pluginscript.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdnative/pluginscript/pluginscript_script.h
Labels: enhancement, topic:gdnative, topic:plugin

#44190 Constify ScriptLanguage.can_inherit_from_file
  core/object/script_language.h
  modules/gdnative/pluginscript/pluginscript_language.cpp
  modules/gdnative/pluginscript/pluginscript_language.h
  modules/gdscript/gdscript.h
Labels: enhancement, topic:core

#44089 Add ability to restore `RandomNumberGenerator` state
  core/math/random_number_generator.cpp
  core/math/random_number_generator.h
  core/math/random_pcg.h
  doc/classes/RandomNumberGenerator.xml
  tests/test_main.cpp
  tests/test_random_number_generator.h
Labels: bug, topic:core

#43249 Android: Allow Mouse Capture
  platform/android/SCsub
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_view_wrapper.h
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Labels: enhancement, platform:android, topic:input, topic:porting

#44174 [3.2] Fixed the inverse(mat3) polyfill for GLES2
  drivers/gles2/shaders/stdlib.glsl
Labels: bug, topic:editor, topic:rendering

#44203 Android: fix mouse capture relative wrong
  platform/android/display_server_android.cpp
Labels: bug, platform:android, topic:input

#44206 Increase dithering in the PhysicalSkyMaterial shader to combat banding
  scene/resources/sky_material.cpp
Labels: enhancement, topic:rendering

#44161 Remove unused FileAccessBuffered
  core/io/file_access_buffered.cpp
  core/io/file_access_buffered.h
  core/io/file_access_buffered_fa.h
  drivers/unix/os_unix.cpp
  platform/android/os_android.cpp
  platform/javascript/os_javascript.cpp
  platform/windows/os_windows.cpp
Labels: bug, discussion, platform:android, platform:html5, topic:core

#44199 PVS-Studio static analyzer fixes
  core/io/compression.cpp
  core/io/file_access_zip.h
  core/io/marshalls.cpp
  core/math/expression.cpp
  core/os/os.cpp
  core/os/os.h
  core/string/node_path.cpp
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/gdnavigation/nav_map.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/text_server_adv/bitmap_font_adv.cpp
  modules/text_server_adv/dynamic_font_adv.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/bitmap_font_fb.cpp
  modules/text_server_fb/dynamic_font_fb.cpp
  scene/3d/sprite_3d.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  scene/main/node.h
  scene/resources/environment.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/surface_tool.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:core

#44212 [3.2] Fix fallback emoji font color.
  scene/resources/dynamic_font.cpp
Labels: bug, topic:gui

#43948 Don't open editor window when using --export or --doctool
  main/main.cpp
Labels: bug, topic:editor, topic:porting

#43931 [Complex Text Layouts] Add compatibility for legacy Font resources.
  core/object/class_db.cpp
  scene/register_scene_types.cpp
  scene/resources/font.cpp
  scene/resources/font.h
Labels: enhancement, topic:editor, usability

#44215 Remove unused FileAccessJAndroid.
  platform/android/SCsub
  platform/android/dir_access_jandroid.cpp
  platform/android/file_access_jandroid.cpp
  platform/android/file_access_jandroid.h
  platform/android/java_godot_lib_jni.cpp
  platform/android/os_android.cpp
Labels: bug, cherrypick:3.2, platform:android, topic:core, topic:porting

#44217 Fix connections to CanvasItem and Tabs signals
  editor/editor_node.cpp
  editor/editor_node.h
  scene/gui/color_picker.cpp
Labels: bug, regression, topic:core, topic:editor

#44214 Cherry-picks for the 3.2 branch (future 3.2.4) - 12th batch
  COPYRIGHT.txt
  LOGO_LICENSE.md
  core/io/file_access_buffered.cpp
  core/io/file_access_buffered.h
  core/io/file_access_buffered_fa.h
  core/io/logger.cpp
  doc/classes/int.xml
  drivers/unix/os_unix.cpp
  editor/filesystem_dock.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_compiler.cpp
  modules/mono/build_scripts/mono_configure.py
  modules/mono/config.py
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/opensimplex/open_simplex_noise.cpp
  modules/opensimplex/open_simplex_noise.h
  platform/android/SCsub
  platform/android/dir_access_jandroid.cpp
  platform/android/file_access_jandroid.cpp
  platform/android/file_access_jandroid.h
  platform/android/java_godot_lib_jni.cpp
  platform/android/os_android.cpp
  platform/javascript/os_javascript.cpp
  platform/osx/export/export.cpp
  platform/windows/detect.py
  platform/windows/joypad_windows.cpp
  platform/windows/os_windows.cpp
  scene/gui/scroll_container.cpp
  thirdparty/README.md
  thirdparty/misc/open-simplex-noise.c
  thirdparty/misc/open-simplex-noise.h
Labels: bug, documentation, enhancement, topic:core, topic:editor

#44128 Cleanup unused engine code
  core/io/packet_peer.cpp
  core/io/packet_peer.h
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/object/object.cpp
  core/object/object.h
  core/object/script_language.h
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_export.cpp
  editor/editor_export.h
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/multi_node_edit.cpp
  editor/multi_node_edit.h
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/theme_editor_plugin.cpp
  editor/run_settings_dialog.cpp
  editor/run_settings_dialog.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  platform/server/os_server.cpp
  platform/server/os_server.h
  scene/2d/line_builder.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_bar.h
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  scene/resources/style_box.cpp
  scene/resources/style_box.h
  scene/resources/theme.cpp
  scene/resources/theme.h
  servers/camera_server.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:codestyle, topic:core

#44218 Fix trying to set grid visibility on an invalid instance
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, regression, topic:editor

#44223 Asset Library: Scroll up the ScrollContainer after page load
  editor/plugins/asset_library_editor_plugin.cpp
Labels: cherrypick:3.2, topic:assetlib, usability

#44229 Add icon for 'AudioStreamMP3' resource
  editor/icons/AudioStreamMP3.svg
Labels: cherrypick:3.2, enhancement, topic:editor

#44221 [HTML5] Editor style, audio fixes
  drivers/dummy/rasterizer_dummy.h
  misc/dist/html/editor.html
  misc/dist/html/logo.svg
  platform/javascript/SCsub
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/detect.py
  platform/javascript/godot_audio.h
  platform/javascript/js/libs/library_godot_audio.js
Labels: enhancement, platform:html5, topic:audio, topic:editor

#44245 Fix regression in gdscript initialization
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, crash, regression, topic:gdscript

#44124 Add option to draw all tabs in front
  doc/classes/TabContainer.xml
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Labels: bug, cherrypick:3.2, regression, topic:gui

#44256 [3.2] [HTML5] Editor style, audio fixes
  misc/dist/html/editor.html
  misc/dist/html/logo.svg
  platform/javascript/SCsub
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/detect.py
  platform/javascript/godot_audio.h
  platform/javascript/js/libs/library_godot_audio.js
Labels: enhancement, platform:html5, topic:audio, topic:editor

#44016 Mention that 'changed' signal needs manual emit
  doc/classes/Resource.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:core

#44197 Fix some easing equations' undefined behaviours.
  thirdparty/misc/easing_equations.cpp
Labels: bug, cherrypick:3.2, needs testing, platform:html5, topic:core, topic:porting, topic:thirdparty

#44234 fix for snap to floor editor crash bug
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor

#43920 Document the lack of localization remapping support in VideoPlayer
  doc/classes/VideoPlayer.xml
Labels: cherrypick:3.2, documentation, enhancement

#44070 Add "font_color_separator" theme property to 'PopupMenu'
  doc/classes/PopupMenu.xml
  editor/editor_themes.cpp
  scene/gui/popup_menu.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: cherrypick:3.2, documentation, enhancement, topic:gui

#44248 Fix scene being modified when arrows are pressed with no node selected
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#44233 Re-add circle back scrolling to 'PopupMenu'
  scene/gui/popup_menu.cpp
Labels: enhancement, topic:gui

#40708 Improve `OS::get_locale()` and documentation.
  doc/classes/OS.xml
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
Labels: documentation, enhancement, platform:macos, platform:windows, topic:porting

#44260 Rename Area3D audio_bus_name getter and setter
  doc/classes/Area3D.xml
  scene/3d/area_3d.cpp
  scene/3d/area_3d.h
  scene/3d/audio_stream_player_3d.cpp
Labels: breaks compat, enhancement, topic:codestyle, topic:physics

#44262 FileSystemDock: List conflicting files on move
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#44265 Allow to circle back in 'PopupMenu' even if the first/last item is non-selectable
  scene/gui/popup_menu.cpp
Labels: bug, cherrypick:3.2, topic:gui

#44267 Rename Viewport::ClearMode::CLEAR_MODE_ONLY_NEXT_FRAME to CLEAR_MODE_ONCE
  doc/classes/SubViewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: breaks compat, enhancement, topic:codestyle, topic:core

#44266 HTML5: Code style cleanup for export code
  platform/javascript/detect.py
  platform/javascript/export/export.cpp
Labels: cherrypick:3.2, platform:html5, topic:codestyle

#44279 Fix PathFollow3D updating on unit_offset 0
  scene/3d/path_3d.cpp
Labels: bug, topic:core

#44293 Fix bug in normal map decompression
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering

#44294 wrong double quote output with .csv fixed
  core/os/file_access.cpp
Labels: bug, cherrypick:3.2, topic:core

#44296 Add test suite for `FileAccess`
  tests/data/translations.csv
  tests/test_file_access.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#44270 Remove two very slightly displaced duplicate vertices on Gobot's face
  icon.png
  icon.svg
  logo.png
  logo.svg
  misc/dist/document_icons/project.svg
  misc/dist/document_icons/project_extra_small.svg
  misc/dist/document_icons/project_small.svg
  misc/dist/html/logo.svg
  misc/dist/project_icon.svg
Labels: cherrypick:3.2, enhancement

#44288 Fixed mouse scrolling in TextEdit's
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:gui, topic:input

#44315 Don't handle BaseException in build scripts
  SConstruct
  core/SCsub
  methods.py
  modules/webm/libvpx/SCsub
  platform/android/detect.py
  platform/javascript/detect.py
  platform/windows/detect.py
Labels: enhancement, topic:buildsystem

#44316 [3.2] Don't handle BaseException in build scripts
  SConstruct
  core/SCsub
  methods.py
  modules/webm/libvpx/SCsub
  platform/android/detect.py
  platform/windows/detect.py
Labels: enhancement, topic:buildsystem

#44317 Fixed Geometry2D::get_closest_points_between_segments docs
  doc/classes/Geometry2D.xml
Labels: cherrypick:3.2, documentation, enhancement

#42595 [Complex Text Layouts] Refactor RichTextLabel.
  doc/classes/CharFXTransform.xml
  doc/classes/RichTextLabel.xml
  editor/editor_help.cpp
  scene/gui/rich_text_effect.cpp
  scene/gui/rich_text_effect.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/resources/default_theme/default_theme.cpp
Labels: breaks compat, enhancement, topic:editor, topic:gui

#43030 [Complex Text Layouts] Add variable fonts support.
  doc/classes/FontData.xml
  doc/classes/TextServer.xml
  editor/editor_fonts.cpp
  editor/editor_settings.cpp
  modules/gdnative/include/text/godot_text.h
  modules/gdnative/text/text_server_gdnative.cpp
  modules/gdnative/text/text_server_gdnative.h
  modules/text_server_adv/dynamic_font_adv.cpp
  modules/text_server_adv/dynamic_font_adv.h
  modules/text_server_adv/font_adv.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  scene/resources/font.cpp
  scene/resources/font.h
  servers/text_server.cpp
  servers/text_server.h
Labels: enhancement, feature proposal, topic:gui

#44319 Rework Mesh handling on scene importing.
  editor/editor_node.cpp
  editor/import/editor_import_collada.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/editor_scene_importer_gltf.h
  editor/import/resource_importer_obj.cpp
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  modules/meshoptimizer/SCsub
  modules/meshoptimizer/config.py
  modules/meshoptimizer/register_types.cpp
  modules/meshoptimizer/register_types.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  thirdparty/README.md
  thirdparty/meshoptimizer/LICENSE.md
  thirdparty/meshoptimizer/allocator.cpp
  thirdparty/meshoptimizer/clusterizer.cpp
  thirdparty/meshoptimizer/indexcodec.cpp
  thirdparty/meshoptimizer/indexgenerator.cpp
  thirdparty/meshoptimizer/meshoptimizer.h
  thirdparty/meshoptimizer/overdrawanalyzer.cpp
  thirdparty/meshoptimizer/overdrawoptimizer.cpp
  thirdparty/meshoptimizer/simplifier.cpp
  thirdparty/meshoptimizer/spatialorder.cpp
  thirdparty/meshoptimizer/stripifier.cpp
  thirdparty/meshoptimizer/vcacheanalyzer.cpp
  thirdparty/meshoptimizer/vcacheoptimizer.cpp
  thirdparty/meshoptimizer/vertexcodec.cpp
  thirdparty/meshoptimizer/vertexfilter.cpp
  thirdparty/meshoptimizer/vfetchanalyzer.cpp
  thirdparty/meshoptimizer/vfetchoptimizer.cpp
Labels: enhancement, topic:import, topic:rendering

#44353 Pow method doc fix
  modules/gdscript/doc_classes/@GDScript.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:core

#44302 Don't force GLES2 in Project Manager, causes issues on macOS.
  editor/project_manager.cpp
  main/main.cpp
Labels: bug, topic:editor

#44112 make 2d constraint solving more deterministic by solving in push order
  servers/physics_2d/area_pair_2d_sw.cpp
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/body_pair_2d_sw.cpp
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_2d/step_2d_sw.cpp
Labels: cherrypick:3.2, enhancement, topic:physics

#44385 Document the argument count limit in `SceneTree.call_group()`
  doc/classes/SceneTree.xml
Labels: documentation, enhancement

#44389 Rename AcceptDialog get_ok() to get_ok_button()
  doc/classes/AcceptDialog.xml
  doc/classes/ConfirmationDialog.xml
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/create_dialog.cpp
  editor/dependency_editor.cpp
  editor/editor_asset_installer.cpp
  editor/editor_dir_dialog.cpp
  editor/editor_feature_profile.cpp
  editor/editor_file_dialog.cpp
  editor/editor_help_search.cpp
  editor/editor_node.cpp
  editor/export_template_manager.cpp
  editor/filesystem_dock.cpp
  editor/find_in_files.cpp
  editor/groups_editor.cpp
  editor/import_dock.cpp
  editor/input_map_editor.cpp
  editor/plugin_config_dialog.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_export.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/property_selector.cpp
  editor/quick_open.cpp
  editor/rename_dialog.cpp
  editor/reparent_dialog.cpp
  editor/scene_tree_dock.cpp
  editor/script_create_dialog.cpp
  editor/settings_config_dialog.cpp
  modules/gdnative/gdnative_library_editor_plugin.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_property_selector.cpp
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
  scene/gui/file_dialog.cpp
Labels: breaks compat, enhancement, topic:codestyle, topic:gui

#44384 Increase the default 3D manipulator gizmo opacity for better visibility
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#36530 Add outline to ruler tool
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#44371 [fbx] fix crash in FBX parser caused by mesh geometry
  modules/fbx/editor_scene_importer_fbx.cpp
  modules/fbx/fbx_parser/FBXMeshGeometry.cpp
  modules/fbx/fbx_parser/FBXTokenizer.cpp
  modules/fbx/fbx_parser/FBXTokenizer.h
Labels: bug, crash, topic:import

#44377 Rename the TextureProgress node to TextureProgressBar
  doc/classes/TextureProgressBar.xml
  editor/editor_audio_buses.cpp
  editor/editor_audio_buses.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/icons/TextureProgressBar.svg
  scene/gui/texture_progress_bar.cpp
  scene/gui/texture_progress_bar.h
  scene/register_scene_types.cpp
Labels: breaks compat, enhancement, topic:gui

#44372 Rename Animation::track_remove_key_at_position to track_remove_key_at_time
  doc/classes/Animation.xml
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: breaks compat, enhancement, topic:core

#44391 Remove Generic6DOFJoint precision property
  doc/classes/Generic6DOFJoint3D.xml
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/bullet/generic_6dof_joint_bullet.h
  scene/3d/physics_joint_3d.cpp
  scene/3d/physics_joint_3d.h
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_server_3d.h
Labels: breaks compat, bug, topic:physics

#44392 [3.2] Remove Generic6DOFJoint precision property
  doc/classes/Generic6DOFJoint.xml
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/bullet/generic_6dof_joint_bullet.h
  scene/3d/physics_joint.cpp
  scene/3d/physics_joint.h
  servers/physics/physics_server_sw.h
  servers/physics_server.h
Labels: breaks compat, bug, topic:physics

#44400 Fix incorrect error messages when writing to compressed or encrypted files
  core/io/file_access_compressed.cpp
  core/io/file_access_encrypted.cpp
Labels: bug, cherrypick:3.2, topic:core

#43890 GDScript: Refactor builtin functions
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_utility_functions.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/register_types.cpp
Labels: enhancement, topic:gdscript

#44275 Use pointer parameters in Variant function pointers
  core/variant/variant.h
  core/variant/variant_construct.cpp
  core/variant/variant_setget.cpp
  modules/gdscript/gdscript_vm.cpp
Labels: bug, enhancement, topic:core

#44406 Add PtrConstruct template to use in Variant constructors
  core/variant/method_ptrcall.h
  core/variant/variant_construct.cpp
Labels: bug, topic:core

#44286 Fixes to recent Vulkan errors
  servers/rendering/renderer_rd/renderer_scene_render_forward.cpp
  servers/rendering/renderer_rd/shaders/sdfgi_fields.glsl
Labels: bug, topic:rendering

#44421 Fix named anonymous struct warning
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:porting

#44419 fixes crash in disassembler for opcode OPCODE_ASSIGN_TYPED_NATIVE
  modules/gdscript/gdscript_disassembler.cpp
Labels: bug, crash, topic:gdscript

#44423 [4.0] TextEdit virtual keyboard cursor fix
  scene/gui/text_edit.cpp
Labels: bug, topic:gui, topic:input

#44412 Rename neighbour in Control to neighbor
  doc/classes/Control.xml
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/viewport.cpp
Labels: breaks compat, enhancement, topic:gui

#44414 Document what can be used as a type hint
  doc/classes/ResourceLoader.xml
Labels: documentation, enhancement

#44418 [3.2] Document what can be used as a type hint
  doc/classes/ResourceLoader.xml
Labels: documentation, enhancement

#44404 Added a note describing a code behind Vector2/3.direction_to
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
Labels: cherrypick:3.2, documentation, enhancement

#44366 Improve Texture3D and TextureArray icons
  editor/icons/Texture3D.svg
  editor/icons/TextureArray.svg
Labels: enhancement, topic:editor

#44341 Add important note about OS.get_unixtime.
  doc/classes/OS.xml
Labels: documentation, enhancement

#44424 Fix gdscript `and` operator
  modules/gdscript/gdscript_byte_codegen.cpp
Labels: bug, topic:gdscript

#44428 Revert "Don't open editor window when using --export, --doctool, or --gdnative-generate-json-api"
  main/main.cpp
Labels: bug, regression, topic:editor

#44429 Changed the rotation gizmo handle to use the active axis color
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor
