Repository godotengine/godot, pull requests merged in 2020-10, with the labels that each got.

#42446 Fix glow on devices with only 8 texture slots in GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/shaders/tonemap.glsl
Labels: bug, topic:rendering

#42448 Made toplevel a property for Node3D and CanvasItem
  doc/classes/CanvasItem.xml
  doc/classes/Node3D.xml
  scene/3d/node_3d.cpp
  scene/main/canvas_item.cpp
Labels: enhancement, topic:core

#42452 Add an option to select a predifined constant in visual shader editor
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, topic:shaders, usability

#42454 [4.0] [iOS] Add touch delay value to project settings
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/iphone/SCsub
  platform/iphone/godot_view_gesture_recognizer.h
  platform/iphone/godot_view_gesture_recognizer.mm
Labels: enhancement, platform:ios, topic:input

#42457 [3.2] [iOS] Add touch delay value to project settings
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/iphone/SCsub
  platform/iphone/gl_view_gesture_recognizer.h
  platform/iphone/gl_view_gesture_recognizer.mm
Labels: enhancement, platform:ios, topic:input

#42458 Fix scale cursor rotation and handle diagonal ones
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42435 Improve the `String.is_valid_ip_address()` documentation
  doc/classes/String.xml
Labels: cherrypick:3.2, documentation, enhancement

#42442 Clarify store_string vs store_line.
  doc/classes/File.xml
Labels: cherrypick:3.2, documentation, enhancement

#41866 Disable decayment of freed Objects to null in debug builds
  core/variant.cpp
  core/variant.h
  core/variant_op.cpp
Labels: bug, topic:core

#41185 [3.2] Added UniformRef visual shader node
  doc/classes/VisualShaderNodeUniformRef.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:shaders

#41200 [3.2] Mark the first shape as inside, not the second shape, when CSG shapes are co-planer.
  modules/csg/csg.cpp
Labels: bug, topic:core

#40582 [4.0] iOS Game Center improvements
  platform/iphone/game_center.h
  platform/iphone/game_center.mm
  platform/iphone/os_iphone.mm
Labels: enhancement, platform:ios, topic:porting

#40555 Fix debugger not getting focused on break on Windows (3.2)
  main/main.cpp
  scene/debugger/script_debugger_remote.cpp
  scene/debugger/script_debugger_remote.h
Labels: bug, topic:editor

#40461 [3.2] Optimized ScriptEditor initialization when many scripts are loaded
  editor/code_editor.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
Labels: enhancement, topic:editor, usability

#40205 [3.2] Add mouse event pass-through support for window.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/detect.py
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: enhancement, platform:linuxbsd, platform:macos, platform:windows, topic:gui, topic:porting

#38743 Update all get_configuration_warning() to retrieve warnings from the parent
  editor/scene_tree_editor.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/2d/canvas_modulate.cpp
  scene/2d/collision_polygon_2d.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/2d/light_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_obstacle_2d.cpp
  scene/2d/navigation_region_2d.cpp
  scene/2d/parallax_layer.cpp
  scene/2d/path_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/remote_transform_2d.cpp
  scene/2d/skeleton_2d.cpp
  scene/2d/visibility_notifier_2d.cpp
  scene/3d/collision_polygon_3d.cpp
  scene/3d/collision_shape_3d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gi_probe.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/3d/light_3d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_obstacle_3d.cpp
  scene/3d/navigation_region_3d.cpp
  scene/3d/path_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/remote_transform_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/vehicle_body_3d.cpp
  scene/3d/world_environment.cpp
  scene/3d/xr_nodes.cpp
  scene/animation/animation_tree.cpp
  scene/gui/container.cpp
  scene/gui/control.cpp
  scene/gui/range.cpp
  scene/gui/scroll_container.cpp
  scene/main/shader_globals_override.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#37226 [3.2] Update get_configuration_warning() overrides to retrieve warnings from parent class
  scene/2d/animated_sprite.cpp
  scene/2d/canvas_modulate.cpp
  scene/2d/collision_polygon_2d.cpp
  scene/2d/collision_shape_2d.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/light_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/2d/navigation_polygon.cpp
  scene/2d/parallax_layer.cpp
  scene/2d/particles_2d.cpp
  scene/2d/path_2d.cpp
  scene/2d/remote_transform_2d.cpp
  scene/2d/visibility_notifier_2d.cpp
  scene/3d/arvr_nodes.cpp
  scene/3d/collision_polygon.cpp
  scene/3d/collision_shape.cpp
  scene/3d/cpu_particles.cpp
  scene/3d/gi_probe.cpp
  scene/3d/navigation_mesh.cpp
  scene/3d/particles.cpp
  scene/3d/path.cpp
  scene/3d/remote_transform.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/vehicle_body.cpp
  scene/3d/world_environment.cpp
  scene/gui/popup.cpp
  scene/gui/scroll_container.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#41829 Avoid warning about harmless unfulfilled yields
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#41830 Avoid warning about harmless unfulfilled yields (3.2)
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#42460 [3.2] GDScript signal lines marked as safe
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#40473 Fix return type on EditorNode3DGizmoPlugin::get_priority.
  doc/classes/EditorNode3DGizmoPlugin.xml
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, documentation, topic:editor, topic:gdscript

#42464 CI: Disable sanitizer builds until we fix them
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#42461 Cherry-picks for the 3.2 branch (future 3.2.4) - 3rd batch
  core/func_ref.cpp
  core/func_ref.h
  doc/classes/CanvasItem.xml
  doc/classes/File.xml
  doc/classes/FuncRef.xml
  doc/classes/Spatial.xml
  doc/classes/String.xml
  editor/editor_resource_preview.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  modules/mono/csharp_script.cpp
  scene/2d/canvas_item.cpp
  scene/3d/spatial.cpp
Labels: bug, documentation, enhancement, topic:core, topic:editor

#42467 Updates size of float constant in visual shader if empty is selected
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor

#42469 Changes mention of Node3D back to Spatial on 3.2
  editor/scene_tree_dock.cpp
Labels: bug, regression, topic:editor

#42466 [3.2] Fix leak with events mutex in OS_X11
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, regression, topic:porting

#42459 [3.2] [iOS] Fix compilation warnings and deprecated API
  .github/workflows/ios_builds.yml
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  modules/arkit/arkit_interface.mm
  modules/arkit/arkit_session_delegate.h
  modules/camera/camera_ios.mm
  platform/iphone/SCsub
  platform/iphone/app_delegate.h
  platform/iphone/app_delegate.mm
  platform/iphone/game_center.mm
  platform/iphone/godot_view.h
  platform/iphone/godot_view.mm
  platform/iphone/godot_view_gesture_recognizer.h
  platform/iphone/godot_view_gesture_recognizer.mm
  platform/iphone/icloud.mm
  platform/iphone/in_app_store.mm
  platform/iphone/ios.mm
  platform/iphone/main.m
  platform/iphone/os_iphone.mm
  platform/iphone/view_controller.h
  platform/iphone/view_controller.mm
Labels: enhancement, platform:ios, topic:buildsystem, topic:porting

#42430 Document contributing tests to Godot's C++ codebase
  CONTRIBUTING.md
Labels: enhancement

#42471 [2.1] Fixes for cursor handling in RichTextLabel
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#42472 CI: Re-enable sanitizers build
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#42477 [4.0] Fix `screen_get_dpi` on macOS.
  doc/classes/DisplayServer.xml
  platform/osx/display_server_osx.mm
Labels: bug, platform:macos, topic:porting

#42478 [3.2] Fix `get_screen_dpi` on macOS.
  doc/classes/OS.xml
  platform/osx/os_osx.mm
Labels: bug, platform:macos, topic:porting

#42490 Fix VisualShaderNode::set_output_port_connected
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:core

#40900 [3.2] Optimizations for Fresnel and TextureUniform nodes in visual shaders
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:shaders

#42493 Better validate CollisionShape3D config. warning after #38743
  scene/2d/light_2d.cpp
  scene/3d/collision_shape_3d.cpp
  scene/3d/navigation_region_3d.cpp
Labels: enhancement, topic:editor

#42480 Fix extra padding for numbers with signs
  core/ustring.cpp
  modules/gdscript/doc_classes/@GDScript.xml
Labels: bug, cherrypick:3.2, topic:gdscript

#42495 Better validate CollisionShape config. warning after #37226
  scene/2d/collision_shape_2d.cpp
  scene/3d/collision_shape.cpp
Labels: bug, topic:editor

#42451 Renamed toplevel to be top_level
  doc/classes/CanvasItem.xml
  doc/classes/Node3D.xml
  editor/animation_track_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_inspector.cpp
  editor/editor_spin_slider.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/soft_body_3d.cpp
  scene/gui/box_container.cpp
  scene/gui/center_container.cpp
  scene/gui/color_picker.cpp
  scene/gui/control.cpp
  scene/gui/dialogs.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_node.cpp
  scene/gui/margin_container.cpp
  scene/gui/panel_container.cpp
  scene/gui/popup.cpp
  scene/gui/scroll_container.cpp
  scene/gui/split_container.cpp
  scene/gui/tab_container.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/viewport.cpp
Labels: breaks compat, enhancement, topic:core

#40557 iOS Game Center improvements
  platform/iphone/game_center.h
  platform/iphone/game_center.mm
  platform/iphone/os_iphone.mm
Labels: enhancement, platform:ios, topic:porting

#32475 Showing and hiding geometry updates shadows (3.2)
  servers/visual/visual_server_scene.cpp
Labels: bug, topic:rendering

#35202 Make fake int mod op (%) actually return int
  drivers/gles2/shader_compiler_gles2.cpp
Labels: bug, topic:shaders

#42501 glTF: Fix parsing buffer data with application/gltf-buffer and image/* MIME types
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, cherrypick:3.2, topic:import

#42500 Check entire basis column for zero size when unscaling Bullet basis.
  modules/bullet/bullet_types_converter.cpp
Labels: bug, cherrypick:3.2, regression, topic:physics

#42266 [3.2] [HTML5] Synchronous main, better persistence, handlers fixes, optional full screen.
  misc/dist/html/full-size.html
  platform/javascript/engine/engine.js
  platform/javascript/export/export.cpp
  platform/javascript/javascript_main.cpp
  platform/javascript/native/utils.js
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: bug, enhancement, platform:html5, topic:porting

#42511 Updated NinePatchRect's patch margin descriptions
  doc/classes/NinePatchRect.xml
Labels: cherrypick:3.2, documentation, enhancement

#42513 Remove area or body from map before emitting signals.
  scene/2d/area_2d.cpp
  scene/3d/area_3d.cpp
Labels: bug, topic:physics

#42514 [3.2] Remove area or body from area map before emitting signals.
  scene/2d/area_2d.cpp
  scene/3d/area.cpp
Labels: bug, topic:physics

#42530 Remove reference to 3D shapes in RigidBody2D.xml contacts description.
  doc/classes/RigidBody2D.xml
Labels: cherrypick:3.2, documentation, enhancement

#42527 Don't write global script class information if there is none
  core/script_language.cpp
  editor/editor_data.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#42535 [3.2] Fix gdscript multiline string nested highlighting
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:editor, topic:gdscript

#42534 Switch from recursion to iterative for backfilling colour regions
  modules/gdscript/editor/gdscript_highlighter.cpp
  scene/resources/syntax_highlighter.cpp
Labels: bug, crash, topic:core, topic:editor

#42537 Use full float UVs in Sprite3D
  scene/3d/sprite_3d.cpp
Labels: bug, regression, topic:rendering

#42532 Fix how Line2D obtains the other object's supports
  servers/physics_2d/collision_solver_2d_sw.cpp
Labels: bug, cherrypick:3.2, topic:physics

#42539 Fix default parameter in Texture visual shader nodes for sky/particles modes
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:shaders

#42518 Updated getters and setters names for toplevel
  doc/classes/Control.xml
  doc/translations/ar.po
  doc/translations/ca.po
  doc/translations/classes.pot
  doc/translations/cs.po
  doc/translations/de.po
  doc/translations/es.po
  doc/translations/fa.po
  doc/translations/fi.po
  doc/translations/fr.po
  doc/translations/id.po
  doc/translations/it.po
  doc/translations/ja.po
  doc/translations/ko.po
  doc/translations/nl.po
  doc/translations/pl.po
  doc/translations/pt_BR.po
  doc/translations/ro.po
  doc/translations/ru.po
  doc/translations/sr_Cyrl.po
  doc/translations/th.po
  doc/translations/tr.po
  doc/translations/uk.po
  doc/translations/zh_Hans.po
  doc/translations/zh_Hant.po
  editor/editor_file_dialog.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  modules/bullet/space_bullet.cpp
  scene/3d/node_3d.cpp
  scene/3d/soft_body_3d.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/file_dialog.cpp
  scene/gui/tab_container.cpp
  scene/gui/tree.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Labels: breaks compat, topic:core

#42538 Use separate texture unit for light_texture
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
Labels: bug, topic:rendering, topic:shaders

#42553 Fix typo in VisualShaderNodeSample3D::generate_code
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:shaders

#42550 Return proper texture view format for decals
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: bug, topic:rendering

#42561 [HTML5] Scons now expects "emcc" to be in PATH.
  platform/javascript/detect.py
  platform/javascript/emscripten_helpers.py
Labels: cherrypick:3.2, enhancement, platform:html5, topic:buildsystem

#42439 Cross-reference GDScript `load` and `ResourceLoader.load` in classref
  doc/classes/ResourceLoader.xml
  modules/gdscript/doc_classes/@GDScript.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:core

#42565 Cherry-picks for the 3.2 branch (future 3.2.4) - 4th batch
  core/script_language.cpp
  core/ustring.cpp
  doc/classes/Animation.xml
  doc/classes/EditorSpatialGizmoPlugin.xml
  doc/classes/NinePatchRect.xml
  doc/classes/ResourceLoader.xml
  doc/classes/RigidBody2D.xml
  editor/editor_data.cpp
  editor/plugins/spatial_editor_plugin.cpp
  modules/bullet/bullet_types_converter.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  platform/javascript/detect.py
  platform/javascript/emscripten_helpers.py
  scene/resources/animation.cpp
  servers/physics_2d/collision_solver_2d_sw.cpp
Labels: bug, documentation, enhancement, topic:core, topic:editor

#42504 glTF: Fix parsing image data with `mimeType` undefined
  editor/import/editor_scene_importer_gltf.cpp
  scene/resources/mesh.cpp
Labels: bug, cherrypick:3.2, topic:import

#42571 Improve format version mismatch error in binary loader
  core/io/resource_format_binary.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#42577 Better non alphanumeric bone names.
  editor/import/editor_scene_importer_gltf.cpp
Labels: bug, cherrypick:3.2, topic:import

#42580 Check for global script class information before clearing it
  core/script_language.cpp
  editor/editor_data.cpp
Labels: cherrypick:3.2, regression, topic:core

#42590 [3.2] Fix undo for moving multiple visual shader nodes
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor

#42589 Added more helpful error message for animation player
  scene/animation/animation_player.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#42591 SCons: Add 'default' parameter for windows_subsystem, restores original behavior
  platform/windows/detect.py
Labels: enhancement, platform:windows, topic:buildsystem

#42314 Fixed renaming/moving of nodes with exported NodePaths in the editor
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42606 Improve the Vector2 rotated code in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
Labels: enhancement, topic:mono

#40097 Fix natural sort comparison for strings with large numbers
  core/ustring.cpp
Labels: bug, cherrypick:3.2, topic:core

#42615 Fix build after merge of #40097
  core/ustring.cpp
Labels: bug, topic:core

#42610 Fixed a bug which caused Set Index to not function
  modules/visual_script/visual_script_nodes.cpp
Labels: bug, cherrypick:3.2, topic:visualscript

#42634 SCons: Refactor and cleanup warnings definition
  SConstruct
  platform/uwp/detect.py
  platform/windows/detect.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#42639 Reverted physics body spawn optimization #39726 #40252
  modules/bullet/area_bullet.cpp
  modules/bullet/area_bullet.h
  modules/bullet/bullet_physics_server.h
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/collision_object_bullet.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
  modules/bullet/soft_body_bullet.cpp
  modules/bullet/soft_body_bullet.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
Labels: enhancement, topic:physics

#42621 Cancel rename if file does not exist
  core/bind/core_bind.cpp
Labels: bug, topic:core

#42622 Docs change: More detailed description of StreamPeerTCP.is_connected_to_host()
  doc/classes/StreamPeerTCP.xml
Labels: cherrypick:3.2, documentation, enhancement

#42644 Fixed an issue in UWP export caused by duplicate entry for extensions in content types file.
  platform/uwp/export/export.cpp
Labels: bug, cherrypick:3.2, platform:uwp, topic:editor

#40313 Option for software skinning in MeshInstance
  doc/classes/MeshInstance.xml
  doc/classes/ProjectSettings.xml
  doc/classes/VisualServer.xml
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  scene/3d/mesh_instance.cpp
  scene/3d/mesh_instance.h
  scene/3d/skeleton.cpp
  scene/3d/skeleton.h
  scene/3d/visual_instance.h
  servers/visual/rasterizer.cpp
  servers/visual/rasterizer.h
  servers/visual_server.cpp
Labels: enhancement, topic:core, topic:rendering

#42647 Fix x11 display server crash when deleting popup window when unfocused
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, crash, platform:linuxbsd, regression, topic:gui

#41881 GDScript crash on builtin type constructor fix
  modules/gdscript/gdscript_byte_codegen.cpp
Labels: bug, crash, topic:gdscript

#42623 C# GodotTools: Replace platform Identifier "OSX" with "macOS"
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
  modules/mono/editor/GodotTools/GodotTools/Export/AotBuilder.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MonoDevelop/Instance.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathLocator.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/OS.cs
Labels: bug, platform:macos, topic:mono

#42663 Fix Popup crash in single window mode
  scene/main/window.cpp
Labels: bug, crash, regression, topic:gui

#42668 [Windows, MSVC] Correctly set source file encoding.
  platform/uwp/detect.py
  platform/windows/detect.py
Labels: bug, cherrypick:3.2, platform:windows, regression, topic:buildsystem

#42669 Mono: Fix typo in Godot.NET.Sdk.nuspec
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.nuspec
Labels: bug, cherrypick:3.2, topic:mono

#42548 Add METALLIC to light() built-ins
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:shaders

#42670 Add pan gesture to AnimationTree's StateMachine editor
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42672 doc: Sync classref with current source
  doc/classes/Animation.xml
  doc/classes/ArrayMesh.xml
  doc/classes/Basis.xml
  doc/classes/CanvasItem.xml
  doc/classes/FuncRef.xml
  doc/classes/Node3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/VisualShaderNode.xml
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
Labels: documentation, enhancement

#42628 Implement GPU Particle Collisions
  core/math/vector2.h
  core/thread_work_pool.h
  editor/editor_node.cpp
  editor/import/resource_importer_layered_texture.cpp
  editor/node_3d_editor_gizmos.cpp
  editor/node_3d_editor_gizmos.h
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/gpu_particles_collision_3d.h
  scene/register_scene_types.cpp
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/particles.glsl
  servers/rendering/rendering_server_raster.cpp
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_wrap_mt.cpp
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering/shader_types.cpp
  servers/rendering_server.h
Labels: enhancement, feature proposal, topic:rendering

#42660 Removed unused method Geometry3D.get_uv84_normal_bit
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/math/geometry_3d.h
  doc/classes/Geometry3D.xml
Labels: enhancement, topic:core

#42568 Make AABB change trigger bounding box update
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42683 Add ability to bind an unbind arguments to Callable.
  core/callable.cpp
  core/callable.h
  core/callable_bind.cpp
  core/callable_bind.h
  core/core_string_names.cpp
  core/core_string_names.h
  core/object.cpp
  core/object.h
  core/variant_call.cpp
  editor/scene_tree_dock.cpp
Labels: enhancement, feature proposal, topic:core

#42692 Adds Metallic to spatial light input of visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:shaders

#42694 Recommend restarting after changing the reflection atlas size or HDR
  scene/main/scene_tree.cpp
Labels: enhancement, topic:editor

#42732 Free a SortShader and a ParticlesCopyShader
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: bug, topic:rendering

#42733 Ensure grid index is valid before trying to change value.
  editor/editor_properties.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:physics

#42684 Fix HTTPClient::poll crash after connection is self-assigned
  core/io/http_client.cpp
Labels: bug, cherrypick:3.2, crash, topic:network

#42744 Fixes leaks with shader and material
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: bug, topic:rendering

#42749 Bind missing constant in VisualScriptPropertyGet
  modules/visual_script/visual_script_func_nodes.cpp
Labels: bug, cherrypick:3.2, topic:visualscript

#42750 Change per frame software skinning check to is_visible
  scene/3d/mesh_instance.cpp
Labels: bug, topic:rendering

#42758 Respect Tree.set_icon_max_width size for drawing selection box
  scene/gui/tree.cpp
Labels: bug, cherrypick:3.2, topic:gui

#42696 Updating KinematicBody2D "is_on" functions' descriptions
  doc/classes/KinematicBody2D.xml
  doc/classes/KinematicBody3D.xml
Labels: documentation, topic:physics

#42592 Initialise Bullet RigidBody friction to the expected value of 1.0
  modules/bullet/rigid_body_bullet.cpp
Labels: breaks compat, bug, topic:physics

#42731 Fix code duplication in CSharpScript
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, enhancement, topic:mono

#42737 Show android device name when connected only one device
  editor/editor_run_native.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42489 Reset TileMapEditor painting state on application refocus
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: bug, cherrypick:3.2, topic:editor, usability

#42632 Fix Typo ProjectSettings.xml, in Editor/Script Templates description
  doc/classes/ProjectSettings.xml
Labels: bug, cherrypick:3.2, documentation

#41576 Remove redundant property "enabled_focus_mode"
  doc/classes/BaseButton.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  scene/gui/base_button.cpp
  scene/gui/base_button.h
  scene/gui/link_button.cpp
  scene/gui/menu_button.cpp
Labels: enhancement, topic:gui

#42748 Don't try to compare freed object to nullptr
  editor/shader_globals_editor.cpp
Labels: bug, topic:editor

#42604 Correct the doc about linear damping
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
Labels: bug, cherrypick:3.2, documentation, topic:physics

#42763 Fix autocompletion for emit_particle in shader editor
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:editor, topic:shaders

#42734 Fix buffer orphaning on desktop
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
Labels: bug, topic:rendering

#42776 Fixed main gutter not drawing on item toggle
  scene/gui/code_edit.cpp
Labels: bug, topic:core

#42780 Refactored binding system for core types
  core/array.cpp
  core/array.h
  core/callable_method_pointer.h
  core/math/aabb.cpp
  core/math/aabb.h
  core/math/plane.cpp
  core/math/plane.h
  core/math/rect2.h
  core/simple_type.h
  core/ustring.cpp
  core/ustring.h
  core/variant.h
  core/variant_call.cpp
  core/variant_internal.h
  editor/localization_editor.cpp
Labels: enhancement, topic:core

#42798 Link the Random number generation tutorial in the class reference
  doc/classes/RandomNumberGenerator.xml
  modules/gdscript/doc_classes/@GDScript.xml
Labels: cherrypick:3.2, documentation, enhancement

#42808 Refactor delete nodes functions in visual shader editor
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:codestyle, topic:editor

#42791 EditorNode now copies all drag and dropped files.
  editor/editor_node.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, topic:import, usability

#42812 Clarify that `MultiMesh.set_instance_color()` multiplies vertex colors
  doc/classes/MultiMesh.xml
Labels: cherrypick:3.2, documentation, enhancement

#42813 Fix copy/paste/duplicate for particle mode in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#42814 Fix typo in soft shadow quality project settings hints
  servers/rendering_server.cpp
Labels: bug, topic:editor

#42804 Fix application of window in FFT
  servers/audio/effects/audio_effect_spectrum_analyzer.cpp
Labels: bug, cherrypick:3.2, topic:audio

#42818 Fix visual shader node expression undo/redo for set_size and expression
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor

#42649 Reapply -Avoid adding margin twice along capsule Y axis
  modules/bullet/shape_bullet.cpp
Labels: enhancement, topic:physics

#42778 Remove old RigidBody get_layers() methods.
  doc/classes/PhysicsBody2D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
Labels: enhancement, topic:physics

#42823 Update intersect_point documentation to mention solid shapes.
  doc/classes/PhysicsDirectSpaceState2D.xml
Labels: documentation, enhancement, topic:physics

#42422 CI: upload artifacts
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.disabled
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#42837 Fix "fixed" fog drawing in front of volumetric fog with a sky background
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/sky.glsl
Labels: bug, topic:rendering

#42315 core/command_queue_mt.h: Fix crash/hang when buffer fills up
  core/command_queue_mt.cpp
  core/command_queue_mt.h
  tests/test_command_queue.h
  tests/test_main.cpp
Labels: bug, topic:core

#42838 Document OmniLight/SpotLight rendering limitations
  doc/classes/OmniLight.xml
  doc/classes/SpotLight.xml
Labels: documentation, enhancement

#42846 Fix mesh instance materials not initialized correctly
  scene/3d/mesh_instance.cpp
Labels: bug, regression, topic:rendering

#42629 [3.2] CI: Fix Android and HTML5 workflows
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
Labels: enhancement, topic:buildsystem

#42845 ci: do not use set-env
  .github/workflows/android_builds.yml
Labels: enhancement, topic:buildsystem

#42679 CI: Refactor build workflows to use `SCONSFLAGS`
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.disabled
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
Labels: enhancement, topic:buildsystem

#42867 Add GetStringFromUTF8 and GetStringFromASCII to C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: cherrypick:3.2, enhancement, topic:mono

#42865 Document that setting node name will remove @s
  doc/classes/Node.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:core

#42873 node_3d_editor_plugin.h: Update header guard
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:codestyle

#41418 Add aerial perspective to fixed fog
  doc/classes/Environment.xml
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
  servers/rendering/rasterizer_rd/shaders/sky.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: feature proposal, topic:rendering

#38949 Continue tracing screen space reflection after encountering sky
  servers/rendering/rasterizer_rd/shaders/screen_space_reflection.glsl
Labels: bug, topic:rendering

#41892 Fade screen-space reflection towards inner margin
  drivers/gles3/shaders/screen_space_reflection.glsl
Labels: bug, topic:rendering

#38954 Check if screen space reflection has passed far clip
  drivers/gles3/shaders/screen_space_reflection.glsl
Labels: bug, topic:rendering

#42201 Optimize Glow with local memory
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/dummy/rasterizer_dummy.h
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/copy.glsl
  servers/rendering/rasterizer_rd/shaders/tonemap.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#41415 Add FOG, RADIANCE, and IRRADIANCE shader overrides
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/sky.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:shaders

#42077 Replace SAO implementation with MSSAO
  doc/classes/Environment.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/editor_node.cpp
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/SCsub
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/ssao.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_blur.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_downsample1.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_downsample2.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_minify.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_render.glsl
  servers/rendering/rasterizer_rd/shaders/ssao_upsample.glsl
  servers/rendering/rendering_device.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#42878 Keep 'Editor Description' metadata when changing a Node's type
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42579 Documentation change: Explaining the behavior of focus stylebox overlapping the pressed stylebox
  doc/classes/StyleBox.xml
Labels: cherrypick:3.2, documentation, enhancement

#41577 Deprecate Redundant property enabled_focus_mode
  doc/classes/BaseButton.xml
  scene/gui/base_button.cpp
  scene/gui/link_button.cpp
  scene/gui/menu_button.cpp
Labels: enhancement, topic:gui

#42558 Added visual shader node to easy gather data from a CurveTexture
  doc/classes/VisualShaderNodeCurveTexture.xml
  doc/classes/VisualShaderNodeGroupBase.xml
  doc/classes/VisualShaderNodeResizableBase.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:editor, topic:shaders

#42900 Remove code to add patches menu
  editor/editor_export.cpp
  editor/editor_export.h
  editor/project_export.cpp
  editor/project_export.h
Labels: bug, cherrypick:3.2, topic:editor

#40849 Cause buffer_update to emit error if called during compute/draw list
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering

#41629 Disable lights for objects with baked lighting
  doc/classes/VisualServer.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  scene/3d/light.cpp
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: breaks compat, enhancement, topic:rendering
