Repository godotengine/godot, pull requests merged in 2020-06, with the labels that each got.

#39172 Update OSX joypad GUID to SDL uid conversion.
  platform/osx/joypad_osx.cpp
Labels: bug, cherrypick:3.2, platform:osx, topic:input

#39227 Fix inconsistent error messages with Android custom export templates
  platform/android/export/export.cpp
Labels: bug, cherrypick:3.2, platform:android, topic:editor, topic:porting

#39162 3.2 Light2D shadow mask construction fix
  servers/visual/rasterizer.h
Labels: bug, topic:rendering

#39234 Clarify usage of AnimationPlayer with AnimationTree and fill empty doc descriptions
  doc/classes/AnimationTree.xml
Labels: cherrypick:3.2, documentation, enhancement

#39214 Improved warning shown when autoload cannot be added.
  editor/editor_autoload_settings.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39210 Add performance hints to the DirectionalLight shadow mode property hint
  doc/classes/DirectionalLight3D.xml
  scene/3d/light_3d.cpp
Labels: cherrypick:3.2, documentation, enhancement, topic:editor

#39243 [3.2] Fix macOS global menu removal and preserve order.
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
Labels: bug, platform:osx, topic:porting

#39203 Prevent crash attaching a script with no languages registered
  editor/scene_tree_dock.cpp
  editor/script_create_dialog.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39201 Print errors when calling MIDI input methods on unsupported platforms
  core/os/os.cpp
Labels: cherrypick:3.2, enhancement, topic:audio

#39150 Grabbing focus on ProjectList after clicking an item.
  editor/project_manager.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39130 Disable antialiasing on the DynamicFont outline as well when requested
  doc/classes/DynamicFontData.xml
  scene/resources/dynamic_font.cpp
Labels: bug, cherrypick:3.2, topic:core

#39113 Add color option for img bbcode tag in RichTextLabel to tint images
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:core

#39240 SCons: Validate dependencies for linked multimedia modules
  SConstruct
  methods.py
  modules/opus/config.py
  modules/theora/config.py
  modules/vorbis/config.py
  modules/webm/config.py
Labels: enhancement, topic:buildsystem

#39254 Vulkan: Initialize struct members on declaration
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.h
Labels: enhancement, topic:rendering

#39257 Fix docs generation for Vector2i/Vector3i/Rect2i
  core/variant_call.cpp
  doc/classes/Rect2i.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3i.xml
Labels: bug, documentation, topic:core

#39260 Allow get_script() to be considered a type
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#39264 Fix shader's length() function parsing in expressions
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_compiler_gles2.h
  servers/rendering/rasterizer_rd/shader_compiler_rd.cpp
  servers/rendering/rasterizer_rd/shader_compiler_rd.h
Labels: bug, topic:shaders

#39265 [3.2] Fix shader's length() function parsing in expressions
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_compiler_gles2.h
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shader_compiler_gles3.h
Labels: bug, topic:shaders

#36366 RichTextLabel: allow 'scroll_to_line' when scroll_active is 'false'
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_bar.h
Labels: bug, topic:gui

#39009 Improve the text appearance in the script editor warnings panel
  editor/plugins/script_text_editor.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#39164 Fixes the right and center alignment bug of rich text label
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#39262 Change OK text in snap dialog to OK
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39270 Update property hint from ArrayMesh to be consistent with other property hints
  scene/resources/primitive_meshes.cpp
Labels: enhancement, topic:editor

#39165 Implement zooming using Ctrl + Mouse wheel in the TileMap editor
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#39167 Allow mouse zooming without hovering the texture in the TileSet editor
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
Labels: bug, cherrypick:3.2, topic:editor, usability

#37839 FIX CodeTextEditor not respecting focus in _input
  editor/code_editor.cpp
Labels: bug, topic:editor

#39204 Add a getter and property for the editor distraction-free mode
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, topic:plugin

#39271 Fix excessive bottom cropping in atlas generation
  editor/import/resource_importer_texture_atlas.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39154 Preserving "Sync Scene Changes" & "Sync Script Changes" with Project Settings
  editor/plugins/debugger_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39060 Update Windows GUID to SDL uid conversion.
  platform/windows/joypad_windows.cpp
Labels: bug, cherrypick:3.2, platform:windows, topic:input

#38924 Tweak the import compression property hint for clarity
  editor/import/resource_importer_layered_texture.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39041 Fix crashing of VisualScript due to function change
  modules/visual_script/visual_script_editor.cpp
Labels: bug, cherrypick:3.2, crash, topic:visualscript

#39099 Add fallback icons and make custom ones appear in the recent/favorites list in the "Create New" dialog
  editor/create_dialog.cpp
Labels: bug, cherrypick:3.2, enhancement, topic:editor

#39280 Cherry-picks for the 3.2 branch (future 3.2.2) - 7th batch
  AUTHORS.md
  COPYRIGHT.txt
  DONORS.md
  SConstruct
  core/os/os.cpp
  core/project_settings.cpp
  doc/classes/AnimationTree.xml
  doc/classes/BitmapFont.xml
  doc/classes/DirectionalLight.xml
  doc/classes/DynamicFontData.xml
  doc/classes/EditorInterface.xml
  doc/classes/Font.xml
  doc/classes/ProjectSettings.xml
  doc/tools/makerst.py
  drivers/windows/dir_access_windows.cpp
  editor/create_dialog.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture_atlas.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/tile_map_editor_plugin.cpp
  editor/plugins/tile_map_editor_plugin.h
  editor/plugins/tile_set_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.h
  editor/project_manager.cpp
  editor/scene_tree_dock.cpp
  editor/script_create_dialog.cpp
  methods.py
  modules/gdscript/gdscript_function.cpp
  modules/mono/csharp_script.cpp
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/mono_gd/gd_mono.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/xatlas_unwrap/register_types.cpp
  platform/android/export/export.cpp
  platform/android/java/app/build.gradle
  platform/android/plugin/godot_plugin_config.h
  platform/osx/joypad_osx.cpp
  platform/windows/joypad_windows.cpp
  platform/windows/os_windows.cpp
  scene/3d/light.cpp
  scene/gui/color_picker.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_bar.h
  scene/resources/dynamic_font.cpp
  scene/resources/font.cpp
  thirdparty/README.md
  thirdparty/xatlas/LICENSE
  thirdparty/xatlas/xatlas.cpp
  thirdparty/xatlas/xatlas.h
Labels: bug, enhancement, topic:core, topic:editor

#39284 Enable text selection in the execute output of EditorNode
  editor/editor_node.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#39281 Check if the specified Android release keystore exists
  platform/android/export/export.cpp
Labels: bug, cherrypick:3.2, platform:android, topic:editor, usability

#39276 Added predefined var check for `for` loop counter
  modules/gdscript/gdscript_parser.cpp
Labels: cherrypick:3.2, enhancement, topic:gdscript

#39289 Add "shader_param/" prefix in Shader::has_param()
  scene/resources/shader.cpp
Labels: bug, cherrypick:3.2, topic:core

#39293 Correct misspellings of damped spring.
  doc/classes/PhysicsServer2D.xml
  doc/translations/classes.pot
  doc/translations/fr.po
  scene/2d/joints_2d.cpp
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_2d/joints_2d_sw.h
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.h
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
Labels: breaks compat, enhancement, topic:physics

#39286 Sync controller mappings DB with SDL2 community repo
  core/input/gamecontrollerdb.txt
Labels: cherrypick:3.2, enhancement, topic:input

#39301 Tweak the GDScript error message about passed argument type mismatch
  modules/gdscript/gdscript_parser.cpp
Labels: cherrypick:3.2, enhancement, topic:gdscript

#39297 Fix WebRTCPeerConnection set_local_description doc
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
Labels: bug, cherrypick:3.2, documentation, topic:network

#39298 Switch HTML5 key detection from keyCode to code.
  platform/javascript/display_server_javascript.cpp
  platform/javascript/dom_keys.inc
Labels: cherrypick:3.2, needs testing, platform:html5, topic:input, topic:porting

#37073 Improve 2d editor zoom
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#39316 Remove unused function get_key_value_ptr_array from hash_map.h and another tiny fix.
  core/hash_map.h
Labels: enhancement, topic:core

#39304 Add support for focus awareness
  platform/android/export/export.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr

#39305 [3.2] Add support for focus awareness
  platform/android/export/export.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr

#39319 Make sure built-in script warning fits in dialog
  editor/script_create_dialog.cpp
Labels: bug, regression, topic:editor, usability

#38967 Fix dialog spam when inspecting MeshInstance from model file
  editor/debugger/editor_debugger_inspector.cpp
  editor/debugger/editor_debugger_inspector.h
Labels: bug, cherrypick:3.2, topic:editor

#39338 Crypto virtual methods, fix editor crash when mbedtls is disabled
  core/crypto/crypto.cpp
  core/crypto/crypto.h
  core/io/dtls_server.cpp
  core/io/packet_peer_dtls.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor, topic:network

#39340 Upgrade OpenImageDenoise to v1.1.0
  thirdparty/README.md
  thirdparty/oidn/0001-window.h-case-sensitive.patch
  thirdparty/oidn/core/autoencoder.cpp
  thirdparty/oidn/core/autoencoder.h
  thirdparty/oidn/core/common.h
  thirdparty/oidn/core/device.cpp
  thirdparty/oidn/core/device.h
  thirdparty/oidn/core/network.cpp
  thirdparty/oidn/core/transfer_function.cpp
  thirdparty/oidn/godot-changes-c58c5216.patch
  thirdparty/oidn/weights/LICENSE.txt
Labels: enhancement, topic:thirdparty

#39341 Minor fix on GLSL shader parser
  servers/rendering/rendering_device_binds.cpp
Labels: bug, topic:shaders

#39342 denoise: Restrict build to 64-bit desktop platforms
  modules/denoise/config.py
Labels: enhancement, topic:buildsystem, topic:thirdparty

#39346 oidn: Fix build for VS 2017
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/oidn/mkl-dnn/src/cpu/rnn/rnn_reorders.hpp
  thirdparty/oidn/mkl-dnn/src/cpu/simple_concat.hpp
  thirdparty/oidn/patches/godot-changes-c58c5216.patch
  thirdparty/oidn/patches/mkl-dnn-fix-vs2017-build.patch
Labels: bug, platform:windows, topic:buildsystem, topic:thirdparty

#33858 Add visual feedback when hovering layer checkboxes in the Inspector
  editor/editor_properties.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38995 Add shader time scaling (3.2)
  doc/classes/VisualServer.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_gles2.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.cpp
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: enhancement, topic:rendering, topic:shaders

#39068 Rename batching project settings in preparation for GLES3
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_canvas_gles2.cpp
  servers/visual_server.cpp
Labels: enhancement, topic:rendering

#39363 Fix 38745: Importing FBX of a non-Unicode encoded path causes Assimp throws error
  modules/assimp/editor_scene_importer_assimp.cpp
Labels: bug, cherrypick:3.2, topic:import

#39200 Fixing wrong blending rect methods
  core/image.cpp
Labels: bug, topic:core

#39376 Document enlarging Particles visibility AABB when they cast shadows
  doc/classes/Particles.xml
Labels: documentation, enhancement

#39378 Re-apply basis of newly added node (via drag-n-drop) in editor viewport
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor

#39369 [3.2] Re-apply basis of newly added node (via drag-n-drop) in editor viewport
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:editor

#39365 Add an editor tooltip to document gizmo visibility options
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#39329 Restore capture caches when missing
  scene/animation/animation_player.cpp
Labels: bug, cherrypick:3.2, topic:core

#39386 VariantParser: Fix crash on malformed vectors
  core/variant_parser.cpp
Labels: bug, cherrypick:3.2, crash, topic:core

#39152 Respect 'mesh compression' editor import option in Assimp and glTF importers [master]
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/editor_scene_importer_gltf.h
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/assimp/import_state.h
Labels: bug, topic:import

#39134 Respect 'mesh compression' editor import option in Assimp and glTF importers
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/editor_scene_importer_gltf.h
  editor/import/resource_importer_scene.h
  modules/assimp/editor_scene_importer_assimp.cpp
  modules/assimp/import_state.h
Labels: bug, topic:import

#39370 Removed variables in EditorSceneImporterAssimp::import_scene that became unused.
  modules/assimp/editor_scene_importer_assimp.cpp
Labels: enhancement, topic:editor, topic:import

#39385 GDScript LSP: Fix crash in notify_client
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_protocol.h
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#39389 PackedScene: Prevent crash when root node has `parent` attribute
  editor/editor_node.cpp
  scene/resources/packed_scene.cpp
Labels: bug, cherrypick:3.2, topic:core

#39407 Tweak the invalid preset error message to mention `export_presets.cfg`
  editor/editor_node.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39411 Update Rigidbody 2D and 3D sleep documentation.
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#39399 Test collision mask before creating constraint pair in Godot physics broadphase 2D and 3D.
  servers/physics_2d/broad_phase_2d_basic.cpp
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_3d/broad_phase_3d_basic.cpp
  servers/physics_3d/space_3d_sw.cpp
Labels: bug, topic:physics

#39400 [3.2] Test collision mask before creating constraint pair in Godot physics broadphase 2D and 3D.
  servers/physics/broad_phase_basic.cpp
  servers/physics/space_sw.cpp
  servers/physics_2d/broad_phase_2d_basic.cpp
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
  servers/physics_2d/space_2d_sw.cpp
Labels: bug, topic:physics

#39394 Core: Add hints to run with --verbose when leaking nodes/resources at exit
  core/object.cpp
  core/resource.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#39391 Add generic file icon and its modulation to the 'FileDialog'
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/icon_file.png
  scene/resources/default_theme/theme_data.h
Labels: cherrypick:3.2, enhancement, topic:core, topic:gui

#39372 Change the default editor camera rotation to position it in +X +Y +Z
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor

#39426 Fixed mismatched disable half float property string
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#39429 Mention ordering caveats for `Dictionary.hash()`
  doc/classes/Dictionary.xml
Labels: cherrypick:3.2, documentation, enhancement

#39424 Fix scene tree showing up when the root selection is present
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39423 Fix crash when creating new text file with no name
  editor/plugins/script_editor_plugin.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor

#39413 doc: Make File store/get integer methods clearer
  doc/classes/File.xml
Labels: cherrypick:3.2, documentation, enhancement

#39409 AStar: Make get_closest_point() deterministic for equidistant points
  core/math/a_star.cpp
  doc/classes/AStar.xml
  doc/classes/AStar2D.xml
Labels: cherrypick:3.2, enhancement, needs testing, topic:core

#39390 Fix signal duplication bug when duplicating node with instanced children
  scene/main/node.cpp
Labels: bug, cherrypick:3.2, topic:core

#39350 Tree: Calling update in _gui_input less frequently
  scene/gui/tree.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#39431 Document the requirement to update the class reference when contributing
  CONTRIBUTING.md
Labels: cherrypick:3.2, documentation, enhancement

#39169 3.2 Make Light2D respect CanvasLayer layer_min and layer_max
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_canvas.h
  servers/visual/visual_server_viewport.cpp
Labels: bug, topic:rendering

#39438 Fix custom property editor layout
  editor/property_editor.cpp
  editor/property_editor.h
Labels: bug, regression, topic:editor

#39448 [3.2] Fix signal duplication bug when duplicating node with instanced children
  scene/main/node.cpp
Labels: bug, topic:core

#39434 Account for file deletion and renaming in Export Presets
  editor/editor_export.cpp
  editor/editor_export.h
  editor/project_export.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39454 Enable Unicode support for RegEx class
  modules/regex/SCsub
Labels: bug, cherrypick:3.2, topic:core

#39453 Adds full description for AudioEffectRecord.xml.
  doc/classes/AudioEffectRecord.xml
Labels: cherrypick:3.2, documentation, enhancement

#39355 Added a "title" attribute for the link tag in the docs xml
  doc/classes/KinematicBody2D.xml
  editor/doc_data.cpp
  editor/doc_data.h
  editor/editor_help.cpp
Labels: cherrypick:3.2, documentation, enhancement, topic:editor

#39337 Make text deletion methods public for LineEdit
  scene/gui/line_edit.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#39261 Enable zero padding with float specifier for format strings
  core/ustring.cpp
Labels: bug, cherrypick:3.2, topic:core

#39230 Fix for Expression class: string inside an expression can't be single quoted
  core/math/expression.cpp
Labels: bug, cherrypick:3.2, topic:core

#38958 Fix overflow condition with QueryPerformanceCounter
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
Labels: bug, cherrypick:3.2, needs testing, platform:uwp, platform:windows, topic:core

#39463 [3.2] SCons: Fix python2 compatibility after #37198 and #37248
  compat.py
  methods.py
Labels: bug, topic:buildsystem

#39450 Add GLTF light import
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/editor_scene_importer_gltf.h
Labels: enhancement, topic:import

#39428 [3.2] Add GLTF light import
  editor/import/editor_scene_importer_gltf.cpp
  editor/import/editor_scene_importer_gltf.h
Labels: enhancement, topic:import

#39470 Simplify some code in platform/uwp/export
  platform/uwp/export/export.cpp
Labels: cherrypick:3.2, enhancement, platform:uwp, topic:porting

#39468 Fix custom types in node list search
  editor/create_dialog.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39478 Fix whole word search slowdown in editor
  editor/code_editor.cpp
Labels: bug, cherrypick:3.2, regression, topic:editor

#39504 [3.2] Ensure pair callback data is set to null when it's null.
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
Labels: bug, topic:physics

#39505 Ensure pair callback data is set to null when it's null.
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
Labels: bug, topic:physics

#39523 Fix Material.render_priority doc: claims opaque objects are sorted
  doc/classes/Material.xml
Labels: bug, cherrypick:3.2, documentation

#39524 Re-enable scroll follow on RichTextLabel clear
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui, usability

#39529 Add description to TileSet.is_tile_bound() method
  doc/classes/TileSet.xml
Labels: cherrypick:3.2, documentation, enhancement

#39531 GLES2 Batching - Fix try_join_item logic for lights
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#39537 Immediately run first iteration after JS FS sync.
  platform/javascript/javascript_main.cpp
Labels: bug, platform:html5, topic:porting

#39538 [3.2] Use 2-phase setup in JavaScript.
  platform/javascript/javascript_main.cpp
Labels: bug, platform:html5, topic:porting

#39552 Fix match count for whole word search in editor
  editor/code_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#39551 [Doc] Fix RegEx expression result
  modules/regex/doc_classes/RegEx.xml
  modules/regex/doc_classes/RegExMatch.xml
Labels: bug, cherrypick:3.2, documentation

#39549 Delete bus effect with Delete key
  editor/editor_audio_buses.cpp
  editor/editor_audio_buses.h
Labels: bug, cherrypick:3.2, topic:editor, usability

#39535 Document how to resize a SubViewportContainer to avoid stretching
  doc/classes/SubViewportContainer.xml
Labels: cherrypick:3.2, documentation, enhancement

#39534 Remove the obsolete "2D Pixel" import preset
  editor/import/resource_importer_texture.cpp
  editor/import/resource_importer_texture.h
Labels: enhancement, topic:editor, topic:import

#39520 Fix label percent visible doc description
  doc/classes/Label.xml
Labels: bug, cherrypick:3.2, documentation

#39543 Unhide Skeleton3D menu button
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor

#39503 Fixed "Favourite Project" button in Project Manager
  editor/project_manager.cpp
Labels: bug, cherrypick:3.2, needs testing, topic:editor

#39501 Fixed 'Favourite' button in Project Manager
  editor/project_manager.cpp
Labels: bug, topic:editor

#39479 Object: Add usage hint to instantiate Object properties in editor
  core/class_db.cpp
  core/object.h
  editor/create_dialog.cpp
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
  scene/3d/path_3d.cpp
  scene/3d/path_3d.h
Labels: bug, topic:core, topic:editor

#39462 Document the `in` operator in String, Array and Dictionary classes
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
  doc/classes/Object.xml
  doc/classes/String.xml
Labels: cherrypick:3.2, documentation, enhancement

#39522 Fix TabContainer emitting spurious tab_selected signals when a theme …
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Labels: bug, cherrypick:3.2, topic:gui

#39521 Fix Image.create_from_data "use_mipmaps" class doc
  doc/classes/Image.xml
Labels: cherrypick:3.2, documentation, enhancement

#39485 Fixes the stopping of animation effects in bbcode text after appending
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#39436 [macOS export] Add notarization support.
  platform/osx/export/export.cpp
Labels: enhancement, platform:osx, topic:editor, usability

#39490 Clarify Node virtual methdods not being called if node is orphan
  doc/classes/Node.xml
Labels: cherrypick:3.2, documentation, enhancement

#39457 Add keyboard layout enumeration / set / get functions.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:linuxbsd, platform:osx, platform:windows, topic:input, topic:porting

#39502 [3.2] Add keyboard layout enumeration / set / get functions.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/OS.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: enhancement, platform:linuxbsd, platform:osx, platform:windows, topic:input, topic:porting

#39183 GDNative: merge API structs, bump version of merged structs.
  modules/gdnative/gdnative_api.json
  modules/gdnative/gdnative_builders.py
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdnative/nativescript/godot_nativescript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
Labels: enhancement, topic:gdnative

#39322 Add note about automatic window title to FileDialog documentation.
  doc/classes/FileDialog.xml
Labels: cherrypick:3.2, documentation, enhancement

#39556 GDScript LSP: Fix wrong error checks added in #39385
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_protocol.h
Labels: bug, cherrypick:3.2, topic:gdscript

#39559 Fix wrong internal format for half-float textures
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#39563 Main: Ensure existing of user data dir in `setup()`
  main/main.cpp
Labels: bug, cherrypick:3.2, topic:core

#39560 DDS: Fix loading files without DDSD_CAPS or DDSD_PIXELFORMAT
  modules/dds/texture_loader_dds.cpp
Labels: bug, cherrypick:3.2, topic:import

#39439 Renamed InputMap.get_action_list to InputMap.action_get_events
  core/input/input_map.cpp
  core/input/input_map.h
  doc/classes/InputMap.xml
Labels: breaks compat, enhancement, topic:input

#39483 Added more euler rotation orders support.
  core/math/basis.cpp
  core/math/basis.h
  core/variant_call.cpp
  main/tests/test_basis.cpp
  main/tests/test_basis.h
  main/tests/test_main.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#39546 Add description for "absorbent" and "rough"
  doc/classes/PhysicsMaterial.xml
Labels: cherrypick:3.2, documentation, enhancement

#39570 Add Code::Blocks files to .gitignore.
  .gitignore
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#39567 Fix bad position in Camera2D offset and camera rotation if smothing e…
  scene/2d/camera_2d.cpp
Labels: bug, topic:core

#39568 (3.2) Fix bad position in Camera2D offset and camera rotation if smot…
  scene/2d/camera_2d.cpp
Labels: bug, topic:core

#39544 Change "ParentNode" to "Inherit" in Texture Options
  scene/main/canvas_item.cpp
Labels: enhancement, topic:editor

#39189 Unify OS.get_system_time_* and OS.get_unix_time
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/OS.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: breaks compat, bug, enhancement, platform:windows, topic:porting

#38917 Change in-editor documentation style to match online docs.
  editor/editor_help.cpp
Labels: documentation, enhancement, topic:editor

#38934 Link exposed setters/getters in property descriptions
  editor/editor_help.cpp
Labels: cherrypick:3.2, documentation, enhancement, usability

#39315 Fix: Ctrl + Click not working for subclasses
  modules/gdscript/gdscript_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:gdscript

#39314 GDScript debugger stepping to incorrect line fix
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#39126 Skeleton and Skeleton inspector low-level changes
  doc/classes/Skeleton3D.xml
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Labels: enhancement, topic:core, topic:editor

#39578 C#: Add Visual Studio support
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/build_scripts/mono_configure.py
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Client.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/GodotTools.IdeMessaging.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Peer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Requests/Requests.cs
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/GodotTools.OpenVisualStudio.csproj
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/Program.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/mono/editor/GodotTools/GodotTools.sln
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Ides/MessagingServer.cs
  modules/mono/utils/mono_reg_utils.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, topic:mono

#39572 Use path instead classname to prevent errors for exported visual shaders
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders
