Repository godotengine/godot, pull requests merged in 2020-11, with the labels that each got.

#43241 Fix a variable being redeclared in the HTTPRequest code sample
  doc/classes/HTTPRequest.xml
Labels: bug, cherrypick:3.2, documentation

#43242 Use the Dummy audio driver in CI to prevent spurious error messages
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#43258 Avoid reentrant OBJTYPE_RLOCK in ClassDB
  core/class_db.cpp
  core/class_db.h
Labels: bug, topic:core

#43259 3.2: Backport Avoid reentrant OBJTYPE_RLOCK in ClassDB
  core/class_db.cpp
  core/class_db.h
Labels: bug, topic:core

#42703 Fix premature end of animation playing backwards
  scene/animation/animation_player.cpp
Labels: bug, cherrypick:3.2, topic:core

#43264 Properly reset texture flags when generating radiance
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#43267 Correct documentation about NinePatchRect stretch modes
  doc/classes/NinePatchRect.xml
Labels: cherrypick:3.2, documentation, enhancement

#43260 MainLoop: Remove deprecated methods
  core/os/main_loop.cpp
  doc/classes/MainLoop.xml
Labels: breaks compat, enhancement, topic:core

#43272 Fix editor constant redraw from fxaa and debanding.
  scene/main/viewport.cpp
Labels: bug, topic:editor

#42979 fix(editor): TileMap floodfill with same tile ID and different variation
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#40364 Alpha Hash and Alpha2Coverage Implementation
  core/typedefs.h
  doc/classes/BaseMaterial3D.xml
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/shader_types.cpp
Labels: feature proposal, topic:rendering

#41516 Fixed ParseError when calling Object.new()
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, cherrypick:3.2, topic:core

#43280 Tooltips: Improve code clarity and docs
  doc/classes/Control.xml
  scene/gui/control.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: cherrypick:3.2, documentation, enhancement, topic:gui

#39635 do not drop mouseover on WM_MOUSE_EXIT
  scene/main/viewport.cpp
Labels: bug, cherrypick:3.2, topic:gui, topic:input, usability

#43298 FBX respect mesh compression flags
  modules/fbx/data/fbx_mesh_data.cpp
  modules/fbx/data/fbx_mesh_data.h
  modules/fbx/editor_scene_importer_fbx.cpp
Labels: bug, topic:import

#43301 Fix typo in Tabs doc.
  doc/classes/Tabs.xml
Labels: cherrypick:3.2, documentation, enhancement

#43307 Move call to update the 3D grid into check for updating the view
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor

#43297 Implement DirectionalLight2D
  core/math/rect2.h
  scene/2d/light_2d.cpp
  scene/2d/light_2d.h
  scene/register_scene_types.cpp
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.h
  servers/rendering/rasterizer_rd/shaders/canvas.glsl
  servers/rendering/rasterizer_rd/shaders/canvas_uniforms_inc.glsl
  servers/rendering/rendering_server_canvas.cpp
  servers/rendering/rendering_server_canvas.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_viewport.cpp
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#43310 doc: Sync classref with current source
  core/math/rect2.h
  core/variant_call.cpp
  doc/classes/AABB.xml
  doc/classes/AnimatedSprite2D.xml
  doc/classes/Array.xml
  doc/classes/Basis.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/Callable.xml
  doc/classes/CanvasGroup.xml
  doc/classes/CanvasItem.xml
  doc/classes/CanvasTexture.xml
  doc/classes/Color.xml
  doc/classes/ColorRect.xml
  doc/classes/DirectionalLight2D.xml
  doc/classes/EditorPlugin.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/Geometry2D.xml
  doc/classes/Light2D.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/NodePath.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/Plane.xml
  doc/classes/PointLight2D.xml
  doc/classes/Polygon2D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Quat.xml
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
  doc/classes/RenderingServer.xml
  doc/classes/Signal.xml
  doc/classes/Sprite2D.xml
  doc/classes/String.xml
  doc/classes/StyleBoxTexture.xml
  doc/classes/TextEdit.xml
  doc/classes/Texture2D.xml
  doc/classes/TileSet.xml
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/Viewport.xml
  modules/visual_script/doc_classes/VisualScriptPropertyGet.xml
  scene/2d/light_2d.cpp
  scene/2d/light_2d.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: documentation, enhancement

#42724 Fixes the misleading message when a non-existing function name is passed to TreeItem.call_recursive()
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:core, topic:gdscript

#43318 doc: Override default value for RandomNumberGenerator.seed
  core/math/random_number_generator.cpp
  doc/classes/RandomNumberGenerator.xml
Labels: cherrypick:3.2, documentation, enhancement

#43332 Batching - use legacy path for antialiased polys.
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, enhancement, topic:rendering

#43126 Add project settings to manually specify API usage
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_canvas_base_gles2.h
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_canvas_base_gles3.cpp
  drivers/gles3/rasterizer_canvas_base_gles3.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles_common/rasterizer_canvas_batcher.h
  servers/visual_server.cpp
Labels: enhancement, topic:rendering

#43347 Fix uninitialised variables in the BaseMaterial3D.
  scene/resources/material.cpp
Labels: bug, topic:rendering

#43348 [iOS] Add missing ARC flag to the simulator build.
  platform/iphone/detect.py
Labels: bug, platform:ios, topic:buildsystem

#43337 Remove unused `PHI` define in math funcs
  core/math/math_funcs.cpp
Labels: enhancement, topic:core

#43283 Remove `Color.contrasted()` as its behavior is barely useful
  core/color.cpp
  core/color.h
  core/variant_call.cpp
  doc/classes/Color.xml
  modules/gdnative/gdnative/color.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/color.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  scene/gui/gradient_edit.cpp
  tests/test_color.h
Labels: breaks compat, enhancement, topic:core

#43051 Changed path behaviour for Windows
  platform/windows/os_windows.cpp
Labels: cherrypick:3.2, enhancement, platform:windows, topic:porting

#43353 Use LONG instead of DWORD (unsigned int) when interacting with DIJOFS constants
  platform/windows/joypad_windows.cpp
  platform/windows/joypad_windows.h
Labels: bug, cherrypick:3.2, platform:windows, topic:input

#42870 Document the supported TLS versions in HTTPRequest
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
Labels: cherrypick:3.2, documentation, enhancement

#41746 Improve the documentation related to fullscreen and borderless settings
  doc/classes/DisplayServer.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
Labels: cherrypick:3.2, documentation, enhancement

#43278 Document AtlasTexture not supporting repetition
  doc/classes/AtlasTexture.xml
  doc/classes/Texture.xml
Labels: documentation, enhancement

#43358 [HTML5] Fix audio buffer size and latency hint.
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/native/library_godot_audio.js
Labels: bug, cherrypick:3.2, platform:html5, regression, topic:audio, topic:porting

#40718 Exposed randi_range to global funcs + renamed rand_range to randf_range
  core/math/expression.cpp
  core/math/expression.h
  core/math/math_funcs.cpp
  core/math/math_funcs.h
  core/math/random_number_generator.h
  core/math/random_pcg.cpp
  core/math/random_pcg.h
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/glue/gd_glue.cpp
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
  thirdparty/misc/pcg.cpp
Labels: breaks compat, enhancement, for pr meeting, topic:core, topic:mono, usability

#43323 Refactored Variant Operators.
  core/array.cpp
  core/array.h
  core/color.cpp
  core/color.h
  core/global_constants.cpp
  core/math/quat.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3i.h
  core/register_core_types.cpp
  core/rid.h
  core/string_name.cpp
  core/string_name.h
  core/ustring.cpp
  core/ustring.h
  core/variant.h
  core/variant_op.cpp
  core/variant_setget.cpp
  core/vector.h
  editor/dependency_editor.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  main/main.cpp
  modules/visual_script/visual_script_nodes.cpp
  tests/test_expression.h
Labels: enhancement, topic:core

#43361 Fix "unifom" typo in RasterizerStorageRD method
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
Labels: bug, topic:rendering

#43373 [Mono] Added Shuffle method to Array
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/collections_glue.cpp
Labels: cherrypick:3.2, enhancement, topic:mono

#43376 FBX Fix roughness and material properties not loading
  modules/fbx/data/fbx_material.cpp
  modules/fbx/data/fbx_material.h
  modules/fbx/editor_scene_importer_fbx.cpp
  modules/fbx/fbx_parser/FBXDocument.h
  modules/fbx/fbx_parser/FBXMaterial.cpp
  modules/fbx/fbx_parser/FBXProperties.cpp
Labels: bug, topic:import

#42947 Add `Image.load_bmp_from_buffer()` for run-time BMP image loading
  core/image.cpp
  core/image.h
  doc/classes/Image.xml
  modules/bmp/image_loader_bmp.cpp
  modules/tga/image_loader_tga.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#42896 Increase the default HTTPClient download chunk size to 64 KiB
  core/io/http_client.h
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
Labels: cherrypick:3.2, enhancement, topic:network

#43371 Refactored Variant setters/getters
  core/color.h
  core/math/aabb.h
  core/math/expression.cpp
  core/math/quat.h
  core/math/rect2.h
  core/object.cpp
  core/packed_data_container.cpp
  core/register_core_types.cpp
  core/variant.h
  core/variant_op.cpp
  core/variant_setget.cpp
  editor/animation_track_editor.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_function.cpp
  modules/visual_script/visual_script_expression.cpp
  modules/visual_script/visual_script_func_nodes.cpp
Labels: enhancement, topic:core

#43380 Add icons for the new Light2D nodes
  editor/icons/DirectionalLight2D.svg
  editor/icons/PointLight2D.svg
Labels: enhancement, topic:editor

#42841 Port code examples to C# (D and E)
  doc/classes/DTLSServer.xml
  doc/classes/Decal.xml
  doc/classes/Dictionary.xml
  doc/classes/Directory.xml
  doc/classes/DisplayServer.xml
  doc/classes/DynamicFont.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/EditorPlugin.xml
  doc/classes/EditorScenePostImport.xml
  doc/classes/EditorScript.xml
  doc/classes/EditorSettings.xml
  doc/classes/EditorTranslationParserPlugin.xml
  doc/classes/Engine.xml
  doc/classes/Expression.xml
Labels: documentation, enhancement, topic:mono

#43409 Update "open-simplex-noise-in-c" to fix undefined signed overflow
  thirdparty/README.md
  thirdparty/misc/open-simplex-noise.c
Labels: bug, cherrypick:3.2, topic:thirdparty

#43403 Refactored variant constructor logic
  core/math/expression.cpp
  core/math/transform_2d.h
  core/object/object.cpp
  core/register_core_types.cpp
  core/variant/array.cpp
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.cpp
  core/variant/variant_internal.h
  core/variant/variant_op.cpp
  core/variant/variant_setget.cpp
  editor/animation_track_editor.cpp
  editor/array_property_edit.cpp
  editor/doc_data.cpp
  editor/editor_inspector.cpp
  editor/editor_properties_array_dict.cpp
  editor/project_settings_editor.cpp
  editor/property_selector.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_expression.cpp
  modules/visual_script/visual_script_func_nodes.cpp
  modules/visual_script/visual_script_nodes.cpp
  modules/visual_script/visual_script_property_selector.cpp
  scene/main/shader_globals_override.cpp
Labels: enhancement, topic:core

#43404 Color: Fix -Wtype-limits GCC warning after refactoring
  core/math/color.cpp
  core/math/color.h
Labels: bug, topic:core

#43413 CI: Build with warnings=extra to catch 'em all
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.disabled
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
Labels: enhancement, topic:buildsystem

#41407 Remove `debug_symbols=full` in favor of `debug_symbols=yes`
  platform/linuxbsd/SCsub
  platform/linuxbsd/detect.py
  platform/osx/SCsub
  platform/osx/detect.py
  platform/server/detect.py
  platform/windows/SCsub
  platform/windows/detect.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#43412 Variant: Rename Type::_RID to Type::RID
  core/core_constants.cpp
  core/io/marshalls.cpp
  core/io/packed_data_container.cpp
  core/io/resource_format_binary.cpp
  core/variant/type_info.h
  core/variant/typed_array.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.cpp
  core/variant/variant_internal.h
  core/variant/variant_op.cpp
  core/variant/variant_setget.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/property_editor.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/visual_script/visual_script_editor.cpp
  platform/windows/godot.natvis
  scene/resources/shader.cpp
  scene/resources/world_2d.cpp
  scene/resources/world_3d.cpp
  servers/physics_server_2d.cpp
  servers/physics_server_3d.cpp
  tests/test_class_db.h
Labels: breaks compat, enhancement, topic:core

#40106 Improve the 3D editor selection box appearance
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#43415 Fix duplicate variant constructor typo.
  core/variant/variant_construct.cpp
Labels: bug, topic:core

#43419 Make sure operators appear in the docs too
  core/variant/variant.h
  core/variant/variant_op.cpp
  editor/doc_data.cpp
Labels: documentation, enhancement, topic:editor

#43420 Revert partial "FBX add roughness mappings and fixes general some mat…
  modules/fbx/fbx_parser/FBXProperties.cpp
Labels: bug, topic:import

#43421 Change how no-arg constructor is handled internally in Variant.
  core/variant/variant_construct.cpp
  core/variant/variant_internal.h
Labels: enhancement, topic:core

#43424 Improve the 3D editor selection box appearance (3.2)
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#42276 Implement no-window mode for X11 and MacOS (3.2)
  drivers/unix/os_unix.cpp
  main/main.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/context_gl_x11.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, platform:macos, platform:windows, topic:editor

#43417 Variant: Sync docs with new constructors, fixes to #43403
  core/math/color.h
  core/math/color_names.inc
  core/math/transform.cpp
  core/math/transform.h
  core/string/ustring.h
  core/variant/variant_construct.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/AABB.xml
  doc/classes/Array.xml
  doc/classes/Basis.xml
  doc/classes/Callable.xml
  doc/classes/Color.xml
  doc/classes/DTLSServer.xml
  doc/classes/Dictionary.xml
  doc/classes/FuncRef.xml
  doc/classes/NodePath.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/Plane.xml
  doc/classes/Quat.xml
  doc/classes/RID.xml
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
  doc/classes/Signal.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/bool.xml
  doc/classes/float.xml
  doc/classes/int.xml
  editor/doc_data.h
  modules/gdscript/doc_classes/@GDScript.xml
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
Labels: bug, documentation, enhancement, topic:core

#43333 Disallow setting the AudioServer's 'global_rate_scale' to a value equal or inferior to 0
  servers/audio_server.cpp
Labels: bug, cherrypick:3.2, topic:audio, topic:core

#43356 Add docs for editor viewport drawing methods
  doc/classes/EditorPlugin.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:plugin

#43369 Allow using SVG images as project icon
  main/main.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#43383 GDNative: Define special char types in string.h
  modules/gdnative/include/gdnative/string.h
Labels: bug, topic:gdnative

#43397 Use Ctrl+Shift+C as the default FileSystem dock Copy Path shortcut
  editor/filesystem_dock.cpp
Labels: bug, cherrypick:3.2, topic:editor

#43433 [Docs] Add C# example for EditorPlugin::forward_canvas_draw_over_viewport
  doc/classes/EditorPlugin.xml
Labels: documentation, enhancement

#40748 Improve/fix packed data API
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/os/file_access.cpp
Labels: bug, enhancement, topic:core

#40747 Improve/fix packed data API (3.2)
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/os/file_access.cpp
Labels: bug, enhancement, topic:core

#43423 Clarify that code in `assert()` should avoid side effects
  modules/gdscript/doc_classes/@GDScript.xml
Labels: cherrypick:3.2, documentation, enhancement

#43434 Updated gd_glue.cpp to work in the variant refactoring (Mono enabled)
  modules/mono/glue/gd_glue.cpp
Labels: bug, topic:mono

#43357 Register methods for drawing 3D editor overlays
  doc/classes/EditorPlugin.xml
  editor/editor_plugin.cpp
Labels: cherrypick:3.2, documentation, enhancement, topic:plugin

#43350 Fix completion for built-in load() function
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#43398 Add append_array() method to Array class
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant_call.cpp
  doc/classes/Array.xml
Labels: cherrypick:3.2, enhancement, feature proposal, topic:core

#43436 Remove Attempted to free invalid ID error
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
Labels: bug, topic:rendering

#43437 doc: Add template to document Variant operators, fixups to #43419
  doc/classes/AABB.xml
  doc/classes/Array.xml
  doc/classes/Basis.xml
  doc/classes/Callable.xml
  doc/classes/Color.xml
  doc/classes/Dictionary.xml
  doc/classes/NodePath.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/Plane.xml
  doc/classes/Quat.xml
  doc/classes/RID.xml
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
  doc/classes/Signal.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/bool.xml
  doc/classes/float.xml
  doc/classes/int.xml
  doc/tools/doc_merge.py
  doc/tools/makerst.py
  editor/doc_data.cpp
Labels: bug, documentation, enhancement, topic:editor

#43441 Checking for half_image_size[ x & y ] to be non-negative.
  thirdparty/jpeg-compressor/jpgd.cpp
Labels: bug, cherrypick:3.2, crash, topic:thirdparty

#43446 Create Variant built-in functions.
  core/io/json.cpp
  core/io/json.h
  core/math/expression.cpp
  core/math/expression.h
  core/register_core_types.cpp
  core/string/ustring.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_builtin_funcs.cpp
  core/variant/variant_call.cpp
  core/variant/variant_construct.cpp
  editor/doc_data.cpp
Labels: enhancement, topic:core

#43449 Expose LineEdit scroll offset to scripts
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: cherrypick:3.2, enhancement, topic:gdscript, topic:gui

#43372 Minor clamp and float fixes
  core/math/transform_2d.cpp
  modules/gdscript/gdscript_functions.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
Labels: bug, cherrypick:3.2, topic:gdscript

#43457 Refactor variant built-in methods yet again.
  core/math/expression.cpp
  core/variant/binder_common.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_utility.cpp
  editor/doc_data.cpp
  modules/gdnative/gdnative/variant.cpp
  modules/gdscript/gdscript_function.cpp
  modules/visual_script/visual_script_expression.cpp
  modules/visual_script/visual_script_func_nodes.cpp
Labels: enhancement, topic:core

#43451 Keep cursor relative position after move lines up/down in text editor
  editor/code_editor.cpp
Labels: enhancement, topic:editor

#43462 Removing unneeded FuncRef code in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
Labels: bug, topic:mono

#43465 Restore screenshot button.
  editor/editor_node.cpp
Labels: bug, topic:editor

#43471 Document InstancePlaceholder.create_instance not being thread-safe.
  doc/classes/InstancePlaceholder.xml
Labels: cherrypick:3.2, documentation, enhancement

#43220 Add icons for the 'CanvasGroup' and 'CodeEdit' nodes
  editor/icons/CanvasGroup.svg
  editor/icons/CodeEdit.svg
Labels: enhancement, topic:editor

#43244 Docs: MeshDataTool: showcase tool in code example
  doc/classes/MeshDataTool.xml
Labels: cherrypick:3.2, documentation, enhancement

#43408 Make Path3D handles visible and consistent with 2D.
  doc/classes/EditorNode3DGizmoPlugin.xml
  editor/icons/EditorCurveHandle.svg
  editor/icons/EditorPathSharpHandle.svg
  editor/icons/EditorPathSmoothHandle.svg
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#43477 Fix running on Xvfb server.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#43247 [3.2] Android: Keyboard modifier and arrow key support for text edit
  platform/android/java/lib/src/org/godotengine/godot/GodotView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:input, topic:porting

#43497 SceneTree: Fix reparent crash with animation tracks renaming disabled
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor

#43499 GDScript: Fix native class not set with inheritance
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript

#43490 Improve error messages related to failing to open texture files
  scene/resources/texture.cpp
Labels: enhancement, topic:core

#43501 In LineEdit Changed "mouse cursor" to the "caret (text cursor)".
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#43512 Remove duplicate Android `orientation` settings.
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
Labels: bug, platform:android, topic:porting

#43511 [3.2] Remove duplicate Android `orientation` settings
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
Labels: bug, platform:android, topic:porting

#42710 Improve comments in Color documentation
  doc/classes/Color.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
Labels: documentation, topic:core

#43518 Added the .jks file extension as valid preset for Android keystore files
  platform/android/export/export.cpp
Labels: cherrypick:3.2, enhancement, platform:android, topic:editor

#43531 Fixes crash if Vulkan presentation surface is not available.
  drivers/vulkan/vulkan_context.cpp
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, topic:rendering

#43534 Fix 2d software skinning with scaled polys
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering

#43526 Address new custom build logic issues
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:buildsystem

#43525 [3.2] Address new custom build logic issues
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:buildsystem

#43549 Update the logic to query for the 'scons' command executable path
  platform/android/java/build.gradle
  platform/android/java/lib/build.gradle
Labels: bug, cherrypick:3.2, platform:android, topic:buildsystem

#43022 Implement OS.get_screen_orientation() for Android
  core/os/os.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:porting

#43555 Fix new transform to pixel snapping logic
  servers/rendering/rendering_server_canvas.cpp
Labels: bug, topic:rendering

#43564 Fix custom loader/savers broken
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
Labels: bug, topic:core

#43539 [3.2] Fix custom loader/savers broken
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
Labels: bug, topic:core

#43545 Add XChangeProperty atoms validity checks.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#43250 Add LStrip, RStrip, and HexEncode to C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: cherrypick:3.2, enhancement, topic:mono

#43246 Docs: Port code examples to C# (M, N, O, P, Q, R)
  doc/classes/MarginContainer.xml
  doc/classes/NavigationPolygon.xml
  doc/classes/Node.xml
  doc/classes/NodePath.xml
  doc/classes/OS.xml
  doc/classes/PCKPacker.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedScene.xml
  doc/classes/PacketPeerUDP.xml
  doc/classes/Performance.xml
  doc/classes/PhysicsShapeQueryParameters2D.xml
  doc/classes/PhysicsShapeQueryParameters3D.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement, topic:mono

#43528 [3.2] Improve comments in Color documentation
  doc/classes/Color.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
Labels: documentation, enhancement, topic:core

#43289 Release pressed action if event is removed
  core/input/input_map.cpp
Labels: bug, cherrypick:3.2, topic:input

#42976 Allow getting Input "axis" and "vector" values by specifying multiple actions
  core/input/input.cpp
  core/input/input.h
  core/input/input_event.cpp
  core/input/input_event.h
  core/input/input_map.cpp
  core/input/input_map.h
  doc/classes/Input.xml
Labels: discussion, enhancement, topic:input

#42729 Improve output in Debugger Errors tab for scripts
  editor/debugger/script_editor_debugger.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#42167 Remove the unnecessary sync() and the restrictions it imposes on 3D Physics.
  doc/classes/World2D.xml
  doc/classes/World3D.xml
  main/main.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_server_3d.h
Labels: bug, crash, topic:audio, topic:core, topic:physics

#42168 [3.2] Remove the unnecessary sync() and the restrictions it imposes on 3D Physics.
  doc/classes/World.xml
  doc/classes/World2D.xml
  main/main.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  servers/physics/physics_server_sw.cpp
  servers/physics/physics_server_sw.h
  servers/physics_2d/physics_2d_server_sw.cpp
  servers/physics_server.h
Labels: bug, crash, topic:audio, topic:core, topic:physics

#41851 Added hysteresis for popup sub-menus
  scene/gui/popup.cpp
  scene/gui/popup.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: enhancement, topic:gui, usability

#43498 Poly colors fixes
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/shaders/canvas.glsl
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering

#43481 Fix Android Export jarsigner error with *.import whitelist
  editor/editor_export.cpp
Labels: bug, cherrypick:3.2, topic:editor

#42526 Allow creating projects in non-empty folders with a confirmation popup
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor

#43516 Add a test suite for Curve
  tests/test_curve.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#43533 Improve the Dictionary class documentation
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
Labels: cherrypick:3.2, documentation, enhancement

#43566 Remove property groups for Pause Mode and Script
  core/object/object.cpp
  scene/main/node.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#43572 Add a test suite for PCKPacker
  tests/test_main.cpp
  tests/test_pck_packer.h
Labels: enhancement, topic:tests

#43578 Add a test suite for NodePath
  tests/test_main.cpp
  tests/test_node_path.h
Labels: enhancement, topic:tests

#42977 Allow more image types in the roughness texture's Src Normal import hint
  editor/import/resource_importer_texture.cpp
Labels: enhancement, topic:import

#42863 Add files to create a Windows editor installer using Inno Setup
  misc/dist/windows/.gitignore
  misc/dist/windows/README.md
  misc/dist/windows/godot.iss
  misc/dist/windows/modpath.pas
Labels: cherrypick:3.2, enhancement, platform:windows, topic:porting

#42008 Rename the `type` parameter to `node_type` in Theme and Control
  doc/classes/Control.xml
  doc/classes/Theme.xml
  scene/gui/control.cpp
  scene/gui/control.h
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: enhancement, topic:gui

#40967 Improve messages related to overriding the default editor layout
  editor/editor_node.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#43461 Fix for linux joypad D-pad zeroing
  platform/linuxbsd/joypad_linux.cpp
Labels: bug, cherrypick:3.2, topic:input

#43509 Clarify packet peer `max_buffer_po2` in ProjectSettings documentation
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.2, documentation, enhancement

#41263 Rename the "Delete" option in the FileSystem dock to "Move to Trash"
  editor/dependency_editor.cpp
  editor/filesystem_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#41911 Add a test suite for ConfigFile
  tests/test_config_file.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#43316 Fix WAV resources ignoring the AudioServer's 'global_rate_scale' value
  scene/resources/audio_stream_sample.cpp
Labels: bug, cherrypick:3.2, topic:audio, topic:core

#43493 Allow HTTPClient to talk to a proxy server
  core/io/http_client.cpp
Labels: bug, cherrypick:3.2, enhancement, topic:network

#43479 Use 75% editor scale on small displays automatically
  editor/editor_node.cpp
  editor/editor_themes.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#43554 Add 2d snap transforms option
  core/engine.cpp
  core/engine.h
  main/main.cpp
  scene/2d/animated_sprite.cpp
  scene/2d/sprite.cpp
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_canvas.h
Labels: bug, topic:rendering

#43248 Change android orientations from sensor to user
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Labels: cherrypick:3.2, enhancement, platform:android, topic:porting

#43595 Fixed exit code retrieval of spawned processes on Windows
  platform/windows/os_windows.cpp
Labels: bug, cherrypick:3.2, platform:windows, topic:core

#43537 Correct the doc about Tree.get_edited
  doc/classes/Tree.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:gui

#43538 Allow folder checking in export preset file list
  editor/project_export.cpp
  editor/project_export.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#43233 Remove unneeded filter on joy_axis()
  core/input/input.cpp
  core/input/input.h
Labels: bug, topic:input

#43234 [3.2] Remove unneeded filter on joy_axis()
  main/input_default.cpp
  main/input_default.h
Labels: bug, topic:input

#43547 Lowering the Minimum Unit at Shape3D and Cameras
  scene/3d/camera_3d.cpp
  scene/resources/capsule_shape_3d.cpp
  scene/resources/cylinder_shape_3d.cpp
  scene/resources/ray_shape_3d.cpp
  scene/resources/sphere_shape_3d.cpp
Labels: breaks compat, enhancement, topic:physics

#43565 Clarify Curve3D.get_point_{in,out} position in doc.
  doc/classes/Curve2D.xml
  doc/classes/Curve3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#43610 Fix crash in resoure duplicate
  core/io/resource.cpp
Labels: bug, cherrypick:3.2, topic:core

#43206 Add a dynamic infinite grid to the 3D editor (3.2)
  editor/editor_settings.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor

#43611 Use 75% editor scale on small displays automatically (3.2)
  editor/editor_node.cpp
  editor/editor_themes.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#43612 doc: Sync classref with Variant utility methods
  core/variant/variant_utility.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/JSONParser.xml
  doc/classes/Popup.xml
Labels: bug, documentation, enhancement, topic:core

#43614 Debugger: Save options in project metadata
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38201 Require Ctrl for switching between editors, bind F2 to Rename Node
  editor/editor_node.cpp
  editor/scene_tree_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#42412 Describe `ImageTexture`, `Image` creation and usage
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
  doc/classes/Texture2D.xml
  scene/resources/texture.cpp
Labels: cherrypick:3.2, documentation, enhancement

#43606 Make lights_per_object configurable
  doc/classes/ProjectSettings.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
Labels: enhancement, topic:rendering

#43620 [3.2] Describe `ImageTexture`, `Image` creation and usage
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
  doc/classes/Texture.xml
  scene/resources/texture.cpp
Labels: documentation, enhancement
