Repository godotengine/godot, pull requests merged in 2020-04, with the labels that each got.

#37456 Add missing docs for assert message in GDScript
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
Labels: cherrypick:3.2, documentation, enhancement

#37481 some typo in method binds fixed
  core/image.cpp
  scene/main/window.cpp
  scene/resources/visual_shader.cpp
  servers/display_server.cpp
Labels: bug, topic:core

#37486 Fix res:// trimmed to s:// on Windows
  drivers/windows/dir_access_windows.cpp
Labels: bug, topic:core, topic:editor

#37485 Fix res:// trimmed to s:// on Windows (3.2)
  drivers/windows/dir_access_windows.cpp
Labels: bug, topic:core, topic:editor

#37484 Remove syntax highlighting for C# verbatim strings due to bugs
  modules/mono/csharp_script.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:mono, usability

#37488 etc2comp: Fix max iterations for RGBA channels
  thirdparty/etc2comp/EtcBlock4x4Encoding_RGB8.cpp
  thirdparty/etc2comp/EtcBlock4x4Encoding_RGB8A1.cpp
  thirdparty/etc2comp/patches/fix-rgba8-max-channels.patch
Labels: bug, cherrypick:3.2, topic:import, topic:thirdparty

#37443 Fix PopupMenu's letter jumping on any InputEventKey (instead of just a press)
  scene/gui/popup_menu.cpp
Labels: bug, cherrypick:3.2, topic:gui, topic:input

#37492 Fix Clang warnings on Windows
  platform/linuxbsd/display_server_x11.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
  thirdparty/README.md
  thirdparty/vulkan/vk_enum_string_helper.h
Labels: bug, platform:windows, topic:core

#37513 Make dict erase visual node sequenced
  core/variant_call.cpp
Labels: bug, cherrypick:3.2, topic:core, topic:visualscript

#37504 Fix array out of bounds access caused by uninitialised variables
  core/class_db.cpp
  core/math/expression.cpp
  modules/bullet/btRayShape.cpp
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/gdnative/videodecoder/video_stream_gdnative.h
  modules/webrtc/webrtc_multiplayer.cpp
  platform/linuxbsd/display_server_x11.cpp
  scene/3d/gi_probe.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/gui/popup_menu.cpp
  scene/gui/rich_text_label.h
  scene/resources/animation.h
  scene/resources/dynamic_font.cpp
  servers/audio/effects/audio_effect_pitch_shift.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
Labels: bug, platform:linuxbsd, topic:porting

#35720 Remove Request Docs button in the script editor due to various issues
  editor/editor_help.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, cherrypick:3.2, topic:editor

#37512 Re-Added screen space reflection.
  editor/editor_node.cpp
  scene/register_scene_types.cpp
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/SCsub
  servers/rendering/rasterizer_rd/shaders/screen_space_reflection.glsl
  servers/rendering/rasterizer_rd/shaders/screen_space_reflection_filter.glsl
  servers/rendering/rasterizer_rd/shaders/screen_space_reflection_scale.glsl
  servers/rendering/rasterizer_rd/shaders/specular_merge.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, feature proposal, topic:rendering

#37521 Replace more occurrences of NULL with nullptr
  core/input/input_builders.py
  editor/editor_builders.py
  gles_builders.py
  modules/gdnative/gdnative_builders.py
  modules/gdscript/language_server/lsp.hpp
  modules/mono/editor/bindings_generator.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/godot_windows.cpp
  scene/3d/camera_3d.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/main/canvas_item.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#37525 Replace 0L with a casted nullptr
  platform/windows/display_server_windows.cpp
Labels: enhancement, platform:windows, topic:core

#37533 Android: Downgrade gradle plugin to 3.5.3
  platform/android/java/app/config.gradle
Labels: bug, cherrypick:3.2, platform:android, topic:buildsystem

#37541 Fix C# bindings after recent breaking changes
  core/register_core_types.cpp
  modules/mono/editor/GodotTools/GodotTools/BottomPanel.cs
  modules/mono/editor/GodotTools/GodotTools/BuildTab.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/HotReloadAssemblyWatcher.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono_cache.cpp
  servers/rendering_server.cpp
Labels: bug, topic:core, topic:mono

#37505 Rename ViewportContainer to SubViewportContainer
  doc/classes/SubViewportContainer.xml
  doc/classes/Viewport.xml
  doc/classes/ViewportContainer.xml
  editor/icons/SubViewportContainer.svg
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
  editor/plugins/mesh_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/gui/subviewport_container.cpp
  scene/gui/subviewport_container.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:core

#37438 Invert Sky subpass cubemap z direction
  servers/rendering/rasterizer_rd/shaders/sky.glsl
Labels: bug, topic:rendering

#37363 General enhancements to floating docks
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#37391 Expose 'Embedded Windows Mode' as Editor and Project Settings
  doc/classes/ProjectSettings.xml
  editor/editor_settings.cpp
  main/main.cpp
Labels: enhancement, topic:editor

#37573 Remove redundant vbx variable in FileDialog
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, topic:core

#37576 SCons: Expand CXX in check for vanilla Clang
  methods.py
Labels: bug, topic:buildsystem

#37563 Take borders into account with floating dock initial position/size
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#37578 Fix file dialog not showing icons
  scene/gui/file_dialog.cpp
Labels: bug, topic:editor

#37570 Re-implement subsurface scattering.
  editor/editor_node.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/SCsub
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/screen_space_reflection_filter.glsl
  servers/rendering/rasterizer_rd/shaders/subsurface_scattering.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering/shader_types.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37584 Fixed leak with SpecularMergeShaderRD
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
Labels: bug, topic:rendering

#37599 Remove unnecessary Panel in "Features" section in the Export dialog
  editor/project_export.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#37397 Correction to RichTextLabel Tabulation (Bug 37081)
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#37596 Make note of 16 probe limit
  doc/classes/ReflectionProbe.xml
Labels: documentation, enhancement, topic:rendering

#37601 Fix aspect ratio on hmd projection matrix
  core/math/camera_matrix.cpp
Labels: bug, topic:arvr

#37610 Fix changing the import type of multiple files at once
  editor/import_dock.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37613 Add missing LinkButton colors in Editor Theme
  editor/editor_themes.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#37556 Remove Node.get_position_in_parent()
  doc/classes/Node.xml
  editor/editor_properties.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/property_editor.cpp
  editor/scene_tree_dock.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/gui/control.cpp
  scene/main/canvas_layer.cpp
  scene/main/instance_placeholder.cpp
  scene/main/node.cpp
  scene/main/node.h
Labels: breaks compat, discussion, enhancement, topic:core

#37625 Vulkan: Use VK_NULL_HANDLE for handles, fixes 32-bit builds
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
Labels: bug, topic:buildsystem, topic:rendering

#37621 Fixed TextureRegion autoslice issue.
  editor/plugins/texture_region_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37447 replace selected text with empty string bug fixed
  editor/code_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37623 Adds warning to the uniform name in visual shader if its equal to keyword
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:editor, topic:shaders

#37639 Fixes leaks when running editor
  editor/editor_file_dialog.cpp
  scene/gui/dialogs.cpp
  scene/gui/file_dialog.cpp
Labels: bug, topic:core

#37635 Fixed leak with vertex_formats
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:core

#37643 Remove unnecessary panel in EditorHelpBit
  editor/editor_help.h
  editor/editor_themes.cpp
Labels: bug, topic:editor

#37615 Fix TextureRect::flip_* when used with atlas texture
  scene/gui/texture_rect.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37642 Calculate strike-through y-position correctly (RichTexteLabel)
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#37591 Removed redundant class LineEditFileChooser from file_dialog
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, topic:core

#37592 Dissolving class EditorLineEditFileChooser into EditorAutoloadSettings.
  editor/editor_autoload_settings.cpp
  editor/editor_autoload_settings.h
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
Labels: enhancement, topic:editor

#37586 Fix leak with Vulkan allocator
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering

#37589 Add reference of Color8 function to Color class documentation
  doc/classes/Color.xml
Labels: cherrypick:3.2, documentation, enhancement

#37579 Improve the shader error console output
  core/ustring.cpp
Labels: enhancement, topic:shaders

#37551 Add the missing argument in files_dropped signal
  scene/main/window.cpp
Labels: bug, topic:core

#37656 Fixed underlines and striketrough not respecting visible character
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#37666 Avoid material rebinds when using skeletons
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering

#37667 Avoid material rebind when using skeleton
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering

#37670 Tweak rendering quality property hint strings for consistency
  servers/rendering_server.cpp
Labels: enhancement, topic:editor

#37681 Fix signal disconnection soon after connection in EditorQuickOpen
  editor/quick_open.cpp
Labels: bug, topic:editor

#37644 Rename all gizmo classes, using the 4.0 node names.
  editor/node_3d_editor_gizmos.cpp
  editor/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  modules/csg/csg_gizmos.cpp
  modules/csg/csg_gizmos.h
Labels: enhancement, topic:editor

#37682 Erase if ( i < offset ) { continue;} at start in for loops
  scene/gui/tabs.cpp
Labels: enhancement, topic:gui

#37678 Refactored shadowmapping.
  core/class_db.cpp
  core/class_db.h
  core/object.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/light_cluster_builder.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/blur.glsl
  servers/rendering/rasterizer_rd/shaders/copy.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering/shader_types.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37689 Improve the CameraServer and CameraFeed class documentations
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
Labels: documentation, enhancement

#37467 fixed modules not beeing added to vsproj
  modules/SCsub
Labels: bug, platform:windows, topic:buildsystem

#37718 Clarify documentation and indicate that rect_clip_content affects only CanvasItem based nodes
  doc/classes/Control.xml
Labels: documentation, enhancement

#37728 ARVR -> XR rename icon missing fixed
  editor/icons/XRAnchor3D.svg
  editor/icons/XRCamera3D.svg
  editor/icons/XRController3D.svg
  editor/icons/XROrigin3D.svg
Labels: bug, topic:editor

#37729 Travis: Re-enable Android builds
  .travis.yml
  misc/travis/android-tools-linux.sh
Labels: enhancement, platform:android, topic:buildsystem

#37742 Fix Engine get_target_fps() returning float instead of int.
  core/engine.cpp
  core/engine.h
Labels: bug, topic:core

#37744 Fix loss of precision in X11 device info.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:input

#37722 Support light size and soft shadows
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
  servers/rendering/rendering_server_scene.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37719 Ignore process serial number argument passed by macOS Gatekeeper.
  main/main.cpp
Labels: bug, cherrypick:3.2, platform:osx, topic:editor, topic:porting

#37745 Fix extra warnings in Android build
  .travis.yml
  drivers/vulkan/SCsub
  platform/android/vulkan/vulkan_context_android.cpp
  thirdparty/vulkan/android/vk_mem_alloc.cpp
Labels: enhancement, platform:android, topic:buildsystem, topic:thirdparty

#37688 Remove unused ofs variable in Tree::_draw
  scene/gui/tree.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#37699 Replace is_commiting_action with is_committing_action
  core/undo_redo.cpp
  doc/classes/UndoRedo.xml
Labels: breaks compat, enhancement, topic:core

#37693 Remove obsolete enums
  core/global_constants.cpp
  core/object.h
  modules/gdnative/include/nativescript/godot_nativescript.h
Labels: enhancement, topic:core

#37662 Free items before finishing rendering server
  servers/rendering/rendering_server_wrap_mt.cpp
Labels: bug, topic:rendering

#37629 NoiseTexture: prevent race condition because of Ref::unref()
  modules/opensimplex/noise_texture.cpp
Labels: bug, cherrypick:3.2, topic:core

#37602 Reversed timeline zoom slider of AnimationPlayer
  editor/animation_track_editor.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#37566 clarify autotile_coord in docs
  doc/classes/TileMap.xml
Labels: cherrypick:3.2, documentation, enhancement

#37565 Warn about built-in script limitations in the script creation dialog
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: cherrypick:3.2, enhancement, topic:editor

#37530 VisualScript support for newly added Variant types
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_nodes.cpp
Labels: enhancement, topic:visualscript

#37517 Add style for highlighted Slider grab area
  editor/editor_themes.cpp
  scene/gui/slider.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#37509 Add "preview_on_sphere" setting of material editor plugin
  editor/plugins/material_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#37482 Clarify Dictionary duplicate parameters in docs
  doc/classes/Dictionary.xml
Labels: cherrypick:3.2, documentation, enhancement

#37426 Add more verbosity for property overrides in RST documentation
  doc/tools/makerst.py
Labels: documentation, enhancement

#37395 `:=` fails on some nodes fix: #37357
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#37383 Rename "GodotPhysics" to "GodotPhysics{2D,3D}"
  doc/classes/PhysicsDirectSpaceState3D.xml
  doc/classes/ProjectSettings.xml
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/register_server_types.cpp
Labels: enhancement, topic:core

#37297 Improve the `File.store_{8,16,32,64}()` documentation
  doc/classes/File.xml
Labels: cherrypick:3.2, documentation, enhancement

#37256 Update Android custom template build configuration
  platform/android/java/app/build.gradle
  platform/android/java/app/settings.gradle
Labels: bug, cherrypick:3.2, platform:android, topic:buildsystem

#37595 Othographic camera in-editor now uses Z near/far instead of hardcoded value
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37450 Fix profiler frame number stops updating when window is minimized
  core/debugger/remote_debugger.cpp
Labels: bug, cherrypick:3.2, topic:editor

#37763 Shows proper scene render time in editor info
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  servers/rendering/rendering_server_raster.cpp
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_viewport.cpp
  servers/rendering/rendering_server_viewport.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Labels: enhancement, topic:editor

#37303 Fix OptionButton item_selected docs godotengine#36803
  doc/classes/OptionButton.xml
  scene/gui/option_button.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#37794 Fix SSS affecting Sky
  servers/rendering/rasterizer_rd/shaders/sky.glsl
Labels: bug, topic:rendering

#37808 Moved most of the effect code to compute.
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/SCsub
  servers/rendering/rasterizer_rd/shaders/blur.glsl
  servers/rendering/rasterizer_rd/shaders/blur_inc.glsl
  servers/rendering/rasterizer_rd/shaders/copy.glsl
  servers/rendering/rasterizer_rd/shaders/copy_to_fb.glsl
  servers/rendering/rasterizer_rd/shaders/cube_to_dp.glsl
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering

#37542 Update visualscript graph nodes on visual script variable edit
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:editor, topic:visualscript

#37815 Reset texture flags after radiance map generation
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering

#37822 Fix add_force in Godot Physics RigidBody
  servers/physics_3d/body_3d_sw.h
Labels: bug, topic:physics

#37819 Add screen space AA option, with FXAA implementation.
  editor/plugins/node_3d_editor_plugin.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/tonemap.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_viewport.cpp
  servers/rendering/rendering_server_viewport.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37829 Implement MSAA
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  editor/editor_node.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  scene/main/scene_tree.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rendering_device.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37749 Add vogel filter and settings to soft shadows
  doc/classes/Light3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  editor/editor_node.cpp
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#37825 Fixes leak with drives [3.2]
  editor/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Labels: bug, topic:editor

#37311 Handle huge path2d offset values
  scene/2d/path_2d.cpp
  scene/3d/path_3d.cpp
Labels: bug, cherrypick:3.2, topic:core

#37834 Remove button separators from Particles menus
  editor/plugins/cpu_particles_2d_editor_plugin.cpp
  editor/plugins/cpu_particles_3d_editor_plugin.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
Labels: enhancement, topic:editor

#37820 Improve error explanations related to UPNP and UPNPDevice
  modules/upnp/upnp.cpp
  modules/upnp/upnp_device.cpp
Labels: documentation, enhancement

#37817 autocomplete for disconnect implemented
  modules/gdscript/gdscript_editor.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#37823 Relative scale snapping 2D
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#37841 Fixes leak with CopyToFbShaderRD
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
Labels: bug, topic:rendering

#37843 Fixed crash caused by uninitialised variable
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor

#37840 Fixed 0 width issue of rich text label
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#37295 Validate supported architectures when exporting to Android
  platform/android/export/export.cpp
Labels: cherrypick:3.2, enhancement, platform:android, topic:editor, usability

#37851 Change visual script round function output type to float
  modules/visual_script/visual_script_builtin_funcs.cpp
Labels: bug, cherrypick:3.2, topic:visualscript

#37858 Delete unused drawable resources
  platform/android/java/lib/res/drawable-hdpi/notify_panel_notification_icon_bg.png
  platform/android/java/lib/res/drawable-mdpi/notify_panel_notification_icon_bg.png
  platform/android/java/lib/res/drawable-xhdpi/notify_panel_notification_icon_bg.png
  platform/android/java/lib/res/drawable-xxhdpi/notify_panel_notification_icon_bg.png
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem

#37826 Fix set_sleep_state in Bullet body direct state
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  servers/physics_3d/body_3d_sw.h
  servers/physics_server_3d.h
Labels: bug, topic:physics

#37866 Android: Bump build tools to 29.0.3
  misc/travis/android-tools-linux.sh
  platform/android/java/app/config.gradle
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem

#37316 Add PhysicalBone rotation, damping, axis lock & can sleep
  doc/classes/PhysicalBone3D.xml
  doc/classes/RigidBody3D.xml
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
Labels: enhancement, topic:physics

#37877 Remove unnecessary check for zero determinant in Basis::orthonormalize().
  core/math/basis.cpp
Labels: bug, cherrypick:3.2, topic:core

#37881 Fixes leaks with Vulkan device and instance
  drivers/vulkan/vulkan_context.cpp
Labels: bug, topic:rendering

#37887 Add support for projectors in spot and omni lights.
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/copy_to_fb.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
Labels: enhancement, topic:rendering

#37890 Change MATH_POSMOD return type back to INT
  modules/visual_script/visual_script_builtin_funcs.cpp
Labels: bug, cherrypick:3.2, topic:visualscript

#37894 Fix typo in light3d (Texture -> Texture2D)
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
Labels: bug, topic:core

#37896 Change DecalTexture bind from BIND_CONSTANT to BIND_ENUM_CONSTANT
  scene/3d/decal.cpp
Labels: bug, topic:core

#37904 Added selection outline to locked nodes. Resolves #37892
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#37773 Add "node_unselected" signal for GraphEdit
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: cherrypick:3.2, enhancement, topic:gui

#37911 Run SpringArm3D's process within physics.
  scene/3d/spring_arm_3d.cpp
Labels: bug, cherrypick:3.2, crash, topic:physics

#37914 Fix texture check in decal setup
  scene/3d/decal.cpp
  scene/3d/decal.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
Labels: bug, topic:rendering

#37926 Migrate legacy apache dependency to the GodotPayment plugin
  platform/android/java/lib/build.gradle
  platform/android/java/plugins/godotpayment/build.gradle
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/ValidateTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/CustomSSLSocketFactory.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/HttpRequester.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/RequestParams.java
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem, topic:plugin

#37895 Fixes leaks in ResourceCache, Vulkan and X11
  core/resource.cpp
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/vulkan_context.cpp
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, topic:rendering

#37921 Improve the AudioStreamSample class documentation
  doc/classes/AudioStreamSample.xml
Labels: cherrypick:3.2, documentation, enhancement

#37869 Assign zero to range when ConvexPolygonShape2D is empty.
  servers/physics_2d/shape_2d_sw.h
Labels: bug, cherrypick:3.2, crash, topic:physics

#37824 More details in Rigid Body add_force documentation
  doc/classes/RigidBody3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#37832 Improve the Dictionary class documentation
  doc/classes/Dictionary.xml
Labels: cherrypick:3.2, documentation, enhancement

#37856 Mention `keep_pressed_outside` caveat in the BaseButton documentation
  doc/classes/BaseButton.xml
Labels: cherrypick:3.2, documentation, enhancement

#37747 Improve Camera2D documentation
  doc/classes/Camera2D.xml
Labels: cherrypick:3.2, documentation, enhancement

#37012 Tweak the built-in script naming for resources with custom names
  editor/plugins/script_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#36868 Tweak the error message when trying to run an invalid script from CLI
  main/main.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#37175 [3.2] Update the naming scheme for the GodotPlugin's methods
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Labels: enhancement, platform:android, topic:plugin

#37775 Add "node_unselected" signal for GraphEdit **[3.2]**
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:gui

#37948 Fix 3.2 compilation issue
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
Labels: bug, platform:android, topic:buildsystem

#37349 GLES2 2d Batch rendering (across items)
  doc/classes/Performance.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Viewport.xml
  doc/classes/VisualServer.xml
  drivers/gles2/rasterizer_array_gles2.h
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_canvas_base_gles2.h
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  main/performance.cpp
  main/performance.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_canvas.cpp
  servers/visual/visual_server_viewport.cpp
  servers/visual_server.cpp
  servers/visual_server.h
Labels: cherrypick:3.2, enhancement, topic:rendering

#35261 Made possible to specify where to dump the contents when loading a ".pck" file
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/file_access_zip.h
  core/project_settings.cpp
  core/project_settings.h
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.2, enhancement, topic:core

#37951 Use sky properly for ambient and reflections
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
Labels: bug, topic:rendering

#37964 Activate Physics Process in SpringArm3D.
  scene/3d/spring_arm_3d.cpp
Labels: bug, cherrypick:3.2, topic:core

#37957 Clarify that angles must be specified as radians in the documentation
  doc/classes/CanvasItem.xml
  doc/classes/Node3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#37962 Document image size limits
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
Labels: cherrypick:3.2, documentation, enhancement

#37953 Add light size to Sky Shaders
  doc/classes/ProceduralSkyMaterial.xml
  scene/resources/sky_material.cpp
  scene/resources/sky_material.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/sky.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:shaders

#37949 Implement global and per instance shader uniforms.
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
  editor/plugins/root_motion_editor_plugin.cpp
  editor/plugins/root_motion_editor_plugin.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/style_box_editor_plugin.cpp
  editor/plugins/style_box_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  editor/shader_globals_editor.cpp
  editor/shader_globals_editor.h
  main/main.cpp
  main/tests/test_shader_lang.cpp
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
  scene/main/shader_globals_override.cpp
  scene/main/shader_globals_override.h
  scene/register_scene_types.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_canvas_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shader_compiler_rd.cpp
  servers/rendering/rasterizer_rd/shader_compiler_rd.h
  servers/rendering/rasterizer_rd/shaders/canvas_uniforms_inc.glsl
  servers/rendering/rasterizer_rd/shaders/scene_high_end_inc.glsl
  servers/rendering/rasterizer_rd/shaders/sky.glsl
  servers/rendering/rendering_device.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: feature proposal, topic:rendering

#37958 SCons: Disable -Werror on 'stable' releases
  SConstruct
Labels: enhancement, topic:buildsystem

#37963 Document DynamicFont limitations and a possible workaround
  doc/classes/DynamicFont.xml
Labels: cherrypick:3.2, documentation, enhancement

#37994 Mono: Fix include for Android support
  modules/mono/godotsharp_dirs.cpp
Labels: bug, cherrypick:3.2, platform:android, topic:mono

#37997 Ability to create local RenderingDevice instances.
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  editor/editor_node.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering

#38002 Correct Dictionary addition of a key and the duplication of a variable name.
  doc/classes/Dictionary.xml
Labels: bug, cherrypick:3.2, documentation

#38019 Fixes incorrectly joining batch items from earlier z_index layers
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
Labels: bug, topic:rendering

#38027 Update TextEdit docs - explaining 'override_selected_font_color' role
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#37947 Update many docs with recent rendering changes
  doc/classes/BaseMaterial3D.xml
  doc/classes/Decal.xml
  doc/classes/DirectionalLight3D.xml
  doc/classes/Environment.xml
  doc/classes/Light3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Sky.xml
  doc/classes/Viewport.xml
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  servers/rendering_server.cpp
Labels: documentation, enhancement

#38035 Revert "Made possible to specify where to dump the contents when load…
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/file_access_zip.h
  core/project_settings.cpp
  core/project_settings.h
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.2, enhancement, topic:core
