Repository godotengine/godot, pull requests merged in 2020-02, with the labels that each got.

#35818 Prevent shader crash when name conflict with "dus" and "__" occured
  servers/visual/shader_language.cpp
Labels: bug, cherrypick:3.2, topic:shaders

#35618 Better visual shader code generation
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
Labels: cherrypick:3.2, enhancement, topic:core, topic:shaders

#35824 Added missing '\n' in visual shader custom node code generation
  scene/resources/visual_shader.cpp
Labels: cherrypick:3.2, enhancement, topic:shaders

#35827 Few extra formatting fixes for visual shader node generation
  scene/resources/visual_shader_nodes.cpp
Labels: cherrypick:3.2, enhancement, topic:shaders

#35811 Remove useless pluginscript godot_pluginscript_script_desc.get_rpc/rset_mode fields
  modules/gdnative/include/pluginscript/godot_pluginscript.h
Labels: enhancement, topic:gdnative

#35873 Added missing '\n' in visual shader fresnel node code generation
  scene/resources/visual_shader_nodes.cpp
Labels: cherrypick:3.2, enhancement, topic:shaders

#35881 Added missing '\n' in visual shader expression node code generation
  scene/resources/visual_shader.cpp
Labels: cherrypick:3.2, enhancement, topic:shaders

#35882 Fix restoring window from fullscreen to normal on Linux
  platform/x11/os_x11.cpp
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:core

#35883 Restores correct window position after fullscreen toggling off on Linux
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:core

#35855 Fix built-in script creation loading existing scripts by mistake
  editor/script_create_dialog.cpp
Labels: bug, cherrypick:3.2, topic:editor

#35898 Completes doc for button classes
  doc/classes/ColorPickerButton.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/ToolButton.xml
Labels: cherrypick:3.2, documentation, enhancement

#35918 Shortens minimum height of script editor
  editor/plugins/script_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#35915 Make some QOL improvements to move operations in the FileSystem dock
  editor/filesystem_dock.cpp
Labels: bug, cherrypick:3.2, enhancement, topic:editor, usability

#35912 Fix empty audio infinite loop
  modules/stb_vorbis/audio_stream_ogg_vorbis.cpp
Labels: bug, cherrypick:3.2, topic:audio, topic:import

#35926 Changelog: Mention 3.2 changes to TileMap features
  CHANGELOG.md
Labels: cherrypick:3.2, documentation, enhancement

#35908 Hide TileSet's properties from the inspector
  scene/resources/tile_set.cpp
Labels: bug, cherrypick:3.2, crash, topic:editor

#35723 Improve `CONTRIBUTING.md` and update it to follow recent changes
  CONTRIBUTING.md
Labels: documentation, enhancement

#35807 Improve the `doc_status.py` console output
  doc/tools/doc_status.py
Labels: documentation, enhancement

#32959 Fix control node transform animation jitter with pivot offset
  scene/gui/control.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#35911 Finish documenting BakedLightmap and TextureLayered
  doc/classes/BakedLightmap.xml
  doc/classes/TextureLayered.xml
Labels: cherrypick:3.2, documentation, enhancement

#35939 Centers project icon vertically in project list
  editor/project_manager.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#35938 Remove per-file progress reporting when exporting to Android
  platform/android/export/export.cpp
Labels: cherrypick:3.1, cherrypick:3.2, enhancement, platform:android, topic:porting

#35867 Updates Path2D in debugging if navigation is visible
  scene/2d/path_2d.cpp
Labels: bug, cherrypick:3.2, topic:core

#35887 Fixed String::humanize_size crash.
  core/ustring.cpp
Labels: bug, cherrypick:3.2, crash, topic:core

#35886 Fixed Godot not recognising 150x150 icon for uwp export #35871
  platform/uwp/export/export.cpp
Labels: bug, cherrypick:3.1, cherrypick:3.2, platform:uwp, topic:porting

#35731 Adds pan and zoom gestures to TextureRegion editor
  editor/plugins/texture_region_editor_plugin.cpp
Labels: enhancement, topic:editor

#35727 Use the editor background color for the profiler graph
  editor/editor_profiler.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#35749 Fix GlobalConstant/BasicTypeConstant return type in visual scripts
  modules/visual_script/visual_script_nodes.cpp
Labels: bug, cherrypick:3.2, topic:visualscript

#35892 Allow existing hidden files/directories when creating a new project
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#35906 Pass missing args in AnimationNode script calls
  scene/animation/animation_tree.cpp
Labels: bug, cherrypick:3.2, topic:core

#35933 Drop obsolete Dockerfile, we now have official build containers
  misc/dist/docker/Dockerfile
  misc/dist/docker/README.md
  misc/dist/docker/scripts/install-android-tools
Labels: enhancement, topic:buildsystem

#35068 Use MOUSE_FILTER_PASS for all containers
  editor/editor_audio_buses.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  scene/gui/box_container.cpp
  scene/gui/container.cpp
  scene/gui/graph_edit.cpp
  scene/gui/grid_container.cpp
  scene/gui/panel.cpp
  scene/gui/panel_container.cpp
Labels: discussion, enhancement, needs testing, topic:gui

#35949 Cherry-picks for the 3.2 branch (future 3.2.1)
  CHANGELOG.md
  doc/classes/AnimationPlayer.xml
  doc/classes/Array.xml
  doc/classes/BakedLightmap.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/TextureLayered.xml
  doc/classes/ToolButton.xml
  doc/classes/Tween.xml
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  editor/code_editor.cpp
  editor/editor_profiler.cpp
  editor/inspector_dock.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
  editor/script_editor_debugger.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/NodeExtensions.cs
  modules/opensimplex/doc_classes/OpenSimplexNoise.xml
  modules/opensimplex/open_simplex_noise.cpp
  modules/opensimplex/open_simplex_noise.h
  modules/stb_vorbis/audio_stream_ogg_vorbis.cpp
  platform/android/export/export.cpp
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/javascript/detect.py
  platform/osx/detect.py
  platform/osx/os_osx.mm
  platform/uwp/export/export.cpp
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
  scene/2d/path_2d.cpp
  scene/gui/control.cpp
  scene/gui/option_button.cpp
  scene/resources/tile_set.cpp
  scene/resources/visual_shader.cpp
  servers/visual/shader_language.cpp
Labels: bug, enhancement, topic:core

#35952 Few enchancements for shader editor
  editor/plugins/shader_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#35959 Remove the last ERR_PRINTS that was missed by #33391
  modules/mono/mono_gd/gd_mono_android.cpp
Labels: enhancement, topic:core

#35969 Fix javascript platform build
  platform/javascript/os_javascript.cpp
Labels: bug, platform:html5, topic:buildsystem

#35974 Completes doc for ItemList and Tree
  doc/classes/ItemList.xml
  doc/classes/Tree.xml
  scene/resources/default_theme/default_theme.cpp
Labels: cherrypick:3.2, documentation, enhancement

#35979 GraphEdit: Fix regression with GraphNode mouse filter
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui

#35963 SCons: Refactor module defines into a generated header, cleanup
  SConstruct
  core/core_builders.py
  editor/editor_themes.cpp
  editor/import/editor_scene_importer_gltf.cpp
  editor/plugin_config_dialog.cpp
  main/tests/test_gdscript.cpp
  main/tests/test_string.cpp
  methods.py
  modules/SCsub
  modules/freetype/SCsub
  modules/modules_builders.py
  modules/recast/navigation_mesh_generator.cpp
  modules/register_module_types.h
  modules/svg/SCsub
  modules/svg/image_loader_svg.cpp
  modules/svg/image_loader_svg.h
  scene/gui/rich_text_label.cpp
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: enhancement, needs testing, topic:buildsystem

#35983 Prevent shader crash if invalid builtin used after array member accessor
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, cherrypick:3.2, topic:shaders

#35925 Add documentation for Skeleton2D
  doc/classes/Skeleton2D.xml
Labels: documentation, enhancement, topic:core

#35142 Add support for 3D textures to GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_compiler_gles2.h
  drivers/gles2/shaders/canvas.glsl
  drivers/gles2/shaders/scene.glsl
  servers/visual/shader_language.cpp
Labels: bug, cherrypick:3.2, topic:rendering

#35950 Implemented hint_range for VisualShaderNodeScalarUniform
  doc/classes/VisualShaderNodeScalarUniform.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering

#35986 Allow non-constants for indexing builtin types in shaders
  servers/visual/shader_language.cpp
Labels: enhancement, topic:shaders

#32496 Fixes broken CPUParticles2D AtlasTextures usage
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
Labels: bug, cherrypick:3.2, topic:core

#35381 Export and reference the icon as favicon when exporting to HTML5
  misc/dist/html/fixed-size.html
  misc/dist/html/full-size.html
  platform/javascript/export/export.cpp
Labels: cherrypick:3.2, enhancement, platform:html5, topic:porting

#35682 Fix bug where canvas culls things at origin with size 0
  core/math/rect2.h
  servers/visual/visual_server_canvas.cpp
Labels: bug, cherrypick:3.2, topic:rendering

#35993 Workaround WebM playback bug after AudioServer latency fixes
  modules/theora/video_stream_theora.cpp
  modules/webm/video_stream_webm.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, cherrypick:3.2, regression, topic:audio, topic:core

#35999 Uses split cursor for SplitContainer
  scene/gui/split_container.cpp
Labels: bug, cherrypick:3.2, topic:gui

#35982 SCons: Split libmodules.a in folder-based libs
  SConstruct
  methods.py
  modules/SCsub
  platform/windows/detect.py
Labels: enhancement, needs testing, topic:buildsystem

#36011 Remove do{ } while(0) wrapper around error macros.
  core/error_macros.h
  modules/mono/csharp_script.cpp
Labels: bug, enhancement, topic:core

#36029 Update EditorSceneImporterAssimp description to reflect current status
  doc/classes/EditorSceneImporterAssimp.xml
Labels: cherrypick:3.2, documentation, enhancement

#35714 Update cached_width of the line_edit element (#35699)
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: bug, cherrypick:3.2, topic:gui

#36020 Update the zoom percentage when using Frame Selection in the 2D editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#36013 Avoid going out of bounds in IsSubsequenceOf
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: bug, cherrypick:3.2, topic:mono

#36008 Skeleton animates physical bones
  editor/plugins/skeleton_editor_plugin.cpp
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
  scene/3d/skeleton.cpp
  scene/3d/skeleton.h
Labels: enhancement, topic:physics

#35953 Fix UPNP on windows after #30205.
  thirdparty/README.md
  thirdparty/miniupnpc/miniupnpc/minissdpc.c
  thirdparty/miniupnpc/windows_fix.diff
Labels: bug, cherrypick:3.1, cherrypick:3.2, needs testing, platform:windows, topic:network

#36039 Fix text clipping in Tree items not working with negative values
  scene/gui/tree.cpp
Labels: bug, topic:core

#35814 Adds CTRL-A CTRL-E support to LineEdit on macOS
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
Labels: enhancement, platform:osx, topic:gui, usability

#35840 Fixes add group in Group Editor dialog
  editor/groups_editor.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, cherrypick:3.2, topic:editor

#35808 Unexpose ARRAY_COMPRESS_BASE
  doc/classes/Mesh.xml
  scene/resources/mesh.cpp
Labels: enhancement, topic:core

#35858 Brief and Description for Editor Inspector
  doc/classes/EditorInspector.xml
Labels: cherrypick:3.2, documentation, enhancement

#35768 Fix to RichTextEffect `visibility` - Label Now Accounts for Skipped Characters.
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#35701 Fix double tap pressed event regression
  platform/android/os_android.cpp
Labels: bug, cherrypick:3.2, platform:android, topic:input

#35649 Use uint/ulong for Color in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
Labels: breaks compat, bug, topic:mono

#36048 Make softbody completelly stiff to attachment point
  modules/bullet/soft_body_bullet.cpp
  scene/3d/soft_body.cpp
  scene/3d/soft_body.h
Labels: bug, topic:physics

#35656 Use a new approach to fix bone pose override not being reset when IK animation is stopped.
  editor/plugins/skeleton_ik_editor_plugin.cpp
  editor/plugins/skeleton_ik_editor_plugin.h
  scene/animation/skeleton_ik.cpp
  scene/animation/skeleton_ik.h
Labels: bug, cherrypick:3.2, topic:core, topic:editor

#33451 Added movement handles to 2D
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, usability

#33613 Fix 2D CollisionShape controls pointing the wrong way
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  scene/resources/line_shape_2d.cpp
Labels: discussion, enhancement, topic:editor

#36031 Fix undefined behavior with atan in GPU Particles
  scene/resources/particles_material.cpp
Labels: bug, cherrypick:3.2, topic:rendering

#36068 Fix VisualScriptClassConstant to be updated properly
  modules/visual_script/visual_script_nodes.cpp
Labels: cherrypick:3.2, enhancement, topic:visualscript

#36063 Remove unused GodotDocs and ParticleAttractor2D editor icons
  editor/icons/icon_godot_docs.svg
  editor/icons/icon_particle_attractor_2d.svg
Labels: enhancement, topic:editor

#36061 Tweak the "Changes may be lost!" text color to match the icon's color
  editor/inspector_dock.cpp
Labels: enhancement, topic:editor

#36054 Change the Pick Tile and Select default shortcuts in the TileMap editor
  editor/plugins/tile_map_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#36043 Fixes broken scene created via New Resource
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#36003 Adjusted linux cursors and added fallbacks
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:gui, topic:porting

#35958 Added LGTM Alert Badge
  README.md
Labels: enhancement, topic:buildsystem

#35819 Improve icons in the Input Map editor
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor, usability

#35812 Use StringName in pluginscript's set/get_prop and add_global_constant
  modules/gdnative/include/pluginscript/godot_pluginscript.h
  modules/gdnative/pluginscript/pluginscript_instance.cpp
  modules/gdnative/pluginscript/pluginscript_language.cpp
Labels: breaks compat, enhancement, topic:gdnative

#35802 Fix pressure / tilt ranges on Linux.
  platform/x11/os_x11.cpp
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:input

#35787 Re-add a way to generate a single convex shape from the editor
  editor/plugins/mesh_instance_editor_plugin.cpp
  editor/plugins/mesh_instance_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#36074 Travis: Use Python 3 for SCons
  .travis.yml
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#36071 Ignore hidden files and directories in find in files
  editor/find_in_files.cpp
Labels: bug, cherrypick:3.2, topic:editor

#35301 Improve the console error logging appearance
  core/io/logger.cpp
  drivers/unix/os_unix.cpp
  platform/osx/os_osx.mm
  platform/windows/windows_terminal_logger.cpp
Labels: enhancement, topic:core

#35260 Select the first project when searching in the project manager
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability

#34288 Always display subsequence autocompletion matches
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, usability

#34140 [iOS] Option to automatically generate icons and launch screens
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:porting

#34027 Improve the renderer selection display in the project manager
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#33950 Implement zooming using Ctrl + Mouse wheel in the GridMap editor
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#33903 change step size of anim length EditSpinSlider to match min anim length
  editor/animation_track_editor.cpp
Labels: enhancement, topic:editor, usability

#33815 Make Ctrl+F focus the editor asset library's search field
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: enhancement, topic:assetlib, topic:editor, usability

#36070 Make file system scan more robust
  editor/editor_file_system.cpp
  editor/editor_file_system.h
Labels: bug, cherrypick:3.2, enhancement, topic:editor

#36073 Fix VariantParser::StreamString EOF determination
  core/variant_parser.cpp
Labels: bug, cherrypick:3.2, topic:core

#35704 Include locked nodes on selection list
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability

#36075 Allow per pixel transparency in javascript platform
  doc/classes/OS.xml
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: cherrypick:3.2, enhancement, platform:html5, topic:porting

#36082 Fixes a crash in the 2D editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, crash, topic:editor

#36085 Remove AnimationTreePlayer node
  editor/editor_node.cpp
  editor/icons/icon_animation_tree_player.svg
  editor/plugins/animation_tree_player_editor_plugin.cpp
  editor/plugins/animation_tree_player_editor_plugin.h
  scene/animation/animation_tree_player.cpp
  scene/animation/animation_tree_player.h
  scene/register_scene_types.cpp
Labels: breaks compat, enhancement, topic:core

#36090 Fix selectable locked items
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: bug, regression, topic:editor

#34004 [Mono] Basis/Transforms array operator comments and improvements
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
Labels: cherrypick:3.2, enhancement, topic:mono

#36086 Allow to use arrow keys with TOOL_MOVE
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#36072 Add ConfigFile::parse()
  core/io/config_file.cpp
  core/io/config_file.h
  doc/classes/ConfigFile.xml
Labels: cherrypick:3.2, enhancement, topic:core

#33731 Fix Visual Studio throwing C4996 warning in ustring.cpp.
  core/ustring.cpp
Labels: bug, topic:core

#36097 Prevent Visual Studio compiler throwing C4715: not all control paths return a value.
  core/list.h
  modules/tinyexr/image_saver_tinyexr.cpp
Labels: enhancement, topic:core

#36102 [MinGW] Remove unused WinAPI includes/defines from RVO2.
  thirdparty/README.md
  thirdparty/rvo2/src/API.h
  thirdparty/rvo2/src/RVO.h
Labels: bug, platform:windows, topic:buildsystem

#36110 Don't flip screenshot.
  editor/editor_node.cpp
Labels: bug, topic:editor

#35249 Implementation of 'struct' for shaders
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/shader_compiler_gles2.cpp
  main/tests/test_shader_lang.cpp
  servers/visual/rasterizer_rd/shader_compiler_rd.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: feature proposal, topic:shaders

#36107 Update VulkanMemoryAllocator to 2.3.0 (Fixes build for 32-bit Windows and Linux).
  thirdparty/vulkan/vk_mem_alloc.h
Labels: bug, platform:linuxbsd, platform:windows, topic:buildsystem

#36106 Fix assign instead of comparison in image_save_tinyexr.cpp.
  modules/tinyexr/image_saver_tinyexr.cpp
Labels: bug, topic:core

#36095 Fixes crash when resource file is corrupted
  core/io/file_access_compressed.cpp
  core/io/resource_format_binary.cpp
Labels: bug, cherrypick:3.2, crash, topic:core

#36119 Fix problems with concave shapes in the TileSet editor
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#36136 Fixes friend declaration tag mismatch
  servers/visual/rasterizer.h
Labels: bug, topic:rendering

#36133 Changed in-text driver name to "Vulkan"
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#32293 Removed Color::gray
  core/color.cpp
  core/color.h
  core/image.cpp
  core/variant_call.cpp
  doc/classes/Color.xml
  modules/gdnative/gdnative/color.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/color.h
Labels: breaks compat, enhancement, topic:core

#36138 Fix hover symbol content position
  modules/gdscript/language_server/gdscript_text_document.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:gdscript

#35522 Optmized data sent during RPC and RSet calls.
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  core/script_language.cpp
  core/script_language.h
  modules/gdnative/nativescript/godot_nativescript.cpp
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/pluginscript/pluginscript_instance.cpp
  modules/gdnative/pluginscript/pluginscript_instance.h
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdnative/pluginscript/pluginscript_script.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:network

#36141 Added support for arrays as shader struct members
  drivers/gles2/shader_compiler_gles2.cpp
  servers/visual/rasterizer_rd/shader_compiler_rd.cpp
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: enhancement, topic:shaders

#36157 Fix Mono and GDNative builds after changes to ObjectID
  modules/gdnative/gdnative/gdnative.cpp
  modules/gdnative/include/gdnative/gdnative.h
  modules/mono/csharp_script.cpp
  modules/mono/signal_awaiter_utils.cpp
Labels: bug, topic:gdnative, topic:mono

#36146 doc: Add BaseMaterial3D strings ported from SpatialMaterial
  doc/classes/BaseMaterial3D.xml
  scene/resources/material.cpp
Labels: documentation, enhancement

#36142 Remove deprecated decimals builtin
  core/math/expression.cpp
  core/math/expression.h
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
Labels: breaks compat, enhancement, topic:gdscript, topic:visualscript

#36145 Remove deprecated PhysicsBody friction and bounce parameters
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
  doc/classes/StaticBody.xml
  doc/classes/StaticBody2D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body.cpp
  scene/3d/physics_body.h
Labels: breaks compat, enhancement, topic:physics

#36150 Added high-end (Vulkan) label to some functions in visual shader
  editor/editor_node.cpp
  editor/editor_themes.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor

#36167 Disable the GLES2 renderer option in the Project Manager
  editor/project_manager.cpp
Labels: bug, topic:editor

#36165 Fix startGame's logic in engine.js.
  platform/javascript/engine.js
Labels: bug, cherrypick:3.1, cherrypick:3.2, platform:html5, topic:porting

#36152 Rename the "Last Modified" project list sorting option to "Last Edited"
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/project_manager.h
Labels: bug, topic:editor, usability

#36172 Added virtual method to VisualShaderNodeCustom to enable high-end mark
  doc/classes/VisualShaderNodeCustom.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:core, topic:shaders

#36143 Remove deprecated sync and slave networking keywords
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  doc/classes/MultiplayerAPI.xml
  doc/classes/ProjectSettings.xml
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
  modules/mono/csharp_script.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/RPCAttributes.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
Labels: breaks compat, enhancement, topic:network

#36144 Remove deprecated PacketPeer allow_object_decoding
  core/io/multiplayer_api.cpp
  core/io/packet_peer.cpp
  core/io/packet_peer.h
  doc/classes/MultiplayerAPI.xml
  doc/classes/PacketPeer.xml
Labels: breaks compat, enhancement, topic:network

#36169 Fixes some memory leaks
  core/thread_work_pool.h
  drivers/vulkan/vulkan_context.cpp
Labels: bug, topic:core

#36163 GDNative: Make godot_int an int64_t
  modules/gdnative/gdnative/gdnative.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/gdnative.h
Labels: bug, topic:gdnative

#36175 Remove deprecated methods and code
  SConstruct
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/io/json.cpp
  core/io/resource_format_binary.cpp
  core/io/resource_format_binary.h
  core/math/expression.cpp
  core/variant_parser.cpp
  doc/classes/InstancePlaceholder.xml
  doc/classes/ResourceLoader.xml
  doc/classes/VisualServer.xml
  editor/scene_tree_editor.cpp
  modules/bullet/cone_twist_joint_bullet.cpp
  modules/bullet/generic_6dof_joint_bullet.cpp
  modules/bullet/hinge_joint_bullet.cpp
  modules/bullet/pin_joint_bullet.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quat.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/visual_script/visual_script_expression.cpp
  scene/3d/world_environment.cpp
  scene/main/instance_placeholder.cpp
  scene/main/instance_placeholder.h
  scene/main/node.cpp
  scene/register_scene_types.cpp
  scene/resources/environment.cpp
  scene/resources/environment.h
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/mesh.cpp
  scene/resources/multimesh.cpp
  scene/resources/multimesh.h
  servers/visual_server.cpp
Labels: breaks compat, enhancement, topic:buildsystem, topic:core

#36176 Fix shader crash if pass const argument to 'out/inout' parameter
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, topic:shaders

#36177 Fix bugs in shader swizzling
  servers/visual/shader_language.cpp
  servers/visual/shader_language.h
Labels: bug, enhancement, topic:shaders

#36183 Restore drag&drop textures in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#36187 Prevent usage 'out' modifier on opaque shader types (textures currently)
  servers/visual/shader_language.cpp
Labels: bug, topic:shaders

#36178 basis_universal: Update to upstream commit from Jan 4, 2020
  modules/basis_universal/register_types.cpp
  thirdparty/README.md
  thirdparty/basis_universal/basisu_backend.cpp
  thirdparty/basis_universal/basisu_basis_file.cpp
  thirdparty/basis_universal/basisu_comp.cpp
  thirdparty/basis_universal/basisu_comp.h
  thirdparty/basis_universal/basisu_enc.h
  thirdparty/basis_universal/basisu_frontend.cpp
  thirdparty/basis_universal/basisu_gpu_texture.cpp
  thirdparty/basis_universal/basisu_gpu_texture.h
  thirdparty/basis_universal/basisu_pvrtc1_4.cpp
  thirdparty/basis_universal/basisu_pvrtc1_4.h
  thirdparty/basis_universal/basisu_tool.cpp
  thirdparty/basis_universal/transcoder/basisu.h
  thirdparty/basis_universal/transcoder/basisu_transcoder.cpp
  thirdparty/basis_universal/transcoder/basisu_transcoder.h
  thirdparty/basis_universal/transcoder/basisu_transcoder_internal.h
  thirdparty/basis_universal/transcoder/basisu_transcoder_tables_pvrtc2_45.inc
  thirdparty/basis_universal/transcoder/basisu_transcoder_tables_pvrtc2_alpha_33.inc
Labels: enhancement, topic:thirdparty

#36193 Fix Vulkan project description
  editor/project_manager.cpp
Labels: bug, topic:editor

#36030 Allow using Enter key for replacing text in code editors
  editor/code_editor.cpp
Labels: enhancement, topic:editor, usability

#36197 Tweak the editor help comment color for better readability
  editor/editor_help.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#36200 Fix error flood with sky background
  servers/visual/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
Labels: bug, topic:rendering

#36203 Fixes memory leak in NavigationPolygon
  scene/2d/navigation_polygon.cpp
  scene/2d/navigation_polygon.h
Labels: bug, topic:core

#36209 Restore cubemaps in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#36208 Fix various GCC compilation warnings after Vulkan merge
  drivers/spirv-reflect/SCsub
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/vulkan_context.cpp
  editor/editor_themes.cpp
  editor/editor_visual_profiler.cpp
  main/tests/test_shader_lang.cpp
  modules/assimp/import_utils.h
  modules/basis_universal/SCsub
  modules/gdnative/arvr/arvr_interface_gdnative.cpp
  scene/3d/voxelizer.cpp
  scene/resources/material.cpp
  servers/visual/rasterizer.h
  servers/visual/rasterizer_rd/light_cluster_builder.cpp
  servers/visual/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/visual/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/visual/rasterizer_rd/rasterizer_storage_rd.h
  servers/visual/rendering_device.cpp
  servers/visual/shader_language.cpp
  servers/visual/visual_server_raster.cpp
Labels: bug, topic:buildsystem, topic:rendering

#36191 Disable video driver option in editor
  editor/editor_node.cpp
Labels: bug, topic:rendering

#36194 Fix crash when closing project manager
  servers/visual/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/visual/rasterizer_rd/rasterizer_scene_rd.cpp
Labels: bug, topic:rendering

#36212 Remove incomplete battery status/power API
  COPYRIGHT.txt
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/OS.xml
  platform/android/SCsub
  platform/android/export/export.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/android/power_android.cpp
  platform/android/power_android.h
  platform/haiku/os_haiku.cpp
  platform/haiku/os_haiku.h
  platform/iphone/power_iphone.cpp
  platform/iphone/power_iphone.h
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/osx/SCsub
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/osx/power_osx.cpp
  platform/osx/power_osx.h
  platform/server/SCsub
  platform/server/os_server.cpp
  platform/server/os_server.h
  platform/uwp/SCsub
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/uwp/power_uwp.cpp
  platform/uwp/power_uwp.h
  platform/windows/SCsub
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/power_windows.cpp
  platform/windows/power_windows.h
  platform/x11/SCsub
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
  platform/x11/power_x11.cpp
  platform/x11/power_x11.h
Labels: breaks compat, enhancement, topic:porting

#36201 Fix multiple issues with the "Import" dock
  editor/import_dock.cpp
  editor/import_dock.h
Labels: bug, cherrypick:3.2, topic:editor, topic:import

#36066 Fixes range hint for default_float_step
  editor/editor_node.cpp
Labels: bug, cherrypick:3.2, topic:editor

#36182 Remove TextFile from public API
  doc/classes/TextFile.xml
  scene/resources/text_file.h
Labels: documentation, enhancement

#36214 Vulkan-Loader: Mark secure_getenv as available on Linux
  drivers/vulkan/SCsub
Labels: enhancement, topic:buildsystem, topic:thirdparty

#36218 doc: Only encode version branch (x.y) in class header
  editor/doc/doc_data.cpp
  editor/doc/doc_dump.cpp
Labels: cherrypick:3.2, documentation, enhancement
