Repository godotengine/godot, pull requests merged in 2020-09, with the labels that each got.

#41662 Fix being able to create invalid scripts by pressing enter inside "Path"
  editor/script_create_dialog.cpp
Labels: bug, topic:editor

#40868 Change Color HTML conversion from ARGB to RGBA
  core/color.cpp
  core/color.h
  doc/classes/Color.xml
  editor/plugins/theme_editor_plugin.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  tests/test_color.h
Labels: breaks compat, enhancement, topic:core, topic:mono

#37240 Change the "remove missing" button to disabled rather than hidden
  editor/project_manager.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#41640 PopupMenu rework and enhancements.
  scene/gui/popup.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, enhancement, topic:gui

#41505 Made get_child support negative indexes
  doc/classes/Node.xml
  scene/main/node.cpp
Labels: feature proposal, topic:core

#41674 GDScript bugfixing
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
Labels: bug, topic:gdscript

#40269 Document support for normal and specular maps in AnimatedSprite2D
  doc/classes/AnimatedSprite2D.xml
  doc/classes/SpriteFrames.xml
Labels: cherrypick:3.2, documentation, enhancement

#41677 Document RigidBodies in character mode never sleeping automatically
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#37022 Iterate backwards over EditorPlugin's list of plugins in get_editor etc
  editor/editor_data.cpp
Labels: enhancement, needs testing, topic:editor, topic:plugin

#41641 Document scroll horizontal and scroll vertical in text edit
  doc/classes/TextEdit.xml
Labels: documentation, enhancement

#41669 Fix hard-coded OP_MAX in variant_op.cpp
  core/variant_op.cpp
Labels: enhancement, topic:core

#41678 Fix typo in SDF jumpflood shader
  servers/rendering/rasterizer_rd/shaders/sdfgi_preprocess.glsl
Labels: bug, topic:rendering

#41679 Document how renaming the project affects the user data path
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.2, documentation, enhancement

#41681 Remove GitHub actions badge.
  README.md
Labels: enhancement

#41659 doc/FileDialog: warn about access limitations in sandboxed apps
  doc/classes/FileDialog.xml
Labels: cherrypick:3.2, documentation, enhancement

#41668 Add high quality glow mode
  doc/classes/ProjectSettings.xml
  drivers/dummy/rasterizer_dummy.h
  editor/editor_node.cpp
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/shaders/copy.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, enhancement, topic:rendering

#41338 Add GDScript code generation abstraction
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  tests/test_gdscript.cpp
Labels: enhancement, topic:gdscript

#40408 Document missing character behavior when drawing text with fonts
  doc/classes/DynamicFont.xml
  doc/classes/Font.xml
Labels: cherrypick:3.2, documentation, enhancement

#41355 Port GDScript test/debugging tools
  core/os/os.h
  modules/gdscript/SCsub
  modules/gdscript/register_types.cpp
  modules/gdscript/tests/test_gdscript.cpp
  modules/gdscript/tests/test_gdscript.h
  tests/SCsub
  tests/test_macros.cpp
  tests/test_macros.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#41190 Accept global classes for `MainLoop` type in project settings
  main/main.cpp
Labels: bug, topic:core

#41708 Merge python EnvironmentError, IOError and WindowsError into OSError.
  methods.py
  modules/mono/build_scripts/mono_reg_utils.py
  platform_methods.py
Labels: enhancement, topic:buildsystem

#41711 Particle shaders
  scene/resources/particles_material.cpp
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.h
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shader_compiler_rd.cpp
  servers/rendering/rasterizer_rd/shader_compiler_rd.h
  servers/rendering/rasterizer_rd/shaders/SCsub
  servers/rendering/rasterizer_rd/shaders/particles.glsl
  servers/rendering/rasterizer_rd/shaders/particles_copy.glsl
  servers/rendering/rasterizer_rd/shaders/sort.glsl
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/shader_types.cpp
Labels: bug, topic:rendering

#41715 Add VariantInternal class
  core/variant.h
  core/variant_internal.h
Labels: feature proposal, topic:core

#41717 dummy_rasterizer now returns correct instance type: VS::INSTANCE_LIGHTMAP_CAPTURE
  drivers/dummy/rasterizer_dummy.h
Labels: bug, topic:rendering

#41687 Fix doctest runner ignoring all arguments starting with --test
  tests/test_main.cpp
Labels: bug, topic:core

#41692 Updated PopupMenu documentation after merge of #41640 - PopupMenu rework
  doc/classes/PopupMenu.xml
Labels: documentation, enhancement

#41719 Fix particles shader to use built-ins
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#41456 Popup fixes for X11 display server
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/popup.cpp
  scene/gui/popup.h
  scene/main/window.cpp
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, platform:linuxbsd, topic:editor, topic:gui

#41589 Make blank project name create an error, not a warning
  editor/project_manager.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#40400 Added PCK file loading with offset feature
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/file_access_zip.h
  core/project_settings.cpp
  core/project_settings.h
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.2, enhancement, topic:core

#41713 Mention Viewport.render_target_clear_mode property is intended for 2D usage
  doc/classes/Viewport.xml
Labels: documentation, enhancement

#41533 Fix specular render_mode for visual shaders
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders

#41714 Mention SubViewport.render_target_clear_mode property is intended for 2D usage
  doc/classes/SubViewport.xml
Labels: documentation, enhancement

#41729 C#: Fix Windows detection for copying MSBuild stub
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/GodotTools.ProjectEditor.csproj
Labels: bug, cherrypick:3.2, platform:windows, topic:editor, topic:mono

#41724 Restore Particles functionality in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:shaders

#41596 Fix drag and drop between windows in X11 display server
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:editor, topic:gui

#41702 Update search function in project settings
  editor/editor_sectioned_inspector.cpp
Labels: bug, cherrypick:3.2, topic:editor, usability

#41460 Improve the resource loading error message to mention the need to import
  core/io/resource_loader.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#41459 Fix colour region end key seach and start key order
  modules/gdscript/editor/gdscript_highlighter.cpp
  scene/resources/syntax_highlighter.cpp
Labels: bug, topic:core, topic:editor

#41332 Revert #41164, add subsystem build option.
  editor/editor_node.cpp
  editor/editor_settings.cpp
  main/main.cpp
  platform/windows/detect.py
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:buildsystem, topic:porting, usability

#41453 Build the engine with custom modules in Visual Studio
  methods.py
Labels: feature proposal, topic:buildsystem

#41731 Ensure header guards enclose entire header.
  core/io/file_access_zip.h
  drivers/alsa/audio_driver_alsa.h
  drivers/alsamidi/midi_driver_alsamidi.h
  drivers/pulseaudio/audio_driver_pulseaudio.h
  modules/cvtt/register_types.h
  modules/webrtc/webrtc_data_channel_gdnative.h
  modules/webrtc/webrtc_peer_connection_gdnative.h
Labels: cherrypick:3.2, enhancement, topic:core

#41733 [2.1][OSX] Cannot export to OSX
  platform/osx/export/export.cpp
Labels: bug, platform:macos, topic:editor

#41050 Make the SpriteFrames animation speed SpinBox take less vertical space
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#41044 Implement CollisionShape3D.make_convex_from_siblings()
  doc/classes/CollisionShape3D.xml
  scene/3d/collision_shape_3d.cpp
  scene/3d/collision_shape_3d.h
Labels: breaks compat, enhancement, topic:physics

#41739 Create a .lgtm.yml file to enable lgtm to successfully build Godot.
  .lgtm.yml
Labels: enhancement, topic:buildsystem, topic:tests

#41748 Fix 'Parameter "assembly" is null' error
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#41749 [3.2] Fix 'Parameter "assembly" is null' error
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#41750 C#: Fix Godot failing to find class namespace
  modules/mono/editor/GodotTools/GodotTools/CsProjOperations.cs
Labels: bug, topic:mono

#41751 [3.2] C#: Fix Godot failing to find class namespace
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/mono/editor/GodotTools/GodotTools/CsProjOperations.cs
Labels: bug, topic:mono

#41747 Fix parsing of C# files with spaces in the path
  modules/mono/editor/GodotTools/GodotTools.Core/StringExtensions.cs
Labels: bug, cherrypick:3.2, topic:editor, topic:mono

#41752 [3.2] Fix InvalidOperationException when migrating from 3.2.1 or older csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
Labels: bug, topic:editor, topic:mono

#41753 C#: Hide Build button if there's no solution to build
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: enhancement, topic:mono

#41754 [3.2] C#: Hide Build button if there's no solution to build
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: enhancement, topic:mono

#40996 Improve editor tooltips related to debugging
  editor/editor_run_native.cpp
  editor/plugins/debugger_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#40958 Improve the quick hash function for all GPUs
  servers/rendering/rasterizer_rd/shaders/scene_high_end.glsl
Labels: bug, topic:rendering

#41761 Ensure assignment operators return by reference to avoid unnecessary copies.
  core/math/audio_frame.h
  core/math/quat.h
  core/ustring.h
  editor/editor_audio_buses.h
  scene/3d/soft_body_3d.cpp
  scene/3d/soft_body_3d.h
  servers/physics_server_2d.h
  servers/physics_server_3d.h
Labels: enhancement, topic:core

#41758 doc: Sync classref with current source
  doc/classes/EditorFeatureProfile.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/GPUParticles3D.xml
  doc/classes/VisualShader.xml
  editor/editor_feature_profile.cpp
  scene/resources/shader.cpp
  scene/resources/visual_shader.cpp
Labels: documentation, enhancement

#41689 Fix PopupMenu unresponsive on right side of menu
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#41760 null pointer dereference at GDScriptFunction::call crash fix
  modules/gdscript/gdscript_function.cpp
Labels: bug, crash, topic:gdscript

#41764 Make PosVertex to Vertex slicing explicit.
  editor/plugins/abstract_polygon_2d_editor.cpp
Labels: enhancement, topic:editor, topic:plugin

#41770 Fix Mono path utils char types.
  modules/mono/utils/path_utils.cpp
Labels: bug, platform:windows, topic:mono

#41763 Make OS_Unix time calls thread safe.
  drivers/unix/os_unix.cpp
Labels: cherrypick:3.2, enhancement, platform:linuxbsd, topic:core

#40649 Fix bug where leading and trailing spaces werent taken into account with center and right allignment
  scene/gui/label.cpp
Labels: bug, cherrypick:3.2, topic:gui

#41780 Improve messages in shader function validation
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:editor, topic:shaders

#41785 Fix crash regression in the shader function validation
  servers/rendering/shader_language.cpp
Labels: bug, crash, regression, topic:shaders

#41789 Cleanup constructor code in visual shader nodes
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:codestyle, topic:shaders

#41790 Handle csproj "Remove" globs
  modules/mono/editor/GodotTools/GodotTools.Core/StringExtensions.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
Labels: bug, topic:editor, topic:mono

#41800 [3.2] Handle csproj "Remove" globs
  modules/mono/editor/GodotTools/GodotTools.Core/StringExtensions.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
Labels: bug, high priority, topic:editor, topic:mono

#41801 Fixed get_usable_parent_rect() errors when initialising popup menus.
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#41802 Use flags instead TYPE_ enum in visual shaders editor
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:codestyle, topic:editor, topic:shaders

#41804 Removes redundant code & fix documentation for VisualShaderNodeCustom
  doc/classes/VisualShaderNodeCustom.xml
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: documentation, enhancement, topic:editor, topic:shaders

#41803 GDScript: parameter infer type bug fix
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
Labels: bug, topic:gdscript

#41810 Implement manual particle emission and particle sub emitters.
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rasterizer_rd/shaders/particles.glsl
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_types.cpp
  servers/rendering_server.h
Labels: enhancement, feature proposal, topic:rendering

#41813 Fix header guards in modules.
  modules/arkit/register_types.h
  modules/basis_universal/texture_basisu.h
  modules/camera/register_types.h
  modules/denoise/register_types.h
  modules/mono/register_types.h
  modules/webrtc/webrtc_data_channel_js.h
  modules/webrtc/webrtc_multiplayer.h
Labels: enhancement, topic:core

#41832 Clarify the required child node type in the GridContainer documentation
  doc/classes/GridContainer.xml
Labels: cherrypick:3.2, documentation, enhancement

#41837 Fix the update logic for user-added custom defines.
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles2/shader_gles2.h
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles3/shader_gles3.h
  scene/resources/shader.cpp
  scene/resources/shader.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.h
Labels: bug, platform:android, topic:shaders

#41781 Fixed Some typos.
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering_server.h
Labels: bug, topic:codestyle

#41767 Remove ArrayMesh::surface_remove declaration
  scene/resources/mesh.h
Labels: enhancement, topic:core

#41843 Fix some broken visual shader nodes
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
Labels: bug, regression, topic:shaders

#41844 Use != 0 instead of > 0 when checking bit mask.
  scene/gui/base_button.cpp
Labels: enhancement, topic:gui

#41845 Clarify comparison when enabling or disabling canvas_item copy_back_buffer buffer.
  servers/rendering/rendering_server_canvas.cpp
Labels: enhancement, topic:rendering

#41846 Fixed expand/collapse folder option not showing in FileSystemDock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#41510 Add translators comments extraction for Editor
  editor/translations/extract.py
Labels: cherrypick:3.2, enhancement, topic:editor

#41840 Remakes particles in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:shaders

#39100 Fixed PackedByteArray GDScript functions
  core/variant_call.cpp
Labels: bug, topic:core, topic:gdscript

#38944 HttpRequest now handles gzipping response bodies
  core/io/compression.cpp
  core/io/compression.h
  core/variant_call.cpp
  doc/classes/HTTPRequest.xml
  doc/classes/PackedByteArray.xml
  scene/main/http_request.cpp
  scene/main/http_request.h
Labels: enhancement, topic:network

#38308 Adds PCK encryption support (using script encryption key for export).
  core/crypto/crypto_core.cpp
  core/crypto/crypto_core.h
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/pck_packer.cpp
  core/io/pck_packer.h
  doc/classes/PCKPacker.xml
  editor/editor_export.cpp
  editor/editor_export.h
  editor/project_export.cpp
  editor/project_export.h
  modules/gdscript/register_types.cpp
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
  platform/uwp/export/export.cpp
Labels: enhancement, topic:editor

#41856 Added `active` boolean to particles mode output in visual shaders
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:shaders

#41860 SCons: Fix regression in Python 2 support
  methods.py
Labels: bug, topic:buildsystem

#41859 Backport translator comment PR to 3.2
  editor/translations/extract.py
Labels: enhancement, topic:buildsystem, topic:editor

#41869 Fix build with GDScript support disabled
  editor/plugin_config_dialog.cpp
Labels: bug, topic:buildsystem, topic:editor

#41536 [3.2] Fix specular render_mode for visual shaders
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders

#41870 Fix LineEdit not consuming enter events
  scene/gui/line_edit.cpp
Labels: bug, cherrypick:3.2, regression, topic:editor

#41876 Check if old mouse column is still available.
  scene/gui/tree.cpp
Labels: bug, cherrypick:3.2, crash, regression, topic:gui

#41875 Fix TURN server example in WebRTC documentation
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
Labels: cherrypick:3.2, documentation, enhancement, topic:network

#41880 mesh_library.h: Update header guard to reflect file name
  scene/resources/mesh_library.h
Labels: enhancement, topic:codestyle

#41879 Initialise Basis elements with a default Basis in the declaration.
  core/math/basis.h
Labels: bug, cherrypick:3.2, crash, topic:core, topic:physics

#41886 C#: Fix endless reload loop if project has unicode chars
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#41887 [3.2] C#: Fix endless reload loop if project has unicode chars
  modules/mono/mono_gd/gd_mono_assembly.cpp
Labels: bug, topic:mono

#41888 C#: Use BOM when creating a solution
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/DotNetSolution.cs
Labels: bug, cherrypick:3.2, topic:editor, topic:mono

#41709 Fixed parser error when indexing a dictionary.
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript

#41893 Document that batching is only effective when using the GLES2 renderer
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#41898 Improve performance of Undo:change node position in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:shaders

#41894 Change vector inequality comparison operators to use exact equality
  core/math/vector2.h
  core/math/vector3.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Labels: bug, regression, topic:core

#41812 Improve documentation related to Array error handling
  doc/classes/Array.xml
Labels: cherrypick:3.2, documentation, enhancement

#41904 GDScript: Fix MutexLock usage, fixes Clang 6 compat
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript

#41914 Explicitly add implicitly added JavaScript semicolons.
  misc/dist/html/full-size.html
  platform/javascript/engine/engine.js
Labels: enhancement, platform:html5, topic:codestyle

#41916 Improve performance for Show/Hide port preview in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:editor, topic:shaders

#41918 Implement 3D textures as import and resource format.
  core/image.cpp
  core/image.h
  editor/editor_node.cpp
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_layered_texture.h
  editor/plugins/texture_3d_editor_plugin.cpp
  editor/plugins/texture_3d_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  servers/rendering/rasterizer.h
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Labels: feature proposal, topic:import

#41921 stb_vorbis: Increase max alloc buffer size for big Vorbis comments
  modules/stb_vorbis/audio_stream_ogg_vorbis.cpp
Labels: bug, cherrypick:3.2, topic:audio, topic:import

#41922 Fix build warning in visual_shader_editor
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:buildsystem

#41925 Make EXR import format support all depths and channel configurations
  modules/tinyexr/image_loader_tinyexr.cpp
Labels: enhancement, topic:import

#41926 Rename ShortCut to Shortcut which is more grammatically correct
  doc/classes/BaseButton.xml
  doc/classes/PopupMenu.xml
  doc/classes/Shortcut.xml
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/icons/Shortcut.svg
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/settings_config_dialog.cpp
  scene/gui/base_button.cpp
  scene/gui/base_button.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/gui/shortcut.cpp
  scene/gui/shortcut.h
  scene/register_scene_types.cpp
Labels: breaks compat, enhancement, topic:input

#41932 Set repeat in all 3 dimensions in 3d textures
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: bug, topic:rendering

#41928 tinyexr: Sync with upstream 1.0.0
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/tinyexr/tinyexr.cc
  thirdparty/tinyexr/tinyexr.h
Labels: cherrypick:3.2, enhancement, topic:import, topic:thirdparty

#41937 Remove unused variable in fixed-size.html.
  misc/dist/html/fixed-size.html
Labels: enhancement, platform:html5, topic:codestyle

#41920 Fix ColorPickerButton to apply changes after picker popup closed
  scene/gui/color_picker.cpp
Labels: bug, regression, topic:gui

#41940 Remove duplicate or unnecessary Python definitions.
  editor/translations/extract.py
  glsl_builders.py
Labels: enhancement, topic:buildsystem

#41935 Added Texture3D to visual shaders
  doc/classes/Texture3D.xml
  doc/classes/VisualShaderNodeTexture.xml
  doc/classes/VisualShaderNodeTexture3D.xml
  doc/classes/VisualShaderNodeTexture3DUniform.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:shaders

#41890 Add 'get_previous_tab()' to 'Tabs'
  doc/classes/Tabs.xml
  scene/gui/tabs.cpp
  scene/gui/tabs.h
Labels: cherrypick:3.2, enhancement, topic:gui

#41795 Fix tilemap tile preview on horizontal/vertical flips.
  editor/plugins/tile_map_editor_plugin.cpp
Labels: bug, cherrypick:3.2, regression, topic:editor

#41944 Remove unused Python imports.
  SConstruct
  core/SCsub
  core/input/SCsub
  main/main_builders.py
  modules/denoise/resource_to_cpp.py
  modules/mono/build_scripts/mono_configure.py
  platform/osx/detect.py
Labels: enhancement, topic:buildsystem

#41945 git: Ignore clangd cache folder
  .gitignore
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#41951 scene_tree.h: Update header guard
  scene/main/scene_tree.h
Labels: enhancement, topic:codestyle

#41806 Avoid adding margin twice along capsule Y axis
  modules/bullet/shape_bullet.cpp
Labels: enhancement, topic:physics

#41954 Rename RayCast's `cast_to` property to `target_position`
  doc/classes/RayCast2D.xml
  doc/classes/RayCast3D.xml
  editor/node_3d_editor_gizmos.cpp
  scene/2d/ray_cast_2d.cpp
  scene/2d/ray_cast_2d.h
  scene/3d/ray_cast_3d.cpp
  scene/3d/ray_cast_3d.h
Labels: breaks compat, enhancement, topic:physics

#40973 Add CodeEdit and TextEdit gutter system
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/register_scene_types.cpp
  scene/resources/default_theme/bookmark.png
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/theme_data.h
  scene/resources/syntax_highlighter.cpp
  scene/resources/syntax_highlighter.h
Labels: enhancement, feature proposal, topic:core, topic:editor

#41971 Fix RichTextLabel alignment for clickable regions
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, regression, topic:gui

#41975 Remove unused Python local variables.
  editor/editor_builders.py
  glsl_builders.py
  modules/mono/build_scripts/solution_builder.py
Labels: enhancement, topic:buildsystem

#41965 Fix ATTENUATION and implement SHADOW_ATTENUATION.
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
  servers/rendering/shader_types.cpp
Labels: bug, topic:rendering

#41977 Add missing reference to const T Vector::get().
  core/vector.h
Labels: bug, cherrypick:3.2, topic:core

#41955 Improve performance of Add/Remove/Connect/Change nodes in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:editor, topic:shaders

#41976 Move GDNative `String` tests to respective module
  modules/gdnative/tests/test_string.h
  tests/SCsub
  tests/test_main.cpp
Labels: enhancement, topic:gdnative, topic:tests

#41986 Fix triplanar texture code generation in visual shaders
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader_nodes.cpp
Labels: bug, regression, topic:shaders

#41988 Clarify get_data Image method
  doc/classes/Image.xml
Labels: cherrypick:3.2, documentation, enhancement

#42003 Update shader graph if mode is changed
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, regression, topic:editor

#41841 Remove bit fields and use fixed width integers instead.
  scene/gui/text_edit.h
Labels: enhancement, topic:gui

#41995 Disconnect item_rect_changed removing a child of GraphEdit
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui

#41996 [3.2] Disconnect item_rect_changed removing a child of GraphEdit
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui

#42019 C#: Fix csproj not synced on file move/removal from FS dock
  modules/mono/editor/GodotTools/GodotTools.Core/StringExtensions.cs
Labels: bug, cherrypick:3.2, topic:editor, topic:mono

#42000 Add concatenation support and a new constructor to Godot.Collections.Array
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/collections_glue.cpp
Labels: cherrypick:3.2, enhancement, topic:mono

#42012 Fix Vector{2,3}i casting on Variant multiplication with numbers
  core/variant_op.cpp
Labels: bug, topic:core

#42031 [VisualShader] Fixes default node's input port not hiding on connection
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, regression, topic:editor

#36407 Fixes crash when saving scene
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: bug, topic:editor, topic:rendering

#42044 Fix visual shader connection regression
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, regression, topic:shaders

#42038 Fix "Create Trimesh Collision Sibling" transform
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:physics

#41987 Improve AudioEffectDistortion and AudioEffectFilter documentation
  doc/classes/AudioEffectDistortion.xml
  doc/classes/AudioEffectFilter.xml
Labels: cherrypick:3.2, documentation, enhancement

#42045 Fix #42043, mismatched compress options in ResourceImporterLayeredTex…
  editor/import/resource_importer_layered_texture.cpp
Labels: bug, topic:import

#42042 Add mono log message to error for fatal errors
  modules/mono/mono_gd/gd_mono_log.cpp
Labels: cherrypick:3.2, enhancement, topic:mono, usability
