Repository godotengine/godot, pull requests merged in 2020-05, with the labels that each got.

#37939 Add AtlasTexture support in SpriteFrames Editor
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#37414 Move wheel handlers from window to canvas element in HTML
  platform/javascript/os_javascript.cpp
Labels: bug, cherrypick:3.2, platform:html5, topic:input, topic:porting

#38105 Removed noisy ERR check from Multiplayer API.
  modules/gdscript/gdscript.cpp
Labels: bug, topic:network

#38346 Fix custom w component being uninitialized on CPU particles.
  scene/3d/cpu_particles_3d.cpp
Labels: bug, cherrypick:3.2, topic:core

#38380 Fix Soft Reload Script shortcut clash with Replace in Files
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, usability

#38320 GLES2 2D batching - item reordering, light joining and light modulate fix
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  servers/visual_server.cpp
Labels: bug, enhancement, topic:rendering

#38378 Fix uninitialized memory in CPUParticles2D
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
Labels: bug, topic:core, topic:rendering

#38395 Tweak Tween cheatsheet link formatting to avoid rST conversion bug
  doc/classes/Tween.xml
Labels: bug, cherrypick:3.2, documentation

#38413 Added missing spring enums for generic_6dof_joint
  doc/classes/Generic6DOFJoint3D.xml
  scene/3d/physics_joint_3d.cpp
Labels: bug, cherrypick:3.2, topic:physics

#38422 Fix crash in stb_vorbis.c
  thirdparty/README.md
  thirdparty/misc/stb_vorbis.c
Labels: bug, cherrypick:3.2, topic:thirdparty

#38421 Remove some C++11 polyfill defines that are no longer needed
  core/io/logger.cpp
  core/variant.h
  modules/mono/utils/string_utils.cpp
Labels: enhancement, topic:core

#38275 Mark "Indented block expected" error after function declaration
  modules/gdscript/gdscript_parser.cpp
Labels: cherrypick:3.2, enhancement, topic:gdscript

#32534 Make `dict2inst` to work with arbitrary `_init` parameters
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_functions.cpp
Labels: bug, topic:gdscript

#37756 Fix X11 pressure and tilt values.
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: bug, cherrypick:3.2, platform:linuxbsd, topic:input

#38431 register RenderingDevice as gdscript singleton
  servers/register_server_types.cpp
Labels: enhancement, topic:core

#38420 Tilemap: Fix performance issue in fallback of update_bitmask_region
  scene/2d/tile_map.cpp
Labels: bug, cherrypick:3.2, topic:core

#38406 Calculate sun diameter even when not using shadows
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
Labels: bug, topic:rendering

#38394 Implement Skew in Node2D
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  scene/2d/node_2d.cpp
  scene/2d/node_2d.h
Labels: cherrypick:3.2, enhancement, topic:core

#38392 fix typo
  doc/classes/@GlobalScope.xml
Labels: bug, documentation

#38376 Proper naming and ordering when Duplicate nodes in SceneTreeDock
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#38439 Make non pressure sensitive device behavior consistent.
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: cherrypick:3.2, enhancement, platform:linuxbsd, platform:windows, topic:input

#38432 Add MODULATE builtin to canvas item shaders (3.2)
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/canvas.glsl
  drivers/gles3/shader_compiler_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  scene/resources/visual_shader.cpp
  servers/visual/shader_types.cpp
Labels: enhancement, topic:rendering

#38450 GLES2 batching - prevent color baking with MODULATE or COLOR
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_compiler_gles2.h
Labels: bug, enhancement, topic:rendering

#37937 Priorize Embedded PCKs on loading
  core/project_settings.cpp
Labels: bug, cherrypick:3.2, topic:porting

#38453 GLES2 disable half-float project setting
  drivers/gles2/rasterizer_storage_gles2.cpp
  servers/visual_server.cpp
Labels: bug, topic:rendering

#38446 Fixes type of array in _set_outlines function
  scene/2d/navigation_region_2d.cpp
  scene/2d/navigation_region_2d.h
Labels: bug, topic:navigation

#37717 Change non-existent World to World3D
  editor/editor_node.cpp
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/mesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/csg/csg_shape.cpp
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/collision_object_3d.cpp
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/ray_cast_3d.cpp
  scene/3d/soft_body_3d.cpp
  scene/3d/spring_arm_3d.cpp
  scene/3d/visibility_notifier_3d.cpp
  scene/3d/visual_instance_3d.cpp
  scene/3d/world_environment.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:core

#38466 Document the expected normal map coordinate system where relevant
  doc/classes/BaseMaterial3D.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/MeshInstance2D.xml
  doc/classes/MultiMeshInstance2D.xml
  doc/classes/Polygon2D.xml
  doc/classes/Sprite2D.xml
  doc/classes/StyleBoxTexture.xml
  doc/classes/TileSet.xml
Labels: cherrypick:3.2, documentation, enhancement

#38465 Check for empty vectors before trying to access a pointer to the first element in Octree<T, use_pairs, AL>::cull_convex().
  core/math/octree.h
Labels: bug, cherrypick:3.2, crash, topic:core

#38476 Added 'disable_half_float' project setting to the class reference.
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#38479 Some fixes for canvas item visual shader inputs
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders

#38468 Address `OS.request_permissions()` bug when a non-platform permission is included
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
Labels: bug, cherrypick:3.2, needs testing, platform:android

#38483 Add support for the WinTab API for pen input.
  core/input/input_event.cpp
  core/os/os.h
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: enhancement, platform:windows, topic:input

#38477 (3.2) Some fixes for canvas item visual shader inputs
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders

#38480 Fix: Tween always return true for _get(), _set()
  scene/animation/tween.cpp
Labels: bug, cherrypick:3.2, topic:core

#38415 Fix array slicing.
  core/array.cpp
  core/array.h
Labels: bug, cherrypick:3.2, topic:core

#37293 Improved go-to definition (Ctrl + Click)
  editor/editor_help.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  scene/gui/text_edit.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, topic:gdscript

#38484 Add support for the WinTab API for pen input. (3.2)
  core/os/input_event.cpp
  core/os/os.h
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, topic:input

#38492 Fix suffix property doc typo: "prefix" -> "suffix"
  doc/classes/SpinBox.xml
Labels: cherrypick:3.2, documentation, enhancement

#38475 Added uniform qualifiers to visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:core, topic:rendering, topic:shaders

#38393 Format remote printerr properly in script debugger output
  core/debugger/remote_debugger.cpp
  core/debugger/remote_debugger.h
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:core, topic:editor

#38488 Updated editor spin slider to have better behaviour and adjusted control's size_flags_stretch_ratio value range
  editor/editor_spin_slider.cpp
  scene/gui/control.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, topic:gui, usability

#38495 Bind set_suffix and get_suffix in Tree
  scene/gui/tree.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#38506 Fix scale calculation in VHACD Volume::Voxelize().
  thirdparty/vhacd/0005-fix-scale-calculation.patch
  thirdparty/vhacd/inc/vhacdVolume.h
Labels: bug, cherrypick:3.2, topic:core, topic:editor

#38519 Request the dedicated GPU when starting Godot from the `.desktop` file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: cherrypick:3.2, enhancement, platform:linuxbsd, topic:porting

#38474 clang-format: Add JavaImportGroups for Java code
  .clang-format
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotDownloaderAlarmReceiver.java
  platform/android/java/lib/src/org/godotengine/godot/GodotDownloaderService.java
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/GodotRenderer.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotTextInputWrapper.java
  platform/android/java/lib/src/org/godotengine/godot/input/InputManagerV16.java
  platform/android/java/lib/src/org/godotengine/godot/input/Joystick.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/SignalInfo.java
  platform/android/java/lib/src/org/godotengine/godot/utils/GLUtils.java
  platform/android/java/lib/src/org/godotengine/godot/utils/GodotNetUtils.java
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
  platform/android/java/lib/src/org/godotengine/godot/xr/ovr/OvrConfigChooser.java
  platform/android/java/lib/src/org/godotengine/godot/xr/ovr/OvrContextFactory.java
  platform/android/java/lib/src/org/godotengine/godot/xr/ovr/OvrWindowSurfaceFactory.java
  platform/android/java/lib/src/org/godotengine/godot/xr/regular/RegularConfigChooser.java
  platform/android/java/lib/src/org/godotengine/godot/xr/regular/RegularContextFactory.java
  platform/android/java/lib/src/org/godotengine/godot/xr/regular/RegularFallbackConfigChooser.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/ConsumeTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/GodotPayment.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/HandlePurchaseTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/PaymentsManager.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/PurchaseTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/ReleaseAllConsumablesTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/ValidateTask.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/CustomSSLSocketFactory.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/HttpRequester.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/utils/RequestParams.java
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem

#38520 PopupMenu.get_current_index() bound to ClassDB
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: cherrypick:3.2, enhancement, topic:gui

#38525 Make 2D and 3D KinematicBody move_and_slide() documentation consistent.
  doc/classes/KinematicBody3D.xml
Labels: bug, cherrypick:3.2, documentation

#38524 Fix bug with AudioStreamPlayer3D audio position
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, cherrypick:3.2, topic:audio

#38530 jpgd: Fix detection of SSE2 support with MSVC
  thirdparty/jpeg-compressor/jpgd.cpp
  thirdparty/jpeg-compressor/patches/fix-msvc-sse2-detection.patch
Labels: bug, cherrypick:3.2, topic:buildsystem, topic:thirdparty

#38385 method bind TextEdit::set_line() added
  doc/classes/TextEdit.xml
  scene/gui/text_edit.cpp
Labels: cherrypick:3.2, enhancement, topic:gui

#38527 GLES3 - add counts for 2d drawcall and 2d items to performance monitor
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
Labels: enhancement, topic:rendering

#38538 fix mistyped setting path
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, topic:rendering

#38535 Remove loud WinTab error message.
  platform/windows/display_server_windows.cpp
Labels: bug, cherrypick:3.2, platform:windows, topic:porting

#38522 Fix: printing empty string does nothing in editor output pannel
  core/debugger/remote_debugger.cpp
Labels: bug, cherrypick:3.2, topic:editor

#38542 GUI: Touch screen button click area now is synced with its draw
  scene/2d/touch_screen_button.cpp
Labels: bug, cherrypick:3.2, topic:core

#38536 Fix: can't convert Transform -> Transform2D
  core/variant_call.cpp
Labels: bug, cherrypick:3.2, topic:core

#38226 Increase the default Camera3D field of view to 75
  doc/classes/Camera3D.xml
  scene/3d/camera_3d.cpp
  servers/rendering/rendering_server_scene.h
Labels: breaks compat, enhancement, topic:rendering

#36379 Add a Color constructor for Color with alpha
  core/color.h
  core/variant.cpp
  core/variant_call.cpp
  doc/classes/Color.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
Labels: enhancement, topic:core

#31086 Use underline position and thickness value in font file
  scene/gui/link_button.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
  scene/resources/font.cpp
  scene/resources/font.h
Labels: breaks compat, enhancement, topic:core

#38557 Re-add __XINPUT_DEVICE__
  core/input/godotcontrollerdb.txt
Labels: bug, cherrypick:3.2, platform:windows, topic:input

#38517 Add Nvidia Workaround for GLES3
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  main/main.cpp
Labels: enhancement, topic:rendering

#38556 Added mapping for KEY_MENU to VK_APPS (0x5d) so context menu's triggered by the keyboard menu button work
  platform/windows/key_mapping_windows.cpp
Labels: bug, cherrypick:3.2, platform:windows, topic:input

#38304 Keep mouse inside 3D viewport rotation widget
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38561 WinTab: Make movement smoother and handle pressure/tilt changes when cursor is not moving.
  platform/windows/display_server_windows.cpp
Labels: cherrypick:3.2, enhancement, platform:windows, topic:input

#38555 rotation gizmo visible = false; when camera preview
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38563 Turn the anisotropic filtering setting into an enum
  doc/classes/ProjectSettings.xml
  scene/main/scene_tree.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
  servers/rendering_server.cpp
Labels: enhancement, topic:editor, topic:rendering

#38589 Rename Lineshape's d to distance
  doc/classes/LineShape2D.xml
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  scene/resources/line_shape_2d.cpp
  scene/resources/line_shape_2d.h
Labels: breaks compat, enhancement, topic:core

#38595 Mono: Fix hot-reloading of nested classes
  modules/mono/csharp_script.cpp
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_class.h
Labels: bug, cherrypick:3.2, topic:mono

#38596 Mono: Use msbuild instead of nuget.exe for restoring
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/build_scripts/solution_builder.py
  modules/mono/config.py
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
Labels: cherrypick:3.2, enhancement, topic:mono

#38598 C#: Remove StringExtensions.Empty() function
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: enhancement, topic:mono

#38412 parser error for static func access non-static variables
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#37033 python like string escape implemented
  modules/gdscript/gdscript_tokenizer.cpp
Labels: enhancement, topic:gdscript

#37598 GDScript class var type resolve bug fixed
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#38357 fix: dict2inst crash when constructor has arguments
  modules/gdscript/gdscript_functions.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#38481 Fix object leaks caused by unfulfilled yields
  core/self_list.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Labels: bug, topic:gdscript

#38482 Fix object leaks caused by unfulfilled yields (3.2)
  core/self_list.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Labels: bug, topic:gdscript

#38606 [DOCS] minor description changes
  doc/classes/Engine.xml
  doc/classes/Node.xml
  doc/classes/Vector3.xml
Labels: cherrypick:3.2, documentation, enhancement

#38617 Prevent CapsuleShape2D height from being less than zero.
  scene/resources/capsule_shape_2d.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:physics

#38613 Renamed plane's d to distance
  core/io/marshalls.cpp
  core/io/resource_format_binary.cpp
  core/math/camera_matrix.cpp
  core/math/geometry.cpp
  core/math/math_fieldwise.cpp
  core/math/plane.cpp
  core/math/plane.h
  core/math/transform.h
  core/variant.cpp
  core/variant_op.cpp
  core/variant_parser.cpp
  doc/classes/Plane.xml
  editor/editor_properties.cpp
  editor/import/editor_import_collada.cpp
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/property_editor.cpp
  main/tests/test_math.cpp
  modules/bullet/shape_bullet.cpp
  modules/gdnative/gdnative/plane.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/plane.h
  modules/gdnavigation/nav_map.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Plane.cs
  modules/mono/mono_gd/gd_mono_marshal.h
  scene/3d/camera_3d.cpp
  scene/3d/xr_nodes.cpp
  scene/resources/curve.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh_data_tool.cpp
  scene/resources/surface_tool.cpp
  scene/resources/world_margin_shape_3d.cpp
  servers/physics_3d/collision_solver_3d_sat.cpp
  servers/rendering/rasterizer_rd/rasterizer_effects_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_storage_rd.cpp
Labels: breaks compat, enhancement, topic:core

#38505 Add documentation for the VisualShader nodes
  doc/classes/VisualShaderNodeInput.xml
  doc/classes/VisualShaderNodeIs.xml
  doc/classes/VisualShaderNodeOuterProduct.xml
  doc/classes/VisualShaderNodeOutput.xml
  doc/classes/VisualShaderNodeScalarClamp.xml
  doc/classes/VisualShaderNodeScalarDerivativeFunc.xml
  doc/classes/VisualShaderNodeScalarInterp.xml
  doc/classes/VisualShaderNodeScalarSmoothStep.xml
  doc/classes/VisualShaderNodeScalarSwitch.xml
  doc/classes/VisualShaderNodeSwitch.xml
  doc/classes/VisualShaderNodeTexture.xml
  doc/classes/VisualShaderNodeTextureUniform.xml
  doc/classes/VisualShaderNodeTextureUniformTriplanar.xml
  doc/classes/VisualShaderNodeTransformCompose.xml
  doc/classes/VisualShaderNodeTransformConstant.xml
  doc/classes/VisualShaderNodeTransformDecompose.xml
  doc/classes/VisualShaderNodeTransformFunc.xml
  doc/classes/VisualShaderNodeTransformMult.xml
  doc/classes/VisualShaderNodeTransformUniform.xml
  doc/classes/VisualShaderNodeTransformVecMult.xml
  doc/classes/VisualShaderNodeUniform.xml
  doc/classes/VisualShaderNodeVec3Constant.xml
  doc/classes/VisualShaderNodeVec3Uniform.xml
  doc/classes/VisualShaderNodeVectorClamp.xml
  doc/classes/VisualShaderNodeVectorCompose.xml
  doc/classes/VisualShaderNodeVectorDecompose.xml
  doc/classes/VisualShaderNodeVectorDerivativeFunc.xml
  doc/classes/VisualShaderNodeVectorDistance.xml
  doc/classes/VisualShaderNodeVectorFunc.xml
  doc/classes/VisualShaderNodeVectorInterp.xml
  doc/classes/VisualShaderNodeVectorLen.xml
  doc/classes/VisualShaderNodeVectorOp.xml
  doc/classes/VisualShaderNodeVectorRefract.xml
  doc/classes/VisualShaderNodeVectorScalarMix.xml
  doc/classes/VisualShaderNodeVectorScalarSmoothStep.xml
  doc/classes/VisualShaderNodeVectorScalarStep.xml
  doc/classes/VisualShaderNodeVectorSmoothStep.xml
Labels: cherrypick:3.2, documentation, enhancement

#36937 Fix: more clearer unexpected statement end error messages
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: cherrypick:3.2, enhancement, topic:gdscript, usability

#37020 Allow using integer vectors for iteration and make range() use them
  core/variant_op.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, enhancement, topic:core, topic:gdscript

#37160 Fix: saving gdscript with cyclic inheritance crash the editor
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Labels: bug, crash, topic:editor, topic:gdscript

#38548 GDScript: Add join method on String
  core/variant_call.cpp
  doc/classes/String.xml
Labels: enhancement, topic:core

#38640 Implement CSharpScript::inherits_script
  modules/mono/csharp_script.cpp
Labels: enhancement, topic:mono

#38649 Improved go-to definition (Ctrl + Click) for 3.2
  editor/editor_help.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, usability

#38639 [3.2] C#: Rewrite GodotTools messaging protocol
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/ConsoleLogger.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeBase.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeClient.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnection.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnectionClient.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotIdeConnectionServer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/GodotTools.IdeConnection.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/Message.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/MessageComposer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/MessageParser.cs
  modules/mono/editor/GodotTools/GodotTools.IdeConnection/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging.CLI/ForwarderMessageHandler.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging.CLI/GodotTools.IdeMessaging.CLI.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging.CLI/Program.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Client.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/ClientHandshake.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/ClientMessageHandler.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/GodotIdeMetadata.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/GodotTools.IdeMessaging.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/IHandshake.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/ILogger.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/IMessageHandler.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Message.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/MessageDecoder.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Peer.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Requests/Requests.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/ResponseAwaiter.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Utils/NotifyAwaiter.cs
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Utils/SemaphoreExtensions.cs
  modules/mono/editor/GodotTools/GodotTools.sln
  modules/mono/editor/GodotTools/GodotTools/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeServer.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MessagingServer.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MonoDevelop/Instance.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/Internal.cs
  modules/mono/editor/GodotTools/GodotTools/PlaySettings.cs
  modules/mono/editor/GodotTools/GodotTools/packages.config
  modules/mono/editor/code_completion.cpp
  modules/mono/editor/code_completion.h
  modules/mono/editor/editor_internal_calls.cpp
  modules/mono/mono_gd/gd_mono.cpp
Labels: enhancement, topic:mono

#38650 C#: Support for building with the dotnet CLI
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/build_scripts/solution_builder.py
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/GodotTools.ProjectEditor.csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/MSBuild.exe
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildTool.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
  modules/mono/editor/GodotTools/GodotTools/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: enhancement, topic:mono

#38638 Fix inherited C# scene not inheriting parent's fields
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, cherrypick:3.2, topic:mono

#38629 Use DwmEnableBlurBehindWindow for Windows Per Pixel Transparency
  core/os/os.h
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
Labels: bug, platform:windows, topic:porting

#31938 Fix VisibilityEnabler2D behavior on start
  scene/2d/visibility_notifier_2d.cpp
Labels: bug, cherrypick:3.2, for pr meeting, topic:core

#38491 Using the common behaviour when use command+shift on text line for osx
  scene/gui/line_edit.cpp
Labels: cherrypick:3.2, enhancement, platform:osx, topic:gui

#38656 Input: Readd 'Default Android Gamepad' magic binding
  core/input/godotcontrollerdb.txt
Labels: bug, cherrypick:3.2, platform:android, topic:input

#38625 Store build as artifact in appveyor
  .appveyor.yml
Labels: cherrypick:3.2, enhancement, platform:windows, topic:buildsystem

#38631 Tweak the editor log selection color to match the current editor theme
  editor/editor_log.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#38594 Rename the Clear Script editor action to Detach Script
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38592 Use a different icon for the debugger tab with both warnings and errors
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/icons/ErrorWarning.svg
Labels: cherrypick:3.2, enhancement, topic:editor

#38587 DisplayServerJavaScript, improvements to HTML5 build (still dummy renderer).
  .travis.yml
  drivers/dummy/rasterizer_dummy.h
  misc/dist/html/full-size.html
  modules/webrtc/webrtc_data_channel_js.cpp
  modules/websocket/emws_client.cpp
  platform/javascript/SCsub
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/audio_driver_javascript.h
  platform/javascript/detect.py
  platform/javascript/display_server_javascript.cpp
  platform/javascript/display_server_javascript.h
  platform/javascript/engine/engine.js
  platform/javascript/engine/loader.js
  platform/javascript/engine/utils.js
  platform/javascript/javascript_main.cpp
  platform/javascript/native/http_request.js
  platform/javascript/native/id_handler.js
  platform/javascript/native/utils.js
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: enhancement, platform:html5, topic:porting

#38658 WinTab: Make movement smoother and handle pressure/tilt changes when cursor is not moving [3.2].
  platform/windows/os_windows.cpp
Labels: enhancement, platform:windows, topic:input

#38663 thirdparty: Cleanup after #38386, document provenance and copyright
  COPYRIGHT.txt
  core/SCsub
  core/math/delaunay_2d.h
  core/math/delaunay_3d.h
  core/math/geometry.cpp
  core/math/geometry.h
  core/math/r128.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  modules/denoise/SCsub
  scene/animation/animation_blend_space_2d.cpp
  thirdparty/README.md
  thirdparty/misc/r128.c
  thirdparty/misc/r128.h
  thirdparty/misc/stb_rect_pack.h
  thirdparty/oidn/.gitignore
  thirdparty/oidn/LICENSE.txt
Labels: enhancement, topic:thirdparty

#38670 Fix DummyRenderer after new lightmapper merge.
  drivers/dummy/rasterizer_dummy.h
Labels: bug, platform:html5, topic:rendering

#38669 GLES2 Batching - Fix custom shaders reading VERTEX
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
Labels: bug, topic:rendering

#38672 Fix 'physicsw' may be used uninitialized warning in csg_shape.cpp
  modules/csg/csg_shape.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#38651 [3.2] C#: Support for building with the dotnet CLI
  modules/mono/build_scripts/godot_tools_build.py
  modules/mono/build_scripts/solution_builder.py
  modules/mono/editor/GodotTools/GodotTools.BuildLogger/GodotTools.BuildLogger.csproj
  modules/mono/editor/GodotTools/GodotTools.BuildLogger/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools.Core/GodotTools.Core.csproj
  modules/mono/editor/GodotTools/GodotTools.Core/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/GodotTools.ProjectEditor.csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/packages.config
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildTool.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
  modules/mono/editor/GodotTools/GodotTools/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Properties/AssemblyInfo.cs
  modules/mono/editor/GodotTools/GodotTools/packages.config
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: enhancement, topic:mono

#38674 [3.2] Fix 'physicsw' may be used uninitialized warning in csg_shape.cpp
  modules/csg/csg_shape.cpp
Labels: enhancement, topic:core

#38676 Fix memory leak with light maps
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
Labels: bug, topic:rendering

#38677 Tweak the error message displayed when a post-import script fails
  editor/import/resource_importer_scene.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38635 Rename various TileMap methods/properties for clarity and consistency
  doc/classes/TileMap.xml
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: breaks compat, enhancement, topic:core

#38686 Clarify the `id` parameter in `TileMap.get_used_cells_by_id()`
  doc/classes/TileMap.xml
Labels: documentation, enhancement

#38661 Better file naming for AppVeyor artifacts
  .appveyor.yml
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#38687 Update the editor icons README to remove outdated information
  editor/icons/README.md
Labels: cherrypick:3.2, documentation, enhancement

#38688 Mark `*.tza` files as binary in `.gitattributes` for old Git versions
  .gitattributes
Labels: bug, topic:thirdparty

#38690 Fixes memory leak with lightmap part 2
  servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp
Labels: bug, topic:rendering

#38689 Rename SSL certificate bundle setting to clarify the "overriding" aspect
  core/register_core_types.cpp
  doc/classes/ProjectSettings.xml
  main/main.cpp
Labels: breaks compat, documentation, enhancement, topic:network

#38691 Silence EQ::Band::c1, c2 and c3 may be used uninitialized warnings.
  servers/audio/effects/eq.cpp
Labels: cherrypick:3.2, enhancement, topic:audio

#38692 Clarify that the SSL certificate setting overrides the default bundle
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#32848 Compilation database support - clang, gcc, mingw
  .appveyor.yml
  SConstruct
  misc/scons/site_tools/compilation_db.py
Labels: cherrypick:3.2, feature proposal, topic:buildsystem

#38655 Fix minimap selection offset
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.2, topic:editor

#38693 Make it clear that PhysicsDirectSpaceState is only available from within _physics_process().
  doc/classes/World2D.xml
  doc/classes/World3D.xml
Labels: cherrypick:3.2, documentation, enhancement

#38694 GLES2 Batching - Prevent baking colors with COLOR writes
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
Labels: bug, topic:rendering

#38706 Fix rename dialog size in 3.2
  editor/project_manager.cpp
Labels: bug, topic:editor

#38151 Support SDL2 half axes and inverted axes mappings.
  core/global_constants.cpp
  core/input/input.cpp
  core/input/input.h
  core/input/input_builders.py
  core/input/input_event.h
  core/project_settings.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/Input.xml
  doc/classes/InputEventJoypadButton.xml
  doc/classes/InputEventJoypadMotion.xml
  doc/classes/XRController3D.xml
  doc/translations/classes.pot
  doc/translations/fr.po
  editor/project_settings_editor.cpp
  platform/iphone/app_delegate.mm
  platform/javascript/display_server_javascript.cpp
  platform/uwp/joypad_uwp.cpp
  platform/windows/joypad_windows.cpp
Labels: breaks compat, bug, cherrypick:3.2, enhancement, needs testing, topic:input

#38637 Rename the editor action "Revert Scene" to "Reload Saved Scene"
  editor/editor_node.cpp
  editor/editor_node.h
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#38707 regression: static func can't access const fix
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, cherrypick:3.2, regression, topic:gdscript

#38708 regression: var declaration type info parser bug fix
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, regression, topic:gdscript

#38609 range() with non-numeric const argument crash fix
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#38718 Fix C# bindings after lightmapper changes
  scene/register_scene_types.cpp
Labels: bug, topic:core

#38611 shadowed var warning in nested block bug fix
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#38734 GLES2 polyline drawn as GL_LINE_STRIP to match GLES3
  drivers/gles2/rasterizer_canvas_gles2.cpp
Labels: bug, topic:rendering

#38610 set parser error when infer type is null
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, topic:gdscript

#38749 Android: Check for use of deprecated GodotPaymentV3 module, direct to new plugin
  .gitignore
  doc/classes/Engine.xml
  doc/classes/ProjectSettings.xml
  platform/android/export/export.cpp
  platform/android/java_godot_lib_jni.cpp
Labels: enhancement, platform:android, topic:editor, topic:porting

#38750 Silence mulitple may be used uninitialized warnings in RenderingDeviceVulkan::uniform_set_create()
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: enhancement, topic:rendering

#38752 Rename the ErrorWarning icon file to match the 3.2 naming scheme
  editor/icons/icon_error_warning.svg
Labels: bug, topic:editor

#38753 Document the Camera3D's `effects` property
  doc/classes/Camera3D.xml
Labels: documentation, enhancement

#38754 Document CanvasItem's texture filtering and repeating modes
  doc/classes/CanvasItem.xml
Labels: documentation, enhancement

#38757 Fix #include <windows.h> for case-senstive cross-compilation.
  thirdparty/oidn/0001-window.h-case-sensitive.patch
  thirdparty/oidn/common/platform.h
Labels: bug, platform:windows, topic:buildsystem, topic:thirdparty

#38717 Silence 'w' may be used uninitialized in image.cpp warning.
  core/image.cpp
Labels: bug, topic:core

#36726 Fix: break, continue outside of a loop, match statement handled when parsing
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, cherrypick:3.2, topic:gdscript

#38755 Hide editor_spin_slider grabber when closing Editor's windows
  editor/editor_spin_slider.cpp
Labels: bug, cherrypick:3.2, topic:editor

#38764 Add more missing icons
  editor/icons/CameraEffects.svg
  editor/icons/Cubemap.svg
  editor/icons/CubemapArray.svg
  editor/icons/LightmapProbe.svg
  editor/icons/PanoramaSky.svg
  editor/icons/PanoramaSkyMaterial.svg
  editor/icons/PhysicalSkyMaterial.svg
  editor/icons/ProceduralSky.svg
  editor/icons/ProceduralSkyMaterial.svg
Labels: enhancement, topic:editor

#38760 Error macros: Improve style of error messages
  core/error_macros.h
Labels: enhancement, topic:core

#38767 [3.2.2] Fix incorrect initialize notification in language server
  modules/gdscript/language_server/lsp.hpp
  modules/jsonrpc/jsonrpc.cpp
Labels: bug, topic:editor, topic:gdscript

#38772 websocket: Fix crash at exit when not running the editor
  modules/websocket/register_types.cpp
Labels: bug, topic:core

#37924 Android: Migrate deprecated support library to AndroidX
  platform/android/java/app/config.gradle
  platform/android/java/gradle.properties
  platform/android/java/lib/src/com/google/android/vending/expansion/downloader/impl/DownloadNotification.java
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/SignalInfo.java
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/GodotPayment.java
Labels: enhancement, platform:android, topic:buildsystem

#37929 Android: Migrate deprecated support library to AndroidX [3.2]
  platform/android/java/app/config.gradle
  platform/android/java/gradle.properties
  platform/android/java/lib/src/com/google/android/vending/expansion/downloader/impl/DownloadNotification.java
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/SignalInfo.java
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
  platform/android/java/plugins/godotpayment/src/main/java/org/godotengine/godot/plugin/payment/GodotPayment.java
Labels: enhancement, platform:android, topic:buildsystem

#38777 Update r128.h to include latest fixes for mingw-64 32 bit builds.
  thirdparty/README.md
  thirdparty/misc/r128.h
Labels: bug, topic:thirdparty

#36651 [3.1][cherry-pick] Add apply method to SpinBox
  doc/classes/SpinBox.xml
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: enhancement, topic:gui

#38451 Using command + comma on macOS as default shortcut for editor settings
  editor/editor_node.cpp
Labels: cherrypick:3.2, enhancement, platform:osx, topic:editor, usability

#37430 [macOS] Fix popup positions on multiple screens.
  platform/osx/display_server_osx.mm
  scene/main/window.cpp
Labels: bug, platform:osx, topic:gui, topic:porting
