Repository godotengine/godot, pull requests merged in 2020-07, with the labels that each got.

#39981 [3.2] Fix CSG Visual Bug.
  modules/csg/csg.cpp
Labels: bug, topic:core

#39985 Write "Aces" tonemapping in uppercase as it's an acronym
  scene/resources/environment.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#40003 Fix Tree's 'scroll_to_item()' not working correctly on some cases
  scene/gui/tree.cpp
Labels: bug, cherrypick:3.2, topic:gui

#36885 Fix doctool misleading error message
  main/main.cpp
Labels: bug, topic:editor

#39954 Delete Nodes message
  editor/scene_tree_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#40010 Added const qualifier support for function arguments in shaders
  drivers/gles2/shader_compiler_gles2.cpp
  servers/rendering/rasterizer_rd/shader_compiler_rd.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:shaders

#40004 Change assembly watcher after notification changes
  modules/mono/editor/GodotTools/GodotTools/HotReloadAssemblyWatcher.cs
Labels: bug, topic:mono

#40008 Make "Close and save changes?" actually save
  editor/plugins/script_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#38713 Make all String integer conversion methods be 64-bit
  core/math/expression.cpp
  core/ustring.cpp
  core/ustring.h
  core/variant.cpp
  drivers/unix/net_socket_posix.cpp
  editor/editor_file_system.cpp
  editor/editor_properties.cpp
  editor/editor_resource_preview.cpp
  editor/property_editor.cpp
  main/main.cpp
  main/tests/test_string.cpp
  modules/gdnative/gdnative/string.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:core

#36307 Enable raycast nodes by default
  scene/2d/ray_cast_2d.cpp
  scene/3d/ray_cast_3d.cpp
Labels: breaks compat, enhancement, topic:physics

#40015 Ensure embedded mode works again
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, platform:linuxbsd, topic:core, topic:porting

#39928 Open scene selected from Quick Open dialog
  editor/editor_node.cpp
Labels: enhancement, topic:editor, usability

#39927 Quick Open search ranking: favor filenames over extensions.
  editor/quick_open.cpp
  editor/quick_open.h
Labels: enhancement, topic:editor, usability

#39788 [macOS] Add support for the Apple Silicon (ARM64) build target.
  misc/dist/osx_template.app/Contents/Info.plist
  misc/dist/osx_tools.app/Contents/Info.plist
  modules/camera/camera_osx.mm
  modules/denoise/config.py
  modules/opus/SCsub
  modules/webm/libvpx/SCsub
  platform/osx/detect.py
  platform/osx/display_server_osx.mm
Labels: enhancement, needs testing, platform:osx, topic:buildsystem, topic:porting

#39076 Implement filename disambiguation for scene tabs and script names
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/script_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#33061 Call CRASH_COND_MSG if key not found in HashMap get(key) functions.
  core/hash_map.h
Labels: bug, cherrypick:3.2, topic:core

#32516 Added flip_h and flip_v properties in TextureButton
  doc/classes/TextureButton.xml
  scene/gui/texture_button.cpp
  scene/gui/texture_button.h
Labels: enhancement, for pr meeting, topic:core

#40022 Add ability to clamp embedded subwindows to parent
  scene/gui/dialogs.cpp
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:editor

#40028 Fix some popup menus missing screen transform.
  editor/filesystem_dock.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  scene/gui/line_edit.cpp
Labels: bug, topic:editor, topic:gui

#40030 Add a focus out timeout for X11 so less events of this type are received
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: enhancement, platform:linuxbsd, topic:porting

#40018 HTML5 fixes, refactor, audio fallback, fixed FPS.
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/audio_driver_javascript.h
  platform/javascript/display_server_javascript.cpp
  platform/javascript/display_server_javascript.h
  platform/javascript/javascript_main.cpp
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  servers/audio_server.cpp
Labels: bug, enhancement, platform:html5, topic:porting

#40020 Fix doubleclick on tree item, restore input focus on previous windows.
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.h
Labels: bug, topic:gui

#34926 Provide `draw_set_transform` defaults for rotation and scale
  doc/classes/CanvasItem.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Labels: enhancement, topic:core

#36879 Fix: animation autocomplete bug fixed
  scene/animation/animation_player.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:gdscript

#40041 Make timeline cursor in the Bezier editor just as thick as the Animation editor
  editor/animation_bezier_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#30424 Fix OpenSimplexNoise get_image() swap axes
  modules/opensimplex/open_simplex_noise.cpp
Labels: breaks compat, discussion, enhancement, topic:core

#40042 Remove oversized margins in the AnimationTree editor
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.h
Labels: cherrypick:3.2, enhancement, topic:editor

#39084 [3.2] Better damping implementation for Bullet rigid bodies
  modules/bullet/SCsub
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
  thirdparty/bullet/0001-old-damping-def.patch
  thirdparty/bullet/BulletDynamics/Dynamics/btRigidBody.cpp
Labels: bug, topic:physics

#34028 Removed errors when List::erase() can't find the value
  core/list.h
Labels: enhancement, topic:core

#38390 Clarify `Geometry.offset_polygon_2d` regarding vertices translation
  doc/classes/Geometry2D.xml
Labels: documentation, enhancement

#32428 Add script class categories to EditorInspector.
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
Labels: enhancement, for pr meeting, topic:editor

#40034 Fix: Crash when trying to add new node
  editor/scene_tree_dock.cpp
Labels: bug, crash, regression, topic:editor

#40009 Fix overflow and underflow checks for string conversion to int
  core/ustring.cpp
Labels: bug, topic:core

#34319 Prevent dragging from SceneTree buttons
  editor/scene_tree_editor.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, cherrypick:3.2, topic:editor

#40049 Remove unused class PaneDrag
  editor/editor_log.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/pane_drag.cpp
  editor/pane_drag.h
  modules/gridmap/grid_map_editor_plugin.h
Labels: enhancement, topic:editor

#37350 Refactor physics force and impulse code to use (force, position) order
  doc/classes/PhysicalBone3D.xml
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  scene/3d/vehicle_body_3d.cpp
  scene/resources/sky.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/body_pair_2d_sw.cpp
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.h
  servers/physics_3d/body_3d_sw.h
  servers/physics_3d/body_pair_3d_sw.cpp
  servers/physics_3d/joints/cone_twist_joint_3d_sw.cpp
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.cpp
  servers/physics_3d/joints/hinge_joint_3d_sw.cpp
  servers/physics_3d/joints/pin_joint_3d_sw.cpp
  servers/physics_3d/joints/slider_joint_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
Labels: breaks compat, enhancement, topic:physics

#40051 [3.2] Move frame delaying functions from Main to OS.
  core/os/os.cpp
  core/os/os.h
  main/main.cpp
  main/main.h
Labels: enhancement, topic:core, topic:porting

#40052 [3.2] HTML5 fixes, audio fallback, fixed FPS.
  platform/javascript/audio_driver_javascript.cpp
  platform/javascript/audio_driver_javascript.h
  platform/javascript/javascript_main.cpp
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  servers/audio_server.cpp
Labels: bug, enhancement, platform:html5, topic:porting

#39415 Add POT generation feature in Editor
  doc/classes/EditorPlugin.xml
  doc/classes/EditorTranslationParserPlugin.xml
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_translation_parser.cpp
  editor/editor_translation_parser.h
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.h
  editor/pot_generator.cpp
  editor/pot_generator.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  modules/gdscript/editor/gdscript_translation_parser_plugin.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.h
  modules/gdscript/register_types.cpp
Labels: enhancement, topic:core, topic:editor

#40058 Update to wslay 1.1.1 .
  thirdparty/README.md
  thirdparty/wslay/includes/wslay/wslayver.h
  thirdparty/wslay/wslay_event.c
Labels: cherrypick:3.2, enhancement, topic:network, topic:thirdparty

#40053 [macOS] Implement confined mouse mode.
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
Labels: enhancement, platform:osx, topic:input, topic:porting

#40054 [macOS, 3.2] Implement confined mouse mode.
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
Labels: enhancement, platform:osx, topic:input, topic:porting

#40050 [4.0] Add support of iOS's dynamic libraries to GDNative
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  modules/gdnative/gdnative.cpp
  modules/gdnative/gdnative_library_editor_plugin.cpp
  modules/gdnative/register_types.cpp
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:gdnative

#39996 [3.2] Add support of iOS's dynamic libraries to GDNative
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  modules/gdnative/gdnative.cpp
  modules/gdnative/gdnative_library_editor_plugin.cpp
  modules/gdnative/register_types.cpp
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:gdnative

#40062 Ensure cursor shape changes when exiting window, fixes #37724
  scene/main/viewport.cpp
  scene/main/window.cpp
Labels: bug, regression, topic:editor, topic:gui

#40071 Fix content scale mode, closes #37941
  main/main.cpp
  scene/gui/control.cpp
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:core, topic:gui

#40063 Ignore (clean) blend times for non-existent animations
  scene/animation/animation_player.cpp
Labels: cherrypick:3.2, enhancement, topic:core, topic:editor

#40067 Fix timeline cursor not updating on zoom change in the Bezier editor
  editor/animation_bezier_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#33998 [3.2] Format remote printerr properly in script debugger output
  editor/script_editor_debugger.cpp
  scene/debugger/script_debugger_remote.cpp
  scene/debugger/script_debugger_remote.h
Labels: bug, cherrypick:3.2, topic:core, topic:editor

#39968 Fix custom tracks causing issues on reimport
  editor/import/resource_importer_scene.cpp
  scene/resources/animation.cpp
Labels: bug, cherrypick:3.2, regression, topic:import

#40074 Fix fullscreen flag on Windows, closes #37588
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#40077 Fix incorrect documentation for Vector2.angle()
  doc/classes/Vector2.xml
Labels: bug, cherrypick:3.2, documentation

#32907 Uncheck 'Pressed' if toggle_mode is unchecked
  scene/gui/base_button.cpp
Labels: enhancement, topic:editor

#40080 Add documentation for shortcut_keys_enabled
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#40081 Fix RichTextLabel fill alignment regression
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.2, regression, topic:gui

#39880 Fix laxist collision detection on one way shapes
  servers/physics_2d/body_pair_2d_sw.cpp
Labels: bug, cherrypick:3.2, topic:physics

#37218 Fixed GraphNode port separation.
  scene/gui/graph_node.cpp
Labels: bug, cherrypick:3.2, topic:gui

#37475 Fixed images in black margins
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering

#40082 Add documentation for center_viewport_to_cursor method
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#40065 Allow script editor scripts to be drag-dropped onto resource properties
  editor/editor_properties.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#39958 Update GridMap to use Vector3i instead of three ints
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
Labels: breaks compat, enhancement, needs testing

#40083 Image: Improve error messages for invalid creation size
  core/image.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#40078 fix crash when pass null in print array in GD.print
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/mono_gd/gd_mono_marshal.cpp
Labels: bug, cherrypick:3.2, crash, topic:mono

#40085 Add documentation for selecting_enabled
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#40086 Update TextEdit select and select_all method descriptions
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#40089 Add documentation for minimap_draw and minimap_width
  doc/classes/TextEdit.xml
Labels: cherrypick:3.2, documentation, enhancement

#40088 Environment: Fix glow hdr bleed scale being unused
  scene/resources/environment.cpp
Labels: bug, topic:core, topic:rendering

#40091 Provide warning when using polygon shapes in `CollisionShape2D` node
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  scene/2d/collision_shape_2d.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#40096 Improve the situation of DND on X11
  platform/linuxbsd/display_server_x11.cpp
  platform/osx/display_server_osx.mm
Labels: bug, platform:linuxbsd, topic:porting

#40092 Remove String::find_last (same as rfind)
  core/debugger/engine_debugger.cpp
  core/debugger/remote_debugger_peer.cpp
  core/io/resource_loader.cpp
  core/project_settings.cpp
  core/ustring.cpp
  core/ustring.h
  core/variant_call.cpp
  doc/classes/String.xml
  editor/animation_track_editor.cpp
  editor/editor_asset_installer.cpp
  editor/editor_feature_profile.cpp
  editor/editor_file_dialog.cpp
  editor/editor_folding.cpp
  editor/editor_inspector.cpp
  editor/filesystem_dock.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/script_create_dialog.cpp
  main/main.cpp
  modules/gdnative/gdnative/string.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/string.h
  modules/websocket/websocket_client.cpp
  platform/android/export/export.cpp
  scene/gui/file_dialog.cpp
Labels: breaks compat, enhancement, topic:core

#39888 Fix errors when creating windows on Windows
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#39845 Fix undo/redo for bone painting in Polygon2D UV Editor
  editor/plugins/polygon_2d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor

#40109 Add myself to CODEOWNERS for GodotSharp
  .github/CODEOWNERS
Labels: enhancement, topic:buildsystem

#40107 Correctly use fallback for default fonts
  editor/editor_file_dialog.cpp
  editor/editor_fonts.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:editor, topic:gui

#40103 Fix `String.capitalize()` description to follow camelCase changes
  doc/classes/String.xml
Labels: bug, cherrypick:3.2, documentation, topic:core

#40084 [macOS] Implement seamless display scaling.
  doc/classes/DisplayServer.xml
  editor/editor_node.cpp
  editor/editor_run.cpp
  editor/project_manager.cpp
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
  scene/main/window.cpp
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:osx, topic:gui, topic:rendering

#40113 Remove elements from monitored_bodies and monitored_areas as they are processed
  servers/physics_2d/area_2d_sw.cpp
  servers/physics_3d/area_3d_sw.cpp
Labels: bug, regression, topic:physics

#40114 [3.2] Remove elements from monitored_bodies and monitored_areas as they are processed
  servers/physics/area_sw.cpp
  servers/physics_2d/area_2d_sw.cpp
Labels: bug, regression, topic:physics

#40100 Refactor extracting animation name
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor

#40033 Improve Create Dialog search ranking and rewrite calculation
  editor/create_dialog.cpp
  editor/create_dialog.h
Labels: enhancement, topic:editor, usability

#40111 Fix opening URLS with special characters in macOS
  platform/osx/os_osx.mm
Labels: bug, cherrypick:3.2, platform:osx, topic:porting

#40119 Fix crash on project files import in EditorFileSystem
  editor/editor_file_system.cpp
Labels: bug, crash, regression, topic:editor

#40112 Prevents incorrect connection attempt on port clicking in GraphEdit
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:gui

#40115 Makes "Create shader node" dialog non-exclusive (visual shaders)
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#40128 Fix GraphEdit reconnecting to disconnected port
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui, usability

#40130 Fix string test code for MinGW
  main/tests/test_string.cpp
Labels: bug, platform:windows, regression, topic:porting

#40137 Mono/C#: Fix several clang-tidy warnings and cleanup
  modules/mono/class_db_api_json.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/code_completion.cpp
  modules/mono/editor/csharp_project.cpp
  modules/mono/editor/editor_internal_calls.cpp
  modules/mono/editor/godotsharp_export.cpp
  modules/mono/editor/script_class_parser.cpp
  modules/mono/editor/script_class_parser.h
  modules/mono/glue/arguments_vector.h
  modules/mono/glue/base_object_glue.cpp
  modules/mono/glue/base_object_glue.h
  modules/mono/glue/collections_glue.cpp
  modules/mono/glue/collections_glue.h
  modules/mono/glue/gd_glue.cpp
  modules/mono/glue/gd_glue.h
  modules/mono/glue/glue_header.h
  modules/mono/glue/nodepath_glue.cpp
  modules/mono/glue/nodepath_glue.h
  modules/mono/glue/rid_glue.cpp
  modules/mono/glue/rid_glue.h
  modules/mono/glue/scene_tree_glue.cpp
  modules/mono/glue/scene_tree_glue.h
  modules/mono/glue/string_glue.cpp
  modules/mono/glue/string_glue.h
  modules/mono/glue/string_name_glue.cpp
  modules/mono/glue/string_name_glue.h
  modules/mono/managed_callable.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/mono_gd/gd_mono_assembly.cpp
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_field.cpp
  modules/mono/mono_gd/gd_mono_internals.cpp
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/mono/mono_gd/gd_mono_marshal.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/mono/mono_gd/gd_mono_method.cpp
  modules/mono/mono_gd/gd_mono_property.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/mono/register_types.cpp
  modules/mono/signal_awaiter_utils.cpp
  modules/mono/utils/path_utils.cpp
  modules/mono/utils/path_utils.h
  modules/mono/utils/string_utils.cpp
Labels: bug, topic:mono

#40138 Fix 'modernize-use-bool-literals' clang-tidy warnings in error macros
  core/error_macros.h
Labels: bug, topic:core

#40102 Change translation parser plugin API to parse_file()
  doc/classes/EditorTranslationParserPlugin.xml
  editor/editor_translation_parser.cpp
  editor/editor_translation_parser.h
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.h
Labels: enhancement, topic:editor

#40145 Support built-in scripts for inspector categories
  editor/editor_inspector.cpp
Labels: bug, crash, topic:editor

#40143 Fix Mono PackedArray Marshalling
  modules/mono/mono_gd/gd_mono_marshal.cpp
Labels: bug, topic:mono

#40149 [3.2] Fix overflow and underflow checks for string conversion to int
  core/ustring.cpp
Labels: bug, topic:core

#40156 Fix editor crash when creating a custom resource from create dialog
  editor/create_dialog.cpp
Labels: bug, crash, topic:editor

#39803 [3.2] Fixed SkeletonIK not working with scaled skeletons
  scene/animation/skeleton_ik.cpp
Labels: bug, topic:core

#39867 Use mesh instead of immediate for drawing Sprite3D
  doc/classes/VisualServer.xml
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/material.cpp
Labels: enhancement, topic:rendering

#40116 Fix: editor crash on super constructor called
  modules/gdscript/gdscript_parser.cpp
Labels: bug, cherrypick:3.2, crash, topic:gdscript

#40155 Include gdscript warning name in the warning message.
  modules/gdscript/gdscript.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, topic:gdscript, usability

#37619 Expose methods to play scenes from plugin code
  doc/classes/EditorInterface.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_run.cpp
  editor/editor_run.h
Labels: enhancement, topic:editor, topic:plugin

#40157 Clear a Bullet Area's overlappingObjects vector when removing an area from a space.
  modules/bullet/area_bullet.cpp
Labels: bug, cherrypick:3.2, topic:physics

#40163 Improve scene preview generation for empty scenes and disabled features
  editor/editor_node.cpp
Labels: bug, cherrypick:3.2, topic:editor

#38724 [3.2] Support SDL2 half axes and inverted axes mappings.
  core/global_constants.cpp
  core/os/input_event.h
  doc/classes/@GlobalScope.xml
  main/input_default.cpp
  main/input_default.h
  main/main_builders.py
Labels: bug, enhancement, topic:input

#40160 Improve null check in FindReplaceBar
  editor/code_editor.cpp
Labels: bug, cherrypick:3.2, topic:editor

#40171 Fix GDScriptEditorTranslationParserPlugin instance leak
  modules/gdscript/register_types.cpp
Labels: bug, topic:editor, topic:gdscript

#40162 Add a map of autoloads to ProjectSettings
  core/project_settings.cpp
  core/project_settings.h
  editor/editor_autoload_settings.cpp
  editor/plugins/script_text_editor.cpp
  main/main.cpp
  modules/mono/editor/code_completion.cpp
Labels: enhancement, topic:core, topic:editor

#40151 Fix Directory Open Check
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  drivers/windows/dir_access_windows.cpp
Labels: bug, cherrypick:3.2, topic:core

#32144 Add sort and has methods to PackedArrays
  core/variant_call.cpp
  core/vector.h
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  modules/gdnative/gdnative/packed_arrays.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/packed_arrays.h
Labels: enhancement, for pr meeting, topic:core

#39735 Added BulletPhysics APIs to return internal objects.
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
Labels: enhancement, topic:physics

#39726 Optimized physics object spawn time
  modules/bullet/area_bullet.cpp
  modules/bullet/area_bullet.h
  modules/bullet/collision_object_bullet.cpp
  modules/bullet/collision_object_bullet.h
  modules/bullet/rigid_body_bullet.cpp
  modules/bullet/rigid_body_bullet.h
  modules/bullet/shape_bullet.cpp
  modules/bullet/shape_bullet.h
  modules/bullet/soft_body_bullet.cpp
  modules/bullet/soft_body_bullet.h
  modules/bullet/space_bullet.cpp
  modules/bullet/space_bullet.h
Labels: enhancement, topic:physics

#40174 stb_vorbis: Add missing error checks in comment reading mallocs
  thirdparty/misc/stb_vorbis.c
Labels: bug, cherrypick:3.2, crash, topic:import, topic:thirdparty

#40144 [iOS] Use assets path relative to project's
  platform/iphone/export/export.cpp
Labels: cherrypick:3.2, enhancement, platform:ios, topic:porting

#40201 [macOS, 3.2] Implement seamless display scaling.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  editor/editor_node.cpp
  editor/editor_run.cpp
  editor/project_manager.cpp
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
Labels: enhancement, platform:osx, topic:gui, topic:rendering

#40169 Fixed white image in margins when using same image in scene
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering

#40215 [4.0] [iOS] Option to use storyboards for launch screens
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/Contents.json
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/splash@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/splash@3x.png
  misc/dist/ios_xcode/godot_ios/Launch Screen.storyboard
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:porting

#40173 [3.2] [iOS] Option to use storyboards for launch screens.
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/Contents.json
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/splash@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/SplashImage.imageset/splash@3x.png
  misc/dist/ios_xcode/godot_ios/Launch Screen.storyboard
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/export/export.cpp
Labels: enhancement, platform:ios, topic:porting

#40225 Keep debug & verbose options after loading project from project manager
  core/os/os.cpp
  core/os/os.h
  editor/project_manager.cpp
  main/main.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#40226 Fix exclusive child focus grab, when there are more than two child windows.
  scene/main/window.cpp
Labels: enhancement, topic:gui

#40232 [macOS] Fix transient windows.
  platform/osx/display_server_osx.mm
Labels: bug, platform:osx, topic:porting

#40235 Fixed mesh data access errors in GLES2
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, cherrypick:3.2, topic:rendering

#40239 Mention `SceneTree.create_timer()` in the Timer class documentation
  doc/classes/Timer.xml
Labels: cherrypick:3.2, documentation, enhancement

#40240 Document how to instance a PackedScene and add it as a child
  doc/classes/PackedScene.xml
Labels: cherrypick:3.2, documentation, enhancement

#40242 Handle 16 bit PNG files in sRGB color space
  drivers/png/image_loader_png.cpp
  drivers/png/png_driver_common.cpp
  drivers/png/png_driver_common.h
Labels: bug, cherrypick:3.2, topic:import

#40184 Move Bullet physics query flush from Bullet space pre-tick callback to Bullet physics flush_queries()
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#40185 [3.2] Move Bullet physics query flush from Bullet space pre-tick callback to Bullet physics flush_queries()
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/space_bullet.cpp
Labels: bug, topic:physics

#40210 Update Resource.xml to explain behavior of duplicate when subresource…
  doc/classes/Resource.xml
Labels: cherrypick:3.2, documentation, enhancement

#40246 Add a POST request example to the HTTPRequest class documentation
  doc/classes/HTTPRequest.xml
Labels: cherrypick:3.2, documentation, enhancement

#40243 Follow-Up Fix Directory Open
  core/bind/core_bind.cpp
  doc/classes/Directory.xml
Labels: bug, cherrypick:3.2, discussion, regression, topic:core

#40198 Do not try to save internal scripts
  editor/plugins/script_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:core, topic:editor

#40197 Fix repeated updates of PathFollow3D Transform
  scene/3d/path_3d.cpp
  scene/3d/path_3d.h
Labels: bug, cherrypick:3.2, topic:core

#40229 auto re-import atlas, fixes #40047
  editor/editor_file_system.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:import

#40180 Fix crash on editor without a feature profile
  editor/editor_node.cpp
Labels: bug, cherrypick:3.2, topic:editor

#40167 Utility methods for writing files to gradle project directory
  platform/android/export/gradle_export_util.h
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem

#40121 Enable file logging by default on desktops to help with troubleshooting
  core/io/logger.cpp
  doc/classes/ProjectSettings.xml
  main/main.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#40244 Refactor permissions and command line flags into separate methods
  platform/android/export/export.cpp
Labels: enhancement, platform:android, topic:editor, topic:porting

#40228 Emit signals for GraphEdit multi-node selection and unselection
  scene/gui/graph_edit.cpp
Labels: bug, cherrypick:3.2, topic:gui

#40209 fix tree-item's behavior on Asset Installer.
  editor/editor_asset_installer.cpp
  editor/editor_asset_installer.h
Labels: bug, cherrypick:3.2, topic:assetlib, topic:editor

#40257 Expand env vars for `custom_modules` build option
  methods.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#38341 Fix Camera2D incorrect preview bounds
  editor/editor_node.cpp
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Labels: bug, regression, topic:editor

#36225 Added 'fma' function to shader language
  doc/classes/VisualShaderNodeMultiplyAdd.xml
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/stdlib.glsl
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
  servers/rendering/shader_language.cpp
Labels: enhancement, for pr meeting, topic:shaders

#40193 Allow Area2D and 3D mouse events without collision layer
  doc/classes/CollisionObject2D.xml
  modules/bullet/godot_result_callbacks.cpp
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_3d/space_3d_sw.cpp
Labels: bug, topic:physics

#40272 Add incremental update mode to sky
  doc/classes/RenderingServer.xml
  doc/classes/Sky.xml
  scene/resources/sky.cpp
  scene/resources/sky.h
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.cpp
  servers/rendering/rasterizer_rd/rasterizer_scene_rd.h
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#40295 Revert "Merge pull request #38341 from verdog/camera-bounds-fix"
  editor/editor_node.cpp
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Labels: bug, topic:core

#40282 Add GitHub Actions to eventually replace AppVeyor
  .github/workflows/main.yml
Labels: enhancement, platform:windows, topic:buildsystem

#40339 Improve the ENet channels documentation in NetworkedMultiplayerENet
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
Labels: cherrypick:3.2, documentation, enhancement

#40332 Disable "misleading indentation" warning on GCC
  SConstruct
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#40340 Fix overriding compression related settings
  core/project_settings.cpp
Labels: bug, cherrypick:3.2, topic:core

#40280 [3.2] Allow Area2D and 3D mouse events without a collision layer.
  doc/classes/CollisionObject2D.xml
  modules/bullet/godot_result_callbacks.cpp
  servers/physics/space_sw.cpp
  servers/physics_2d/space_2d_sw.cpp
Labels: bug, topic:physics

#40289 Prefer the highlight version of the "GuiTabIcon" icon for buttons, and make their width/height equal
  editor/editor_audio_buses.cpp
  editor/icons/GuiTabMenu.svg
  editor/icons/GuiTabMenuHl.svg
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#40343 Cherry-picks for the 3.2 branch (future 3.2.3) - 2nd batch
  .github/workflows/main.yml
  SConstruct
  core/project_settings.cpp
  editor/editor_asset_installer.cpp
  editor/editor_asset_installer.h
  methods.py
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
  scene/gui/graph_edit.cpp
Labels: bug, enhancement, topic:buildsystem, topic:core, topic:editor

#40308 Set isScratchedSpaceOverrideModificator to false when removing a RigidBodyBullet from a space.
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, crash, topic:physics

#40309 [3.2] Set isScratchedSpaceOverrideModificator to false when removing a RigidBodyBullet from a space.
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, crash, topic:physics
