Repository godotengine/godot, pull requests merged in 2021-02, with the labels that each got.

#45622 lightmap capture broken on webgl1.0
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#45506 Attempt to connect to first correct port on dragging in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:shaders, usability

#45281 Unified several visual shader nodes
  doc/classes/VisualShaderNodeClamp.xml
  doc/classes/VisualShaderNodeIntFunc.xml
  doc/classes/VisualShaderNodeMix.xml
  doc/classes/VisualShaderNodeScalarClamp.xml
  doc/classes/VisualShaderNodeScalarInterp.xml
  doc/classes/VisualShaderNodeScalarSmoothStep.xml
  doc/classes/VisualShaderNodeScalarSwitch.xml
  doc/classes/VisualShaderNodeSmoothStep.xml
  doc/classes/VisualShaderNodeStep.xml
  doc/classes/VisualShaderNodeSwitch.xml
  doc/classes/VisualShaderNodeVectorClamp.xml
  doc/classes/VisualShaderNodeVectorInterp.xml
  doc/classes/VisualShaderNodeVectorScalarMix.xml
  doc/classes/VisualShaderNodeVectorScalarSmoothStep.xml
  doc/classes/VisualShaderNodeVectorScalarStep.xml
  doc/classes/VisualShaderNodeVectorSmoothStep.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:shaders

#45603 [C#] Fix string.Hash()
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: bug, cherrypick:3.2, topic:mono

#45629 Linux: Build with use_static_cpp=yes by default
  platform/linuxbsd/detect.py
Labels: cherrypick:3.2, enhancement, platform:linuxbsd, topic:buildsystem

#45620 Simplify Script Variables Population
  editor/editor_inspector.cpp
Labels: bug, cherrypick:3.2, topic:editor

#45630 Linux: Enable udev support by default
  platform/linuxbsd/detect.py
Labels: cherrypick:3.2, enhancement, platform:linuxbsd, topic:buildsystem

#45634 Fix incorrect version requirement in the SCons compilation DB comment
  SConstruct
Labels: bug, cherrypick:3.2, topic:buildsystem

#45604 Node::replace_by is not copying node properties, removed the dead code
  doc/classes/Node.xml
  scene/main/node.cpp
Labels: bug, topic:core

#45579 add search extensions for Scons' path
  platform/android/java/lib/build.gradle
Labels: cherrypick:3.2, enhancement, platform:android, topic:buildsystem

#45642 Make the Open Project Folder button more visible in the project manager
  editor/project_manager.cpp
Labels: cherrypick:3.2, enhancement, topic:editor, usability

#45608 Use integer coordinates for the font glyphs rendering.
  modules/text_server_adv/bitmap_font_adv.cpp
  modules/text_server_adv/dynamic_font_adv.cpp
  modules/text_server_fb/bitmap_font_fb.cpp
  modules/text_server_fb/dynamic_font_fb.cpp
  scene/gui/button.cpp
  scene/gui/item_list.cpp
Labels: enhancement, topic:gui

#45596 Add viewport resolution to the 3D editor's View Information pane
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#45564 Use real_t in physics nodes
  scene/2d/collision_object_2d.cpp
  scene/2d/collision_object_2d.h
  scene/2d/collision_polygon_2d.cpp
  scene/2d/collision_polygon_2d.h
  scene/2d/collision_shape_2d.cpp
  scene/2d/collision_shape_2d.h
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/collision_polygon_3d.cpp
  scene/3d/collision_polygon_3d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  scene/3d/physics_joint_3d.cpp
  scene/3d/physics_joint_3d.h
  scene/3d/spring_arm_3d.cpp
  scene/3d/spring_arm_3d.h
  scene/3d/vehicle_body_3d.cpp
  scene/3d/vehicle_body_3d.h
Labels: enhancement, topic:physics

#45561 Create the temporary PCK export directory if it doesn't exist
  editor/editor_export.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:porting

#45549 GraphNode: Add properties for custom icons
  scene/gui/graph_node.cpp
Labels: enhancement, topic:gui

#45137 Reference the control gallery image in the Control class documentation
  doc/classes/Control.xml
Labels: cherrypick:3.2, documentation, enhancement

#45110 Fixed completion and hint panel positioning in TextExit
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#45169 [3.2] Fixed completion and hint panel positioning in TextExit
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#37547 Use Math_TAU and deg2rad/etc in more places and optimize code
  core/math/camera_matrix.cpp
  core/math/geometry_3d.cpp
  core/math/math_funcs.h
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/csg/csg_shape.cpp
  modules/opensimplex/open_simplex_noise.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/line_builder.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/immediate_geometry_3d.cpp
  scene/3d/node_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/resources/capsule_shape_2d.cpp
  scene/resources/circle_shape_2d.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/style_box.cpp
  servers/audio/audio_filter_sw.cpp
  servers/audio/effects/audio_effect_chorus.cpp
  servers/audio/effects/audio_effect_delay.cpp
  servers/audio/effects/audio_effect_distortion.cpp
  servers/audio/effects/audio_effect_phaser.cpp
  servers/audio/effects/audio_effect_spectrum_analyzer.cpp
  servers/audio/effects/eq.cpp
  servers/audio/effects/reverb.cpp
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_3d/joints/cone_twist_joint_3d_sw.cpp
  servers/physics_3d/space_3d_sw.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering_server.cpp
Labels: enhancement, for pr meeting, topic:codestyle, topic:core

#45646 Don't use trashy max_decals value to prevent crashes
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, crash, topic:rendering

#45594 3D editor grid improvements
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/resources/material.cpp
Labels: cherrypick:3.2, enhancement, topic:3d, topic:editor

#45030 Replace ColorN and from HTML with a string constructor
  core/math/color.cpp
  core/math/color.h
  core/variant/variant.cpp
  core/variant/variant_construct.cpp
  doc/classes/Color.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
Labels: enhancement, topic:core, topic:mono

#45657 Fix macOS Vulkan debug label crash.
  drivers/vulkan/vulkan_context.cpp
Labels: bug, platform:macos, topic:rendering

#45576 BVH add support for visibility (activation)
  core/math/bvh.h
  core/math/bvh_logic.inc
  core/math/bvh_public.inc
  core/math/bvh_structs.inc
  core/math/bvh_tree.h
  servers/physics/broad_phase_bvh.cpp
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
Labels: enhancement, topic:core, topic:physics, topic:rendering

#45353 [3.2] Fix undeclared identifier error (rand) in lightmapper_cpu
  modules/lightmapper_cpu/lightmapper_cpu.cpp
Labels: bug, topic:rendering

#45648 Check default project and autoscan directories exist on project manager startup
  editor/project_manager.cpp
Labels: bug, cherrypick:3.2, topic:editor

#45659 Fix port previews for uniforms in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders

#40908 [3.2] Fix port previews for uniforms in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders

#45665 [4.0] [iOS] Earlier plugin initialization
  platform/iphone/os_iphone.mm
Labels: enhancement, platform:ios, topic:plugin

#45664 [3.2] [iOS] Earlier plugin initialization
  platform/iphone/os_iphone.mm
Labels: enhancement, platform:ios, topic:plugin

#45663 Cherry-picks for the 3.2 branch (future 3.2.4) - 19th batch
  .gitignore
  .mailmap
  AUTHORS.md
  DONORS.md
  SConstruct
  doc/classes/Control.xml
  doc/classes/TileMap.xml
  doc/classes/TreeItem.xml
  editor/editor_export.cpp
  editor/editor_node.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_manager.cpp
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathManager.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/webxr/doc_classes/WebXRInterface.xml
  platform/android/java/lib/build.gradle
  platform/x11/detect.py
  platform/x11/joypad_linux.cpp
  scene/3d/visibility_notifier.cpp
  scene/3d/visibility_notifier.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
  scene/resources/material.cpp
  scene/resources/visual_shader.cpp
  servers/visual/shader_types.cpp
Labels: bug, documentation, enhancement, topic:core, topic:editor

#45653 C conformance: Replace "bool" as the base definition for boolean with char
  modules/gdnative/include/gdnative/math_defs.h
Labels: bug, cherrypick:3.2, topic:gdnative

#45662 Main: Load translations and remaps before scene types
  main/main.cpp
Labels: bug, cherrypick:3.2, topic:core, topic:gui

#45593 Add AudioEffectCapture
  doc/classes/AudioEffectCapture.xml
  servers/audio/effects/audio_effect_capture.cpp
  servers/audio/effects/audio_effect_capture.h
  servers/register_server_types.cpp
Labels: enhancement, topic:audio

#42394 Move project-specific editor data into res://.godot/editor
  editor/editor_settings.cpp
  editor/editor_settings.h
Labels: breaks compat, enhancement, topic:core, topic:editor

#45670 [HTML5] Fix mouse_mode and fullscreen detection.
  platform/javascript/display_server_javascript.cpp
Labels: bug, platform:html5, regression, topic:porting

#45671 [3.2] [HTML5] Fix mouse_mode and fullscreen detection.
  platform/javascript/os_javascript.cpp
Labels: bug, platform:html5, regression, topic:porting

#45669 Fix swapped front/rear view
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#45678 Add check for sun in PhysicalSky
  scene/resources/sky_material.cpp
Labels: bug, topic:rendering

#45658 Make audio bus channels' peak volume consistent
  core/math/audio_frame.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: cherrypick:3.2, enhancement, needs testing, topic:audio

#45679 SCons: Add `production=yes` option to use production defaults
  SConstruct
  platform/linuxbsd/detect.py
  platform/osx/detect.py
  platform/server/detect.py
  platform/windows/detect.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#45682 [iOS] Remove remote notifications code
  platform/iphone/godot_app_delegate.h
  platform/iphone/godot_app_delegate.m
Labels: cherrypick:3.2, enhancement, platform:ios, topic:plugin

#45496 Fix particles not properly updated by their lifetime
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particles_material.cpp
Labels: bug, topic:rendering

#45497 [3.2] Fix particles not properly updated by their lifetime
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/resources/particles_material.cpp
Labels: bug, topic:rendering

#45684 [3.2] Added atom checks to X11 XChangeProperty and XGetWindowProperty
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#40766 [4.0] [iOS] Native loading screen implementation
  platform/iphone/godot_view.h
  platform/iphone/godot_view.mm
  platform/iphone/view_controller.mm
Labels: enhancement, platform:ios, topic:porting

#45693 [3.2] [iOS] Native loading screen implementation
  platform/iphone/godot_view.h
  platform/iphone/godot_view.mm
  platform/iphone/view_controller.mm
Labels: enhancement, platform:ios, topic:porting

#45686 [4.0] [iOS] Additional 'linker_flags' plugin parameter
  platform/iphone/export/export.cpp
  platform/iphone/plugin/godot_plugin_config.h
Labels: enhancement, platform:ios, topic:porting

#45685 [3.2] [iOS] Additional 'linker_flags' plugin parameter
  platform/iphone/export/export.cpp
  platform/iphone/plugin/godot_plugin_config.h
Labels: enhancement, platform:ios, topic:plugin

#45674 Improve the `File.endian_swap` documentation
  doc/classes/File.xml
Labels: cherrypick:3.2, documentation, enhancement

#45695 [3.2] [GLES2] Fix binding 3D Transforms to mat4 uniforms
  drivers/gles2/shader_gles2.cpp
Labels: bug, topic:rendering, topic:shaders

#35966 Use the blend parameter passed to blend_animation
  scene/animation/animation_tree.cpp
Labels: bug, topic:core

#45703 Removed duplicated binding of two methods
  scene/resources/syntax_highlighter.cpp
Labels: bug, topic:editor

#45701 Fix a crash in the TGA loader with malformed input
  modules/tga/image_loader_tga.cpp
  modules/tga/image_loader_tga.h
Labels: bug, crash, topic:import

#45702 [3.2] Fix a crash in the TGA loader with malformed input
  modules/tga/image_loader_tga.cpp
  modules/tga/image_loader_tga.h
Labels: bug, crash, topic:import

#45705 [HTML5] Better editor persistent folders, automatically open zip import popup
  drivers/dummy/rasterizer_dummy.h
  editor/project_manager.cpp
  misc/dist/html/editor.html
  platform/javascript/javascript_main.cpp
Labels: enhancement, platform:html5, topic:editor, topic:porting, usability

#45706 [3.2] [HTML5] Better editor persistent folders, automatically open zip import popup
  editor/project_manager.cpp
  misc/dist/html/editor.html
  platform/javascript/javascript_main.cpp
Labels: enhancement, platform:html5, topic:editor, topic:porting, usability

#45707 doc: Don't bind argument names with p_ prefix
  doc/classes/CodeHighlighter.xml
  doc/classes/SyntaxHighlighter.xml
  scene/3d/visual_instance_3d.cpp
  scene/gui/graph_edit.cpp
  scene/gui/texture_button.cpp
  scene/resources/syntax_highlighter.cpp
Labels: documentation, enhancement

#45708 Fix "editor/editor_help" shortcut overwriting when restarting editor
  editor/editor_node.cpp
Labels: bug, cherrypick:3.2, topic:editor

#45672 Rewrote how barriers work for faster rendering
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  scene/resources/sky_material.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.cpp
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
  servers/rendering/renderer_rd/renderer_scene_render_forward.cpp
  servers/rendering/renderer_rd/renderer_scene_render_forward.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/shaders/scene_forward.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_inc.glsl
  servers/rendering/renderer_rd/shaders/shadow_reduce.glsl
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/renderer_storage.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:core, topic:rendering

#45696 Make margins obey the snap option in the TextureRegion editor
  editor/plugins/texture_region_editor_plugin.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#45722 Fixes to get Godot running again on Intel IGP
  drivers/vulkan/rendering_device_vulkan.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/scene_forward.glsl
Labels: bug, topic:rendering

#45715 [Mono] Use the same search logic for both `MSBuild` and `dotnet`.
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
Labels: bug, cherrypick:3.2, platform:macos, topic:editor, topic:mono

#45698 Change sort_custom/bsearch_custom to use Callables
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant_call.cpp
  doc/classes/Array.xml
  editor/plugins/tile_set_editor_plugin.cpp
Labels: breaks compat, enhancement, topic:core

#45667 Document that GridMap doesn't support visual layers or cull masks
  modules/gridmap/doc_classes/GridMap.xml
Labels: cherrypick:3.2, documentation, enhancement

#44949 Improve the logic to compile for Android
  platform/android/detect.py
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/nativeSrcsConfigs/build.gradle
Labels: cherrypick:3.2, needs testing, platform:android, topic:buildsystem

#45727 CI: Build Linux editor without Mono, sanitizers with Mono
  .github/workflows/linux_builds.yml
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#45732 CI: Build full Mono version on Linux, with glue
  .github/workflows/linux_builds.yml
  platform/android/detect.py
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/nativeSrcsConfigs/build.gradle
Labels: enhancement, topic:buildsystem

#45731 Added temporal reprojection to Volumetric Fog
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/volumetric_fog.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#45741 Fix mismatched define in scene_forward.glsl for POSITION override
  servers/rendering/renderer_rd/shaders/scene_forward.glsl
Labels: bug, topic:rendering

#45752 Assorted CPU lightmapper fixes
  modules/lightmapper_cpu/lightmapper_cpu.cpp
  scene/3d/baked_lightmap.cpp
  scene/3d/baked_lightmap.h
Labels: bug, topic:editor, topic:rendering

#45583 Optimize transform propagation for hidden 3d objects
  scene/3d/spatial.cpp
  scene/3d/spatial.h
  scene/3d/visual_instance.cpp
Labels: enhancement, topic:core, topic:rendering

#45748 Sync controller mappings DB with SDL2 community repo
  core/input/gamecontrollerdb.txt
Labels: cherrypick:3.2, enhancement, topic:input

#45756 Add some HTML5 controllers mapping.
  core/input/godotcontrollerdb.txt
Labels: enhancement, platform:html5, topic:input, topic:porting

#45757 [3.2] Add some HTML5 controllers mapping.
  main/godotcontrollerdb.txt
Labels: enhancement, platform:html5, topic:input, topic:porting

#45758 [3.2] Fix used uninitialized warning in os_x11.cpp
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd

#45737 Add a test suite for the Image class
  tests/data/images/icon.bmp
  tests/data/images/icon.jpg
  tests/data/images/icon.png
  tests/data/images/icon.tga
  tests/data/images/icon.webp
  tests/test_image.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#45765 Simplify and Optimize Volumetric Fog
  drivers/dummy/rasterizer_dummy.h
  editor/editor_node.cpp
  scene/3d/light_3d.cpp
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/shaders/SCsub
  servers/rendering/renderer_rd/shaders/shadow_reduce.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#45780 Fix SDFGI bug after previous optimization.
  servers/rendering/renderer_rd/shaders/sdfgi_integrate.glsl
Labels: bug, topic:rendering

#45787 Fix volumetric fog for SpotLights
  servers/rendering/renderer_rd/shaders/volumetric_fog.glsl
Labels: bug, topic:rendering

#45776 Snap VisualScript comment to grid when resizing
  modules/visual_script/visual_script_editor.cpp
Labels: bug, cherrypick:3.2, topic:gui, topic:visualscript

#45786 Fixed an SDFGI reflections bug in Radeon
  servers/rendering/renderer_rd/shaders/gi.glsl
Labels: bug, topic:rendering

#45790 Fix issues in last GameControllerDB sync
  core/input/gamecontrollerdb.txt
Labels: bug, cherrypick:3.2, topic:input

#41308 Invert spotlight angle attenuation
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  modules/lightmapper_rd/lm_common_inc.glsl
  modules/lightmapper_rd/lm_compute.glsl
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/giprobe.glsl
  servers/rendering/renderer_rd/shaders/giprobe_write.glsl
  servers/rendering/renderer_rd/shaders/sdfgi_direct_light.glsl
Labels: breaks compat, bug, topic:rendering

#45784 Fix unnecessary scrolling in TextEdit
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.2, topic:editor

#45794 Improve the `SurfaceTool.generate_normals()` documentation
  doc/classes/SurfaceTool.xml
Labels: cherrypick:3.2, documentation, enhancement

#45803 Fix nan errors when using VehicleBody
  scene/3d/vehicle_body_3d.cpp
Labels: bug, cherrypick:3.2, topic:physics

#45805 Cancel event dispatch on error
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:input

#45818 SCons: Fix debug_symbols tests after switch to BoolVariable
  platform/linuxbsd/SCsub
  platform/linuxbsd/detect.py
  platform/osx/SCsub
  platform/osx/detect.py
  platform/server/detect.py
  platform/windows/SCsub
  platform/windows/detect.py
Labels: bug, cherrypick:3.2, topic:buildsystem

#43245 Docs: Object: Use new signal syntax and port to C#
  doc/classes/Object.xml
Labels: documentation, enhancement, topic:mono

#45797 Add support for new SDL gamecontroller keywords.
  core/core_constants.cpp
  core/input/input.cpp
  core/input/input_event.cpp
  core/input/input_event.h
  doc/classes/@GlobalScope.xml
Labels: breaks compat, bug, topic:import

#43057 SCons: Add an option to detect C++ modules recursively
  SConstruct
  methods.py
Labels: cherrypick:3.2, enhancement, topic:buildsystem

#45825 Use /Zi and /FS for including debugger symbols on Windows with MSVC
  platform/windows/detect.py
Labels: cherrypick:3.2, enhancement, platform:windows, topic:buildsystem

#45798 [3.2] Add support for new SDL gamecontroller keywords.
  core/global_constants.cpp
  core/os/input_event.h
  doc/classes/@GlobalScope.xml
  editor/project_settings_editor.cpp
  main/input_default.cpp
  main/input_default.h
Labels: breaks compat, bug, topic:input

#45827 Sync controller mappings DB with SDL2 community repo
  core/input/gamecontrollerdb.txt
Labels: cherrypick:3.2, enhancement, topic:input

#45775 Implement pause-aware picking
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:input, topic:physics

#45831 [3.2] Visual Shader Parenthesis fix
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders

#45836 Update ColorPicker controls when entering tree
  scene/gui/color_picker.cpp
Labels: bug, cherrypick:3.2, topic:gui

#45774 Bugfix: Update transform of collision shape on NOTIFICATION_PARENTED …
  scene/3d/collision_shape_3d.cpp
Labels: bug, regression, topic:physics

#45750 [3.2] Bugfix: Update transform of collision shape on NOTIFICATION_PARENTED
  scene/3d/collision_shape.cpp
Labels: bug, regression, topic:physics

#45806 Set selected Tree item to null when deselected
  scene/gui/tree.cpp
Labels: bug, topic:gui

#45773 Improve editor text appearance in (un)zoomed GraphEdit-based editors
  editor/editor_fonts.cpp
Labels: enhancement, topic:editor, topic:visualscript

#45713 Make Rect2 properties show in 2x2 layout
  editor/editor_properties.cpp
Labels: enhancement, topic:editor, usability

#45736 Make String::ends_with don't use String::rfind
  core/string/ustring.cpp
Labels: cherrypick:3.2, enhancement, topic:core

#45828 Cherry-picks for the 3.2 branch (future 3.2.4) - 21st batch
  SConstruct
  doc/classes/SurfaceTool.xml
  main/gamecontrollerdb.txt
  methods.py
  modules/visual_script/visual_script_editor.cpp
  platform/osx/SCsub
  platform/osx/detect.py
  platform/server/detect.py
  platform/windows/SCsub
  platform/windows/detect.py
  platform/x11/SCsub
  platform/x11/detect.py
  scene/3d/vehicle_body.cpp
  scene/gui/color_picker.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
Labels: bug, documentation, enhancement, topic:core, topic:editor

#45812 Keep selected node visible after filter change
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:editor, usability

#45813 Keep selected node visible after filter change (3.2)
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:editor, usability

#39421 Implement pause-aware picking (3.2)
  doc/classes/ProjectSettings.xml
  editor/project_manager.cpp
  main/main.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:input, topic:physics

#45843 Batching - prevent reordering items over a copybackbuffer
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering

#45848 Make FileSystem dock set its path to the base folder of files after changes
  editor/filesystem_dock.cpp
Labels: cherrypick:3.2, enhancement, topic:editor

#45853 Fixes crash when exiting with --verbose with leaked resources
  core/io/logger.cpp
Labels: bug, topic:core

#45851 [fbx; high priority] fixed bug in vertex duplication breaking meshes
  modules/fbx/data/fbx_mesh_data.cpp
Labels: bug, topic:import

#45065 [3.2] Use instance and first arg in Basis is_equal_approx
  core/math/basis.h
  core/variant_call.cpp
  doc/classes/Basis.xml
Labels: bug, topic:3d, topic:core

#45856 Fix animation reset-on-save on inactive scene tabs
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Labels: bug, topic:editor

#45861 Fix contact points debug for 3D Physics
  scene/main/viewport.cpp
Labels: bug, cherrypick:3.2, topic:physics

#45811 Improve SDFGI indirect light feedback loop
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/sdfgi_direct_light.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#31747 Detect external modification of scenes
  core/config/project_settings.cpp
  core/config/project_settings.h
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_node.h
Labels: cherrypick:3.2, enhancement, for pr meeting, topic:editor

#45771 Fix joystick axis mapping issues with NVIDIA shield. Probably others.
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/Joystick.java
Labels: bug, platform:android, topic:input

#45772 [3.2] Fix issue with NVIDIA and axis mapping for joysticks.
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/Joystick.java
Labels: bug, platform:android, topic:input

#45854 Cylinder support in Godot Physics 3D
  COPYRIGHT.txt
  core/math/geometry_3d.h
  servers/physics_3d/collision_solver_3d_sat.cpp
  servers/physics_3d/collision_solver_3d_sw.cpp
  servers/physics_3d/gjk_epa.cpp
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/shape_3d_sw.cpp
  servers/physics_3d/shape_3d_sw.h
Labels: enhancement, topic:physics

#45876 Document Particles2D not supporting AtlasTexture region
  doc/classes/Particles2D.xml
Labels: documentation, enhancement

#45878 [3.2] Fixed completion box not showing properly
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#45880 [3.2] Detect external modification of scenes
  core/project_settings.cpp
  core/project_settings.h
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#45883 [HTML5] Handle contextmenu, webglcontextlost internally.
  drivers/dummy/rasterizer_dummy.h
  platform/javascript/display_server_javascript.cpp
  platform/javascript/godot_js.h
  platform/javascript/js/engine/engine.js
  platform/javascript/js/libs/library_godot_display.js
Labels: enhancement, platform:html5, topic:porting

#45884 [3.2] [HTML5] Handle contextmenu, webglcontextlost internally.
  platform/javascript/godot_js.h
  platform/javascript/js/engine/engine.js
  platform/javascript/js/libs/library_godot_display.js
  platform/javascript/os_javascript.cpp
Labels: enhancement, platform:html5, topic:porting

#45885 [HTML5] Fix web editor "clear persistent data".
  misc/dist/html/editor.html
Labels: bug, cherrypick:3.2, platform:html5, topic:editor, topic:porting

#45888 [HTML5] Fix HTTPClient request_raw.
  platform/javascript/http_client_javascript.cpp
  platform/javascript/http_request.h
  platform/javascript/js/libs/library_godot_http_request.js
Labels: bug, platform:html5, topic:network, topic:porting

#45889 [3.2] [HTML5] Fix HTTPClient request_raw.
  platform/javascript/http_client_javascript.cpp
  platform/javascript/http_request.h
  platform/javascript/js/libs/library_godot_http_request.js
Labels: bug, platform:html5, topic:network, topic:porting

#45846 Improve EditorImportPlugin docs.
  doc/classes/EditorImportPlugin.xml
Labels: cherrypick:3.2, documentation, enhancement

#44476 Document known bug with `Object.new()` and workaround
  doc/classes/Object.xml
Labels: documentation, enhancement

#45870 Update GraphEdit when GraphNode's slot is updated
  doc/classes/GraphNode.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
Labels: bug, cherrypick:3.2, topic:gui

#45835 Add Unit Tests for Variant Class
  tests/test_variant.h
Labels: enhancement, topic:tests

#45891 [HTML5] Editor: ensure canvas focus when switching tabs.
  misc/dist/html/editor.html
Labels: cherrypick:3.2, enhancement, platform:html5, topic:editor, topic:porting

#45892 Cherry-picks for the 3.2 branch (future 3.2.4) - 22nd batch
  .mailmap
  AUTHORS.md
  core/math/math_funcs.h
  core/ustring.cpp
  doc/classes/EditorImportPlugin.xml
  doc/classes/GraphNode.xml
  editor/filesystem_dock.cpp
  misc/dist/html/editor.html
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_functions.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
  scene/main/viewport.cpp
Labels: bug, documentation, enhancement, topic:core, topic:editor

#45882 Fix broken gdnative variant test
  modules/gdnative/tests/test_variant.h
Labels: bug, topic:tests

#44698 Allow to pass varying from fragment to light shader function
  servers/rendering/renderer_rd/shader_compiler_rd.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:shaders

#45901 SCons: Fix Godot detection in custom modules logic
  methods.py
Labels: bug, cherrypick:3.2, topic:buildsystem

#45859 Accomodate blend shape ranges of -1 to +1 for Vulkan
  scene/3d/mesh_instance_3d.cpp
  servers/rendering/renderer_rd/shaders/skeleton.glsl
Labels: enhancement, topic:core

#45837 Accomodate blend shape ranges of -1 to +1 for GLES
  drivers/gles3/rasterizer_storage_gles3.cpp
  scene/3d/mesh_instance.cpp
Labels: enhancement, topic:3d

#45909 Fixed typo in PackedScene documentation
  doc/classes/PackedScene.xml
Labels: bug, cherrypick:3.2, documentation

#45921 [3.2] [HTML5] Detect screen scale and DPI.
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: enhancement, platform:html5, topic:porting

#45920 [HTML5] Detect screen scale and DPI.
  platform/javascript/display_server_javascript.cpp
  platform/javascript/display_server_javascript.h
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
Labels: enhancement, platform:html5, topic:porting

#45902 Print suggestions when requesting a nonexistent InputMap action (3.2)
  core/input_map.cpp
  core/input_map.h
Labels: enhancement, topic:input, usability

#45785 Display loading text while the project manager is loading
  editor/project_manager.cpp
  editor/project_manager.h
Labels: cherrypick:3.2, enhancement, topic:editor

#45907 Improved Inspector Sub-Resource Editing
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_settings.cpp
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#45922 Use get_char_size(' ') to calculate space width.
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#45923 Fix LineEdit minimum width
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:gui

#45931 Revised cylinder contact point generation in Godot Physics
  servers/physics_3d/collision_solver_3d_sat.cpp
Labels: enhancement, topic:physics

#45932 Fix sprite editor conversion tools to handle compressed textures
  editor/plugins/sprite_2d_editor_plugin.cpp
Labels: bug, cherrypick:3.2, topic:editor, topic:import
