Repository godotengine/godot, pull requests merged in 2021-08, with the labels that each got.

#51124 Fix being able to add duplicate files in the Localization editor
  editor/localization_editor.cpp
Labels: bug, topic:editor

#51136 Windows: Fix build with SCons 4.2.0
  platform/windows/detect.py
Labels: bug, cherrypick:3.1, cherrypick:3.3, cherrypick:3.x, topic:buildsystem

#51036 WebsocketPeer outbound buffer fixes and buffer size query
  modules/websocket/doc_classes/WebSocketPeer.xml
  modules/websocket/emws_client.cpp
  modules/websocket/emws_client.h
  modules/websocket/emws_peer.cpp
  modules/websocket/emws_peer.h
  modules/websocket/library_godot_websocket.js
  modules/websocket/websocket_peer.cpp
  modules/websocket/websocket_peer.h
  modules/websocket/wsl_peer.cpp
  modules/websocket/wsl_peer.h
Labels: bug, topic:network

#48958 Astar::get_available_point_id Return 0 instead of 1 when empty
  core/math/a_star.cpp
Labels: breaks compat, bug, cherrypick:3.x, topic:core

#51037 3.x WebsocketPeer outbound buffer fixes and buffer size query
  modules/websocket/doc_classes/WebSocketPeer.xml
  modules/websocket/emws_client.cpp
  modules/websocket/emws_client.h
  modules/websocket/emws_peer.cpp
  modules/websocket/emws_peer.h
  modules/websocket/library_godot_websocket.js
  modules/websocket/websocket_peer.cpp
  modules/websocket/websocket_peer.h
  modules/websocket/wsl_peer.cpp
  modules/websocket/wsl_peer.h
Labels: bug, cherrypick:3.3, topic:network

#51138 [3.4] Profiling - fix frame_time measurement
  main/main.cpp
Labels: bug, topic:core

#51131 [3.x] Make progress and errors translatable when exporting to Android
  platform/android/export/export.cpp
Labels: enhancement, topic:editor

#51130 Make progress and errors translatable when exporting to Android
  platform/android/export/export.cpp
Labels: enhancement, topic:editor

#51112 Fix crash on doc dragging in script list panel
  editor/editor_resource_picker.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, crash, topic:editor

#51139 Prevent warning spam to console when dragging a CanvasItem in container
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, topic:editor

#51119 Make theme item overrides more obvious in the Inspector
  scene/gui/control.cpp
Labels: enhancement, topic:editor, usability

#50430 VCS: Allow to stage and commit all files with Ctrl + Enter
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.h
Labels: enhancement, topic:editor, usability

#50432 [3.x] VCS: Allow to stage and commit all files with Ctrl + Enter
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.h
Labels: enhancement, topic:editor, usability

#49783 Use real_t in editor plugins
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.h
Labels: enhancement, topic:editor

#51062 Portals - Remove node naming restrictions + further work
  scene/3d/portal.cpp
  scene/3d/portal.h
  scene/3d/room_manager.cpp
  scene/3d/room_manager.h
Labels: enhancement, topic:3d, topic:core

#51152 Portals - Improve UI and add shortcuts
  editor/plugins/room_manager_editor_plugin.cpp
  editor/plugins/room_manager_editor_plugin.h
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
  scene/3d/room_manager.cpp
  scene/3d/room_manager.h
  servers/visual/portals/portal_renderer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.h
Labels: enhancement, topic:3d, topic:editor, usability

#51170 Use Command+Drag in EditSpinSlider on macOS
  editor/editor_spin_slider.cpp
Labels: bug, platform:macos, topic:editor

#51172 [Marshalls] Fix Float64Array and Int64Array serialization.
  core/io/marshalls.cpp
Labels: bug, topic:core

#51176 Add null check to Tween.bind_node()
  scene/animation/tween.cpp
Labels: bug, crash, topic:animation

#51173 Fix up property reversion
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, topic:editor

#51004 Implements TileMap layers and move TileSetPlugins's functions to the TileMap node instead
  doc/classes/TileMap.xml
  doc/classes/TileSet.xml
  editor/icons/TileMapHighlightSelected.svg
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_data_editors.h
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_map_editor.h
  editor/plugins/tiles/tile_proxies_manager_dialog.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/gui/tree.h
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: feature proposal, topic:2d, topic:editor

#51185 Validate TileData enum range before using it as index
  scene/resources/tile_set.cpp
Labels: bug, crash, topic:2d

#51186 Portals - Fix UI default
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: bug, topic:3d, topic:editor

#51191 C#+iOS: Cache AOT compilater output
  modules/mono/editor/GodotTools/GodotTools/Export/AotBuilder.cs
  modules/mono/editor/GodotTools/GodotTools/Export/AotCache.cs
Labels: enhancement, platform:ios, topic:editor, topic:mono

#51120 Link to the Random number generation tutorial in RandomNumberGenerator
  doc/classes/Engine.xml
  doc/classes/RandomNumberGenerator.xml
  doc/classes/ResourceImporter.xml
Labels: cherrypick:3.3, documentation, enhancement

#51190 Validates VisualScript.add_node input node
  modules/visual_script/visual_script.cpp
Labels: bug, cherrypick:3.x, crash, topic:visualscript

#51192 Validates set_sdfgi_cascades argument range
  scene/resources/environment.cpp
Labels: bug, crash, topic:rendering

#50122 Migrate remaining features into CodeEdit
  doc/classes/CodeEdit.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:editor, topic:gui

#51168 Dependency editor: Edit message about move to trash
  editor/dependency_editor.cpp
Labels: cherrypick:3.x, enhancement, topic:editor

#51144 Makes dictionary instead of string for visual shader version
  doc/classes/VisualShader.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:editor, topic:shaders, topic:visualscript

#51039 Refactor layer property editor grid
  doc/classes/ProjectSettings.xml
  editor/editor_properties.cpp
  scene/register_scene_types.cpp
Labels: enhancement, topic:editor, topic:navigation, topic:physics, topic:rendering, usability

#51040 [3.x] Refactor layer property editor grid
  doc/classes/ProjectSettings.xml
  editor/editor_properties.cpp
  scene/register_scene_types.cpp
Labels: enhancement, topic:editor, topic:physics, topic:rendering, usability

#51042 Fix binary resource loading and saving
  core/io/resource_format_binary.cpp
  core/io/resource_format_binary.h
  scene/resources/resource_format_text.cpp
Labels: bug, high priority, regression, topic:core

#51198 Improve CodeEdit's callhint highlight visibility
  scene/gui/code_edit.cpp
Labels: enhancement, topic:editor, topic:gui

#51193 memdelete the node in AnimationTreePlayer.remove_node
  scene/animation/animation_tree_player.cpp
Labels: bug, topic:animation

#51200 [3.x] Fix `NetworkedMultiplayerENet` client memory leak
  modules/enet/networked_multiplayer_enet.cpp
Labels: bug, topic:network

#51203 Grammar fix.
  doc/classes/Transform2D.xml
Labels: documentation, enhancement

#50703 Removes EmitParticle node from the start functions in visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:shaders, topic:visualscript

#51093 Fix thread start with no user data when target has no default argument
  core/core_bind.cpp
Labels: bug, cherrypick:3.x, regression, topic:core

#50966 Added more input/output built-ins to visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:editor, topic:shaders, topic:visualscript

#50986 Fix forward calculation in PathFollow3D for the position at the end of the curve
  scene/3d/path_3d.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, topic:3d, topic:core

#51177 TabContainer Fix moving dropped tab to incorrect child index
  scene/gui/tab_container.cpp
Labels: bug, cherrypick:3.x, topic:gui

#51118 Make the "View" menu in the 3D viewport stay open when selecting a checkbox
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.x, enhancement, topic:3d, topic:editor, usability

#51107 Print a warning when the engine is started as `root`/superuser
  main/main.cpp
Labels: cherrypick:3.x, enhancement, platform:linuxbsd, platform:macos, topic:core

#51006 Name nodes added when drag & dropping an image by `name_casing`
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/main/node.h
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#51033 makerst: use link titles for external tutorials
  doc/tools/makerst.py
Labels: cherrypick:3.x, documentation, enhancement

#51208 [3.x] Prevents some warnings from appearing in visual scripts
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_nodes.cpp
Labels: bug, topic:editor, topic:visualscript

#51199 [Net] Fix IP address resolution incorrectly locking the main thread.
  core/io/ip.cpp
Labels: bug, topic:core, topic:network

#50893 Improve ConfigFile example
  doc/classes/ConfigFile.xml
Labels: cherrypick:3.x, documentation, enhancement, topic:core

#51211 [3.x] Cache `EditorResourcePicker`'s allowed types
  editor/editor_node.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Labels: bug, regression, topic:editor

#51212 [3.3] [Net] Fix IP address resolution incorrectly locking the main thread.
  core/io/ip.cpp
Labels: bug, topic:core, topic:network

#51213 Cache `EditorResourcePicker`'s allowed types
  editor/editor_node.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Labels: bug, regression, topic:editor

#51216 [Headless] Add --headless switch (no rendering, no audio).
  core/os/os.cpp
  core/os/os.h
  main/main.cpp
  misc/dist/shell/_godot.zsh-completion
  misc/dist/shell/godot.bash-completion
  misc/dist/shell/godot.fish
Labels: enhancement, topic:core

#51220 Fix the editor theme application for the Mono build log
  editor/editor_themes.cpp
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
Labels: bug, topic:editor, topic:mono, usability

#51221 [3.x] Fix the editor theme application for the Mono build log
  editor/editor_themes.cpp
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
Labels: bug, topic:editor, topic:mono, usability

#51020 Simplify C# print methods
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
Labels: cherrypick:3.x, enhancement, topic:mono

#47691 Fix `script_class` null access when reloading a deleted C# script
  modules/mono/csharp_script.cpp
Labels: bug, cherrypick:3.x, crash, topic:mono

#51226 Fix inverted condition in CharacterBody2D/3D set_max_slides
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body_3d.cpp
Labels: bug, topic:physics

#51228 Disable save button when Inspector is not editing anything
  editor/inspector_dock.cpp
Labels: bug, topic:editor

#51229 [3.x] Disable save button when Inspector is not editing anything
  editor/inspector_dock.cpp
Labels: bug, topic:editor

#51005 [Net] Implement RPC channels in MultiplayerAPI.
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  core/io/multiplayer_peer.cpp
  core/io/multiplayer_peer.h
  doc/classes/MultiplayerAPI.xml
  doc/classes/MultiplayerPeer.xml
  modules/enet/enet_multiplayer_peer.cpp
  modules/enet/enet_multiplayer_peer.h
  modules/gdnative/include/net/godot_net.h
  modules/gdnative/net/multiplayer_peer_gdnative.cpp
  modules/gdnative/net/multiplayer_peer_gdnative.h
  modules/webrtc/doc_classes/WebRTCMultiplayerPeer.xml
  modules/webrtc/webrtc_multiplayer_peer.cpp
  modules/webrtc/webrtc_multiplayer_peer.h
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.h
Labels: enhancement, topic:network

#51240 [3.x] Make theme item overrides more obvious in the Inspector
  scene/gui/control.cpp
Labels: enhancement, topic:editor, usability

#51242 Improve user communications in the theme editor
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: enhancement, topic:editor, usability

#51243 [3.x] Improve user communications in the theme editor
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: enhancement, topic:editor, usability

#48616 Implement LSP didSave notify and rename request [3.x]
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/lsp.hpp
Labels: enhancement, topic:editor, topic:gdscript

#48615 Implement LSP didSave notification and rename request
  core/object/script_language.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/lsp.hpp
Labels: enhancement, topic:editor, topic:gdscript

#51247 Add theme item descriptions to the online documentation
  core/doc_data.h
  doc/classes/AcceptDialog.xml
  doc/classes/Button.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/CodeEdit.xml
  doc/classes/ColorPicker.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/FileDialog.xml
  doc/classes/GraphEdit.xml
  doc/classes/GraphNode.xml
  doc/classes/GridContainer.xml
  doc/classes/HBoxContainer.xml
  doc/classes/HScrollBar.xml
  doc/classes/HSeparator.xml
  doc/classes/HSlider.xml
  doc/classes/HSplitContainer.xml
  doc/classes/ItemList.xml
  doc/classes/Label.xml
  doc/classes/LineEdit.xml
  doc/classes/LinkButton.xml
  doc/classes/MarginContainer.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/Panel.xml
  doc/classes/PanelContainer.xml
  doc/classes/PopupMenu.xml
  doc/classes/PopupPanel.xml
  doc/classes/ProgressBar.xml
  doc/classes/RichTextLabel.xml
  doc/classes/ScrollContainer.xml
  doc/classes/SpinBox.xml
  doc/classes/TabContainer.xml
  doc/classes/Tabs.xml
  doc/classes/TextEdit.xml
  doc/classes/Tree.xml
  doc/classes/VBoxContainer.xml
  doc/classes/VScrollBar.xml
  doc/classes/VSeparator.xml
  doc/classes/VSlider.xml
  doc/classes/VSplitContainer.xml
  doc/classes/Window.xml
  doc/tools/makerst.py
  editor/doc_tools.cpp
  editor/editor_help.cpp
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: documentation, enhancement

#51258 Fix Bugs w/ Octahedral Compression Implementation
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/visual_server.cpp
Labels: bug, topic:rendering

#51272 SCons: Fix info message when defining `GODOT_VERSION_STATUS`
  methods.py
Labels: cherrypick:3.3, cherrypick:3.x, enhancement, topic:buildsystem

#50707 Improve relevancy of Quick Open Scene results
  editor/quick_open.cpp
Labels: bug, regression, topic:editor, usability

#51250 Minor visual improvements to the view rotation gizmo
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:3d, topic:editor

#51251 [3.x] Minor visual improvements to the view rotation gizmo
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:3d, topic:editor

#51274 Portals - fix recursive loop looking out from internal rooms
  servers/visual/portals/portal_pvs_builder.cpp
  servers/visual/portals/portal_pvs_builder.h
  servers/visual/portals/portal_renderer.cpp
  servers/visual/portals/portal_tracer.cpp
  servers/visual/portals/portal_tracer.h
Labels: bug, topic:3d

#51215 Shortcut: Rename `shortcut` property to `event`
  doc/classes/Shortcut.xml
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/editor_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/settings_config_dialog.cpp
  scene/gui/base_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/shortcut.cpp
  scene/gui/shortcut.h
Labels: breaks compat, enhancement, topic:gui

#51276 Portals - rooms_set_active needs Editor check
  scene/3d/room_manager.cpp
Labels: bug, topic:3d, topic:editor

#51277 Portals - fix showing debug collision shapes
  scene/3d/collision_object.cpp
Labels: bug, topic:3d

#51281 Revert "Combined the DOF far and DOF near passes"
  doc/classes/Environment.xml
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/shaders/effect_blur.glsl
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/effect_blur.glsl
Labels: bug, regression, topic:3d, topic:rendering

#51164 Fixed gizmo forced implicit normalization and inconsistent rotation
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:3d, topic:editor

#50797 Fix Static & Rigid body generation on mesh import.
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:import

#51285 Reset baking should not spam on lack of animation players.
  editor/import/editor_importer_bake_reset.cpp
Labels: bug, topic:import, topic:3d

#51287 Point at software OpenGL when OpenGL fails to initialize on X11
  platform/osx/os_osx.mm
  platform/uwp/os_uwp.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:rendering, topic:porting, cherrypick:3.3

#51286 Fix get_used_rect() calculation
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, topic:editor, regression, topic:2d

#51044 Reduce C# Dictionary internal calls, Add documentation to Dictionary in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
  modules/mono/glue/collections_glue.cpp
Labels: enhancement, topic:mono, cherrypick:3.x

#51297 Preserve original name in shader params cache
  scene/resources/shader.cpp
Labels: bug, regression, topic:shaders

#51290 Animation RESET spam less patch 2
  editor/import/editor_importer_bake_reset.cpp
Labels: bug, topic:import, topic:3d

#51246 Portals - add gizmo handles for editing portals and rooms
  doc/classes/Portal.xml
  doc/classes/Room.xml
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
  scene/3d/portal.cpp
  scene/3d/portal.h
  scene/3d/room.cpp
  scene/3d/room.h
Labels: enhancement, topic:editor, usability, topic:3d

#51300 [Net] Fix ENetMultiplayerPeer status during connection.
  modules/enet/enet_multiplayer_peer.cpp
Labels: bug, topic:network

#51008 C# renames to be more consistent with GDScript
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
Labels: enhancement, topic:mono, breaks compat

#51301 [Net] Default @rpc annotation should be puppet, not master.
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:network

#51283 Fix LSP parsing get_node only from the scene root
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:3.x, cherrypick:3.3

#51234 Tests: Improve coverage for `File::get_csv_line()`
  core/io/file_access.cpp
  doc/classes/File.xml
  tests/data/translations.csv
  tests/test_file_access.h
Labels: enhancement, topic:core, documentation, cherrypick:3.x, topic:tests

#51214 Change the editor update spinner color when updating continuously
  editor/editor_node.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#51082 Fix AudioStream cubic resampling
  servers/audio/audio_stream.cpp
Labels: bug, topic:audio, cherrypick:3.x, cherrypick:3.3

#46505 OS: Fix used resource debug prints
  core/core_bind.cpp
  core/io/resource.cpp
  core/os/os.cpp
Labels: bug, topic:core, cherrypick:3.x

#50487 SCons: Disable Clang -Wordered-compare-function-pointers warning, fix Emscripten warnings setup
  .github/workflows/javascript_builds.yml
  SConstruct
  methods.py
  modules/freetype/SCsub
  modules/websocket/emws_peer.cpp
Labels: enhancement, platform:html5, topic:buildsystem, cherrypick:3.x, cherrypick:3.3

#51314 Fix vertical scroll/zoom for precision touchpad on windows
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:input, cherrypick:3.x, cherrypick:3.3

#49924 Use subpasses to do 3D rendering and resolve in mobile renderer
  doc/classes/RenderingDevice.xml
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.h
  servers/rendering/renderer_rd/shaders/tonemap.glsl
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, topic:3d

#51309 Fix incorrect checking of uniform set to prevent error spam
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
Labels: bug, topic:rendering, regression, topic:shaders

#51319 Fix theme property descriptions in the Inspector
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#51337 [4.0] [iOS] Use platform generated api to initialize iOS plugins
  platform/iphone/api/api.cpp
  platform/iphone/api/api.h
  platform/iphone/os_iphone.h
  platform/iphone/os_iphone.mm
Labels: bug, platform:ios, topic:plugin

#51336 [3.x] [iOS] Use platform generated api to initialize iOS plugins
  platform/iphone/api/api.cpp
  platform/iphone/api/api.h
  platform/iphone/os_iphone.h
  platform/iphone/os_iphone.mm
Labels: bug, platform:ios, topic:plugin, cherrypick:3.3

#51332 Fix LSP completion crashing on scene-less scripts
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, topic:gdscript, topic:editor

#51333 [3.x] Fix LSP completion crashing on scene-less scripts
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:3.3

#47700 Allow using the mouse wheel to navigate scene tabs
  editor/editor_node.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#50637 Fix Transform::xform(Plane) functions, add Transform unit tests
  core/math/transform.h
  main/tests/test_main.cpp
  main/tests/test_transform.cpp
  main/tests/test_transform.h
  servers/physics/collision_solver_sat.cpp
Labels: bug, topic:core, topic:tests, topic:3d

#51353 Removes const from set functions on the Gizmos
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  modules/csg/csg_gizmos.cpp
  modules/csg/csg_gizmos.h
Labels: enhancement, topic:editor

#51322 Ensure MSBuildPanel buttons are instantiated
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
Labels: bug, topic:editor, topic:mono

#51325 [3.x] Ensure MSBuildPanel buttons are instantiated
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
Labels: bug, topic:editor, topic:mono

#51327 [3.x] TileMap Fix trying to get data for tile not existing in attached TileSet
  editor/plugins/tile_map_editor_plugin.cpp
  scene/2d/tile_map.cpp
Labels: bug, topic:editor, topic:2d, cherrypick:3.3

#51328 Improve the inspector plugin documentation and remove a confusing statement
  doc/classes/EditorInspectorPlugin.xml
  doc/classes/EditorProperty.xml
Labels: enhancement, documentation, topic:plugin

#51329 [3.x] Improve the inspector plugin documentation and remove a confusing statement
  doc/classes/EditorInspectorPlugin.xml
  doc/classes/EditorProperty.xml
Labels: enhancement, documentation, topic:plugin

#51326 Minor visual improvements to the viewport rotation gizmo (again)
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#51324 [3.x] Minor visual improvements to the viewport rotation gizmo (again)
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#51334 [3.x] Improve `Control`'s theme item methods documentation
  doc/classes/Control.xml
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, documentation, topic:gui

#51358 [3.x] Fix Path3D initial forward calculation
  scene/3d/path.cpp
Labels: bug, regression, topic:3d, cherrypick:3.3

#51357 Fix Path3D initial forward calculation
  scene/3d/path_3d.cpp
Labels: bug, regression, topic:3d

#51355 [4.x] Fix Transform::xform(Plane) functions
  core/math/transform_3d.h
  servers/physics_3d/collision_solver_3d_sat.cpp
Labels: bug, topic:core

#51360 Redraw on item list custom bg/fg colour change
  scene/gui/item_list.cpp
Labels: bug, cherrypick:3.x, topic:gui

#38547 Invert how `global_rate_scale` value works, and rename it to `playback_speed_scale`
  doc/classes/AudioServer.xml
  scene/resources/audio_stream_sample.cpp
  servers/audio/audio_stream.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: enhancement, topic:core, topic:audio, breaks compat

#51356 Added editor dialog for easily creating shaders.
  editor/editor_properties.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/shader_create_dialog.cpp
  editor/shader_create_dialog.h
  servers/rendering/shader_types.cpp
  servers/rendering/shader_types.h
Labels: enhancement, topic:editor, usability, topic:shaders

#51375 Fix action_get_events returning booleans instead of InputKey entries
  core/input/input_map.cpp
Labels: bug, topic:input

#51370 Portals - improve PVS tracing
  servers/visual/portals/portal_pvs_builder.cpp
  servers/visual/portals/portal_pvs_builder.h
  servers/visual/portals/portal_renderer.cpp
  servers/visual/portals/portal_types.h
Labels: enhancement, topic:rendering, topic:3d

#51379 Fix Unicode URL link tags to render correctly.
  doc/classes/String.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:3.3

#51385 Fix logic to allow default null thread argument
  core/core_bind.cpp
Labels: bug, topic:core, cherrypick:3.x

#51388 Portals - Fix secondary PVS bug
  scene/3d/room_manager.cpp
  servers/visual/portals/portal_gameplay_monitor.cpp
  servers/visual/portals/portal_pvs_builder.cpp
Labels: bug, topic:rendering, topic:3d

#51392 Portals - fix autolinking to internal rooms
  scene/3d/room_manager.cpp
Labels: bug, topic:rendering, topic:3d

#51394 Portals - fix crash when logging link room names
  scene/3d/room_manager.cpp
Labels: bug, topic:rendering, crash, topic:3d

#51396 Portals - add support for Sprite3D
  scene/3d/room_manager.cpp
Labels: bug, topic:rendering, topic:3d

#51395 Add pseudolocalization to Godot. (GSoC'21)
  core/string/translation.cpp
  core/string/translation.h
  doc/classes/ProjectSettings.xml
  doc/classes/TranslationServer.xml
  editor/editor_settings.cpp
Labels: feature proposal, topic:core, topic:editor

#51218 [3.x] Fix various i18n failures
  editor/animation_track_editor.cpp
  editor/editor_feature_profile.cpp
  editor/export_template_manager.cpp
  scene/3d/room_manager.cpp
Labels: enhancement, topic:editor

#51217 Fix various i18n failures
  editor/animation_track_editor.cpp
  editor/editor_feature_profile.cpp
  editor/export_template_manager.cpp
Labels: enhancement, topic:editor

#51403 Portals - fix PVS generation and move settings
  doc/classes/ProjectSettings.xml
  doc/classes/RoomManager.xml
  scene/3d/room_manager.cpp
  scene/3d/room_manager.h
  servers/visual/portals/portal_pvs_builder.cpp
  servers/visual/portals/portal_pvs_builder.h
  servers/visual/portals/portal_renderer.cpp
  servers/visual/portals/portal_renderer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: bug, enhancement, topic:rendering, topic:3d

#51405 [macOS] Move captured mouse cursor to the center when window gain focus.
  platform/osx/display_server_osx.mm
Labels: bug, platform:macos, topic:porting, topic:input

#49587 [Text Server] Improve object (image/table) inline alignment.
  core/core_constants.cpp
  core/math/math_defs.h
  core/variant/binder_common.h
  doc/classes/@GlobalScope.xml
  doc/classes/RichTextLabel.xml
  doc/classes/TextLine.xml
  doc/classes/TextParagraph.xml
  doc/classes/TextServer.xml
  modules/gdnative/text/text_server_gdnative.cpp
  modules/gdnative/text/text_server_gdnative.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/resources/text_line.cpp
  scene/resources/text_line.h
  scene/resources/text_paragraph.cpp
  scene/resources/text_paragraph.h
  servers/text_server.cpp
  servers/text_server.h
Labels: enhancement, topic:gui

#51412 Make property description in the animation editor actually show it
  editor/property_selector.cpp
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.3

#51155 Fix a default shader specular render mode to `SCHLICK_GGX`
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
Labels: bug, for pr meeting, topic:shaders

#51401 [3.x] Fix a default shader specular render mode to `SCHLICK_GGX`
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
Labels: bug, topic:shaders

#51180 Implement inherits_script() for NativeScript and PluginScript
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/pluginscript/pluginscript_script.cpp
Labels: enhancement, topic:gdnative

#51166 [3.x] Rationalize property reversion
  core/script_language.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  modules/gdnative/nativescript/nativescript.cpp
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdnative/pluginscript/pluginscript_script.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
Labels: bug, topic:editor

#51420 [WIP] Fix some bugs in shader creation dialog
  editor/shader_create_dialog.cpp
Labels: enhancement, topic:editor

#51338 Continue when glTF2 lights fail to parse.
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, cherrypick:3.x, topic:3d

#51422 Fix some bugs in shader creation dialog (continue)
  editor/shader_create_dialog.cpp
  editor/shader_create_dialog.h
Labels: enhancement, topic:editor

#51431 Added small offset to the content of nodes in VisualShader
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#51427 automatically detect openbsd as platform=linuxbsd
  SConstruct
Labels: enhancement, platform:linuxbsd, topic:buildsystem, topic:porting

#43158 Fix Gradient and Color Picker checkerboard, Fix tile parameter for CanvasItem.draw_texture_rect
  editor/editor_themes.cpp
  scene/gui/gradient_edit.cpp
  scene/gui/gradient_edit.h
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/theme_data.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, topic:editor, topic:gui

#51434 [Net] Add "dtls_hostname" property to ENet.
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
  modules/enet/networked_multiplayer_enet.cpp
  modules/enet/networked_multiplayer_enet.h
Labels: enhancement, topic:network

#51441 Change PrismMesh editor icon to look like a prism.
  editor/icons/PrismMesh.svg
Labels: enhancement, topic:editor, usability

#51097 [Net] MultiplayerAPI remote scene spawning/despawning.
  core/core_bind.cpp
  core/core_bind.h
  core/io/multiplayer_api.cpp
  core/io/multiplayer_api.h
  doc/classes/MultiplayerAPI.xml
  doc/classes/ResourceLoader.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:network

#45568 Use real_t in 3D nodes
  scene/3d/camera_3d.cpp
  scene/3d/camera_3d.h
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/3d/decal.cpp
  scene/3d/decal.h
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/path_3d.cpp
  scene/3d/path_3d.h
  scene/3d/proximity_group_3d.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_ik_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/3d/voxelizer.cpp
  scene/3d/xr_nodes.cpp
  scene/3d/xr_nodes.h
Labels: enhancement, topic:3d

#49753 Handle both 32-bit and 64-bit floats for tangents and weights in RenderingServer
  servers/rendering_server.cpp
Labels: enhancement, topic:rendering
