Repository godotengine/godot, pull requests merged in 2021-09, with the labels that each got.

#52300 TabContainer Fix drawing current tab when it's disabled
  scene/gui/tab_container.cpp
Labels: bug, topic:gui

#52299 [3.x] TabContainer Fix drawing current tab when it's disabled
  scene/gui/tab_container.cpp
Labels: bug, topic:gui, cherrypick:3.3

#52026 Fix ConstIterator to allow `for` range loops on Packed*Array
  core/templates/vector.h
Labels: bug, topic:core

#48237 Add Vector2.from_angle() method
  core/math/vector2.cpp
  core/math/vector2.h
  core/variant/variant_call.cpp
  doc/classes/Vector2.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
Labels: feature proposal, topic:core

#52270 Remove cartesian2polar and polar2cartesian
  core/variant/variant_utility.cpp
  doc/classes/@GlobalScope.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/visual_script/doc_classes/VisualScriptBuiltinFunc.xml
  modules/visual_script/visual_script_builtin_funcs.cpp
  modules/visual_script/visual_script_builtin_funcs.h
Labels: enhancement, topic:core, breaks compat

#51987 Fix docs after GDVIRTUAL pull request
  doc/classes/@GlobalScope.xml
  doc/classes/EditorPlugin.xml
Labels: bug, documentation

#51639 Implement more advanced features for DAP
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_parser.h
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/debug_adapter/debug_adapter_server.cpp
  editor/debugger/debug_adapter/debug_adapter_server.h
  editor/debugger/debug_adapter/debug_adapter_types.h
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_run_native.cpp
  editor/editor_run_native.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.h
  modules/visual_script/visual_script_editor.h
Labels: enhancement, topic:gdscript, topic:editor

#38722 Add offset for TextureProgress progress texture
  doc/classes/TextureProgressBar.xml
  scene/gui/texture_progress_bar.cpp
  scene/gui/texture_progress_bar.h
Labels: enhancement, cherrypick:3.x, topic:gui

#52320 Add support for adding plugin views behind the main view on Android
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
Labels: enhancement, platform:android, topic:porting, cherrypick:3.x

#52160 [3.x] Update Oculus vr configs
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/AndroidManifest.xml
Labels: platform:android, topic:xr

#52331 Tweak tooltip style (slightly less dark/unified margins)
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#52071 Checks in analyzer and compiler for GDScript naming conflicts
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_compiler.cpp
Labels: enhancement, topic:gdscript

#33123 Capitalize properties in the remote inspector
  editor/editor_node.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#52354 Fix sending zero-length spawn variant
  core/io/multiplayer_replicator.cpp
Labels: bug, topic:network

#52329 GDScript: Fix for UNUSED_PRIVATE_CLASS_VARIABLE
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, regression

#52342 [Net] Silence ENetMultiplayerPeer close_connection.
  modules/enet/enet_multiplayer_peer.cpp
Labels: enhancement, topic:network

#52343 [3.x] [Net] Silence ENetMultiplayerPeer close_connection.
  modules/enet/networked_multiplayer_enet.cpp
Labels: enhancement, topic:network, cherrypick:3.3

#52357 Fixed property info by changing Window current_screen parameter from string to int
  scene/main/window.cpp
Labels: bug, topic:gui

#52374 Fix macOS fullscreen incorrect mouse position
  platform/osx/display_server_osx.mm
Labels: bug, platform:macos, topic:porting, cherrypick:3.x

#52241 [3.x] Fix `String::simplify_path` return type
  core/variant_call.cpp
  doc/classes/String.xml
Labels: bug, topic:core

#52368 Inaccurate HTTPRequest documentation node
  doc/classes/HTTPRequest.xml
Labels: enhancement, documentation, topic:network, cherrypick:3.x, cherrypick:3.3

#50872 Some more C# formatting and style fixes
  modules/mono/editor/GodotTools/GodotTools.BuildLogger/GodotBuildLogger.cs
  modules/mono/editor/GodotTools/GodotTools.Core/ProcessExtensions.cs
  modules/mono/editor/GodotTools/GodotTools.Core/StringExtensions.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/DotNetSolution.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/IdentifierUtils.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MsBuildFinder.cs
  modules/mono/editor/GodotTools/GodotTools/Export/AotBuilder.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/HotReloadAssemblyWatcher.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MessagingServer.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/MonoDevelop/Instance.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathLocator.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathManager.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/GodotSharpDirs.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/FsPathUtils.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/OS.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/AABB.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/DynamicObject.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/ObjectExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/SceneTreeExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotSynchronizationContext.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotTraceListener.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/MarshalUtils.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NodePath.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Object.base.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Plane.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/RID.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/SignalAwaiter.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
Labels: enhancement, topic:mono

#51079 Add documentation to GodotSharp, Fix PackedInt64Array typo
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/AABB.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/DisableGodotGeneratorsAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/RPCAttributes.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/SignalAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ToolAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Callable.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/DynamicObject.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/NodeExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/ObjectExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/PackedSceneExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/ResourceLoaderExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/SceneTreeExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/MarshalUtils.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/MathfEx.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NodePath.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Object.base.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Plane.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/RID.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/SignalInfo.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringName.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/UnhandledExceptionArgs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
Labels: enhancement, documentation, topic:mono

#52341 Fix missing SConscript warning when building using SCons
  modules/gdnative/SCsub
Labels: bug, topic:buildsystem

#52309 Add functions for access members by index on packed array objects
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
Labels: enhancement, topic:gdnative

#52416 Initialize n_warnings_dropped to 0 in ScriptDebuggerRemote
  scene/debugger/script_debugger_remote.cpp
Labels: bug, topic:editor, cherrypick:3.3

#51722 Apply `set_read_only()` to child classes of `EditorProperty` elements
  core/object/object.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_spin_slider.cpp
  editor/editor_themes.cpp
  editor/icons/GuiCheckedDisabled.svg
  editor/icons/GuiRadioCheckedDisabled.svg
  editor/icons/GuiRadioUncheckedDisabled.svg
  editor/icons/GuiSpinboxUpdownDisabled.svg
  editor/icons/GuiUncheckedDisabled.svg
  scene/gui/check_box.cpp
  scene/gui/line_edit.cpp
Labels: enhancement, topic:editor, topic:plugin

#35617 Fix negative delta arguments
  main/main_timer_sync.cpp
Labels: bug, topic:core, needs testing, for pr meeting, cherrypick:3.x

#30623 Prevent editing properties managed by parent container
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:editor, usability, topic:gui

#52435 Fix crash in TileMap physics
  scene/2d/tile_map.cpp
Labels: bug, crash, topic:2d

#35859 Add visual feedback when hovering or dragging the code minimap grabber
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#52361 Add visual feedback when hovering or dragging the code minimap grabber (3.x)
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#52286 Add AnimatableBody inherited from StaticBody for moving platforms
  doc/classes/AnimatableBody2D.xml
  doc/classes/AnimatableBody3D.xml
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
  doc/classes/StaticBody2D.xml
  doc/classes/StaticBody3D.xml
  editor/icons/AnimatableBody2D.svg
  editor/icons/AnimatableBody3D.svg
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  scene/register_scene_types.cpp
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_3d/body_3d_sw.cpp
  servers/physics_3d/body_3d_sw.h
Labels: enhancement, topic:physics, breaks compat, topic:2d, topic:3d

#52271 Harmonize default value for collision mask in ray/shape queries
  doc/classes/PhysicsDirectSpaceState2D.xml
  doc/classes/PhysicsDirectSpaceState3D.xml
  doc/classes/PhysicsShapeQueryParameters2D.xml
  doc/classes/PhysicsShapeQueryParameters3D.xml
  modules/bullet/space_bullet.h
  servers/physics_2d/space_2d_sw.h
  servers/physics_3d/space_3d_sw.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
Labels: enhancement, topic:physics, breaks compat, topic:2d, topic:3d

#50405 [3.x] Clean convex hull decomposition code
  core/math/triangle_mesh.h
  modules/vhacd/register_types.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
Labels: enhancement, topic:core, topic:editor, topic:3d

#48551 [3.x] Optimize area detection and intersect_shape queries with concave shapes
  servers/physics/collision_solver_sw.cpp
  servers/physics/collision_solver_sw.h
  servers/physics/shape_sw.cpp
  servers/physics/shape_sw.h
  servers/physics_2d/collision_solver_2d_sw.cpp
  servers/physics_2d/collision_solver_2d_sw.h
  servers/physics_2d/shape_2d_sw.cpp
  servers/physics_2d/shape_2d_sw.h
Labels: enhancement, topic:physics, performance

#49610 Proper support for custom mass properties in 2D/3D physics bodies
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/body_direct_state_2d_sw.cpp
  servers/physics_2d/body_direct_state_2d_sw.h
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.h
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_2d/space_2d_sw.h
  servers/physics_3d/body_3d_sw.cpp
  servers/physics_3d/body_3d_sw.h
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
  servers/physics_3d/space_3d_sw.cpp
  servers/physics_3d/space_3d_sw.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
Labels: bug, enhancement, topic:physics, breaks compat

#48709 [3.x] Optimize raycast with large Heightmap shape data
  servers/physics/shape_sw.cpp
  servers/physics/shape_sw.h
Labels: enhancement, topic:physics, topic:3d

#52405 Add missing parameter names to _commit_views GDVIRTUAL_BIND
  doc/classes/XRInterfaceExtension.xml
  servers/xr/xr_interface_extension.cpp
Labels: bug, topic:xr

#52205 Add source rectangle to blit
  doc/classes/XRInterfaceExtension.xml
  modules/mobile_vr/mobile_vr_interface.cpp
  servers/rendering/renderer_compositor.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.h
  servers/rendering/renderer_rd/shaders/blit.glsl
  servers/rendering/renderer_viewport.cpp
  servers/xr/xr_interface_extension.cpp
  servers/xr/xr_interface_extension.h
Labels: enhancement, topic:xr, topic:3d

#48708 Optimize raycast with large Heightmap shape data
  servers/physics_3d/shape_3d_sw.cpp
  servers/physics_3d/shape_3d_sw.h
Labels: enhancement, topic:physics, topic:3d, performance

#52050 Bind TabContainer::get_tab_idx_at_point() to ClassDB
  doc/classes/TabContainer.xml
  scene/gui/tab_container.cpp
Labels: enhancement, topic:gui

#52047 [3.x] Bind TabContainer::get_tab_idx_at_point() to ClassDB
  doc/classes/TabContainer.xml
  scene/gui/tab_container.cpp
Labels: enhancement, topic:gui

#52277 Implement properties arrays in the Inspector.
  core/core_constants.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.h
  core/variant/callable_bind.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/TileMap.xml
  doc/classes/TileSet.xml
  editor/doc_tools.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/icons/PageFirst.svg
  editor/icons/PageLast.svg
  editor/icons/PageNext.svg
  editor/icons/PagePrevious.svg
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_map_editor.h
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_editor.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
  tests/test_class_db.h
Labels: enhancement, topic:core, topic:editor

#52425 Specify description of `Array.slice`s end parameter
  doc/classes/Array.xml
Labels: topic:core, documentation

#52392 Remove extra get_script_instance check
  scene/main/node.cpp
Labels: enhancement, topic:core

#52381 Another improvement on the HTTPRequest documentation
  doc/classes/HTTPRequest.xml
Labels: enhancement, documentation, topic:network

#52436 Fix crash during completion lookback
  scene/gui/code_edit.cpp
Labels: bug, crash, topic:gui

#52359 Fix incorrectly removing two characters by auto brace
  scene/gui/code_edit.cpp
Labels: bug, topic:editor, regression

#52339 Fix wrong folding behaviour of last block if containing comment
  scene/gui/code_edit.cpp
Labels: bug, topic:editor, regression

#52289 Remove `#ifdefs` for handling compilation with Visual Studio < 2015
  core/string/ustring.cpp
  modules/mono/utils/string_utils.cpp
Labels: enhancement, platform:windows, topic:core, cherrypick:3.x

#52267 Show help for built-in functions (@GlobalScope)
  editor/editor_help.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#52440 Cosmetic: explicitly convert signed to unsigned value
  editor/import/resource_importer_texture.cpp
Labels: bug, topic:import

#52182 Portals - Fix RoomManager PVS enum
  doc/classes/RoomManager.xml
  scene/3d/room_manager.cpp
Labels: bug, topic:rendering, topic:3d

#47391 Make platform feature tag names lowercase
  core/input/input_map.cpp
  core/os/os.cpp
  doc/classes/ProjectSettings.xml
  editor/editor_export.cpp
  editor/project_settings_editor.cpp
  main/main.cpp
  platform/android/export/export_plugin.cpp
  platform/iphone/export/export_plugin.h
  platform/javascript/export/export_plugin.h
  platform/javascript/os_javascript.cpp
  platform/linuxbsd/export/export.cpp
  platform/osx/export/export_plugin.h
  platform/uwp/export/export_plugin.cpp
Labels: enhancement, topic:core, breaks compat

#52145 LinkButton's text now is automatically translated
  scene/gui/link_button.cpp
  scene/gui/link_button.h
Labels: bug, topic:gui

#52097 Fix emitting duplicate edges for convex hulls
  core/math/convex_hull.cpp
Labels: bug, topic:physics, regression, topic:3d, performance

#52082 RichTextLabel returns member (Array) for custom effects for Editor
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#51964 [macOS] Request camera permission before session init.
  modules/camera/camera_osx.mm
Labels: bug, platform:macos, topic:porting, cherrypick:3.x, cherrypick:3.3

#52263 Fix undo/redo for properties set as PROPERTY_USAGE_UPDATE_ALL_IF_MODIFIED
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, topic:editor

#52459 Fix TileSet terrain painting reset to no terrain
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:2d

#52307 Display the node name in scene tree dock tooltips
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#52173 Clarified how Camera2D's current property works with Viewports.
  doc/classes/Camera2D.xml
Labels: enhancement, topic:core, documentation, topic:2d

#52470 Add new docs warning from HTTPRequest to HTTPClient
  doc/classes/HTTPClient.xml
Labels: enhancement, documentation, topic:network

#52489 Use current androidx Fragment library instead of legacy libraries
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/lib/build.gradle
Labels: platform:android, topic:buildsystem, cherrypick:3.x

#52106 Optimise TextEdit get line height and width
  editor/plugins/script_text_editor.cpp
  modules/text_server_adv/text_server_adv.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: topic:editor, topic:gui, performance

#52480 Multiplayer networking renames/simplification
  core/multiplayer/multiplayer.h
  core/multiplayer/multiplayer_api.cpp
  core/multiplayer/multiplayer_api.h
  core/multiplayer/multiplayer_replicator.cpp
  core/multiplayer/rpc_manager.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/MultiplayerAPI.xml
  doc/classes/MultiplayerPeer.xml
  doc/classes/MultiplayerReplicator.xml
  doc/classes/Node.xml
  modules/enet/doc_classes/ENetMultiplayerPeer.xml
  modules/webrtc/doc_classes/WebRTCMultiplayerPeer.xml
  modules/websocket/doc_classes/WebSocketClient.xml
  modules/websocket/doc_classes/WebSocketMultiplayerPeer.xml
  modules/websocket/doc_classes/WebSocketServer.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, usability, topic:network, breaks compat

#52246 Syntax highlight c# verbatim string literal
  modules/mono/csharp_script.cpp
Labels: enhancement, topic:editor, topic:mono

#52310 Document that node groups don't have a guaranteed order
  doc/classes/Node.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.3

#52462 Fixed regression of skinning with skeleton
  editor/plugins/node_3d_editor_gizmos.cpp
  scene/3d/skeleton_3d.cpp
Labels: bug, topic:editor, regression, topic:3d

#52408 Fix invalid string cast
  core/string/ustring.h
Labels: bug, topic:core, regression

#52494 Docs: Remove references to (removed) RSETs
  doc/classes/MultiplayerAPI.xml
  doc/classes/SceneTree.xml
Labels: bug, documentation, topic:network

#52306 Add "Physics intro" docs link for State classes
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsDirectSpaceState2D.xml
  doc/classes/PhysicsDirectSpaceState3D.xml
Labels: enhancement, documentation

#50336 Add description to `Viewport`
  doc/classes/Viewport.xml
Labels: enhancement, documentation

#49605 Wrote JNISingleton docs
  doc/classes/JNISingleton.xml
Labels: enhancement, documentation, cherrypick:3.3

#46656 Improve documentation for Thread
  doc/classes/Thread.xml
Labels: enhancement, documentation, cherrypick:3.x

#52203 Expose Vulkan internal values for access from extensions
  doc/classes/RenderingDevice.xml
  doc/classes/RenderingServer.xml
  doc/classes/XRInterfaceExtension.xml
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering_server.cpp
  servers/rendering_server.h
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface_extension.cpp
  servers/xr/xr_interface_extension.h
Labels: enhancement, topic:rendering, topic:xr

#52492 Fix properties arrays in C# bindings generator
  modules/mono/editor/bindings_generator.cpp
Labels: bug, topic:editor, topic:mono

#52284 Write node groups on a single line when saving a `.tscn` file
  scene/resources/resource_format_text.cpp
Labels: enhancement, topic:core, cherrypick:3.x

#52252 Use the Light3D Indirect Energy property in SDFGI
  doc/classes/Light3D.xml
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
Labels: bug, topic:rendering, topic:3d

#50383 Improve the appearance of simple parallax in StandardMaterial3D
  scene/resources/material.cpp
Labels: enhancement, topic:rendering, topic:3d

#52476 Replace current ACES tonemapper with a high quality one
  servers/rendering/renderer_rd/shaders/tonemap.glsl
Labels: enhancement, topic:rendering

#44844 Add Listener2D
  doc/classes/Listener2D.xml
  doc/classes/Listener3D.xml
  editor/icons/Listener2D.svg
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/listener_2d.cpp
  scene/2d/listener_2d.h
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
Labels: feature proposal, topic:audio

#51158 Make some enhancements to the POT generation
  doc/classes/Control.xml
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.h
  editor/pot_generator.cpp
  scene/gui/option_button.h
  scene/gui/popup_menu.h
Labels: enhancement, topic:editor, topic:gui

#52503 Save branch as scene by dropping to filesystem
  editor/filesystem_dock.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#52229 Improve Basis::get_quaternion error message
  core/math/basis.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.3

#52081 Fix gdscript pattern matching expressions
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/features/advanced_expression_matching.gd
  modules/gdscript/tests/scripts/parser/features/advanced_expression_matching.out
  modules/gdscript/tests/scripts/parser/features/basic_expression_matching.gd
  modules/gdscript/tests/scripts/parser/features/basic_expression_matching.out
Labels: bug, topic:gdscript, regression

#51593 Prevent crash when awaiting in a getter/setter
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor, crash, regression

#51456 Call _init on base class if one does not exist.
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Labels: bug, topic:gdscript, regression

#49897 Fix crash when writing $. in the editor
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, topic:editor, crash, regression

#52063 Fix crash with consecutive commas in Dictionary
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/errors/double_dictionary_comma.gd
  modules/gdscript/tests/scripts/parser/errors/double_dictionary_comma.out
Labels: bug, topic:gdscript, crash, regression

#52433 Tiles renames and documentation
  doc/classes/TileData.xml
  doc/classes/TileMap.xml
  doc/classes/TileSet.xml
  doc/classes/TileSetAtlasSource.xml
  doc/classes/TileSetScenesCollectionSource.xml
  doc/classes/TileSetSource.xml
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: bug, documentation, topic:2d

#52431 Remove dead code from Viewport::_gui_input_event
  scene/main/viewport.cpp
Labels: enhancement, topic:core, topic:codestyle

#52531 Remove packed scene gltf.
  modules/gltf/config.py
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/doc_classes/PackedSceneGLTF.xml
  modules/gltf/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor_scene_exporter_gltf_plugin.h
  modules/gltf/editor_scene_importer_gltf.cpp
  modules/gltf/editor_scene_importer_gltf.h
  modules/gltf/gltf_accessor.h
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/gltf_node.h
  modules/gltf/gltf_state.h
  modules/gltf/register_types.cpp
Labels: enhancement, topic:import, topic:3d

#52540 Fix (iOS): Clipboard get/set missing implement
  platform/iphone/os_iphone.h
  platform/iphone/os_iphone.mm
Labels: bug, platform:ios, topic:porting, cherrypick:3.3

#52406 Replace stb_vorbis with libvorbis
  .github/CODEOWNERS
  COPYRIGHT.txt
  core/templates/vector.h
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  editor/editor_file_system.cpp
  modules/ogg/config.py
  modules/ogg/doc_classes/OGGPacketSequence.xml
  modules/ogg/doc_classes/OGGPacketSequencePlayback.xml
  modules/ogg/ogg_packet_sequence.cpp
  modules/ogg/ogg_packet_sequence.h
  modules/ogg/register_types.cpp
  modules/stb_vorbis/SCsub
  modules/stb_vorbis/audio_stream_ogg_vorbis.cpp
  modules/stb_vorbis/config.py
  modules/stb_vorbis/register_types.cpp
  modules/stb_vorbis/register_types.h
  modules/vorbis/SCsub
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  modules/vorbis/audio_stream_ogg_vorbis.h
  modules/vorbis/config.py
  modules/vorbis/doc_classes/AudioStreamOGGVorbis.xml
  modules/vorbis/doc_classes/AudioStreamPlaybackOGGVorbis.xml
  modules/vorbis/register_types.cpp
  modules/vorbis/resource_importer_ogg_vorbis.cpp
  modules/vorbis/resource_importer_ogg_vorbis.h
  thirdparty/README.md
  thirdparty/misc/stb_vorbis.c
  thirdparty/misc/stb_vorbis.h
Labels: bug, enhancement, feature proposal, discussion, topic:thirdparty, topic:audio

#52536 Clean DisplayServerWindows and add missing guards
  platform/windows/display_server_windows.cpp
Labels: enhancement, platform:windows, topic:core

#52538 Clean up Viewport, remove dead code.
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#52504 8 uvs for glTF2, URI decode and Vertex Custom api
  doc/classes/EditorSceneImporterMesh.xml
  doc/classes/Mesh.xml
  editor/import/scene_importer_mesh.cpp
  editor/import/scene_importer_mesh.h
  modules/gltf/gltf_document.cpp
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/surface_tool.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering_server.cpp
Labels: enhancement, topic:import

#52570 GPULightmapper's triangles and their bounding box will be in-sync
  modules/lightmapper_rd/SCsub
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  modules/lightmapper_rd/lm_common_inc.glsl
  modules/lightmapper_rd/lm_compute.glsl
Labels: bug, topic:rendering, topic:3d

#51604 Vulkan: Fix CanvasItem::use_parent_material
  drivers/vulkan/rendering_device_vulkan.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, regression, topic:2d

#52615 Improve documentation for `Engine.get_process_frames/get_physics_frames()`
  doc/classes/Engine.xml
Labels: enhancement, documentation

#52616 Improve documentation for `Engine.get_idle_frames/get_physics_frames()` (3.x)
  doc/classes/Engine.xml
Labels: enhancement, documentation, cherrypick:3.3

#52614 Document `Object.get_class()/is_class()` ignores `class_name` declaration
  doc/classes/Object.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.3

#52598 Fix autoloads iteration in `code_completion.cpp`
  modules/mono/editor/code_completion.cpp
Labels: bug, topic:mono

#52587 Change example used for StringName call methods
  doc/classes/Object.xml
Labels: enhancement, topic:core, documentation

#52612 Fix multiple definitions of Listener2D
  scene/main/viewport.cpp
Labels: bug, topic:core, topic:codestyle

#52579 Add logo attribution for Android, HTML5 and Linux platform icons
  platform/android/README.md
  platform/android/logo.png
  platform/javascript/README.md
  platform/linuxbsd/README.md
Labels: enhancement, topic:editor, cherrypick:3.x, cherrypick:3.3

#51939 Compute horizon SO threshold before transformation
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
Labels: bug, topic:rendering, regression

#51927 Fix issue #51897 (horizon occlusion causing black blob), fix ver. SP1
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/shaders/scene.glsl
Labels: bug, topic:rendering, regression

#52298 implement individual mesh transform for meshlibrary items
  doc/classes/MeshLibrary.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.h
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/resources/mesh_library.cpp
  scene/resources/mesh_library.h
Labels: bug, topic:core, cherrypick:3.x, topic:3d

#52493 Compare connections by object id
  core/object.cpp
Labels: bug, topic:core, cherrypick:3.3

#51981 MultiNodeEdit Fix setting NodePath
  editor/multi_node_edit.cpp
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.3

#52553 GDScript: Removed spurious UNASSIGNED_VARIABLE warning for locals
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/features/variable_declaration.gd
  modules/gdscript/tests/scripts/parser/features/variable_declaration.out
Labels: bug, topic:gdscript

#52012 Fix label outline overlaps.
  scene/gui/label.cpp
Labels: bug, topic:gui

#51805 Added increment_pressed and decrement_pressed icons to scrollbars
  doc/classes/HScrollBar.xml
  doc/classes/VScrollBar.xml
  editor/editor_themes.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_bar.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, cherrypick:3.x, topic:gui

#52049 Fix get_base_dir windows top level directory logic
  core/string/ustring.cpp
  tests/test_string.h
Labels: bug, platform:windows, topic:core, cherrypick:3.x, cherrypick:3.3

#52068 Fix parse error on statement-less files with only newlines, add a warning for empty files.
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/scripts/parser/warnings/empty_file.notest.gd
  modules/gdscript/tests/scripts/parser/warnings/empty_file.notest.out
  modules/gdscript/tests/scripts/parser/warnings/empty_file_comment.notest.gd
  modules/gdscript/tests/scripts/parser/warnings/empty_file_comment.notest.out
  modules/gdscript/tests/scripts/parser/warnings/empty_file_newline.notest.gd
  modules/gdscript/tests/scripts/parser/warnings/empty_file_newline.notest.out
  modules/gdscript/tests/scripts/parser/warnings/empty_file_newline_comment.notest.gd
  modules/gdscript/tests/scripts/parser/warnings/empty_file_newline_comment.notest.out
Labels: bug, topic:gdscript, regression

#49063 Remove 16× MSAA support due to driver bugs and low performance
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, topic:rendering, regression

#52477 Add a new high quality tonemapper: ACES Fitted (3.x)
  doc/classes/Environment.xml
  doc/classes/VisualServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/tonemap.glsl
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/visual_server.cpp
  servers/visual_server.h
Labels: feature proposal, topic:rendering

#52100 GDScript: Allow access to outer constant and enum values
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/features/constants_from_parent.gd
  modules/gdscript/tests/scripts/analyzer/features/constants_from_parent.out
  modules/gdscript/tests/scripts/analyzer/features/enum_from_parent.gd
  modules/gdscript/tests/scripts/analyzer/features/enum_from_parent.out
  modules/gdscript/tests/scripts/analyzer/features/enum_value_from_parent.gd
  modules/gdscript/tests/scripts/analyzer/features/enum_value_from_parent.out
Labels: bug, topic:gdscript

#52607 Improve C# method listing
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: bug, topic:editor, topic:mono, cherrypick:3.x

#52637 Fix GDScript test cases
  modules/gdscript/tests/scripts/analyzer/features/constants_from_parent.out
  modules/gdscript/tests/scripts/analyzer/features/enum_from_parent.out
  modules/gdscript/tests/scripts/analyzer/features/enum_value_from_parent.out
Labels: bug, topic:gdscript

#35168 Fix error when click edge of the tree icon
  scene/gui/tree.cpp
Labels: bug, topic:editor, topic:gui

#52554 Enable Pixel Snap by default in the 2D editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor, cherrypick:3.x, topic:2d

#52323 Fix loading of interdependent autoloads
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
Labels: bug, topic:gdscript, crash

#52632 Disallow class names to be the same as global names
  editor/editor_autoload_settings.cpp
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, topic:editor

#52362 GDScript: Do not complete lambda arguments from parent class
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, crash

#50375 Support SceneTree and signal testing - Code edit unit tests
  core/input/input_map.cpp
  core/input/input_map.h
  main/main.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.h
  scene/main/viewport.cpp
  servers/display_server.cpp
  servers/rendering/rasterizer_dummy.h
  tests/test_code_edit.h
  tests/test_macros.h
  tests/test_main.cpp
Labels: feature proposal, topic:core, topic:tests

#52517 Fix block deliminator not-folding at end of file
  scene/gui/code_edit.cpp
Labels: bug, topic:gui

#52346 Fix getting deliminator start over empty lines and blank start keys
  scene/gui/code_edit.cpp
Labels: bug, topic:gui

#52443 Fix brace placement with space auto indent
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#51674 Update VisualScriptCustomNode documentation
  modules/visual_script/doc_classes/VisualScriptCustomNode.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.3

#52641 Revert some URLs from the "Replace HTTP URLs with HTTPS" PR
  core/math/convex_hull.h
  core/math/dynamic_bvh.h
  editor/translations/el.po
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  servers/physics_3d/gjk_epa.cpp
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.cpp
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.h
  servers/physics_3d/joints/hinge_joint_3d_sw.cpp
  servers/physics_3d/joints/hinge_joint_3d_sw.h
  servers/physics_3d/joints/jacobian_entry_3d_sw.h
  servers/physics_3d/joints/pin_joint_3d_sw.cpp
  servers/physics_3d/joints/pin_joint_3d_sw.h
  servers/physics_3d/joints/slider_joint_3d_sw.cpp
  servers/physics_3d/joints/slider_joint_3d_sw.h
  servers/physics_3d/shape_3d_sw.cpp
  servers/physics_3d/soft_body_3d_sw.cpp
Labels: documentation, topic:thirdparty, topic:physics

#52643 Fix an undefined behaviour causing random test failures
  modules/gdscript/tests/gdscript_test_runner.cpp
Labels: bug, topic:gdscript, topic:tests

#52292 [TextServer] Fix regression from #51908, HarfBuzz handle init and MinGW build.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, regression, topic:gui

#52647 Don't update CSG Shape when not inside tree
  modules/csg/csg_shape.cpp
Labels: bug, cherrypick:3.x, topic:3d, cherrypick:3.3

#52648 Remove unused ImageTexture functions
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: enhancement, topic:core

#52338 Portals - fix import of portal normal + small bug fixes
  scene/3d/portal.cpp
  scene/3d/portal.h
  scene/3d/room_manager.cpp
Labels: bug, topic:import, topic:3d

#52654 Fix startup warning - Property not found: `audio/output_latency`
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, topic:audio

#51237 Various fixes to Tween code
  scene/animation/tween.cpp
  scene/animation/tween.h
  scene/main/scene_tree.cpp
Labels: bug, topic:core, topic:animation

#52604 [HTML5] Fix input not working when buffered.
  platform/javascript/api/javascript_tools_editor_plugin.cpp
  platform/javascript/display_server_javascript.cpp
Labels: bug, platform:html5, topic:editor, topic:input, regression

#52603 [3.x] [HTML5] Fix input not working when buffered.
  platform/javascript/os_javascript.cpp
Labels: bug, platform:html5, topic:editor, topic:input, regression

#52185 Allow nested complex ops in TextEdit
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, usability, topic:gui

#52222 Fix VisualScriptPropertySet value hint
  modules/visual_script/visual_script_func_nodes.cpp
Labels: bug, topic:visualscript

#52219 [3.x] Fix VisualScriptPropertySet value hint
  modules/visual_script/visual_script_func_nodes.cpp
Labels: bug, topic:visualscript, cherrypick:3.3

#52153 Add unit tests for `Array.pop_at()`
  tests/test_array.h
  tests/test_tools.h
  tests/test_validate_testing.h
Labels: enhancement, topic:tests

#52658 Fix transform of TileMap nodes and tilemap selection
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  editor/plugins/tiles/tile_map_editor.cpp
  scene/2d/tile_map.cpp
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: bug, topic:editor, topic:2d

#52259 Fix Ctrl+V wrong behavior in inspector textedit (Fix #52208)
  editor/editor_inspector.cpp
Labels: bug, topic:editor, regression, topic:gui

#52213 Fix messages with embedded newlines not being properly presented
  editor/editor_log.cpp
Labels: bug, topic:editor, regression
