Repository godotengine/godot, pull requests merged in 2021-10, with the labels that each got.

#53272 Fix #53255 when a body gets stuck when it hits a descending platform in 2D/3D
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
Labels: bug, topic:physics, topic:2d, topic:3d

#53279 Fix angular velocity default value in TileSet
  scene/resources/tile_set.h
Labels: bug, topic:physics, topic:2d

#53277 Rename some elements of `Tabs`
  doc/classes/Tabs.xml
  editor/editor_node.cpp
  editor/editor_themes.cpp
  editor/plugins/theme_editor_plugin.cpp
  scene/gui/tabs.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, discussion, topic:gui

#52850 Implement bsearch for Vector and Packed*Array
  core/templates/search_array.h
  core/templates/vector.h
  core/variant/array.cpp
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  tests/test_vector.h
Labels: enhancement, topic:core

#53278 Fix property not shown in inspector when type is PACKED_COLOR_ARRAY
  editor/editor_properties.cpp
Labels: bug, topic:editor, regression

#53286 [FontData] Fixes saving copy of the font source data, if it was created from built-in font.
  scene/resources/font.cpp
Labels: bug, topic:editor, topic:gui

#53208 Fix crash in headless mode
  scene/3d/mesh_instance_3d.cpp
  scene/resources/navigation_mesh.cpp
  servers/rendering/rendering_server_default.cpp
Labels: bug, crash, topic:navigation, topic:3d

#51273 Allow shortcuts to have any number of input events assigned to them.
  core/input/shortcut.cpp
  core/input/shortcut.h
  doc/classes/Control.xml
  doc/classes/Shortcut.xml
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/settings_config_dialog.cpp
  editor/settings_config_dialog.h
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:editor, topic:gui

#52684 Convert physical_keycodes to keycodes in the current keyboard layout
  doc/classes/DisplayServer.xml
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/linuxbsd/key_mapping_x11.cpp
  platform/linuxbsd/key_mapping_x11.h
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  platform/windows/key_mapping_windows.cpp
  platform/windows/key_mapping_windows.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, topic:porting, topic:input

#38397 Add an example on iterating an array backwards
  modules/gdscript/doc_classes/@GDScript.xml
Labels: enhancement, documentation, cherrypick:3.x

#50805 Fixed drag and drop not respecting type on exported arrays.
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor

#53302 Remove editor code in PhysicalBone3D
  editor/plugins/physical_bone_3d_editor_plugin.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
Labels: enhancement, topic:editor, topic:physics, topic:3d

#53311 Remove scene code in physics servers
  modules/bullet/bullet_physics_server.cpp
  modules/bullet/bullet_physics_server.h
  modules/bullet/soft_body_bullet.cpp
  modules/bullet/soft_body_bullet.h
  scene/3d/soft_dynamic_body_3d.cpp
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
  servers/physics_3d/soft_body_3d_sw.cpp
  servers/physics_3d/soft_body_3d_sw.h
  servers/physics_server_3d.h
Labels: enhancement, topic:physics, topic:3d

#53310 Fix match counter in help pages not updating
  editor/editor_help.cpp
Labels: bug, topic:editor, regression

#53305 Document SurfaceTool must generate tangents for proper normal display
  doc/classes/SurfaceTool.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.3

#53308 Fix LSP error hovering over empty line & on opening non-project scripts
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_text_document.cpp
Labels: bug, topic:gdscript, cherrypick:3.x

#53309 Fix error parsing extends statement if it has the cursor [3.x]
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#53290 [Net] Rename RPC constants and annotation arguments.
  core/core_constants.cpp
  core/multiplayer/multiplayer.h
  core/multiplayer/rpc_manager.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/MultiplayerPeer.xml
  modules/enet/enet_multiplayer_peer.cpp
  modules/gdnative/include/nativescript/godot_nativescript.h
  modules/gdscript/gdscript_parser.cpp
  modules/mono/csharp_script.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/RPCAttributes.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
  modules/webrtc/webrtc_multiplayer_peer.cpp
Labels: enhancement, topic:network

#53306 Document that tangents are required for normal mapping in BaseMaterial3D
  doc/classes/BaseMaterial3D.xml
Labels: enhancement, documentation

#53307 Document that tangents are required for normal mapping in SpatialMaterial
  doc/classes/SpatialMaterial.xml
Labels: enhancement, documentation, cherrypick:3.3

#47442 Fix CONNECT_REFERENCE_COUNTED
  core/object/object.cpp
Labels: bug, topic:core, cherrypick:3.x

#53317 Rename Joint2D and Joint3D files for consistency
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  scene/2d/joint_2d.cpp
  scene/2d/joint_2d.h
  scene/2d/physical_bone_2d.cpp
  scene/2d/physical_bone_2d.h
  scene/3d/joint_3d.cpp
  scene/3d/joint_3d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:physics

#53284 Fix deleting selection at the first line do not work with backspace
  scene/gui/code_edit.cpp
  tests/test_code_edit.h
Labels: bug, topic:editor

#53319 Fix WASAPI failing to init on Windows 10 when compiling with MinGW
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, platform:windows, topic:audio, cherrypick:3.x, cherrypick:3.3

#53059 Fix crash when creating thread
  core/core_bind.cpp
Labels: bug, topic:core, crash

#53337 Resolve problem with missing meshes.
  editor/import/scene_importer_mesh.cpp
Labels: bug, topic:import

#43068 Allow renaming to change the case of Windows directories
  drivers/windows/dir_access_windows.cpp
Labels: bug, platform:windows, topic:core, cherrypick:3.x

#53342 Remove Scene dependency from the TextServer, use scalable hex box font instead of built-in bitmap one.
  COPYRIGHT.txt
  servers/register_server_types.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
  thirdparty/README.md
  thirdparty/fonts/Tamsyn10x20.png
  thirdparty/fonts/Tamsyn5x9.png
Labels: enhancement, topic:gui

#53335 Fix crash at SoftBodyBullet::reset_all_node_positions when bt_soft_bo…
  modules/bullet/soft_body_bullet.cpp
Labels: bug, topic:physics, crash, cherrypick:3.3

#53349 [3.x] Prevent out of bound access through 'm_nodes' in SoftBodyBullet
  modules/bullet/soft_body_bullet.cpp
Labels: bug, topic:physics, cherrypick:3.3

#44964 Fix AnimationNodeStateMachinePlayback start() on nonexistent node
  scene/animation/animation_node_state_machine.cpp
Labels: bug, topic:core, cherrypick:3.x, topic:animation

#42364 Increment index when populating PhysicsShapeQueryParameters exclude array.
  servers/physics_server_2d.cpp
  servers/physics_server_3d.cpp
Labels: bug, topic:physics

#42365 [3.x] Increment index when populating PhysicsShapeQueryParameters exclude array.
  servers/physics_2d_server.cpp
  servers/physics_server.cpp
Labels: bug, topic:physics

#46555 Check if the line pointer goes away from the image buffer's EOF in the BMP importer
  modules/bmp/image_loader_bmp.cpp
Labels: bug, topic:import, crash, cherrypick:3.x

#53060 [3.x] Fix crash when creating thread
  core/bind/core_bind.cpp
  core/bind/core_bind.h
Labels: bug, topic:core, crash

#52752 Fix RichTextLabel character horizontal offset calculation
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#53270 CharProxy: Add copy constructor
  core/string/ustring.h
Labels: enhancement, topic:core

#53380 [3.x] Fix crash when pinned SoftBody point is out of range
  modules/bullet/soft_body_bullet.cpp
Labels: bug, topic:physics, crash

#53379 Fixed ScriptTextEditor errors/warnings panel formatting.
  editor/plugins/script_text_editor.cpp
Labels: bug, topic:editor

#53381 Fix crash when pinned SoftBody point is out of range
  modules/bullet/soft_body_bullet.cpp
  servers/physics_3d/soft_body_3d_sw.cpp
Labels: bug, topic:physics, crash

#53383 SCons: Add `DEV_ENABLED` defines for `target=debug` builds
  platform/android/detect.py
  platform/iphone/detect.py
  platform/javascript/detect.py
  platform/osx/detect.py
  platform/server/detect.py
  platform/uwp/detect.py
  platform/windows/detect.py
  platform/x11/detect.py
Labels: enhancement, topic:buildsystem

#53271 doctest: Update to 2.4.6
  COPYRIGHT.txt
  thirdparty/doctest/LICENSE.txt
  thirdparty/doctest/doctest.h
Labels: enhancement, topic:thirdparty, topic:tests

#52509 [3.x] CSGPolygon fixes and features: Angle simplification, UV tiling distance, interval type.
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGPolygon.xml
Labels: bug, enhancement, topic:3d

#53341 Remove `EDSCALE` dependency from GUI nodes
  doc/classes/Control.xml
  doc/classes/Theme.xml
  doc/classes/Window.xml
  editor/editor_themes.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/dialogs.cpp
  scene/gui/gradient_edit.cpp
  scene/gui/gradient_edit.h
  scene/gui/graph_edit.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/default_theme/default_theme.cpp
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: enhancement, topic:editor, topic:gui

#53387 Cherry-picks for the 3.x branch (future 3.4) - 20th batch
  core/math/bvh_cull.inc
  core/math/bvh_debug.inc
  core/math/bvh_split.inc
  core/object.cpp
  core/os/thread.cpp
  core/os/thread.h
  doc/classes/Dictionary.xml
  doc/classes/SurfaceTool.xml
  drivers/windows/dir_access_windows.cpp
  misc/dist/osx_tools.app/Contents/Resources/Godot.icns
  modules/bmp/image_loader_bmp.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  modules/upnp/doc_classes/UPNP.xml
  scene/animation/animation_node_state_machine.cpp
Labels: bug, enhancement

#53392 Fix `Tabs` offset overreaching when scrolling fast
  scene/gui/tabs.cpp
Labels: bug, cherrypick:3.x, topic:gui

#53366 Allow void as return type for constructors
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, regression

#53303 GDScript completion: Handle quote style ad-hoc to remove editor dependency
  core/input/input.cpp
  core/os/os.cpp
  core/string/translation.cpp
  modules/gdscript/gdscript_editor.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/main/node.cpp
  scene/resources/material.cpp
Labels: bug, topic:core

#53354 Remove ClippedCamera3D
  doc/classes/Camera3D.xml
  doc/classes/ClippedCamera3D.xml
  editor/plugins/node_3d_editor_gizmos.cpp
  scene/3d/camera_3d.cpp
  scene/3d/camera_3d.h
  scene/3d/spring_arm_3d.cpp
  scene/register_scene_types.cpp
Labels: enhancement, topic:core, topic:3d

#53369 [3.x] Reset scene conditionals assumed to be false
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, cherrypick:3.3

#53396 Make `Theme` report property list changes less often
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: topic:editor, regression, topic:gui, performance

#53397 [3.x] Make `Theme` report property list changes less often, and other backports
  doc/classes/Control.xml
  doc/classes/Theme.xml
  scene/gui/control.cpp
  scene/gui/control.h
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: enhancement, topic:editor, regression, topic:gui, performance

#49485 Added support for uniform arrays in shaders
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  tests/test_shader_lang.cpp
Labels: feature proposal, topic:shaders

#53330 Fix caret position and viewport centering after deleting line (Ctrl-X)
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, usability

#53378 Hide render_priority except when using SpatialMaterials
  doc/classes/Material.xml
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/sky_material.cpp
  scene/resources/sky_material.h
Labels: enhancement, topic:shaders

#53398 Fix remaining crashes with pinned vertices in GodotPhysics Soft Body
  servers/physics_3d/soft_body_3d_sw.cpp
Labels: bug, topic:physics, crash, topic:3d

#53399 Enable GLTFDocumentExtensionConvertImporterMesh only in games.
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import

#52914 Fix member assignment with operation
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/runtime/features/assign_member_with_operation.gd
  modules/gdscript/tests/scripts/runtime/features/assign_member_with_operation.out
Labels: bug, topic:gdscript

#53394 Fixed SkeletonIK not rotating correctly when solving
  scene/3d/skeleton_ik_3d.cpp
Labels: bug, regression, topic:3d

#53300 Tweak the Viewport configuration warning to mention 2×2 size requirement (3.x)
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
Labels: bug, topic:rendering, topic:editor, documentation

#51413 Add option to not expand tree on node select
  editor/editor_settings.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#53280 Script interface improvements for test body motion
  doc/classes/KinematicCollision2D.xml
  doc/classes/KinematicCollision3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PhysicsTestMotionParameters2D.xml
  doc/classes/PhysicsTestMotionParameters3D.xml
  doc/classes/PhysicsTestMotionResult2D.xml
  doc/classes/PhysicsTestMotionResult3D.xml
  doc/classes/TileMap.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  servers/physics_2d/physics_server_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.h
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_2d/space_2d_sw.h
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
  servers/physics_3d/space_3d_sw.cpp
  servers/physics_3d/space_3d_sw.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/register_server_types.cpp
Labels: enhancement, usability, documentation, topic:physics, breaks compat

#53406 Fix some leftover references to idle_frame
  doc/classes/Control.xml
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Object.base.cs
  modules/visual_script/visual_script_yield_nodes.cpp
Labels: bug, topic:core, topic:editor

#53409 Correctly bind optional arguments when emitting `Theme` changes
  scene/resources/theme.cpp
Labels: bug, topic:editor, regression, topic:gui

#53365 Use wakeup() function to wake sleeping bodies on impulse, force and velocities. Fix for PR #52967
  servers/physics_2d/body_direct_state_2d_sw.cpp
  servers/physics_3d/body_direct_state_3d_sw.cpp
Labels: bug, topic:physics

#53412 Fix syntax parsing error of uniform arrays declaration in shader
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#53405 revert 0d7409a so additional error information prints in release builds
  core/error/error_macros.h
  platform/windows/display_server_windows.cpp
  platform/windows/os_windows.cpp
Labels: enhancement, topic:core, cherrypick:3.x

#53417 GDScript: Use path cache when checking preloaded scripts
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript

#53420 Fix physics glitch with TileMap moving platforms
  doc/classes/PhysicsTestMotionParameters2D.xml
  doc/classes/PhysicsTestMotionParameters3D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_3d/space_3d_sw.cpp
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
Labels: bug, topic:physics, topic:2d

#53347 [3.x] Fix GDNativeLibrary::get_current_library_path()
  modules/gdnative/gdnative.h
Labels: bug, topic:gdnative, cherrypick:3.3

#53410 Safeguard against BitMap fonts in the CanvasItem editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, crash, topic:gui, cherrypick:3.3

#50718 [3.x] Drag multiple resources onto exported array variable at once
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: enhancement, topic:editor, usability

#53263 [3.x] Use a yellow color for editable children properties instead of red
  doc/classes/EditorProperty.xml
  editor/editor_inspector.cpp
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#53225 Add locale rename for the "C" locale
  core/string/translation.cpp
Labels: enhancement, topic:core

#53226 [3.x] Add locale rename for the "C" locale
  core/translation.cpp
Labels: enhancement, topic:core

#53051 Fix rendering centered odd-size texture in `AnimatedSprite2D`/`AnimatedSprite3D`
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:animation

#53052 [3.x] Fix rendering centered odd-size texture in `AnimatedSprite`/`AnimatedSprite3D`
  scene/2d/animated_sprite.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:animation, cherrypick:3.3

#53393 Add DEV_ASSERT and DEV_CHECK macros
  core/error_macros.h
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.h
  drivers/gles3/rasterizer_canvas_base_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles_common/rasterizer_canvas_batcher.h
  servers/visual/portals/portal_renderer.cpp
Labels: enhancement, topic:core

#53090 Add up/down keys to inc/dec val in editor spin slider [3.x]
  editor/editor_spin_slider.cpp
  editor/editor_spin_slider.h
Labels: enhancement, topic:editor, usability

#53067 Add history navigation in the script editor using extra mouse buttons (3.x)
  editor/editor_settings.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: enhancement, topic:editor, usability

#53012 Portals - add reason string to unload message
  scene/3d/portal.cpp
  scene/3d/room.cpp
  scene/3d/room_group.cpp
  scene/3d/room_manager.cpp
  scene/3d/room_manager.h
  servers/visual/portals/portal_renderer.cpp
  servers/visual/portals/portal_renderer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.h
Labels: enhancement, topic:rendering, usability, topic:3d

#52963 Add missing WIN32_LEAN_AND_MEAN
  drivers/unix/ip_unix.cpp
  drivers/wasapi/audio_driver_wasapi.h
  drivers/windows/dir_access_windows.cpp
  drivers/windows/file_access_windows.cpp
  drivers/winmidi/midi_driver_winmidi.h
  drivers/xaudio2/audio_driver_xaudio2.h
  modules/mono/utils/mono_reg_utils.cpp
  modules/mono/utils/path_utils.cpp
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/context_gl_windows.h
  platform/windows/crash_handler_windows.h
  platform/windows/display_server_windows.h
  platform/windows/key_mapping_windows.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/vulkan_context_win.h
  platform/windows/windows_terminal_logger.cpp
Labels: enhancement, platform:windows, topic:buildsystem, platform:uwp

#52964 [3.x] Add missing WIN32_LEAN_AND_MEAN
  drivers/unix/ip_unix.cpp
  drivers/wasapi/audio_driver_wasapi.h
  drivers/windows/dir_access_windows.cpp
  drivers/windows/file_access_windows.cpp
  drivers/winmidi/midi_driver_winmidi.h
  drivers/xaudio2/audio_driver_xaudio2.h
  modules/mono/utils/mono_reg_utils.cpp
  modules/mono/utils/path_utils.cpp
  modules/mono/utils/thread_local.cpp
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/context_gl_windows.h
  platform/windows/crash_handler_windows.h
  platform/windows/key_mapping_windows.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/power_windows.h
  platform/windows/windows_terminal_logger.cpp
Labels: enhancement, platform:windows, topic:buildsystem, platform:uwp

#52274 [3.x] Make the GLTF module not depend on the RegEx module
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:import, topic:3d

#53425 Fix shader crashes when passing array.length to functions
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:shaders

#51728 Create 'rendering/misc' project settings section
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  editor/import/resource_importer_texture.cpp
  modules/webp/image_loader_webp.cpp
  servers/visual_server.cpp
Labels: enhancement, topic:rendering, topic:editor

#51437 Make 3D selection box offset independent of object size
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#51438 [3.x] Make 3D selection box offset independent of object size
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#53429 [3.x] Add Listener2D
  doc/classes/Listener.xml
  doc/classes/Listener2D.xml
  editor/icons/icon_listener_2d.svg
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/listener_2d.cpp
  scene/2d/listener_2d.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
Labels: feature proposal, topic:audio, topic:2d

#52811 [HTML5] Refactor event handlers, drop most emscripten html5 dependencies.
  platform/javascript/.eslintrc.libs.js
  platform/javascript/SCsub
  platform/javascript/display_server_javascript.cpp
  platform/javascript/display_server_javascript.h
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
  platform/javascript/js/libs/library_godot_input.js
  platform/javascript/js/libs/library_godot_os.js
Labels: enhancement, platform:html5, topic:porting, needs testing, topic:input

#53233 [3.x] Add half frame to floor() for animated particles UV
  scene/2d/canvas_item.cpp
  scene/resources/material.cpp
Labels: bug, topic:rendering, cherrypick:3.3

#52812 [3.x] Refactor event handlers, drop most emscripten html5 dependencies.
  platform/javascript/.eslintrc.libs.js
  platform/javascript/SCsub
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
  platform/javascript/js/libs/library_godot_input.js
  platform/javascript/js/libs/library_godot_os.js
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: enhancement, platform:html5, topic:porting, needs testing, topic:input

#53431 Improve error message when instantiating virtual class
  core/object/class_db.cpp
Labels: enhancement, topic:core, cherrypick:3.x

#53237 Add half frame to floor() for animated particles UV
  scene/resources/canvas_item_material.cpp
  scene/resources/material.cpp
Labels: bug, topic:rendering

#53428 Fix ViewportTexture error when viewport is used from a child scene
  scene/main/viewport.cpp
Labels: bug, topic:core

#52365 [3.x] Fix ViewportTexture error when viewport is used from a child scene
  scene/main/viewport.cpp
Labels: bug, topic:core

#52137 [3.x] Add a 2D scale factor property
  doc/classes/SceneTree.xml
  main/main.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:core, topic:rendering, topic:2d

#52952 Add an editor setting to configure number of threads for lightmap baking
  core/os/threaded_array_processor.h
  editor/editor_settings.cpp
  modules/lightmapper_cpu/lightmapper_cpu.cpp
Labels: enhancement, topic:rendering, topic:3d

#52652 [3.x] added optional cropping for texture atlas importer
  editor/import/resource_importer_texture_atlas.cpp
  editor/import/resource_importer_texture_atlas.h
Labels: enhancement, topic:import

#47497 VariantParser: NaN, INF read/write bug fixed
  core/variant/variant_parser.cpp
Labels: bug, topic:core

#53432 doc: Fix style inconsistencies for `[b]Note:[/b]` paragraphs + `makerst.py` fixes for 4.0 docs
  doc/classes/@GlobalScope.xml
  doc/classes/AESContext.xml
  doc/classes/AnimationPlayer.xml
  doc/classes/AnimationTree.xml
  doc/classes/Array.xml
  doc/classes/BaseMaterial3D.xml
  doc/classes/ClassDB.xml
  doc/classes/CodeEdit.xml
  doc/classes/ColorPicker.xml
  doc/classes/ConcavePolygonShape3D.xml
  doc/classes/Crypto.xml
  doc/classes/CryptoKey.xml
  doc/classes/DTLSServer.xml
  doc/classes/EditorResourcePreview.xml
  doc/classes/FontData.xml
  doc/classes/JavaScriptObject.xml
  doc/classes/LineEdit.xml
  doc/classes/MultiplayerReplicator.xml
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
  doc/classes/PacketPeerUDP.xml
  doc/classes/RayCast2D.xml
  doc/classes/RenderingServer.xml
  doc/classes/ShaderMaterial.xml
  doc/classes/SkeletonModification2DCCDIK.xml
  doc/classes/SkeletonModification2DFABRIK.xml
  doc/classes/SkeletonModification3DCCDIK.xml
  doc/classes/SkeletonModification3DFABRIK.xml
  doc/classes/SkeletonModification3DStackHolder.xml
  doc/classes/StreamPeer.xml
  doc/classes/TextEdit.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  doc/classes/TextServerManager.xml
  doc/classes/Theme.xml
  doc/classes/Timer.xml
  doc/classes/TouchScreenButton.xml
  doc/tools/makerst.py
  modules/enet/doc_classes/ENetConnection.xml
  modules/enet/doc_classes/ENetMultiplayerPeer.xml
  modules/gdnative/doc_classes/NativeScript.xml
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.3

#47500 [3.x] VariantParser: NaN, INF read/write bug fixed
  core/variant_parser.cpp
Labels: bug, topic:core

#53438 Fix the "END" key behaving like "PAGE_DOWN" in code completion.
  scene/gui/code_edit.cpp
Labels: bug, topic:gui

#52711 Provide a getter for the project data directory
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/extension/native_extension.cpp
  core/extension/native_extension.h
  core/extension/native_extension_manager.cpp
  core/io/resource_importer.cpp
  core/io/resource_uid.cpp
  core/io/resource_uid.h
  editor/editor_export.cpp
  editor/editor_file_dialog.cpp
  editor/editor_file_system.cpp
  editor/editor_paths.cpp
  editor/editor_paths.h
  editor/find_in_files.cpp
  editor/project_manager.cpp
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/Client.cs
  modules/mono/godotsharp_dirs.cpp
  platform/javascript/api/javascript_tools_editor_plugin.cpp
Labels: enhancement, topic:core, topic:mono, topic:import

#52714 [3.x] Provide a getter for the project data directory.
  core/io/resource_importer.cpp
  core/project_settings.cpp
  core/project_settings.h
  editor/editor_file_dialog.cpp
  editor/editor_file_system.cpp
  editor/find_in_files.cpp
  editor/project_manager.cpp
  platform/javascript/api/javascript_tools_editor_plugin.cpp
Labels: enhancement, topic:core, topic:import

#53458 [3.x] bullet: Fix UWP build by disabling TaskScheduler dynamic loading
  thirdparty/README.md
  thirdparty/bullet/LinearMath/TaskScheduler/btThreadSupportWin32.cpp
  thirdparty/bullet/patches/fix-win32-scheduler-uwp.patch
Labels: bug, topic:buildsystem, platform:uwp, topic:thirdparty

#53454 [3.x] Fix merging error path_simplify_angle property CSGPolygon
  modules/csg/csg_shape.cpp
Labels: bug, topic:3d

#53448 Backport to 3.x "gltf export: Fix export of skeletons, skins and blend shapes"
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/gltf_state.h
Labels: bug, topic:import, topic:3d

#53450 Fix editable children errors when packing scene tree at runtime
  scene/resources/packed_scene.cpp
Labels: bug, topic:core, regression, cherrypick:3.x

#53453 [3.x] Fix Rayshape recovery in test_body_ray_separation
  servers/physics/collision_solver_sw.cpp
  servers/physics/collision_solver_sw.h
  servers/physics/space_sw.cpp
  servers/physics_2d/collision_solver_2d_sw.cpp
  servers/physics_2d/collision_solver_2d_sw.h
  servers/physics_2d/space_2d_sw.cpp
Labels: bug, topic:physics, topic:2d, topic:3d

#53459 [3.x] Fix crash when deleting Camera2D and Viewport assigned to it
  scene/2d/camera_2d.cpp
Labels: bug, crash, topic:2d

#53460 Fix crash when tooltip_request_func object is freed
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, crash, topic:gui

#52521 [3.x] Fix parsing 'preload': skip newlines after '(' and before ')'
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#53461 [3.x] Fix crash when tooltip_request_func object is freed
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, crash, topic:gui

#53468 Change dragging cursor on Windows
  doc/classes/Input.xml
  platform/windows/display_server_windows.cpp
Labels: enhancement, platform:windows, topic:input

#53479 Allow subscript on self and object types
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/features/subscript_self.gd
  modules/gdscript/tests/scripts/analyzer/features/subscript_self.out
Labels: bug, topic:gdscript

#45699 Implement Skeleton Editor Gizmo
  doc/classes/EditorPlugin.xml
  doc/classes/Node3D.xml
  doc/classes/Skeleton3D.xml
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_themes.cpp
  editor/icons/EditorBoneHandle.svg
  editor/icons/ToolBoneSelect.svg
  editor/inspector_dock.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/collision_polygon_3d_editor_plugin.cpp
  editor/plugins/collision_polygon_3d_editor_plugin.h
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map_editor_plugin.h
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: enhancement, topic:editor, topic:animation, topic:3d

#53455 [core_bind] Add `Thread::is_alive`. Replace `is_active` with `is_started` to align with core/os/Thread API.
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/Thread.xml
Labels: enhancement, topic:core

#54383 Tweak overbright indicator icon to be more visible on white background
  editor/icons/OverbrightIndicator.svg
  scene/resources/default_theme/overbright_indicator.png
  scene/resources/default_theme/theme_data.h
Labels: enhancement, topic:editor, topic:gui

#54401 Fix error spammed to output if `FogVolume` is setted to scene
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, topic:rendering

#54405 Fix instance index in forward clustered shader
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
Labels: bug, topic:rendering, regression, topic:3d

#54427 Don't use Texture image caches if they are rendered to
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
Labels: bug, topic:rendering

#54423 Ensure C# script properties are added to the end
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#54424 [3.x] Ensure C# script properties are added to the end
  modules/mono/csharp_script.cpp
Labels: bug, topic:mono

#54403 FogVolume don't dispatch compute with zero-dimension groups
  drivers/vulkan/rendering_device_vulkan.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, topic:rendering, topic:3d

#54448 Repair mistyped of 'threshold' on several files.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
Labels: bug, topic:codestyle

#53452 Move the docs for constructors and operators out of methods section
  core/doc_data.h
  doc/classes/AABB.xml
  doc/classes/Array.xml
  doc/classes/Basis.xml
  doc/classes/Callable.xml
  doc/classes/Color.xml
  doc/classes/Dictionary.xml
  doc/classes/NodePath.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/Plane.xml
  doc/classes/Quaternion.xml
  doc/classes/RID.xml
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
  doc/classes/Signal.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/bool.xml
  doc/classes/float.xml
  doc/classes/int.xml
  editor/doc_tools.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: enhancement, topic:core, documentation, needs testing, breaks compat

#54288 Make EditorSpinSlider wait for idle_frame to update text on key_up/down
  editor/editor_spin_slider.cpp
  editor/editor_spin_slider.h
Labels: bug, topic:editor, cherrypick:3.x
