Repository godotengine/godot, pull requests merged in 2021-06, with the labels that each got.

#49067 Fix some warnings raised by GCC-11.1
  modules/gdscript/gdscript_compiler.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  servers/audio_server.cpp
  tests/test_main.cpp
Labels: bug, topic:core

#48770 ScrollContainer: Expose `_ensure_focused_visible` to the scripting API and rename it to `ensure_control_visible`
  doc/classes/ScrollContainer.xml
  editor/project_manager.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: enhancement, topic:gui

#49024 Restore TileMap's debug collision shapes and add navigation.
  doc/classes/TileMap.xml
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/resources/tile_set.cpp
Labels: bug, enhancement, topic:2d

#48771 [3.x] ScrollContainer: Expose `_ensure_focused_visible` to the scripting API and rename it to `ensure_control_visible`
  doc/classes/ScrollContainer.xml
  editor/project_manager.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: enhancement, topic:gui

#49237 Cherry-picks for the 3.x branch (future 3.4) - 5th batch
  core/bind/core_bind.cpp
  doc/classes/OS.xml
  doc/classes/Resource.xml
  doc/classes/TextureButton.xml
  drivers/unix/dir_access_unix.cpp
  editor/editor_audio_buses.cpp
  editor/editor_audio_buses.h
  editor/editor_feature_profile.cpp
  editor/editor_feature_profile.h
  editor/plugin_config_dialog.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios.xcodeproj/xcshareddata/xcschemes/godot_ios.xcscheme
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/opensimplex/doc_classes/NoiseTexture.xml
  modules/opensimplex/doc_classes/OpenSimplexNoise.xml
  modules/opensimplex/noise_texture.cpp
  modules/opensimplex/noise_texture.h
  modules/opensimplex/open_simplex_noise.cpp
  modules/opensimplex/open_simplex_noise.h
  modules/visual_script/visual_script_builtin_funcs.cpp
  platform/iphone/export/export.cpp
  scene/2d/camera_2d.cpp
  scene/3d/skeleton.cpp
  scene/gui/graph_node.cpp
  scene/gui/texture_button.cpp
  scene/gui/texture_button.h
  scene/main/http_request.cpp
  servers/physics/body_sw.cpp
Labels: bug, enhancement

#49228 Improve compiler version extraction
  SConstruct
  methods.py
Labels: bug, cherrypick:3.3, cherrypick:3.x, platform:linuxbsd, platform:windows, topic:buildsystem

#49239 Fix TextEdit selection drawing behing minimap
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#49236 TextureRegionEditor Fix not updating on editing region with autoslice cached
  editor/plugins/texture_region_editor_plugin.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, topic:2d, topic:editor

#48963 Exporting -> Android: Keystore Warnings
  platform/android/export/export.cpp
Labels: cherrypick:3.3, cherrypick:3.x, enhancement, platform:android, topic:editor, topic:export, usability

#49241 Make tree item dragging not affected by touch dragging
  scene/gui/tree.cpp
Labels: bug, topic:gui, topic:input

#49074 Generic Headless support, drop server platform, enable linuxbsd build without vulkan/X11.
  SConstruct
  drivers/SCsub
  drivers/dummy/SCsub
  drivers/dummy/texture_loader_dummy.cpp
  drivers/dummy/texture_loader_dummy.h
  modules/text_server_adv/SCsub
  modules/webm/libvpx/SCsub
  platform/javascript/detect.py
  platform/javascript/display_server_javascript.cpp
  platform/linuxbsd/SCsub
  platform/linuxbsd/detect.py
  platform/server/SCsub
  platform/server/detect.py
  platform/server/godot_server.cpp
  platform/server/logo.png
  platform/server/os_server.cpp
  platform/server/os_server.h
  platform/server/platform_config.h
  servers/display_server.cpp
  servers/display_server_headless.h
  servers/rendering/rasterizer_dummy.h
Labels: enhancement, platform:linuxbsd, topic:buildsystem, topic:rendering

#45393 Add String/Comment tracking, AutoComplete and hints to CodeEdit
  core/input/input_map.cpp
  core/object/script_language.h
  doc/classes/CodeEdit.xml
  doc/classes/ProjectSettings.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/editor_settings.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, feature proposal, topic:core, topic:editor, topic:gui

#49026 Support multiple address resolution in DNS requests
  core/io/ip.cpp
  core/io/ip.h
  doc/classes/IP.xml
  drivers/unix/ip_unix.cpp
  drivers/unix/ip_unix.h
Labels: enhancement, topic:network

#48957 added _change_notify in Control::set_scale to fix iss48936
  scene/gui/control.cpp
Labels: bug, topic:editor

#49245 Fix overflow in export template manager
  editor/export_template_manager.cpp
Labels: bug, cherrypick:3.3, topic:editor

#49248 C#: iOS and Apple Silicon fixes
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/libgodot.iphone.debug.fat.a
  misc/dist/ios_xcode/libgodot.iphone.debug.xcframework/Info.plist
  misc/dist/ios_xcode/libgodot.iphone.debug.xcframework/ios-arm64/empty
  misc/dist/ios_xcode/libgodot.iphone.debug.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/ios_xcode/libgodot.iphone.release.fat.a
  misc/dist/ios_xcode/libgodot.iphone.release.xcframework/Info.plist
  misc/dist/ios_xcode/libgodot.iphone.release.xcframework/ios-arm64/empty
  misc/dist/ios_xcode/libgodot.iphone.release.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmono-ee-interp.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmono-ee-interp.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmono-ee-interp.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmono-icall-table.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmono-icall-table.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmono-icall-table.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmono-ilgen.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmono-ilgen.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmono-ilgen.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmono-native.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmono-native.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmono-native.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmono-profiler-log.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmono-profiler-log.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmono-profiler-log.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/iphone-mono-libs/libmonosgen-2.0.xcframework/Info.plist
  misc/dist/iphone-mono-libs/libmonosgen-2.0.xcframework/ios-arm64/empty
  misc/dist/iphone-mono-libs/libmonosgen-2.0.xcframework/ios-arm64_x86_64-simulator/empty
  modules/mono/build_scripts/mono_configure.py
  modules/mono/editor/GodotTools/GodotTools/Export/AotBuilder.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono.cpp
  platform/iphone/detect.py
  platform/iphone/export/export.cpp
Labels: bug, platform:ios, topic:mono

#49253 Fixed window_can_draw of DisplayServerWindows
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#49148 Use bold fonts in editor
  doc/classes/TreeItem.xml
  editor/editor_fonts.cpp
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_sectioned_inspector.cpp
  editor/editor_themes.cpp
  editor/filesystem_dock.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:editor, usability

#49264 Improve radio checkboxes in the default editor theme
  editor/editor_themes.cpp
  editor/icons/GuiRadioChecked.svg
Labels: enhancement, topic:editor

#49263 Add editor icons for Occluder3D and OccluderInstance3D
  editor/icons/Occluder3D.svg
  editor/icons/OccluderInstance3D.svg
Labels: enhancement, topic:editor

#44259 New icons for Gradient and GradientTexture resources
  editor/icons/Gradient.svg
  editor/icons/GradientTexture.svg
Labels: cherrypick:3.x, enhancement, topic:editor

#49267 Uncap the range for gravity and change the slider hints (3.x)
  doc/classes/Area.xml
  doc/classes/Area2D.xml
  doc/classes/ProjectSettings.xml
  scene/2d/area_2d.cpp
  scene/3d/area.cpp
Labels: cherrypick:3.3, enhancement, topic:2d, topic:3d, topic:editor, topic:physics

#49271 Fix changing theme coloring for error label in VisualShader editor
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor

#48350 Fix crash when using ALSA MIDI with PulseAudio
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, platform:linuxbsd, topic:audio

#47142 [3.x] Fix Tween.is_active() always true after stop() and then start() (Fix #39760 & #39801)
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: bug, cherrypick:3.3, topic:core

#46482 Warn about changing size only when it's relevant
  scene/gui/control.cpp
Labels: bug, cherrypick:3.x, topic:gui, usability

#49274 [3.x] Fix visibility issue with zoom label
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: cherrypick:3.3, enhancement, topic:2d, topic:editor, usability

#49275 Cherry-picks for the 3.x branch (future 3.4) - 6th batch
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  editor/animation_track_editor_plugins.cpp
  editor/editor_feature_profile.cpp
  editor/editor_feature_profile.h
  editor/icons/icon_gradient.svg
  editor/icons/icon_gradient_texture.svg
  editor/plugins/texture_region_editor_plugin.cpp
  platform/android/export/export.cpp
Labels: bug, enhancement

#49276 [3.x, macOS export] Add notarization support.
  platform/osx/export/export.cpp
Labels: enhancement, platform:macos, topic:editor, topic:export, usability

#47922 Added documentation to some `add_*_plugin` methods
  doc/classes/EditorPlugin.xml
Labels: cherrypick:3.3, cherrypick:3.x, documentation, enhancement

#49277 Proofread `add_*_plugin`/`remove_*_plugin` descriptions in `EditorPlugin`
  doc/classes/EditorPlugin.xml
Labels: cherrypick:3.3, cherrypick:3.x, documentation, enhancement, topic:plugin

#48889 Rename File's `endian_swap` to `big_endian`
  core/core_bind.cpp
  core/core_bind.h
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/resource_format_binary.cpp
  core/io/stream_peer.cpp
  core/io/stream_peer.h
  core/os/file_access.cpp
  core/os/file_access.h
  doc/classes/File.xml
  doc/classes/ResourceSaver.xml
Labels: breaks compat, enhancement, topic:core

#38224 Increase the default AudioStreamPlayer3D unit size to 10
  doc/classes/AudioStreamPlayer3D.xml
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
Labels: breaks compat, enhancement, topic:audio

#49269 Fix DNS resolve mutex locks
  core/io/ip.cpp
Labels: bug, cherrypick:3.x, topic:mono, topic:network

#49282 Replace `get_settings_dir` with `get_config_dir` when fetching configuration paths
  doc/classes/EditorPaths.xml
  editor/editor_node.cpp
  editor/editor_paths.cpp
  editor/editor_paths.h
  editor/editor_settings.cpp
Labels: bug, topic:editor

#48934 [3.x] Fix game controllers ignoring the last listed button
  core/global_constants.cpp
  core/os/input_event.h
  doc/classes/@GlobalScope.xml
  editor/project_settings_editor.cpp
  main/input_default.cpp
  main/input_default.h
Labels: breaks compat, bug, cherrypick:3.3, topic:input

#45624 Allow clamping vectors and colors in addition to floats and ints
  core/math/color.cpp
  core/math/color.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/variant/variant_call.cpp
  doc/classes/Color.xml
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
  servers/physics_2d/joints_2d_sw.cpp
Labels: breaks compat, enhancement, for pr meeting, topic:core, topic:mono

#49283 Improve sort_custom() description
  doc/classes/Array.xml
Labels: cherrypick:3.x, documentation, enhancement, topic:core

#43450 Add MOUSE_MODE_CONFINED_HIDDEN to MouseMode enum
  core/input/input.cpp
  core/input/input.h
  doc/classes/DisplayServer.xml
  doc/classes/Input.xml
  platform/javascript/display_server_javascript.cpp
  platform/linuxbsd/display_server_x11.cpp
  platform/osx/display_server_osx.mm
  platform/uwp/app.cpp
  platform/uwp/os_uwp.cpp
  platform/windows/display_server_windows.cpp
  servers/display_server.cpp
  servers/display_server.h
Labels: breaks compat, enhancement, needs testing, topic:input

#48367 Document `Navigation.get_simple_path()` often returning non-optimal results
  doc/classes/Navigation.xml
  doc/classes/Navigation2D.xml
Labels: cherrypick:3.3, documentation, enhancement

#47116 Disable 3D-only modules when 3D is disabled
  modules/bullet/config.py
  modules/csg/config.py
  modules/gridmap/config.py
  modules/meshoptimizer/config.py
  modules/mobile_vr/config.py
  modules/vhacd/config.py
  modules/webxr/config.py
Labels: enhancement, topic:3d

#37013 Flip 2D icon to match Godot's handedness
  editor/icons/2D.svg
Labels: discussion, enhancement, for pr meeting, topic:2d, topic:editor

#49300 Rename EditorPropertyTransform to EditorPropertyTransform3D
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: enhancement, topic:3d, topic:editor

#47336 Rename the `.shader` file extension to `.gdshader`
  core/config/project_settings.cpp
  editor/editor_asset_installer.cpp
  editor/plugins/script_editor_plugin.cpp
  misc/dist/linux/org.godotengine.Godot.xml
  scene/resources/shader.cpp
Labels: breaks compat, enhancement, topic:shaders

#44198 Rename Node3D's property translation to position
  doc/classes/Node3D.xml
  editor/plugins/node_3d_editor_plugin.cpp
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/xr_nodes.cpp
Labels: breaks compat, enhancement, topic:core

#48902 Improve the UI/UX of the Export Template Manager dialog
  editor/export_template_manager.cpp
  editor/export_template_manager.h
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#49303 Rename GODOT_VARIANT_TYPE_TRANSFORM to GODOT_VARIANT_TYPE_TRANSFORM3D
  modules/gdnative/include/gdnative/variant.h
Labels: bug, topic:gdnative

#49297 Rename Animation TYPE_TRANSFORM to TYPE_TRANSFORM3D
  doc/classes/Animation.xml
  doc/classes/AnimationTree.xml
  editor/animation_track_editor.cpp
  editor/import/editor_import_collada.cpp
  editor/import/resource_importer_scene.cpp
  modules/fbx/editor_scene_importer_fbx.cpp
  modules/gltf/gltf_document.cpp
  scene/animation/animation_cache.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: breaks compat, enhancement, topic:animation

#49304 Add "Transform" compatibility name for "Transform3D" in VariantParser
  core/variant/variant_parser.cpp
Labels: bug, topic:core

#47124 Disable Skeleton3D when compiling without 3D
  scene/3d/SCsub
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/animation/animation_cache.cpp
  scene/animation/animation_cache.h
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:3d

#48920 Use a more specific type for AcceptDialog register_text_enter
  doc/classes/AcceptDialog.xml
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
Labels: breaks compat, enhancement, topic:gui

#48908 Physics nodes reorganization
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
  doc/classes/ConcavePolygonShape3D.xml
  doc/classes/KinematicBody2D.xml
  doc/classes/KinematicBody3D.xml
  doc/classes/KinematicCollision2D.xml
  doc/classes/KinematicCollision3D.xml
  doc/classes/PhysicalBone3D.xml
  doc/classes/PhysicsBody2D.xml
  doc/classes/PhysicsBody3D.xml
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PinJoint2D.xml
  doc/classes/PinJoint3D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
  doc/classes/StaticBody2D.xml
  doc/classes/StaticBody3D.xml
  editor/icons/CharacterBody2D.svg
  editor/icons/CharacterBody3D.svg
  modules/bullet/bullet_physics_server.h
  modules/bullet/rigid_body_bullet.cpp
  scene/2d/collision_object_2d.cpp
  scene/2d/collision_object_2d.h
  scene/2d/collision_polygon_2d.cpp
  scene/2d/collision_shape_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/2d/visibility_notifier_2d.cpp
  scene/3d/collision_polygon_3d.cpp
  scene/3d/collision_shape_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  scene/3d/visibility_notifier_3d.cpp
  scene/register_scene_types.cpp
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/physics_server_2d_sw.h
  servers/physics_2d/space_2d_sw.cpp
  servers/physics_3d/body_3d_sw.cpp
  servers/physics_3d/body_3d_sw.h
  servers/physics_3d/physics_server_3d_sw.cpp
  servers/physics_3d/physics_server_3d_sw.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  tests/test_physics_3d.cpp
Labels: breaks compat, enhancement, topic:editor, topic:physics

#42282 Remove YSort node, move its functionality into Node2D
  doc/classes/Node2D.xml
  doc/classes/YSort.xml
  scene/2d/node_2d.cpp
  scene/2d/node_2d.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/y_sort.cpp
  scene/2d/y_sort.h
  scene/register_scene_types.cpp
  scene/resources/tile_set.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
Labels: breaks compat, enhancement, topic:core

#49319 Add missing override keyword to CSharpLanguage::is_control_flow_keyword()
  modules/mono/csharp_script.h
Labels: bug, topic:mono

#39202 Replace "Invert" import option with more useful "Normal Map Invert Y"
  editor/import/resource_importer_texture.cpp
Labels: breaks compat, enhancement, topic:import

#48693 Add "Normal Map Invert Y" import option for normal maps
  editor/import/resource_importer_texture.cpp
Labels: enhancement, topic:import

#47872 New and improved IK system for Skeleton2D - Squished
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/variant/variant_call.cpp
  doc/classes/Bone2D.xml
  doc/classes/Node.xml
  doc/classes/PhysicalBone2D.xml
  doc/classes/Skeleton2D.xml
  doc/classes/SkeletonModification2D.xml
  doc/classes/SkeletonModification2DCCDIK.xml
  doc/classes/SkeletonModification2DFABRIK.xml
  doc/classes/SkeletonModification2DJiggle.xml
  doc/classes/SkeletonModification2DLookAt.xml
  doc/classes/SkeletonModification2DPhysicalBones.xml
  doc/classes/SkeletonModification2DStackHolder.xml
  doc/classes/SkeletonModification2DTwoBoneIK.xml
  doc/classes/SkeletonModificationStack2D.xml
  doc/classes/Transform2D.xml
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/polygon_2d_editor_plugin.cpp
  scene/2d/physical_bone_2d.cpp
  scene/2d/physical_bone_2d.h
  scene/2d/skeleton_2d.cpp
  scene/2d/skeleton_2d.h
  scene/main/node.cpp
  scene/main/node.h
  scene/register_scene_types.cpp
  scene/resources/skeleton_modification_2d.cpp
  scene/resources/skeleton_modification_2d.h
  scene/resources/skeleton_modification_2d_ccdik.cpp
  scene/resources/skeleton_modification_2d_ccdik.h
  scene/resources/skeleton_modification_2d_fabrik.cpp
  scene/resources/skeleton_modification_2d_fabrik.h
  scene/resources/skeleton_modification_2d_jiggle.cpp
  scene/resources/skeleton_modification_2d_jiggle.h
  scene/resources/skeleton_modification_2d_lookat.cpp
  scene/resources/skeleton_modification_2d_lookat.h
  scene/resources/skeleton_modification_2d_physicalbones.cpp
  scene/resources/skeleton_modification_2d_physicalbones.h
  scene/resources/skeleton_modification_2d_stackholder.cpp
  scene/resources/skeleton_modification_2d_stackholder.h
  scene/resources/skeleton_modification_2d_twoboneik.cpp
  scene/resources/skeleton_modification_2d_twoboneik.h
  scene/resources/skeleton_modification_stack_2d.cpp
  scene/resources/skeleton_modification_stack_2d.h
Labels: enhancement, topic:2d, topic:core

#49365 Fixed color for node headers in visual scripts
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:editor, topic:visualscript

#49360 Prevent shader crash when passing an array to return if the return type is non-array
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#49372 Don't save built-in script when adding method
  editor/plugins/script_editor_plugin.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, regression, topic:editor, usability

#49349 Amend the quit() method description in `SceneTree` to include an exception for iOS
  doc/classes/SceneTree.xml
Labels: cherrypick:3.3, cherrypick:3.x, documentation, enhancement, platform:ios, topic:porting

#49337 Adds `UVFunc` for panning/scaling on UV's to VisualShader's.
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeUVFunc.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:shaders, topic:visualscript

#49384 Rename CollisionObject3D input_event signal position and normal parameters
  doc/classes/CollisionObject3D.xml
  scene/3d/collision_object_3d.cpp
Labels: enhancement, topic:3d, topic:physics

#49379 Update Gradle archiveName and destinationDir properties
  platform/android/java/build.gradle
Labels: bug, cherrypick:3.x, platform:android, topic:buildsystem

#49383 Don't install Android NDK in CI
  .github/workflows/android_builds.yml
Labels: cherrypick:3.x, enhancement, platform:android, topic:buildsystem

#49385 [3.x] Rename CollisionObject3D input_event signal position and normal parameters
  doc/classes/CollisionObject.xml
  scene/3d/collision_object.cpp
Labels: enhancement, topic:3d, topic:physics

#49382 Style: Cleanup uses of double spaces between words
  core/io/marshalls.cpp
  core/io/resource_loader.cpp
  core/io/xml_parser.h
  core/math/quick_hull.cpp
  core/templates/hash_map.h
  core/templates/oa_hash_map.h
  doc/classes/Control.xml
  doc/classes/EditorDebuggerPlugin.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/TextServer.xml
  drivers/unix/net_socket_posix.cpp
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/node_3d_editor_gizmos.cpp
  misc/hooks/canonicalize_filename.sh
  modules/bullet/space_bullet.cpp
  modules/fbx/data/fbx_mesh_data.cpp
  modules/gdnative/include/pluginscript/godot_pluginscript.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/theora/video_stream_theora.cpp
  modules/visual_script/doc_classes/VisualScript.xml
  platform/android/display_server_android.h
  platform/android/java/gradlew.bat
  platform/android/java/lib/res/values/strings.xml
  platform/android/java/lib/src/org/godotengine/godot/vulkan/VkSurfaceView.kt
  platform/android/plugin/godot_plugin_config.h
  platform/windows/context_gl_windows.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/grid_container.cpp
  scene/resources/material.cpp
  servers/audio/effects/reverb.cpp
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.h
  servers/physics_3d/soft_body_3d_sw.cpp
Labels: cherrypick:3.x, documentation, enhancement, topic:codestyle

#49386 Don't remap resources belonging to instance
  editor/scene_tree_dock.cpp
Labels: bug, cherrypick:3.x, topic:editor

#49308 Fix `Theme` overriding existing theme types with empty
  scene/resources/theme.cpp
Labels: bug, topic:editor

#49307 Make sure `Tabs` reflect theme changes
  scene/gui/tabs.cpp
Labels: bug, topic:gui

#49377 Readd support for kerning in DynamicFont (3.x)
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: bug, needs testing, topic:gui

#49367 Highlight annotations in the GDScript syntax highlighter
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/editor/gdscript_highlighter.h
Labels: enhancement, topic:editor, topic:gdscript

#49296 EditorSettings: Look for binding while filtering too
  editor/settings_config_dialog.cpp
Labels: bug, topic:editor

#49128 Improve axis awareness and visibility for Position2D and Position3D
  editor/node_3d_editor_gizmos.cpp
  scene/2d/position_2d.cpp
Labels: enhancement, topic:editor, usability

#49390 Allow clang-format 12 in the pre-commit hook
  misc/hooks/pre-commit-clang-format
Labels: cherrypick:3.3, cherrypick:3.x, enhancement, topic:buildsystem

#49318 Add API for registering native extensions
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/object.h
  core/object/reference.cpp
Labels: enhancement, topic:core, topic:gdnative

#49398 [3.x] Fix uninitialized members in physics query results
  servers/physics_2d_server.h
  servers/physics_server.h
Labels: bug, cherrypick:3.3, crash, topic:physics

#49397 Fix uninitialized members in physics query results
  servers/physics_server_2d.h
  servers/physics_server_3d.h
Labels: bug, crash, topic:physics

#48742 Make several actions in the Inspector dock more obvious
  editor/editor_path.cpp
  editor/editor_path.h
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#49394 FileAccess: Don't err in `store_buffer` with buffer of size 0
  core/io/file_access_encrypted.cpp
  core/io/file_access_memory.cpp
  core/os/file_access.cpp
  drivers/unix/file_access_unix.cpp
  drivers/windows/file_access_windows.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, topic:core

#49378 Fixed mistake in binding of Skeleton2D::execute_modifications
  doc/classes/Skeleton2D.xml
  scene/2d/skeleton_2d.cpp
Labels: bug, topic:2d

#49406 Fixed missed IDHandler dependency in GodotFetch
  platform/javascript/js/libs/library_godot_fetch.js
Labels: bug, cherrypick:3.3, cherrypick:3.x, platform:html5, topic:network, topic:porting

#49419 Removes deleted OrenNayar mode from shaders and materials
  doc/classes/BaseMaterial3D.xml
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.cpp
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/shader_types.cpp
Labels: bug, topic:rendering, topic:shaders

#49364 Add a form GitHub issue template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: enhancement

#49429 Fix TextEditor redo shortcut typo
  editor/plugins/text_editor.cpp
Labels: bug, topic:editor, topic:gui

#49433 Rename missing shortcut names in visual script editor
  modules/visual_script/visual_script_editor.cpp
Labels: bug, regression, topic:editor, topic:visualscript

#49422 Fix font preview text for CJKV ideographs
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/font_editor_plugin.cpp
Labels: enhancement, topic:editor

#49424 Fix shader compilation with render_mode: `specular_phong`
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, regression, topic:rendering, topic:shaders

#49395 Use degrees instead of rad for floor_max_angle property in CharacterBody
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
Labels: enhancement, topic:physics

#47280 Dont Change Hovering during Control Focus Events
  scene/gui/base_button.cpp
Labels: enhancement, topic:gui

#49020 Support multiple address resolution in DNS requests
  core/io/ip.cpp
  core/io/ip.h
  doc/classes/IP.xml
  drivers/unix/ip_unix.cpp
  drivers/unix/ip_unix.h
Labels: enhancement, topic:network

#49423 Allow more items in automatic width calculation for TextEdit completion
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor

#49280 [3.x] Fix RichTextLabel auto-wrapping on CJK texts
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
Labels: bug, cherrypick:3.3, topic:gui

#49332 [3.x] Fix previous search for built-in-docs
  editor/editor_help.cpp
  scene/gui/rich_text_label.cpp
Labels: bug, topic:editor, topic:gui, usability

#42248 Continuation of work on visual particles system
  doc/classes/VisualShader.xml
  doc/classes/VisualShaderNodeParticleAccelerator.xml
  doc/classes/VisualShaderNodeParticleBoxEmitter.xml
  doc/classes/VisualShaderNodeParticleConeVelocity.xml
  doc/classes/VisualShaderNodeParticleEmit.xml
  doc/classes/VisualShaderNodeParticleEmitter.xml
  doc/classes/VisualShaderNodeParticleMultiplyByAxisAngle.xml
  doc/classes/VisualShaderNodeParticleOutput.xml
  doc/classes/VisualShaderNodeParticleRandomness.xml
  doc/classes/VisualShaderNodeParticleRingEmitter.xml
  doc/classes/VisualShaderNodeParticleSphereEmitter.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_particle_nodes.cpp
  scene/resources/visual_shader_particle_nodes.h
Labels: enhancement, topic:3d, topic:rendering, topic:shaders

#48834 Fix out of sync ScriptEditor distraction mode when `Separate Distraction Mode` is Enabled
  editor/editor_node.cpp
Labels: bug, cherrypick:3.x, topic:editor, usability

#49155 Emit button_up signal after setting pressed to false.
  scene/gui/base_button.cpp
Labels: bug, cherrypick:3.x, topic:gui

#49462 update property selector's icon list
  editor/icons/Quaternion.svg
  editor/property_selector.cpp
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_property_selector.cpp
Labels: bug, topic:editor

#49456 Fix `length()` array function usage in shader
  servers/rendering/shader_language.h
Labels: bug, regression, topic:shaders

#49464 [iOS] Option to automatically generate icons and launch screens
  platform/iphone/export/export.cpp
Labels: enhancement, needs testing, platform:ios, topic:export

#49480 Remove unused AudioDriverAndroid from Android
  platform/android/SCsub
  platform/android/audio_driver_jandroid.cpp
  platform/android/audio_driver_jandroid.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:audio

#49481 [3.x] Remove unused AudioDriverAndroid from Android
  platform/android/SCsub
  platform/android/audio_driver_jandroid.cpp
  platform/android/audio_driver_jandroid.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:audio

#49436 [3.x] Add OS.get_external_data_dir() to get Android external directory
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/OS.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: bug, enhancement, platform:android, topic:core

#49493 Move default values from definition to declaration in GraphEdit
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:codestyle, topic:gui

#49494 Move default values from definition to declaration in GraphEdit
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:codestyle, topic:gui

#49496 [CTL] Improve font fallback order selection.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, topic:gui

#49499 Let var2str display StringName with correct sigil
  core/variant/variant_parser.cpp
  doc/classes/AnimatedSprite2D.xml
  doc/classes/AnimatedSprite3D.xml
  doc/classes/AnimationNodeAnimation.xml
  doc/classes/AnimationNodeStateMachineTransition.xml
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/AudioEffectCompressor.xml
  doc/classes/AudioStreamPlayer.xml
  doc/classes/AudioStreamPlayer2D.xml
  doc/classes/AudioStreamPlayer3D.xml
  doc/classes/Control.xml
  doc/classes/EditorProperty.xml
  doc/classes/InputEventAction.xml
  doc/classes/RDShaderFile.xml
  doc/classes/SkeletonIK3D.xml
  doc/classes/VideoPlayer.xml
  doc/classes/Window.xml
  modules/visual_script/doc_classes/VisualScriptClassConstant.xml
  modules/visual_script/doc_classes/VisualScriptEmitSignal.xml
  modules/visual_script/doc_classes/VisualScriptFunctionCall.xml
  modules/visual_script/doc_classes/VisualScriptInputAction.xml
  modules/visual_script/doc_classes/VisualScriptLocalVar.xml
  modules/visual_script/doc_classes/VisualScriptLocalVarSet.xml
  modules/visual_script/doc_classes/VisualScriptPropertyGet.xml
  modules/visual_script/doc_classes/VisualScriptPropertySet.xml
  modules/visual_script/doc_classes/VisualScriptTypeCast.xml
  modules/visual_script/doc_classes/VisualScriptVariableGet.xml
  modules/visual_script/doc_classes/VisualScriptVariableSet.xml
  modules/visual_script/doc_classes/VisualScriptYieldSignal.xml
Labels: bug, topic:core

#42636 Apply infinite inertia checks to Godot physics 3D
  servers/physics_3d/space_3d_sw.cpp
Labels: bug, topic:physics

#42637 [3.x] Apply infinite inertia checks to Godot physics 3D
  servers/physics/space_sw.cpp
Labels: bug, topic:physics

#49506 Prefer discrete GPU over integrated one
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, topic:rendering

#49491 [3.x] Backport exposing `EditorResourcePicker` and using it in the Inspector
  doc/classes/EditorResourcePicker.xml
  doc/classes/EditorScriptPicker.xml
  doc/classes/EditorSpinSlider.xml
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Labels: enhancement, topic:editor, topic:gui, topic:plugin

#49487 [3.x] Backport non-breaking changes in the `Theme` resource from `master`
  doc/classes/Theme.xml
  scene/gui/control.cpp
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: bug, enhancement, topic:gui

#48253 Fix @export and prevent non-exportable References from being exported.
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, regression, topic:gdscript

#47584 Port code examples to C# (V)
  doc/classes/Array.xml
  doc/classes/Variant.xml
  doc/classes/Viewport.xml
Labels: documentation, enhancement, topic:mono

#49341 Fix VisibilityEnabler to work with AnimationTree
  scene/3d/visibility_notifier.cpp
Labels: bug, topic:core, topic:rendering

#49338 Fix property editor to make changes if popup closed (remake)
  editor/property_editor.cpp
Labels: enhancement, topic:editor, topic:visualscript, usability

#34566 Increased String::num default decimal precision
  core/core_bind.cpp
  core/core_bind.h
  core/io/json.cpp
  core/io/json.h
  core/string/ustring.cpp
  doc/classes/JSON.xml
  modules/gdscript/doc_classes/@GDScript.xml
Labels: bug, topic:core

#49279 Rename `String.is_abs_path()` to `String.is_absolute_path()`
  core/config/project_settings.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  drivers/windows/dir_access_windows.cpp
  editor/editor_export.cpp
  editor/editor_node.cpp
  editor/import/resource_importer_obj.cpp
  modules/gdscript/gdscript.cpp
  modules/mono/utils/path_utils.cpp
  platform/android/plugin/godot_plugin_config.h
  platform/iphone/plugin/godot_plugin_config.h
  platform/linuxbsd/os_linuxbsd.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  tests/test_string.h
Labels: breaks compat, enhancement, topic:core

#49421 Fix mipmaps of VRAM compressed textures
  core/io/image.cpp
Labels: bug, regression, topic:core

#47835 Implement lossless WebP encoding
  core/io/image.cpp
  core/io/image.h
  doc/classes/ProjectSettings.xml
  drivers/png/image_loader_png.cpp
  editor/import/resource_importer_texture.cpp
  modules/webp/image_loader_webp.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  servers/rendering_server.cpp
Labels: enhancement, topic:import

#47854 [3.x] Implement lossless WebP encoding
  core/image.cpp
  core/image.h
  core/io/resource_format_binary.cpp
  doc/classes/ProjectSettings.xml
  drivers/png/image_loader_png.cpp
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
  modules/webp/image_loader_webp.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  servers/visual_server.cpp
Labels: enhancement, topic:import

#49516 Document applying VRAM compression setting changes retroactively
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.3, documentation, enhancement

#49515 Document applying VRAM compression setting changes retroactively
  doc/classes/ProjectSettings.xml
Labels: documentation, enhancement

#49519 Use "Delete" in FileSystemDock on all platforms
  editor/filesystem_dock.cpp
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47242 Bitmap opaque_to_polygons documentation
  doc/classes/BitMap.xml
Labels: documentation, enhancement

#49522 Fix tangents array in SurfaceTool
  scene/resources/surface_tool.cpp
Labels: bug, topic:3d

#49538 Fix duplicate paragraph in `ArrayMesh.add_surface_from_arrays()` description
  doc/classes/ArrayMesh.xml
Labels: bug, cherrypick:3.3, cherrypick:3.x, documentation

#49541 Fix game camera override tooltips being swapped
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, enhancement, topic:editor

#49520 Validate texture in RendererStorageRD::free
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
Labels: bug, crash, topic:rendering

#49544 VariantParser: Fix reading StringNames with '&'.
  core/variant/variant_parser.cpp
Labels: bug, regression, topic:core

#49123 Add a Time singleton
  core/core_bind.cpp
  core/core_bind.h
  core/io/logger.cpp
  core/os/os.cpp
  core/os/os.h
  core/os/time.cpp
  core/os/time.h
  core/register_core_types.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/File.xml
  doc/classes/OS.xml
  doc/classes/Time.xml
  doc/classes/XRServer.xml
  drivers/unix/os_unix.cpp
  editor/editor_node.cpp
  main/main.cpp
  modules/mono/mono_gd/gd_mono_log.cpp
  platform/android/export/export.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/osx/export/export.cpp
  platform/windows/os_windows.cpp
  tests/test_main.cpp
  tests/test_time.h
Labels: breaks compat, discussion, enhancement, needs testing

#48746 Consistently prefix bound virtual methods with _
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  doc/classes/AnimationNode.xml
  doc/classes/Control.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/EditorInspectorPlugin.xml
  doc/classes/EditorNode3DGizmo.xml
  doc/classes/EditorNode3DGizmoPlugin.xml
  doc/classes/EditorPlugin.xml
  doc/classes/EditorProperty.xml
  doc/classes/EditorResourcePicker.xml
  doc/classes/EditorResourcePreviewGenerator.xml
  doc/classes/EditorScenePostImport.xml
  doc/classes/EditorSyntaxHighlighter.xml
  doc/classes/EditorTranslationParserPlugin.xml
  doc/classes/FileSystemDock.xml
  doc/classes/ResourceFormatLoader.xml
  doc/classes/ResourceFormatSaver.xml
  doc/classes/ScriptEditor.xml
  doc/classes/ScriptEditorBase.xml
  doc/classes/Tree.xml
  doc/classes/Viewport.xml
  editor/action_map_editor.cpp
  editor/create_dialog.cpp
  editor/editor_audio_buses.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_inspector.cpp
  editor/editor_plugin.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_preview.cpp
  editor/editor_translation_parser.cpp
  editor/filesystem_dock.cpp
  editor/import/editor_import_plugin.cpp
  editor/import/resource_importer_scene.cpp
  editor/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_export.cpp
  editor/scene_tree_editor.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/animation/animation_tree.cpp
  scene/gui/control.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: breaks compat, enhancement, topic:codestyle, topic:core

#49547 Fix VoxelGI (works again).
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, topic:rendering

#49549 Fix roughness limiter derivative
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
Labels: bug, topic:rendering

#49546 Fix some virtual methods
  doc/classes/EditorPlugin.xml
  doc/classes/EditorResourcePicker.xml
  editor/editor_plugin.cpp
  editor/editor_resource_picker.cpp
Labels: bug, topic:core

#49554 Initialize PhysicalBone2D::parent_skeleton
  scene/2d/physical_bone_2d.h
Labels: bug, crash, topic:2d

#49553 Fix Viewport crashes when not in tree
  scene/main/viewport.cpp
Labels: bug, crash, topic:core

#49555 Add range check for TileSet::CellNeighbor parameter
  scene/resources/tile_set.cpp
Labels: bug, topic:2d

#49558 Validate parameter of SkeletonModificationStack2D::add_modification
  scene/resources/skeleton_modification_stack_2d.cpp
Labels: bug, crash, topic:animation

#49559 Fix crash when using invalid index in Color.get_named_color
  core/math/color.cpp
Labels: bug, crash, topic:core

#49562 Improve & fix Mono build
  modules/mono/csharp_script.cpp
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Object.base.cs
  modules/mono/glue/base_object_glue.cpp
  modules/mono/mono_gd/gd_mono_internals.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
Labels: bug, topic:mono

#49564 Validate parameters when adding plugins
  editor/editor_plugin.cpp
Labels: bug, cherrypick:3.x, crash, topic:plugin

#34668 [Core] Reformat structure string operators
  core/math/aabb.cpp
  core/math/basis.cpp
  core/math/color.cpp
  core/math/plane.cpp
  core/math/quaternion.cpp
  core/math/rect2.cpp
  core/math/rect2.h
  core/math/transform_2d.cpp
  core/math/transform_3d.cpp
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3i.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/AABB.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Plane.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
  tests/test_aabb.h
  tests/test_color.h
  tests/test_rect2.h
Labels: breaks compat, enhancement, topic:core, topic:mono

#49543 Fixed crash on calling set_editor_draw without properly setup
  scene/resources/skeleton_modification_2d.cpp
Labels: bug, crash, topic:2d

#49526 Fixed a bunch of connection errors in TextureRegionEditor
  doc/classes/Sprite3D.xml
  doc/classes/StyleBoxTexture.xml
  editor/plugins/texture_region_editor_plugin.cpp
  scene/2d/mesh_instance_2d.cpp
  scene/2d/multimesh_instance_2d.cpp
  scene/2d/sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/gui/nine_patch_rect.cpp
  scene/resources/style_box.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: bug, topic:editor

#48207 Add stereoscopic rendering through multiview
  doc/classes/ProjectSettings.xml
  doc/classes/XRInterface.xml
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/xr/godot_xr.h
  modules/gdnative/xr/xr_interface_gdnative.cpp
  modules/gdnative/xr/xr_interface_gdnative.h
  modules/glslang/register_types.cpp
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/mobile_vr/mobile_vr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
  scene/3d/xr_nodes.cpp
  servers/rendering/rasterizer_dummy.h
  servers/rendering/renderer_compositor.cpp
  servers/rendering/renderer_compositor.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.h
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/sky.glsl
  servers/rendering/renderer_rd/shaders/tonemap.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/renderer_storage.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_device.h
  servers/rendering/shader_types.cpp
  servers/rendering_server.cpp
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface.h
  servers/xr_server.cpp
Labels: breaks compat, enhancement, topic:rendering, topic:xr

#49227 Prevent `Theme` resource from emitting changes during bulk operations
  editor/plugins/theme_editor_plugin.cpp
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: enhancement, topic:editor, usability

#49581 Fixed error spam when XR mode is not enabled and a missed setting rename
  scene/3d/xr_nodes.cpp
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
Labels: bug, topic:rendering

#49574 Fix "super" call when having at least one argument
  modules/gdscript/gdscript_vm.cpp
Labels: bug, topic:gdscript

#48847 Implement visibility range and dependencies
  core/templates/bin_sorted_array.h
  doc/classes/GeometryInstance3D.xml
  doc/classes/Node3D.xml
  doc/classes/RenderingServer.xml
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering
