Repository godotengine/godot, pull requests merged in 2021-04, with the labels that each got.

#46991 Rename Array.invert() to Array.reverse()
  core/string/ustring.cpp
  core/templates/list.h
  core/templates/vector.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant_call.cpp
  doc/classes/Array.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  editor/dependency_editor.cpp
  editor/filesystem_dock.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/csg/csg.cpp
  modules/csg/csg_shape.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/text/godot_text.h
  modules/gdnative/text/text_server_gdnative.cpp
  modules/gdnavigation/nav_map.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/main/node.cpp
  scene/resources/convex_polygon_shape_2d.cpp
  scene/resources/polygon_path_finder.cpp
  tests/test_geometry_2d.h
  tests/test_list.h
Labels: breaks compat, enhancement, topic:core

#47553 Implement LSP didDeleteFiles to clear diagnostics
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/lsp.hpp
Labels: bug, topic:editor, topic:gdscript

#47561 Removed debug code
  drivers/vulkan/vulkan_context.cpp
Labels: bug, topic:rendering

#47576 Fix crash on null object in ClassDB.get_property() and set_property() (Fix #47573)
  core/object/class_db.cpp
Labels: bug, cherrypick:3.x, crash, topic:core

#47547 Make ColorPicker button text and tooltips appear in exported projects
  scene/gui/color_picker.cpp
Labels: bug, cherrypick:3.3, topic:gui

#47571 Fix crash caused by null parameter passed to CameraServer.add_feed()
  servers/camera_server.cpp
Labels: bug, cherrypick:3.3, crash, topic:xr

#47452 Change XRPositionalTracker to a reference (master)
  doc/classes/XRPositionalTracker.xml
  doc/classes/XRServer.xml
  modules/gdnative/xr/xr_interface_gdnative.cpp
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
  scene/3d/xr_nodes.cpp
  servers/xr/xr_positional_tracker.h
  servers/xr_server.cpp
  servers/xr_server.h
Labels: enhancement, topic:xr

#47591 Batching - flip normal map polarity for rects
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering

#47614 BVH - prevent self collisions
  core/math/bvh.h
Labels: bug, topic:core, topic:physics

#47617 Fix typo in visual shader context menu
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders

#46273 Added Comment node to Visual Shaders
  doc/classes/VisualShaderNodeComment.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:shaders, topic:visualscript, usability

#47616 Prevents TextureUniform in visual shaders from conversion to constant
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, topic:editor, topic:shaders

#47624 Fix few bugs in the context menu for Comment node in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: bug, topic:editor, topic:shaders

#47623 Fix error in the console: `double free or corruption (!prev)` at exit of GDnative C++ application
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, cherrypick:3.x, crash, regression, topic:gdnative

#47631 Fix misformatted documentation from recent PRs
  doc/classes/Array.xml
  doc/classes/ArrayMesh.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/Skeleton3D.xml
  doc/classes/Texture2D.xml
Labels: documentation, enhancement

#47408 Use double when setting the default step size
  editor/editor_properties.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:gui

#47632 Automatically focus the Search field when displaying asset library
  editor/plugins/asset_library_editor_plugin.cpp
  editor/project_manager.cpp
  editor/project_manager.h
Labels: cherrypick:3.x, enhancement, topic:assetlib, topic:editor, usability

#47636 Fix crashes in *_input functions
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/animation_track_editor_plugins.cpp
  editor/code_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_file_dialog.cpp
  editor/editor_help.cpp
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_spin_slider.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/mesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/texture_layered_editor_plugin.cpp
  editor/project_manager.cpp
  editor/scene_tree_dock.cpp
  editor/settings_config_dialog.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/2d/touch_screen_button.cpp
  scene/gui/base_button.cpp
  scene/gui/file_dialog.cpp
  scene/gui/gradient_edit.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_node.cpp
  scene/gui/item_list.cpp
  scene/gui/line_edit.cpp
  scene/gui/menu_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_container.cpp
  scene/gui/slider.cpp
  scene/gui/spin_box.cpp
  scene/gui/split_container.cpp
  scene/gui/subviewport_container.cpp
  scene/gui/tab_container.cpp
  scene/gui/tabs.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  scene/main/viewport.cpp
Labels: bug, cherrypick:3.x, crash, topic:gui

#47638 Added missing `:` in gdscript example for `TileMap` class reference.
  doc/classes/TileMap.xml
Labels: cherrypick:3.x, documentation, enhancement

#47627 Fix GDScript variables addresses getting mixed
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript

#47597 [HTML5] Disable body_size in fetch.
  platform/javascript/js/engine/preloader.js
  platform/javascript/js/libs/library_godot_fetch.js
Labels: bug, cherrypick:3.x, platform:html5, topic:network, topic:porting

#47633 Add a subtle background to editor scrollbars
  editor/icons/GuiScrollBg.svg
  editor/icons/GuiScrollGrabber.svg
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47592 Fix VisualScriptFunctionState connect to null object crash (Fix #47572)
  modules/visual_script/visual_script.cpp
Labels: bug, crash, topic:visualscript

#47642 Style: Apply selected clang-tidy checks
  core/crypto/crypto.cpp
  core/math/dynamic_bvh.cpp
  core/math/dynamic_bvh.h
  core/variant/variant_setget.cpp
  drivers/vulkan/vulkan_context.cpp
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_translation_parser.cpp
  editor/filesystem_dock.cpp
  editor/import/editor_import_collada.cpp
  editor/import/resource_importer_obj.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  modules/fbx/editor_scene_importer_fbx.cpp
  modules/fbx/editor_scene_importer_fbx.h
  modules/fbx/fbx_parser/ByteSwapper.h
  modules/fbx/fbx_parser/FBXAnimation.cpp
  modules/fbx/fbx_parser/FBXDocument.cpp
  modules/fbx/fbx_parser/FBXDocument.h
  modules/fbx/fbx_parser/FBXImportSettings.h
  modules/fbx/fbx_parser/FBXMaterial.cpp
  modules/fbx/fbx_parser/FBXMeshGeometry.cpp
  modules/fbx/fbx_parser/FBXParseTools.h
  modules/fbx/fbx_parser/FBXParser.cpp
  modules/fbx/fbx_parser/FBXProperties.cpp
  modules/fbx/fbx_parser/FBXUtil.cpp
  modules/fbx/tools/validation_tools.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gltf/editor_scene_importer_gltf.h
  modules/gltf/gltf_document.cpp
  modules/minimp3/audio_stream_mp3.cpp
  modules/text_server_adv/dynamic_font_adv.cpp
  modules/text_server_adv/script_iterator.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_editor.cpp
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
  platform/javascript/export/export.cpp
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/joypad_linux.cpp
  scene/3d/sprite_3d.h
  scene/main/http_request.cpp
  scene/main/node.cpp
  scene/main/viewport.cpp
  scene/resources/text_paragraph.cpp
  scene/resources/visual_shader_nodes.cpp
  servers/physics_3d/step_3d_sw.cpp
  servers/rendering/renderer_rd/renderer_scene_render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:codestyle

#47640 Chose format from supported ones that we support
  drivers/vulkan/vulkan_context.cpp
Labels: bug, topic:rendering

#47645 Re-allow playing AnimatedSprite2D without frames
  scene/2d/animated_sprite_2d.cpp
Labels: bug, cherrypick:3.x, topic:animation

#47569 GDScript: Properly validate return type
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, topic:gdscript

#47622 Expose editor scale to the plugin API
  doc/classes/EditorInterface.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: cherrypick:3.x, enhancement, topic:editor, topic:gui, topic:plugin

#47657 Make `GraphEdit` scrollwheel zoom based on mouse position
  scene/gui/graph_edit.cpp
Labels: enhancement, topic:gui, usability

#47655 Only cleanup meta data if GDNative library is reloadable
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, cherrypick:3.3, crash, regression, topic:gdnative

#47200 Add the ability to remove project contents from the remove project dialog
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor

#47659 [3.x] [HTML5] Implement WebGL fallback.
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
  platform/javascript/os_javascript.cpp
Labels: enhancement, platform:html5, topic:porting, topic:rendering

#47660 [HTML5] Implement WebGL fallback.
  platform/javascript/godot_js.h
  platform/javascript/js/libs/library_godot_display.js
Labels: enhancement, platform:html5, topic:porting, topic:rendering

#47654 Add flag to stop printing to stdout/stderr
  core/os/os.cpp
  core/os/os.h
Labels: enhancement, topic:core

#47651 Improve error messages for missing export presets when using `--export`
  editor/editor_node.cpp
Labels: cherrypick:3.x, enhancement, topic:editor, topic:porting, usability

#47666 Ensure ConvexPolygonShape2D support count variable is initialised
  servers/physics_2d/shape_2d_sw.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, crash, topic:physics

#47682 [3.x] Android: Fix access to JavaVM for threads after #45618
  platform/android/java_class_wrapper.cpp
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_wrapper.cpp
  platform/android/thread_jandroid.cpp
Labels: bug, platform:android, regression, topic:core, topic:porting

#47668 Ensure ConvexPolygonShape3D support count variable is initialised
  servers/physics_3d/shape_3d_sw.cpp
Labels: bug, crash, topic:physics

#47674 Check for the use of an empty shape in Bullet Kinematic collisions
  modules/bullet/space_bullet.cpp
Labels: bug, cherrypick:3.3, cherrypick:3.x, crash, topic:physics

#47669 [3.x] Ensure ConvexPolygonShape support count variable is initialised
  servers/physics/shape_sw.cpp
Labels: bug, crash, topic:physics

#47675 Check ConvexPolygonShape2D point count before calcuating moment of inertia
  servers/physics_2d/shape_2d_sw.cpp
Labels: bug, crash, topic:physics

#47677 [3.x] Check ConvexPolygonShape2D point count before calcuating moment of inertia
  servers/physics_2d/shape_2d_sw.cpp
Labels: bug, crash, topic:physics

#47678 Check for empty ConcavePolygonShape2D before checking for intersection
  servers/physics_2d/shape_2d_sw.cpp
Labels: bug, crash, topic:physics

#47679 [3.x] Check for empty ConcavePolygonShape2D before checking for intersection
  servers/physics_2d/shape_2d_sw.cpp
Labels: bug, crash, topic:physics

#47683 Sync controller mappings DB with SDL2 community repo
  core/input/gamecontrollerdb.txt
Labels: cherrypick:3.x, enhancement, topic:input

#46877 Always dynamically allocate PropertyTable
  modules/fbx/fbx_parser/FBXDocumentUtil.cpp
  modules/fbx/fbx_parser/FBXProperties.cpp
  modules/fbx/fbx_parser/FBXProperties.h
Labels: bug, cherrypick:3.x, crash, topic:import

#43900 Improve Ambiguous StreamPeerTCP `set_no_delay` Documentation
  doc/classes/StreamPeerTCP.xml
Labels: cherrypick:3.x, documentation, enhancement

#47441 Fix for SkeletonIK not working correctly with 0 interpolation and incorrectly rotating with animation
  scene/3d/skeleton_ik_3d.cpp
  scene/3d/skeleton_ik_3d.h
Labels: bug, cherrypick:3.x, regression, topic:animation

#47672 Fix stack overflow in setter
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, regression, topic:gdscript

#47648 Fix infinite loop when guessing argument type from parent class
  modules/gdscript/gdscript_editor.cpp
Labels: bug, crash, regression, topic:gdscript

#47708 Document secure wss:// caveats for WebSocketClient
  modules/websocket/doc_classes/WebSocketClient.xml
Labels: cherrypick:3.x, documentation, enhancement

#47717 Fix crash on importing empty .fbx file
  modules/fbx/editor_scene_importer_fbx.cpp
Labels: bug, crash, topic:import

#47718 Fix crash on importing empty .fbx file (3.x Backport)
  modules/fbx/editor_scene_importer_fbx.cpp
Labels: bug, crash, topic:import

#44456 allow input echo when changing ui focus
  scene/main/viewport.cpp
Labels: cherrypick:3.x, enhancement, topic:gui, topic:input

#47647 Main: Default `--doctool` path to '.' if none given
  main/main.cpp
Labels: cherrypick:3.x, documentation, enhancement, topic:core

#47697 Fix ColorPicker's RGB bars are show in RAW mode and other
  scene/gui/color_picker.cpp
Labels: bug, regression, topic:gui

#43746 Vulkan: Implement triplanar mapping in world space
  scene/resources/material.cpp
Labels: bug, topic:core, topic:rendering

#47738 [3.x] Fix for SkeletonIK not working correctly with 0 interpolation and incorrectly rotating with animation
  scene/animation/skeleton_ik.cpp
  scene/animation/skeleton_ik.h
Labels: bug, regression, topic:animation

#47727 Reduce number of addressing modes in GDScript VM
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, topic:gdscript

#47741 Fixes Node3D rotation in select mode on macOS
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, cherrypick:3.x, topic:3d, topic:editor

#47696 Remove low_end option from renderer
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_scene_render.h
Labels: enhancement, topic:rendering

#47733 Tweak frame time display in the editor
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor

#47735 Improve command line `--print-fps` display
  main/main.cpp
Labels: cherrypick:3.x, enhancement, topic:core

#47754 Add missing color argument in forward_canvas_draw_over_viewport example.
  doc/classes/EditorPlugin.xml
Labels: bug, cherrypick:3.x, documentation

#47750 Show a message when trying to zoom farther than the limit
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: cherrypick:3.3, enhancement, topic:3d, topic:editor, usability

#47759 [3.x] Fix issue causing the response callback to be invoked with the invalid `requestCode`
  platform/android/java/lib/src/org/godotengine/godot/FullScreenGodotApp.java
Labels: bug, platform:android, topic:plugin

#47760 Fix issue causing the response callback to be invoked with the invalid `requestCode`
  platform/android/java/lib/src/org/godotengine/godot/FullScreenGodotApp.java
Labels: bug, platform:android, topic:plugin

#47596 Fixed Editor Shortcuts revert/edit/clear buttons performing the wrong action
  editor/settings_config_dialog.cpp
Labels: bug, topic:editor

#46340 Add Various ColorPicker shapes
  doc/classes/ColorPicker.xml
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_themes.cpp
  editor/icons/PickerCursor.svg
  editor/plugins/script_text_editor.cpp
  editor/property_editor.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/picker_cursor.png
  scene/resources/default_theme/theme_data.h
Labels: enhancement, topic:gui, usability

#47512 fix wrong encoding format in uri_encode
  core/string/ustring.cpp
Labels: bug, cherrypick:3.x, topic:network

#47761 Add marshalling to PackedByteArray
  core/variant/binder_common.h
  core/variant/variant_call.cpp
Labels: enhancement, topic:core

#37966 Clean up profiler
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.h
Labels: bug, enhancement, topic:editor

#47787 Fix 3D selection box size for Node3D
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:3d, topic:editor

#47774 Fix includes in test_command_queue.h
  tests/test_command_queue.h
Labels: bug, topic:tests

#47792 [3.x] Fix 3D selection box size for Spatial
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, topic:3d, topic:editor

#47175 Select non-perfect matches if necessary in the Search Help dialog
  editor/editor_help_search.cpp
  editor/editor_help_search.h
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47811 Fix `_File::get_buffer` length always set to p_length
  core/core_bind.cpp
Labels: bug, cherrypick:3.x, topic:core

#47213 [3.x] Fix project icon size in Project Manager
  editor/editor_themes.cpp
  editor/editor_themes.h
  editor/project_manager.cpp
Labels: bug, topic:editor

#47531 Update Skeleton3D inspector Bone Transforms
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, confirmed, topic:3d

#47709 Expose edit_node() for editor plugins
  doc/classes/EditorInterface.xml
  doc/classes/EditorSelection.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: cherrypick:3.3, enhancement, topic:editor, topic:plugin

#47831 Add a tooltip to document performance issues of the Remote scene tree
  editor/scene_tree_dock.cpp
Labels: cherrypick:3.x, enhancement, topic:editor

#47832 Batching - store parent items in default batches
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, crash, topic:rendering

#47664 makerst: Fix generation of overridden properties in child classes
  doc/tools/makerst.py
Labels: bug, cherrypick:3.x, documentation, topic:buildsystem

#47840 Document overriding project settings that have feature tags
  doc/classes/ProjectSettings.xml
Labels: cherrypick:3.x, documentation, enhancement

#47841 Fix PackedFloat32Array get index not working
  core/variant/variant_setget.cpp
Labels: bug, topic:core

#47842 Fix custom boot splash image scaling.
  platform/android/export/export.cpp
  platform/android/java/app/res/drawable-nodpi/splash.png
  platform/android/java/app/res/drawable-nodpi/splash_bg_color.png
Labels: bug, platform:android, topic:buildsystem

#47843 [3.x] Fix custom boot splash image scaling
  platform/android/export/export.cpp
  platform/android/java/app/res/drawable-nodpi/splash.png
  platform/android/java/app/res/drawable-nodpi/splash_bg_color.png
Labels: bug, platform:android, topic:export

#47844 Add support for forwarding callbacks from Godot's parent activity
  platform/android/java/lib/src/org/godotengine/godot/FullScreenGodotApp.java
Labels: bug, platform:android, topic:plugin

#47845 Fix SoftBody contact impulses applied on rigid bodies
  servers/physics_3d/body_pair_3d_sw.cpp
Labels: bug, topic:physics

#47848 Fix crashes with CollisionObject3D debug shapes
  scene/3d/collision_object_3d.cpp
  scene/3d/collision_object_3d.h
Labels: bug, crash, regression, topic:physics

#47849 [3.x] Fix crashes with CollisionObject debug shapes
  scene/3d/collision_object.cpp
  scene/3d/collision_object.h
Labels: bug, crash, regression, topic:physics

#47853 [iOS] Fix for plugin modified time check
  platform/iphone/plugin/godot_plugin_config.h
Labels: bug, cherrypick:3.x, platform:ios, topic:export, topic:plugin

#47852 etcpak: Fix handling of pthread naming API for Linux and MinGW
  thirdparty/etcpak/System.cpp
  thirdparty/etcpak/TaskDispatch.cpp
  thirdparty/etcpak/patches/pthread-setname.patch
  thirdparty/etcpak/patches/windows-mingw-bswap.patch
Labels: bug, topic:buildsystem, topic:thirdparty

#47881 [macOS] Update required Vulkan API version the ICD configs.
  misc/dist/osx_template.app/Contents/Resources/vulkan/icd.d/MoltenVK_icd.json
  misc/dist/osx_tools.app/Contents/Resources/vulkan/icd.d/MoltenVK_icd.json
Labels: bug, platform:macos, topic:porting

#47625 Fix: Selection Only in Find/Replace now preserves selection
  editor/code_editor.cpp
Labels: bug, cherrypick:3.x, topic:editor

#47689 Fix TextEdit cursor update when adding or deleting text
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#47797 Fix docs description for CapsuleMesh::mid_height
  doc/classes/CapsuleMesh.xml
Labels: cherrypick:3.x, documentation, enhancement

#46880 Add `generateDevTemplate` to android build to build template with symbols
  platform/android/java/app/config.gradle
  platform/android/java/build.gradle
  platform/android/java/gradle.properties
Labels: cherrypick:3.x, enhancement, platform:android, topic:buildsystem

#47876 Export gltf2 normal textures correctly.
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import

#47540 Make ensure_correct_normals working on GLES2
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shaders/scene.glsl
Labels: bug, topic:rendering

#47788 Batching - prevent applying final modulate on CPU when it is sent in FVF
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering

#47864 Add buffer orphan / stream options
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_canvas_base_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles_common/rasterizer_canvas_batcher.h
  servers/visual_server.cpp
Labels: enhancement, topic:rendering

#47856 Fix multi-selection doesn't correctly show in the inspector
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, cherrypick:3.x, regression, topic:editor

#47807 Fix type argument in is_builtin which was treated as an address
  modules/gdscript/gdscript_byte_codegen.cpp
Labels: bug, regression, topic:gdscript

#47330 Fix corrupt scene when export var has setter
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:editor, topic:gdscript

#47886 Separate set.h from map.h
  core/io/file_access_pack.h
  core/templates/map.h
Labels: enhancement, topic:core

#47889 Fixed ui_accept (spacebar + return) accepting auto-completion options.
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#47890 etcpak: We only need the compression code, remove rest of etcpak app
  modules/etcpak/SCsub
  thirdparty/README.md
  thirdparty/etcpak/Bitmap.cpp
  thirdparty/etcpak/Bitmap.hpp
  thirdparty/etcpak/BitmapDownsampled.cpp
  thirdparty/etcpak/BitmapDownsampled.hpp
  thirdparty/etcpak/BlockData.cpp
  thirdparty/etcpak/BlockData.hpp
  thirdparty/etcpak/ColorSpace.cpp
  thirdparty/etcpak/ColorSpace.hpp
  thirdparty/etcpak/DataProvider.cpp
  thirdparty/etcpak/DataProvider.hpp
  thirdparty/etcpak/Debug.cpp
  thirdparty/etcpak/Debug.hpp
  thirdparty/etcpak/Error.cpp
  thirdparty/etcpak/Error.hpp
  thirdparty/etcpak/MipMap.hpp
  thirdparty/etcpak/Semaphore.hpp
  thirdparty/etcpak/System.cpp
  thirdparty/etcpak/System.hpp
  thirdparty/etcpak/TaskDispatch.cpp
  thirdparty/etcpak/TaskDispatch.hpp
  thirdparty/etcpak/Timing.cpp
  thirdparty/etcpak/Timing.hpp
  thirdparty/etcpak/lz4/lz4.c
  thirdparty/etcpak/lz4/lz4.h
  thirdparty/etcpak/mmap.cpp
  thirdparty/etcpak/mmap.hpp
  thirdparty/etcpak/patches/libpng-unbundle.patch
  thirdparty/etcpak/patches/llvm-c++11-narrowing-errors.patch
  thirdparty/etcpak/patches/pthread-setname.patch
  thirdparty/etcpak/patches/windows-mingw-bswap.patch
Labels: enhancement, topic:import

#47846 Godot Physics solver optimization
  servers/physics_2d/body_2d_sw.cpp
  servers/physics_2d/body_2d_sw.h
  servers/physics_2d/constraint_2d_sw.h
  servers/physics_2d/step_2d_sw.cpp
  servers/physics_2d/step_2d_sw.h
  servers/physics_3d/body_3d_sw.cpp
  servers/physics_3d/body_3d_sw.h
  servers/physics_3d/body_pair_3d_sw.cpp
  servers/physics_3d/constraint_3d_sw.h
  servers/physics_3d/step_3d_sw.cpp
  servers/physics_3d/step_3d_sw.h
Labels: enhancement, topic:physics

#47878 Rename get_surface_material to get_surface_override_material
  doc/classes/MeshInstance3D.xml
  doc/classes/RenderingServer.xml
  editor/import/resource_importer_scene.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  modules/gltf/gltf_document.cpp
  scene/3d/baked_lightmap.cpp
  scene/3d/gi_probe.cpp
  scene/3d/mesh_instance_3d.cpp
  scene/3d/mesh_instance_3d.h
  scene/3d/soft_body_3d.cpp
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: breaks compat, enhancement, topic:rendering

#47915 Fix forgotten rename on surface material override
  scene/3d/mesh_instance_3d.cpp
Labels: bug, topic:rendering

#47916 Scene: Remove unused `mesh_materials` StringNames
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: cherrypick:3.x, enhancement, topic:core

#47936 Fix issue causing export to fail
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:buildsystem

#47414 Test Godot with Vulkan in CI
  .github/workflows/linux_builds.yml
  misc/scripts/check_ci_log.py
Labels: enhancement, topic:buildsystem

#40924 Add more sanitizer flags to shows more bugs by default
  platform/linuxbsd/detect.py
  platform/osx/detect.py
  platform/server/detect.py
Labels: enhancement, topic:buildsystem

#47933 Changed SkeletonIK3D to clear bone overrides when stopping
  scene/3d/skeleton_ik_3d.cpp
Labels: bug, cherrypick:3.x, topic:3d, topic:animation

#47937 [3.x] Fix issue causing export to fail
  platform/android/export/export.cpp
Labels: bug, platform:android, topic:buildsystem

#45989 Optimize BroadPhase2dHashGrid to not pair elements on different layers
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
  servers/physics_2d/broad_phase_2d_hash_grid.h
Labels: bug, cherrypick:3.x, topic:physics

#47880 FBX Improve Parser and File Compatibility
  modules/fbx/data/fbx_material.cpp
  modules/fbx/data/fbx_mesh_data.cpp
  modules/fbx/data/fbx_mesh_data.h
  modules/fbx/data/pivot_transform.cpp
  modules/fbx/editor_scene_importer_fbx.cpp
  modules/fbx/fbx_parser/FBXAnimation.cpp
  modules/fbx/fbx_parser/FBXBinaryTokenizer.cpp
  modules/fbx/fbx_parser/FBXDeformer.cpp
  modules/fbx/fbx_parser/FBXDocument.cpp
  modules/fbx/fbx_parser/FBXDocument.h
  modules/fbx/fbx_parser/FBXDocumentUtil.cpp
  modules/fbx/fbx_parser/FBXDocumentUtil.h
  modules/fbx/fbx_parser/FBXMaterial.cpp
  modules/fbx/fbx_parser/FBXModel.cpp
  modules/fbx/fbx_parser/FBXNodeAttribute.cpp
  modules/fbx/fbx_parser/FBXParser.cpp
  modules/fbx/fbx_parser/FBXParser.h
  modules/fbx/fbx_parser/FBXProperties.cpp
  modules/fbx/fbx_parser/FBXProperties.h
  modules/fbx/fbx_parser/FBXTokenizer.cpp
  modules/fbx/fbx_parser/FBXTokenizer.h
Labels: bug, topic:import

#47923 Fix Skeleton3D.clear_bones_global_pose_override() not resetting global_bone_overrides properly
  scene/3d/skeleton_3d.cpp
Labels: bug, topic:3d, topic:animation

#47895 Strip leading/trailing whitespace for project name in the project manager
  editor/project_manager.cpp
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47942 Fix errors related to joints setup with two non-dynamic bodies
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_3d/joints/cone_twist_joint_3d_sw.cpp
  servers/physics_3d/joints/generic_6dof_joint_3d_sw.cpp
  servers/physics_3d/joints/hinge_joint_3d_sw.cpp
  servers/physics_3d/joints/pin_joint_3d_sw.cpp
  servers/physics_3d/joints/slider_joint_3d_sw.cpp
Labels: bug, topic:physics

#47939 Fix macOS build with all sanitizers enabled.
  platform/linuxbsd/detect.py
  platform/osx/detect.py
  platform/server/detect.py
Labels: enhancement, platform:macos, topic:buildsystem

#47950 Lowers the navigation edge margin merge
  scene/resources/world_3d.cpp
Labels: bug, topic:navigation

#41091 Add option "modules_enabled_by_default" for shorthand disabling modules
  SConstruct
  main/main.cpp
Labels: enhancement, topic:buildsystem

#47728 Fix LineEdit undo behaves strangely
  scene/gui/line_edit.cpp
Labels: bug, cherrypick:3.x, topic:gui

#47726 Fix `Color::get_{r,g,b,a}8`
  core/math/color.h
Labels: enhancement, topic:core

#47686 Warn when creating a script with the same name as the parent class
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: cherrypick:3.x, enhancement, topic:editor, topic:mono, usability

#47629 Allow Center Selection to work without any selection in 2D/3D editors
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47954 Disable the `requestLegacyExternalStorage` attribute when there are no storage permissions
  platform/android/export/export.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/AndroidManifest.xml
  platform/android/java/lib/AndroidManifest.xml
Labels: bug, platform:android, topic:buildsystem

#47710 Add the About dialog to the project manager
  editor/editor_about.cpp
  editor/editor_about.h
  editor/project_manager.cpp
  editor/project_manager.h
Labels: cherrypick:3.x, enhancement, topic:editor

#47968 [3.x] C#: Fix `double` casting in wasm m2n trampolines
  modules/mono/mono_gd/gd_mono_wasm_m2n.h
Labels: bug, platform:html5, topic:mono

#47969 [master] C#: Fix `double` casting in wasm m2n trampolines
  modules/mono/mono_gd/gd_mono_wasm_m2n.h
Labels: bug, platform:html5, topic:mono

#47924 [3.x] Fix Skeleton.clear_bones_global_pose_override() not resetting global_bone_overrides properly
  scene/3d/skeleton.cpp
Labels: bug, topic:3d, topic:animation

#47069 Add a welcome dialog to the HTML5 editor
  misc/dist/html/editor.html
Labels: cherrypick:3.x, enhancement, platform:html5, topic:editor

#47987 Avoid creating joy_names map entries when using Map operator[]
  core/input/input.cpp
Labels: bug, topic:input

#47988 [3.x] Avoid creating joy_names map entries when using Map operator[]
  main/input_default.cpp
Labels: bug, topic:input

#35666 Print suggestions when requesting a nonexistent InputMap action
  core/input/input_map.cpp
  core/input/input_map.h
Labels: enhancement, topic:input, usability

#47982 Fix `sky` visual shader mode after last rename
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:shaders, topic:visualscript

#47917 Import: Cleanup and optimize etcpak compression method
  doc/classes/Image.xml
  modules/etcpak/image_compress_etcpak.cpp
  modules/etcpak/image_compress_etcpak.h
  modules/etcpak/register_types.cpp
  modules/etcpak/register_types.h
  modules/squish/image_decompress_squish.cpp
  modules/squish/image_decompress_squish.h
  modules/squish/register_types.cpp
  thirdparty/README.md
Labels: documentation, enhancement, needs testing, topic:import

#47980 Split particle shader entry points
  scene/resources/particles_material.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shaders/particles.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:shaders

#47994 Batching - Don't join items with invalid shaders
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering

#48002 update meshoptimizer to version 0.16
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/meshoptimizer/LICENSE.md
  thirdparty/meshoptimizer/clusterizer.cpp
  thirdparty/meshoptimizer/indexgenerator.cpp
  thirdparty/meshoptimizer/meshoptimizer.h
  thirdparty/meshoptimizer/simplifier.cpp
  thirdparty/meshoptimizer/vertexcodec.cpp
Labels: enhancement, topic:thirdparty

#47611 FIX: instance-scene make parent as edited_scene if no parent selected.
  editor/scene_tree_dock.cpp
Labels: bug, topic:2d, topic:editor

#47448 Rename LineEdit getters and setters to match property names
  doc/classes/LineEdit.xml
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/editor_help.cpp
  editor/editor_themes.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/rename_dialog.cpp
  editor/script_create_dialog.cpp
  modules/visual_script/visual_script_editor.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: breaks compat, enhancement, topic:gui

#48015 Documented of how to use a TextureArray
  doc/classes/TextureArray.xml
Labels: documentation, enhancement, topic:shaders

#48019 CI: Bump BASE_BRANCH from 3.2 to 3.x
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/windows_builds.yml
Labels: enhancement, topic:buildsystem

#47343 Use multiple threads to import resources.
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/templates/thread_work_pool.h
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/import/resource_importer_scene.h
  scene/3d/gpu_particles_collision_3d.cpp
Labels: enhancement, topic:import

#47990 Add a menu action to open C++ source on GitHub in the editor debugger
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
Labels: cherrypick:3.x, enhancement, topic:editor, usability

#47991 `Area[X]D`: Put physics override parameters in their own group and document that areas can be used to influence audio
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  scene/2d/area_2d.cpp
  scene/3d/area_3d.cpp
Labels: cherrypick:3.x, documentation, enhancement, topic:physics
