Repository godotengine/godot, pull requests merged in 2021-12, with the labels that each got.

#55508 Allow using empty statements in the shader, added formatting warning
  drivers/gles3/shader_compiler_gles3.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_warnings.cpp
  servers/rendering/shader_warnings.h
  tests/servers/test_shader_lang.cpp
Labels: bug, topic:shaders

#55510 Fix declaring array size twice in global shader constant
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#55502 Fix crash when trying to load an invalid mp3 file
  modules/minimp3/audio_stream_mp3.cpp
  modules/minimp3/audio_stream_mp3.h
  thirdparty/README.md
  thirdparty/minimp3/minimp3.h
  thirdparty/minimp3/minimp3_ex.h
Labels: bug, topic:audio, crash, cherrypick:3.x, cherrypick:3.4

#54508 Expose Variant operator= to GDNative
  modules/gdnative/gdnative/variant.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/variant.h
Labels: enhancement, topic:gdnative, cherrypick:3.4

#55515 Fix shader crash when using existed constant name for struct
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#55516 [4.x] Faster Path2D drawing with polyline
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
Labels: enhancement, topic:rendering, topic:2d, performance

#55533 Fix shape index in multiple physics queries with Bullet
  modules/bullet/godot_result_callbacks.cpp
  modules/bullet/godot_result_callbacks.h
Labels: bug, topic:physics, cherrypick:3.x, topic:3d

#55532 Only print message for `get_modified_time()` failure when in verbose mode
  drivers/unix/file_access_unix.cpp
  drivers/windows/file_access_windows.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.4

#55529 Rename Vector parameters to be consistent
  core/math/vector3.cpp
  core/math/vector3.h
  core/variant/variant_call.cpp
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
Labels: enhancement, topic:core

#53868 Improve Curve with `real_t` and naming
  editor/plugins/curve_editor_plugin.cpp
  scene/resources/curve.cpp
  scene/resources/curve.h
  tests/scene/test_curve.h
Labels: enhancement, topic:core, for pr meeting

#55525 Fix editor crash when expanding/collapsing empty scene tree
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, crash

#55402 Fixed minimum size of `AABB` in `ImmediateMesh` to draw only one vertex
  scene/resources/immediate_mesh.cpp
  scene/resources/immediate_mesh.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, topic:rendering, topic:3d

#55392 Fixed gizmo bug when `Skeleton3DEditor` is re-generated
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#55530 Skip `script` property in remote object property list
  editor/debugger/editor_debugger_inspector.cpp
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.4

#55505 HarfBuzz: Update to version 3.1.2
  thirdparty/README.md
  thirdparty/harfbuzz/src/hb-array.hh
  thirdparty/harfbuzz/src/hb-map.hh
  thirdparty/harfbuzz/src/hb-ot-color-colr-table.hh
  thirdparty/harfbuzz/src/hb-ot-layout-common.hh
  thirdparty/harfbuzz/src/hb-ot-layout-gsubgpos.hh
  thirdparty/harfbuzz/src/hb-ot-layout.cc
  thirdparty/harfbuzz/src/hb-ot-post-table-v2subset.hh
  thirdparty/harfbuzz/src/hb-sanitize.hh
  thirdparty/harfbuzz/src/hb-serialize.hh
  thirdparty/harfbuzz/src/hb-set.hh
  thirdparty/harfbuzz/src/hb-subset-plan.cc
  thirdparty/harfbuzz/src/hb-subset-plan.hh
  thirdparty/harfbuzz/src/hb-version.h
Labels: enhancement, topic:thirdparty, topic:gui

#38604 Rename `AStar.get_points()` to `AStar.get_point_ids()` for clarity
  core/math/a_star.cpp
  core/math/a_star.h
  doc/classes/AStar.xml
  doc/classes/AStar2D.xml
Labels: enhancement, topic:core, breaks compat

#55232 Add "Replace in Files" functionality to text editors (3.x)
  editor/find_in_files.cpp
  editor/find_in_files.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: enhancement, topic:editor

#47294 allow variant construction in expressions
  core/math/expression.cpp
Labels: enhancement, topic:core

#53904 Bugfix on RenderingDevice::shader_compile_spirv_from_source() trying to compile empty stages
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering

#55364 Tweak ReflectionProbe update mode property hint to mention performance
  scene/3d/reflection_probe.cpp
Labels: enhancement, topic:editor, topic:3d

#55271 Fixed texture animation speed when using random lifetime
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particles_material.cpp
Labels: bug, topic:rendering, cherrypick:3.x

#55330 Document the VoxelGIData resource
  doc/classes/VoxelGIData.xml
Labels: enhancement, documentation

#55537 Fix various misused code tag in classref
  doc/classes/Camera3D.xml
  doc/classes/Line2D.xml
  doc/classes/Node.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/TranslationServer.xml
Labels: enhancement, documentation, cherrypick:3.x

#55539 Revert "Expose Variant operator= to GDNative"
  modules/gdnative/gdnative/variant.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/variant.h
Labels: bug, topic:gdnative, cherrypick:3.4

#49662 [3.x] Clarify docs of Transform.xform_inv, Transform2D.xform_inv
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
Labels: enhancement, documentation, cherrypick:3.4

#55540 [3.x] Skip `script` property in remote object property list
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor, cherrypick:3.4

#37626 Print warnings when using a Rect2 or AABB with a negative size
  core/math/aabb.cpp
  core/math/aabb.h
  core/math/rect2.cpp
  core/math/rect2.h
  doc/classes/AABB.xml
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
Labels: bug, topic:core, needs testing

#53287 Add `texture_changed` signal to `Sprite3D`
  doc/classes/Sprite3D.xml
  scene/3d/sprite_3d.cpp
Labels: bug, enhancement, topic:core, topic:editor

#55483 Make default/project theme wait for modules before initializing
  main/main.cpp
  scene/register_scene_types.cpp
  scene/register_scene_types.h
Labels: bug, topic:core, topic:gui

#55484 [3.x] Make default/project theme wait for modules before initializing
  main/main.cpp
  scene/register_scene_types.cpp
  scene/register_scene_types.h
Labels: bug, topic:core, topic:gui, cherrypick:3.4

#55550 [3.x] Allow scrolling theme preview when the control picker is active
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/theme_editor_preview.h
Labels: enhancement, topic:editor, topic:gui, cherrypick:3.4

#55548 Allow scrolling theme preview when the control picker is active
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/theme_editor_preview.h
  scene/gui/scroll_container.h
Labels: enhancement, topic:editor, topic:gui

#55474 Don't return reference on copy assignment operators
  core/math/audio_frame.h
  core/math/quaternion.h
  core/string/ustring.cpp
  core/string/ustring.h
  core/templates/local_vector.h
  core/templates/oa_hash_map.h
  core/templates/ordered_hash_map.h
  core/templates/vector.h
  core/templates/vmap.h
  editor/audio_stream_preview.h
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/editor_audio_buses.h
  editor/editor_export.cpp
  editor/editor_file_dialog.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.h
  modules/mono/editor/bindings_generator.h
  modules/mono/godotsharp_dirs.cpp
  modules/mono/mono_gc_handle.h
  modules/mono/mono_gd/gd_mono_log.cpp
  platform/iphone/export/export_plugin.cpp
  platform/osx/export/export_plugin.cpp
  scene/3d/soft_dynamic_body_3d.cpp
  scene/3d/soft_dynamic_body_3d.h
  scene/gui/file_dialog.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.h
  tests/core/templates/test_oa_hash_map.cpp
Labels: enhancement, topic:core, topic:codestyle

#55545 AABB: Improve docs and test for `has_point`
  doc/classes/AABB.xml
  tests/core/math/test_aabb.h
Labels: enhancement, topic:core, topic:tests

#54910 Set roughness/metallic to 1 when assigning a texture in BaseMaterial3D
  doc/classes/BaseMaterial3D.xml
  scene/resources/material.cpp
Labels: enhancement, topic:rendering, usability, topic:3d

#52916 Remove `default_env.tres` from generating in new projects
  doc/classes/ProjectSettings.xml
  editor/project_manager.cpp
Labels: enhancement, topic:core, topic:editor, for pr meeting

#55522 Automatically add root node when drag-and-dropping in 3D editor
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#55294 Add drag and drop to TextEdit
  doc/classes/TextEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, usability, topic:gui

#55568 Let MultiMeshInstances affect NavigationMeshes
  modules/navigation/navigation_mesh_generator.cpp
Labels: enhancement, topic:navigation, topic:3d

#55574 [3.x] Fix ^= operator in shaders
  servers/visual/shader_language.cpp
Labels: bug, topic:shaders

#55573 Fix `^=` operator in shaders
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#54833 Improve store_string() description
  doc/classes/File.xml
Labels: enhancement, topic:core, documentation, cherrypick:3.x

#54687 Show mouse position when clicking ruler tool
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x, topic:2d

#55578 Allow any kind of Mesh to be added to an EditorNode3DGizmo
  doc/classes/EditorNode3DGizmo.xml
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
Labels: bug, topic:editor, crash, topic:3d

#55579 [3.x] Allow any kind of Mesh to be added to a EditorSpatialGizmo
  doc/classes/EditorSpatialGizmo.xml
  editor/plugins/spatial_editor_plugin.h
  editor/spatial_editor_gizmos.cpp
Labels: bug, topic:editor, crash, topic:3d, cherrypick:3.4

#55576 Add bitwise operators to `VisualShaderNodeIntOp`
  doc/classes/VisualShaderNodeIntFunc.xml
  doc/classes/VisualShaderNodeIntOp.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:shaders

#55580 Fix mouse cursor shape and notification for force dragging
  scene/main/viewport.cpp
Labels: bug, cherrypick:3.x, topic:gui

#55470 Change gdnative interface so that Godot object initialization is done from the extension side.
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
  core/extension/native_extension.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/make_virtuals.py
  core/object/object.cpp
  core/object/object.h
Labels: bug, enhancement, topic:gdnative

#55520 Sort and group theme properties in docs, improve formatting for theme and enums
  core/doc_data.h
  doc/classes/Button.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/CodeEdit.xml
  doc/classes/ColorPicker.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/FileDialog.xml
  doc/classes/GraphEdit.xml
  doc/classes/GraphNode.xml
  doc/classes/HScrollBar.xml
  doc/classes/HSlider.xml
  doc/classes/HSplitContainer.xml
  doc/classes/ItemList.xml
  doc/classes/Label.xml
  doc/classes/LineEdit.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/PopupMenu.xml
  doc/classes/ProgressBar.xml
  doc/classes/RichTextLabel.xml
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  doc/classes/TextEdit.xml
  doc/classes/Tree.xml
  doc/classes/VScrollBar.xml
  doc/classes/VSlider.xml
  doc/classes/VSplitContainer.xml
  doc/classes/Window.xml
  editor/doc_tools.cpp
  editor/editor_help.cpp
  editor/editor_help.h
Labels: enhancement, topic:editor, documentation

#55570 Expose AudioStreamMP3 loop properties to the editor inspector
  modules/minimp3/audio_stream_mp3.cpp
Labels: bug, topic:audio

#55590 Popup shader creation dialog at selecting a shader resource at the Create Resource Dialog in FileSystem
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/scene_tree_dock.cpp
  editor/shader_create_dialog.cpp
  editor/shader_create_dialog.h
Labels: enhancement, topic:editor, usability, topic:shaders

#55600 Fix WorldEnvironment node warning about unset resources
  scene/3d/world_environment.cpp
Labels: enhancement, topic:editor

#55591 Fix Ring-Axis parameter being always visible
  doc/classes/ParticlesMaterial.xml
  scene/resources/particles_material.cpp
Labels: bug, topic:editor, cherrypick:3.4

#55605 Fix typo in `gdscript_parser`
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#55595 Fixed TextEdit underline draw pos
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#55613 Disable base type changing when no type is selected in the theme editor
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#55611 [3.x] Improve save handling for built-in scripts
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  modules/visual_script/visual_script_editor.cpp
Labels: enhancement, topic:editor, usability

#55563 Fix C# `get_all_delegates` method for generic classes
  modules/mono/glue/GodotSharp/GodotSharp/Core/MarshalUtils.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
Labels: bug, topic:mono

#55564 [3.x] Fix C# `get_all_delegates` method for generic classes
  modules/mono/glue/GodotSharp/GodotSharp/Core/MarshalUtils.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
  modules/mono/mono_gd/gd_mono_class.cpp
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
Labels: bug, topic:mono

#53241 [4.x] Auto-Increment Debugger Port (And a bit of cleanup)
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/editor_debugger_server.cpp
  editor/debugger/editor_debugger_server.h
  editor/editor_node.cpp
  editor/editor_run.cpp
  editor/editor_run.h
  modules/gdscript/language_server/gdscript_language_server.h
  modules/websocket/editor_debugger_server_websocket.cpp
  modules/websocket/editor_debugger_server_websocket.h
Labels: enhancement, topic:editor, topic:network

#55631 Bind column_titles_visible as property
  doc/classes/Tree.xml
  scene/gui/tree.cpp
Labels: enhancement, cherrypick:3.x, topic:gui

#55559 Make overridden properties link to parent definition
  core/doc_data.h
  doc/classes/AcceptDialog.xml
  doc/classes/AnimationNodeStateMachinePlayback.xml
  doc/classes/BaseButton.xml
  doc/classes/ButtonGroup.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/CodeEdit.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/ConfirmationDialog.xml
  doc/classes/Container.xml
  doc/classes/DirectionalLight3D.xml
  doc/classes/EditorCommandPalette.xml
  doc/classes/EditorFileDialog.xml
  doc/classes/EditorInspector.xml
  doc/classes/EditorSpinSlider.xml
  doc/classes/FileDialog.xml
  doc/classes/GraphEdit.xml
  doc/classes/GraphNode.xml
  doc/classes/ItemList.xml
  doc/classes/Label.xml
  doc/classes/LineEdit.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/NinePatchRect.xml
  doc/classes/OptionButton.xml
  doc/classes/PanelContainer.xml
  doc/classes/ParallaxBackground.xml
  doc/classes/PhysicsBody2D.xml
  doc/classes/Popup.xml
  doc/classes/ProgressBar.xml
  doc/classes/RichTextLabel.xml
  doc/classes/ScriptCreateDialog.xml
  doc/classes/ScrollBar.xml
  doc/classes/ScrollContainer.xml
  doc/classes/Slider.xml
  doc/classes/SpotLight3D.xml
  doc/classes/TextEdit.xml
  doc/classes/TextureProgressBar.xml
  doc/classes/TextureRect.xml
  doc/classes/Tree.xml
  doc/classes/VScrollBar.xml
  doc/classes/VSlider.xml
  doc/classes/VehicleBody3D.xml
  doc/classes/ViewportTexture.xml
  doc/tools/make_rst.py
  editor/doc_tools.cpp
  editor/editor_help.cpp
  modules/mobile_vr/doc_classes/MobileVRInterface.xml
Labels: enhancement, topic:editor, documentation

#55597 Fix C# `Godot.SourceGenerators` for generic classes
  modules/mono/SdkPackageVersions.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/Generic.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGenerator.cs
Labels: bug, topic:mono

#55642 Document SceneTreeTimer being freed automatically when elapsed
  doc/classes/SceneTreeTimer.xml
Labels: enhancement, documentation

#55643 Document SceneTreeTimer being freed automatically when elapsed (3.x)
  doc/classes/SceneTreeTimer.xml
Labels: enhancement, documentation, cherrypick:3.4

#55652 Fix link to the supported image formats in the Image class
  doc/classes/Image.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:3.4

#55658 Fix `EditorPlugin.remove_inspector_plugin()` instance cleanup
  editor/editor_inspector.cpp
Labels: bug, topic:editor, topic:plugin, cherrypick:3.x, cherrypick:3.4

#55649 Use tooltips instead of labels for VoxelGI and GPUParticlesCollisionSDF
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.h
  editor/plugins/voxel_gi_editor_plugin.cpp
  editor/plugins/voxel_gi_editor_plugin.h
Labels: bug, enhancement, topic:editor, topic:3d

#55651 Remove or make verbose some debugging prints
  editor/editor_folding.cpp
  editor/editor_node.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  modules/gltf/gltf_document.cpp
  scene/resources/material.cpp
  scene/resources/mesh.cpp
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
Labels: enhancement, topic:core

#47257 Adds proxy support for HTTPClient
  core/io/http_client.cpp
  core/io/http_client.h
  core/io/http_client_tcp.cpp
  core/io/http_client_tcp.h
  doc/classes/HTTPClient.xml
Labels: bug, enhancement, topic:network, cherrypick:3.x

#34005 Expose `max_axis_index` and `max_axis_index` for Vector2(i)
  core/math/bvh_split.inc
  core/math/convex_hull.cpp
  core/math/vector2.h
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/variant/binder_common.h
  core/variant/variant_call.cpp
  core/variant/variant_internal.h
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  editor/plugins/tiles/tile_map_editor.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
Labels: enhancement, topic:core, topic:mono, for pr meeting, topic:2d

#55661 Unexpose joy_connection_changed method
  core/input/input.cpp
  doc/classes/Input.xml
Labels: enhancement, topic:input, breaks compat

#55544 Mitigate crash in AudioStreamPlayer3D when a camera has null viewport
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:audio, crash, topic:3d

#55653 Allow to add RESET values from existing keys
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x, topic:animation

#55500 Misc improvements to various docs
  doc/classes/Camera2D.xml
  doc/classes/InputEventScreenTouch.xml
  doc/classes/Node.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
Labels: enhancement, documentation

#55603 Add an `OS.crash()` method for testing system crash handler
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#55667 Document physics simulation being limited to 8 ticks per rendered frame
  doc/classes/Engine.xml
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation

#55602 Improve RigidDynamicBody contacts in 2D and 3D
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  servers/physics_2d/godot_body_2d.h
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_body_pair_2d.h
  servers/physics_2d/godot_physics_server_2d.cpp
  servers/physics_2d/godot_physics_server_2d.h
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_2d/godot_space_2d.h
  servers/physics_2d/godot_step_2d.cpp
  servers/physics_2d/godot_step_2d.h
  servers/physics_3d/godot_body_pair_3d.cpp
  servers/physics_3d/godot_body_pair_3d.h
  servers/physics_3d/godot_physics_server_3d.cpp
  servers/physics_3d/godot_physics_server_3d.h
  servers/physics_3d/godot_space_3d.cpp
  servers/physics_3d/godot_space_3d.h
  servers/physics_3d/godot_step_3d.cpp
  servers/physics_3d/godot_step_3d.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_wrap_mt.h
Labels: bug, topic:physics, breaks compat, topic:2d, topic:3d

#55614 Add an `OS.crash()` method for testing system crash handler (3.x)
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#55624 Prevent LSP adding signal func to non GDScripts
  modules/gdscript/language_server/gdscript_workspace.cpp
Labels: bug, topic:editor, topic:mono, cherrypick:3.x, cherrypick:3.4

#55666 Remove ProximityGroup3D node
  doc/classes/ProximityGroup3D.xml
  editor/icons/ProximityGroup3D.svg
  scene/3d/proximity_group_3d.cpp
  scene/3d/proximity_group_3d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:core, breaks compat, topic:3d

#55671 Fix error when adding RESET key for new track
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, cherrypick:3.x, topic:animation

#55662 Rename minimum_size_changed() method
  doc/classes/Control.xml
  editor/animation_track_editor.cpp
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/plugins/theme_editor_preview.cpp
  scene/gui/box_container.cpp
  scene/gui/button.cpp
  scene/gui/center_container.cpp
  scene/gui/container.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/line_edit.cpp
  scene/gui/link_button.cpp
  scene/gui/margin_container.cpp
  scene/gui/nine_patch_rect.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_container.cpp
  scene/gui/slider.cpp
  scene/gui/spin_box.cpp
  scene/gui/split_container.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_container.cpp
  scene/gui/texture_button.cpp
  scene/gui/texture_progress_bar.cpp
  scene/gui/texture_rect.cpp
  scene/gui/tree.cpp
  scene/gui/video_player.cpp
Labels: enhancement, breaks compat, topic:gui

#55655 Replace deprecated `GetItemCount()` with `ItemsCount`
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
Labels: enhancement, topic:mono

#55676 [3.x] Fix atlassed lightmaps not visible on GL ES 3
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, regression, topic:3d

#55659 Fix crash when `update()` is called inside `_draw()`
  scene/main/canvas_item.cpp
Labels: bug, topic:core, crash, regression

#55685 Rename `items_count` property to `item_count`
  doc/classes/ItemList.xml
  doc/classes/MenuButton.xml
  doc/classes/PopupMenu.xml
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  scene/gui/item_list.cpp
  scene/gui/menu_button.cpp
  scene/gui/popup_menu.cpp
Labels: enhancement, topic:gui

#55673 [3.4] Cutdown version of RID fixes to sync with 3.5 RID handles
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering

#55670 Rename `VideoPlayer` to `VideoStreamPlayer` for consistency
  SConstruct
  doc/classes/VideoStream.xml
  doc/classes/VideoStreamPlayer.xml
  scene/gui/video_stream_player.cpp
  scene/gui/video_stream_player.h
  scene/register_scene_types.cpp
  servers/audio/audio_rb_resampler.cpp
Labels: enhancement, topic:core, breaks compat

#55688 Revert "Fix particles emitting at old location"
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, topic:rendering, cherrypick:3.4

#55607 Fix for double use of seed in random Particle shader variables.
  scene/resources/particles_material.cpp
Labels: bug, topic:rendering, cherrypick:3.4

#55526 [3.x] Sort and group theme properties in docs, improve formatting for theme and enums
  doc/classes/Button.xml
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/ColorPicker.xml
  doc/classes/ColorPickerButton.xml
  doc/classes/FileDialog.xml
  doc/classes/GraphEdit.xml
  doc/classes/GraphNode.xml
  doc/classes/HScrollBar.xml
  doc/classes/HSlider.xml
  doc/classes/HSplitContainer.xml
  doc/classes/ItemList.xml
  doc/classes/Label.xml
  doc/classes/LineEdit.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/PopupMenu.xml
  doc/classes/ProgressBar.xml
  doc/classes/RichTextLabel.xml
  doc/classes/TabContainer.xml
  doc/classes/Tabs.xml
  doc/classes/TextEdit.xml
  doc/classes/ToolButton.xml
  doc/classes/Tree.xml
  doc/classes/VScrollBar.xml
  doc/classes/VSlider.xml
  doc/classes/VSplitContainer.xml
  doc/classes/WindowDialog.xml
  editor/doc/doc_data.cpp
  editor/doc/doc_data.h
  editor/editor_help.cpp
  editor/editor_help.h
Labels: enhancement, topic:editor, documentation, cherrypick:3.4

#55480 [3.x] Fix UI navigation with joysticks
  scene/main/viewport.cpp
Labels: bug, topic:input, regression, cherrypick:3.4

#55675 Rename C# `Quaternion()` -> `GetQuaternion()`
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
Labels: enhancement, topic:mono, breaks compat

#55689 Fix error emitting when called new shader dialog from resource dialog
  editor/create_dialog.cpp
Labels: bug, topic:editor

#35901 PackedByteArray, Array slice end exclusive, rename PackedByteArray subarray to slice
  core/multiplayer/multiplayer_replicator.cpp
  core/templates/vector.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant_call.cpp
  doc/classes/Array.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering_server.cpp
  tests/core/templates/test_vector.h
  tests/core/variant/test_array.h
Labels: enhancement, discussion, topic:core, breaks compat, for pr meeting

#52020 Document that RigidBody angular velocity is in degrees per second
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/Physics2DDirectBodyState.xml
  doc/classes/PhysicsDirectBodyState.xml
  doc/classes/RigidBody.xml
  doc/classes/RigidBody2D.xml
Labels: enhancement, documentation, cherrypick:3.3, cherrypick:3.4

#55701 Fix leaking environment RIDs in GLES2
  drivers/gles2/rasterizer_scene_gles2.cpp
Labels: bug, topic:rendering, cherrypick:3.4

#55706 Fix bad mouse offset with Control::wrap_mouse()
  scene/gui/control.cpp
Labels: bug, topic:gui

#55677 Rename GPUParticles attractor and collision nodes to have a 3D suffix
  doc/classes/GPUParticlesAttractorBox3D.xml
  doc/classes/GPUParticlesAttractorSphere3D.xml
  doc/classes/GPUParticlesAttractorVectorField3D.xml
  doc/classes/GPUParticlesCollisionBox3D.xml
  doc/classes/GPUParticlesCollisionHeightField3D.xml
  doc/classes/GPUParticlesCollisionSDF3D.xml
  doc/classes/GPUParticlesCollisionSphere3D.xml
  editor/editor_node.cpp
  editor/icons/GPUParticlesAttractorBox3D.svg
  editor/icons/GPUParticlesAttractorSphere3D.svg
  editor/icons/GPUParticlesAttractorVectorField3D.svg
  editor/icons/GPUParticlesCollisionBox3D.svg
  editor/icons/GPUParticlesCollisionHeightField3D.svg
  editor/icons/GPUParticlesCollisionSDF3D.svg
  editor/icons/GPUParticlesCollisionSphere3D.svg
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.h
  editor/plugins/node_3d_editor_gizmos.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/gpu_particles_collision_3d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:core, topic:3d

#55694 ScrollContainer's scrollbar visibility is now enum
  doc/classes/EditorInspector.xml
  doc/classes/ScrollContainer.xml
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  editor/project_manager.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: enhancement, breaks compat, topic:gui

#55672 Various fixes to C# documentation
  modules/mono/glue/GodotSharp/GodotSharp/Core/GD.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/MathfEx.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NodePath.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
Labels: enhancement, documentation, topic:mono, cherrypick:3.x

#55719 RID tracked handles better error messages for dangling RIDs
  core/rid_handle.cpp
  core/rid_handle.h
Labels: enhancement, topic:core

#51381 Make `compile` shader function to use struct instead long parameter list
  drivers/gles3/shader_compiler_gles3.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  servers/rendering/renderer_rd/shader_compiler_rd.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  tests/servers/test_shader_lang.cpp
Labels: enhancement, topic:shaders, topic:codestyle

#55725 Improve PopupMenu doc about id and index
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
Labels: enhancement, documentation, topic:gui

#55728 Fix custom built-in script names
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:gdscript, topic:editor, usability, regression

#55709 Expose `ScriptEditor::edit` to scripting
  doc/classes/EditorInterface.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Labels: enhancement, topic:editor, topic:plugin, cherrypick:3.x, cherrypick:3.4

#55745 Fix some containers disabling wrong scrollbars
  editor/editor_properties.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
Labels: bug, topic:editor, regression

#55692 Add CanvasItem mode support to the MaterialEditor
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
Labels: enhancement, topic:editor

#49473 Fix auto reload scripts on external change
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript, topic:editor

#55748 Fix iterator in _validate_property() for AnimatedSprite 2D and 3D
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, regression, topic:2d, topic:3d

#55594 Fix files_dropped in HTML5 export mono builds.
  platform/javascript/js/libs/library_godot_input.js
Labels: bug, platform:html5, topic:porting, cherrypick:3.x, cherrypick:3.4

#55717 [3.x] Fixed texture animation speed when using random lifetime
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/resources/particles_material.cpp
Labels: bug, topic:rendering

#54650 [3.x] Clear freed RIDs to fix disappearing meshes and id_map errors
  editor/plugins/spatial_editor_plugin.cpp
  editor/spatial_editor_gizmos.cpp
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map_editor_plugin.cpp
  scene/2d/tile_map.cpp
Labels: bug, topic:core, topic:rendering, regression, topic:3d, cherrypick:3.4

#55759 Enable configuration of the `android:excludeFromRecents` activity attribute
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, cherrypick:3.x, topic:export, cherrypick:3.4

#55768 [3.x] Add support for configuring the xr hand tracking frequency mode
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr, topic:export, cherrypick:3.4

#55766 Increased time delay on selection when opening a popup
  scene/gui/popup_menu.cpp
Labels: enhancement, usability, topic:gui

#55763 Added completion for uniform hints in a shader
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:editor, usability, topic:shaders

#55739 Optimise TextEdit base operations
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:gui, performance

#55572 Add a double-precision editor build to CI
  .github/workflows/linux_builds.yml
  drivers/gles3/shader_gles3.cpp
  gles3_builders.py
  modules/gltf/gltf_animation.h
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
  scene/resources/animation.cpp
  scene/resources/font.cpp
  scene/resources/font.h
  scene/resources/importer_mesh.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/text_server.cpp
Labels: enhancement, topic:buildsystem, topic:rendering

#55704 Fix misuse of Vulkan enum value
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering

#55263 Random initial color for all Particle Nodes
  doc/classes/CPUParticles2D.xml
  doc/classes/CPUParticles3D.xml
  doc/classes/ParticlesMaterial.xml
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
Labels: enhancement, feature proposal, topic:rendering

#53323 ResourceImporterScene: Add error when "default" is not defined to create clips
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:editor, topic:import, cherrypick:3.x

#55756 Center the indeterminate spinner on HTML5 page
  misc/dist/html/full-size.html
Labels: bug, platform:html5, topic:porting, cherrypick:3.x

#55762 Handle test body motion with 0 margin
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_3d/godot_space_3d.cpp
Labels: bug, topic:physics, cherrypick:3.x, topic:2d, topic:3d

#54002 Improve accent color modulate visibility for the Anchor editor icon
  editor/icons/Anchor.svg
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#55782 [3.x] Particles2D visibility rect - only show on selected nodes
  editor/plugins/particles_2d_editor_plugin.cpp
  editor/plugins/particles_2d_editor_plugin.h
  scene/2d/particles_2d.cpp
  scene/2d/particles_2d.h
Labels: enhancement, topic:editor, usability

#55623 Refactor constant suffix parsing in a shader
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, enhancement, topic:shaders

#55784 Fix "Lookup Symbol" on global class members not switching to the class' script
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#55783 [3.x] Fix broken links in Class Reference
  doc/classes/ArrayMesh.xml
  doc/classes/CharFXTransform.xml
  doc/classes/Control.xml
  doc/classes/Dictionary.xml
  doc/classes/Directory.xml
  doc/classes/EditorScenePostImport.xml
  doc/classes/File.xml
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
  doc/classes/JNISingleton.xml
  doc/classes/JavaScript.xml
  doc/classes/MultiMesh.xml
  doc/classes/MultiMeshInstance.xml
  doc/classes/Mutex.xml
  doc/classes/Node.xml
  doc/classes/OS.xml
  doc/classes/Object.xml
  doc/classes/Particles.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Reference.xml
  doc/classes/Resource.xml
  doc/classes/RichTextEffect.xml
  doc/classes/RichTextLabel.xml
  doc/classes/SceneTree.xml
  doc/classes/Script.xml
  doc/classes/Semaphore.xml
  doc/classes/Shader.xml
  doc/classes/ShaderMaterial.xml
  doc/classes/String.xml
  doc/classes/Theme.xml
  doc/classes/Thread.xml
  doc/classes/Viewport.xml
  doc/classes/VisualServer.xml
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeInput.xml
Labels: bug, documentation, cherrypick:3.4

#55723 VehicleWheel can now return the surface it's colliding with.
  doc/classes/VehicleWheel3D.xml
  scene/3d/vehicle_body_3d.cpp
  scene/3d/vehicle_body_3d.h
Labels: enhancement, topic:physics, cherrypick:3.x, topic:3d

#55788 [3.x] Random initial color for all Particle Nodes
  doc/classes/CPUParticles.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/ParticlesMaterial.xml
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles.cpp
  scene/3d/cpu_particles.h
  scene/resources/particles_material.cpp
  scene/resources/particles_material.h
Labels: enhancement, topic:rendering

#51235 Fix AnimatedSprite2D playing Setters.
  doc/classes/AnimatedSprite2D.xml
  scene/2d/animated_sprite_2d.cpp
  scene/2d/animated_sprite_2d.h
Labels: enhancement, topic:core, cherrypick:3.x, topic:codestyle

#40547 Add get_contents method to Directory class
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/Directory.xml
Labels: enhancement, topic:core, usability, breaks compat, for pr meeting

#55770 Rename `hint_aniso` to `hint_anisotropy` in the shader language
  doc/classes/VisualShaderNodeTextureUniform.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  scene/resources/material.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, breaks compat, topic:shaders

#55797 Fix wrong internal children usage in BoxContainer
  scene/gui/box_container.cpp
Labels: bug, regression, topic:gui

#55519 Draw the filled part of the slider on float EditorSpinSliders
  editor/editor_spin_slider.cpp
Labels: enhancement, topic:editor, usability

#55521 Draw the filled part of the slider on float EditorSpinSliders (3.x)
  editor/editor_spin_slider.cpp
Labels: enhancement, topic:editor, usability

#55792 Misc build system fixes
  .github/workflows/linux_builds.yml
  modules/gltf/gltf_document.cpp
  platform/android/detect.py
  platform/linuxbsd/detect.py
  platform/osx/detect.py
  platform/windows/detect.py
  thirdparty/vhacd/0004-fix-uwp-arm-build.patch
  thirdparty/vhacd/inc/btScalar.h
Labels: bug, topic:buildsystem, cherrypick:3.x

#55702 Add physics solver settings to project settings
  doc/classes/Joint2D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Shape2D.xml
  doc/classes/Shape3D.xml
  modules/bullet/space_bullet.cpp
  scene/resources/shape_3d.cpp
  scene/resources/shape_3d.h
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_2d/godot_space_2d.h
  servers/physics_3d/godot_space_3d.cpp
  servers/physics_3d/godot_space_3d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
Labels: enhancement, topic:physics, topic:2d, topic:3d

#55802 [3.x] Misc build system fixes
  modules/gltf/gltf_document.cpp
  platform/android/detect.py
  thirdparty/vhacd/0004-fix-uwp-arm-build.patch
  thirdparty/vhacd/inc/btScalar.h
Labels: bug, topic:buildsystem, cherrypick:3.4

#55804 Revert "Fix auto reload scripts on external change"
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript, crash, regression

#55801 Added check to get_all_locales to avoid adding duplicate locales to array
  core/string/translation.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.4

#55773 Fix rigid body ray cast CCD in 2D and 3D Godot Physics
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_body_pair_2d.h
  servers/physics_3d/godot_body_pair_3d.cpp
  servers/physics_3d/godot_body_pair_3d.h
Labels: bug, topic:physics, topic:2d, topic:3d

#55736 Improve RigidDynamicBody force and torque API
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/RigidDynamicBody2D.xml
  doc/classes/RigidDynamicBody3D.xml
  scene/2d/physics_body_2d.cpp
  scene/2d/physics_body_2d.h
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  servers/physics_2d/godot_body_2d.cpp
  servers/physics_2d/godot_body_2d.h
  servers/physics_2d/godot_body_direct_state_2d.cpp
  servers/physics_2d/godot_body_direct_state_2d.h
  servers/physics_2d/godot_physics_server_2d.cpp
  servers/physics_2d/godot_physics_server_2d.h
  servers/physics_3d/godot_body_3d.cpp
  servers/physics_3d/godot_body_3d.h
  servers/physics_3d/godot_body_direct_state_3d.cpp
  servers/physics_3d/godot_body_direct_state_3d.h
  servers/physics_3d/godot_physics_server_3d.cpp
  servers/physics_3d/godot_physics_server_3d.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_wrap_mt.h
Labels: bug, enhancement, usability, topic:physics, breaks compat, topic:2d, topic:3d

#55803 Only print OpenGL 2D batching status when in verbose mode
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: enhancement, topic:core

#55808 Fix OGG streams never ending playback
  modules/vorbis/audio_stream_ogg_vorbis.cpp
Labels: bug, topic:audio, regression

#55852 Fix bad mouse offset to show tooltips in Tree
  scene/main/viewport.cpp
Labels: bug, topic:core, regression

#55860 Fix typo in create_outline error message.
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
Labels: enhancement, topic:codestyle

#55828 Document RigidBody2D/3D and particles' angular velocity units
  doc/classes/CPUParticles3D.xml
  doc/classes/ParticlesMaterial.xml
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/RigidDynamicBody2D.xml
  doc/classes/RigidDynamicBody3D.xml
Labels: enhancement, documentation
