Repository godotengine/godot, pull requests merged in 2022-05, with the labels that each got.

#60677 Use linear mipmap sampling in ToneMapper
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
Labels: bug, topic:rendering, regression

#60682 Add `hint_color` support for `vec3` in shaders
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:rendering, topic:shaders

#60681 Validate image size for `Noise` get image methods
  modules/noise/noise.cpp
Labels: bug, topic:core, crash

#60683 Keep logo aspect ratio in About dialog
  editor/editor_about.cpp
Labels: bug, topic:editor

#60655 Add get_region_rid() to NavigationRegion2D and NavigationRegion3D
  doc/classes/NavigationRegion2D.xml
  doc/classes/NavigationRegion3D.xml
  scene/2d/navigation_region_2d.cpp
  scene/2d/navigation_region_2d.h
  scene/3d/navigation_region_3d.cpp
  scene/3d/navigation_region_3d.h
Labels: enhancement, topic:navigation

#60661 [3.x] Add get_region_rid() to NavigationPolygonInstance and NavigationMeshInstance
  doc/classes/NavigationMeshInstance.xml
  doc/classes/NavigationPolygonInstance.xml
  scene/2d/navigation_polygon.cpp
  scene/2d/navigation_polygon.h
  scene/3d/navigation_mesh_instance.cpp
  scene/3d/navigation_mesh_instance.h
Labels: enhancement, topic:navigation

#60679 [3.x] Fix left aligned integer sign in string formatting
  core/ustring.cpp
  main/tests/test_string.cpp
Labels: bug, topic:core, cherrypick:3.4

#60678 Fix left aligned integer sign in string formatting
  core/string/ustring.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core

#60693 Change Place Random Tiles to an icon
  editor/icons/RandomNumberGenerator.svg
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_map_editor.h
Labels: enhancement, topic:editor, usability, topic:2d

#60551 Add a method for obtaining display cutouts on Android
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:android, topic:porting

#60552 [3.x] Add a method for obtaining display cutouts on Android
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:porting

#60700 [3.x] Backport inspector preview for `BitMap`
  editor/editor_node.cpp
  editor/plugins/bit_map_editor_plugin.cpp
  editor/plugins/bit_map_editor_plugin.h
Labels: enhancement, topic:editor

#60282 [3.x] Draw relationship lines for items offscreen
  scene/gui/tree.cpp
Labels: enhancement, usability, topic:gui

#60638 Update Meta hand tracking version
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr

#60639 [3.x] Update Meta hand tracking version
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr, cherrypick:3.4

#60656 TileMap: Use const ref for all Vector2 parameters
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: enhancement, topic:2d

#60626 [3.x] Fix incorrect usage for some export variables
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#60527 [3.x] Implement Scene Unique Nodes
  core/string_name.h
  core/ustring.cpp
  doc/classes/Node.xml
  editor/icons/icon_scene_unique_name.svg
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
Labels: feature proposal, topic:core, topic:editor

#60529 Validate theme type/item names
  scene/resources/theme.cpp
  scene/resources/theme.h
  tests/scene/test_theme.h
  tests/test_main.cpp
Labels: bug, topic:gui

#60530 [3.x] Validate theme type/item names
  main/tests/test_main.cpp
  main/tests/test_theme.cpp
  main/tests/test_theme.h
  main/tests/test_tools.h
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: bug, topic:gui

#59952 Document workarounds for 2D line and polygon antialiasing
  doc/classes/CanvasItem.xml
  doc/classes/Line2D.xml
  doc/classes/Polygon2D.xml
Labels: enhancement, documentation, cherrypick:3.4

#60707 Add Copy UID option to filesystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, usability

#60709 Fix resource dependence renaming.
  core/io/resource_format_binary.cpp
  scene/resources/resource_format_text.cpp
Labels: bug, platform:windows, topic:editor, regression

#60674 Fix incorrect placement of material sphere and mesh at the same time in material preview
  editor/import/scene_import_settings.cpp
Labels: bug, topic:editor, topic:import, topic:3d

#60705 Viewport would be cleared even when clear_mode was set to never clear
  servers/rendering/renderer_viewport.cpp
Labels: bug, topic:rendering

#49952 Print warning in SpatialMaterial when depth and triplanar are active
  scene/resources/material.cpp
Labels: enhancement, topic:rendering, usability, topic:3d

#60713 Fix tscn not listed as Resource extension
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core, topic:editor, cherrypick:3.x

#60444 Add detail to some error messages in wsl_client
  modules/websocket/wsl_client.cpp
Labels: enhancement, topic:network

#60601 Add GDNativeInterface::get_library_path to GDExtension
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
  core/extension/native_extension.cpp
  core/extension/native_extension.h
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/iphone/os_iphone.h
  platform/iphone/os_iphone.mm
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, topic:gdextension

#58777 Reverse tangents of capsule mesh
  scene/resources/primitive_meshes.cpp
Labels: bug, topic:rendering, topic:3d

#60721 Document RichTextLabel append_bbcode/parse_bbcode always return OK
  doc/classes/RichTextLabel.xml
Labels: enhancement, documentation, topic:gui

#60553 Fix screen_get_usable_rect returning display safe area
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/iphone/display_server_iphone.h
  platform/iphone/display_server_iphone.mm
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, platform:ios, platform:android, topic:porting

#60689 Use CollisionObject3D API when baking the navmesh with static colliders
  modules/navigation/navigation_mesh_generator.cpp
Labels: enhancement, cherrypick:3.x, topic:navigation, topic:3d

#60663 Fix GCC warning with -Waggressive-loop-optimizations due to overflow
  thirdparty/noise/FastNoiseLite.h
  thirdparty/noise/patches/FastNoiseLite.patch
Labels: bug, topic:thirdparty

#60644 Change 'throws an error' to 'prints an error' in classref
  doc/classes/Object.xml
  doc/classes/Performance.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:3.4

#60722 SCons: Don't enable any `-Werror=return-type` outside `werror=yes`
  SConstruct
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.4

#60224 Fix simultaneous touches for different touch types in iOS
  platform/iphone/godot_view_gesture_recognizer.mm
Labels: bug, platform:ios, topic:porting, topic:input, cherrypick:3.x, cherrypick:3.4

#24402 Improvements to AnimationNodeStateMachine
  doc/classes/AnimationNodeStateMachine.xml
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
  scene/animation/animation_tree.h
Labels: enhancement, topic:editor, usability, for pr meeting, topic:animation

#60627 Rename Transform2D and Basis `elements` to `columns` and `rows` respectively
  core/io/marshalls.cpp
  core/io/resource_format_binary.cpp
  core/math/basis.cpp
  core/math/basis.h
  core/math/camera_matrix.cpp
  core/math/math_fieldwise.cpp
  core/math/rect2.cpp
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/transform_3d.h
  core/variant/variant.cpp
  core/variant/variant_parser.cpp
  core/variant/variant_setget.cpp
  core/variant/variant_setget.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/shaders/SCsub
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/mesh_storage.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/import/collada.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/property_editor.cpp
  gles3_builders.py
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/mono_gd/gd_mono_marshal.h
  modules/text_server_adv/text_server_adv.cpp
  modules/webxr/webxr_interface_js.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/node_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/animation/tween.cpp
  scene/main/canvas_layer.cpp
  scene/main/viewport.cpp
  scene/resources/multimesh.cpp
  scene/resources/texture.cpp
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_collision_solver_2d.cpp
  servers/physics_2d/godot_collision_solver_2d_sat.cpp
  servers/physics_2d/godot_shape_2d.h
  servers/physics_2d/godot_space_2d.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_viewport.cpp
  servers/xr_server.cpp
Labels: enhancement, topic:core

#59321 Decrease default sizes of some primitive and CSG meshes for consistency
  doc/classes/PrismMesh.xml
  doc/classes/SphereMesh.xml
  doc/classes/TubeTrailMesh.xml
  modules/csg/csg_shape.cpp
  modules/csg/doc_classes/CSGSphere3D.xml
  scene/resources/primitive_meshes.h
Labels: enhancement, topic:core, breaks compat, for pr meeting, topic:3d

#60571 Inlcude CanvasLayer transform into calculation of Control screen position
  scene/gui/control.cpp
Labels: bug, topic:rendering, regression, topic:2d

#60583 Implement placeholder assets
  doc/classes/PlaceholderCubemap.xml
  doc/classes/PlaceholderCubemapArray.xml
  doc/classes/PlaceholderMaterial.xml
  doc/classes/PlaceholderMesh.xml
  doc/classes/PlaceholderTexture2D.xml
  doc/classes/PlaceholderTexture2DArray.xml
  doc/classes/PlaceholderTexture3D.xml
  doc/classes/PlaceholderTextureLayered.xml
  scene/register_scene_types.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: enhancement, topic:core

#60729 Fix state machine box selection
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, topic:editor, topic:animation

#60727 Rename Basis `get_axis` to `get_column`, remove redundant methods
  core/math/basis.cpp
  core/math/basis.h
  core/math/transform_2d.h
  core/math/transform_3d.cpp
  core/variant/variant_setget.cpp
  core/variant/variant_setget.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  modules/csg/csg.cpp
  modules/gltf/gltf_document.cpp
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/raycast/raycast_occlusion_cull.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/area_3d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/path_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/soft_dynamic_body_3d.cpp
  scene/3d/vehicle_body_3d.cpp
  scene/3d/xr_nodes.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/mesh.cpp
  scene/resources/visual_shader_nodes.cpp
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_3d/godot_collision_solver_3d.cpp
  servers/physics_3d/godot_collision_solver_3d_sat.cpp
  servers/physics_3d/godot_shape_3d.cpp
  servers/physics_3d/joints/godot_cone_twist_joint_3d.cpp
  servers/physics_3d/joints/godot_generic_6dof_joint_3d.cpp
  servers/physics_3d/joints/godot_hinge_joint_3d.cpp
  servers/physics_3d/joints/godot_slider_joint_3d.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/xr_server.cpp
  tests/core/math/test_basis.h
Labels: enhancement, topic:core

#60734 [HTML5] Disable zstd weak symbols, add missing JS signature.
  platform/javascript/detect.py
  platform/javascript/js/libs/library_godot_display.js
Labels: bug, platform:html5, topic:buildsystem, topic:porting, cherrypick:3.x, cherrypick:3.4

#60737 [3.x] Fix inspecting nested dictionaries/arrays when debugging
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor, cherrypick:3.4

#51682 OS::is_process_running function.
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, topic:core, cherrypick:3.x

#60731 Clarify InputMap.action_get_events() in the editor
  doc/classes/InputMap.xml
Labels: enhancement, documentation, topic:input, cherrypick:3.x, cherrypick:3.4

#60751 [4.0] Fix export plugins after embedded PCK loading changes.
  editor/editor_export.cpp
  editor/editor_export.h
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Labels: bug, platform:windows, regression, topic:export

#60752 [3.x] Fix export plugins after embedded PCK loading changes.
  editor/editor_export.cpp
  editor/editor_export.h
  platform/windows/export/export.cpp
Labels: bug, platform:windows, regression, topic:export

#60750 Handle AssetLib repository config error
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: bug, topic:editor, topic:assetlib

#60758 [3.x] Handle AssetLib repository config error
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Labels: bug, topic:editor, topic:assetlib

#60759 Physics Interpolation - improve warnings with NodePath
  servers/visual/rasterizer.cpp
  servers/visual/visual_server_scene.cpp
Labels: enhancement, topic:rendering, usability, topic:3d

#60740 Improve Viewport.get_texture() description
  doc/classes/Viewport.xml
Labels: enhancement, topic:rendering, documentation

#60761 [Net] Fix TCPServer and WSLClient status after "poll" refactoring.
  core/io/stream_peer_tcp.cpp
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_client.h
Labels: bug, topic:network, regression

#58298 Make Decal distance fade smoother
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: enhancement, topic:rendering, topic:3d

#54606 Use 4× MSAA for the Advanced Import Options 3D preview
  editor/plugins/mesh_editor_plugin.cpp
Labels: enhancement, topic:rendering, topic:editor, topic:import, topic:3d

#60568 Add keyword completion to shader editor
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:editor, usability, topic:shaders

#60765 Add ability to `bake_navigation_mesh` off thread.
  doc/classes/NavigationRegion3D.xml
  scene/3d/navigation_region_3d.cpp
  scene/3d/navigation_region_3d.h
Labels: enhancement, topic:navigation, performance

#59849 [3.x] Add ability to `bake_navigation_mesh` off thread.
  doc/classes/NavigationMeshInstance.xml
  scene/3d/navigation_mesh_instance.cpp
  scene/3d/navigation_mesh_instance.h
Labels: enhancement, topic:navigation, performance

#42298 Stop reset of MultiMesh properties on populate
  editor/plugins/multimesh_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#60161 Make editable children use warning color instead of disabled color
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor, usability

#60776 Fix global AnimationLibrary name validation
  editor/plugins/animation_library_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  scene/resources/animation_library.cpp
  scene/resources/animation_library.h
Labels: bug, topic:animation

#58024 use physical keys for numpad emulation in the editor
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#60768 Use physical keys for numpad emulation in the 3D editor
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#60770 Expose tile_texture property
  editor/plugins/tile_set_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:2d

#60756 Add autocompletion for `AnimatedSprite.play()`
  scene/2d/animated_sprite_2d.cpp
  scene/2d/animated_sprite_2d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
Labels: enhancement, topic:editor

#60757 [3.x] Add autocompletion for `AnimatedSprite.play()`
  scene/2d/animated_sprite.cpp
  scene/2d/animated_sprite.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
Labels: enhancement, topic:editor

#60763 Physics Interpolation - Flush transforms after physics tick
  core/os/main_loop.h
  main/main.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: bug, topic:core

#60777 Add Simplified Chinese translation for Linux desktop file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: enhancement, platform:linuxbsd, topic:editor, cherrypick:3.x

#48989 Properly increase line counter when parsing comments
  core/variant/variant_parser.cpp
Labels: bug, topic:core, cherrypick:3.x

#60769 Mention return value of `Transform*.scaled()` and similar
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
Labels: enhancement, documentation

#60787 Sync controller mappings DB with SDL2 community repo
  core/input/gamecontrollerdb.txt
Labels: enhancement, topic:input, cherrypick:3.x, cherrypick:3.4

#60782 Crash handler: Use `print_error` to include backtrace in logs
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/osx/crash_handler_osx.mm
  platform/windows/crash_handler_windows.cpp
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#60780 [3.x] Crash handler: Use `print_error` to include backtrace in logs
  platform/osx/crash_handler_osx.mm
  platform/windows/crash_handler_windows.cpp
  platform/x11/crash_handler_x11.cpp
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#60789 Cache script icons in editor
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x, performance

#60791 `Tree::get_edited` Fix in docs example code
  doc/classes/Tree.xml
Labels: bug, documentation

#60784 Core: Rename math 'phi' arguments to 'angle'
  core/math/basis.cpp
  core/math/basis.h
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/transform_3d.cpp
  core/math/transform_3d.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.cpp
  doc/classes/Basis.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform3D.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Labels: enhancement, topic:core, documentation, cherrypick:3.x

#60597 Implement missing Node & Resource placeholders
  core/io/missing_resource.cpp
  core/io/missing_resource.h
  core/io/resource_format_binary.cpp
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  core/object/object.cpp
  core/register_core_types.cpp
  doc/classes/MissingNode.xml
  doc/classes/MissingResource.xml
  editor/editor_node.cpp
  editor/icons/MissingNode.svg
  editor/icons/MissingResource.svg
  scene/main/missing_node.cpp
  scene/main/missing_node.h
  scene/register_scene_types.cpp
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
Labels: enhancement, topic:core

#60772 Fix the uniform set creation of multimesh with a invalidated buffer
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
Labels: bug, topic:rendering

#60793 Cherry-picks for the 3.4 branch (future 3.4.5) - 2nd batch
  SConstruct
  core/ustring.cpp
  doc/classes/CanvasItem.xml
  doc/classes/Environment.xml
  doc/classes/InputMap.xml
  doc/classes/Line2D.xml
  doc/classes/Object.xml
  doc/classes/Polygon2D.xml
  doc/classes/ProximityGroup.xml
  doc/classes/Tree.xml
  doc/classes/Vector2.xml
  doc/classes/VisualServer.xml
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/plugins/gradient_editor_plugin.cpp
  editor/plugins/tile_set_editor_plugin.cpp
  main/gamecontrollerdb.txt
  main/tests/test_string.cpp
  misc/hooks/pre-commit-clang-format
  modules/bullet/space_bullet.cpp
  modules/gltf/doc_classes/EditorSceneImporterGLTF.xml
  modules/gltf/doc_classes/GLTFAccessor.xml
  modules/gltf/doc_classes/GLTFAnimation.xml
  modules/gltf/doc_classes/GLTFBufferView.xml
  modules/gltf/doc_classes/GLTFCamera.xml
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/doc_classes/GLTFLight.xml
  modules/gltf/doc_classes/GLTFMesh.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/gltf/doc_classes/GLTFSkeleton.xml
  modules/gltf/doc_classes/GLTFSpecGloss.xml
  modules/gltf/doc_classes/GLTFState.xml
  modules/gltf/doc_classes/GLTFTexture.xml
  modules/gltf/doc_classes/PackedSceneGLTF.xml
  modules/visual_script/visual_script_editor.cpp
  modules/visual_script/visual_script_editor.h
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/app/AndroidManifest.xml
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/iphone/godot_view_gesture_recognizer.mm
  platform/javascript/detect.py
  platform/javascript/js/libs/library_godot_display.js
  platform/x11/detect.py
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  servers/visual_server.cpp
Labels: bug, enhancement, topic:core, topic:editor

#60479 multiplayer - remove child on despawn instead of just queue_delete
  scene/multiplayer/scene_replication_interface.cpp
Labels: bug, topic:network

#60304 Partially document AudioEffectStereoEnhance
  doc/classes/AudioEffectStereoEnhance.xml
Labels: enhancement, documentation

#60773 [3.x] Improve documentation of `rand_range`
  modules/gdscript/doc_classes/@GDScript.xml
Labels: enhancement, documentation, cherrypick:3.4

#60797 Fix error spam when tweened node leaves tree
  scene/animation/tween.cpp
Labels: bug, cherrypick:3.x, topic:animation

#60795 Disallow Callable, Signal and RID in export arrays
  editor/editor_properties_array_dict.cpp
  editor/project_settings_editor.cpp
Labels: bug, topic:editor, crash

#60271 Fix `get_coords_level_tile_proxy` description
  doc/classes/TileSet.xml
Labels: bug, documentation

#59804 Cleanup metadata usage
  core/core_string_names.cpp
  core/core_string_names.h
  editor/action_map_editor.cpp
  editor/editor_node.cpp
  editor/editor_settings_dialog.cpp
  editor/import/resource_importer_scene.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/visual_script/editor/visual_script_property_selector.cpp
  scene/gui/control.cpp
  scene/gui/tab_container.cpp
  scene/main/node.cpp
  scene/resources/packed_scene.cpp
Labels: bug, enhancement, topic:core, topic:codestyle

#60802 Rename profiler "Idle Time" to "Process Time"
  core/debugger/engine_profiler.cpp
  core/debugger/engine_profiler.h
  core/debugger/local_debugger.cpp
  core/debugger/remote_debugger.cpp
  doc/classes/EngineProfiler.xml
  editor/debugger/editor_profiler.h
  editor/debugger/script_editor_debugger.cpp
  scene/debugger/scene_debugger.cpp
  servers/debugger/servers_debugger.cpp
  servers/debugger/servers_debugger.h
Labels: enhancement, topic:core

#60811 Allow AStar2D/AStar3D zero point weight
  core/math/a_star.cpp
  doc/classes/AStar2D.xml
  doc/classes/AStar3D.xml
Labels: enhancement, topic:core

#60812 [3.x] Allow AStar/AStar2D zero point weight
  core/math/a_star.cpp
  doc/classes/AStar.xml
  doc/classes/AStar2D.xml
Labels: enhancement, topic:core

#60816 [3.x] Fix wrong link in `PropertyTweener` doc
  doc/classes/PropertyTweener.xml
Labels: bug, documentation

#60800 Add French translation for Linux desktop file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: enhancement, platform:linuxbsd, topic:editor, cherrypick:3.x

#60609 quote strings inside arrays and dictionaries
  core/variant/variant.cpp
  modules/gdscript/tests/scripts/parser/features/advanced_expression_matching.out
  modules/gdscript/tests/scripts/parser/features/dictionary.out
  modules/gdscript/tests/scripts/parser/features/dictionary_lua_style.out
  modules/gdscript/tests/scripts/parser/features/dictionary_mixed_syntax.out
  modules/gdscript/tests/scripts/parser/features/nested_dictionary.out
  modules/gdscript/tests/scripts/runtime/features/stringify.out
Labels: enhancement, topic:core, breaks compat, for pr meeting

#59720 Changed signals of ItemList
  doc/classes/ItemList.xml
  editor/dependency_editor.cpp
  editor/dependency_editor.h
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_map_editor.h
  editor/plugins/tiles/tile_proxies_manager_dialog.cpp
  editor/plugins/tiles/tile_proxies_manager_dialog.h
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  scene/gui/item_list.cpp
Labels: enhancement, topic:gui

#60817 [GDExtension] Fix static method binds and default arguments.
  core/extension/native_extension.cpp
Labels: bug, topic:gdextension

#60819 [3.x] [Debugger] Add --debug-server CLI option.
  editor/script_editor_debugger.cpp
  editor/script_editor_debugger.h
  main/main.cpp
Labels: enhancement, topic:editor, usability, topic:network

#60821 Fix VisualScript export variables
  modules/visual_script/visual_script.cpp
Labels: bug, topic:editor, topic:visualscript, regression

#60543 Add all types to connections dialog and add icons
  editor/connections_dialog.cpp
Labels: enhancement, topic:editor

#60823 Make import defaults inspector honor property style settings
  editor/import_defaults_editor.cpp
Labels: enhancement, topic:editor

#60824 [3.x] Make import defaults inspector honor property style settings
  editor/import_defaults_editor.cpp
Labels: enhancement, topic:editor

#60825 Add Greek translation for Linux desktop file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: enhancement, platform:linuxbsd, topic:editor, cherrypick:3.x

#58258 Make `--doctool` imply `--headless` to speed up class reference generation
  main/main.cpp
Labels: enhancement, topic:editor, performance

#60832 Unbind vertex buffer before calculating blend shapes
  drivers/gles3/rasterizer_storage_gles3.cpp
Labels: bug, platform:html5, topic:rendering, cherrypick:3.4

#60829 [GLES2] Unpack blend shape arrays when necessary
  drivers/gles2/rasterizer_storage_gles2.cpp
Labels: bug, platform:html5, topic:rendering, cherrypick:3.4

#60828 Rename profiler "Idle Time" to "Process Time"
  core/script_debugger_local.cpp
  core/script_debugger_local.h
  core/script_language.h
  editor/editor_profiler.h
  editor/script_editor_debugger.cpp
  scene/debugger/script_debugger_remote.cpp
  scene/debugger/script_debugger_remote.h
Labels: enhancement, topic:core

#60838 Rename `CSGPrimitive3D.invert_faces` to `flip_faces`
  modules/csg/csg.cpp
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGPrimitive3D.xml
Labels: enhancement, topic:core, breaks compat, topic:3d

#60851 Portals - show gridmaps using global mode
  modules/gridmap/grid_map.cpp
Labels: enhancement, topic:3d

#60871 [3.x] Fix separator height influencing labeled variation in `PopupMenu`
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#60884 Fix extension_api.json builtin_class_member_offsets member names for Color
  core/extension/extension_api_dump.cpp
Labels: bug, topic:gdextension

#60886 Fix duplication of GDNativeExtensionClassGetPropertyList definition in gdnative_interface.h
  core/extension/gdnative_interface.h
Labels: bug, topic:gdextension

#60895 Fix tree button icon not centered vertically
  scene/gui/tree.cpp
Labels: bug, topic:gui

#60896 [3.x] Fix tree button icon not centered vertically
  scene/gui/tree.cpp
Labels: bug, topic:gui

#60891 [3.x] Add `font_separator` to `PopupMenu`
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:gui

#60893 Rescue orphan nodes in inherited scenes
  scene/resources/packed_scene.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#53356 `AnimationTrackEditor` Fix connecting to root's `tree_exiting` signal
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.4

#60902 Fix instance uniform shader crash in custom functions
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
Labels: bug, topic:rendering, topic:shaders

#60844 Change output port of `VisualShaderNodeColorUniform` to vec4
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, enhancement, topic:editor, topic:shaders

#60845 Push `HSV2RGB/RGB2HSV` to `ColorFunc` (from `VecFunc`) in visual shaders
  doc/classes/VisualShaderNodeColorFunc.xml
  doc/classes/VisualShaderNodeVectorFunc.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:editor, breaks compat, topic:shaders

#60905 Simplify anchor metadata
  scene/gui/control.cpp
Labels: enhancement, topic:editor, topic:gui

#60876 [3.x] Fix mismatched font outline size hint
  scene/resources/dynamic_font.cpp
Labels: bug, topic:editor

#60864 Change skeleton modification 2d and 3d to use the array inspector.
  scene/resources/skeleton_modification_stack_2d.cpp
  scene/resources/skeleton_modification_stack_3d.cpp
Labels: enhancement, topic:editor

#60873 Remove unused code from texture region editor
  editor/plugins/texture_region_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:codestyle

#60874 [3.x] Fix sign comparison error in platform/osx/os_osx.mm
  platform/osx/os_osx.mm
Labels: bug, platform:macos, topic:porting, cherrypick:3.4

#60596 Add LightStorage functions to GLES3 renderer
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
Labels: enhancement, topic:rendering

#60865 Improve plugin dialog UX
  editor/editor_plugin_settings.cpp
  editor/editor_plugin_settings.h
  editor/plugin_config_dialog.cpp
  editor/plugin_config_dialog.h
Labels: enhancement, topic:editor, usability, topic:plugin

#60858 Physics Interpolation - add interpolation mode property to node
  doc/classes/Node.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:rendering, usability, topic:3d

#60915 Physics Interpolation - optimize hidden nodes
  servers/visual/visual_server_scene.cpp
Labels: enhancement, topic:rendering, topic:3d, performance

#60804 fix: "Reload Current Project" prompts the user to open Project Manager
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#60918 Physics Interpolation - add warnings to RESET_PHYSICS_INTERPOLATION
  scene/3d/visual_instance.cpp
Labels: enhancement, topic:rendering, topic:3d

#60906 Cleanups after changes in `ItemList` signals
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#60916 [Windows] Save and re-apply window icon when changing window style.
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:porting, cherrypick:3.x, topic:gui

#55876 Enable GDExtension libraries from absolute paths
  core/extension/native_extension.cpp
Labels: enhancement, topic:gdextension, for pr meeting

#60855 Add search methods for packed arrays
  core/templates/cowdata.h
  core/templates/vector.h
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
Labels: enhancement, topic:core

#60856 [3.x] Add search methods for pool arrays
  core/pool_vector.h
  core/variant_call.cpp
  doc/classes/Array.xml
  doc/classes/PoolByteArray.xml
  doc/classes/PoolColorArray.xml
  doc/classes/PoolIntArray.xml
  doc/classes/PoolRealArray.xml
  doc/classes/PoolStringArray.xml
  doc/classes/PoolVector2Array.xml
  doc/classes/PoolVector3Array.xml
Labels: enhancement, topic:core

#60919 [TextServer] Fix incorrect oversampled font scaling.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, topic:gui

#46208 Add more fill modes to ProgressBar
  doc/classes/ProgressBar.xml
  scene/gui/progress_bar.cpp
  scene/gui/progress_bar.h
Labels: enhancement, topic:gui

#51591 Make `{call,set,notify}_group()` immediate by default
  doc/classes/SceneTree.xml
  scene/2d/camera_2d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/world_environment.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/shader_globals_override.cpp
  scene/main/viewport.cpp
  scene/resources/material.cpp
Labels: enhancement, topic:core, needs testing, breaks compat, for pr meeting

#60917 CI: Update Emscripten to 3.1.10
  .github/workflows/javascript_builds.yml
  core/io/resource_format_binary.cpp
  core/math/delaunay_3d.h
  core/math/quick_hull.cpp
  modules/csg/csg.cpp
  modules/svg/image_loader_svg.cpp
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/voxelizer.cpp
  scene/resources/polygon_path_finder.cpp
  servers/rendering/renderer_viewport.cpp
Labels: enhancement, platform:html5, topic:buildsystem, cherrypick:3.x

#58071 Increase the default texel size for lightmap baking
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:import, breaks compat, topic:3d, performance

#60922 Mention how to join PackedStringArray
  doc/classes/PackedStringArray.xml
Labels: enhancement, topic:core, documentation

#60920 Try to convert `OS::execute()` output to Unicode on Windows
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:core, cherrypick:3.x

#60932 Fix button icon expansion calculation with empty text
  scene/gui/button.cpp
Labels: enhancement, topic:gui

#60732 Add regression test for gdscript valid function signature
  modules/gdscript/tests/scripts/analyzer/features/function_match_parent_signature_with_default_dict_void.gd
  modules/gdscript/tests/scripts/analyzer/features/function_match_parent_signature_with_default_dict_void.out
Labels: enhancement, topic:gdscript, topic:tests

#60229 Improve description for GDScript built-in range
  modules/gdscript/doc_classes/@GDScript.xml
Labels: enhancement, topic:gdscript, documentation

#59863 Fix issues with multiple bind patterns in match statement
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/errors/match_multiple_variable_binds_in_branch.gd
  modules/gdscript/tests/scripts/parser/errors/match_multiple_variable_binds_in_branch.out
  modules/gdscript/tests/scripts/parser/features/match_multiple_variable_binds_in_pattern.gd
  modules/gdscript/tests/scripts/parser/features/match_multiple_variable_binds_in_pattern.out
Labels: bug, topic:gdscript

#56167 Fix array variant reuse in constructor
  core/variant/variant_construct.h
Labels: bug, topic:core

#60941 Fix invalid memory usage when using `Image.convert`
  core/io/image.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.4

#58873 Implement exponential operator (**) to GDScript/Expressions
  core/core_constants.cpp
  core/extension/gdnative_interface.h
  core/math/expression.cpp
  core/math/expression.h
  core/variant/variant.h
  core/variant/variant_op.cpp
  core/variant/variant_op.h
  doc/classes/@GlobalScope.xml
  doc/classes/float.xml
  doc/classes/int.xml
  doc/tools/make_rst.py
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
Labels: enhancement, topic:core, topic:gdscript, topic:editor, for pr meeting

#60943 Fix ZipIO crash when reused (and possible leaks).
  core/io/zip_io.cpp
  core/io/zip_io.h
  editor/editor_asset_installer.cpp
  editor/editor_export.cpp
  editor/export_template_manager.cpp
  editor/project_manager.cpp
  platform/android/export/export_plugin.cpp
  platform/iphone/export/export_plugin.cpp
  platform/javascript/api/javascript_tools_editor_plugin.cpp
  platform/javascript/export/export_plugin.cpp
  platform/osx/export/export_plugin.cpp
  platform/uwp/export/export_plugin.cpp
Labels: bug, topic:core, regression
