Repository godotengine/godot, pull requests merged in 2022-10, with the labels that each got.

#66674 Fix C# delegate signal not disconnected when Object is destroyed
  modules/mono/glue/GodotSharp/GodotSharp/Core/Callable.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
  modules/mono/managed_callable.cpp
  modules/mono/managed_callable.h
Labels: bug, topic:dotnet

#66767 Fix visibility filtering options for .blend imports
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
Labels: bug, topic:import, topic:3d

#66752 [3.x] Fix crash executing `MultiMesh.reset_instance_physics_interpolation`
  servers/visual/rasterizer.cpp
Labels: bug, crash, topic:3d, cherrypick:3.5

#66656 TileMap mouse right can delete autotile
  editor/plugins/tiles/tile_map_editor.cpp
Labels: enhancement, topic:editor, usability

#66668 Fixed shader editor not allowing open files when there is no files already open
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: bug, topic:editor, topic:shaders

#66681 Update Instance flags in shaders to match instance flags in engine
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
Labels: bug, topic:rendering

#66686 fix methods.py ->NameError: name 'sys' is not defined
  methods.py
Labels: bug, topic:buildsystem

#66689 Rename Copy/Paste Property –> Copy/Paste Value
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: enhancement, topic:editor

#66693 Fix CODEOWNERS and fix missing quote in "Building for platform" message
  .github/CODEOWNERS
  SConstruct
Labels: enhancement, topic:buildsystem

#66709 Fix more highlighting bugs
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: bug, topic:gdscript, topic:editor

#66714 Remove LGTM badge from README
  README.md
Labels: enhancement, documentation, cherrypick:3.x

#66715 Remember scripts panel's visibility state
  editor/plugins/script_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#66728 Fix inconsistent window state on X11.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:editor, regression

#66750 Allow shortcut input to be JoypadButton.
  scene/main/viewport.cpp
Labels: bug, topic:input

#66784 Fix crash in navigation 3d when target is not reachable
  modules/navigation/nav_map.cpp
Labels: bug, crash, topic:navigation

#66795 fix error dialog from appearing after loading material res
  editor/editor_resource_picker.cpp
Labels: bug, topic:editor, regression

#66387 C#: Update Basis Euler angle code to match core
  doc/classes/Basis.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
Labels: bug, enhancement, topic:dotnet, topic:3d

#66655 refactor(AStarGrid2D): Return `Vector2i` in `get_id_path`
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
  doc/classes/AStarGrid2D.xml
Labels: enhancement, topic:core, topic:navigation

#66133 Delete `set_all`, `set_axis`, and `get_axis` methods from Vector2/3/3i/4/4i
  core/math/bvh_abb.h
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/math/vector4.cpp
  core/math/vector4.h
  core/math/vector4i.cpp
  core/math/vector4i.h
  tests/core/math/test_vector3.h
  tests/core/math/test_vector3i.h
  tests/core/math/test_vector4.h
  tests/core/math/test_vector4i.h
Labels: enhancement, topic:core

#64833 Improve string formatting (%f and %v) for inf and nan
  core/string/ustring.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core

#65276 Separate TextShaderEditor and ShaderEditorPlugin into different files
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_shader_editor.cpp
  editor/plugins/text_shader_editor.h
Labels: enhancement, topic:editor, topic:shaders

#66155 [3.x] Don't store frame of playing AnimatedSprite
  scene/2d/animated_sprite.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:editor, usability, topic:animation

#66388 [3.x] C#: Add Basis Euler angle code to match 4.x core
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
Labels: bug, enhancement, topic:dotnet, topic:3d

#66806 Fix avoidance calculation on NO_THREADS build
  doc/classes/NavigationAgent.xml
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationServer.xml
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
Labels: bug, topic:buildsystem, topic:navigation, cherrypick:3.5

#64870 [3.x] Improve string formatting (%f) for inf and nan
  core/ustring.cpp
  main/tests/test_string.cpp
Labels: bug, topic:core, cherrypick:3.5

#41464 Support multiline strings in buttons
  scene/gui/button.cpp
  scene/resources/font.cpp
  scene/resources/font.h
Labels: bug, topic:gui

#66814 [Web] Add PS3 gamepad mapping for FF+Linux.
  core/input/godotcontrollerdb.txt
Labels: enhancement, platform:web, topic:input, cherrypick:3.x, cherrypick:3.5

#65751 [OS] Expose get_stdin_string to Scripting.
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#66713 Remember tile source sort between sessions
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_editor.h
Labels: enhancement, topic:editor, usability

#66748 Improve MenuButton and OptionButton
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  scene/gui/menu_button.cpp
  scene/gui/menu_button.h
  scene/gui/option_button.cpp
  scene/gui/option_button.h
Labels: bug, topic:gui

#66768 Replacing deprecated File calls from the FileAccess class documentation
  doc/classes/FileAccess.xml
Labels: bug, documentation

#66812 Fix the file newer dialog that keeps popping up
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#66813 Fix global uniform crash at editor startup
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
Labels: bug, topic:rendering, topic:editor, crash, topic:shaders

#66815 Fix the flickering of the line gutter icon when saving
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
Labels: bug, topic:editor

#66662 EditorSpinSlider: Make sure grabber doesn't get hidden during grabbing
  editor/editor_spin_slider.cpp
Labels: bug, topic:editor, regression

#66229 [3.x] Add type icons to editor docs' hierarchy
  editor/editor_help.cpp
  editor/editor_help.h
Labels: enhancement, topic:editor

#66255 [3.x] GDNative: Fix `script_data` error when updating placeholder scripts for GDNative libraries
  modules/gdnative/nativescript/nativescript.cpp
Labels: bug, topic:gdextension, cherrypick:3.5

#66654 Debugger: Clear stack dump on execution stop
  editor/script_editor_debugger.cpp
Labels: bug, topic:editor, usability

#66794 [MP] Allow multiple synchronizers per node.
  modules/multiplayer/multiplayer_synchronizer.cpp
  modules/multiplayer/multiplayer_synchronizer.h
  modules/multiplayer/scene_replication_interface.cpp
  modules/multiplayer/scene_replication_interface.h
  modules/multiplayer/scene_replication_state.cpp
  modules/multiplayer/scene_replication_state.h
Labels: bug, topic:network, topic:multiplayer

#66829 Fix boolean connection to ports of other types in visual shader
  scene/resources/visual_shader.cpp
Labels: bug, topic:editor, regression, topic:shaders

#66847 Prevent infinite confirmation in shader editor
  editor/plugins/text_shader_editor.cpp
Labels: bug, topic:editor, topic:shaders

#66559 Fix ScrollContainer touch-scrolling not working.
  platform/windows/display_server_windows.cpp
  scene/gui/scroll_container.cpp
Labels: bug, platform:windows, topic:porting, topic:gui

#66712 Fix invalid popup position for embedded popups
  scene/main/window.cpp
Labels: bug, regression, topic:gui

#66718 Fix VS project creation
  methods.py
Labels: bug, platform:windows, topic:buildsystem, regression

#66804 Remove unsupported `NO_SAFE_CAST`/`-fno-rtti` from Android build
  core/object/object.h
  core/templates/rid_owner.h
  editor/import/collada.cpp
  modules/mono/csharp_script.h
  platform/android/detect.py
Labels: enhancement, platform:android, topic:core, topic:buildsystem

#66807 Unix: Remove now unnecessary I/O defines, cleanup
  doc/classes/DirAccess.xml
  drivers/unix/dir_access_unix.cpp
  drivers/unix/dir_access_unix.h
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/unix/net_socket_posix.cpp
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  drivers/windows/dir_access_windows.cpp
  platform/android/detect.py
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/macos/dir_access_macos.h
  platform/macos/dir_access_macos.mm
  platform/uwp/os_uwp.h
  platform/windows/display_server_windows.h
  platform/windows/os_windows.h
  scene/main/node.cpp
Labels: enhancement, platform:android, topic:buildsystem, topic:porting

#66827 Fix selection applying to hidden Nodes when filtering Scene Tree Editor
  editor/scene_tree_editor.cpp
Labels: bug, topic:editor, regression

#66832 [macOS] Fix ⌘ + . + other modifier triggering twice.
  platform/macos/display_server_macos.mm
Labels: bug, platform:macos, topic:porting, topic:input, cherrypick:3.x

#66858 Properly expose TEXTURE_PIXEL_SIZE in Opengl3 renderer
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/storage/material_storage.cpp
Labels: bug, topic:shaders

#66859 Make sure to reset the tooltip of its gui_parent when the viewport is removed
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:gui

#66867 Implement `GDScriptTextDocument::willSaveWaitUntil` to clean up outdated documents before saving
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/godot_lsp.h
Labels: enhancement, topic:gdscript, topic:editor

#66274 Rename `Engine.target_fps` and associated project setting to `max_fps`
  core/config/engine.cpp
  core/config/engine.h
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.cpp
  doc/classes/Engine.xml
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/web/web_main.cpp
Labels: enhancement, topic:core, breaks compat

#62188 Move "Create Debug Tangents" on MeshInstance3D into an editor plugin
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
  scene/3d/mesh_instance_3d.cpp
  scene/3d/mesh_instance_3d.h
Labels: bug, topic:editor, topic:3d

#58744 Fix creating Nodes by DoubleClick from Recent list
  editor/create_dialog.cpp
Labels: bug, topic:editor

#66773 Remapped the numpad keys on linux when numlock is off
  platform/linuxbsd/key_mapping_x11.cpp
Labels: bug, platform:linuxbsd, topic:editor, regression, topic:gui

#66780 Fix rendering in the WebXR emulator
  servers/rendering/renderer_viewport.cpp
Labels: bug, topic:rendering

#66869 Fix Transform2D det == 0 spam for SubViewports
  scene/main/viewport.cpp
Labels: bug, topic:core

#39072 Add debug_color property to CollisionShape2D
  doc/classes/CollisionShape2D.xml
  scene/2d/collision_shape_2d.cpp
  scene/2d/collision_shape_2d.h
Labels: enhancement, usability, topic:physics, topic:2d

#66734 Update several ProjectSettings docs
  doc/classes/ProjectSettings.xml
Labels: bug, documentation

#66883 Vulkan: Initialize VK_EXT_debug_utils only for dev build or verbose mode
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, topic:rendering

#66384 Fix Shader Editor not marking files saved
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/text_shader_editor.cpp
  editor/plugins/text_shader_editor.h
Labels: bug, topic:editor, topic:shaders

#66449 Improve AtlasTexture's Documentation
  doc/classes/AtlasTexture.xml
Labels: enhancement, documentation

#65528 Rename remaining "Spatial" in Plugins to "Node3D"
  doc/classes/EditorNode3DGizmo.xml
  doc/classes/EditorNode3DGizmoPlugin.xml
  doc/classes/EditorPlugin.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/plugins/animation_player_editor_plugin.h
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
  editor/project_converter_3_to_4.cpp
  modules/csg/editor/csg_gizmos.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
Labels: enhancement, topic:editor, topic:plugin, breaks compat

#65315 Allow multiple words in Docs Help Search filter
  editor/editor_help_search.cpp
  editor/editor_help_search.h
Labels: enhancement, topic:editor, usability

#66168 Expose the "restart on exit" OS functionality (3.x)
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#66871 HTML5: Add missing `OS::get_cursor_shape()` implementation
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: bug, platform:web, topic:porting, topic:input, cherrypick:3.5

#66852 Control docs: update messaging for focus to be less keyboard-specific
  doc/classes/Control.xml
Labels: enhancement, documentation

#66855 update messaging for focus to be less keyboard-specific (3.x)
  doc/classes/Control.xml
Labels: enhancement, documentation

#66509 Support chaining AtlasTextures inside other AtlasTextures
  doc/classes/AtlasTexture.xml
  scene/resources/texture.cpp
Labels: enhancement, topic:core, topic:2d

#66770 Add searching by event in Editor Settings shortcuts and Project Settings input map.
  editor/action_map_editor.cpp
  editor/action_map_editor.h
  editor/editor_settings_dialog.cpp
  editor/editor_settings_dialog.h
  editor/plugins/input_event_editor_plugin.cpp
  scene/gui/line_edit.h
Labels: enhancement, topic:editor, usability

#66777 Enhancements to VS solution generation
  .github/workflows/windows_builds.yml
  methods.py
Labels: bug, platform:windows, topic:buildsystem

#66798 [Docs] Synchronize and update Window and Display Server documentation.
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
Labels: enhancement, documentation

#66799 Remove reference in OS to date and time functions
  doc/classes/OS.xml
Labels: enhancement, documentation

#66839 Fix `hide_slider` vs `no_slider` inconsistency in editor property code
  core/object/object.h
  doc/classes/@GlobalScope.xml
  editor/editor_properties.cpp
  editor/editor_properties.h
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
  scene/2d/node_2d.cpp
  scene/3d/node_3d.cpp
Labels: enhancement, topic:editor, breaks compat

#66841 Clean up .blend importer to fix unreachable code paths
  modules/gltf/editor/editor_scene_importer_blend.cpp
Labels: bug, topic:import, topic:3d

#66873 GDScript/C#: Tweak error message for invalid script type for object
  modules/gdscript/gdscript.cpp
  modules/mono/csharp_script.cpp
Labels: enhancement, topic:gdscript, usability, topic:dotnet

#66885 LSP: Fix GDScript doc comments
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#66886 Logger: Don't print error twice on `ERR_PRINT`
  core/error/error_macros.h
  core/io/logger.cpp
Labels: enhancement, topic:core

#66894 Disconnect TileSet from source editor if no sources
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
Labels: bug, topic:editor, crash, topic:2d

#66895 Undo #51969, generate_mipmaps runs on caller thread.
  doc/classes/Image.xml
Labels: bug, documentation

#66898 Rename Projection `matrix` to `columns`
  core/io/marshalls.cpp
  core/io/resource_format_binary.cpp
  core/math/delaunay_3d.h
  core/math/math_fieldwise.cpp
  core/math/projection.cpp
  core/math/projection.h
  core/variant/variant.cpp
  core/variant/variant_parser.cpp
  core/variant/variant_setget.cpp
  core/variant/variant_setget.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  editor/editor_properties.cpp
  gles3_builders.py
  modules/mono/editor/bindings_generator.cpp
  modules/openxr/extensions/openxr_vulkan_extension.cpp
  modules/webxr/webxr_interface_js.cpp
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/xr/xr_interface_extension.cpp
Labels: enhancement, topic:core

#66911 Properly assign texture RID when creating ImageTexture3D
  scene/resources/texture.cpp
Labels: bug, topic:core, topic:rendering

#66913 Describe the left mouse button constant as the primary button
  doc/classes/@GlobalScope.xml
Labels: enhancement, documentation, cherrypick:3.x

#66915 Fix crash when executing `RenderingServer.mesh_surface_get_format_offset`
  servers/rendering_server.cpp
Labels: bug, topic:rendering, crash

#66300 Split script navigation state and edit state
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
Labels: bug, enhancement, topic:editor

#66348 World3D.direct_space_state add multithreaded warning
  doc/classes/World2D.xml
  doc/classes/World3D.xml
Labels: enhancement, documentation

#64886 Replace local web server setup for web editor with a Python-based solution
  .gitignore
  platform/web/package-lock.json
  platform/web/package.json
  platform/web/serve.json
  platform/web/serve.py
Labels: enhancement, platform:web, topic:buildsystem, topic:editor, cherrypick:3.x

#63983 Automatically use execinfo for crash handler on *BSD and musl-based Linux
  platform/linuxbsd/detect.py
Labels: enhancement, platform:linuxbsd, topic:buildsystem, cherrypick:3.x

#64577 Improve dictionary printing to avoid confusion with arrays
  core/variant/variant.cpp
  modules/gdscript/tests/scripts/parser/features/dictionary.out
  modules/gdscript/tests/scripts/parser/features/dictionary_lua_style.out
  modules/gdscript/tests/scripts/parser/features/dictionary_mixed_syntax.out
  modules/gdscript/tests/scripts/parser/features/nested_dictionary.out
  modules/gdscript/tests/scripts/runtime/features/chain_assignment_works.out
  modules/gdscript/tests/scripts/runtime/features/stringify.out
Labels: enhancement, topic:core, for pr meeting

#66683 Default CanvasItem materials to use sRGB space for uniform colors
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
Labels: bug, topic:rendering, breaks compat, topic:shaders

#66720 Remove usage of unitialized variables
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/pulseaudio/audio_driver_pulseaudio.h
  drivers/unix/dir_access_unix.cpp
  drivers/unix/file_access_unix.cpp
  modules/theora/video_stream_theora.h
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/linuxbsd/display_server_x11.cpp
  scene/2d/cpu_particles_2d.h
  scene/3d/cpu_particles_3d.h
  scene/resources/particle_process_material.h
  scene/resources/surface_tool.cpp
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_collision_solver_2d.cpp
  servers/physics_2d/godot_collision_solver_2d_sat.cpp
  servers/physics_3d/godot_body_pair_3d.cpp
  servers/physics_3d/godot_collision_solver_3d.cpp
  servers/physics_3d/godot_collision_solver_3d_sat.cpp
Labels: bug, topic:physics, topic:2d, topic:3d

#66914 fix(docs): use proper path for tutorial file in docs
  doc/classes/Node.xml
Labels: bug, documentation, cherrypick:3.x

#66919 [TextServer GDExtension] Update build scripts and `.gdextension` files to use new target names and arch suffixes.
  modules/text_server_adv/gdextension_build/SConstruct
  modules/text_server_adv/gdextension_build/text_server_adv.gdextension
  modules/text_server_fb/gdextension_build/SConstruct
  modules/text_server_fb/gdextension_build/text_server_fb.gdextension
Labels: bug, topic:buildsystem, topic:gdextension

#64819 Enhance portability of threading
  core/os/thread.cpp
  core/os/thread.h
  drivers/unix/thread_posix.cpp
  platform/android/thread_jandroid.cpp
Labels: enhancement, topic:core, topic:porting

#65857 Prevent unsaved inherited scenes from being detected as the 'placeholder' scene
  editor/editor_node.cpp
Labels: bug, topic:editor, crash

#65424 Add documentation for viewport's input handling
  doc/classes/Control.xml
  doc/classes/Node.xml
  doc/classes/Viewport.xml
  doc/classes/Window.xml
Labels: enhancement, documentation

#66889 GLTF import external images correctly
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, regression, topic:3d

#64896 Document editor settings in the class reference
  doc/classes/EditorSettings.xml
Labels: enhancement, documentation

#66935 Fix the gradle build configuration for the Android platform
  platform/android/SCsub
  platform/android/java/build.gradle
  platform/android/java/lib/build.gradle
Labels: bug, platform:android, topic:buildsystem, confirmed

#66945 Add cursor shape support for the Android platform
  platform/android/SCsub
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotView.java
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_view_wrapper.h
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
Labels: enhancement, platform:android, topic:porting

#66946 Cleanup of the Android cursor shape logic
  platform/android/display_server_android.cpp
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_view_wrapper.h
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Labels: enhancement, platform:android, topic:porting

#66936 Bind PhysicsDirectBodyState3D::get_inverse_inertia_tensor
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsDirectBodyState3DExtension.xml
  servers/extensions/physics_server_3d_extension.cpp
  servers/physics_server_3d.cpp
Labels: bug, topic:physics, topic:gdextension

#66951 Revert "Turn on recovery as collisions only for floor snapping"
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body_3d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.h
Labels: bug, topic:physics, regression, topic:2d, topic:3d

#66954 Handle last baked vector index early
  scene/resources/curve.cpp
Labels: bug, topic:core, crash, topic:3d

#66955 Add description to TileMap's get_layers_count method
  doc/classes/TileMap.xml
Labels: enhancement, documentation

#66957 Fixing an incorrect error message in OpenXR
  modules/openxr/openxr_api.cpp
Labels: bug, topic:xr

#66958 Improve StaticBody description
  doc/classes/StaticBody2D.xml
  doc/classes/StaticBody3D.xml
Labels: enhancement, documentation

#66962 Enhancements to includes in core data structures
  core/math/aabb.cpp
  core/math/aabb.h
  core/math/basis.cpp
  core/math/color.h
  core/math/plane.cpp
  core/math/projection.cpp
  core/math/projection.h
  core/math/quaternion.h
  core/math/rect2.h
  core/math/transform_3d.h
  core/math/vector4.h
Labels: enhancement, topic:core

#66569 .NET: Generate SdkPackageVersions.props from version.py
  methods.py
  modules/mono/.gitignore
  modules/mono/SdkPackageVersions.props
  modules/mono/build_scripts/build_assemblies.py
Labels: enhancement, topic:buildsystem, topic:dotnet

#66687 free NativeExtensionMethodBinds on unregister
  core/object/class_db.cpp
Labels: bug, topic:core, topic:gdextension

#64815 Improve default `OS`'s CPU count getter
  core/os/os.cpp
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, topic:core, cherrypick:3.x

#61902 Add Multi-caret support to TextEdit
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/scene/test_text_edit.h
Labels: feature proposal, topic:editor, usability, needs testing, for pr meeting, topic:gui

#66977 Debugger: Fix fetching source to link C++ error on GitHub
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.5

#66982 Fix TileMap occluders having a wrong transform
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, topic:2d

#65932 Expose and warn about Node Filters in Scene Tree Dock
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: enhancement, topic:editor, usability

#66967 [3.x] Improve StaticBody description
  doc/classes/StaticBody.xml
  doc/classes/StaticBody2D.xml
Labels: enhancement, documentation

#66970 [3.x] Center icons vertically in editor docs' hierarchy
  editor/editor_help.cpp
Labels: bug, topic:editor

#66971 [3.x] Make it clear that obstacles don't affect pathfinding
  doc/classes/NavigationObstacle.xml
  doc/classes/NavigationObstacle2D.xml
Labels: enhancement, documentation

#66756 Fixing artifacts in SSR
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/effects/ss_effects.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection.glsl
Labels: bug, topic:rendering, topic:3d

#67004 Update wrong/missing entries in autocompletion of GDScript keywords
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#67016 Add split caret direction markers. Fix block/overtype caret size.
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  servers/text_server.cpp
Labels: bug, enhancement, topic:gui

#65939 Include inherited classes in Filter Nodes' "type:" filter & fix "group:"
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor, usability

#66861 Use a giant UBO to optimize performance in 2D [OpenGL3]
  doc/classes/ProjectSettings.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  servers/rendering/dummy/rasterizer_dummy.h
  servers/rendering/renderer_compositor.h
  servers/rendering_server.cpp
Labels: bug, enhancement, topic:rendering

#62910 ColorPicker UX
  doc/classes/ColorPicker.xml
  doc/classes/HSlider.xml
  doc/classes/VSlider.xml
  editor/editor_themes.cpp
  editor/icons/PickerShapeCircle.svg
  editor/icons/PickerShapeRectangle.svg
  editor/icons/PickerShapeRectangleWheel.svg
  scene/gui/color_mode.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/gui/slider.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/default_theme/picker_shape_circle.svg
  scene/resources/default_theme/picker_shape_rectangle.svg
  scene/resources/default_theme/picker_shape_rectangle_wheel.svg
Labels: enhancement, usability, topic:gui

#67020 Remove expression base node for transitions
  doc/classes/AnimationNodeStateMachineTransition.xml
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
Labels: bug, topic:animation

#67021 Harmonize return values of `window_create()` in rendering drivers
  platform/android/display_server_android.cpp
  platform/android/vulkan/vulkan_context_android.cpp
  platform/android/vulkan/vulkan_context_android.h
  platform/windows/display_server_windows.cpp
  platform/windows/vulkan_context_win.cpp
  platform/windows/vulkan_context_win.h
Labels: bug, topic:rendering

#67027 Fix more MSVC C4702 (unreachable code) warnings
  core/variant/variant.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
Labels: bug, topic:codestyle

#66972 Add descriptions for Node2D's skew and CanvasItem's clip_children
  doc/classes/CanvasItem.xml
  doc/classes/Node2D.xml
Labels: enhancement, documentation

#67035 Fix signature for `folder_moved` signal of `FileSystemDock`
  doc/classes/FileSystemDock.xml
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#67041 Fix a bug with moving dock left and right.
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#67042 Fix material overlay overriding shadow casting logic
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering

#67047 Sort unused palette commands alphabetically
  editor/editor_command_palette.h
Labels: enhancement, topic:editor, usability

#67011 Use float literals for float calculations in Color and misc core cleanup
  core/math/aabb.cpp
  core/math/aabb.h
  core/math/basis.cpp
  core/math/bvh_tree.h
  core/math/color.cpp
  core/math/color.h
  core/math/delaunay_3d.h
  core/math/geometry_3d.cpp
  core/math/projection.cpp
  core/math/quaternion.cpp
  core/math/quaternion.h
  core/math/rect2.h
  core/math/rect2i.h
  core/math/transform_2d.cpp
  core/math/transform_3d.cpp
  core/math/vector4.cpp
Labels: enhancement, topic:core

#67045 Fix bug in setting custom cursor on web
  platform/web/js/libs/library_godot_display.js
Labels: bug, platform:web, topic:porting, regression

#67044 [3.x] Fix bug in setting custom cursor on web
  platform/javascript/js/libs/library_godot_display.js
Labels: bug, platform:web, topic:porting, regression

#67051 Allow clearing backbuffer after finishing CanvasGroup
  drivers/gles3/rasterizer_canvas_gles3.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering

#67052 Area3D: declare "_validate_property" as protected
  scene/3d/area_3d.h
Labels: bug, topic:3d

#67053 Document `Array.sort()` and `sort_custom()` using unstable sorting
  doc/classes/Array.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.5

#67060 Only show named layers in layer menu
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_sectioned_inspector.cpp
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Labels: enhancement, topic:editor

#67062 Remove leading spaces from enumerator name hints
  doc/classes/@GlobalScope.xml
  scene/3d/bone_attachment_3d.cpp
  scene/resources/navigation_mesh.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/skeleton_modification_2d.cpp
  scene/resources/skeleton_modification_3d.cpp
  scene/resources/skeleton_modification_3d_ccdik.cpp
  scene/resources/skeleton_modification_3d_lookat.cpp
Labels: bug, topic:core, documentation

#67066 Validate input in `ScriptServer::register_language`
  core/object/script_language.cpp
Labels: bug, topic:core, crash

#67070 Bind `AnimationTrackEditor::_redraw_tracks` for UndoRedo
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, regression, topic:animation

#65983 Rename AudioStreamPlayer3D's `unit_db` to `volume_db`
  doc/classes/AudioStreamPlayer3D.xml
  editor/project_converter_3_to_4.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/animation/animation_tree.cpp
Labels: enhancement, topic:audio, breaks compat

#67086 Fix Label text length mismatch after localization
  scene/gui/label.cpp
Labels: bug, regression, topic:gui

#67074 C#: Generate symbols packages
  modules/mono/Directory.Build.targets
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: enhancement, topic:dotnet

#67076 Remove invalid suffix hint for enum property
  scene/3d/gpu_particles_collision_3d.cpp
Labels: bug, topic:editor, topic:3d

#67083 Add warning for missing characters in label font
  scene/gui/label.cpp
  scene/gui/label.h
Labels: enhancement, topic:gui

#67084 Show svg import options in default settings.
  editor/import/resource_importer_texture.cpp
Labels: bug, topic:editor, topic:import

#67103 Fix Array.`slice()` and `filter()` forgetting Typed Array
  core/variant/array.cpp
Labels: bug, topic:gdscript

#67109 Remove unused func definition in BoneMapEditor
  editor/plugins/bone_map_editor_plugin.h
Labels: enhancement, topic:animation
