Repository godotengine/godot, pull requests merged in 2022-06, with the labels that each got.

#61589 Fix NavigationAgent reparent issues
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
Labels: bug, cherrypick:3.x, topic:navigation

#61591 [3.x] Fix `get_data()` for GradientTexture2D
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: bug, topic:2d

#61595 Misc Android editor tweaks and polishes
  platform/android/java/app/config.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.java
  platform/android/java/editor/src/main/res/values/dimens.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Labels: platform:android, topic:editor, cherrypick:3.x

#61599 Fix a mistake in draw_circle() docs
  doc/classes/CanvasItem.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:3.4

#61585 Fix RenderingServerDefault usage of `has_os_feature`
  drivers/gles3/rasterizer_storage_gles3.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/rendering_server_default.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, topic:core

#61436 Change Server initialization order
  main/main.cpp
  servers/register_server_types.cpp
  servers/register_server_types.h
Labels: enhancement, topic:core

#61580 [3.x] Ensure Android Java and Kotlin compile to the same version
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/build.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/lib/build.gradle
  platform/android/java/nativeSrcsConfigs/build.gradle
  platform/android/java/settings.gradle
Labels: enhancement, platform:android, topic:buildsystem

#60984 Show class icon in the documentation page header
  editor/editor_help.cpp
Labels: enhancement, topic:editor, documentation

#61339 Add StreamPeerSSL.get_stream
  core/io/stream_peer_ssl.cpp
  core/io/stream_peer_ssl.h
  doc/classes/StreamPeerSSL.xml
  modules/mbedtls/stream_peer_mbedtls.cpp
  modules/mbedtls/stream_peer_mbedtls.h
Labels: enhancement, topic:core, topic:network

#60711 network - finish renaming AUTH to AUTHORITY
  core/core_constants.cpp
  core/multiplayer/multiplayer.h
  doc/classes/@GlobalScope.xml
  doc/classes/Node.xml
Labels: enhancement, feature proposal, topic:network

#60517 Add a gizmo to visualize AudioStreamPlayer3D's audible radius
  editor/plugins/node_3d_editor_gizmos.cpp
  scene/3d/audio_stream_player_3d.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#61292 Redraw selected 3D gizmo on deselect
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#61619 Note that NavigationObstacles should only be used if necessary and for moving objects only
  doc/classes/NavigationObstacle2D.xml
  doc/classes/NavigationObstacle3D.xml
Labels: bug, topic:navigation

#61538 Remove mouse events that closed the popup from queue, to fix pop-up reopening.
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/osx/display_server_osx.h
  platform/osx/display_server_osx.mm
  platform/osx/godot_application.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, topic:gui

#61629 Fix enclosed GraphNodes calculation of GraphEdit comment nodes
  scene/gui/graph_edit.cpp
Labels: bug, topic:editor, topic:gui

#61631 Remove redundant min call when setting line
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, topic:codestyle

#61633 Fix build error when FreeType is disabled
  modules/text_server_adv/text_server_adv.cpp
Labels: bug, topic:core

#61626 Swap Path3DGizmo control points order
  editor/plugins/path_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#61649 Update half resolution immediately
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: bug, topic:editor, regression, topic:3d

#61656 Fix `String.uri_encode` on Windows
  core/string/ustring.cpp
Labels: bug, platform:windows, topic:porting

#61655 [3.x] Fix `String.http_escape` on Windows
  core/ustring.cpp
Labels: bug, platform:windows, topic:buildsystem, topic:porting, cherrypick:3.4

#61623 Expose get_mesh() for NavigationPolygon Resources
  doc/classes/NavigationPolygon.xml
  scene/2d/navigation_region_2d.cpp
Labels: enhancement, cherrypick:3.x, topic:navigation

#61658 Add StringName explicitly to Variant::hash_compare
  core/variant/variant.cpp
Labels: enhancement, topic:core, performance

#61481 Increase the editor profiler frame history default and maximum limit
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#61482 Increase the editor profiler frame history default and maximum limit (3.x)
  editor/editor_profiler.cpp
Labels: enhancement, topic:editor

#60822 Physics Interpolation - Reset on adding child to SceneTree
  scene/3d/visual_instance.cpp
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:rendering, usability, topic:3d

#61554 Refactor shader hints
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, enhancement, topic:shaders

#59327 Support explicit values in flag properties, add C# flags support
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/property_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/MarshalUtils.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
  modules/mono/mono_gd/gd_mono_utils.cpp
  modules/mono/mono_gd/gd_mono_utils.h
  modules/visual_script/editor/visual_script_editor.cpp
Labels: bug, enhancement, topic:gdscript, topic:visualscript, topic:dotnet, topic:gui

#60830 [4.x] Add viewport content scale
  scene/main/window.cpp
Labels: bug, topic:rendering, regression

#61668 Fix state machine style
  editor/editor_themes.cpp
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, topic:editor, usability, topic:gui

#61661 [3.x] Fix empty space after project sort options
  editor/project_manager.cpp
Labels: bug, topic:editor

#61679 Update viewport when toggling TileMap grid
  editor/plugins/tiles/tile_map_editor.cpp
Labels: bug, topic:editor

#61669 Make Input `mouse_mode` and `use_accumulated_input` properties
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  doc/classes/InputEventMouseMotion.xml
Labels: enhancement, topic:input

#61695 Typo: Change "congiruation" into "configuration" for MultiplayerSynchronizer
  doc/classes/MultiplayerSynchronizer.xml
  scene/multiplayer/multiplayer_synchronizer.cpp
Labels: bug, topic:network

#61678 Fix crash with empty scenes
  editor/scene_tree_editor.cpp
Labels: bug, topic:editor, crash

#61335 rename 'configuration' to 'replication_config' in MultiplayerSynchronizer
  doc/classes/MultiplayerSynchronizer.xml
  scene/multiplayer/multiplayer_synchronizer.cpp
Labels: bug, documentation, topic:network

#61686 Fix specific bug related to submenus in `PopupMenu`
  scene/gui/popup_menu.cpp
Labels: bug, regression, topic:gui

#61690 Fix zoom in callback for CanvasItemEditor to use correct numeric sign
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability, topic:input, regression

#61696 Removes start/end states from menus
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
Labels: bug, topic:editor, topic:gui

#61719 Fix inverted mouse wheel zoom in CanvasItemEditor #61716
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, regression

#61725 Enable nearest filtering in shrunk 3D viewport
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:3d

#61700 Fix strange behavior with list close tags and empty list tags
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#61707 Increase maximum size of gradient textures
  scene/resources/texture.cpp
Labels: enhancement, topic:core, topic:rendering

#61687 Fix hover being drawn twice inside `PopupMenu`s
  scene/gui/popup_menu.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: bug, regression, topic:gui

#61746 [GDExtension] Expose Variant, NodePath and StringName hash functions.
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
  core/variant/variant_call.cpp
  doc/classes/NodePath.xml
  doc/classes/StringName.xml
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.h
Labels: bug, topic:gdextension

#61753 Fix `Viewport.own_world_3d` documentation
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, documentation, topic:codestyle

#61754 [3.x] Fix `Viewport.own_world` documentation
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, documentation, topic:codestyle

#61732 Improve architectures in OS::has_feature and make them work on MSVC
  core/os/os.cpp
Labels: bug, enhancement, topic:core, needs testing

#61740 [3.x] Improve architectures in OS::has_feature and make it work on MSVC
  core/os/os.cpp
Labels: bug, enhancement, topic:core, needs testing

#61757 Force unsigned behaviour for bitfield enums
  core/math/transform_interpolator.h
  scene/main/node.h
Labels: bug, topic:editor

#61763 [RTL] Stop processing thread before deleting scroll bar.
  scene/gui/rich_text_label.cpp
Labels: bug, crash, topic:gui

#59883 Add Dictionary.merge()
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
Labels: enhancement, feature proposal, topic:core

#61651 Fix end handles being reversed in Path3DGizmo
  editor/plugins/path_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:3d

#61767 Add shortcuts to GenericTilePolygonEditor
  editor/plugins/tiles/tile_data_editors.cpp
Labels: enhancement, topic:editor, usability, topic:2d

#61737 Fix typo "Frac" instead of "Fract"
  doc/classes/VisualShaderNodeFloatFunc.xml
  doc/classes/VisualShaderNodeVectorFunc.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, topic:shaders

#61718 Fixed Issue #61553 - Populating MultimeshInstance Crash
  editor/plugins/multimesh_editor_plugin.cpp
Labels: bug, topic:editor, crash, regression, topic:3d

#61726 Take into account the clear icon's size even when not visible in `LineEdit`s
  scene/gui/line_edit.cpp
Labels: bug, topic:gui

#61728 [3.x] Take into account the clear icon's size even when not visible in `LineEdit`s
  scene/gui/line_edit.cpp
Labels: bug, topic:gui

#50349 Add `any()` and `all()` methods to Array
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant_call.cpp
  doc/classes/Array.xml
Labels: enhancement, topic:core, for pr meeting

#61751 Add GLOBAL_DEF_INTERNAL to hide specific settings
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/ProjectSettings.xml
  editor/editor_sectioned_inspector.cpp
Labels: enhancement, topic:core, for pr meeting

#55909 Tweak the volumetric fog temporal reprojection property hint
  scene/resources/environment.cpp
Labels: enhancement, topic:editor, topic:3d

#49028 Fix `EditorSpinSlider` not resetting the mouse position correctly when freed
  editor/editor_spin_slider.cpp
Labels: bug, topic:editor

#47461 Bind METHOD_FLAG_VARARG as an Enum Constant in Core Constants
  core/core_constants.cpp
  doc/classes/@GlobalScope.xml
Labels: bug, topic:core, cherrypick:3.x

#61779 Define zoom shortcut before using it
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor

#59786 Allow picking similar colours using OKHSL.
  COPYRIGHT.txt
  core/math/color.cpp
  core/math/color.h
  core/variant/variant_call.cpp
  core/variant/variant_setget.h
  doc/classes/Color.xml
  doc/classes/ColorPicker.xml
  editor/editor_node.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  thirdparty/README.md
  thirdparty/misc/ok_color.h
  thirdparty/misc/ok_color_shader.h
Labels: enhancement, topic:gui

#61284 Remove image property of ImageTexture
  doc/classes/Texture2D.xml
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: enhancement, topic:rendering, documentation, breaks compat

#41568 Fix saving section-less keys in `ConfigFile`
  core/io/config_file.cpp
Labels: bug, enhancement, topic:core, for pr meeting

#61319 Initial TAA implementation
  COPYRIGHT.txt
  core/math/camera_matrix.cpp
  core/math/camera_matrix.h
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/effects_rd.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/taa_resolve.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, topic:3d

#61784 Fix visual editor settings change propagation
  editor/plugins/visual_shader_editor_plugin.cpp
  modules/visual_script/editor/visual_script_editor.cpp
Labels: enhancement, topic:editor

#61558 Make `Mesh::generate_triangle_mesh()` handle `PRIMITIVE_TRIANGLE_STRIP`
  doc/classes/Mesh.xml
  scene/resources/mesh.cpp
Labels: bug, enhancement, topic:core, topic:3d

#61729 Optimized Mesh Merging
  core/local_vector.h
  scene/3d/mesh_instance.cpp
  scene/3d/mesh_instance.h
Labels: enhancement, topic:core, topic:3d, performance

#61795 Re-add internal image field to ImageTexture
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: bug, topic:core, regression

#61794 Use RenderBuffer size instead of half extents for VIEWPORT_SIZE
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering, topic:shaders

#61797 Fix GridMap applying wrong NavigationRegion transform
  modules/gridmap/grid_map.cpp
Labels: bug, cherrypick:3.x, topic:navigation, topic:3d

#61803 [3.x] Fix FreeType crashing in GCC + LTO builds.
  thirdparty/README.md
  thirdparty/freetype/patches/fix_gcc_lto_build.diff
  thirdparty/freetype/src/smooth/ftgrays.c
Labels: bug, platform:windows, topic:thirdparty, crash

#61802 [3.x] i18n: Misc fixes translation strings
  core/math/expression.cpp
  doc/classes/Color.xml
  doc/classes/EditorPlugin.xml
  doc/classes/Environment.xml
  doc/classes/NodePath.xml
  doc/classes/OS.xml
  doc/classes/Range.xml
  doc/classes/SceneTreeTimer.xml
  doc/classes/VisualServer.xml
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_settings.cpp
  editor/find_in_files.cpp
  editor/import/resource_importer_scene.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/sprite_editor_plugin.cpp
  editor/script_editor_debugger.cpp
  modules/gdnative/gdnative_library_singleton_editor.cpp
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_flow_control.cpp
  modules/visual_script/visual_script_nodes.cpp
Labels: enhancement, documentation

#61804 i18n: Misc fixes translation strings
  core/math/expression.cpp
  doc/classes/Color.xml
  doc/classes/EditorPlugin.xml
  doc/classes/NodePath.xml
  doc/classes/OS.xml
  doc/classes/Range.xml
  doc/classes/RenderingServer.xml
  doc/classes/SceneTreeTimer.xml
  editor/animation_track_editor.cpp
  editor/debugger/editor_debugger_inspector.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/editor_audio_buses.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_settings.cpp
  editor/find_in_files.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_imagefont.cpp
  editor/import/scene_import_settings.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/occluder_instance_3d_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script_flow_control.cpp
  modules/visual_script/visual_script_nodes.cpp
Labels: enhancement, documentation

#61805 Fix FreeType crashing in GCC + LTO builds.
  thirdparty/README.md
  thirdparty/freetype/patches/fix_gcc_lto_build.diff
  thirdparty/freetype/src/smooth/ftgrays.c
Labels: bug, platform:windows, topic:thirdparty, crash

#61800 Fix GridMap Navigation transform changes and debug
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Labels: bug, cherrypick:3.x, topic:navigation, topic:3d

#61662 Match NavMap and ProjectSettings with NavigationMesh defaults
  doc/classes/ProjectSettings.xml
  modules/navigation/nav_map.h
  scene/resources/world_3d.cpp
Labels: bug, cherrypick:3.x, topic:navigation, topic:3d

#61682 Add warnings when NavigationMesh bake settings result in precision loss
  modules/navigation/navigation_mesh_generator.cpp
Labels: enhancement, topic:navigation

#61815 Fix typo for TAA resolve shader in `COPYRIGHT.txt`
  COPYRIGHT.txt
Labels: bug

#61674 [4.0] Add readable export errors.
  editor/editor_export.cpp
  editor/editor_export.h
  editor/editor_node.cpp
  editor/editor_run_native.cpp
  editor/editor_run_native.h
  editor/project_export.cpp
  editor/project_export.h
  platform/android/export/export_plugin.cpp
  platform/iphone/export/export_plugin.cpp
  platform/javascript/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/osx/export/export_plugin.cpp
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Labels: enhancement, topic:editor, usability, topic:export

#61624 [3.x] Add readable export errors.
  doc/classes/RichTextLabel.xml
  editor/editor_export.cpp
  editor/editor_export.h
  editor/editor_node.cpp
  editor/editor_run_native.cpp
  editor/editor_run_native.h
  editor/project_export.cpp
  editor/project_export.h
  platform/android/export/export_plugin.cpp
  platform/iphone/export/export.cpp
  platform/javascript/export/export.cpp
  platform/osx/export/export.cpp
  platform/windows/export/export.cpp
  platform/x11/export/export.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:editor, usability, topic:export

#61822 [3.5] Fix TileMap texture offset for navigationmesh and collisionshapes
  scene/2d/tile_map.cpp
Labels: bug, topic:2d

#61807 Fix (again) loading binary resources with float=64
  core/io/resource_format_binary.cpp
Labels: bug, topic:core

#61830 Fix for regression of an ImageTexture being imported
  scene/resources/texture.cpp
Labels: bug, topic:core, regression

#61829 Assign VIEWPORT_SIZE after validating screen_size to avoid crash when using ReflectionProbe
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering, crash, regression

#61670 Document the correct use of NavigationAgent path functions
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
Labels: bug, documentation, cherrypick:3.x, topic:navigation

#61813 Remove slash delimiter from NavigationMesh properties
  doc/classes/NavigationMesh.xml
  doc/classes/NavigationMeshGenerator.xml
  scene/resources/navigation_mesh.cpp
  scene/resources/navigation_mesh.h
Labels: bug, topic:dotnet, breaks compat, cherrypick:3.x, topic:navigation

#61648 Improve title of DependencyEditorOwners
  editor/dependency_editor.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#61659 Improve EditorPlugin state documentation
  doc/classes/EditorPlugin.xml
Labels: enhancement, topic:editor, documentation, topic:plugin, cherrypick:3.x

#61843 Cherry-picks for the 3.x branch (future 3.5) - 23rd batch
  core/dictionary.cpp
  core/dictionary.h
  core/global_constants.cpp
  core/variant_call.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/Dictionary.xml
  doc/classes/EditorPlugin.xml
  doc/classes/NavigationAgent.xml
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationMesh.xml
  doc/classes/NavigationMeshGenerator.xml
  doc/classes/NavigationObstacle.xml
  doc/classes/NavigationObstacle2D.xml
  doc/classes/NavigationPolygon.xml
  editor/dependency_editor.cpp
  editor/editor_spin_slider.cpp
  scene/2d/navigation_polygon.cpp
  scene/3d/navigation_mesh_instance.cpp
  scene/resources/navigation_mesh.cpp
  scene/resources/navigation_mesh.h
Labels: bug, enhancement, topic:core, topic:editor

#61847 Properly release LMB even while panning
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#61850 Workaround MoltenVK error found in TAA implementation
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
Labels: bug, topic:rendering, high priority, regression

#61854 Fix `TIME` compilation for custom functions in spatial shader
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
Labels: bug, topic:rendering, topic:shaders, topic:3d

#61864 Add a property hint to Environment's `sky_rotation` property
  scene/resources/environment.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#61865 added info on microphone sample format
  doc/classes/AudioEffectCapture.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.4, cherrypick:3.5

#61868 Fix setting line edit caret after double and triple click
  scene/gui/line_edit.cpp
Labels: bug, regression, topic:gui

#61862 Remove TooltipPanel and TooltipLabel
  editor/editor_themes.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:gui, topic:codestyle

#61863 Migrate the Godot Editor java source file to Kotlin
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotProjectManager.kt
Labels: platform:android, topic:editor, cherrypick:3.x, topic:codestyle

#61487 Increase AnimationPlayer position SpinBox to fit more decimals
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, cherrypick:3.x, topic:animation, cherrypick:3.4

#61844 [3.5] Backport default World navigation maps
  doc/classes/ProjectSettings.xml
  doc/classes/World.xml
  doc/classes/World2D.xml
  scene/resources/world.cpp
  scene/resources/world.h
  scene/resources/world_2d.cpp
  scene/resources/world_2d.h
Labels: enhancement, topic:navigation

#52415 Fix global properties setters and add global skew for node2d
  doc/classes/Node2D.xml
  scene/2d/node_2d.cpp
  scene/2d/node_2d.h
Labels: bug, enhancement, topic:2d

#61879 Distinguish Length function name to Length2D/3D/4D in visual shaders
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders

#59776 Add rounded corners to the contextual toolbar
  editor/editor_themes.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor

#59770 Add rounded corners to EditorProperty and EditorSpinSlider and scale corner radius to editor scale
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/editor_resource_picker.cpp
  editor/editor_spin_slider.cpp
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#61454 Add rounded corners to the script editor
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#61544 VisibilityNotifier - add max_distance feature
  doc/classes/VisibilityNotifier.xml
  scene/3d/visibility_notifier.cpp
  scene/3d/visibility_notifier.h
  scene/resources/world.cpp
Labels: enhancement, topic:rendering, topic:3d

#61881 Prevent defining float constant without number after exponent in shaders
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#61886 [3.x] Make Input `mouse_mode` and `use_accumulated_input` properties
  core/os/input.cpp
  core/os/input.h
  doc/classes/Input.xml
  doc/classes/InputEventMouseMotion.xml
  main/input_default.cpp
  main/input_default.h
Labels: enhancement, topic:input

#61348 Exposes the BulletSpace internals.
  modules/bullet/space_bullet.h
Labels: enhancement, topic:physics

#61887 Fix description about `SceneTreeTimer` auto free
  doc/classes/SceneTreeTimer.xml
Labels: bug, documentation, cherrypick:3.x

#61890 Add tooltips to Export dialog icon buttons
  editor/project_export.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#61889 etcpak: Update to upstream release 1.0 (June 4, 2022)
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/etcpak/AUTHORS.txt
  thirdparty/etcpak/LICENSE.txt
Labels: enhancement, topic:thirdparty

#61891 meshoptimizer: Sync with upstream commit ea4558d1c
  thirdparty/README.md
  thirdparty/meshoptimizer/patches/attribute-aware-simplify-distance-only-metric.patch
  thirdparty/meshoptimizer/patches/attribute-aware-simplify.patch
  thirdparty/meshoptimizer/simplifier.cpp
Labels: bug, topic:thirdparty

#61346 [3.x] Allow ScrollBar params of a ScrollContainer to be modified from _ready()
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Labels: bug, topic:gui

#61900 Don't handle pending clicks outside scene tree
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: bug, topic:editor, usability, regression, cherrypick:3.x

#61928 Revert vector4 output ports in visual shaders
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:editor, topic:shaders

#61917 makerst: Fix duplicate `.xml` extension in some error messages
  doc/tools/make_rst.py
Labels: bug, topic:buildsystem, documentation

#61912 gltf: Allow more than 4 joints but warn and ignore them.
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:3d

#61920 makerst: Print colored output for easier visual grepping
  .github/workflows/static_checks.yml
  doc/tools/make_rst.py
  misc/hooks/pre-commit-make-rst
Labels: enhancement, topic:buildsystem, documentation

#59797 Add margins to Array and Dictionary editors
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
  editor/editor_themes.cpp
Labels: enhancement, topic:editor

#61940 Rename "Convert to Mesh2D" to "Convert to MeshInstance2D" in the editor
  editor/plugins/sprite_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:2d

#61939 Update name of Convert to MeshInstance2D button in MeshInstance2D doc
  doc/classes/MeshInstance2D.xml
Labels: enhancement, documentation, cherrypick:3.x

#61962 [3.x] Remove extra codeblock tag from `ProximityGroup` classref
  doc/classes/ProximityGroup.xml
Labels: bug, documentation, cherrypick:3.4

#61950 Add TAA to the list of editor capitalizations
  editor/editor_property_name_processor.cpp
Labels: enhancement, topic:editor

#61949 Fix NativeExtension::open_library return value when the undelying lib fails to initialize
  core/extension/native_extension.cpp
Labels: bug, topic:core, crash

#61964 [3.x] Fix scene tree dock focus after using "Add Child Node" button
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, cherrypick:3.4

#61965 More low priority redraw request cases
  drivers/gles2/rasterizer_canvas_base_gles2.cpp
  drivers/gles2/rasterizer_canvas_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles3/rasterizer_canvas_base_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/visual/visual_server_scene.cpp
Labels: enhancement, topic:editor, usability

#61959 Fix parameter name for `String.left` and `String.right`
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
Labels: bug, topic:core, documentation

#60128 Added documentation comments to the .NET library
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/AssemblyHasScriptsAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/DisableGodotGeneratorsAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ExportAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/GodotMethodAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/RPCAttributes.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ScriptPathAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dispatcher.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotSynchronizationContext.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotTaskScheduler.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Interfaces/IAwaitable.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Interfaces/IAwaiter.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Interfaces/ISerializationListener.cs
Labels: enhancement, documentation, topic:dotnet

#61736 Fix Debugger tab not updating when clearing errors
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:editor

#61916 Document the CurveXYZTexture class, improve CurveTexture documentation
  doc/classes/CurveTexture.xml
  doc/classes/CurveXYZTexture.xml
  doc/classes/GradientTexture1D.xml
  doc/classes/GradientTexture2D.xml
Labels: enhancement, documentation

#61961 Fix type hints for AnimationLibrary's signals' arguments
  doc/classes/AnimationLibrary.xml
  scene/resources/animation_library.cpp
Labels: bug, topic:animation

#61985 [Windows, 3.x] Add support for handling network share paths.
  core/os/dir_access.cpp
  core/ustring.cpp
  core/ustring.h
  drivers/windows/dir_access_windows.cpp
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, platform:windows, topic:porting

#61986 [TextServer] Add missing font mutex lock.
  modules/text_server_adv/text_server_adv.cpp
Labels: bug, topic:gui

#61988 [RTL] Fix underline/overline/strikethrough interaction with the "visible characters" property.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#61842 Single-window mode popups and edited scene windows fixes.
  scene/gui/popup.cpp
  scene/gui/popup.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/main/window.cpp
Labels: bug, topic:gui

#61936 restore vehicle+wheel importers
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:physics, topic:import, regression, topic:3d

#61772 [TextServer] Adds support for TrueType / OpenType collection files (*.TTC, *.OTC).
  doc/classes/FontData.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_dynamic_font.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/resources/font.cpp
  scene/resources/font.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: enhancement, topic:import, topic:gui

#61989 [3.x] [HTML5] Add GDNative+Threads build.
  platform/javascript/SCsub
  platform/javascript/detect.py
  platform/javascript/emscripten_helpers.py
  platform/javascript/export/export.cpp
Labels: enhancement, platform:html5, topic:porting, topic:export

#61972 Fixed keying multiple animation tracks
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:animation

#61992 Improve CurveTexture documentation
  doc/classes/CurveTexture.xml
  doc/classes/GradientTexture.xml
  doc/classes/GradientTexture2D.xml
Labels: enhancement, documentation, cherrypick:3.4

#61983 Add description for camera effects property in WorldEnvironment
  doc/classes/WorldEnvironment.xml
Labels: enhancement, documentation

#50506 Tweak Light3D property hints for greater flexibility
  scene/3d/light_3d.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: enhancement, topic:rendering, topic:editor, topic:3d

#61915 Document LightmapGI, LightmapGIData and LightmapProbe
  doc/classes/LightmapGI.xml
  doc/classes/LightmapGIData.xml
  doc/classes/LightmapProbe.xml
  doc/classes/Lightmapper.xml
  doc/classes/LightmapperRD.xml
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation

#61839 [WebRTC] Static extension registration.
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
  modules/webrtc/doc_classes/WebRTCPeerConnectionExtension.xml
  modules/webrtc/webrtc_peer_connection.cpp
  modules/webrtc/webrtc_peer_connection_extension.cpp
  modules/webrtc/webrtc_peer_connection_extension.h
Labels: enhancement, topic:gdextension, topic:network

#61945 Improve description of move_to_trash()
  doc/classes/OS.xml
Labels: enhancement, topic:core, documentation, cherrypick:3.x

#62005 Add internationalization for Detect 3D texture import messages
  editor/import/resource_importer_texture.cpp
Labels: enhancement, topic:import, topic:3d
