Repository godotengine/godot, pull requests merged in 2022-12, with the labels that each got.

#69433 Cherry-picks for the 3.x branch (future 3.6) - 7th batch
  README.md
  doc/classes/@GlobalScope.xml
  doc/classes/CanvasItem.xml
  doc/classes/EditorSettings.xml
  doc/classes/Node.xml
  doc/classes/Polygon2D.xml
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_node.cpp
  editor/editor_property_name_processor.cpp
  editor/editor_property_name_processor.h
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/spatial_editor_gizmos.cpp
  editor/translations/extract.py
  misc/scripts/file_format.sh
  scene/2d/canvas_item.cpp
  scene/gui/file_dialog.cpp
  scene/main/canvas_layer.cpp
  scene/main/node.cpp
Labels: bug, enhancement, topic:core, topic:editor

#69303 Reset unassigned local variables to null in the loops
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#69364 Add navigation control to the node3d editor viewport
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#69403 Simplify GDVIRTUAL_REQUIRED_CALL calls
  editor/export/editor_export_plugin.cpp
  scene/resources/material.cpp
  scene/resources/mesh.cpp
  scene/resources/style_box.cpp
  scene/resources/texture.cpp
  servers/audio/audio_effect.cpp
  servers/audio/audio_stream.cpp
  servers/movie_writer/movie_writer.cpp
Labels: enhancement, topic:gdextension, topic:codestyle

#69423 Improve parent signature error
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_count_less.out
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_count_more.out
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_default_values.out
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_type.out
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_return_type.out
Labels: enhancement, topic:gdscript, usability

#69427 Remove unneeded calc in root motion
  scene/animation/animation_tree.cpp
Labels: bug, topic:animation, topic:3d

#69443 Restore metadata to script create dialog
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Labels: bug, topic:editor, usability, regression

#67660 Improve validation when setting `max`/`min`/`page` in `Range`
  scene/gui/range.cpp
  scene/gui/range.h
Labels: bug, topic:gui

#64360 [GDExtension] Correct Rect2 members offsets declaration in extension_api.json generator
  core/extension/extension_api_dump.cpp
Labels: bug, topic:gdextension

#64427 [GDExtension] Skip unset getter/setter/index fields in class property
  core/extension/extension_api_dump.cpp
Labels: enhancement, topic:core, topic:gdextension

#68630 [3.x] Fix routing of `InputEventScreenDrag` events to `Control` nodes
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:core, cherrypick:3.5

#69434 [3.x] Update project window title when a project setting was changed
  editor/editor_node.cpp
Labels: bug, topic:editor, cherrypick:3.5

#69344 Update thorvg to 0.8.3
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/lib/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  thirdparty/thorvg/src/lib/tvgLoadModule.h
  thirdparty/thorvg/src/loaders/jpg/tvgJpgLoader.cpp
  thirdparty/thorvg/src/loaders/jpg/tvgJpgd.cpp
  thirdparty/thorvg/src/loaders/raw/tvgRawLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgCssStyle.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoaderCommon.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.h
  thirdparty/thorvg/src/loaders/svg/tvgXmlParser.cpp
  thirdparty/thorvg/src/loaders/tvg/tvgTvgBinInterpreter.cpp
  thirdparty/thorvg/src/savers/tvg/tvgTvgSaver.cpp
  thirdparty/thorvg/update-thorvg.sh
Labels: enhancement, topic:thirdparty

#69430 Fix child nodes still being drawn when the visible area of a control with `clip_contents` enabled is `0`
  servers/rendering/renderer_canvas_cull.cpp
Labels: bug, topic:rendering

#69166 Update docs to clarify `@icon` only works with global script classes
  modules/gdscript/doc_classes/@GDScript.xml
Labels: enhancement, documentation

#67023 C#: Fix signature of generated signal callbacks
  modules/mono/csharp_script.cpp
Labels: bug, topic:dotnet

#69448 ETCPAK expects BGRA data for ETC
  core/io/image.cpp
  core/io/image.h
  modules/etcpak/image_compress_etcpak.cpp
Labels: bug, platform:android, topic:rendering, topic:3d

#69474 Fix animation signal `caches_cleared` firing timing
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
Labels: bug, topic:animation

#69475 [RichTextEffect] Restore missing `relative_index` property.
  doc/classes/CharFXTransform.xml
  scene/gui/rich_text_effect.cpp
  scene/gui/rich_text_effect.h
  scene/gui/rich_text_label.cpp
Labels: regression, topic:gui

#69483 SCons: Disable openxr module with disable_3d=yes
  modules/openxr/config.py
Labels: bug, topic:buildsystem, topic:xr

#69336 Refactor process of animation to retrive keys more exactly
  doc/classes/Animation.xml
  doc/classes/AnimationNode.xml
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: bug, breaks compat, topic:animation

#69380 [macOS] Improve maximized and non-resizable modes handling.
  platform/macos/display_server_macos.mm
Labels: bug, platform:macos, topic:porting

#68870 Get WebXR fully working in Godot 4!
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  modules/webxr/doc_classes/WebXRInterface.xml
  modules/webxr/godot_webxr.h
  modules/webxr/native/library_godot_webxr.js
  modules/webxr/native/webxr.externs.js
  modules/webxr/webxr_interface.cpp
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
  platform/web/SCsub
  platform/web/js/libs/library_godot_webgl2.externs.js
  platform/web/js/libs/library_godot_webgl2.js
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, platform:web, topic:rendering, topic:xr

#61958 Add `animation_changed` signal to `AnimationLibrary`, have `AnimationPlayer` connect to it instead of `Animation`'s `changed`
  doc/classes/AnimationLibrary.xml
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/resources/animation_library.cpp
  scene/resources/animation_library.h
Labels: bug, regression, topic:animation

#69484 SCons: Strip symbol table for builds with `debug_symbols=no`
  SConstruct
Labels: enhancement, topic:buildsystem

#69391 Fix C# Solution Directory Project Settings
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/GodotSharpDirs.cs
Labels: bug, topic:dotnet

#69428 C#: Cleanup of Marshaling methods
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotMemberData.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/MarshalUtils.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGenerator.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/Globals.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/DelegateUtils.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/VariantUtils.generic.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Variant.cs
Labels: enhancement, topic:dotnet

#69498 C#: Always convert float Variants to System.Double
  modules/mono/glue/GodotSharp/GodotSharp/Core/Variant.cs
Labels: bug, topic:dotnet

#69515 BaseMaterial3D Docs: Fix wrong descriptions on roughness and refraction texture channels
  doc/classes/BaseMaterial3D.xml
Labels: bug, documentation

#69514 Properly remap roughness when reading from radiance map
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/shaders/effects/cubemap_roughness_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, regression, topic:3d

#69520 Fix missing parent class name identifier crash
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, topic:editor, crash

#69522 Allow black metallic materials to reflect IBL
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:rendering, topic:3d

#69523 Enable the navigation controls for touchscreen by default
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#69239 Fix `Curve3D::get_closest_point()` broken
  doc/classes/Curve3D.xml
  scene/resources/curve.cpp
Labels: bug, topic:3d

#67751 Fix const qualifier for parameters in GDExtension api functions
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
  core/extension/native_extension.cpp
  core/extension/native_extension.h
  core/object/make_virtuals.py
  core/object/method_bind.h
  core/object/script_language_extension.h
Labels: bug, topic:core, topic:buildsystem, topic:gdextension

#64312 Improve usage of StringNames in GraphEdit
  doc/classes/GraphEdit.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, breaks compat, topic:gui, topic:codestyle

#69449 Load X11 dynamically
  platform/linuxbsd/detect.py
  platform/linuxbsd/x11/SCsub
  platform/linuxbsd/x11/detect_prime_x11.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/linuxbsd/x11/dynwrappers/xcursor-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xcursor-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xext-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xext-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xinerama-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xinerama-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xinput2-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xinput2-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xlib-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xlib-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xrandr-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xrandr-so_wrap.h
  platform/linuxbsd/x11/dynwrappers/xrender-so_wrap.c
  platform/linuxbsd/x11/dynwrappers/xrender-so_wrap.h
  platform/linuxbsd/x11/gl_manager_x11.cpp
  platform/linuxbsd/x11/gl_manager_x11.h
Labels: enhancement, platform:linuxbsd, topic:buildsystem, topic:porting

#62675 Allow drag-clicking before symbol lookup
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
Labels: enhancement, topic:editor, topic:gui

#69390 Fix incorrect mouse event position while hovering different window
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:input, regression

#69568 Cherry-picks for the 3.x branch (future 3.6) - 8th batch
  .gitignore
  core/math/bvh_structs.inc
  doc/classes/Array.xml
  doc/classes/EditorScript.xml
  drivers/alsamidi/midi_driver_alsamidi.cpp
  drivers/alsamidi/midi_driver_alsamidi.h
  editor/editor_resource_picker.cpp
  editor/import/resource_importer_wav.cpp
  modules/gltf/doc_classes/GLTFState.xml
  modules/gltf/gltf_state.cpp
  modules/gltf/gltf_state.h
  modules/gltf/packed_scene_gltf.cpp
  modules/tga/image_loader_tga.cpp
  modules/tga/image_loader_tga.h
  platform/android/detect.py
  platform/iphone/detect.py
  platform/osx/detect.py
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
Labels: bug, enhancement, topic:core, topic:editor

#69584 [TextMesh] Fix autotranslate.
  scene/3d/mesh_instance_3d.cpp
Labels: bug, topic:gui, topic:3d

#69312 Editor doubleclick jumping in certain positions fix
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, usability

#69357 Remove `UPDATE_TRIGGER` mode from `ValueTrack::UpdateMode` & Match behaviors between `AnimationTree` and `AnimationPlayer`
  core/core_constants.cpp
  core/object/object.h
  doc/classes/@GlobalScope.xml
  doc/classes/Animation.xml
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/icons/TrackTrigger.svg
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: bug, enhancement, breaks compat, topic:animation

#69561 Fix TreeItem::set_as_cursor check
  scene/gui/tree.cpp
Labels: bug, regression, topic:gui

#69562 Fix heap-use-after-free when exiting editor after editing TileSet
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
Labels: bug, topic:editor

#69119 Add readahead to VariantParser [4.x]
  core/variant/variant_parser.cpp
  core/variant/variant_parser.h
Labels: enhancement, topic:core, performance

#68660 Improve command line help to fit on narrower displays
  main/main.cpp
  misc/dist/shell/_godot.zsh-completion
  misc/dist/shell/godot.bash-completion
  misc/dist/shell/godot.fish
Labels: enhancement, topic:core

#68770 Add track validator to AnimationPlayerEditor to detect tracks which have error
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: enhancement, usability, topic:animation

#67387 Implement CAMERA_VISIBLE_LAYERS as built-in shader variable
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/scene_data_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:shaders, topic:3d

#69384 [3.x] Add missing argument to `AnimationNodeBlendTreeEditor::_delete_nodes_request`
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
Labels: bug, topic:editor, topic:animation, cherrypick:3.5

#69569 [3.x] Fix TreeItem.remove_child not updating Tree immediately
  scene/gui/tree.cpp
Labels: bug, topic:gui, cherrypick:3.5

#69585 [TextMesh, 3.x] Fix auto-translation and ignore control chars.
  scene/3d/mesh_instance.cpp
  scene/resources/primitive_meshes.cpp
Labels: bug, topic:gui, topic:3d, cherrypick:3.5

#65079 Add readahead to VariantParser
  core/variant_parser.cpp
  core/variant_parser.h
Labels: enhancement, topic:core, performance

#69578 Clean up DisplayServerAndroid::window_get_native_handle() with the GLES3 renderer
  doc/classes/DisplayServer.xml
  modules/openxr/extensions/openxr_opengl_extension.cpp
  platform/android/display_server_android.cpp
Labels: bug, platform:android, topic:rendering

#69592 [Linux/BSD] Fix build without fontconfig.
  platform/linuxbsd/os_linuxbsd.cpp
  platform/linuxbsd/os_linuxbsd.h
Labels: bug, platform:linuxbsd, topic:buildsystem

#69521 Expose emulated *Unorm4x8 glsl functions in non-android builds
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/shaders/stdlib_inc.glsl
Labels: bug, platform:web, topic:rendering, regression

#69531 Fix recurrence issue with setting current origin node
  scene/3d/xr_nodes.cpp
  scene/3d/xr_nodes.h
Labels: bug, topic:xr

#69580 [RTL] Fix search method not taking nested frame and line wraps into account.
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#69169 embree: Enable raycast module build for Web and Windows x86_32
  modules/raycast/SCsub
  modules/raycast/config.py
Labels: enhancement, platform:windows, platform:web, topic:buildsystem, needs testing, cherrypick:3.x

#69294 Windows: Link MSVC dynamic debug CRT for debug builds
  platform/windows/detect.py
Labels: enhancement, platform:windows, topic:buildsystem, needs testing

#69525 Minor tweaks/polish to the navigation controls to prevent interference
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#69588 Fix AnimationPlayer play backward doesn't process just current key ＆ AnimationPlaybackTrack seeking for preview
  editor/plugins/animation_player_editor_plugin.cpp
  scene/animation/animation_player.cpp
Labels: bug, regression, topic:animation

#69132 Script editor: Rewrite multiline move logic
  editor/code_editor.cpp
Labels: bug, topic:editor, usability

#69526 [3.x] Minor tweaks/polish to the navigation controls to prevent interference
  editor/plugins/spatial_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#69284 Prevent editor crash when deleting children of GraphNode
  scene/gui/graph_node.cpp
Labels: bug, topic:editor, crash, topic:gui

#69563 Fix burning CPU with udev disabled on Flatpak
  platform/linuxbsd/joypad_linux.cpp
Labels: bug, platform:linuxbsd, topic:porting, topic:input, cherrypick:3.x, performance, cherrypick:3.5

#69600 Fix setting a global shader variable in the project settings
  editor/shader_globals_editor.cpp
Labels: bug, topic:editor, crash, topic:shaders

#69602 Fix suppressed error message on error when using % format string
  core/variant/variant_op.h
Labels: bug, topic:core

#69609 Windows: Make MSVC debug CRT opt-in (`debug_crt=yes`)
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem, regression

#69343 Add missing public `property_*_revert` getters
  core/object/object.cpp
  doc/classes/Object.xml
Labels: bug, topic:core, topic:gdscript, regression

#69444 Improve layout of generated class references RST pages
  doc/tools/make_rst.py
Labels: enhancement, documentation

#68983 Tweak Color Documentation
  doc/classes/Color.xml
Labels: enhancement, topic:core, documentation

#69115 Curve2d baking and sampling refactor
  doc/classes/@GlobalScope.xml
  doc/classes/Curve2D.xml
  doc/classes/Curve3D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  scene/2d/path_2d.cpp
  scene/resources/curve.cpp
  scene/resources/curve.h
  tests/scene/test_curve.h
Labels: enhancement, topic:core, topic:2d

#67123 Improve caret drawing conditions for `LineEdit`
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: enhancement, topic:gui

#65101 Bug: The range doesn't take into account the min value when setting the value.
  scene/gui/range.cpp
Labels: bug, cherrypick:3.x, topic:gui, cherrypick:3.5

#65228 Fix "Save Branch as Scene" storing root Node's `unique_name_in_owner`
  editor/scene_tree_dock.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Labels: bug, topic:core

#68324 Fix group reimport bug
  editor/editor_file_system.cpp
Labels: bug, topic:editor, topic:import, for pr meeting

#69581 [opengl] Don't flip render target when blitting it to screen if it wasn't rendered upside down
  drivers/gles3/rasterizer_gles3.cpp
Labels: bug, topic:rendering

#69606 Keep GDScriptAnalyzer alive for whole parse()
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Labels: bug, topic:gdscript

#69608 AnimationNodeBlendTreeEditor: Fix popup locations when creating nodes with dragging
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
Labels: bug, topic:editor, topic:animation

#69618 Fix that mouse-button-up event is parsed twice for drag-and-drop
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:input

#69620 Fix incomplete shadowing of member properties by parameters
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/tests/scripts/runtime/features/parameter_shadowing.gd
  modules/gdscript/tests/scripts/runtime/features/parameter_shadowing.out
Labels: bug, topic:gdscript

#69631 Fix error when right clicking proxy list in TileProxiesManagerDialog
  editor/plugins/tiles/tile_proxies_manager_dialog.cpp
  editor/plugins/tiles/tile_proxies_manager_dialog.h
Labels: bug, topic:editor

#69633 Use internal texture name when setting texture uniform location in OpenGL renderer
  drivers/gles3/shader_gles3.cpp
Labels: bug, topic:rendering

#69639 Fix completion for the raw `get_node` call
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#69642 Fix highlight overlaps in TextEdit
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, regression

#68860 Draw fish bones for Path3D and Path2D in the Editor
  editor/plugins/path_3d_editor_plugin.cpp
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
  servers/rendering/renderer_canvas_cull.cpp
Labels: enhancement, topic:editor, usability, for pr meeting, topic:3d

#67906 Remove unnecessary checks when exporting gdextension binaries and allow using a prefix to auto-detect files
  core/extension/native_extension.cpp
  core/extension/native_extension.h
  core/os/os.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform_pc.cpp
  editor/plugins/gdextension_export_plugin.h
  editor/project_settings_editor.cpp
  tests/core/os/test_os.h
Labels: bug, enhancement, topic:gdextension, topic:export

#55757 Tweak shadow bias defaults for DirectionalLight3D and OmniLight3D
  doc/classes/Light3D.xml
  doc/classes/OmniLight3D.xml
  doc/classes/SpotLight3D.xml
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
Labels: enhancement, topic:rendering, topic:3d

#50294 Use circular fade instead of linear fade for distance fade
  scene/resources/material.cpp
Labels: enhancement, topic:rendering, cherrypick:3.x, topic:3d

#69643 Fix incorrect rendering of vcs dialogs
  editor/plugins/version_control_editor_plugin.cpp
Labels: bug, topic:editor

#69648 Fix typo in OpenXR depth buffer submission
  modules/openxr/openxr_api.cpp
Labels: bug, topic:xr, topic:3d

#69446 Fix new quick open dialog to be showed at the center of the screen
  editor/editor_command_palette.cpp
  editor/editor_command_palette.h
  editor/editor_quick_open.cpp
Labels: bug, topic:editor, regression

#65035 Fix AABB errors on meshes with bones on multiple surfaces
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, topic:import, for pr meeting, topic:3d

#69651 Cancels the code complete timer when the caret moves to another line
  editor/code_editor.cpp
  editor/code_editor.h
Labels: bug, topic:editor

#69657 Fix collision detection for degenerate capsules
  servers/physics_2d/godot_shape_2d.cpp
  servers/physics_3d/godot_shape_3d.cpp
Labels: bug, topic:physics, topic:2d, topic:3d

#69658 Fix unexpected editor dependency
  scene/debugger/scene_debugger.cpp
Labels: bug, topic:buildsystem, topic:editor, regression

#69660 Fix Path2D fish bone direction
  scene/2d/path_2d.cpp
  scene/resources/curve.cpp
Labels: bug, topic:2d

#69666 Use `GDREGISTER_CLASS` macro for SkeletonModification classes
  scene/register_scene_types.cpp
Labels: enhancement, topic:3d

#69322 Fix issue around incorrect Vulkan version
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
Labels: bug, topic:rendering

#69627 Fix crash on old scene reimport
  modules/gltf/editor/editor_scene_importer_gltf.cpp
Labels: bug, topic:import, crash, topic:3d

#69638 [macOS export] Add support for Xcode notarytool.
  platform/macos/export/export_plugin.cpp
Labels: enhancement, platform:macos, topic:editor, cherrypick:3.x, topic:export

#69654 Make submitting depth buffer in OpenXR optional
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
Labels: enhancement, topic:xr

#69674 Fix typo in physics step: contraint -> constraint
  servers/physics_2d/godot_step_2d.cpp
  servers/physics_2d/godot_step_2d.h
  servers/physics_3d/godot_step_3d.cpp
  servers/physics_3d/godot_step_3d.h
Labels: enhancement, topic:codestyle

#69686 [Windows] Window management fixes.
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting, topic:gui

#69690 Fix property type for OpenXR display refresh rate
  modules/openxr/openxr_interface.cpp
Labels: bug, topic:xr

#69695 Make ID capitalization in tiles editor consistent
  editor/plugins/tiles/atlas_merging_dialog.cpp
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
Labels: bug, topic:editor

#69699 Fix Variant StringName `is_zero` being inverted
  core/variant/variant.cpp
Labels: bug, topic:core

#69702 Fix menu popup safe rect height no including theme separation.
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#69713 Rename get_surrounding_tiles to get_surrounding_cells
  doc/classes/TileMap.xml
  editor/plugins/tiles/tile_map_editor.cpp
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: enhancement, breaks compat, topic:2d

#69717 Fix lookup to docs for variables initialized with `get_node`
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#69719 Fix a wrong error formatting in gdextension export plugin
  editor/plugins/gdextension_export_plugin.h
Labels: bug, topic:gdextension

#68998 Avoid error spamming in animation_tree when path is not found
  scene/animation/animation_tree.cpp
Labels: enhancement, topic:animation

#68682 Make Camera3D gizmo the same aspect ratio as its viewport
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  scene/3d/camera_3d.cpp
Labels: enhancement, topic:editor, topic:3d

#67554 Remove Screen-parameter for determining Touchscreen capability
  doc/classes/DisplayServer.xml
  editor/editor_node.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  main/main.cpp
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  scene/2d/touch_screen_button.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_container.cpp
  scene/gui/tree.cpp
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, topic:porting, breaks compat, topic:gui

#69707 [Linux/X11] Split fullscreen mode into `WINDOW_MODE_EXCLUSIVE_FULLSCREEN` and `WINDOW_MODE_FULLSCREEN` to improve multi-window handling.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Labels: enhancement, platform:linuxbsd, topic:porting, topic:gui

#69712 Rename `window_get_real_size`, add position counterpart.
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Labels: enhancement, topic:porting, breaks compat

#69573 Fix dependency reload triggered too early
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#69733 Properly free Skeleton RID in RenderingServer.free()
  drivers/gles3/storage/utilities.cpp
Labels: bug, topic:rendering

#69744 Use capitalized ID in the doc
  doc/classes/CollisionObject2D.xml
  doc/classes/CollisionObject3D.xml
  doc/classes/PhysicsPointQueryParameters2D.xml
  doc/classes/PopupMenu.xml
  doc/classes/RenderingServer.xml
  doc/classes/TextServer.xml
  doc/classes/Tree.xml
  doc/classes/TreeItem.xml
  doc/classes/XRInterfaceExtension.xml
  modules/multiplayer/doc_classes/MultiplayerSynchronizer.xml
  modules/webrtc/doc_classes/WebRTCDataChannel.xml
Labels: enhancement, documentation

#69617 Fix fringe issues with shortcuts not behaving as expected for multi-carets
  editor/find_in_files.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
Labels: bug, topic:gui

#69679 Fix `ResourceLoader::thread_load_tasks` crash
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  main/main.cpp
Labels: bug, topic:core, crash

#69735 Detect and report if 2D particles use the screen SDF
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Labels: bug, topic:rendering, topic:2d, topic:particles

#69738 Make custom visual shader nodes automatically updates from script
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, topic:shaders

#69769 Move navigation server finalize before physics server
  main/main.cpp
Labels: bug, topic:physics, topic:navigation

#69774 Fix BackBufferCopy `rect` property appearing when not relevant in inspector
  doc/classes/BackBufferCopy.xml
  scene/2d/back_buffer_copy.cpp
  scene/2d/back_buffer_copy.h
Labels: bug, topic:editor, topic:2d

#69791 Fix autocomplete crash as it would infinite loop
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, crash

#69799 Web: Fix side module build with Embree
  thirdparty/embree/common/sys/sysinfo.cpp
  thirdparty/embree/patches/emscripten-nthreads.patch
Labels: bug, platform:web, topic:buildsystem, topic:thirdparty, cherrypick:3.x

#69800 Fix changing of visual shader mode
  editor/plugins/shader_editor_plugin.h
Labels: bug, topic:editor, topic:shaders

#69747 Update tile source icons when editor theme changes
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
Labels: bug, topic:editor

#69753 RichTextLabel: decouple meta cursor from underline
  scene/gui/rich_text_label.cpp
Labels: enhancement, topic:gui

#69806 Fix TileMap redrawing itself twice on creation
  scene/2d/tile_map.cpp
Labels: enhancement, topic:2d

#69644 Fix for 2D viewport not updating in the editor when the camera moves
  scene/2d/camera_2d.cpp
Labels: bug, topic:editor, topic:2d

#69353 Copy local theme overrides from `Control` to `Window`
  doc/classes/Control.xml
  doc/classes/Window.xml
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, regression, topic:gui

#68747 GDScript: Unify StringName and String
  core/variant/array.cpp
  core/variant/container_type_validate.h
  core/variant/dictionary.cpp
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_op.cpp
  core/variant/variant_op.h
  doc/classes/String.xml
  doc/classes/StringName.xml
  editor/doc_tools.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/analyzer/errors/dictionary_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/analyzer/errors/dictionary_string_stringname_equivalent.out
  modules/gdscript/tests/scripts/analyzer/features/array_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/analyzer/features/array_string_stringname_equivalent.out
  modules/gdscript/tests/scripts/runtime/features/array_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/runtime/features/array_string_stringname_equivalent.out
  modules/gdscript/tests/scripts/runtime/features/dictionary_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/runtime/features/dictionary_string_stringname_equivalent.out
  modules/gdscript/tests/scripts/runtime/features/match_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/runtime/features/match_string_stringname_equivalent.out
  modules/gdscript/tests/scripts/runtime/features/string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/runtime/features/string_stringname_equivalent.out
  modules/multiplayer/scene_rpc_interface.cpp
  modules/regex/regex.cpp
  tests/core/variant/test_dictionary.h
Labels: enhancement, topic:core, topic:gdscript

#60892 Improve tile editor selection appearance
  editor/icons/TileSelection.svg
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  editor/plugins/tiles/tiles_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:2d

#69821 Update StringName documentation to match String's
  doc/classes/String.xml
  doc/classes/StringName.xml
Labels: enhancement, topic:core, documentation

#69785 Fix fontconfig and dbus loading on Linux
  platform/linuxbsd/dbus-so_wrap.c
  platform/linuxbsd/fontconfig-so_wrap.c
Labels: bug, platform:linuxbsd, topic:porting, topic:gui

#69467 GDScript: Fix subclass script path issues
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_vm.cpp
Labels: bug, topic:gdscript

#68728 Make sure the popup editor is hidden when selected
  scene/gui/tree.cpp
Labels: bug, regression, topic:gui

#69817 Fix left-aligned EditorHelp when first opened
  editor/editor_help.cpp
Labels: bug, topic:editor, regression

#69842 Fix !tile_set.is_valid() error on startup
  editor/plugins/tiles/tile_set_editor.cpp
Labels: bug, topic:editor

#69844 Fix glyph_flags typo.
  scene/gui/rich_text_effect.h
Labels: bug, topic:gui

#69831 Remove warning when playing random no-repeat sound with only 1 sound in pool
  doc/classes/AudioStreamRandomizer.xml
  servers/audio/audio_stream.cpp
Labels: enhancement, topic:audio

#69372 GLTF module: Clean up lots of includes
  modules/gltf/doc_classes/GLTFDocumentExtension.xml
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_fbx.cpp
  modules/gltf/editor/editor_scene_importer_gltf.cpp
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.h
  modules/gltf/extensions/gltf_light.cpp
  modules/gltf/extensions/gltf_light.h
  modules/gltf/extensions/gltf_spec_gloss.cpp
  modules/gltf/extensions/gltf_spec_gloss.h
  modules/gltf/gltf_defines.h
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/gltf_state.cpp
  modules/gltf/gltf_state.h
  modules/gltf/register_types.cpp
  modules/gltf/structures/gltf_accessor.h
  modules/gltf/structures/gltf_animation.h
  modules/gltf/structures/gltf_camera.cpp
  modules/gltf/structures/gltf_camera.h
  modules/gltf/structures/gltf_mesh.h
  modules/gltf/structures/gltf_texture_sampler.h
Labels: enhancement, topic:import, topic:3d

#69518 GDScript: Preload should make native type
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript

#69853 Fix unmerged history in AnimationTrackEditor
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  scene/animation/animation_player.cpp
Labels: bug, regression, topic:animation

#69858 Fix for glDrawElements crash on GLES3
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering

#69077 Remove debug macro for GDScriptLanguage script_list assignment
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#69587 Fix constants scope in extended or inner GDScript classes
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution.gd
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution.out
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution_a.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution_b.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution_base.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution_c.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/base_outer_resolution_extend.notest.gd
Labels: bug, topic:gdscript
