Repository godotengine/godot, pull requests merged in 2022-07, with the labels that each got.

#62477 Prevent out-of-bounds write in array conversion; avoid logspam on empty arrays.
  core/templates/vector.h
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
Labels: bug, topic:core, crash

#62551 Properly check for fullscreen toggle made through the Window Manager
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:porting

#62522 Fix window maximize error message appearing when starting the web editor (3.x)
  platform/javascript/os_javascript.cpp
Labels: bug, platform:html5, topic:editor, topic:porting

#59089 Add `root_subfolder` to FileDialog
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, feature proposal, for pr meeting, cherrypick:3.x, topic:gui

#62587 Add arch flag to assembler to fix build on M1 mac.
  core/SCsub
  platform/iphone/detect.py
  platform/osx/detect.py
Labels: bug, platform:ios, platform:macos, topic:buildsystem, cherrypick:3.x

#62589 Handle custom Callables in Thread.start()
  core/core_bind.cpp
Labels: bug, topic:core

#62594 Restore and improve some ParticlesMaterial docs
  doc/classes/ParticlesMaterial.xml
Labels: enhancement, topic:rendering, documentation

#62439 Improve String.format() documentation
  doc/classes/String.xml
Labels: enhancement, documentation, cherrypick:3.x

#62595 Stretch image on resize in asset description dialog
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, topic:editor, topic:assetlib, cherrypick:3.x

#62600 Clamp Decal's upper/lower fade to positive values
  doc/classes/Decal.xml
  scene/3d/decal.cpp
Labels: bug, topic:rendering, topic:3d

#62603 Remove debugging print following GI reorganization
  servers/rendering/renderer_rd/environment/gi.cpp
Labels: bug, topic:rendering, topic:3d

#50755 Add global_position and global_rotation to Node3D
  doc/classes/Node3D.xml
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
Labels: enhancement, topic:core, topic:3d

#62613 [3.5] Remove documentation that mentions 2D navigation mesh baking
  doc/classes/NavigationAgent2D.xml
Labels: enhancement, documentation

#62616 [macOS export] Unref FileAccess to ensure chmod is successful.
  platform/osx/export/export_plugin.cpp
Labels: bug, platform:macos, topic:export

#62605 Add an underscore to internal group names as per engine policy
  scene/main/node.cpp
  scene/main/scene_tree.cpp
Labels: bug, topic:core

#62607 Default cursor fix for html5 export
  platform/javascript/display_server_javascript.cpp
Labels: enhancement, platform:html5, topic:porting, topic:input

#62608 [3.x] Default cursor fix in html5 export.
  platform/javascript/os_javascript.cpp
Labels: enhancement, platform:html5, topic:porting, topic:input

#62618 Fix exit code of --help and --version, and test them in CI
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
  main/main.cpp
  platform/android/java_godot_lib_jni.cpp
  platform/iphone/godot_iphone.mm
  platform/linuxbsd/godot_linuxbsd.cpp
  platform/osx/godot_main_osx.mm
  platform/windows/godot_windows.cpp
Labels: bug, topic:core

#62556 DisplayServer: Don't fallback to headless
  main/main.cpp
Labels: enhancement, topic:core

#62633 Corrected InputEventKey::as_text to return a non-empty string for physical keys.
  core/os/input_event.cpp
Labels: bug, topic:input

#62634 [3.x] SCons: Properly track codegen script dependency for generated GLES headers
  drivers/gles2/shaders/SCsub
  drivers/gles3/shaders/SCsub
Labels: bug, topic:buildsystem, cherrypick:3.4

#62636 SCons: Properly track codegen script dependency for generated GLSL headers
  drivers/gles3/shaders/SCsub
  modules/lightmapper_rd/SCsub
  servers/rendering/renderer_rd/shaders/SCsub
  servers/rendering/renderer_rd/shaders/effects/SCsub
  servers/rendering/renderer_rd/shaders/environment/SCsub
Labels: bug, topic:buildsystem

#61169 [3.5/3.x] ResourceImporterWAV: Fix support for 64-bit IEEE float
  editor/import/resource_importer_wav.cpp
Labels: bug, topic:audio, topic:import

#61168 [4.0] ResourceImporterWAV: Fix support for 64-bit IEEE float
  editor/import/resource_importer_wav.cpp
Labels: bug, topic:audio, topic:import

#62647 Make asset library's column count dynamic
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability, topic:assetlib, cherrypick:3.x

#59576 [3.x] Fix same project opening multiple times from project manager
  editor/project_manager.cpp
Labels: bug, topic:editor, usability, cherrypick:3.4

#55826 [GDNative] Add missing `join` method for PoolStringArray class
  modules/gdnative/gdnative/pool_arrays.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/pool_arrays.h
Labels: bug, topic:gdextension

#47279 [3.x] Remove hardcoded names in generated objects
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:import

#47170 print_stray_nodes() also prints node's script
  scene/main/node.cpp
Labels: enhancement, topic:core

#62651 Register missing WebRTCDataChannelJS type
  modules/webrtc/webrtc_peer_connection_js.cpp
  modules/webrtc/webrtc_peer_connection_js.h
Labels: bug, platform:html5, topic:network, cherrypick:3.x

#41402 Add process_mode property to InterpolatedCamera
  doc/classes/InterpolatedCamera.xml
  scene/3d/interpolated_camera.cpp
  scene/3d/interpolated_camera.h
Labels: enhancement, topic:core

#54239 Only show relevant properties in the DirectionalLight inspector (3.x)
  doc/classes/DirectionalLight.xml
  scene/3d/light.cpp
  scene/3d/light.h
Labels: enhancement, topic:editor, usability, topic:3d

#49967 Print a warning for Viewports that have 2D usage and HDR enabled
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
Labels: enhancement, topic:core, topic:editor, usability

#57566 Clamp Viewport shadow atlas sizes to improve usability
  doc/classes/ProjectSettings.xml
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  servers/visual_server.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#57685 Fix GLTF texture filename decoding
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:3d, cherrypick:3.4

#62653 glTF: Fix a couple typos in warnings on image parsing
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:import

#62641 Vulkan: Make `loader_get_json` "error" a verbose message on Windows
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, platform:windows, topic:rendering, topic:thirdparty

#59834 Fix some bugs in the advanced scene import
  editor/import/scene_import_settings.cpp
Labels: bug, topic:editor, topic:import, crash, topic:3d

#62665 Input: Re-enable input accumulation by default
  core/input/input.h
  doc/classes/Input.xml
Labels: bug, topic:input, regression

#62664 Input: Document that accumulated input is disabled by default
  doc/classes/Input.xml
  doc/classes/InputEventMouseMotion.xml
Labels: enhancement, topic:input, cherrypick:3.4

#62628 [3.5] Avoid GL undefined behavior in ubershaders
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shader_gles3.h
  gles_builders.py
Labels: bug, topic:rendering

#62649 Fix 3D editor gizmos appearing in GI following default GI mode change
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:rendering, topic:editor, topic:3d

#62672 Fix no `hint_string` for `frame` property in `AnimatedSprite`s
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:editor

#62669 [macOS] Use statically linked MoltenVK by default, automatically detect MoltenVK SDK install.
  .github/workflows/macos_builds.yml
  platform/osx/detect.py
Labels: enhancement, platform:macos, topic:buildsystem

#62611 Android: Refactor Custom Build options in export preset
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, usability, topic:export

#62602 [3.x] Android: Refactor Custom Build options in export preset
  editor/editor_node.cpp
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, usability, breaks compat, topic:export

#62677 Particles: Fix missing configuration warning updates
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.cpp
Labels: enhancement, topic:editor, usability

#62609 [3.4] Android: Only warn when Target SDK is non default
  editor/editor_node.cpp
  editor/project_export.cpp
  editor/project_export.h
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, usability, topic:export

#62681 Keep Perspective menu open after selecting an option
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x, topic:3d

#62697 [3.x] Use custom key struct, instead of raw hashes for the Label3D cache to avoid potential hash collisions.
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
Labels: enhancement, topic:gui

#62700 Use autowrap in the curve editor.
  editor/plugins/curve_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:gui

#62175 Use custom key structs, instead of raw hashes for the Label3D and TextMesh, to avoid potential hash collisions.
  core/templates/lru.h
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
Labels: enhancement, topic:gui

#38298 Fix FileDialog file name autocompletion with filters
  editor/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Labels: bug, cherrypick:3.x, topic:gui

#62448 Add the ability to drag the code completion scrollbar using the mouse click
  doc/classes/CodeEdit.xml
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:editor, usability, topic:gui

#62705 Expression built-in functions can also be considered as identifiers in subscripts
  core/math/expression.cpp
Labels: bug, topic:core

#62212 Add inversion/eraser-end property for tablet pens
  core/input/input_event.cpp
  core/input/input_event.h
  doc/classes/InputEventMouseMotion.xml
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/osx/godot_content_view.h
  platform/osx/godot_content_view.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting, needs testing, topic:input

#62719 Fix the directory copy bug issue
  platform/android/java/lib/src/org/godotengine/godot/io/file/DataAccess.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/FileAccessHandler.kt
Labels: bug, platform:android, topic:porting

#62692 Fix drag'n drop type checking for NodePaths
  editor/editor_properties.cpp
Labels: bug, topic:editor

#62720 Document changing the Decal and Light3D projector texture filter modes
  doc/classes/Decal.xml
  doc/classes/Light3D.xml
Labels: enhancement, documentation

#62724 Implement XMLParser.get_current_line()
  core/io/xml_parser.cpp
  core/io/xml_parser.h
  doc/classes/XMLParser.xml
Labels: enhancement, topic:core

#62259 Allow to disable TextEdit vertical scroll
  doc/classes/TextEdit.xml
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:gui

#62731 GDScript: Fix autocompletetion showing class names with an underscore
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:3.4

#44492 Added a test suite for the Plane object.
  tests/core/math/test_plane.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#35626 Add Desktop to file dialogue as drive in unix
  drivers/unix/dir_access_unix.cpp
Labels: enhancement

#62539 Show the transform operation numbers in 2D
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:2d

#62721 Change LineEdit caret blink to use internal process
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: bug, topic:gui

#38080 [Node3DEditorViewport] Add correct margin for rotation control and fps label.
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, topic:gui

#62747 Fix light intensity and attenuation import from GLTF
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, cherrypick:3.x, topic:3d

#54080 [3.x] Add error messages `String::hex_to_int` functions, and accept capital X in prefix
  core/ustring.cpp
Labels: enhancement, topic:core

#54083 [3.x] Add error messages to `String::bin_to_int64`, and accept capital B in prefix
  core/ustring.cpp
Labels: enhancement, topic:core

#62762 [3.x] Fix icon color for Label3D and CPUParticles2D
  editor/icons/icon_c_p_u_particles.svg
  editor/icons/icon_c_p_u_particles_2_d.svg
  editor/icons/icon_label_3d.svg
Labels: bug, topic:editor, usability

#62763 Fix heap-use-after-free when closing a scene with its builtin script open
  editor/editor_data.cpp
Labels: bug, topic:editor, cherrypick:3.x

#62755 Disable Expand by default in VideoStreamPlayer
  doc/classes/VideoStreamPlayer.xml
  scene/gui/video_stream_player.h
Labels: enhancement, breaks compat, topic:gui

#62757 Remove unused anisotropy setter/getter methods in VoxelGI
  drivers/gles3/environment/gi.cpp
  drivers/gles3/environment/gi.h
  servers/rendering/dummy/environment/gi.h
  servers/rendering/environment/renderer_gi.h
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/gi.h
Labels: enhancement, topic:rendering, topic:3d

#62761 [3.x] Fix LineEdit caret after using arrow key to deselect
  scene/gui/line_edit.cpp
Labels: bug, topic:gui

#62766 [3.x] Update TextureRegion editor when NinePatchRect/StyleBoxTexture changes
  editor/plugins/texture_region_editor_plugin.cpp
Labels: bug, topic:editor

#62767 Check if GL manager exist to prevent crash when using multithreaded renderer with Vulkan.
  platform/linuxbsd/display_server_x11.cpp
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:linuxbsd, topic:rendering, crash

#62707 Add grouping annotations for class properties in GDScript
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/parser/errors/class_name_after_annotation.gd
  modules/gdscript/tests/scripts/parser/errors/class_name_after_annotation.out
Labels: enhancement, topic:gdscript, topic:editor

#62776 Remove Octree [4.x]
  core/math/octree.h
  scene/resources/world_3d.cpp
  servers/rendering/rendering_server_default.h
Labels: enhancement, topic:core

#62760 Fix priority of annotated type vs initializer type
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#62786 [3.x] Fix cherry-pick mistakes in `SceneTreeTween` doc
  doc/classes/SceneTreeTween.xml
Labels: bug, documentation

#62784 Prevent possible crash when creating or deleting a mesh with armature
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, crash

#62791 C#: Add `BezierInterpolate` method
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Labels: enhancement, topic:dotnet

#62792 EditorScenePostImportPlugin: Return requested option value
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:editor, topic:import, topic:3d

#62735 Allows parsing of invalid UTF-16 surrogates and some non-standard UTF-8 variants, makes Unicode parse errors more verbose.
  core/io/file_access.cpp
  core/io/marshalls.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  drivers/unix/dir_access_unix.cpp
  drivers/unix/os_unix.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_cache.cpp
  modules/mono/build_scripts/make_android_mono_config.py
  modules/mono/utils/path_utils.cpp
  modules/mono/utils/string_utils.cpp
  scene/resources/text_file.cpp
  tests/core/string/test_string.h
Labels: enhancement, topic:core

#62801 Ensure NuGet.config directory exists
  modules/mono/editor/GodotTools/GodotTools/Build/NuGetUtils.cs
Labels: bug, topic:dotnet

#62808 [macOS] Improve file association handling, and allow URL schema handling.
  core/os/os.h
  main/main.cpp
  platform/osx/godot_application_delegate.h
  platform/osx/godot_application_delegate.mm
  platform/osx/godot_main_osx.mm
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
Labels: enhancement, platform:macos, topic:porting

#62813 Use clang as assembler to ensure preprocessing is done, and add assembler "target" flag.
  platform/android/detect.py
Labels: bug, platform:android, topic:buildsystem, topic:thirdparty, needs testing

#62818 Fix regressions from Font refactor.
  editor/code_editor.cpp
  editor/editor_fonts.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/gui/rich_text_label.cpp
Labels: bug, regression, topic:gui

#62816 Export: Fix comma handling in feature list RTL
  editor/project_export.cpp
Labels: bug, topic:editor, regression, topic:export

#62789 C#: Enable exporting nodes to the inspector
  modules/mono/csharp_script.cpp
Labels: enhancement, topic:dotnet

#62823 Only include editor/SCsub when building the editor: tools=yes
  SConstruct
Labels: bug, topic:buildsystem, cherrypick:3.x

#62826 Input: Re-enable input accumulation disabled by error in 3.4
  doc/classes/Input.xml
  doc/classes/InputEventMouseMotion.xml
  main/input_default.cpp
Labels: bug, topic:input, regression

#62708 [3.x] Do not set gravity and damping when Custom Integrator is enabled.
  modules/bullet/rigid_body_bullet.cpp
Labels: bug, topic:physics, regression

#62751 Fix small typo in LightmapGI class reference
  doc/classes/LightmapGI.xml
Labels: bug, documentation

#62075 Refactor of ColorPicker
  doc/classes/ColorPicker.xml
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/plugins/script_text_editor.cpp
  editor/property_editor.cpp
  scene/gui/color_mode.cpp
  scene/gui/color_mode.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, usability, topic:gui

#42708 Clarified usage of TreeItem navigation functions.
  doc/classes/TreeItem.xml
Labels: enhancement, documentation, cherrypick:3.x, topic:gui

#62831 AudioStreamPlayer: Clarify that no validation is made on 'bus' name
  doc/classes/AudioStreamPlayer.xml
  doc/classes/AudioStreamPlayer2D.xml
  doc/classes/AudioStreamPlayer3D.xml
Labels: enhancement, documentation, topic:audio, cherrypick:3.x

#62638 Use antialiasing for line drawing in the AnimationTree editor
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
Labels: enhancement, topic:editor, topic:animation

#62632 Make sure the tile data clears its `terrain` field when said terrain is removed from the tileset.
  scene/resources/tile_set.cpp
Labels: bug, topic:editor, crash, topic:2d

#62277 Rationalize certain cases of texture usage flags
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, topic:rendering

#62744 Horizontal scroll for Tree
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, usability, topic:input, topic:gui

#62405 Clean and fix the Movie Maker button
  editor/editor_node.cpp
  editor/editor_node.h
  editor/icons/MainMovieWriteEnabled.svg
Labels: bug, enhancement, topic:editor, usability

#62839 AssetLib: Only notify when unavailable in verbose mode
  editor/editor_node.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:assetlib, cherrypick:3.x

#62837 Account for relative z-indexes when y-sorting
  scene/2d/tile_map.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
Labels: bug, topic:rendering, topic:2d

#60739 Add static methods for creating Image and ImageTexture
  core/io/image.cpp
  core/io/image.h
  doc/classes/HTTPRequest.xml
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_preview.cpp
  editor/editor_run_native.cpp
  editor/editor_themes.cpp
  editor/import/resource_importer_texture_atlas.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/bit_map_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/tiles/atlas_merging_dialog.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  editor/project_manager.cpp
  modules/dds/texture_loader_dds.cpp
  modules/gltf/gltf_document.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  modules/theora/video_stream_theora.cpp
  platform/android/export/export_plugin.cpp
  platform/iphone/export/export_plugin.cpp
  platform/javascript/export/export_plugin.cpp
  platform/linuxbsd/export/export.cpp
  platform/osx/display_server_osx.mm
  platform/osx/export/export_plugin.cpp
  platform/uwp/export/export_plugin.cpp
  platform/windows/export/export.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
  scene/resources/tile_set.cpp
  scene/resources/visual_shader_particle_nodes.cpp
Labels: enhancement, topic:core, usability

#62842 [3.5] Flush accumulated input events on iOS
  platform/iphone/os_iphone.mm
Labels: bug, platform:ios, topic:input

#62843 Flush accumulated input events on iOS
  platform/iphone/display_server_iphone.mm
Labels: bug, platform:ios, topic:input

#41833 Add boot splash minimum display time setting
  doc/classes/ProjectSettings.xml
  main/main.cpp
Labels: enhancement, topic:core, cherrypick:3.x

#54555 Add a script to install the Vulkan SDK on macOS
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: enhancement, platform:macos, topic:buildsystem

#62578 Fix GDScript parser sometimes crashing when issuing warning for unreachable pattern
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, crash

#62922 Add default argument bindings to GDScript annotations
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: enhancement, topic:gdscript, documentation

#62748 Seperate `filter` and `description` arguments in `EditorFileDialog/FileDialog.add_filter()`
  doc/classes/EditorFileDialog.xml
  doc/classes/FileDialog.xml
  editor/debugger/editor_debugger_tree.cpp
  editor/editor_audio_buses.cpp
  editor/editor_feature_profile.cpp
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/editor_node.cpp
  editor/editor_resource_picker.cpp
  editor/export_template_manager.cpp
  editor/import/scene_import_settings.cpp
  editor/inspector_dock.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/cpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/lightmap_gi_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/occluder_instance_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/project_export.cpp
  editor/project_manager.cpp
  editor/property_editor.cpp
  editor/scene_tree_dock.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, topic:gui

#62884 Fix too thin underline in brace match
  scene/gui/text_edit.cpp
Labels: bug, usability, regression, topic:gui

#62865 Fix dead link in TAA resolve shader comment
  servers/rendering/renderer_rd/shaders/taa_resolve.glsl
Labels: bug, topic:rendering, topic:3d

#62827 Add `ok_button_text` to AcceptDialog and `cancel_button_text` to ConfirmationDialog
  doc/classes/AcceptDialog.xml
  doc/classes/ConfirmationDialog.xml
  doc/classes/ScriptCreateDialog.xml
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/create_dialog.cpp
  editor/dependency_editor.cpp
  editor/editor_asset_installer.cpp
  editor/editor_dir_dialog.cpp
  editor/editor_feature_profile.cpp
  editor/editor_file_dialog.cpp
  editor/editor_help_search.cpp
  editor/editor_inspector.cpp
  editor/editor_locale_dialog.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_settings_dialog.cpp
  editor/export_template_manager.cpp
  editor/filesystem_dock.cpp
  editor/groups_editor.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/import/scene_import_settings.cpp
  editor/import_dock.cpp
  editor/plugin_config_dialog.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/replication_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/tiles/atlas_merging_dialog.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_export.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/property_selector.cpp
  editor/quick_open.cpp
  editor/rename_dialog.cpp
  editor/reparent_dialog.cpp
  editor/scene_create_dialog.cpp
  editor/scene_tree_dock.cpp
  editor/script_create_dialog.cpp
  editor/shader_create_dialog.cpp
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/visual_script/editor/visual_script_editor.cpp
  modules/visual_script/editor/visual_script_property_selector.cpp
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
  scene/gui/file_dialog.cpp
Labels: enhancement, topic:gui

#59680 Add "Open Documentation" button to EditorProperty context menu
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/icons/CopyNodePath.svg
Labels: enhancement, topic:editor, usability

#62824 Fix haunted editor bug causing weird issues with mouse behaviour
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, topic:editor, regression

#62774 Make the meta click area fit to its visible area
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, regression, topic:gui

#62900 Fix parser stuck in an error loop
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#62901 Prevent unnecessary additional parser error
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#62895 Remove outdated code path
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, topic:gdscript

#62978 SpriteFrames: Sort animations alphabetically
  doc/classes/SpriteFrames.xml
  scene/resources/sprite_frames.cpp
  scene/resources/sprite_frames.h
Labels: enhancement, topic:animation

#62986 Show Resource type name in Array editor
  editor/editor_properties_array_dict.cpp
Labels: enhancement, topic:editor

#62990 Fix documentation for C# Vector2/3i classes.
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2i.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3i.cs
Labels: bug, documentation, topic:dotnet

#62710 Improve visibility of code, kbd and clickable references in editor help
  editor/editor_help.cpp
Labels: enhancement, topic:editor, usability

#60696 Rename soft shadow quality project settings for easier searching
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  editor/editor_node.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, breaks compat, topic:3d

#62947 Fix typo, call mesh_instance_free not mesh_free
  servers/rendering/renderer_canvas_render.cpp
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering, topic:3d

#62919 Fix editor dock layout not saving correctly
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#60458 Remove unused hints
  core/core_constants.cpp
  core/extension/gdnative_interface.h
  core/object/object.h
  doc/classes/@GlobalScope.xml
  doc/classes/EditorScenePostImportPlugin.xml
  modules/gdscript/gdscript.cpp
  scene/3d/lightmap_gi.cpp
  scene/resources/mesh_library.cpp
  scene/resources/tile_set.cpp
Labels: enhancement, topic:core, breaks compat, topic:codestyle

#58763 Fix some properties having an invalid float step of `0`
  editor/editor_node.cpp
  servers/audio/audio_stream.cpp
Labels: bug, topic:editor

#62993 Fix drag_selection crash on scene close
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, crash, regression, topic:2d

#62980 Disable the OK button until a node is selected.
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.4

#63002 Download Vulkan SDK disk image to a temporary folder in the script
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: enhancement, platform:macos, topic:buildsystem

#62977 [3.x] SpriteFrames: Sort animations alphabetically
  scene/2d/animated_sprite.cpp
Labels: bug, topic:editor, topic:animation

#62723 [3.x, macOS, Windows, X11] Add stylus inverted/eraser support to InputEventMouseMotion event
  core/os/input_event.cpp
  core/os/input_event.h
  doc/classes/InputEventMouseMotion.xml
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting, topic:input

#62906 Use BitField hint for the TextServer enums.
  core/core_constants.cpp
  core/extension/extension_api_dump.cpp
  core/extension/gdnative_interface.h
  core/extension/native_extension.cpp
  core/extension/native_extension.h
  core/variant/type_info.h
  doc/classes/@GlobalScope.xml
  doc/classes/CanvasItem.xml
  doc/classes/Font.xml
  doc/classes/FontFile.xml
  doc/classes/TextLine.xml
  doc/classes/TextParagraph.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/3d/label_3d.cpp
  scene/gui/button.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/resources/font.cpp
  scene/resources/font.h
  scene/resources/text_line.cpp
  scene/resources/text_line.h
  scene/resources/text_paragraph.cpp
  scene/resources/text_paragraph.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: enhancement, topic:gui

#63043 HTML5: Make locale string match other platforms
  platform/javascript/js/engine/config.js
Labels: bug, platform:html5, topic:porting, needs testing, cherrypick:3.x

#63013 Consistently use `double` in Slider and SpinBox
  scene/gui/slider.cpp
  scene/gui/slider.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: bug, topic:gui

#63069 [3.x][GDNative] Refactoring: add `const` to `has` and `join` methods of pooled arrays
  core/pool_vector.h
  modules/gdnative/gdnative/pool_arrays.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/pool_arrays.h
Labels: enhancement, topic:gdextension

#62623 Add `sync` to `NodeTransition` and `BlendSpace1D/2D` and refactor `sync` in `AnimationTree`
  doc/classes/AnimationNode.xml
  doc/classes/AnimationNodeAdd2.xml
  doc/classes/AnimationNodeAdd3.xml
  doc/classes/AnimationNodeBlend2.xml
  doc/classes/AnimationNodeBlend3.xml
  doc/classes/AnimationNodeBlendSpace1D.xml
  doc/classes/AnimationNodeBlendSpace2D.xml
  doc/classes/AnimationNodeOneShot.xml
  doc/classes/AnimationNodeSync.xml
  doc/classes/AnimationNodeTransition.xml
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_1d_editor.h
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.h
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_1d.h
  scene/animation/animation_blend_space_2d.cpp
  scene/animation/animation_blend_space_2d.h
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_blend_tree.h
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:animation

#63073 [3.x][GDNative] Expose `String::join()` over to GDNative Core API v1.3
  core/ustring.cpp
  core/ustring.h
  modules/gdnative/gdnative/string.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdnative/string.h
Labels: enhancement, topic:gdextension

#63078 Fix typo in VehicleBody3D.xml
  doc/classes/VehicleBody3D.xml
Labels: bug, documentation, cherrypick:3.x

#63077 Indicate Plane.distance_to returns a signed distance
  doc/classes/Plane.xml
Labels: enhancement, documentation

#63082 Alphabetize editor plugins in EditorNode and move 2D plugins to their own section
  editor/editor_node.cpp
Labels: enhancement, topic:editor, topic:codestyle

#63075 Changing function definition to fix errror when compiling godot-python
  core/extension/gdnative_interface.h
  core/extension/native_extension.cpp
  core/extension/native_extension.h
Labels: bug, topic:gdextension

#60901 Adding Variable Rate Shading support to Godot
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingDevice.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  doc/classes/XRInterfaceExtension.xml
  drivers/gles3/storage/texture_storage.h
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  modules/glslang/register_types.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/vrs.cpp
  servers/rendering/renderer_rd/effects/vrs.h
  servers/rendering/renderer_rd/effects_rd.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/gi.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/copy_to_fb.glsl
  servers/rendering/renderer_rd/shaders/effects/vrs.glsl
  servers/rendering/renderer_rd/shaders/environment/gi.glsl
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/texture_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface.h
  servers/xr/xr_interface_extension.cpp
  servers/xr/xr_interface_extension.h
Labels: enhancement, topic:rendering, topic:xr, topic:3d, performance

#63095 Automatically create a Gradient resource when creating a GradientTexture1D
  scene/resources/texture.cpp
Labels: bug, topic:editor, usability

#63094 Fix cubic interpolation for Gradient
  scene/resources/gradient.h
Labels: bug, topic:core

#42325 Improve documentation for Camera3D's `current` member
  doc/classes/Camera3D.xml
Labels: enhancement, documentation, cherrypick:3.x
