Repository godotengine/godot, pull requests merged in 2022-04, with the labels that each got.

#59769 Fix group names in FastNoise and Gradient
  modules/noise/fastnoise_lite.cpp
  scene/resources/gradient.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#59772 [3.x] Extract theme property names for localization
  editor/editor_property_name_processor.cpp
  editor/translations/extract.py
  scene/gui/control.cpp
Labels: enhancement, topic:editor

#59771 Extract theme property names for localization
  editor/editor_property_name_processor.cpp
  editor/translations/extract.py
  scene/gui/control.cpp
Labels: enhancement, topic:editor

#58209 Fix `get_simple_path` behavior in 2D & 3D
  modules/navigation/nav_map.cpp
Labels: bug, regression, topic:navigation, topic:2d

#59764 Add Blender install autodetection and configuration.
  doc/classes/AcceptDialog.xml
  doc/classes/EditorFileSystemImportFormatSupportQuery.xml
  doc/classes/ProjectSettings.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  modules/gltf/doc_classes/EditorSceneFormatImporterBlend.xml
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
  modules/gltf/register_types.cpp
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
Labels: topic:editor, topic:import

#59759 Fixing some of my own typos
  doc/classes/String.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:3.4

#59331 Expose navigable layers for NavigationAgent2D/3D
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
Labels: bug, regression, topic:navigation

#59782 Add CI build with clang sanitizers, increase stack size to 30 MB for builds with sanitizers.
  .github/workflows/linux_builds.yml
  platform/linuxbsd/detect.py
  platform/linuxbsd/godot_linuxbsd.cpp
  platform/osx/detect.py
  platform/osx/godot_main_osx.mm
Labels: enhancement, topic:buildsystem

#59205 Add color pass flags to Forward Clustered renderer
  drivers/vulkan/rendering_device_vulkan.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, topic:3d

#59792 Fix crash in AudioServer when switching audio devices with different audio channels count
  servers/audio_server.cpp
Labels: bug, topic:audio, crash

#59789 [3.x] Fix memory leak when handling Linux primary clipboard
  platform/x11/os_x11.cpp
Labels: bug, platform:linuxbsd, topic:gui

#59791 Fix that slow mouse wheel scroll has no zoom effect on 2D editor
  scene/gui/view_panner.cpp
Labels: bug, regression, topic:gui

#59774 Fix shader crashing when attempting to access `length()` at global space
  servers/rendering/shader_language.cpp
Labels: bug, crash, topic:shaders

#59775 [3.x] Fix shader crashing when attempting to access `length()` at global space
  servers/visual/shader_language.cpp
Labels: bug, crash, topic:shaders

#59793 [3.x] Enable method type information on release builds
  core/class_db.cpp
  core/class_db.h
  core/make_binders.py
  core/method_bind.cpp
  core/method_bind.h
  core/reference.h
  core/type_info.h
  modules/gdscript/gdscript_parser.cpp
Labels: bug, enhancement, topic:core, topic:gdscript, topic:export

#59415 Add get_total_elapsed_time() to Tween
  doc/classes/Tween.xml
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: enhancement, topic:animation

#59777 Normalize thirdparty readme formatting
  thirdparty/README.md
Labels: enhancement, topic:thirdparty

#59814 Fix argument type generation with typed method binds
  core/make_binders.py
Labels: bug, topic:core

#59813 Add missing newlines to the generated `default_env.tres` in new projects
  editor/project_manager.cpp
Labels: enhancement, topic:editor

#59633 Improve sorting of Code Completion options.
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  doc/classes/ScriptLanguageExtension.xml
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:gdscript, topic:editor, usability

#59829 [3.x] Fix crash when passing null to AudioStreamPlayer::set_stream()
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_stream_player.cpp
Labels: bug, topic:audio, crash, regression, cherrypick:3.4

#59846 Fix debug navmesh errors
  scene/resources/navigation_mesh.cpp
Labels: bug, topic:editor, topic:navigation

#59848 [3.x] `NavigationObstacle2D`: estimate agent radius only when configured to do so
  scene/2d/navigation_obstacle_2d.cpp
Labels: bug, topic:navigation, topic:2d

#59859 Fix center aligned text clipping.
  scene/resources/text_line.cpp
  scene/resources/text_paragraph.cpp
Labels: bug, topic:gui

#59800 [macOS] Add bundle launch code for older (pre 10.15) macOS versions.
  platform/osx/os_osx.mm
Labels: bug, platform:macos, topic:porting, crash

#59857 [3.x] Add missing `CheckBox` & `CheckButton` editor icons
  editor/editor_themes.cpp
  editor/icons/icon_GUI_checked_disabled.svg
  editor/icons/icon_GUI_radio_checked_disabled.svg
  editor/icons/icon_GUI_radio_unchecked_disabled.svg
  editor/icons/icon_GUI_toggle_off_disabled.svg
  editor/icons/icon_GUI_toggle_on_disabled.svg
  editor/icons/icon_GUI_unchecked_disabled.svg
  scene/gui/check_box.cpp
Labels: bug, enhancement, topic:editor, topic:gui

#59856 Fix TouchScreenButton error spam
  scene/2d/touch_screen_button.cpp
Labels: bug, cherrypick:3.x, topic:gui, topic:2d

#59854 Initialize pointer variables to fix random crash on startup.
  modules/gltf/editor/editor_scene_importer_blend.h
Labels: bug, topic:editor, topic:import, crash

#59819 Fix creation and reopening of built-in scripts
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#59861 Android: Update `resize` settings
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java_godot_io_wrapper.cpp
Labels: bug, platform:android, cherrypick:3.x, topic:export

#58010 Fix TextEdit v_scroll_speed invalid values breaks wheel scrolling
  editor/editor_settings.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, usability, topic:gui

#59807 Move storage for Mesh, MeshInstance, MultiMesh and Skeleton into Mesh…
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.h
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  servers/rendering/dummy/rasterizer_dummy.h
  servers/rendering/dummy/rasterizer_storage_dummy.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_compositor.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.cpp
  servers/rendering/renderer_rd/renderer_storage_rd.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_storage.h
  servers/rendering/rendering_server_default.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_globals.cpp
  servers/rendering/rendering_server_globals.h
  servers/rendering/storage/mesh_storage.h
Labels: enhancement, topic:rendering

#59841 Mention how to add dragging for SpinBox's LineEdit
  doc/classes/SpinBox.xml
Labels: enhancement, documentation, cherrypick:3.x, topic:gui

#59881 Revert "Fix that collision objects ignore canvas transform"
  scene/2d/collision_object_2d.cpp
Labels: bug, topic:physics, regression, topic:2d

#59880 Remove duplicate Android `resizable` setting
  doc/classes/ProjectSettings.xml
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java_godot_io_wrapper.cpp
Labels: enhancement, platform:android, cherrypick:3.x, topic:export

#59838 Fix unable to change directory in user access mode for 3.x
  core/os/dir_access.cpp
Labels: bug, topic:gui, cherrypick:3.4

#59893 Fix debug navmesh errors
  scene/resources/navigation_mesh.cpp
Labels: bug, topic:editor, topic:navigation

#59836 [3.x] Fix Copy Selection on editor_log
  editor/editor_log.cpp
Labels: enhancement, topic:editor

#59885 Improve autoload inheritance error message
  editor/editor_autoload_settings.cpp
  main/main.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
Labels: enhancement, topic:core

#59888 Style: Apply clang-tidy to current code, add `readability-redundant-member-init`
  .clang-tidy
  drivers/gles3/texture_loader_gles3.cpp
  editor/plugins/collision_polygon_2d_editor_plugin.cpp
  editor/plugins/light_occluder_2d_editor_plugin.cpp
  editor/plugins/line_2d_editor_plugin.cpp
  editor/plugins/navigation_polygon_editor_plugin.cpp
  editor/plugins/physical_bone_3d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  modules/navigation/godot_navigation_server.cpp
  modules/openxr/openxr_api.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/resources/texture.cpp
Labels: enhancement, topic:codestyle

#58452 Address wrong behavior of TextEdit `ctrl` modifier while editing the text
  scene/gui/text_edit.cpp
  servers/text_server.cpp
Labels: bug, topic:editor, usability, regression, topic:gui

#59892 [3.x] Fix event transform in ViewportContainer
  scene/gui/viewport_container.cpp
Labels: bug, topic:input, topic:gui

#59891 Disable deselect on focus lost on editor_log
  editor/editor_log.cpp
Labels: enhancement, topic:editor

#59894 [3.x] Add deselect() to RichTextLabel
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#59896 Fix DynamicBVH crash after #59867
  core/math/dynamic_bvh.h
Labels: bug, topic:core, crash, regression

#59897 Consider chained operation when selecting text in `TextEdit::undo()`
  scene/gui/text_edit.cpp
Labels: bug, cherrypick:3.x, topic:gui

#59898 [3.x] Add missing period in classref of 3D render layer
  doc/classes/ProjectSettings.xml
Labels: bug, documentation

#59900 [3.x] Add an explicit way to remove a theme type
  doc/classes/Theme.xml
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
  scene/resources/theme.cpp
  scene/resources/theme.h
Labels: enhancement, usability, topic:gui

#59905 Fix lookup symbol in scripts which doesn't open a tab at first attempt
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, topic:editor, usability, regression

#59910 Clarify Array.erase for nonexistant element.
  doc/classes/Array.xml
Labels: enhancement, topic:core, cherrypick:3.x, cherrypick:3.4

#56695 [Input] Fix Unicode character input with Alt / Ctrl modifiers.
  doc/classes/Node.xml
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings_dialog.cpp
  editor/editor_settings_dialog.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/project_manager.cpp
  editor/project_manager.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  scene/gui/base_button.cpp
  scene/gui/base_button.h
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/menu_button.cpp
  scene/gui/menu_button.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, usability, topic:input, for pr meeting, topic:gui

#58062 Default PanoramaSkyMaterial texture to black instead of white
  scene/resources/sky_material.cpp
Labels: enhancement, topic:rendering, topic:3d

#57411 Fix navmesh baking
  modules/navigation/navigation_mesh_generator.cpp
  modules/navigation/navigation_mesh_generator.h
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
Labels: bug, topic:navigation, performance

#59923 Fix `NoiseTexture._generate_texture` crash
  modules/noise/noise.h
Labels: bug, topic:core, crash

#59920 Fix Project Manager hard crashes due to invalid access to Editor Nodes
  editor/editor_dir_dialog.cpp
  editor/editor_file_dialog.cpp
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, crash

#59922 Improve handling for editor documentation search with blank searches
  editor/editor_help_search.cpp
Labels: bug, enhancement, topic:editor

#59930 Fix `map_get_path` aka `get_simple_path` behavior in 2D & 3D
  modules/navigation/nav_map.cpp
Labels: bug, regression, topic:navigation, topic:2d, topic:3d

#59926 [3.x] Expose get_selected_text() in RichTextLabel
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
Labels: enhancement, topic:gui

#59908 Fix a possible race condition on popup close, that might cause multiple deletions of the same list item.
  platform/linuxbsd/display_server_x11.cpp
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, crash, regression, topic:gui

#59862 Delay font texture update, until `draw` is called. Rasterize glyphs during shaping.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
Labels: enhancement, topic:gui, performance

#57871 [RTL] Improve table cell selection.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#59955 Fix false warning folder already exists
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#59958 Add compat rename for OpenSimplexNoise
  scene/register_scene_types.cpp
Labels: enhancement, topic:core

#59960 Fix missing favorite files in filesystem dock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#59962 Restore hidden folder behavior for project manager
  editor/editor_file_dialog.cpp
Labels: bug, topic:editor

#59963 Remove unused legacy tests
  tests/SCsub
  tests/core/math/test_math.cpp
  tests/core/math/test_math.h
  tests/core/templates/test_oa_hash_map.cpp
  tests/core/templates/test_oa_hash_map.h
  tests/scene/test_gui.cpp
  tests/scene/test_gui.h
  tests/servers/test_physics_2d.cpp
  tests/servers/test_physics_2d.h
  tests/servers/test_physics_3d.cpp
  tests/servers/test_physics_3d.h
  tests/servers/test_render.cpp
  tests/servers/test_render.h
  tests/servers/test_shader_lang.cpp
  tests/servers/test_shader_lang.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#59977 [3.x] Focus filter `LineEdit` after Theme Type dialog popup
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor

#59788 Removed `show_on_top` property in CanvasItem
  doc/classes/CanvasItem.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Labels: enhancement, topic:core

#59178 Add editor icons for all Occluder3D resources
  editor/icons/ArrayOccluder3D.svg
  editor/icons/BoxOccluder3D.svg
  editor/icons/Occluder3D.svg
  editor/icons/PolygonOccluder3D.svg
  editor/icons/QuadOccluder3D.svg
  editor/icons/SphereOccluder3D.svg
Labels: enhancement, topic:editor

#59992 [CI] Remove redundant `godot-cpp` build stage.
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem, topic:gdextension

#59594 Add built-in Variant types to autocompletion list
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#59998 Fix path handling in FBX and Blend importers
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_fbx.cpp
Labels: bug, topic:import

#59396 Improve the animation track editor drawing
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#59324 Fix loading binary resources with float=64
  core/io/resource_format_binary.cpp
Labels: bug, topic:core

#60029 GDScript: Fix method call on singletons
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript

#59995 Fix navmesh baking
  modules/navigation/navigation_mesh_generator.cpp
  modules/navigation/navigation_mesh_generator.h
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
Labels: bug, topic:navigation, performance

#59982 [3.x] Retrieve primary monitor size in fullscreen mode
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting

#60059 Fix up direction doc description
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
Labels: enhancement, documentation, topic:physics, topic:2d, topic:3d

#59940 Added missing interaction profiles and making sure related extensions…
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/action_map/openxr_defs.cpp
  modules/openxr/action_map/openxr_defs.h
  modules/openxr/extensions/openxr_extension_wrapper.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
Labels: enhancement, topic:xr

#60129 Localize unnamed project name in editor window title
  editor/editor_node.cpp
Labels: bug, topic:editor, cherrypick:3.x

#60104 Add select_all() to RichTextLabel
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#60136 [TextServer] Fix long selection performance.
  servers/text_server.cpp
Labels: bug, topic:gui

#59514 Action Map Editor fixes and improvements
  editor/action_map_editor.cpp
  editor/action_map_editor.h
Labels: bug, enhancement, topic:editor, topic:input

#60125 makerst: Improve error reporting
  doc/tools/make_rst.py
Labels: enhancement, topic:buildsystem, documentation, cherrypick:3.x

#60124 Fix GraphEdit's valid connections being reversed
  scene/gui/graph_edit.cpp
Labels: bug, cherrypick:3.x, topic:gui

#60111 Improvements to files_dropped signal
  doc/classes/Window.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/project_manager.cpp
  editor/project_manager.h
  scene/main/window.cpp
Labels: enhancement, topic:core, documentation

#60117 [3.x] `BulletPhysicsServer::area_get_space`: null check
  modules/bullet/bullet_physics_server.cpp
Labels: bug, topic:physics, crash, topic:3d, cherrypick:3.4

#57899 Fix antialiasing for beginning/end of line in `canvas_item_add_polyline`
  servers/rendering/renderer_canvas_cull.cpp
Labels: bug, topic:rendering, regression, topic:2d

#60137 Fix Vulkan validation errors on default depth textures
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Labels: bug, topic:rendering, topic:3d

#54191 Clamp ratio from popup_centered_ratio
  scene/main/window.cpp
Labels: bug, topic:gui

#60026 Fix shortcut_keys_enabled in TextEdit
  scene/gui/text_edit.cpp
Labels: bug, topic:input, topic:gui

#60046 Changed print_line macro to a function
  core/string/print_string.h
Labels: enhancement, topic:core, topic:codestyle

#59886 Fixes variable nodes not showing updated name in visualscript editor
  modules/visual_script/visual_script.cpp
  modules/visual_script/visual_script.h
  modules/visual_script/visual_script_editor.cpp
Labels: bug, topic:editor, topic:visualscript

#60020 Remove unused SplitContainer bg theme property
  editor/editor_themes.cpp
  editor/icons/GuiVsplitBg.svg
Labels: enhancement, topic:editor, topic:gui

#57239 Fix GraphEdit's minimap doesn't show using `minimap_enabled`
  scene/gui/graph_edit.cpp
Labels: bug, cherrypick:3.x, topic:gui, cherrypick:3.4

#60039 OpenXR: catch null profile_def causing crash on startup
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
Labels: bug, topic:xr, crash

#60121 Hide Tonemap White property when tonemapper is Linear in Environment
  scene/resources/environment.cpp
Labels: enhancement, topic:editor

#60120 Hide SSIL properties when SSIL is disabled in the Environment resource
  scene/resources/environment.cpp
Labels: bug, enhancement, topic:editor

#59994 Add WebXRInterface.xr_standard_mapping flag to attempt to convert button/axis ids to match other AR/VR interfaces
  modules/webxr/doc_classes/WebXRInterface.xml
  modules/webxr/godot_webxr.h
  modules/webxr/native/library_godot_webxr.js
  modules/webxr/webxr_interface.cpp
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
Labels: bug, platform:html5, topic:xr, topic:input

#59927 Fix GraphNode not resizing with larger title
  scene/gui/graph_node.cpp
Labels: bug, topic:gui

#60085 Draw relationship lines for items offscreen
  scene/gui/tree.cpp
Labels: enhancement, usability, topic:gui

#48776 Use less blur for distant directional shadow splits
  servers/rendering/renderer_rd/shaders/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_mobile.glsl
Labels: enhancement, topic:rendering, topic:3d

#60010 [3.x] Disable "Open in Inspector" when there is no animation
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:animation

#60009 Disable "Open in Inspector" when there is no animation
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:animation

#60164 Improves `EditorInspector` documentation
  doc/classes/@GlobalScope.xml
  doc/classes/EditorInspector.xml
Labels: bug, enhancement, documentation, cherrypick:3.x

#60166 Narrow FileAccess scope to prevent deadlocks.
  core/core_bind.cpp
  core/io/dir_access.cpp
  core/io/file_access.cpp
  core/io/file_access_compressed.cpp
  core/io/file_access_encrypted.cpp
  core/io/file_access_pack.cpp
  core/io/logger.cpp
  core/io/pck_packer.cpp
  core/io/resource_format_binary.cpp
  core/io/resource_uid.cpp
  core/os/os.cpp
  editor/create_dialog.cpp
  editor/editor_export.cpp
  editor/editor_file_system.cpp
  editor/editor_resource_preview.cpp
  editor/export_template_manager.cpp
  editor/plugins/script_editor_plugin.cpp
  modules/gdscript/gdscript.cpp
  modules/mono/csharp_script.cpp
  modules/mono/mono_gd/gd_mono_log.cpp
  modules/theora/video_stream_theora.cpp
  platform/iphone/export/export_plugin.cpp
  platform/javascript/api/javascript_tools_editor_plugin.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/osx/export/export_plugin.cpp
  platform/uwp/export/app_packager.cpp
  platform/uwp/export/export_plugin.h
  scene/main/http_request.cpp
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core, regression

#59825 Fix incorrect parsing array's `length()` at return statement in shader
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:shaders

#60172 Fix OpenType property editor signal connection.
  editor/plugins/ot_features_plugin.cpp
Labels: bug, topic:gui

#60078 Remove get_data() from CowData
  core/templates/cowdata.h
Labels: enhancement, topic:core

#60057 Improve Select Frames dialog of SpriteFrames editor
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor, topic:2d

#60058 [3.x] Improve Select Frames dialog of SpriteFrames editor
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor, topic:2d

#60163 Use multiplication symbol in Texture size label
  editor/plugins/texture_editor_plugin.cpp
Labels: enhancement, topic:editor

#60016 Fix Visual Script's jump to function relative to zoom
  modules/visual_script/editor/visual_script_editor.cpp
Labels: bug, topic:editor, usability, topic:visualscript, cherrypick:3.x, cherrypick:3.4

#60171 Restore antialiasing for `draw_line`
  doc/classes/CanvasItem.xml
  doc/classes/RenderingServer.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/resources/convex_polygon_shape_2d.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, enhancement, topic:rendering, topic:2d

#60170 Add context menu to RichTextLabel
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#59531 Fixed initialization of TRS Track in blend tree for root motion
  scene/animation/animation_tree.cpp
Labels: bug, regression, topic:animation

#60049 [3.x] Scroll to selected item when filtering VisualScript nodes
  modules/visual_script/visual_script_property_selector.cpp
Labels: enhancement, topic:visualscript

#60048 [3.x] Fix crash when dragging from Input Map to VisualScript editor
  editor/project_settings_editor.cpp
Labels: bug, topic:editor, crash

#54740 Make "Last Modified" the default sorting order for the Project Manager
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/project_manager.h
Labels: enhancement, topic:editor, usability

#60040 Fix editor_log text copy
  editor/editor_log.cpp
Labels: bug, topic:editor

#40975 Added set_extra_headers() to WebSocketServer
  modules/websocket/doc_classes/WebSocketServer.xml
  modules/websocket/emws_server.cpp
  modules/websocket/emws_server.h
  modules/websocket/websocket_server.cpp
  modules/websocket/websocket_server.h
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
Labels: enhancement, topic:network, cherrypick:3.x

#60176 [3.x] Add selection getter methods to `LineEdit`
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: enhancement, topic:gui

#59678 Add documentation to CheckBox
  doc/classes/CheckBox.xml
Labels: enhancement, documentation

#60081 Redesign InputEvent editor and fix `Window.popup_centered()` rect calculation.
  editor/action_map_editor.cpp
  editor/action_map_editor.h
  editor/plugins/input_event_editor_plugin.cpp
  editor/plugins/input_event_editor_plugin.h
  scene/main/window.cpp
Labels: bug, enhancement, topic:editor, topic:input

#60097 Rearrange TriangleMesh function to workaround MSVC compiler bug
  core/math/triangle_mesh.cpp
Labels: bug, platform:windows, topic:core, topic:3d

#60017 Rename `NavigationServer`'s `free` method to `free_rid`
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
  servers/navigation_server_2d.cpp
  servers/navigation_server_3d.cpp
Labels: bug, topic:navigation

#60018 [3.x] Rename `NavigationServer`'s `free` method to `free_rid`
  doc/classes/Navigation2DServer.xml
  doc/classes/NavigationServer.xml
  servers/navigation_2d_server.cpp
  servers/navigation_server.cpp
Labels: bug, topic:navigation

#60021 [3.x] Free region RID when cleaning NavPoly in `TileMap`
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: bug, topic:navigation

#60012 Add a note about 2D-collisions in different canvases to documentation
  doc/classes/CollisionObject2D.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.4

#60197 [macOS, 3.x] Fix OpenGL color space on HDR displays.
  platform/osx/os_osx.mm
Labels: bug, platform:macos, topic:rendering

#60196 Fix sub-menu keyboard navigation.
  platform/linuxbsd/display_server_x11.cpp
  platform/osx/display_server_osx.mm
  platform/windows/display_server_windows.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, topic:gui

#60200 [3.x] Fix popup dialog UI in `AnimationTreePlayer` editor
  editor/plugins/animation_tree_player_editor_plugin.cpp
Labels: bug, topic:editor, topic:animation, cherrypick:3.4

#60194 Fix gizmos not being created on newly added nodes
  editor/plugins/node_3d_editor_plugin.cpp
  scene/3d/node_3d.cpp
Labels: bug, topic:editor, topic:3d

#60202 [3.x] Remove get_data() from CowData
  core/cowdata.h
Labels: enhancement, topic:core

#60034 Allow `size` values as low as `0.001` in Camera3D's orthogonal/frustum mode
  doc/classes/Camera3D.xml
  scene/3d/camera_3d.cpp
Labels: enhancement, topic:rendering, topic:3d

#60035 Allow `size` values as low as `0.001` in Camera's orthogonal/frustum mode (3.x)
  doc/classes/Camera.xml
  scene/3d/camera.cpp
Labels: enhancement, topic:rendering, topic:3d

#60030 Fix 2D editor menu position
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#60028 Add tutorial links to Signal's documentation
  doc/classes/Signal.xml
Labels: enhancement, documentation

#59398 Highlight hovered keyframes in the animation track editor
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#60004 Add enum hint for `Animation.loop_mode`
  scene/resources/animation.cpp
Labels: enhancement, topic:editor, topic:animation

#60199 Color: Rename `to_srgb`/`to_linear` to include base color space
  core/io/image.cpp
  core/math/color.h
  core/variant/variant_call.cpp
  doc/classes/Color.xml
  modules/gltf/gltf_document.cpp
  modules/hdr/image_loader_hdr.cpp
  modules/tinyexr/image_loader_tinyexr.cpp
  scene/3d/lightmap_gi.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_gi_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_sky_rd.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  tests/core/math/test_color.h
Labels: enhancement, topic:core, breaks compat

#60204 Cherry-picks for the 3.x branch (future 3.5) - 18th batch
  .gitignore
  core/object.cpp
  core/object.h
  doc/classes/@GlobalScope.xml
  doc/classes/Array.xml
  doc/classes/CollisionObject2D.xml
  doc/classes/EditorInspector.xml
  doc/classes/Object.xml
  doc/classes/ProjectSettings.xml
  doc/classes/SpinBox.xml
  doc/classes/String.xml
  editor/animation_track_editor_plugins.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_file_dialog.cpp
  editor/editor_node.cpp
  editor/script_editor_debugger.cpp
  main/main.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/visual_script/visual_script_editor.cpp
  modules/websocket/doc_classes/WebSocketServer.xml
  modules/websocket/emws_server.cpp
  modules/websocket/emws_server.h
  modules/websocket/websocket_server.cpp
  modules/websocket/websocket_server.h
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/windows/os_windows.cpp
  scene/2d/touch_screen_button.cpp
  scene/gui/graph_edit.cpp
  scene/gui/text_edit.cpp
  thirdparty/README.md
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/patches/unbreak-gentoo.patch
  thirdparty/minizip/unzip.c
  thirdparty/minizip/unzip.h
  thirdparty/minizip/zip.c
  thirdparty/minizip/zip.h
  thirdparty/zlib/crc32.c
  thirdparty/zlib/crc32.h
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzguts.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
  thirdparty/zlib/infback.c
  thirdparty/zlib/inffast.c
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inflate.h
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/trees.c
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.c
  thirdparty/zlib/zutil.h
Labels: bug, enhancement, topic:core, topic:editor

#60205 Cherry-picks for the 3.4 branch (future 3.4.5) - 1st batch
  .gitignore
  core/os/dir_access.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/Array.xml
  doc/classes/CanvasItem.xml
  doc/classes/CollisionObject2D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/SpatialMaterial.xml
  doc/classes/String.xml
  editor/animation_track_editor_plugins.cpp
  editor/plugins/animation_tree_player_editor_plugin.cpp
  modules/bullet/bullet_physics_server.cpp
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
  modules/visual_script/visual_script_editor.cpp
  platform/x11/os_x11.cpp
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/camera_2d.cpp
  scene/2d/touch_screen_button.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_stream_player.cpp
  scene/gui/graph_edit.cpp
  servers/audio_server.cpp
  thirdparty/README.md
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/patches/unbreak-gentoo.patch
  thirdparty/minizip/unzip.c
  thirdparty/minizip/unzip.h
  thirdparty/minizip/zip.c
  thirdparty/minizip/zip.h
  thirdparty/zlib/crc32.c
  thirdparty/zlib/crc32.h
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzguts.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
  thirdparty/zlib/infback.c
  thirdparty/zlib/inffast.c
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inflate.h
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/trees.c
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.c
  thirdparty/zlib/zutil.h
Labels: bug, enhancement, topic:core, topic:editor

#60191 Fix "File must be opened" error with File.open()
  core/core_bind.cpp
Labels: bug, topic:core, regression

#60209 Fix select_all() crash in RichTextLabel
  scene/gui/rich_text_label.cpp
Labels: bug, crash, topic:gui

#60211 Fix parameter validation when renaming in `AnimationLibrary`
  scene/resources/animation_library.cpp
Labels: bug, topic:animation

#60213 Fix regression in rasterizer state
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
Labels: bug, topic:rendering, regression, topic:3d

#60093 Make blend animation to use ResetTrack as default value
  core/extension/gdnative_interface.cpp
  core/extension/gdnative_interface.h
  core/variant/variant.h
  core/variant/variant_setget.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
Labels: enhancement, topic:animation

#60177 Import scenes as AnimationLibrary
  doc/classes/EditorSceneFormatImporter.xml
  doc/classes/EditorScenePostImportPlugin.xml
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/filesystem_dock.cpp
  editor/import/editor_import_collada.cpp
  editor/import/editor_import_collada.h
  editor/import/resource_importer_obj.cpp
  editor/import/resource_importer_obj.h
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  editor/import/scene_import_settings.cpp
  editor/import/scene_import_settings.h
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
  modules/gltf/editor/editor_scene_importer_fbx.cpp
  modules/gltf/editor/editor_scene_importer_fbx.h
  modules/gltf/editor/editor_scene_importer_gltf.cpp
  modules/gltf/editor/editor_scene_importer_gltf.h
  modules/gltf/register_types.cpp
Labels: enhancement, topic:import, topic:animation, topic:3d

#60208 Added p_shape check to avoid engine crash in DisplayServer
  core/input/input.cpp
Labels: bug, topic:input, crash, cherrypick:3.x
