Repository godotengine/godot, pull requests merged in 2022-09, with the labels that each got.

#65164 C#: Fix Vector4 in godot_variant and missing marshaling
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/InteropStructs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.extended.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/VariantConversionCallbacks.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/VariantUtils.cs
  modules/mono/glue/GodotSharp/GodotSharp/Variant.cs
  modules/mono/glue/runtime_interop.cpp
Labels: bug, topic:dotnet

#65073 [TextServer] Add support for trimming edge spaces on line break.
  doc/classes/TextServer.xml
  scene/3d/label_3d.cpp
  scene/gui/button.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/text_paragraph.cpp
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, topic:gui

#65175 [TextServer] Fix LCD AA fonts reading wrong glyphs.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, topic:gui

#64444 Fix action name completion for `Input`
  core/input/input.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:input

#65162 Unite `GradientEdit` and `GradientEditor` as editor-only widget
  editor/plugins/gradient_editor.cpp
  editor/plugins/gradient_editor.h
  editor/plugins/gradient_editor_plugin.cpp
  editor/plugins/gradient_editor_plugin.h
Labels: enhancement, topic:editor, breaks compat, topic:gui

#65107 Fix minimize/maximize not taking effect in X11.
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:porting

#65108 Prevent subwindow_focused from pointing to a window that is not a subwindow
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:gui

#65117 Fix switching `MenuBar`'s menus with the keys while mouse hovering
  scene/gui/menu_bar.cpp
  scene/gui/menu_bar.h
Labels: bug, topic:gui

#65163 Fix a case in global function highlighting
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: bug, topic:gdscript, topic:editor

#65124 Basis constructor: row vectors -> column vectors
  core/math/basis.h
  core/math/vector3.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, discussion, topic:core, documentation

#65088 Mark Script button if it's tool in Scene Tree Editor
  editor/scene_tree_editor.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#63968 Add `Dictionary.find_key()`
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
  tests/core/variant/test_dictionary.h
Labels: enhancement, topic:core, cherrypick:3.x

#64157 Remove AnimatedSprite3D.`is_playing()` for redundancy
  doc/classes/AnimatedSprite3D.xml
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
Labels: enhancement, breaks compat, topic:animation, topic:3d

#64173 Add Navigation Debug Visuals for GridMap cell edge connections
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Labels: enhancement, topic:navigation, topic:3d

#65168 C#: Assume 64-bit types when type has no meta
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/ScriptBoilerplate.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/HotReloadAssemblyWatcher.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/editor/script_templates/CharacterBody2D/basic_movement.cs
  modules/mono/editor/script_templates/CharacterBody3D/basic_movement.cs
  modules/mono/editor/script_templates/Node/default.cs
  modules/mono/editor/script_templates/VisualShaderNodeCustom/basic.cs
Labels: bug, topic:dotnet

#55617 Fix Geometry3D::get_closest_points_between_segments() returns NaN
  core/math/geometry_3d.cpp
  core/math/geometry_3d.h
  tests/core/math/test_geometry_3d.h
Labels: bug, topic:core, for pr meeting, topic:3d

#65156 Add a lifecycle method for manual theme item caching to `Control`
  scene/gui/box_container.cpp
  scene/gui/box_container.h
  scene/gui/button.cpp
  scene/gui/button.h
  scene/gui/check_box.cpp
  scene/gui/check_box.h
  scene/gui/check_button.cpp
  scene/gui/check_button.h
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/flow_container.cpp
  scene/gui/flow_container.h
  scene/gui/grid_container.cpp
  scene/gui/grid_container.h
  scene/gui/item_list.cpp
  scene/gui/item_list.h
  scene/gui/label.cpp
  scene/gui/label.h
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/link_button.cpp
  scene/gui/link_button.h
  scene/gui/margin_container.cpp
  scene/gui/margin_container.h
  scene/gui/menu_bar.cpp
  scene/gui/menu_bar.h
  scene/gui/option_button.cpp
  scene/gui/option_button.h
  scene/gui/panel.cpp
  scene/gui/panel.h
  scene/gui/panel_container.cpp
  scene/gui/panel_container.h
  scene/gui/progress_bar.cpp
  scene/gui/progress_bar.h
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_bar.h
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
  scene/gui/separator.cpp
  scene/gui/separator.h
  scene/gui/slider.cpp
  scene/gui/slider.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
  scene/gui/split_container.cpp
  scene/gui/split_container.h
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:gui, topic:codestyle

#65192 Add dumb and manual theme caching systems to `Window`
  doc/classes/AcceptDialog.xml
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/gui/popup.cpp
  scene/gui/popup.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:gui, topic:codestyle

#65187 Replace Vector2 and Vector2i with Size2 and Size2i
  core/io/image.cpp
  core/io/image.h
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
  scene/3d/occluder_instance_3d.cpp
  scene/3d/occluder_instance_3d.h
  scene/resources/rectangle_shape_2d.cpp
  scene/resources/rectangle_shape_2d.h
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:core, topic:codestyle

#65212 Simplify network GDExtension bindings using EXBIND macros.
  core/io/packet_peer.cpp
  core/io/packet_peer.h
  core/io/stream_peer.cpp
  core/io/stream_peer.h
  doc/classes/MultiplayerPeerExtension.xml
  doc/classes/PacketPeerExtension.xml
  doc/classes/StreamPeerExtension.xml
  modules/webrtc/doc_classes/WebRTCDataChannelExtension.xml
  modules/webrtc/doc_classes/WebRTCPeerConnectionExtension.xml
  modules/webrtc/webrtc_data_channel_extension.cpp
  modules/webrtc/webrtc_data_channel_extension.h
  modules/webrtc/webrtc_peer_connection_extension.cpp
  modules/webrtc/webrtc_peer_connection_extension.h
  scene/main/multiplayer_peer.cpp
  scene/main/multiplayer_peer.h
Labels: enhancement, topic:gdextension, topic:network

#65213 Fix Label & RichTextLabel's visible_ratio not working
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
Labels: bug, regression, topic:gui

#65216 [TextServer] Fix excessive space trimming.
  servers/text_server.cpp
Labels: bug, regression, topic:gui

#65135 Add support for scene/resource customization in export plugins
  core/io/config_file.cpp
  core/io/config_file.h
  doc/classes/ConfigFile.xml
  doc/classes/EditorExportPlatform.xml
  doc/classes/EditorExportPlugin.xml
  editor/editor_node.cpp
  editor/export/editor_export.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
  editor/plugins/gdextension_export_plugin.h
  modules/gdscript/register_types.cpp
Labels: enhancement, topic:plugin, topic:export

#65206 Fix a minor bug in the Projection binary decode logic
  core/io/marshalls.cpp
Labels: bug, topic:core

#64714 Remove `String::erase` method declaration
  core/string/ustring.h
Labels: bug, topic:core

#64180 Only compile project features logic in editor builds
  core/config/project_settings.cpp
  core/config/project_settings.h
Labels: enhancement, topic:editor

#64198 Refactor BitMap and add tests
  doc/classes/BitMap.xml
  editor/editor_atlas_packer.cpp
  editor/import/resource_importer_bitmask.cpp
  editor/plugins/editor_preview_plugins.cpp
  scene/2d/touch_screen_button.cpp
  scene/gui/texture_button.cpp
  scene/resources/bit_map.cpp
  scene/resources/bit_map.h
  scene/resources/texture.cpp
  tests/scene/test_bit_map.h
  tests/test_main.cpp
Labels: bug, enhancement, topic:core, breaks compat, topic:tests

#59602 Improve the editor's Add Metadata dialog
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: enhancement, topic:editor, usability

#60185 Add Environment properties to control fog rendering on background sky
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
  servers/rendering/renderer_scene.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, topic:3d

#55618 [3.x] Fix Geometry::get_closest_points_between_segments() returns NaN
  core/math/geometry.cpp
  core/math/geometry.h
Labels: bug, topic:core, topic:3d

#65202 doc: Clarifying NavigationAgent and NavigationAgent2D velocity_computed requires avoidance_enabled to be true to emit
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
Labels: enhancement, documentation, cherrypick:3.x, topic:navigation, cherrypick:3.5

#65223 Add `is_zero_approx` methods to `Vector2`, `3`, and `4`
  core/math/basis.cpp
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector4.cpp
  core/math/vector4.h
  core/variant/variant_call.cpp
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  doc/classes/Vector4.xml
  editor/plugins/bone_map_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  modules/gltf/gltf_document.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/node_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/gui/popup_menu.cpp
  scene/resources/style_box.cpp
  servers/physics_2d/godot_body_direct_state_2d.cpp
  servers/physics_2d/godot_physics_server_2d.cpp
  servers/physics_3d/godot_body_direct_state_3d.cpp
  servers/physics_3d/godot_collision_solver_3d_sat.cpp
  servers/physics_3d/godot_physics_server_3d.cpp
Labels: enhancement, topic:core

#65225 Fix getting an error message when moving a node among a window and other types of nodes
  scene/main/canvas_item.cpp
Labels: bug, topic:core

#64724 Rework oriented containers
  doc/classes/BoxContainer.xml
  doc/classes/ColorPicker.xml
  doc/classes/FlowContainer.xml
  doc/classes/SplitContainer.xml
  editor/editor_themes.cpp
  editor/icons/BoxContainer.svg
  editor/icons/FlowContainer.svg
  editor/icons/SplitContainer.svg
  scene/gui/box_container.cpp
  scene/gui/box_container.h
  scene/gui/flow_container.cpp
  scene/gui/flow_container.h
  scene/gui/split_container.cpp
  scene/gui/split_container.h
  scene/register_scene_types.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: feature proposal, topic:gui

#65210 Fix theme propagation in various parts of the editor
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
  editor/plugins/mesh_editor_plugin.cpp
  editor/plugins/mesh_editor_plugin.h
  scene/gui/line_edit.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, enhancement, topic:editor, regression, topic:gui

#65218 fixed and optimized Area2/3D get_overlaping_bodies/areas
  scene/2d/area_2d.cpp
  scene/3d/area_3d.cpp
Labels: bug, enhancement, topic:physics

#65236 SCons: Enforce version 4.0+ when `compiledb=yes` is used
  SConstruct
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.5

#65242 [macOS] Simplify handling of menu accelerators, and send event to the focused window instead of main.
  platform/macos/godot_menu_delegate.mm
Labels: bug, platform:macos, topic:input

#65026 Add support for system dark mode and accent color detection.
  doc/classes/DisplayServer.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, topic:gui

#64735 Fix Viewport size change not updating textures
  scene/main/viewport.cpp
Labels: bug, topic:core, topic:rendering, cherrypick:3.x

#65249 Revert usage of typed array in `add_surface_from_arrays` parameters
  doc/classes/ArrayMesh.xml
  scene/resources/mesh.cpp
  scene/resources/mesh.h
Labels: bug, topic:core, regression

#65261 Fix property revert logic in the sectioned inspector
  editor/editor_sectioned_inspector.cpp
Labels: bug, topic:editor, regression

#64917 Fix TextEdit::gutters_width Incorrect Value
  scene/gui/text_edit.cpp
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
Labels: bug, regression, topic:gui

#65115 [Linux] Add support for system dark mode
  doc/classes/DisplayServer.xml
  platform/linuxbsd/SCsub
  platform/linuxbsd/detect.py
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
Labels: enhancement, platform:linuxbsd, topic:gui

#65251 Fixed GodotSharp build failing when real_t is double
  modules/mono/glue/GodotSharp/GodotSharp/Core/Color.cs
Labels: bug, topic:dotnet

#65181 Decrease StyleBoxFlat corner detail in editor theme
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, topic:gui, performance

#65248 Improve Docs' inheritance tree icons after newline
  editor/editor_help.cpp
Labels: enhancement, topic:editor

#65250 Add `ThemeOwner` type for managing theme propagation and lookup
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/window.cpp
  scene/main/window.h
  scene/theme/theme_owner.cpp
  scene/theme/theme_owner.h
Labels: bug, enhancement, regression, topic:gui, topic:codestyle

#65256 EditorTheme: Remove rounded corners for all popups
  editor/editor_themes.cpp
Labels: bug, topic:editor

#65260 Improve documentation related to audio input permissions
  doc/classes/AudioEffectCapture.xml
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamMicrophone.xml
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation

#65264 Remove old syntax for custom class icons
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:gdscript

#65267 Use verbose prints when registering cameras in CameraServer
  servers/camera_server.cpp
Labels: enhancement, topic:core, cherrypick:3.x

#59589 Rename `or_lesser` range property hint to `or_less`
  core/object/object.h
  doc/classes/@GlobalScope.xml
  editor/editor_properties.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
  scene/2d/area_2d.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/node_2d.cpp
  scene/2d/path_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/polygon_2d.cpp
  scene/3d/area_3d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/joint_3d.cpp
  scene/3d/node_3d.cpp
  scene/3d/path_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/animation/animation_blend_tree.cpp
  scene/gui/control.cpp
  scene/main/canvas_layer.cpp
  scene/resources/environment.cpp
  scene/resources/fog_material.cpp
  scene/resources/particle_process_material.cpp
Labels: enhancement, topic:core, breaks compat

#65270 Improve documentation related to audio input permissions (3.x)
  doc/classes/AudioEffectCapture.xml
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamMicrophone.xml
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation, cherrypick:3.5

#65279 Fix Skeleton3DEditor crash
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:animation

#63026 Some improvements to the SceneTreeTimer
  doc/classes/SceneTree.xml
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:core

#65285 Un-defer the initial theme changed notification in `Window`
  scene/main/window.cpp
Labels: bug, topic:gui

#65284 Document Vector4i
  doc/classes/Vector4.xml
  doc/classes/Vector4i.xml
Labels: enhancement, topic:core, documentation

#65111 Fix dropped XEvents early in main window lifetime.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#65259 Add float arg to build_assemblies.py
  SConstruct
  modules/mono/README.md
  modules/mono/build_scripts/build_assemblies.py
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: bug, topic:buildsystem, topic:dotnet

#65296 C#: Connect only once for each signal of a script
  modules/mono/csharp_script.cpp
Labels: bug, topic:dotnet

#65283 Re-enable per-pixel transparency support on Linux, macOS, and Windows.
  doc/classes/ProjectSettings.xml
  drivers/gles3/rasterizer_gles3.cpp
  drivers/vulkan/vulkan_context.cpp
  main/main.cpp
  platform/linuxbsd/display_server_x11.cpp
  platform/linuxbsd/display_server_x11.h
  platform/linuxbsd/gl_manager_x11.cpp
  platform/linuxbsd/gl_manager_x11.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:rendering, topic:gui

#65301 Remove pathed `get_node()` use from scene tree dock
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, topic:editor, topic:codestyle

#65024 fix: graceful exit on macOS with missing Vulkan SDK
  platform/macos/detect.py
Labels: bug, platform:macos, topic:buildsystem

#65326 Fix crash when executing `LightmapGIData._set_light_textures_data`
  scene/3d/lightmap_gi.cpp
Labels: bug, crash, topic:3d

#65299 Disable Output port preview of Visual Shader nodes using SpatialShader specific built-ins
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, topic:editor, topic:shaders

#65343 Fix XSendEvent crash & bootsplash.
  platform/linuxbsd/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, crash, regression

#65028 Improve SplitContainer behavior, keeping asked split position whenever possible
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Labels: bug, topic:editor, breaks compat, topic:gui

#65266 C#: Create script instance of reloaded scripts even if they're not tools
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
Labels: topic:dotnet

#65278 Fix `RestFixer` for the model has `Skin` which non-inverse-global-rest
  editor/import/post_import_plugin_skeleton_renamer.cpp
  editor/import/post_import_plugin_skeleton_rest_fixer.cpp
Labels: bug, topic:import, topic:animation, topic:3d

#65323 Fix crash when encoding freed object in `ConfigFile`
  core/variant/variant_parser.cpp
Labels: bug, topic:core, crash

#65327 Don't try to read values from null cameras and lights in GLTF
  modules/gltf/extensions/gltf_light.cpp
  modules/gltf/structures/gltf_camera.cpp
Labels: bug, topic:import

#65346 Fix some bugs with Vector4 in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4.cs
Labels: bug, topic:dotnet

#65347 Fix crash when executing `CSGMesh3D.set_mesh` with headless Godot
  servers/rendering/dummy/storage/mesh_storage.h
Labels: bug, topic:core, topic:rendering, crash, topic:3d

#65348 Minor fixes to Vector4 in core
  core/math/vector2i.h
  core/math/vector3i.h
  core/math/vector4.cpp
  core/math/vector4i.cpp
  core/math/vector4i.h
Labels: bug, topic:core

#64840 Add GraphNode 'selected' and 'deselected' signals, simplify GraphEdit
  doc/classes/GraphNode.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
Labels: bug, enhancement, topic:gui

#65140 Modify newlines in Editor Spin Slider tooltip
  editor/editor_spin_slider.cpp
Labels: enhancement, topic:editor, cherrypick:3.x

#63568 Mention an issue with infinite scroll on mirroring of Parallax layer
  doc/classes/ParallaxLayer.xml
Labels: enhancement, documentation, cherrypick:3.x

#65321 Create GDExtension classes for PhysicsServer2D
  doc/classes/PhysicsDirectBodyState2DExtension.xml
  doc/classes/PhysicsDirectSpaceState2DExtension.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer2DExtension.xml
  modules/mono/editor/bindings_generator.cpp
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/register_server_types.cpp
Labels: enhancement, topic:physics, topic:gdextension

#65356 Fix UndoRedo when creating new AnimationStateMachine transition and node
  editor/plugins/animation_state_machine_editor.cpp
Labels: bug, topic:editor, usability, topic:animation

#65306 Fix Skeleton3DEditor causing crash in sanitizer enabled builds
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:animation

#65292 Stop ShapeCast3D drawing when debug collisions off
  scene/3d/shape_cast_3d.cpp
Labels: enhancement, topic:physics, topic:3d

#65358 Fix UTF-8 validation in static checks
  .github/workflows/static_checks.yml
  misc/scripts/file_format.sh
Labels: enhancement, topic:buildsystem, topic:codestyle

#65282 Fix arm32 detection in Engine.
  core/config/engine.cpp
Labels: bug, topic:core, topic:porting

#65362 Optimize and fix the scene unique name icon
  editor/icons/SceneUniqueName.svg
Labels: enhancement, topic:editor, cherrypick:3.x, cherrypick:3.5

#65230 Increase ItemList item height in editor theme
  editor/editor_themes.cpp
Labels: enhancement, topic:editor, usability

#65178 Various editor theme fixes (bottom panel corner radius and scene tab bar height)
  editor/editor_node.cpp
  editor/editor_themes.cpp
Labels: bug, topic:editor

#65399 Add compatibility class for `VisualShaderNodeFloatUniform`
  scene/register_scene_types.cpp
Labels: bug, topic:shaders

#65371 Improve the description of follow_viewport_enabled
  doc/classes/CanvasLayer.xml
Labels: enhancement, topic:core, documentation, topic:2d

#65364 Cherry-picks for the 3.x branch (future 3.6) - 4th batch
  SConstruct
  doc/classes/Control.xml
  doc/classes/NavigationAgent.xml
  doc/classes/NavigationAgent2D.xml
  doc/classes/ParallaxLayer.xml
  editor/editor_run.cpp
  editor/editor_spin_slider.cpp
  editor/scene_tree_editor.cpp
  scene/animation/scene_tree_tween.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  servers/camera_server.cpp
Labels: bug, enhancement, topic:core, topic:editor

#65403 Batching - fix uninitialized color read
  drivers/gles_common/rasterizer_canvas_batcher.h
Labels: bug, topic:rendering, topic:2d, cherrypick:3.5

#65401 Updated "gamecontrollerdb.txt" to Include Mappings for New Gamepads
  core/input/gamecontrollerdb.txt
Labels: enhancement, topic:input, cherrypick:3.x, cherrypick:3.5

#65354 Freeze line when releasing mouse to create a new StateMachine transition
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#65402 Disable logic that triggers automatic focus gain as the Godot Editor is loaded
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/project_manager.cpp
Labels: enhancement, platform:android, topic:editor, topic:porting

#65400 [3.x] Disable logic that triggers automatic focus gain as the Godot Editor is loaded
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/project_manager.cpp
Labels: enhancement, platform:android, topic:editor, topic:porting

#65366 [3.x] Add Dictionary.find_key()
  core/dictionary.cpp
  core/dictionary.h
  core/variant_call.cpp
  doc/classes/Dictionary.xml
Labels: enhancement, topic:core

#65368 Fix missing `import sys` in `methods.py`
  methods.py
Labels: bug, topic:buildsystem, cherrypick:3.5

#65408 Fix GLES directional shadow uninitialized data
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles3/rasterizer_scene_gles3.h
Labels: bug, topic:rendering, cherrypick:3.5

#65411 FlowContainer fix uninitialized data
  scene/gui/flow_container.cpp
Labels: bug, topic:core, topic:2d, cherrypick:3.5

#65412 FindBar fix uninitialized results_count
  editor/editor_help.cpp
Labels: bug, topic:editor, cherrypick:3.5

#65414 Fix RayCast2DEditor uninitialized value
  editor/plugins/ray_cast_2d_editor_plugin.h
Labels: bug, topic:editor, cherrypick:3.5

#65207 Allow searching for annotations in help
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  editor/icons/MemberAnnotation.svg
Labels: enhancement, topic:editor, documentation

#65413 Fix tool script button color overriding custom type color
  editor/scene_tree_editor.cpp
Labels: bug, topic:editor, usability, cherrypick:3.x

#65415 Fix various uninitialized member pointers
  drivers/gles3/rasterizer_scene_gles3.h
  editor/editor_properties_array_dict.h
  editor/import/scene_import_settings.h
  editor/plugins/animation_state_machine_editor.h
  editor/plugins/bone_map_editor_plugin.h
  editor/plugins/cast_2d_editor_plugin.h
  editor/plugins/control_editor_plugin.h
  editor/plugins/navigation_link_2d_editor_plugin.h
Labels: enhancement, topic:core, topic:codestyle

#62061 Improvements to multi-node editing
  editor/animation_track_editor.cpp
  editor/editor_inspector.cpp
  editor/editor_path.cpp
  editor/inspector_dock.cpp
  editor/multi_node_edit.cpp
  editor/multi_node_edit.h
Labels: bug, enhancement, topic:editor, usability, regression

#60115 Importer option for permanent scaling of the scene
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:editor, topic:import, topic:3d

#65417 Fix typos in Dictionary.xml
  doc/classes/Dictionary.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.5

#65367 Fix AudioStreamPlayer not resuming after returning to SceneTree
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_stream_player.cpp
Labels: bug, topic:audio, regression

#65420 Fix theming error in EditorHelp due to order of operations issue
  editor/editor_help.cpp
Labels: bug, topic:editor, documentation

#65423 Rename `PopupMenu`'s `set/get_current_index()` to `set/get_focused_item()`
  doc/classes/PopupMenu.xml
  scene/gui/menu_bar.cpp
  scene/gui/menu_button.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: enhancement, topic:gui

#64880 Rename Camera2D's `*_screen_center` and `*_position` to `get_screen_center_position` and `get_target_position`
  doc/classes/Camera2D.xml
  scene/2d/camera_2d.cpp
Labels: enhancement, breaks compat, topic:2d

#64661 Rename TileMap/GridMap.`world_to_map` and opposite to `local_to_map`
  doc/classes/TileMap.xml
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  modules/gltf/gltf_document.cpp
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
Labels: enhancement, topic:core, breaks compat, topic:2d

#65194 Rename AnimatedTexture's `oneshot` to `one_shot`
  doc/classes/AnimatedTexture.xml
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/project_converter_3_to_4.cpp
  scene/resources/texture.cpp
  scene/resources/texture.h
Labels: enhancement, breaks compat, topic:animation

#65410 C# Modify the MemberName generated for the user script
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGenerator.cs
Labels: enhancement, topic:dotnet

#65433 C#: Make MustBeVariantAnalyzer ignore OmittedTypeArgument
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/MustBeVariantAnalyzer.cs
Labels: bug, topic:dotnet

#65429 Fix code folding icon color not matching defined color (3.x)
  editor/editor_themes.cpp
  editor/icons/icon_text_edit_fold.svg
  editor/icons/icon_text_edit_folded.svg
  editor/icons/icon_text_editor_play.svg
  scene/gui/text_edit.cpp
Labels: bug, topic:editor

#65455 Fix code generation for `VisualShaderNodeTextureParameterTriplanar`
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, topic:shaders

#64472 Prevent HTTPRequest from polling invalid client
  core/io/http_client_tcp.cpp
Labels: bug, topic:network, cherrypick:3.x, cherrypick:3.5

#65442 Fix rendering when using WebGL2
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/shaders/canvas_uniforms_inc.glsl
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
Labels: bug, platform:web, topic:rendering, regression

#65437 Improve naming of theme properties throughout GUI code
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  doc/classes/FileDialog.xml
  doc/classes/ItemList.xml
  doc/classes/Panel.xml
  doc/classes/ProgressBar.xml
  doc/classes/ScrollContainer.xml
  doc/classes/Tree.xml
  editor/animation_track_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_dir_dialog.cpp
  editor/editor_file_dialog.cpp
  editor/editor_file_dialog.h
  editor/editor_inspector.cpp
  editor/editor_resource_picker.cpp
  editor/editor_settings_dialog.cpp
  editor/editor_themes.cpp
  editor/filesystem_dock.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/scene_create_dialog.cpp
  editor/script_create_dialog.cpp
  editor/shader_create_dialog.cpp
  modules/openxr/editor/openxr_action_map_editor.cpp
  modules/openxr/editor/openxr_select_action_dialog.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
  scene/gui/check_box.cpp
  scene/gui/check_box.h
  scene/gui/check_button.cpp
  scene/gui/check_button.h
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/gui/item_list.cpp
  scene/gui/item_list.h
  scene/gui/progress_bar.cpp
  scene/gui/progress_bar.h
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
  scene/gui/split_container.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/resources/default_theme/default_theme.cpp
Labels: bug, enhancement, topic:editor, breaks compat, topic:gui

#65440 SCons: Fix compilation database generation with MSVC
  SConstruct
Labels: bug, platform:windows, topic:buildsystem, cherrypick:3.x, cherrypick:3.5

#65444 Fixed crash with calling _edit_get_rect() on NavigationLink2D
  scene/2d/navigation_link_2d.cpp
Labels: bug, crash, topic:navigation

#65446 Make `AcceptDialog` and derivatives utilize `StyleBox` fully
  doc/classes/AcceptDialog.xml
  editor/editor_themes.cpp
  scene/gui/dialogs.cpp
  scene/gui/dialogs.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, breaks compat, topic:gui

#65447 [Net] Rename StreamPeerSSL to StreamPeerTLS.
  core/io/http_client_tcp.cpp
  core/io/stream_peer_tls.cpp
  core/io/stream_peer_tls.h
  core/register_core_types.cpp
  doc/classes/Crypto.xml
  doc/classes/CryptoKey.xml
  doc/classes/StreamPeerTLS.xml
  doc/classes/X509Certificate.xml
  editor/editor_node.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  editor/project_manager.cpp
  modules/mbedtls/packet_peer_mbed_dtls.cpp
  modules/mbedtls/stream_peer_mbedtls.cpp
  modules/mbedtls/stream_peer_mbedtls.h
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_client.h
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
  platform/web/export/editor_http_server.h
  platform/web/export/export_plugin.h
Labels: enhancement, topic:network, breaks compat

#65449 Rename `EditorInterface.get_editor_main_control` to `get_editor_main_screen`
  doc/classes/EditorInterface.xml
  doc/classes/EditorPlugin.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/export/editor_export_platform.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/camera_3d_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/cpu_particles_3d_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/skeleton_2d_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  modules/navigation/editor/navigation_mesh_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, documentation, topic:plugin

#65457 Add conversion for uniform_name property in visual shader
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:shaders

#65197 Rename CONNECT_ONESHOT to CONNECT_ONE_SHOT
  core/object/object.cpp
  core/object/object.h
  doc/classes/Object.xml
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/editor_data.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/mono/signal_awaiter_utils.cpp
  modules/multiplayer/multiplayer_spawner.cpp
  modules/multiplayer/scene_replication_state.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/gui/scroll_bar.cpp
Labels: enhancement, topic:core, breaks compat

#65239 Rename JavaScript singleton to JavaScriptBridge
  doc/classes/@GlobalScope.xml
  doc/classes/JavaScriptBridge.xml
  doc/classes/JavaScriptObject.xml
  platform/web/SCsub
  platform/web/api/api.cpp
  platform/web/api/javascript_bridge_singleton.h
  platform/web/javascript_bridge_singleton.cpp
  platform/web/os_web.cpp
Labels: enhancement, topic:buildsystem, breaks compat

#65427 Expose registration of physics servers to GDExtension
  doc/classes/@GlobalScope.xml
  doc/classes/PhysicsServer2DManager.xml
  doc/classes/PhysicsServer3DManager.xml
  main/main.cpp
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/register_server_types.cpp
  tests/test_main.cpp
Labels: enhancement, topic:physics, topic:gdextension

#65397 Add GraphNode 'selected' and 'unselected' signals, simplify GraphEdit
  doc/classes/GraphNode.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
Labels: bug, enhancement, topic:gui

#65355 Allow SplitContainer to have a grab area larger than its visual grabber
  doc/classes/HSplitContainer.xml
  doc/classes/SplitContainer.xml
  doc/classes/VSplitContainer.xml
  editor/editor_themes.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:gui

#65375 Fix "grab_focus: Condition "!is_inside_tree()" is true" when AcceptDialog was visible from the editor.
  scene/gui/dialogs.cpp
Labels: bug, topic:editor

#65389 Fix file list in FileDialog not updating on first run
  editor/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Labels: bug, topic:gui

#65471 Fix tile source selection from picking
  editor/plugins/tiles/tile_map_editor.cpp
Labels: bug, topic:editor, usability, topic:2d

#65475 Fix crash when executing `VisualShaderNodeParticleMeshEmitter.set_mesh` with headless Godot
  servers/rendering/dummy/storage/mesh_storage.h
Labels: bug, topic:rendering, crash

#65477 Fix crash when executing `SubViewport.set_size_2d_override_stretch`
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering, crash

#59069 Add all/individual setters for StyleBox default margins and StyleBoxTexture margin size and unbind `StyleBox*.set_*_individual()` methods
  doc/classes/StyleBox.xml
  doc/classes/StyleBoxFlat.xml
  doc/classes/StyleBoxTexture.xml
  editor/editor_themes.cpp
  editor/editor_toaster.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  scene/resources/default_theme/default_theme.cpp
  scene/resources/style_box.cpp
  scene/resources/style_box.h
Labels: enhancement, topic:gui

#58617 Improve handling of custom types
  doc/classes/EditorPlugin.xml
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/script_create_dialog.cpp
Labels: bug, enhancement, topic:editor

#49466 Add rotation ability to material editor preview.
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x, topic:3d

#65462 Add documentation for `AStarGrid2D` class
  doc/classes/AStarGrid2D.xml
Labels: enhancement, documentation

#65473 Remove `shader_type` from completion (when it does not need any more)
  servers/rendering/shader_language.cpp
Labels: bug, topic:editor, topic:shaders

#65016 Fix crash when executing `TubeTrailMesh.get_faces()` with GLES3
  drivers/gles3/storage/mesh_storage.cpp
Labels: bug, topic:rendering, crash

#65498 [RTL] Stop threaded RTL auto-redrawing as soon as text processing is finished, instead of waiting for first redraw.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:editor, regression, topic:gui

#65434 Clean-up and refactor of the Android input implementation
  editor/progress_dialog.cpp
  platform/android/android_input_handler.cpp
  platform/android/android_input_handler.h
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
Labels: bug, platform:android, topic:editor, topic:porting, topic:input

#65398 [3.x] Clean-up and refactor of the Android input implementation
  editor/progress_dialog.cpp
  platform/android/android_input_handler.cpp
  platform/android/android_input_handler.h
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/GodotView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
Labels: bug, platform:android, topic:editor, topic:porting, topic:input

#65241 Fix key mapping changes when moving from macOS to other platform.
  core/core_constants.cpp
  core/input/input_event.cpp
  core/input/input_event.h
  core/input/input_map.cpp
  core/os/keyboard.cpp
  core/os/keyboard.h
  doc/classes/@GlobalScope.xml
  doc/classes/InputEventWithModifiers.xml
  editor/action_map_editor.cpp
  editor/action_map_editor.h
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_file_dialog.cpp
  editor/editor_inspector.cpp
  editor/editor_log.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/editor_settings_dialog.cpp
  editor/editor_spin_slider.cpp
  editor/editor_zoom_widget.cpp
  editor/filesystem_dock.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/scene_tree_dock.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  platform/macos/detect.py
  scene/gui/code_edit.cpp
  scene/gui/file_dialog.cpp
  scene/gui/item_list.cpp
  scene/gui/line_edit.cpp
  scene/gui/tab_bar.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  tests/core/input/test_input_event_key.h
  tests/scene/test_text_edit.h
  tests/test_macros.h
Labels: bug, platform:macos, topic:input, breaks compat

#65460 [Net] Rename "ssl" references to "tls" in methods and members.
  core/io/http_client.cpp
  core/io/http_client.h
  core/io/http_client_tcp.cpp
  core/io/http_client_tcp.h
  core/register_core_types.cpp
  doc/classes/EditorSettings.xml
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
  doc/classes/PacketPeerDTLS.xml
  doc/classes/PacketPeerUDP.xml
  doc/classes/ProjectSettings.xml
  doc/classes/StreamPeerTLS.xml
  doc/classes/X509Certificate.xml
  editor/editor_settings.cpp
  editor/export/export_template_manager.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/project_converter_3_to_4.cpp
  main/main.cpp
  modules/mbedtls/crypto_mbedtls.h
  modules/mbedtls/dtls_server_mbedtls.h
  modules/mbedtls/packet_peer_mbed_dtls.cpp
  modules/mbedtls/packet_peer_mbed_dtls.h
  modules/mbedtls/register_types.cpp
  modules/mbedtls/stream_peer_mbedtls.cpp
  modules/mbedtls/stream_peer_mbedtls.h
  modules/mbedtls/tls_context_mbedtls.cpp
  modules/mbedtls/tls_context_mbedtls.h
  modules/websocket/doc_classes/WebSocketClient.xml
  modules/websocket/doc_classes/WebSocketServer.xml
  modules/websocket/emws_client.cpp
  modules/websocket/emws_client.h
  modules/websocket/websocket_client.cpp
  modules/websocket/websocket_client.h
  modules/websocket/websocket_server.cpp
  modules/websocket/websocket_server.h
  modules/websocket/wsl_client.cpp
  modules/websocket/wsl_client.h
  modules/websocket/wsl_server.cpp
  modules/websocket/wsl_server.h
  platform/web/export/editor_http_server.h
  platform/web/export/export.cpp
  platform/web/export/export_plugin.cpp
  platform/web/http_client_web.cpp
  platform/web/http_client_web.h
  scene/main/http_request.cpp
  scene/main/http_request.h
Labels: enhancement, topic:network, breaks compat

#65501 Fix issue causing the project manager to crash because of missing path argument
  editor/editor_node.cpp
  platform/android/java/lib/res/values/strings.xml
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Labels: bug, platform:android, topic:editor, topic:porting

#64757 Simplify title of Create/Change Node Dialog
  editor/create_dialog.cpp
  editor/create_dialog.h
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#63905 Remove / Replace old Navigation Debug Visualization
  doc/classes/ProjectSettings.xml
  editor/editor_node.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  modules/gridmap/grid_map.cpp
  scene/2d/tile_map.cpp
  scene/3d/navigation_region_3d.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/resources/navigation_mesh.cpp
  scene/resources/navigation_mesh.h
Labels: enhancement, topic:editor, topic:navigation
