Repository godotengine/godot, pull requests merged in 2022-11, with the labels that each got.

#68099 Fix mouse offset for unfocused popups
  platform/windows/display_server_windows.cpp
Labels: bug, topic:gui

#68100 Clarify offset parameter behavior in RegEx methods
  modules/regex/doc_classes/RegEx.xml
Labels: enhancement, topic:core, documentation

#68082 Avoid GodotSoftBody3D.reoptimize_link_order() crash if <2 nodes available.
  servers/physics_3d/godot_soft_body_3d.cpp
Labels: bug, topic:physics, crash, topic:3d

#62418 Warn if available disk space is low when Movie Maker mode is enabled
  servers/movie_writer/movie_writer.cpp
Labels: enhancement, topic:core

#68089 Shortcut and Bind to Remove Secondary Carets
  core/input/input_map.cpp
  doc/classes/ProjectSettings.xml
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#67982 [MP] Add MultiplayerPeer disconnect_peer, close.
  doc/classes/MultiplayerPeer.xml
  doc/classes/MultiplayerPeerExtension.xml
  modules/enet/doc_classes/ENetMultiplayerPeer.xml
  modules/enet/enet_multiplayer_peer.cpp
  modules/enet/enet_multiplayer_peer.h
  modules/webrtc/doc_classes/WebRTCMultiplayerPeer.xml
  modules/webrtc/webrtc_multiplayer_peer.cpp
  modules/webrtc/webrtc_multiplayer_peer.h
  modules/websocket/doc_classes/WebSocketMultiplayerPeer.xml
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.h
  scene/main/multiplayer_peer.cpp
  scene/main/multiplayer_peer.h
Labels: enhancement, topic:network, topic:multiplayer

#68107 Cast dragged file name extension to lowercase
  editor/editor_node.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.5

#68109 Fix error when adding 3D gizmo handles with IDs
  editor/plugins/node_3d_editor_gizmos.cpp
Labels: bug, topic:editor, topic:3d

#68110 [TextServer] Fix hex code box positions in vertical text layout.
  modules/text_server_adv/text_server_adv.cpp
Labels: bug, topic:gui

#68113 Fix typo in `editor_build_profile.cpp`
  editor/editor_build_profile.cpp
Labels: bug, topic:editor

#68115 Fix Image::bump_map_to_normal_map incorrectly keeping mipmap flag
  core/io/image.cpp
Labels: bug, topic:core, crash, cherrypick:3.x, cherrypick:3.5

#68127 Fix predefined constants to be accessible in the shader includes
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#68131 Remove `zf != NULL` check from `ZIPPacker::start_file`
  modules/zip/zip_packer.cpp
Labels: bug, topic:core

#68136 Support for checking that Projection is(not) null
  core/variant/variant_op.cpp
  modules/gdscript/tests/scripts/runtime/features/compare-builtin-equals-null.gd
  modules/gdscript/tests/scripts/runtime/features/compare-builtin-equals-null.out
  modules/gdscript/tests/scripts/runtime/features/compare-builtin-not-equals-null.gd
  modules/gdscript/tests/scripts/runtime/features/compare-builtin-not-equals-null.out
Labels: bug, topic:gdscript

#68138 Add texture reading code to OpenGL3 renderer for web and mobile
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/utilities.cpp
Labels: bug, topic:rendering

#68147 Fix error in curve editor multiline string draw
  editor/plugins/curve_editor_plugin.cpp
Labels: bug, topic:editor

#68161 Add missed Quaternion constructor to C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
Labels: bug, topic:core, topic:dotnet

#67994 Stop centering clicked suggestions in the autocomplete popup
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
Labels: bug, topic:editor, usability, topic:gui

#68020 Improve dragging scene into 3D viewport
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, topic:3d

#68040 Fix property getter with custom return type
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript

#68057 Add buffer size check to Image.load_tga_from_buffer(). Fixes #67985
  modules/tga/image_loader_tga.cpp
Labels: bug, topic:core, crash, cherrypick:3.x, cherrypick:3.5

#66706 Make uids of duplicated items unique in FileSystemDock
  editor/filesystem_dock.cpp
Labels: bug, topic:core, topic:editor

#63562 Use more reasonable scrollable conditions in `ScrollContainer`
  scene/gui/scroll_container.cpp
Labels: bug, topic:gui

#59479 Update root order on layer change
  scene/main/canvas_layer.cpp
Labels: bug, topic:input, cherrypick:3.x, topic:gui

#67593 Default to Opengl3 driver when using the project manager
  main/main.cpp
Labels: enhancement, topic:editor, performance

#67639 Add 2D shadows and canvas SDF to OpenGL3 renderer
  drivers/gles3/effects/copy_effects.cpp
  drivers/gles3/effects/copy_effects.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/shader_gles3.h
  drivers/gles3/shaders/SCsub
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/shaders/canvas_occlusion.glsl
  drivers/gles3/shaders/canvas_sdf.glsl
  drivers/gles3/shaders/canvas_shadow.glsl
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  drivers/gles3/storage/utilities.cpp
  servers/rendering/dummy/rasterizer_canvas_dummy.h
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Labels: enhancement, topic:rendering, topic:2d

#63335 Make `BaseButton` Shortcut feedback togglable
  doc/classes/BaseButton.xml
  scene/gui/base_button.cpp
  scene/gui/base_button.h
Labels: enhancement, topic:gui

#52350 Added Viewport canvas cull mask feature
  doc/classes/CanvasItem.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, topic:2d

#68118 Replace Quaternion Euler constructor with `from_euler` method
  core/math/quaternion.cpp
  core/math/quaternion.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.cpp
  doc/classes/Quaternion.xml
  editor/editor_properties.cpp
  modules/gltf/gltf_document.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
  tests/core/math/test_quaternion.h
  tests/scene/test_animation.h
  tests/test_validate_testing.h
Labels: enhancement, topic:core, topic:dotnet, breaks compat

#68137 Add `ShapeCast2D/3D::get_collider_rid` method
  doc/classes/ShapeCast2D.xml
  doc/classes/ShapeCast3D.xml
  scene/2d/shape_cast_2d.cpp
  scene/2d/shape_cast_2d.h
  scene/3d/shape_cast_3d.cpp
  scene/3d/shape_cast_3d.h
Labels: enhancement, topic:physics

#68170 Unified shortcut to clear carets and selections from TextEdit
  core/input/input_map.cpp
  doc/classes/ProjectSettings.xml
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:editor, usability

#67917 [MP] Add peer authentication support to the default MultiplayerAPI.
  doc/classes/MultiplayerPeer.xml
  modules/enet/enet_multiplayer_peer.cpp
  modules/multiplayer/doc_classes/SceneMultiplayer.xml
  modules/multiplayer/scene_multiplayer.cpp
  modules/multiplayer/scene_multiplayer.h
  modules/webrtc/doc_classes/WebRTCMultiplayerPeer.xml
  modules/webrtc/webrtc_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.cpp
  scene/main/multiplayer_peer.cpp
Labels: enhancement, topic:network, breaks compat, topic:multiplayer

#68090 Load and use system emoji font in the editor.
  editor/editor_fonts.cpp
  platform/ios/os_ios.mm
  platform/linuxbsd/os_linuxbsd.cpp
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
Labels: enhancement, topic:editor, topic:gui

#66927 Unit tests for Path2D class
  tests/scene/test_path_2d.h
  tests/test_main.cpp
Labels: enhancement, topic:tests, topic:2d

#66361 Unexpose confusing `String + int` and `int + String` operations
  core/variant/variant_op.cpp
  doc/classes/String.xml
  doc/classes/int.xml
Labels: enhancement, topic:core, breaks compat, for pr meeting

#65062 Unify usage of undo_redo in editor
  editor/editor_autoload_settings.cpp
  editor/editor_data.cpp
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_locale_dialog.cpp
  editor/editor_locale_dialog.h
  editor/editor_log.cpp
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_plugin_settings.h
  editor/editor_properties.cpp
  editor/editor_settings_dialog.cpp
  editor/editor_settings_dialog.h
  editor/groups_editor.cpp
  editor/groups_editor.h
  editor/inspector_dock.cpp
  editor/localization_editor.cpp
  editor/localization_editor.h
  editor/node_dock.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/abstract_polygon_2d_editor.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/gradient_editor.cpp
  editor/plugins/light_occluder_2d_editor_plugin.cpp
  editor/plugins/line_2d_editor_plugin.cpp
  editor/plugins/navigation_polygon_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.h
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  editor/scene_tree_editor.h
  editor/shader_globals_editor.cpp
  modules/multiplayer/editor/replication_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:codestyle

#64830 Remove internal functions of named colors from the public API
  core/variant/variant_call.cpp
  doc/classes/Color.xml
Labels: enhancement, topic:core, breaks compat

#65012 Add history dock
  doc/classes/EditorUndoRedoManager.xml
  editor/editor_node.cpp
  editor/editor_undo_redo_manager.cpp
  editor/editor_undo_redo_manager.h
  editor/history_dock.cpp
  editor/history_dock.h
Labels: feature proposal, topic:editor, usability

#63956 Move rotation interpolation logic from PathFollower2D to Curve2D
  doc/classes/Curve2D.xml
  scene/2d/path_2d.cpp
  scene/resources/curve.cpp
  scene/resources/curve.h
Labels: enhancement, topic:core, topic:2d

#68174 Add rendering team as GLES3 CODEOWNER
  .github/CODEOWNERS
Labels: enhancement, topic:buildsystem

#68173 Bind DirectionalLight buffer to uniform slot even when not used
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering

#68177 Fix crash in connection dialog
  editor/connections_dialog.cpp
  editor/connections_dialog.h
Labels: bug, topic:editor, crash, regression

#67928 Fix problems with `tab_changed` signal when removing multiple tabs at once
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Labels: bug, crash, topic:gui

#67274 Unit Tests for all Primitive Meshes.
  tests/scene/test_primitives.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#66747 Move EulerOrder enum to math_defs.h and global scope
  core/core_constants.cpp
  core/math/basis.cpp
  core/math/basis.h
  core/math/math_defs.h
  core/math/quaternion.cpp
  core/variant/binder_common.h
  core/variant/variant_call.cpp
  core/variant/variant_internal.h
  doc/classes/@GlobalScope.xml
  doc/classes/Basis.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/remote_transform_3d.cpp
  servers/physics_3d/joints/godot_generic_6dof_joint_3d.cpp
  tests/core/math/test_basis.h
Labels: enhancement, topic:core, topic:dotnet, topic:3d

#66017 Rename Image's `get_rect` to `get_region`
  core/io/image.cpp
  core/io/image.h
  doc/classes/Image.xml
  editor/import/resource_importer_layered_texture.cpp
  editor/plugins/editor_preview_plugins.cpp
  scene/resources/texture.cpp
  tests/core/io/test_image.h
Labels: enhancement, topic:core, breaks compat

#60273 Rename `--export` command line argument to `--export-release`
  main/main.cpp
  misc/dist/linux/godot.6
  misc/dist/shell/_godot.zsh-completion
  misc/dist/shell/godot.bash-completion
  misc/dist/shell/godot.fish
Labels: enhancement, topic:editor, breaks compat, topic:export

#68114 [3.x] Improve dragging scene into 3D viewport
  editor/plugins/spatial_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, topic:3d, cherrypick:3.5

#68087 [3.x][Docs] Clarify `Array.fill` behavior when reference type is passed in
  doc/classes/Array.xml
Labels: enhancement, topic:core, topic:gdscript, documentation, cherrypick:3.5

#68101 [3.x] Clarify offset parameter behavior in RegEx methods
  modules/regex/doc_classes/RegEx.xml
Labels: enhancement, topic:core, documentation, cherrypick:3.5

#68167 [3.x] Add `ShapeCast2D/3D::get_collider_rid` method
  doc/classes/ShapeCast.xml
  doc/classes/ShapeCast2D.xml
  scene/2d/shape_cast_2d.cpp
  scene/2d/shape_cast_2d.h
  scene/3d/shape_cast.cpp
  scene/3d/shape_cast.h
Labels: enhancement, topic:physics, cherrypick:3.5

#68182 linuxbsd: move all X11 stuff in its own directory
  platform/linuxbsd/SCsub
  platform/linuxbsd/os_linuxbsd.cpp
  platform/linuxbsd/x11/SCsub
  platform/linuxbsd/x11/detect_prime_x11.cpp
  platform/linuxbsd/x11/detect_prime_x11.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/linuxbsd/x11/gl_manager_x11.cpp
  platform/linuxbsd/x11/gl_manager_x11.h
  platform/linuxbsd/x11/key_mapping_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.h
  platform/linuxbsd/x11/vulkan_context_x11.cpp
  platform/linuxbsd/x11/vulkan_context_x11.h
Labels: enhancement, platform:linuxbsd, topic:porting, topic:codestyle

#67770 Remove depth correction in GLES3 renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, topic:3d

#67878 Correctly set number of particle dispatches when setting view axis
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
Labels: bug, topic:rendering

#67626 [3.x] Improve font glyph cache packing and texture update.
  scene/resources/dynamic_font.cpp
  scene/resources/dynamic_font.h
Labels: enhancement, topic:gui, performance

#68189 [3.x] Add iOS UI Options
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/iphone/view_controller.mm
Labels: enhancement, platform:ios, topic:porting

#68190 [3.x] Add ProMotion/High Refresh Rate Support to iOS Exports
  doc/classes/ProjectSettings.xml
  main/main.cpp
  misc/dist/ios_xcode/godot_ios/godot_ios-Info.plist
  platform/iphone/godot_view.mm
Labels: enhancement, platform:ios, topic:porting

#68204 (3.x) Fix compilation with custom "GODOT_VERSION_STATUS"
  methods.py
Labels: bug, topic:buildsystem, regression

#68133 Fix mouseleave event after drag and drop in different windows
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#68191 Allow getting Quaternion rotation in different Euler orders
  core/math/quaternion.cpp
  core/math/quaternion.h
  core/variant/variant_call.cpp
  doc/classes/Quaternion.xml
  editor/editor_properties.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
  tests/core/math/test_quaternion.h
Labels: enhancement, topic:core, topic:dotnet, topic:3d

#68192 Unify Node3D RotationOrder with global EulerOrder
  core/variant/variant.h
  doc/classes/Node3D.xml
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
Labels: enhancement, topic:core, breaks compat, topic:3d

#68203 Fix reload scripts error after saving in external editor.
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, regression

#67695 Do not strip spaces at the end of file names of dropped files
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:core

#67540 Add a separate hue gradient for OKHSL mode
  doc/classes/ColorPicker.xml
  scene/gui/color_mode.cpp
  scene/resources/default_theme/color_picker_hue.svg
  scene/resources/default_theme/default_theme.cpp
Labels: bug, usability, breaks compat, topic:gui

#68092 C#: Add implicit conversion from arrays to Variant
  modules/mono/glue/GodotSharp/GodotSharp/Variant.cs
Labels: enhancement, topic:dotnet

#68102 Fix several render issues found while debugging XR
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/vulkan_context.h
  modules/openxr/openxr_api.cpp
Labels: bug, topic:rendering, topic:xr, topic:3d

#68196 Add a test suite for `Math::` namespace functions (new)
  tests/core/math/test_math_funcs.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#68212 Collapse three seperate texture storage methods into render_target_set_override()
  drivers/gles3/storage/texture_storage.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/storage/texture_storage.h
Labels: topic:rendering, topic:xr

#68213 Fix incorrect drawing of alternative tiles
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
Labels: bug, topic:editor, topic:2d

#68220 Hide Antialiasing import option on DynamicFonts with MSDF enabled
  doc/classes/CanvasItem.xml
  doc/classes/EditorSettings.xml
  doc/classes/FontFile.xml
  doc/classes/ProjectSettings.xml
  doc/classes/SystemFont.xml
  doc/classes/TextServer.xml
  editor/editor_settings.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_dynamic_font.cpp
  scene/resources/font.cpp
  scene/theme/theme_db.cpp
Labels: bug, enhancement, topic:editor, topic:import, topic:gui

#68222 Fix terrain painting in corner-only matching mode
  scene/2d/tile_map.cpp
Labels: bug, topic:editor, topic:2d

#68228 Fix typo in method (set_transparecy) of visual_instance_3d
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
Labels: bug, topic:3d

#68223 Fix missing Add icon in the editor font prerendering dialog
  editor/import/dynamic_font_import_settings.cpp
Labels: bug, enhancement, topic:editor, topic:import, topic:gui

#68097 Add `set_value_no_signal()` to Range
  doc/classes/Range.xml
  scene/gui/base_button.cpp
  scene/gui/range.cpp
  scene/gui/range.h
Labels: enhancement, topic:gui

#67741 Modularize the Color Picker via properties and new picker mode.
  doc/classes/ColorPicker.xml
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, breaks compat, topic:gui

#67434 Add console wrapper app to handle console i/o redirection on Windows.
  SConstruct
  editor/export/editor_export_platform_pc.cpp
  platform/windows/SCsub
  platform/windows/console_wrapper_windows.cpp
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
  platform/windows/godot_res_wrap.rc
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, topic:buildsystem, topic:export

#68253 Fix c# Array.Shuffle incorrect mono bindings
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
Labels: enhancement, topic:dotnet

#68270 Fix pathological corner case in drawing tileset editor
  drivers/gles3/rasterizer_canvas_gles3.cpp
  editor/plugins/tiles/tile_atlas_view.cpp
Labels: bug, topic:rendering, topic:editor, topic:2d

#68292 [Web] Fix shutdown, force WebGL2, fix editor run args.
  editor/editor_run.cpp
  platform/web/display_server_web.cpp
  platform/web/js/engine/config.js
  platform/web/web_main.cpp
Labels: bug, platform:web, topic:editor, topic:porting

#65829 Fix extending scripts by path
  editor/script_create_dialog.cpp
Labels: bug, topic:editor, regression

#65441 Prevent stripping the edges of strings when using Find in Files
  editor/find_in_files.cpp
Labels: bug, topic:editor, cherrypick:3.x

#68247 Fix -Wunused-but-set-variable warnings from Emscripten 3.1.20
  editor/action_map_editor.cpp
  editor/editor_properties.cpp
  editor/import/resource_importer_scene.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
Labels: enhancement, topic:codestyle

#68275 [Tests] Replace Math::is_equal_approx with == and doctest::Approx
  tests/core/io/test_json.h
  tests/core/math/test_aabb.h
  tests/core/math/test_basis.h
  tests/core/math/test_color.h
  tests/core/math/test_expression.h
  tests/core/math/test_geometry_2d.h
  tests/core/math/test_rect2.h
  tests/core/math/test_vector2.h
  tests/core/math/test_vector2i.h
  tests/core/math/test_vector3.h
  tests/core/math/test_vector3i.h
  tests/core/math/test_vector4.h
  tests/core/math/test_vector4i.h
  tests/scene/test_animation.h
  tests/scene/test_audio_stream_wav.h
  tests/scene/test_curve.h
  tests/scene/test_primitives.h
Labels: enhancement, topic:tests

#68282 Correctly deletes multi-caret selection with backspace
  scene/gui/code_edit.cpp
Labels: bug, topic:editor, topic:gui

#68287 Fix wrong android key mapping.
  platform/android/android_keys_utils.h
Labels: bug, platform:android, topic:input, cherrypick:3.x

#68303 RenderingDevice: Fix usage of index offset
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering

#67730 Add call_deferred() method to Callable
  core/variant/callable.h
  editor/editor_command_palette.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  scene/3d/collision_object_3d.cpp
  scene/gui/option_button.cpp
  servers/display_server.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_rd/storage_rd/utilities.cpp
Labels: enhancement, topic:core, usability

#67976 Improve TextEdit::add_selection_for_next_occurrence test case
  tests/scene/test_text_edit.h
Labels: enhancement, topic:gui, topic:tests

#67614 Don't allow instancing virtual node types in the Create New Node dialog
  core/object/class_db.cpp
  editor/create_dialog.cpp
  editor/editor_resource_picker.cpp
Labels: bug, topic:editor

#64321 Add support for empty delimiter in `String.split()`
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  tests/core/string/test_string.h
Labels: enhancement, topic:core, breaks compat

#68321 Update XRServer with starting position of (new) current XROrigin3D
  scene/3d/xr_nodes.cpp
Labels: bug, topic:xr, topic:3d

#68331 Fix GradientTexture2D's preview
  editor/plugins/gradient_texture_2d_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#68202 Fix WebSocket connection failed on Web.
  modules/websocket/emws_peer.cpp
Labels: bug, topic:network

#68344 Fix default values not showing up on virtual classes
  core/object/class_db.cpp
  doc/classes/BaseButton.xml
  doc/classes/CameraAttributes.xml
  doc/classes/EditorSpinSlider.xml
  doc/classes/GeometryInstance3D.xml
  doc/classes/Label3D.xml
  doc/classes/LinkButton.xml
  doc/classes/Mesh.xml
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/ProgressBar.xml
  doc/classes/Range.xml
  doc/classes/ScrollBar.xml
  doc/classes/Slider.xml
  doc/classes/StyleBox.xml
  doc/classes/TextureProgressBar.xml
  doc/classes/ViewportTexture.xml
  doc/classes/VisualInstance3D.xml
  editor/doc_tools.cpp
Labels: bug, topic:core, documentation

#68351 Code simplifications
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/control_editor_plugin.h
  scene/gui/scroll_container.cpp
  scene/resources/text_line.cpp
Labels: enhancement, topic:codestyle

#68330 Fix and simplify `EditorNode::disambiguate_filenames`
  editor/editor_node.cpp
Labels: bug, topic:editor

#68337 Fixes mouse click deselect for multi and single carets
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, topic:gui

#68366 Setting surface AABBs for mesh surfaces in headless mode.
  servers/rendering/dummy/storage/mesh_storage.h
Labels: bug, topic:rendering

#68342 Allow to disable History Dock via feature profile
  doc/classes/EditorFeatureProfile.xml
  editor/editor_feature_profile.cpp
  editor/editor_feature_profile.h
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#61549 Remove duplicate project settings definitions
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  drivers/vulkan/rendering_device_vulkan.cpp
  editor/editor_node.cpp
  main/main.cpp
  platform/ios/display_server_ios.mm
  scene/gui/item_list.cpp
  scene/gui/popup_menu.cpp
  scene/gui/tree.cpp
  scene/resources/shape_2d.cpp
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_3d/godot_space_3d.cpp
  servers/rendering_server.cpp
  tests/test_main.cpp
Labels: enhancement, topic:core, topic:codestyle

#68362 [Android] Fix GDExtension export and loading.
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/os_android.cpp
Labels: bug, platform:android, topic:gdextension, topic:export

#68373 GDExtension: Ensure newline at EOF
  core/extension/extension_api_dump.cpp
Labels: enhancement, topic:gdextension

#68098 Add note about inertia being required for apply_torque on various Node types
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/RigidBody3D.xml
Labels: enhancement, documentation, topic:physics

#67682 Small set of fixes to the input logic
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_view_wrapper.cpp
Labels: bug, platform:android, topic:input

#68402 Fix named enums to use int64 type
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript

#68406 Fix viewport doesn't auto-resize on Web.
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
Labels: bug, platform:web, topic:rendering, topic:porting

#67775 Add support for OpenGL to OpenXR
  doc/classes/DisplayServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.h
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  modules/openxr/SCsub
  modules/openxr/extensions/openxr_opengl_extension.cpp
  modules/openxr/extensions/openxr_opengl_extension.h
  modules/openxr/openxr_api.cpp
  platform/android/display_server_android.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/gl_manager_x11.cpp
  platform/linuxbsd/x11/gl_manager_x11.h
  platform/macos/display_server_macos.mm
  platform/macos/gl_manager_macos_legacy.h
  platform/macos/gl_manager_macos_legacy.mm
  platform/windows/display_server_windows.cpp
  platform/windows/gl_manager_windows.cpp
  platform/windows/gl_manager_windows.h
  servers/display_server.cpp
  servers/display_server.h
Labels: platform:windows, platform:linuxbsd, platform:android, topic:rendering, topic:xr

#68440 Request redraw in OpenGL3 and mobile renderers when TIME used in shader
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering

#68345 Fix static object destructors being called on gpu selection with X11
  platform/linuxbsd/x11/detect_prime_x11.cpp
Labels: bug, platform:linuxbsd, topic:rendering

#68442 Fix default values on virtual classes causing errors in projects
  core/object/class_db.cpp
  doc/classes/AnimatedTexture.xml
  doc/classes/AtlasTexture.xml
  doc/classes/CameraTexture.xml
  doc/classes/CanvasTexture.xml
  doc/classes/CompressedTexture2D.xml
  doc/classes/CurveTexture.xml
  doc/classes/CurveXYZTexture.xml
  doc/classes/EditorSpinSlider.xml
  doc/classes/GradientTexture1D.xml
  doc/classes/GradientTexture2D.xml
  doc/classes/ImageTexture.xml
  doc/classes/MeshTexture.xml
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PlaceholderTexture2D.xml
  doc/classes/PortableCompressedTexture2D.xml
  doc/classes/ProgressBar.xml
  doc/classes/Range.xml
  doc/classes/ScrollBar.xml
  doc/classes/Slider.xml
  doc/classes/SpinBox.xml
  doc/classes/TextureProgressBar.xml
  doc/classes/ViewportTexture.xml
  editor/doc_tools.cpp
  modules/noise/doc_classes/NoiseTexture2D.xml
Labels: bug, topic:core, documentation, regression

#68210 [3.x] Fix docks to be reset to first tab when switching main tab
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor

#68246 [3.x] AtlasTexture in radial modes of TextureProgress
  scene/gui/texture_progress.cpp
Labels: bug, topic:gui

#68252 [3.x] Fix Array.Shuffle incorrect mono bindings
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/collections_glue.h
Labels: bug, topic:dotnet, cherrypick:3.5

#68413 Some fixes for instance shader parameters
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:rendering, topic:shaders, topic:3d

#68441 [3.x] Add support for pointer capture
  platform/android/android_input_handler.cpp
  platform/android/android_input_handler.h
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/GodotView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_view_wrapper.h
  platform/android/os_android.cpp
Labels: enhancement, platform:android, topic:input

#68390 expose XRInterface::get_transform_for_view to gdscript
  doc/classes/XRInterface.xml
  servers/xr/xr_interface.cpp
Labels: enhancement, topic:xr

#68497 Upgrade Android gradle plugin to version 7.2.1
  platform/android/java/app/config.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/lib/AndroidManifest.xml
  platform/android/java/lib/build.gradle
Labels: platform:android, topic:buildsystem, cherrypick:3.x, topic:export

#68425 Fix GPUParticles not rendering in doubles build of the engine.
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
Labels: bug, topic:rendering, regression

#68453 [openxr] Remove unnecessary fallbacks for native handles on X11
  modules/openxr/extensions/openxr_opengl_extension.cpp
Labels: enhancement, topic:xr

#68482 Fix unsent WINDOW_EVENT_MOUSE_ENTER event on mouse_mode-change
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
Labels: bug, platform:linuxbsd, topic:porting, topic:input

#68496 Ensure user shader is used in depth pass when point size is used
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Labels: bug, topic:rendering

#68511 Enable mipmaps in cubemap roughness shader
  servers/rendering/renderer_rd/effects/copy_effects.cpp
Labels: bug, topic:rendering, regression, topic:3d

#68513 Fix `Shader::has_parameter` to return a correct value
  scene/resources/shader.cpp
Labels: bug, topic:rendering, topic:shaders

#68235 Expose RenderingDevice::vertex_array_create to scripting
  doc/classes/RenderingDevice.xml
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering

#68307 Fallback to IAudioClient when IAudioClient3 is not available in a more robust way
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.h
Labels: enhancement, platform:windows, topic:porting, topic:audio

#68358 Fix SubViewport with default size being pink
  scene/main/viewport.cpp
Labels: bug, topic:rendering

#68186 Expose texture_get_rd_texture for scripts
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/texture_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering

#67374 Fix draw_primitive ignoring texture argument
  drivers/gles3/rasterizer_canvas_gles3.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, regression

#67247 Fix a buffer overflow due to a misbehaving vcrt snprintf call on String::num, at core/string/ustring.cpp
  core/string/ustring.cpp
Labels: bug, platform:windows, topic:core, crash

#68505 Fix memory leak in `EditorSettingsDialog`
  editor/editor_settings_dialog.cpp
Labels: bug, topic:editor

#68519 Add index check to OpenXRInterface::get_transform_for_view and OpenXRInterface::get_projection_for_view
  modules/openxr/openxr_interface.cpp
Labels: bug, topic:xr

#68526 Mention .godot folder in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: enhancement

#68412 [Line Edit] Ignore placeholder text when drawing caret.
  scene/gui/line_edit.cpp
Labels: enhancement, topic:gui

#68418 Allow canceling Drag and Drop with the Escape-Key
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, usability, topic:gui

#68534 Implement texture_proxy_update which is needed for AnimatedTexture
  drivers/gles3/storage/texture_storage.cpp
Labels: bug, topic:rendering

#68537 Use a bold font for section titles in the editor performance monitor
  editor/debugger/editor_performance_profiler.cpp
Labels: enhancement, topic:editor

#67746 Fix cluster_render.glsl failing on some Macs
  servers/rendering/renderer_rd/shaders/cluster_render.glsl
Labels: bug, platform:macos, topic:rendering

#67856 Document Texture, CompressedTexture and Placeholder classes
  doc/classes/CompressedCubemap.xml
  doc/classes/CompressedCubemapArray.xml
  doc/classes/CompressedTexture2D.xml
  doc/classes/CompressedTexture2DArray.xml
  doc/classes/CompressedTexture3D.xml
  doc/classes/CompressedTextureLayered.xml
  doc/classes/Cubemap.xml
  doc/classes/CubemapArray.xml
  doc/classes/Image.xml
  doc/classes/ImageTexture3D.xml
  doc/classes/ImageTextureLayered.xml
  doc/classes/PlaceholderCubemap.xml
  doc/classes/PlaceholderCubemapArray.xml
  doc/classes/PlaceholderMaterial.xml
  doc/classes/PlaceholderMesh.xml
  doc/classes/PlaceholderTexture2D.xml
  doc/classes/PlaceholderTexture2DArray.xml
  doc/classes/PlaceholderTexture3D.xml
  doc/classes/PlaceholderTextureLayered.xml
  doc/classes/Texture.xml
  doc/classes/Texture2D.xml
  doc/classes/Texture2DArray.xml
  doc/classes/Texture3D.xml
  doc/classes/TextureLayered.xml
Labels: enhancement, documentation

#67972 Fix inconsistency between vector field texture and world space directions
  servers/rendering/renderer_rd/shaders/particles.glsl
Labels: bug, topic:rendering, topic:3d

#68538 Add GCC problem matcher to CI
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#68543 Add MSVC problem matcher to CI
  .github/workflows/windows_builds.yml
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.5

#68477 Visual Shader UVFunc keep existing input value on function change
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:shaders

#68549 Revert removal of GDNativeExtensionScriptInstanceInfo::get_property_type_func in GDExtension
  core/extension/gdnative_interface.h
  core/object/script_language_extension.h
Labels: enhancement, topic:gdextension

#68571 Disable code font ligatures by default in the editor
  editor/code_editor.cpp
  editor/editor_fonts.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#68574 Properly set TIME shader uniform when rendering shadows
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering

#68584 Fix gl_manager nullptr crash
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, crash

#68594 Fix -Wtype-limits warning in openxr_interface.cpp
  modules/openxr/openxr_interface.cpp
Labels: bug, topic:buildsystem, topic:xr

#68603 Fix problem with ZIPPacker
  modules/zip/zip_packer.cpp
Labels: bug, topic:core

#68608 Added missing null checks for gl_manager in MacOS and Windows display servers
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:macos, topic:porting, crash

#68582 Add a special case for importing bitmap fonts designed for Godot 3.
  scene/resources/font.cpp
Labels: enhancement, topic:import, topic:gui
