Repository godotengine/godot, pull requests merged in 2023-02, with the labels that each got.

#71654 [3.x] Update the size of the scrollbar for the editor on touchscreen devices
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  platform/android/java/nativeSrcsConfigs/CMakeLists.txt
  scene/resources/style_box.cpp
Labels: enhancement, topic:editor, usability

#72492 Fix loading of binary resources with typed arrays
  core/io/resource_format_binary.cpp
Labels: bug, topic:core, topic:gdscript, regression

#72371 Remove `@GDScript.str` (duplicate of `@GlobalScope.str`)
  doc/classes/@GlobalScope.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_utility_functions.cpp
Labels: enhancement, topic:gdscript

#72412 Make it clearer that file modes propagate to children in the dedicated server export
  editor/export/project_export.cpp
  editor/export/project_export.h
Labels: enhancement, usability, topic:export

#72450 Make restart in NodeStateMachine / NodeTransition optional
  doc/classes/AnimationNodeStateMachine.xml
  doc/classes/AnimationNodeTransition.xml
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_blend_tree.h
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
Labels: enhancement, usability, topic:animation

#72459 Add unbinds to `scn`
  doc/classes/PackedScene.xml
  scene/resources/packed_scene.cpp
Labels: bug, topic:core

#72462 Fix C# examples in documentation for 4.0
  doc/classes/AESContext.xml
  doc/classes/AStar3D.xml
  doc/classes/Color.xml
  doc/classes/Control.xml
  doc/classes/Crypto.xml
  doc/classes/DTLSServer.xml
  doc/classes/Dictionary.xml
  doc/classes/DirAccess.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/EditorPlugin.xml
  doc/classes/EditorScenePostImport.xml
  doc/classes/EditorScript.xml
  doc/classes/EditorSettings.xml
  doc/classes/EditorTranslationParserPlugin.xml
  doc/classes/Expression.xml
  doc/classes/FileAccess.xml
  doc/classes/Geometry2D.xml
  doc/classes/GraphEdit.xml
  doc/classes/HMACContext.xml
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
  doc/classes/HashingContext.xml
  doc/classes/InputEventMIDI.xml
  doc/classes/MainLoop.xml
  doc/classes/Object.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RichTextEffect.xml
  doc/classes/SceneTree.xml
  doc/classes/SceneTreeTimer.xml
  doc/classes/Sprite2D.xml
  doc/classes/StreamPeer.xml
  doc/classes/Tween.xml
  doc/classes/UDPServer.xml
  doc/classes/UndoRedo.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/PackedSceneExtensions.cs
Labels: documentation, topic:dotnet

#72464 Check if Skeleton exists before reading when calculating blend shapes
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, crash, regression

#72472 Fix near one opacity in editor icons
  editor/icons/AnimatableBody2D.svg
  editor/icons/AnimatableBody3D.svg
  editor/icons/AnimationLibrary.svg
  editor/icons/CPUParticles2D.svg
  editor/icons/CollisionPolygon2D.svg
  editor/icons/CollisionShape2D.svg
  editor/icons/DampedSpringJoint2D.svg
  editor/icons/FontFile.svg
  editor/icons/FontVariation.svg
  editor/icons/GizmoDirectionalLight.svg
  editor/icons/GizmoLight.svg
  editor/icons/GradientTexture2D.svg
  editor/icons/GrooveJoint2D.svg
  editor/icons/GroupViewport.svg
  editor/icons/Keyboard.svg
  editor/icons/KeyboardError.svg
  editor/icons/KeyboardLabel.svg
  editor/icons/KeyboardPhysical.svg
  editor/icons/LabelSettings.svg
  editor/icons/LightOccluder2D.svg
  editor/icons/LockViewport.svg
  editor/icons/Marker2D.svg
  editor/icons/MultiplayerSpawner.svg
  editor/icons/MultiplayerSynchronizer.svg
  editor/icons/Navigation2D.svg
  editor/icons/NavigationAgent2D.svg
  editor/icons/NavigationObstacle2D.svg
  editor/icons/NavigationRegion2D.svg
  editor/icons/NewKey.svg
  editor/icons/OccluderPolygon2D.svg
  editor/icons/ParallaxLayer.svg
  editor/icons/Path2D.svg
  editor/icons/PathFollow2D.svg
  editor/icons/PinJoint2D.svg
  editor/icons/PingPongLoop.svg
  editor/icons/PlayRemote.svg
  editor/icons/PointLight2D.svg
  editor/icons/RemoteTransform2D.svg
  editor/icons/RigidBody2D.svg
  editor/icons/StaticBody2D.svg
  editor/icons/StyleBoxGridVisible.svg
  editor/icons/SystemFont.svg
  editor/icons/Texture3D.svg
  editor/icons/TileMap.svg
  editor/icons/ToolBoneSelect.svg
  editor/icons/TouchScreenButton.svg
  editor/icons/VisibleOnScreenEnabler2D.svg
  editor/icons/YSort.svg
  editor/icons/ZoomLess.svg
  editor/icons/ZoomMore.svg
  editor/icons/ZoomReset.svg
Labels: enhancement, topic:editor, topic:codestyle

#72474 Avoid leaking texture->tex_id when clearing render targets
  drivers/gles3/storage/texture_storage.cpp
Labels: bug, topic:rendering

#72476 Fix `scroll_offset_changed` signal doesn't fired when panning `GraphEdit`
  scene/gui/graph_edit.cpp
Labels: bug, topic:editor, regression

#72482 Prevent wrong unedit when clicking editor viewport
  editor/editor_node.cpp
  editor/editor_node.h
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, usability

#72485 Expose EYE_OFFSET to gdshader code
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:xr, topic:3d

#72490 Fix disassembly of OPCODE_CONSTRUCT_TYPED_ARRAY.
  modules/gdscript/gdscript_disassembler.cpp
Labels: bug, topic:gdscript

#71936 Remove some unused signals
  doc/classes/Tree.xml
  doc/classes/Window.xml
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  modules/webrtc/webrtc_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.cpp
  scene/gui/tree.cpp
  scene/main/window.cpp
  scene/resources/bone_map.cpp
Labels: enhancement, topic:core, breaks compat

#71991 Fill out more sections in RenderingServer and RenderingDevice
  doc/classes/RenderingDevice.xml
  doc/classes/RenderingServer.xml
Labels: enhancement, topic:rendering, documentation

#72075 Replace Extents with Size in VoxelGI, ReflectionProbe, FogVolume, Decal and GPUParticles*3D
  doc/classes/Decal.xml
  doc/classes/FogVolume.xml
  doc/classes/GPUParticlesAttractorBox3D.xml
  doc/classes/GPUParticlesAttractorVectorField3D.xml
  doc/classes/GPUParticlesCollisionBox3D.xml
  doc/classes/GPUParticlesCollisionHeightField3D.xml
  doc/classes/GPUParticlesCollisionSDF3D.xml
  doc/classes/ReflectionProbe.xml
  doc/classes/RenderingServer.xml
  doc/classes/VoxelGI.xml
  doc/classes/VoxelGIData.xml
  drivers/gles3/environment/fog.cpp
  drivers/gles3/environment/fog.h
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/voxel_gi_editor_plugin.cpp
  scene/3d/decal.cpp
  scene/3d/decal.h
  scene/3d/fog_volume.cpp
  scene/3d/fog_volume.h
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/gpu_particles_collision_3d.h
  scene/3d/reflection_probe.cpp
  scene/3d/reflection_probe.h
  scene/3d/voxel_gi.cpp
  scene/3d/voxel_gi.h
  scene/resources/fog_material.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/dummy/environment/fog.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/environment/renderer_fog.h
  servers/rendering/renderer_rd/cluster_builder_rd.h
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/fog.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering/shader_types.cpp
  servers/rendering/storage/light_storage.h
  servers/rendering/storage/texture_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:core, breaks compat, topic:3d

#72227 Fix sky rendering with multiview in OpenGL
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/sky.glsl
Labels: bug, topic:rendering, topic:xr

#71409 Fixes to ESCN mesh import
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:import, topic:3d

#71479 Use enum instead of int in virtual methods return type
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  core/io/resource_saver.cpp
  core/io/resource_saver.h
  doc/classes/EditorImportPlugin.xml
  doc/classes/EditorInspectorPlugin.xml
  doc/classes/MultiplayerAPIExtension.xml
  doc/classes/ResourceFormatLoader.xml
  doc/classes/ResourceFormatSaver.xml
  doc/classes/VisualShaderNodeCustom.xml
  doc/classes/XRInterfaceExtension.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/import/editor_import_plugin.cpp
  editor/import/editor_import_plugin.h
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/control_editor_plugin.h
  editor/plugins/font_config_plugin.cpp
  editor/plugins/font_config_plugin.h
  editor/plugins/root_motion_editor_plugin.cpp
  editor/plugins/root_motion_editor_plugin.h
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  modules/gltf/doc_classes/GLTFDocumentExtension.xml
  modules/gltf/extensions/gltf_document_extension.cpp
  modules/gltf/extensions/gltf_document_extension.h
  scene/main/multiplayer_api.cpp
  scene/main/multiplayer_api.h
  scene/main/multiplayer_peer.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  servers/xr/xr_interface_extension.cpp
  servers/xr/xr_interface_extension.h
Labels: enhancement, topic:core, breaks compat

#70446 meshoptimizer: Sync with upstream commit 4a287848f
  COPYRIGHT.txt
  scene/3d/occluder_instance_3d.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  thirdparty/README.md
  thirdparty/meshoptimizer/LICENSE.md
  thirdparty/meshoptimizer/clusterizer.cpp
  thirdparty/meshoptimizer/indexgenerator.cpp
  thirdparty/meshoptimizer/meshoptimizer.h
  thirdparty/meshoptimizer/overdrawanalyzer.cpp
  thirdparty/meshoptimizer/overdrawoptimizer.cpp
  thirdparty/meshoptimizer/patches/attribute-aware-simplify-distance-only-metric.patch
  thirdparty/meshoptimizer/patches/attribute-aware-simplify.patch
  thirdparty/meshoptimizer/simplifier.cpp
  thirdparty/meshoptimizer/spatialorder.cpp
  thirdparty/meshoptimizer/vcacheoptimizer.cpp
  thirdparty/meshoptimizer/vertexcodec.cpp
  thirdparty/meshoptimizer/vertexfilter.cpp
Labels: enhancement, needs testing, topic:import

#66076 Fix physics events being interpreted twice for nodes in canvas layer
  doc/classes/PhysicsPointQueryParameters2D.xml
  servers/physics_2d/godot_space_2d.cpp
Labels: bug, topic:physics

#66906 Prohibit inconsistent size state for SubViewport
  doc/classes/SubViewport.xml
  doc/classes/SubViewportContainer.xml
  scene/gui/subviewport_container.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:core

#63829 Disable multiview shader versions when xr is disabled
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
Labels: bug, topic:rendering, topic:xr

#72487 GDScript: Add warnings that are set to error by default
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_default_values.out
  modules/gdscript/tests/scripts/analyzer/features/hard_variants.gd
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.gd
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.out
  modules/gdscript/tests/scripts/analyzer/warnings/inference_with_variant.gd
  modules/gdscript/tests/scripts/analyzer/warnings/inference_with_variant.out
  modules/gdscript/tests/scripts/analyzer/warnings/onready_with_export.gd
  modules/gdscript/tests/scripts/analyzer/warnings/onready_with_export.out
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.gd
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.out
Labels: bug, enhancement, topic:gdscript

#58610 Fix execution of physics picking events at unexpected times
  scene/main/viewport.cpp
Labels: bug, topic:physics, topic:input, topic:gui

#72495 Implement file provider capabilities
  platform/android/export/export_plugin.cpp
  platform/android/java/lib/AndroidManifest.xml
  platform/android/java/lib/res/xml/godot_provider_paths.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Labels: bug, platform:android, topic:porting

#72497 [X11] Fix IME subwindow in the popup not getting input focus.
  platform/linuxbsd/x11/display_server_x11.cpp
  scene/gui/popup_menu.cpp
Labels: bug, platform:linuxbsd, topic:porting, topic:input, regression

#72499 GDScript: Fix disassembly of typed array assignment and construction
  modules/gdscript/gdscript_disassembler.cpp
Labels: bug, topic:gdscript

#72104 Extend special popup window handling to any non-popup child of a popup.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, topic:porting, topic:gui

#67331 Fix stretch transform when resizing SubViewports
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
Labels: bug, topic:core, topic:gui

#72440 gltf: Add GLTFHandleBinary::HANDLE_BINARY_EMBED_AS_UNCOMPRESSED
  editor/import/resource_importer_scene.cpp
  modules/gltf/doc_classes/GLTFState.xml
  modules/gltf/editor/editor_scene_importer_gltf.cpp
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_state.cpp
  modules/gltf/gltf_state.h
Labels: bug, topic:import

#71425 Add independent spinbox arrow step precision
  doc/classes/SpinBox.xml
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: enhancement, usability, topic:gui

#72386 Fix navigation related nodes not propagating parent class config warnings
  scene/2d/navigation_2d.cpp
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_obstacle_2d.cpp
  scene/2d/navigation_polygon.cpp
  scene/3d/navigation.cpp
  scene/3d/navigation_agent.cpp
  scene/3d/navigation_mesh_instance.cpp
  scene/3d/navigation_obstacle.cpp
Labels: bug, topic:navigation, cherrypick:3.5

#72496 [3.x] Implement file provider capabilities
  platform/android/export/export_plugin.cpp
  platform/android/java/lib/AndroidManifest.xml
  platform/android/java/lib/res/xml/godot_provider_paths.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Labels: bug, platform:android, topic:porting, cherrypick:3.5

#64424 [3.x] Warn users about unsafe usage of `InputEvent`
  main/input_default.cpp
  main/input_default.h
Labels: enhancement, topic:input, cherrypick:3.5

#72434 Qualify Console's namespace to avoid mixup with plugin's objects
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotPluginsInitializerGenerator.cs
Labels: enhancement, topic:dotnet

#71800 CI: Add official codespell action with PR annotations
  .github/workflows/static_checks.yml
  core/config/project_settings.cpp
  core/math/quick_hull.cpp
  core/math/transform_2d.cpp
  core/object/worker_thread_pool.h
  doc/classes/OS.xml
  editor/filesystem_dock.cpp
  misc/scripts/codespell.sh
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
  platform/android/java/lib/src/org/godotengine/godot/FullScreenGodotApp.java
  scene/2d/navigation_agent_2d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/main/node.cpp
  scene/resources/resource_format_text.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/shader_language.cpp
  tests/scene/test_text_edit.h
Labels: enhancement, topic:buildsystem, topic:codestyle

#71482 Hide non-functional "Show in File Manager" buttons in Android/web editor
  editor/editor_file_dialog.cpp
  editor/filesystem_dock.cpp
  editor/project_manager.cpp
Labels: bug, platform:web, platform:android, topic:editor, cherrypick:3.x, cherrypick:3.5

#72549 Clean up the XR export logic
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, topic:xr, topic:export

#72550 Fix Camera2D crashes
  scene/2d/camera_2d.cpp
  scene/main/viewport.cpp
Labels: bug, crash, topic:2d

#72557 GDScript: Fix getting reduced value of incomplete subscript for autocomplete
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript, crash

#72559 Improve editor layout dialog
  editor/editor_layouts_dialog.cpp
  editor/editor_layouts_dialog.h
Labels: enhancement, topic:editor, usability

#72562 Fix bad variable name in TileMap documentation
  doc/classes/TileMap.xml
Labels: bug, documentation

#72471 Always show caret when moving in LineEdit
  scene/gui/line_edit.cpp
Labels: bug, usability, topic:gui

#72521 Simplify Connect Dialog layout and sizing
  editor/connections_dialog.cpp
Labels: enhancement, topic:editor, usability, topic:codestyle

#72528 Remove unused `has_slashes` from NodePath
  core/string/node_path.cpp
  core/string/node_path.h
Labels: enhancement, topic:core

#72542 Rename NavigationServer internal RvoAgent to NavAgent
  modules/navigation/godot_navigation_server.cpp
  modules/navigation/godot_navigation_server.h
  modules/navigation/nav_agent.cpp
  modules/navigation/nav_agent.h
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
Labels: enhancement, topic:navigation, topic:codestyle

#72576 Fix rightclick on some files changes the 'New' menu entry to 'Show in File Manager'
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor, regression

#72334 Allow .gdshader files in 3to4 conversion
  editor/project_converter_3_to_4.cpp
Labels: bug, topic:editor, topic:shaders

#72592 Fix crash in gdscript when autocompleting virtual function and signature does not match base.
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, crash

#72593 Added missing words relating to TileSetAtlasSource
  doc/classes/TileMap.xml
Labels: enhancement, documentation

#72468 Adding Magic Leap 2 Controller Interaction Profile
  modules/openxr/SCsub
  modules/openxr/extensions/openxr_ml2_controller_extension.cpp
  modules/openxr/extensions/openxr_ml2_controller_extension.h
  modules/openxr/register_types.cpp
Labels: enhancement, topic:buildsystem, topic:xr

#72553 C#: Preserve directories in output during export
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
Labels: bug, topic:dotnet, topic:export

#72599 Fix missing LightmapGI gizmo icon in the 3D editor
  editor/icons/GizmoLightmapGI.svg
Labels: bug, topic:editor, topic:3d

#72600 Mention `String.match()` is also called "glob"/"globbing"
  doc/classes/String.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.5

#72603 Use a "warning" icon in `OS.alert()` on Linux/*BSD
  platform/linuxbsd/os_linuxbsd.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#72398 GDScript: Improve usability of setter chains
  core/variant/variant.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/analyzer/errors/assign_to_read_only_property.gd
  modules/gdscript/tests/scripts/analyzer/errors/assign_to_read_only_property.out
  modules/gdscript/tests/scripts/analyzer/errors/assign_to_read_only_property_indirectly.gd
  modules/gdscript/tests/scripts/analyzer/errors/assign_to_read_only_property_indirectly.out
  modules/gdscript/tests/scripts/runtime/assign_to_read_only_property.gd
  modules/gdscript/tests/scripts/runtime/assign_to_read_only_property.out
  modules/gdscript/tests/scripts/runtime/assign_to_read_only_property_with_variable_index.gd
  modules/gdscript/tests/scripts/runtime/assign_to_read_only_property_with_variable_index.out
Labels: bug, topic:gdscript

#72509 Consistent with NodeTimeSeek parameters OtherNodes
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_blend_tree.h
Labels: enhancement, breaks compat, topic:animation

#72613 Fix toplevel nomenclature
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Labels: enhancement, topic:gui, topic:codestyle, topic:2d

#72618 Simplify Viewport::_set_size
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
Labels: enhancement, topic:core

#72494 Fix shader failure when using non-const initializer on a constant
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:shaders

#72586 Fix texture rect transpose for OpenGL
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering, topic:2d

#72601 Add a property hint for PrimitiveMesh's `uv2_padding`
  doc/classes/PrimitiveMesh.xml
  scene/resources/primitive_meshes.cpp
Labels: enhancement, topic:editor, topic:3d

#72643 Expose RenderingServer.canvas_light_blend_mode
  doc/classes/RenderingServer.xml
  servers/rendering_server.cpp
Labels: bug, topic:rendering, topic:2d

#72589 Add layer slice support to render device and render buffers
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.h
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, topic:3d

#72604 Add XR Environment Blend Mode Support
  doc/classes/XRInterface.xml
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/openxr_util.cpp
  modules/openxr/openxr_util.h
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface.h
Labels: enhancement, topic:xr

#72622 Fix windowsize for fullscreen windows on windowcreation on Windows
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#72624 DisplayServerWindows: Update `last_focused_window` when the focused subwindow is deleted
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#72626 Remove `Viewport::_get_input_pre_xform`
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Labels: enhancement, topic:core

#72631 Notify dependencies when setting custom mesh AABB
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, topic:physics, topic:3d

#72665 Fix Camera2D crash due to ParallaxBackground node
  scene/main/viewport.cpp
Labels: bug, crash, regression, topic:2d

#72667 Remove unused `has_global_classes()`
  core/object/script_language.cpp
  core/object/script_language.h
Labels: enhancement, topic:core, topic:codestyle

#72570 Improve consistency of NavigationAgent setters
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/2d/navigation_obstacle_2d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
  scene/3d/navigation_obstacle_3d.cpp
Labels: enhancement, topic:navigation, topic:3d

#72625 Print name of Vulkan rendering method on startup
  drivers/gles3/rasterizer_gles3.cpp
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, topic:rendering

#72633 C#: Declare `IEquatable<>` interface for `StringName`
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringName.cs
Labels: enhancement, topic:dotnet

#72635 C#: Implement `IEquatable<>` and equality operators in `NodePath`
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NodePath.cs
  modules/mono/glue/runtime_interop.cpp
Labels: enhancement, topic:dotnet

#72651 Fix `RichTextLabel` context menu not customizable
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#72554 C#: Set AppContext.BaseDirectory for editor builds
  modules/mono/glue/GodotSharp/GodotPlugins/PluginLoadContext.cs
Labels: bug, topic:editor, topic:dotnet

#65910 Cleanup function state connections when destroying instance
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Labels: enhancement, topic:gdscript

#71862 Fix SplitContainer rendering and theming
  editor/editor_themes.cpp
  scene/gui/split_container.cpp
Labels: bug, topic:gui

#72670 Fix incorrect description for `Signal::get_connections`
  doc/classes/Object.xml
  doc/classes/Signal.xml
Labels: bug, topic:core, documentation

#72655 Fix NavigationMesh baking AABB Editor handling and visuals
  editor/plugins/node_3d_editor_gizmos.cpp
  scene/resources/navigation_mesh.cpp
Labels: bug, topic:editor, topic:navigation, topic:3d

#72669 Fix broken `scaled_orthogonal()` & subgizmo global scaling
  core/math/basis.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#72681 Ignore instance color and instance custom_data when not used in the OpenGL renderer
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
Labels: bug, topic:rendering, topic:2d

#72684 Fix MultiMesh visible_instance_count being ignored after the first frame
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_scene_cull.h
Labels: bug, topic:rendering

#72690 Trim "/PCIe/SSE2" from GPU names when starting the OpenGL renderer
  drivers/gles3/rasterizer_gles3.cpp
Labels: enhancement, topic:rendering

#71786 Sync C# Array with Core
  core/variant/array.cpp
  core/variant/array.h
  doc/classes/Array.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
Labels: enhancement, topic:dotnet, performance

#71860 Improve docs for rpc annotations
  doc/classes/Callable.xml
  doc/classes/Node.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, documentation, topic:network

#72656 Document visibility AABB caveats with decals, reflection probes and lights
  doc/classes/Decal.xml
  doc/classes/OmniLight3D.xml
  doc/classes/ReflectionProbe.xml
  doc/classes/SpotLight3D.xml
Labels: enhancement, documentation

#72695 Avoid shading CanvasGroup nodes twice
  doc/classes/CanvasGroup.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/shaders/canvas.glsl
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, topic:2d

#72721 Update Variant documentation for C#
  doc/classes/Variant.xml
Labels: documentation, topic:dotnet

#71665 Expose and document ProjectSettings.get_global_class_list()
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/ProjectSettings.xml
  doc/classes/Variant.xml
Labels: enhancement, topic:core

#72608 GDScript: Add warnings that are set to error by default (take 2)
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/scripts/analyzer/errors/function_dont_match_parent_signature_parameter_default_values.out
  modules/gdscript/tests/scripts/analyzer/features/allow_get_node_with_onready.gd
  modules/gdscript/tests/scripts/analyzer/features/allow_get_node_with_onready.out
  modules/gdscript/tests/scripts/analyzer/features/assign_to_native_enum_property.gd
  modules/gdscript/tests/scripts/analyzer/features/assign_to_native_enum_property.out
  modules/gdscript/tests/scripts/analyzer/features/hard_variants.gd
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.gd
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.out
  modules/gdscript/tests/scripts/analyzer/warnings/inference_with_variant.gd
  modules/gdscript/tests/scripts/analyzer/warnings/inference_with_variant.out
  modules/gdscript/tests/scripts/analyzer/warnings/onready_with_export.gd
  modules/gdscript/tests/scripts/analyzer/warnings/onready_with_export.out
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.gd
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.out
Labels: bug, enhancement, topic:gdscript

#72743 Avoid returning self from `_get_base_font_or_default()`
  scene/resources/font.cpp
Labels: bug, crash, topic:gui

#72785 [X11] Fix IME window focus events.
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, topic:input

#72783 Fix ghost SpriteFramesEditor cause crash
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, crash, regression, topic:2d

#72782 Fix rotation key edit is labeled scale in AnimationMultiTrackKeyEdit
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, topic:animation

#72204 Fix get_parent_anchorable_rect() not returning the correct size in some cases
  scene/gui/control.cpp
Labels: bug, topic:gui

#72780 Improve vulkan capability detection on Android
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/lib/res/values/strings.xml
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
Labels: enhancement, platform:android, topic:porting, topic:export

#72794 GDScript: Don't allow @onready without inheriting Node
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/analyzer/errors/get_node_shorthand_within_non_node.gd
  modules/gdscript/tests/scripts/analyzer/errors/get_node_shorthand_within_non_node.out
  modules/gdscript/tests/scripts/analyzer/errors/onready_within_non_node.gd
  modules/gdscript/tests/scripts/analyzer/errors/onready_within_non_node.out
Labels: bug, topic:gdscript

#72774 [TextServer] Preload USpoofChecker to speed up GDScript parsing.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
Labels: enhancement, topic:editor

#72663 Fix no-regex build for ProjectConverter3to4
  editor/project_converter_3_to_4.cpp
  editor/project_converter_3_to_4.h
Labels: bug, topic:buildsystem

#72276 GDScript: Better handling of `@rpc` annotation and autocompletion
  doc/classes/Node.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:gdscript, topic:network

#72455 Support reimport appending
  doc/classes/EditorImportPlugin.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/import/editor_import_plugin.cpp
  editor/import/editor_import_plugin.h
Labels: enhancement, topic:editor, topic:import

#68492 Fix propagation order for 2D physics picking events
  doc/classes/Viewport.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:physics, topic:input, topic:2d

#72512 GDScript: Fix type certainty for result of ternary operator
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/ternary_weak_infer.gd
  modules/gdscript/tests/scripts/analyzer/errors/ternary_weak_infer.out
  modules/gdscript/tests/scripts/analyzer/features/ternary_hard_infer.gd
  modules/gdscript/tests/scripts/analyzer/features/ternary_hard_infer.out
Labels: bug, topic:gdscript

#72791 Complete FontFile ref and update example
  doc/classes/FontFile.xml
  doc/classes/FontVariation.xml
Labels: enhancement, documentation, topic:gui

#72796 More fixes to over plugin handling
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor, regression

#72628 Use reimport_append api for importing embedded gltf images
  doc/classes/EditorImportPlugin.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/import/editor_import_plugin.cpp
  editor/import/editor_import_plugin.h
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:editor, topic:import

#72703 StringName: fix returning dangling data from char constructor.
  core/string/string_name.cpp
Labels: bug, topic:core, crash

#72330 Fix unreachable code warning for elif block
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript

#71523 Make `DisplayServer` docs tell users to change some window values in the `Window` node
  doc/classes/DisplayServer.xml
Labels: enhancement, documentation

#72801 CI: Remove custom Linux deps and SwiftShader
  .github/workflows/android_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/static_checks.yml
  misc/ci/sources.list
Labels: enhancement, platform:linuxbsd, topic:buildsystem

#72708 Fix @export_multiline for PackedStringArray
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#70002 Fix code-completion suggesting non-static members for custom classes
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#72804 GDScript: Fix inheritance check of @onready for inner classes
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/analyzer/errors/onready_within_non_node_inner_class.gd
  modules/gdscript/tests/scripts/analyzer/errors/onready_within_non_node_inner_class.out
  modules/gdscript/tests/scripts/analyzer/features/onready_on_inner_class_with_non_node_outer.gd
  modules/gdscript/tests/scripts/analyzer/features/onready_on_inner_class_with_non_node_outer.out
Labels: bug, topic:gdscript

#72727 Fixed animation audio to play considering time when seeking
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
Labels: bug, topic:audio, regression, topic:animation

#72677 GDScript: Fix `await` type inference
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/await_signal_no_infer.gd
  modules/gdscript/tests/scripts/analyzer/errors/await_signal_no_infer.out
  modules/gdscript/tests/scripts/analyzer/features/await_type_inference.gd
  modules/gdscript/tests/scripts/analyzer/features/await_type_inference.out
Labels: enhancement, topic:gdscript

#72546 GDScript: Fix can_reference check for typed arrays
  core/variant/array.cpp
  core/variant/container_type_validate.h
  modules/gdscript/tests/scripts/analyzer/features/typed_array_usage.gd
Labels: bug, topic:core, topic:gdscript

#72810 Implement cull_mask for decals and lights in mobile and compatibility backends
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  drivers/gles3/storage/texture_storage.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/storage/light_storage.h
  servers/rendering/storage/texture_storage.h
Labels: bug, topic:rendering, topic:3d

#72770 Fix description and argument name in `Control._has_point`
  doc/classes/Control.xml
  scene/gui/control.cpp
Labels: enhancement, documentation, topic:gui

#72786 Remove unnecessary `stdio.h` from gdextension interface
  core/extension/gdextension_interface.h
Labels: enhancement, topic:gdextension

#72802 Better error handling for Blender RPC import
  modules/gltf/editor/editor_import_blend_runner.cpp
Labels: bug, topic:import, regression, topic:3d

#72805 Fix AnimationTrackEditor doesn't open when selecting AnimationPlayer node while another Editor is open
  editor/editor_node.cpp
Labels: bug, topic:editor, regression, topic:animation

#72806 Improve logic to detect whether vulkan is used for rendering
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
Labels: enhancement, platform:android, topic:porting, topic:export

#72552 Rename Godot's 'custom build' to 'gradle build' to better reflect the underlying build process
  editor/editor_node.cpp
  editor/editor_node.h
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/build.gradle
  platform/android/java/app/gradle.properties
  platform/android/java/app/settings.gradle
  platform/android/java/app/src/com/godot/game/GodotApp.java
  platform/android/java/build.gradle
  platform/android/java/gradle.properties
Labels: enhancement, platform:android, topic:buildsystem, topic:porting, breaks compat, topic:export

#71677 Fix MOUSE_FILTER_STOP not affecting emulated mouse events
  scene/main/viewport.cpp
Labels: bug, regression, topic:gui

#69185 Fix Screen-Transform missing in Button Size in OptionButton::show_popup
  scene/gui/option_button.cpp
Labels: bug, topic:gui

#72812 Fix AnimationEditor ignoring region of Sprite2D
  editor/animation_track_editor_plugins.cpp
Labels: bug, topic:editor, topic:animation, topic:2d

#72741 Improve Connect Dialog navigation
  editor/connections_dialog.cpp
  editor/connections_dialog.h
Labels: enhancement, topic:editor, usability

#72722 Fix AnimationNodeTransition initialization and AnimationNode remapping method
  doc/classes/AnimationNode.xml
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_1d.h
  scene/animation/animation_blend_space_2d.cpp
  scene/animation/animation_blend_space_2d.h
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_blend_tree.h
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
Labels: bug, topic:editor, topic:animation

#72826 [X11] Do not suppress structure/focus events on popup close to correctly return focus.
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:input

#72827 Pace debugger draw requests
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  servers/debugger/servers_debugger.cpp
Labels: bug, topic:editor

#72144 Remove script class checks when getting function signature
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/analyzer/errors/gdscript_duplicate.gd
  modules/gdscript/tests/scripts/analyzer/errors/gdscript_duplicate.out
  modules/gdscript/tests/scripts/analyzer/errors/gdscript_duplicate_class.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/gdscript_duplicate.gd
  modules/gdscript/tests/scripts/analyzer/features/gdscript_duplicate.out
  modules/gdscript/tests/scripts/analyzer/features/gdscript_duplicate_class.notest.gd
  modules/gdscript/tests/scripts/parser/features/super_class_check.gd
  modules/gdscript/tests/scripts/parser/features/super_class_check.out
  modules/gdscript/tests/scripts/runtime/features/static_duplicate.gd
  modules/gdscript/tests/scripts/runtime/features/static_duplicate.out
  modules/gdscript/tests/scripts/runtime/features/static_duplicate_preload.notest.gd
Labels: bug, topic:gdscript

#72829 Some code simplifications
  editor/editor_spin_slider.cpp
  modules/gdscript/gdscript_analyzer.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/animation/animation_player.cpp
  scene/main/viewport.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: enhancement, topic:codestyle

#72257 Fix sub-resource IDs resetting when preloaded
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#71768 Fix Viewport::get_mouse_position for SubViewports
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:editor, topic:input, regression, topic:2d

#62179 Use min_size/max_size to limit window size and position while popup center
  scene/gui/dialogs.cpp
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:gui

#72789 Fixed the jumping to function definition using 'Ctrl+LMB'.
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#72840 Fix docs on RPC_MODE_ANY_PEER analogous.
  doc/classes/MultiplayerAPI.xml
Labels: bug, documentation

#72493 GDScript: Improve validation and documentation of `@export_flags`
  doc/classes/@GlobalScope.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:gdscript, documentation

#72061 C#: MSBuild logs and panel enhancements
  modules/mono/editor/GodotTools/GodotTools/Build/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathManager.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/GodotSharpDirs.cs
  modules/mono/editor/GodotTools/GodotTools/VerbosityLevelId.cs
Labels: enhancement, topic:editor, topic:dotnet

#72849 C#: Rename export settings `mono` -> `dotnet` and remove unused AOT settings
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
Labels: enhancement, topic:dotnet

#72853 Set instancing flags when using GPUParticles in OpenGL renderer
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering, topic:2d

#72860 Bind `EditorExportPlugin::_get_export_features`
  doc/classes/EditorExportPlugin.xml
  editor/export/editor_export_plugin.cpp
Labels: enhancement, topic:plugin, topic:export

#72866 Fix mouse-button-mask on button release in unit test
  core/input/input_enums.h
  tests/scene/test_text_edit.h
Labels: bug, topic:input, topic:tests

#72878 Use `GDExtensionBool` in GDExtension interface
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
Labels: bug, topic:gdextension

#72880 Optimize `draw_dashed_line()` and `draw_rect()`
  scene/main/canvas_item.cpp
Labels: bug, topic:rendering, topic:2d, performance

#72700 Fixes to the GLTF export with baking and null checks.
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
Labels: bug, topic:import, topic:3d
