Repository godotengine/godot, pull requests merged in 2023-06, with the labels that each got.

#77719 Override window_get_vsync_mode in DisplayServerWeb to prevent warning spam
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
Labels: bug, platform:web, topic:porting, cherrypick:4.0

#77640 Tweak WorldBoundaryShape icon
  editor/icons/WorldBoundaryShape2D.svg
  editor/icons/WorldBoundaryShape3D.svg
Labels: enhancement, topic:editor, usability

#77663 Fix crash in AudioStream preview
  editor/import/audio_stream_import_settings.cpp
  editor/plugins/audio_stream_editor_plugin.cpp
Labels: bug, topic:audio, topic:import, crash

#77705 Use NOTIFICATION_MOUSE_EXIT instead of a signal for a few editor plugins
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.h
  editor/plugins/gradient_texture_2d_editor_plugin.cpp
  editor/plugins/gradient_texture_2d_editor_plugin.h
Labels: enhancement, topic:editor, topic:input

#77724 Remove redundant check from thread guards
  scene/main/node.h
Labels: bug, topic:core

#77749 Fix external resource ids lost
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core, regression

#77751 Add null checking when finding a lightmap baking path
  editor/plugins/lightmap_gi_editor_plugin.cpp
Labels: bug, topic:rendering

#77664 [4.0] Fix crash in AudioStream preview
  editor/import/audio_stream_import_settings.cpp
  editor/plugins/audio_stream_editor_plugin.cpp
Labels: bug, topic:audio, topic:import, crash

#77743 C#: Fix dictionary key lookup documentation
  doc/classes/Control.xml
  doc/classes/Dictionary.xml
  doc/classes/EditorImportPlugin.xml
Labels: bug, documentation, topic:dotnet, cherrypick:4.0

#74595 Update C# code example to fix an error
  doc/classes/AnimationNodeStateMachinePlayback.xml
Labels: bug, documentation, topic:dotnet, cherrypick:4.0

#77727 Clarify that `CanvasLayer`s are restricted to one `Viewport`
  doc/classes/CanvasLayer.xml
  doc/classes/ParallaxBackground.xml
Labels: enhancement, topic:rendering, documentation

#76854 Fix crash when changing node type from PopupMenu to ItemList
  scene/gui/popup_menu.cpp
Labels: bug, topic:editor, crash, topic:gui, cherrypick:4.0

#77148 Prevent selecting unselectable `EditorProperty` with RMB
  editor/editor_inspector.cpp
Labels: bug, topic:editor, cherrypick:4.0

#77651 Make sure that `data.last_minimum_size` is consistent with `get_combined_minimum_size()` at the same time
  scene/gui/control.cpp
Labels: bug, topic:gui

#77767 [Linux/TTS] Cache TTS voice list.
  platform/linuxbsd/tts_linux.cpp
  platform/linuxbsd/tts_linux.h
Labels: bug, platform:linuxbsd, topic:porting, performance

#77768 Document the database for `Input.get_joy_name()` and `Input.get_joy_guid()`
  doc/classes/Input.xml
Labels: enhancement, documentation, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#77674 Set the grow direction for the "Center View" button in the TileMap editor
  editor/plugins/tiles/tile_atlas_view.cpp
Labels: bug, topic:editor, topic:2d

#75370 [3.x] Fix `NodePath` subname index range documentation
  doc/classes/NodePath.xml
Labels: bug, documentation, cherrypick:3.5

#73942 [3.x] Fix docs on multiplayer peer signals.
  doc/classes/NetworkedMultiplayerPeer.xml
Labels: bug, documentation

#64585 [3.x] Update NetworkedMultiplayerCustom.xml with more explicit documentation to guide usage
  doc/classes/NetworkedMultiplayerCustom.xml
Labels: enhancement, documentation, topic:network

#77771 Simplify linked vector ratio logic
  editor/editor_properties_vector.cpp
  editor/editor_properties_vector.h
Labels: enhancement, topic:editor, topic:codestyle

#75666 Rename `iconpath` => `icon_path` & `hasicon` => `has_icon`.
  main/main.cpp
  platform/macos/export/export_plugin.cpp
Labels: enhancement, topic:codestyle

#67835 Document the ArrayOccluder3D class
  doc/classes/ArrayOccluder3D.xml
Labels: enhancement, documentation

#77784 Enable bookmarks gutter
  editor/code_editor.cpp
Labels: bug, topic:editor, usability, regression

#77782 Use right type in the binding of DocCache::classes
  editor/editor_help.cpp
Labels: bug, topic:editor

#77772 Gradient: Check if interpolation mode and color space are different before firing notifications
  scene/resources/gradient.cpp
Labels: bug, topic:editor, regression

#77867 Don't update mouse cursor state on child order changed
  scene/main/node.cpp
Labels: bug, topic:core, topic:input, regression

#77868 tinyexr: Sync with upstream 1.0.4
  thirdparty/README.md
  thirdparty/tinyexr/tinyexr.h
Labels: bug, topic:thirdparty, regression, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#77632 Inline edit for FileSystem dock in SPLIT_MODE
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, enhancement, topic:editor, usability

#77718 GLTF: Document `gltf_skeleton->godot_bone_node` is unused when importing
  modules/gltf/doc_classes/GLTFSkeleton.xml
Labels: bug, documentation, topic:import

#77757 Fix crash when removing SpinBox during text submit
  doc/classes/Viewport.xml
  misc/extension_api_validation/4.0-stable.expected
  scene/gui/spin_box.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, crash, topic:gui

#77796 Fix profilers' GUI trees
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
Labels: bug, topic:editor

#77808 Use depth pass mode with normals if required, even if Environment is null
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Labels: bug, topic:rendering, topic:3d

#77821 Enhance icon fallback and their docs for exporters
  doc/classes/ProjectSettings.xml
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/macos/export/export_plugin.cpp
  platform/windows/doc_classes/EditorExportPlatformWindows.xml
  platform/windows/export/export_plugin.cpp
Labels: enhancement, documentation, topic:export

#77852 Make panning the 3D view with trackpad goes the right way
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:input, topic:3d

#77860 Add move control points button to Path3D Editor.
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#77874 Fix adding bones with the same name after calling `Skeleton3D.clear_bones()`
  scene/3d/skeleton_3d.cpp
Labels: bug, topic:animation, topic:3d

#77876 Add unit test: mouse movement after slider release
  tests/scene/test_color_picker.h
  tests/test_main.cpp
Labels: bug, topic:tests

#75099 [Linux/X11] Add a default error handler for X11 to avoid crashes.
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, enhancement, platform:linuxbsd

#63168 Fix: InputEventJoypadMotion should trigger only once on a vslider
  core/input/input_event.cpp
  core/input/input_event.h
  core/input/input_map.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/gui/slider.cpp
  scene/gui/slider.h
Labels: bug, topic:input, cherrypick:3.x

#77765 Fix that button presses don't set event as handled in AcceptDialog
  scene/gui/dialogs.cpp
Labels: bug, crash, regression, topic:gui

#77891 Mark deprecated methods of MultiMesh in the docs
  doc/classes/MultiMesh.xml
Labels: enhancement, documentation

#77763 Prevent crashes when removing Viewport from scene tree in event handler
  scene/main/viewport.cpp
Labels: bug, topic:core, crash, regression

#68697 Fix "View Owners" dialog not acknowledging that some resources aren't scenes
  editor/dependency_editor.cpp
  editor/dependency_editor.h
Labels: bug, topic:editor

#77900 [Input Map] Generate missing values instead of disabling options.
  editor/input_event_configuration_dialog.cpp
Labels: bug, topic:editor, topic:input

#77856 Fix VideoStreamPlayer seamless loop
  scene/gui/video_stream_player.cpp
Labels: bug, topic:gui

#77839 Change the "Physics Engine" project settings to prompt a restart
  servers/physics_server_2d.cpp
  servers/physics_server_3d.cpp
Labels: enhancement, topic:editor, topic:physics

#77170 Add support for single compilation unit builds
  SConstruct
  editor/SCsub
  editor/editor_about.cpp
  editor/editor_about.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_quick_open.cpp
  editor/editor_quick_open.h
  editor/editor_scale.cpp
  editor/editor_scale.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_manager.cpp
  methods.py
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  scu_builders.py
  servers/physics_3d/godot_joint_3d.h
  servers/physics_3d/joints/godot_cone_twist_joint_3d.cpp
  servers/physics_3d/joints/godot_hinge_joint_3d.cpp
  servers/physics_3d/joints/godot_slider_joint_3d.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
Labels: enhancement, topic:buildsystem, performance

#77904 C#: Add `[Obsolete]` attribute to deprecated members
  modules/mono/editor/bindings_generator.cpp
Labels: enhancement, topic:dotnet

#77469 Fix for SkeletonIK3D interpolation and bone roll
  core/math/basis.cpp
  scene/3d/skeleton_ik_3d.cpp
Labels: bug, topic:animation, cherrypick:4.0

#75043 GDScript: Fix doc comment parsing (newlines and spaces)
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.0

#75188 C#: Synchronize adding ScriptInstances
  modules/mono/csharp_script.cpp
Labels: bug, topic:dotnet, crash, cherrypick:4.0

#77938 GLTF: Expose the inertia tensor instead of a vector
  modules/gltf/doc_classes/GLTFPhysicsBody.xml
  modules/gltf/extensions/physics/gltf_physics_body.cpp
  modules/gltf/extensions/physics/gltf_physics_body.h
Labels: enhancement, topic:import, topic:3d

#77761 NavigationAgent2D, NavigationAgent3D typo fixes
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
Labels: bug, documentation, cherrypick:4.0

#77802 Tree: Add ability to configure text autowrap mode for individual cells
  doc/classes/TreeItem.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, enhancement, regression, topic:gui

#77909 Draw materials in tile atlas view
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_atlas_view.h
Labels: bug, topic:editor, topic:2d, cherrypick:4.0

#77924 Fixing parameter order in the documentation of TLSOptions.server()
  doc/classes/TLSOptions.xml
Labels: bug, documentation, cherrypick:4.0

#77929 Replace get_rendering_device() call to prevent crashes on OpenGL.
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/storage/utilities.cpp
  editor/editor_node.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/windows/os_windows.cpp
Labels: bug, topic:rendering, crash

#77933 Cancel tooltip when mouse leaves viewport
  scene/main/viewport.cpp
Labels: bug, topic:gui, cherrypick:4.0

#77948 Clarify use of size flags in `Control`
  doc/classes/Control.xml
Labels: enhancement, documentation, cherrypick:4.0

#77949 Add missing `stdint.h` includes for GCC 13+
  thirdparty/glslang/glslang/Include/Common.h
  thirdparty/openxr/patches/fix-gcc13-stdint.patch
  thirdparty/openxr/src/common/platform_utils.hpp
  thirdparty/vhacd/0006-fix-gcc13.patch
  thirdparty/vhacd/inc/vhacdManifoldMesh.h
Labels: bug, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#74065 C#: Always decode `dotnet` output as UTF-8
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/DotNetFinder.cs
Labels: bug, topic:editor, topic:dotnet, cherrypick:4.0

#77410 Standardize Object ptrcall encoding on `Object **`
  core/object/ref_counted.h
  core/variant/method_ptrcall.h
  core/variant/variant_internal.h
  modules/mono/editor/bindings_generator.cpp
Labels: bug, topic:gdscript, topic:gdextension, topic:dotnet

#75959 [3.x] Add tab Metadata to Tabs & TabContainer
  doc/classes/TabContainer.xml
  doc/classes/Tabs.xml
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
  scene/gui/tabs.cpp
  scene/gui/tabs.h
Labels: enhancement, topic:gui

#76226 [3.x] Fix `NODE_POSITION_VIEW` shader built-in
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles3/shader_compiler_gles3.cpp
Labels: bug, topic:shaders

#77403 [3.x] Cache text property when toggling BBCode
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#77691 [3.x] Fix `PopupMenu`'s automatic max height
  scene/gui/popup_menu.cpp
Labels: bug, regression, topic:gui, cherrypick:3.5

#77775 [3.x] Linux: Cache TTS voice list.
  platform/x11/tts_linux.cpp
Labels: bug, platform:linuxbsd, topic:porting, performance

#70502 [3.x] Add support for svg images in the asset lib.
  editor/plugins/asset_library_editor_plugin.cpp
  modules/svg/image_loader_svg.cpp
  modules/svg/image_loader_svg.h
Labels: enhancement, topic:editor, topic:assetlib

#72127 [3.x] Test, refactor and fix a bug in Basis.get_axis_angle
  core/math/basis.cpp
  main/tests/test_basis.cpp
Labels: bug, topic:core, cherrypick:3.5

#74765 [3.x] Improve tooltip for `CanvasLayer.layer`
  doc/classes/CanvasLayer.xml
Labels: bug, documentation

#77902 Documentation: Unify deprecations
  doc/classes/AStarGrid2D.xml
  doc/classes/AnimatedTexture.xml
  doc/classes/HTTPClient.xml
  doc/classes/Node.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/RenderingServer.xml
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonIK3D.xml
  doc/classes/SurfaceTool.xml
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/resources/surface_tool.cpp
Labels: enhancement, topic:core, documentation

#77957 X11: Fix vformat ambiguous int types for GCC 10 (again)
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting

#77958 Increase precision in particle damping properties in the editor
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Labels: enhancement, topic:editor, topic:particles

#77959 msdfgen: Sync with upstream 1.10
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/msdfgen/CHANGELOG.md
  thirdparty/msdfgen/LICENSE.txt
  thirdparty/msdfgen/core/SignedDistance.cpp
  thirdparty/msdfgen/core/SignedDistance.h
  thirdparty/msdfgen/core/contour-combiners.cpp
  thirdparty/msdfgen/core/edge-coloring.cpp
  thirdparty/msdfgen/core/generator-config.h
  thirdparty/msdfgen/msdfgen.h
Labels: enhancement, topic:thirdparty, cherrypick:4.0

#77960 tinyexr: Sync with upstream 1.0.5
  thirdparty/README.md
  thirdparty/tinyexr/tinyexr.h
Labels: bug, topic:thirdparty, cherrypick:4.0

#77677 [3.x] Add Android editor setting to control the window used to run the project
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
Labels: bug, platform:android, topic:editor, topic:porting

#77888 Display the node path in Node thread guard errors
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:core

#77963 Remove GDExtension compatibility code for Godot 4.0
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/extension/gdextension_interface.cpp
  doc/classes/GDExtension.xml
Labels: bug, topic:gdextension, breaks compat

#77969 Hash ORM flag in BaseMaterial to differentiate between ORM and Standard materials
  scene/resources/material.h
Labels: bug, topic:rendering

#77971 Internally rename `parent` to `collision_object` in CollisionShape(2D/3D)
  scene/2d/collision_shape_2d.cpp
  scene/2d/collision_shape_2d.h
  scene/3d/collision_shape_3d.cpp
  scene/3d/collision_shape_3d.h
Labels: enhancement, topic:physics, topic:2d, topic:3d

#77985 Properly update array textures when using the OpenGL backend to avoid crash
  drivers/gles3/storage/texture_storage.cpp
Labels: bug, topic:rendering, high priority, crash

#77676 Add Android editor setting to control the window used to run the project
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
Labels: bug, platform:android, topic:editor, topic:porting, cherrypick:4.0

#77980 Remove inaccuracy about re-using `Thread`s in its doc
  doc/classes/Thread.xml
Labels: bug, documentation, cherrypick:3.x, cherrypick:4.0

#77842 Fix input handling for unfocusable embedded windows
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:input, topic:gui

#75746 Sort code autocompletion with rules
  core/object/script_language.cpp
  core/object/script_language.h
  doc/classes/CodeEdit.xml
  doc/classes/ScriptLanguageExtension.xml
  editor/code_editor.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  modules/gdscript/gdscript_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  tests/scene/test_code_edit.h
Labels: bug, enhancement, topic:gdscript, topic:editor, topic:gui

#78007 Fix parameters passing to `add_triangle_fan` method.
  scene/resources/surface_tool.cpp
Labels: bug, topic:core, regression

#77882 Document the InitialAction enum in RenderingDevice
  doc/classes/RenderingDevice.xml
  servers/rendering/rendering_device.h
Labels: enhancement, documentation, cherrypick:4.0

#77976 SCU build - Change options to "yes / no"
  SConstruct
  methods.py
Labels: enhancement, topic:buildsystem

#78010 Fix `CanvasItem::draw_string_outline` parameter order
  scene/main/canvas_item.h
Labels: bug, topic:core, topic:2d

#77977 Fix IME doesn't work under Popup on Windows.
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting, topic:input

#78005 Some code simplifications
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/gradient_texture_2d_editor_plugin.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:codestyle

#78019 Fix parent inconsistency in `Node::remove_child`
  scene/main/node.cpp
Labels: bug, topic:core

#78021 Correctly reset particle size and rotation in ParticlesProcessMaterial
  scene/resources/particle_process_material.cpp
Labels: bug, topic:3d, topic:particles, cherrypick:4.0

#78025 Skeleton3D: Only reset rest_dirty after ALL bone transforms have finished update
  scene/3d/skeleton_3d.cpp
Labels: bug, topic:animation, topic:3d, cherrypick:4.0

#78029 [macOS] Fix IME focus in popup windows.
  platform/macos/display_server_macos.mm
  platform/macos/godot_content_view.mm
  platform/macos/godot_window.mm
Labels: bug, platform:macos, topic:porting, topic:input

#77703 Fix management of life cycle of vol. fog related uniform sets
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/fog.h
Labels: bug, topic:rendering, regression

#76977 Enable the use of all supported builtins on the light shader
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:shaders, cherrypick:4.0

#74937 Fix shader uniform storage conversions and crash
  drivers/gles3/storage/material_storage.cpp
  editor/shader_globals_editor.cpp
  scene/main/shader_globals_override.cpp
  scene/resources/material.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/storage/variant_converters.h
Labels: bug, topic:rendering, topic:shaders

#78018 Fix compilation of basis unit test
  main/tests/test_basis.cpp
Labels: bug, topic:tests, cherrypick:3.5

#77899 Use initial position property for embedded windows to center on parent window.
  scene/main/window.cpp
Labels: enhancement, usability, topic:gui

#77901 Fix incorrect node placement in RTL layout when parent is non-Control canvas item.
  scene/gui/control.cpp
Labels: bug, topic:gui

#77923 Fix mouse position with screen transform
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:core, topic:input

#78017 Fix passive mouse hovering for physics
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:input, topic:gui

#78040 Disable auto translate for some controls in Project Manager
  editor/project_manager.cpp
Labels: bug, topic:editor

#78042 Fix heap-use-after-free when editing project tags
  editor/project_manager.cpp
Labels: bug, topic:editor

#78044 Fix node idle process priority being ignored
  scene/main/scene_tree.cpp
Labels: bug, topic:core, regression

#76129 [Label] Add support for tab stops.
  doc/classes/Label.xml
  scene/gui/label.cpp
  scene/gui/label.h
Labels: enhancement, topic:gui

#73939 C#: Add option to disable exporting debug symbols
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
Labels: bug, enhancement, topic:dotnet, topic:export

#78043 Added a few device GUIDs to is_xinput_device fixing controller problems
  platform/windows/joypad_windows.cpp
Labels: bug, platform:windows, topic:input, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#78046 Add TextFile to editor property capitalizations
  editor/editor_property_name_processor.cpp
Labels: enhancement, topic:editor, cherrypick:4.0

#77834 Fix Image -> Texture2D inspector auto-conversion
  editor/editor_resource_picker.cpp
Labels: bug, topic:editor, usability, regression

#77209 Don't change `RID` when changing `viewport_path` in `ViewportTexture`
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, topic:core, regression, cherrypick:4.0

#75261 Fix trim when importing WAV
  editor/import/resource_importer_wav.cpp
Labels: bug, topic:audio, topic:import, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#74948 Fix type check in AnimationTrackKeyEdit for methods
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, topic:animation, cherrypick:4.0

#78048 [3.x] Fix trim when importing WAV
  editor/import/resource_importer_wav.cpp
Labels: bug, topic:audio, topic:import, cherrypick:3.5

#78056 Update list of known breaking changes compared to 4.0-stable (2)
  misc/extension_api_validation/4.0-stable.expected
Labels: bug, topic:gdextension

#77105 Enable S3TC_BPTC but not ETC2_ASTC by default
  doc/classes/ProjectSettings.xml
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  servers/rendering_server.cpp
Labels: bug, platform:macos, topic:import, high priority, regression

#77779 Use `emit_changed()` consistently
  scene/resources/curve.cpp
  scene/resources/gradient.cpp
  scene/resources/navigation_polygon.cpp
Labels: enhancement, topic:codestyle

#77945 Use NULL instead of COND checks when appropriate
  scene/2d/area_2d.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/node_2d.cpp
  scene/2d/physics_body_2d.cpp
  scene/2d/ray_cast_2d.cpp
  scene/2d/shape_cast_2d.cpp
  scene/2d/skeleton_2d.cpp
  scene/3d/area_3d.cpp
  scene/3d/bone_attachment_3d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/label_3d.cpp
  scene/3d/mesh_instance_3d.cpp
  scene/3d/node_3d.cpp
  scene/3d/occluder_instance_3d.cpp
  scene/3d/physics_body_3d.cpp
  scene/3d/ray_cast_3d.cpp
  scene/3d/shape_cast_3d.cpp
  scene/3d/skeleton_3d.cpp
  scene/3d/soft_body_3d.cpp
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_player.cpp
  scene/animation/animation_tree.cpp
  scene/debugger/scene_debugger.cpp
  scene/gui/container.cpp
  scene/gui/control.cpp
  scene/gui/graph_edit.cpp
  scene/gui/range.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/tab_container.cpp
  scene/gui/tree.cpp
  scene/gui/video_stream_player.cpp
  scene/main/canvas_item.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/mesh.cpp
  scene/resources/packed_scene.cpp
  scene/resources/skeleton_modification_2d_physicalbones.cpp
  scene/resources/texture.cpp
  scene/resources/tile_set.cpp
Labels: enhancement, topic:core

#78000 Let user scripts disable thread safety checks
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource_loader.cpp
  core/object/worker_thread_pool.cpp
  doc/classes/Thread.xml
  scene/gui/rich_text_label.cpp
Labels: enhancement, topic:core, topic:gdscript

#77699 Preserve vector ratio when dragging through 0
  editor/editor_properties_vector.cpp
  editor/editor_properties_vector.h
Labels: bug, topic:editor, usability

#77714 Improve navigation map synchronisation error msgs
  modules/navigation/nav_map.cpp
  modules/navigation/nav_region.cpp
Labels: enhancement, topic:navigation

#78085 [3.x] Fix spatial viewport multitouch detection support
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
Labels: bug, platform:android, topic:porting, topic:input

#78083 Fix spatial viewport multitouch detection support
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
Labels: bug, platform:android, topic:porting, topic:input, cherrypick:4.0

#78057 Fix moving directories in filesystem
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#78093 Changed error tree initialization to allow reselection
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:editor, usability

#78096 Refresh the filesystem tab when exporting a new GLTF file
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
Labels: bug, topic:editor, topic:import, topic:3d

#78110 Fix Tooltip getting removed instantly in embedded Window
  scene/main/viewport.cpp
Labels: bug, topic:core

#78112 [MP] Fix crash when sending multiple delta variants.
  modules/multiplayer/scene_replication_interface.cpp
Labels: bug, crash, topic:multiplayer

#78124 Fix problems reloading MeshLibrary
  editor/editor_node.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d, cherrypick:4.0

#77748 Skip error messages for buttons that don't exist
  core/input/input.cpp
Labels: bug, topic:input

#77770 Fix minimize button missing in non-resizable projects
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting, cherrypick:4.0

#77863 Use cached hue for color picker when saturation is 0
  scene/gui/color_mode.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: bug, topic:gui

#77880 Use `get_node_or_null` when null checks are present
  scene/3d/area_3d.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/gui/graph_edit.cpp
  scene/gui/menu_bar.cpp
  scene/gui/popup_menu.cpp
  scene/main/viewport.cpp
Labels: enhancement, topic:core

#67732 Don't use a const reference for the enum constructor in Variant
  core/variant/variant.h
Labels: enhancement, topic:core

#78092 Preserve selection when focusing SpinBox
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/spin_box.cpp
Labels: bug, usability, regression, cherrypick:3.x, topic:gui, cherrypick:4.0

#78132 [iOS] Fix orientation change in runtime.
  doc/classes/DisplayServer.xml
  platform/ios/display_server_ios.mm
Labels: bug, platform:ios, topic:porting, cherrypick:3.x, cherrypick:4.0

#78009 Ensure that controls update all their sizing information when required
  scene/gui/container.cpp
  scene/gui/control.cpp
Labels: bug, topic:editor, regression, topic:gui

#78111 Fix infinite loop on EOF in the command line debugger
  core/debugger/local_debugger.cpp
Labels: bug, topic:core, topic:editor, cherrypick:4.0

#77055 Input - fix just pressed and released with short presses
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  doc/classes/ProjectSettings.xml
Labels: bug, enhancement, topic:core, topic:input

#78137 [4.0] regex: Add nullptr check in `_regex_free`, needed with PCRE2 10.42
  modules/regex/regex.cpp
Labels: bug, topic:core, topic:thirdparty, cherrypick:3.5

#78139 Document behaviour of AudioServer.get_bus_index() if name doesn't exist
  doc/classes/AudioServer.xml
Labels: enhancement, documentation

#77667 Fix crash when selecting lines in text edit
  scene/gui/text_edit.cpp
Labels: bug, crash, topic:gui, cherrypick:4.0

#78143 Avoid error spam when (un)pausing GPUParticles out of tree
  scene/2d/gpu_particles_2d.cpp
  scene/3d/gpu_particles_3d.cpp
Labels: bug, topic:core, topic:particles, cherrypick:4.0

#78147 Set both texture format overrides to false by default
  doc/classes/ProjectSettings.xml
  servers/rendering_server.cpp
Labels: bug, topic:import

#78152 Prevent non-existent scene from being saved to persistent editor config
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#77973 Fix editor log flicker.
  editor/editor_log.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:editor, topic:gui

#78015 Standardize and Optimize blue robot SVGs
  editor/icons/DefaultProjectIcon.svg
  editor/icons/Godot.svg
  editor/icons/GodotFile.svg
  editor/icons/GodotMonochrome.svg
  editor/icons/Logo.svg
  icon.svg
  icon_outlined.svg
  logo.svg
  logo_outlined.svg
  misc/dist/icon_console.svg
  misc/dist/project_icon.svg
  tests/core/io/test_pck_packer.h
Labels: enhancement, topic:editor

#75798 Make sure script cache is created after reimport
  editor/editor_file_system.cpp
Labels: bug, topic:gdscript, topic:export, cherrypick:4.0
