Repository godotengine/godot, pull requests merged in 2023-10, with the labels that each got.

#75468 [3.x] Add support for 3 dir shadow splits
  doc/classes/DirectionalLight.xml
  doc/classes/VisualServer.xml
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/shaders/scene.glsl
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  scene/3d/light.cpp
  scene/3d/light.h
  servers/visual/visual_server_scene.cpp
  servers/visual_server.cpp
  servers/visual_server.h
Labels: enhancement, topic:rendering, topic:3d

#82502 [3.x] BVH - fix not refitting upward from leaf nodes
  core/math/bvh_refit.inc
  core/math/bvh_structs.inc
Labels: bug, topic:core, topic:rendering, topic:physics

#82512 [3.x] BVH - fix axis getting mixed up when split leaf
  core/math/bvh_split.inc
Labels: bug, topic:core

#82591 Fixed the Advanced Import Settings window's 3D camera
  editor/import/scene_import_settings.cpp
Labels: enhancement, topic:editor, usability, topic:import, topic:3d

#82603 Fix inconsistent `last_modified_time` handling in GDExtension
  core/extension/gdextension.cpp
  core/extension/gdextension.h
Labels: bug, platform:windows, topic:gdextension

#82633 [Web] Fix `dlink_enabled` build
  platform/web/audio_driver_web.h
  platform/web/display_server_web.h
  platform/web/godot_js.h
  platform/web/javascript_bridge_singleton.cpp
  platform/web/os_web.h
Labels: bug, platform:web, topic:buildsystem, needs testing

#82634 Tweak Gravity Scale property hints to make dragging more useful
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body_3d.cpp
Labels: enhancement, topic:editor, usability, topic:physics

#82641 Tweak AnimationPlayer speed scale property hint to make dragging more useful
  scene/animation/animation_player.cpp
Labels: enhancement, usability, topic:animation

#82671 Improve `NavigationAgent3D.target_position` documentation readability
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
Labels: enhancement, documentation, topic:navigation

#82441 Web: Clarify that `OS.get_unique_id` is not supported
  core/os/os.cpp
  doc/classes/OS.xml
  platform/web/os_web.cpp
  platform/web/os_web.h
Labels: enhancement, platform:web, topic:porting, cherrypick:3.x

#82573 Fix crash when deleting the player in `AnimationPlayerEditorPlugin`
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, topic:editor, crash, topic:animation

#82590 Add more context to some `Window` errors
  scene/gui/control.cpp
  scene/main/window.cpp
  scene/main/window.h
Labels: enhancement, topic:editor

#81648 Remove the equality check for `TabBar.set_tab_metadata`
  scene/gui/tab_bar.cpp
Labels: bug, topic:gui

#81174 Fix TreeItem range slider not working properly
  scene/gui/tree.cpp
Labels: bug, topic:gui, cherrypick:4.1

#81194 Update blender export flags for 3.6.
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
Labels: bug, topic:import, cherrypick:4.1

#81319 Fix TextFile not reloading when changed from external editors
  scene/resources/text_file.h
Labels: bug, topic:editor

#80844 Fix expected argument count for `Callable` call errors
  core/object/object.cpp
  core/variant/binder_common.h
  core/variant/callable_bind.cpp
  core/variant/variant_call.cpp
  core/variant/variant_utility.cpp
  editor/editor_undo_redo_manager.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/ExceptionUtils.cs
  platform/android/java_class_wrapper.cpp
  platform/web/api/api.cpp
  platform/web/javascript_bridge_singleton.cpp
  scene/gui/tree.cpp
  scene/main/node.cpp
Labels: bug, topic:core, topic:gdscript

#81007 FileSystemDock: Don't update current path on rename when file list has focus
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, usability

#80225 Add `rotate_toward` and `angle_difference` methods.
  core/math/math_funcs.h
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  tests/core/math/test_math_funcs.h
Labels: enhancement, topic:core

#72729 Enable MP1 and MP2 support in minimp3 and editor
  SConstruct
  modules/minimp3/SCsub
  modules/minimp3/audio_stream_mp3.cpp
  modules/minimp3/config.py
  modules/minimp3/resource_importer_mp3.cpp
Labels: enhancement, topic:audio

#81582 Make `GraphEdit` toolbar more customizable
  doc/classes/GraphEdit.xml
  editor/editor_themes.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_1d_editor.h
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.h
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/animation_tree_editor_plugin.h
  misc/extension_api_validation/4.1-stable.expected
  scene/gui/graph_edit.compat.inc
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/theme/default_theme.cpp
Labels: enhancement, topic:editor, usability, breaks compat, topic:gui

#80555 AssetLib: Fix long plugin names breaking the UI
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
  scene/gui/link_button.cpp
  scene/gui/link_button.h
Labels: bug, topic:editor, topic:assetlib, cherrypick:4.1

#82681 Add docs for Node3DGizmo to clarify its link to EditorNode3DGizmo
  doc/classes/EditorNode3DGizmo.xml
  doc/classes/Node3D.xml
  doc/classes/Node3DGizmo.xml
Labels: enhancement, documentation

#82712 [SystemFont] Check name when selecting the best matching face from a collection.
  scene/resources/font.cpp
Labels: bug, topic:gui, cherrypick:4.1

#82724 Clarify `AStarGrid2D.is_in_bounds` functionality
  doc/classes/AStarGrid2D.xml
Labels: enhancement, documentation, cherrypick:4.1

#82728 Fix node icons appearing too big in some cases
  editor/editor_properties.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability

#82475 [TextServer] Store font extra spacing variations without making a full copy of font.
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/resources/font.cpp
  scene/resources/font.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, topic:gui

#82544 Improve SeparationRayShape docs
  doc/classes/SeparationRayShape2D.xml
  doc/classes/SeparationRayShape3D.xml
Labels: enhancement, documentation, topic:3d

#82614 Add support for the OpenXR Eye gaze interaction extension
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/SCsub
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_eye_gaze_interaction.cpp
  modules/openxr/extensions/openxr_eye_gaze_interaction.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/register_types.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  platform/android/os_android.cpp
Labels: enhancement, platform:android, topic:xr

#82103 [Export] Fix TextServer data export.
  editor/export/editor_export_platform.cpp
Labels: bug, topic:export

#82179 [Docs] Update and sync Window and DisplayServer window mode descriptions.
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
Labels: enhancement, documentation

#82357 [macOS] Fix borderless mode on macOS 13.6+.
  platform/macos/display_server_macos.mm
Labels: bug, platform:macos, topic:porting, cherrypick:4.1

#81633 Avoid resetting the code completion popup excessively
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  tests/scene/test_code_edit.h
Labels: bug, topic:editor, usability

#81969 [macOS export] Fix GDExtension framework `+x` flag errors, allow recursive signing on non macOS platform.
  platform/macos/export/export_plugin.cpp
Labels: enhancement, platform:macos, topic:export

#81188 Select node when clicked in AnimationPlayer timeline
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#81619 Re-allows constants in global space to be initialized with function call
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: bug, topic:shaders

#80721 Recurse into resources to check for changed node paths
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#80752 Fix CanvasItem notification thread guard
  scene/2d/node_2d.cpp
  scene/3d/node_3d.cpp
  scene/main/canvas_item.cpp
Labels: bug, topic:core

#80802 Improve Path3D gizmo usability
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#80952 [Native File Dialogs] Refocus last focused window on close.
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#80409 [DisplayServer] Add method to estimate window title bar size.
  doc/classes/AcceptDialog.xml
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/dialogs.cpp
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, topic:porting

#79871 [Windows] Try using objcopy and strip with prefix and without prefix.
  platform/windows/platform_windows_builders.py
Labels: bug, platform:windows, topic:buildsystem

#79425 GDScript: Load global classes when running debug tests
  modules/gdscript/tests/test_gdscript.cpp
Labels: enhancement, topic:gdscript

#69624 Add `type_string()` utility
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  modules/gdscript/tests/scripts/utils.notest.gd
Labels: enhancement, topic:core

#82737 Cherry-picks for the 4.1 branch (future 4.1.2) - 3rd batch
  CHANGELOG.md
  core/io/remote_filesystem_client.cpp
  core/math/delaunay_3d.h
  doc/classes/DisplayServer.xml
  doc/classes/EditorExportPlugin.xml
  doc/classes/EditorVCSInterface.xml
  doc/classes/OccluderInstance3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/StyleBox.xml
  doc/classes/TileMap.xml
  doc/classes/TileMapPattern.xml
  doc/classes/TileSet.xml
  doc/classes/Viewport.xml
  editor/editor_file_system.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  methods.py
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  modules/enet/enet_connection.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/gdscript/tests/scripts/analyzer/errors/typed_array_init_with_unconvertable_in_literal.gd
  modules/mbedtls/crypto_mbedtls.cpp
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/bindings_generator.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/ios/detect.py
  platform/ios/display_server_ios.mm
  platform/ios/godot_view.mm
  platform/ios/view_controller.mm
  platform/linuxbsd/detect.py
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/web/detect.py
  platform/web/js/libs/library_godot_audio.js
  platform/web/js/libs/library_godot_display.js
  scene/3d/lightmap_gi.cpp
  scene/animation/animation_blend_tree.cpp
  scene/gui/rich_text_label.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/resources/animation.cpp
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection_scale.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/rendering_device.cpp
  tests/scene/test_text_edit.h
Labels: bug, topic:buildsystem

#82679 Workaround crash due to null shader when running XR project with `--xr-mode` off
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering, topic:xr, crash, topic:shaders

#82683 Fix C# editor dialogs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: bug, topic:editor, topic:dotnet

#82722 OpenXR: Fix small hand tracking issues
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/register_types.cpp
  modules/openxr/scene/openxr_hand.cpp
Labels: bug, topic:xr

#82736 Fix `godot_js_wrapper_create_cb` regression
  platform/web/js/libs/library_godot_javascript_singleton.js
Labels: bug, platform:web, topic:porting, regression, cherrypick:4.1

#82740 Add C# compat members for 4.2 changes
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
Labels: enhancement, topic:dotnet

#82743 [File Dialog] Do not open native file dialogs in the edited scene.
  scene/gui/file_dialog.cpp
Labels: bug, topic:editor, topic:gui

#82748 Fix typos in documentation: `than/then` and `loose/lose`
  doc/classes/CodeEdit.xml
  doc/classes/TLSOptions.xml
  doc/classes/TextEdit.xml
  doc/classes/XRPositionalTracker.xml
Labels: bug, documentation

#82754 Removes extents to size conversion
  editor/renames_map_3_to_4.cpp
Labels: bug, topic:editor

#82766 Forgot to add debanding to config object
  servers/rendering/renderer_viewport.cpp
Labels: bug, topic:rendering, topic:3d

#82779 Fix some typos in source
  editor/project_converter_3_to_4.cpp
  modules/bmp/image_loader_bmp.cpp
  platform/android/os_android.cpp
Labels: enhancement, topic:codestyle

#82393 Fix performance regression in RigidBody2D/3D and PhysicalBone3D
  scene/2d/physics_body_2d.cpp
  scene/3d/physics_body_3d.cpp
Labels: bug, topic:physics, regression, performance

#82051 Revamp how documentation tooltips work
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/create_dialog.cpp
  editor/editor_build_profile.cpp
  editor/editor_feature_profile.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/property_selector.cpp
Labels: enhancement, topic:editor

#81218 [Native File Dialogs] Improve filter list handling, add selected filter to the callback.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  servers/display_server.h
Labels: bug, enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting, breaks compat, crash

#80939 Revive onion skinning
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.cpp
Labels: enhancement, topic:rendering, topic:editor, topic:animation

#80977 Fix paste value emptying an array on some right click location
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor, cherrypick:4.1

#79361 [macOS] Add `about_to_open` and `popup_hide` callback for the global menus.
  doc/classes/DisplayServer.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_menu_delegate.mm
  platform/macos/godot_menu_item.h
  scene/gui/menu_bar.cpp
  scene/gui/menu_bar.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, platform:macos, topic:porting, topic:gui

#75274 Enhance NodePath property editing
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: enhancement, topic:editor, usability

#82715 OpenXR - add access to hand joint validity flags
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
Labels: enhancement, topic:xr

#82767 Core: Fix `Object::has_method()` for script static methods
  core/object/object.cpp
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  doc/classes/ScriptExtension.xml
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/tests/scripts/runtime/features/static_method_as_callable.gd
  modules/gdscript/tests/scripts/runtime/features/static_method_as_callable.out
Labels: bug, topic:core, topic:gdscript

#82784 GDScript: Fix `native_type` is empty for autoload without script
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#82789 GDScript: Fix unresolved datatype for incomplete binary operator
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:gdscript

#82799 Expose `Object::free_instance_binding()` to GDExtension
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
  core/object/object.cpp
  core/object/object.h
Labels: enhancement, topic:gdextension

#82694 "Whole Words" search can detect word boundaries inside the search term.
  editor/code_editor.cpp
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.h
Labels: bug, topic:editor, cherrypick:4.1

#82067 GDScript DocGen: Fix and improve appearance of metatypes and values
  editor/editor_help.cpp
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/editor/gdscript_docgen.h
Labels: enhancement, topic:gdscript, topic:editor

#82163 Made signal handling more uniform during crashes.
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/macos/crash_handler_macos.mm
Labels: bug, platform:linuxbsd, topic:core, crash

#81575 Fix GLES3 instanced rendering color and custom data defaults
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, cherrypick:4.1

#81607 Fix `SubViewport` with `UPDATE_WHEN_VISIBLE` not working properly in exported project
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Labels: bug, topic:rendering, topic:export

#82786 Do not replace starting digit with underscore when making identifier
  core/string/ustring.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core, cherrypick:4.1

#79341 Add vararg `call()` method to C++ Callable
  core/object/worker_thread_pool.cpp
  core/variant/callable.h
  core/variant/variant.h
  editor/animation_track_editor.cpp
  editor/editor_inspector.cpp
  editor/import/post_import_plugin_skeleton_renamer.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  modules/navigation/nav_agent.cpp
  platform/android/display_server_android.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/macos/godot_content_view.mm
  platform/macos/godot_menu_delegate.mm
  platform/macos/godot_window_delegate.mm
  platform/web/display_server_web.cpp
  platform/web/javascript_bridge_singleton.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/text_edit.cpp
  scene/gui/view_panner.cpp
  scene/gui/view_panner.h
  servers/physics_2d/godot_body_2d.cpp
  servers/physics_3d/godot_body_3d.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_rd/storage_rd/utilities.cpp
  servers/rendering/rendering_server_default.cpp
  tests/display_server_mock.h
Labels: enhancement, topic:core

#82842 Resolve relative icon paths for GDExtensions
  core/extension/gdextension.cpp
Labels: enhancement, topic:editor, topic:gdextension

#82847 Fix unsaved changes not getting discarded
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#82849 Clarify `change_dir()` and access scopes
  doc/classes/DirAccess.xml
Labels: enhancement, topic:core, documentation

#82843 GDScript: Add error when exporting node in non `Node`-derived classes
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_1.gd
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_1.out
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_2.gd
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_2.out
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_3.gd
  modules/gdscript/tests/scripts/analyzer/errors/export_node_in_non_node_derived_class_3.out
  modules/gdscript/tests/scripts/parser/features/export_variable.gd
  modules/gdscript/tests/scripts/parser/features/export_variable.out
Labels: bug, enhancement, topic:gdscript, documentation

#77072 Add `Node.get_tree_string` and `Node.get_tree_string_pretty`
  doc/classes/Node.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: feature proposal, topic:core

#82861 Fix extensions loading/initializing even when entry point fails
  core/extension/gdextension.cpp
Labels: bug, topic:gdextension

#82875 Disable disconnect button for inherited signals
  editor/connections_dialog.cpp
Labels: bug, topic:editor

#82876 [macOS] Fix ambiguous method call with older SDKs.
  platform/macos/display_server_macos.mm
Labels: bug, platform:macos, topic:porting

#82546 Fix cluster artifacts and negative light
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
Labels: bug, topic:rendering, topic:3d, cherrypick:4.1

#82877 Fog shader: Fix undeclared identifier `global_variables`
  servers/rendering/renderer_rd/environment/fog.cpp
Labels: bug, topic:rendering, cherrypick:4.0, cherrypick:4.1

#82326 Fix for GDScriptHighlighter dictionaries as function arguments
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: bug, topic:gdscript, topic:editor

#81827 Opt-in to Vulkan features we actually use.
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, topic:rendering

#81138 Vertex and attribute compression
  doc/classes/EditorSceneFormatImporter.xml
  doc/classes/MeshDataTool.xml
  doc/classes/RenderingServer.xml
  doc/classes/ResourceImporterOBJ.xml
  doc/classes/ResourceImporterScene.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  editor/import/editor_import_collada.cpp
  editor/import/resource_importer_obj.cpp
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  gles3_builders.py
  misc/extension_api_validation/4.1-stable.expected
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_state.h
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
  scene/3d/soft_body_3d.cpp
  scene/3d/soft_body_3d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/immediate_mesh.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/importer_mesh.h
  scene/resources/material.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/mesh_data_tool.compat.inc
  scene/resources/mesh_data_tool.cpp
  scene/resources/mesh_data_tool.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/pipeline_cache_rd.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/shaders/skeleton.glsl
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, topic:3d, performance

#80992 Fix volumetric fog NaN values in textures from starting at a zero Vector2.
  servers/rendering/renderer_rd/environment/fog.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.1

#79692 SpriteFrames Editor: Fix FPS applied to two animations when switching animation
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, topic:animation

#79872 SpriteFrames Editor: Fix Frame Duration applied to wrong frame when switching frame
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, topic:animation

#62652 SCons: Add `object_prefix` option
  SConstruct
Labels: enhancement, topic:buildsystem

#81124 Fix VoxelGI static light pairing
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.1

#80872 Update Importing 3D scenes links to match splitting PR
  doc/classes/EditorScenePostImport.xml
  doc/classes/ResourceImporterOBJ.xml
  doc/classes/ResourceImporterScene.xml
Labels: enhancement, topic:import, topic:3d

#82892 Only perform modelview transform on tangent and binormal when vertex shader is in local space
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, topic:3d

#82898 Fix `AnimationPlayer::play()` process unwanted start between the same animations
  scene/animation/animation_player.cpp
Labels: bug, regression, topic:animation

#82901 Make gizmo plugin handle `SpriteBase3D` instead of `Sprite3D`
  editor/plugins/gizmos/sprite_base_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/sprite_base_3d_gizmo_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
Labels: bug, topic:editor, usability, topic:3d

#82752 OpenXR - Properly skip frame render when the XR runtime is not yet ready to let us acquire the next image from the swapchain
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
Labels: bug, topic:rendering, topic:xr

#82811 Place LineEdit secret in its own section
  scene/gui/line_edit.cpp
Labels: enhancement, usability, topic:gui

#82886 Avoid default fallback material when using `world_vertex_coords`
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
Labels: bug, topic:rendering, cherrypick:4.1

#82914 Accept cancel event when unfocusing LineEdit
  scene/gui/line_edit.cpp
Labels: bug, topic:input, topic:gui

#82794 GDExtension: Convert `validated_call()` to `ptrcall()` (rather than `call()`)
  core/extension/gdextension.cpp
  core/variant/variant_internal.h
Labels: bug, topic:core, topic:gdextension

#82913 Fix garbled text in editor toasters
  editor/gui/editor_toaster.cpp
Labels: bug, topic:editor, cherrypick:4.1

#81523 Allow contextual plugins to persist temporarily
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: bug, topic:editor, regression

#81284 Show doc tooltips when hovering properties in the theme editor
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: enhancement, topic:editor, usability

#79893 GDScript: Replace ptrcalls on MethodBind to validated calls
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/standalone-calls-do-not-write-to-nil.gd
Labels: enhancement, topic:gdscript, performance

#82907 Remove I/O error popup when failing to load/unload extension
  editor/editor_file_system.cpp
Labels: enhancement, topic:editor, usability, topic:gdextension

#82924 Fix right-click menu position for the debugger breakpoint tree.
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:editor, usability, topic:gui

#82940 Tweak metadata property tooltip to avoid being misleading
  editor/editor_help.cpp
Labels: enhancement, topic:editor

#82969 Add a Disable 2D property to Viewport
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:rendering, topic:2d

#82970 [RTL] Remove unnecessary glyph position rounding.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#82985 Fix building without GDScript
  main/main.cpp
Labels: bug, topic:buildsystem

#83001 C#: Fix unresolved `inheritdoc` links in `Compat.cs`
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
Labels: enhancement, documentation, topic:dotnet

#83002 Replace `sanity` with `safety` for checks
  core/math/convex_hull.cpp
  core/object/message_queue.cpp
  core/templates/paged_allocator.h
  core/templates/safe_refcount.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  modules/gltf/gltf_document.cpp
  scene/main/node.cpp
  scene/resources/animation.cpp
  scene/resources/curve.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: enhancement, topic:codestyle

#83003 Replace `ERR_FAIL_COND` with `ERR_FAIL_NULL` where applicable
  core/extension/gdextension.cpp
  core/io/file_access_zip.cpp
  core/object/callable_method_pointer.h
  core/variant/variant.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/storage/material_storage.cpp
  drivers/unix/dir_access_unix.cpp
  drivers/vulkan/vulkan_context.cpp
  editor/animation_track_editor.cpp
  editor/export/export_template_manager.cpp
  editor/import/collada.cpp
  editor/import/resource_importer_shader_file.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/project_manager.cpp
  editor/scene_tree_dock.cpp
  modules/enet/enet_connection.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/managed_callable.cpp
  modules/openxr/util.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/macos/gl_manager_macos_legacy.mm
  platform/macos/os_macos.mm
  platform/web/javascript_bridge_singleton.cpp
  scene/animation/animation_player.cpp
  scene/gui/graph_element.cpp
  scene/main/node.h
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/resources/skeleton_modification_2d_physicalbones.cpp
  servers/physics_2d/godot_area_2d.cpp
  servers/physics_2d/godot_body_2d.cpp
  servers/physics_2d/godot_physics_server_2d.cpp
  servers/physics_3d/godot_area_3d.cpp
  servers/physics_3d/godot_body_3d.cpp
  servers/physics_3d/godot_physics_server_3d.cpp
  servers/physics_3d/godot_soft_body_3d.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/shader_language.cpp
  thirdparty/enet/godot.cpp
Labels: enhancement, topic:codestyle

#83030 AnimationMixer: Fix non-numeric misc type (`Resource`, `Dictionary` & etc.) values cannot be blended with `UpdateMode.UPDATE_CONTINUOUS`
  scene/animation/animation_mixer.cpp
Labels: bug, regression, topic:animation

#83035 Fix VoxelGI bake memory leak
  scene/3d/voxelizer.cpp
Labels: bug, topic:rendering, topic:editor, topic:3d, cherrypick:4.1

#82695 Fixes to allow object-less callables throughout Godot
  core/core_bind.cpp
  core/object/object.cpp
  core/object/undo_redo.cpp
  core/variant/callable.cpp
  scene/animation/tween.cpp
  servers/physics_2d/godot_area_2d.cpp
  servers/physics_2d/godot_body_2d.cpp
  servers/physics_3d/godot_area_3d.cpp
  servers/physics_3d/godot_body_3d.cpp
Labels: bug, topic:core, topic:gdextension

#82790 Web: Catch using GDExtensions in a non-dlink build
  platform/web/js/engine/engine.js
Labels: enhancement, platform:web, topic:gdextension

#82883 Fixed a missing word
  doc/classes/Input.xml
Labels: bug, documentation, topic:input

#81779 Fix crash when clicking on "Interpolation Mode" with nonexistent node path
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, crash, topic:animation, cherrypick:4.1

#81812 Incorporate min and max zoom limits into the EditorZoomWidget
  editor/gui/editor_zoom_widget.cpp
  editor/gui/editor_zoom_widget.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:editor, usability, topic:2d

#80271 Fix scrolling on keyboard/controller input
  scene/gui/popup_menu.cpp
Labels: bug, topic:input, topic:gui, cherrypick:4.0, cherrypick:4.1

#71519 Fix code completion override of home and end keys
  scene/gui/code_edit.cpp
  tests/scene/test_code_edit.h
Labels: bug, usability, topic:input, topic:gui

#83004 Fix typo in `shader_language.cpp`
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:shaders

#83040 Fix `trace_ray()` function in the lightmapper missing hits with large triangles.
  modules/lightmapper_rd/lm_compute.glsl
Labels: bug, topic:rendering, topic:3d

#83051 C#: Untyped to typed `ArgumentNullException`
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
Labels: bug, documentation, topic:dotnet

#83056 Fix incorrect check in `_dict_to_surf`
  servers/rendering_server.cpp
Labels: bug, topic:rendering, high priority, regression

#83066 Add semicolon to OS documentation case statement.
  doc/classes/OS.xml
Labels: bug, documentation

#83068 Fix incorrect null check
  modules/enet/enet_connection.cpp
Labels: bug, topic:codestyle

#82729 Add C# iOS support
  modules/mono/config.py
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/iOSNativeAOT.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/iOSNativeAOT.targets
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/editor/GodotTools/GodotTools/Internals/GodotSharpDirs.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/OS.cs
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/support/ios_support.h
  modules/mono/mono_gd/support/ios_support.mm
  platform/ios/export/export_plugin.cpp
Labels: enhancement, platform:ios, topic:dotnet, topic:export

#82075 Fix several issues with renaming in FileSystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor, crash

#79711 Add `proxy_to_pthread` option to `platform=web`
  drivers/gles3/storage/particles_storage.cpp
  drivers/gles3/storage/utilities.cpp
  modules/webrtc/library_godot_webrtc.js
  modules/websocket/library_godot_websocket.js
  platform/web/detect.py
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  platform/web/godot_js.h
  platform/web/godot_webgl2.h
  platform/web/javascript_bridge_singleton.cpp
  platform/web/js/libs/library_godot_audio.js
  platform/web/js/libs/library_godot_display.js
  platform/web/js/libs/library_godot_fetch.js
  platform/web/js/libs/library_godot_input.js
  platform/web/js/libs/library_godot_javascript_singleton.js
  platform/web/js/libs/library_godot_os.js
  platform/web/js/libs/library_godot_webgl2.js
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/web/web_main.cpp
Labels: enhancement, platform:web, topic:porting, needs testing

#72751 Highlight doc comments in a different color
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  doc/classes/EditorSettings.xml
  doc/classes/ScriptLanguageExtension.xml
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Labels: enhancement, topic:gdscript, topic:editor

#83062 Do not apply extra spacing twice.
  scene/gui/text_edit.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/text_line.cpp
  scene/resources/text_paragraph.cpp
Labels: bug, topic:gui

#83076 Set new SkeletonRestFixer tracks as imported
  editor/import/post_import_plugin_skeleton_rest_fixer.cpp
Labels: bug, topic:editor, usability, topic:import, topic:animation, topic:3d

#83088 [iOS] Fix build on Xcode 14 and older.
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
Labels: bug, platform:ios, cherrypick:3.x, topic:export, cherrypick:3.5, cherrypick:4.0, cherrypick:4.1

#82893 Cleanups and improvements to the Godot Android library api
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotHost.java
  platform/android/java/lib/src/org/godotengine/godot/GodotService.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
Labels: enhancement, platform:android, topic:porting, topic:plugin

#82762 C#: Add checks to Android export
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, usability, topic:dotnet, topic:export

#83049 GDScript DocGen: Fix regression with return metatypes
  modules/gdscript/editor/gdscript_docgen.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#83050 Deleting unnecessary include in GDScriptParser
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:buildsystem, topic:gdscript

#83065 Allow clicking buttons of non-selectable TreeItems
  scene/gui/tree.cpp
Labels: bug, topic:gui

#83093 Fixes undo/redo in tileset polygon editor
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:editor, topic:2d

#82973 On Linux, favor local symbols when loading a shared library
  drivers/unix/os_unix.cpp
Labels: bug, platform:linuxbsd, topic:gdextension, crash

#83095 Cleanup various repository documentation files
  .github/ISSUE_TEMPLATE/bug_report.yml
  CONTRIBUTING.md
  COPYRIGHT.txt
  LOGO_LICENSE.md
  LOGO_LICENSE.txt
  README.md
  thirdparty/README.md
  thirdparty/cvtt/etc_notes.txt
  thirdparty/misc/patches/clipper-exceptions.patch
  thirdparty/noise/LICENSE
Labels: enhancement, documentation

#82777 [MP] Various performance optimizations
  modules/multiplayer/multiplayer_debugger.cpp
  modules/multiplayer/multiplayer_synchronizer.cpp
  modules/multiplayer/multiplayer_synchronizer.h
  modules/multiplayer/scene_cache_interface.cpp
  modules/multiplayer/scene_cache_interface.h
  modules/multiplayer/scene_multiplayer.cpp
  modules/multiplayer/scene_multiplayer.h
  modules/multiplayer/scene_replication_interface.cpp
  modules/multiplayer/scene_replication_interface.h
  modules/multiplayer/scene_rpc_interface.cpp
  modules/multiplayer/scene_rpc_interface.h
Labels: enhancement, needs testing, performance, topic:multiplayer

#80817 Avoid creating any useless undo action when dragging nodes in place
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#83107 GDExtension: Fix incorrect error message about vararg methods
  core/extension/gdextension.cpp
Labels: bug, topic:gdextension

#83114 C#: Fix MSVC dotnet `dev_mode` regression
  platform/ios/export/export_plugin.cpp
Labels: bug, platform:ios, topic:porting, topic:dotnet, regression

#83054 GDExtension: Use correct return pointer for validated calls that return `Variant`
  core/extension/gdextension.cpp
Labels: bug, topic:gdextension

#83094 Editor: Fix some issues with `EditorHelpTooltip`
  editor/editor_help.cpp
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, topic:editor, regression
