Repository godotengine/godot, pull requests merged in 2023-04, with the labels that each got.

#75472 Improve editor support for icons of custom, scripted, and GDExtension classes
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/extension/gdextension_manager.cpp
  core/extension/gdextension_manager.h
  doc/classes/Button.xml
  doc/classes/PopupMenu.xml
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  doc/classes/Tree.xml
  doc/classes/TreeItem.xml
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_path.cpp
  editor/editor_quick_open.cpp
  editor/editor_resource_picker.cpp
  editor/editor_themes.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_editor.cpp
  scene/gui/button.cpp
  scene/gui/button.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/resources/default_theme/default_theme.cpp
Labels: bug, enhancement, topic:editor, topic:gdextension, topic:gui

#75508 Update thorvg to 0.8.4
  thirdparty/README.md
  thirdparty/thorvg/AUTHORS
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/lib/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/lib/sw_engine/tvgSwRenderer.h
  thirdparty/thorvg/src/lib/tvgAccessor.cpp
  thirdparty/thorvg/src/lib/tvgLoadModule.h
  thirdparty/thorvg/src/lib/tvgMath.h
  thirdparty/thorvg/src/lib/tvgPaint.cpp
  thirdparty/thorvg/src/lib/tvgPaint.h
  thirdparty/thorvg/src/lib/tvgPictureImpl.h
  thirdparty/thorvg/src/lib/tvgRender.h
  thirdparty/thorvg/src/lib/tvgScene.cpp
  thirdparty/thorvg/src/lib/tvgSceneImpl.h
  thirdparty/thorvg/src/loaders/external_png/tvgPngLoader.cpp
  thirdparty/thorvg/src/loaders/external_png/tvgPngLoader.h
  thirdparty/thorvg/src/loaders/jpg/tvgJpgLoader.cpp
  thirdparty/thorvg/src/loaders/jpg/tvgJpgLoader.h
  thirdparty/thorvg/src/loaders/raw/tvgRawLoader.cpp
  thirdparty/thorvg/src/loaders/raw/tvgRawLoader.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoaderCommon.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgUtil.cpp
  thirdparty/thorvg/src/loaders/svg/tvgXmlParser.cpp
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, enhancement, topic:thirdparty, topic:2d, cherrypick:4.0

#75523 Fix off-by-one issue where "Go to Line" dialog shows the incorrect line number (one less than the actual current line).
  editor/code_editor.cpp
Labels: bug, topic:editor, cherrypick:4.0

#75544 Fixed property hint for platform layers on 3D physics body
  scene/3d/physics_body_3d.cpp
Labels: bug, topic:physics, topic:3d, cherrypick:4.0

#75559 Fix descriptions not showing for theme properties
  editor/editor_inspector.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.0

#75560 Fix NavigationAgent enable avoidance crash
  modules/navigation/nav_map.cpp
Labels: bug, crash, topic:navigation, cherrypick:4.0

#75513 Add navigation renames to 3to4 converter
  editor/renames_map_3_to_4.cpp
Labels: enhancement, topic:editor, cherrypick:4.0

#75532 `TextureProgressBar` Update upon texture changes
  scene/gui/texture_progress_bar.cpp
  scene/gui/texture_progress_bar.h
Labels: bug, topic:gui, cherrypick:4.0

#75565 Improve `CanvasItem.self_modulate` docs
  doc/classes/CanvasItem.xml
  doc/classes/Node.xml
Labels: enhancement, documentation, topic:gui, cherrypick:4.0

#75606 Remove reference to clipboard in OS class doc
  doc/classes/OS.xml
Labels: enhancement, documentation, cherrypick:4.0

#75070 Fix commenting collapsed function issue
  editor/code_editor.cpp
Labels: bug, topic:gui, cherrypick:4.0

#75595 Fix several GraphEdit operations at zoom levels other than 100%
  scene/gui/graph_edit.cpp
Labels: bug, topic:editor, regression, topic:gui, cherrypick:4.0

#75597 [TextEdit] Fix block caret size at the end of the line.
  scene/gui/text_edit.cpp
Labels: bug, topic:gui, cherrypick:4.0

#75487 Fix RemoteTransform2D could fail to update AnimatableBody2D's position or rotation
  scene/2d/remote_transform_2d.cpp
Labels: bug, topic:core, topic:2d, cherrypick:4.0

#75494 Implement LineEdit.get_selected_text()
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: enhancement, feature proposal, topic:gui

#75298 Refresh filesystem when saving remote branch
  editor/debugger/script_editor_debugger.cpp
  scene/debugger/scene_debugger.cpp
Labels: bug, topic:editor, usability

#75326 Expose NavigationAgent path postprocessing and pathfinding algorithm options
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
Labels: enhancement, topic:navigation, cherrypick:4.0

#75330 Improve file move and copy operations
  editor/editor_dir_dialog.cpp
  editor/editor_dir_dialog.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, usability

#75340 Implement column title alignment for `Tree`
  doc/classes/Tree.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, feature proposal, topic:gui

#74808 Allow for shaders to be generated outside of the source tree
  drivers/gles3/effects/copy_effects.h
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/storage/material_storage.h
  drivers/gles3/storage/mesh_storage.h
  drivers/gles3/storage/particles_storage.h
  drivers/gles3/storage/texture_storage.h
  gles3_builders.py
  glsl_builders.py
  servers/rendering/renderer_rd/effects/fsr.h
Labels: enhancement, topic:buildsystem, topic:rendering, topic:shaders

#74558 Fix NavigationServer internals still using float instead of real_t
  modules/navigation/nav_base.h
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
  modules/navigation/nav_region.cpp
  modules/navigation/nav_utils.h
  servers/navigation_server_2d.cpp
  servers/navigation_server_2d.h
  servers/navigation_server_3d.cpp
  servers/navigation_server_3d.h
Labels: enhancement, topic:navigation

#74120 Clear resource load tasks at exit
  core/io/resource_loader.cpp
Labels: enhancement, topic:core

#73074 Editor: Ignore CapsLock when pressed alone
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, topic:gui

#73200 Fix guide button detection with XInput and Xbox Series controllers
  core/input/godotcontrollerdb.txt
  platform/windows/joypad_windows.cpp
Labels: enhancement, platform:windows, topic:input, cherrypick:4.0

#73249 Improve Image preview in the inspector
  editor/plugins/texture_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#72859 Recreate swap chain when suboptimal to avoid error spam
  drivers/vulkan/vulkan_context.cpp
Labels: enhancement, topic:rendering

#75464 Update UndoRedo description
  doc/classes/EditorUndoRedoManager.xml
  doc/classes/UndoRedo.xml
Labels: enhancement, documentation, cherrypick:4.0

#75563 Improve editor state initialization
  editor/editor_data.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability, cherrypick:4.0

#74729 Improve code structure, layout, and theming of the project manager
  editor/editor_themes.cpp
  editor/project_manager.cpp
  editor/project_manager.h
Labels: bug, topic:editor, usability, topic:gui

#73646 Prevent off-screen controls in editor
  scene/main/scene_tree.cpp
Labels: bug, topic:editor, usability

#72777 Internal renames and cleanup in resource importer scene
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:import, topic:3d

#73180 Various Tween code improvements
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: enhancement, topic:codestyle, topic:animation

#72028 OptionButton: allow reselection of selected item
  doc/classes/OptionButton.xml
  scene/gui/option_button.cpp
  scene/gui/option_button.h
Labels: enhancement, topic:gui

#75540 Fix typo and slightly reword in @GDScript.xml
  modules/gdscript/doc_classes/@GDScript.xml
Labels: bug, documentation, cherrypick:4.0

#75366 Fix to some operators in shaders are not compiled properly
  servers/rendering/shader_compiler.cpp
Labels: bug, topic:rendering, topic:shaders

#75624 Cherry-picks for the 4.0 branch (future 4.0.2) - 3rd batch
  CHANGELOG.md
  doc/classes/CanvasItem.xml
  doc/classes/ConeTwistJoint3D.xml
  doc/classes/EditorUndoRedoManager.xml
  doc/classes/FileSystemDock.xml
  doc/classes/InputEventFromWindow.xml
  doc/classes/InputEventGesture.xml
  doc/classes/InputEventMagnifyGesture.xml
  doc/classes/InputEventPanGesture.xml
  doc/classes/InputEventShortcut.xml
  doc/classes/Node.xml
  doc/classes/Node3D.xml
  doc/classes/OS.xml
  doc/classes/Polygon2D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/UndoRedo.xml
  doc/classes/Viewport.xml
  editor/renames_map_3_to_4.cpp
  misc/dist/linux/org.godotengine.Godot.xml
  modules/gdscript/doc_classes/@GDScript.xml
  scene/3d/physics_body_3d.cpp
  scene/gui/text_edit.cpp
Labels: bug, enhancement, topic:core, topic:editor

#75646 Improve selection handling in the project manager
  editor/project_manager.cpp
  editor/project_manager.h
Labels: bug, enhancement, topic:editor, topic:codestyle

#75653 Prevent color conversion of the big Godot logo
  editor/icons/Logo.svg
Labels: bug, topic:editor, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#75664 Fix framebuffers in sky not being created on mobile renderer
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.0

#75675 [SVG Font] Keep a copy of UTF-8 XML source string during the whole SVG processing.
  modules/text_server_adv/thorvg_svg_in_ot.cpp
  modules/text_server_adv/thorvg_svg_in_ot.h
  modules/text_server_fb/thorvg_svg_in_ot.cpp
  modules/text_server_fb/thorvg_svg_in_ot.h
Labels: bug, crash, topic:gui, cherrypick:4.0

#75579 Make navigation ProjectSettings always visible
  servers/navigation_server_3d.cpp
Labels: enhancement, topic:editor, topic:navigation

#75610 Change VehicleWheel3D suspension travel to use meters internally
  scene/3d/vehicle_body_3d.cpp
  scene/3d/vehicle_body_3d.h
Labels: enhancement, topic:physics, topic:3d

#75636 gltf: Remove obsolete hack to embed gltf textures in advanced import
  editor/import/resource_importer_scene.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.0

#75641 Fix moving position indicator out of bounds in FileAccessMemory
  core/io/file_access_memory.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#72240 GraphNode ignore non-visible children for minimum size.
  scene/gui/graph_node.cpp
Labels: enhancement, topic:gui, cherrypick:4.0

#67466 Scene tab closing refactor
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor, needs testing, topic:codestyle

#65232 ci: wait for static check results before starting builds
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/static_checks.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#75309 Fix the Python type error when creating the .sln file
  methods.py
Labels: bug, platform:windows, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#75034 SVG: fix tvg::Picture->size() and scale based errors.
  modules/svg/image_loader_svg.cpp
Labels: bug, topic:thirdparty, topic:import, cherrypick:4.0

#75113 Fix the issue preventing dragging in the 2D editor
  scene/gui/view_panner.cpp
Labels: bug, platform:android, topic:editor, topic:input, cherrypick:4.0

#74463 Add a `String.hex_decode()` method to complement `PackedByteArray.hex_encode()`
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: enhancement, topic:core

#75661 Add a list of all sub-resources used in the scene
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: enhancement, feature proposal, topic:editor, usability

#75701 Remove NOTIFICATION_MOVED_IN_PARENT
  doc/classes/Node.xml
  scene/2d/node_2d.cpp
  scene/2d/skeleton_2d.cpp
  scene/gui/control.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/canvas_layer.cpp
  scene/main/canvas_layer.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:core, breaks compat, performance

#75767 Update sibling indices after a node is removed.
  scene/main/node.cpp
Labels: bug, topic:core, crash, regression

#74891 Fix for OccluderPolygon2D memory leak
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, topic:2d

#75368 Fix the limit for interpolation of R0 with respect to metallic and the calculation of the cos theata in the Fresnel Shlick term in SSR
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection.glsl
Labels: bug, topic:rendering, topic:3d, cherrypick:4.0

#75665 Modify contact_max_allowed_penetration precision to 3 significant digits
  servers/physics_server_2d.cpp
  servers/physics_server_3d.cpp
Labels: enhancement, topic:editor, topic:physics, topic:3d, cherrypick:4.0

#75738 [Web] Fix keycode/physical keycode mixed up.
  platform/web/dom_keys.inc
Labels: bug, platform:web, topic:input, cherrypick:4.0

#75728 Fix AudioStreamPlayer2D crash when PhysicsServer2D runs on thread
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
Labels: bug, topic:physics, topic:audio, crash, topic:2d, cherrypick:4.0

#75241 Fix CompressedTextureLayered description in the class reference
  doc/classes/CompressedCubemap.xml
  doc/classes/CompressedCubemapArray.xml
  doc/classes/CompressedTexture2D.xml
  doc/classes/CompressedTexture2DArray.xml
  doc/classes/CompressedTextureLayered.xml
  doc/classes/TextureLayered.xml
Labels: bug, documentation, cherrypick:4.0

#68091 Improve SpriteFrameEditor frame addition ordering
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:animation

#70901 Add scrollbar offset theme constants to Tree
  doc/classes/Tree.xml
  editor/editor_themes.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:gui

#56671 Warn when a concave polygon is assigned to ConvexPolygonShape2D
  scene/resources/convex_polygon_shape_2d.cpp
Labels: enhancement, topic:physics, cherrypick:3.x, topic:2d, cherrypick:4.0

#75756 Fix NavigationObstacles not being added to avoidance simulation
  scene/2d/navigation_obstacle_2d.cpp
  scene/2d/navigation_obstacle_2d.h
  scene/3d/navigation_obstacle_3d.cpp
  scene/3d/navigation_obstacle_3d.h
Labels: bug, topic:navigation, cherrypick:4.0

#75760 Optimize Node::add_child validation
  core/string/ustring.cpp
  core/string/ustring.h
  editor/scene_tree_editor.cpp
  scene/main/node.cpp
  tests/core/string/test_string.h
Labels: enhancement, topic:core, performance

#75627 Optimize Node children management
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:core, performance

#75829 Fix CI build error
  scene/gui/code_edit.cpp
Labels: bug, topic:buildsystem, topic:gui

#75797 Optimize Object::get_class_name
  core/object/object.cpp
  core/object/object.h
  core/string/string_name.cpp
  core/string/string_name.h
Labels: enhancement, topic:core, performance

#75809 Fix crashes caused due to missing type specifier on visual shader editor
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, crash, topic:shaders, cherrypick:4.0

#75799 Initialize editor values on first launch
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, cherrypick:4.0

#75810 misc: simplify blend position comparison
  scene/animation/animation_blend_space_1d.cpp
Labels: enhancement, topic:codestyle, topic:animation

#75835 Fix typo bug in convex-convex separating axis test
  servers/physics_3d/godot_collision_solver_3d_sat.cpp
Labels: bug, topic:physics, topic:3d, cherrypick:4.0

#75823 Fix bottom of `LineEdit`s in the editor being rounded
  editor/editor_themes.cpp
Labels: bug, topic:editor

#72863 Add an option to show a TextEdit caret when editable is disabled
  doc/classes/TextEdit.xml
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:gui

#75777 Make `SyntaxHighlighter::get_text_edit` a const function
  doc/classes/SyntaxHighlighter.xml
  scene/resources/syntax_highlighter.cpp
  scene/resources/syntax_highlighter.h
Labels: enhancement, topic:editor, topic:gui

#73984 C#: Discontinue `GodotNuGetFallbackFolder`
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/Build/NuGetUtils.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: enhancement, topic:dotnet

#72152 Add Mesh ConvexDecompositionSettings wrapper
  doc/classes/MeshConvexDecompositionSettings.xml
  doc/classes/MeshInstance3D.xml
  editor/import/resource_importer_scene.cpp
  editor/import/resource_importer_scene.h
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  modules/vhacd/register_types.cpp
  scene/3d/mesh_instance_3d.cpp
  scene/3d/mesh_instance_3d.h
  scene/register_scene_types.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/importer_mesh.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
Labels: enhancement, topic:core, topic:3d

#75814 Fix connect signal dialog not allowing Unicode method name
  editor/connections_dialog.cpp
Labels: bug, topic:editor, cherrypick:4.0

#75737 Fix mistakes in documentation and GDScript errors
  doc/classes/EditorSettings.xml
  doc/classes/LineEdit.xml
  doc/classes/TextEdit.xml
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/tests/scripts/analyzer/warnings/onready_with_export.out
Labels: bug, topic:gdscript, documentation, topic:tests

#75844 Fix method dialog label
  editor/connections_dialog.cpp
Labels: bug, topic:editor, usability, cherrypick:4.0

#73658 Keep NavigationServer active while SceneTree is paused
  scene/main/scene_tree.cpp
Labels: enhancement, topic:navigation

#75625 Document how to make custom min/max for Array
  doc/classes/Array.xml
Labels: enhancement, documentation, cherrypick:4.0

#75889 docs/FileDialog: Use clickable references
  doc/classes/FileDialog.xml
Labels: bug, enhancement, documentation, cherrypick:4.0

#75895 Adjust size of some dialogs
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor, usability, cherrypick:4.0

#75780 Set font sizes for various styles in editor output panel
  editor/editor_log.cpp
Labels: bug, topic:editor, cherrypick:4.0

#74885 Change to_utf8 to to_utf8_buffer in remaining docs
  doc/classes/AESContext.xml
  doc/classes/Crypto.xml
  doc/classes/DTLSServer.xml
  doc/classes/HMACContext.xml
  doc/classes/PacketPeerUDP.xml
  doc/classes/StreamPeer.xml
  doc/classes/UDPServer.xml
Labels: bug, documentation, cherrypick:4.0

#75850 Poll LSP/DAP clients for connection status updates
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
Labels: bug, topic:editor, topic:network, cherrypick:4.0

#74870 [3.x] Add `set_value_no_signal()` to Range
  doc/classes/Range.xml
  scene/gui/base_button.cpp
  scene/gui/range.cpp
  scene/gui/range.h
Labels: enhancement, topic:gui

#74973 [3.x] Add Color + alpha constructor for Color
  core/variant_call.cpp
  doc/classes/Color.xml
Labels: enhancement, topic:core

#75147 [3.x] Fix directory access when the running app has the `All files access` permission
  platform/android/java/lib/src/org/godotengine/godot/io/StorageScope.kt
Labels: bug, platform:android, topic:editor, topic:porting, cherrypick:3.5

#75205 [3.x] Bump the target SDK version to 33 (Android 13)
  platform/android/export/export_plugin.cpp
  platform/android/java/app/config.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
Labels: enhancement, platform:android, topic:buildsystem, topic:porting, topic:export, cherrypick:3.5

#75217 [3.x] Document lack of iOS support for WebM
  modules/webm/doc_classes/VideoStreamWebm.xml
Labels: enhancement, platform:ios, documentation, cherrypick:3.5

#69645 [3.x] Fix for 2D viewport not updating in the editor when the camera moves
  scene/2d/camera_2d.cpp
Labels: bug, topic:editor, topic:2d

#72511 Eliminate collision checks between geometry in rendering BVH.
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
Labels: enhancement, topic:rendering, topic:3d, performance

#71433 Fix TreeItem's button being rendered under "Selected" highlights
  scene/gui/tree.cpp
Labels: bug, topic:gui

#71742 Fixed RichTextLabel wrong selection offset in padded table cell.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui, cherrypick:4.0

#75898 Update `make_rst.py` to match the master version
  doc/classes/EditorSettings.xml
  doc/classes/OS.xml
  doc/tools/make_rst.py
  editor/doc/doc_data.cpp
Labels: enhancement, documentation, cherrypick:3.5

#71747 Fixed RichTextLabel wrong selection offset after drop cap
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#75922 [TextServer] Improve BiDi error handling.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
Labels: enhancement, topic:gui

#75933 Windows TTS: Use HashMap instead of RBMap for ids
  platform/android/tts_android.h
  platform/ios/tts_ios.h
  platform/linuxbsd/tts_linux.h
  platform/macos/tts_macos.h
  platform/windows/tts_windows.cpp
  platform/windows/tts_windows.h
Labels: enhancement, platform:windows, topic:codestyle, cherrypick:4.0

#75938 Prevent errors in the Inspector when looking for script icons
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#75941 Correct the side mentioned with focus_neighbor_right and focus_neighbor_top.
  doc/classes/Control.xml
Labels: bug, documentation, cherrypick:4.0

#75812 Move sky luminance scaling to before fog is applied
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
Labels: bug, topic:rendering, topic:3d

#75822 Remove unnecessary zero multiplications
  editor/editor_themes.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  scene/resources/default_theme/default_theme.cpp
Labels: enhancement, topic:codestyle

#75827 Fix custom cursor using atlas texture
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/windows/display_server_windows.cpp
Labels: bug, topic:core

#75905 Allow entering named colors in ColorPicker's hex field
  scene/gui/color_picker.cpp
Labels: bug, enhancement, usability, topic:gui, cherrypick:4.0

#75785 Convert the logo's text outlines into paths
  logo_outlined.png
  logo_outlined.svg
Labels: bug, cherrypick:3.x, topic:2d, cherrypick:3.5, cherrypick:4.0

#75451 [Web] Detect host OS and use macOS keys on mac hosts.
  core/input/input_event.cpp
  core/os/keyboard.cpp
  doc/classes/OS.xml
  editor/editor_settings.cpp
  editor/editor_spin_slider.cpp
  editor/event_listener_line_edit.cpp
  platform/web/godot_js.h
  platform/web/js/libs/library_godot_os.js
  platform/web/os_web.cpp
  scene/gui/code_edit.cpp
Labels: enhancement, platform:web, platform:macos, topic:porting, topic:input

#74117 Add translation support to RichTextLabel
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#74326 macOS export: Fix validation of codesigning certificate password
  platform/macos/export/export_plugin.cpp
Labels: bug, platform:macos, topic:export, cherrypick:4.0

#73558 Added render target size multiplier option
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
Labels: enhancement, topic:rendering, topic:xr

#69324 Make it easier to solve warnings/errors referring to project settings
  core/object/message_queue.cpp
  drivers/gles3/storage/material_storage.cpp
  editor/editor_inspector.cpp
  editor/editor_sectioned_inspector.cpp
  scene/main/scene_tree.cpp
  servers/audio/audio_stream.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: enhancement, topic:editor, usability

#75527 [3.x] Make MessageQueue growable
  core/local_vector.h
  core/message_queue.cpp
  core/message_queue.h
  doc/classes/ProjectSettings.xml
Labels: bug, topic:core

#72938 [WebXR] Add support for getting and setting display refresh rate
  modules/webxr/doc_classes/WebXRInterface.xml
  modules/webxr/godot_webxr.h
  modules/webxr/native/library_godot_webxr.js
  modules/webxr/native/webxr.externs.js
  modules/webxr/webxr_interface.cpp
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
Labels: enhancement, platform:web, topic:xr

#75831 Fix completion of `source_color` hint for texture arrays in shaders
  servers/rendering/shader_language.cpp
Labels: bug, topic:editor, topic:shaders

#75968 Ensure that depth write state is updated before transparent pass in OpenGL3 renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, topic:3d

#75908 Fix `compute_pieline` typo in `RenderingDevice.compute_pipeline_is_valid()`
  doc/classes/RenderingDevice.xml
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering, topic:codestyle

#75974 [TextServer] Use dedicated flag for object replacement characters.
  doc/classes/TextServer.xml
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, topic:gui

#75975 Improve line BiDi handling, prevent crash on recursive log updates.
  editor/editor_log.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:editor, crash, topic:gui

#75977 Tree: Fix offset calculation when there are hidden items
  scene/gui/tree.cpp
Labels: bug, cherrypick:3.x, topic:gui, cherrypick:4.0

#73256 Fix typed array export
  editor/editor_properties_array_dict.cpp
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Labels: bug, topic:editor, cherrypick:4.0

#75957 Write out render_mode even when mode is set to default in VisualShaders
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders, topic:3d, cherrypick:4.0

#75940 Redo of Message Queue
  core/object/message_queue.cpp
  core/object/message_queue.h
  doc/classes/ProjectSettings.xml
Labels: bug, enhancement, topic:core

#73313 Properly calculate lifetime_split for particles
  drivers/gles3/storage/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
Labels: bug, topic:rendering, topic:particles

#70834 Fix `Range`-derived nodes not redrawing after `set_value_no_signal`
  scene/gui/range.cpp
  scene/gui/range.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: bug, topic:gui

#71644 Complete support of callables of static methods
  core/object/callable_method_pointer.h
  core/object/message_queue.cpp
  core/object/message_queue.h
  core/variant/callable.cpp
  core/variant/callable.h
  core/variant/callable_bind.cpp
  core/variant/callable_bind.h
Labels: bug, topic:core

#75993 Don't apply scale to autohide theme property
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:gui, cherrypick:4.0

#75997 Change cursor consistently when panning in the 2D Editor
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability, cherrypick:4.0

#76001 Fix Windows StringFileInfo structure
  core/version.h
Labels: bug, platform:windows, topic:porting, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0

#76003 Don't store instance transform origin in RD 3D renderer unless requested
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering, topic:particles, cherrypick:4.0

#76009 Fix `setrngth` typo in `particles_collision_set_attractor_strength()`
  doc/classes/RenderingServer.xml
  servers/rendering_server.cpp
Labels: bug, topic:rendering, topic:codestyle

#76011 Add i18n for track easing and baking dialogs
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, topic:animation

#76014 Expose more compression formats in Image and fix compress check
  core/io/image.cpp
  doc/classes/Image.xml
Labels: bug, topic:import, cherrypick:4.0

#75990 Fix blend_shape (shapekey) empty name import.
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:animation, topic:3d, cherrypick:4.0

#75462 Use MODELVIEW_MATRIX when on double precision
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, topic:3d

#75315 Fix OBJ mesh importer smoothing handling
  editor/import/resource_importer_obj.cpp
Labels: bug, topic:import, regression, topic:3d, cherrypick:4.0

#75162 GPUParticles3D: Translate inactive particles to -INF
  drivers/gles3/shaders/particles_copy.glsl
  servers/rendering/renderer_rd/shaders/particles_copy.glsl
Labels: bug, topic:rendering, topic:3d, topic:particles, cherrypick:4.0

#71364 Add EXPOSURE built in to spatial shaders
  drivers/gles3/storage/material_storage.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/material.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/shader_types.cpp
Labels: bug, enhancement, topic:rendering, topic:shaders, topic:3d

#67608 Adds 16bpp support for BMP File Format
  modules/bmp/image_loader_bmp.cpp
  modules/bmp/image_loader_bmp.h
Labels: enhancement, topic:import

#76018 Fix `Image.compress` description
  doc/classes/Image.xml
Labels: bug, documentation, cherrypick:4.0

#71670 Make EditorToaster's handler thread-safe
  editor/gui/editor_toaster.cpp
  editor/gui/editor_toaster.h
Labels: bug, topic:editor, cherrypick:4.0

#76040 Fix the sliding window problem in linux occur due to reparenting of the window due to decoration.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:porting

#75999 Use angle_rand to calculate base_angle in particles process material
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Labels: bug, topic:particles, cherrypick:4.0

#75879 GDScript: Add missing member type check when resolving `extends`
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/extend_non_class_constant_1.gd
  modules/gdscript/tests/scripts/analyzer/errors/extend_non_class_constant_1.out
  modules/gdscript/tests/scripts/analyzer/errors/extend_non_class_constant_2.gd
  modules/gdscript/tests/scripts/analyzer/errors/extend_non_class_constant_2.out
  modules/gdscript/tests/scripts/analyzer/errors/extend_variable.gd
  modules/gdscript/tests/scripts/analyzer/errors/extend_variable.out
Labels: bug, topic:gdscript, crash, cherrypick:4.0

#75691 GDScript: Misc fixes and improvements for signature generation
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#76107 update set_smooth_group description
  doc/classes/SurfaceTool.xml
Labels: bug, documentation, topic:dotnet, cherrypick:4.0

#75776 Fix Typo in NavigationServer2D
  doc/classes/NavigationServer2D.xml
Labels: bug, documentation

#76049 Unify descriptions of vector methods
  core/variant/variant_call.cpp
  doc/classes/Vector2.xml
  doc/classes/Vector4.xml
  doc/classes/Vector4i.xml
Labels: bug, enhancement, documentation, cherrypick:4.0

#76091 Fix Quaternion's brief description
  doc/classes/Quaternion.xml
Labels: enhancement, documentation, cherrypick:4.0

#76137 Fixed typo in DisplayServer.ScreenOrientation docs
  doc/classes/DisplayServer.xml
Labels: bug, documentation, cherrypick:4.0
