Repository godotengine/godot, pull requests merged in 2023-09, with the labels that each got.

#81193 [3.5] Update `make_rst.py` to match the master version
  doc/classes/OS.xml
  doc/tools/make_rst.py
  editor/doc/doc_data.cpp
Labels: enhancement, documentation

#81198 Add placeholder RID to GradientTexture1D
  scene/resources/gradient_texture.cpp
  scene/resources/gradient_texture.h
Labels: bug, topic:rendering, regression

#81087 Add a note about `SceneTree.create_tween()` method
  doc/classes/SceneTree.xml
Labels: enhancement, topic:core, documentation

#81111 zlib/minizip: Update to version 1.3
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/patches/empty-zip-fix.patch
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/patches/unbreak-gentoo.patch
  thirdparty/minizip/unzip.c
  thirdparty/minizip/unzip.h
  thirdparty/minizip/zip.c
  thirdparty/minizip/zip.h
  thirdparty/zlib/adler32.c
  thirdparty/zlib/compress.c
  thirdparty/zlib/crc32.c
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzclose.c
  thirdparty/zlib/gzguts.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
  thirdparty/zlib/infback.c
  thirdparty/zlib/inffast.c
  thirdparty/zlib/inffast.h
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/inftrees.h
  thirdparty/zlib/trees.c
  thirdparty/zlib/uncompr.c
  thirdparty/zlib/zconf.h
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.c
  thirdparty/zlib/zutil.h
Labels: enhancement, topic:thirdparty, cherrypick:3.x, cherrypick:4.1

#81131 Fix comparison of `Callable`s with binds
  core/variant/callable_bind.cpp
Labels: bug, topic:core, cherrypick:4.1

#81190 Fix typos in NavigationAgent3D documentation
  doc/classes/NavigationAgent3D.xml
Labels: bug, documentation, cherrypick:4.1

#80629 C#: Include argument types in generated methods
  modules/mono/editor/bindings_generator.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
Labels: enhancement, topic:buildsystem, topic:dotnet

#80184 Use the gray color for all abstract classes
  editor/create_dialog.cpp
  editor/editor_feature_profile.cpp
  editor/editor_help.cpp
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_themes.cpp
  editor/icons/BaseButton.svg
  editor/icons/CameraAttributes.svg
  editor/icons/CanvasItem.svg
  editor/icons/Font.svg
  editor/icons/GeometryInstance3D.svg
  editor/icons/Mesh.svg
  editor/icons/ObjectDisabled.svg
  editor/icons/Occluder3D.svg
  editor/icons/Range.svg
  editor/icons/VideoStream.svg
  editor/icons/Viewport.svg
  editor/icons/VisualInstance3D.svg
Labels: enhancement, topic:editor

#78404 Add inverse hyperbolic functions `asinh()`, `acosh()` & `atanh()`
  core/math/math_funcs.h
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  tests/core/math/test_math_funcs.h
Labels: enhancement, topic:core

#75382 Ensure binds are duplicated with `Node` signals
  scene/main/node.cpp
Labels: bug, topic:editor

#81106 GridMap: Ensure the visibility is updated when entering the tree
  modules/gridmap/grid_map.cpp
Labels: bug, cherrypick:3.x, topic:3d, cherrypick:4.1

#81189 Use `ui_text_submit` instead of `ui_accept` to confirm and close text prompts
  editor/editor_layouts_dialog.cpp
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor, cherrypick:4.1

#81206 GDExtension: Allocate `GDExtensionScriptInstanceInfo2` for compatibility on the heap to prevent crash
  core/extension/gdextension_interface.cpp
  core/object/script_language_extension.h
Labels: bug, topic:gdextension, crash, regression

#81212 Fix misleading description of `MeshDataTool.get_vertex()` method
  doc/classes/MeshDataTool.xml
Labels: enhancement, documentation

#81227 Fix int's C# documentation
  doc/classes/int.xml
Labels: documentation, topic:dotnet, cherrypick:4.0, cherrypick:4.1

#81228 Use `[constant]` instead of `[code]` when possible
  doc/classes/AnimatableBody2D.xml
  doc/classes/AnimatableBody3D.xml
  doc/classes/ConcavePolygonShape2D.xml
  doc/classes/ConvexPolygonShape2D.xml
  doc/classes/StaticBody2D.xml
  doc/classes/StaticBody3D.xml
Labels: enhancement, documentation

#81232 Fix typos in LineEdit documentation
  doc/classes/LineEdit.xml
Labels: enhancement, documentation

#81238 Use godot-cpp 4.1 for the "Godot CPP" CI workflow to prevent circular dependency
  .github/workflows/godot_cpp_test.yml
Labels: bug, topic:gdextension, topic:tests

#80849 Unedit nodes early when closing scene tab
  editor/editor_node.cpp
Labels: bug, topic:editor, crash

#81072 Refactor disabling scene tab context menu options
  editor/gui/editor_scene_tabs.cpp
  editor/gui/editor_scene_tabs.h
Labels: enhancement, topic:editor, usability, topic:codestyle

#80270 Fix doubly-reserved unique names in GLTF scene name assignment
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:import, breaks compat, topic:3d

#80632 C#: Dereference editor types in core documentation
  modules/mono/editor/bindings_generator.cpp
Labels: enhancement, topic:buildsystem, topic:dotnet

#76047 Set vararg methods' ptrcall of builtin classes, and let them can be called without arguments.
  core/variant/variant_call.cpp
Labels: enhancement, topic:core, topic:gdextension

#81247 GDExtension: fix `bool` unknown in C
  core/extension/gdextension_interface.h
  core/object/object.cpp
Labels: bug, topic:gdextension

#81221 Editor: Inspector and Signal docks improvements
  core/object/object.cpp
  core/object/object.h
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: bug, enhancement, topic:editor, usability

#80296 Enhance Vulkan PSO caching
  drivers/vulkan/rendering_device_vulkan.cpp
  drivers/vulkan/rendering_device_vulkan.h
  drivers/vulkan/vulkan_context.cpp
Labels: bug, enhancement, topic:rendering, needs testing, cherrypick:4.1

#81229 C#: Expose `asinh`, `acosh` and `atanh` in Mathf
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
Labels: enhancement, topic:dotnet

#81230 Fix double unregistration on dispose of Array.
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
Labels: bug, topic:dotnet, cherrypick:4.0, cherrypick:4.1

#81239 Add XR tracking state-change signals
  doc/classes/XRNode3D.xml
  doc/classes/XRPositionalTracker.xml
  scene/3d/xr_nodes.cpp
  scene/3d/xr_nodes.h
  servers/xr/xr_positional_tracker.cpp
Labels: enhancement, topic:xr

#81280 Fix for non-deterministic behavior in PCKPacker
  core/io/pck_packer.cpp
  editor/export/editor_export_platform.cpp
Labels: bug, topic:core, cherrypick:3.x, cherrypick:4.1

#79792 Correctly display tooltips for buttons in Tree when they overlap cell content
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, topic:editor, topic:gui

#80149 Fix error message when reimporting resources with an empty scene open
  editor/import_dock.cpp
Labels: bug, topic:editor, topic:import

#74809 Add coloring for completion of vector components
  core/object/script_language.h
  doc/classes/EditorSettings.xml
  editor/code_editor.cpp
  editor/editor_settings.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:editor

#81295 Fix compiling with 3D disabled due to unused navigation variable
  modules/navigation/godot_navigation_server.h
Labels: bug, topic:navigation, topic:3d

#81300 Fix empty shader resource loading
  scene/resources/shader.cpp
  scene/resources/shader_include.cpp
Labels: bug, regression, topic:shaders, cherrypick:4.1

#81305 Fix ThemeDB initialization in tests
  main/main.cpp
  scene/theme/theme_db.cpp
  scene/theme/theme_db.h
  tests/scene/test_viewport.h
  tests/scene/test_window.h
  tests/test_main.cpp
Labels: bug, enhancement, topic:gui, topic:tests

#81326 Update and properly list versions of the built-in fonts.
  editor/editor_fonts.cpp
  tests/servers/test_text_server.h
  thirdparty/README.md
  thirdparty/fonts/JetBrainsMono_Regular.woff2
  thirdparty/fonts/NotoNaskhArabicUI_Bold.woff2
  thirdparty/fonts/NotoNaskhArabicUI_Regular.woff2
  thirdparty/fonts/NotoSansBengaliUI_Bold.woff2
  thirdparty/fonts/NotoSansBengaliUI_Regular.woff2
  thirdparty/fonts/NotoSansDevanagariUI_Bold.woff2
  thirdparty/fonts/NotoSansDevanagariUI_Regular.woff2
  thirdparty/fonts/NotoSansGeorgian_Bold.woff2
  thirdparty/fonts/NotoSansGeorgian_Regular.woff2
  thirdparty/fonts/NotoSansHebrew_Bold.woff2
  thirdparty/fonts/NotoSansHebrew_Regular.woff2
  thirdparty/fonts/NotoSansMalayalamUI_Bold.woff2
  thirdparty/fonts/NotoSansMalayalamUI_Regular.woff2
  thirdparty/fonts/NotoSansOriyaUI_Bold.woff2
  thirdparty/fonts/NotoSansOriyaUI_Regular.woff2
  thirdparty/fonts/NotoSansOriya_Bold.woff2
  thirdparty/fonts/NotoSansOriya_Regular.woff2
  thirdparty/fonts/NotoSansSinhalaUI_Bold.woff2
  thirdparty/fonts/NotoSansSinhalaUI_Regular.woff2
  thirdparty/fonts/NotoSansTamilUI_Bold.woff2
  thirdparty/fonts/NotoSansTamilUI_Regular.woff2
  thirdparty/fonts/NotoSansTeluguUI_Bold.woff2
  thirdparty/fonts/NotoSansTeluguUI_Regular.woff2
  thirdparty/fonts/NotoSansThaiUI_Bold.woff2
  thirdparty/fonts/NotoSansThaiUI_Regular.woff2
  thirdparty/fonts/NotoSansThai_Bold.woff2
  thirdparty/fonts/NotoSansThai_Regular.woff2
  thirdparty/fonts/NotoSans_Bold.woff2
  thirdparty/fonts/NotoSans_Regular.woff2
Labels: enhancement, topic:editor, topic:gui

#81327 HarfBuzz: Update to version 8.1.1
  thirdparty/README.md
  thirdparty/harfbuzz/src/OT/Layout/GDEF/GDEF.hh
  thirdparty/harfbuzz/src/OT/Layout/GPOS/CursivePosFormat1.hh
  thirdparty/harfbuzz/src/OT/Layout/GPOS/MarkMarkPosFormat1.hh
  thirdparty/harfbuzz/src/OT/Layout/GPOS/PairPosFormat1.hh
  thirdparty/harfbuzz/src/OT/Layout/GPOS/PairPosFormat2.hh
  thirdparty/harfbuzz/src/OT/Layout/GPOS/PairValueRecord.hh
  thirdparty/harfbuzz/src/OT/Layout/GSUB/Ligature.hh
  thirdparty/harfbuzz/src/OT/Layout/GSUB/LigatureSet.hh
  thirdparty/harfbuzz/src/graph/classdef-graph.hh
  thirdparty/harfbuzz/src/graph/coverage-graph.hh
  thirdparty/harfbuzz/src/graph/graph.hh
  thirdparty/harfbuzz/src/graph/gsubgpos-graph.hh
  thirdparty/harfbuzz/src/graph/pairpos-graph.hh
  thirdparty/harfbuzz/src/hb-aat-layout-trak-table.hh
  thirdparty/harfbuzz/src/hb-algs.hh
  thirdparty/harfbuzz/src/hb-bimap.hh
  thirdparty/harfbuzz/src/hb-bit-page.hh
  thirdparty/harfbuzz/src/hb-bit-set.hh
  thirdparty/harfbuzz/src/hb-buffer.cc
  thirdparty/harfbuzz/src/hb-buffer.hh
  thirdparty/harfbuzz/src/hb-config.hh
  thirdparty/harfbuzz/src/hb-kern.hh
  thirdparty/harfbuzz/src/hb-machinery.hh
  thirdparty/harfbuzz/src/hb-map.hh
  thirdparty/harfbuzz/src/hb-null.hh
  thirdparty/harfbuzz/src/hb-open-type.hh
  thirdparty/harfbuzz/src/hb-ot-cff-common.hh
  thirdparty/harfbuzz/src/hb-ot-cff1-table.hh
  thirdparty/harfbuzz/src/hb-ot-cff2-table.hh
  thirdparty/harfbuzz/src/hb-ot-hmtx-table.hh
  thirdparty/harfbuzz/src/hb-ot-layout-common.hh
  thirdparty/harfbuzz/src/hb-ot-layout-gsubgpos.hh
  thirdparty/harfbuzz/src/hb-ot-layout.cc
  thirdparty/harfbuzz/src/hb-ot-layout.h
  thirdparty/harfbuzz/src/hb-ot-map.cc
  thirdparty/harfbuzz/src/hb-ot-shape.cc
  thirdparty/harfbuzz/src/hb-ot-shaper-use-machine.hh
  thirdparty/harfbuzz/src/hb-ot-var-avar-table.hh
  thirdparty/harfbuzz/src/hb-ot-var-common.hh
  thirdparty/harfbuzz/src/hb-ot-var-cvar-table.hh
  thirdparty/harfbuzz/src/hb-ot-var-fvar-table.hh
  thirdparty/harfbuzz/src/hb-ot-var-hvar-table.hh
  thirdparty/harfbuzz/src/hb-priority-queue.hh
  thirdparty/harfbuzz/src/hb-sanitize.hh
  thirdparty/harfbuzz/src/hb-serialize.hh
  thirdparty/harfbuzz/src/hb-subset-cff-common.hh
  thirdparty/harfbuzz/src/hb-subset-cff1.cc
  thirdparty/harfbuzz/src/hb-subset-cff1.hh
  thirdparty/harfbuzz/src/hb-subset-cff2.hh
  thirdparty/harfbuzz/src/hb-subset-input.cc
  thirdparty/harfbuzz/src/hb-subset-instancer-solver.cc
  thirdparty/harfbuzz/src/hb-subset-instancer-solver.hh
  thirdparty/harfbuzz/src/hb-subset-plan-member-list.hh
  thirdparty/harfbuzz/src/hb-subset-plan.cc
  thirdparty/harfbuzz/src/hb-subset.cc
  thirdparty/harfbuzz/src/hb-uniscribe.cc
  thirdparty/harfbuzz/src/hb-version.h
  thirdparty/harfbuzz/src/hb.hh
Labels: enhancement, topic:thirdparty

#81330 Fix unmatched brackets in the documentation
  doc/classes/EditorResourceTooltipPlugin.xml
  doc/classes/SpringArm3D.xml
Labels: bug, documentation, cherrypick:4.1

#79166 [TextServer] Remove excessive Dictionary checks.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/resources/font.cpp
Labels: enhancement, topic:core

#80740 Godot Android plugin re-architecture
  core/extension/gdextension_manager.cpp
  core/os/os.h
  editor/plugins/gdextension_export_plugin.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginInfoProvider.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/android/plugin/godot_plugin_jni.cpp
  platform/android/plugin/godot_plugin_jni.h
Labels: enhancement, platform:android, topic:editor, topic:plugin, topic:gdextension, breaks compat

#81090 [3.x] Fix JavaScript callback memory leak
  platform/javascript/js/libs/library_godot_javascript_singleton.js
Labels: bug, platform:web, topic:core, topic:porting, performance, cherrypick:3.5

#81100 [3.x] Fix TouchScreenButton not redrawn when texture changes
  scene/2d/touch_screen_button.cpp
Labels: bug, topic:2d, cherrypick:3.5

#81114 [3.x] Core: Add recursion level check for `VariantWriter::write()`
  core/variant_parser.cpp
  core/variant_parser.h
Labels: bug, topic:core, crash, cherrypick:3.5

#81117 [3.x] Add check to ensure registered classes are declared
  core/class_db.h
  core/object.h
Labels: enhancement, topic:core, cherrypick:3.5

#81340 Web: Workaround Emscripten 3.1.42+ LTO regression
  .github/workflows/web_builds.yml
  platform/web/detect.py
Labels: bug, platform:web, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0, cherrypick:4.1

#81286 Implement render mode `fog_disabled` and BaseMaterial3D setting Disable Fog
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:3d

#81337 CI: Compat checks: Make fetching the reference API more robust
  misc/scripts/validate_extension_api.sh
Labels: enhancement, topic:buildsystem

#81344 Fix saving editor folder colors
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#81346 Avoid text substitution in EditorHelp messages
  editor/editor_help.cpp
  editor/editor_help.h
Labels: enhancement, topic:editor

#81365 [iOS export] Switch export target extension based on export type.
  platform/ios/export/export_plugin.h
Labels: bug, platform:ios, topic:editor, topic:export

#81368 Relax restriction on loading v1 Android plugins on Godot 4.2+
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPlugin.java
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
Labels: enhancement, platform:android, topic:plugin

#81121 Fix a crash when enable a tool plugin uses `make_mesh_previews`
  editor/editor_plugin_settings.cpp
Labels: bug, topic:plugin, crash, topic:gui, cherrypick:4.1

#74986 [3.x] Fix AudioEffectRecord circular reference
  servers/audio/effects/audio_effect_record.cpp
  servers/audio/effects/audio_effect_record.h
Labels: bug, topic:audio, cherrypick:3.5

#81374 Cherry-picks for the 3.5 branch (future 3.5.3) - 3rd batch
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  .gitignore
  core/class_db.h
  core/image.cpp
  core/object.h
  core/variant_parser.cpp
  core/variant_parser.h
  methods.py
  platform/android/java/editor/src/.gitignore
  platform/javascript/detect.py
  platform/javascript/js/libs/library_godot_javascript_singleton.js
  platform/windows/detect.py
  scene/2d/touch_screen_button.cpp
  servers/audio/effects/audio_effect_record.cpp
  servers/audio/effects/audio_effect_record.h
Labels: bug, enhancement, topic:core, topic:buildsystem

#81245 [4.1] Future proof links in docs
  doc/classes/@GlobalScope.xml
  doc/classes/Camera3D.xml
  doc/classes/Color.xml
  doc/classes/Node2D.xml
  doc/classes/Tween.xml
  doc/classes/Vector2.xml
Labels: enhancement, documentation

#81246 [4.0] Future proof links in docs
  doc/classes/@GlobalScope.xml
  doc/classes/Camera3D.xml
  doc/classes/Color.xml
  doc/classes/Node2D.xml
  doc/classes/Vector2.xml
Labels: enhancement, documentation

#81401 [3.x] mbedtls: Fix UWP arm32 build after 2.28.3 enabled AES-NI intrinsics on MSVC
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/aesni.h
  thirdparty/mbedtls/patches/aesni-no-arm-intrinsics.patch
Labels: bug, platform:windows, platform:uwp, topic:thirdparty, cherrypick:3.5

#81409 [3.x] Fix PopupMenu icon and text not having separation
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#81333 Fix `RDPipelineColorBlendState.attachments` setter
  servers/rendering/rendering_device_binds.h
Labels: bug, topic:rendering

#81361 [TextServer] Use locale or first span language to select preferred direction for neutral text.
  modules/text_server_adv/text_server_adv.cpp
Labels: enhancement, topic:gui

#81396 Fix TextEdit placeholder with Inherited text direction.
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#81405 mbedtls: Fix MSVC ARM build after 2.28.3 enabled AES-NI intrinsics
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/aesni.h
  thirdparty/mbedtls/patches/aesni-no-arm-intrinsics.patch
Labels: bug, platform:windows, topic:thirdparty, cherrypick:4.0, cherrypick:4.1

#81130 Implement a system to contextualize global themes
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_resource_preview.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/theme_editor_preview.h
  scene/3d/label_3d.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/font.cpp
  scene/resources/primitive_meshes.cpp
  scene/resources/theme.cpp
  scene/theme/theme_db.cpp
  scene/theme/theme_db.h
  scene/theme/theme_owner.cpp
  scene/theme/theme_owner.h
  tests/test_main.cpp
Labels: bug, enhancement, topic:editor, topic:gui

#81261 Allow implementing `ScriptInstance::validate_property()` from GDExtension
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
  core/object/script_language_extension.h
Labels: enhancement, topic:gdextension

#81304 Change precedence in rules to make location after proper casing.
  core/object/script_language.cpp
  tests/scene/test_code_edit.h
Labels: enhancement, topic:editor

#80821 Fix go to parent folder in `EditorFileDialog`
  editor/gui/editor_file_dialog.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.1

#79238 Fix build options configuration for Visual Studio projects
  SConstruct
  methods.py
Labels: bug, platform:windows, topic:buildsystem, cherrypick:4.1

#81399 Editor: Rearrange "Main Menu > Help" items
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#81410 Fix shader text editor include file reloading
  editor/plugins/text_shader_editor.cpp
Labels: bug, topic:editor, topic:shaders

#81414 Codestyle: Don't use auto where not warranted
  modules/openxr/extensions/openxr_fb_passthrough_extension_wrapper.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/scene/openxr_hand.cpp
  tests/core/variant/test_dictionary.h
  tests/scene/test_arraymesh.h
  tests/servers/rendering/test_shader_preprocessor.h
Labels: enhancement, topic:codestyle

#81416 UWP: Remove platform port, needs to be redone from scratch for 4.x
  core/input/godotcontrollerdb.txt
  core/input/input_builders.py
  doc/classes/DisplayServer.xml
  doc/classes/Input.xml
  doc/classes/OS.xml
  doc/classes/ProjectSettings.xml
  drivers/gles3/rasterizer_gles3.cpp
  drivers/unix/ip_unix.cpp
  drivers/windows/dir_access_windows.cpp
  editor/editor_property_name_processor.cpp
  editor/filesystem_dock.cpp
  main/main.cpp
  misc/dist/uwp_template/AppxManifest.xml
  misc/dist/uwp_template/Assets/SplashScreen.scale-100.png
  misc/dist/uwp_template/Assets/Square150x150Logo.scale-100.png
  misc/dist/uwp_template/Assets/Square310x310Logo.scale-100.png
  misc/dist/uwp_template/Assets/Square44x44Logo.scale-100.png
  misc/dist/uwp_template/Assets/Square71x71Logo.scale-100.png
  misc/dist/uwp_template/Assets/StoreLogo.scale-100.png
  misc/dist/uwp_template/Assets/Wide310x150Logo.scale-100.png
  modules/freetype/SCsub
  modules/freetype/uwpdef.h
  modules/mono/build_scripts/mono_configure.py
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/GodotTools/GodotTools/Export/AotBuilder.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/OS.cs
  modules/mono/editor/hostfxr_resolver.cpp
  modules/mono/godotsharp_dirs.cpp
  modules/websocket/SCsub
  platform/uwp/README.md
  platform/uwp/SCsub
  platform/uwp/app_uwp.cpp
  platform/uwp/app_uwp.h
  platform/uwp/context_egl_uwp.cpp
  platform/uwp/context_egl_uwp.h
  platform/uwp/detect.py
  platform/uwp/export/app_packager.cpp
  platform/uwp/export/app_packager.h
  platform/uwp/export/export.cpp
  platform/uwp/export/export.h
  platform/uwp/export/export_plugin.cpp
  platform/uwp/export/export_plugin.h
  platform/uwp/export/logo.svg
  platform/uwp/joypad_uwp.cpp
  platform/uwp/joypad_uwp.h
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/uwp/platform_config.h
  platform/windows/windows_terminal_logger.cpp
  scu_builders.py
  thirdparty/README.md
  thirdparty/mbedtls/library/entropy_poll.c
  thirdparty/mbedtls/patches/1453.diff
Labels: enhancement, topic:buildsystem, topic:porting, platform:uwp

#81105 Fix JavaScript callback memory leak issue
  platform/web/js/libs/library_godot_javascript_singleton.js
Labels: bug, platform:web, topic:porting, cherrypick:4.1

#78032 Expose OpenXR raw hand tracking data
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/scene/openxr_hand.h
Labels: enhancement, topic:xr

#81075 Prevent creating any type of file with a leading dot
  editor/directory_create_dialog.cpp
  editor/filesystem_dock.cpp
  editor/scene_create_dialog.cpp
  editor/script_create_dialog.cpp
Labels: bug, topic:editor, cherrypick:4.1

#81406 [TextServer] Pass Dictionary properties by value and check property values instead of references.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/resources/font.cpp
Labels: bug, regression, topic:gui

#79311 Clean up/refactor GraphNode and make it more flexible
  doc/classes/GraphEdit.xml
  doc/classes/GraphElement.xml
  doc/classes/GraphNode.xml
  editor/editor_themes.cpp
  editor/icons/GraphEdit.svg
  editor/icons/GraphElement.svg
  editor/icons/GraphNode.svg
  editor/icons/GuiCloseCustomizable.svg
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  misc/extension_api_validation/4.1-stable.expected
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_edit_arranger.cpp
  scene/gui/graph_element.cpp
  scene/gui/graph_element.h
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/theme/default_theme.cpp
Labels: enhancement, topic:editor, breaks compat, topic:gui

#81430 Expose `EditorExportPlatform::get_os_name()`
  doc/classes/EditorExportPlatform.xml
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
Labels: enhancement, topic:export

#81443 [LineEdit] Update line edit offset on text delete.
  scene/gui/line_edit.cpp
Labels: bug, topic:gui

#81445 Fix description of dock slot usage in the documentation
  doc/classes/EditorPlugin.xml
Labels: bug, documentation, cherrypick:4.1

#81226 Fix `EditorFileDialog` clears the file name on changing directory
  editor/gui/editor_file_dialog.cpp
Labels: bug, topic:editor, regression

#65011 Fix the behavior of the resource property of the sub-scene root node on instantiation
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Labels: bug, topic:core, cherrypick:3.x, cherrypick:4.1

#81315 Fix z-billboard + y to velocity transform alignment to correctly respect non-uniform scale
  drivers/gles3/shaders/particles_copy.glsl
  servers/rendering/renderer_rd/shaders/particles_copy.glsl
Labels: bug, topic:rendering, topic:3d, topic:particles

#81358 Improve handling of archives when installing assets
  editor/editor_asset_installer.cpp
  editor/editor_asset_installer.h
  editor/plugins/asset_library_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, usability, topic:assetlib

#81380 Update folder colors when moving or renaming
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor

#81450 Fix FindReplaceBar losing focus too early
  scene/gui/line_edit.cpp
Labels: bug, topic:editor, regression

#81452 Fix animation keyframes being skipped when played backwards
  scene/resources/animation.cpp
Labels: bug, cherrypick:3.x, topic:animation, cherrypick:3.5, cherrypick:4.0, cherrypick:4.1

#81463 Correctly setup tooltip's style as theme variation
  scene/theme/default_theme.cpp
Labels: bug, topic:editor, regression, topic:gui

#81070 Improve TileMap performances by using quadrants only for rendering
  doc/classes/TileMap.xml
  misc/extension_api_validation/4.1-stable.expected
  scene/2d/tile_map.compat.inc
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/resources/tile_set.h
Labels: enhancement, topic:core, breaks compat, topic:2d, performance

#81415 Fix bugs of copying scene root node or pasting node as scene root
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, crash

#81477 Fix submenu alignment with parent menu item
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#81501 Use pass by reference in ZIPPacker & ZIPReader signatures
  modules/zip/zip_packer.cpp
  modules/zip/zip_packer.h
  modules/zip/zip_reader.cpp
  modules/zip/zip_reader.h
Labels: enhancement, topic:core

#81515 Allow implementing `Object::_validate_property()` from GDExtension
  core/extension/gdextension.cpp
  core/extension/gdextension_interface.h
  core/object/object.cpp
  core/object/object.h
  core/object/script_language_extension.h
Labels: enhancement, topic:core, topic:gdextension

#81517 Document ScrollContainer signals being emitted for touch events only
  doc/classes/ScrollContainer.xml
Labels: enhancement, documentation, cherrypick:4.1

#81534 OpenXR: Fix missing add profile for Huawei
  modules/openxr/action_map/openxr_action_map.cpp
Labels: bug, topic:xr

#81079 GDScript: Fix `get_*_list()` methods return incorrect info
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/member_info.gd
  modules/gdscript/tests/scripts/runtime/features/member_info.out
  modules/gdscript/tests/test_gdscript.cpp
Labels: bug, enhancement, topic:gdscript

#81170 Prevent axis-based actions from getting stuck
  core/input/input.cpp
  core/input/input.h
Labels: bug, topic:input, regression

#80761 [Android] Change the default "org.godotengine" package name to "com.example"
  platform/android/export/export_plugin.cpp
Labels: bug, discussion, platform:android, topic:porting, breaks compat

#80956 Deselect multi caret when alt clicking on it
  scene/gui/text_edit.cpp
Labels: enhancement, topic:editor, usability, topic:gui

#70080 Add a type conversion method to Variant Utility and expose to scripting
  core/variant/variant_utility.cpp
  doc/classes/@GlobalScope.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_utility_functions.cpp
  tests/core/variant/test_variant_utility.h
  tests/test_main.cpp
Labels: enhancement, topic:core

#70329 Allow GDExtension to register unexposed classes.
  core/extension/gdextension.cpp
  core/extension/gdextension_interface.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.h
  editor/create_dialog.cpp
Labels: enhancement, topic:core, topic:gdextension

#81546 Hide the `dialog_text` property from `FileDialog`
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, topic:gui

#81201 GDScript: Fix subclass methods not inheriting RPC info
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
Labels: bug, topic:gdscript

#81355 Add an optional `untyped_declaration` warning
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/gdscript_test_runner.cpp
Labels: enhancement, topic:gdscript, topic:editor

#81423 Fix `TileMap::get_used_rect` incorrectly handling empty layers
  scene/2d/tile_map.cpp
Labels: bug, regression, topic:2d

#81543 Propagate error correctly when max texture size for lightmaps is too small.
  doc/classes/LightmapGI.xml
  editor/plugins/lightmap_gi_editor_plugin.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Labels: bug, topic:rendering, crash, topic:3d, cherrypick:4.1

#80973 Language Server: Improve hovered symbol resolution, fix renaming bugs, implement reference lookup
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/godot_lsp.h
  modules/gdscript/tests/scripts/lsp/class.notest.gd
  modules/gdscript/tests/scripts/lsp/enums.notest.gd
  modules/gdscript/tests/scripts/lsp/indentation.notest.gd
  modules/gdscript/tests/scripts/lsp/lambdas.notest.gd
  modules/gdscript/tests/scripts/lsp/local_variables.notest.gd
  modules/gdscript/tests/scripts/lsp/properties.notest.gd
  modules/gdscript/tests/scripts/lsp/scopes.notest.gd
  modules/gdscript/tests/scripts/lsp/shadowing_initializer.notest.gd
  modules/gdscript/tests/test_lsp.h
Labels: bug, enhancement, topic:gdscript, topic:editor

#80975 Add a property hint range to Auto Refresh Interval editor setting
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#74843 Add code region folding to CodeEdit
  doc/classes/CodeEdit.xml
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/editor_themes.cpp
  editor/icons/CodeRegionFoldDownArrow.svg
  editor/icons/CodeRegionFoldedRightArrow.svg
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/theme/default_theme.cpp
  scene/theme/icons/folder_down_arrow.svg
  scene/theme/icons/folder_right_arrow.svg
  tests/scene/test_code_edit.h
Labels: enhancement, feature proposal, topic:gdscript, topic:editor, topic:gui

#81469 [3.x] Remove extra separator in node context menu
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#81464 Fix `SIGN(NAN)` returning 1
  core/typedefs.h
  doc/classes/@GlobalScope.xml
  tests/core/math/test_math_funcs.h
Labels: bug, topic:core

#81487 [Core] Replace `ERR_FAIL_COND` with `ERR_FAIL_NULL` where applicable
  core/crypto/crypto_core.cpp
  core/crypto/hashing_context.cpp
  core/debugger/remote_debugger.cpp
  core/extension/gdextension.cpp
  core/extension/gdextension_interface.cpp
  core/io/compression.cpp
  core/io/file_access_memory.cpp
  core/io/file_access_zip.cpp
  core/io/image.cpp
  core/io/ip.cpp
  core/io/marshalls.cpp
  core/io/packed_data_container.cpp
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  core/io/stream_peer_gzip.cpp
  core/io/xml_parser.cpp
  core/io/zip_io.cpp
  core/math/disjoint_set.h
  core/math/dynamic_bvh.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/ref_counted.h
  core/object/undo_redo.cpp
  core/object/worker_thread_pool.cpp
  core/os/memory.cpp
  core/os/memory.h
  core/os/pool_allocator.cpp
  core/string/node_path.cpp
  core/string/print_string.cpp
  core/string/string_name.cpp
  core/templates/command_queue_mt.h
  core/templates/cowdata.h
  core/templates/list.h
  core/templates/paged_array.h
  core/templates/rid_owner.h
  core/variant/array.cpp
  core/variant/callable.cpp
  core/variant/container_type_validate.h
  core/variant/dictionary.cpp
  core/variant/variant_call.cpp
  core/variant/variant_op.h
  core/variant/variant_setget.cpp
  core/variant/variant_utility.cpp
Labels: enhancement, topic:codestyle

#81563 Ignore method track when drawing line between keys
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, usability, topic:animation

#81565 Fix typos in EditorDebuggerPlugin and RDShaderSPIRV classref
  doc/classes/EditorDebuggerPlugin.xml
  doc/classes/RDShaderSPIRV.xml
Labels: bug, documentation

#81255 Allow configuring primary line X/Ys separately
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, topic:2d

#80503 Fixes Scene corruption when child scene is renamed in another directory
  editor/filesystem_dock.cpp
Labels: bug, topic:editor

#80144 Add per-tile flipping and transposing
  doc/classes/TileSetAtlasSource.xml
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_map_editor.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/resources/tile_set.cpp
  scene/resources/tile_set.h
Labels: enhancement, feature proposal, topic:editor, topic:2d

#81568 [Scene,Main] Replace `ERR_FAIL_COND` with `ERR_FAIL_NULL` where applicable
  main/main.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/navigation_agent_2d.cpp
  scene/2d/physical_bone_2d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/gui/graph_edit_arranger.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_container.cpp
  scene/main/canvas_item.cpp
  scene/resources/surface_tool.cpp
  scene/resources/tile_set.cpp
  scene/theme/theme_db.cpp
Labels: enhancement, topic:codestyle

#81536 OpenXR: Fix error spam if session hasn't started yet
  modules/openxr/openxr_api.cpp
Labels: enhancement, usability, topic:xr

#81551 Bind remaining theme properties to their respective classes
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/color_mode.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_element.cpp
  scene/gui/graph_element.h
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/gui/grid_container.cpp
  scene/gui/grid_container.h
  scene/gui/margin_container.cpp
  scene/gui/margin_container.h
  scene/gui/popup_menu.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/split_container.cpp
  scene/gui/split_container.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/syntax_highlighter.cpp
Labels: enhancement, topic:gui

#81561 Fix issue with OpenXR environment blend mode not being applied properly
  doc/classes/ProjectSettings.xml
  doc/classes/XRInterface.xml
  main/main.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface.h
Labels: bug, topic:xr

#81576 GDExtension: Delete left-over DLL copy before making a new copy
  core/extension/gdextension.cpp
Labels: bug, platform:windows, topic:gdextension

#81599 Fix dumping of signal API parameters
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Labels: bug, topic:gdscript, crash, cherrypick:4.1

#81600 Fix GraphEdit port valid connections incorrectly checking sides
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui

#81634 Add missing is_deprecated flag on the SurfaceTool.generate_lod function.
  doc/classes/SurfaceTool.xml
Labels: bug, documentation, topic:3d, cherrypick:4.0, cherrypick:4.1

#81440 Remove `REDUNDANT_FOR_VARIABLE_TYPE` warning
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/for_loop_specified_type_is_equal_to_inferred.gd
  modules/gdscript/tests/scripts/analyzer/warnings/for_loop_specified_type_is_equal_to_inferred.out
  modules/gdscript/tests/scripts/analyzer/warnings/for_loop_specified_type_is_supertype_of_inferred.gd
  modules/gdscript/tests/scripts/analyzer/warnings/for_loop_specified_type_is_supertype_of_inferred.out
Labels: enhancement, discussion, topic:gdscript

#81456 Fix errors when testing `Resource`
  tests/core/io/test_resource.h
Labels: bug, topic:tests

#80932 Fix Android input routing logic when using a hardware keyboard
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
Labels: bug, platform:android, topic:editor, topic:input, cherrypick:4.0, cherrypick:4.1

#79920 Automatically add path to built-in scripts
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#79161 Optimize Variant icons and a few others
  editor/icons/AABB.svg
  editor/icons/Array.svg
  editor/icons/Basis.svg
  editor/icons/CheckBox.svg
  editor/icons/Color.svg
  editor/icons/Dictionary.svg
  editor/icons/GraphEdit.svg
  editor/icons/GraphElement.svg
  editor/icons/GraphNode.svg
  editor/icons/IOSDeviceWired.svg
  editor/icons/IOSDeviceWireless.svg
  editor/icons/IOSSimulator.svg
  editor/icons/MiniObject.svg
  editor/icons/Nil.svg
  editor/icons/NodePath.svg
  editor/icons/PackedByteArray.svg
  editor/icons/PackedColorArray.svg
  editor/icons/PackedFloat32Array.svg
  editor/icons/PackedFloat64Array.svg
  editor/icons/PackedInt32Array.svg
  editor/icons/PackedInt64Array.svg
  editor/icons/PackedStringArray.svg
  editor/icons/PackedVector2Array.svg
  editor/icons/PackedVector3Array.svg
  editor/icons/Plane.svg
  editor/icons/Projection.svg
  editor/icons/Quaternion.svg
  editor/icons/RID.svg
  editor/icons/Rect2.svg
  editor/icons/Rect2i.svg
  editor/icons/String.svg
  editor/icons/StringName.svg
  editor/icons/Transform2D.svg
  editor/icons/Transform3D.svg
  editor/icons/Uv.svg
  editor/icons/Variant.svg
  editor/icons/Vector2.svg
  editor/icons/Vector2i.svg
  editor/icons/Vector3.svg
  editor/icons/Vector3i.svg
  editor/icons/Vector4.svg
  editor/icons/Vector4i.svg
  editor/icons/bool.svg
  editor/icons/float.svg
  editor/icons/uint.svg
Labels: enhancement, topic:editor

#42100 Document when to use `_unhandled_key_input` over `_unhandled_input`
  doc/classes/Node.xml
Labels: enhancement, documentation, topic:input, topic:gui

#81653 GDScript: Fix POT generator crash on assignee with index
  modules/gdscript/editor/gdscript_translation_parser_plugin.cpp
Labels: bug, topic:gdscript, topic:editor, crash, cherrypick:4.1

#81531 Fix some keys triggering their actions twice in GridMap
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#81557 Improve the looks of 2D/3D viewport contextual toolbars
  editor/editor_themes.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/cpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  editor/plugins/physical_bone_3d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, usability, topic:gui

#81650 Improve GLES3 scene renderer compatibility with older devices
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, topic:3d

#78516 C#: Check if JetBrains Rider editor path is empty
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathManager.cs
Labels: enhancement, topic:dotnet

#81663 libwebp: Sync with upstream 1.3.2
  thirdparty/README.md
  thirdparty/libwebp/src/dec/vp8i_dec.h
  thirdparty/libwebp/src/dec/vp8l_dec.c
  thirdparty/libwebp/src/dec/vp8li_dec.h
  thirdparty/libwebp/src/demux/demux.c
  thirdparty/libwebp/src/enc/vp8i_enc.h
  thirdparty/libwebp/src/mux/muxi.h
  thirdparty/libwebp/src/utils/huffman_utils.c
  thirdparty/libwebp/src/utils/huffman_utils.h
Labels: bug, topic:thirdparty, cherrypick:3.x, cherrypick:3.5, cherrypick:4.0, cherrypick:4.1

#81606 Hide animation toolbar above the viewport correctly when switching scenes
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability, topic:animation

#81621 Expose `PopupMenu` `activate_item_by_event` method
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
Labels: bug, enhancement, topic:gui

#81651 SceneTreeDock: Remove animation tracks with correct indices
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, topic:animation, cherrypick:4.1

#81669 Enable transparent background for GUI tooltips
  scene/main/viewport.cpp
Labels: bug, regression, topic:gui, cherrypick:4.0, cherrypick:4.1

#81672 Add note about format to splash image description
  doc/classes/ProjectSettings.xml
Labels: enhancement, topic:core, documentation

#81673 Don't paste nodes as sibling of scene root
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#81690 C#: Hide hostfxr not found error
  modules/mono/editor/hostfxr_resolver.cpp
Labels: bug, topic:dotnet, cherrypick:4.1

#81516 Fix accessing editor theme items throughout the UI
  doc/classes/EditorInterface.xml
  doc/classes/EditorPlugin.xml
  editor/create_dialog.cpp
  editor/create_dialog.h
  editor/debugger/editor_debugger_node.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_interface.cpp
  editor/editor_interface.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_themes.cpp
  editor/editor_themes.h
  editor/export/editor_export_platform.cpp
  editor/export/project_export.cpp
  editor/icons/GuiToggleOnDisabledMirrored.svg
  editor/import_dock.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/gizmos/audio_listener_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/camera_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/cpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/light_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.cpp
  editor/plugins/gizmos/marker_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/lightmap_gi_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/occluder_instance_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/physical_bone_3d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/skeleton_2d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_ik_3d_editor_plugin.cpp
  editor/plugins/text_shader_editor.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  editor/plugins/tiles/tiles_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/voxel_gi_editor_plugin.cpp
  editor/rename_dialog.cpp
  editor/window_wrapper.cpp
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/multiplayer/editor/replication_editor.cpp
  scene/resources/theme.h
Labels: bug, topic:editor, regression, topic:gui

#75303 Show visual-oriented 3D node gizmos only when selected
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/light_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.cpp
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#81554 Add 3D editor gizmo icons for Decal, LightmapProbe and FogVolume
  editor/icons/GizmoCPUParticles3D.svg
  editor/icons/GizmoDecal.svg
  editor/icons/GizmoFogVolume.svg
  editor/icons/GizmoLightmapProbe.svg
  editor/plugins/gizmos/decal_gizmo_plugin.cpp
  editor/plugins/gizmos/fog_volume_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_probe_gizmo_plugin.cpp
Labels: bug, enhancement, topic:editor, usability, topic:3d

#81577 GDScript: Fix compilation of expressions compiling other classes
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript, regression

#81605 GDScript: Fix some lambda bugs
  .editorconfig
  modules/gdscript/.editorconfig
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/member_info.gd
  modules/gdscript/tests/scripts/runtime/features/member_info.out
  modules/gdscript/tests/scripts/runtime/features/metatypes.gd
  modules/gdscript/tests/scripts/runtime/features/metatypes.notest.gd
  modules/gdscript/tests/scripts/runtime/features/metatypes.out
  modules/gdscript/tests/scripts/utils.notest.gd
Labels: bug, topic:gdscript, crash

#81609 Fix local 3D translation editing
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:3d
