Repository godotengine/godot, pull requests merged in 2023-01, with the labels that each got.

#70651 [3.x] GLTF: Fix wrong error macro used in a few spots
  modules/gltf/extensions/gltf_document_extension.cpp
Labels: bug, topic:import, topic:3d

#70808 Change binding type of PlaceholderTexture2D.set/get_size to Vector2
  scene/resources/texture.cpp
Labels: bug, topic:2d

#70812 Optimize `wrapf` function a bit
  core/math/math_funcs.h
Labels: enhancement, topic:core

#67853 Fix usages of mesh simplification functions in float=64 builds
  core/io/marshalls.cpp
  core/io/marshalls.h
  scene/3d/occluder_instance_3d.cpp
  scene/resources/importer_mesh.cpp
  scene/resources/surface_tool.cpp
Labels: bug, topic:import, topic:3d

#70585 Add missing CUSTOM inputs for the spatial/vertex mode of visual shader
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:shaders

#70811 Update stale node ref after replace_by in GLTF importer
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
Labels: bug, topic:import, topic:3d

#70864 Fix scroll grabber can't reach ends in default theme
  scene/resources/default_theme/default_theme.cpp
Labels: bug, topic:gui

#70865 Fix file dialog crash on forward click when history is empty.
  editor/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Labels: bug, crash, topic:gui

#70690 Fix hovering-color of MenuBar entries when reentering MenuBar
  scene/gui/menu_bar.cpp
Labels: bug, regression, topic:gui

#70696 Propagate the keying state in the inspector
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
Labels: bug, topic:editor

#70702 GDScript: Error when assigning return value of void function
  core/variant/variant_call.cpp
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_builtin_method.gd
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_builtin_method.out
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_custom_method.gd
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_custom_method.out
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_gd_utility.gd
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_gd_utility.out
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_native_method.gd
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_native_method.out
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_utility.gd
  modules/gdscript/tests/scripts/analyzer/errors/use_value_of_void_function_utility.out
  modules/gdscript/tests/scripts/parser/warnings/void_assignment.gd
  modules/gdscript/tests/scripts/parser/warnings/void_assignment.out
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_free_call.gd
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_free_call.out
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_void_builtin_method_call.gd
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_void_builtin_method_call.out
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_void_native_method_call.gd
  modules/gdscript/tests/scripts/runtime/errors/use_return_value_of_void_native_method_call.out
  modules/gdscript/tests/scripts/runtime/features/array_string_stringname_equivalent.gd
Labels: bug, topic:gdscript

#70708 Bind setter and getter for pin joint parameters in `PhysicsServer2D`
  doc/classes/PhysicsServer2D.xml
  servers/physics_server_2d.cpp
Labels: bug, topic:physics, topic:2d

#70732 Fix heap-use-after-free when using TileMap editor
  editor/plugins/tiles/tile_map_editor.cpp
Labels: bug, topic:editor

#70742 Fix substitute buttons were never enabled
  editor/rename_dialog.cpp
Labels: bug, topic:editor, regression

#70754 Fix camera override button not updating in 2D scenes
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, regression

#70763 Fix Scene Tree Editor icons shift when the pane is small
  scene/gui/tree.cpp
Labels: bug, topic:gui

#70779 Add missing case statement to handle re-parent to new node
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, topic:input, cherrypick:3.x

#70503 Inner classes get their docs back
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#70519 [Font] Use key structure instead of raw hash for LRU cache to avoid collisions.
  scene/resources/font.cpp
  scene/resources/font.h
Labels: bug, topic:gui

#70554 [4.0] Suggest Filename in Remote Tree File Dialog
  editor/debugger/editor_debugger_tree.cpp
Labels: enhancement, topic:editor, usability, cherrypick:3.x

#70572 Fix wrong `AnimationStateMachine` process for end of fading
  scene/animation/animation_node_state_machine.cpp
Labels: bug, regression, topic:animation

#70608 Add tests for signals
  tests/core/object/test_object.h
Labels: enhancement, topic:tests

#70611 Fix errors when `TabBar` is empty
  scene/gui/tab_bar.cpp
Labels: bug, topic:gui

#70612 Fix dark title bar on Windows 11
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:porting

#70618 Editor: Fix `Paste From Clipboard` make new scene pointing to original scene file.
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#70654 Fix move_and_collide for concave CharacterBody3D objects
  servers/physics_3d/godot_collision_solver_3d.cpp
Labels: bug, topic:physics

#70656 GDScript: Disallow return with value in void functions
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/return_null_in_void_func.gd
  modules/gdscript/tests/scripts/analyzer/errors/return_null_in_void_func.out
  modules/gdscript/tests/scripts/analyzer/errors/return_variant_in_void_func.gd
  modules/gdscript/tests/scripts/analyzer/errors/return_variant_in_void_func.out
  modules/gdscript/tests/scripts/analyzer/features/return_variant_typed.gd
  modules/gdscript/tests/scripts/analyzer/features/return_variant_typed.out
Labels: bug, topic:gdscript

#70677 Allow building X11 without Vulkan
  platform/linuxbsd/detect.py
Labels: enhancement, platform:linuxbsd, topic:buildsystem

#70489 Fix Editor Shortcut keys are inserting in Script Editor
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#70152 Initial tests for node
  tests/scene/test_node.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#63650 Allow to apply the angular velocity of a moving platform
  doc/classes/CharacterBody3D.xml
  scene/3d/physics_body_3d.cpp
  scene/3d/physics_body_3d.h
  servers/physics_3d/godot_space_3d.cpp
  servers/physics_server_3d.h
Labels: enhancement, topic:physics, topic:3d

#63483 Introduce `appCategory` attribute of android to set category
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/app/AndroidManifest.xml
Labels: enhancement, platform:android, cherrypick:3.x, topic:export

#70850 [TextServer] Make `free` calls thread safe.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, crash, topic:gui

#70428 CanvasItemEditor Fix snapping grid misalignment
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, regression, cherrypick:3.x, topic:2d

#70840 Rename `get_points_count()` to `get_point_count()` in Gradient
  scene/2d/line_builder.cpp
  scene/resources/gradient.cpp
  scene/resources/gradient.h
  scene/resources/texture.cpp
  tests/scene/test_gradient.h
Labels: enhancement, topic:core, topic:codestyle

#70875 Stop NodeRef highlighting if you start with a number
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: bug, topic:gdscript, topic:editor

#70877 Fix Tree overflow without scrolling being enabled
  scene/gui/tree.cpp
Labels: bug, topic:gui

#70482 [iOS] Add Apple Pencil pressure and tilt support.
  core/input/input.cpp
  core/input/input_event.cpp
  core/input/input_event.h
  doc/classes/InputEventScreenDrag.xml
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/ios/godot_view.mm
Labels: enhancement, platform:ios, topic:porting, topic:input

#70498 [macOS] Fix stylus tilt Y direction.
  platform/macos/godot_content_view.mm
Labels: bug, platform:macos, topic:input

#70624 Improve `window_set_current_screen` and fix secondary window initial mode and positions.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_content_view.mm
  platform/macos/godot_window_delegate.h
  platform/macos/godot_window_delegate.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, topic:porting, topic:gui

#70859 GDScript: Fix wrong native type for preloaded class
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/features/preload_script_native_type.gd
  modules/gdscript/tests/scripts/analyzer/features/preload_script_native_type.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/preload_script_native_type.out
Labels: bug, topic:gdscript

#70884 Ignore depth draw optimization when using depth draw alpha prepass
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
Labels: bug, topic:rendering, regression, topic:3d

#70638 Visual instance layers are regarded during shadow culling
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
Labels: bug, topic:rendering, topic:3d

#67694 Remove duplicate Month and Weekday enums
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  core/os/time.cpp
  core/os/time.h
  core/os/time_enums.h
  doc/classes/OS.xml
  tests/core/test_time.h
Labels: enhancement, platform:linuxbsd, topic:core, breaks compat

#70867 [CI] Use multiple forced unmount attempts for MoltenVK image.
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: bug, topic:buildsystem

#70810 Cache script when reloading even if there's errors
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript, topic:editor

#70903 Fix "Double-click on the TileMap's pattern prints an error" (#70892)
  editor/plugins/tiles/tile_map_editor.cpp
Labels: bug, topic:editor, topic:2d

#70909 Revert improve update tree
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
Labels: bug, topic:editor, regression

#70924 Always try to clear render target before drawing 3D with Canvas BG mode
  servers/rendering/renderer_viewport.cpp
Labels: bug, topic:rendering

#70929 Use proper indices for lights, decals, and reflection probes in mobile scene shader
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, topic:3d

#70795 Improve `RefCounted` support in `Tween`
  scene/animation/tween.cpp
  scene/animation/tween.h
Labels: enhancement, topic:animation

#70824 Fix NavigationPolygon error msg
  scene/resources/navigation_polygon.cpp
Labels: bug, topic:navigation

#70838 Optimizations for GDScript VM
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, topic:gdscript, performance

#70880 Improve remote tree node tooltips
  editor/debugger/editor_debugger_tree.cpp
Labels: enhancement, topic:editor, usability

#67749 Test joint type on _set for PhysicalBone joints
  scene/3d/physics_body_3d.cpp
Labels: bug, topic:physics, topic:3d

#70907 Remove side effect of the `handles` method
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor

#65609 `AnimatedSprite{2D,3D}` improvements
  doc/classes/AnimatedSprite2D.xml
  doc/classes/AnimatedSprite3D.xml
  doc/classes/SpriteFrames.xml
  editor/animation_track_editor_plugins.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
  scene/2d/animated_sprite_2d.cpp
  scene/2d/animated_sprite_2d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/sprite_frames.cpp
  scene/resources/sprite_frames.h
  tests/scene/test_sprite_frames.h
Labels: enhancement, topic:core, topic:editor, breaks compat, topic:animation

#70963 Simplify some editor plugin logic and remove dead code
  doc/classes/AnimationNode.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_properties.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.h
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
  scene/animation/animation_tree.cpp
Labels: enhancement, topic:editor, breaks compat, topic:codestyle, topic:animation

#70675 Fix generating POT for multiline messages
  editor/pot_generator.cpp
Labels: bug, topic:editor

#70547 Fix pingpong-loop with `loop_wrap` is not working & clean-up cubic interpolation key retrieve process
  core/math/quaternion.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
  scene/resources/animation.cpp
Labels: bug, topic:animation

#64253 Register enum type names in release build
  core/object/class_db.h
Labels: bug, topic:core, topic:gdscript, topic:export

#70464 Unify typing of variables, constants and parameters in GDScript
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/analyzer/errors/enum_class_var_init_with_wrong_enum_type.out
  modules/gdscript/tests/scripts/analyzer/errors/enum_local_var_init_with_wrong_enum_type.out
  modules/gdscript/tests/scripts/analyzer/errors/setter_parameter_uses_property_type.out
  modules/gdscript/tests/scripts/analyzer/features/default_arg_convertable.gd
  modules/gdscript/tests/scripts/analyzer/features/default_arg_convertable.out
  modules/gdscript/tests/scripts/analyzer/features/null_initializer.gd
  modules/gdscript/tests/scripts/analyzer/features/null_initializer.out
  modules/gdscript/tests/scripts/analyzer/features/weak_initializer.gd
  modules/gdscript/tests/scripts/analyzer/features/weak_initializer.out
  modules/gdscript/tests/scripts/analyzer/typed_array_assignment.out
Labels: bug, enhancement, topic:gdscript

#70980 GDScript: Fix array as default value for parameter
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/analyzer/features/typed_array_as_default_parameter.gd
  modules/gdscript/tests/scripts/analyzer/features/typed_array_as_default_parameter.out
Labels: bug, topic:gdscript

#70919 Add tests for FastNoiseLite/NoiseTexture
  modules/noise/noise.cpp
  modules/noise/noise.h
  modules/noise/noise_texture_2d.cpp
  modules/noise/tests/test_fastnoise_lite.h
  modules/noise/tests/test_noise_texture_2d.h
Labels: bug, enhancement, topic:core, crash, topic:tests

#70500 Bring back the renderer options button on the main editor
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#70658 GDScript: Fix typing of lambda functions
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/tests/scripts/analyzer/errors/lambda_no_return.gd
  modules/gdscript/tests/scripts/analyzer/errors/lambda_no_return.out
  modules/gdscript/tests/scripts/analyzer/errors/lambda_wrong_return.gd
  modules/gdscript/tests/scripts/analyzer/errors/lambda_wrong_return.out
  modules/gdscript/tests/scripts/analyzer/features/lambda_typed.gd
  modules/gdscript/tests/scripts/analyzer/features/lambda_typed.out
  modules/gdscript/tests/scripts/analyzer/warnings/lambda_shadowing_arg.gd
  modules/gdscript/tests/scripts/analyzer/warnings/lambda_shadowing_arg.out
  modules/gdscript/tests/scripts/analyzer/warnings/lambda_unused_arg.gd
  modules/gdscript/tests/scripts/analyzer/warnings/lambda_unused_arg.out
Labels: bug, topic:gdscript

#70989 Fix errors when creating/deleting `VisualShaderNodeExpression` in graph
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders

#70639 Add `uint` type support to visual shaders
  doc/classes/VisualShader.xml
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeClamp.xml
  doc/classes/VisualShaderNodeCompare.xml
  doc/classes/VisualShaderNodeSwitch.xml
  doc/classes/VisualShaderNodeUIntConstant.xml
  doc/classes/VisualShaderNodeUIntFunc.xml
  doc/classes/VisualShaderNodeUIntOp.xml
  doc/classes/VisualShaderNodeUIntParameter.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: enhancement, topic:editor, breaks compat, topic:shaders

#70485 Fix jumping in `AStarGrid2D` when `DIAGONAL_MODE_NEVER` is enabled
  core/math/a_star_grid_2d.cpp
Labels: bug, topic:core, topic:navigation

#70995 Unbind Variant methods that change immutable types.
  core/variant/variant_call.cpp
  doc/classes/Transform2D.xml
Labels: enhancement, topic:core, breaks compat

#71005 CodeEdit: Fix typo 'get_code_comletion_prefixes' -> 'get_code_completion_prefixes'
  doc/classes/CodeEdit.xml
  scene/gui/code_edit.cpp
Labels: bug, breaks compat, topic:gui

#70999 Fix unreadable text in Make Sub-Resources Unique window
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Labels: bug, topic:editor

#68429 Add PropertyInfo overload for GLOBAL_DEF
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/io/file_access_network.cpp
  core/object/message_queue.cpp
  core/register_core_types.cpp
  core/string/translation.cpp
  editor/editor_node.cpp
  main/main.cpp
  modules/gdscript/gdscript.cpp
  modules/webrtc/register_types.cpp
  scene/gui/text_edit.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/resources/world_2d.cpp
  scene/resources/world_3d.cpp
  scene/theme/theme_db.cpp
  servers/audio_server.cpp
  servers/movie_writer/movie_writer.cpp
  servers/physics_2d/godot_space_2d.cpp
  servers/physics_3d/godot_space_3d.cpp
  servers/physics_server_2d.cpp
  servers/physics_server_3d.cpp
  servers/register_server_types.cpp
  servers/rendering_server.cpp
Labels: enhancement, topic:core, topic:codestyle

#70993 Warn against erasing array elements while iterating.
  doc/classes/Array.xml
Labels: enhancement, documentation

#71000 Allow binding Callable arguments from an array
  core/variant/callable.cpp
  core/variant/callable.h
  core/variant/variant_call.cpp
  doc/classes/Callable.xml
Labels: enhancement, topic:core, topic:gdscript

#71011 Properly map shader language texture hints to sampler hints in GLES3 renderer
  drivers/gles3/storage/material_storage.cpp
Labels: bug, topic:rendering, topic:shaders

#70858 Optimize GodotConvexPolygonShape3D::get_support
  servers/physics_3d/godot_shape_3d.cpp
Labels: enhancement, topic:physics, topic:3d, performance

#70939 Add support for the custom initial screen for the main window, fix primary screen detection.
  core/config/project_settings.cpp
  doc/classes/DisplayServer.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
  editor/editor_run.cpp
  editor/editor_settings.cpp
  editor/project_manager.cpp
  main/main.cpp
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
  tests/test_main.cpp
Labels: bug, enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#69395 zlib/minizip: Update to version 1.2.13, remove zlib from freetype
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/freetype/src/gzip/adler32.c
  thirdparty/freetype/src/gzip/crc32.c
  thirdparty/freetype/src/gzip/crc32.h
  thirdparty/freetype/src/gzip/gzguts.h
  thirdparty/freetype/src/gzip/infback.c
  thirdparty/freetype/src/gzip/inffast.c
  thirdparty/freetype/src/gzip/inffast.h
  thirdparty/freetype/src/gzip/inffixed.h
  thirdparty/freetype/src/gzip/inflate.c
  thirdparty/freetype/src/gzip/inflate.h
  thirdparty/freetype/src/gzip/inftrees.c
  thirdparty/freetype/src/gzip/inftrees.h
  thirdparty/freetype/src/gzip/zlib.h
  thirdparty/freetype/src/gzip/zutil.c
  thirdparty/freetype/src/gzip/zutil.h
  thirdparty/minizip/MiniZip64_info.txt
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/patches/unbreak-gentoo.patch
  thirdparty/minizip/unzip.c
  thirdparty/minizip/zip.c
  thirdparty/zlib/LICENSE
  thirdparty/zlib/compress.c
  thirdparty/zlib/crc32.c
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
  thirdparty/zlib/infback.c
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/inftrees.h
  thirdparty/zlib/trees.c
  thirdparty/zlib/uncompr.c
  thirdparty/zlib/zconf.h
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.c
  thirdparty/zlib/zutil.h
Labels: bug, topic:thirdparty, cherrypick:3.x, cherrypick:3.5

#36301 Add reparent methods to Node
  doc/classes/Node.xml
  scene/2d/node_2d.cpp
  scene/2d/node_2d.h
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:core

#71026 [Windows] Fix primary screen detection.
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#71047 Force double quotes for NodePaths with apostrophes
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#71052 Fix error in `AstarGrid2D::get_id_path`
  core/math/a_star_grid_2d.cpp
Labels: bug, topic:core

#71057 Remove unnecessary changing of shortcut name in editor node.
  editor/editor_node.cpp
Labels: bug, topic:editor

#71064 Expose TabBar::clear_tabs to GDScript
  doc/classes/TabBar.xml
  scene/gui/tab_bar.cpp
Labels: enhancement, topic:gui

#71068 Fix UTF-8 encoding for copyright in About dialog
  editor/editor_about.cpp
Labels: bug, topic:editor

#70923 Refactor inspector code for getting resource
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Labels: enhancement, topic:editor, topic:codestyle

#70994 Prevent recursion (and hence crash) in inspector resource assignment.
  editor/editor_properties.cpp
Labels: bug, topic:editor, crash

#71013 Fix `ScriptInstanceExtension::get_property_default_value` return value
  core/object/script_language_extension.h
Labels: bug, topic:gdextension

#71036 Tweak text color for disabled preprocessor branches in the shader editor
  editor/plugins/text_shader_editor.cpp
Labels: enhancement, topic:editor, topic:shaders

#71037 Use BitField<> hint for Mesh.ArrayFormat and Control.SizeFlags
  doc/classes/ArrayMesh.xml
  doc/classes/Control.xml
  doc/classes/EditorSpinSlider.xml
  doc/classes/Label.xml
  doc/classes/Mesh.xml
  doc/classes/Range.xml
  doc/classes/RenderingServer.xml
  doc/classes/SpinBox.xml
  doc/classes/TextureProgressBar.xml
  doc/classes/VScrollBar.xml
  doc/classes/VSlider.xml
  modules/mono/editor/GodotTools/GodotTools/Build/BuildOutputView.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  scene/gui/box_container.cpp
  scene/gui/container.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/flow_container.cpp
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
  scene/gui/scroll_container.cpp
  scene/resources/immediate_mesh.cpp
  scene/resources/immediate_mesh.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  scene/resources/primitive_meshes.cpp
  scene/resources/primitive_meshes.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:core

#71055 Fix Undo/Redo not working until Scene menu is opened.
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor

#70463 [4.x] Rework const on NavigationServer methods
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
  editor/editor_node.cpp
  main/main.cpp
  modules/gridmap/grid_map.cpp
  modules/navigation/godot_navigation_server.cpp
  modules/navigation/godot_navigation_server.h
  scene/2d/navigation_region_2d.cpp
  scene/3d/navigation_link_3d.cpp
  scene/3d/navigation_region_3d.cpp
  scene/resources/navigation_mesh.cpp
  servers/navigation_server_2d.cpp
  servers/navigation_server_2d.h
  servers/navigation_server_3d.cpp
  servers/navigation_server_3d.h
  servers/register_server_types.cpp
Labels: enhancement, topic:navigation

#69809 Fix VisibleOnScreenEnabler disabling in editor
  scene/2d/visible_on_screen_notifier_2d.cpp
  scene/3d/visible_on_screen_notifier_3d.cpp
Labels: bug, topic:2d

#70281 Implement collision impulse in Godot Physics 3D
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsDirectBodyState3DExtension.xml
  servers/extensions/physics_server_3d_extension.h
  servers/physics_3d/godot_body_3d.h
  servers/physics_3d/godot_body_direct_state_3d.cpp
  servers/physics_3d/godot_body_direct_state_3d.h
  servers/physics_3d/godot_body_pair_3d.cpp
  servers/physics_3d/godot_body_pair_3d.h
  servers/physics_server_3d.h
Labels: enhancement, topic:physics

#70920 Add Show in FileSystem option in the inspector
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Labels: enhancement, topic:editor, usability

#70996 Properly report Callable bound arguments
  core/object/object.cpp
  core/variant/callable.cpp
  core/variant/callable.h
  core/variant/callable_bind.cpp
  core/variant/callable_bind.h
  core/variant/variant_call.cpp
  doc/classes/Callable.xml
Labels: bug, topic:core

#71028 Resolve `GDScript::clear()` `heap-use-after-free` ASAN errors
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Labels: enhancement, topic:gdscript

#70580 Fix error when dropping script into script editor
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#70581 [3.x] Fix error when dropping script into script editor
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, cherrypick:3.5

#70583 [3.x] Set touch input as handled only after _gui_call_input
  scene/main/viewport.cpp
Labels: bug, topic:input, regression, cherrypick:3.5

#70593 [3.x] Fix RichTextLabel discards appended BBCode text on window resize when using DynamicFont
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui, cherrypick:3.5

#70906 [3.x] Fix Tree overflow without scrolling being enabled
  scene/gui/tree.cpp
Labels: bug, topic:gui, cherrypick:3.5

#71101 Fix unpressable buttons
  doc/classes/BaseButton.xml
  scene/gui/base_button.h
Labels: bug, topic:input, regression

#71082 Fix for comparisons with PackedArrays
  core/variant/variant.cpp
Labels: bug, topic:core

#71107 GDScript: Don't use the NIL address to hold return value of functions
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/runtime/features/await_on_void.gd
  modules/gdscript/tests/scripts/runtime/features/await_on_void.out
  modules/gdscript/tests/scripts/runtime/features/standalone-calls-do-not-write-to-nil.gd
  modules/gdscript/tests/scripts/runtime/features/standalone-calls-do-not-write-to-nil.out
Labels: bug, topic:gdscript, regression

#70882 Fix inconsistent state of Controls when editing and running scenes
  editor/scene_create_dialog.cpp
  editor/scene_tree_dock.cpp
  scene/gui/control.cpp
  scene/gui/control.h
Labels: bug, topic:gui

#70022 iOS: Add new model identifiers for DPI metrics
  platform/ios/device_metrics.m
Labels: bug, enhancement, platform:ios, topic:porting, cherrypick:3.x, cherrypick:3.5

#70786 [3.x] Make `dict2inst` to work with arbitrary `_init` parameters
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_functions.cpp
Labels: bug, topic:gdscript, cherrypick:3.5

#71093 [3.x] Fix local variables not showing when breaking on final line
  modules/gdscript/gdscript_function.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:3.5

#71103 [3.x] Fix for comparisons with PoolArrays
  core/variant.cpp
Labels: bug, topic:core, cherrypick:3.5

#71116 C#: Add `[Flags]` attribute to core bitfield enums
  modules/mono/editor/bindings_generator.cpp
Labels: enhancement, topic:dotnet

#71118 Support Git worktrees in generation of hash header
  methods.py
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.5

#71119 Make inclusion of Godot version in shader hash universal
  drivers/vulkan/rendering_device_vulkan.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
Labels: enhancement, topic:rendering

#70626 [Web] Expose API to force file system sync.
  doc/classes/JavaScriptBridge.xml
  platform/web/api/api.cpp
  platform/web/api/javascript_bridge_singleton.h
  platform/web/javascript_bridge_singleton.cpp
  platform/web/os_web.cpp
  platform/web/os_web.h
Labels: enhancement, platform:web, topic:porting

#71121 Clarify some parent item checks in `CanvasItem`
  scene/main/canvas_item.cpp
Labels: enhancement, topic:core, topic:codestyle

#70721 [MP] Fix server_relay being unsettable.
  modules/multiplayer/doc_classes/SceneMultiplayer.xml
  modules/multiplayer/scene_multiplayer.cpp
Labels: bug, topic:multiplayer

#70863 Set main window min. size via Window object instead of DisplayServer to preserve it during window updates.
  editor/editor_node.cpp
  editor/project_manager.cpp
  main/main.cpp
  scene/main/scene_tree.cpp
Labels: bug, topic:editor, topic:porting

#69616 Ability to change a resource UID from API
  core/io/resource_format_binary.cpp
  core/io/resource_format_binary.h
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/io/resource_saver.cpp
  core/io/resource_saver.h
  core/register_core_types.cpp
  doc/classes/ResourceFormatSaver.xml
  editor/editor_file_system.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
Labels: enhancement, topic:core

#71051 GDScript: Begin making constants deep, not shallow or flat
  core/variant/array.cpp
  core/variant/dictionary.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/tests/scripts/analyzer/errors/constant_array_index_assign.gd
  modules/gdscript/tests/scripts/analyzer/errors/constant_array_index_assign.out
  modules/gdscript/tests/scripts/analyzer/errors/constant_dictionary_index_assign.gd
  modules/gdscript/tests/scripts/analyzer/errors/constant_dictionary_index_assign.out
  modules/gdscript/tests/scripts/runtime/errors/constant_array_is_deep.gd
  modules/gdscript/tests/scripts/runtime/errors/constant_array_is_deep.out
  modules/gdscript/tests/scripts/runtime/errors/constant_array_push_back.gd
  modules/gdscript/tests/scripts/runtime/errors/constant_array_push_back.out
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_erase.gd
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_erase.out
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_is_deep.gd
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_is_deep.out
Labels: bug, topic:gdscript, breaks compat

#70246 Fix GDScript base and outer classes, signals and functions lookup order
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants.gd
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants_as_variant.gd
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants_as_variant.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants.gd
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants_as_variant.gd
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants_as_variant.out
  modules/gdscript/tests/scripts/analyzer/features/lookup_class.gd
  modules/gdscript/tests/scripts/analyzer/features/lookup_class.out
  modules/gdscript/tests/scripts/analyzer/features/lookup_class_external.notest.gd
  modules/gdscript/tests/scripts/analyzer/features/lookup_signal.gd
  modules/gdscript/tests/scripts/analyzer/features/lookup_signal.out
Labels: bug, topic:gdscript

#71132 [3.x] [Web] Expose API to force file system sync.
  doc/classes/JavaScript.xml
  platform/javascript/api/api.cpp
  platform/javascript/api/javascript_singleton.h
  platform/javascript/javascript_singleton.cpp
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Labels: enhancement, platform:web, topic:porting

#62444 [3.x] Faster queue free
  doc/classes/Node.xml
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:core, performance

#71147 Add Node::get_window() method.
  doc/classes/Node.xml
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:gui

#71022 Fix doc for position of captured mouse
  doc/classes/DisplayServer.xml
  doc/classes/Input.xml
Labels: enhancement, documentation

#70716 Tweak particles animation offset property hint to allow more precise values
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Labels: bug, enhancement, topic:editor, topic:particles

#70745 Explain that Array.duplicate will not deep-copy Object.
  doc/classes/Array.xml
Labels: enhancement, topic:core, documentation, cherrypick:3.x

#71192 GDScript: Fix use of conversion assign for variant values
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/runtime/features/use_conversion_assign_with_variant_value.gd
  modules/gdscript/tests/scripts/runtime/features/use_conversion_assign_with_variant_value.out
Labels: bug, topic:gdscript, regression

#71191 Add `get_contact_impulse` method to `PhysicsDirectBodyState2D`
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState2DExtension.xml
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/physics_2d/godot_body_2d.h
  servers/physics_2d/godot_body_direct_state_2d.cpp
  servers/physics_2d/godot_body_direct_state_2d.h
  servers/physics_2d/godot_body_pair_2d.cpp
  servers/physics_2d/godot_body_pair_2d.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
Labels: enhancement, topic:physics, topic:2d

#71042 Fix text search in Tree with multiselect
  scene/gui/tree.cpp
Labels: bug, topic:gui

#71127 Change set_drag_forwarding() to use callables.
  doc/classes/Control.xml
  editor/action_map_editor.cpp
  editor/create_dialog.cpp
  editor/editor_audio_buses.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_resource_picker.cpp
  editor/editor_settings_dialog.cpp
  editor/export/project_export.cpp
  editor/filesystem_dock.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_editor.cpp
  modules/multiplayer/editor/replication_editor.cpp
  scene/gui/color_picker.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/tab_container.cpp
Labels: enhancement, breaks compat, topic:gui

#71157 Fix Callable call error reporting.
  core/object/object.cpp
  core/variant/callable.cpp
  core/variant/callable.h
  core/variant/callable_bind.cpp
  core/variant/callable_bind.h
  core/variant/variant.cpp
  core/variant/variant_call.cpp
  doc/classes/Callable.xml
Labels: bug, topic:core, crash

#71170 Text resource loader fixes
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#69724 Document all VisualShader nodes
  doc/classes/VisualShader.xml
  doc/classes/VisualShaderNodeConstant.xml
  doc/classes/VisualShaderNodeDistanceFade.xml
  doc/classes/VisualShaderNodeIntParameter.xml
  doc/classes/VisualShaderNodeLinearSceneDepth.xml
  doc/classes/VisualShaderNodeParameter.xml
  doc/classes/VisualShaderNodeParticleAccelerator.xml
  doc/classes/VisualShaderNodeParticleBoxEmitter.xml
  doc/classes/VisualShaderNodeParticleConeVelocity.xml
  doc/classes/VisualShaderNodeParticleEmit.xml
  doc/classes/VisualShaderNodeParticleEmitter.xml
  doc/classes/VisualShaderNodeParticleMeshEmitter.xml
  doc/classes/VisualShaderNodeParticleMultiplyByAxisAngle.xml
  doc/classes/VisualShaderNodeParticleOutput.xml
  doc/classes/VisualShaderNodeParticleRandomness.xml
  doc/classes/VisualShaderNodeParticleRingEmitter.xml
  doc/classes/VisualShaderNodeParticleSphereEmitter.xml
  doc/classes/VisualShaderNodeProximityFade.xml
  doc/classes/VisualShaderNodeRandomRange.xml
  doc/classes/VisualShaderNodeRemap.xml
  doc/classes/VisualShaderNodeTexture2DArrayParameter.xml
  doc/classes/VisualShaderNodeTextureParameter.xml
  doc/classes/VisualShaderNodeUIntParameter.xml
  doc/classes/VisualShaderNodeUVFunc.xml
  doc/classes/VisualShaderNodeUVPolarCoord.xml
  doc/classes/VisualShaderNodeVarying.xml
  doc/classes/VisualShaderNodeVaryingGetter.xml
  doc/classes/VisualShaderNodeVaryingSetter.xml
  doc/classes/VisualShaderNodeVectorBase.xml
Labels: enhancement, documentation, topic:shaders

#71183 Ensure that the cached layout mode is in sync
  editor/plugins/control_editor_plugin.cpp
  scene/gui/control.cpp
  scene/gui/control.h
Labels: bug, regression, topic:gui

#71159 Propagate allowed input types to `event_listener` when setting them on `InputEventConfigurationDialog`
  editor/event_listener_line_edit.cpp
  editor/event_listener_line_edit.h
  editor/input_event_configuration_dialog.cpp
Labels: bug, topic:editor

#71164 CI: Use clang-format 15
  .github/workflows/static_checks.yml
Labels: enhancement, topic:buildsystem, cherrypick:3.x, topic:codestyle, cherrypick:3.5

#71206 Add missing functions in the Control node when converting project.
  editor/project_converter_3_to_4.cpp
Labels: enhancement, topic:editor

#71060 docs: Improve `InputEventAction` reference
  doc/classes/InputEventAction.xml
Labels: enhancement, documentation, topic:input

#71105 Add SceneTree.unload_current_scene()
  doc/classes/SceneTree.xml
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Labels: enhancement, topic:core

#70167 OpenXR: Add Pico controller profile
  modules/openxr/SCsub
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/extensions/openxr_pico_controller_extension.cpp
  modules/openxr/extensions/openxr_pico_controller_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/register_types.cpp
Labels: enhancement, topic:xr

#70707 Bind methods related to physics query exclusions
  doc/classes/PhysicsDirectSpaceState2DExtension.xml
  doc/classes/PhysicsDirectSpaceState3DExtension.xml
  doc/classes/PhysicsServer2DExtension.xml
  doc/classes/PhysicsServer3DExtension.xml
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_3d_extension.cpp
Labels: bug, topic:physics, topic:gdextension

#70717 Tweak particles animation offset property hint to allow more precise values (3.x)
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles.cpp
  scene/resources/particles_material.cpp
Labels: enhancement, topic:editor, topic:particles

#71219 Fix crash in CodeEdit when caret column exceeds line length.
  scene/gui/code_edit.cpp
Labels: bug, crash, topic:gui

#71075 Setup "Open in File Manager" as shortcut
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor, usability

#71212 [iOS Export] Check Xcode output and display errors if code signing, project build or .ipa export failed.
  platform/ios/export/export_plugin.cpp
Labels: enhancement, platform:ios, topic:editor, topic:export

#71203 Add navigation tutorial links inside class doc
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
  doc/classes/NavigationLink2D.xml
  doc/classes/NavigationLink3D.xml
  doc/classes/NavigationMesh.xml
  doc/classes/NavigationMeshGenerator.xml
  doc/classes/NavigationObstacle2D.xml
  doc/classes/NavigationObstacle3D.xml
  doc/classes/NavigationPathQueryParameters2D.xml
  doc/classes/NavigationPathQueryParameters3D.xml
  doc/classes/NavigationPathQueryResult2D.xml
  doc/classes/NavigationPathQueryResult3D.xml
  doc/classes/NavigationPolygon.xml
  doc/classes/NavigationRegion2D.xml
  doc/classes/NavigationRegion3D.xml
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
Labels: enhancement, topic:navigation

#71223 Cherry-picks for the 3.5 branch (future 3.5.2) - 4th batch
  .github/workflows/static_checks.yml
  CHANGELOG.md
  COPYRIGHT.txt
  core/io/file_access_compressed.cpp
  core/io/file_access_compressed.h
  core/variant.cpp
  editor/plugins/script_editor_plugin.cpp
  methods.py
  modules/gdscript/gdscript_function.cpp
  platform/iphone/device_metrics.m
  platform/javascript/package-lock.json
  platform/osx/os_osx.mm
  scene/gui/rich_text_label.cpp
  scene/gui/tree.cpp
  thirdparty/README.md
  thirdparty/freetype/src/gzip/adler32.c
  thirdparty/freetype/src/gzip/crc32.c
  thirdparty/freetype/src/gzip/crc32.h
  thirdparty/freetype/src/gzip/gzguts.h
  thirdparty/freetype/src/gzip/infback.c
  thirdparty/freetype/src/gzip/inffast.c
  thirdparty/freetype/src/gzip/inffast.h
  thirdparty/freetype/src/gzip/inffixed.h
  thirdparty/freetype/src/gzip/inflate.c
  thirdparty/freetype/src/gzip/inflate.h
  thirdparty/freetype/src/gzip/inftrees.c
  thirdparty/freetype/src/gzip/inftrees.h
  thirdparty/freetype/src/gzip/zlib.h
  thirdparty/freetype/src/gzip/zutil.c
  thirdparty/freetype/src/gzip/zutil.h
  thirdparty/minizip/MiniZip64_info.txt
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/patches/unbreak-gentoo.patch
  thirdparty/minizip/unzip.c
  thirdparty/minizip/zip.c
  thirdparty/zlib/LICENSE
  thirdparty/zlib/compress.c
  thirdparty/zlib/crc32.c
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
  thirdparty/zlib/infback.c
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/inftrees.h
  thirdparty/zlib/trees.c
  thirdparty/zlib/uncompr.c
  thirdparty/zlib/zconf.h
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.c
  thirdparty/zlib/zutil.h
Labels: bug, enhancement, topic:core, topic:editor

#71168 Improve description of `GetNodeOrDefault` in C# API
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/NodeExtensions.cs
Labels: enhancement, documentation, topic:dotnet

#71228 GDScript: Fix temp values being written without proper clear
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/tests/scripts/runtime/features/does_not_override_temp_values.gd
  modules/gdscript/tests/scripts/runtime/features/does_not_override_temp_values.out
Labels: bug, topic:gdscript, crash, regression
