Repository godotengine/godot, pull requests merged in 2024-12, with the labels that each got.

#99036 [Windows] Rename `PKEY_Device_FriendlyName` to avoid duplicate symbols with newer MinGW SDKs.
  drivers/wasapi/audio_driver_wasapi.cpp
Labels: bug, platform:windows, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3, cherrypick:3.6

#99481 [RTL] Add tooltip support to meta/url tag.
  doc/classes/RichTextLabel.xml
  misc/extension_api_validation/4.2-stable_4.3-stable.expected
  misc/extension_api_validation/4.3-stable.expected
  scene/gui/rich_text_label.compat.inc
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#99708 Fix RTL visuals for sliders
  scene/gui/slider.cpp
Labels: bug, topic:gui

#99726 Add test for NavigationServer path simplification
  tests/servers/test_navigation_server_3d.h
Labels: enhancement, topic:navigation, topic:tests

#99752 [MP] Move OfflineMultiplayerPeer docs to the module
  modules/multiplayer/config.py
  modules/multiplayer/doc_classes/OfflineMultiplayerPeer.xml
Labels: bug, documentation, topic:multiplayer

#99759 Fix AudioStreamPlayer2D/3D's `get_playback_position` returning `0` right after calling `seek`
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
Labels: bug, topic:audio

#99815 Move StringName `!=` operator to the header file to make it inlineable.
  core/string/string_name.cpp
  core/string/string_name.h
Labels: enhancement, topic:core

#99882 Add horizontal center for ColorPicker buttons
  scene/gui/color_picker.cpp
Labels: bug, topic:editor, topic:gui

#99901 Fix `GodotSpace3D::test_body_motion()` not setting `local_shape`
  modules/godot_physics_3d/godot_space_3d.cpp
Labels: bug, topic:physics, topic:3d, cherrypick:4.2, cherrypick:4.3

#99915 [Label] Fix min. width
  scene/gui/label.cpp
Labels: bug, regression, topic:gui

#93819 Check device texture size limits in `RenderingDevice::texture_create`
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering, cherrypick:4.3

#97158 [Tree] Allow disabling auto generated tooltip for `TreeItem`
  doc/classes/Tree.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:gui

#98401 Prioritize proximity to green arrow when selecting overlapping transitions in AnimationNodeStateMachine
  editor/plugins/animation_state_machine_editor.cpp
Labels: enhancement, topic:editor, topic:animation

#98402 Reduce opacity of nodes with no shared transition when selecting an AnimationNodeStateMachine node
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
  editor/themes/editor_theme_manager.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
Labels: enhancement, topic:editor, topic:animation

#98533 Adjust `make_rst.py` for GDScript documentation
  doc/tools/make_rst.py
  modules/gdscript/editor/gdscript_docgen.cpp
Labels: bug, enhancement, topic:buildsystem, topic:gdscript

#98657 Add editor setting to stop the bottom panel from switching to the Stack Trace
  doc/classes/EditorSettings.xml
  editor/debugger/script_editor_debugger.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor

#98739 [Editor] Copy encryption and script settings on export preset duplication.
  editor/export/project_export.cpp
Labels: bug, topic:editor, topic:export

#98744 Docs: Standardize names and terms for renderers
  doc/classes/CubemapArray.xml
  doc/classes/DisplayServer.xml
  doc/classes/LightmapGI.xml
  doc/classes/LightmapperRD.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  doc/classes/VisualShaderNodeDerivativeFunc.xml
Labels: enhancement, documentation

#98778 Add copy button to toast notification
  editor/gui/editor_toaster.cpp
  editor/gui/editor_toaster.h
Labels: enhancement, topic:editor, usability

#98914 Support extension icons in ScriptCreateDialog
  editor/script_create_dialog.cpp
Labels: bug, topic:editor, topic:gdextension, cherrypick:4.2, cherrypick:4.3

#98917 Android: Fix immersive mode issue
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
Labels: bug, platform:android, topic:porting

#99110 [Linux] Use safe IDs for native file dialog options. Show extensions in export dialog.
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
Labels: bug, enhancement, platform:linuxbsd, topic:editor, topic:porting, topic:export, cherrypick:4.3

#99669 Fix root window size bug on `Android`
  scene/main/window.cpp
Labels: bug, platform:android, topic:rendering, topic:porting, cherrypick:4.3

#99736 Add C# examples to PropertyTweener docs
  doc/classes/PropertyTweener.xml
Labels: enhancement, documentation

#99822 Allow copy/select shortcuts when `editable` is false in `LineEdit`
  scene/gui/line_edit.cpp
Labels: bug, topic:input, regression, topic:gui

#99846 Check if EditorNode exists before trying to generate preview
  editor/editor_interface.cpp
Labels: bug, topic:editor

#95511 Reshape and update button on oversampling change.
  scene/gui/button.cpp
Labels: bug, topic:gui, cherrypick:4.3

#98608 [Misc] Check for the available and installed Vulkan SDK versions before downloading and installing.
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: enhancement, platform:macos, topic:buildsystem

#99051 [iOS] Add options to specify additional entitlements and capabilities in the export settings.
  misc/dist/ios_xcode/godot_ios/godot_ios.entitlements
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
Labels: enhancement, platform:ios, topic:editor, topic:export

#99488 [TextServer] Fix some line breaking edge cases.
  servers/text_server.cpp
  servers/text_server.h
  tests/servers/test_text_server.h
Labels: bug, topic:gui

#99642 [macOS] Use native window drag for the custom editor title bars.
  doc/classes/DisplayServer.xml
  editor/gui/editor_title_bar.cpp
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, platform:macos, topic:porting, topic:gui

#99644 Change file dialog all files filter name from `All Files (*)` to `All Files (*.*)`.
  doc/classes/EditorFileDialog.xml
  editor/gui/editor_file_dialog.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
Labels: bug, platform:windows, topic:porting

#99652 [Windows] Fix root and current folder in native file dialog.
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: bug, platform:windows, topic:porting

#99665 [RTL] Fix clearing text with `set_text("")`.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#99668 [RTL] Parse "\r\n" as a single paragraph break, add some documentation notes.
  doc/classes/RichTextLabel.xml
  doc/classes/TextServer.xml
  scene/gui/rich_text_label.cpp
Labels: enhancement, documentation, topic:gui

#99704 Fix orphan strings in shader preprocessor
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Labels: bug, topic:shaders

#99900 Betsy: Update docs to reflect BC3 and BC5
  doc/classes/ProjectSettings.xml
Labels: bug, documentation

#73973 RegEx: Fix handling of unset/unknown capture groups
  modules/regex/regex.cpp
  modules/regex/regex.h
  modules/regex/tests/test_regex.h
Labels: bug, topic:core

#93831 Add runtime file loading to `AudioStreamWAV`
  doc/classes/AudioStreamWAV.xml
  editor/import/resource_importer_wav.cpp
  editor/import/resource_importer_wav.h
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
  servers/audio/effects/audio_effect_record.cpp
Labels: enhancement, topic:audio, topic:import

#98383 Deprecate the pointless unsafe threading model for rendering
  core/config/project_settings.cpp
  core/io/resource_loader.cpp
  core/os/os.h
  main/main.cpp
  platform/macos/os_macos.mm
Labels: enhancement, topic:rendering

#98397 Add temp utilities (alias `OS::get_temp_dir()`, `FileAccess::create_temp()`, and `DirAccess::create_temp()`)
  core/core_bind.cpp
  core/core_bind.h
  core/io/dir_access.cpp
  core/io/dir_access.h
  core/io/file_access.cpp
  core/io/file_access.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/DirAccess.xml
  doc/classes/FileAccess.xml
  doc/classes/OS.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  editor/editor_paths.cpp
  editor/editor_paths.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/ios/os_ios.h
  platform/ios/os_ios.mm
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, platform:linuxbsd, platform:web, platform:ios, platform:android, platform:macos, topic:core, topic:porting

#98812 [macOS] Handle bundles as files in the embedded file dialogs.
  core/io/dir_access.cpp
  core/io/dir_access.h
  doc/classes/DirAccess.xml
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  platform/macos/dir_access_macos.h
  platform/macos/dir_access_macos.mm
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Labels: enhancement, platform:macos, topic:porting

#99164 [Export] Write text server data from memory, instead of using temporary file.
  doc/classes/EditorExportPlatform.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: enhancement, topic:editor, topic:export

#99310 Android: Set default ACCESS_FILESYSTEM root
  scene/gui/file_dialog.cpp
Labels: enhancement, platform:android, topic:gui

#99325 Add a code sample that extracts all files to ZIPReader documentation
  doc/classes/PCKPacker.xml
  modules/zip/doc_classes/ZIPPacker.xml
  modules/zip/doc_classes/ZIPReader.xml
Labels: enhancement, documentation, cherrypick:4.3

#99371 Implement `DisplayServer.beep`.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
  thirdparty/README.md
  thirdparty/wayland-protocols/staging/xdg-system-bell/README
  thirdparty/wayland-protocols/staging/xdg-system-bell/xdg-system-bell-v1.xml
Labels: enhancement, feature proposal, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#99378 Android: Refactor icon logic and make monochrome icon optional
  platform/android/export/export_plugin.cpp
  platform/android/java/lib/res/mipmap-anydpi-v26/icon.xml
  platform/android/java/lib/res/mipmap-anydpi-v26/themed_icon.xml
Labels: enhancement, platform:android, topic:export, cherrypick:4.3

#99480 Improve appearance of external links in built-in docs
  editor/editor_help.cpp
Labels: enhancement, topic:editor, documentation

#99564 Add `get_connection_count` function to `GraphEdit`
  doc/classes/GraphEdit.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: enhancement, topic:gui

#99595 Fix native file dialog filter selection in save dialogs.
  editor/gui/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Labels: bug, topic:porting, topic:gui

#99716 Restore dirty list for BaseMaterial3D but don't use it on resource loader.
  scene/register_scene_types.cpp
  scene/resources/material.cpp
  scene/resources/material.h
Labels: bug, topic:core, topic:rendering, regression

#99720 Fix vsync on macOS getting disabled when using `afterMinimumDuration`
  drivers/metal/rendering_context_driver_metal.mm
Labels: bug, platform:macos, topic:rendering, regression

#99776 Strip any trailing slashes when reading the default project path
  editor/project_manager/project_dialog.cpp
Labels: bug, topic:editor

#99834 Ensure `parse_utf8` has length of string passed in when available
  core/config/project_settings.cpp
  core/io/file_access.cpp
  core/io/file_access_pack.cpp
  core/io/http_client_tcp.cpp
  core/io/resource_format_binary.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_cache.cpp
  modules/mono/utils/string_utils.cpp
  platform/android/export/export_plugin.cpp
  platform/windows/windows_utils.cpp
Labels: enhancement, topic:core, performance

#99847 Destroy EditorFilesystem/EditorSettings on test shutdown
  editor/editor_file_system.cpp
  editor/editor_paths.cpp
  tests/test_main.cpp
Labels: bug, topic:editor, topic:tests

#99905 Metal: Ensure `texture_create_from_extension` returns correct pixel format
  drivers/metal/rendering_device_driver_metal.mm
Labels: enhancement, topic:rendering

#99919 [FileAccess] Set `last_error` on file read/write errors.
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
Labels: enhancement, topic:core

#99941 Fix Occlusion culling jitter
  modules/raycast/raycast_occlusion_cull.cpp
Labels: bug, topic:rendering

#99957 Editor: Fix default preview environment sky's horizon and brightness.
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:rendering, topic:editor

#99969 Adjust VoxelGI gizmo opacity
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
Labels: enhancement, topic:editor, topic:3d

#97469 Remove verbose prints from CameraServer on Linux due to being printed every second
  modules/camera/camera_linux.cpp
Labels: enhancement, platform:linuxbsd, topic:porting

#99861 Fix language server causing random crashes when `use_threads` is enabled
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
Labels: bug, topic:gdscript, topic:editor, crash

#100013 [4.2] mbedtls: Update to upstream version 2.28.9
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/config.h
  thirdparty/mbedtls/include/mbedtls/ecdh.h
  thirdparty/mbedtls/include/mbedtls/ecp.h
  thirdparty/mbedtls/include/mbedtls/version.h
  thirdparty/mbedtls/library/common.h
  thirdparty/mbedtls/library/entropy_poll.c
  thirdparty/mbedtls/library/oid.c
  thirdparty/mbedtls/library/ssl_msg.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/x509_crt.c
  thirdparty/mbedtls/patches/windows-entropy-bcrypt.diff
Labels: bug, topic:thirdparty, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:3.6

#99712 Fix UID support in MultiplayerSpawner
  core/io/resource_uid.cpp
  modules/multiplayer/multiplayer_spawner.cpp
  modules/multiplayer/multiplayer_spawner.h
Labels: bug, regression, topic:multiplayer

#99988 Fix Inspector tooltips are blinking
  platform/windows/display_server_windows.cpp
Labels: bug, topic:editor, regression

#99990 Fix FileSystem dock filter reset when tree rebuilds
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#100012 Don't navigate to path when file is double-clicked
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor, regression, performance, cherrypick:4.3

#97328 Prevent infinite recursion in first `_draw`
  scene/main/node.cpp
Labels: bug, topic:gui, cherrypick:4.3

#99540 Core: Do not generate `*.uid` files for JSON, certificates, and translations
  core/crypto/crypto.h
  core/io/json.h
  core/io/translation_loader_po.h
Labels: bug, topic:core, topic:editor, regression

#99983 Codestyle improvements in style_box_flat.cpp
  scene/resources/style_box_flat.cpp
Labels: enhancement, topic:codestyle

#93896 [4.3] Add documentation note on Object's boolean context
  doc/classes/Object.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#98877 [4.3] GLTF: Preserve node visibility on import
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.h
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
Labels: bug, topic:import, topic:3d

#98878 [4.2] GLTF: Preserve node visibility on import
  editor/import/resource_importer_scene.cpp
  editor/import/scene_import_settings.cpp
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
Labels: bug, topic:import, topic:3d

#98879 [4.1] GLTF: Preserve node visibility on import
  editor/import/resource_importer_scene.cpp
  editor/import/scene_import_settings.cpp
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
Labels: bug, topic:import, topic:3d

#99987 Fix extensions when saving resource as
  editor/editor_node.cpp
Labels: bug, topic:editor

#100016 Optimize `_camelcase_to_underscore` (and thus `String.capitalize`)
  core/string/ustring.cpp
Labels: enhancement, topic:core, performance

#100022 `TestAudioStreamWAV`: use runtime load instead of importer
  tests/scene/test_audio_stream_wav.h
Labels: enhancement, topic:audio, topic:tests

#100027 Fix UI inconsistencies in `EditorFileDialog`'s toolbar
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
Labels: enhancement, topic:editor

#100030 Fix vertical alignment of the main menu bar
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#100047 Make Godot compile on `FreeBSD`
  modules/camera/config.py
  modules/openxr/SCsub
  platform/linuxbsd/wayland/wayland_thread.cpp
  thirdparty/linuxbsd_headers/alsa/asoundlib.h
  thirdparty/linuxbsd_headers/alsa/patches/freebsd_endian.diff
Labels: bug, platform:linuxbsd, topic:buildsystem, cherrypick:4.3

#100053 Change default Arabic font to Vazirmatn.
  COPYRIGHT.txt
  editor/themes/editor_fonts.cpp
  tests/servers/test_text_server.h
  thirdparty/README.md
  thirdparty/fonts/LICENSE.Vazirmatn.txt
  thirdparty/fonts/NotoNaskhArabicUI_Bold.woff2
  thirdparty/fonts/NotoNaskhArabicUI_Regular.woff2
  thirdparty/fonts/Vazirmatn_Bold.woff2
  thirdparty/fonts/Vazirmatn_Regular.woff2
Labels: enhancement, topic:editor, topic:gui

#100058 Add texture limits for D3D12 Driver.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Labels: bug, platform:windows, topic:rendering

#100060 Fixed occlusion culling buffer getting overwritten in larger scenes
  modules/raycast/raycast_occlusion_cull.cpp
Labels: bug, topic:rendering, regression

#100064 Correctly check time since shadow was allocated in atlas to avoid unnecessary re-allocations
  drivers/gles3/storage/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
Labels: bug, topic:rendering, regression, performance, cherrypick:4.3

#76231 Show String properties' text in a tooltip in the inspector
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
Labels: enhancement, topic:editor, usability

#94193 Add ability to include built-in include files
  doc/classes/ShaderIncludeDB.xml
  servers/register_server_types.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shaders/SCsub
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_binds.cpp
  servers/rendering/shader_include_db.cpp
  servers/rendering/shader_include_db.h
Labels: enhancement, topic:rendering, topic:shaders

#96346 Use `qoa.c` and custom compress procedure
  scene/resources/SCsub
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
  servers/audio/effects/audio_effect_record.cpp
  thirdparty/README.md
  thirdparty/misc/patches/qoa-min-fix.patch
  thirdparty/misc/qoa.c
  thirdparty/misc/qoa.h
Labels: enhancement, topic:audio, topic:import, performance

#96735 [RTL] Fix indent in tables and tables in indent.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#98506 Fix linux builds with separate debug symbols file when there is a space in the path.
  platform/linuxbsd/platform_linuxbsd_builders.py
Labels: bug, platform:linuxbsd, topic:buildsystem

#99136 Improve performance of shader lighting code in Forward renderers.
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: enhancement, topic:rendering, topic:3d, performance

#99186 Fix `fade_beats` defined as `int` in `audio_stream_interactive.h`
  modules/interactive_music/audio_stream_interactive.h
Labels: bug, topic:audio

#99327 Implement `AudioStreamSynchronized::get_bar_beats()`, fix division by zero
  modules/interactive_music/audio_stream_interactive.cpp
  modules/interactive_music/audio_stream_synchronized.cpp
  modules/interactive_music/audio_stream_synchronized.h
Labels: bug, enhancement, topic:audio

#99817 Use `strlen()` 3 times instead of custom length check implementations in ustring
  core/string/ustring.cpp
Labels: enhancement, topic:core

#99920 Clean up UI of ReflectionProbe
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
Labels: enhancement, topic:editor, topic:3d

#99947 Ignore `__MACOSX` directory for export template and project ZIPs
  editor/export/export_template_manager.cpp
  editor/project_manager/project_dialog.cpp
Labels: enhancement, platform:macos, topic:editor

#99959 Print better manifold errors and avoid crash on non manifold csg input.
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGShape3D.xml
  thirdparty/README.md
  thirdparty/manifold/src/constructors.cpp
  thirdparty/manifold/src/csg_tree.cpp
  thirdparty/manifold/src/csg_tree.h
  thirdparty/manifold/src/impl.cpp
  thirdparty/manifold/src/iters.h
  thirdparty/manifold/src/parallel.h
  thirdparty/manifold/src/properties.cpp
Labels: bug, regression, topic:3d

#99978 Add specialization for directional light split blend and fog to mobile renderer.
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.h
Labels: enhancement, topic:rendering, topic:3d, performance

#99982 Ignore custom tooltip if its text is empty in signals tab
  editor/connections_dialog.cpp
Labels: bug, topic:editor

#99999 ufbx: Update to upstream 0.15.0
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Labels: enhancement, topic:thirdparty

#100010 Don't rebuild tree when navigating to path
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, performance

#100015 Optimize `String::is_valid_filename()` and `String::validate_filename()`
  core/string/ustring.cpp
Labels: enhancement, topic:core, performance

#100028 Use a vector instead of an array in canvas shader instance buffer
  servers/rendering/renderer_rd/shaders/canvas_uniforms_inc.glsl
Labels: bug, topic:rendering, regression, performance

#99960 Fix `TCPServer` "Should disconnect client" test
  tests/core/io/test_tcp_server.h
Labels: bug, topic:tests

#91604 Save color palette as resources to reuse later
  doc/classes/ColorPalette.xml
  doc/classes/ColorPicker.xml
  editor/editor_node.cpp
  editor/editor_node.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/register_scene_types.cpp
  scene/resources/color_palette.cpp
  scene/resources/color_palette.h
  scene/theme/default_theme.cpp
  scene/theme/icons/clear.svg
  scene/theme/icons/load.svg
  scene/theme/icons/save.svg
Labels: enhancement, topic:editor, topic:gui

#98032 Fix incorrect drag preview position under transformed `CanvasLayer`.
  scene/main/viewport.cpp
Labels: bug, topic:input, topic:gui, cherrypick:4.3

#98443 Fix Control `offset_*` property types
  misc/extension_api_validation/4.3-stable.expected
  scene/gui/control.cpp
Labels: bug, enhancement, breaks compat, topic:gui

#98545 Fix generic arrays and dictionaries in .NET not calling `set_typed`
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotObject.base.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/InteropStructs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/ReflectionUtils.cs
  modules/mono/glue/runtime_interop.cpp
Labels: bug, topic:dotnet

#99168 SpinLock: Overhaul false sharing prevention
  core/os/spin_lock.h
Labels: bug, topic:core, crash, cherrypick:4.3

#99816 Optimize `String::copy_from` and `String::copy_from_unchecked` implementations, improving String allocation speed.
  core/string/ustring.cpp
Labels: enhancement, topic:core

#99860 basis_universal: Clarify encoder-only dependencies, only used in editor builds
  modules/basis_universal/SCsub
  modules/basis_universal/config.py
Labels: enhancement, topic:buildsystem

#99871 Windows: Fix underflow before `delay_usec`
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:core

#99974 Optimize Occlusion culling jitter
  modules/raycast/raycast_occlusion_cull.cpp
  modules/raycast/raycast_occlusion_cull.h
Labels: enhancement, topic:rendering

#99984 Move singleton StringName definitions to header
  core/core_string_names.cpp
  core/core_string_names.h
  editor/editor_string_names.cpp
  editor/editor_string_names.h
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Labels: enhancement, topic:core, topic:codestyle

#99992 Fix for `RuntimeNodeSelect` `selection_list` showing up as an orphaned node when editor is open during runtime
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Labels: bug, topic:editor

#100006 Hide `NavigationRegion2D`'s debug instance instead of freeing it, and hide it when `navigation_polygon` is set to null.
  scene/2d/navigation_region_2d.cpp
  scene/2d/navigation_region_2d.h
Labels: bug, topic:navigation

#100020 Mend gaps in meshes caused by trigonometric funcs.
  modules/csg/csg_shape.cpp
  scene/resources/3d/primitive_meshes.cpp
Labels: bug, topic:3d

#100044 Fix discarded input event metadata in `xformed_by`
  core/input/input_event.cpp
Labels: bug, topic:input

#100065 Clear AABB when Mesh is cleared
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, performance

#100075 Fix handling of leading `..` in simplify_path
  core/string/ustring.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core, cherrypick:4.3

#100105 Fix avoidance dirty flag regression
  modules/navigation/nav_map.cpp
Labels: bug, crash, regression, topic:navigation

#100128 Avoid error spam when shaders fail to compile by freeing shader_data version when compilation fails
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, regression, topic:shaders

#100140 thorvg: Regenerate and apply patches
  thirdparty/README.md
  thirdparty/thorvg/patches/pr2740-renderer-crash-hotfix.patch
  thirdparty/thorvg/patches/revert-tvgLines-bezier-precision-change.patch
  thirdparty/thorvg/src/common/tvgMath.cpp
Labels: bug, enhancement, topic:buildsystem

#100167 Fix crash within header_guards when a file is too short
  misc/scripts/header_guards.py
Labels: bug, topic:buildsystem

#76020 GDScript: Add `@warning_ignore_start` and `@warning_ignore_restore` annotations
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/features/hard_variants.gd
  modules/gdscript/tests/scripts/analyzer/features/type_test_usage.gd
  modules/gdscript/tests/scripts/analyzer/features/typed_array_usage.gd
  modules/gdscript/tests/scripts/analyzer/features/typed_dictionary_usage.gd
  modules/gdscript/tests/scripts/analyzer/features/vararg_call.gd
  modules/gdscript/tests/scripts/analyzer/features/warning_ignore_targets.out
  modules/gdscript/tests/scripts/analyzer/warnings/shadowning.gd
  modules/gdscript/tests/scripts/analyzer/warnings/shadowning.out
  modules/gdscript/tests/scripts/parser/errors/warning_ignore_extra_start.gd
  modules/gdscript/tests/scripts/parser/errors/warning_ignore_extra_start.out
  modules/gdscript/tests/scripts/parser/errors/warning_ignore_restore_without_start.gd
  modules/gdscript/tests/scripts/parser/errors/warning_ignore_restore_without_start.out
  modules/gdscript/tests/scripts/parser/features/arrays_dictionaries_nested_const.gd
  modules/gdscript/tests/scripts/parser/features/signal_declaration.gd
  modules/gdscript/tests/scripts/parser/features/warning_ignore_regions.gd
  modules/gdscript/tests/scripts/parser/features/warning_ignore_regions.out
  modules/gdscript/tests/scripts/runtime/features/assign_operator.gd
  modules/gdscript/tests/scripts/runtime/features/member_info.gd
Labels: enhancement, topic:gdscript, topic:editor

#81714 Add 3D translation sensitivity to Editor Settings
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#98118 Add support for 24-bit color escape sequences, simplify `print_rich` BBCode parsing.
  core/string/print_string.cpp
  doc/classes/@GlobalScope.xml
Labels: enhancement, topic:core, performance

#87375 Export `EditorInspector::instantiate_property_editor` for use by plugins
  doc/classes/EditorInspector.xml
  doc/classes/EditorProperty.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: enhancement, topic:editor, topic:plugin

#88950 [macOS, Windows] Add support for excluding windows from a screenshot.
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, topic:porting, topic:gui

#96771 Avoid calculating dynamic lights when lights are already baked using the static bake mode in the Forward+ renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering, topic:3d

#96773 [Editor] Use toast (notification) instead of dialog when saving with no open scene
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#98675 Fix certain editor plugins not showing when they should
  editor/editor_node.cpp
Labels: bug, topic:editor

#99257 Improvements from TheForge
  doc/classes/ProjectSettings.xml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
  thirdparty/vulkan/patches/0003-VMA-add-vmaCalculateLazilyAllocatedBytes.patch
  thirdparty/vulkan/vk_mem_alloc.h
Labels: enhancement, topic:rendering, performance

#99397 Allow `apply_floor_snap` to preserve the horizontal position regardless of `stop_on_slopes`
  scene/2d/physics/character_body_2d.cpp
  scene/3d/physics/character_body_3d.cpp
Labels: bug, topic:physics

#99633 Fix underscore input not working with jp106 keyboard on wayland platform
  platform/linuxbsd/wayland/wayland_thread.cpp
Labels: bug, platform:linuxbsd, topic:input

#99695 Fix argument error when restarting project by executing Project -> Tools -> Upgrade Mesh Surface
  editor/surface_upgrade_tool.cpp
Labels: bug, topic:editor, regression

#99765 Core: Fix `JSON.{from,to}_native()` issues
  core/io/json.cpp
  core/io/json.h
  core/io/marshalls.cpp
  core/math/expression.cpp
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  doc/classes/JSON.xml
  editor/editor_autoload_settings.cpp
  modules/gdscript/gdscript_editor.cpp
  tests/core/io/test_json_native.h
Labels: bug, topic:core

#99775 Optimize StringBuilder by using `LocalVector` instead of `Vector`.
  core/string/string_builder.cpp
  core/string/string_builder.h
Labels: enhancement, topic:core, performance

#99887 Improve misleading `Unexpected "x" in class body.` GDScript parser error
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
  modules/gdscript/tests/scripts/parser/errors/unexpected_token_in_class_body.gd
  modules/gdscript/tests/scripts/parser/errors/unexpected_token_in_class_body.out
Labels: bug, topic:gdscript

#99902 C#: Fix warnings caught by new problem-matchers
  .github/workflows/linux_builds.yml
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGenerator.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/ReflectionUtils.cs
Labels: enhancement, topic:buildsystem, topic:dotnet

#100001 Increase the size of the uniform set cache to 4096 to avoid cache thrashing from projects with high numbers of unique textures
  doc/classes/ProjectSettings.xml
  servers/rendering_server.cpp
Labels: bug, topic:rendering, regression, performance

#100041 Optimize String.similarity by avoiding allocation for bigrams.
  core/string/ustring.cpp
Labels: enhancement, topic:core, performance

#100049 [Scene] Add `SceneStringName::FlatButton`
  editor/debugger/script_editor_debugger.cpp
  editor/editor_audio_buses.cpp
  editor/editor_help_search.cpp
  editor/editor_log.cpp
  editor/gui/editor_file_dialog.cpp
  editor/node_dock.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/game_view_plugin.cpp
  editor/plugins/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/plugins/lightmap_gi_editor_plugin.cpp
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/occluder_instance_3d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/physical_bone_3d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/tiles/tile_data_editors.cpp
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/voxel_gi_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/themes/editor_theme_manager.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/multiplayer/editor/replication_editor.cpp
  modules/navigation/editor/navigation_mesh_editor_plugin.cpp
  scene/gui/file_dialog.cpp
  scene/gui/graph_edit.cpp
  scene/scene_string_names.h
  scene/theme/default_theme.cpp
Labels: enhancement, topic:core

#100081 Ensure schlick is available when using clearcoat with GGX
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:rendering, regression

#100150 Use temp dirs instead of cache dirs for export
  editor/export/codesign.cpp
  editor/export/editor_export_platform.cpp
  platform/android/export/export_plugin.cpp
  platform/ios/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.cpp
  platform/macos/export/export_plugin.cpp
  platform/web/export/editor_http_server.cpp
  platform/web/export/export_plugin.cpp
  platform/windows/export/export_plugin.cpp
Labels: bug, platform:linuxbsd, topic:export

#100207 [Windows] Fix MinGW debug symbols.
  SConstruct
  platform/windows/crash_handler_windows_signal.cpp
Labels: bug, platform:windows, topic:buildsystem, topic:porting

#100210 SCons: Unconditionally use `env.Decider("MD5-timestamp")`
  SConstruct
Labels: enhancement, topic:buildsystem, performance, cherrypick:4.3

#100218 [Debugger] Fix scene debugger crash when editor shortcuts are invalid
  scene/debugger/scene_debugger.cpp
Labels: bug, topic:core, crash

#100222 Fix incorrect return value on partial coverage detection.
  servers/rendering/rendering_device_graph.cpp
Labels: bug, topic:rendering, regression, performance

#100245 [Web] Restore ScriptProcessorNode audio driver fallback
  platform/web/audio_driver_web.cpp
  platform/web/audio_driver_web.h
  platform/web/js/libs/library_godot_audio.js
  platform/web/os_web.cpp
Labels: bug, platform:web, topic:porting, topic:audio

#100247 Consider all texture types for resource thumbnail generation
  editor/plugins/editor_preview_plugins.cpp
Labels: bug, topic:editor, topic:import, regression
