Repository godotengine/godot, pull requests merged in 2024-05, with the labels that each got.

#91372 Enable tangents in blend shape format when using normals
  servers/rendering_server.cpp
Labels: bug, topic:rendering, topic:import, regression, topic:3d, cherrypick:4.2

#91376 Update the description and parameter name for Vector3 reflect to correct how the plane is constructed
  core/variant/variant_call.cpp
  doc/classes/Vector3.xml
Labels: bug, documentation

#91192 GDScript: Perform validated calls with static methods
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/call_native_static_method_validated.gd
  modules/gdscript/tests/scripts/runtime/features/call_native_static_method_validated.out
Labels: enhancement, topic:gdscript

#91223 Fix particle cylinder emission shape random distribution
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Labels: bug, topic:3d, topic:particles

#91313 Update Variant documentation comment about `class_name`
  doc/classes/Variant.xml
Labels: enhancement, documentation

#91330 Document 0, 90, 180, and 270 degree TileMap cell rotations
  doc/classes/TileSetAtlasSource.xml
Labels: enhancement, documentation, cherrypick:4.2

#91339 Fix for Android build on Windows
  platform/android/SCsub
Labels: bug, platform:windows, platform:android, topic:buildsystem

#91344 Fix SDFGI being used in unshaded debug draw
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.2

#91368 C#: Ignore late bound methods in MustBeVariantAnalyzer
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/MustBeVariant.GD0301.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/MustBeVariantAnalyzer.cs
Labels: bug, topic:dotnet

#91379 Remove code duplication for adding global script class
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor, topic:codestyle

#90760 CommandQueueMT: Optimize & fix handling of sync/ret commands
  core/templates/command_queue_mt.cpp
  core/templates/command_queue_mt.h
Labels: bug, enhancement, topic:core

#90892 Prevent expanding output port in visual shader expression
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:editor, topic:shaders

#90960 Make seeking animation playback track consider internal seeking
  scene/animation/animation_mixer.cpp
Labels: bug, regression, topic:animation, cherrypick:4.2

#89588 [StatusIndicator] Switch API to use Texture2D instead of Image, improve handling on macOS, add method to set native popup menu directly.
  doc/classes/DisplayServer.xml
  doc/classes/StatusIndicator.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_status_item.h
  platform/macos/godot_status_item.mm
  platform/macos/native_menu_macos.h
  platform/macos/native_menu_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/status_indicator.cpp
  scene/main/status_indicator.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, breaks compat, topic:gui

#89647 [Core] Fix property access on read-only `Dictionary`
  core/variant/variant_setget.cpp
  modules/gdscript/tests/scripts/runtime/errors/read_only_dictionary.gd
  modules/gdscript/tests/scripts/runtime/errors/read_only_dictionary.out
Labels: bug, topic:core, cherrypick:4.2

#89734 OpenXR: Change timing of xrWaitFrame and fix XR multithreading issues
  doc/classes/RenderingServer.xml
  doc/classes/XRServer.xml
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  scene/main/viewport.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
  servers/xr/xr_interface.h
  servers/xr_server.cpp
  servers/xr_server.h
Labels: bug, topic:rendering, topic:xr

#85609 Add premult alpha blending to 3D (spatial) shaders
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Labels: enhancement, topic:rendering, topic:3d

#85189 Correctly emit sub-emitter's emission at the end
  scene/resources/particle_process_material.cpp
Labels: bug, topic:particles, cherrypick:4.2

#91369 Add more Remote Debug options to the web platform
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
Labels: enhancement, platform:web, topic:editor, usability, topic:export

#91393 Remove text saying low processor mode only works on desktop
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation

#91396 Fix crash when switching main screen from a disabled plugin main screen if code editor is floating.
  editor/editor_node.cpp
Labels: bug, topic:editor, crash

#91400 Remove unused variable `Viewport::gui.last_mouse_focus`
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:codestyle

#91407 Ensure `--doctool` is run from root directory
  main/main.cpp
Labels: enhancement, topic:editor

#91414 Ensure global shader sampler parameters are initialized when loading
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Labels: bug, topic:rendering

#91415 Minor `PackedScene` documentation improvements
  doc/classes/PackedScene.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#91417 CI: Speedup `pre-commit` static check
  .github/workflows/static_checks.yml
Labels: enhancement, topic:buildsystem

#89648 [GDScript] Correctly report invalid read-only access
  core/variant/variant.cpp
  core/variant/variant.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/errors/constant_array_is_deep.out
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_is_deep.out
  modules/gdscript/tests/scripts/runtime/errors/read_only_dictionary.out
Labels: enhancement, topic:gdscript

#91399 Revert premul alpha to spell without the T
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Labels: bug, topic:core, documentation

#91436 Avoid switch statement in particles shader to workaround shader compiler crash on Apple silicon devices
  drivers/gles3/shaders/particles_copy.glsl
Labels: bug, topic:rendering, crash, cherrypick:4.1

#91426 Fix typo in shader breaking gles3
  drivers/gles3/shaders/scene.glsl
Labels: bug, enhancement, topic:rendering, regression

#91375 C#: Fix generator crash w/ generic arrays
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ScriptPropertiesGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/AbstractGenericNode(Of T)_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/AbstractGenericNode.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
Labels: bug, topic:dotnet

#91425 Make `mouse_focus` and `mouse_focus_mask` consistent for force_drag
  scene/main/viewport.cpp
Labels: bug, topic:input, crash, topic:gui, cherrypick:4.2

#91446 Fix incorrect example in the documentation for the `expand` method in `Rect2`
  doc/classes/Rect2.xml
  doc/classes/Rect2i.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#91127 Deprecate unused parameter `angular_limit/softness` in `HingeJoint3D`
  doc/classes/HingeJoint3D.xml
Labels: enhancement, topic:physics, topic:3d

#91188 Fix `TabContainer` regressions related to switching tabs in certain cases
  scene/gui/tab_container.cpp
Labels: bug, regression, topic:gui

#90608 Enable `EditorPlugin` added by modules and GDExtensions
  editor/editor_node.cpp
Labels: enhancement, topic:editor, topic:gdextension

#89426 BasisUniversal: Fix artifacts on images with resolutions not divisible by 4
  modules/basis_universal/image_compress_basisu.cpp
Labels: bug, topic:import

#81533 Add support for OpenXR hand interaction extension
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_hand_interaction_extension.cpp
  modules/openxr/extensions/openxr_hand_interaction_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/register_types.cpp
Labels: enhancement, usability, topic:xr, topic:input

#91098 [RTL] Add extra argument to `remove_paragraph` to skip cache invalidation and a method for manual cache invalidation.
  doc/classes/RichTextLabel.xml
  misc/extension_api_validation/4.2-stable.expected
  scene/gui/rich_text_label.compat.inc
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#88763 Image: Add static `is_format_compressed` function.
  core/io/image.cpp
  core/io/image.h
  modules/astcenc/image_compress_astcenc.cpp
  modules/basis_universal/image_compress_basisu.cpp
  modules/cvtt/image_compress_cvtt.cpp
  modules/etcpak/image_compress_etcpak.cpp
Labels: enhancement, topic:core

#80223 Expose `Vector*` component-wise and scalar `min/max` to scripting
  core/variant/variant_call.cpp
  doc/classes/@GlobalScope.xml
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/Vector4.xml
  doc/classes/Vector4i.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Aabb.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4I.cs
Labels: enhancement, topic:core, topic:gdscript, topic:dotnet

#91412 GDScript: Fix access non-static members in static context
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/static_func_access_non_static.gd
  modules/gdscript/tests/scripts/analyzer/errors/static_func_access_non_static.out
  modules/gdscript/tests/scripts/analyzer/errors/static_func_access_non_static_in_lambda_param.gd
  modules/gdscript/tests/scripts/analyzer/errors/static_func_access_non_static_in_lambda_param.out
  modules/gdscript/tests/scripts/analyzer/errors/static_func_call_non_static.out
  modules/gdscript/tests/scripts/analyzer/errors/static_func_call_non_static_in_lambda.out
  modules/gdscript/tests/scripts/analyzer/errors/static_func_call_non_static_in_lambda_param.out
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_access_non_static_in_lambda.gd
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_access_non_static_in_lambda.out
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_access_non_static_in_lambda_setter.gd
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_access_non_static_in_lambda_setter.out
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_call_non_static_in_lambda_setter.out
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_non_static_access.gd
  modules/gdscript/tests/scripts/analyzer/errors/static_var_init_non_static_access.out
  modules/gdscript/tests/scripts/analyzer/features/static_non_static_access.gd
  modules/gdscript/tests/scripts/analyzer/features/static_non_static_access.out
Labels: bug, topic:gdscript

#91423 Fix outdated `AudioEffectSpectrumAnalyzer` documentation
  doc/classes/AudioEffectSpectrumAnalyzer.xml
Labels: enhancement, documentation, cherrypick:4.2

#91457 Fix TextEdit crash with multiple carets disabled and paste
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.h
Labels: bug, crash, topic:gui

#90742 Change update checker version source
  doc/classes/EditorSettings.xml
  editor/engine_update_label.cpp
Labels: enhancement, topic:editor

#91140 Add a new property named `offset_rect` to `MobileVRInterface`
  modules/mobile_vr/doc_classes/MobileVRInterface.xml
  modules/mobile_vr/mobile_vr_interface.cpp
  modules/mobile_vr/mobile_vr_interface.h
Labels: feature proposal, topic:xr

#89275 [StatusIndicator] Add method to get indicator icon screen rect.
  doc/classes/DisplayServer.xml
  doc/classes/StatusIndicator.xml
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/status_indicator.cpp
  scene/main/status_indicator.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, topic:porting, topic:gui

#91468 DAP: Fix typo in parsing of PackedVector3Array
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
Labels: bug, topic:editor, cherrypick:4.2

#91322 Ensure that environment is available before checking for BCS
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, regression, topic:3d

#91472 GDScript: Initialize static variables with defaults in-editor
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Labels: bug, topic:gdscript, crash

#91481 Add argument options to AnimationPlayer for auto capture
  doc/classes/AnimationPlayer.xml
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/resources/animation.cpp
Labels: enhancement, usability, topic:animation

#91466 Wayland: Add support for OpenGL ES driver
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/egl_manager_wayland_gles.cpp
  platform/linuxbsd/wayland/egl_manager_wayland_gles.h
Labels: enhancement, platform:linuxbsd, topic:porting

#91012 Add line limit to Output Log in Editor
  doc/classes/EditorSettings.xml
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_settings.cpp
Labels: enhancement, discussion, topic:editor, topic:gui, performance

#89488 [Rendering] Add hints to some uniform `PropertyInfo`s
  servers/rendering/shader_language.cpp
Labels: bug, topic:editor, topic:shaders

#75482 Add colored margin in Inspector for arrays and dictionaries
  doc/classes/EditorSettings.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
  editor/editor_settings.cpp
  editor/themes/editor_theme_manager.cpp
Labels: enhancement, topic:editor, usability

#91509 .NET: Prevent generating mono glue in project folder
  modules/mono/editor/bindings_generator.cpp
Labels: bug, topic:dotnet, crash, cherrypick:4.1, cherrypick:4.2

#91515 [Editor] Prevent some shortcut errors when generating docs
  editor/editor_settings.cpp
  editor/gui/editor_file_dialog.cpp
Labels: bug, topic:editor, regression

#91526 FBX: Fix handling missing skins using ufbx importer
  modules/fbx/fbx_document.cpp
  modules/fbx/fbx_state.h
Labels: bug, topic:import, topic:3d

#91530 Add draw and dispatch count to timestamp validation.
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: bug, topic:rendering, regression

#91545 Properly set size of shadow atlas quadrant when subdivision is 8 or higher.
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering, crash, regression, topic:3d

#91122 Modify allocation process of the PhysicalBoneSimulator in Skeleton3D
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Labels: bug, topic:import, crash, regression, topic:animation, topic:3d

#91203 C#: Fix `StringExtensions.CompareTo` IndexOutOfRangeException
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: bug, topic:dotnet, cherrypick:4.2

#91479 C#: Fix attributes for `sln`/`csproj` files
  .gitattributes
  modules/mono/.editorconfig
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk.sln
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/Godot.SourceGenerators.Sample.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/Godot.SourceGenerators.Tests.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/GodotTools/GodotTools.BuildLogger/GodotTools.BuildLogger.csproj
  modules/mono/editor/GodotTools/GodotTools.Core/GodotTools.Core.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging.CLI/GodotTools.IdeMessaging.CLI.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/GodotTools.IdeMessaging.csproj
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/GodotTools.OpenVisualStudio.csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/GodotTools.ProjectEditor.csproj
  modules/mono/editor/GodotTools/GodotTools.Shared/GodotTools.Shared.csproj
  modules/mono/editor/GodotTools/GodotTools.sln
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/glue/GodotSharp/Godot.SourceGenerators.Internal/Godot.SourceGenerators.Internal.csproj
  modules/mono/glue/GodotSharp/GodotPlugins/GodotPlugins.csproj
  modules/mono/glue/GodotSharp/GodotSharp.sln
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: bug, platform:windows, topic:buildsystem, topic:dotnet

#90517 Static allocation bones copy for SkeletonModifier
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Labels: enhancement, topic:animation, topic:3d, performance

#89461 Default to trimesh for generated collision shapes in Advanced Import Settings
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
Labels: enhancement, topic:import, topic:3d

#87231 Show warning for GeometryInstance3D transparency in Mobile/Compatibility
  doc/classes/GeometryInstance3D.xml
  scene/3d/visual_instance_3d.cpp
Labels: enhancement, topic:editor, topic:3d

#85014 Fix uint's suffix is not highlighted in text shader editor
  editor/plugins/text_shader_editor.cpp
  scene/resources/syntax_highlighter.cpp
  scene/resources/syntax_highlighter.h
Labels: bug, topic:editor, topic:shaders

#91486 [4.2] Add forward compat parsing of PackedVector4Array
  core/io/resource_format_binary.cpp
  core/variant/variant_parser.cpp
  scene/resources/resource_format_text.cpp
Labels: enhancement, topic:core, cherrypick:4.1

#91522 [Editor] Don't open `AnimationLibrary` as a scene
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, topic:animation, cherrypick:4.2

#91331 Expose `EditorFileDialog::popup_file_dialog()` to GDScript and GDExtension
  doc/classes/EditorFileDialog.xml
  editor/gui/editor_file_dialog.cpp
Labels: enhancement, topic:editor, topic:plugin

#91495 Avoid incorrect computing anchor of Control node when reset on save with `saving` flag
  scene/gui/control.cpp
  scene/gui/control.h
Labels: bug, topic:editor, topic:gui, topic:animation, cherrypick:4.1, cherrypick:4.2

#89595 Fix `CPUParticles3D` using angle incorrectly when `ROTATE_Y` is set.
  scene/3d/cpu_particles_3d.cpp
Labels: bug, topic:3d, topic:particles

#88343 Handle warped mouse motion as floating point
  core/input/input.cpp
  core/input/input.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, topic:input

#91596 Update `body_create` description in PhysicsServer2D/3D
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
Labels: enhancement, documentation, topic:physics

#91620 Add MultiNodeEdit support to MeshInstance3D editor
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:3d

#91621 [Core] Add `LocalVector::has` for convenience
  core/config/project_settings.cpp
  core/templates/local_vector.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  editor/editor_property_name_processor.cpp
  editor/multi_node_edit.h
  modules/csg/csg.cpp
  modules/navigation/3d/godot_navigation_server_3d.cpp
  modules/navigation/nav_map.cpp
  scene/main/viewport.cpp
  servers/physics_3d/godot_shape_3d.cpp
  servers/physics_3d/godot_soft_body_3d.cpp
  tests/core/templates/test_local_vector.h
Labels: enhancement, topic:core

#91395 Add Timer unit tests
  tests/scene/test_timer.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#85319 SCons: Implement `get_mingw_tool` to fix mingw prefix ambiguity
  platform/windows/detect.py
  platform/windows/platform_windows_builders.py
Labels: bug, platform:windows, topic:buildsystem, cherrypick:4.2

#91647 Make native shader source visualizer highlight uint suffix
  editor/editor_native_shader_source_visualizer.cpp
  editor/plugins/text_shader_editor.cpp
  scene/resources/syntax_highlighter.h
Labels: enhancement, topic:editor, topic:shaders

#91570 Add default implementation of `ScriptLanguageExtension::preferred_file_name_casing`
  core/object/script_language_extension.h
Labels: bug, topic:core, topic:gdextension

#91641 Make silhouette fixer option visibility dependent on availability
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.cpp
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.h
Labels: enhancement, topic:editor, topic:import, topic:animation

#91658 Add missing bone name return information
  doc/classes/Skeleton3D.xml
Labels: enhancement, documentation

#91361 Windows: Fix `WINDOW_EVENT_FOCUS_IN` not delivered in some cases
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, regression, topic:gui

#91528 FBX: Update ufbx to v0.14.0
  modules/fbx/fbx_document.cpp
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Labels: enhancement, topic:thirdparty

#91529 FBX: Print ufbx load warnings on import
  modules/fbx/fbx_document.cpp
Labels: bug, topic:import, topic:3d

#91650 Fix various typos with codespell
  .github/workflows/static_checks.yml
  core/extension/gdextension_interface.h
  doc/classes/Compositor.xml
  doc/classes/NodePath.xml
  doc/classes/RenderingServer.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  drivers/gles3/storage/render_scene_buffers_gles3.h
  editor/animation_track_editor.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  misc/scripts/codespell.sh
  modules/gdscript/tests/scripts/runtime/features/argument_count.gd
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  scene/animation/animation_blend_tree.cpp
  servers/rendering/renderer_rd/shaders/effects/vrs.glsl
Labels: enhancement, topic:codestyle

#91326 Update `LineEdit` to include `read_only` StyleBox in `get_minimum_size()`
  scene/gui/line_edit.cpp
Labels: bug, topic:gui

#85188 [Windows] Fix NVIDIA app profile creation
  platform/windows/gl_manager_windows_native.cpp
Labels: bug, platform:windows, topic:porting, cherrypick:3.x, cherrypick:4.1, cherrypick:4.2

#84148 Fix crash when extending taken-over named class
  modules/gdscript/gdscript_compiler.cpp
Labels: bug, topic:gdscript, crash, cherrypick:4.1, cherrypick:4.2

#91480 Use a full screen triangle for mipmap calculations in mobile renderer
  servers/rendering/renderer_rd/effects/copy_effects.cpp
Labels: bug, topic:rendering, regression, topic:3d, cherrypick:4.2

#91538 Fix EditorInspector crash when exiting
  editor/editor_inspector.cpp
Labels: bug, enhancement, topic:editor, crash

#91560 Make retarget keep global rest of unmapped bones if there are no mapped bones on the child
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.cpp
Labels: bug, topic:import, breaks compat, topic:animation

#91112 Avoid double handling of rename in the file system dock
  editor/filesystem_dock.cpp
  scene/gui/popup.cpp
  scene/gui/popup.h
  scene/gui/tree.cpp
Labels: bug, topic:editor, regression

#91226 Simplify the GPUParticles3D editor gizmo to improve readability
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#91338 Increase threshold for files per directory in editor Find in Files
  editor/find_in_files.cpp
Labels: bug, topic:editor

#90966 Use same colors for editor and running project for collision/path debug
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/gizmos/collision_object_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/collision_polygon_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/ray_cast_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/shape_cast_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/soft_body_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/spring_arm_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/vehicle_body_3d_gizmo_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  scene/2d/physics/collision_polygon_2d.cpp
Labels: enhancement, topic:editor, topic:physics

#89248 Don't store values when loading them
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/editor_properties_vector.cpp
  editor/plugins/debugger_editor_plugin.cpp
  editor/plugins/debugger_editor_plugin.h
  editor/plugins/tiles/tile_data_editors.cpp
  editor/plugins/tiles/tile_data_editors.h
  editor/plugins/tiles/tile_set_editor.cpp
Labels: bug, topic:editor, performance

#88741 Fix shared exported variables of inherited scenes
  scene/resources/packed_scene.cpp
Labels: bug, topic:core, cherrypick:4.2

#85015 Fetch argument options from ThemeDB
  scene/gui/control.cpp
Labels: bug, topic:editor, topic:gui

#84706 Fix autocompletion after DOLLAR token
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#81906 Set `open_dominant_script_on_scene_change` to off by default
  editor/plugins/script_editor_plugin.cpp
Labels: enhancement, discussion, topic:editor

#91485 OpenXR: Allow composition layers to enable hole punching
  modules/openxr/doc_classes/OpenXRCompositionLayer.xml
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
Labels: enhancement, topic:xr

#91518 Generate docs from GDExtensions using `--gdextension-docs` with `--doctool`
  editor/doc_tools.cpp
  editor/doc_tools.h
  main/main.cpp
Labels: enhancement, topic:core, topic:gdextension

#89574 Wayland: Workaround API limitation in screen/UI scale logic
  doc/classes/DisplayServer.xml
  editor/editor_settings.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
Labels: enhancement, platform:linuxbsd, topic:porting, usability

#84492 Autocompletion: Mark datatype as constant for constant arrays
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor

#91677 Fix crash when adding a child while duplicating a node
  scene/main/node.cpp
Labels: bug, topic:core, crash, regression

#91678 Fix temporary Euler when editing quaternion
  editor/editor_properties.cpp
Labels: bug, topic:editor, regression

#91687 CI: Use Emscripten 3.1.59 for Web platform
  .github/workflows/web_builds.yml
Labels: enhancement, platform:web, topic:buildsystem

#91684 Fix `builtin_embree=no` build linking the wrong version of Embree
  core/math/static_raycaster.h
  platform/linuxbsd/detect.py
  scene/3d/lightmapper.h
Labels: bug, topic:buildsystem, regression

#91615 Add docs note about remap returning undefined when istart == istop
  doc/classes/@GlobalScope.xml
  tests/core/math/test_math_funcs.h
Labels: enhancement, documentation

#91104 Redefine `GetSimpleTypeT<>` in terms of `<type_traits>`
  core/templates/command_queue_mt.h
  core/templates/simple_type.h
  core/variant/binder_common.h
  core/variant/variant_internal.h
Labels: enhancement, topic:codestyle

#90162 Improve string extraction of ETR POT file
  editor/editor_translation.cpp
  editor/editor_translation.h
  editor/pot_generator.cpp
Labels: enhancement, topic:editor

#91696 Style: Trim trailing whitespace and ensure newline at EOF
  .clang-tidy
  .github/actions/godot-api-dump/action.yml
  doc/classes/GDExtensionManager.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/Node.xml
  doc/classes/TextEdit.xml
  doc/classes/TileMapLayer.xml
  doc/classes/Time.xml
  doc/classes/VisualShaderNodeFrame.xml
  drivers/gles3/shaders/effects/post.glsl
  gles3_builders.py
  misc/dist/ios_xcode/godot_ios/en.lproj/InfoPlist.strings
  misc/error_suppressions/tsan.txt
  misc/extension_api_validation/4.2-stable.expected
  modules/enet/doc_classes/ENetConnection.xml
  modules/gdscript/README.md
  modules/gdscript/tests/scripts/analyzer/features/cast_enum_to_int.gd
  modules/gdscript/tests/scripts/analyzer/features/preload_constant_types_are_inferred.gd
  modules/gdscript/tests/scripts/completion/get_node/literal_scene/dollar_class_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/literal_scene/dollar_native_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/literal_scene/percent_class_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/literal_scene/percent_native_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_interfered_scene/class_local_interfered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_interfered_scene/native_local_interfered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_scene/class_local_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_scene/native_local_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_typehint/class_local_typehint.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_typehint/native_local_typehint.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_interfered_scene/class_member_interfered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_interfered_scene/native_member_interfered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_scene/class_member_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_scene/native_member_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_typehint/class_member_typehint.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_typehint/native_member_typehint.cfg
  modules/gdscript/tests/scripts/lsp/lambdas.gd
  modules/gdscript/tests/scripts/lsp/local_variables.gd
  modules/gdscript/tests/scripts/lsp/properties.gd
  modules/gdscript/tests/scripts/lsp/scopes.gd
  modules/gdscript/tests/scripts/parser/features/match_multiple_patterns_with_array.gd
  modules/gdscript/tests/scripts/runtime/features/call_native_static_method_validated.gd
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/iOSNativeAOT.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ClassPartialModifier.GD0001.fixed.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ClassPartialModifier.GD0001.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/GlobalClass.GD0401.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/GlobalClass.GD0402.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/MustBeVariant.GD0301.cs
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotProjectManager.kt
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.java
  platform/android/java/scripts/publish-root.gradle
  platform/windows/godot.natvis
  servers/rendering/renderer_rd/shaders/samplers_inc.glsl
  tests/core/math/test_math_funcs.h
  tests/python_build/fixtures/gles3/vertex_fragment_expected_full.glsl
Labels: enhancement, topic:codestyle

#91699 Fold TreeItems when clicking to the left of fold icon
  scene/gui/tree.cpp
Labels: enhancement, usability, topic:gui

#91613 Add `as_sortable_control()` to unify Container checks
  editor/editor_inspector.cpp
  scene/gui/aspect_ratio_container.cpp
  scene/gui/box_container.cpp
  scene/gui/center_container.cpp
  scene/gui/container.cpp
  scene/gui/container.h
  scene/gui/flow_container.cpp
  scene/gui/graph_element.cpp
  scene/gui/graph_frame.cpp
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
  scene/gui/margin_container.cpp
  scene/gui/panel_container.cpp
  scene/gui/scroll_container.cpp
  scene/gui/split_container.cpp
Labels: enhancement, topic:gui, topic:codestyle

#91670 C#: Specify a runtime rollforward for OpenVisualStudio
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/GodotTools.OpenVisualStudio.csproj
Labels: bug, topic:dotnet, regression

#91686 OpenXR: Fix composition layers not having correct play space
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/scene/openxr_composition_layer_cylinder.cpp
  modules/openxr/scene/openxr_composition_layer_cylinder.h
  modules/openxr/scene/openxr_composition_layer_equirect.cpp
  modules/openxr/scene/openxr_composition_layer_equirect.h
  modules/openxr/scene/openxr_composition_layer_quad.cpp
  modules/openxr/scene/openxr_composition_layer_quad.h
Labels: bug, topic:xr, regression

#91698 [MinGW] Restore executable size check.
  platform/windows/platform_windows_builders.py
Labels: bug, platform:windows, topic:buildsystem

#91708 Revert `as_sortable_control()` change in SplitContainer
  scene/gui/split_container.cpp
Labels: bug, topic:editor, regression

#91709 Improve transition enabled header in interactive music editor
  modules/interactive_music/editor/audio_stream_interactive_editor_plugin.cpp
Labels: enhancement, topic:editor

#91544 Add notes in Object documentation about TranslationServer methods
  doc/classes/Object.xml
Labels: enhancement, documentation

#91555 Remove error messages caused by Save on Focus feature
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor

#91611 [Core] Add case-insensitive `String::containsn`
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  drivers/gles3/storage/config.cpp
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/debugger/debug_adapter/debug_adapter_parser.h
  editor/editor_help_search.cpp
  editor/editor_inspector.cpp
  editor/editor_log.cpp
  editor/editor_sectioned_inspector.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/input_event_configuration_dialog.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_manager/project_list.cpp
  editor/property_selector.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/multiplayer/editor/replication_editor.cpp
  scene/main/http_request.cpp
  tests/core/string/test_string.h
Labels: enhancement, topic:core

#91619 Replace `find` with `contains/has` where applicable
  core/debugger/engine_debugger.cpp
  core/extension/extension_api_dump.cpp
  core/io/ip_address.cpp
  core/string/ustring.cpp
  drivers/alsa/audio_driver_alsa.cpp
  drivers/egl/egl_manager.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  editor/create_dialog.cpp
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_file_server.cpp
  editor/dependency_editor.cpp
  editor/doc_tools.cpp
  editor/editor_file_system.cpp
  editor/editor_help_search.cpp
  editor/editor_node.cpp
  editor/editor_property_name_processor.cpp
  editor/editor_quick_open.cpp
  editor/editor_settings.cpp
  editor/filesystem_dock.cpp
  editor/import/3d/resource_importer_obj.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/rename_dialog.cpp
  editor/scene_tree_dock.cpp
  main/main.cpp
  modules/csg/csg.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/test_lsp.h
  modules/gltf/gltf_document.cpp
  modules/gltf/skin_tool.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/action_map/openxr_action_set.cpp
  modules/openxr/action_map/openxr_interaction_profile.cpp
  modules/openxr/openxr_interface.cpp
  modules/regex/regex.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.h
  modules/upnp/upnp.cpp
  platform/android/export/export_plugin.cpp
  platform/android/os_android.cpp
  platform/ios/export/export_plugin.cpp
  platform/linuxbsd/joypad_linux.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/macos/export/export_plugin.cpp
  platform/windows/export/export_plugin.cpp
  scene/3d/skeleton_3d.cpp
  scene/gui/texture_progress_bar.cpp
  scene/resources/mesh.cpp
  servers/audio/audio_stream.cpp
  servers/rendering/rendering_device.cpp
  tests/core/object/test_class_db.h
  tests/test_main.cpp
Labels: enhancement, topic:codestyle

#91039 Allow setting editor dock tabs to icon only
  doc/classes/EditorPlugin.xml
  doc/classes/EditorSettings.xml
  editor/editor_dock_manager.cpp
  editor/editor_dock_manager.h
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
Labels: enhancement, topic:editor

#91597 CI: Overhaul static checks to use `pre-commit`
  .github/workflows/static_checks.yml
  .pre-commit-config.yaml
  misc/scripts/codespell.sh
  misc/scripts/dotnet_format.py
  misc/scripts/file_format.py
  misc/scripts/file_format.sh
  misc/scripts/header_guards.py
  misc/scripts/header_guards.sh
  misc/scripts/mypy_check.sh
  misc/scripts/pytest_builders.sh
Labels: enhancement, topic:buildsystem

#91174 Tweak appearance of 3D editor gizmo icons
  editor/plugins/node_3d_editor_gizmos.cpp
Labels: bug, enhancement, topic:rendering, topic:editor, topic:3d

#90913 Apply additional fixes to servers' threading
  core/object/object.cpp
  core/templates/command_queue_mt.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  servers/physics_server_2d_wrap_mt.cpp
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d_wrap_mt.cpp
  servers/physics_server_3d_wrap_mt.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.cpp
  servers/rendering/rendering_server_default.h
Labels: bug, topic:core, topic:rendering

#91725 `CommandQueueMT`: Fix sync command awaiters missing the chance
  core/templates/command_queue_mt.h
Labels: bug, topic:core

#91751 Revert "Implement "get_mingw_tool" to fix mingw prefixes"
  platform/windows/detect.py
  platform/windows/platform_windows_builders.py
Labels: bug, platform:windows, topic:buildsystem, regression

#91757 Fix placement of ColorPicker in the editor
  scene/gui/box_container.cpp
  scene/gui/margin_container.cpp
Labels: bug, regression, topic:gui

#91761 [Doc] Update Crypto example
  doc/classes/Crypto.xml
Labels: enhancement, documentation

#91763 C#: Fix comparison warnings in `StringExtensions.cs`
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Labels: bug, topic:dotnet

#91775 Fix `layer_viewport` getting cleared on `OpenXRCompositionLayer` in editor
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
Labels: bug, topic:xr

#91507 Allow users to override `SkeletonModifier3D._process_modification`
  doc/classes/SkeletonModifier3D.xml
  scene/3d/skeleton_modifier_3d.cpp
  scene/3d/skeleton_modifier_3d.h
  scene/register_scene_types.cpp
Labels: enhancement, topic:animation, topic:3d

#91564 CSharpScript should not own method infos of the base class
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
Labels: bug, topic:dotnet

#91624 SCons: Generate all scripts natively, implement wrapper function
  SConstruct
  core/SCsub
  editor/SCsub
  methods.py
  modules/SCsub
  modules/modules_builders.py
  platform/SCsub
  platform_methods.py
Labels: enhancement, topic:buildsystem

#91645 Fix C# Hint NodeType and ResourceType HintString
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
Labels: bug, topic:dotnet

#91727 `CommandQueueMT`: Pre-allocate memory to avoid a bunch of allocations at startup
  core/templates/command_queue_mt.cpp
  core/templates/command_queue_mt.h
Labels: enhancement, topic:core

#91732 Fix 2d editor selection persisting after application loses focus.
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#91745 Fix memory leak when ASTC compression fails
  modules/astcenc/image_compress_astcenc.cpp
Labels: bug, topic:core, crash, cherrypick:4.2

#91348 Update CryptoKey documentation to mention ECC.
  doc/classes/CryptoKey.xml
Labels: enhancement, documentation

#88058 Tweak error and warning colors and fix `StatusWarning` icon visibility on light themes
  editor/themes/editor_color_map.cpp
  editor/themes/editor_theme_manager.cpp
Labels: bug, topic:editor, usability

#91777 Fix Sprite2D editor history mismatch
  editor/plugins/sprite_2d_editor_plugin.cpp
Labels: bug, topic:editor

#91779 Select next text to replace
  editor/code_editor.cpp
Labels: bug, topic:editor

#91789 [3.x] Tighter light culling - fix directional lights colinear case
  servers/visual/visual_server_light_culler.cpp
Labels: bug, topic:rendering, topic:3d

#91823 [3.x] Fix GCC 14 `-Wtemplate-id-cdtor` warnings
  core/ring_buffer.h
  core/safe_refcount.h
Labels: bug, topic:core, topic:buildsystem, cherrypick:3.5

#91793 Fallback to default theme for variation items
  editor/plugins/theme_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:gui

#91799 Rewrite reprojection for FSR2 to work correctly with Reverse-Z.
  servers/rendering/renderer_rd/effects/debug_effects.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Labels: bug, topic:rendering, regression, topic:3d

#91806 GDExtension: Prevent crash during shutdown as singletons are deleted
  core/config/engine.cpp
  core/config/engine.h
  core/extension/gdextension_manager.cpp
  core/object/object.cpp
Labels: bug, topic:gdextension, crash, cherrypick:4.2
