Repository godotengine/godot, pull requests merged in 2024-11, with the labels that each got.

#97257 Add "Game" editor for better runtime debugging
  core/config/engine.cpp
  core/config/engine.h
  core/input/input.cpp
  core/input/input.h
  doc/classes/EditorFeatureProfile.xml
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
  editor/debugger/script_editor_debugger.cpp
  editor/editor_feature_profile.cpp
  editor/editor_feature_profile.h
  editor/editor_main_screen.h
  editor/editor_node.cpp
  editor/icons/2DNodes.svg
  editor/icons/Camera.svg
  editor/icons/Game.svg
  editor/icons/NextFrame.svg
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  misc/extension_api_validation/4.3-stable.expected
  scene/2d/camera_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_obstacle_2d.cpp
  scene/2d/touch_screen_button.cpp
  scene/3d/camera_3d.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_obstacle_3d.cpp
  scene/audio/audio_stream_player_internal.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/gui/video_stream_player.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: feature proposal, topic:editor, usability, breaks compat

#98091 [Core] Improve error messages with `vformat`
  core/config/project_settings.cpp
  core/core_bind.cpp
  core/crypto/crypto.cpp
  core/crypto/crypto_core.cpp
  core/debugger/engine_debugger.cpp
  core/debugger/remote_debugger.cpp
  core/debugger/remote_debugger_peer.cpp
  core/extension/extension_api_dump.cpp
  core/extension/gdextension.cpp
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_library_loader.cpp
  core/extension/gdextension_manager.cpp
  core/input/input_map.cpp
  core/io/dir_access.cpp
  core/io/dir_access.h
  core/io/file_access.cpp
  core/io/file_access_compressed.cpp
  core/io/file_access_encrypted.cpp
  core/io/file_access_memory.cpp
  core/io/file_access_pack.cpp
  core/io/file_access_zip.cpp
  core/io/http_client.cpp
  core/io/image.cpp
  core/io/image_loader.cpp
  core/io/ip.cpp
  core/io/json.cpp
  core/io/marshalls.cpp
  core/io/pck_packer.cpp
  core/io/plist.cpp
  core/io/remote_filesystem_client.cpp
  core/io/resource.cpp
  core/io/resource_format_binary.cpp
  core/io/resource_importer.cpp
  core/io/resource_loader.cpp
  core/io/resource_saver.cpp
  core/io/translation_loader_po.cpp
  core/io/xml_parser.cpp
  core/math/expression.cpp
  core/object/class_db.cpp
  core/object/object.cpp
  core/object/script_language.cpp
  core/object/undo_redo.cpp
  core/os/os.cpp
  core/string/node_path.cpp
  core/string/translation_po.cpp
  core/variant/array.cpp
  core/variant/container_type_validate.h
  core/variant/variant_construct.cpp
  core/variant/variant_utility.cpp
Labels: enhancement, topic:codestyle

#98261 Add some folders which would benefit from scu to scu pipeline
  scu_builders.py
Labels: enhancement, topic:buildsystem

#98327 Revert "Fix GPUParticles are not rendered for older AMD GPUs with OpenGL+Angle"
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shaders/stdlib_inc.glsl
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
Labels: bug, topic:rendering, regression

#98350 [Android] Implement native file picker support
  doc/classes/DisplayServer.xml
  doc/classes/FileDialog.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/io/FilePicker.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/MediaStoreData.kt
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  platform/ios/display_server_ios.mm
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:android, topic:porting

#98637 Clear warning in the scene tree by creating an LightOccluder2D polygon
  scene/2d/light_occluder_2d.cpp
Labels: bug, topic:editor

#98662 Remove unused FILE_INFO from FileSystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor, topic:codestyle

#98679 Rename `ClassDB::class_call_static_method` -> `class_call_static`
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ClassDB.xml
Labels: enhancement, topic:core

#98697 Remove duplicate of `get_build_version`
  platform/web/emscripten_helpers.py
Labels: enhancement, topic:buildsystem

#47502 Always add decimal when converting float to string
  core/extension/extension_api_dump.cpp
  core/math/rect2.cpp
  core/math/vector2.cpp
  core/math/vector3.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant.cpp
  modules/gdscript/tests/scripts/analyzer/features/class_inference_is_weak.out
  modules/gdscript/tests/scripts/analyzer/features/const_conversions.gd
  modules/gdscript/tests/scripts/analyzer/features/external_inner_class_as_constant.out
  modules/gdscript/tests/scripts/analyzer/features/typed_array_usage.gd
  modules/gdscript/tests/scripts/analyzer/features/typed_dictionary_usage.gd
  modules/gdscript/tests/scripts/parser/features/export_arrays.out
  modules/gdscript/tests/scripts/parser/features/export_variable.out
  modules/gdscript/tests/scripts/parser/features/number_literals_with_sign.out
  modules/gdscript/tests/scripts/parser/features/number_separators.out
  modules/gdscript/tests/scripts/parser/features/operator_assign.out
  modules/gdscript/tests/scripts/runtime/features/chain_assignment_works.out
  modules/gdscript/tests/scripts/runtime/features/conversion_for_default_parameter.out
  modules/gdscript/tests/scripts/runtime/features/parameter_shadowing.out
  modules/gdscript/tests/scripts/runtime/features/setter_chain_shared_types.out
  modules/gdscript/tests/scripts/runtime/features/simple_setter_chain_call_setter.out
  modules/gdscript/tests/scripts/runtime/features/stringify.out
  modules/gdscript/tests/scripts/utils.notest.gd
  modules/mono/editor/bindings_generator.cpp
  scene/gui/code_edit.cpp
  tests/core/math/test_aabb.h
  tests/core/math/test_color.h
  tests/core/math/test_rect2.h
  tests/core/string/test_string.h
  tests/core/variant/test_variant_utility.h
Labels: enhancement, topic:core, breaks compat, for pr meeting

#69197 Fix debug line drawing with tiny convex hull mesh colliders
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
  scene/resources/3d/convex_polygon_shape_3d.cpp
Labels: bug, discussion, topic:core, topic:physics, topic:3d

#98736 Compile certain `CanvasItem._edit_*()` functions with `DEBUG_ENABLED`
  scene/2d/animated_sprite_2d.cpp
  scene/2d/animated_sprite_2d.h
  scene/2d/back_buffer_copy.cpp
  scene/2d/back_buffer_copy.h
  scene/2d/light_2d.cpp
  scene/2d/light_2d.h
  scene/2d/light_occluder_2d.cpp
  scene/2d/light_occluder_2d.h
  scene/2d/line_2d.cpp
  scene/2d/line_2d.h
  scene/2d/marker_2d.cpp
  scene/2d/marker_2d.h
  scene/2d/mesh_instance_2d.cpp
  scene/2d/mesh_instance_2d.h
  scene/2d/multimesh_instance_2d.cpp
  scene/2d/multimesh_instance_2d.h
  scene/2d/navigation_link_2d.cpp
  scene/2d/navigation_link_2d.h
  scene/2d/navigation_region_2d.cpp
  scene/2d/navigation_region_2d.h
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_polygon_2d.h
  scene/2d/physics/collision_shape_2d.h
  scene/2d/polygon_2d.cpp
  scene/2d/polygon_2d.h
  scene/2d/sprite_2d.cpp
  scene/2d/sprite_2d.h
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/touch_screen_button.cpp
  scene/2d/touch_screen_button.h
  scene/2d/visible_on_screen_notifier_2d.cpp
  scene/2d/visible_on_screen_notifier_2d.h
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/resources/2d/navigation_polygon.cpp
  scene/resources/2d/navigation_polygon.h
Labels: bug, regression, topic:2d

#96778 GLTF: Don't give up loading a texture if importing it fails
  editor/editor_file_system.cpp
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_state.cpp
  modules/gltf/gltf_state.h
Labels: bug, topic:import, topic:3d

#97030 Add quad mesh to material preview
  editor/icons/MaterialPreviewQuad.svg
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
  editor/themes/editor_color_map.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#97631 [Android editor] Enable automatic install of exported apks for the Android editor
  platform/android/export/export.cpp
  platform/android/export/export_plugin.cpp
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/res/values/strings.xml
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
  platform/android/java/nativeSrcsConfigs/CMakeLists.txt
Labels: enhancement, platform:android, topic:editor, topic:export

#98603 Fix monochrome icon, add warning when it's not specified
  platform/android/export/export_plugin.cpp
Labels: bug, platform:android, topic:export

#98701 Add dependency detection improvements to the render graph.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/shaders/effects/cube_to_dp.glsl
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/rendering_device_driver.cpp
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Labels: enhancement, topic:rendering, performance

#98709 Fix splash screen upside down on Android
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  servers/display_server.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
Labels: bug, platform:android, topic:rendering, regression

#98712 [Android] Implement support for accent color retrieval
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Labels: enhancement, platform:android

#98771 smol-v: update to 2024 to support SPIR-V 1.6
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/misc/smolv.cpp
  thirdparty/misc/smolv.h
Labels: enhancement, topic:thirdparty

#98774 Delete stale check, make SCons support globbing with `#` inside path
  drivers/png/SCsub
  methods.py
Labels: enhancement, topic:buildsystem

#98824 Patch the OpenXR headers to get EGL from GLAD if we're using it
  .github/workflows/linux_builds.yml
  thirdparty/openxr/patches/use-egl-from-glad.diff
  thirdparty/openxr/src/common/xr_dependencies.h
Labels: bug, topic:buildsystem, topic:xr

#98825 Add multiple specialization constants to Forward+ and Mobile.
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
Labels: enhancement, topic:rendering, performance

#86138 Fix Frustum Sky projection translation logic shearing
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
Labels: bug, topic:rendering, needs testing, topic:3d

#90182 Optimize some parts of `NavMap::sync`
  modules/navigation/nav_map.cpp
Labels: enhancement, topic:navigation, performance

#94165 GLTF: Implement `KHR_animation_pointer` for animating custom properties
  modules/fbx/fbx_document.cpp
  modules/gltf/config.py
  modules/gltf/doc_classes/GLTFAccessor.xml
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/doc_classes/GLTFDocumentExtension.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/gltf/doc_classes/GLTFObjectModelProperty.xml
  modules/gltf/extensions/gltf_document_extension.cpp
  modules/gltf/extensions/gltf_document_extension.h
  modules/gltf/extensions/gltf_light.cpp
  modules/gltf/extensions/gltf_light.h
  modules/gltf/extensions/physics/gltf_document_extension_physics.cpp
  modules/gltf/extensions/physics/gltf_document_extension_physics.h
  modules/gltf/extensions/physics/gltf_physics_body.cpp
  modules/gltf/gltf_defines.h
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/gltf_state.h
  modules/gltf/register_types.cpp
  modules/gltf/structures/gltf_accessor.cpp
  modules/gltf/structures/gltf_accessor.h
  modules/gltf/structures/gltf_animation.cpp
  modules/gltf/structures/gltf_animation.h
  modules/gltf/structures/gltf_camera.cpp
  modules/gltf/structures/gltf_camera.h
  modules/gltf/structures/gltf_node.cpp
  modules/gltf/structures/gltf_node.h
  modules/gltf/structures/gltf_object_model_property.cpp
  modules/gltf/structures/gltf_object_model_property.h
Labels: feature proposal, needs testing, topic:import, topic:animation, topic:3d

#96705 Add support for external camera feed from external plugin on Android
  doc/classes/CameraFeed.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/effects/feed_effects.cpp
  drivers/gles3/effects/feed_effects.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/SCsub
  drivers/gles3/shaders/feed.glsl
  scene/resources/environment.cpp
  servers/camera/camera_feed.cpp
  servers/camera/camera_feed.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, platform:android, topic:buildsystem, topic:rendering, topic:xr

#98843 [3.x] Fix error when non-ASCII characters in resource pack path
  core/io/file_access_zip.cpp
Labels: bug, topic:core

#98855 certs: Sync with Mozilla bundle as of Oct 19, 2024
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Labels: enhancement, topic:thirdparty, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3, cherrypick:3.6

#93443 Add missing audio bus button styles
  editor/editor_audio_buses.cpp
Labels: bug, topic:editor, topic:audio

#97250 Windows: Fix dragging and dropping files from compressed files into editor
  platform/windows/SCsub
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  platform/windows/drop_target_windows.cpp
  platform/windows/drop_target_windows.h
Labels: enhancement, platform:windows, topic:editor, usability

#98131 Remove playback fade-in and add comments to `AudioServer`
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, topic:audio, topic:codestyle, cherrypick:4.2, cherrypick:4.3

#98571 Don't mark `PROPERTY_USAGE_NO_EDITOR` properties for translation
  scene/3d/skeleton_3d.cpp
  scene/resources/2d/tile_set.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:editor

#98801 Rewrite index optimization code for maximum efficiency
  editor/import/3d/resource_importer_obj.cpp
  editor/import/3d/resource_importer_scene.cpp
  modules/meshoptimizer/register_types.cpp
  scene/resources/3d/importer_mesh.cpp
  scene/resources/3d/importer_mesh.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
Labels: enhancement, topic:rendering, topic:import, topic:3d, performance

#98828 Docs: Add link to SpringArm3D tutorial
  doc/classes/SpringArm3D.xml
Labels: enhancement, documentation

#98837 CI: Update clang format/tidy pre-commit versions
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#98841 [TextServer] Only load ellipsis glyph when it's used.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: enhancement, topic:gui, performance

#98864 [3.4] Misc. build and warning fixes to pass CI and compile with recent SCons and GCC/Clang
  .github/actions/godot-cache/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  core/cowdata.h
  core/io/logger.cpp
  core/local_vector.h
  core/math/bsp_tree.cpp
  core/math/quick_hull.cpp
  core/os/memory.h
  core/ring_buffer.h
  core/safe_refcount.h
  editor/editor_properties.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
  main/input_default.cpp
  methods.py
  modules/bullet/bullet_types_converter.h
  modules/bullet/collision_object_bullet.h
  modules/bullet/constraint_bullet.h
  modules/bullet/godot_collision_dispatcher.h
  modules/bullet/godot_ray_world_algorithm.h
  modules/bullet/godot_result_callbacks.h
  modules/bullet/shape_bullet.h
  modules/csg/csg.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/mono/build_scripts/mono_configure.py
  platform/android/detect.py
  platform/osx/joypad_osx.cpp
  platform/x11/detect.py
  scene/3d/voxel_light_baker.cpp
  scene/resources/polygon_path_finder.cpp
  servers/visual/portals/portal_rooms_bsp.cpp
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_viewport.cpp
  thirdparty/README.md
  thirdparty/bullet/BulletSoftBody/btSparseSDF.h
  thirdparty/bullet/patches/fix-unused-but-set-warning.patch
  thirdparty/certs/ca-certificates.crt
  thirdparty/vhacd/0006-fix-gcc13.patch
  thirdparty/vhacd/inc/vhacdICHull.h
  thirdparty/vhacd/inc/vhacdManifoldMesh.h
  version.py
Labels: enhancement, topic:buildsystem

#98867 [3.3] Misc. build and warning fixes to pass CI and compile with recent SCons and GCC/Clang
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  core/bind/core_bind.cpp
  core/compressed_translation.cpp
  core/cowdata.h
  core/io/logger.cpp
  core/io/translation_loader_po.cpp
  core/local_vector.h
  core/math/bsp_tree.cpp
  core/math/quick_hull.cpp
  core/os/memory.h
  core/ring_buffer.h
  core/safe_refcount.h
  drivers/gles2/rasterizer_scene_gles2.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
  main/input_default.cpp
  methods.py
  modules/csg/csg.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/build_scripts/mono_configure.py
  platform/android/detect.py
  platform/iphone/export/export.cpp
  platform/osx/export/export.cpp
  platform/osx/joypad_osx.cpp
  platform/x11/detect.py
  scene/3d/voxel_light_baker.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/polygon_path_finder.cpp
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_viewport.cpp
  thirdparty/README.md
  thirdparty/bullet/BulletSoftBody/btSparseSDF.h
  thirdparty/bullet/patches/fix-unused-but-set-warning.patch
  thirdparty/certs/ca-certificates.crt
  thirdparty/vhacd/0006-fix-gcc13.patch
  thirdparty/vhacd/inc/vhacdICHull.h
  thirdparty/vhacd/inc/vhacdManifoldMesh.h
Labels: enhancement, topic:buildsystem

#98900 [3.2] Misc. build and warning fixes to pass CI and compile with recent SCons and GCC/Clang
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  SConstruct
  core/bind/core_bind.cpp
  core/compressed_translation.cpp
  core/cowdata.h
  core/io/logger.cpp
  core/io/translation_loader_po.cpp
  core/math/bsp_tree.cpp
  core/math/quick_hull.cpp
  core/os/memory.h
  core/ring_buffer.h
  drivers/gles2/rasterizer_scene_gles2.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
  main/input_default.cpp
  methods.py
  modules/csg/csg.cpp
  modules/cvtt/image_compress_cvtt.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/mono/build_scripts/mono_configure.py
  platform/android/detect.py
  platform/iphone/export/export.cpp
  platform/iphone/game_center.mm
  platform/iphone/icloud.mm
  platform/iphone/in_app_store.mm
  platform/javascript/detect.py
  platform/javascript/emscripten_helpers.py
  platform/osx/export/export.cpp
  platform/osx/joypad_osx.cpp
  platform/windows/detect.py
  platform/x11/detect.py
  scene/3d/voxel_light_baker.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/polygon_path_finder.cpp
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_viewport.cpp
  thirdparty/README.md
  thirdparty/bullet/BulletSoftBody/btSparseSDF.h
  thirdparty/bullet/patches/fix-unused-but-set-warning.patch
  thirdparty/certs/ca-certificates.crt
  thirdparty/vhacd/0006-fix-gcc13.patch
  thirdparty/vhacd/inc/vhacdICHull.h
  thirdparty/vhacd/inc/vhacdManifoldMesh.h
Labels: enhancement, topic:buildsystem

#98852 Vulkan: Account for the case `surface_capabilities.currentExtent` is unset
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
Labels: bug, platform:linuxbsd, topic:rendering, crash, regression

#98896 [3.x] CI: Update Linux runners to Ubuntu 24.04, but keep 22.04 for Linux builds
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  core/io/http_client.cpp
  core/io/packet_peer_udp.cpp
  core/io/stream_peer.cpp
  doc/translations/extract.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  modules/denoise/resource_to_cpp.py
  modules/gdnative/gdnative_builders.py
  platform/osx/platform_osx_builders.py
  platform/windows/platform_windows_builders.py
  platform/x11/platform_x11_builders.py
  scene/2d/tile_map.cpp
  scu_builders.py
Labels: enhancement, topic:buildsystem, cherrypick:3.5, cherrypick:3.6

#98923 [3.6] CI: Update Ubuntu runners to 24.04, but keep 22.04 for Linux builds
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  core/io/http_client.cpp
  core/io/packet_peer_udp.cpp
  core/io/stream_peer.cpp
  doc/translations/extract.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  modules/denoise/resource_to_cpp.py
  modules/gdnative/gdnative_builders.py
  platform/osx/platform_osx_builders.py
  platform/windows/platform_windows_builders.py
  platform/x11/platform_x11_builders.py
  scene/2d/tile_map.cpp
  scu_builders.py
Labels: enhancement, topic:buildsystem

#98105 SCons: Extend `MinGW` support & checks
  platform/windows/detect.py
  platform/windows/platform_windows_builders.py
Labels: enhancement, platform:windows, topic:buildsystem

#98150 Fix freeze on non-thread-safe custom importers
  core/io/resource_importer.h
  doc/classes/EditorImportPlugin.xml
  editor/import/3d/resource_importer_obj.h
  editor/import/3d/resource_importer_scene.h
  editor/import/resource_importer_bitmask.h
  editor/import/resource_importer_bmfont.h
  editor/import/resource_importer_csv_translation.h
  editor/import/resource_importer_dynamic_font.h
  editor/import/resource_importer_image.h
  editor/import/resource_importer_imagefont.h
  editor/import/resource_importer_layered_texture.h
  editor/import/resource_importer_shader_file.h
  editor/import/resource_importer_texture.h
  editor/import/resource_importer_texture_atlas.h
  editor/import/resource_importer_wav.h
  modules/minimp3/resource_importer_mp3.h
  modules/vorbis/resource_importer_ogg_vorbis.h
Labels: bug, discussion, topic:core, topic:import

#98317 Optimize `TileSetAtlasSource::_get_property_list`
  scene/resources/2d/tile_set.cpp
Labels: enhancement, topic:editor, performance

#98873 Fix analyzer pushing `SHADOWED_VARIABLE` warning for members shadowed in subclass
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_local_usage.out
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_local_usage_initializer.out
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_local_usage_loop.out
  modules/gdscript/tests/scripts/analyzer/warnings/lambda_shadowing_arg.out
  modules/gdscript/tests/scripts/analyzer/warnings/shadowing_base.notest.gd
  modules/gdscript/tests/scripts/analyzer/warnings/shadowning.gd
  modules/gdscript/tests/scripts/analyzer/warnings/shadowning.out
  modules/gdscript/tests/scripts/parser/warnings/shadowed_constant.out
  modules/gdscript/tests/scripts/parser/warnings/shadowed_variable_class.out
  modules/gdscript/tests/scripts/parser/warnings/shadowed_variable_function.out
  modules/gdscript/tests/scripts/runtime/features/parameter_shadowing.out
Labels: bug, topic:gdscript

#98874 GLTF: Preserve node visibility on import
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.h
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
Labels: bug, topic:import, topic:3d

#98887 Fix IME deactivation events not send on focus loss. Do not unset AltGr modifiers in non-IME input.
  platform/windows/display_server_windows.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, platform:windows, topic:input

#98888 SCons: Replace `_find_scu_section_name` function with SCons builtins
  methods.py
Labels: enhancement, topic:buildsystem

#98899 Clarify `ResourceLoader.load_threaded_get_status()` completion ratio description
  doc/classes/ResourceLoader.xml
Labels: enhancement, documentation, cherrypick:4.3

#98911 Fix wrong checked menu item in 3D editor
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#98937 [3.5] CI: Fully sync workflows and actions with 3.x branch
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-deps/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  misc/ci/sources.list
  misc/scripts/file_format.sh
  misc/scripts/gitignore_check.sh
Labels: enhancement, topic:buildsystem

#98938 [3.4] CI: Partially sync workflows and actions with 3.x branch
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-deps/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  compat.py
  doc/translations/extract.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  misc/ci/sources.list
  misc/scripts/check_ci_log.py
  misc/scripts/file_format.sh
  modules/denoise/resource_to_cpp.py
  modules/gdnative/gdnative_builders.py
  platform/osx/platform_osx_builders.py
  platform/server/detect.py
  platform/windows/platform_windows_builders.py
  platform/x11/platform_x11_builders.py
Labels: enhancement, topic:buildsystem

#98940 [3.3] CI: Partially sync workflows and actions with 3.x branch
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  compat.py
  core/core_builders.py
  doc/tools/makerst.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  misc/ci/sources.list
  misc/scripts/check_ci_log.py
  misc/scripts/file_format.sh
  modules/denoise/resource_to_cpp.py
  modules/gdnative/gdnative_builders.py
  modules/mono/doc_classes/CSharpScript.xml
  modules/mono/doc_classes/GodotSharp.xml
  platform/osx/platform_osx_builders.py
  platform/server/detect.py
  platform/windows/platform_windows_builders.py
  platform/x11/detect.py
  platform/x11/platform_x11_builders.py
Labels: enhancement, topic:buildsystem

#98956 [3.2] CI: Partially sync workflows and actions with 3.x branch
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/windows_builds.yml
  compat.py
  core/core_builders.py
  doc/classes/@GlobalScope.xml
  doc/tools/makerst.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  misc/ci/android-tools-linux.sh
  misc/ci/sources.list
  misc/scripts/black_format.sh
  misc/scripts/check_ci_log.py
  misc/scripts/clang_format.sh
  misc/scripts/file_format.sh
  modules/gdnative/gdnative_builders.py
  modules/mono/doc_classes/CSharpScript.xml
  modules/mono/doc_classes/GodotSharp.xml
  platform/osx/platform_osx_builders.py
  platform/server/detect.py
  platform/windows/platform_windows_builders.py
  platform/x11/detect.py
  platform/x11/platform_x11_builders.py
Labels: enhancement, topic:buildsystem

#98968 Windows: Fix duplicate .exe extension with mingw on Linux/macOS
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem, regression

#98720 Disable auto translation of `FileDialog`'s file list
  scene/gui/file_dialog.cpp
Labels: bug, topic:gui, cherrypick:4.3

#98748 Docs: Fix AABB is_finite() and is_equal_approx()
  doc/classes/AABB.xml
Labels: bug, topic:core, documentation

#98758 Fix Occlusion Culling Buffer occasionally getting corrupted.
  modules/raycast/raycast_occlusion_cull.cpp
Labels: bug, topic:rendering, topic:3d

#98769 Document Timer autostart in tool scripts
  doc/classes/Timer.xml
Labels: enhancement, documentation

#98777 Add missing checks for non-3D builds in scene debugger
  scene/debugger/scene_debugger.cpp
Labels: bug, topic:buildsystem, regression

#98782 Docs: Update TileSet to reference TileMapLayer instead of TileMap
  doc/classes/TileSet.xml
Labels: enhancement, documentation, cherrypick:4.3

#98794 Improve EditorToaster code
  editor/gui/editor_toaster.cpp
  editor/gui/editor_toaster.h
Labels: enhancement, topic:editor, topic:codestyle

#98803 Metal: Multiview support
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_context_driver_metal.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
Labels: enhancement, platform:macos, topic:rendering, topic:xr

#98809 [GDExtension] Improve macOS library loading/export.
  core/os/os.cpp
  editor/plugins/gdextension_export_plugin.h
  platform/macos/export/export_plugin.cpp
Labels: bug, enhancement, platform:macos, topic:gdextension, topic:export

#98829 Fix issue where scrolling to item center would overflow on top
  scene/gui/tree.cpp
Labels: bug, topic:editor, usability, cherrypick:4.3

#98866 Reduce allocations for NavMap synchronisation
  modules/navigation/3d/nav_mesh_queries_3d.cpp
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
  modules/navigation/nav_utils.h
Labels: enhancement, topic:navigation, performance

#98883 Add vulkan error checks in command_queue_execute_and_present
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
Labels: enhancement, topic:rendering

#98891 [Debugger] Better settings configuration for RuntimeNodeSelect and Window quit
  core/debugger/debugger_marshalls.cpp
  core/debugger/debugger_marshalls.h
  editor/debugger/script_editor_debugger.cpp
  editor/editor_run.cpp
  editor/plugins/game_view_plugin.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/main/window.cpp
Labels: enhancement, topic:core, topic:editor, usability

#98895 Warn on unknown command line arguments
  main/main.cpp
Labels: enhancement, topic:core

#98910 Force `RDD::id` to be always `uint64_t`
  servers/rendering/rendering_device_driver.h
Labels: bug, topic:rendering, topic:porting

#98919 bcdec: Fix decompressing mipmaps not divisible by 4
  modules/bcdec/image_decompress_bcdec.cpp
Labels: bug, topic:import

#98920 Delete unused files of thirdparty libs (zlib, mbedtls)
  thirdparty/README.md
  thirdparty/mbedtls/library/bignum_mod.c
  thirdparty/mbedtls/library/block_cipher.c
  thirdparty/mbedtls/library/ecp_curves_new.c
  thirdparty/mbedtls/library/lmots.c
  thirdparty/mbedtls/library/lms.c
  thirdparty/zlib/gzclose.c
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/gzread.c
  thirdparty/zlib/gzwrite.c
Labels: enhancement, topic:thirdparty

#98934 [Web] Remove warnings when setting vsync mode and screen keep on
  platform/web/display_server_web.h
Labels: bug, platform:web, topic:porting

#98960 Make SCons SCU build banner less intrusive
  scu_builders.py
Labels: enhancement, topic:buildsystem

#98961 Add `Ref` and `HashSet` to `godot.natvis`
  platform/windows/godot.natvis
Labels: enhancement, platform:windows, topic:buildsystem

#98963 Fix deadlocks related to ClassDB queries about global classes
  core/object/class_db.cpp
  scene/register_scene_types.cpp
Labels: bug, topic:core

#98965 [Web] Don't cache emsdk
  .github/workflows/web_builds.yml
Labels: bug, enhancement, platform:web, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3, cherrypick:3.6

#98966 Fix `engine_type_colors`'s description
  doc/classes/EditorSettings.xml
Labels: bug, documentation, cherrypick:4.2, cherrypick:4.3

#98974 Delete old function for parsing CG shaders
  methods.py
Labels: enhancement, topic:shaders

#98980 Remove unnecessary condition in WAV importer
  editor/import/resource_importer_wav.cpp
Labels: enhancement, topic:codestyle

#98988 [Editor] Fix order of editor features
  editor/editor_feature_profile.cpp
Labels: bug, topic:editor, regression

#99003 Fix interactive music docs saying it's "not implemented"
  modules/minimp3/doc_classes/ResourceImporterMP3.xml
  modules/vorbis/doc_classes/ResourceImporterOggVorbis.xml
Labels: bug, documentation, cherrypick:4.3

#85167 Enhance SpinLock
  SConstruct
  core/os/spin_lock.h
  core/os/thread.h
Labels: enhancement, topic:core, performance, cherrypick:4.3

#86600 Fix `MissingResource` properties being stripped on save
  core/io/missing_resource.cpp
  core/io/missing_resource.h
  core/io/resource_format_binary.cpp
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#94889 Remove const_cast in `List::erase`
  core/templates/list.h
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/gui/graph_edit.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:core

#96841 [Tree] Improve Tree Performance by replacing computed height with TreeItem's cached minimum size
  scene/gui/tree.cpp
  scene/resources/text_paragraph.cpp
  scene/resources/text_paragraph.h
Labels: enhancement, topic:gui, performance

#97370 ResourceLoader: Report error if resource type unrecognized
  core/io/resource_loader.cpp
Labels: bug, topic:core, cherrypick:4.3

#97917 Remove note about missing per-vertex-shading
  doc/classes/BaseMaterial3D.xml
Labels: enhancement, documentation

#98232 Fix selecting root node before button released
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, usability, cherrypick:4.2, cherrypick:4.3

#98278 Add fuzzy string matching to quick open search
  core/string/fuzzy_search.cpp
  core/string/fuzzy_search.h
  core/string/ustring.cpp
  core/string/ustring.h
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
  scene/gui/label.cpp
  scene/gui/label.h
  tests/core/string/test_fuzzy_search.h
  tests/core/string/test_string.h
  tests/data/fuzzy_search/project_dir_tree.txt
  tests/test_main.cpp
Labels: enhancement, topic:editor, usability

#98307 Precompute projection matrices when rendering 2D shadows
  drivers/gles3/rasterizer_canvas_gles3.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: enhancement, topic:rendering, performance

#98549 Add renderer state defines to shader preprocessor
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Labels: enhancement, topic:shaders

#98558 Add type filters to AnimationPlayer's "Add Track"
  editor/animation_track_editor.cpp
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#98692 Fix crash in Quick Open Dialog
  editor/gui/editor_quick_open_dialog.cpp
Labels: bug, topic:editor, crash, regression

#98700 Allow multiple platform API files
  platform/SCsub
Labels: enhancement, topic:buildsystem

#98703 Set flag for 8 bone weights in GLTFDocument
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, cherrypick:4.3

#98710 Reload cached resources in runtime on file reimport
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Labels: enhancement, topic:editor, topic:import

#98716 Improve Mesh UV1/UV2 preview in the editor
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d

#98717 Fix `AudioStreamWAV::save_to_wav` adding extra '.wav' to file if existing ext is not lower case
  scene/resources/audio_stream_wav.cpp
Labels: bug, topic:audio, cherrypick:4.2, cherrypick:4.3

#98742 [Editor] Fix EditorSettings.xml docs for "ask_before_revoking_unique_name"
  doc/classes/EditorSettings.xml
Labels: bug, documentation, cherrypick:4.3

#98773 Add collision priority property to TileSet physics layers
  doc/classes/TileSet.xml
  scene/2d/tile_map_layer.cpp
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Labels: enhancement, topic:physics, topic:2d

#98898 CI: Update Linux runners to Ubuntu 24.04
  .github/workflows/android_builds.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/linux_builds.yml
  .github/workflows/static_checks.yml
  .github/workflows/web_builds.yml
  core/io/http_client_tcp.cpp
  core/io/packet_peer_udp.cpp
  core/io/stream_peer.cpp
  scene/2d/tile_map.cpp
Labels: enhancement, topic:buildsystem, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#98472 SceneRPCInterface: Sort rpc names using `StringLikeVariantOrder`
  modules/multiplayer/scene_rpc_interface.cpp
  modules/multiplayer/scene_rpc_interface.h
Labels: enhancement, topic:multiplayer

#98547 Fix duplicated entries in `TranslationServer::get_loaded_locales()`
  core/string/translation_domain.cpp
  tests/core/string/test_translation_server.h
Labels: bug, topic:core

#98688 Mark editor pseudolocalization CLI option editor-only
  main/main.cpp
Labels: bug, topic:editor

#98755 Add prefix to struct member names in shader compiler
  servers/rendering/shader_compiler.cpp
Labels: bug, topic:shaders

#98767 Fix inability to set TextureLayeredRD as `TEXTURE_TYPE_CUBE` or `TEXTURE_TYPE_CUBE_ARRAY`
  scene/resources/texture_rd.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Labels: bug, topic:rendering, cherrypick:4.2, cherrypick:4.3

#98859 Make the method selector dialog available via `EditorInterface`
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Labels: enhancement, topic:editor, topic:plugin

#99013 Add FPS compatible option in second mode of the animation editor snapping
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/icons/FPS.svg
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, enhancement, topic:editor, regression, topic:animation

#99038 Fix `true` being surrounded by `[b]` tags in documentation
  doc/classes/RenderSceneBuffersRD.xml
Labels: bug, documentation

#99078 Fix comparison of callables
  core/variant/callable_bind.cpp
Labels: bug, topic:core, needs testing

#85430 Expose RenderingServer methods to get rendering driver and method name
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: enhancement, topic:rendering, topic:porting

#89051 Add Codium support to C# external editors
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Labels: enhancement, topic:editor, topic:dotnet

#92986 Core: Integrate Ref `instantiate` where possible
  core/io/tcp_server.cpp
  editor/editor_help_search.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/export/codesign.cpp
  editor/import/3d/editor_import_collada.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/gizmos/marker_3d_gizmo_plugin.cpp
  editor/plugins/light_occluder_2d_editor_plugin.cpp
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  editor/plugins/navigation_polygon_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/polygon_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  modules/enet/enet_connection.cpp
  modules/gltf/gltf_document.cpp
  modules/gridmap/grid_map.cpp
  modules/mono/csharp_script.cpp
  modules/multiplayer/scene_multiplayer.cpp
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/theora/video_stream_theora.cpp
  platform/ios/export/export_plugin.cpp
  scene/2d/touch_screen_button.cpp
  scene/3d/label_3d.cpp
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_link_3d.cpp
  scene/3d/navigation_obstacle_3d.cpp
  scene/3d/navigation_region_3d.cpp
  scene/3d/path_3d.cpp
  scene/3d/physics/ray_cast_3d.cpp
  scene/3d/physics/shape_cast_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/gui/graph_edit.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/resources/3d/shape_3d.cpp
  scene/resources/mesh.cpp
  scene/resources/navigation_mesh.cpp
  scene/resources/packed_scene.cpp
  scene/resources/portable_compressed_texture.cpp
  tests/scene/test_viewport.h
Labels: enhancement, topic:core, topic:codestyle

#94092 `EditorExportPlugin` docs: Workaround for customized texture behavior
  doc/classes/EditorExportPlugin.xml
Labels: enhancement, documentation

#94751 GLTF: Return the error file path when an import fails.
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:import

#95396 Add template images to the Cubemap class documentation
  doc/classes/Cubemap.xml
Labels: enhancement, documentation, cherrypick:4.2, cherrypick:4.3

#96188 Add a way to know when a TileMapLayer's cell is modified
  doc/classes/TileMapLayer.xml
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Labels: enhancement, topic:editor, topic:2d

#96590 Provide a reliable way to see original resources in a directory
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  doc/classes/DirAccess.xml
  doc/classes/ResourceLoader.xml
Labels: enhancement, topic:core

#96730 Make use of NavigationObstacle3D's transform
  editor/plugins/navigation_obstacle_3d_editor_plugin.cpp
  modules/navigation/3d/nav_mesh_generator_3d.cpp
  scene/3d/navigation_obstacle_3d.cpp
  scene/3d/navigation_obstacle_3d.h
Labels: enhancement, topic:navigation

#97081 Open UV editor in point editing mode if no points
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.h
Labels: enhancement, topic:editor

#97352 Universalize UID support in all resource types
  core/io/resource_format_binary.cpp
  core/io/resource_format_binary.h
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  doc/classes/ResourceFormatLoader.xml
  editor/editor_file_system.cpp
  editor/filesystem_dock.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
Labels: enhancement, topic:core

#97356 Add ability for PCK patches to remove files
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/pck_packer.cpp
  core/io/pck_packer.h
  doc/classes/PCKPacker.xml
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_platform_pc.cpp
  platform/android/export/export_plugin.cpp
Labels: enhancement, topic:core, topic:export

#97415 Make possible to favorite properties in the inspector
  doc/classes/EditorProperty.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/icons/Unfavorite.svg
Labels: feature proposal, topic:editor, usability

#97471 [GodotPhysics] Fix raycasts don't reliably collide with HeightMapShape3D
  modules/godot_physics_3d/godot_shape_3d.cpp
Labels: bug, topic:physics, topic:3d

#97551 AudioStreamImport: Allow waveform resize
  editor/import/audio_stream_import_settings.cpp
Labels: enhancement, topic:editor, topic:audio

#97609 Add missing descriptions to `PhysicalBone3D` class.
  doc/classes/PhysicalBone3D.xml
Labels: enhancement, documentation

#97722 Fix tooltip message of button that opens groups/signals dock
  editor/gui/scene_tree_editor.cpp
Labels: bug, topic:editor, cherrypick:4.3

#97897 Fix `Button` minimum size when `disabled` is toggled.
  scene/gui/base_button.cpp
Labels: bug, topic:gui

#97906 Document non-resource file handling in FileAccess and ResourceLoader
  doc/classes/FileAccess.xml
  doc/classes/ResourceLoader.xml
Labels: enhancement, documentation, cherrypick:4.3

#97912 Expose path properties save UID internally if referencing a resource
  editor/editor_properties.cpp
  editor/editor_properties.h
Labels: bug, topic:editor

#98074 Add a pin toggle to prevent involuntary bottom editor switching
  doc/classes/EditorSettings.xml
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Labels: enhancement, topic:editor, usability

#98282 Fix documentation tip for `network/debug/remote_host` editor setting
  doc/classes/EditorSettings.xml
Labels: bug, documentation, cherrypick:4.2, cherrypick:4.3

#98499 Docs: Add notes about C# differences in Variant constructors
  doc/classes/Basis.xml
  doc/classes/Color.xml
  doc/classes/Projection.xml
  doc/classes/Quaternion.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
Labels: enhancement, topic:dotnet

#98585 Remove link to outdated CharFX example project
  doc/classes/CharFXTransform.xml
Labels: bug, documentation, cherrypick:4.3

#98797 Close toasts instantly when Close button is pressed
  editor/gui/editor_toaster.cpp
  editor/gui/editor_toaster.h
Labels: enhancement, topic:editor, usability

#98957 Improve `NavMeshGenerator2D::generator_bake_from_source_geometry_data` performance
  modules/navigation/2d/nav_mesh_generator_2d.cpp
  scene/resources/2d/navigation_mesh_source_geometry_data_2d.h
Labels: enhancement, topic:navigation, performance

#93885 Core: Fix `Freed Object` booleanization
  core/variant/variant.cpp
Labels: bug, topic:core

#98536 Fix Skeleton doesn't update skin after deactivating modifiers when it has only one modifier
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_modifier_3d.cpp
  scene/3d/skeleton_modifier_3d.h
Labels: bug, topic:animation, topic:3d, cherrypick:4.3

#98587 Improve `TileMapLayer` get surrounding cells description
  doc/classes/TileMapLayer.xml
Labels: enhancement, documentation, cherrypick:4.3

#98616 Document exporting nested subgroups
  modules/gdscript/doc_classes/@GDScript.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#98625 Curve: Check for finiteness before performing calculations in `sample_baked()` functions
  scene/resources/curve.cpp
Labels: bug, topic:core, crash

#98743 Improve locale comparison
  core/string/translation_server.cpp
  core/string/translation_server.h
  tests/core/string/test_translation_server.h
Labels: enhancement, topic:core

#98890 Android: Update exported app and editor theme
  platform/android/java/app/res/values/themes.xml
  platform/android/java/editor/src/main/res/values/themes.xml
Labels: enhancement, platform:android, topic:gui

#98931 [Web] Fix issue where focus timer would throw continuously
  platform/web/js/libs/library_godot_input.js
Labels: bug, platform:web, topic:porting

#98951 Fix a few more super calls in `get_configuration_warnings` methods
  scene/2d/light_2d.cpp
  scene/2d/physics/rigid_body_2d.cpp
  scene/3d/physics/rigid_body_3d.cpp
  scene/main/missing_node.cpp
Labels: bug, topic:core, cherrypick:4.2, cherrypick:4.3

#98969 [Net] Split Unix/Windows NetSocket implementation
  core/io/net_socket.h
  drivers/unix/net_socket_unix.cpp
  drivers/unix/net_socket_unix.h
  drivers/unix/os_unix.cpp
  drivers/windows/net_socket_winsock.cpp
  drivers/windows/net_socket_winsock.h
  platform/android/net_socket_android.h
  platform/windows/os_windows.cpp
Labels: enhancement, needs testing, topic:network

#98971 Add `CATEGORY_UNDEFINED` option in Android export
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
Labels: enhancement, platform:android, topic:export
