Repository godotengine/godot, pull requests merged in 2024-09, with the labels that each got.

#92167 Reduce code duplication in FileAccess
  core/io/file_access.cpp
  core/io/file_access.h
  core/io/file_access_compressed.cpp
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/io/file_access_memory.cpp
  core/io/file_access_memory.h
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/file_access_zip.h
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
  platform/android/file_access_android.cpp
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
Labels: enhancement, topic:core

#92838 Optimize AnimationMixer blend process
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/resources/animation.h
Labels: enhancement, needs testing, topic:animation, performance

#94698 Improve time to close scene with many 3D gizmos
  editor/plugins/gizmos/joint_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/joint_3d_gizmo_plugin.h
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
Labels: enhancement, topic:editor, topic:3d, performance

#95722 Add documentation to clarify un-interpolatable type on animation blending
  doc/classes/AnimationMixer.xml
Labels: documentation, topic:animation

#96013 Allow jumping to previous/next keyframe in animation player
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:animation

#96045 Add `VK_EXT_astc_decode_mode` support
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Labels: enhancement, platform:ios, platform:android, topic:rendering, performance

#96056 Expose `RenderingServer.canvas_item_attach_skeleton`
  doc/classes/RenderingServer.xml
  servers/rendering_server.cpp
Labels: enhancement, topic:rendering, topic:2d

#96128 Fix incorrect parameters for layered textures in VRAM texture memory profiler
  drivers/gles3/storage/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering_server.h
Labels: bug, topic:rendering

#96260 Keep looking when a preview plugin returns an empty image.
  doc/classes/EditorResourcePreviewGenerator.xml
  editor/editor_resource_preview.cpp
Labels: bug, topic:editor

#96320 thorvg: Update to 0.14.8, and backport upstream fix for Bezier precision regression
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/patches/pr2702-sw_engine-handle-small-cubics.patch
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwStroke.cpp
  thirdparty/thorvg/src/renderer/tvgLoadModule.h
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgPicture.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgScene.h
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/src/renderer/tvgText.h
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, topic:thirdparty, regression, cherrypick:4.3

#96363 Fix no unsaved indicator Save As resource
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Labels: bug, topic:editor, cherrypick:4.3

#96373 mingw: Only use `ar --thin` on supported versions
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem, regression

#96377 Betsy: Add signed mode for BC6
  modules/betsy/bc6h.glsl
Labels: enhancement, feature proposal, topic:import

#96398 Fix Windows importer issue with new file detection
  drivers/windows/file_access_windows.cpp
Labels: bug, platform:windows, topic:core, topic:editor, regression

#96406 Fix `bool` type appearing in GDExtension header
  core/extension/gdextension_interface.h
  core/object/class_db.cpp
Labels: bug, topic:gdextension

#96411 Fix Polygon2D UV editor error when opening grid settings
  editor/plugins/polygon_2d_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#96413 Fix GPUParticles are not rendered for older AMD GPUs with OpenGL+Angle
  drivers/gles3/shaders/stdlib_inc.glsl
Labels: bug, topic:rendering, cherrypick:4.3

#96428 Fix overlapping in animation timeline display.
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, usability, topic:gui, topic:animation, cherrypick:4.3

#96431 Fix alpha material's reverse cull order.
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Labels: bug, topic:rendering, cherrypick:4.3

#96462 TranslationServer: Add fast path for comparison of equal locales
  core/string/translation_server.cpp
Labels: enhancement, topic:core, performance, cherrypick:4.3

#91973 Add cone angle control to particle emission ring shape
  doc/classes/CPUParticles3D.xml
  doc/classes/ParticleProcessMaterial.xml
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/resources/particle_process_material.cpp
  scene/resources/particle_process_material.h
Labels: enhancement, feature proposal, topic:3d, topic:particles

#95638 Add separate timeline snapping control to Animation Editor
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/icons/SnapKeys.svg
  editor/icons/SnapTimeline.svg
  editor/plugins/animation_player_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:animation

#95815 ResourceImporterWAV: Enable QOA compression by default
  doc/classes/ResourceImporterWAV.xml
  editor/import/resource_importer_wav.cpp
  tests/scene/test_audio_stream_wav.h
Labels: enhancement, topic:audio, topic:import

#96142 Fix collapsing `TreeItem` not updating horizontal scrollbar
  scene/gui/tree.cpp
Labels: bug, topic:gui, cherrypick:4.3

#96401 Enforce correct type for silhouette filter.
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.cpp
Labels: bug, topic:editor, usability, topic:import, topic:3d

#96464 [MP] Fix division by zero in network profiler
  modules/multiplayer/editor/editor_network_profiler.cpp
Labels: bug, topic:editor, topic:network, crash, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#93448 Various fixes for transmittance effect
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
Labels: bug, topic:rendering, cherrypick:4.3

#93624 Add duplicate animation for SpriteFrames
  doc/classes/SpriteFrames.xml
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
  scene/resources/sprite_frames.cpp
  scene/resources/sprite_frames.h
Labels: enhancement, topic:editor, topic:animation

#94323 Pass current value to `EditorInterface` node/property popups
  doc/classes/EditorInterface.xml
  editor/editor_interface.compat.inc
  editor/editor_interface.cpp
  editor/editor_interface.h
  editor/property_selector.cpp
  misc/extension_api_validation/4.3-stable.expected
Labels: enhancement, topic:editor, topic:plugin

#95503 Avoid indexing instances without a base in scene cull phase
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering, crash, cherrypick:4.3

#95887 Update rendering driver name on fallbacks. Fix rendering driver/method in the editor system info.
  core/os/os.h
  editor/editor_node.cpp
  main/main.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, topic:editor, cherrypick:4.3

#95961 Fix shadow mesh recursion.
  drivers/gles3/storage/mesh_storage.cpp
  scene/resources/mesh.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, crash, topic:3d, cherrypick:4.2, cherrypick:4.3

#96000 Fix deadzone slider not working correctly
  scene/gui/tree.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.2, cherrypick:4.3

#96096 [Doc] Clarify ProjectSettings `hdr_2d` description
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation, cherrypick:4.3

#96182 Fix `JavaClassWrapper` so it actually works
  doc/classes/JavaClass.xml
  doc/classes/JavaClassWrapper.xml
  doc/classes/JavaObject.xml
  platform/android/api/api.cpp
  platform/android/api/java_class_wrapper.h
  platform/android/api/jni_singleton.h
  platform/android/java_class_wrapper.cpp
  platform/android/jni_utils.cpp
  platform/android/jni_utils.h
Labels: enhancement, platform:android, topic:porting

#96270 Fix physical bone update without simulating
  scene/3d/physical_bone_simulator_3d.cpp
  scene/3d/physical_bone_simulator_3d.h
Labels: bug, topic:physics, regression, topic:animation, topic:3d, cherrypick:4.3

#96351 Metal: Enable for betsy and lightmapper modules in compatibility mode
  drivers/metal/rendering_context_driver_metal.h
  drivers/metal/rendering_context_driver_metal.mm
  modules/betsy/image_compress_betsy.cpp
  modules/lightmapper_rd/lightmapper_rd.cpp
  servers/display_server.cpp
Labels: enhancement, topic:rendering

#96388 [macOS] Fix Quick Open shortcut conflict
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, platform:macos, topic:editor

#96408 CI: Add C compile step for `gdextension_interface.h`
  .github/workflows/godot_cpp_test.yml
Labels: enhancement, topic:gdextension

#96426 Use non-linear mapping for ReflectionProbe mip levels to match sky
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:rendering

#96446 Fix missing material override after two glb reimports
  editor/editor_node.cpp
Labels: bug, topic:import, cherrypick:4.3

#96455 Enable MSAA support for all non-web platforms
  drivers/gles3/storage/config.cpp
Labels: bug, platform:ios, platform:macos, topic:rendering

#96460 [RTL] Do not add final newline to the paragraph context.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui, cherrypick:4.3

#96486 Fix `SkyRD::Sky::free()` freeing shared material
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: bug, topic:rendering, cherrypick:4.3

#96511 Fix SCU global namespace conflict in `resource_format_text.cpp`
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
Labels: bug, topic:buildsystem, regression

#96512 [TextServer] Fix structured text parser for GDScript comments.
  servers/text_server.cpp
Labels: bug, topic:gui

#85965 Improve pathfinding performance by using a heap to store traversable polygons
  modules/navigation/nav_map.cpp
  modules/navigation/nav_utils.h
  tests/servers/test_navigation_server_3d.h
Labels: enhancement, topic:navigation, performance

#91123 Fix `SubViewport`/`AudioStreamPlayer2D` crash
  scene/main/viewport.cpp
Labels: bug, topic:audio, crash, topic:2d, cherrypick:4.3

#93029 Implement multiple occlusion polygons within each TileSet occlusion layer
  doc/classes/TileData.xml
  editor/plugins/tiles/tile_data_editors.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
  scene/resources/2d/tile_set.compat.inc
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Labels: bug, enhancement, topic:2d

#94263 Add Expand/Collapse Branch right click option to remote scene view
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
Labels: enhancement, topic:editor

#94582 Add support for custom items to editor right-click context menus
  doc/classes/EditorContextMenuPlugin.xml
  doc/classes/EditorPlugin.xml
  editor/editor_data.cpp
  editor/editor_data.h
  editor/filesystem_dock.cpp
  editor/plugins/editor_context_menu_plugin.cpp
  editor/plugins/editor_context_menu_plugin.h
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/register_editor_types.cpp
  editor/scene_tree_dock.cpp
Labels: enhancement, feature proposal, topic:editor, topic:plugin

#96237 Fix Path2D splitting
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
Labels: bug, topic:editor, regression, topic:2d, cherrypick:4.3

#96292 Cleanup of raw `nullptr` checks with `Ref`
  core/extension/gdextension.cpp
  core/io/file_access_encrypted.cpp
  core/io/image.cpp
  core/io/plist.cpp
  editor/animation_bezier_editor.cpp
  editor/export/editor_export_plugin.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_layered_texture.cpp
  editor/import_dock.cpp
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/texture_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/themes/editor_theme_manager.cpp
  modules/fbx/fbx_document.cpp
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gltf/extensions/gltf_document_extension.cpp
  modules/gltf/extensions/gltf_document_extension_convert_importer_mesh.cpp
  modules/gltf/extensions/physics/gltf_physics_shape.cpp
  modules/gltf/gltf_document.cpp
  modules/mono/csharp_script.cpp
  modules/mono/godotsharp_dirs.cpp
  modules/noise/tests/test_noise_texture_2d.h
  modules/noise/tests/test_noise_texture_3d.h
  modules/regex/tests/test_regex.h
  modules/upnp/upnp.cpp
  modules/zip/zip_packer.cpp
  modules/zip/zip_reader.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/mesh_instance_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/resources/2d/navigation_mesh_source_geometry_data_2d.cpp
  scene/resources/3d/navigation_mesh_source_geometry_data_3d.cpp
  scene/resources/material.cpp
  scene/resources/shader.cpp
  scene/resources/surface_tool.cpp
  servers/audio/effects/audio_effect_record.cpp
  servers/xr_server.cpp
  tests/core/io/test_http_client.h
  tests/scene/test_path_2d.h
  tests/scene/test_path_3d.h
  tests/scene/test_primitives.h
Labels: enhancement, topic:codestyle

#96355 Move NavigationServer mesh queries to dedicated file
  modules/navigation/3d/nav_mesh_queries_3d.cpp
  modules/navigation/3d/nav_mesh_queries_3d.h
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
  modules/navigation/nav_region.cpp
Labels: enhancement, topic:navigation, topic:codestyle

#96371 Improve dropping code in script editor
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor, topic:codestyle

#96473 Fix ambiguity in `angle_difference` function documentation
  doc/classes/@GlobalScope.xml
Labels: enhancement, discussion, documentation

#96520 Mention screen selector in Make Floating button tooltip
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
Labels: enhancement, topic:editor

#86809 Tune TAA disocclusion scale to avoid rejecting all samples during motion.
  servers/rendering/renderer_rd/effects/taa.cpp
  servers/rendering/renderer_rd/shaders/effects/taa_resolve.glsl
Labels: bug, topic:rendering, topic:3d

#96032 [3.x] Safe `Camera::unproject_position()`
  editor/spatial_editor_gizmos.cpp
  scene/3d/camera.cpp
  scene/3d/camera.h
Labels: bug, topic:editor, topic:3d

#70096 StringName Dictionary keys
  core/object/object.cpp
  core/variant/dictionary.cpp
  core/variant/variant_construct.h
  core/variant/variant_setget.cpp
  editor/debugger/editor_debugger_inspector.cpp
  editor/editor_build_profile.cpp
  editor/editor_feature_profile.cpp
  editor/editor_undo_redo_manager.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_capture_reassignment.out
  modules/gdscript/tests/scripts/parser/features/dictionary_lua_style.out
  modules/gdscript/tests/scripts/parser/features/dictionary_mixed_syntax.out
  modules/gdscript/tests/scripts/runtime/features/dictionary_string_stringname_equivalent.gd
  modules/gdscript/tests/scripts/runtime/features/dictionary_string_stringname_equivalent.out
  modules/multiplayer/scene_rpc_interface.cpp
  modules/regex/regex.cpp
  modules/text_server_adv/text_server_adv.cpp
  platform/android/java_class_wrapper.cpp
  platform/web/api/api.cpp
  platform/web/javascript_bridge_singleton.cpp
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/resources/2d/tile_set.cpp
  scene/resources/animation.cpp
  servers/text_server.cpp
  tests/core/variant/test_dictionary.h
Labels: enhancement, topic:core, topic:gdscript, breaks compat, performance

#95782 Add descriptions to `PolygonPathFinder` `setup` and `is_point_inside` methods
  doc/classes/PolygonPathFinder.xml
Labels: enhancement, documentation, cherrypick:4.3

#95902 Clean up Viewport's `forced_mouse_focus`
  editor/gui/editor_object_selector.cpp
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:gui

#91780 Improve UX when falling back between Display Servers
  main/main.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: enhancement, platform:linuxbsd, topic:core, topic:porting

#92570 StringName: `operator==` compares in-place
  core/string/string_name.cpp
  core/string/string_name.h
Labels: enhancement, topic:core, performance

#94945 Fix `AnimationPlayer` crash when it's made the scene root
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: bug, crash, topic:animation, cherrypick:4.2, cherrypick:4.3

#95179 Add target fps editor setting to visual profiler
  doc/classes/EditorSettings.xml
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:rendering, topic:editor

#96525 Store GLES over GL status in the OS to avoid direct renderer includes in the editor.
  core/os/os.h
  drivers/gles3/rasterizer_gles3.h
  editor/editor_node.cpp
Labels: bug, platform:windows, topic:buildsystem

#96540 Wayland: Fix primary clipboard handling
  platform/linuxbsd/wayland/display_server_wayland.cpp
Labels: bug, platform:linuxbsd, topic:gui

#96554 [macOS] Make gaps between editor titlebar buttons unclickabe to prevent accidental window move/resize.
  editor/editor_node.cpp
Labels: enhancement, platform:macos, topic:editor, topic:gui

#92407 Remove unused member variable in `EditorInspectorSection`
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Labels: enhancement, topic:editor, topic:codestyle

#95965 Update script documentation removed files on startup
  editor/editor_file_system.cpp
  editor/editor_file_system.h
Labels: enhancement, topic:gdscript, topic:editor, performance

#95990 Sky: Adapt radiance size if `AUTOMATIC_MODE` resolves to `REALTIME`
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.2, cherrypick:4.3

#96556 Document use of pre-calculated triangulation when drawing polygons
  doc/classes/CanvasItem.xml
  doc/classes/RenderingServer.xml
Labels: enhancement, documentation

#96559 Use antialiased line drawing in animation Bezier editor
  editor/animation_bezier_editor.cpp
Labels: enhancement, topic:editor, topic:animation

#96564 [Tests] Make `[Audio]` tag consistent with other test environment tags
  tests/scene/test_audio_stream_wav.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#96565 [Tests] `create_test` script: Improve argument description and snake_case name conversion
  tests/create_test.py
Labels: enhancement, topic:tests

#95343 Add ConfirmationDialog when clicking on % button in SceneTree
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor

#95983 [Windows] Emit native file dialog callback from event loop, fix selected options not saved.
  editor/gui/editor_file_dialog.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/file_dialog.cpp
Labels: bug, platform:windows, topic:editor, topic:porting, topic:gui

#96038 Fix LineEdit word mode when there are no more words
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.h
Labels: bug, topic:gui

#96444 Print shader compiler error when betsy shader fails to compile
  modules/betsy/image_compress_betsy.cpp
Labels: enhancement, topic:import

#96502 Only use backbuffer mipmaps in `SCREEN_TEXTURE` when generated.
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
Labels: bug, topic:rendering, cherrypick:4.3

#96555 Docs: Add missing deprecated/experimental tag support for theme items
  core/doc_data.h
  doc/class.xsd
  doc/tools/make_rst.py
  editor/doc_tools.cpp
  editor/editor_help.cpp
  editor/editor_help_search.cpp
Labels: enhancement, topic:editor

#96571 [Editor] Don't show popup when clicking empty in Favorites
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, crash, cherrypick:4.2, cherrypick:4.3

#94886 Add error checks for bad configuration in `PathFollow2D/3D` `set_progress_ratio`
  doc/classes/PathFollow2D.xml
  doc/classes/PathFollow3D.xml
  scene/2d/path_2d.cpp
  scene/3d/path_3d.cpp
Labels: enhancement, discussion, topic:2d, topic:3d

#96326 Autocompletion: Reintroduce enum options on assignment
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/completion/assignment_options/enum_attribute.cfg
  modules/gdscript/tests/scripts/completion/assignment_options/enum_attribute.gd
  modules/gdscript/tests/scripts/completion/assignment_options/enum_attribute_identifier.cfg
  modules/gdscript/tests/scripts/completion/assignment_options/enum_attribute_identifier.gd
  modules/gdscript/tests/scripts/completion/assignment_options/enum_identifier.cfg
  modules/gdscript/tests/scripts/completion/assignment_options/enum_identifier.gd
  modules/gdscript/tests/scripts/completion/assignment_options/enum_no_identifier.cfg
  modules/gdscript/tests/scripts/completion/assignment_options/enum_no_identifier.gd
Labels: bug, topic:gdscript, topic:editor, regression

#96330 GDScript: Fix small mistake in script valid checks
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#96340 [Android Editor] Update the options for launching the Play window in PiP mode
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/EditorWindowInfo.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
Labels: enhancement, platform:android, topic:editor

#96526 [Windows] Use the same API for all `OS_Windows::*_environment` functions.
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting

#89607 [Editor] Fix handle ID being passed for 3D Gizmo plugins
  editor/plugins/node_3d_editor_gizmos.cpp
Labels: bug, topic:editor, topic:plugin, topic:3d, cherrypick:4.2, cherrypick:4.3

#95005 Fix crash or unclear messages when exporting with invalid arguments
  main/main.cpp
Labels: bug, topic:export, cherrypick:4.3

#96496 Add support for Transform2D/3D in `lerp()`
  core/variant/variant_utility.cpp
  doc/classes/@GlobalScope.xml
Labels: enhancement, discussion, topic:core

#96530 Fix instant transformations not being committed when used in succession
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d, cherrypick:4.3

#96569 [Editor] Prevent duplicate `Open in Editor` buttons in scene tree dock
  editor/gui/scene_tree_editor.cpp
Labels: bug, topic:editor, regression, cherrypick:4.3

#96570 [C#] Fix building with `deprecated=no`
  modules/mono/build_scripts/build_assemblies.py
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
Labels: bug, topic:buildsystem, topic:dotnet

#96579 Fix selection stuck after saving scene
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, cherrypick:4.3

#96582 Fix shift clicking on Add Sun/Environment to Scene buttons
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, cherrypick:4.2, cherrypick:4.3

#96587 Warn if XRHandModifier3D used with OpenXR and hand-tracking disabled
  scene/3d/xr_hand_modifier_3d.cpp
  scene/3d/xr_hand_modifier_3d.h
Labels: enhancement, topic:xr

#96607 Fix 2D debug navigation flickering with tile maps
  scene/2d/navigation_region_2d.cpp
Labels: bug, topic:navigation, cherrypick:4.3

#96609 Prevent editing value on focus when `EditorSpinSlider` is read-only
  editor/gui/editor_spin_slider.cpp
Labels: bug, topic:editor, cherrypick:4.3

#96616 Don't use EditorSettings metadata
  editor/export/export_template_manager.cpp
  editor/script_create_dialog.cpp
Labels: enhancement, topic:editor, topic:codestyle

#89675 GDScript: Do not produce `UNUSED_SIGNAL` warning for common implicit uses
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/warnings/unused_signal.gd
  modules/gdscript/tests/scripts/analyzer/warnings/unused_signal.out
Labels: bug, topic:gdscript, cherrypick:4.3

#93319 Improve `AStarGrid2D` performance when jumping is enabled
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
Labels: bug, topic:core, performance

#96244 SCons: Pass `/Zc:__cplusplus` in MSVC builds
  SConstruct
  core/typedefs.h
Labels: enhancement, topic:buildsystem

#96276 Deprecate `set_min_buttons_width_from_icons`
  doc/classes/SpinBox.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
  scene/theme/default_theme.cpp
Labels: enhancement, topic:gui

#96581 Fix editor layout reset on startup
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor, regression

#96603 [FileSystem Dock] Add option to show some unsupported files in the dock.
  doc/classes/EditorSettings.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/export/project_export.cpp
  editor/filesystem_dock.cpp
Labels: enhancement, topic:editor

#79209 Fix "reparent to new node" not remembering index
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: bug, topic:editor, cherrypick:4.2, cherrypick:4.3

#92865 CodeEdit: Improve render time by 2x
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:gui, performance

#95885 [macOS] Use per-architecture min. OS version for export.
  misc/dist/macos_template.app/Contents/Info.plist
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/macos/export/export_plugin.cpp
Labels: enhancement, platform:macos, topic:editor, topic:export

#96247 [RTL] Move image/table draw to the `DRAW_STEP_TEXT`
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#96265 Account for dropcap when calculating paragraph size, fix duplicate last char when using dropcap with autowrap off.
  scene/resources/text_paragraph.cpp
Labels: bug, topic:gui

#96593 ResourceLoader: Add thread-aware resource changed mechanism
  core/io/resource.cpp
  core/io/resource_loader.cpp
  core/io/resource_loader.h
Labels: bug, topic:core, needs testing, regression

#95650 Add unit tests for `Parallax2D`
  tests/scene/test_parallax_2d.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#96507 [MenuBar] Make menu start index more consistent.
  doc/classes/MenuBar.xml
  scene/gui/menu_bar.cpp
Labels: enhancement, topic:gui

#96614 Expose `Viewport.gui_cancel_drag()` to GDScript as a counterpart to `Control.force_drag()`
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
Labels: enhancement, feature proposal, topic:gui

#96617 ResourceLoader: Add last resort life-time insurance for tokens
  core/io/resource_loader.cpp
Labels: bug, topic:core

#96619 Add Create Curve button to Path2D editor
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:2d

#96632 Remove duplicated read only checks in `EditorSpinSlider`
  editor/gui/editor_spin_slider.cpp
Labels: enhancement, topic:editor, topic:codestyle

#96639 Fix renaming directory symlinks on Linux.
  drivers/unix/dir_access_unix.cpp
Labels: bug, platform:linuxbsd, platform:macos, topic:porting

#96646 Fix "reparent to new node" when node has internal children
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, cherrypick:4.2, cherrypick:4.3

#96656 ResourceLoader: Fixup resource changed feature
  core/io/resource_loader.cpp
Labels: bug, topic:core, cherrypick:4.3

#96658 thorvg: Update to 0.14.9
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/patches/pr2702-sw_engine-handle-small-cubics.patch
  thirdparty/thorvg/patches/pr2716-text-drawing-reliability.patch
  thirdparty/thorvg/patches/revert-tvgLines-bezier-precision-change.patch
  thirdparty/thorvg/src/common/tvgLines.cpp
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwStroke.cpp
  thirdparty/thorvg/src/renderer/tvgText.h
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, topic:thirdparty, cherrypick:4.3

#92962 [RTL] Improve BBCode parsing.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: enhancement, topic:gui

#94434 Add support for non-blocking IO mode to `OS.execute_with_pipe`.
  core/core_bind.compat.inc
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
  misc/extension_api_validation/4.3-stable.expected
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:porting

#96114 LightmapGI: Pack L1 SH coefficients for directional lightmaps
  drivers/gles3/shaders/scene.glsl
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  modules/lightmapper_rd/lm_compute.glsl
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: enhancement, topic:rendering, topic:3d

#96594 [3.x] Update changelog for 3.6 stable
  CHANGELOG.md
Labels: enhancement, documentation

#83536 Optimize cubic hermite algorithm in AudioStreamPlaybackResampled
  servers/audio/audio_stream.cpp
Labels: enhancement, topic:audio, performance

#93353 Fix super call in various `get_configuration_warnings` methods
  scene/2d/canvas_modulate.cpp
  scene/2d/light_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/2d/navigation_link_2d.cpp
  scene/2d/parallax_layer.cpp
  scene/2d/path_2d.cpp
  scene/2d/physics/collision_object_2d.cpp
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_shape_2d.cpp
  scene/2d/physics/physical_bone_2d.cpp
  scene/2d/remote_transform_2d.cpp
  scene/2d/skeleton_2d.cpp
  scene/2d/tile_map.cpp
  scene/3d/decal.cpp
  scene/3d/fog_volume.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/navigation_link_3d.cpp
  scene/3d/navigation_region_3d.cpp
  scene/3d/occluder_instance_3d.cpp
  scene/3d/path_3d.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_polygon_3d.cpp
  scene/3d/physics/collision_shape_3d.cpp
  scene/3d/physics/vehicle_body_3d.cpp
  scene/3d/remote_transform_3d.cpp
  scene/3d/soft_body_3d.cpp
  scene/3d/visual_instance_3d.cpp
  scene/3d/voxel_gi.cpp
  scene/3d/xr_nodes.cpp
  scene/animation/animation_tree.cpp
  scene/gui/control.cpp
  scene/gui/range.cpp
  scene/gui/subviewport_container.cpp
Labels: bug, topic:core, cherrypick:4.2, cherrypick:4.3

#95369 Improve documentation on TreeItem's cell icons.
  doc/classes/TreeItem.xml
Labels: enhancement, documentation, cherrypick:4.2, cherrypick:4.3

#95500 Fix wrong focus neighbor for grid-aligned 0 separation controls
  scene/gui/control.cpp
Labels: bug, topic:gui

#96017 AudioStream(Playback)WAV: Use LocalVectors instead of pointers
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
Labels: enhancement, topic:audio

#96094 Add 3D Skeleton Preview to Advanced Importer
  editor/import/3d/scene_import_settings.cpp
  editor/import/3d/scene_import_settings.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
Labels: enhancement, usability, topic:import, topic:animation, topic:3d

#96144 Make reimported models reimport their owner.
  editor/editor_node.cpp
  editor/editor_node.h
  scene/resources/packed_scene.cpp
Labels: bug, topic:editor, usability, topic:import, topic:3d

#96164 Fix Connect Signal Dialog control alignment
  editor/connections_dialog.cpp
  editor/themes/editor_theme_manager.cpp
Labels: bug, topic:editor, topic:gui

#96189 Add Instance Placeholder validation check.
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, usability

#96232 [Tree] Improve navigation with row select mode
  scene/gui/tree.cpp
Labels: enhancement, topic:input, topic:gui

#96343 Fix dock width not respecting editor scale
  editor/editor_dock_manager.cpp
  editor/editor_node.cpp
Labels: bug, topic:editor, cherrypick:4.3

#96509 Fix OpenGL shadow textures not honoring texture type when reusing textures
  drivers/gles3/storage/light_storage.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.3

#96583 Improve documentation on Node2D transform properties such as Skew
  doc/classes/Node2D.xml
Labels: enhancement, documentation, cherrypick:4.3

#96599 Mention user should remove compute shader hint when use `set_stage_source`
  doc/classes/RDShaderSource.xml
Labels: enhancement, documentation

#96651 Cleanup Path3D editor
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
Labels: enhancement, topic:editor, topic:codestyle, topic:3d

#96669 Reenable macOS .app export from Windows, add warnings about Unix permissions.
  platform/macos/export/export_plugin.cpp
Labels: bug, enhancement, platform:windows, platform:macos, topic:export

#96688 Fix `is_inside_tree` error when inspecting an Environment resource
  editor/gui/editor_spin_slider.cpp
Labels: bug, topic:editor, topic:gui

#96702 Change rotation pivot tooltip description to be more precise
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor

#96706 [RTL] Fix internal process incorrectly disabled on appending text.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#96712 SCons: Make ninja output file consistent
  SConstruct
Labels: bug, topic:buildsystem, usability

#96714 Wayland: Make primary selection logic consistent with main clipboard
  platform/linuxbsd/wayland/wayland_thread.cpp
Labels: bug, platform:linuxbsd, topic:porting

#96572 Fix leak when using audio samples instead of streams
  modules/minimp3/audio_stream_mp3.cpp
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  scene/animation/animation_mixer.cpp
  scene/resources/audio_stream_polyphonic.cpp
  scene/resources/audio_stream_wav.cpp
  servers/audio/audio_stream.h
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, platform:web, topic:porting, topic:audio, cherrypick:4.3

#96620 Fix clear button on `Array[Node]`.
  editor/editor_properties.cpp
Labels: bug, topic:editor, cherrypick:4.3

#96697 Disable some android editor settings by default on XR devices
  editor/editor_settings.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotHost.java
Labels: enhancement, platform:android, topic:editor, topic:xr
