Repository godotengine/godot, pull requests merged in 2024-07, with the labels that each got.

#93785 Fix Bezier track init value on caching without RESET animation
  scene/animation/animation_mixer.cpp
Labels: bug, regression, topic:animation

#93789 [macOS] Change the distraction-free mode shortcut
  editor/editor_node.cpp
Labels: bug, platform:macos, topic:editor, usability

#92105 [3.x] Mesh merging - refactor to be backward compatible for CPU / GPU storage
  scene/3d/merge_group.cpp
  scene/3d/mesh_instance.cpp
  scene/3d/mesh_instance.h
  scene/resources/merging_tool.cpp
  scene/resources/merging_tool.h
Labels: bug, regression, topic:3d

#92941 [3.x] Fix physics tick counter
  main/input_default.cpp
  main/main.cpp
  scene/2d/camera_2d.h
  scene/2d/navigation_agent_2d.h
Labels: bug, topic:core, topic:physics

#92806 Add input event callback to `DisplayServerHeadless`
  servers/display_server_headless.h
  tests/display_server_mock.h
Labels: enhancement, topic:input, cherrypick:4.2

#93671 Prevent selecting when a CanvasItem is selected
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: bug, topic:editor, regression, topic:2d

#93804 [Doc] Fix inverted Y position description of y-sorting
  doc/classes/CanvasItem.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#93809 Revert "Make freed object different than null in comparison operators"
  core/variant/variant.cpp
  core/variant/variant_op.h
Labels: enhancement, topic:core

#93754 Fix assignations to non-existing keys and clean-up Web audio library
  platform/web/js/libs/library_godot_audio.js
Labels: bug, platform:web, topic:porting

#93707 D3D12: Use the right state for resources in certain heap types
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Labels: bug, topic:rendering, regression

#93770 Fix asset pipeline coordinate systems doc url
  doc/classes/Basis.xml
  doc/classes/Transform3D.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#93818 Fix info about global library in `add_animation_library` method docs
  doc/classes/AnimationMixer.xml
Labels: enhancement, documentation

#93828 Fix `AtlasTexture::draw_rect` flipping for non-zero margin
  scene/gui/texture_rect.cpp
  scene/resources/atlas_texture.cpp
Labels: bug, topic:rendering, topic:gui, topic:2d

#93851 [3.x] Physics Interpolation - Fix `Transform2D::interpolate_with()`
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/transform_interpolator.cpp
Labels: bug, topic:rendering, high priority, topic:2d

#93857 [3.x] Fix `AtlasTexture::draw_rect` flipping for non-zero margin
  scene/gui/texture_rect.cpp
  scene/resources/texture.cpp
Labels: bug, topic:rendering, topic:gui, topic:2d

#93842 [3.x] Fix type hints in GLTFDocumentExtension virtual methods
  modules/gltf/doc_classes/GLTFDocumentExtension.xml
  modules/gltf/extensions/gltf_document_extension.cpp
Labels: bug, topic:import, topic:3d

#93492 Fix animation Bezier editor crash when using undo after deleting AnimationPlayer
  editor/animation_bezier_editor.cpp
Labels: bug, topic:editor, crash, topic:animation

#93849 Fix orphan StringName's in ShaderLanguage
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders

#93850 Fix RMB erasing of tiles
  editor/plugins/tiles/tile_map_layer_editor.cpp
Labels: bug, topic:editor, regression, topic:2d

#93852 Physics Interpolation - Fix `interpolated_transform_2d`
  core/math/transform_interpolator.cpp
Labels: bug, topic:rendering, topic:2d

#93855 Fix AnimationMixer docs example code for `get_root_motion_rotation_accumulator`
  doc/classes/AnimationMixer.xml
Labels: bug, documentation, cherrypick:4.2

#93853 [Web] Remove unnecessary `EMCC_FORCE_STDLIBS` in dlink builds
  platform/web/SCsub
Labels: bug, platform:web, topic:buildsystem

#92616 GDScript: Invalidate cached parser chain when reloading
  modules/gdscript/gdscript_cache.cpp
  modules/gdscript/gdscript_cache.h
Labels: bug, topic:gdscript, topic:editor

#93152 Enable usage of asan-enabled versions of prebuilt libraries
  platform/windows/detect.py
Labels: enhancement, topic:buildsystem, topic:thirdparty

#93820 Update documentation for new `EditorExportPlugin` behavior.
  doc/classes/EditorExportPlugin.xml
Labels: enhancement, documentation

#93846 Fix sprite frame editor crash with null `frames` pointer
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, crash, topic:animation

#93331 Fix building with `use_volk=yes` on MacOS
  drivers/vulkan/SCsub
  drivers/vulkan/rendering_context_driver_vulkan.cpp
Labels: bug, platform:macos, topic:buildsystem, cherrypick:4.1, cherrypick:4.2

#93708 [Button] Use `align_to_largest_stylebox` for min. size calculation.
  doc/classes/Button.xml
  scene/gui/button.cpp
Labels: bug, topic:gui

#93750 Add `bigint` support on JS value conversion
  platform/web/js/libs/library_godot_javascript_singleton.js
Labels: bug, platform:web, topic:porting

#93868 Update Node dock when theme changes
  editor/connections_dialog.cpp
  editor/groups_editor.cpp
Labels: bug, topic:editor

#93872 Clarify that the `Mesh.ARRAY_NORMAL` array will normalize its contents internally
  doc/classes/Mesh.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#93876 Fix AnimationPlayer `blend_times` sorting
  scene/animation/animation_player.h
Labels: bug, topic:core, topic:animation

#93890 Add `:` to node properties, to differentiate them from node paths
  doc/classes/NodePath.xml
Labels: enhancement, documentation

#93891 [Android] Fix the issue causing the logo to not show when using the `compatibility` renderer
  main/main.cpp
  main/main.h
  platform/android/java_godot_lib_jni.cpp
Labels: bug, platform:android, topic:rendering, regression

#93723 Speed up scene group scanning for text scenes
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Labels: enhancement, topic:editor, performance

#93898 Fix undoredo handling in some dialogs
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings_dialog.cpp
  editor/plugins/animation_library_editor.cpp
  editor/plugins/animation_library_editor.h
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/project_settings_editor.cpp
Labels: bug, topic:editor, topic:input

#93909 Fix custom resources often missing from Quick Load dialog
  editor/editor_file_system.cpp
Labels: bug, topic:editor

#93919 Fix adding a translation CSV results in errors on initial import for many types of resources
  editor/editor_file_system.cpp
Labels: bug, topic:editor, topic:import, regression

#93930 Clamp bezier handle length to half the length of animation
  editor/animation_bezier_editor.cpp
  editor/animation_bezier_editor.h
  editor/animation_track_editor.cpp
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: enhancement, topic:editor, usability, topic:animation, cherrypick:4.2

#93903 Fix some VisualShader features for high DPI displays/custom UI scales
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/themes/editor_theme_manager.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_frame.cpp
  scene/gui/graph_frame.h
Labels: bug, topic:editor, topic:gui

#93906 Fix preloading a zip in the web editor
  platform/web/web_main.cpp
Labels: bug, platform:web, topic:editor, topic:porting, cherrypick:4.2

#93916 Fix AABB computation for position compression to not depend on vertex order
  servers/rendering_server.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.2

#93927 Mention `timeout` unit in `ENetConnection::service` docs
  modules/enet/doc_classes/ENetConnection.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#93933 Fix crashes and ANRs reported by the Google Play Console
  doc/classes/ProjectSettings.xml
  editor/editor_settings.cpp
  main/main.cpp
  platform/android/java/app/AndroidManifest.xml
  platform/android/java/app/config.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotTextInputWrapper.java
  platform/android/java/lib/src/org/godotengine/godot/utils/BenchmarkUtils.kt
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
Labels: bug, platform:android, topic:porting, crash

#93950 [MoltenVK] Fix downscaled hiDPI window pixelation.
  platform/macos/godot_main_macos.mm
Labels: bug, platform:macos, topic:rendering, topic:gui, cherrypick:4.2

#93938 Cherry-pick animation fixes for 4.2
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_2d.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/gui/control.h
Labels: bug, crash, topic:animation

#92985 Restore "Confirm Insert Track" editor setting
  doc/classes/EditorSettings.xml
  editor/animation_track_editor.cpp
  editor/editor_settings.cpp
Labels: enhancement, topic:editor, usability, topic:animation

#93878 `EditorExportPlugin`: Call `_export_file` for all resource types
  doc/classes/EditorExportPlugin.xml
  editor/export/editor_export_platform.cpp
Labels: bug, topic:editor, regression, topic:export

#93902 Remove duplicate styling from editor
  misc/dist/html/editor.html
Labels: enhancement, platform:web, topic:porting

#93920 Move GLTFAccessorType into GLTFAccessor
  modules/gltf/doc_classes/GLTFAccessor.xml
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/structures/gltf_accessor.cpp
  modules/gltf/structures/gltf_accessor.h
Labels: enhancement, topic:import, topic:3d

#93957 [Editor] Fix default font variation values handling in the property inspector.
  editor/plugins/font_config_plugin.cpp
Labels: bug, topic:editor

#93959 Fix dropping on selection in script editor
  editor/plugins/script_text_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, regression, topic:gui

#93964 [GDScript] Fix `get_argument_count` for lambda `Callable`s
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/tests/scripts/runtime/features/lambda_bind_argument_count.gd
  modules/gdscript/tests/scripts/runtime/features/lambda_bind_argument_count.out
Labels: bug, topic:gdscript

#93968 [Editor] Update font preview directly instead of invalidating property list.
  editor/plugins/font_config_plugin.cpp
  editor/plugins/font_config_plugin.h
  scene/resources/font.cpp
Labels: bug, topic:editor

#93971 Fix crash in tile physics editor
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:editor, crash, regression, topic:2d

#93908 Fix `Control` nodes emitting unnecessary `resized` signals
  scene/gui/control.cpp
Labels: bug, needs testing, topic:gui

#93911 [4.2] Make an early return when rendering buffer failed to allocate instead…
  drivers/vulkan/rendering_device_vulkan.cpp
Labels: bug, topic:rendering

#69451 Overhaul Array Documentation
  doc/classes/Array.xml
Labels: enhancement, documentation

#91551 Add a project setting to configure the maximum number of timestamps.
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering, usability

#93944 Clarify `get_executable_path` documentation for Mac
  doc/classes/OS.xml
Labels: enhancement, documentation

#93967 Editor: Fix `EditorHelpBitTooltip` for Signals dock
  editor/editor_help.cpp
  editor/editor_help.h
Labels: bug, topic:editor, regression

#93974 Fix crash in the TileMapLayer editor when using editable children
  editor/plugins/tiles/tile_map_layer_editor.cpp
Labels: bug, topic:editor, crash, topic:2d

#93980 Fix broken sync between animation TrackEditor and PlayerEditor
  editor/animation_track_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
Labels: bug, topic:editor, topic:animation, cherrypick:4.1, cherrypick:4.2

#93982 Fix property type of Sprite3D `frame_coords` to Vector2i from Vector2
  misc/extension_api_validation/4.2-stable.expected
  scene/3d/sprite_3d.cpp
Labels: bug, topic:editor, breaks compat, topic:animation

#93993 Add a check to prevent user to call `AStarGrid2D::update` when its not needed
  core/math/a_star_grid_2d.cpp
Labels: enhancement, topic:core

#93998 Update vertex color import to handle Blender 4.2 upwards
  modules/gltf/editor/editor_scene_importer_blend.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.1, cherrypick:4.2

#93999 Fix connections not updated after GraphNode slot update
  scene/gui/graph_edit.cpp
Labels: bug, topic:gui

#94006 Fix UTF-8 misintepreted as Latin-1 when logging to file
  core/io/logger.cpp
Labels: bug, topic:core, regression

#94021 Wayland: Scale relative pointer motion
  platform/linuxbsd/wayland/wayland_thread.cpp
Labels: bug, platform:linuxbsd, topic:porting, usability, topic:input

#93860 Fix inconsistent behavior of Bezier editor undo operations upon selection of different animation
  editor/animation_bezier_editor.cpp
  editor/animation_bezier_editor.h
Labels: bug, topic:editor, topic:animation

#94007 Update docs for `Animation.track_set_path` and `AnimationMixer.root_motion_track`
  doc/classes/Animation.xml
  doc/classes/AnimationMixer.xml
Labels: enhancement, documentation, cherrypick:4.2

#94024 Fix IME blocking controls
  platform/web/js/libs/library_godot_input.js
Labels: bug, platform:web, topic:input, regression, topic:gui

#94033 Fix custom Ctrl-Space shortcut in Script Editor adds a space
  editor/editor_node.cpp
Labels: bug, topic:editor, topic:input

#94035 Remove unused assignment in Parallax2D
  scene/2d/parallax_2d.cpp
Labels: enhancement, topic:2d

#94036 Physics Interpolation: Fix behaviour on pause
  scene/2d/camera_2d.cpp
  scene/main/node.cpp
Labels: bug, topic:rendering

#94039 Fix physics tick counter
  core/input/input.cpp
  main/main.cpp
  scene/2d/camera_2d.h
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
Labels: bug, topic:core, topic:physics

#94040 Fix first time of Toggle Last Opened Bottom Panel opens Output panel
  editor/editor_dock_manager.cpp
  editor/editor_dock_manager.h
  editor/gui/editor_bottom_panel.cpp
Labels: bug, topic:editor

#94044 Fix Web samples finished missing signal
  platform/web/audio_driver_web.cpp
  platform/web/audio_driver_web.h
  platform/web/godot_audio.h
  platform/web/js/libs/library_godot_audio.js
  scene/audio/audio_stream_player_internal.cpp
  servers/audio/audio_stream.h
Labels: bug, platform:web, topic:porting, topic:audio, regression

#93815 Autocompletion: Don't use `in` operator to decide over variant lookup
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript

#93928 `ResourceLoader`: Fixup management of thread-specific status
  core/io/resource_loader.cpp
Labels: bug, topic:core

#94004 Fix .blend files with quotation marks in filename fail to import
  modules/gltf/editor/editor_import_blend_runner.cpp
  modules/gltf/editor/editor_import_blend_runner.h
  modules/gltf/editor/editor_scene_importer_blend.cpp
Labels: bug, topic:import, regression, topic:3d, cherrypick:4.2

#94054 Fix focus shortcut when in the bezier curve editor
  editor/animation_bezier_editor.cpp
Labels: bug, topic:editor, topic:animation

#94057 Fix ScriptEditor `request_save_previous_state` signal type
  doc/classes/ScriptEditorBase.xml
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor

#94061 [NativeMenu] Do not auto toggle check/multi-state items. Add `is_native_menu` method.
  doc/classes/PopupMenu.xml
  platform/macos/display_server_macos.mm
  platform/macos/godot_menu_item.h
  platform/macos/godot_menu_item.mm
  platform/macos/native_menu_macos.mm
  platform/windows/native_menu_windows.cpp
  platform/windows/native_menu_windows.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, platform:windows, platform:macos, topic:porting, topic:gui

#94067 Windows: Fix build error due to missing definition of Texture2D
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#91300 Mention ProjectSettings won't be affected by `convert_text_resources_to_binary`
  doc/classes/ProjectSettings.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#84974 Reimport file when .import changes
  editor/editor_file_system.cpp
  editor/editor_file_system.h
Labels: bug, topic:editor, topic:import

#93765 Fix reimport by scan parsing dependency paths incorrectly
  editor/editor_file_system.cpp
Labels: bug, topic:editor, topic:import

#93976 Fix caret can disappear from script editor
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:porting, regression, topic:gui

#94020 Fix re-import glb model doesn't change the old glb model
  editor/editor_node.cpp
Labels: bug, topic:import

#94070 ResourceLoader: Fix error message due to already-awaited tasks being re-awaited
  core/io/resource_loader.cpp
Labels: bug, topic:core

#94073 Add Home/End to text caret movements on macOS
  core/input/input_map.cpp
Labels: enhancement, platform:macos, topic:input

#94076 [GDScript] Fix `get_method` for lambda self `Callable`s
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_lambda_callable.h
  modules/gdscript/tests/scripts/runtime/features/lambda_get_method.gd
  modules/gdscript/tests/scripts/runtime/features/lambda_get_method.out
Labels: bug, topic:gdscript, cherrypick:4.2

#94079 Let EditorLog use the right call queue for thread safety
  editor/editor_log.cpp
  editor/editor_log.h
Labels: bug, topic:editor

#93630 Make RenderSceneData take projection correction into account
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
Labels: bug, topic:rendering, regression

#94089 GDExtension: Fix setting base class properties on a runtime class
  core/object/class_db.cpp
  core/object/class_db.h
Labels: bug, topic:gdextension

#94095 Use `GL_COLOR_ATTACHMENT` in depth prepass when using Multiview.
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, regression

#94102 Fix error message being printed when importing an OBJ with no surfaces
  editor/import/3d/resource_importer_obj.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.2

#94103 thorvg: Update to 0.14.1
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwFill.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/tvgCanvas.h
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Labels: enhancement, topic:thirdparty

#94105 Fix wrong inspected node after drag&drop
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, regression

#82012 Animation: Fix reset value when adding new Bezier track
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, topic:animation

#93897 Core: Improve `vformat` error reporting on `sprintf` failure
  core/variant/array.cpp
  core/variant/variant.h
  modules/gdscript/tests/scripts/runtime/errors/typed_array_assign_wrong_to_typed.out
Labels: enhancement, topic:core, cherrypick:4.1, cherrypick:4.2

#94107 SCons: Default `optimize` to `auto`, fixing `target`/`dev_build` inference for Web
  SConstruct
  platform/web/detect.py
Labels: bug, platform:web, topic:buildsystem, regression

#94025 GDScript: Fix implicit cast to typed array when passing parameter
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/typed_array_implicit_cast_param.gd
  modules/gdscript/tests/scripts/runtime/features/typed_array_implicit_cast_param.out
Labels: bug, topic:gdscript

#94114 [iOS/Text Input] Avoid deleting and reentering unchanged part of text.
  platform/ios/keyboard_input_view.mm
Labels: bug, platform:ios, topic:porting, topic:input

#94115 SCons: Fix build fetching `git_timestamp` if git `log.showsignature=true`
  methods.py
Labels: bug, topic:buildsystem

#94117 Fix VS project generation with SCons 4.8.0+
  methods.py
Labels: bug, platform:windows, topic:buildsystem, cherrypick:4.1, cherrypick:4.2

#94131 GDScript: Fix "Mismatched external parser" for autoloads
  core/config/project_settings.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:core, topic:gdscript, regression

#93352 Fix trackpads and graphics tablets being recognized as controllers on Linux/*BSD
  platform/linuxbsd/joypad_linux.cpp
  platform/linuxbsd/joypad_linux.h
Labels: bug, platform:linuxbsd, topic:porting, topic:input

#93721 Fix RichTextLabel fade set `start_index` to command offset
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui, cherrypick:4.2

#93866 Improve code for setup of `global_func_set` in `ShaderLanguage`
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:shaders

#94014 Add pixel snap for `Parallax2D`
  scene/2d/parallax_2d.cpp
Labels: bug, enhancement, topic:2d

#93135 [Tests] Fix some invalid error messages
  tests/core/math/test_basis.h
  tests/core/object/test_class_db.h
Labels: bug, topic:tests, cherrypick:4.2

#93888 Fix a bunch of orphan StringName errors at ProjectSettings/Editor exit
  editor/export/editor_export.cpp
  editor/gui/editor_file_dialog.cpp
  main/main.cpp
  scene/2d/tile_map.cpp
  scene/gui/file_dialog.cpp
  scene/gui/item_list.cpp
  scene/gui/menu_button.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/tab_bar.cpp
  scene/property_list_helper.cpp
  scene/property_list_helper.h
  servers/audio/audio_stream.cpp
Labels: bug, topic:core, topic:editor

#93960 Pre transparent compositor effects needs to run later
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering

#94003 Fix RichTextLabel + `ui_down` scrolling too far
  scene/gui/rich_text_label.cpp
Labels: bug, topic:input, regression, topic:gui

#94059 Clarify that some exclude properties of physics query parameters are copied
  doc/classes/PhysicsPointQueryParameters2D.xml
  doc/classes/PhysicsPointQueryParameters3D.xml
  doc/classes/PhysicsRayQueryParameters2D.xml
  doc/classes/PhysicsRayQueryParameters3D.xml
  doc/classes/PhysicsShapeQueryParameters2D.xml
  doc/classes/PhysicsShapeQueryParameters3D.xml
Labels: enhancement, documentation, cherrypick:4.2

#94109 SCons: Pass optimization flags to the linker too, needed by Emscripten
  SConstruct
Labels: bug, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2

#94121 Remove our `ERR_ON_RENDER_THREAD` guard, it is not reliable
  modules/openxr/openxr_api.h
  servers/rendering_server.h
Labels: bug, topic:rendering, topic:xr

#94127 Overhaul Transform2D documentation
  doc/classes/Transform2D.xml
Labels: enhancement, documentation

#94129 Add `push_url` as a keyword for `push_meta`
  doc/classes/RichTextLabel.xml
Labels: enhancement, documentation

#94133 Fix a couple GCC 14 `-Wmaybe-uninitialized` warnings
  core/io/packet_peer_udp.cpp
  drivers/gles3/storage/texture_storage.h
Labels: enhancement, topic:core, topic:buildsystem, cherrypick:4.1, cherrypick:4.2

#94135 Silence Vulkan "Unable to acquire framebuffer." swapchain error
  servers/rendering/rendering_device.cpp
Labels: bug, platform:linuxbsd, topic:rendering, regression

#94147 Fixes/node configuration warning dialog text
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Labels: bug, topic:editor, topic:2d, topic:3d

#94153 Properly linearize depth buffer for SSAO when using orthogonal camera
  servers/rendering/renderer_rd/shaders/effects/ss_effects_downsample.glsl
Labels: bug, topic:rendering, regression

#94162 Fix edited node being removed before editor plugin handles focus loss
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, crash

#91800 [Web] Fix debug symbols in web builds
  SConstruct
Labels: bug, platform:web, topic:buildsystem

#93733 Windows: Restore to windowed mode using `SW_NORMAL`
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting

#93942 Fix GDScript analyzer error when instantiating EditorPlugins.
  core/object/class_db.cpp
  core/object/class_db.h
  modules/gdscript/gdscript_analyzer.cpp
Labels: bug, topic:core, topic:gdscript

#94015 Ignore trailing slashes in new project’s path when disabling Create Folder
  editor/project_manager/project_dialog.cpp
Labels: bug, topic:editor

#94172 Prevent confirm button being override to "Open" when in save file mode
  editor/gui/editor_file_dialog.cpp
Labels: bug, topic:gui, cherrypick:4.2

#94187 Remove unused `is_wow64` method in `OS_Windows`
  platform/windows/os_windows.cpp
Labels: enhancement, platform:windows, topic:porting, topic:codestyle

#94203 D3D12: Get rid of `DXIL.dll`!
  drivers/d3d12/dxil_hash.cpp
  drivers/d3d12/dxil_hash.h
  drivers/d3d12/rendering_context_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  misc/scripts/install_d3d12_sdk_windows.py
  platform/windows/SCsub
  platform/windows/detect.py
  platform/windows/doc_classes/EditorExportPlatformWindows.xml
  platform/windows/export/export_plugin.cpp
Labels: enhancement, platform:windows, topic:rendering

#94232 [macOS] Fix drag-and-drop feedback.
  platform/macos/godot_content_view.mm
Labels: bug, platform:macos, topic:porting

#94158 OpenXR: Couple of small fixes on the action map
  doc/classes/XRInterface.xml
  doc/classes/XRNode3D.xml
  modules/openxr/action_map/openxr_interaction_profile.cpp
  modules/openxr/editor/openxr_action_map_editor.cpp
Labels: bug, usability, topic:xr

#94217 Clean up RenderDataExtension's descriptions
  doc/classes/RenderDataExtension.xml
Labels: enhancement, documentation

#94421 [3.x] Fix physics tick count in `Input.action_press` and `Input.action_rele…
  main/input_default.cpp
Labels: bug, topic:physics, topic:input

#93987 Clarify that `ENetConnection`'s `create_host` and `service` must be called on client and server
  modules/enet/doc_classes/ENetConnection.xml
Labels: enhancement, documentation

#94058 Fix missing options in Project Import Defaults
  editor/import/3d/resource_importer_scene.cpp
  editor/import_dock.cpp
  modules/fbx/editor/editor_scene_importer_fbx2gltf.cpp
  modules/fbx/editor/editor_scene_importer_ufbx.cpp
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_gltf.cpp
Labels: bug, topic:editor, topic:import

#94064 Fix LCD font AA modulation in RendererRD.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, topic:gui

#94085 Fix container minimum size with hidden parent
  scene/gui/aspect_ratio_container.cpp
  scene/gui/center_container.cpp
  scene/gui/flow_container.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Labels: bug, regression, topic:gui

#94101 Fix editor inspector crashing when the old object is no longer valid
  editor/editor_inspector.cpp
Labels: bug, topic:editor, crash

#94138 GDScript: Call setter on simple setter chain without getter
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/runtime/features/simple_setter_chain_call_setter.gd
  modules/gdscript/tests/scripts/runtime/features/simple_setter_chain_call_setter.out
Labels: bug, topic:gdscript

#94142 Clarify that `Resource.duplicate(true)` doesn't duplicate subresources inside `Array` or `Dictionary` properties
  doc/classes/Resource.xml
Labels: enhancement, discussion, documentation

#94155 Fix unclear `PROPERTY_USAGE_STORAGE`/`EDITOR` description
  doc/classes/@GlobalScope.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#94184 Fix SSR orientation issues when using orthogonal camera
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection.glsl
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection_inc.glsl
Labels: bug, topic:rendering, topic:3d

#94236 Lightmapper: Ensure the atlas is big enough to fit padded UV maps
  modules/lightmapper_rd/lightmapper_rd.cpp
Labels: bug, topic:rendering, topic:editor, topic:3d

#94238 Make errors on `RefCounted.free()` more accurate
  core/object/object.cpp
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, topic:gdscript, cherrypick:4.2

#94258 ThorVG: Update to 0.14.2
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/common/tvgLines.cpp
  thirdparty/thorvg/src/common/tvgLock.h
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgPath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwImage.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRle.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.h
  thirdparty/thorvg/src/renderer/tvgPicture.h
  thirdparty/thorvg/src/renderer/tvgRender.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, topic:thirdparty

#94267 D3D12: Avoid enabling depth bounds test if unsupported
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
Labels: bug, platform:windows, topic:rendering
