Repository godotengine/godot, pull requests merged in 2024-01, with the labels that each got.

#86704 [GDScript] Add `StringName` support to `@GDScript.len`
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_utility_functions.cpp
Labels: enhancement, topic:gdscript

#86435 Add `RD_ENABLED` when `VULKAN_ENABLED` or `D3D12_ENABLED` is added
  drivers/d3d12/SCsub
  drivers/vulkan/SCsub
  platform/android/detect.py
  platform/ios/detect.py
  platform/linuxbsd/detect.py
  platform/macos/detect.py
  platform/windows/detect.py
Labels: bug, topic:editor, regression

#86211 Fix duplicating multiple nodes at different depths in `SceneTreeDock`
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, cherrypick:4.2

#86259 Include `name` field in MethodInfo operator ==
  core/object/object.h
Labels: bug, topic:core, cherrypick:4.2

#85393 Fix PhysicsShapeQueryParameters3D.motion type wrongly set to Vector2
  misc/extension_api_validation/4.2-stable.expected
  servers/physics_server_3d.cpp
Labels: bug, topic:physics, breaks compat, topic:3d

#85421 Unify parameter names for 'RendererCanvasCull'
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
Labels: enhancement, topic:codestyle

#84151 Fix `NOTIFICATION_WM_SIZE_CHANGED` firing if the size hasn't changed
  scene/main/window.cpp
  scene/main/window.h
Labels: bug, topic:core, cherrypick:4.2

#80390 Fix potential integer underflow in rounded up divisions
  core/math/math_funcs.h
  drivers/gles3/storage/mesh_storage.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/lightmapper_rd/lightmapper_rd.cpp
  scene/resources/bit_map.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/shaders/environment/sdfgi_preprocess.glsl
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/rendering_device.cpp
  tests/core/math/test_math_funcs.h
Labels: bug, topic:core, topic:rendering, cherrypick:4.2

#80706 Rework `update_property` for array
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: bug, topic:editor

#86598 Project upgrade tool: Better space handling in "export"
  editor/project_converter_3_to_4.cpp
Labels: bug, topic:editor

#86630 Make default options of int value track refer to RESET animation
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, topic:animation

#86649 Correct C# syntax in `_validate_property` example for the Object class
  doc/classes/Object.xml
Labels: bug, documentation, cherrypick:4.2

#86666 Link to mentioned articles in the docs instead of just naming them
  doc/classes/Basis.xml
  doc/classes/InputEventMIDI.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
Labels: enhancement, documentation, cherrypick:4.2

#86672 Fix incorrect VehicleWheel3D Roll Influence description
  doc/classes/VehicleWheel3D.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#86682 Distinguish between dynamic library not found and can't be opened.
  core/extension/gdextension.cpp
  drivers/unix/os_unix.cpp
  platform/android/os_android.cpp
  platform/ios/os_ios.mm
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
Labels: enhancement, topic:gdextension

#86685 Update `get_image` doc to mention that it will return an empty image with invalid texture
  doc/classes/Texture2D.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#86710 Handle built-in shaders when closing scene
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
Labels: bug, enhancement, topic:editor, topic:shaders

#86504 gltf: Fix three bugs which prevented extracted textures from being refreshed
  editor/editor_file_system.cpp
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.2

#86511 Fix D&D viewport position calculation
  scene/main/viewport.cpp
Labels: bug, topic:input, topic:gui, cherrypick:4.2

#86520 Fix `ScriptLanguageExtension::_find_function` documentation
  core/object/script_language_extension.cpp
  doc/classes/ScriptLanguageExtension.xml
Labels: bug, discussion, topic:gdextension

#86549 Fix various typos in documentation
  doc/classes/BaseMaterial3D.xml
  doc/classes/CameraAttributesPractical.xml
  doc/classes/CompressedCubemap.xml
  doc/classes/CompressedCubemapArray.xml
  doc/classes/CompressedTexture2DArray.xml
  doc/classes/EditorPlugin.xml
Labels: bug, documentation, cherrypick:4.2

#86551 [D3D12] Dynamically load Agility SDK.
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  drivers/d3d12/d3d12_context.cpp
  drivers/d3d12/d3d12_context.h
Labels: enhancement, platform:windows, topic:rendering, topic:porting

#86552 Fix `OS.get_system_font_path` and `OS.get_system_font_path_for_text` to return correct slashes
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting, cherrypick:4.2

#86570 Remove traces of the extinct RID preallocate feature
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  servers/physics_server_2d_wrap_mt.cpp
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d_wrap_mt.cpp
  servers/physics_server_3d_wrap_mt.h
Labels: enhancement, topic:core

#86584 Fix `AudioServer::start_playback_stream` does not iterate through given `p_bus_volumes`
  servers/audio_server.cpp
Labels: bug, topic:audio, cherrypick:4.2

#82264 Core: Allow methods of built-in `Variant` types to be used as Callables
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_callable.cpp
  core/variant/variant_callable.h
  core/variant/variant_setget.cpp
  doc/classes/Callable.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/runtime/features/builtin_method_as_callable.gd
  modules/gdscript/tests/scripts/runtime/features/builtin_method_as_callable.out
Labels: enhancement, topic:core, topic:gdscript

#82897 [PopupMenu] Handle `physical_keycode` and `key_label` of shortcuts.
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Labels: bug, platform:macos, topic:porting

#86522 RenderingDevice: Fix uniform sets wrongly assumed to be bound
  servers/rendering/rendering_device.cpp
Labels: topic:rendering, regression

#86729 Fix missing autocompletion for inheriting classes
  core/input/input.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/animation/animation_player.cpp
  scene/gui/control.cpp
  scene/main/scene_tree.cpp
  scene/resources/material.cpp
Labels: bug, topic:editor, cherrypick:4.2

#86733 Add autocompletion options for AnimatedSprite's other play methods
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Labels: enhancement, topic:editor, topic:animation, cherrypick:4.2

#86412 Fix data race in PagedArray
  core/templates/paged_array.h
Labels: bug, topic:core, cherrypick:4.2

#86623 ThorVG: update from v0.11.2 to v0.11.6
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/common/tvgArray.h
  thirdparty/thorvg/src/loaders/external_png/tvgPngLoader.cpp
  thirdparty/thorvg/src/loaders/jpg/tvgJpgd.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgAnimation.cpp
  thirdparty/thorvg/src/renderer/tvgCanvas.cpp
  thirdparty/thorvg/src/renderer/tvgCommon.h
  thirdparty/thorvg/src/renderer/tvgFrameModule.h
  thirdparty/thorvg/src/renderer/tvgLoader.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.h
  thirdparty/thorvg/src/renderer/tvgPicture.cpp
  thirdparty/thorvg/src/renderer/tvgRender.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgSaveModule.h
  thirdparty/thorvg/src/renderer/tvgSaver.cpp
  thirdparty/thorvg/src/renderer/tvgScene.cpp
  thirdparty/thorvg/src/renderer/tvgScene.h
  thirdparty/thorvg/src/renderer/tvgShape.cpp
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, enhancement, topic:thirdparty, cherrypick:4.2

#86664 Add code examples to Basis' documentation
  doc/classes/Basis.xml
Labels: enhancement, documentation

#86669 Stop escaping `'` on POT generation
  editor/pot_generator.cpp
Labels: bug, topic:editor

#86227 Fix discrete key retrieval method after start
  scene/animation/animation_player.cpp
Labels: bug, regression, topic:animation, cherrypick:4.2

#86341 Fix the autocomplete function for the 'self' keyword.
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression, cherrypick:4.2

#86350 Improve error message in text resource format parser
  scene/resources/resource_format_text.cpp
Labels: enhancement, topic:core

#84800 Fix unlimited project option ranges that could cause crashes.
  core/config/project_settings.cpp
  modules/lightmapper_rd/register_types.cpp
  servers/audio_server.cpp
  servers/navigation_server_3d.cpp
  servers/rendering_server.cpp
Labels: bug, topic:editor

#84527 Display a revert icon on ColorPicker's old sample
  doc/classes/ColorPicker.xml
  editor/editor_themes.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/theme/default_theme.cpp
Labels: enhancement, topic:editor, usability, topic:gui

#83163 Implement `Vector2i/3i/4i` methods: `distance_to` and `distance_squared_to`
  core/math/vector2i.h
  core/math/vector3i.h
  core/math/vector4i.h
  core/variant/variant_call.cpp
  doc/classes/Vector2i.xml
  doc/classes/Vector3i.xml
  doc/classes/Vector4i.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4I.cs
  tests/core/math/test_vector2i.h
  tests/core/math/test_vector3i.h
  tests/core/math/test_vector4i.h
Labels: enhancement, topic:core

#86723 Removed unused code related to command palette
  editor/editor_command_palette.cpp
  editor/editor_command_palette.h
Labels: enhancement, topic:editor

#86745 Ignore internal children when replacing node
  scene/main/node.cpp
Labels: bug, topic:editor

#86460 Fix double `text_changed` signal when overwriting selection in LineEdit
  scene/gui/line_edit.cpp
Labels: bug, topic:gui, cherrypick:4.2

#86476 Store horizontal and vertical split offsets separately in FileSystem dock
  editor/editor_node.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor

#86486 Improve `EditorDirDialog`
  editor/directory_create_dialog.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/gui/editor_dir_dialog.cpp
  editor/gui/editor_dir_dialog.h
Labels: enhancement, topic:editor

#86312 [iOS] Remove deprecated LaunchImages support and switch to Storyboard by default.
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Contents.json
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-480h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-568h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-667h@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Landscape@2x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-736h@3x.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait-X.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait.png
  misc/dist/ios_xcode/godot_ios/Images.xcassets/LaunchImage.launchimage/Default-Portrait@2x.png
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
Labels: bug, platform:ios, topic:gui

#85869 .NET: Add a warning in the inspector when properties might be out of sync
  editor/plugins/script_text_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/Inspector/InspectorOutOfSyncWarning.cs
  modules/mono/editor/GodotTools/GodotTools/Inspector/InspectorPlugin.cs
Labels: enhancement, topic:editor, usability, topic:dotnet

#85240 Fix example in `NodePath.get_name()` documentation
  doc/classes/NodePath.xml
Labels: bug, documentation

#84656 Clarify that `@GlobalScope.clamp` does not do component-wise clamping
  doc/classes/@GlobalScope.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#84788 Clarify description of "group selected"
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#82802 Fix saving branch as scene saves children without owner set
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: bug, topic:editor

#82900 [PopupMenu] Handle shortcuts with "global" flag directly.
  scene/gui/popup_menu.cpp
Labels: bug, platform:macos, topic:porting

#82916 Support updating tooltip immediately after editor description change
  doc/classes/Node.xml
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  scene/main/node.cpp
Labels: enhancement, topic:editor, topic:gui

#80094 Explain which nodes receive `NOTIFICATION_WM_SIZE_CHANGED`
  doc/classes/Node.xml
Labels: enhancement, documentation, cherrypick:4.2

#75166 SCons: Add `stack_size` and `default_pthread_stack_size` options to Web target
  platform/web/detect.py
Labels: enhancement, platform:web, topic:buildsystem, cherrypick:3.x, cherrypick:4.2

#86667 Improve sorting of enum autocompletion
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:gdscript, topic:editor, usability, cherrypick:4.2

#86732 Make `LineEdit` scrolling show as much text as possible
  scene/gui/line_edit.cpp
Labels: enhancement, usability, topic:gui

#86753 Add autocompletion for `Engine.get_singleton` & similar
  core/core_bind.cpp
  core/core_bind.h
Labels: enhancement, topic:core, usability

#86754 Add autocompletion for SpriteFrames' methods
  scene/resources/sprite_frames.cpp
  scene/resources/sprite_frames.h
Labels: enhancement, usability, topic:animation

#86761 Fix `get_window_safe_area` on Android
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Labels: bug, platform:android, topic:porting, cherrypick:4.2

#86364 Add and expose Basis/Transform2D/3D division by float operator
  core/math/basis.h
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/transform_3d.cpp
  core/math/transform_3d.h
  core/variant/variant_op.cpp
  doc/classes/Basis.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
Labels: enhancement, topic:core

#86555 Fix LightmapperRD division warning in MSVC
  modules/lightmapper_rd/lightmapper_rd.cpp
Labels: bug, topic:rendering

#84246 [Windows] Use CCD API to get fractional screen refresh rates.
  platform/windows/display_server_windows.cpp
Labels: enhancement, platform:windows, topic:porting

#84348 Fix visual shader's `screen_uv` input preview uses position of node rather than a sample area like uv
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:editor, topic:shaders, cherrypick:4.2

#84375 Add const references in `String` class
  core/string/ustring.cpp
  core/string/ustring.h
Labels: enhancement, topic:codestyle

#84445 Add const references detected by clang-tidy
  core/debugger/engine_debugger.cpp
  core/input/input.cpp
  core/input/input_map.cpp
  core/io/file_access_pack.cpp
  core/io/http_client.cpp
  core/os/keyboard.cpp
  core/string/ustring.cpp
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  editor/code_editor.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/doc_tools.cpp
  editor/editor_build_profile.cpp
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_inspector.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/editor_plugin_settings.cpp
  editor/editor_properties_array_dict.cpp
  editor/export/editor_export_platform.cpp
  editor/filesystem_dock.cpp
  editor/gui/scene_tree_editor.cpp
  editor/import/collada.cpp
  editor/import/editor_import_collada.cpp
  editor/localization_editor.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/resource_preloader_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/tiles/atlas_merging_dialog.cpp
  editor/pot_generator.cpp
  editor/project_converter_3_to_4.cpp
  editor/project_manager.cpp
  editor/project_settings_editor.cpp
  editor/scene_tree_dock.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gltf/gltf_document.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
  platform/android/export/export_plugin.cpp
  platform/ios/export/export_plugin.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  scene/gui/file_dialog.cpp
  scene/gui/graph_edit_arranger.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/tab_bar.cpp
  scene/resources/curve.cpp
  scene/resources/font.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering_server.cpp
Labels: enhancement, topic:core

#84462 Optimize `String.humanize_size()`
  core/string/ustring.cpp
Labels: enhancement, topic:core, performance

#84469 Fix NetBSD executable path
  drivers/unix/os_unix.cpp
Labels: bug, platform:linuxbsd, topic:porting, cherrypick:4.2

#84486 Fix material drag and drop
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, usability, topic:3d

#84508 Clean unnecessary copy detected by clang-tidy
  core/io/resource_saver.cpp
  editor/import/resource_importer_scene.cpp
Labels: enhancement, topic:codestyle

#84546 Do not mutate source Image in `Image::save_jpg` and use encoder return value
  modules/jpg/image_loader_jpegd.cpp
Labels: bug, topic:import

#84666 Add performance note to `Array.resize()`
  doc/classes/Array.xml
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#83702 Ensure Android keystore username and password are checked on export
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
Labels: enhancement, platform:android, usability, topic:export

#80282 Overhaul OS documentation
  doc/classes/OS.xml
Labels: enhancement, documentation

#80819 Improve PackedScene unit test by covering more methods
  tests/scene/test_packed_scene.h
Labels: enhancement, topic:tests

#81044 Add PhysicsMaterial icon
  editor/icons/PhysicsMaterial.svg
Labels: enhancement, topic:editor

#81267 Add isometric cell shape mode to `AStarGrid2D`.
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
  doc/classes/AStarGrid2D.xml
Labels: enhancement, topic:core, topic:navigation

#72341 Show selected end of line in TextEdit
  scene/gui/text_edit.cpp
Labels: bug, enhancement, topic:editor, topic:gui

#86576 Add warning for using concave shape on CharacterBody3D
  scene/3d/collision_shape_3d.cpp
Labels: enhancement, topic:editor, topic:physics, topic:3d

#84284 Preserve inspector focus when opening script from scene tree
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#84353 Add zoom controls to Sprite2DPlugin converter preview
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.h
Labels: enhancement, topic:editor, topic:2d

#83503 Allow to load multiple animation/libraries at once in the animation manager
  editor/plugins/animation_library_editor.cpp
  editor/plugins/animation_library_editor.h
Labels: enhancement, topic:editor, usability

#83895 Use screen-aligned quads for origin lines to avoid issues on NVidia
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, topic:3d, cherrypick:4.2

#84107 Use platform-specific methods for FileAccess reading and writing
  core/typedefs.h
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  platform/android/file_access_android.cpp
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
Labels: enhancement, topic:porting, performance

#84135 Fix nodes being deselected upon reparenting
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, usability

#82894 Add compatibility rename of `(v)align` properties of `Label`
  scene/gui/label.cpp
  scene/gui/label.h
Labels: enhancement, topic:editor

#83109 Allow Ctrl + KP / and Ctrl + # to toggle comment in the script editor
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#83120 GDScript: Allow empty parentheses for property getter declaration
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/features/property_setter_getter.gd
  modules/gdscript/tests/scripts/parser/features/property_setter_getter.out
Labels: enhancement, topic:gdscript

#83353 Expose 3D Delaunay tetrahedralization in `Geometry3D`
  core/core_bind.cpp
  core/core_bind.h
  core/math/geometry_3d.h
  doc/classes/Geometry3D.xml
Labels: enhancement, topic:core, topic:3d

#83577 Add automatic translation of items to ItemList
  editor/create_dialog.cpp
  editor/dependency_editor.cpp
  editor/editor_about.cpp
  editor/editor_layouts_dialog.cpp
  editor/export/project_export.cpp
  editor/gui/editor_file_dialog.cpp
  editor/history_dock.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_file_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/tiles/atlas_merging_dialog.cpp
  editor/plugins/tiles/tile_map_editor.cpp
  editor/plugins/tiles/tile_proxies_manager_dialog.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  scene/gui/item_list.cpp
  scene/gui/item_list.h
Labels: enhancement, feature proposal, topic:gui

#82639 GDScript: Improve error messages for invalid indexing
  core/variant/variant.h
  core/variant/variant_setget.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_constants_as_variant.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants.out
  modules/gdscript/tests/scripts/analyzer/errors/outer_class_instance_constants_as_variant.out
  modules/gdscript/tests/scripts/runtime/errors/constant_array_is_deep.out
  modules/gdscript/tests/scripts/runtime/errors/constant_dictionary_is_deep.out
Labels: enhancement, topic:core, topic:gdscript, usability

#78378 Changed the way the rotation of a curve at a point is evaluated to match PathFollow2D
  doc/classes/Curve2D.xml
  scene/2d/path_2d.cpp
  scene/resources/curve.cpp
  tests/scene/test_curve_2d.h
Labels: bug, topic:core, topic:2d

#78960 Make editor inspector follow focus
  doc/classes/EditorInspector.xml
  editor/editor_inspector.cpp
Labels: enhancement, topic:editor, usability, topic:gui

#75005 Add option to toggle visibility of Position gizmos in 2D editor, organize existing options
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:2d

#76654 Add useful functions to `FilterEdit` in `AnimationBlendTreeEditor`
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
Labels: enhancement, feature proposal, topic:editor, usability, topic:animation

#72572 Provide ability to override `EditorExportPlugin::_export_end()` in C++
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
Labels: enhancement, topic:plugin, topic:export

#86466 [3.x] C#: Fix incorrect `Rect2` sizing when using the `Transform2D` `*` operator.
  modules/mono/glue/GodotSharp/GodotSharp/Core/Transform2D.cs
Labels: bug, topic:dotnet, cherrypick:3.5

#86725 [3.x] Remove unused struct in GradientTexture1D
  scene/resources/texture.h
Labels: enhancement, topic:core

#53639 [3.x] Fix unitialized variables in `core`
  core/bind/core_bind.cpp
  core/class_db.cpp
  core/crypto/hashing_context.cpp
  core/engine.cpp
  core/io/file_access_compressed.cpp
  core/io/file_access_encrypted.cpp
  core/io/file_access_memory.cpp
  core/io/http_client.cpp
  core/io/pck_packer.cpp
  core/io/resource_format_binary.cpp
  core/math/a_star.h
  core/math/expression.cpp
  core/math/expression.h
  core/object.h
  core/os/dir_access.cpp
  core/packed_data_container.cpp
  core/script_debugger_local.cpp
Labels: bug, topic:core

#86769 Add logging when macOS export will fail due to disabled texture formats.
  platform/macos/export/export_plugin.cpp
Labels: enhancement, platform:macos, usability, topic:export

#86799 Add autocompletion for AnimationLibrary & AnimationMixer's methods
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/resources/animation_library.cpp
  scene/resources/animation_library.h
Labels: enhancement, usability, topic:animation

#86820 Fix various typos in documentation
  doc/classes/Image.xml
  doc/classes/NavigationServer3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingDevice.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
Labels: bug, documentation

#86379 Android: Update the logic used to start / stop the render thread
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.java
  platform/android/java/lib/src/org/godotengine/godot/vulkan/VkSurfaceView.kt
Labels: bug, platform:android, topic:rendering, topic:porting

#86569 GDScript: Lambda hotswap fixes
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_lambda_callable.h
Labels: bug, topic:gdscript

#85791 Move TileMapLayer to its own files
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Labels: enhancement, topic:2d

#85837 Style: Mark clang-format 16 as supported for pre-commit hook
  drivers/gles3/shaders/scene.glsl
  editor/project_converter_3_to_4.cpp
  misc/hooks/README.md
  misc/hooks/pre-commit-clang-format
Labels: enhancement, cherrypick:3.x, topic:codestyle, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2

#84140 Complete the docs for Quaternion
  doc/classes/Quaternion.xml
Labels: enhancement, documentation, cherrypick:4.2

#84162 [iOS export] Add export options for performance capabilities and min. iOS version.
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
Labels: enhancement, platform:ios, topic:export

#83448 Identify pull request builds from GitHub Actions with the PR number
  .github/actions/godot-build/action.yml
Labels: enhancement, topic:core, topic:buildsystem, topic:editor

#81325 Add a button to clear curve points in the Path2D editor
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
  scene/resources/curve.cpp
  scene/resources/curve.h
Labels: enhancement, topic:editor, usability, topic:2d

#77712 Fix lossless formats in PortableCompressedTexture2D
  core/io/image.cpp
  core/io/image.h
  drivers/png/image_loader_png.cpp
  drivers/png/image_loader_png.h
  editor/plugins/texture_editor_plugin.cpp
  scene/resources/compressed_texture.h
  scene/resources/portable_compressed_texture.cpp
Labels: bug, topic:core, topic:import

#64908 Add `texel_scale` property to LightmapGI
  doc/classes/LightmapGI.xml
  editor/plugins/lightmap_gi_editor_plugin.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Labels: enhancement, topic:rendering, topic:3d

#51569 Move 3D scene import classes to their own folder
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/filesystem_dock.cpp
  editor/import/3d/collada.cpp
  editor/import/3d/collada.h
  editor/import/3d/editor_import_collada.cpp
  editor/import/3d/editor_import_collada.h
  editor/import/3d/post_import_plugin_skeleton_renamer.cpp
  editor/import/3d/post_import_plugin_skeleton_renamer.h
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.cpp
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.h
  editor/import/3d/post_import_plugin_skeleton_track_organizer.cpp
  editor/import/3d/post_import_plugin_skeleton_track_organizer.h
  editor/import/3d/resource_importer_obj.cpp
  editor/import/3d/resource_importer_obj.h
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  editor/import/3d/scene_import_settings.cpp
  editor/import/3d/scene_import_settings.h
  editor/import/SCsub
  editor/plugins/bone_map_editor_plugin.cpp
  editor/register_editor_types.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
  modules/gltf/editor/editor_scene_importer_fbx.h
  modules/gltf/editor/editor_scene_importer_gltf.h
  scu_builders.py
Labels: enhancement, topic:import, topic:3d

#86835 Fix data format storage method for PortableCompressedTexture2D
  scene/resources/compressed_texture.h
  scene/resources/portable_compressed_texture.cpp
  scene/resources/portable_compressed_texture.h
Labels: bug, topic:import, regression

#86882 Hide Keystore Release password on Android's Export window
  platform/android/export/export.cpp
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, topic:editor, topic:export

#86891 Add autocompletion to `get_node_or_null`
  scene/main/node.cpp
Labels: enhancement, topic:core, usability

#86895 Add missing descriptions to TextServer's constants
  doc/classes/TextServer.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#86908 Fix virtual calls for GDExtension in `CollisionObject2D`
  scene/2d/collision_object_2d.cpp
Labels: bug, topic:physics, topic:gdextension, topic:2d, cherrypick:4.2

#86933 Fix 2D viewport texture drop issue with global history registration
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#86787 Fix various spelling errors across engine solution
  drivers/egl/egl_manager.h
  editor/window_wrapper.cpp
  modules/navigation/nav_agent.cpp
  tests/core/string/test_node_path.h
  tests/core/variant/test_array.h
Labels: enhancement, topic:codestyle

#86804 Allow all editor modes to select nodes in the viewport
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#86805 Allow `ui_cancel` to unselect all nodes in all edit modes in 2D, matching 3D behavior
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:2d

#86824 Fix playback position label update in Audio Stream Importer
  editor/import/audio_stream_import_settings.cpp
Labels: bug, topic:editor, topic:audio, cherrypick:4.2

#86827 [Pseudolocalization] Prevent out of bounds reads.
  core/string/translation.cpp
Labels: bug, topic:core, cherrypick:4.2

#86848 Specify how CanvasTexture does not work in 3D
  doc/classes/CanvasTexture.xml
Labels: enhancement, documentation, topic:2d, cherrypick:4.2

#86874 Fix some build errors with `disable_3d=yes`
  scene/animation/animation_mixer.cpp
  scene/animation/root_motion_view.cpp
  scene/register_scene_types.cpp
  tests/test_main.cpp
Labels: bug, topic:buildsystem, topic:3d, cherrypick:4.2

#86893 Add autocompletion for a few EditorInterface methods
  editor/editor_interface.cpp
  editor/editor_interface.h
Labels: enhancement, topic:editor

#86349 Clarify doc: `Node.get_child` returns null for invalid index
  doc/classes/Node.xml
Labels: enhancement, documentation, cherrypick:4.2

#86417 Ensure special characters are escaped in TSCN connections and editable hint
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core, cherrypick:4.2

#86474 Only update particle velocity when it changes
  scene/2d/gpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.h
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
Labels: bug, regression, performance, topic:particles, cherrypick:4.2

#86507 Fix MSVC 14.1 complaining about "attempting to reference a deleted function" in RenderPassClearValue
  servers/rendering/rendering_device_driver.h
Labels: bug, platform:windows, topic:rendering

#86542 Improve Path2D editing
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
Labels: enhancement, topic:editor, usability

#86557 Fix Polygon2D to Skeleton2D transform calculation
  scene/2d/polygon_2d.cpp
Labels: bug, topic:rendering, topic:2d, cherrypick:4.2

#86568 Fix potential infinite loop when calculating tile editor zoom level
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:editor, topic:2d, cherrypick:4.2

#86016 Import step interpolation for loc/rot/scale from GLTF as nearest
  modules/gltf/gltf_document.cpp
Labels: enhancement, topic:import, topic:3d

#86245 Check skeleton RID when using cached AABB
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
Labels: bug, topic:rendering, topic:physics, topic:3d

#85178 Add unit test runner for autocompletion
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/scripts/completion/get_node/get_node_member_annotated.cfg
  modules/gdscript/tests/scripts/completion/get_node/get_node_member_annotated.gd
  modules/gdscript/tests/scripts/lsp/class.gd
  modules/gdscript/tests/scripts/lsp/enums.gd
  modules/gdscript/tests/scripts/lsp/indentation.gd
  modules/gdscript/tests/scripts/lsp/lambdas.gd
  modules/gdscript/tests/scripts/lsp/local_variables.gd
  modules/gdscript/tests/scripts/lsp/properties.gd
  modules/gdscript/tests/scripts/lsp/scopes.gd
  modules/gdscript/tests/scripts/lsp/shadowing_initializer.gd
  modules/gdscript/tests/scripts/project.godot
  modules/gdscript/tests/test_completion.h
  modules/gdscript/tests/test_lsp.h
  tests/test_main.cpp
Labels: enhancement, topic:gdscript, topic:tests

#85870 Fix overriding `CollisionObject3D::_mouse_enter()` and `_mouse_exit()` from GDExtension
  scene/3d/collision_object_3d.cpp
Labels: bug, topic:physics, topic:gdextension, cherrypick:4.2

#85142 Improve usability of zooming in the animation editor
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: enhancement, topic:editor, usability, topic:animation

#85180 [Core] Prevent copying of `SelfList` and `SelfList::List`
  core/templates/self_list.h
  scene/2d/tile_map_layer.h
Labels: bug, topic:core

#82669 Add `set_slot_custom_icon` and `get_slot_custom_icon` to GraphNode
  doc/classes/GraphNode.xml
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
Labels: enhancement, feature proposal, topic:gui

#77832 Fix incorrect check on importing project
  editor/project_manager.cpp
  editor/project_manager.h
Labels: bug, topic:editor, usability

#72461 Make the rendering method dropdown also affect mobile if compatible
  editor/editor_node.cpp
Labels: bug, enhancement, topic:rendering, topic:editor, cherrypick:4.1, cherrypick:4.2

#86847 Fix `TileMap` quadrant canvas item position not being local
  scene/2d/tile_map_layer.cpp
Labels: bug, topic:2d

#86906 Add ability to drive full-body avatars using OpenXRHand
  modules/openxr/doc_classes/OpenXRHand.xml
  modules/openxr/scene/openxr_hand.cpp
  modules/openxr/scene/openxr_hand.h
Labels: enhancement, topic:xr

#86950 Fix wrong fail condition in compressed texture's `_set_data`
  scene/resources/portable_compressed_texture.cpp
Labels: bug, topic:core, cherrypick:4.2

#86687 Fix TrackCache conflict when tracks have same name but different type
  doc/classes/AnimationMixer.xml
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/root_motion_editor_plugin.cpp
  misc/extension_api_validation/4.2-stable.expected
  modules/gltf/extensions/gltf_document_extension.h
  modules/gltf/structures/gltf_skin.h
  scene/animation/animation_mixer.compat.inc
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: bug, breaks compat, regression, topic:animation, cherrypick:4.2

#84244 Skip swapchain logic if there is nothing to present (Android OpenXR)
  drivers/d3d12/d3d12_context.cpp
  drivers/d3d12/d3d12_context.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/vulkan/vulkan_context.cpp
  drivers/vulkan/vulkan_context.h
  servers/rendering/dummy/rasterizer_dummy.h
  servers/rendering/renderer_compositor.h
  servers/rendering/renderer_rd/api_context_rd.h
  servers/rendering/renderer_rd/renderer_compositor_rd.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_server_default.cpp
Labels: bug, topic:rendering, topic:xr, cherrypick:4.1, cherrypick:4.2

#82468 Option to put TabContainer tabs at bottom
  doc/classes/TabContainer.xml
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Labels: enhancement, topic:gui

#86894 In `merge_with` also merge some default fields of theme
  scene/resources/theme.cpp
Labels: bug, discussion, topic:gui
