Repository godotengine/godot, pull requests merged in 2024-06, with the labels that each got.

#92661 SCons: Fix `mono` dependency
  core/SCsub
  modules/SCsub
Labels: bug, topic:buildsystem, topic:dotnet, high priority, regression

#92501 [3.x] Add range hint for `ViewportContainer.stretch_shrink`
  scene/gui/viewport_container.cpp
Labels: enhancement, topic:editor

#92605 Fix `RichTextLabel` table overlapping with next line
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#92633 Fix project settings reloading
  editor/editor_node.cpp
Labels: bug, topic:core, topic:editor

#92669 Fix huge .tscn icon and icon in background of File System panel
  editor/filesystem_dock.cpp
  scene/gui/item_list.cpp
  scene/gui/item_list.h
Labels: bug, topic:editor

#92674 Improve `AudioStreamPlaylist` class reference
  modules/interactive_music/doc_classes/AudioStreamPlaylist.xml
Labels: bug, enhancement, documentation

#92692 Fix iOS exports never embedding framework bundles
  platform/ios/export/export_plugin.cpp
Labels: bug, platform:ios, topic:export

#92709 Fix invalid return value when multiple permission requests are dispatched
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
Labels: bug, platform:android, topic:porting, regression

#92716 Correct documentation for Omni and Spot light distance attenuation
  doc/classes/OmniLight3D.xml
  doc/classes/SpotLight3D.xml
Labels: bug, topic:rendering, documentation, cherrypick:4.2

#92424 Use current mouse button state instead of saved values.
  editor/plugins/node_3d_editor_plugin.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_content_view.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, enhancement, platform:windows, platform:linuxbsd, platform:macos, topic:input

#92482 Add missing space around the ratio lock button
  editor/editor_properties_vector.cpp
Labels: enhancement, topic:editor

#91454 Fix Steam input "crc" errors, and some other Coverity reports of uninitialized scalar variable
  core/input/input.cpp
  drivers/gles3/rasterizer_gles3.cpp
  editor/debugger/debug_adapter/debug_adapter_types.h
  modules/gdscript/language_server/godot_lsp.h
  scene/resources/2d/tile_set.h
Labels: bug, enhancement, topic:input, topic:codestyle, cherrypick:4.1, cherrypick:4.2

#73941 Blend import: Allow importing `active_collection_only`
  modules/gltf/editor/editor_scene_importer_blend.cpp
Labels: enhancement, topic:import, topic:3d

#92426 Avoid editor error reporting using resource loader thread's call queues
  core/io/resource_loader.h
  core/object/message_queue.h
  editor/gui/editor_toaster.cpp
Labels: bug, topic:editor, regression

#92697 CI: Make local python hooks multi-platform
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#79126 Enable optional minimal SteamAPI integration for usage time tracking (editor only).
  SConstruct
  main/SCsub
  main/main.cpp
  main/steam_tracker.cpp
  main/steam_tracker.h
Labels: enhancement, feature proposal, topic:editor

#92723 Fix some incorrect uses of `String` over `StringName`
  editor/gui/scene_tree_editor.cpp
  editor/plugins/control_editor_plugin.cpp
Labels: bug, topic:core

#92095 Fix default NodePaths saved in scene
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/scene_tree_dock.cpp
  scene/property_utils.cpp
  scene/property_utils.h
  scene/resources/packed_scene.cpp
  tests/scene/test_node.h
Labels: bug, topic:core, topic:editor, regression

#90487 Register the export info correctly when a script is used as the variable type for Node
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/features/export_variable.gd
  modules/gdscript/tests/scripts/parser/features/export_variable.notest.gd
  modules/gdscript/tests/scripts/parser/features/export_variable.out
Labels: bug, topic:gdscript

#92721 [3.x] GDNative: Fix Linux riscv warning about ignored `sysv_abi`
  modules/gdnative/include/gdnative/gdnative.h
Labels: enhancement, platform:linuxbsd, topic:buildsystem, topic:gdextension

#92739 Fix BlendSpace2D sync flagging line
  scene/animation/animation_blend_space_2d.cpp
Labels: bug, regression, topic:animation

#92740 Fix IME activation in subviewports.
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#92745 [RTL] Fix nested ordered lists inside unordered lists.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#92704 Consolidate the ProjectManager and Editor windows into a single Android Activity class
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/EditorWindowInfo.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
Labels: bug, platform:android, topic:editor

#92465 Make signal connections dialog method picker respect bind/unbind
  editor/connections_dialog.cpp
Labels: bug, topic:editor

#92722 Fix callable not clearing freed pointer
  core/variant/callable.cpp
Labels: bug, topic:core, cherrypick:4.1, cherrypick:4.2

#86947 Made tooltip on `TileSet` Paint Button give more information when disabled
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.h
Labels: enhancement, topic:editor, usability, topic:2d

#92742 Fix Windows Activate Process
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:porting, topic:input, regression

#92758 Remove note about night sky in PhysicalSkyMaterial
  doc/classes/PhysicalSkyMaterial.xml
Labels: enhancement, documentation, cherrypick:4.1, cherrypick:4.2

#92760 Call `EditorNode::set_edited_scene()` manually instead of via the `replacing_by` signal
  editor/editor_node.cpp
  editor/editor_node.h
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#92770 Add Globals tab to reorganize Project Settings dialog
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor, usability

#92774 Fix Shader for SkeletonGizmo to follow renderer's reversed-z change
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:animation, topic:3d

#92781 [macOS] Improve native menu open/close callbacks.
  doc/classes/NativeMenu.xml
  platform/macos/godot_menu_delegate.mm
  platform/macos/native_menu_macos.h
  platform/macos/native_menu_macos.mm
  platform/windows/native_menu_windows.cpp
  platform/windows/native_menu_windows.h
  servers/display/native_menu.cpp
  servers/display/native_menu.h
Labels: bug, enhancement, platform:macos, topic:porting, topic:gui

#92800 C#: Skip method name when checking CallError
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/ExceptionUtils.cs
Labels: bug, topic:dotnet

#92801 Set `XRHandTracker` property `has_tracking_data` to true only when palm joint is tracked
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
Labels: bug, topic:xr

#92802 Editor: Hide GDScript internal functions from method selectors
  editor/connections_dialog.cpp
  editor/property_selector.cpp
Labels: bug, discussion, topic:gdscript, topic:editor

#92803 Ignore Kate's build file
  .gitignore
Labels: enhancement, topic:buildsystem

#92819 Fix building glslang on platforms without `<filesystem>`
  thirdparty/glslang/glslang/Include/InfoSink.h
  thirdparty/glslang/patches/disable-absolute-paths-for-apple-compat.patch
Labels: bug, topic:buildsystem, topic:thirdparty

#92826 Improve native menu and status indicator icons conversion and checks.
  platform/macos/display_server_macos.mm
  platform/macos/native_menu_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/native_menu_windows.cpp
Labels: bug, platform:windows, platform:macos, topic:porting

#92850 Fix `NavigationServer3D.get_closest_point_to_segment()` with `use_collision`
  modules/navigation/nav_map.cpp
  tests/servers/test_navigation_server_3d.h
Labels: bug, topic:navigation, topic:3d

#92871 Remove unused order variable from EditorResourcePreview
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
Labels: bug, topic:editor, topic:codestyle

#92488 Fix use of undeclared identifier `__cpuidex` error on MinGW
  thirdparty/embree/common/sys/sysinfo.cpp
  thirdparty/embree/patches/mingw-no-cpuidex.patch
Labels: bug, platform:windows, topic:buildsystem, topic:thirdparty, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2

#92559 Update Add Scene button after TabBar resizes
  editor/gui/editor_scene_tabs.cpp
Labels: bug, topic:editor

#92580 Remove the limit on the number of the SignalInfo creation function parameters
  platform/android/api/jni_singleton.h
Labels: enhancement, platform:android, topic:porting

#92645 Fix `NOTIFICATION_SORT_CHILDREN` is called twice on startup
  scene/gui/container.cpp
Labels: bug, topic:gui

#92664 Add visibilty mode to `as_sortable_control()`
  scene/gui/box_container.cpp
  scene/gui/container.cpp
  scene/gui/container.h
  scene/gui/graph_element.cpp
  scene/gui/graph_node.cpp
  scene/gui/margin_container.cpp
  scene/gui/panel_container.cpp
  scene/gui/scroll_container.cpp
  scene/gui/tab_container.cpp
Labels: bug, enhancement, regression, topic:gui

#92670 Fix unstable AnimationTrackEditor snapping value
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: bug, topic:editor, regression, topic:animation

#92702 Fix creating cursor image from `AtlasTexture`
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/windows/display_server_windows.cpp
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, topic:core, topic:input, regression

#92271 Fix TextEdit HScroll hiding after wrapping
  scene/gui/text_edit.cpp
Labels: bug, topic:editor, usability

#91390 Unhide carets in add selection for occurrence and fix error
  scene/gui/text_edit.cpp
  tests/scene/test_code_edit.h
Labels: bug, topic:gui

#90850 Handle Vector4 default input values in visual shaders
  scene/resources/visual_shader.cpp
Labels: bug, topic:shaders, cherrypick:4.2

#88322 Editor: Focus value editor on type change in Dictionary and Array editors
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Labels: bug, topic:editor, usability

#86596 Sync visual shader's distance fade using circular fade
  scene/resources/visual_shader_nodes.cpp
Labels: bug, topic:shaders, topic:3d

#92887 Fix depth clear value for uv2 baking in compatibility renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, regression, topic:3d

#92967 CI: Pin Python 3.12.3 to workaround GHA issue
  .github/actions/godot-deps/action.yml
Labels: enhancement, topic:buildsystem, cherrypick:3.x, cherrypick:3.5, cherrypick:4.1, cherrypick:4.2

#92843 Stop color picker tooltip from stealing input events
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, usability, topic:gui

#92861 Fix seeking Animation immediate after playback for Discrete track
  doc/classes/Animation.xml
  editor/plugins/animation_player_editor_plugin.cpp
  misc/extension_api_validation/4.2-stable.expected
  scene/animation/animation_mixer.cpp
  scene/animation/animation_player.cpp
  scene/resources/animation.compat.inc
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: bug, topic:editor, regression, topic:animation

#92893 Fix freeze after building C#
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.types.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
Labels: bug, topic:editor, topic:dotnet

#92896 Expose `get_skeleton()` from `SkeletonModifier3D`
  doc/classes/SkeletonModifier3D.xml
  scene/3d/skeleton_modifier_3d.cpp
Labels: enhancement, topic:animation, topic:3d

#92915 ThorVG: Update to 0.13.7
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/common/tvgCompressor.cpp
  thirdparty/thorvg/src/common/tvgCompressor.h
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwFill.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMemPool.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRasterTexmap.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRle.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgRender.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.cpp
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Labels: enhancement, topic:thirdparty

#92925 Add `get_concatenated_bone_names()` to `Skeleton3D` for `SkeletonModifier3D`'s enum hints
  doc/classes/Skeleton3D.xml
  scene/3d/bone_attachment_3d.cpp
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_ik_3d.cpp
Labels: enhancement, topic:editor, topic:animation, topic:3d, performance

#92943 Fix native file dialogs being shown on `set_visible(false)`
  scene/gui/file_dialog.cpp
Labels: bug, topic:gui

#92648 Consistently display script icons for nodes in connect dialog's scene tree editor
  editor/gui/scene_tree_editor.cpp
Labels: bug, topic:editor, usability

#92787 Implement X-draw-order switch in TileMapLayer
  doc/classes/TileMap.xml
  doc/classes/TileMapLayer.xml
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Labels: bug, enhancement, topic:2d

#91997 Fix tooltip mouse position conversion for scaled controls
  scene/main/viewport.cpp
Labels: bug, topic:gui, cherrypick:4.2

#92117 Fix example for Basis * Vector3 in documentation
  doc/classes/Basis.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#91265 Fix reparenting after hover delay
  editor/gui/scene_tree_editor.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Labels: bug, topic:editor, regression

#92815 Fix Keep/Skip File import selection crash
  editor/import_dock.cpp
Labels: bug, topic:editor, topic:import, crash, regression

#92836 Fix editor screenshots menu button's tooltip
  editor/editor_node.cpp
Labels: bug, topic:editor, cherrypick:4.2

#92905 qoa: Apply upstream patches
  thirdparty/README.md
  thirdparty/misc/patches/qoa-min-fix.patch
  thirdparty/misc/qoa.h
Labels: enhancement, topic:thirdparty

#92988 Replace deprecated `USE_WEBGL2` linker flag
  platform/web/detect.py
Labels: enhancement, platform:web, topic:buildsystem

#92991 Fix NavigationRegion2D debug not clearing canvas item
  scene/2d/navigation_region_2d.cpp
Labels: bug, topic:editor, regression, topic:navigation

#92993 CI: Hotfix for build error with newer clang++
  thirdparty/embree/kernels/geometry/pointi.h
  thirdparty/embree/kernels/subdiv/bezier_curve.h
Labels: bug, topic:buildsystem, topic:thirdparty

#92650 Fix FileSystem dock won't show any file folders
  core/io/file_access.cpp
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/io/resource_loader.cpp
  doc/classes/EditorFileSystem.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:editor, topic:import, performance

#92701 [Button] Adds theme option to align button text and icon to either largest or current stylebox.
  doc/classes/Button.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/button.cpp
  scene/gui/button.h
  scene/theme/default_theme.cpp
Labels: bug, enhancement, regression, topic:gui

#89302 Add pre-4.3 Editor theme color names for compatibility
  editor/themes/editor_theme_manager.cpp
Labels: bug, topic:editor, regression, topic:gui

#86721 Improve GDExtension Tools Integration with Editor Debug Tooling
  core/core_bind.cpp
  core/core_bind.h
  core/object/script_language_extension.cpp
  doc/classes/EditorDebuggerPlugin.xml
  doc/classes/EditorDebuggerSession.xml
  doc/classes/EngineDebugger.xml
  doc/classes/ScriptLanguageExtension.xml
  editor/plugins/editor_debugger_plugin.cpp
  editor/plugins/editor_debugger_plugin.h
Labels: enhancement, feature proposal, topic:core

#93019 Revert "Fix method name for custom callable"
  core/object/undo_redo.cpp
Labels: bug, topic:core, regression

#92968 [RTL] Fix list item prefix width not taken into account.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui

#93023 Revert "Fix FileSystem dock won't show any file folders"
  core/io/file_access.cpp
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  core/io/resource_loader.cpp
  doc/classes/EditorFileSystem.xml
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: bug, topic:import, crash, regression

#93006 Fix EditorFileSystem `update_files` after #92893
  editor/editor_file_system.cpp
Labels: bug, topic:editor

#93008 Fix `Container::pending_sort` tracking
  scene/gui/container.cpp
Labels: bug, regression, topic:gui

#92718 Fix same importer will be added multiple times in `get_importers_for_extension`
  core/io/resource_importer.cpp
Labels: bug, topic:editor, topic:import, cherrypick:4.1, cherrypick:4.2

#92728 CI: Migrate codespell logic to `pyproject.toml`
  .pre-commit-config.yaml
  pyproject.toml
Labels: enhancement, topic:buildsystem

#91890 SCons: Fix `silence_msvc` implementation errors
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem

#92901 Fix `TextureProgressBar` radial mode invalid polygon edge case
  scene/gui/texture_progress_bar.cpp
Labels: bug, topic:gui, cherrypick:4.1, cherrypick:4.2

#92930 Add missing inspector dock update after node deletion
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor

#92994 Fix NavigationRegion2D editor plugin clear button not updating debug visuals
  editor/plugins/navigation_polygon_editor_plugin.cpp
Labels: bug, topic:editor, topic:navigation

#93033 System info: Remove empty parentheses when video adapter driver name is unknown
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#92974 Fix incorrect camera transform of animation view in the import window
  editor/import/3d/scene_import_settings.cpp
Labels: bug, topic:editor, topic:import, topic:3d, cherrypick:4.2

#93042 TextEdit: Don't error when undo stack is empty
  scene/gui/text_edit.cpp
Labels: bug, regression, topic:gui

#93068 Track compositor effects that use motion vectors
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/storage/compositor_storage.cpp
  servers/rendering/storage/compositor_storage.h
Labels: bug, topic:rendering

#92827 Use GDExtension `to_string` in Node
  core/object/object.cpp
  scene/main/node.cpp
Labels: bug, topic:core, topic:gdextension

#92885 Fix goto definition for `new` method
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:gdscript, topic:editor

#92992 Update Camera2D gizmos when screen size changes
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Labels: bug, topic:editor, topic:2d

#83729 Add extra warning messages to `VisualShaderNodeTextureParameter`
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Labels: bug, enhancement, topic:shaders

#93040 Editor: Fix `EditorHelpBit` title height is wrong on initialization
  editor/editor_help.cpp
Labels: bug, topic:editor, regression

#93072 [X11] Detect XWayland and disable screen capture support.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:porting

#93074 [Image Font Importer] Fix reading advance after hex/dec range.
  editor/import/resource_importer_imagefont.cpp
Labels: bug, topic:editor, topic:import

#92597 Rework and simplify update checking logic
  editor/engine_update_label.cpp
  editor/engine_update_label.h
Labels: bug, topic:editor

#92763 Fix incorrect cull boundary for scaled and repeated Parallax2D children
  servers/rendering/renderer_canvas_cull.cpp
Labels: bug, topic:2d

#91233 Add unit test cases for ImageTexture3D
  tests/scene/test_image_texture_3d.h
  tests/test_main.cpp
Labels: enhancement, topic:tests, topic:3d

#93075 OpenXR: Add HTC/MSFT hand interaction profiles
  modules/openxr/action_map/openxr_interaction_profile_metadata.cpp
  modules/openxr/extensions/openxr_htc_controller_extension.cpp
  modules/openxr/extensions/openxr_htc_controller_extension.h
  modules/openxr/extensions/openxr_htc_vive_tracker_extension.cpp
  modules/openxr/extensions/openxr_wmr_controller_extension.cpp
  modules/openxr/extensions/openxr_wmr_controller_extension.h
Labels: enhancement, usability, topic:xr

#92860 Fix description for `Input.vibrate_handheld()`
  doc/classes/Input.xml
Labels: bug, documentation

#92725 [3.x] Faster editor grid
  editor/plugins/spatial_editor_plugin.cpp
Labels: enhancement, topic:editor, topic:3d, performance

#93101 Fix issues related to code-signing for macOS exports
  platform/macos/export/codesign.cpp
  platform/macos/export/export_plugin.cpp
Labels: bug, platform:macos, topic:editor, topic:export

#93105 Windows Input use GetKeyState instead of GetAsyncKeyState
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:input

#92715 [TextServer, GDExtension] Fix building text servers as GDExtension, expose new/changed low-level methods to GDExtension API.
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
  core/io/image.cpp
  core/io/image.h
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
  doc/classes/Image.xml
  modules/text_server_adv/gdextension_build/SConstruct
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/gdextension_build/SConstruct
  modules/text_server_fb/register_types.cpp
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, topic:gdextension, topic:gui

#93112 Fix Crash when trying to undo SpriteFrames animation rename #93079
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: bug, topic:editor, crash

#93126 [Windows] Add Windows version and Wine checks for Windows 10+ dark mode API.
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:porting

#93128 [Button] Do not include internal margins into base button minimum size.
  scene/gui/button.cpp
Labels: bug, topic:gui

#93129 Center the label in EditorObjectSelector
  editor/gui/editor_object_selector.cpp
Labels: enhancement, topic:editor, usability

#93087 Allow cancelling actions in Path2D editor
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
Labels: bug, enhancement, topic:editor, topic:2d

#92870 Don't allow creating invalid RESET keys
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: bug, topic:editor, topic:animation

#92965 Update the Android splash screen logic
  main/main.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/res/drawable-nodpi/splash.png
  platform/android/java/app/res/drawable-nodpi/splash_bg_color.png
  platform/android/java/app/res/drawable/splash_drawable.xml
  platform/android/java/app/res/values/themes.xml
  platform/android/java/app/src/com/godot/game/GodotApp.java
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/debug/res/values/strings.xml
  platform/android/java/editor/src/dev/res/values/strings.xml
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/editor/src/main/res/layout/godot_editor_layout.xml
  platform/android/java/editor/src/main/res/values/strings.xml
  platform/android/java/editor/src/main/res/values/themes.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
Labels: bug, platform:android, topic:rendering

#92663 EGL: Use `EGL_EXT_platform_base` whenever possible
  drivers/egl/egl_manager.cpp
  drivers/egl/egl_manager.h
  platform/linuxbsd/wayland/detect_prime_egl.cpp
  platform/linuxbsd/wayland/detect_prime_egl.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  thirdparty/glad/EGL/eglplatform.h
  thirdparty/glad/egl.c
  thirdparty/glad/glad/egl.h
Labels: enhancement, platform:linuxbsd, topic:porting

#93148 Fix bug when downloading export templates and re-opening the template manager
  editor/export/export_template_manager.cpp
Labels: bug, topic:editor, regression

#93150 Add missing TTR's for EditorProgress
  editor/plugins/cpu_particles_3d_editor_plugin.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
Labels: enhancement, topic:editor

#92741 Fix Adreno 3xx compatibility for devices with newer driver versions
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/particles_storage.cpp
Labels: bug, platform:android, topic:rendering, topic:thirdparty, regression

#92955 TileSet: Transform rotated navigation (sub)-polygons individually.
  scene/resources/2d/tile_set.cpp
Labels: bug, topic:navigation, topic:2d

#92388 Fix albedo value wraparound in Compatibility render mode
  drivers/gles3/shaders/scene.glsl
Labels: bug, topic:rendering, topic:3d, cherrypick:4.2

#93153 Fix incorrect preview port in visual shader
  scene/resources/visual_shader.cpp
Labels: bug, topic:editor, topic:shaders

#93082 ResourceLoader: Avoid deadlock when awaiting a loader thread that failed early
  core/io/resource_loader.cpp
Labels: bug, topic:core

#93091 Remove no longer needed thread safety measures
  core/io/resource.cpp
Labels: enhancement, topic:core

#93107 Ensure sky reflection is updated when ambient mode is set to background
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, cherrypick:4.2

#93124 `ResourceLoader`: Let the caller thread use its own message queue override
  core/io/resource_loader.cpp
  core/object/message_queue.cpp
  core/object/worker_thread_pool.cpp
Labels: bug, enhancement, topic:core

#93143 [Web] Fix thread+dlink builds with emscripten 3.1.61+git
  platform/web/SCsub
  platform/web/detect.py
  platform/web/js/engine/config.js
  platform/web/js/engine/engine.js
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/update-thorvg.sh
Labels: bug, platform:web, topic:buildsystem, topic:porting

#93161 Fix ProgressDialog crash when importing TTF font
  editor/editor_file_system.cpp
Labels: bug, topic:import, regression

#93242 Make CSG shape dirty after changing Snap
  modules/csg/csg_shape.cpp
  modules/csg/doc_classes/CSGShape3D.xml
Labels: bug, usability, topic:3d

#93166 Fix mismatched external parser with binary exports
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript, crash, regression, topic:export

#93176 [Crypto] Expose `get_system_ca_certificates`.
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core, topic:network

#93182 Add Parallax2D repeats in ysort child collection
  servers/rendering/renderer_canvas_cull.cpp
Labels: bug, topic:rendering, topic:2d

#93195 Fix description of `Vector2/3.dot`
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
Labels: bug, documentation, cherrypick:4.1, cherrypick:4.2

#93218 Mention inverse of hex functions in `Color`
  doc/classes/Color.xml
Labels: enhancement, documentation

#93233 Animation: Document frame duration units in `SpriteFrames`
  doc/classes/SpriteFrames.xml
Labels: enhancement, documentation, topic:animation, topic:2d

#92851 Make query for `GL_MAX_VIEWPORT_DIMS` compatible with web exports
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shader_gles3.h
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/utilities.cpp
Labels: bug, topic:rendering, cherrypick:4.2

#92568 Add more validation to UBO size and alignment in Compatibility renderer
  doc/classes/ProjectSettings.xml
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/particles_storage.h
  servers/rendering_server.cpp
Labels: bug, enhancement, topic:rendering, documentation

#90098 Allow wrapping for begin rotate transformation to bring it in line with Blender.
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#89572 Avoid passing zoom scale for ParallaxLayer mirror
  scene/2d/parallax_layer.cpp
Labels: bug, needs testing, regression, topic:2d

#80860 Simplify right-click track insertion code
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Labels: bug, enhancement, needs testing, topic:animation, cherrypick:4.2

#93177 [Crypto] Expose `OS.get_entropy`
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Labels: enhancement, topic:core

#93219 Fix bugs in visual shader varyings
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: bug, topic:shaders

#93227 Fix closest edge and face check in `NavigationServer3D.map_get_closest_point_to_segment`
  modules/navigation/nav_map.cpp
Labels: bug, topic:navigation, topic:3d

#92931 Fix unbound child bones of the PhysicalBone aren't modified
  scene/3d/physical_bone_simulator_3d.cpp
Labels: bug, topic:physics, regression, topic:animation, topic:3d

#92636 Add blend point check to `AnimationNodeBlendSpace2D::_process()`
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_2d.cpp
Labels: bug, crash, regression, topic:animation, cherrypick:4.2

#92926 Make texture filtering in TileAtlasView consistent
  editor/plugins/tiles/tile_atlas_view.cpp
Labels: bug, topic:editor, topic:2d

#93229 Allow theming renderer colors
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#93255 Prevent generating preview for zero sized texture
  editor/plugins/editor_preview_plugins.cpp
Labels: bug, topic:editor, usability

#93257 [AnimationTrackEdit] Cancel key drag when popup is shown.
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, topic:input, regression, topic:animation

#93269 Prevent changing some built-ins in spatial shaders
  servers/rendering/shader_types.cpp
Labels: bug, topic:shaders
