Repository godotengine/godot, pull requests merged in 2024-10, with the labels that each got.

#97575 [3.x] Add warning when calling `is_action_just_pressed()` from `_input()`
  main/input_default.cpp
  main/input_default.h
Labels: enhancement, usability, topic:input

#80561 Set position to zero when saving a positioned branch as scene
  editor/scene_tree_dock.cpp
Labels: enhancement, topic:editor, usability

#91765 Add markers to Animation
  doc/classes/Animation.xml
  doc/classes/AnimationPlayer.xml
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_node.cpp
  editor/icons/Marker.svg
  editor/icons/MarkerSelected.svg
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_blend_tree_editor_plugin.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.h
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: enhancement, feature proposal, topic:editor, topic:animation

#92237 String: Parse fragment from URL
  core/string/ustring.cpp
  core/string/ustring.h
  editor/debugger/editor_debugger_server.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  modules/websocket/editor/editor_debugger_server_websocket.cpp
  modules/websocket/emws_peer.cpp
  modules/websocket/wsl_peer.cpp
  scene/main/http_request.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core, topic:network, cherrypick:4.2, cherrypick:4.3

#93449 Fix BaseMaterial3D refracting objects located in front of the material
  scene/resources/material.cpp
Labels: bug, topic:rendering, topic:3d

#94240 Optimize `StyleBoxFlat.draw()`
  scene/resources/style_box_flat.cpp
Labels: enhancement, topic:gui, performance

#95132 GPU/CPU particle parameter list consistency changes
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
Labels: enhancement, discussion, topic:editor, usability, topic:particles

#95784 Add unit tests for `StreamPeer` and `StreamPeerBuffer`
  tests/core/io/test_stream_peer.h
  tests/core/io/test_stream_peer_buffer.h
  tests/test_main.cpp
Labels: enhancement, topic:core, topic:tests

#95931 Add unit tests for `PacketPeer`
  tests/core/io/test_packet_peer.h
  tests/test_main.cpp
Labels: enhancement, topic:tests

#96124 Prevent selecting the hovered node if the mouse is not inside the inspector dock
  editor/scene_tree_dock.cpp
Labels: bug, topic:editor, cherrypick:4.3

#96542 Fix Inspector may scroll away when editing a property that adds or removes sub properties
  doc/classes/EditorInspector.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/inspector_dock.cpp
Labels: bug, topic:editor, regression, cherrypick:4.3

#96980 Expose `get_export_option_visibility` to editor plugins
  doc/classes/EditorExportPlugin.xml
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
  editor/export/editor_export_preset.cpp
Labels: enhancement, topic:plugin, topic:gdextension, topic:export

#97333 Consolidate remembering window settings into single config
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/editor_settings.h
  main/main.cpp
Labels: bug, enhancement, topic:editor

#97353 Add auto translate mode for cells in `Tree`
  doc/classes/TreeItem.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, topic:gui

#97512 Add Unit Test cases for `Sky`
  tests/scene/test_sky.h
  tests/test_main.cpp
Labels: enhancement, topic:tests, topic:3d

#97532 GDExtension: Use loader to check if the library exists.
  core/extension/gdextension_library_loader.cpp
  core/extension/gdextension_library_loader.h
  core/extension/gdextension_loader.h
  core/extension/gdextension_manager.cpp
Labels: enhancement, topic:gdextension

#97611 Update bcdec to latest version
  thirdparty/README.md
  thirdparty/misc/bcdec.h
Labels: enhancement, topic:thirdparty

#97648 Fix ICU support data loading
  modules/text_server_adv/text_server_adv.cpp
Labels: bug, topic:gui

#97686 Add Ukrainian translation for Linux .desktop file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: enhancement, platform:linuxbsd, topic:porting, usability

#97693 [TextServer] Silently skip invalid system fallback fonts.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
Labels: enhancement, topic:porting, topic:gui

#96309 Prevent crash after removing GraphEdit's connection layer
  scene/gui/graph_edit.cpp
Labels: bug, crash, regression, topic:gui, cherrypick:4.3

#96693 Autocompletion: Add arghint for annotations
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: bug, enhancement, topic:gdscript, topic:editor, regression

#97439 Fix ItemList text trimming
  scene/gui/item_list.cpp
Labels: bug, topic:gui, cherrypick:4.3

#97490 Show GPU name when RenderingDevice is unsupported in the project creation dialog
  editor/project_manager/project_dialog.cpp
Labels: enhancement, topic:rendering, topic:editor

#97625 Fix `AudioStreamPlayback`'s `_stop()` not being called when `AudioStreamPlayer`'s `stop()` is called
  servers/audio_server.cpp
Labels: bug, topic:audio

#97639 SCons: Fix MSVC version check for VS Preview
  methods.py
Labels: bug, topic:buildsystem, regression

#97645 Fix web export infinite reload issue
  misc/dist/html/full-size.html
  platform/web/export/export_plugin.cpp
Labels: bug, platform:web, topic:porting, cherrypick:4.3

#97676 Improve the look of radiance map in Compatibility backend
  drivers/gles3/effects/cubemap_filter.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.3

#97698 Add caching to `DisplayServer::can_create_rendering_device()`
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, topic:rendering, performance

#97710 Fix GDScript docs not updating when modified externally
  editor/editor_file_system.cpp
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, regression

#56772 Redesign Quick Open
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_quick_open.cpp
  editor/editor_quick_open.h
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
  editor/editor_settings.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
  editor/gui/editor_run_bar.cpp
  editor/gui/editor_run_bar.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  scene/gui/flow_container.cpp
  scene/gui/flow_container.h
Labels: enhancement, topic:editor, usability

#92263 Autocompletion: Keep `get_node` values which are compatible with type hint
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression, cherrypick:4.3

#93299 Fix RefCounted releasing early and not clearing reference
  core/object/ref_counted.h
  core/variant/callable.cpp
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_construct.cpp
  core/variant/variant_construct.h
  core/variant/variant_internal.h
Labels: bug, topic:core, needs testing, cherrypick:4.3

#97416 Check RenderingDevice availability to display LightmapGI configuration warnings
  editor/plugins/lightmap_gi_editor_plugin.cpp
  scene/3d/lightmap_gi.cpp
Labels: enhancement, topic:rendering, topic:editor, topic:3d

#97727 Enable use of Labels as Values feature in Clang when not wrapped by GCC
  modules/gdscript/gdscript_vm.cpp
Labels: enhancement, platform:windows, topic:buildsystem

#97734 Document `Object.has_signal()` in the Signal class reference
  doc/classes/Signal.xml
Labels: enhancement, documentation, cherrypick:4.3

#97739 [Web] Make audio bus fetching more resilient to errors
  platform/web/js/libs/library_godot_audio.js
Labels: bug, platform:web, topic:porting, topic:audio, cherrypick:4.3

#97746 Fix double free in QuickOpenDialog deconstructor
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Labels: bug, topic:editor, crash, regression

#97569 Allow fractional FPS values in Animation Editor
  editor/animation_track_editor.cpp
Labels: enhancement, topic:editor, topic:animation

#97730 Handle scroll events in RichtTextLabel
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#97765 [GDExtension] Improve error messages during export.
  editor/export/editor_export_platform_pc.cpp
  editor/plugins/gdextension_export_plugin.h
Labels: enhancement, topic:editor, topic:gdextension, topic:export

#80473 Unify make dir and duplicate dialogs
  editor/directory_create_dialog.cpp
  editor/directory_create_dialog.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
  editor/gui/editor_dir_dialog.cpp
  editor/gui/editor_dir_dialog.h
Labels: enhancement, topic:editor, usability

#95389 Fix graph node stretch not taking titlebar into account
  scene/gui/graph_node.cpp
Labels: bug, topic:gui

#97674 Cancel code completion and code hint upon go-to line (bookmark, breakpoint, etc.)
  editor/code_editor.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.3

#97519 Add auto translate mode for items in `ItemList`
  doc/classes/ItemList.xml
  scene/gui/item_list.cpp
  scene/gui/item_list.h
Labels: enhancement, topic:gui

#97760 Fix error when stopping empty animation player.
  scene/animation/animation_player.cpp
Labels: bug, regression, topic:animation

#88673 Add filename filter field to FileDialog
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/theme/default_theme.cpp
  scene/theme/icons/toggle_filename_filter.svg
Labels: enhancement, topic:editor, topic:gui

#93270 Add `Auto width` behavior to ItemList
  doc/classes/ItemList.xml
  scene/gui/item_list.cpp
  scene/gui/item_list.h
Labels: enhancement, feature proposal, topic:gui

#96230 Move pseudolocalization into `TranslationDomain`
  core/string/translation_domain.cpp
  core/string/translation_domain.h
  core/string/translation_server.cpp
  core/string/translation_server.h
  doc/classes/TranslationDomain.xml
  doc/classes/TranslationServer.xml
  main/main.cpp
Labels: enhancement, topic:core, topic:editor

#96850 [Editor] Try loading system Noto CJK font.
  editor/themes/editor_fonts.cpp
Labels: enhancement, topic:editor

#97227 Add unit tests for PhysicsMaterial
  tests/scene/test_physics_material.h
  tests/test_main.cpp
Labels: enhancement, topic:physics, topic:tests

#97255 Fix TabBar initialization issue and add tests
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  tests/scene/test_tab_bar.h
  tests/scene/test_tab_container.h
  tests/test_macros.h
  tests/test_main.cpp
Labels: bug, regression, topic:gui, cherrypick:4.3

#97465 Make `RID_Owner` lock-free for fetching.
  core/templates/rid_owner.h
Labels: enhancement, topic:core

#97514 [Docs] Add notes about glyph contour decomposition format.
  doc/classes/TextServer.xml
Labels: enhancement, documentation

#97585 Support object inspection through DAP
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/editor_expression_evaluator.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
Labels: bug, topic:editor

#97624 Fix `atr_n()` behavior when auto translation is disabled
  scene/main/node.h
Labels: bug, topic:core, cherrypick:4.3

#97678 [macOS] Fix menu crash when used from opened native dialog.
  platform/macos/godot_menu_delegate.mm
Labels: bug, platform:macos, topic:porting, crash

#97719 [Linux/BSD] Fix cross-device rename.
  drivers/unix/dir_access_unix.cpp
Labels: bug, platform:linuxbsd, topic:porting

#97743 [DisplayServer] Implement `has_hardware_keyboard` method for Android and iOS.
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:ios, platform:android, topic:porting

#97747 Improve UI of sun angle in the sun/preview env popup
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#97757 Fix `window_set_current_screen` for maximized windows.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, platform:linuxbsd, platform:macos, topic:porting, topic:gui

#97769 GDScript: Fix `GDScriptCache::get_full_script()` uses non-remapped path
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript, regression, topic:export, cherrypick:4.3

#97792 Properly utilize surface information when creating pipelines and vertex arrays in canvas renderer
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, regression

#77213 Add a sort method to Dictionary and HashMap
  core/templates/hash_map.cpp
  core/templates/hash_map.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
Labels: enhancement, topic:core

#85321 Disable unused Basis Universal features to reduce binary size
  modules/basis_universal/SCsub
Labels: enhancement, topic:buildsystem, topic:thirdparty, needs testing

#97304 Metal: Implement `texture_create_from_extension`
  drivers/metal/rendering_device_driver_metal.mm
Labels: enhancement, topic:rendering

#91487 Apply `WS_MINIMIZE` style on window creation
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: bug, platform:windows, topic:porting

#97094 Expose `LineEdit` `edit` and `unedit` methods.
  doc/classes/LineEdit.xml
  editor/code_editor.cpp
  scene/gui/color_picker.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: bug, topic:editor, regression, topic:gui

#97119 GDExtension: Allow directly getting `ObjectID` from `Variant`
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
Labels: enhancement, topic:gdextension

#97362 Make internal unique scene resource ID deterministic
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core

#97552 Use dedicated `print_error` method for colored output for unsupported drivers
  drivers/SCsub
Labels: enhancement, topic:buildsystem

#97633 Make the "Quick Open" dialog available via `EditorInterface`
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Labels: enhancement, topic:editor, topic:plugin

#97789 [iOS] Add support for dark and tinted icon versions.
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
Labels: enhancement, platform:ios, topic:export

#95889 Allow horizontal scrolling in Tree using Shift
  scene/gui/tree.cpp
Labels: enhancement, usability, topic:input, topic:gui

#96379 Add `_resource_changed()` helper method to EditorResourcePicker
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Labels: enhancement, topic:editor, topic:codestyle

#96615 Globally remember advanced toggle in project settings
  editor/project_settings_editor.cpp
Labels: enhancement, topic:editor, usability

#97240 Print error on invalid `call_group()` calls
  scene/main/scene_tree.cpp
Labels: enhancement, topic:core

#97292 Add submenu support to EditorContextMenuPlugin
  doc/classes/EditorContextMenuPlugin.xml
  editor/plugins/editor_context_menu_plugin.cpp
  editor/plugins/editor_context_menu_plugin.h
Labels: enhancement, topic:editor, topic:plugin

#97543 Fix closing Theme Editor not actually closing it
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
Labels: bug, topic:editor

#97570 Replace comments with printed warning for Metal on x86_64
  platform/ios/detect.py
  platform/macos/detect.py
Labels: enhancement, topic:buildsystem

#97809 [GraphEdit] Only print warning for connection layer deletion when justified
  scene/gui/graph_edit.cpp
Labels: bug, topic:editor, regression, topic:gui, cherrypick:4.3

#97811 Configure MSAA properly in canvas renderer's pipelines.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, regression

#97817 Partially revert #96780, remove warnings from project/editor settings `_get`.
  core/config/project_settings.cpp
  core/io/resource_format_binary.cpp
  editor/editor_settings.cpp
  scene/resources/resource_format_text.cpp
Labels: bug, topic:core, topic:editor, regression

#97820 Fix quick open background panel style
  editor/gui/editor_quick_open_dialog.cpp
Labels: enhancement, usability, topic:gui

#88511 Offset drag instantiated scenes that result in a collision by its bounds to mitigate overlap
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: bug, topic:editor, usability, topic:3d

#94880 Call `restart_editor()` in `RUN_PROJECT_MANAGER`
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor, topic:codestyle

#95034 Close expanded tile editor when inspector updates
  editor/plugins/tiles/tile_data_editors.cpp
Labels: bug, topic:editor, topic:2d

#95149 Don't fold resources when child of main inspector exits
  editor/editor_properties.cpp
Labels: bug, topic:editor, usability, regression, cherrypick:4.3

#95544 Misc code cleanup in EditorFileDialog
  editor/gui/editor_file_dialog.cpp
Labels: enhancement, topic:editor, topic:gui, topic:codestyle

#97291 Fix ScrollContainer configuration warnings
  scene/gui/scroll_container.cpp
Labels: bug, topic:gui

#96819 Implement instance uniforms in Compatibility renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
Labels: bug, topic:rendering, topic:shaders, cherrypick:4.3

#97922 Clarify SIMPLEX and SIMPLEX_SMOOTH types
  modules/noise/doc_classes/FastNoiseLite.xml
Labels: enhancement, discussion, documentation, cherrypick:4.2, cherrypick:4.3

#97951 Fix untyped dictionary .NET debug visualization showing keys as values
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
Labels: bug, topic:dotnet, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#97270 Create `.editorconfig` file only on project creation
  editor/editor_paths.cpp
  editor/project_manager/project_dialog.cpp
  modules/gdscript/tests/scripts/.editorconfig
Labels: enhancement, topic:editor

#97981 [macOS] Update Vulkan SDK install script.
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: enhancement, platform:macos, topic:buildsystem

#97842 Clarify that fog_aerial_perspective does not actually use sky color
  doc/classes/Environment.xml
Labels: enhancement, documentation, cherrypick:4.3

#98017 Restore `arc_tolerance` value when using Clipper2's `InflatePaths`
  core/math/geometry_2d.cpp
Labels: bug, regression, topic:2d, performance, cherrypick:4.3

#97866 Update `CODEOWNERS`
  .github/CODEOWNERS
Labels: enhancement, topic:buildsystem

#94952 Optimize ANGLE on D3D11 to remove an extra blit
  drivers/egl/egl_manager.cpp
  drivers/egl/egl_manager.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
Labels: enhancement, platform:windows, topic:rendering, performance

#95175 Fix implementation of `property_can_revert()` in various classes
  core/config/project_settings.cpp
  editor/editor_settings.cpp
  editor/multi_node_edit.cpp
  editor/plugins/font_config_plugin.cpp
  scene/3d/node_3d.cpp
  scene/resources/material.cpp
Labels: bug, topic:editor

#95200 Fix lookup symbol for enum members to search a correct code definition
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.3

#96329 [.NET] Generate `ReadOnlySpan<T>` Overloads for GodotSharp APIs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
Labels: enhancement, feature proposal, topic:dotnet

#97446 CI: Add MinGW/GCC build to Windows GHA
  .github/workflows/windows_builds.yml
  drivers/d3d12/SCsub
  drivers/d3d12/dxil_hash.cpp
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  platform/windows/detect.py
Labels: enhancement, platform:windows, topic:buildsystem

#97563 Fix keying of property subpaths.
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, usability, topic:animation

#97744 Use `LocalVector` for skeleton
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  scene/2d/skeleton_2d.cpp
  scene/2d/skeleton_2d.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
Labels: enhancement, topic:animation

#97835 Fix small typo on PackedVector2Array docs
  doc/classes/PackedVector2Array.xml
Labels: bug, documentation

#97873 Fix decompressing textures with dimensions that are not multiples of 4
  modules/bcdec/image_decompress_bcdec.cpp
Labels: bug, topic:core, regression

#97940 Refresh Filesystem Dock after android build template is created
  editor/export/export_template_manager.cpp
Labels: bug, topic:editor

#97979 Fix crash when creating thumbnails for 3d textures
  editor/plugins/editor_preview_plugins.cpp
Labels: bug, topic:editor, crash, regression

#98109 [3.x] Do not auto add default script and country codes to the locale.
  core/translation.cpp
  core/translation.h
Labels: bug, topic:core

#97122 Fix trackpad code completion scrolling
  scene/gui/code_edit.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.3

#97538 Improve global bone pose calculation in `Skeleton3D`
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Labels: enhancement, topic:3d

#97830 Fix layered HDR texture import with lossless compression
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
Labels: bug, topic:import, cherrypick:4.3

#97961 Allow `Control` to show custom tooltip when tooltip text is empty
  scene/main/viewport.cpp
Labels: bug, regression, topic:gui

#98059 [.NET] Fix unhandled GD0303 error for nested generic attribute types
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/MustBeVariant.GD0301.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/MustBeVariantAnalyzer.cs
Labels: bug, topic:buildsystem, topic:dotnet, cherrypick:4.3

#92441 Implement custom function overloading in shading language
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Labels: enhancement, topic:rendering, topic:shaders

#93025 Account for physics interpolation and transform snapping when Y-sorting
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
Labels: bug, topic:rendering, topic:physics, topic:2d, cherrypick:4.3

#96740 Use collision detection ray to reposition an object already in the scene
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:physics, topic:3d

#97295 Betsy: Implement BC4 compression
  core/io/image.cpp
  doc/classes/ProjectSettings.xml
  modules/betsy/SCsub
  modules/betsy/bc4.glsl
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
  thirdparty/README.md
Labels: enhancement, topic:import

#97560 Fix positioning of popup menu in AnimationLibrary editor.
  editor/plugins/animation_library_editor.cpp
Labels: bug, topic:editor, topic:animation

#97770 Fix immediate mesh modifications that don't call set_mesh
  scene/2d/mesh_instance_2d.cpp
  scene/resources/immediate_mesh.cpp
Labels: bug, topic:2d

#97833 Allow seconds snapping to use minimum intervals of 0.0001 once more
  editor/animation_track_editor.cpp
Labels: bug, topic:editor, regression, topic:animation

#97929 Fix `CheckButton` mirrored icon in editor theme
  editor/icons/GuiToggleOffMirrored.svg
Labels: bug, topic:editor, cherrypick:4.3

#96261 [3.x] Fix random multithreaded crash that happens when setting the audio stream on a AudioStreamRandomPitch stream.
  servers/audio/audio_stream.cpp
Labels: bug, topic:audio, crash

#96135 [3.x] Bind Array and Pool*Array get and set functions
  core/dictionary.cpp
  core/dictionary.h
  core/variant_call.cpp
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
  doc/classes/PoolByteArray.xml
  doc/classes/PoolColorArray.xml
  doc/classes/PoolIntArray.xml
  doc/classes/PoolRealArray.xml
  doc/classes/PoolStringArray.xml
  doc/classes/PoolVector2Array.xml
  doc/classes/PoolVector3Array.xml
Labels: enhancement, topic:visualscript

#97564 Fix mouse clamping in Animation Bezier Editor box select
  editor/animation_bezier_editor.cpp
Labels: bug, topic:editor, topic:animation

#98126 Additional macOS codesign entitlements and print verbose
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/macos/export/export_plugin.cpp
Labels: enhancement, platform:macos, topic:export

#98195 Revert unintentional rounding change when 2D transform snapping
  servers/rendering/renderer_canvas_cull.cpp
Labels: bug, topic:rendering, regression, topic:2d, cherrypick:4.3

#98196 [Font Importer] Update Unicode block list to Unicode 16.0
  editor/import/dynamic_font_import_settings.cpp
Labels: enhancement, topic:editor, topic:import

#98202 Update `use_native_dialog` description in `FileDialog`
  doc/classes/FileDialog.xml
Labels: enhancement, documentation, cherrypick:4.3

#98210 Fix `CONTAINER_PROJECT_SETTING_TAB_RIGHT` option of `EditorPlugin`
  editor/plugins/editor_plugin.cpp
Labels: bug, topic:editor, topic:plugin

#98238 Fix wording in description of `store_line` and `store_string`
  doc/classes/FileAccess.xml
Labels: bug, documentation

#98234 [3.x] Cache results for `TranslationServer.compare_locales()`
  core/translation.cpp
  core/translation.h
Labels: enhancement, topic:core, cherrypick:3.6

#98187 Fix Mobile Renderer - Shadow Disabled and User Vertex Lighting flags
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, regression, topic:3d

#93005 Replace some distance checks with square distance checks in NavMap
  modules/navigation/nav_map.cpp
Labels: enhancement, topic:navigation, performance

#97888 ItemList - Fix right padding missing
  scene/gui/item_list.cpp
Labels: bug, regression, topic:gui

#98009 Fix initial skin update timing in Skeleton3D
  scene/3d/mesh_instance_3d.cpp
  scene/3d/skeleton_3d.cpp
Labels: bug, regression, topic:animation, topic:3d

#98085 GDScript: Add missing static default initialization for typed dictionaries
  modules/gdscript/gdscript.cpp
Labels: bug, topic:gdscript

#97885 Make `EditorFileDialog`'s Recent and Fav list show full path in tooltip
  editor/gui/editor_file_dialog.cpp
Labels: enhancement, topic:editor, usability

#96893 Docs: Add cross-links to antialiasing project settings
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
Labels: enhancement, documentation, cherrypick:4.3

#98086 Rewrite semaphore handling for transfer workers.
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: bug, topic:rendering, regression

#98222 Don't flip playback control buttons in RTL layout
  editor/debugger/editor_visual_profiler.cpp
  editor/export/editor_export_platform.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, usability

#98254 Fix typos in `AnimationMarkerEdit`
  editor/animation_track_editor.cpp
Labels: bug, topic:editor

#98230 Fix Android app permissions for SDK levels earlier than 28
  platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java
Labels: bug, platform:android, topic:export, cherrypick:4.3

#98255 Don't pseudolocalize empty strings
  core/string/translation_domain.cpp
Labels: enhancement, topic:gui

#98271 Move transitions of textures from transfer workers to the graphics queue.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.cpp
  servers/rendering/rendering_device_driver.h
Labels: bug, platform:windows, topic:rendering, regression

#97977 Refresh `MenuBar` scene after child renamed in editor
  scene/gui/menu_bar.cpp
Labels: bug, topic:gui, cherrypick:4.3

#83863 Improve display for lightmap probes in the editor
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.cpp
Labels: enhancement, topic:editor, topic:3d

#96629 Fix Animated Path2D doesn't update PathFollow2D progress when scene is running.
  scene/2d/path_2d.cpp
Labels: bug, topic:2d, cherrypick:4.2, cherrypick:4.3

#97005 Core: Add `DisplayServer` flag for sharp corners
  core/config/project_settings.cpp
  doc/classes/DisplayServer.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
  main/main.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, topic:gui
