Repository godotengine/godot, pull requests merged in 2025-02, with the labels that each got.

#100459 [3.x] Revert changes to `Range::set_value` #65101
  scene/gui/range.cpp
Labels: bug, topic:editor, high priority, topic:gui, cherrypick:3.6

#101543 Respect order of extensions for ResourceFormatSavers with `at_front`
  editor/editor_node.cpp
Labels: bug, topic:editor

#101836 Fix Jolt note in WorldBoundaryShape3D documentation
  doc/classes/WorldBoundaryShape3D.xml
Labels: bug, documentation

#102024 Use `FlowContainer` for `Profiler` and `Visual Profiler` bars
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
Labels: bug, topic:editor, usability, cherrypick:4.3

#102144 Core: Fix `Basis::get_euler` incorrectly simplifying rotations in some cases.
  core/math/basis.cpp
  tests/core/math/test_basis.h
Labels: bug, topic:core, cherrypick:4.2, cherrypick:4.3

#102169 Linux/BSD: Modify only keypad keys
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/wayland/key_mapping_xkb.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.h
Labels: bug, platform:linuxbsd, topic:porting, topic:input, regression

#102179 Disable Metal and Vulkan renderers in simulator builds. Remove simulator support from editor/exporter.
  platform/ios/detect.py
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
Labels: bug, platform:ios, topic:buildsystem, topic:editor, topic:export

#102246 Update CI `ruff` & `mypy` pre-commit hooks
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#102257 Spread direct lighting calculation for LightmapGI over several submissions
  modules/lightmapper_rd/lightmapper_rd.cpp
Labels: bug, topic:rendering, crash, regression, topic:3d

#102278 Fix mouse filter on visual shader node previews
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, usability, topic:shaders

#102297 Update modified time when reloading script
  editor/plugins/script_editor_plugin.cpp
Labels: bug, topic:editor, regression

#102307 Setup working directory when quitting to project manager
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#102312 Fix Floating Window focus on run
  editor/plugins/game_view_plugin.cpp
Labels: bug, topic:editor, regression

#102329 Fix runtime crash with 3D selection with no camera
  scene/debugger/scene_debugger.cpp
Labels: bug, topic:core, topic:editor, crash, regression

#91778 Fix TextEdit mouse selection and scroll cancel
  scene/gui/text_edit.cpp
Labels: bug, topic:gui, cherrypick:4.3

#101817 Fix resource details will unexpectedly expand
  editor/editor_resource_picker.cpp
Labels: bug, topic:editor, regression

#102251 Fix slow resize Embedded Game Window
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  editor/plugins/game_view_plugin.cpp
Labels: bug, topic:editor, regression, performance

#102349 Fix ColorPicker RAW alpha slider theme
  scene/gui/color_mode.cpp
Labels: bug, regression, topic:gui

#102365 Implement `get_length()` for pipes.
  core/io/file_access.cpp
  doc/classes/FileAccess.xml
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
Labels: bug, platform:windows, platform:macos, topic:core, topic:porting

#102371 SCons: Apply new ruff/mypy fixes
  SConstruct
  doc/tools/make_rst.py
  gles3_builders.py
  methods.py
  modules/text_server_adv/gdextension_build/SConstruct
  modules/text_server_fb/gdextension_build/SConstruct
Labels: bug, topic:buildsystem, regression, topic:codestyle

#99890 Introduce `Viewport` functions for keeping the mouse over state consistent
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:input, topic:gui

#102336 Fix 'Show in FileSystem' jumps to incorrect entry under certain conditions
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#102379 Fix wrong inspector offset on scene switch
  editor/editor_inspector.cpp
Labels: bug, topic:editor, regression

#102384 Fix `OpenXRAPIExtension` casting build issue
  modules/openxr/openxr_api_extension.cpp
Labels: bug, topic:buildsystem, topic:xr, regression

#102402 [TextServer] Fix line/word breaks not always updated when applying overrun.
  modules/text_server_adv/text_server_adv.cpp
Labels: bug, topic:gui

#101127 Editor: Fix `Ctrl+Click` on enum values ​​does nothing
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#101489 Optimize classnames enumeration
  core/config/project_settings.cpp
  core/object/script_language.cpp
  core/object/script_language.h
  core/object/script_language_extension.h
  editor/connections_dialog.cpp
  editor/create_dialog.cpp
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_node.cpp
  editor/editor_node.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/test_gdscript.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ManagedCallbacks.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/mono_gd/gd_mono_cache.h
Labels: bug, enhancement, topic:editor, performance

#101947 Add Heightfield mask to GPUParticlesCollisionHeightField3D
  doc/classes/GPUParticlesCollisionHeightField3D.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/particles_storage.cpp
  drivers/gles3/storage/particles_storage.h
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/gpu_particles_collision_3d.h
  servers/rendering/dummy/storage/particles_storage.h
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/particles_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Labels: bug, topic:editor, regression, topic:3d, topic:particles

#102296 Fix TextEdit visible line count when setting text
  scene/gui/text_edit.cpp
Labels: bug, regression, topic:gui

#102342 Make `CharFXTransform.font` property read only, add some extra documentation notes.
  doc/classes/CharFXTransform.xml
  scene/gui/rich_text_label.cpp
Labels: bug, documentation, topic:gui

#102344 [RTL] Fix updating region without updating texture.
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#102116 Fix `get_item_area_rect` when tree is scrolled
  editor/plugins/animation_library_editor.cpp
  scene/gui/tree.cpp
Labels: bug, topic:gui

#102311 Fix Floating Window not visible after restore on KDE
  editor/window_wrapper.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, usability, regression

#102314 Fix Floating Window overlapping when on screen edge on KDE
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:editor, usability

#102390 Editor: Fix node selection within SubViewports using size 2d override
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d, cherrypick:4.3

#102405 Fix seed not randomizing for particles. Fix seed being stored when fixed seed is off
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.cpp
Labels: bug, topic:particles

#102423 CI: Add a Linux job for `template_debug`
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#102424 Fix over saturated static colored lights
  modules/lightmapper_rd/lm_compute.glsl
Labels: bug, topic:rendering, regression

#102429 Revert "Fixed resource loader using not fully loaded scripts"
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_cache.cpp
Labels: bug, topic:gdscript, regression

#102432 Revert "Use `AHashMap` for `RBMap` nodes and `HashMap` `input_activity`"
  scene/animation/animation_blend_tree.h
  scene/animation/animation_tree.h
Labels: bug, crash, regression, topic:animation

#102450 Mention visibility layers and inheritance in `Node3D.is_visible_in_tree()` docs
  doc/classes/CanvasItem.xml
  doc/classes/Node3D.xml
Labels: enhancement, documentation, cherrypick:4.3

#101602 Metal: Enable GPU buffer address support
  drivers/metal/metal_device_properties.h
  drivers/metal/metal_device_properties.mm
  drivers/metal/metal_objects.h
  drivers/metal/rendering_device_driver_metal.mm
Labels: enhancement, platform:ios, platform:macos, topic:rendering

#101642 Shaders: Fix `source_color` default value
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Labels: bug, topic:rendering, topic:shaders

#101853 Fix a crash bug in `LightmapGI::_assign_lightmaps` triggered after reparenting
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Labels: bug, topic:rendering, crash, topic:3d, cherrypick:4.3

#102104 Fix Embedded Game disappear when not focused on KDE 5
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Labels: bug, platform:linuxbsd, topic:editor, regression

#102400 Fix uppercase B and X parsing in the integer literals.
  core/math/expression.cpp
  editor/import/resource_importer_imagefont.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  scene/resources/syntax_highlighter.cpp
  tests/core/math/test_expression.h
  tests/core/string/test_string.h
Labels: bug, topic:core, topic:gdscript

#102444 Prevent save confirmation dialog from trying to parent to itself
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#102446 Export the `rendering/renderer/rendering_method.mobile` project setting to the AndroidManifest
  platform/android/export/export_plugin.cpp
  platform/android/java/app/AndroidManifest.xml
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
Labels: enhancement, platform:android, topic:export

#102448 Add `XK_KP_{Decimal,Enter}` to `KeyMappingX11::is_sym_numpad()`
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/x11/key_mapping_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, regression

#101109 Add explicit error messages to Multimesh functions
  scene/resources/multimesh.cpp
Labels: enhancement, topic:core, cherrypick:4.3

#102264 Betsy: Consolidate documentation in module folder and cleanup SCsub
  COPYRIGHT.txt
  modules/betsy/LICENSE.Betsy.md
  modules/betsy/SCsub
  modules/betsy/UavCrossPlatform_piece_all.glsl
  modules/betsy/alpha_stitch.glsl
  modules/betsy/bc1.glsl
  modules/betsy/bc4.glsl
  modules/betsy/bc6h.glsl
  thirdparty/README.md
Labels: enhancement, documentation, topic:thirdparty

#102396 Fix `is_valid_float`, `Variant` parser, `Expression` parser, script highlighter, and `TextServer` not handing capital E in scientific notation.
  core/math/expression.cpp
  core/string/ustring.cpp
  core/variant/variant_parser.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/tests/scripts/parser/features/constants.gd
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  scene/resources/syntax_highlighter.cpp
  tests/core/math/test_expression.h
  tests/core/string/test_string.h
Labels: bug, topic:core

#102438 Fix Tree `item_margin` for low spacing values in Editor Theme
  editor/themes/editor_theme_manager.cpp
Labels: bug, topic:editor, topic:gui

#100939 [Web] Clarify JavaScriptBridge callback requirements
  doc/classes/JavaScriptBridge.xml
Labels: enhancement, platform:web, documentation

#100107 [Net] Fix TCP/UDP server network tests
  tests/core/io/test_tcp_server.h
  tests/core/io/test_udp_server.h
Labels: bug, topic:network, topic:tests

#100913 Prevent tooltip from showing when hovering past the end of script line
  doc/classes/TextEdit.xml
  misc/extension_api_validation/4.3-stable.expected
  scene/gui/code_edit.cpp
  scene/gui/text_edit.compat.inc
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:gui

#101952 Fix shadow peter-panning with default spotlight
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_scene_cull.cpp
Labels: bug, topic:rendering, regression, topic:3d

#102044 Documentation change from Blender directory to executable
  doc/classes/EditorSettings.xml
Labels: bug, documentation

#102392 Hide slider for array size selector in editor
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor, regression

#102401 Fix enum value lookup jump
  modules/gdscript/gdscript_editor.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#102470 Fix Floating Window request close when a dialog is opened
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  editor/plugins/game_view_plugin.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
Labels: bug, topic:editor, regression

#102474 Add ZWSP to the list of space characters.
  core/string/char_utils.h
Labels: bug, topic:gui

#102477 Decrease default Max Rays per Pass setting to 4 to fix some lightmapping crashes
  doc/classes/ProjectSettings.xml
  modules/lightmapper_rd/register_types.cpp
Labels: bug, topic:rendering, crash, topic:3d

#102480 Add loop annotations to ubershaders to prevent loop unrolling.
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:rendering, regression

#102488 Hide EditorSpinSlider slider for VectorNI
  editor/editor_properties.cpp
  editor/editor_properties_vector.cpp
  editor/editor_properties_vector.h
Labels: bug, topic:editor, regression, topic:gui

#102489 Improve UID file creation condition
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  editor/editor_file_system.cpp
Labels: bug, topic:editor

#102493 Fix regression in moving resources in filesystem dock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#102497 Fix rendering material when UV2 is compressed
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, topic:3d, cherrypick:4.2, cherrypick:4.3

#102506 Workaround mingw-gcc LTO ICE by re-adding some dead code...
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
Labels: bug, platform:windows, topic:buildsystem

#102132 Optimize `Font` calculations by avoiding unnecessary copy-on-write.
  scene/resources/font.cpp
Labels: enhancement, topic:gui, performance

#102472 [TextEdit] Update syntax highlighting when IME composition string is updated.
  doc/classes/TextEdit.xml
  modules/gdscript/editor/gdscript_highlighter.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/resources/syntax_highlighter.cpp
Labels: bug, topic:gui

#102510 Fix heap-use-after-free when changing 2D editor selection
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, crash

#102515 Fix `PackedStringArray.to_byte_array()` to return UTF-8 encoded data instead of pointers.
  core/variant/variant_call.cpp
  doc/classes/PackedStringArray.xml
Labels: bug, topic:core

#102518 Hide EditorSpinSlider slider for Rect2i
  editor/editor_properties.cpp
Labels: bug, topic:editor, regression, topic:gui

#102519 Add missing `Auto (Except Pixel Fonts)` option to advanced import dialog.
  editor/import/dynamic_font_import_settings.cpp
  editor/import/dynamic_font_import_settings.h
  editor/import/resource_importer_dynamic_font.cpp
Labels: bug, topic:editor, topic:import

#102530 Change output format for milliseconds in timestamps to 3 zeroes
  editor/debugger/script_editor_debugger.cpp
Labels: bug, topic:editor, cherrypick:4.2, cherrypick:4.3

#102535 Fix Plugin Scripts load twice on startup
  editor/editor_node.cpp
Labels: bug, topic:gdscript, topic:editor, topic:plugin, regression

#102543 CI: Separate Android editor artifacts
  .github/workflows/android_builds.yml
Labels: enhancement, platform:android, topic:buildsystem

#102545 [Unix] Fix deleting symlinks.
  drivers/unix/dir_access_unix.cpp
Labels: bug, platform:linuxbsd, platform:macos, topic:porting, cherrypick:4.3

#102554 Update MoltenVK install script to include version number in installer name.
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: bug, topic:buildsystem, topic:thirdparty, cherrypick:4.2, cherrypick:4.3

#101218 [3.x] Physics Interpolation - Auto-reset on `set_physics_interpolation_mode()`
  scene/2d/camera_2d.cpp
  scene/3d/camera.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
Labels: bug, enhancement, topic:rendering

#101598 Tweak Quick Open theming
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Labels: enhancement, topic:editor

#102343 Forward color picker preview mouse button events to the window underneath.
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: bug, platform:windows, platform:macos, topic:gui

#102553 Fix double `set_name` in renaming node
  editor/gui/scene_tree_editor.cpp
Labels: bug, topic:editor, cherrypick:4.2, cherrypick:4.3

#102555 Fix History Dock default state
  editor/history_dock.cpp
Labels: bug, topic:editor, regression

#102572 Fix script class icons not inheriting parent
  editor/editor_data.cpp
Labels: bug, topic:gdscript, topic:editor, regression

#102590 Android: Add Snackbar UI component
  platform/android/java/lib/res/layout/snackbar.xml
  platform/android/java/lib/res/values/dimens.xml
  platform/android/java/lib/src/org/godotengine/godot/utils/DialogUtils.kt
Labels: feature proposal, platform:android, topic:porting, topic:gui

#102596 Fix empty Command Palette
  editor/editor_command_palette.cpp
Labels: bug, topic:editor, usability, regression

#102602 Fix `fr+oss` layout issues with KP period
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, topic:input

#102608 Script Editor: Add option to disable documentation tooltips
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#102647 [TextServer] Use all available space when string is too short for ellipsis.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, topic:gui

#102649 Use fallback locale from project settings instead of hardcoded "en" for TextServer.
  core/string/translation_server.cpp
Labels: bug, topic:gui

#88114 Prevent some internal nodes being duplicated in Controls
  scene/gui/color_picker.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/tab_container.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui, cherrypick:4.3

#98066 Fix Android mono export with 2 or more cpu architectures fails
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/thirdparty/libSystem.Security.Cryptography.Native.Android.jar
  platform/android/java/app/build.gradle
Labels: bug, platform:android, topic:dotnet

#101435 Return fast for built-in class icon
  editor/editor_node.cpp
Labels: bug, enhancement, topic:editor, regression, performance

#101989 Git-ignore built `Godot.app` package
  .gitignore
Labels: enhancement, platform:macos, topic:buildsystem

#102341 Implement Fallback to Vulkan for MoltenVK
  doc/classes/ProjectSettings.xml
  platform/macos/display_server_macos.mm
Labels: enhancement, platform:ios, platform:macos, topic:rendering

#102603 Itemlist: Fix `text_overrun` when using `fixed_icon_size`
  scene/gui/item_list.cpp
Labels: bug, regression, topic:gui

#102614 [Jolt Physics] Fix ghost collision issue on dense triangle meshes
  thirdparty/jolt_physics/Jolt/Core/STLLocalAllocator.h
  thirdparty/jolt_physics/Jolt/Physics/Collision/InternalEdgeRemovingCollector.h
Labels: bug, topic:physics, topic:3d

#102659 [Editor] Prevent deferred tooltip update crash
  editor/gui/scene_tree_editor.cpp
Labels: bug, topic:editor, crash, cherrypick:4.2, cherrypick:4.3

#102664 Silence missing icon error if UID cache is missing
  editor/project_manager/project_list.cpp
Labels: bug, topic:editor

#102184 [3.x] Physics Interpolation - fix client interpolation pump
  scene/main/scene_tree.cpp
Labels: bug, topic:core, topic:3d, cherrypick:3.6

#98216 Fix file logging log rotation
  core/io/logger.cpp
  tests/core/io/test_logger.h
  tests/test_main.cpp
Labels: bug, topic:core, cherrypick:4.2, cherrypick:4.3

#102332 Fix Escape does not work the first time when pressed at the Find(Replace)Bar
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_help.cpp
  editor/editor_help.h
Labels: bug, topic:editor, regression

#102652 Physics Interpolation - Auto-reset on `set_physics_interpolation_mode()`
  scene/2d/camera_2d.cpp
  scene/3d/camera_3d.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
Labels: bug, enhancement, topic:rendering

#102653 Physics Interpolation - Fix client interpolation pump
  scene/main/scene_tree.cpp
Labels: bug, topic:core, topic:3d

#102673 Wayland: Fix build config with `so_wrap` disabled
  platform/linuxbsd/detect.py
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.c
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.h
  platform/linuxbsd/wayland/wayland_thread.h
Labels: bug, enhancement, platform:linuxbsd, topic:buildsystem

#102674 Wayland: Fix engine stalls while waiting frames
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
Labels: bug, platform:linuxbsd, topic:porting

#102683 Fix focus being lost after adding a new input map entry in the editor
  editor/action_map_editor.cpp
Labels: bug, topic:editor, usability, regression

#102688 Fix TileMapLayer bug where dirty cells could be marked twice
  scene/2d/tile_map_layer.cpp
Labels: bug, topic:2d, cherrypick:4.3

#102698 Autocompletion: Account for invalid annotations when making arghint
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.h
Labels: bug, topic:gdscript, topic:editor, crash, regression

#102684 [3.x] Docs: Add description for `BitMap.opaque_to_polygons` method
  doc/classes/BitMap.xml
Labels: enhancement, documentation, cherrypick:3.5, cherrypick:3.6

#100933 Fix parsing Resource type as value type of a Dictionary
  core/variant/variant_parser.cpp
Labels: bug, topic:core

#102210 [AudioFilterSW] Fix audio cutting out due to numerical errors
  servers/audio/audio_filter_sw.h
Labels: bug, topic:audio

#102597 Fix CodeEdit line length guideline zoomed position
  scene/gui/code_edit.cpp
Labels: bug, topic:gui, cherrypick:4.3

#102675 Document `CanvasItem.draw_dashed_line()`'s `dash` and `align` parameters
  doc/classes/CanvasItem.xml
Labels: enhancement, documentation, cherrypick:4.3

#102691 [AudioStreamGenerator] Add mixing rate presets, update docs.
  doc/classes/AudioStreamGenerator.xml
  doc/classes/ProjectSettings.xml
  servers/audio/effects/audio_stream_generator.cpp
  servers/audio/effects/audio_stream_generator.h
Labels: bug, enhancement, documentation, topic:audio

#102280 Fix crash when assigning wrong shader to particle process material
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
Labels: bug, topic:rendering, crash, topic:particles, cherrypick:4.2, cherrypick:4.3

#102389 Display correct symbol in warning when unique name is used without @onready annotation
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.gd
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.out
Labels: bug, topic:gdscript

#102592 Navigate to folder when double-clicking favorite
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, usability, regression

#102625 Fix mouse input on popup shadows misbehaving with `content_scale_factor`
  scene/gui/popup.cpp
  scene/gui/popup_menu.cpp
Labels: bug, regression, topic:gui

#102641 Wayland: Unstuck keys with same keycode
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/wayland/key_mapping_xkb.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Labels: bug, platform:linuxbsd, topic:porting, topic:input

#102669 Revert finalizing `GodotHost#getCommandLine()` public API
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotXRGame.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
Labels: bug, platform:android, topic:porting

#102677 2D: Fix free of invalid ID
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering, regression

#102692 Prevent off-thread errors when generating resource previews for animation nodes
  editor/plugins/animation_tree_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:animation

#102714 Don't select invisible items in FileSystem dock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, regression

#102715 [Web] Remove position pool system and return false when done instead
  platform/web/js/libs/audio.position.worklet.js
  platform/web/js/libs/library_godot_audio.js
Labels: bug, platform:web, topic:porting, topic:audio

#102716 Clarify the behavior of `Control.layout_direction` in the documentation
  doc/classes/Control.xml
  doc/classes/ProjectSettings.xml
  modules/text_server_fb/doc_classes/TextServerFallback.xml
Labels: enhancement, documentation, cherrypick:4.3

#102720 CI: Remove outdated reference to ubuntu-20.04
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#102726 Skip `Object::to_string` when Jolt Physics is on separate thread
  doc/classes/ProjectSettings.xml
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_object_3d.cpp
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
  modules/jolt_physics/objects/jolt_soft_body_3d.h
Labels: bug, topic:physics, topic:3d

#102730 Remove problematic file from SCU
  scu_builders.py
Labels: bug, topic:buildsystem, regression

#102247 Fix Modal Dialog with Embedded Game
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  platform/windows/display_server_windows.cpp
Labels: bug, topic:editor, usability

#102737 Store `_custom_type_script` meta as String
  editor/editor_data.cpp
  editor/editor_node.cpp
  editor/scene_tree_dock.cpp
  scene/property_utils.cpp
  scene/property_utils.h
Labels: bug, enhancement, topic:editor

#102738 Fix tree selecting hidden items
  scene/gui/tree.cpp
Labels: bug, topic:gui

#102744 Fix Game and editor freeze when clicking on the game's title bar
  editor/plugins/game_view_plugin.cpp
  editor/window_wrapper.cpp
  editor/window_wrapper.h
  platform/windows/display_server_windows.cpp
Labels: bug, platform:windows, topic:editor, topic:porting, regression

#102749 Fix TreeItem button tooltip trigger area offset
  scene/gui/tree.cpp
Labels: bug, regression, topic:gui

#99810 Style skeleton button on import screen
  editor/icons/SkeletonPreview.svg
  editor/import/3d/scene_import_settings.cpp
Labels: bug, topic:editor, topic:import, topic:3d

#96926 Ignore `--test` flag when it is an user-provided argument
  main/main.cpp
Labels: bug, topic:core, regression, cherrypick:4.3

#101561 Change how device address is requested to avoid future API breakage
  doc/classes/RenderingDevice.xml
  misc/extension_api_validation/4.3-stable.expected
  servers/rendering/renderer_rd/effects/debug_effects.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/rendering_device.compat.inc
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, breaks compat

#102556 Fix TextEdit cusor shape when mouse is held
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui, cherrypick:4.3

#102668 [iOS] Sync the boot splash and the launch screen image scale modes
  core/os/os.cpp
  core/os/os.h
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
  platform/ios/os_ios.h
  platform/ios/os_ios.mm
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
Labels: bug, platform:ios, topic:porting, cherrypick:4.3

#102742 Improve documentation on forcing right-to-left layout in Control
  doc/classes/Control.xml
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation, cherrypick:4.3

#102760 Add tooltip text to Polygon3DEditor buttons
  editor/plugins/polygon_3d_editor_plugin.cpp
Labels: bug, topic:editor, usability

#102773 Fix dead links across the class reference
  doc/classes/BaseMaterial3D.xml
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
Labels: bug, documentation, cherrypick:4.3

#102776 Document the valid range of tile coordinates in TileMapLayer
  doc/classes/TileMap.xml
  doc/classes/TileMapLayer.xml
Labels: enhancement, documentation

#102778 Prevent errors when Line2D has 0 length
  scene/2d/line_2d.cpp
  scene/2d/line_builder.cpp
Labels: bug, topic:2d

#102781 ThorVG: Explicitly enable embedded texture support with `THORVG_FILE_IO_SUPPORT`
  modules/svg/SCsub
Labels: bug, topic:thirdparty, topic:import, regression

#102794 [URGENT] Fix broken skeletal animated meshes
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Labels: bug, topic:rendering, regression

#102729 EditorHelpBit: Workaround crash renaming named class inheriting `@tool` class
  editor/editor_help.cpp
Labels: bug, topic:editor, crash, regression

#102772 Bump the version of the openxr vendors plugin dependency
  platform/android/java/app/config.gradle
  platform/android/java/editor/build.gradle
Labels: enhancement, platform:android, topic:editor, topic:xr
