Repository godotengine/godot, pull requests merged in 2025-08, with the labels that each got.

#103838 Core: Fix translation remaps incorrectly falling back
  core/io/resource_loader.cpp
Labels: bug, topic:core, cherrypick:4.3, cherrypick:4.4

#108029 Clarify `visible_characters`
  doc/classes/Label.xml
  doc/classes/RichTextLabel.xml
Labels: enhancement, documentation, cherrypick:4.3, cherrypick:4.4

#109058 Prevent invalid and ambiguous tag names
  editor/project_manager/project_manager.cpp
Labels: bug, topic:editor

#109162 Fix Android TTS on-demand init.
  platform/android/java/lib/src/org/godotengine/godot/tts/GodotTTS.java
  platform/android/tts_android.cpp
  platform/android/tts_android.h
Labels: bug, platform:android, topic:porting, crash, regression

#109172 Fix `printraw` causing infinite recursion in `Logger._log_message`
  core/string/print_string.cpp
  core/string/print_string.h
  core/variant/variant_utility.cpp
Labels: bug, topic:core, crash

#109198 Break batch on Compatibility when primitive texture changes
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:gui, cherrypick:4.4

#109265 Revert "SoftBody3D: Support physics Interpolation"
  scene/3d/physics/soft_body_3d.cpp
  scene/3d/physics/soft_body_3d.h
Labels: bug, topic:physics, regression, topic:3d

#109267 Android: Misc changes
  editor/file_system/editor_file_system.cpp
  editor/project_manager/project_dialog.cpp
  platform/android/export/export_plugin.cpp
Labels: platform:android, topic:codestyle

#109006 Fix random pitch upward bias in `AudioStreamRandomizer`
  servers/audio/audio_stream.cpp
Labels: bug, topic:audio

#109196 Fix path post-processing edgecentered
  modules/navigation_2d/2d/nav_map_builder_2d.cpp
  modules/navigation_2d/2d/nav_region_builder_2d.cpp
  modules/navigation_2d/nav_utils_2d.h
  modules/navigation_3d/3d/nav_map_builder_3d.cpp
  modules/navigation_3d/3d/nav_region_builder_3d.cpp
  modules/navigation_3d/nav_utils_3d.h
Labels: bug, regression, topic:navigation

#93200 Fix audio input gets muted after a while on android
  servers/audio/audio_stream.cpp
Labels: bug, platform:android, topic:porting, topic:audio

#107436 Fix some inspector action buttons not updating icon when theme changes
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_properties_array_dict.h
  editor/inspector/input_event_editor_plugin.cpp
  editor/inspector/input_event_editor_plugin.h
  editor/inspector/tool_button_editor_plugin.cpp
  editor/inspector/tool_button_editor_plugin.h
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
  editor/scene/3d/skeleton_3d_editor_plugin.h
  editor/scene/gui/font_config_plugin.cpp
  editor/scene/gui/font_config_plugin.h
  editor/scene/packed_scene_editor_plugin.cpp
  editor/scene/packed_scene_editor_plugin.h
  editor/scene/texture/texture_region_editor_plugin.cpp
  modules/interactive_music/editor/audio_stream_interactive_editor_plugin.cpp
Labels: bug, topic:editor

#108374 Deactivate orientation gizmo on window exit
  editor/scene/3d/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.4

#109169 [Windows] Additionally use `cpuid` instruction to detect SSE4.2 support.
  platform/windows/cpu_feature_validation.c
Labels: bug, platform:windows, topic:porting

#109210 [Windows] Add Intel Gen9.5 (Kaby Lake) GPUs to Angle blocklist.
  main/main.cpp
Labels: enhancement, platform:windows, topic:rendering, topic:porting, cherrypick:4.4

#109109 Forward mouse events to embedded no-focus windows.
  editor/doc/editor_help.cpp
  scene/main/viewport.cpp
Labels: bug, topic:editor, topic:input, regression

#109118 Add `SVGTexture`support to `NinePatchRect`, `TextureProgressBar` and `StyleBoxTexture`.
  doc/classes/SVGTexture.xml
  scene/gui/nine_patch_rect.cpp
  scene/gui/texture_progress_bar.cpp
  scene/resources/style_box_texture.cpp
  scene/resources/svg_texture.cpp
  scene/resources/svg_texture.h
  scene/resources/texture.h
Labels: bug, topic:gui, topic:2d

#109208 Fix inaccurate description of `get_current_rendering_driver_name`
  doc/classes/RenderingServer.xml
Labels: enhancement, documentation

#109240 Automatically unregister loggers when script language is deinitialized.
  core/core_bind.cpp
  core/core_bind.h
  core/object/script_language.cpp
Labels: bug, topic:core, crash

#109242 Document `Tree.item_collapsed` also being emitted when the item is expanded
  doc/classes/Tree.xml
Labels: enhancement, documentation, cherrypick:4.4

#109259 Keep collapsed state for actions when modifying Input Map
  editor/settings/action_map_editor.cpp
Labels: bug, topic:editor, usability

#109289 OpenXR: Fix required extension tooltip
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
Labels: bug, topic:xr, cherrypick:4.4

#109329 Fix LineEdit center alignment
  scene/gui/line_edit.cpp
Labels: bug, topic:gui, cherrypick:4.4

#108930 Fix order of operations for macOS template check
  platform/osx/export/export.cpp
Labels: bug, topic:editor, topic:export

#109203 Fix inheriting from abstract classes dialog
  editor/gui/create_dialog.cpp
  editor/gui/create_dialog.h
  editor/script/script_create_dialog.cpp
Labels: bug, topic:editor, cherrypick:4.4

#109377 Fix `local_to_scene` duplication of typed dictionary
  core/io/resource.cpp
Labels: bug, topic:core, regression

#109415 [TextServer] Fix caret hit test rounding.
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  servers/text_server.cpp
Labels: bug, topic:gui

#104809 [macOS] Fix missing frame_changed signal to CameraFeed
  modules/camera/camera_android.cpp
  modules/camera/camera_feed_linux.cpp
  servers/camera/camera_feed.cpp
  servers/camera/camera_feed.h
Labels: bug, platform:macos, topic:xr

#109437 Use MSDF instead of MTSDF for font rendering.
  drivers/gles3/shaders/canvas.glsl
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
  scene/resources/material.cpp
  servers/rendering/renderer_rd/shaders/canvas.glsl
Labels: bug, topic:rendering, topic:gui

#109441 Fix issues searching `RichTextLabel` when search result is in a table
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:gui, cherrypick:4.4

#109448 Add new line when dropping onready on empty line
  editor/script/script_text_editor.cpp
Labels: bug, topic:editor, regression

#109474 Fix remote tree max selection warning not showing properly
  editor/debugger/editor_debugger_tree.cpp
Labels: bug, topic:editor

#107681 Revert the removal of the `gradle_build/compress_native_libraries` export option
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
Labels: enhancement, platform:android, topic:export

#109100 Fix snapping logic in Range
  doc/classes/Range.xml
  scene/gui/range.cpp
  scene/gui/range.h
Labels: bug, topic:editor, cherrypick:4.2, cherrypick:4.3, cherrypick:4.4

#109539 Fix shortcut reset for spatial_editor/tool_select
  editor/run/game_view_plugin.cpp
Labels: bug, topic:editor, topic:input, topic:3d

#109540 Add methods to check which event first triggered "just pressed/released" state.
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  scene/gui/popup_menu.cpp
  scene/gui/slider.cpp
  scene/gui/tab_bar.cpp
  scene/main/viewport.cpp
Labels: bug, topic:input, regression

#109402 Add "dropdown" keyword to OptionButton and MenuButton
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
Labels: enhancement, discussion, documentation

#109528 Fix drive selection issue on Android
  doc/classes/DirAccess.xml
  platform/android/java/lib/src/org/godotengine/godot/io/directory/FilesystemDirectoryAccess.kt
  scene/gui/file_dialog.cpp
Labels: bug, platform:android, topic:core

#109556 Fix mobile renderer motion vectors
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Labels: bug, topic:rendering, regression

#109564 SceneCreateDialog: Hide 3D Scene option when 3D editor is disabled
  editor/scene/scene_create_dialog.cpp
Labels: bug, topic:editor

#109584 Fix `TileMapLayer` terrain preview icons for transformed alternative tiles
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
Labels: bug, topic:editor, topic:2d, cherrypick:4.4

#109593 Fix name included in animation when saved from slice in scene importer
  editor/import/3d/resource_importer_scene.cpp
Labels: bug, topic:editor, topic:import, topic:animation, topic:3d, cherrypick:4.4

#108453 Never duplicate Scripts when duplicating resources recursively
  core/io/resource.cpp
Labels: bug, topic:core, regression

#109552 Clarify the types `InputEvent.is_action_type()` will return `true` for
  doc/classes/InputEvent.xml
Labels: enhancement, documentation, cherrypick:4.4

#109577 [Docs] Mention 'build version' in iOS, macOS, and visionOS export docs
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/visionos/doc_classes/EditorExportPlatformVisionOS.xml
Labels: enhancement, documentation

#109608 Android: Fix build command for AAB export
  platform/android/export/export_plugin.cpp
Labels: bug, platform:android, topic:export, cherrypick:4.4

#109607 Fix `move_and_slide` forcing synchronization with physics thread
  doc/classes/PhysicsDirectBodyState2D.xml
  doc/classes/PhysicsDirectBodyState2DExtension.xml
  doc/classes/PhysicsDirectBodyState3D.xml
  doc/classes/PhysicsDirectBodyState3DExtension.xml
  modules/godot_physics_2d/godot_body_direct_state_2d.cpp
  modules/godot_physics_2d/godot_body_direct_state_2d.h
  modules/godot_physics_3d/godot_body_direct_state_3d.cpp
  modules/godot_physics_3d/godot_body_direct_state_3d.h
  modules/jolt_physics/objects/jolt_physics_direct_body_state_3d.cpp
  modules/jolt_physics/objects/jolt_physics_direct_body_state_3d.h
  scene/2d/physics/character_body_2d.cpp
  scene/3d/physics/character_body_3d.cpp
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/extensions/physics_server_3d_extension.cpp
  servers/extensions/physics_server_3d_extension.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_dummy.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_dummy.h
Labels: bug, topic:physics

#109612 Don't use `alloca()` in `Object::emit_signalp()` to prevent stack overflow
  core/object/object.cpp
Labels: bug, topic:core, crash

#100813 Fix being able to grab hidden transform gizmo handles
  editor/scene/3d/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d

#109625 GLTF: Fix crash reading texture sampler for non-existent texture
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, crash, topic:3d, cherrypick:4.4

#109304 GDScript: Don't stop annotation argument parsing at file end
  modules/gdscript/gdscript_parser.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.4

#109644 Fix material removal clearing all instances of shared texture arrays
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Labels: bug, topic:rendering, regression

#109662 Add default param value to `EditorExportPlatform::get_forced_export_files`
  doc/classes/EditorExportPlatform.xml
  editor/export/editor_export_platform.cpp
Labels: bug, topic:export

#109630 OpenXR: Use GLTFDocument function to get supported extension names
  modules/openxr/extensions/openxr_render_model_extension.cpp
Labels: bug, topic:xr

#109724 [macOS] Forward application focus events to the embedded process.
  platform/macos/editor/embedded_process_macos.h
  platform/macos/editor/embedded_process_macos.mm
  platform/macos/embedded_debugger.h
  platform/macos/embedded_debugger.mm
Labels: bug, platform:macos, topic:porting

#109824 Enable input when ColorPicker popup exits tree
  scene/gui/color_picker.cpp
Labels: bug, regression, topic:gui

#109841 Process skeleton modifiers when the skeleton is marked as dirty
  scene/3d/skeleton_3d.cpp
Labels: bug, regression, topic:animation

#109882 Treat missing variants as normal cache misses during shader cache lookup
  servers/rendering/renderer_rd/shader_rd.cpp
Labels: bug, topic:rendering, topic:xr, regression, topic:shaders

#109891 Metal: Read `gl_ViewIndex` in tonemapper.glsl for multi-view subpasses
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Labels: bug, platform:ios, platform:macos, topic:rendering, topic:xr, topic:3d

#106744 Fix source generator exceptions appearing when use "@+internal keyword" as type or namespace name in C# script
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/KeywordClassNameAndNamespaceTest.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/namespace.class_ScriptMethods.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/KeywordClassNameAndNamespace.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGenerator.cs
  modules/mono/glue/GodotSharp/Godot.SourceGenerators.Internal/ExtensionMethods.cs
  modules/mono/glue/GodotSharp/Godot.SourceGenerators.Internal/UnmanagedCallbacksGenerator.cs
Labels: bug, topic:buildsystem, topic:dotnet

#109684 Fix transforms trying to continue after a cancel
  editor/scene/3d/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, regression, topic:3d

#109777 Fix incorrect `blend_position` values in BlendSpace editor after dragging point
  editor/animation/animation_blend_space_1d_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
Labels: bug, topic:editor, topic:animation

#109794 Correctly hide BlendSpace editor error panel on load
  editor/animation/animation_blend_space_1d_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
Labels: bug, topic:editor, topic:animation

#109881 Fix overly aggressive focus grabbing by StateMachine and BlendSpaces
  editor/animation/animation_blend_space_1d_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
  editor/animation/animation_state_machine_editor.cpp
Labels: bug, topic:editor, usability, topic:animation, cherrypick:4.4

#109905 Add lacked bone name suggestions in ModifierBoneTarget3D
  scene/3d/modifier_bone_target_3d.cpp
Labels: bug, topic:animation, topic:3d

#108650 Clarify type inference in ProjectSettings Inferred Declaration warning
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation, cherrypick:4.4

#109790 [Web] Fix `AudioStreamPlayer.get_playback_position()` returning incorrect values for samples
  platform/web/js/libs/audio.position.worklet.js
  platform/web/js/libs/library_godot_audio.js
Labels: bug, platform:web, topic:porting, topic:audio

#109877 Document `REGION_RECT` canvas shader built-in in Sprite2D region property
  doc/classes/Sprite2D.xml
Labels: enhancement, documentation

#109973 Make shader editor menu position consistent between shader languages
  editor/shader/shader_editor.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
Labels: bug, topic:editor, usability, regression, topic:shaders

#109695 [3.x] Fix Line breaking may not work correctly when using color tags with specific font
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#109887 Rescale values to better utilize R128 range before snapping
  scene/gui/range.cpp
Labels: bug, topic:core, topic:editor, regression

#109970 Add debanding to SMAA and apply debanding before spatial upscalers.
  servers/rendering/renderer_rd/effects/smaa.cpp
  servers/rendering/renderer_rd/effects/smaa.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/smaa_blending.glsl
Labels: bug, topic:rendering, regression, topic:3d

#109995 Handle the case where VRS is a two byte per pixel format when creating default VRS texture
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device_commons.h
Labels: bug, topic:rendering

#109993 Check renderer type when setting 3D upscaling mode.
  servers/rendering/renderer_viewport.cpp
Labels: bug, topic:rendering, crash, cherrypick:4.4

#110040 [4.3] Install older .NET 6 on Linux CI to fix compiling
  .github/workflows/linux_builds.yml
Labels: bug, topic:buildsystem, topic:dotnet

#110036 [4.2] Fix incorrect Vulkan include in vulkan_context.h
  drivers/vulkan/vulkan_context.h
Labels: bug, topic:buildsystem

#110064 Fix `classdb_register_extension_class*` documentation in `core/extension/gdextension_interface.h`
  core/extension/gdextension_interface.h
Labels: bug, topic:gdextension, topic:codestyle, cherrypick:4.4

#109960 CI: Ensure prettier/clearer sanitizer output
  .github/workflows/linux_builds.yml
  misc/error_suppressions/asan.txt
  misc/error_suppressions/lsan.txt
  misc/error_suppressions/tsan.txt
  misc/error_suppressions/ubsan.txt
Labels: bug, enhancement, topic:buildsystem

#110057 Fix editor export plugins always causing resources to be edited.
  editor/export/editor_export_platform.cpp
Labels: bug, topic:editor, topic:export

#110068 fix: macOS cmd + drag snapping not working for 3D editor Move, Rotate and Scale tool
  editor/scene/3d/node_3d_editor_plugin.cpp
Labels: bug, platform:macos, topic:editor, topic:input, topic:3d, cherrypick:4.4
