Repository godotengine/godot, pull requests merged in 2025-03, with the labels that each got.

#103436 Fix invalid startup embedded game location and size after resizing editor main area
  editor/plugins/game_view_plugin.cpp
Labels: bug, topic:editor, regression

#103439 Fix autoloaded scene loses their built-in script when upgrading to 4.4
  editor/uid_upgrade_tool.cpp
Labels: bug, topic:editor, regression

#103467 Validate custom type script before loading it
  editor/scene_tree_dock.cpp
  scene/property_utils.cpp
Labels: bug, topic:editor, crash

#103484 CI: Run `apt install` before installing libxml2-utils, GHA cache got flaky
  .github/workflows/static_checks.yml
Labels: bug, topic:buildsystem

#103510 Bump version to 4.5-dev
  .github/actions/godot-cpp-build/action.yml
  misc/dist/macos_tools.app/Contents/Info.plist
  misc/dist/windows/godot.iss
  misc/extension_api_validation/4.3-stable_4.4-stable.expected
  misc/extension_api_validation/4.4-stable.expected
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
  version.py
Labels: enhancement, topic:buildsystem

#98034 [.NET] Use `ObjectID` when converting `Variant` to `GodotObject`
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/InteropStructs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/VariantUtils.cs
Labels: bug, topic:dotnet, crash, cherrypick:4.3, cherrypick:4.4

#102576 Use `FlowContainer` for `EditorNetworkProfiler` bar
  modules/multiplayer/editor/editor_network_profiler.cpp
Labels: bug, enhancement, topic:editor, usability, cherrypick:4.3, cherrypick:4.4

#102893 Fix voxelizer normals
  scene/3d/voxelizer.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.4

#102908 Fix 2D quad primitive missing lighting data in GLES3 renderer
  drivers/gles3/rasterizer_canvas_gles3.cpp
Labels: bug, topic:rendering, topic:2d, cherrypick:4.3, cherrypick:4.4

#103092 Fix uninitialized value in Tonemap
  servers/rendering/renderer_rd/effects/luminance.cpp
Labels: bug, topic:rendering, cherrypick:4.3, cherrypick:4.4

#103301 Unify CSGPolygon3D gizmos with the other geometries
  editor/plugins/polygon_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d, cherrypick:4.4

#103309 Fix vbox separation in sections with `PROPERTY_USAGE_ARRAY`
  editor/editor_inspector.cpp
Labels: bug, topic:editor, cherrypick:4.4

#103320 PackedScene: Use ObjectID for DeferredNodePathProperties base
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Labels: bug, topic:core, crash, cherrypick:4.4

#103396 VideoStreamPlayer: Stop video on exit tree
  scene/gui/video_stream_player.cpp
Labels: bug, topic:gui, cherrypick:4.4

#103409 Update to latest version of Swappy
  .github/workflows/android_builds.yml
  .gitignore
  platform/android/detect.py
  thirdparty/swappy-frame-pacing/common/gamesdk_common.h
  thirdparty/swappy-frame-pacing/swappyVk.h
  thirdparty/swappy-frame-pacing/swappy_common.h
Labels: bug, platform:android, topic:thirdparty, cherrypick:4.4

#103410 Fix TextEdit scrolls wrong on text selection
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: bug, topic:editor, usability, regression, cherrypick:4.4

#103413 Fix Android mouse capture issues
  platform/android/android_input_handler.cpp
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Labels: bug, platform:android, topic:input, cherrypick:4.4

#103447 Set editor's translation domain at root node
  editor/editor_node.cpp
  editor/project_manager.cpp
  main/main.cpp
Labels: bug, topic:editor, regression, cherrypick:4.4

#103480 RenderingDevice: Validate pre-raster (vertex) shader in `render_pipeline_create`
  servers/rendering/rendering_device.cpp
Labels: bug, topic:rendering, crash, cherrypick:4.4

#103519 Document Glow Upscale Mode project setting only affecting Forward+/Mobile
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
Labels: enhancement, documentation, cherrypick:4.4

#103523 Android: Fix build with `disable_3d`
  platform/android/java_godot_lib_jni.cpp
Labels: bug, platform:android, topic:buildsystem, cherrypick:4.4

#103616 [Metal] Add missing stage info to shader description.
  drivers/metal/rendering_device_driver_metal.mm
Labels: bug, topic:rendering, regression

#103621 [3.x] Prevent inlining error printing functions
  core/error_macros.h
  core/typedefs.h
Labels: enhancement, topic:core

#100457 CI: Ensure default branch cache persists
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
Labels: enhancement, topic:buildsystem

#100684 Fix spinbox decimal issues when `update_on_text_changed` = true
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Labels: bug, topic:gui, cherrypick:4.4

#101077 Fix ui navigation break
  scene/gui/control.cpp
  tests/scene/test_control.h
Labels: bug, topic:gui

#102150 Add unit tests for control focus navigation
  tests/scene/test_control.h
Labels: enhancement, topic:input, topic:gui, topic:tests

#102514 [TextEdit] Improve wrapped line indent handling.
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  servers/text_server.cpp
Labels: bug, topic:gui

#102585 Don't send `TRANSLATION_CHANGED` outside tree
  scene/main/node.cpp
Labels: bug, topic:core, topic:i18n

#102648 Expose `OVERRUN_ENFORCE_ELLIPSIS` flag to the controls.
  doc/classes/TextServer.xml
  scene/gui/button.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/resources/text_line.cpp
  scene/resources/text_paragraph.cpp
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, enhancement, topic:gui

#102817 JavaClassWrapper: Improve handling of typed array arguments
  platform/android/java_class_wrapper.cpp
Labels: bug, platform:android, topic:porting, cherrypick:4.4

#102859 Theora: Fix YUV422/444 to RGB conversion
  thirdparty/misc/yuv2rgb.h
Labels: bug, topic:thirdparty, cherrypick:4.4

#102865 Fix Tree keyboard navigation in RTL direction
  scene/gui/tree.cpp
Labels: bug, topic:input, topic:gui, cherrypick:4.3, cherrypick:4.4

#102880 Apply `fix_alpha_edges` for both theme icons and font glyphs.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/theme/default_theme.cpp
Labels: bug, topic:gui, cherrypick:4.4

#102905 Fix render info primitive count per `TRIANGLE_STRIP`
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Labels: bug, topic:rendering

#102924 SCons: Implement minor fixes
  SConstruct
  methods.py
Labels: bug, enhancement, topic:buildsystem

#103316 Make `EditorProperty` and its child `EditorProperty` behave like sibling nodes when handling mouse events
  doc/classes/EditorInspector.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  scene/gui/scroll_container.h
Labels: bug, topic:editor, usability

#103348 Fix 2D instance params crashing using outside of `main()`
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shaders/canvas.glsl
Labels: bug, topic:shaders, cherrypick:4.4

#103384 [Android] Skip non-existing system font files.
  platform/android/os_android.cpp
Labels: bug, platform:android, topic:porting

#103454 Restore "Show in File Manager" button functionality in `ProjectManager`
  editor/project_manager/project_list.cpp
Labels: bug, topic:editor, cherrypick:4.3, cherrypick:4.4

#103471 Fix text shadow outline draw batching.
  scene/gui/label.cpp
  scene/gui/label.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Labels: bug, topic:rendering, topic:gui, topic:2d, performance

#103506 Use separate WorkThreadPool for shader compiler.
  core/object/worker_thread_pool.cpp
  core/object/worker_thread_pool.h
  servers/rendering/renderer_rd/shader_rd.cpp
Labels: bug, topic:core, topic:rendering, crash, cherrypick:4.4

#103508 Fix `caret_force_displayed`
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
Labels: bug, regression, topic:gui, cherrypick:4.4

#103515 CI: Bump SCons to latest (4.8.1 → 4.9.0)
  .github/actions/godot-deps/action.yml
Labels: enhancement, topic:buildsystem

#103521 Delete rendering device on the same thread it was created
  modules/betsy/image_compress_betsy.cpp
Labels: bug, topic:rendering, topic:import

#103526 Fix check for is_maximized in x11 to require both horizontal and vert
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, regression, cherrypick:4.4

#103531 Fix inefficient upload in Mobile Shadows
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering, topic:3d, performance

#103560 [Linux/BSD] Offload RenderingDevice creation test to subprocess.
  core/os/os.h
  main/main.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/linuxbsd/os_linuxbsd.h
  platform/linuxbsd/wayland/detect_prime_egl.h
  platform/linuxbsd/x11/detect_prime_x11.cpp
  platform/linuxbsd/x11/detect_prime_x11.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  servers/display_server.cpp
Labels: bug, platform:linuxbsd, topic:rendering, needs testing, crash, cherrypick:4.4

#103588 Make NavigationLink3D properly update on visibility change
  scene/3d/navigation_link_3d.cpp
Labels: bug, topic:navigation, topic:3d, cherrypick:4.4

#103598 Use `text_overrun` for project export errors
  editor/export/project_export.cpp
Labels: bug, topic:editor, topic:export, cherrypick:4.4

#103613 Metal: Use uniform set index passed by `RenderingDevice`
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
Labels: bug, topic:rendering

#103619 Add missing default values to the `read_*_from_stdin` binds.
  core/core_bind.compat.inc
  core/core_bind.cpp
  doc/classes/OS.xml
Labels: bug, topic:core

#103622 [Windows] Fix `get_modified_time` on locked files.
  drivers/windows/file_access_windows.cpp
Labels: bug, topic:core, regression, cherrypick:4.4

#87388 Implement `LIMIT_MAX_COMPUTE_SHARED_MEMORY_SIZE` to `limit_get` in the Vulkan backend
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/metal/metal_device_properties.h
  drivers/metal/metal_device_properties.mm
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Labels: bug, topic:rendering

#97861 Update ViewportTexture path relative to its local scene instead of the Viewport owner
  scene/main/viewport.cpp
Labels: bug, topic:core, topic:rendering, cherrypick:4.4

#98194 Improve native file dialog parent window selection.
  doc/classes/DisplayServer.xml
  editor/gui/editor_file_dialog.cpp
  misc/extension_api_validation/4.4-stable.expected
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/file_dialog.cpp
  servers/display_server.compat.inc
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Labels: bug, enhancement, topic:porting, topic:gui

#102741 Fix viewport scaling at intermediate resolutions
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
Labels: bug, topic:rendering, topic:gui, cherrypick:4.3, cherrypick:4.4

#102777 Add ASTC HDR format variants
  doc/classes/RDTextureView.xml
  doc/classes/RDVertexAttribute.xml
  doc/classes/RenderingDevice.xml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/metal/pixel_formats.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_commons.cpp
  servers/rendering/rendering_device_commons.h
Labels: bug, enhancement, topic:rendering, cherrypick:4.4

#103440 Fix broken negative scaling when using Jolt Physics
  modules/jolt_physics/misc/jolt_math_funcs.cpp
  modules/jolt_physics/misc/jolt_math_funcs.h
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_body_3d.cpp
  modules/jolt_physics/objects/jolt_shaped_object_3d.cpp
  modules/jolt_physics/spaces/jolt_physics_direct_space_state_3d.cpp
Labels: bug, topic:physics, topic:3d, cherrypick:4.4

#103529 Validate triviality of InstanceData struct in Mobile and Forward+ renderers
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
Labels: bug, topic:core, topic:rendering, performance

#103590 [iOS export] Restore one-click deploy device enumeration using Xcode.
  platform/ios/export/export_plugin.cpp
Labels: bug, platform:ios, topic:editor, regression, topic:export, cherrypick:4.4

#103636 Use `Viewport`'s default texture filter/repeat in GUI tooltips
  scene/main/viewport.cpp
Labels: bug, topic:rendering, topic:gui, topic:2d, cherrypick:4.4

#103661 Swap Nintendo face buttons on macOS
  drivers/apple/joypad_apple.h
  drivers/apple/joypad_apple.mm
Labels: bug, platform:macos, topic:porting, cherrypick:4.4

#103695 Update script modified times when saved in EditorNode
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Labels: bug, topic:editor, regression, cherrypick:4.4

#103701 [Docs] Fix WorkerThreadPool wrong max thread value description.
  doc/classes/ProjectSettings.xml
Labels: enhancement, documentation, cherrypick:4.4

#103714 [.NET] Skip re-saving `.csproj` when TFM is unchanged
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectUtils.cs
Labels: bug, topic:dotnet, cherrypick:4.4

#99059 Fix String::is_valid_hex_number
  core/string/ustring.cpp
Labels: bug, topic:core, cherrypick:4.3, cherrypick:4.4

#100209 Simplify and fix `Projection`'s getter functions
  core/math/projection.cpp
  doc/classes/Projection.xml
  tests/core/math/test_projection.h
Labels: bug, topic:core, performance

#95049 Use windowBackgroundColor instead of controlColor for macOS system base color
  platform/macos/display_server_macos.mm
Labels: bug, platform:macos, topic:editor, topic:porting, cherrypick:4.3, cherrypick:4.4

#101319 Improve consistency of code regions
  modules/gdscript/editor/gdscript_highlighter.cpp
  scene/gui/code_edit.cpp
Labels: bug, topic:gdscript, topic:editor

#101618 VariantParser: Fix reading negated identifiers, replace `inf_neg` with `-inf`
  core/variant/variant_parser.cpp
Labels: bug, enhancement, topic:core

#103270 Fix invisible ItemList cursor in editor theme
  editor/themes/editor_theme_manager.cpp
Labels: bug, topic:editor, topic:gui

#103580 Add space for BBCode Ordered Lists
  scene/gui/rich_text_label.cpp
Labels: bug, topic:gui

#103649 Fix popup location for `PROPERTY_USAGE_ARRAY` inspector items
  editor/editor_inspector.cpp
Labels: bug, topic:editor, topic:gui

#103670 Redraw inspector section when cursor enters and exits header to update hover state
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#103730 Fix incorrect parameters passed to VMA
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Labels: bug, topic:rendering, regression, cherrypick:4.4

#103733 JavaClassWrapper: Fix conversion to/from `org.godotengine.godot.Dictionary` that regressed
  platform/android/java_class_wrapper.cpp
Labels: bug, platform:android, topic:porting, topic:plugin, regression, cherrypick:4.4

#103756 Fix some i18n issues in visual shader editor
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor, topic:shaders, cherrypick:4.4, topic:i18n

#89442 Don't duplicate internal nodes
  doc/classes/Node.xml
  editor/scene_tree_dock.cpp
  scene/2d/tile_map_layer.cpp
  scene/gui/color_picker.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/tab_container.cpp
  scene/gui/text_edit.cpp
  scene/main/node.cpp
  scene/main/node.h
Labels: bug, enhancement, topic:core, breaks compat

#99094 Drop preload Resources as UID
  doc/classes/EditorSettings.xml
  editor/editor_property_name_processor.cpp
  editor/editor_settings.cpp
  editor/plugins/script_text_editor.cpp
Labels: enhancement, topic:editor

#101293 Remove implicit conversions from `String`, `Char16String` and `CharString` to data pointers.
  core/io/plist.cpp
  core/io/resource_uid.cpp
  core/string/ustring.h
  editor/export/codesign.cpp
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_linux.cpp
  modules/mono/csharp_script.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/openxr/openxr_api.cpp
  modules/regex/regex.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/tts_linux.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
Labels: enhancement, topic:core

#101776 Specify `max_slides` must be greater than 0
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
Labels: enhancement, documentation

#101878 Core: Automate generation of the `char_range.inc` file
  core/string/char_range.inc
  misc/scripts/char_range_fetch.py
Labels: enhancement, topic:core

#102419 Use `std::size` instead of `sizeof(a) / sizeof(a[0])` pattern throughout the codebase.
  core/error/error_list.cpp
  core/input/input_map.cpp
  core/io/file_access.cpp
  core/io/resource_uid.cpp
  core/math/color.cpp
  core/string/char_utils.h
  core/string/translation_domain.cpp
  drivers/d3d12/rendering_context_driver_d3d12.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  editor/code_editor.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/themes/editor_fonts.cpp
  main/performance.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/mono/mono_gd/gd_mono.cpp
  platform/android/export/gradle_export_util.cpp
  platform/ios/export/export_plugin.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/export/export_plugin.cpp
  platform/macos/key_mapping_macos.mm
  platform/windows/export/export_plugin.cpp
  platform/windows/os_windows.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_warnings.cpp
  tests/core/string/test_string.h
  tests/core/test_crypto.h
  tests/servers/test_text_server.h
Labels: enhancement, discussion, topic:codestyle

#102427 Clean up some uses of `String::substr`
  core/config/project_settings.cpp
  core/debugger/engine_debugger.cpp
  core/doc_data.cpp
  core/extension/extension_api_dump.cpp
  core/input/input.cpp
  core/input/input_map.cpp
  core/io/http_client.cpp
  core/io/http_client_tcp.cpp
  core/io/ip_address.cpp
  core/io/translation_loader_po.cpp
  core/string/print_string.cpp
  core/string/ustring.cpp
  core/variant/variant_utility.cpp
  drivers/unix/dir_access_unix.cpp
  drivers/windows/dir_access_windows.cpp
  editor/animation_track_editor.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_translation.cpp
  editor/filesystem_dock.cpp
  editor/gui/editor_file_dialog.cpp
  editor/import/3d/collada.cpp
  editor/import/3d/resource_importer_obj.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/localization_editor.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/rename_dialog.cpp
  main/main.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/code_completion.cpp
  modules/mono/utils/string_utils.cpp
  platform/android/dir_access_jandroid.cpp
  platform/android/export/export_plugin.cpp
  platform/android/file_access_android.cpp
  platform/android/java_class_wrapper.cpp
  platform/macos/export/export_plugin.cpp
  platform/web/http_client_web.cpp
  scene/gui/code_edit.cpp
  scene/gui/file_dialog.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
  scene/main/http_request.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_preprocessor.cpp
Labels: enhancement, topic:codestyle

#102451 Add `ERR_FAIL_COND_MSG` for reparenting to self
  scene/main/node.cpp
Labels: enhancement, topic:core

#102630 Improve `_is_drop_valid()` code in EditorPropertyArray
  editor/editor_properties_array_dict.cpp
Labels: enhancement, topic:codestyle

#103089 Update CI `ruff` & `mypy` pre-commit hooks
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#103137 GDExtension: Include precision in `extension_api.json`
  core/extension/extension_api_dump.cpp
Labels: enhancement, topic:gdextension, cherrypick:4.3, cherrypick:4.4

#103177 Allow `default` case at the top of a switch scope in shaders
  servers/rendering/shader_language.cpp
Labels: enhancement, topic:shaders

#103199 GDExtension: Add `status` to `get_godot_version`
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
Labels: enhancement, topic:gdextension

#103663 Fix `SCRIPT ERROR/ERROR/WARNING` on test output
  modules/gdscript/tests/scripts/completion/argument_options/play_inferred.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_typed.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_untyped.gd
  modules/gdscript/tests/scripts/completion/get_node/literal/dollar.gd
  modules/gdscript/tests/scripts/completion/get_node/literal/percent.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred/local_inferred.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred/local_inferred.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/class_local_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/class_local_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/native_local_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/native_local_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred/member_inferred.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred/member_inferred.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/class_member_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/class_member_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/native_member_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/native_member_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_scene/class_member_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_scene/native_member_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene/native_member_typehint_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_broad/class_member_typehint_scene_broad.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_broad/native_member_typehint_scene_broad.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_incompatible/class_member_typehint_scene_incompatible.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_incompatible/native_member_typehint_scene_incompatible.gd
  modules/gdscript/tests/scripts/completion/types/local/inferred.cfg
  modules/gdscript/tests/scripts/completion/types/local/inferred.gd
  modules/gdscript/tests/scripts/completion/types/member/inferred.cfg
  modules/gdscript/tests/scripts/completion/types/member/inferred.gd
  modules/gdscript/tests/test_completion.h
  tests/core/templates/test_a_hash_map.h
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
  tests/test_main.cpp
Labels: bug, topic:tests, cherrypick:4.4

#79599 Add built-in GUI to display license notices
  core/input/input_map.cpp
  doc/classes/ProjectSettings.xml
  doc/classes/SceneTree.xml
  editor/icons/LicensesDialog.svg
  scene/gui/licenses_dialog.cpp
  scene/gui/licenses_dialog.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
Labels: enhancement, topic:core, topic:gui

#81503 Add getter tests for dynamic fonts
  tests/scene/test_fontfile.h
Labels: enhancement, topic:tests

#90034 Don't save unnecessarily with `save_before_running`
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/shader_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, performance

#97908 Add `linux-bionic` RID export option
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/editor/GodotTools/GodotTools/Utils/OS.cs
  modules/mono/mono_gd/gd_mono.cpp
  platform/android/export/export_plugin.cpp
Labels: enhancement, platform:android, topic:dotnet, topic:export

#99321 Use `get_slicec` instead of `get_slice` for single character splitters
  core/config/project_settings.cpp
  core/input/input.cpp
  core/string/translation_server.cpp
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/material_storage.cpp
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/debugger/editor_debugger_inspector.cpp
  editor/debugger/editor_file_server.cpp
  editor/editor_about.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_command_palette.cpp
  editor/editor_feature_profile.cpp
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_inspector.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_resource_picker.cpp
  editor/editor_settings.cpp
  editor/editor_settings_dialog.cpp
  editor/export/editor_export_platform.cpp
  editor/gui/editor_file_dialog.cpp
  editor/import/3d/collada.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/font_config_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/project_manager/project_list.cpp
  editor/project_settings_editor.cpp
  editor/property_selector.cpp
  editor/scene_create_dialog.cpp
  editor/scene_tree_dock.cpp
  main/main.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gltf/gltf_document.cpp
  platform/android/export/export_plugin.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/macos/godot_open_save_delegate.mm
  platform/windows/display_server_windows.cpp
  scene/gui/code_edit.cpp
  scene/gui/file_dialog.cpp
  scene/gui/graph_node.cpp
  scene/gui/menu_bar.cpp
  scene/gui/option_button.cpp
  scene/resources/packed_scene.cpp
  scene/resources/syntax_highlighter.cpp
  scene/resources/theme.cpp
  servers/audio/effects/audio_effect_chorus.cpp
  servers/audio_server.cpp
  servers/rendering/dummy/storage/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/rendering_device_binds.cpp
  tests/core/io/test_json.h
Labels: enhancement, topic:codestyle, performance

#101304 Add `String::ascii` creator functions, to parse a char buffer as ASCII.
  core/io/plist.cpp
  core/string/ustring.cpp
  core/string/ustring.h
Labels: enhancement, topic:core

#103547 Optimize `_fill_instance_data` function in Forward+ renderer.
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
Labels: enhancement, topic:rendering, topic:3d, performance

#103773 Use more efficient sleep approach on Windows when low-processor mode is enabled
  platform/windows/os_windows.cpp
Labels: bug, platform:windows, topic:porting, needs testing, regression, performance, cherrypick:4.4

#103778 Fix build errors when building with `disable_xr=yes`
  scene/register_scene_types.cpp
  servers/register_server_types.cpp
Labels: bug, topic:xr

#103794 Significantly reduce per-frame memory allocations from the heap in the Mobile renderer
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, performance

#103814 RenderingDevice: Delay expensive operations to `get_perf_report`
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:rendering, performance

#103897 Fix AudioServer missing deletes.
  servers/audio_server.cpp
Labels: bug, topic:audio

#92476 Add `String::remove_char(s)` methods for performance and convenience
  core/config/project_settings.cpp
  core/extension/extension_api_dump.cpp
  core/input/input.cpp
  core/io/dir_access.cpp
  core/io/file_access.cpp
  core/math/color.cpp
  core/os/os.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  drivers/gles3/shader_gles3.cpp
  editor/doc_tools.cpp
  editor/editor_help.cpp
  editor/editor_node.cpp
  editor/editor_properties_array_dict.cpp
  editor/plugins/script_text_editor.cpp
  editor/project_converter_3_to_4.cpp
  editor/property_selector.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.h
  platform/android/export/export_plugin.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/windows/os_windows.cpp
  scene/3d/xr/xr_face_modifier_3d.cpp
  scene/gui/code_edit.cpp
  scene/gui/color_picker.cpp
  scene/gui/text_edit.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  tests/core/string/test_string.h
Labels: enhancement, topic:core, performance

#95736 Allow changing the color for the Checkbox's checked and unchecked icons
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  scene/gui/check_box.cpp
  scene/gui/check_box.h
  scene/gui/check_button.cpp
  scene/gui/check_button.h
  scene/theme/default_theme.cpp
Labels: enhancement, feature proposal, topic:gui

#96296 Fix `changed` signal emission in `Curve::set_point_offset`
  scene/resources/curve.cpp
  scene/resources/curve.h
Labels: bug, topic:gui, topic:2d, cherrypick:4.4

#97553 [Core] Add `is_same` to types that have float components
  core/math/aabb.cpp
  core/math/aabb.h
  core/math/basis.cpp
  core/math/basis.h
  core/math/color.cpp
  core/math/color.h
  core/math/math_funcs.h
  core/math/plane.cpp
  core/math/plane.h
  core/math/projection.cpp
  core/math/projection.h
  core/math/quaternion.cpp
  core/math/quaternion.h
  core/math/rect2.cpp
  core/math/rect2.h
  core/math/transform_2d.cpp
  core/math/transform_2d.h
  core/math/transform_3d.cpp
  core/math/transform_3d.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector4.cpp
  core/math/vector4.h
  core/templates/hashfuncs.h
  core/variant/variant.cpp
Labels: enhancement, feature proposal, topic:core

#101174 Style: Standardize Obj-C `#import` syntax
  drivers/SCsub
  drivers/apple/joypad_apple.mm
  drivers/coreaudio/audio_driver_coreaudio.mm
  drivers/coremidi/SCsub
  drivers/coremidi/midi_driver_coremidi.mm
  drivers/metal/metal_objects.h
  drivers/metal/pixel_formats.h
  drivers/metal/rendering_context_driver_metal.h
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  modules/camera/camera_macos.mm
  modules/mono/utils/macos_utils.cpp
  modules/openxr/extensions/platform/openxr_metal_extension.mm
  platform/ios/display_server_ios.h
  platform/ios/ios_terminal_logger.mm
  platform/macos/crash_handler_macos.mm
  platform/macos/dir_access_macos.mm
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/gl_manager_macos_angle.h
  platform/macos/gl_manager_macos_angle.mm
  platform/macos/gl_manager_macos_legacy.mm
  platform/macos/godot_application.mm
  platform/macos/godot_application_delegate.mm
  platform/macos/godot_button_view.mm
  platform/macos/godot_content_view.mm
  platform/macos/godot_main_macos.mm
  platform/macos/godot_menu_delegate.mm
  platform/macos/godot_menu_item.mm
  platform/macos/godot_open_save_delegate.mm
  platform/macos/godot_status_item.mm
  platform/macos/godot_window.mm
  platform/macos/godot_window_delegate.mm
  platform/macos/key_mapping_macos.mm
  platform/macos/macos_terminal_logger.mm
  platform/macos/native_menu_macos.mm
  platform/macos/os_macos.mm
  platform/macos/rendering_context_driver_vulkan_macos.mm
  platform/macos/tts_macos.mm
Labels: enhancement, platform:ios, platform:macos, topic:codestyle

#102356 Add `Min(float)` and octahedron encode/decode to `Vector3.cs`
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Labels: enhancement, topic:dotnet, cherrypick:4.3, cherrypick:4.4

#103936 Add `Span` conversion to `LocalVector`.
  core/templates/local_vector.h
Labels: enhancement, topic:core

#103937 Revert `mypy` update (`1.15.0` -> `1.14.1`)
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#100339 Add a `TouchActionsPanel` to Android Editor
  editor/editor_node.cpp
  editor/gui/touch_actions_panel.cpp
  editor/gui/touch_actions_panel.h
  editor/icons/DragHandle.svg
  editor/icons/Orientation.svg
  editor/icons/Redo.svg
Labels: enhancement, platform:android, topic:editor

#101352 Make use of `latin1` encoding explicit in `gdextension_interface.cpp`.
  core/extension/gdextension_interface.cpp
  core/string/ustring.h
Labels: enhancement, topic:core, topic:gdextension

#102538 ufbx: Update to 0.17.1
  modules/fbx/fbx_document.cpp
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Labels: enhancement, topic:thirdparty, topic:import, cherrypick:4.4

#102661 clipper2: Update to 1.5.2
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/clipper2/include/clipper2/clipper.core.h
  thirdparty/clipper2/include/clipper2/clipper.engine.h
  thirdparty/clipper2/include/clipper2/clipper.export.h
  thirdparty/clipper2/include/clipper2/clipper.h
  thirdparty/clipper2/include/clipper2/clipper.minkowski.h
  thirdparty/clipper2/include/clipper2/clipper.offset.h
  thirdparty/clipper2/include/clipper2/clipper.rectclip.h
  thirdparty/clipper2/include/clipper2/clipper.version.h
  thirdparty/clipper2/patches/0001-disable-exceptions.patch
  thirdparty/clipper2/patches/0002-llvm-disable-int128-math.patch
  thirdparty/clipper2/src/clipper.engine.cpp
  thirdparty/clipper2/src/clipper.offset.cpp
  thirdparty/clipper2/src/clipper.rectclip.cpp
Labels: enhancement, topic:thirdparty

#102765 [C#] Improve Documentation for Typed `Godot.Collections` Wrappers
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Dictionary.cs
Labels: enhancement, documentation, topic:dotnet

#103044 Replace UID and Surface upgrade tools with universal one
  editor/editor_node.cpp
  editor/editor_node.h
  editor/project_upgrade_tool.cpp
  editor/project_upgrade_tool.h
  editor/surface_upgrade_tool.cpp
  editor/surface_upgrade_tool.h
  editor/uid_upgrade_tool.cpp
Labels: enhancement, topic:editor

#103891 Update logo/run icon path in platform READMEs
  platform/android/README.md
  platform/linuxbsd/README.md
  platform/web/README.md
Labels: bug, documentation, cherrypick:4.3, cherrypick:4.4

#103903 Improve cylinder gizmo performance
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
Labels: enhancement, topic:editor, topic:3d, performance

#103906 Revert "Add built-in GUI to display license notices"
  core/input/input_map.cpp
  doc/classes/ProjectSettings.xml
  doc/classes/SceneTree.xml
  editor/icons/LicensesDialog.svg
  scene/gui/licenses_dialog.cpp
  scene/gui/licenses_dialog.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
Labels: enhancement, topic:core, usability

#103910 Improve Sphere gizmo performance
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
Labels: enhancement, topic:editor, performance

#97838 EditorInterface: Add `get_open_scene_roots` to retrieve all opened scenes root nodes
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Labels: enhancement, topic:editor, topic:plugin

#98846 Automatically set `text_editor/external/exec_flags` based on the editor specified in `exec_path` text box
  editor/editor_settings.cpp
  editor/editor_settings.h
Labels: enhancement, topic:editor, usability

#101971 Pass angular diameter into light size constants for sky shaders.
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: bug, topic:rendering, topic:shaders, topic:3d

#102984 Android: enable support for volume button events
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotGame.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Labels: feature proposal, platform:android, topic:porting, topic:input

#103235 Add "Go Online" button on Export Template Manager
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Labels: enhancement, topic:editor, usability, topic:export, cherrypick:4.4

#103393 Don't hard-code setting list in DependencyEditor
  editor/dependency_editor.cpp
  editor/dependency_editor.h
Labels: enhancement, topic:editor

#103402 Add Save & Reload option to `Reload Saved Scene`
  editor/editor_node.cpp
Labels: enhancement, topic:editor

#103404 Suppress OpenGL debug marker printing
  drivers/gles3/rasterizer_gles3.cpp
Labels: enhancement, topic:rendering, topic:xr

#103533 Use physical keys for the Q/W/E/R 3D editor shortcuts
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#103536 Move entries from `AnalyzerReleases.Unshipped.md` to `AnalyzerReleases.Shipped.md`
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Shipped.md
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Unshipped.md
Labels: enhancement, topic:dotnet

#103571 Improve error message from `JavaClassWrapper.wrap()`
  platform/android/java_class_wrapper.cpp
Labels: enhancement, platform:android, topic:porting, cherrypick:4.4

#103641 Fix inefficient upload in Mobile Shadows
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Labels: bug, topic:rendering, topic:3d

#103758 Make Game view follow more editor settings
  editor/plugins/game_view_plugin.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Labels: enhancement, topic:editor, topic:3d

#103762 Remove unused Reload button
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor

#103880 Fix deadlock between `PipelineHashMapRD::local_mutex` and `GDScriptCache::mutex`
  servers/rendering/renderer_rd/pipeline_hash_map_rd.h
Labels: bug, topic:core, topic:rendering, cherrypick:4.4

#103218 Minor adjusts in the `Show in Filesystem` code in `SpriteFrames` editor
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Labels: enhancement, topic:editor, topic:codestyle

#103665 Improve BaseMaterial3D/Label3D/SpriteBase3D's `fixed_size` documentation
  doc/classes/BaseMaterial3D.xml
  doc/classes/Label3D.xml
  doc/classes/SpriteBase3D.xml
Labels: enhancement, documentation, cherrypick:4.4

#103793 Fix memory leak caused by hidden tooltip controls
  scene/main/viewport.cpp
Labels: bug, topic:gui, cherrypick:4.4

#103864 SCons: Simplify Windows/MSVC detection
  methods.py
  platform/windows/detect.py
Labels: enhancement, platform:windows, topic:buildsystem

#103889 Clean up more dynamic allocations in the RD renderers with a focus on 2D
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Labels: enhancement, topic:core, topic:rendering, performance

#83538 [FileAccess] Implement `get_size` and `get_access_time` methods.
  core/io/file_access.cpp
  core/io/file_access.h
  core/io/file_access_compressed.cpp
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/io/file_access_memory.h
  core/io/file_access_pack.h
  core/io/file_access_zip.h
  doc/classes/FileAccess.xml
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  drivers/windows/file_access_windows_pipe.h
  platform/android/file_access_android.cpp
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
  platform/android/java/lib/src/org/godotengine/godot/io/file/AssetData.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/DataAccess.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/FileAccessHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/FileData.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/MediaStoreData.kt
Labels: enhancement, platform:windows, platform:linuxbsd, platform:android, platform:macos, topic:core, topic:porting

#96536 Add option to copy a file's name in the FileSystem dock
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Labels: enhancement, topic:editor

#99662 ColorPicker: Allow other color wheels in okhsl mode
  scene/gui/color_mode.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, topic:gui

#99680 Allow to select multiple remote nodes at runtime
  core/math/math_fieldwise.cpp
  core/math/math_fieldwise.h
  doc/classes/EditorSettings.xml
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/editor_debugger_inspector.cpp
  editor/debugger/editor_debugger_inspector.h
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/editor_undo_redo_manager.cpp
  editor/gui/editor_object_selector.cpp
  editor/inspector_dock.cpp
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Labels: feature proposal, topic:editor, usability

#100525 Remove custom `--language-in` arg for the Closure compiler
  platform/web/SCsub
  platform/web/detect.py
Labels: enhancement, platform:web, topic:buildsystem, topic:porting

#102469 Highlight warning lines in Script editor
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/themes/editor_theme_manager.cpp
Labels: enhancement, topic:gdscript, topic:editor

#102869 OpenXR: Expose more system info from `XrSystemProperties`
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
Labels: enhancement, topic:xr

#102940 Add editor setting to override tablet driver.
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_property_name_processor.cpp
  editor/editor_settings.cpp
  main/main.cpp
Labels: enhancement, platform:windows, topic:editor
