Repository godotengine/godot, pull requests merged in 2025-09, with the labels that each got.

#108214 Fix `Input.get_joy_info()` regression after the SDL input driver PR
  core/input/input.cpp
  doc/classes/Input.xml
  drivers/sdl/joypad_sdl.cpp
Labels: bug, topic:input, regression

#110094 Add missing range hint to `Viewport.oversampling_override` in the editor
  scene/main/viewport.cpp
Labels: bug, topic:editor

#90922 Fix wrong tooltip behavior in `PopupMenu`s that have styles with top borders
  scene/main/viewport.cpp
Labels: bug, topic:gui, cherrypick:4.3, cherrypick:4.4

#110025 Fix --generate-spirv-debug-info regression (alternate take)
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_shader_container_vulkan.cpp
  drivers/vulkan/rendering_shader_container_vulkan.h
  editor/export/shader_baker_export_plugin.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
Labels: bug, topic:rendering

#109770 Fix regression in mechanism to hold objects while emitting
  core/object/object.cpp
Labels: bug, topic:core, regression

#110204 Add GENERAL resource usage to the render graph and fix mutable texture initialization in D3D12.
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Labels: bug, topic:rendering

#110285 Bump version to 4.5-rc
  version.py
Labels: topic:buildsystem

#110033 Fix `WindowUtils::copy_and_rename_pdb` regression
  platform/windows/windows_utils.cpp
Labels: bug, platform:windows, topic:porting, topic:gdextension, regression

#110255 [3.x] Address API 35 UI changes
  platform/android/java/lib/src/org/godotengine/godot/FullScreenGodotApp.java
  platform/android/java/lib/src/org/godotengine/godot/Godot.java
Labels: bug, platform:android, topic:porting, regression

#109700 [3.x] DDS: Backport fixes from 4.x branch
  modules/dds/texture_loader_dds.cpp
Labels: bug, enhancement, topic:import

#106809 DirectX DescriptorsHeap pooling on CPU
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
Labels: bug, platform:windows, topic:rendering, cherrypick:4.5

#109214 Correct the order of Diagonal Mode in Add Property
  core/math/a_star_grid_2d.cpp
Labels: bug, topic:core, topic:editor, cherrypick:4.4, cherrypick:4.5

#109346 [Windows] Try reading GPU driver information directly from registry.
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Labels: enhancement, platform:windows, topic:rendering, topic:porting, performance, cherrypick:4.4, cherrypick:4.5

#110363 Increase precision of SpotLight attenuation calculation to avoid driver bug on Intel devices
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Labels: bug, topic:rendering, regression, topic:3d, cherrypick:4.5

#106798 Workaround X11 crash issue
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, platform:linuxbsd, topic:porting, crash, cherrypick:4.4, cherrypick:4.5

#109582 Remove unused editor setting `editors/grid_map/palette_min_width`
  doc/classes/EditorSettings.xml
  editor/settings/editor_settings.cpp
Labels: bug, topic:editor, topic:3d

#109793 Compatibility: Fix backface culling gets ignored when double-sided shadows are used
  drivers/gles3/rasterizer_scene_gles3.cpp
Labels: bug, topic:rendering, topic:3d, cherrypick:4.4, cherrypick:4.5

#110380 Fix `_validate_property()` in `RetargetModifier3D`
  scene/3d/retarget_modifier_3d.cpp
Labels: bug, topic:editor, topic:animation, topic:3d, cherrypick:4.5

#108206 Disable unsupported SSR, SSS, DoF on transparent viewports
  doc/classes/BaseMaterial3D.xml
  doc/classes/CameraAttributesPractical.xml
  doc/classes/Environment.xml
  doc/classes/Viewport.xml
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Labels: bug, topic:rendering, documentation, topic:3d, cherrypick:4.5

#108527 [.NET] Fix enum from/to Variant conversion
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/VariantUtils.generic.cs
Labels: bug, topic:dotnet

#108613 SCons: Ensure `CPPDEFINES` is properly utilized
  drivers/vulkan/SCsub
  modules/csg/SCsub
  modules/glslang/SCsub
  modules/openxr/SCsub
  modules/text_server_adv/SCsub
  modules/text_server_adv/gdextension_build/SConstruct
  platform/linuxbsd/detect.py
  platform/macos/detect.py
  platform/windows/detect.py
Labels: enhancement, topic:buildsystem, topic:codestyle

#109143 Add and enable default textures for other samplers
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Labels: bug, topic:rendering, topic:shaders

#109568 Android: Only validate keystore relevant to current export mode
  platform/android/export/export_plugin.cpp
Labels: bug, platform:android, topic:export, cherrypick:4.5

#109744 Core: Integrate semantic constants in math structs
  core/math/basis.h
  core/math/plane.h
  core/math/transform_2d.h
  core/math/transform_3d.h
  core/math/vector2.h
  core/math/vector2i.h
  core/math/vector3.h
  core/math/vector3i.h
  core/math/vector4.h
  core/math/vector4i.h
  core/variant/variant_call.cpp
  editor/scene/3d/gizmos/spring_bone_3d_gizmo_plugin.cpp
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/spring_bone_collision_capsule_3d.cpp
  scene/3d/spring_bone_collision_plane_3d.cpp
Labels: enhancement, topic:core, topic:codestyle

#109562 Replace "local" `Vector` with `LocalVector`
  editor/import/3d/post_import_plugin_skeleton_renamer.cpp
  scene/debugger/scene_debugger.cpp
Labels: enhancement, topic:editor, performance

#110169 Optimize data flushing for `FileAccessCompressed` and `FileAccessEncrypted`
  core/io/file_access_compressed.cpp
  core/io/file_access_encrypted.cpp
Labels: enhancement, topic:core, performance

#110213 Image: Improve `AlphaMode` documentation
  doc/classes/Image.xml
Labels: enhancement, documentation

#110370 Fix minor grammar error in CollisionPolygon2D, CollisionPolygon3D, CollisionShape2D, and CollisionShape3D docs
  doc/classes/CollisionPolygon2D.xml
  doc/classes/CollisionPolygon3D.xml
  doc/classes/CollisionShape2D.xml
  doc/classes/CollisionShape3D.xml
Labels: bug, documentation, cherrypick:4.5

#110397 Don't reset color if the previous token is a number ending with a dot.
  modules/gdscript/editor/gdscript_highlighter.cpp
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.4, cherrypick:4.5

#110504 Fix typo in control node _make_custom_tooltip description.
  doc/classes/Control.xml
Labels: bug, documentation, cherrypick:4.4, cherrypick:4.5

#101285 Use `LocalVector` in `Animation`
  scene/3d/physics/physical_bone_simulator_3d.cpp
  scene/3d/physics/physical_bone_simulator_3d.h
  scene/animation/animation_mixer.cpp
  scene/resources/animation.cpp
  scene/resources/animation.h
Labels: enhancement, topic:animation, performance

#110556 Check for `NUL` characters in string parsing functions.
  core/string/ustring.cpp
Labels: bug, topic:core, regression, cherrypick:4.5

#108636 Add depth resolve to the mobile renderer
  servers/rendering/renderer_rd/effects/resolve.cpp
  servers/rendering/renderer_rd/effects/resolve.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/resolve_raster.glsl
Labels: bug, topic:rendering, topic:3d

#110184 Fix rounding error in clustered vertex light culling
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Labels: bug, topic:rendering, topic:3d, cherrypick:4.4, cherrypick:4.5

#110618 Editor: Generate translation data in separate cpp files
  editor/SCsub
  editor/editor_builders.py
Labels: bug, topic:buildsystem, cherrypick:4.5

#105950 Fix array span constructors in C#
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
Labels: bug, topic:dotnet

#107071 Document typed dictionaries and arrays in the class reference
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
Labels: enhancement, documentation, cherrypick:4.4, cherrypick:4.5

#107596 Use 64-bit offset/loop points in `AudioStreamWAV`
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
Labels: bug, topic:audio, topic:import, cherrypick:4.3, cherrypick:4.4, cherrypick:4.5

#108504 Avoid unnecessary copy in ClassDB::get_property_list
  core/object/class_db.cpp
Labels: enhancement, topic:core, performance

#110423 Document the interaction between Light3D cull mask and GI/volumetric fog
  doc/classes/Light3D.xml
Labels: enhancement, documentation, cherrypick:4.4, cherrypick:4.5

#103917 Optimize `vformat` by using `Span` in `sprintf`
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant.h
Labels: enhancement, topic:core, performance

#107045 Rename internal fields and variables in `AHashMap`, `HashMap` and `HashSet`
  core/templates/a_hash_map.h
  core/templates/hash_map.h
  core/templates/hash_set.h
Labels: enhancement, topic:core, topic:codestyle

#107481 Use `LocalVector` for `Node3D` and `CanvasItem` children
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Labels: enhancement, topic:core, performance

#110410 Fix fixed size flag on StandardMaterial3D when rendering in stereo
  scene/resources/material.cpp
Labels: bug, topic:rendering, topic:xr, topic:3d, cherrypick:4.5

#110276 make_rst.py: Add missing rst-class to annotation descriptions
  doc/tools/make_rst.py
Labels: enhancement, topic:buildsystem, documentation

#110627 Move check for sky cubemap array back into the SkyRD initializer
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
Labels: bug, topic:rendering, topic:thirdparty, regression, topic:3d, cherrypick:4.5

#110635 X11 input: prevent non-printable keys from producing empty strings
  platform/linuxbsd/x11/display_server_x11.cpp
Labels: bug, topic:core, regression, cherrypick:4.5

#110540 Linux: Allow unbundling libjpeg-turbo to use system package
  modules/jpg/SCsub
  platform/linuxbsd/detect.py
Labels: enhancement, platform:linuxbsd, topic:buildsystem, topic:thirdparty, cherrypick:4.5

#106146 Add "Show Encryption Key" toggle
  editor/export/project_export.cpp
  editor/export/project_export.h
Labels: enhancement, topic:editor, topic:export

#107955 Fix `mouse_entered` and `mouse_exited` Signals being emitted too early
  scene/gui/control.cpp
  scene/main/viewport.cpp
Labels: bug, topic:gui

#107989 Documentation: Add missing required qualifier for various classes
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  doc/classes/AudioStream.xml
  doc/classes/AudioStreamPlayback.xml
  doc/classes/EditorResourcePreviewGenerator.xml
  doc/classes/EditorSceneFormatImporter.xml
  doc/classes/ResourceFormatLoader.xml
  doc/classes/VideoStream.xml
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  editor/inspector/editor_resource_preview.cpp
  editor/inspector/editor_resource_preview.h
  scene/resources/video_stream.h
  servers/audio/audio_stream.cpp
  servers/audio/audio_stream.h
Labels: enhancement, documentation

#109031 Include `SPACING_SPACE` in tab stops calculation.
  scene/gui/rich_text_label.cpp
  scene/gui/text_edit.cpp
Labels: bug, topic:gui

#109299 Compatibility: Fix cubemap faces order when setting texture data
  drivers/gles3/storage/texture_storage.cpp
Labels: bug, topic:rendering, breaks compat

#110188 Trim -loop & -cycle from animations during Godot 3 to 4 conversion
  editor/project_upgrade/project_converter_3_to_4.cpp
  editor/project_upgrade/project_converter_3_to_4.h
Labels: bug, enhancement, topic:editor, topic:animation

#110452 Prevent JNI Variant conversion stack overflow
  platform/android/jni_utils.cpp
  platform/android/jni_utils.h
Labels: bug, platform:android, crash

#110664 CI: Bump Ruff version (0.12.0 → 0.13.1)
  .pre-commit-config.yaml
Labels: enhancement, topic:buildsystem

#110203 Clamp minimum size of 3D texture view in D3D12.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Labels: bug, platform:windows, topic:rendering, cherrypick:4.4, cherrypick:4.5

#107789 Replace iOS/visionOS Xcode templates by new Apple embedded template
  .gitignore
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_platform_apple_embedded.h
  misc/dist/apple_embedded_xcode/PrivacyInfo.xcprivacy
  misc/dist/apple_embedded_xcode/data.pck
  misc/dist/apple_embedded_xcode/godot_apple_embedded.xcodeproj/project.pbxproj
  misc/dist/apple_embedded_xcode/godot_apple_embedded.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  misc/dist/apple_embedded_xcode/godot_apple_embedded.xcodeproj/xcshareddata/xcschemes/godot_apple_embedded.xcscheme
  misc/dist/apple_embedded_xcode/godot_apple_embedded/Images.xcassets/SplashImage.imageset/Contents.json
  misc/dist/apple_embedded_xcode/godot_apple_embedded/Images.xcassets/SplashImage.imageset/splash@2x.png
  misc/dist/apple_embedded_xcode/godot_apple_embedded/Images.xcassets/SplashImage.imageset/splash@3x.png
  misc/dist/apple_embedded_xcode/godot_apple_embedded/Launch Screen.storyboard
  misc/dist/apple_embedded_xcode/godot_apple_embedded/dummy.cpp
  misc/dist/apple_embedded_xcode/godot_apple_embedded/dummy.h
  misc/dist/apple_embedded_xcode/godot_apple_embedded/dummy.swift
  misc/dist/apple_embedded_xcode/godot_apple_embedded/dylibs/empty
  misc/dist/apple_embedded_xcode/godot_apple_embedded/en.lproj/InfoPlist.strings
  misc/dist/apple_embedded_xcode/godot_apple_embedded/export_options.plist
  misc/dist/apple_embedded_xcode/godot_apple_embedded/godot_apple_embedded-Info.plist
  misc/dist/apple_embedded_xcode/godot_apple_embedded/godot_apple_embedded.entitlements
  misc/dist/apple_embedded_xcode/libgodot.ios.debug.xcframework/Info.plist
  misc/dist/apple_embedded_xcode/libgodot.ios.debug.xcframework/ios-arm64/empty
  misc/dist/apple_embedded_xcode/libgodot.ios.debug.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/apple_embedded_xcode/libgodot.ios.release.xcframework/Info.plist
  misc/dist/apple_embedded_xcode/libgodot.ios.release.xcframework/ios-arm64/empty
  misc/dist/apple_embedded_xcode/libgodot.ios.release.xcframework/ios-arm64_x86_64-simulator/empty
  misc/dist/apple_embedded_xcode/libgodot.visionos.debug.xcframework/Info.plist
  misc/dist/apple_embedded_xcode/libgodot.visionos.debug.xcframework/xros-arm64-simulator/empty
  misc/dist/apple_embedded_xcode/libgodot.visionos.debug.xcframework/xros-arm64/empty
  misc/dist/apple_embedded_xcode/libgodot.visionos.release.xcframework/Info.plist
  misc/dist/apple_embedded_xcode/libgodot.visionos.release.xcframework/xros-arm64-simulator/empty
  misc/dist/apple_embedded_xcode/libgodot.visionos.release.xcframework/xros-arm64/empty
  misc/dist/visionos_xcode/PrivacyInfo.xcprivacy
  misc/dist/visionos_xcode/data.pck
  misc/dist/visionos_xcode/godot_visionos.xcodeproj/project.pbxproj
  misc/dist/visionos_xcode/godot_visionos.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  misc/dist/visionos_xcode/godot_visionos.xcodeproj/xcshareddata/xcschemes/godot_visionos.xcscheme
  misc/dist/visionos_xcode/godot_visionos/Images.xcassets/SplashImage.imageset/Contents.json
  misc/dist/visionos_xcode/godot_visionos/Images.xcassets/SplashImage.imageset/splash@2x.png
  misc/dist/visionos_xcode/godot_visionos/Images.xcassets/SplashImage.imageset/splash@3x.png
  misc/dist/visionos_xcode/godot_visionos/dummy.cpp
  misc/dist/visionos_xcode/godot_visionos/dummy.h
  misc/dist/visionos_xcode/godot_visionos/dummy.swift
  misc/dist/visionos_xcode/godot_visionos/en.lproj/InfoPlist.strings
  misc/dist/visionos_xcode/godot_visionos/export_options.plist
  misc/dist/visionos_xcode/godot_visionos/godot_visionos-Info.plist
  misc/dist/visionos_xcode/godot_visionos/godot_visionos.entitlements
  misc/dist/visionos_xcode/libgodot.visionos.release.xcframework/xros-arm64/empty
  platform/ios/README.md
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
  platform/visionos/README.md
  platform/visionos/export/export_plugin.cpp
  platform/visionos/export/export_plugin.h
  platform_methods.py
Labels: enhancement, platform:ios, topic:buildsystem

#109778 Compatibility: Improve ASTC extension detecting
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
Labels: enhancement, topic:rendering

#110164 Use placeholder instead of value for tooltips of `PROPERTY_HINT_PASSWORD` properties.
  editor/inspector/editor_properties.cpp
Labels: bug, topic:editor, topic:gui, cherrypick:4.5

#110318 Use `language` command line argument to override editor locale.
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  main/main.cpp
  main/main.h
Labels: bug, topic:editor, topic:i18n, cherrypick:4.5

#80427 Rework icons of noise-related classes
  editor/icons/Gradient.svg
  editor/icons/GradientTexture1D.svg
  editor/icons/GradientTexture2D.svg
  modules/noise/icons/FastNoiseLite.svg
  modules/noise/icons/Noise.svg
  modules/noise/icons/NoiseTexture2D.svg
  modules/noise/icons/NoiseTexture3D.svg
Labels: enhancement, topic:editor

#82121 Add icons to some editor classes
  editor/icons/EditorCommandPalette.svg
  editor/icons/EditorFileDialog.svg
  editor/icons/EditorInspector.svg
  editor/icons/EditorPlugin.svg
  editor/icons/EditorProperty.svg
  editor/icons/EditorResourcePicker.svg
  editor/icons/EditorScriptPicker.svg
  editor/icons/EditorSpinSlider.svg
  editor/icons/ScriptCreateDialog.svg
  editor/themes/editor_color_map.cpp
Labels: enhancement, topic:editor

#109512 Speed up very large `Trees`
  scene/gui/tree.cpp
Labels: enhancement, topic:gui, performance

#109611 Add XR_META_hand_tracking_microgestures action paths
  modules/openxr/extensions/openxr_hand_interaction_extension.cpp
Labels: enhancement, topic:xr

#109944 Fix hang when importing blender files in headless mode
  modules/gltf/editor/editor_scene_importer_blend.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.4, cherrypick:4.5

#109977 Make POT generation use `tooltip_auto_translate_mode`
  editor/translations/packed_scene_translation_parser_plugin.cpp
Labels: bug, topic:editor, topic:gui, topic:i18n, cherrypick:4.5

#109981 Clamp menus at the bottom of the screen.
  scene/gui/menu_button.cpp
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#110012 Reinstate `const` parameter in `Tree`'s `draw_item_rect`
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: enhancement, discussion, topic:gui

#110089 Fix `Tree` relationship lines do not apply `h_separation` and `item_margin` correctly
  scene/gui/tree.cpp
Labels: bug, topic:gui, cherrypick:4.4, cherrypick:4.5

#109502 Fix scrolling to bottom panel selected button.
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Labels: bug, topic:editor, cherrypick:4.5

#109513 Miscellaneous editor optimizations for large scenes
  editor/editor_node.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  editor/scene/scene_tree_editor.cpp
Labels: enhancement, topic:editor, performance

#109897 Geometry2D minor optimization
  core/math/geometry_2d.cpp
Labels: enhancement, topic:core, performance

#98268 Add a property range hint to `bake_fps` in the scene glTF export dialog
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/gltf_state.cpp
Labels: enhancement, topic:editor, topic:3d, topic:export

#110694 Add `GDSOFTCLASS` to `NetSocket`
  core/io/net_socket.h
Labels: enhancement, topic:core

#81701 C#: Add documentation for Interfaces and Attributes
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/GodotClassNameAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/SignalAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ToolAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Interfaces/IAwaitable.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Interfaces/IAwaiter.cs
Labels: enhancement, documentation, topic:dotnet

#104332 Add 'Find Sequence' to `Span`s, and consolidate negative indexing behavior
  core/string/ustring.cpp
  core/templates/span.h
  doc/classes/String.xml
  doc/classes/StringName.xml
Labels: enhancement, topic:core

#106341 Add drag and drop export variables
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
Labels: enhancement, topic:editor

#106849 Don't hard-code hsplit count
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_node.cpp
Labels: enhancement, topic:codestyle

#107065 Allow closing all scene tabs via shortcut
  editor/editor_node.cpp
  editor/editor_node.h
  editor/project_upgrade/project_upgrade_tool.cpp
  editor/scene/editor_scene_tabs.cpp
  editor/scene/editor_scene_tabs.h
Labels: enhancement, topic:editor

#107511 Add toggle for inserting keys/markers at current time vs mouse cursor's position
  doc/classes/EditorSettings.xml
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/icons/InsertAtCurrentTime.svg
  editor/settings/editor_settings.cpp
Labels: enhancement, topic:editor, topic:animation

#107800 Add `ReadOnlySpan<Variant>` overload for `Callable.Call`
  modules/mono/glue/GodotSharp/GodotSharp/Core/Callable.cs
Labels: enhancement, topic:dotnet

#107868 Provide quick access to `Object` ancestry
  core/io/resource.cpp
  core/object/object.cpp
  core/object/object.h
  core/object/ref_counted.cpp
  core/object/script_language.h
  scene/2d/node_2d.cpp
  scene/2d/node_2d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/collision_object_2d.cpp
  scene/3d/mesh_instance_3d.cpp
  scene/3d/node_3d.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/physics_body_3d.cpp
  scene/3d/physics/physics_body_3d.h
  scene/3d/visual_instance_3d.cpp
  scene/gui/control.cpp
  scene/main/canvas_item.cpp
  scene/main/node.cpp
Labels: enhancement, topic:core, performance

#108794 [macOS] Add support for exporting macOS 26 Liquid Glass icons.
  core/os/os.cpp
  core/os/os.h
  editor/inspector/editor_property_name_processor.cpp
  main/main.cpp
  misc/dist/macos_template.app/Contents/Info.plist
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
  platform/macos/export/export.cpp
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
Labels: enhancement, platform:macos, topic:porting, topic:export

#109027 Remove unused member variables in EditorNode
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor, topic:codestyle

#62083 Improve usage of `String.split()` vs `get_slice()`
  core/config/project_settings.cpp
  core/input/input.cpp
  core/input/input_map.cpp
  doc/classes/String.xml
  editor/debugger/script_editor_debugger.cpp
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_properties.cpp
  editor/scene/2d/tiles/tile_set_atlas_source_editor.cpp
  editor/script/script_create_dialog.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  platform/android/os_android.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/debugger/scene_debugger.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Labels: enhancement, topic:core, topic:codestyle, performance

#107096 Wayland: Implement the xdg-toplevel-icon-v1 protocol
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  thirdparty/wayland-protocols/staging/xdg-toplevel-icon/README
  thirdparty/wayland-protocols/staging/xdg-toplevel-icon/xdg-toplevel-icon-v1.xml
Labels: bug, platform:linuxbsd, topic:editor, topic:porting

#107721 Remove dependency of `variant.h` in `print_string.h`
  core/string/print_string.cpp
  core/string/print_string.h
  core/templates/rid_owner.h
  modules/jolt_physics/jolt_globals.cpp
  platform/linuxbsd/wayland/detect_prime_egl.cpp
  platform/linuxbsd/x11/detect_prime_x11.cpp
Labels: enhancement, topic:core, topic:codestyle, performance

#108075 Improve error message when UID main scene is not found
  main/main.cpp
Labels: enhancement, topic:core

#108254 Add more `PROPERTY_HINT_GROUP_ENABLE` uses
  doc/classes/VisualInstance3D.xml
  modules/noise/fastnoise_lite.cpp
  scene/2d/navigation/navigation_agent_2d.cpp
  scene/2d/navigation/navigation_obstacle_2d.cpp
  scene/2d/physics/joints/pin_joint_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/decal.cpp
  scene/3d/decal.h
  scene/3d/navigation/navigation_agent_3d.cpp
  scene/3d/navigation/navigation_obstacle_3d.cpp
  scene/3d/physics/area_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
  scene/gui/code_edit.cpp
  scene/gui/graph_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/camera_attributes.cpp
  scene/resources/visual_shader.cpp
Labels: enhancement, topic:editor

#108929 Add suffix to EditorSpinSlider tooltips
  editor/gui/editor_spin_slider.cpp
Labels: enhancement, topic:editor, usability

#109012 Round gradient colors
  scene/resources/gradient_texture.cpp
Labels: enhancement, discussion, topic:core

#109216 Improve RPC Error messages
  modules/multiplayer/scene_rpc_interface.cpp
Labels: enhancement, topic:multiplayer

#109413 ProfilerAutostartWarning svg icon cleanup
  editor/icons/ProfilerAutostartWarning.svg
Labels: enhancement, usability

#109843 Fix `FileAccess::create_temp()` default args error
  core/io/file_access.cpp
Labels: bug, topic:core

#110242 Fix editor crash caused by EditorFileSystem::get_singleton access in theme initialization path
  editor/file_system/editor_file_system.cpp
Labels: bug, topic:editor, crash, cherrypick:4.4, cherrypick:4.5

#93389 Remove code duplication in Button
  scene/gui/button.cpp
  scene/gui/button.h
Labels: enhancement, topic:gui, topic:codestyle

#110250 Hide `Control` focus when given via mouse input
  core/config/project_settings.cpp
  doc/classes/Control.xml
  doc/classes/ProjectSettings.xml
  editor/animation/animation_bezier_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
  editor/animation/animation_state_machine_editor.cpp
  editor/docks/filesystem_dock.cpp
  editor/docks/scene_tree_dock.cpp
  editor/gui/code_editor.cpp
  editor/gui/create_dialog.cpp
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_spin_slider.cpp
  editor/gui/editor_spin_slider.h
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_properties.cpp
  editor/project_manager/project_dialog.cpp
  editor/project_manager/project_manager.cpp
  editor/run/embedded_process.cpp
  editor/scene/2d/tiles/tile_set_editor.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/connections_dialog.cpp
  editor/scene/scene_create_dialog.cpp
  editor/scene/scene_tree_editor.cpp
  editor/script/find_in_files.cpp
  editor/script/script_text_editor.cpp
  editor/script/text_editor.cpp
  editor/shader/text_shader_editor.cpp
  misc/extension_api_validation/4.5-stable.expected
  scene/gui/button.cpp
  scene/gui/color_picker.cpp
  scene/gui/color_picker_shape.cpp
  scene/gui/control.compat.inc
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/file_dialog.cpp
  scene/gui/foldable_container.cpp
  scene/gui/graph_edit.cpp
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/line_edit.cpp
  scene/gui/link_button.cpp
  scene/gui/menu_bar.cpp
  scene/gui/option_button.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_container.cpp
  scene/gui/slider.cpp
  scene/gui/tab_bar.cpp
  scene/gui/text_edit.cpp
  scene/gui/texture_button.cpp
  scene/gui/tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: enhancement, topic:gui

#110259 Add name info to EditorAutoloadSettings invalid name message
  editor/settings/editor_autoload_settings.cpp
Labels: bug, topic:editor, cherrypick:4.5

#110320 Fix redundant calls of `CanvasItemEditor::_update_lock_and_group_button` on `SceneTreeEditor` node selection
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/scene_tree_editor.cpp
Labels: bug, topic:editor, regression, topic:2d, cherrypick:4.5

#110752 Add `GDSOFTCLASS` to six inheritors of `Object`
  editor/editor_node.h
  editor/scene/2d/tiles/tile_map_layer_editor.h
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/tts_linux.h
  scene/theme/theme_owner.h
  servers/rendering/rendering_device_commons.h
Labels: enhancement, topic:core

#110763 Use `AncestralClass` to speed up `Object::cast_to` when possible.
  core/io/resource.h
  core/object/object.h
  core/object/ref_counted.h
  core/object/script_language.h
  scene/2d/node_2d.h
  scene/2d/physics/area_2d.h
  scene/2d/physics/collision_object_2d.h
  scene/3d/mesh_instance_3d.h
  scene/3d/node_3d.h
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/physics_body_3d.h
  scene/3d/visual_instance_3d.h
  scene/gui/control.h
  scene/main/canvas_item.h
  scene/main/node.h
Labels: enhancement, topic:core, performance

#109339 [Copyright] Fix spelling of license
  COPYRIGHT.txt
Labels: bug, topic:codestyle, cherrypick:4.4, cherrypick:4.5

#110024 Fix child relationship lines not being drawn when selecting cells other than first
  scene/gui/tree.cpp
  scene/gui/tree.h
Labels: bug, topic:gui, cherrypick:4.4, cherrypick:4.5

#110108 Differentiate the suspend button in the Game tab with the Pause button in the editor run bar
  editor/icons/Suspend.svg
  editor/run/game_view_plugin.cpp
Labels: enhancement, topic:editor, usability, cherrypick:4.5

#110231 Fix invalid suggested file name when saving resource from a scene that hasn't been saved yet
  editor/docks/scene_tree_dock.cpp
  editor/editor_node.cpp
Labels: bug, topic:editor, topic:shaders, cherrypick:4.5

#110247 Image: Make `fill` method also fill the mipmaps
  core/io/image.cpp
  tests/core/io/test_image.h
Labels: bug, enhancement, topic:core, topic:tests

#110251 Properly inspect old remote selection
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
Labels: bug, topic:editor

#110814 Cache editor setting queried in hot path in 2D editor
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Labels: enhancement, topic:editor, performance

#108743 Fix jump when cutting a selection in Gridmap
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:3d, cherrypick:4.5

#109243 Avoid unnecessary updates in `TileMapLayer`
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Labels: enhancement, topic:2d, performance

#110837 Add `GDSOFTCLASS` to deeper inheritors of `Object`
  core/crypto/crypto.h
  core/debugger/remote_debugger.cpp
  core/debugger/remote_debugger_peer.h
  core/extension/gdextension.h
  core/io/http_client_tcp.h
  core/io/image_loader.h
  core/io/json.h
  core/io/plist.h
  core/io/resource_format_binary.h
  core/io/resource_importer.h
  core/io/translation_loader_po.h
  core/string/translation_po.h
  drivers/png/resource_saver_png.h
  drivers/unix/net_socket_unix.h
  drivers/windows/net_socket_winsock.h
  editor/debugger/editor_debugger_server.cpp
  editor/debugger/editor_debugger_server.h
  editor/export/codesign.h
  editor/export/dedicated_server_export_plugin.h
  editor/export/gdextension_export_plugin.h
  editor/export/lipo.h
  editor/export/macho.h
  editor/export/shader_baker_export_plugin.h
  editor/shader/shader_baker/shader_baker_export_plugin_platform_metal.h
  modules/betsy/image_compress_betsy.h
  modules/dds/texture_loader_dds.h
  modules/gdscript/gdscript.h
  modules/ktx/texture_loader_ktx.h
  modules/mbedtls/tls_context_mbedtls.h
  modules/mono/csharp_script.h
  modules/multiplayer/multiplayer_debugger.h
  modules/navigation_2d/2d/nav_mesh_generator_2d.h
  modules/navigation_3d/3d/nav_mesh_generator_3d.h
  modules/theora/video_stream_theora.h
  modules/webp/resource_saver_webp.h
  modules/websocket/remote_debugger_peer_websocket.h
  platform/android/net_socket_android.h
  platform/web/export/editor_http_server.h
  platform/web/http_client_web.h
  platform/web/net_socket_web.h
  scene/3d/velocity_tracker_3d.h
  scene/gui/graph_edit_arranger.h
  scene/resources/compressed_texture.h
  scene/resources/resource_format_text.h
  scene/resources/shader.h
  scene/resources/shader_include.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d_wrap_mt.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_shader_container.h
Labels: bug, topic:core

#110865 Fix OpenXR with D3D12 using the wrong clip space projection matrix
  modules/openxr/extensions/platform/openxr_d3d12_extension.cpp
  modules/openxr/extensions/platform/openxr_metal_extension.mm
  modules/openxr/extensions/platform/openxr_opengl_extension.cpp
  modules/openxr/extensions/platform/openxr_vulkan_extension.cpp
  modules/openxr/openxr_util.cpp
  modules/openxr/openxr_util.h
Labels: bug, topic:rendering, topic:xr, cherrypick:4.5

#110882 Fix HashMap/HashSet in natvis after member renames
  platform/windows/godot.natvis
Labels: bug, platform:windows, topic:buildsystem

#100145 Add `mem_aligned_address` to simplify data offset constants.
  core/os/memory.h
  core/templates/cowdata.h
Labels: enhancement, topic:core, topic:codestyle

#110415 Fix favorite folders that are outside of the project being displayed in `FileSystemDock`'s file list
  editor/docks/filesystem_dock.cpp
Labels: bug, topic:editor, usability, cherrypick:4.4, cherrypick:4.5

#110898 [3.x] Fix build on macOS 26 by removing AGL framework link
  platform/osx/detect.py
Labels: bug, topic:buildsystem, cherrypick:3.5, cherrypick:3.6

#105737 Use Jolt Physics by default in newly created projects
  doc/classes/ProjectSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/project_manager/project_dialog.cpp
Labels: enhancement, topic:editor, topic:physics, topic:3d

#110616 Apply rtos_fix hack for handling 32-bit floats on all calls to rtos_fix
  core/variant/variant_parser.cpp
Labels: bug, topic:core, regression

#110948 Use const ref parameters in the OpenXR module
  modules/openxr/action_map/openxr_action.cpp
  modules/openxr/action_map/openxr_action.h
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/action_map/openxr_action_map.h
  modules/openxr/action_map/openxr_action_set.cpp
  modules/openxr/action_map/openxr_action_set.h
  modules/openxr/action_map/openxr_interaction_profile.cpp
  modules/openxr/action_map/openxr_interaction_profile.h
  modules/openxr/action_map/openxr_interaction_profile_metadata.cpp
  modules/openxr/action_map/openxr_interaction_profile_metadata.h
  modules/openxr/editor/openxr_action_editor.cpp
  modules/openxr/editor/openxr_action_editor.h
  modules/openxr/editor/openxr_action_map_editor.cpp
  modules/openxr/editor/openxr_action_map_editor.h
  modules/openxr/editor/openxr_action_set_editor.cpp
  modules/openxr/editor/openxr_action_set_editor.h
  modules/openxr/editor/openxr_binding_modifier_editor.cpp
  modules/openxr/editor/openxr_binding_modifier_editor.h
  modules/openxr/editor/openxr_binding_modifiers_dialog.cpp
  modules/openxr/editor/openxr_binding_modifiers_dialog.h
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
  modules/openxr/editor/openxr_interaction_profile_editor.h
  modules/openxr/editor/openxr_select_action_dialog.cpp
  modules/openxr/editor/openxr_select_action_dialog.h
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.h
  modules/openxr/extensions/openxr_dpad_binding_extension.cpp
  modules/openxr/extensions/openxr_dpad_binding_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/scene/openxr_render_model_manager.cpp
  servers/xr/xr_interface.cpp
Labels: enhancement, topic:xr, topic:codestyle

#110977 Use const ref parameters in the Web modules
  modules/webrtc/webrtc_multiplayer_peer.cpp
  modules/webrtc/webrtc_multiplayer_peer.h
  modules/webrtc/webrtc_peer_connection.h
  modules/webrtc/webrtc_peer_connection_extension.h
  modules/webrtc/webrtc_peer_connection_js.cpp
  modules/webrtc/webrtc_peer_connection_js.h
  modules/websocket/editor/editor_debugger_server_websocket.h
  modules/websocket/emws_peer.cpp
  modules/websocket/emws_peer.h
  modules/websocket/remote_debugger_peer_websocket.cpp
  modules/websocket/remote_debugger_peer_websocket.h
  modules/websocket/websocket_multiplayer_peer.cpp
  modules/websocket/websocket_multiplayer_peer.h
  modules/websocket/websocket_peer.h
  modules/websocket/wsl_peer.cpp
  modules/websocket/wsl_peer.h
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
Labels: enhancement, platform:web, topic:codestyle

#111054 Sort render list correctly in RD renderers
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
Labels: bug, topic:rendering, cherrypick:4.5

#84658 Initialize `Quaternion` variant with identity
  core/variant/variant_internal.h
Labels: bug, discussion, topic:core, cherrypick:4.3, cherrypick:4.4, cherrypick:4.5

#111061 [3.x] Android: Set minsdk to 21, workaround `fseeko` error in Opus.
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/config.gradle
  thirdparty/opus/patches/android-api-21-support.patch
  thirdparty/opus/stream.c
Labels: enhancement, platform:android, topic:porting

#52285 Clean up and simplify camera override API
  doc/classes/Viewport.xml
  scene/debugger/scene_debugger.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:editor, topic:input, for pr meeting

#101521 Add MeshInstance3D primitive conversion options
  editor/scene/3d/mesh_instance_3d_editor_plugin.cpp
  editor/scene/3d/mesh_instance_3d_editor_plugin.h
Labels: enhancement, topic:editor, usability, topic:physics, topic:3d

#104488 TextureEditors: Compile shader/material only once
  editor/register_editor_types.cpp
  editor/scene/texture/texture_3d_editor_plugin.cpp
  editor/scene/texture/texture_3d_editor_plugin.h
  editor/scene/texture/texture_editor_plugin.cpp
  editor/scene/texture/texture_editor_plugin.h
  editor/scene/texture/texture_layered_editor_plugin.cpp
  editor/scene/texture/texture_layered_editor_plugin.h
Labels: enhancement, topic:editor, topic:3d, performance

#107369 Core: Add `Node::iterate_children` as a fast way to iterate a node's children
  core/templates/iterable.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree_fti.cpp
Labels: enhancement, topic:core, performance

#107468 Display AnimationTree editor warnings when the node is disabled
  editor/animation/animation_blend_space_1d_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
  editor/animation/animation_blend_tree_editor_plugin.cpp
  editor/animation/animation_state_machine_editor.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
Labels: enhancement, topic:editor, topic:animation

#107923 Use Mat3x4 for model and view transforms to save bandwidth and ALUs
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_data_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
Labels: enhancement, topic:rendering, topic:3d, performance

#107936 Add opt-in GDScript warning for when calling coroutine without `await`
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/missing_await.gd
  modules/gdscript/tests/scripts/analyzer/warnings/missing_await.out
  modules/gdscript/tests/scripts/runtime/features/await_signal_with_parameters.gd
  modules/gdscript/tests/scripts/runtime/features/emit_after_await.gd
Labels: enhancement, topic:gdscript

#108658 [EditorExportPlatform] Move initialization to a dedicated method.
  doc/classes/EditorExportPlatformExtension.xml
  editor/export/editor_export.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_platform_apple_embedded.h
  editor/export/editor_export_platform_extension.cpp
  editor/export/editor_export_platform_extension.h
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
  platform/visionos/export/export_plugin.cpp
  platform/visionos/export/export_plugin.h
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Labels: enhancement, topic:editor, topic:export

#108672 Reduce code duplication in material conversion
  editor/scene/material_editor_plugin.cpp
Labels: enhancement, topic:codestyle

#108698 Optimize and clean up HashSet::clear
  core/templates/hash_set.h
Labels: enhancement, topic:core, performance

#108725 GDExtension: Add `mem_alloc2` (and friends) so padding can be requested
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
Labels: enhancement, topic:gdextension

#108826 Compatibility: Explicitly use BC1's RGB variant
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
Labels: bug, enhancement, topic:rendering

#109186 Prompt editor restart when reflection probe size is updated
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering_server.cpp
Labels: bug, topic:rendering

#109298 Autocompletion: Remove duplicate code
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:gdscript, topic:editor

#109532 OpenXR: Safely set environment blend mode when rendering on a separate thread
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
Labels: bug, topic:xr

#109533 OpenXR: Prevent adding/removing extension wrappers after session start
  modules/openxr/openxr_api.cpp
Labels: bug, topic:xr

#109590 `find_*_valid_focus`: Check all tested neighbors to prevent loops.
  scene/gui/control.cpp
Labels: bug, topic:gui

#109779 Expose `Thread::is_main_thread()`
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/Thread.xml
Labels: enhancement, topic:core, topic:gdextension

#109900 Make Node::orphan_node_count thread-safe
  doc/classes/Performance.xml
  main/performance.cpp
  main/performance.h
  scene/main/node.cpp
  scene/main/node.h
Labels: enhancement, topic:core

#110058 Perform per-line or per-rect blits in blit_rect.
  core/io/image.cpp
Labels: enhancement, topic:core, performance

#110156 Fix inconsistent internal name of `get_resource_filesystem`
  editor/editor_interface.cpp
  editor/editor_interface.h
Labels: enhancement, discussion, topic:codestyle

#110492 Improve editor language selector
  editor/inspector/editor_properties.cpp
  editor/inspector/editor_properties.h
  editor/project_manager/quick_settings_dialog.cpp
  editor/settings/editor_settings.cpp
Labels: enhancement, topic:editor, usability

#110691 Fix windows logfile encoding
  platform/windows/detect.py
Labels: bug, platform:windows, topic:buildsystem, cherrypick:4.4, cherrypick:4.5

#110875 wayland: Inhibit idle in DisplayServerWayland::screen_set_keep_on
  platform/linuxbsd/wayland/display_server_wayland.cpp
Labels: bug, platform:linuxbsd, topic:porting, cherrypick:4.5

#110907 Free script and extension instance before object deconstructing
  core/object/object.cpp
  tests/core/object/test_object.h
Labels: bug, topic:core, topic:gdextension, crash

#110951 Use const Array ref in `set_structured_text_bidi_override_options`
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/gui/label.cpp
  scene/gui/label.h
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/link_button.cpp
  scene/gui/link_button.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/resources/3d/primitive_meshes.cpp
  scene/resources/3d/primitive_meshes.h
Labels: enhancement, topic:gui, topic:codestyle
