Repository godotengine/godot, pull requests merged in 2025-04, with the labels that each got.

#104762 Deprecate NavigationServer `map_force_update()`
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
Labels: enhancement, documentation, cherrypick:4.4

#104777 Fix EditorNode3DGizmo::add_solid_box() GPU stalling
  editor/plugins/node_3d_editor_gizmos.cpp
Labels: enhancement, topic:editor, performance

#104844 Add and require `GDSOFTCLASS` for `Object` subclasses that want to cast but do not use `GDCLASS`.
  core/extension/gdextension_library_loader.h
  core/extension/gdextension_loader.h
  core/io/plist.h
  core/object/object.h
  editor/export/codesign.h
  modules/camera/camera_feed_linux.h
  modules/camera/camera_macos.h
  modules/camera/camera_macos.mm
  modules/gdscript/gdscript_cache.h
  modules/mbedtls/crypto_mbedtls.h
  modules/mbedtls/dtls_server_mbedtls.h
  modules/mbedtls/tls_context_mbedtls.h
  platform/android/display_server_android.h
  platform/linuxbsd/wayland/wayland_thread.h
  platform/web/javascript_bridge_singleton.cpp
  tests/core/object/test_method_bind.h
Labels: enhancement, topic:core, performance

#104856 Fix time display in MovieWriter window title and console output
  servers/movie_writer/movie_writer.cpp
Labels: bug, enhancement, topic:core, cherrypick:4.4

#104864 Fix Windows Mono build
  modules/mono/utils/path_utils.cpp
Labels: bug, platform:windows, topic:buildsystem, topic:dotnet, regression

#101270 GLTF: Only pad zeros when exporting numbered images
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:3d

#104523 Fix crash when removing breakpoints from DAP, and multiple fixes
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/debug_adapter/debug_adapter_types.h
Labels: bug, topic:editor, cherrypick:4.3, cherrypick:4.4

#104849 Fix input config dialog overflow on Android Editor
  editor/input_event_configuration_dialog.cpp
Labels: bug, platform:android, topic:editor, usability, cherrypick:4.3, cherrypick:4.4

#102283 Fix `LogMultiplayer` example in documentation
  doc/classes/MultiplayerAPIExtension.xml
Labels: enhancement, documentation

#104485 Fix EditorProperty shortcuts being global and unintentionally triggering
  editor/editor_inspector.cpp
Labels: bug, topic:editor, usability, topic:input

#104841 SCons: Only set GCC `-Wvirtual-inheritance` for C++ and `warnings=extra`
  SConstruct
Labels: bug, topic:buildsystem

#104878 Add font import flag to toggle modulation of colored glyphs.
  doc/classes/FontFile.xml
  doc/classes/ResourceImporterDynamicFont.xml
  doc/classes/SystemFont.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_dynamic_font.cpp
  editor/import/resource_importer_imagefont.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/resources/font.cpp
  scene/resources/font.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Labels: bug, topic:import, topic:gui

#104218 Fix hash issue with OptimizedTranslation caused by signed char
  core/string/optimized_translation.h
Labels: bug, topic:core, cherrypick:4.3, cherrypick:4.4

#104381 Optimize `Object::notification` by avoiding runtime branches
  core/object/object.cpp
  core/object/object.h
  tests/core/object/test_object.h
Labels: enhancement, topic:core, performance

#104873 Enable TTS on demand, instead of fully disabling it when project setting is not set.
  doc/classes/DisplayServer.xml
  doc/classes/ProjectSettings.xml
  platform/android/tts_android.cpp
  platform/android/tts_android.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Labels: enhancement, topic:porting, topic:audio, performance

#104880 Shader: Fix `bvec` to variant conversion
  servers/rendering/shader_language.cpp
Labels: bug, topic:shaders, cherrypick:4.3, cherrypick:4.4

#104885 Optimize Color HTML validation
  core/math/color.cpp
Labels: enhancement, topic:core, performance

#104886 Remember last POT generator path
  editor/localization_editor.cpp
Labels: enhancement, topic:editor, usability

#104889 Clarify that `Window.dpi_changed` signal is supported on Linux (Wayland)
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
Labels: enhancement, documentation, cherrypick:4.4

#104894 [macos] fix: use productCategory instead of vendorName for joypad name
  drivers/apple/joypad_apple.mm
Labels: enhancement, platform:macos, topic:input

#104896 Change navigation module LocalVector `size_t` uses to `uint32_t`
  modules/navigation_2d/2d/nav_mesh_queries_2d.cpp
  modules/navigation_3d/3d/nav_mesh_queries_3d.cpp
Labels: enhancement, topic:navigation, topic:codestyle

#104881 [4.4] Don't apply font color to colored emojis
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Labels: bug, regression, topic:gui

#104625 Expose TriangleMesh api functions wrapped for scripting
  core/math/triangle_mesh.cpp
  core/math/triangle_mesh.h
  doc/classes/TriangleMesh.xml
  tests/core/math/test_triangle_mesh.h
  tests/test_main.cpp
Labels: enhancement, topic:core, usability

#104893 SCons: Add `CPPEXTPATH` for external includes
  SConstruct
  core/SCsub
  core/crypto/SCsub
  drivers/backtrace/SCsub
  drivers/d3d12/SCsub
  drivers/d3d12/d3d12ma.cpp
  drivers/d3d12/rendering_context_driver_d3d12.cpp
  drivers/d3d12/rendering_context_driver_d3d12.h
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/gl_context/SCsub
  drivers/metal/SCsub
  drivers/png/SCsub
  drivers/vulkan/SCsub
  modules/astcenc/SCsub
  modules/basis_universal/SCsub
  modules/csg/SCsub
  modules/cvtt/SCsub
  modules/enet/SCsub
  modules/etcpak/SCsub
  modules/fbx/SCsub
  modules/freetype/SCsub
  modules/glslang/SCsub
  modules/jolt_physics/SCsub
  modules/jpg/SCsub
  modules/ktx/SCsub
  modules/mbedtls/SCsub
  modules/minimp3/SCsub
  modules/msdfgen/SCsub
  modules/navigation_2d/SCsub
  modules/navigation_3d/SCsub
  modules/noise/SCsub
  modules/ogg/SCsub
  modules/openxr/SCsub
  modules/raycast/SCsub
  modules/regex/SCsub
  modules/svg/SCsub
  modules/text_server_adv/SCsub
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/SCsub
  modules/text_server_fb/text_server_fb.cpp
  modules/theora/SCsub
  modules/tinyexr/SCsub
  modules/upnp/SCsub
  modules/vhacd/SCsub
  modules/vorbis/SCsub
  modules/webp/SCsub
  modules/websocket/SCsub
  modules/xatlas_unwrap/SCsub
  platform/ios/detect.py
  platform/linuxbsd/detect.py
  platform/macos/detect.py
  platform/windows/detect.py
  servers/rendering/renderer_rd/effects/SCsub
Labels: enhancement, topic:buildsystem, topic:thirdparty

#104906 Allow instantiating unexposed `EditorPlugin` from GDExtension.
  core/object/class_db.cpp
  core/object/class_db.h
  editor/editor_node.cpp
Labels: bug, topic:editor, topic:gdextension

#104915 Organize ifdefs for disabling navigation, physics, and XR
  SConstruct
  main/main.cpp
  platform/android/java_godot_lib_jni.cpp
  scene/main/canvas_item.cpp
  scene/resources/packed_scene.cpp
  scene/resources/world_2d.cpp
  scene/resources/world_2d.h
  servers/register_server_types.cpp
  servers/rendering/renderer_compositor.cpp
  servers/rendering/renderer_rd/effects/vrs.cpp
Labels: enhancement, topic:core, topic:buildsystem

#104921 Remove unused `get_valid_parents_static` functions from `GDCLASS`.
  core/object/object.cpp
  core/object/object.h
Labels: enhancement, topic:core, topic:codestyle

#104936 Fix invalid DAP responses when content has non-ASCII content
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
Labels: bug, topic:gdscript, topic:editor, crash, cherrypick:4.4

#104938 Fix Edit option for sub-resources
  editor/editor_inspector.cpp
Labels: bug, topic:editor

#104957 Fix `BitMapEditor` crash when bitmap is empty
  editor/plugins/bit_map_editor_plugin.cpp
Labels: bug, topic:editor, crash

#104958 Make `swap_cancel_ok` setting 3-state instead of boolean.
  doc/classes/EditorSettings.xml
  doc/classes/ProjectSettings.xml
  editor/project_manager.cpp
  editor/project_manager/quick_settings_dialog.cpp
  scene/register_scene_types.cpp
Labels: enhancement, topic:gui

#104959 Linux: Detect KDE/LXQt and swap OK/Cancel buttons to Windows style.
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Labels: enhancement, platform:linuxbsd, topic:gui

#104960 CryptoCore: Use `size_t` for buffer sizes to fix encoding/sums of 2.0+ GiB files
  core/crypto/crypto_core.cpp
  core/crypto/crypto_core.h
Labels: bug, topic:core, crash, cherrypick:4.3, cherrypick:4.4

#104963 Display PortableCompressedTexture's format in inspector preview
  editor/plugins/texture_editor_plugin.cpp
Labels: enhancement, topic:editor, usability

#104167 Add `is_inside_tree()` check to SpringBoneSimulator3D
  scene/3d/spring_bone_simulator_3d.cpp
Labels: bug, topic:animation, topic:3d, cherrypick:4.4

#99631 Mention `DUPLICATE_SIGNALS` only affects `CONNECT_PERSIST` signals
  doc/classes/Node.xml
Labels: enhancement, documentation

#104664 Add missing `initializer_list` constructor to TypedDictionary
  core/object/ref_counted.h
  core/variant/typed_dictionary.h
  tests/core/variant/test_dictionary.h
Labels: enhancement, topic:core

#104776 Fix TextEdit VScroll max tolerance
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.h
Labels: bug, topic:gui, cherrypick:4.3, cherrypick:4.4

#104850 Core: Integrate warning suppression macro helpers
  core/io/packet_peer_udp.cpp
  core/math/geometry_2d.h
  core/object/method_bind.h
  core/object/script_language_extension.h
  core/os/safe_binary_mutex.h
  core/os/thread.h
  core/templates/cowdata.h
  core/templates/lru.h
  core/typedefs.h
  core/variant/binder_common.h
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/metal/pixel_formats.h
  drivers/metal/pixel_formats.mm
  drivers/unix/net_socket_unix.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  platform/ios/display_server_ios.mm
  platform/ios/godot_view.mm
  platform/macos/gl_manager_macos_legacy.h
  platform/macos/gl_manager_macos_legacy.mm
  platform/macos/godot_content_view.h
  platform/windows/display_server_windows.cpp
  platform/windows/drop_target_windows.h
  platform/windows/os_windows.cpp
  servers/display_server.cpp
  servers/rendering/renderer_rd/effects/metal_fx.mm
Labels: enhancement, topic:core, usability, topic:codestyle

#104962 PortableCompressedTexture: Fix create compressed format from image
  scene/resources/portable_compressed_texture.cpp
Labels: bug, topic:core, cherrypick:4.4

#104970 Android Editor: Auto create `nomedia` file to hide project files in media apps
  editor/editor_file_system.cpp
  editor/project_manager/project_dialog.cpp
Labels: enhancement, platform:android, topic:editor, topic:porting

#104974 Cleanup QuickOpenDialog history and fix UID errors
  editor/gui/editor_quick_open_dialog.cpp
Labels: bug, topic:editor

#104976 Remove unused `get_inheritance_list_static` from `GDCLASS`.
  core/object/object.h
  tests/core/object/test_object.h
Labels: enhancement, topic:core, topic:codestyle

#104978 Fix compiling with `disable_xr=yes` when 3d enabled
  main/main.cpp
Labels: bug, topic:buildsystem

#103639 Add `delta` argument to `_process_modification()` as `_process_modification_with_delta(delta)` and expose `advance()` at `Skeleton3D`
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonModifier3D.xml
  scene/3d/look_at_modifier_3d.cpp
  scene/3d/look_at_modifier_3d.h
  scene/3d/physics/physical_bone_simulator_3d.cpp
  scene/3d/physics/physical_bone_simulator_3d.h
  scene/3d/retarget_modifier_3d.cpp
  scene/3d/retarget_modifier_3d.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_ik_3d.cpp
  scene/3d/skeleton_ik_3d.h
  scene/3d/skeleton_modifier_3d.cpp
  scene/3d/skeleton_modifier_3d.h
  scene/3d/spring_bone_simulator_3d.cpp
  scene/3d/spring_bone_simulator_3d.h
  scene/3d/xr/xr_body_modifier_3d.cpp
  scene/3d/xr/xr_body_modifier_3d.h
  scene/3d/xr/xr_hand_modifier_3d.cpp
  scene/3d/xr/xr_hand_modifier_3d.h
Labels: enhancement, topic:animation, topic:3d

#104982 SCons: Integrate `WARNLEVEL` & `OPTIMIZELEVEL`
  SConstruct
  methods.py
Labels: enhancement, topic:buildsystem

#105020 Optimize `ClassDB::get_inheriters_from_class`
  core/core_bind.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  editor/editor_audio_buses.cpp
  editor/editor_resource_picker.cpp
  editor/export/project_export.cpp
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_state_machine_editor.cpp
  modules/gdscript/gdscript_editor.cpp
Labels: enhancement, topic:core, performance

#105025 CI: Remove "Free disk space on runner" job
  .github/workflows/linux_builds.yml
Labels: enhancement, topic:buildsystem

#105030 Move `GD_IS_CLASS_ENABLED` and respective include from `class_db.h` to `object.h`, as this is where it's needed.
  core/object/class_db.h
  core/object/object.h
Labels: enhancement, topic:core, topic:codestyle

#104854 [3.x] Physics Interpolation - Reduce unnecessary `VisualServer` updates
  scene/3d/visual_instance.cpp
Labels: enhancement, topic:rendering, topic:3d, performance

#105061 LSP: Don't advertise support for workspace symbols
  modules/gdscript/language_server/godot_lsp.h
Labels: bug, topic:gdscript, topic:editor, cherrypick:4.4

#105090 Combine `TileMapLayer` debug quadrant shapes to a surface
  scene/2d/tile_map_layer.cpp
Labels: bug, topic:rendering, topic:2d

#100287 Re-organize UI in the shader editor
  editor/plugins/shader/shader_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_shader_editor.cpp
  editor/plugins/text_shader_editor.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, topic:shaders

#101003 Core: Natively convert `enum`/`BitField` with `Variant`
  core/object/ref_counted.h
  core/variant/binder_common.h
  core/variant/method_ptrcall.h
  core/variant/type_info.h
  core/variant/typed_array.h
  core/variant/typed_dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_internal.h
Labels: bug, enhancement, topic:core, usability

#104432 Do not iterate `Dictionary` with `Dictionary::keys()`
  core/extension/extension_api_dump.cpp
  core/io/http_client.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/dependency_editor.cpp
  editor/editor_command_palette.cpp
  editor/editor_inspector.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_preset.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/localization_editor.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/gltf/editor/editor_import_blend_runner.cpp
  modules/gltf/gltf_template_convert.h
  modules/gltf/structures/gltf_skin.cpp
  modules/openxr/editor/openxr_select_runtime.cpp
  modules/openxr/extensions/openxr_extension_wrapper.cpp
  scene/gui/code_edit.cpp
Labels: enhancement, topic:core

#104614 Fallback `Control.layout_mode` to valid mode when child of non-container control
  scene/gui/control.cpp
Labels: bug, topic:gui

#104756 Use the correct root inspector when making elements moved in an array visible
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor, cherrypick:4.3, cherrypick:4.4

#104771 CI: Bump various pre-commit hooks
  .pre-commit-config.yaml
  core/extension/extension_api_dump.cpp
  core/io/file_access.cpp
  core/object/callable_method_pointer.h
  core/object/method_bind.h
  core/object/object.h
  core/templates/span.h
  modules/bcdec/image_decompress_bcdec.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_vm.cpp
  scene/resources/packed_scene.cpp
  servers/rendering/renderer_rd/shaders/effects/ssao.glsl
  servers/rendering/renderer_rd/shaders/effects/ssil.glsl
Labels: enhancement, topic:buildsystem, topic:codestyle

#104789 Fix `Cannot get class` error when searching `TextFile`/`OtherFile` in FileSystem dock
  editor/filesystem_dock.cpp
Labels: bug, topic:editor, cherrypick:4.3, cherrypick:4.4

#104897 Optimize Color.html()
  core/math/color.cpp
Labels: enhancement, topic:core, performance

#104984 Fix wrong translation method in FileDialog
  scene/gui/file_dialog.cpp
Labels: bug, topic:gui, topic:i18n

#104991 `VariantWriter::write`: fix writing negative infinity when `p_compat` is true
  core/variant/variant_parser.cpp
Labels: bug, topic:core, regression

#104993 Fix Editor 2D Ruler Text Top-Align
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: bug, topic:editor, usability, topic:2d, cherrypick:4.4

#105006 PortableCompressedTexture: Support ASTC format and creating directly from compressed image
  doc/classes/PortableCompressedTexture2D.xml
  scene/resources/portable_compressed_texture.cpp
  scene/resources/portable_compressed_texture.h
Labels: enhancement, topic:import

#105015 Android Editor: Add an editor setting to enable/disable `TouchActionsPanel`
  doc/classes/DisplayServer.xml
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/gui/touch_actions_panel.cpp
  editor/gui/touch_actions_panel.h
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:android, topic:editor

#105041 Fix EditorSpinSlider Scroll Edit when inside a ScrollContainer
  editor/gui/editor_spin_slider.cpp
Labels: bug, topic:input, topic:gui

#105053 Fix incorrect data format in RenderingDevice docs
  doc/classes/RenderingDevice.xml
Labels: bug, documentation

#105055 Fix typo in Window's `exclude_from_capture`
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
Labels: bug, documentation

#105059 LSP: Fix relative path handling for document links
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Labels: bug, topic:gdscript, topic:editor

#105069 Add UID to file tooltip
  editor/plugins/editor_resource_tooltip_plugins.cpp
Labels: enhancement, topic:editor, usability

#105082 [.Net] Avoid array allocation when signal have 0 arg
  modules/mono/glue/GodotSharp/GodotSharp/Core/SignalAwaiter.cs
Labels: enhancement, topic:dotnet

#99099 Set correct position of node with `Align Transform with View` in orthographic view
  editor/plugins/node_3d_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d, cherrypick:4.3, cherrypick:4.4

#102521 GDScript: Cancel suspended functions when reloading a script
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/tests/scripts/runtime/errors/reload_suspended_function.notest.gd
  modules/gdscript/tests/scripts/runtime/errors/reload_suspended_function.out
  modules/gdscript/tests/scripts/runtime/errors/reload_suspended_function_helper.notest.gd
Labels: bug, topic:gdscript, topic:plugin, regression

#104264 Optimize gdvirtual function layout
  core/object/make_virtuals.py
  core/object/object.cpp
  core/object/object.h
Labels: enhancement, topic:core, topic:buildsystem, topic:gdextension, performance

#104333 Fix *even* more miscellaneous oddities around the class reference
  doc/classes/AnimatedSprite2D.xml
  doc/classes/AnimatedSprite3D.xml
  doc/classes/AnimationMixer.xml
  doc/classes/AnimationPlayer.xml
  doc/classes/AudioEffectPhaser.xml
  doc/classes/BoneAttachment3D.xml
  doc/classes/CodeEdit.xml
  doc/classes/Control.xml
  doc/classes/DisplayServer.xml
  doc/classes/EditorExportPreset.xml
  doc/classes/Mesh.xml
  doc/classes/OS.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/RenderingDevice.xml
  doc/classes/RenderingServer.xml
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonModifier3D.xml
  doc/classes/TextServer.xml
  doc/classes/Viewport.xml
  doc/classes/Window.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gltf/doc_classes/GLTFAccessor.xml
  modules/gltf/doc_classes/GLTFLight.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/gltf/doc_classes/GLTFPhysicsBody.xml
  modules/gltf/doc_classes/GLTFPhysicsShape.xml
  modules/gltf/doc_classes/GLTFState.xml
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
Labels: bug, enhancement, documentation

#105103 Validate custom directory when running from editor
  editor/editor_node.cpp
  editor/gui/editor_run_bar.cpp
Labels: bug, topic:editor

#105106 Add custom sort to center tab bar in the editor and project manager.
  editor/editor_node.cpp
  editor/gui/editor_title_bar.cpp
  editor/gui/editor_title_bar.h
  editor/project_manager.cpp
Labels: bug, topic:editor, topic:gui

#105107 Add separate `minimize_disabled` and `maximize_disabled` window flags.
  core/config/project_settings.cpp
  doc/classes/AcceptDialog.xml
  doc/classes/DisplayServer.xml
  doc/classes/Popup.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
  editor/plugins/animation_state_machine_editor.cpp
  main/main.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/gui/dialogs.cpp
  scene/gui/popup.cpp
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
Labels: enhancement, platform:windows, platform:macos, topic:porting, topic:gui

#105114 Handle the case where `waitpid` returns `errno` `EINTR`.
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
Labels: bug, topic:core, topic:porting

#105129 Wayland: Fix error spam for closed windows
  platform/linuxbsd/wayland/wayland_thread.h
Labels: bug, platform:linuxbsd, topic:porting

#105144 Fix `FileAccessCompressed` claiming one byte more than it actually has.
  core/io/file_access_compressed.cpp
  tests/core/io/test_file_access.h
  tests/data/exactly_4096_bytes_fastlz.bin
Labels: bug, topic:core, regression

#105152 Add an actual name for Ogg Vorbis importer visible name.
  modules/vorbis/resource_importer_ogg_vorbis.cpp
Labels: enhancement, topic:audio

#105154 [Editor] Use separate `EditorFileDialog` for "Pack Project as ZIP"
  editor/editor_node.cpp
  editor/editor_node.h
Labels: bug, topic:editor, usability, cherrypick:4.4

#102930 Optimize `GDScriptLambdaCallable` by skipping the unnecessary `ObjectDB` lookup for `script`.
  modules/gdscript/gdscript_lambda_callable.cpp
Labels: enhancement, topic:gdscript, performance, cherrypick:4.4

#103731 Make embed floating window respect `Always On Top` configuration
  editor/plugins/game_view_plugin.cpp
Labels: enhancement, topic:gui, cherrypick:4.4

#105141 [3.x] Physics Interpolation - Fix non-interpolated resting xforms
  scene/3d/spatial.cpp
  scene/3d/spatial.h
  scene/main/scene_tree_fti.cpp
Labels: bug, topic:rendering, high priority, regression

#102059 [4.4] [Core] Fix performance issues in some `CowData` methods
  core/templates/cowdata.h
Labels: bug, topic:core, performance, cherrypick:4.3

#83027 Add negative index to `Array.remove_at` and `Array.insert`
  core/variant/array.cpp
  doc/classes/Array.xml
  tests/core/variant/test_array.h
Labels: enhancement, topic:core

#100333 Use `LocalVector` instead of `List` as arg of `Dictionary::get_key_list`
  core/io/json.cpp
  core/io/resource.cpp
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.h
  core/variant/variant_parser.cpp
  editor/editor_node.cpp
  editor/export/editor_export_platform.cpp
  editor/filesystem_dock.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  modules/gdscript/editor/gdscript_docgen.cpp
  servers/rendering_server.cpp
  tests/core/variant/test_dictionary.h
Labels: enhancement, topic:core, performance

#104853 Fix AudioStreamPlayer3D stereo panning issue
  doc/classes/AudioStreamPlayer3D.xml
  doc/classes/ProjectSettings.xml
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
Labels: bug, topic:audio, topic:3d, cherrypick:4.4

#104939 JSONRPC: Fix notification return behavior
  modules/jsonrpc/jsonrpc.cpp
  modules/jsonrpc/tests/test_jsonrpc.cpp
  modules/jsonrpc/tests/test_jsonrpc.h
Labels: bug, topic:network

#105124 Unify Scripts Panel naming for the script and shader editors
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_help.cpp
  editor/editor_help.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  editor/plugins/text_shader_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Labels: enhancement, topic:editor, topic:shaders

#105135 Remove dead code in AnimationStateMachine editor
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_state_machine_editor.h
Labels: enhancement, topic:animation

#105157 Add `THREADS_ENABLED` check before RID thread tests
  tests/core/templates/test_rid.h
Labels: bug, topic:editor, topic:tests

#105159 Move `THREADS_ENABLED` check after common imports
  core/os/semaphore.h
Labels: bug, topic:core, topic:editor

#105166 Change `get_class_static` to return `StringName`.
  core/io/marshalls.cpp
  core/object/object.h
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, topic:core, performance

#105170 Fix typos in `UDPServer::poll` documentation
  doc/classes/UDPServer.xml
Labels: enhancement, documentation, cherrypick:4.4

#105173 Fix initial project manager size and scales < 1.
  main/main.cpp
Labels: bug, topic:editor, regression, topic:gui

#105174 Remove error print in the Animation getter.
  scene/resources/animation.cpp
Labels: bug, topic:animation, cherrypick:4.4

#105178 Remove misleading and incorrect notes about endianness. Fix FileAccess and StreamPeer not doing what name suggests.
  core/io/file_access.cpp
  core/io/file_access.h
  core/io/resource_format_binary.cpp
  core/io/stream_peer.cpp
  core/io/stream_peer.h
  doc/classes/FileAccess.xml
  doc/classes/PackedByteArray.xml
Labels: bug, topic:core

#105180 Fix Thread crash when using invalid callback signature. And invalid message formatting.
  core/core_bind.cpp
Labels: bug, topic:core, cherrypick:4.4

#71542 [Export] Use project settings overrides with the target preset features instead of current platform features.
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/EditorExportPlatform.xml
  doc/classes/EditorExportPreset.xml
  doc/classes/ProjectSettings.xml
  editor/debugger/editor_file_server.cpp
  editor/export/editor_export_platform.compat.inc
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_preset.cpp
  editor/export/editor_export_preset.h
  misc/extension_api_validation/4.4-stable.expected
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/ios/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.cpp
  platform/macos/export/export_plugin.cpp
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/windows/export/export_plugin.cpp
Labels: bug, topic:export

#101745 Remove confusing `Control::is_top_level_control()`
  scene/gui/control.cpp
  scene/gui/control.h
Labels: enhancement, topic:gui

#104213 Fix `GridMap` shortcuts being triggered during freelook (mouse captured)
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Labels: bug, topic:editor, topic:3d, cherrypick:4.4

#104451 Fix excessively calling resized and floating point errors in Control.
  scene/gui/control.cpp
Labels: bug, topic:gui

#104632 Fix and simplify hit calculation in `PopupMenu::_get_mouse_over`.
  scene/gui/popup_menu.cpp
Labels: bug, topic:gui

#104780 GLTF: Fix importing files with invalid buffer view byte strides
  modules/gltf/gltf_document.cpp
Labels: bug, topic:import, topic:3d, cherrypick:4.2, cherrypick:4.3, cherrypick:4.4

#104804 Fix missing tooltips on "Advanced Import Settings for Scene" window
  editor/import/3d/scene_import_settings.cpp
Labels: bug, topic:editor, topic:3d

#104830 Add null check for SpriteFramesEditor's SpriteFrames
  editor/plugins/sprite_frames_editor_plugin.cpp
Labels: bug, topic:editor, topic:2d

#105005 PortableCompressedTexture: Fix BasisU crash and wrong format
  scene/resources/portable_compressed_texture.cpp
Labels: bug, topic:import, crash

#105075 Add missing word to canvas layer docs
  doc/classes/CanvasLayer.xml
Labels: bug, documentation

#105096 ufbx: Update to 0.18.0
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Labels: enhancement, topic:thirdparty

#105126 Fix CodeEdit typos
  doc/classes/CodeEdit.xml
Labels: bug, documentation

#105130 Add uri_file_decode to handle + in file names.
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  drivers/unix/dir_access_unix.cpp
  editor/import/3d/collada.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gltf/gltf_document.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  tests/core/string/test_string.h
Labels: bug, topic:core

#105193 Fix incorrect mipmap size calculation for uncompressed DDS textures
  modules/dds/texture_loader_dds.cpp
Labels: bug, topic:import, cherrypick:4.4

#105205 Use validated key in `Dictionary::has`
  core/variant/dictionary.cpp
Labels: bug, topic:core, cherrypick:4.4

#101011 Place a hard limit on the `max_contacts_reported` property in 2D/3D physics
  modules/godot_physics_2d/godot_body_2d.h
  modules/godot_physics_3d/godot_body_3d.h
  modules/jolt_physics/objects/jolt_body_3d.cpp
  scene/2d/physics/rigid_body_2d.cpp
  scene/3d/physics/rigid_body_3d.cpp
  servers/physics_server_2d.h
  servers/physics_server_3d.h
Labels: bug, topic:physics, topic:2d, topic:3d

#102292 Editor: Improve capsule gizmos
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gizmo_3d_helper.cpp
  editor/plugins/gizmos/gizmo_3d_helper.h
  modules/csg/editor/csg_gizmos.cpp
Labels: enhancement, topic:editor, usability, topic:3d

#103306 Disable texture array reflections on Intel GPUs on macOS due to driver bugs
  doc/classes/ProjectSettings.xml
  servers/rendering/renderer_rd/environment/sky.cpp
Labels: bug, platform:macos, topic:rendering, topic:thirdparty, topic:3d, cherrypick:4.4

#103805 Fix recovery mode lock file not being cleared on import/export
  main/main.cpp
Labels: bug, topic:editor, usability, cherrypick:4.4

#104357 Fix `Control.set_position` resizes offsets/anchors
  scene/gui/control.cpp
  scene/gui/control.h
  tests/scene/test_control.h
Labels: bug, topic:gui, cherrypick:4.4

#94143 Move and simplify Object's `connect` description slightly
  doc/classes/Object.xml
  doc/classes/Signal.xml
Labels: enhancement, documentation, cherrypick:4.4

#103802 Set `unsupported` to true on error in `FreeDesktopScreenSaver`
  platform/linuxbsd/freedesktop_screensaver.cpp
Labels: bug, platform:linuxbsd, topic:porting

#105007 [CodeEdit] Fix folding for comments mixed with code region tags.
  scene/gui/code_edit.cpp
  tests/scene/test_code_edit.h
Labels: bug, topic:gui, cherrypick:4.3, cherrypick:4.4

#105133 Fix misleading `Material::render_priority` description
  doc/classes/Material.xml
Labels: bug, documentation, cherrypick:4.3, cherrypick:4.4

#105226 Fix visual shader editor popups not using editor scale.
  editor/plugins/visual_shader_editor_plugin.cpp
Labels: bug, topic:editor

#97852 Remove PrefersNonDefaultGPU from linux desktop file
  misc/dist/linux/org.godotengine.Godot.desktop
Labels: bug, platform:linuxbsd, topic:buildsystem

#102786 Fix MenuButton style in editor top menu bar
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_library_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/parallax_background_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/skeleton_2d_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.cpp
  modules/csg/editor/csg_gizmos.cpp
Labels: bug, topic:editor, topic:gui

#102878 Fix Tree buttons jiggle on horizontal scrolling
  scene/gui/tree.cpp
Labels: bug, topic:gui

#103198 Fix `Tween.is_valid()` returning `true` after calling `kill()`
  scene/animation/tween.cpp
Labels: bug, topic:animation

#103791 Fix SceneTree Item text display bug in Right-to-Left
  scene/gui/tree.cpp
Labels: bug, topic:editor, topic:gui

#103798 Switch occlusion culling to be based on depth instead of Euclidean distance
  modules/raycast/raycast_occlusion_cull.cpp
  servers/rendering/renderer_scene_occlusion_cull.h
Labels: bug, topic:rendering, topic:3d

#105175 Detect more pipeline settings at load time to avoid pipeline stutters
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
Labels: bug, topic:rendering, cherrypick:4.4

#105162 Add `Engine Version Update Mode` button to Project Manager `Quick Settings`
  editor/engine_update_label.cpp
  editor/project_manager/quick_settings_dialog.cpp
  editor/project_manager/quick_settings_dialog.h
Labels: enhancement, topic:editor

#105225 Change `DisplayServerMacOS` from `GDCLASS` to `GDSOFTCLASS`. Add `GDSOFTCLASS` to other display servers.
  platform/ios/display_server_ios.h
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/web/display_server_web.h
  platform/windows/display_server_windows.h
  servers/display_server_headless.h
  tests/display_server_mock.h
Labels: enhancement, topic:porting

#87756 Allow all tool modes to select
  editor/plugins/node_3d_editor_plugin.cpp
Labels: enhancement, discussion, topic:editor, topic:input

#93466 [TextEdit / LineEdit] Add support for OEM Alt codes input.
  core/string/char_range.inc
  doc/classes/LineEdit.xml
  doc/classes/TextEdit.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Labels: enhancement, topic:input, topic:gui

#93636 GDScript: Add tests for calling with wrong arguments in Callable.callv() when passing a readonly (const) Array
  modules/gdscript/tests/scripts/runtime/features/callv_readonly_array.gd
  modules/gdscript/tests/scripts/runtime/features/callv_readonly_array.out
Labels: enhancement, topic:gdscript, topic:tests

#94883 Fix ProjectSettings name casing options and missing String methods
  core/object/script_language.cpp
  core/object/script_language.h
  core/string/char_utils.h
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/ScriptLanguage.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  editor/connections_dialog.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/project_manager/project_dialog.cpp
  editor/register_editor_types.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/runtime_interop.cpp
  scene/main/node.cpp
  scene/main/node.h
  tests/core/string/test_string.h
Labels: enhancement, topic:core, topic:editor

#96375 Autocompletion: Don't add parenthesis if `Callable` is expected
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/builtin_complete_braces.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/builtin_complete_braces.gd
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/builtin_incomplete_braces.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/builtin_incomplete_braces.gd
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_callable_arg_0.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_callable_arg_0.gd
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_callable_arg_1.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_callable_arg_1.gd
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_variant_arg_0.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/local_method_variant_arg_0.gd
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/native.cfg
  modules/gdscript/tests/scripts/completion/no_parenthesis_when_callable_is_expected/native.gd
Labels: bug, topic:editor, usability

#103024 TabBar: Add boolean toggle for middle-click to fire `tab_close_pressed` signal.
  doc/classes/TabBar.xml
  editor/gui/editor_scene_tabs.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
Labels: enhancement, topic:gui

#105145 Add bswap methods to the `PackedByteArray` bindings.
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
Labels: enhancement, topic:core

#105238 Fix issue where vsproj=yes vsproj_gen_only=no sometimes fails to build
  methods.py
Labels: bug, topic:buildsystem

#104772 Handle null values for object types, as seen in typed dictionaries
  editor/editor_properties_array_dict.cpp
Labels: bug, topic:editor, cherrypick:4.4

#105132 Reset `ProjectSettings` scroll when changing category
  editor/editor_sectioned_inspector.cpp
Labels: bug, topic:editor, cherrypick:4.4

#105197 Remove focus draw for editor inspector elements.
  editor/editor_inspector.cpp
Labels: bug, topic:editor, regression

#105210 Add GDSOFTCLASS to FileAccess and DirAccess derived classes
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.h
  core/io/file_access_memory.h
  core/io/file_access_pack.h
  core/io/file_access_zip.h
  drivers/unix/dir_access_unix.h
  drivers/unix/file_access_unix.h
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/dir_access_windows.h
  drivers/windows/file_access_windows.h
  drivers/windows/file_access_windows_pipe.h
  platform/android/dir_access_jandroid.h
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.h
  platform/macos/dir_access_macos.h
Labels: enhancement

#105216 Remove "dummy" renderer from the editor dropdown.
  editor/editor_node.cpp
  main/main.cpp
Labels: bug, topic:editor, regression

#105242 [Web] Add the equivalent of `-Werror` for `wasm-ld`
  platform/web/detect.py
Labels: bug, enhancement, platform:web, topic:buildsystem, topic:porting

#105252 Replace NavigationServer2D `Point` struct with `Vector2`
  modules/navigation_2d/2d/nav_map_builder_2d.cpp
  modules/navigation_2d/2d/nav_mesh_queries_2d.cpp
  modules/navigation_2d/nav_region_2d.cpp
  modules/navigation_2d/nav_utils_2d.h
Labels: enhancement, topic:navigation, topic:codestyle
